<div class="panel-group hr_label">
    <div class="panel ">
        <!-- For Loop Start From Here-->
        <div class="panel-body bg-panel" ng-repeat="hrEmpChildrenInfo in hrEmpChildrenInfoList">
            <form name="editFormChildren" role="form" ng-submit="save()" novalidate
                  show-validation>
                <div class="row panel-heading no_padding">
                    <div class="col-sm-7 no_padding">
                        <strong>{{hrEmpChildrenInfo.childrenName}} => {{hrEmpChildrenInfo.dateOfBirth |
                            date:'mediumDate'}}</strong>
                    </div>
                    <div class="col-sm-5 no_padding text-right">
                        <button
                            ng-hide="noEmployeeFound || hrEmpChildrenInfo.isLocked || hrEmpChildrenInfo.logStatus==6"
                            ng-if="!(hrEmpChildrenInfo.logStatus == 11 || hrEmpChildrenInfo.logStatus == 33 || hrEmpChildrenInfo.logStatus == 55)"
                            type="button" ng-click="changeProfileMode(hrEmpChildrenInfo)"
                            class="btn btn-primary btn-sm">{{hrEmpChildrenInfo.viewModeText}}
                        </button>
                        <span ng-show="hrEmpChildrenInfo.isLocked" class="alert alert-warning approve-alert"><span
                            translate="stepApp.hrmHome.recordLocked">Pending</span></span>
                        <span ng-if="(hrEmpChildrenInfo.logStatus == 22 || hrEmpChildrenInfo.logStatus == 44 || hrEmpChildrenInfo.logStatus == 66)">
                            <span class="alert alert-warning" translate="stepApp.hrmHome.requestRejected">Rejected</span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right" ng-if="(hrEmpChildrenInfo.logStatus == 22 || hrEmpChildrenInfo.logStatus == 44 || hrEmpChildrenInfo.logStatus == 66)">
                        <span class="alert-warning">
                            <span class="control-label" translate="stepApp.hrmHome.rejectionReason">Reason</span>: &nbsp; : &nbsp;{{hrEmpChildrenInfo.logComments}}
                        </span>
                    </div>
                    <div class="col-sm-12 text-right" ng-if="(hrEmpChildrenInfo.logStatus == 11 || hrEmpChildrenInfo.logStatus == 33 || hrEmpChildrenInfo.logStatus == 55)">
                        <span class="alert-warning" ng-if="hrEmpChildrenInfo.logStatus == 11">
                            <span class="control-label" translate="stepApp.hrmHome.messages.waitingForDeptHeadApproval">Waiting @ Department Head Approval</span>
                        </span>
                        <span class="alert-warning" ng-if="hrEmpChildrenInfo.logStatus == 33">
                            <span class="control-label" translate="stepApp.hrmHome.messages.waitingForInstHeadApproval">Waiting @ Institute Head Approval</span>
                        </span>
                        <span class="alert-warning" ng-if="hrEmpChildrenInfo.logStatus === 55">
                            <span class="control-label" translate="stepApp.hrmHome.messages.waitingForSystemAdminApproval">Waiting @ System Admin Approval</span>
                        </span>
                    </div>
                </div>
                <div class="row" ng-show="hrEmpChildrenInfo.viewMode">
                    <div class="col-md-12 table-responsive padding0">
                        <table class="table dtetables">
                            <tr>
                                <td><strong translate="stepApp.hrEmpChildrenInfo.childrenName"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmpChildrenInfo.childrenName}}</td>
                                <td><strong translate="stepApp.hrEmpChildrenInfo.childrenNameBn"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmpChildrenInfo.childrenNameBn}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrEmpChildrenInfo.dateOfBirth"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmpChildrenInfo.dateOfBirth | date:'mediumDate'}}</td>
                                <td><strong translate="stepApp.hrEmpChildrenInfo.gender"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmpChildrenInfo.gender}}</td>
                            </tr>
                            <tr>
                                <td><strong></strong></td>
                                <td></td>
                                <td><strong></strong></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row hrm-view" ng-show="!hrEmpChildrenInfo.viewMode">
                    <div class=" col-sm-6">
                        <div  class="input-margin">
                            <div class="form-group">
                            <label class="control-label" translate="stepApp.hrEmpChildrenInfo.childrenName"
                                   for="field_childrenName">ChildrenName</label>
                            <input type="text" class="form-control" name="childrenName" id="field_childrenName"
                                   ng-model="hrEmpChildrenInfo.childrenName" required
                            only-letters-and-dash-and-dot minlength="2" maxlength="50" ng-maxlength="50" ng-minlength="2"
                            />
                            <div ng-show="editFormChildren.childrenName.$invalid">
                                <p class="help-block"
                                   ng-show="editFormChildren.childrenName.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <small style="color:red;font-size: 10px"
                                       ng-show="editFormChildren.childrenName.$error.maxlength">
                                    This field can not be longer than 50 character
                                </small>
                                <small style="color:red;font-size: 10px"
                                       ng-show="editFormChildren.childrenName.$error.minlength">
                                    This field need to be at least 2 character
                                </small>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class=" col-sm-6">
                        <div class="form-group">
                        <label class="control-label" translate="stepApp.hrEmpChildrenInfo.childrenNameBn"
                               for="field_childrenNameBn">ChildrenNameBn</label>
                        <div  class="input-margin">
                            <input type="text" class="form-control" name="childrenNameBn" id="field_childrenNameBn"
                                   ng-model="hrEmpChildrenInfo.childrenNameBn"
                            only-bangla maxlength="50" minlength="5"/>
                            <div ng-show="editFormChildren.childrenNameBn.$invalid">
                                <p class="help-block"
                                   ng-show="editFormChildren.childrenNameBn.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <small style="color:red;font-size: 10px"
                                       ng-show="editFormChildren.childrenNameBn.$error.maxlength">
                                    This field can not be longer than 50 character
                                </small>
                                <small style="color:red;font-size: 10px"
                                       ng-show="editFormChildren.childrenNameBn.$error.minlength">
                                    This field need to be at least 2 character
                                </small>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="row hrm-view" ng-show="!hrEmpChildrenInfo.viewMode">
                    <div class=" col-sm-6">
                        <div class="form-group">
                        <div  class="input-margin">
                            <label class="control-label" translate="stepApp.hrEmpChildrenInfo.dateOfBirth"
                                   for="field_dateOfBirth">DateOfBirth</label>
                            <input datepicker-popup="{{calendar.dateFormat}}"
                                   is-open="calendar.opened['dateOfBirth'+$index]"
                                   datepicker-options="calendar.dateOptions" close-text="Close"
                                   ng-click="calendar.open($event, 'dateOfBirth'+$index)" class="form-control"
                                   name="dateOfBirth" id="field_dateOfBirth"
                                   ng-model="hrEmpChildrenInfo.dateOfBirth" required max-date="toDay"/>
                            <div ng-show="editFormChildren.dateOfBirth.$invalid">
                                <p class="help-block"
                                   ng-show="editFormChildren.dateOfBirth.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div ng-show="hrEmpChildrenInfo.viewMode">
                            <label class="control-label"
                                   translate="stepApp.hrEmpChildrenInfo.dateOfBirth">DateOfBirth</label>
                            <span class="form-control-static">&nbsp; : &nbsp;{{hrEmpChildrenInfo.dateOfBirth | date:'mediumDate'}}</span>
                        </div>
                        </div>
                    </div>
                    <div class=" col-sm-6">
                        <div class="form-group">
                        <div ng-show="!hrEmpChildrenInfo.viewMode" class="input-margin">
                            <label class="control-label" translate="stepApp.hrEmpChildrenInfo.gender"
                                   for="field_gender">Gender</label>
                            <select class="form-control" name="gender" ng-model="hrEmpChildrenInfo.gender"
                                    id="field_gender" required>
                                <option value="Male" translate="global.gender.Male">Male</option>
                                <option value="Female" translate="global.gender.Female">Female</option>
                                <option value="Other" translate="global.gender.Other">Other</option>
                            </select>
                            <div ng-show="editFormChildren.gender.$invalid">
                                <p class="help-block"
                                   ng-show="editFormChildren.gender.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row hrm-view">
                    <div class=" col-sm-6">
                        <div class="input-margin">
                        </div>
                    </div>
                    <div class=" col-sm-6 text-right">
                        <div class="input-margin">
                            <button ng-show="!hrEmpChildrenInfo.viewMode" type="button"
                                    ng-click="changeProfileMode(hrEmpChildrenInfo)" class="btn btn-default btn-sm"><span
                                class="glyphicon glyphicon-remove"></span>&nbsp;{{hrEmpChildrenInfo.viewModeText}}
                            </button>
                            <button ng-show="!hrEmpChildrenInfo.viewMode"
                                    ng-click="updateProfile(hrEmpChildrenInfo, $index)"
                                    type="button" ng-disabled="editFormChildren.$invalid || isSaving"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                                translate="entity.action.save">Save</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- End of Loop -->
        <div class="col-sm-12 text-right">
            <button type="submit" class="btn btn-primary" ng-show="!addMode" ng-click="addMore()"><i
                class="fa fa-plus-square"></i>
                <span translate="global.menu.account.addmore">Add More</span>
            </button>
        </div>
    </div>
</div>

