<div class="col-md-12 common-table padding-left5 padding-right0">
<h2><span translate="stepApp.hrEmpChildrenInfo.detail.title">HrEmpChildrenInfo</span> of {{hrEmpChildrenInfo.employeeInfo.fullName}} - {{hrEmpChildrenInfo.childrenName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpChildrenInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrEmpChildrenInfo.employeeInfo.id})">{{hrEmpChildrenInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpChildrenInfo.childrenName">ChildrenName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpChildrenInfo.childrenName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpChildrenInfo.childrenNameBn">ChildrenNameBn</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpChildrenInfo.childrenNameBn}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpChildrenInfo.dateOfBirth">DateOfBirth</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpChildrenInfo.dateOfBirth | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpChildrenInfo.gender">Gender</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpChildrenInfo.gender}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpChildrenInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpChildrenInfo.activeStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpChildrenInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpChildrenInfo.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpChildrenInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpChildrenInfo.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpChildrenInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpChildrenInfo.updateDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpChildrenInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpChildrenInfo.updateBy}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel">cancel</span>
    </button>
</div>
