<div>
    <div class="panel panel-default">
        <div class="panel-heading" >
            <h2 class="modal-title"><span translate="global.menu.entities.almDashboard"></span></h2>
        </div>
        <div class="row">
            <div class="col-md-12 margin-top-30">
                <div class="col-md-2">
                    <a ui-sref="almAttendanceConfiguration"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/attendance-info.png" alt=""></div>
                        <span translate="global.menu.entities.almAttendanceConfiguration">Attendance Configuration</span>
                    </div></a>
                </div>
                <div class="col-md-2">
                    <a ui-sref="almAttendanceInformation"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/polytechnic.png" alt=""></div>
                        <span translate="global.menu.entities.almAttendanceInformation">Attendance Information</span>
                    </div></a>
                </div>
                <div class="col-md-2">
                    <a ui-sref="almDutySide"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/listicon.png" alt=""></div>
                        <span translate="global.menu.entities.almDutySide">Duty Side Setup</span>
                    </div></a>
                </div>
                <div class="col-md-2">
                    <a ui-sref="almEmpLeaveInitialize"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/leaveinitialize.png" alt=""></div>
                        <span translate="global.menu.entities.almEmpLeaveInitialize">Leave Initialize</span>
                    </div></a>
                </div>
                <div class="col-md-2">
                    <a ui-sref="almHoliday"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/holidaysetup.png" alt=""></div>
                        <span translate="global.menu.entities.almHoliday">Holiday Setup</span>
                    </div></a>
                </div>
                <div class="col-md-2">
                    <a ui-sref="almLeaveType"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/attendance.png" alt=""></div>
                        <span translate="global.menu.entities.almLeaveType">Leave Type Setup</span>
                    </div></a>
                </div>

                <div class="col-md-2">
                    <a ui-sref="almLeaveRule"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/monthlyAdjustment.png" alt=""></div>
                        <span translate="global.menu.entities.almLeaveRule">Leave Rules Setup</span>
                    </div></a>
                </div>
                <div class="col-md-2">
                    <a ui-sref="almEmpLeaveTypeMap"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/adjustment.png" alt=""></div>
                        <span translate="global.menu.entities.almEmpLeaveAdjustment">Leave Adjustment</span>
                    </div></a>
                </div>

                <div class="col-md-2">
                    <a ui-sref="almShiftSetup"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/employee-membership.png" alt=""></div>
                        <span translate="global.menu.entities.almShiftSetup">Shift Setup</span>
                    </div></a>
                </div>
                <div class="col-md-2">
                    <a ui-sref="almWorkingUnit"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/holiday.png" alt=""></div>
                        <span translate="global.menu.entities.almWorkingUnit">Working Unit Setup</span>
                    </div></a>
                </div>


                <div class="col-md-2">
                    <a ui-sref="jpReport({module: 'alm'})"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/earning.png" alt=""></div>
                        <span translate="global.menu.report">Leave Adjustment</span>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .single-menu {
        padding: 7px 7px;
        background: #fff;
        margin: 7px 0px;
        font-size: 13px;
        transition: .4s;
        border-radius: 2px;
        font-weight: bold;
        color: #777;
        text-align: center;
        width: 115px;
        height: 115px;
    }
    .single-menu:hover{
        box-shadow: 0 3px 18px 0 rgba(0,0,0,0.2);
        background: #4D963B;
        color:#fff;
    }
    .single-menu img {
        height: 35px;
        margin-bottom: 15px;
    }
    .margin-top-30{
        margin-top: 30px;
    }
</style>
