<div class="row">
    <div class="col-md-3 bs-docs-sidebar padding-right0">
        <ng-include src="'scripts/app/entities/leaveAttendance/left-menu.html'"></ng-include>
    </div>
    <div class="">
        <div class="col-md-9 main-content lbl-dash" ui-view="leaveAttendanceView">

        </div>
    </div>

</div>
