<div class="padding-left0 padding-right0">
    <ul id="ulcolor3" class="nav su_serv_menu nav-list  bs-docs-sidenav no-print">
        <li ui-sref-active="active">
            <a ui-sref="alm.dashboardmanue" ui-sref-active="active">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                <span translate="global.menu.entities.almDashboardMenu">alm Dashboard Menu</span>
            </a>
        </li>
        <li ui-sref-active="active" has-any-authority="ROLE_ADMIN,ROLE_LEAVE_APPROVAL,ROLE_DG">
            <a  ui-sref="almEmpLeaveAppPending" ui-sref-active="active">
                <i class="fa fa-history" aria-hidden="true"></i>
                <span translate="global.menu.entities.almEmpPendingLeaveApplication">Pending Leave Application</span>
            </a>
        </li>
        <li ui-sref-active="active" >
            <a  ui-sref="almEmpLeaveCanAppPending" ui-sref-active="active">
                <i class="fa fa-history" aria-hidden="true"></i>
                <span translate="global.menu.entities.almEmpPendingLeaveCancellation">Pending Leave Cancellation Application</span>
            </a>
        </li>
        <li ui-sref-active="active" >
            <a   ui-sref="almEmpOnDutyLeaveAppPending" ui-sref-active="active">
                <i class="fa fa-history" aria-hidden="true"></i>
                <span translate="global.menu.entities.almEmpPendingLeavePending">On Duty Application Pending</span>
            </a>
        </li>
        <li ui-sref-active="active" >
            <a   ui-sref="almAttendanceConfiguration.upload-time-sheet" ui-sref-active="active">
                <i class="fa fa-history" aria-hidden="true"></i>
                <span translate="global.menu.entities.almEmpPendingLeavePending">Upload timeSheet</span>
            </a>
        </li>
    </ul>
</div>
<!--<ul class="nav nav-list bs-docs-sidenav su_active_ul" id="left-menu">
    <li class="panel su_active_li">
        <a  class="su_active_a"  data-toggle="collapse" data-parent="#left-menu" data-target="#firstLink1">
            <span translate="stepApp.leftmenu.lmsdb"></span><i class="pull-right fa fa-caret-down"></i></a>
        <ul id="firstLink1" class="collapse search-accordion">
            <li>
                <a class=""  ui-sref="almEmpLeaveAppPending" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.almEmpPendingLeaveApplication">Pending Leave Application</span>

                </a>
            </li>
            <li>
                <a class=""  ui-sref="almEmpLeaveCanAppPending" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.almEmpPendingLeaveCancellation">Pending Leave Cancellation Application</span>

                </a>
            </li>
            <li>
                <a class=""  ui-sref="almEmpOnDutyLeaveAppPending" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.almEmpPendingLeavePending">On Duty Application Pending</span>

                </a>
            </li>
        </ul>
    </li>
</ul>
<ul class="nav nav-list bs-docs-sidenav su_active_ul">
    <li class="panel su_active_li">
        <a class=""  ui-sref="alm.dashboardmanue" ui-sref-active="active">
            <i class="fa fa-pencil-square-o"></i>
            <span translate="global.menu.entities.almDashboardMenu">alm Dashboard Menu</span>

        </a>
    </li>
</ul>-->

<!--<ul class="nav nav-list bs-docs-sidenav su_active_ul" id="left-menu">
    <li class="panel su_active_li">
        <a  class="su_active_a"  data-toggle="collapse" data-parent="#left-menu" data-target="#firstLink">
            <span translate="stepApp.leftmenu.lms"></span><i class="pull-right fa fa-caret-down"></i></a>
        <ul id="firstLink" class="collapse search-accordion">
            <li>
                <a class=""  ui-sref="almHoliday" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.almHoliday">Holiday Setup</span>

                </a>
            </li>
            <li>
                <a class=""  ui-sref="almShiftSetup" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.almShiftSetup">Shift Setup</span>

                </a>
            </li>
            <li>
                <a class=""  ui-sref="almWorkingUnit" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.almWorkingUnit">Working Unit Setup</span>

                </a>
            </li>
            <li>
                <a class=""  ui-sref="almAttendanceConfiguration" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.almAttendanceConfiguration">Attendance Configuration</span>

                </a>
            </li>
            <li>
            <a class=""  ui-sref="almAttendanceInformation" ui-sref-active="active">
            <i class="fa fa-pencil-square-o"></i>
            <span translate="global.menu.entities.almAttendanceInformation">Attendance Information</span>
            </a>
            </li>
            <li>
                <a class=""  ui-sref="almLeaveType" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.almLeaveType">Leave Type Setup</span>

                </a>
            </li>
            <li>
                <a class=""  ui-sref="almDutySide" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.almDutySide">Duty Side Setup</span>

                </a>
            </li>
            <li>
                <a class=""  ui-sref="almLeaveRule" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.almLeaveRule">Leave Rules Setup</span>

                </a>
            </li>
            <li>
                <a class=""  ui-sref="almEmpLeaveInitialize" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.almEmpLeaveInitialize">Leave Initialize</span>
                </a>
            </li>
            <li>
                <a class=""  ui-sref="almEmpLeaveTypeMap" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.almEmpLeaveAdjustment">Leave Adjustment</span>
                </a>
            </li>
            <li>
                <a class=""  ui-sref="jpReport({module: 'alm'})" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.report">Leave Adjustment</span>
                </a>
            </li>
        </ul>
    </li>
</ul>-->
