<ul class="nav nav-list bs-docs-sidenav su_active_ul" id="left-menu">
    <li class="panel su_active_li">
        <a  class="su_active_a"  data-toggle="collapse" data-parent="#left-menu" data-target="#firstLink"><span translate="stepApp.leftmenu.pgmsdb">Dashboard</span></a>
        <ul id="firstLink" class="collapse search-accordion">
            <li>
                <a ui-sref="pgmsRetiremnetPensionAppPending" ui-sref-active="active">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.entities.pgmsPendingRetirementApplication"></span>

                </a>
            </li>
            <li>
                <a ui-sref="pgmsFamilyAppPending" ui-sref-active="active">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.entities.pgmsPendingFamilyApplication"></span>

                </a>
            </li>
            <li>
                <a ui-sref="pgmsNotificationSentList" ui-sref-active="active">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.entities.pgmsNotificationSentList"></span>

                </a>
            </li>
        </ul>
    </li>
    <li class="panel su_active_li"> <a class="su_active_a" data-toggle="collapse" data-parent="#left-menu" data-target="#secondLink"><span translate="stepApp.leftmenu.pgmsDetails">Pension and Gratuity Management System</span></a>
        <ul id="secondLink" class="collapse search-accordion ">

            <li has-any-authority="ROLE_ADMIN">
                <a ui-sref="pgmsPenRules" ui-sref-active="active">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.entities.pgmsPensionRules"></span>
                </a>
            </li>
            <li has-any-authority="ROLE_ADMIN">
                <a ui-sref="pensionGratuityRateSetup" ui-sref-active="active">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.entities.pgmsPensionGratuity"></span>
                </a>
            </li>
            <li has-any-authority="ROLE_ADMIN">
                <a ui-sref="pgmsRetirmntAttachInfo" ui-sref-active="active">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.entities.pgmsAttachType"></span>
                </a>
            </li>
            <li has-any-authority="ROLE_ADMIN,ROLE_HRM_ADMIN">
                <a ui-sref="pgmsNotification" ui-sref-active="active">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.entities.pgmsPenNotification"></span>
                </a>
            </li>
            <!--<li has-any-authority="ROLE_ADMIN">
                <a ui-sref="pgmsGrObtainSpecEmp" ui-sref-active="active">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.entities.pgmsGrObtSpecEmp"></span>
                </a>
            </li>-->
            <li has-any-authority="ROLE_ADMIN">
                <a ui-sref="pgmsElpc" ui-sref-active="active">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.entities.pgmsElpcc"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="pgmsAppFamilyPension.new" ui-sref-active="active">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.entities.pgmsFamilyApp"> Application for Family Pension </span>
                </a>
            </li>

            <li has-any-authority="ROLE_ADMIN">
                <a href="" ui-sref="jpReport({module: 'pgms'})" has-any-authority="ROLE_ADMIN" ui-sref-active="active">
                    <i class="fa fa-pie-chart"></i><span translate="Reports">prlReport</span></a>
            </li>

        </ul>
    </li>
 </ul>
