<div class="col-md-3 bs-docs-sidebar no_padding">
    <ng-include src="'scripts/app/entities/pgms/left-menu.html'"></ng-include>
</div>

<div class="col-md-9 padding-left5 padding-right5" style="background: #fff">
    <div class="main-content" ui-view="pgmsHomeView"></div>
</div>
