<div class="col-md-12 common-list padding-left5 padding-right0">
    <h2 translate="stepApp.hrEmpPromotionInfo.home.title">HrEmpPromotionInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrEmpPromotionInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrEmpPromotionInfo.home.createLabel">Create a new HrEmpPromotionInfo</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <th><span translate="global.field.id">ID</span></th>
                <th><span translate="stepApp.hrEmpPromotionInfo.employeeInfo">employeeInfo</span></th>
                <th><span translate="stepApp.hrEmpPromotionInfo.instituteFrom">InstituteFrom</span></th>
                <th><span translate="stepApp.hrEmpPromotionInfo.instituteTo">InstituteTo</span></th>
                <th><span>Organization From</span></th>
                <th><span>Organization To</span></th>
                <th><span translate="stepApp.hrEmpPromotionInfo.departmentFrom">DepartmentFrom</span></th>
                <!--<th><span translate="stepApp.hrEmpPromotionInfo.departmentTo">DepartmentTo</span></th>
                <th><span translate="stepApp.hrEmpPromotionInfo.jobCategory">jobCategory</span></th>-->
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrEmpPromotionInfo in hrEmpPromotionInfos | filter:q | itemsPerPage: pageSize track by hrEmpPromotionInfo.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>

                <td><a ui-sref="hrEmpPromotionInfo.detail({id:hrEmpPromotionInfo.id})">{{hrEmpPromotionInfo.id}}</a>
                </td>
                <td>
                    <a ui-sref="hrEmployeeInfo.detail({id:hrEmpPromotionInfo.employeeInfo.id})">{{hrEmpPromotionInfo.employeeInfo.fullName}}</a>
                </td>
                <td>{{hrEmpPromotionInfo.instituteFromId.name}}</td>
                <td>{{hrEmpPromotionInfo.instituteToId.name}}</td>
                <td>{{hrEmpPromotionInfo.organizationFromId.typeName}}</td>
                <td>{{hrEmpPromotionInfo.organizationToId.typeName}}</td>
                <td>{{hrEmpPromotionInfo.departmentFromId.departmentInfo.departmentName}}</td>
                <!-- <td>{{hrEmpPromotionInfo.departmentTo}}</td>
                 <td>
                     <a ui-sref="miscTypeSetup.detail({id:hrEmpPromotionInfo.jobCategory.id})">{{hrEmpPromotionInfo.jobCategory.typeName}}</a>
                 </td>-->
                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="hrEmpPromotionInfo.detail({id:hrEmpPromotionInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrEmpPromotionInfo.edit({id:hrEmpPromotionInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrEmpPromotionInfo.delete({id:hrEmpPromotionInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
