<div class="col-md-12 common-table padding-left5 padding-right0">
    <h2><span translate="stepApp.hrEmpPromotionInfo.detail.title">HrEmpPromotionInfo</span> of {{hrEmpPromotionInfo.employeeInfo.fullName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrEmpPromotionInfo.employeeInfo.id})">{{hrEmpPromotionInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.jobCategory">jobCategory</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="miscTypeSetup.detail({id:hrEmpPromotionInfo.jobCategory.id})">{{hrEmpPromotionInfo.jobCategory.typeName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span >Employee ID</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPromotionInfo.employeeInfo.employeeId}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.promotionType">PromotionType</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPromotionInfo.promotionType.typeName}}</span>
                </td>
            </tr>
            <tr >
                <td ng-if="hrEmpPromotionInfo.instituteFromId.name">
                    <span translate="stepApp.hrEmpPromotionInfo.instituteFrom">InstituteFrom</span>
                </td>
                <td ng-if="hrEmpPromotionInfo.instituteFromId.name">
                    <span class="form-control-static">{{hrEmpPromotionInfo.instituteFromId.name}}</span>
                </td>
                <td ng-if="hrEmpPromotionInfo.instituteToId!=null">  <span translate="stepApp.hrEmpPromotionInfo.instituteTo">InstituteTo</span>
                </td>
                <td ng-if="hrEmpPromotionInfo.instituteToId!=null"> <span class="form-control-static">{{hrEmpPromotionInfo.instituteToId.name}}</span>
                </td>
            </tr>

            <tr >
                <td ng-if="hrEmpPromotionInfo.organizationFromId.typeName">
                    <span>Organization From</span>
                </td>
                <td ng-if="hrEmpPromotionInfo.organizationFromId.typeName">
                    <span class="form-control-static">{{hrEmpPromotionInfo.organizationFromId.typeName}}</span>
                </td>
                <td ng-if="hrEmpPromotionInfo.organizationToId.typeName">  <span>Organization To</span>
                </td>
                <td ng-if="hrEmpPromotionInfo.organizationToId.typeName"> <span class="form-control-static">{{hrEmpPromotionInfo.organizationToId.typeName}}</span>
                </td>
            </tr>
            <tr >

                <td><span>Organization Name</span></td>
                <td>{{hrEmpPromotionInfo.orgDetailsId.name}}</td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.departmentFrom">DepartmentFrom</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPromotionInfo.departmentFromId.departmentInfo.departmentName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.departmentTo">DepartmentTo</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPromotionInfo.departmentToId.departmentInfo.departmentName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.designationFrom">DesignationFrom</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPromotionInfo.designationFromId.designationInfo.designationName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.designationTo">DesignationTo</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPromotionInfo.designationToId.designationInfo.designationName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.payscaleFrom">PayscaleFrom</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPromotionInfo.payscaleFrom}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.payscaleTo">PayscaleTo</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPromotionInfo.payscaleTo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.joiningDate">JoiningDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPromotionInfo.joiningDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.officeOrderNo">OfficeOrderNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPromotionInfo.officeOrderNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.orderDate">OrderDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPromotionInfo.orderDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.goDate">GoDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPromotionInfo.goDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.goDoc">GoDoc</span>
                </td>
                <td>
                    <div>{{hrEmpPromotionInfo.goDocContentType}}  {{byteSize(hrEmpPromotionInfo.goDoc)}}
                        <a ng-if="hrEmpPromotionInfo.goDocContentType" class="btn btn-link" ng-click="previewImage(hrEmpPromotionInfo)">View</a>
                    </div>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.goDocName">GoDocName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPromotionInfo.goDocName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPromotionInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPromotionInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPromotionInfo.updateDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPromotionInfo.employeeType">EmployeeType</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPromotionInfo.employeeType}}</span>
                </td>
            </tr>
            <tr>

                <!--<td></td>
                <td></td>-->
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel"> cancel</span>
    </button>
</div>
