<div class="col-md-12 common-dialogue padding-left5 ">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="hrEmpPromotionInfo.id == null" class="modal-title" id="myHrEmpPromotionInfoLabel"
            translate="stepApp.hrEmpPromotionInfo.home.createOrEditLabel">Create or edit a HrEmpPromotionInfo</h4>
        <h4 ng-show="hrEmpPromotionInfo.id != null" class="modal-title" id="myHrEmpPromotionInfoLabel"
            translate="stepApp.hrEmpPromotionInfo.home.EditLabel">Create or edit a HrEmpPromotionInfo</h4>
        <div class="modal-body">
            <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" translate="global.home.orgOrInstFrom"
                                   for="field_toOrganizationType">fromOrganizationType</label>
                            <div class="input-margin">
                                <select class="form-control" id="field_fromOrganizationType" name="fromOrganizationType"
                                        ng-model="orgOrInst" required>
                                    <option selected disabled value="">-- Select Organization Type --</option>
                                    <option value="Organization">Organization</option>
                                    <option value="Institute">Institute</option>
                                </select>
                            </div>
                        </div>
                    </div>






                    <div ng-if="orgOrInst=='Organization'">
                        <div class="form-group col-sm-6">
                            <label class="control-label" for="field_workArea"
                                   translate="stepApp.hrEducationInfo.workarea">Work
                                Area</label>
                            <select class="form-control" id="field_workArea" name="workArea" ng-model="workArea"
                                    ng-change="loadModelByWorkArea(workArea)"
                                    ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id">
                                <option value="">Select Work Area</option>
                            </select>
                            <span class="help">No of Employee: {{hremployeeinfos.length}}</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label" translate="stepApp.hrEmpPromotionInfo.employeeInfo"
                                   for="field_employeeInfo">employeeInfo</label>
                            <div class="input-margin">
                                <input type="text" class="form-control autocomplete" autocomplete="off"
                                       ng-model="hrEmpPromotionInfo.employeeInfo"
                                       ng-blur="organizationByEmp(hrEmpPromotionInfo)"
                                       typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfos | filter:$viewValue'
                                       id="field_employeeInfo" required>
                            </div>
                        </div>
                    </div>

                    <div ng-show="(orgOrInst=='Institute')" class="col-md-6 col-lg-6">
                        <label class="control-label" translate="stepApp.hrEmpPromotionInfo.employeeInfo"
                               for="field_employeeInfo">employeeInfo</label>
                        <div class="input-margin">
                            <input type="text" class="form-control autocomplete" autocomplete="off"
                                   ng-model="hrEmpPromotionInfo.employeeInfo"
                                   ng-blur="instituteByEmp(hrEmpPromotionInfo)"
                                   typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfosOfInstitute | filter:$viewValue'
                                   id="field_employeeInfo" required>
                        </div>
                    </div>

                    <!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
                    <div class="col-md-12 table-responsive common-table" ng-if="hrEmpPromotionInfo.employeeInfo">
                        <table class="table">
                            <tr>
                                <td ng-if="orgOrInst !='Institute'">Organization From</td>
                                <td ng-if="orgOrInst !='Institute'">{{organizationFromName}}</td>
                                <td ng-if="orgOrInst =='Institute'"
                                    translate="stepApp.hrEmpPromotionInfo.instituteFrom"></td>
                                <td ng-if="orgOrInst =='Institute'">{{instituteFromName}}</td>
                                <td translate="stepApp.hrEmpPromotionInfo.departmentFrom"></td>
                                <td>{{departmentFromName}}</td>
                            </tr>
                            <tr>
                                <td translate="stepApp.hrEmpPromotionInfo.designationFrom"></td>
                                <td>{{designationFromName}}</td>
                                <td translate="stepApp.hrEmpPromotionInfo.payscaleFrom"></td>
                                <td>{{hrEmpPromotionInfo.payscaleFrom}}</td>
                            </tr>
                        </table>
                    </div>
                    <!--<div class="col-md-6">
                    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" ng-if="orgOrInst !='Institute'">
                        <div class="form-group ">
                            <label class="control-label"
                                   for="field_organizationFrom">Organization From</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="instituteFrom" id="field_organizationFrom"
                                       ng-model="organizationFromName" required readonly/>
                                <div ng-show="editForm.instituteFrom.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.instituteFrom.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                        <div class="col-md-12" ng-if="orgOrInst =='Institute'">
                            <div class="form-group ">
                                <label class="control-label" translate="stepApp.hrEmpPromotionInfo.instituteFrom"
                                       for="field_instituteFrom">InstituteFrom</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="instituteFrom" id="field_instituteFrom"
                                           ng-model="instituteFromName" required readonly/>
                                    <div ng-show="editForm.instituteFrom.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.instituteFrom.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group ">
                                <label class="control-label" translate="stepApp.hrEmpPromotionInfo.departmentFrom"
                                       for="field_departmentFrom">DepartmentFrom</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="departmentFrom" id="field_departmentFrom"
                                           ng-model="departmentFromName" required readonly/>
                                    <div ng-show="editForm.departmentFrom.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.departmentFrom.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group ">
                                <label class="control-label" translate="stepApp.hrEmpPromotionInfo.designationFrom"
                                       for="field_designationFrom">DesignationFrom</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="designationFrom"
                                           id="field_designationFrom"
                                           ng-model="designationFromName" required readonly/>
                                    <div ng-show="editForm.designationFrom.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.designationFrom.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group ">
                                <label class="control-label" translate="stepApp.hrEmpPromotionInfo.payscaleFrom"
                                       for="field_payscaleFrom">PayscaleFrom</label>
                                <div class="input-margin">
                                    <input type="number" class="form-control" name="payscaleFrom" id="field_payscaleFrom"
                                           ng-model="hrEmpPromotionInfo.payscaleFrom" required readonly/>
                                    <div ng-show="editForm.payscaleFrom.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.payscaleFrom.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.payscaleFrom.$error.number"
                                           translate="entity.validation.number">
                                            This field should be a number.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>-->
                    <!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
                    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpPromotionInfo.promotionType"
                                   for="field_promotionType">PromotionType</label>
                            <div class="input-margin">
                                <select class="form-control" id="field_promotionType" name="promotionType"
                                        ng-model="hrEmpPromotionInfo.promotionType"
                                        ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in promotionTypeList track by MiscTypeSetup.id">
                                    <option value="">Select Promotion Type</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpPromotionInfo.jobCategory"
                                   for="field_jobCategory">jobCategory</label>
                            <div class="input-margin">
                                <select class="form-control" id="field_jobCategory" name="jobCategory"
                                        ng-model="hrEmpPromotionInfo.jobCategory"
                                        ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in misctypesetups track by MiscTypeSetup.id">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" translate="global.home.orgOrInstTo"
                                   for="field_toOrganizationType">toOrganizationType</label>
                            <div class="input-margin">
                                <select class="form-control" id="field_toOrganizationType" name="toOrganizationType"
                                        ng-model="orgOrInstTo" required>
                                    <option selected disabled value="">-- Select Organization Type --</option>
                                    <option value="Organization">Organization</option>
                                    <option value="Institute">Institute</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" ng-if="orgOrInstTo !='Institute'">
                        <div class="form-group ">
                            <label class="control-label"
                                   for="field_organizationTo">Organization To</label>
                            <div class="input-margin">
                                <!--<input type="text" class="form-control" name="instituteTo" id="field_organizationTo"
                                       ng-model="hrEmpPromotionInfo.instituteTo" required/>-->
                                <select class="form-control" id="field_organizationTo" name="organizationTo"
                                        ng-model="hrEmpPromotionInfo.organizationToId"
                                        ng-change="loadModelByWorkAreaDetailIds(hrEmpPromotionInfo.organizationToId)"
                                        ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id">
                                    <option value=""></option>
                                </select>
                                <div ng-show="editForm.organizationTo.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.organizationTo.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6" ng-if="orgOrInstTo !='Institute'">
                        <div class="form-group ">
                            <label class="control-label"
                                   for="field_orgDetailsId">Organization Name</label>
                            <div class="input-margin">
                                <!--<input type="text" class="form-control" name="instituteTo" id="field_organizationTo"
                                       ng-model="hrEmpPromotionInfo.instituteTo" required/>-->
                                <select class="form-control" id="field_orgDetailsId" name="orgDetailsId"
                                        ng-change="changeTheDepartmentTo(hrEmpPromotionInfo.orgDetailsId.id)"
                                        ng-model="hrEmpPromotionInfo.orgDetailsId"
                                        ng-options="organizationAreaDetailId as organizationAreaDetailId.name for organizationAreaDetailId in organizationAreaDetailIds track by organizationAreaDetailId.id">
                                    <option value=""></option>
                                </select>
                                <div ng-show="editForm.orgDetailsId.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.orgDetailsId.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6" ng-if="orgOrInstTo =='Institute'">
                        <div class="form-group">
                            <label class="control-label"
                                   for="field_instCategory">Institute Level</label>
                            <div class="input-margin">
                                <select class="form-control" id="field_instCategory" name="instCategory"
                                        ng-model="hrEmpPromotionInfo.instCategory"
                                        ng-change="loadInstituteByCategory(hrEmpPromotionInfo.instCategory)"
                                        ng-options="instCategory as instCategory.name for instCategory in instCategories track by instCategory.id">
                                    <option value="">Select Institute Level</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" ng-if="orgOrInstTo =='Institute'">
                        <div class="form-group">
                            <label class="control-label" for="field_instLevel">Institute Category</label>
                            <div class="input-margin">
                                <select class="form-control" id="field_instLevel" name="instLevel"
                                        ng-model="hrEmpPromotionInfo.instLevel"
                                        ng-change="changeInstitute(hrEmpPromotionInfo.instLevel.id,hrEmpPromotionInfo.instCategory.id)"
                                        ng-options="instLevel as instLevel.name for instLevel in instLevels track by instLevel.id">
                                    <option value="">Select Institute Category</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" ng-if="orgOrInstTo =='Institute'">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpPromotionInfo.instituteTo"
                                   for="field_instituteTo">InstituteTo</label>
                            <div class="input-margin">
                                <!--<input type="text" class="form-control" name="instituteTo" id="field_instituteTo"
                                       ng-model="hrEmpPromotionInfo.instituteTo" required/>-->
                                <select class="form-control" id="field_instituteTo" name="instituteTo"
                                        ng-model="hrEmpPromotionInfo.instituteToId"
                                        ng-change="changeTheDepartmentTo(hrEmpPromotionInfo.instituteToId.id)"
                                        ng-options="institute as institute.name for institute in institutes | orderBy :'name' track by institute.id"
                                        required>
                                    <option value=""></option>
                                </select>
                                <div ng-show="editForm.instituteTo.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.instituteTo.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpPromotionInfo.departmentTo"
                                   for="field_departmentTo">DepartmentTo</label>
                            <div class="input-margin">
                                <!--<input type="text" class="form-control" name="departmentTo" id="field_departmentTo"
                                       ng-model="hrEmpPromotionInfo.departmentTo" required/>-->
                                <select class="form-control" id="field_departmentTo" name="departmentTo"
                                        ng-model="hrEmpPromotionInfo.departmentToId"
                                        ng-options="department as department.departmentInfo.departmentName for department in departments track by department.id">
                                    <option value=""></option>
                                </select>
                                <div ng-show="editForm.departmentTo.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.departmentTo.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpPromotionInfo.designationTo"
                                   for="field_designationTo">DesignationTo</label>
                            <div class="input-margin">
                                <!--<input type="text" class="form-control" name="designationTo" id="field_designationTo"
                                       ng-model="hrEmpPromotionInfo.designationTo" required/>-->
                                <select class="form-control" id="field_designationTo" name="designationTo"
                                        ng-model="hrEmpPromotionInfo.designationToId"
                                        ng-change="loadPayScaleByDesignationId(hrEmpPromotionInfo.designationToId)"
                                        ng-options="designation as designation.designationInfo.designationName for designation in designations track by designation.id">
                                    <option value=""></option>
                                </select>
                                <div ng-show="editForm.designationTo.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.designationTo.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpPromotionInfo.payscaleTo"
                                   for="field_payscaleTo">PayscaleTo</label>
                            <div class="input-margin">
                                <!--<input type="number" class="form-control" name="payscaleTo" id="field_payscaleTo"
                                       ng-model="hrEmpPromotionInfo.payscaleTo" required/>-->
                                <select class="form-control" id="field_payscaleTo" name="payscaleTo"
                                        ng-model="hrEmpPromotionInfo.prlPayscaleBasicInfo"
                                        data-ng-value="hrEmpPromotionInfo.payscaleTo"
                                        ng-options="payScaleToList as payScaleToList.basicAmount for payScaleToList in payScaleToLists track by payScaleToList.id">
                                    <option value="">Select PayScale Basic</option>
                                </select>
                                <div ng-show="editForm.payscaleTo.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.payscaleTo.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.payscaleTo.$error.number"
                                       translate="entity.validation.number">
                                        This field should be a number.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>


                    <!--INSERT-->


                    <!--INSERT-->




                    <!--INSERT NEW : EMPLOYEE TYPE-->

                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrEmpPromotionInfo.toEmployeeType"
                                   for="field_toEmployeeType">toEmployeeType</label>
                            <div class="input-margin">
                                <select class="form-control" name="toEmployeeType"
                                        ng-model="hrEmpPromotionInfo.employeeType" id="field_toEmployeeType" required>
                                    <option selected disabled value="">-- Select --</option>
                                    <option value="DTE_Employee" translate="stepApp.designationType.DTE_Employee">
                                        DTE_Employee
                                    </option>
                                    <option value="Teacher" translate="stepApp.designationType.Teacher">Teacher</option>
                                    <option value="Staff" translate="stepApp.designationType.Staff">Staff</option>
                                    <option value="Officer" translate="stepApp.designationType.Staff">Staff</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <!--INSERT NEW : EMPLOYEE TYPE-->


                    <div class="col-md-6 ">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpPromotionInfo.officeOrderNo"
                                   for="field_officeOrderNo">OfficeOrderNo</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="officeOrderNo" id="field_officeOrderNo"
                                       ng-model="hrEmpPromotionInfo.officeOrderNo"/>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpPromotionInfo.orderDate"
                                   for="field_orderDate">OrderDate</label>
                            <div class="input-margin">
                                <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.orderDate"
                                       datepicker-options="calendar.dateOptions" close-text="Close"
                                       ng-click="calendar.open($event, 'orderDate')" class="form-control"
                                       name="orderDate"
                                       id="field_orderDate"
                                       ng-model="hrEmpPromotionInfo.orderDate"/>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpPromotionInfo.joiningDate"
                                   for="field_joiningDate">JoiningDate</label>
                            <div class="input-margin">
                                <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.joiningDate"
                                       datepicker-options="calendar.dateOptions" close-text="Close"
                                       ng-click="calendar.open($event, 'joiningDate')" class="form-control"
                                       name="joiningDate" id="field_joiningDate"
                                       ng-model="hrEmpPromotionInfo.joiningDate" required/>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpPromotionInfo.goDate"
                                   for="field_goDate">GoDate</label>
                            <div class="input-margin">
                                <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.goDate"
                                       datepicker-options="calendar.dateOptions" close-text="Close"
                                       ng-click="calendar.open($event, 'goDate')" class="form-control" name="goDate"
                                       id="field_goDate"
                                       ng-model="hrEmpPromotionInfo.goDate"/>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div ngf-drop ngf-change="setGoDoc($file, hrEmpPromotionInfo)">
                            <label class="control-label" translate="stepApp.hrEmpPromotionInfo.goDoc" for="field_goDoc">GoDoc</label>
                            <div class="input-margin">
                                <div class="help-block clearfix">
                                    <span class="pull-left">{{hrEmpPromotionInfo.goDocContentType}} {{byteSize(hrEmpPromotionInfo.goDoc)}}</span>
                                    <button
                                        ng-click="hrEmpPromotionInfo.goDoc=null;hrEmpPromotionInfo.goDocContentType=null;"
                                        ng-if="hrEmpPromotionInfo.goDoc"
                                        class="btn btn-default btn-xs pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                                <button type="file" ngf-select class="btn btn-default btn-block"
                                        ngf-change="setGoDoc($file, hrEmpPromotionInfo)"
                                        translate="entity.action.addblob">
                                    Add blob
                                </button>
                                <input type="hidden" class="form-control" name="goDoc" id="field_goDoc"
                                       ng-model="hrEmpPromotionInfo.goDoc"/>
                                <input type="hidden" class="form-control" name="goDocContentType"
                                       id="field_goDocContentType"
                                       ng-model="hrEmpPromotionInfo.goDocContentType"/>
                                <a ng-if="hrEmpPromotionInfo.goDocContentType" class="btn btn-link"
                                   ng-click="previewImage(hrEmpPromotionInfo)">View</a>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                        <div class="form-group ">
                            <label class="control-label"
                                   translate="stepApp.hrEmpPromotionInfo.activeStatus">ActiveStatus</label>
                            <div class="input-margin">
                    <span>
                        <input type="radio" data-ng-model="hrEmpPromotionInfo.activeStatus" name="activeStatus"
                               data-ng-value="true">&nbsp;<span translate="stepApp.hrEmpPromotionInfo.active"></span>&nbsp;|&nbsp;
                        <input type="radio" data-ng-model="hrEmpPromotionInfo.activeStatus" name="activeStatus"
                               data-ng-value="false">&nbsp;<span translate="stepApp.hrEmpPromotionInfo.inactive"></span>
                    </span>
                                <div ng-show="editForm.activeStatus.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.activeStatus.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        onclick="window.history.back()">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp;<span
                    translate="entity.action.cancel">Back</span>
                </button>
                <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;
                    <span ng-show="hrEmpPromotionInfo.id == null" translate="entity.action.save">Save</span>
                    <span ng-show="hrEmpPromotionInfo.id != null" translate="entity.action.update">Save</span>
                </button>
            </div>
        </div>
    </form>
</div>
