<div class="col-sm-12 common-list">
    <h2 translate="stepApp.almAttendanceConfiguration.home.title">AlmAttendanceConfigurations</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary  " ui-sref="almAttendanceConfiguration.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.almAttendanceConfiguration.home.createLabel">Create a new AlmAttendanceConfiguration</span>
            </button>
        </div>
    </div>

    <div class="modal animated bounceInUp" id="deleteAlmAttendanceConfigurationConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(almAttendanceConfiguration.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.almAttendanceConfiguration.delete.question" translate-values="{id: '{{almAttendanceConfiguration.id}}'}">Are you sure you want to delete this AlmAttendanceConfiguration?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 no_padding table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <th translate="stepApp.almAttendanceConfiguration.almShiftSetup">almShiftSetup</th>
                <th translate="stepApp.almAttendanceConfiguration.employeeInfo">employeeInfo</th>

                <th translate="stepApp.almAttendanceConfiguration.effectedDateFrom">EffectedDateFrom</th>
                <th translate="stepApp.almAttendanceConfiguration.effectedDateTo">EffectedDateTo</th>
                <th translate="stepApp.almAttendanceConfiguration.isUntilFurtherNotice">IsUntilFurtherNotice</th>
                <th translate="stepApp.almAttendanceConfiguration.activeStatus">ActiveStatus</th>

                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <!--<tr dir-paginate="almAttendanceConfiguration in almAttendanceConfigurations  | filter:q | itemsPerPage: pageSize">-->
            <tr dir-paginate="almAttendanceConfiguration in almAttendanceConfigurations | filter:q | itemsPerPage: pageSize"
                current-page="currentPage">
                <!--<td><a ui-sref="almAttendanceConfiguration.detail({id:almAttendanceConfiguration.id})">{{almAttendanceConfiguration.id}}</a></td>-->

                <!--<td>{{almAttendanceConfiguration.employeeType}}</td>-->
                <td>{{pageSize*(currentPage-1)+$index+1}}</td>
                <td>
                    <a ui-sref="AlmShiftSetup.detail({id:almAttendanceConfiguration[7]})">{{almAttendanceConfiguration[0]}}</a>
                </td>
                <td>
                    <a ui-sref="HrEmployeeInfo.detail({id:almAttendanceConfiguration[8]})">{{almAttendanceConfiguration[1]}}</a>
                </td>
                <td>{{almAttendanceConfiguration[2] | date:'mediumDate'}}</td>
                <td>{{almAttendanceConfiguration[3] | date:'mediumDate'}}</td>
                <td>{{almAttendanceConfiguration[4]? 'true': 'false'}}</td>
                <td>{{almAttendanceConfiguration[5]? 'Active' : 'Inactive'}}</td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="almAttendanceConfiguration.detail({id:almAttendanceConfiguration[6]})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="almAttendanceConfiguration.edit({id:almAttendanceConfiguration[6]})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(almAttendanceConfiguration[6])"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
