
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="col-sm-8" ng-hide="applicantAttachment[attachmentCount].noAttachment">
        <div class="form-group" ngf-drop ngf-change="setFile($file, attachment)">
            <div class="col-md-8">
                <label for="" translate="entity.action.addblob"></label>

                <input type="file" ngf-select class=" form-control"
                       ngf-change="setFile($file)"
                       translate="entity.action.addblob">
                </input>
            </div>
            <!--<div class="help-block clearfix">-->
                <!--<span class="pull-left">{{applicantAttachment[attachmentCount].fileContentType}} {{byteSize(applicantAttachment[attachmentCount].file)}}</span>-->
                <!--<button-->
                    <!--ng-click="applicantAttachment[attachmentCount].file=null;applicantAttachment[attachmentCount].fileContentType=null;"-->
                    <!--ng-if="applicantAttachment[attachmentCount].file"-->
                    <!--class="btn btn-default btn-xs pull-right">-->
                    <!--<span class="glyphicon glyphicon-remove"></span>-->
                <!--</button>-->
            <!--</div>-->
            <input type="hidden" class="form-control" name="file" id="field_file"
                   ng-model="applicantAttachment[attachmentCount].file"
            />
            <input type="hidden" class="form-control" name="fileContentType"
                   id="field_fileContentType"
                   ng-model="applicantAttachment[attachmentCount].fileContentType"/>
        </div>
        <div class="modal-footer">

            <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
            </button>
        </div>
    </div>

</form>
