<div class="common-table padding-right0 padding-left5">
    <h2><span translate="stepApp.hrWingSetup.detail.title">HrWingSetup</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrWingSetup.wingName">WingName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrWingSetup.wingName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrWingSetup.wingDesc">WingDesc</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrWingSetup.wingDesc}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrWingSetup.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrWingSetup.activeStatus}}</span>
                </td>
                <!--<td>
                    <span translate="stepApp.hrWingSetup.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrWingSetup.createDate | date:'mediumDate'}}</span>
                </td>-->
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.hrWingSetup.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrWingSetup.createBy}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrWingSetup.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrWingSetup.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrWingSetup.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrWingSetup.updateBy}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>-->

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel">cancel</span>
    </button>
</div>
