<div class="common-dialogue padding-left5 padding-right0">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-if="hrWingSetup.id == null" class="modal-title" id="myHrWingSetupLabel"
            translate="stepApp.hrWingSetup.home.createLabel">Create or edit a HrWingSetup</h4>
        <h4 ng-if="hrWingSetup.id != null" class="modal-title" id="myHrWingSetupLabel2"
            translate="stepApp.hrWingSetup.home.editLabel">Create or edit a HrWingSetup</h4>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.hrWingSetup.wingName" for="field_wingName">WingName</label>
                        <input type="text" class="form-control" name="wingName" id="field_wingName"
                               ng-model="hrWingSetup.wingName"
                               ng-remote-validate="api/hrWingSetupValidation/checkValidWingName/"
                               ng-remote-method="GET"
                               ng-remote-throttle="1000"
                               required placeholder="{{'stepApp.hrWingSetup.wingName' | translate}}"/>
                        <div ng-show="editForm.wingName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.wingName.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                        <span class="message validating" ng-show="editForm.wingName.$pending">validating...</span>
                        <div ng-show="editForm.wingName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.wingName.$error.ngRemoteValidate">
                                This Wing Name is already exist
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.hrWingSetup.wingDesc" for="field_wingDesc">WingDesc</label>
                        <textarea placeholder="{{'stepApp.hrWingSetup.wingDesc' | translate}}" class="form-control"
                                  name="wingDesc" id="field_wingDesc" ng-model="hrWingSetup.wingDesc"></textarea>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrWingSetup.activeStatus">ActiveStatus</label>
                    <span class="form-control">
                        <input type="radio" data-ng-model="hrWingSetup.activeStatus" name="activeStatus"
                               data-ng-value="true">&nbsp;Active&nbsp;|&nbsp;
                        <input type="radio" data-ng-model="hrWingSetup.activeStatus" name="activeStatus"
                               data-ng-value="false">&nbsp;Inactive
                    </span>
                        <div ng-show="editForm.activeStatus.$invalid">
                            <p class="help-block"
                               ng-show="editForm.activeStatus.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer text-right">
            <button type="button" class="btn btn-default" class="btn" ui-sref="hrWingSetup">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span ng-hide="hrWingSetup.id"
                                                                          translate="entity.action.save"></span>
                <span ng-show="hrWingSetup.id" translate="entity.action.update"></span>
            </button>
        </div>
    </form>
</div>
<div ng-show="editWhen" class="panel-body common-list">
    <div class="col-md-12 common-list">
        <div class="col-md-12 padding-tb">
            <div class="col-xs-4 no_padding">
                <input ng-model="q" id="search" class="form-control"
                       placeholder="{{'global.home.searchhere'  | translate}}">
            </div>
            <div class="col-xs-4">
                <input type="number" min="1" max="100" class="form-control"
                       placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
            </div>
            <div class="col-xs-4 no_padding text-right ">
                <button class="btn btn-primary" ui-sref="hrWingHeadSetup.newwh({wingid:parentWingId})">
                    <span class="glyphicon glyphicon-plus"></span> <span
                    translate="stepApp.hrWingHeadSetup.home.createLabel">Create a new HrWingSetup</span>
                    <!--Add new Wing Head-->
                </button>
            </div>
        </div>


        <div class="col-md-12 table-responsive no_padding">
            <table class="table table-striped" ng-if="parentWingId>0">
                <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.hrWingHeadSetup.wingInfo">wingInfo</th>
                    <th translate="stepApp.hrWingHeadSetup.wingHeadInfo">wingHeadInfo</th>
                    <th translate="stepApp.hrWingHeadSetup.joinDate">JoinDate</th>
                    <th translate="stepApp.hrWingHeadSetup.endDate">EndDate</th>
                    <th translate="stepApp.hrWingHeadSetup.activeHead">ActiveHead</th>
                    <th translate="stepApp.hrWingHeadSetup.activeStatus">ActiveStatus</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="hrWingHeadSetup in hrWingHeadSetups | filter:q | itemsPerPage: pageSize track by hrWingHeadSetup.id"
                    current-page="currentPage">
                    <td>{{hrWingHeadSetup.id}}</td>
                    <td>
                        <a ui-sref="HrWingSetup.detail({id:hrWingHeadSetup.wingInfo.id})">{{hrWingHeadSetup.wingInfo.wingName}}</a>
                    </td>
                    <td>
                        <a ui-sref="hrEmployeeInfo.detail({id:hrWingHeadSetup.wingHeadInfo.id})">{{hrWingHeadSetup.wingHeadInfo.fullName}}</a>
                    </td>
                    <td>{{hrWingHeadSetup.joinDate | date:'mediumDate'}}</td>
                    <td>{{hrWingHeadSetup.endDate | date:'mediumDate'}}</td>
                    <td>{{hrWingHeadSetup.activeHead}}</td>
                    <td>{{hrWingHeadSetup.activeStatus}}</td>
                    <td class="text-right">
                        <button type="submit"
                                ui-sref="hrWingHeadSetup.detail({id:hrWingHeadSetup.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                            translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="hrWingHeadSetup.edit({id:hrWingHeadSetup.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit" ng-hide="true"
                                ng-click="delete(hrWingHeadSetup.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

