<div class="form cmscurriculam">
    <div class="panel-heading">
        <h3 class="panel-title">{{cmsTrade.name}}</h3>
    </div>
    <div class="table-responsive panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.cmsTrade.code">Code</span>
                </td>
                <td>
                    <span class="form-control-static">{{cmsTrade.code}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.cmsTrade.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{cmsTrade.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.cmsTrade.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{cmsTrade.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.cmsTrade.status">Status</span>
                </td>
                <td>
                    <span style="color: #005f00"  ng-show="cmsTrade.status == true" class="form-control-static"><span translate="entity.action.activate">Active</span></span>
                    <span style="color: red" ng-show="cmsTrade.status == false" class="form-control-static"><span translate="entity.action.deactivate">Deactive</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.cmsTrade.cmsCurriculum">cmsCurriculum</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="cmsCurriculum.detail({id:cmsTrade.cmsCurriculum.id})">{{cmsTrade.cmsCurriculum.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel-footer">
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
    </div>
</div>
</div>
