<div class="row">
    <div class="col-md-3">
        <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
    </div>
    <div class="col-md-9 lbl-dash">
        <div class="col-md-12 common-table">
            <h2 translate="stepApp.deo.home.title">Deos</h2>
            <jh-alert></jh-alert>
            <div class="col-md-12 padding-tb no-print">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" ui-sref="deo.new">
                            <span class="glyphicon glyphicon-plus"></span> <span
                            translate="stepApp.deo.home.createLabel">Create a new Deo</span>
                        </button>
                    </div>
                    <!--<div class="col-md-8">
                        <form name="searchForm" class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                            </div>
                            <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Deo</span>
                            </button>
                        </form>
                    </div>-->
            </div>

            <div class="col-md-12 table-responsive no_padding">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th translate="global.field.id">ID</th>
                        <th translate="stepApp.deo.district">District</th>
                        <th translate="stepApp.deo.contactNo">ContactNo</th>
                        <th translate="stepApp.deo.name">Name</th>
                        <th translate="stepApp.deo.designation">Designation</th>
                        <th translate="stepApp.deo.orgName">OrgName</th>
                        <th translate="stepApp.deo.email">Email</th>
                        <th translate="stepApp.deo.activated">Activated</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="deoHist in deoHistLogs track by deoHist.district.id">
                        <td><a ui-sref="deo.detail({id:deoHist.deo.id})">{{$index}}</a></td>
                        <td>{{deoHist.district.name}}</td>
                        <td>{{deoHist.deo.contactNo}}</td>
                        <td>{{deoHist.deo.name}}</td>
                        <td>{{deoHist.deo.designation}}</td>
                        <td>{{deoHist.deo.orgName}}</td>
                        <td>{{deoHist.deo.email}}</td>
                        <td>{{deoHist.deo.activated?'Yes':'No'}}</td>
                        <td class="text-right no-print">
                            <button type="submit"
                                    ui-sref="deo.detail({id:deoHist.deo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                                translate="entity.action.view"> View</span>
                            </button>
                            <button type="submit"
                                    ui-sref="deo.edit({id:deoHist.deo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                                translate="entity.action.edit"> Edit</span>
                            </button>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav class="no-print">
                    <ul class="pagination">
                        <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                        <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                        <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                        <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                        <li class="active"><a>{{page + 1}}</a></li>
                        <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                        <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                        <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                        <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
