
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myhrDepartmentHeadInfoLabel" translate="stepApp.hrDepartmentHeadInfo.home.confirmLabel">Create a EmployeeLoanApproveAndForward</h4>
    </div>

    <!--<div class="modal-body">-->
        <!--<div class="form-group">-->
            <!--<label translate="stepApp.hrDepartmentHeadInfo.comments" for="field_comments">Comments</label>-->
            <!--<textarea name="comments" id="field_comments"-->
                    <!--ng-model="hrDepartmentHeadInfo.comments" class="form-control"></textarea>-->
            <!--<div ng-show="editForm.comments.$invalid">-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.comments.$error.required" translate="entity.validation.required">-->
                    <!--This field is required.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="modal-body">
        <p ng-show="hrDepartmentHeadInfo.activeHead">Are you sure you want to Inactive?</p>
        <p ng-hide="hrDepartmentHeadInfo.activeHead">Are you sure you want to Active?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.confirm">Confirm</span>
        </button>
    </div>
</form>
