<div>
    <h2 translate="stepApp.hrDepartmentHeadInfo.home.title">HrDepartmentHeadInfos</h2>
    <!--<jh-alert></jh-alert>-->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="hrDepartmentHeadInfo.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.hrDepartmentHeadInfo.home.createLabel">Create a new HrDepartmentHeadInfo</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a HrDepartmentHeadInfo</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteHrDepartmentHeadInfoConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(hrDepartmentHeadInfo.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.hrDepartmentHeadInfo.delete.question" translate-values="{id: '{{hrDepartmentHeadInfo.id}}'}">Are you sure you want to delete this HrDepartmentHeadInfo?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.serial">Serial</th>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.hrDepartmentHeadInfo.departmentInfo">departmentInfo</th>
                    <th translate="stepApp.hrDepartmentHeadInfo.headInfo">headInfo</th>
                    <th translate="stepApp.hrDepartmentHeadInfo.joinDate">JoinDate</th>
                    <th translate="stepApp.hrDepartmentHeadInfo.endDate">EndDate</th>
                    <th translate="stepApp.hrDepartmentHeadInfo.activeHead">ActiveHead</th>
                    <th translate="stepApp.hrDepartmentHeadInfo.activeStatus">ActiveStatus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="hrDepartmentHeadInfo in hrDepartmentHeadInfos track by hrDepartmentHeadInfo.id">
                    <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                    <td><a ui-sref="hrDepartmentHeadInfo.detail({id:hrDepartmentHeadInfo.id})">{{hrDepartmentHeadInfo.id}}</a></td>
                    <td>
                        <a ui-sref="hrDepartmentSetup.detail({id:hrDepartmentHeadInfo.departmentInfo.id})">{{hrDepartmentHeadInfo.departmentInfo.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="hrEmployeeInfo.detail({id:hrDepartmentHeadInfo.headInfo.id})">{{hrDepartmentHeadInfo.headInfo.fullName}}</a>
                    </td>
                    <td>{{hrDepartmentHeadInfo.joinDate | date:'mediumDate'}}</td>
                    <td>{{hrDepartmentHeadInfo.endDate | date:'mediumDate'}}</td>
                    <td>{{hrDepartmentHeadInfo.activeHead}}</td>
                    <td>{{hrDepartmentHeadInfo.activeStatus}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="hrDepartmentHeadInfo.detail({id:hrDepartmentHeadInfo.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="hrDepartmentHeadInfo.edit({id:hrDepartmentHeadInfo.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit" ng-hide="true"
                                ng-click="delete(hrDepartmentHeadInfo.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
