<div class="common-list ">
    <h2><span translate="stepApp.hrDepartmentHeadInfo.detail.title">HrDepartmentHeadInfo</span>
        {{hrDepartmentHeadInfo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentHeadInfo.departmentInfo">departmentInfo</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="HrDepartmentSetup.detail({id:hrDepartmentHeadInfo.departmentInfo.id})">{{hrDepartmentHeadInfo.departmentInfo.departmentInfo.departmentName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentHeadInfo.headInfo">headInfo</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="HrEmployeeInfo.detail({id:hrDepartmentHeadInfo.headInfo.id})">{{hrDepartmentHeadInfo.headInfo.fullName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentHeadInfo.joinDate">JoinDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentHeadInfo.joinDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentHeadInfo.endDate">EndDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentHeadInfo.endDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentHeadInfo.activeHead">ActiveHead</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentHeadInfo.activeHead?'Active':'InActive'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentHeadInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentHeadInfo.activeStatus?'Active':'InActive'}}</span>
                </td>
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.hrDepartmentHeadInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentHeadInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentHeadInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentHeadInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>-->
            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel">cancel</span>
    </button>
</div>
