<div class="col-sm-12 common-list padding-right0 padding-left5">
    <h2 translate="stepApp.hrGazetteSetup.home.title">HrGazetteSetups</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrGazetteSetup.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrGazetteSetup.home.createLabel">Create a new HrGazetteSetup</span>
            </button>
        </div>
    </div>
    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                <th><span translate="global.form.serial">serial</span></th>
                <!--<th jh-sort-by="id"><span translate="global.field.id">ID</span> <span
                    class="glyphicon glyphicon-sort"></span></th>-->
                <!-- <th jh-sort-by="gazetteCode"><span translate="stepApp.hrGazetteSetup.gazetteCode">GazetteCode</span>
                    <span class="glyphicon glyphicon-sort"></span></th> -->
                <th jh-sort-by="gazetteName"><span translate="stepApp.hrGazetteSetup.gazetteName">GazetteName</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="gazetteYear"><span translate="stepApp.hrGazetteSetup.gazetteYear">GazetteYear</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="gazetteDetail"><span
                    translate="stepApp.hrGazetteSetup.gazetteDetail">GazetteDetail</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="activeStatus"><span translate="stepApp.hrGazetteSetup.activeStatus">ActiveStatus</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrGazetteSetup in hrGazetteSetups | filter:q | itemsPerPage: pageSize track by hrGazetteSetup.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <!--<td><a ui-sref="hrGazetteSetup.detail({id:hrGazetteSetup.id})">{{hrGazetteSetup.id}}</a></td>-->
                <!-- <td>{{hrGazetteSetup.gazetteCode}}</td> -->
                <td>{{hrGazetteSetup.gazetteName}}</td>
                <td>{{hrGazetteSetup.gazetteYear}}</td>
                <td>{{hrGazetteSetup.gazetteDetail}}</td>
                <td>{{hrGazetteSetup.activeStatus ? 'Active' : 'Inactive'}}</td>
                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="hrGazetteSetup.detail({id:hrGazetteSetup.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="hrGazetteSetup.edit({id:hrGazetteSetup.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrGazetteSetup.delete({id:hrGazetteSetup.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>

