<div class="col-md-12 common-table padding-left5 padding-right0">
<h2><span translate="stepApp.hrGazetteSetup.detail.title">HrGazetteSetup</span> - {{hrGazetteSetup.gazetteName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <!--
            <tr>
                <td>
                    <span translate="stepApp.hrGazetteSetup.gazetteCode">GazetteCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrGazetteSetup.gazetteCode}}</span>
                </td>
            </tr> -->
            <tr>
                <td>
                    <span translate="stepApp.hrGazetteSetup.gazetteName">GazetteName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrGazetteSetup.gazetteName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrGazetteSetup.gazetteYear">GazetteYear</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrGazetteSetup.gazetteYear}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrGazetteSetup.gazetteDetail">GazetteDetail</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrGazetteSetup.gazetteDetail}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrGazetteSetup.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrGazetteSetup.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.hrGazetteSetup.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrGazetteSetup.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrGazetteSetup.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrGazetteSetup.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrGazetteSetup.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrGazetteSetup.updateDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrGazetteSetup.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrGazetteSetup.updateBy}}</span>
                </td>
            </tr>-->
            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel">cancel</span>
    </button>
</div>
