<div class="col-md-12 common-dialogue padding-right0 padding-left5">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="hrGazetteSetup.id == null" class="modal-title" id="myHrGazetteSetupLabel"
            translate="stepApp.hrGazetteSetup.home.createOrEditLabel">Create or edit a HrGazetteSetup</h4>
        <h4 ng-show="hrGazetteSetup.id != null" class="modal-title" id="myHrGazetteSetupLabel2"
            translate="stepApp.hrGazetteSetup.home.EditLabel">Create or edit a HrGazetteSetup</h4>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrGazetteSetup.gazetteName"
                               for="field_gazetteName">GazetteName</label>
                        <input type="text" class="form-control" name="gazetteName" id="field_gazetteName"
                               ng-model="hrGazetteSetup.gazetteName"
                               ng-remote-validate="api/hrGazetteSetups/checkGazetteName/"
                               ng-remote-method="GET"
                               ng-remote-throttle="1000"
                               maxlength="150" minlength="4"
                               required/>
                        <div ng-show="editForm.gazetteName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.gazetteName.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                            <small style="font-size: 10px;color:red;" ng-show="editForm.gazetteName.$error.minlength">
                                This field should be at least 4 character
                            </small>
                            <small style="font-size: 10px;color:red;" ng-show="editForm.gazetteName.$error.maxlength">
                                This field should not longer than 150 character
                            </small>
                        </div>
                        <span class="message validating" ng-show="editForm.gazetteName.$pending">validating...</span>
                        <div ng-show="editForm.gazetteName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.gazetteName.$error.ngRemoteValidate">
                                This Gazette Name is already exist
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrGazetteSetup.gazetteYear"
                               for="field_gazetteYear">GazetteYear</label>
                        <input type="text" class="form-control" name="gazetteYear" id="field_gazetteYear"
                               ng-model="hrGazetteSetup.gazetteYear" only-numbers minlength="4" maxlength="4" min="2050"
                            />
                        <div ng-show="editForm.gazetteYear.$invalid">
                            <p class="help-block"
                               ng-show="editForm.gazetteYear.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                            <small style="font-size: 10px;color:red;" ng-show="editForm.gazetteYear.$error.minlength">
                                This field should be at least 4 character
                            </small>
                            <small style="font-size: 10px;color:red;" ng-show="editForm.gazetteYear.$error.maxlength">
                                This field should not longer than 4 character
                            </small>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrGazetteSetup.gazetteDetail"
                               for="field_gazetteDetail">GazetteDetail</label>
                    <textarea class="form-control" name="gazetteDetail" id="field_gazetteDetail"
                              ng-model="hrGazetteSetup.gazetteDetail"
                    maxlength="200"></textarea>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label"
                               translate="stepApp.hrGazetteSetup.activeStatus">ActiveStatus</label>
                        <span class="form-control">
                            <input type="radio" data-ng-model="hrGazetteSetup.activeStatus" name="activeStatus"
                                   data-ng-value="true">&nbsp;Active&nbsp;|&nbsp;
                            <input type="radio" data-ng-model="hrGazetteSetup.activeStatus" name="activeStatus"
                                   data-ng-value="false">&nbsp;Inactive
                        </span>
                        <div ng-show="editForm.activeStatus.$invalid">
                            <p class="help-block"
                               ng-show="editForm.activeStatus.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    onclick="window.history.back()">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;<span
                translate="entity.action.cancel">cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="hrGazetteSetup.id == null" translate="entity.action.save">Save</span>
                <span ng-show="hrGazetteSetup.id != null" translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>
