<div class="col-md-12 common-list padding5">
    <h2 translate="stepApp.umracIdentitySetup.home.title"> FeePaymentCategorySetups </h2>
    <div class="col-md-12 padding-tb padding0">
        <div class="col-sm-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-sm-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-sm-4 no_padding text-right ">
            <button class="btn btn-primary su_searchbtn pull-right text-right" ui-sref="umracIdentitySetup.new">
                <i class="fa fa-plus"></i><span translate="stepApp.umracIdentitySetup.home.createLabel">Add New</span>
            </button>
        </div>
    </div>
    <div class="modal animated zoomIn" id="deleteUmracIdentitySetupConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(umracIdentitySetup.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete
                            operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.umracIdentitySetup.delete.question"
                           translate-values="{id: '{{umracIdentitySetup.id}}'}">Are you sure you want to
                            delete this UmracIdentitySetup?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive col-md-12 no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.serial">Serial</th>
                <!--<th translate="global.field.id">ID</th>-->
                <th translate="stepApp.umracIdentitySetup.empId">EmpId</th>
                <th translate="stepApp.umracIdentitySetup.userName">UserName</th>
                <!--<th translate="stepApp.umracIdentitySetup.uPw">UPw</th>
                <th translate="stepApp.umracIdentitySetup.confm_Pw">Confm_Pw</th>-->
                <th>First Name</th>
                <th>Last Name</th>
                <th translate="stepApp.umracIdentitySetup.status">Status</th>
                <!--<th translate="stepApp.umracIdentitySetup.createDate">CreateDate</th>-->
                <!--<th translate="stepApp.umracIdentitySetup.createBy">CreateBy</th>-->
                <!--<th translate="stepApp.umracIdentitySetup.updatedBy">UpdatedBy</th>-->
                <!--<th translate="stepApp.umracIdentitySetup.updatedTime">UpdatedTime</th>-->
                <th class="text-center" translate="entity.action.action"></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="umracIdentitySetup in umracIdentitySetups | filter:q | itemsPerPage: pageSize track by umracIdentitySetup.id"
                current-page="currentPage">

                <td>{{$index+1}}</td>
                <!--<td><a ui-sref="umracIdentitySetup.detail({id:umracIdentitySetup.id})">{{umracIdentitySetup.id}}</a>
                </td>-->
                <td>{{umracIdentitySetup.empId}}</td>
                <td>{{umracIdentitySetup.userName}}</td>
                <!--<td>{{umracIdentitySetup.uPw}}</td>
                <td>{{umracIdentitySetup.confm_Pw}}</td>-->
                <td>{{umracIdentitySetup.firstName}}</td>
                <td>{{umracIdentitySetup.lastName}}</td>
                <td ng-if="umracIdentitySetup.status">Active</td>
                <td ng-if="!umracIdentitySetup.status">InActive</td>
                <!--<td>{{umracIdentitySetup.createDate | date:'mediumDate'}}</td>-->
                <!--<td>{{umracIdentitySetup.createBy}}</td>-->
                <!--<td>{{umracIdentitySetup.updatedBy}}</td>-->
                <!--<td>{{umracIdentitySetup.updatedTime | date:'mediumDate'}}</td>-->
                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="umracIdentitySetup.detail({id:umracIdentitySetup.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                        translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="umracIdentitySetup.edit({id:umracIdentitySetup.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(umracIdentitySetup.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
