<div class="col-md-12 common-table padding5">
    <h2><span translate="stepApp.umracIdentitySetup.detail.title">UmracIdentitySetup</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.umracIdentitySetup.empId">EmpId</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracIdentitySetup.empId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracIdentitySetup.userName">UserName</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracIdentitySetup.userName}}</span>
                </td>
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.umracIdentitySetup.uPw">UPw</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracIdentitySetup.uPw}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracIdentitySetup.confm_Pw">Confm_Pw</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracIdentitySetup.confm_Pw}}</span>
                </td>
            </tr>-->
            <tr>
               <td>
                   <span>First Name</span>
               </td>
               <td>
                   <span class="form-control-static">&nbsp;: &nbsp;{{umracIdentitySetup.firstName}}</span>
               </td>
           </tr>
           <tr>
               <td>
                   <span>Last Name</span>
               </td>
               <td>
                   <span class="form-control-static">&nbsp;: &nbsp;{{umracIdentitySetup.lastName}}</span>
               </td>
           </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracIdentitySetup.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracIdentitySetup.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracIdentitySetup.createDate">CreateDate</span>
                </td>
                <td><span class="form-control-static">&nbsp;: &nbsp;{{umracIdentitySetup.createDate | date:'mediumDate'}}</span></td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracIdentitySetup.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracIdentitySetup.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracIdentitySetup.updatedBy">UpdatedBy</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracIdentitySetup.updatedBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracIdentitySetup.updatedTime">UpdatedTime</span>
                </td>
                <td>
                            <span
                                class="form-control-static">&nbsp;: &nbsp;{{umracIdentitySetup.updatedTime | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
        translate="entity.action.back"> Back</span>
    </button>

</div>

