<div class="col-md-12 common-dialogue padding5">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="umracIdentitySetup.id == null" id="myUmracIdentitySetupLabel"
            translate="stepApp.umracIdentitySetup.home.createOrEditLabel">Create or edit a UmracIdentitySetup</h4>
        <h4 ng-show="umracIdentitySetup.id != null" id="myUmracIdentitySetupLabel"
            translate="stepApp.umracIdentitySetup.home.EditLabel">Create or edit a UmracIdentitySetup</h4>
        <div class="panel-body">
            <!--<jh-alert-error></jh-alert-error>-->
            <!--<div class="form-group">-->
            <!--<label for="id" translate="global.field.id">ID</label>-->
            <!--<input type="text" class="form-control" id="id" name="id"-->
            <!--ng-model="umracIdentitySetup.id" readonly />-->
            <!--</div>-->
            <div class="">
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.umracIdentitySetup.empId" for="field_empId">EmpId</label>
                        <!--<input type="text" class="form-control" name="empId" id="field_empId"
                               ng-model="umracIdentitySetup.empId"
                               tooltip="{{'stepApp.umracIdentitySetup.empId' | translate}}"
                               placeholder="{{'stepApp.umracIdentitySetup.empId' | translate}}"
                        />-->
                        <span style="color: red">*</span>
                        <input type="text" class="form-control" name="empId" id="field_empId"
                               ng-model="umracIdentitySetup.empId"
                               ng-remote-validate="/api/umracIdentitySetups/employeeId/"
                               ng-remote-method="GET" maxlength="100"
                               required placeholder="{{'stepApp.umracIdentitySetup.empId' | translate}}"/>
                        <span class="message" ng-show="editForm.empId.$pending">validating...</span>
                        <div ng-show="editForm.empId.$invalid">
                            <p class="help-block"
                               ng-show="editForm.empId.$error.required && editForm.empId.$dirty"
                               translate="entity.validation.required">
                                Employee Id is required.
                            </p>
                        </div>
                        <div ng-show="editForm.empId.$invalid">
                            <p class="help-block"
                               ng-show="editForm.empId.$error.ngRemoteValidate">
                                Same Employee Id Already Exists
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.umracIdentitySetup.userName" for="field_userName">UserName</label>
                        <!--<input type="text" class="form-control" name="userName" id="field_userName"
                               ng-model="umracIdentitySetup.userName"
                               tooltip="{{'stepApp.umracIdentitySetup.userName' | translate}}"
                               placeholder="{{'stepApp.umracIdentitySetup.userName' | translate}}"
                               required/>
                        <div ng-show="editForm.userName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.userName.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>-->
                        <span style="color: red">*</span>
                        <input type="text" class="form-control" name="userName" id="field_userName"
                               ng-model="umracIdentitySetup.userName"
                               ng-remote-validate="/api/account/checkLogin/"
                               placeholder="{{'stepApp.umracIdentitySetup.userName' | translate}}"
                               ng-remote-method="GET"
                               required/>
                        <span class="message" ng-show="editForm.userName.$pending">validating...</span>
                        <div ng-show="editForm.userName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.userName.$error.required && editForm.userName.$dirty"
                               translate="entity.validation.required">
                                User Name is required.
                            </p>
                        </div>
                        <div ng-show="editForm.empId.$invalid">
                            <p class="help-block"
                               ng-show="editForm.empId.$error.ngRemoteValidate">
                                Same User Name Already Exists
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.umracIdentitySetup.firstName" for="field_firstName">firstName</label>
                        <span style="color: red">*</span>
                        <input type="text" class="form-control" name="firstName" id="field_firstName"
                               ng-model="umracIdentitySetup.firstName"
                               placeholder="{{'stepApp.umracIdentitySetup.firstName' | translate}}"
                               required/>
                        <span class="message" ng-show="editForm.firstName.$pending">validating...</span>
                        <div ng-show="editForm.firstName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.firstName.$error.required && editForm.firstName.$dirty"
                               translate="entity.validation.required">
                                First Name is required.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.umracIdentitySetup.lastName" for="field_lastName">lastName</label>
                        <span style="color: red">*</span>
                        <input type="text" class="form-control" name="lastName" id="field_lastName"
                               ng-model="umracIdentitySetup.lastName"
                               placeholder="{{'stepApp.umracIdentitySetup.lastName' | translate}}"
                               required/>
                        <span class="message" ng-show="editForm.lastName.$pending">validating...</span>
                        <div ng-show="editForm.lastName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.lastName.$error.required && editForm.lastName.$dirty"
                               translate="entity.validation.required">
                                Last Name is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.umracIdentitySetup.uPw" for="field_uPw">UPw</label>
                        <input type="password" class="form-control" name="uPw" id="field_uPw"
                               ng-model="umracIdentitySetup.uPw"
                               tooltip="{{'stepApp.umracIdentitySetup.uPw' | translate}}"
                               placeholder="{{'stepApp.umracIdentitySetup.uPw' | translate}}"
                               minlength=1 maxlength=50
                               ng-keyup="matchPass(umracIdentitySetup.uPw, umracIdentitySetup.confm_Pw)"
                               ng-change="checkDigit(umracIdentitySetup.uPw)"
                               required/>
                        <div ng-show="editForm.uPw.$invalid">
                            <p class="help-block"
                               ng-show="editForm.uPw.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                        <password-strength-bar password-to-check="umracIdentitySetup.uPw"></password-strength-bar>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.umracIdentitySetup.confm_Pw" for="field_confm_Pw">Confm_Pw</label>
                        <input type="password" class="form-control" name="confm_Pw" id="field_confm_Pw"
                               ng-model="umracIdentitySetup.confm_Pw"
                               tooltip="{{'stepApp.umracIdentitySetup.confm_Pw' | translate}}"
                               placeholder="{{'stepApp.umracIdentitySetup.confm_Pw' | translate}}" maxlength=50
                               ng-keyup="matchPass(umracIdentitySetup.uPw, umracIdentitySetup.confm_Pw)" required
                        />
                        <div ng-show="editForm.confm_Pw.$dirty && editForm.confm_Pw.$invalid">
                            <p class="help-block"
                               ng-show="editForm.confm_Pw.$error.required"
                               translate="global.messages.validate.confirmpassword.required">
                                Your confirmation password is required.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.confm_Pw.$error.minlength"
                               translate="global.messages.validate.confirmpassword.minlength">
                                Your confirmation password is required to be at least 5 characters.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.confm_Pw.$error.maxlength"
                               translate="global.messages.validate.confirmpassword.maxlength">
                                Your confirmation password cannot be longer than 50 characters.
                            </p>
                        </div>
                        <p ng-show="notMatched" style="font-size: 0.8em; color:red;">{{notMatcheds}}</p>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="col-md-6">
                    <div class="form-group">
                        <h6 class="control-label col-sm-12" translate="stepApp.umracIdentitySetup.status">Status</h6>
                        <div class="col-sm-12" ng-init="checked=true">
                            <input type="radio" name="status" value="true"
                                   ng-checked="umracIdentitySetup.status == true"
                                   tooltip="{{'stepApp.umracIdentitySetup.status' | translate}}"
                                   ng-model="umracIdentitySetup.status"><span
                            translate="entity.action.activate">Active</span>&nbsp;&nbsp;
                            <input type="radio" name="status" value="false"
                                   tooltip="{{'stepApp.umracIdentitySetup.status' | translate}}"
                                   ng-checked="umracIdentitySetup.status == false" ng-model="umracIdentitySetup.status"><span
                            translate="entity.action.deactivate">Deactive</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="global.form.email" for="field_email">Email</label>
                        <!--<input type="text" class="form-control" name="userName" id="field_userName"
                               ng-model="umracIdentitySetup.userName"
                               tooltip="{{'stepApp.umracIdentitySetup.userName' | translate}}"
                               placeholder="{{'stepApp.umracIdentitySetup.userName' | translate}}"
                               required/>
                        <div ng-show="editForm.userName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.userName.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>-->
                        <!--<input type="text" class="form-control" name="email" id="field_email"
                               ng-model="umracIdentitySetup.email"
                               ng-remote-validate="/api/umracIdentitySetups/userEmail/"
                               ng-remote-method="GET"
                               required/>-->
                        <span style="color: red">*</span>
                        <input type="text" class="form-control" name="email" id="field_email"
                               ng-model="umracIdentitySetup.email"
                               ng-remote-validate="/api/account/checkEmail/"
                               ng-remote-method="GET"
                               placeholder="example@mail.com"
                               required
                               lowercase
                               ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                        />
                        <span class="message" ng-show="editForm.email.$pending">validating...</span>
                        <div ng-show="editForm.email.$invalid">
                            <p class="help-block"
                               ng-show="editForm.email.$error.required && editForm.email.$dirty"
                               translate="entity.validation.required">
                                Email is required.
                            </p>
                        </div>
                        <div ng-show="editForm.email.$invalid">
                            <p class="help-block"
                               ng-show="editForm.email.$error.ngRemoteValidate">
                                Same Email Already Exists
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracIdentitySetup.status" for="field_status">Status</label><br>-->

            <!--<select name="status" ng-model="umracIdentitySetup.status" id="field_status">-->
            <!--<option value="">-&#45;&#45;Please select-&#45;&#45;</option>-->
            <!--<option value="true">Active</option>-->
            <!--<option value="false">InActive</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracIdentitySetup.status" for="field_status">Status</label>-->
            <!--<input type="checkbox" class="form-control" name="status" id="field_status"-->
            <!--ng-model="umracIdentitySetup.status"-->
            <!--/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracIdentitySetup.createDate" for="field_createDate">CreateDate</label>-->
            <!--<input type="date" class="form-control" name="createDate" id="field_createDate"-->
            <!--ng-model="umracIdentitySetup.createDate"-->
            <!--/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracIdentitySetup.createBy" for="field_createBy">CreateBy</label>-->
            <!--<input type="number" class="form-control" name="createBy" id="field_createBy"-->
            <!--ng-model="umracIdentitySetup.createBy"-->
            <!--/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracIdentitySetup.updatedBy" for="field_updatedBy">UpdatedBy</label>-->
            <!--<input type="number" class="form-control" name="updatedBy" id="field_updatedBy"-->
            <!--ng-model="umracIdentitySetup.updatedBy"-->
            <!--/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracIdentitySetup.updatedTime" for="field_updatedTime">UpdatedTime</label>-->
            <!--<input type="date" class="form-control" name="updatedTime" id="field_updatedTime"-->
            <!--ng-model="umracIdentitySetup.updatedTime"-->
            <!--/>-->
            <!--</div>-->

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.back">back</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="umracIdentitySetup.id == null" translate="entity.action.save">Save</span>
                <span ng-show="umracIdentitySetup.id != null" translate="entity.action.update">update</span>
            </button>
        </div>
    </form>
</div>
