<div class="col-md-12 common-table">
    <h2><span translate="stepApp.iisCourseInfo.detail.title">IisCourseInfo</span>
        {{iisCourseInfo.iisCurriculumInfo.recNo}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.iisCourseInfo.iisCurriculumInfo">iisCurriculumInfo</span>
                </td>
                <td>
                    <a class="form-control-static">{{iisCourseInfo.cmsTrade.cmsCurriculum.name}}</a>
                </td>
                <td>
                    <span translate="stepApp.iisCourseInfo.cmsTrade">cmsTrade</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="cmsTrade.detail({id:iisCourseInfo.cmsTrade.id})">{{iisCourseInfo.cmsTrade.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.iisCourseInfo.memoNoMinistry">SeatNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{iisCourseInfo.memoNoMinistry}}</span>
                </td>
                <td>
                    <span translate="stepApp.iisCurriculumInfo.lastAcdrAttach">lastAcdrAttach</span>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(iisCourseInfo.minisMemoFile, iisCourseInfo.minisMemoFileCntType,('stepApp.iisCurriculumInfo.lastAcdrAttach' | translate)+' Image')">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{iisCourseInfo.minisMemoFile}}" width="40px"></span></a>
                </td>

            </tr>
            <tr>
                <td>
                    <span translate="stepApp.iisCourseInfo.perDateEdu">PerDateEdu</span>
                </td>
                <td>
                    <span class="form-control-static">{{iisCourseInfo.perDateEdu | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.iisCourseInfo.perDateBteb">PerDateBteb</span>
                </td>
                <td>
                    <span class="form-control-static">{{iisCourseInfo.perDateBteb | date:'mediumDate'}}</span>
                </td>

            </tr>

            <tr>
                <td>
                    <span translate="stepApp.iisCurriculumInfo.btebMemoFile">btebMemoFile</span>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(iisCourseInfo.btebMemoFile, iisCourseInfo.btebMemoFileCntType,('stepApp.iisCurriculumInfo.btebMemoFile' | translate)+' Image')">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{iisCourseInfo.btebMemoFile}}" width="40px"></span></a>
                </td>
                <td>
                    <span translate="stepApp.iisCourseInfo.memoNo">SeatNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{iisCourseInfo.memoNo}}</span>
                </td>
            </tr>
            <tr>
                <td ng-if="iisCourseInfo.mpoEnlisted">
                    <span translate="stepApp.iisCourseInfo.mpoEnlisted">MpoEnlisted</span>
                </td>
                <!-- <td>
                     <span class="form-control-static">{{iisCourseInfo.mpoEnlisted}}</span>
                 </td>-->
                <td>
                    <span ng-show="iisCourseInfo.mpoEnlisted == true" class="form-control-static"><span
                        translate="stepApp.iisCourseInfo.yes">yes</span></span>
                    <span ng-show="iisCourseInfo.mpoEnlisted == false" class="form-control-static"><span
                        translate="stepApp.iisCourseInfo.no">no</span></span>
                </td>
                <td></td>
                <td></td>

            </tr>

            <tr>
                <td ng-if="iisCourseInfo.dateMpo">
                    <span translate="stepApp.iisCourseInfo.dateMpo">DateMpo</span>
                </td>
                <td ng-if="iisCourseInfo.dateMpo">
                    <span class="form-control-static">{{iisCourseInfo.dateMpo}}</span>
                </td>
                <td>
                    <span translate="stepApp.iisCourseInfo.seatNo">SeatNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{iisCourseInfo.seatNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.iisCourseInfo.shift">Shift</span>
                </td>
                <td>
                    <span class="form-control-static">{{iisCourseInfo.shift}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-if="iisCourseInfo.institute.type == 'Government'">
                <td>
                    <span translate="stepApp.iisCourseInfo.totalPostT">totalPostT</span>
                </td>
                <td>
                    <span class="form-control-static">{{iisCourseInfo.totalPostT}}</span>
                </td>
                <td>
                    <span translate="stepApp.iisCourseInfo.availablePostT">availablePostT</span>
                </td>
                <td>
                    <span class="form-control-static">{{iisCourseInfo.noOfPostT}}</span>
                </td>
            </tr>
            <tr ng-if="iisCourseInfo.institute.type == 'Government'">
                <td>
                    <span translate="stepApp.iisCourseInfo.totalPostStaff">totalPostStaff</span>
                </td>
                <td>
                    <span class="form-control-static">{{iisCourseInfo.totalPostStaff}}</span>
                </td>
                <td>
                    <span translate="stepApp.iisCourseInfo.availablePostStaff">availablePostStaff</span>
                </td>
                <td>
                    <span class="form-control-static">{{iisCourseInfo.noOfPostStaff}}</span>
                </td>
            </tr>
            <!--<tr>
                <td translate="stepApp.iisCourseInfo.dateMpo"></td>
                <td>{{iisCourseInfo.dateMpo}}</td>
                <td></td>
                <td></td>
            </tr>-->
            <!--<tr>
                <td>
                    <span translate="stepApp.iisCourseInfo.cmsSubject">cmsSubject</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="cmsSubject.detail({id:iisCourseInfo.cmsSubject.id})">{{iisCourseInfo.cmsSubject.code}}</a>
                </td>
            </tr>-->
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
    <div class="no-print   text-right">
        <button type="submit" name="submit" onclick="window.print()" class="btn btn-primary">
            <span class="glyphicon glyphicon-print"></span>&nbsp;<span
            translate="entity.action.print">Print</span>
        </button>
    </div>
</div>
