<div class="col-md-12 common-dialogue">
    <form class="custom-form" name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="iisCourseInfo.id==null" class="modal-title" id="myIisCourseInfoLabel"
            translate="stepApp.iisCourseInfo.home.createOrEditLabel">Create or edit a IisCourseInfo</h4>
        <h4 ng-hide="iisCourseInfo.id==null" class="modal-title" id="myIisCourseInfoLabel1"
            translate="stepApp.iisCourseInfo.home.EditLabel">
            Create or edit a IisCourseInfo</h4>
        <div class="modal-body padding-tb">
            <div class="row">
                <div class="form-group col-md-6">
                    <label translate="stepApp.iisCourseInfo.iisCurriculumInfo" for="field_iisCurriculumInfo">iisCurriculumInfo</label>
                    <select class="form-control" id="field_iisCurriculumInfo" name="iisCurriculumInfo"
                            data-toggle="tooltip"
                            tooltip="{{'stepApp.iisCourseInfo.iisCurriculumInfo' | translate}}"
                            ng-model="iisCurriculumInfo.cmsCurriculum" ng-change="setTrades(iisCurriculumInfo.cmsCurriculum)"
                            ng-options="cmsCurriculum as cmsCurriculum.name for cmsCurriculum in cmsCurriculums">
                        <option value="" translate="stepApp.iisCourseInfo.iisCurriculumInfo"></option>
                    </select>

                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.iisCourseInfo.cmsTrade" for="field_cmsTrade">cmsTrade</label>
                    <select class="form-control"
                            id="field_cmsTrade" name="cmsTrade"
                            ng-disabled="!(iisCurriculumInfo.cmsCurriculum)"
                            ng-model="iisCourseInfo.cmsTrade"
                            data-toggle="tooltip"
                            tooltip="{{'stepApp.iisCourseInfo.cmsTrade' | translate}}"
                            ng-options="cmsTrade as cmsTrade.name for cmsTrade in cmstrades track by cmsTrade.id" required>
                        <option value="" translate="stepApp.iisCourseInfo.cmsTrade"></option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.iisCourseInfo.perDateEdu" for="field_perDateEdu">PerDateEdu</label>
                    <input type="text" class="form-control" name="perDateEdu" id="field_perDateEdu"
                           ng-model="iisCourseInfo.perDateEdu"
                           datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.perDateEdu"
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'perDateEdu')"
                           placeholder="yyyy-mm-dd" required
                           data-toggle="tooltip"
                           tooltip="{{'stepApp.iisCourseInfo.perDateEdu' | translate}}"/>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.iisCourseInfo.memoNoMinistry" for="field_seatNo">SeatNo</label>
                    <input type="text" class="form-control" name="seatNo" id="field_memoNoMinistry"
                           ng-model="iisCourseInfo.memoNoMinistry"
                           data-toggle="tooltip"
                           tooltip="{{'stepApp.iisCourseInfo.memoNoMinistry' | translate}}"
                           only-letters-and-numbers
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.iisCourseInfo.perDateBteb" for="field_perDateBteb">PerDateBteb</label>
                    <input type="text" class="form-control" name="perDateBteb" id="field_perDateBteb"
                           ng-model="iisCourseInfo.perDateBteb"
                           datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.perDateBteb"
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'perDateBteb')"
                           placeholder="yyyy-mm-dd"
                           data-toggle="tooltip"
                           tooltip="{{'stepApp.iisCourseInfo.perDateBteb' | translate}}"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.iisCourseInfo.memoNo" for="field_seatNo">SeatNo</label>
                    <input type="text" class="form-control" name="seatNo" id="field_memoNo"
                           ng-model="iisCourseInfo.memoNo" data-toggle="tooltip"
                           tooltip="{{'stepApp.iisCourseInfo.memoNo' | translate}}"
                           only-letters-and-numbers
                    />
                </div>
                <div class="input-margin form-group col-md-6">
                    <label translate="stepApp.iisCourseInfo.mpoEnlisted">MpoEnlisted</label>
                    <div id="field_mpoEnlisted">
                        <!--<label class="radio-inline">-->
                            <!--<input type="radio" name="mpoEnlisted" data-ng-value="true"-->
                                   <!--data-toggle="tooltip"-->
                                   <!--tooltip="{{'stepApp.iisCourseInfo.mpoEnlisted' | translate}}"-->
                                   <!--ng-checked="(iisCourseInfo.mpoEnlisted == true || iisCourseInfo.mpoEnlisted == null)"-->
                                   <!--ng-model="iisCourseInfo.mpoEnlisted"><span-->
                            <!--translate="stepApp.iisCourseInfo.yes">-->
                        <!--Yes</span>-->
                        <!--</label>-->
                        <label class="radio-inline"><input type="radio" name="mpoEnlisted" value="true"
                                                           ng-checked="(iisCourseInfo.mpoEnlisted == true || iisCourseInfo.mpoEnlisted== null)"
                                                           ng-model="iisCourseInfo.mpoEnlisted"><span
                            translate="stepApp.iisCourseInfo.yes">Yes</span></label>
                        <!--<label class="radio-inline">-->
                            <!--<input type="radio" name="mpoEnlisted" data-ng-value="false"-->
                                   <!--data-toggle="tooltip"-->
                                   <!--tooltip="{{'stepApp.iisCourseInfo.mpoEnlisted' | translate}}"-->
                                   <!--ng-model="iisCourseInfo.mpoEnlisted">-->
                            <!--<span translate="stepApp.iisCourseInfo.no">-->
                        <!--No</span>-->
                        <!--</label>-->

                        <label class="radio-inline"><input type="radio" name="mpoEnlisted" value="false"
                                                           ng-checked="(iisCourseInfo.mpoEnlisted == false && employeeLoanTypeSetup.mpoEnlisted != null)"
                                                           ng-model="iisCourseInfo.mpoEnlisted"><span
                            translate="stepApp.iisCourseInfo.no">No</span></label>

                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.iisCourseInfo.seatNo" for="field_seatNo">SeatNo</label>
                    <input type="number" class="form-control" name="seatNo" id="field_seatNo"
                           ng-model="iisCourseInfo.seatNo" required min="0"
                           data-toggle="tooltip"
                           tooltip="{{'stepApp.iisCourseInfo.seatNo' | translate}}"
                    />
                </div>
                <div ng-if="logInInstitute.type=='Government'" class="form-group col-md-6">
                    <label translate="stepApp.iisCourseInfo.noOfPostT">noOfPost</label>
                    <input type="number" class="form-control" name="noOfPost" id="field_snoOfPostT"
                           ng-model="iisCourseInfo.noOfPostT" required
                           data-toggle="tooltip"
                           tooltip="{{'stepApp.iisCourseInfo.noOfPostT' | translate}}"
                    />
                </div>
                <div ng-if="logInInstitute.type=='Government'" class="form-group col-md-6">
                    <label translate="stepApp.iisCourseInfo.noOfPostStaff">noOfPost</label>
                    <input type="number" class="form-control" name="noOfPostStaff" id="field_noOfPostStaff"
                           ng-model="iisCourseInfo.noOfPostStaff" required
                           data-toggle="tooltip"
                           tooltip="{{'stepApp.iisCourseInfo.noOfPostStaff' | translate}}"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.iisCourseInfo.shift" for="field_shift">Shift</label>
                    <div id="field_shift">
                        <input type="radio" name="shift" value="1ST"
                               ng-checked="(iisCourseInfo.shift == '1ST' && iisCourseInfo.shift != null)"
                               data-toggle="tooltip"
                               tooltip="{{'stepApp.iisCourseInfo.shift' | translate}}"
                               ng-model="iisCourseInfo.shift">
                        <span translate="stepApp.iisCourseInfo.morning">Morning</span><span>&nbsp</span>
                        <input type="radio" name="shift" value="2ND"
                               data-toggle="tooltip"
                               tooltip="{{'stepApp.iisCourseInfo.shift' | translate}}"
                               ng-model="iisCourseInfo.shift"
                               ng-checked="(iisCourseInfo.shift == '2ND' && iisCourseInfo.shift != null)">

                        <span translate="stepApp.iisCourseInfo.day">Day</span>
                        <input type="radio" name="shift" value="BOTH"
                               data-toggle="tooltip"
                               tooltip="{{'stepApp.iisCourseInfo.shift' | translate}}"
                               ng-model="iisCourseInfo.shift"
                               ng-checked="(iisCourseInfo.shift == 'BOTH' && iisCourseInfo.shift != null)">
                        <span translate="stepApp.iisCourseInfo.both">Both</span>
                    </div>
                </div>
            </div>

            <div class="row">

                <!--<div class="form-group col-md-6" ngf-drop-->
                     <!--ngf-change="setMinisMemoFile($file, iisCourseInfo, 'minisMemoFile','minisMemoFileCntType','minisMemoFileName')">-->
                    <!--<label translate="stepApp.iisCourseInfo.memoByMinis" for="field_attachment">appointAprvAtch</label>-->
                    <!--<div>-->
                        <!--<div class="help-block clearfix">-->
                            <!--<span class="pull-left">{{iisCurriculumInfo.minisMemoFileCntType}} {{byteSize(iisCurriculumInfo.minisMemoFile)}}</span>-->
                            <!--<button-->
                                <!--ng-click="iisCourseInfo.minisMemoFile=null;iisCourseInfo.minisMemoFileCntType=null;"-->
                                <!--ng-if="iisCurriculumInfo.lastAcdrAttach" class="btn btn-default btn-xs pull-right">-->
                                <!--<span class="glyphicon glyphicon-remove"></span>-->
                            <!--</button>-->
                        <!--</div>-->
                        <!--<div class="input-group">-->
                            <!--<input type="text" readonly class="form-control" name="requiLetter" id="lastAcdrAttach"-->
                                   <!--ng-model="iisCourseInfo.minisMemoFileName"-->
                            <!--/>-->
                            <!--<div class="input-group-btn">-->
                                <!--<button type="file" ngf-select class="btn btn-primary"-->
                                        <!--ngf-change="setMinisMemoFile($file, iisCourseInfo, 'minisMemoFile','minisMemoFileCntType','minisMemoFileName')"-->
                                        <!--translate="entity.action.addblob">-->
                                    <!--Add blob-->
                                <!--</button>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<input type="hidden" class="form-control" name="requiLetterName" id="minisMemoFileName"-->
                               <!--ng-model="iisCourseInfo.minisMemoFile"-->
                        <!--/>-->
                        <!--<input type="hidden" class="form-control" name="minisMemoFileCntType"-->
                               <!--id="minisMemoFileCntType" ng-model="iisCourseInfo.minisMemoFileCntType"/>-->
                    <!--</div>-->
                <!--</div>-->
            </div>

            <div class="row">

                <!--<div class="form-group col-md-6" ngf-drop-->
                     <!--ngf-change="setBtebMemoFile($file, iisCourseInfo, 'btebMemoFile','btebMemoFileCntType','btebMemoFileName')">-->
                    <!--<label translate="stepApp.iisCourseInfo.btebMemoFile" for="field_attachment">appointAprvAtch</label>-->
                    <!--<div>-->
                        <!--<div class="help-block clearfix">-->
                            <!--<span class="pull-left">{{iisCurriculumInfo.btebMemoFileCntType}} {{byteSize(iisCurriculumInfo.btebMemoFile)}}</span>-->
                            <!--<button-->
                                <!--ng-click="iisCourseInfo.btebMemoFile=null;iisCourseInfo.btebMemoFileCntType=null;"-->
                                <!--ng-if="iisCurriculumInfo.btebMemoFile" class="btn btn-default btn-xs pull-right">-->
                                <!--<span class="glyphicon glyphicon-remove"></span>-->
                            <!--</button>-->
                        <!--</div>-->
                        <!--<div class="input-group">-->
                            <!--<input type="text" readonly class="form-control" name="requiLetter" id="lastAcdrAttach"-->
                                   <!--ng-model="iisCourseInfo.btebMemoFileName"-->
                            <!--/>-->
                            <!--<div class="input-group-btn">-->
                                <!--<button type="file" ngf-select class="btn btn-primary"-->
                                        <!--ngf-change="setBtebMemoFile($file, iisCourseInfo, 'btebMemoFile','btebMemoFileCntType','btebMemoFileName')"-->
                                        <!--translate="entity.action.addblob">-->
                                    <!--Add blob-->
                                <!--</button>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<input type="hidden" class="form-control" name="requiLetterName" id="btebMemoFileName"-->
                               <!--ng-model="iisCourseInfo.btebMemoFile"-->
                        <!--/>-->
                        <!--<input type="hidden" class="form-control" name="btebMemoFileCntType"-->
                               <!--id="btebMemoFileCntType" ng-model="iisCourseInfo.btebMemoFileCntType"/>-->
                    <!--</div>-->
                <!--</div>-->


            </div>
        </div>
        <!--{{editForm}}-->
        <div class="col-sm-12 modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving || editForm.$pending"
                    class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="iisCourseInfo.id==null" translate="entity.action.save">Save</span>
                <span ng-show="iisCourseInfo.id !=null" translate="entity.action.update">Update</span>
            </button>
        </div>
    </form>
</div>
