<div class="col-md-12 common-list padding0">
    <h2 translate="stepApp.iisCourseInfo.home.title">IisCourseInfos</h2>
    <div class="col-md-12 padding-bt">
    <div class="col-xs-4 no_padding">
        <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
    </div>
    <div class="col-xs-4">
        <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
    </div>
    <div class="col-md-4 text-right  no_padding">
        <button class="btn btn-primary" ui-sref="instituteInfo.iisCourseInfo.new">
            <span class="glyphicon glyphicon-plus"></span> <span
            translate="stepApp.iisCourseInfo.home.createLabel">Create a new IisCourseInfo</span>
        </button>
    </div>
</div>
    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <!--<th translate="global.field.id">ID</th>-->
                <th translate="stepApp.iisCourseInfo.cmsCurriculum">cmsCurriculum</th>

                <th translate="stepApp.iisCourseInfo.perDateEdu">PerDateEdu</th>
                <th translate="stepApp.iisCourseInfo.perDateBteb">PerDateBteb</th>
                <!--<th translate="stepApp.iisCourseInfo.dateMpo">DateMpo</th>
                <th translate="stepApp.iisCourseInfo.seatNo">SeatNo</th>
                <th translate="stepApp.iisCourseInfo.shift">Shift</th>
                <th translate="stepApp.iisCourseInfo.iisCurriculumInfo">iisCurriculumInfo</th>-->
                <th translate="stepApp.iisCourseInfo.cmsTrade">cmsTrade</th>
                <!--
                                <th translate="stepApp.iisCourseInfo.cmsSubject">cmsSubject</th>
                -->
                <th class="no-print text-center" translate="entity.action.action"></th>
            </tr>
            </thead>
            <tbody>
            <!--<tr ng-repeat="iisCourseInfo in iisCourseInfos track by iisCourseInfo.id">-->
            <tr dir-paginate="iisCourseInfo in iisCourseInfos | filter:q | itemsPerPage: pageSize track by iisCourseInfo.id" current-page="currentPage">

            <!--<td><a ui-sref="iisCourseInfo.detail({id:iisCourseInfo.id})">{{iisCourseInfo.id}}</a></td>-->

                <td>
                    <a ui-sref="cmsCurriculum.detail({id:iisCurriculumInfo.cmsCurriculum.id})">{{iisCourseInfo.cmsTrade.cmsCurriculum.name}}</a>
                </td>
                <td>{{iisCourseInfo.perDateEdu | date:'mediumDate'}}</td>
                <td>{{iisCourseInfo.perDateBteb | date:'mediumDate'}}</td>

                <!-- <td>
                     <span style="color: #005f00" ng-show="iisCourseInfo.mpoEnlisted == true"
                           class="form-control-static"><span translate="stepApp.iisCourseInfo.yes">yes</span></span>
                     <span style="color: red" ng-show="iisCourseInfo.mpoEnlisted == false"
                           class="form-control-static"><span translate="stepApp.iisCourseInfo.no">no</span></span>
                 </td>-->
                <td>{{iisCourseInfo.cmsTrade.name}}</td>
                <!--   <td>{{iisCourseInfo.dateMpo}}</td>
                   <td>{{iisCourseInfo.seatNo}}</td>
                   <td>{{iisCourseInfo.shift}}</td>
                   <td>
                       <a ui-sref="iisCurriculumInfo.detail({id:iisCourseInfo.iisCurriculumInfo.id})">{{iisCourseInfo.iisCurriculumInfo.recNo}}</a>
                   </td>
                   <td>
                       <a ui-sref="cmsTrade.detail({id:iisCourseInfo.cmsTrade.id})">{{iisCourseInfo.cmsTrade.code}}</a>
                   </td>
                   <td>
                       <a ui-sref="cmsSubject.detail({id:iisCourseInfo.cmsSubject.id})">{{iisCourseInfo.cmsSubject.code}}</a>
                   </td>-->
                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="instituteInfo.iisCourseInfo.detail({id:iisCourseInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="instituteInfo.iisCourseInfo.edit({id:iisCourseInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <!--<button type="submit"-->
                            <!--ui-sref="instituteInfo.iisCourseInfo.delete({id:iisCourseInfo.id})"-->
                            <!--class="btn btn-danger btn-sm">-->
                        <!--<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span-->
                        <!--translate="entity.action.delete"> Delete</span>-->
                    <!--</button>-->
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
    <div class="col-md-12 no-print text-right">
        <button type="submit" class="btn btn-sm btn-primary no-print" onclick="window.print()" >
            <i class="fa fa-print"></i>&nbsp;
            <span translate="entity.action.print" >Print</span>
        </button>
    </div>
</div>
