<div class="fee-form-area">
    <div class="panel panel-default">
        <div class="panel-heading" translate="stepApp.feePaymentTypeSetup.home.title"> FeePaymentTypeSetups</div>
        <div class="panel-body bg-panel">


            <div class=" col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group">

                    <form name="searchForm" class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="search">
                        </div>
                        <button class="btn btn-primary" ng-click="search()"><i class="fa fa-search-plus"></i>

                        </button>
                    </form>



                    <button class="btn btn-primary" ui-sref="feePaymentTypeSetup.new">
                        <i class="fa fa-bolt"></i>
                        <span <span translate="stepApp.feePaymentTypeSetup.home.createLabel">Add New</span>
                    </button>

                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th translate="global.field.id">ID</th>
                        <th translate="stepApp.feePaymentTypeSetup.paymentTypeId">PaymentTypeId</th>
                        <th translate="stepApp.feePaymentTypeSetup.name">Name</th>
                        <th translate="stepApp.feePaymentTypeSetup.status">Status</th>
                        <th translate="stepApp.feePaymentTypeSetup.description">Description</th>
                        <th translate="stepApp.feePaymentTypeSetup.createDate">CreateDate</th>
                        <!--<th translate="stepApp.feePaymentTypeSetup.createBy">CreateBy</th>
                        <th translate="stepApp.feePaymentTypeSetup.updateBy">UpdateBy</th>
                        <th translate="stepApp.feePaymentTypeSetup.updateDate">UpdateDate</th>-->
                        <!--<th> translate="stepApp.feePaymentTypeSetup.action">Action</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="feePaymentTypeSetup in feePaymentTypeSetups track by feePaymentTypeSetup.id">
                        <td><a ui-sref="feePaymentTypeSetup.detail({id:feePaymentTypeSetup.id})">{{feePaymentTypeSetup.id}}</a></td>
                        <td>{{feePaymentTypeSetup.paymentTypeId}}</td>
                        <td>{{feePaymentTypeSetup.name}}</td>
                        <td>{{feePaymentTypeSetup.status}}</td>
                        <td>{{feePaymentTypeSetup.description}}</td>
                        <td>{{feePaymentTypeSetup.createDate | date:'mediumDate'}}</td>
                        <!--<td>{{feePaymentTypeSetup.createBy}}</td>
                        <td>{{feePaymentTypeSetup.updateBy}}</td>
                        <td>{{feePaymentTypeSetup.updateDate | date:'mediumDate'}}</td>-->
                        <td>
                            <button type="submit"
                                    ui-sref="feePaymentTypeSetup.detail({id:feePaymentTypeSetup.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                            </button>
                            <button type="submit"
                                    ui-sref="feePaymentTypeSetup.edit({id:feePaymentTypeSetup.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                            </button>
                            <button type="submit"
                                    ng-click="delete(feePaymentTypeSetup.id)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination">
                        <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                        <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                        <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                        <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                        <li class="active"><a>{{page + 1}}</a></li>
                        <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                        <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                        <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                        <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
                    </ul>
                </nav>
            </div>


        </div>
    </div>
</div>
