<div>
    <div class="panel panel-default">
        <div class="panel-heading" >
            <h2 class="modal-title"><span translate="global.menu.entities.trainingInfoMenuDashboard"></span></h2>
        </div>
        <div class="row">
            <div class="col-md-12 margin-top-30">
                <div class="col-md-2" has-any-authority="ROLE_ADMIN,ROLE_AD,ROLE_DG,ROLE_TIS_APPROVE_TRAINING">
                    <a ui-sref="trainingInfo.trainingApprovedList({status:'3'})"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/listicon.png" alt=""></div>
                        <span translate="global.menu.entities.tisTrainingReqApproved">Approved Training List</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN,ROLE_TIS_BUDGET_INFORMATION">
                    <a ui-sref="trainingInfo.trainingBudgetInformation"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/budget.png" alt=""></div>
                        <span translate="global.menu.entities.tisBudgetInformation">Budget Information</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN,ROLE_AD,ROLE_DG,ROLE_TIS_DECLINED_TRAINING">
                    <a ui-sref="trainingInfo.trainingDeclinedList({status:'0'})"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/rejectlist.png" alt=""></div>
                        <span translate="global.menu.entities.tisTrainingReqDeclined">Declined Training List</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN,ROLE_AD,ROLE_DG,ROLE_TIS_REJECT_TRAINING">
                    <a ui-sref="trainingInfo.trainingRejectedList({status:'-1'})"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/rejectlist.png" alt=""></div>
                        <span translate="global.menu.entities.tisTrainingReqRejected">Rejected Training List</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN,ROLE_TIS_CATEGORY_SETUP">
                    <a ui-sref="trainingInfo.trainingCategorySetup"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/setup.png" alt=""></div>
                        <span translate="global.menu.entities.tisCategorySetup">Training Category Setup</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN,ROLE_USER,ROLE_INSTEMP,ROLE_TIS_TRAINEE_EVALUATION,ROLE_TIS_DASH">
                    <a ui-sref="trainingInfo.traineeEvaluationInfo"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/evolution.png" alt=""></div>
                        <span translate="global.menu.entities.tisTraineeEvaluation">Trainee Evaluation</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN,ROLE_USER,ROLE_INSTEMP,ROLE_TIS_TRAINER_EVALUATION,ROLE_TIS_DASH,ROLE_HRM_USER,ROLE_DTE_EMPLOYEE">
                    <a ui-sref="trainingInfo.trainerEvaluationInfo"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/evolution.png" alt=""></div>
                        <span translate="global.menu.entities.tisTrainerEvaluation">Trainer Evaluation</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN,ROLE_TIS_HEAD_SETUP">
                    <a ui-sref="trainingInfo.trainingHeadSetup"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/settings.png" alt=""></div>
                        <span translate="global.menu.entities.tisHeadSetup">Training Head Setup</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN,ROLE_TIS_TRAINING_INITIALIZATION">
                    <a ui-sref="trainingInfo.trainingInitializationInfo"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/initialization.png" alt=""></div>
                        <span translate="global.menu.entities.tisTrainingInitialization">Training Initialization</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN,ROLE_TIS_TRAINEE_INFORMATION">
                    <a ui-sref="trainingInfo.traineeInformation"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/curriculum.png" alt=""></div>
                        <span translate="global.menu.entities.tisTraineeInformation">Trainee Information</span>
                    </div></a>
                </div>

                <div class="col-md-2" has-any-authority="ROLE_ADMIN,ROLE_INSTITUTE,ROLE_USER,ROLE_AD,ROLE_DG,ROLE_TIS_TRAINING_REQ,ROLE_TIS_DASH,ROLE_HRM_USER,ROLE_DTE_EMPLOYEE">
                    <a ui-sref="trainingInfo.trainingRequisitionForm"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/appointment.png" alt=""></div>
                        <span translate="global.menu.entities.tisTrainingRequisition">Training Requisition</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN,ROLE_AD,ROLE_DG,ROLE_TIS_TRAINING_PENDING">
                    <a ui-sref="trainingInfo.reqPendingList"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/pending.png" alt=""></div>
                        <span translate="global.menu.entities.tisTrainingReqPending">Training Requisition Pending</span>
                    </div></a>
                </div>

                <div class="col-md-2" has-any-authority="ROLE_ADMIN,ROLE_INSTITUTE,ROLE_USER,ROLE_TIS_TRAINER_INFORMATION,ROLE_TIS_DASH">
                    <a ui-sref="trainingInfo.trainerInformation"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/trainer.png" alt=""></div>
                        <span translate="global.menu.entities.tisTrainerInformation">Trainer Information</span>
                    </div></a>
                </div>

                <div class="col-md-2" has-any-authority="ROLE_ADMIN,ROLE_INSTITUTE,ROLE_USER,ROLE_TIS_REPORT">
                    <a ui-sref="jpReport({module:'tis'})"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/earning.png" alt=""></div>
                        <span translate="global.menu.report">Report</span>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .single-menu {
        padding: 7px 7px;
        background: #fff;
        margin: 7px 0px;
        font-size: 13px;
        transition: .4s;
        border-radius: 2px;
        font-weight: bold;
        color: #777;
        text-align: center;
        width: 115px;
        height: 115px;
    }
    .single-menu:hover{
        box-shadow: 0 3px 18px 0 rgba(0,0,0,0.2);
        background: #4D963B;
        color:#fff;
    }
    .single-menu img {
        height: 35px;
        margin-bottom: 15px;
    }
    .margin-top-30{
        margin-top: 30px;
    }
</style>
