<ul id="ulcolor3" class="nav su_serv_menu nav-list  bs-docs-sidenav no-print">
    <li has-any-authority="ROLE_ADMIN,ROLE_INSTITUTE,ROLE_USER,ROLE_DG,ROLE_AD,ROLE_TIS_DASH,ROLE_HRM_USER,ROLE_DTE_EMPLOYEE">
        <a href="" ui-sref="trainingInfo.dashboardMenu" ui-sref-active="active">
            <i class="fa fa-tachometer"></i><span>Dashboard Menu</span></a>
    </li>
    <!--<li has-any-authority="ROLE_ADMIN,ROLE_INSTITUTE,ROLE_USER,ROLE_DG,ROLE_AD,ROLE_TIS_DASH,ROLE_HRM_USER,ROLE_DTE_EMPLOYEE">-->
    <!--<a href=""  ui-sref="trainingInfo.dashboard" ui-sref-active="active"><i class="fa fa-tachometer"></i><span translate="global.menu.account.dashboard">Dashboard</span></a>-->
    <!--</li>-->
    <li has-any-authority="ROLE_ADMIN,ROLE_TIS_CATEGORY_SETUP">
        <a href="" ui-sref="trainingInfo.trainingCategorySetup" ui-sref-active="active"><i class="fa fa-tags"></i>
            <span translate="global.menu.entities.tisCategorySetup">Training Category Setup</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_TIS_HEAD_SETUP">
        <a href="" ui-sref="trainingInfo.trainingHeadSetup" ui-sref-active="active"><i class="fa fa-cog"></i>
            <span translate="global.menu.entities.tisHeadSetup">Training Head Setup</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_INSTITUTE,ROLE_USER,ROLE_AD,ROLE_DG,ROLE_TIS_TRAINING_REQ,ROLE_TIS_DASH,ROLE_HRM_USER,ROLE_DTE_EMPLOYEE">
        <a href="" ui-sref="trainingInfo.trainingRequisitionForm" ui-sref-active="active">
            <i class="fa fa-ticket"></i>
            <span translate="global.menu.entities.tisTrainingRequisition">Training Requisition</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_AD,ROLE_DG,ROLE_TIS_TRAINING_PENDING">
        <a href="" ui-sref="trainingInfo.reqPendingList" ui-sref-active="active"><i class="fa fa-hourglass-end"></i>
            <span translate="global.menu.entities.tisTrainingReqPending">Training Requisition Pending</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_AD,ROLE_DG,ROLE_TIS_APPROVE_TRAINING">
        <a href="" ui-sref="trainingInfo.trainingApprovedList({status:'3'})" ui-sref-active="active">
            <i class="fa fa-check-square-o"></i>
            <span translate="global.menu.entities.tisTrainingReqApproved">Approved Training List</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_AD,ROLE_DG,ROLE_TIS_DECLINED_TRAINING">
        <a href="" ui-sref="trainingInfo.trainingDeclinedList({status:'0'})" ui-sref-active="active">
            <i class="fa fa-times-circle"></i>
            <span translate="global.menu.entities.tisTrainingReqDeclined">Declined Training List</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_AD,ROLE_DG,ROLE_TIS_REJECT_TRAINING">
        <a href="" ui-sref="trainingInfo.trainingRejectedList({status:'-1'})" ui-sref-active="active">
            <i class="fa fa-times" aria-hidden="true"></i>
            <span translate="global.menu.entities.tisTrainingReqRejected">Rejected Training List</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_TIS_TRAINING_INITIALIZATION">
        <a href="" ui-sref="trainingInfo.trainingInitializationInfo" ui-sref-active="active">
            <i class="fa fa-circle-o"></i>
            <span translate="global.menu.entities.tisTrainingInitialization">Training Initialization</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_TIS_BUDGET_INFORMATION">
        <a href="" ui-sref="trainingInfo.trainingBudgetInformation" ui-sref-active="active">
            <i class="fa fa-credit-card"></i>
            <span translate="global.menu.entities.tisBudgetInformation">Budget Information</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_TIS_TRAINEE_INFORMATION">
        <a href="" ui-sref="trainingInfo.traineeInformation" ui-sref-active="active"><i class="fa fa-user-o"></i>
            <span translate="global.menu.entities.tisTraineeInformation">Trainee Information</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_USER,ROLE_INSTEMP,ROLE_TIS_TRAINEE_EVALUATION,ROLE_TIS_DASH">
        <a href="" ui-sref="trainingInfo.traineeEvaluationInfo" ui-sref-active="active"><i class="fa fa-user" aria-hidden="true"></i>
            <span translate="global.menu.entities.tisTraineeEvaluation">Trainee Evaluation</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_INSTITUTE,ROLE_USER,ROLE_TIS_TRAINER_INFORMATION,ROLE_TIS_DASH">
        <a href="" ui-sref="trainingInfo.trainerInformation" ui-sref-active="active"><i class="fa fa-user-circle"></i>
            <span translate="global.menu.entities.tisTrainerInformation">Trainer Information</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_USER,ROLE_INSTEMP,ROLE_TIS_TRAINER_EVALUATION,ROLE_TIS_DASH,ROLE_HRM_USER,ROLE_DTE_EMPLOYEE">
        <a href="" ui-sref="trainingInfo.trainerEvaluationInfo" ui-sref-active="active"><i class="fa fa-circle-o"></i>
            <span translate="global.menu.entities.tisTrainerEvaluation">Trainer Evaluation</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_INSTITUTE,ROLE_USER,ROLE_TIS_REPORT">
        <a href="" ui-sref="jpReport({module:'tis'})" ui-sref-active="active"><i class="fa fa-tachometer"></i>
            <span translate="global.menu.report">Report</span></a>
    </li>

</ul>

