<div class="col-md-12 common-dialogue">

    <h4 ng-if="pfmsEmpMembership.id == null" class="modal-title" id="myPfmsEmpMembershipLabel"
        translate="stepApp.pfmsEmpMembership.home.employeePfAmount">employeePfAmount</h4>

    <div class="panel-body">
        <div class="form-group col-md-6">
            <label translate="stepApp.pfmsEmpMembership.employeeInfo" for="field_employeeInfo">employeeInfo</label>
            <!--<select class="form-control" id="field_employeeInfo" name="employeeInfo" ng-model="pfmsEmpMembership.employeeInfo" ng-options="HrEmployeeInfo as HrEmployeeInfo.fullName for HrEmployeeInfo in hremployeeinfos track by HrEmployeeInfo.id">-->
            <!--<option value=""></option>-->
            <!--</select>-->
            <div class="input-group">
                <input type="text" class="form-control " autocomplete="off"
                       ng-model="pfmsEmpMembership.employeeInfo"
                       typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " - " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfos | filter:$viewValue'
                       id="field_employeeInfo" required
                       placeholder="{{'stepApp.pfmsEmpMembership.employeeInfo' | translate}}">

                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="loadEmployeeInfo()">
                            <span class="glyphicon"></span>&nbsp;<span translate="stepApp.pfmsEmpMembership.search">Search</span>
                        </button>
                    </span>


            </div>


        </div>
        <div class="form-group col-md-6">
            <label></label>

        </div>
        <div class="form-group col-md-6">
            <label translate="stepApp.pfmsEmpMembership.departmentName" for="field_almLeaveType">Department</label>
            <span class="form-control">{{departmentName}}</span>
        </div>

        <div class="form-group col-md-6 ">
            <label translate="stepApp.pfmsEmpMembership.designationName" for="field_Designation">Designation</label>
            <span class="form-control">{{designationName}}</span>
        </div>

        <div class="form-group col-md-6">
            <label translate="stepApp.pfmsEmpMembership.nationality" for="field_nationality">nationality</label>
            <span class="form-control">{{nationality}}</span>
        </div>

        <div class="form-group col-md-6 ">
            <label translate="stepApp.pfmsEmpMembership.fatherName" for="field_fatherName">fatherName</label>
            <span class="form-control">{{fatherName}}</span>
        </div>

        <div class="form-group col-md-6 ">
            <label translate="stepApp.pfmsEmpMembership.dutySide" for="field_dutySide">dutySide</label>
            <span class="form-control">{{dutySide}}</span>
        </div>

        <div class="form-group col-md-6 ">
            <label translate="stepApp.pfmsEmpMembership.curAmount" for="field_fatherName">curAmount</label>
            <span class="form-control">{{curOwnContributeTot}}</span>
        </div>

        <div class="form-group col-md-6 ">
            <label translate="stepApp.pfmsEmpMembership.canWithdraw" for="field_dutySide">canWithdraw</label>
            <span class="form-control">{{withdrawAmount}}</span>
        </div>
        <div class="form-group col-md-6 ">
            <label translate="stepApp.pfmsEmpMembership.totalLoanNoTaken" for="field_fatherName">totalLoanNoTaken</label>
            <span class="form-control">{{totalLoanNoTaken}}</span>
        </div>

        <div class="form-group col-md-6 ">
            <label translate="stepApp.pfmsEmpMembership.reimberesedLonNo" for="field_dutySide">reimberesedLonNo</label>
            <span class="form-control">{{reimberesedLonNo}}</span>
        </div>


    </div>
</div>
