<div class="common-table padding-right0 padding-left5">
    <h2><span translate="stepApp.pfmsEmpMembership.detail.title">PfmsEmpMembership</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembership.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="hrEmployeeInfo.detail({id:pfmsEmpMembership.employeeInfo.id})">{{pfmsEmpMembership.employeeInfo.fullName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembership.initOwnContribute">InitOwnContribute</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembership.initOwnContribute}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembership.initOwnContributeInt">InitOwnContributeInt</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembership.initOwnContributeInt}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembership.departmentName">departmentName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembership.employeeInfo.departmentInfo.departmentInfo.departmentName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembership.designationName">designationName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembership.employeeInfo.designationInfo.designationInfo.designationName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembership.fatherName">fatherName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembership.employeeInfo.fatherName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembership.nationality">nationality</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembership.employeeInfo.nationality}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembership.dutySide">dutySide</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembership.employeeInfo.workArea.typeTitle}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembership.curOwnContribute">CurOwnContribute</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembership.curOwnContribute}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembership.curOwnContributeInt">CurOwnContributeInt</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembership.curOwnContributeInt}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembership.curOwnContributeTot">CurOwnContributeTot</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembership.curOwnContributeTot}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembership.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembership.activeStatus? 'Yes':'No'}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel"> cancel</span>
    </button>
</div>

