<div class="col-md-12 common-table">
    <h2><span translate="stepApp.employeeLoanRulesSetup.detail.title">EmployeeLoanRulesSetup</span></h2>
    <div class="table-responsive">
        <div class="col-md-12 no_padding">
            <h5 class="trainerinfo">Employee Loan Rules Information</h5>
        </div>
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRulesSetup.employeeLoanTypeSetup">employeeLoanTypeSetup</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="employeeLoanTypeSetup.detail({id:employeeLoanRulesSetup.employeeLoanTypeSetup.id})">{{employeeLoanRulesSetup.employeeLoanTypeSetup.loanTypeName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRulesSetup.loanName">LoanName</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanRulesSetup.loanName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRulesSetup.loanRulesDescription">LoanRulesDescription</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanRulesSetup.loanRulesDescription}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRulesSetup.maximumWithdrawal">MaximumWithdrawal</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanRulesSetup.maximumWithdrawal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRulesSetup.minimumAmountBasic">MinimumAmountBasic</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanRulesSetup.minimumAmountBasic}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRulesSetup.installment">Maximum Installment</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanRulesSetup.installment}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRulesSetup.interest">Interest</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanRulesSetup.interest}}%</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRulesSetup.status">Status</span>
                </td>
                <td>
                    <span ng-show="employeeLoanRulesSetup.status==true">Active</span>
                    <span ng-show="employeeLoanRulesSetup.status==false">Inactive</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
