
<div class="common-table">
    <h2><span translate="stepApp.prlPayscaleAllowanceInfo.detail.title">PrlPayscaleAllowanceInfo</span> {{prlPayscaleAllowanceInfo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.prlPayscaleAllowanceInfo.payscaleInfo">payscaleInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="prlPayscaleInfo.detail({id:prlPayscaleAllowanceInfo.payscaleInfo.id})">{{prlPayscaleAllowanceInfo.payscaleInfo.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlPayscaleAllowanceInfo.allowanceInfo">allowanceInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="prlAllowDeductInfo.detail({id:prlPayscaleAllowanceInfo.allowanceInfo.id})">{{prlPayscaleAllowanceInfo.allowanceInfo.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlPayscaleAllowanceInfo.fixedBasic">FixedBasic</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlPayscaleAllowanceInfo.fixedBasic}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlPayscaleAllowanceInfo.basicMinimum">BasicMinimum</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlPayscaleAllowanceInfo.basicMinimum}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlPayscaleAllowanceInfo.basicMaximum">BasicMaximum</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlPayscaleAllowanceInfo.basicMaximum}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlPayscaleAllowanceInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlPayscaleAllowanceInfo.activeStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlPayscaleAllowanceInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlPayscaleAllowanceInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlPayscaleAllowanceInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlPayscaleAllowanceInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
