<div class="row">
    <div class="col-md-3 padding-right0">
        <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
    </div>
    <div class="col-md-9 lbl-dash">
        <div class="col-md-12 common-table no_padding">
    <h2><span translate="stepApp.allowanceSetup.detail.title">AllowanceSetup</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.allowanceSetup.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{allowanceSetup.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.allowanceSetup.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{allowanceSetup.status ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.allowanceSetup.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{allowanceSetup.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.allowanceSetup.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{allowanceSetup.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.allowanceSetup.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{allowanceSetup.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.allowanceSetup.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{allowanceSetup.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.allowanceSetup.remarks">Remarks</span>
                </td>
                <td>
                    <span class="form-control-static">{{allowanceSetup.remarks}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.allowanceSetup.effectiveDate">EffectiveDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{allowanceSetup.effectiveDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
</div>
