<div class="col-md-12 common-list">
    <h2 translate="stepApp.risNewAppForm.circularDash"></h2>
    <div class="col-sm-12 ris-ministry no_padding tab-3">
        <div class="col-sm-12">
            <br>
        </div>
        <tabset justified="true">
            <tab heading="{{'stepApp.risNewAppForm.reqJobList' | translate}}">
                <div class="col-md-12 padding-tb">
                    <div class="col-xs-4 no_padding">
                        <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
                    </div>
                    <div class="col-xs-4">
                        <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
                    </div>
                    <div class="col-xs-4 no_padding text-right ">
                    </div>
                </div>
                <!--<div class="col-sm-12 padding-tb no-print">
                    <div class="col-md-8 col-xs-12 no_padding">
                        <div class="col-md-6 no_padding">
                            <b> <span translate="stepApp.risNewAppForm.search">Search Here :</span></b>
                            <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"
                                                                                         aria-hidden="true"></i></span>
                                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <b><span translate="stepApp.risNewAppForm.item">Items per page:</span></b>
                            <div class="input-group">
                                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                            </div>
                        </div>
                    </div>
                </div>-->

                <div ng-if="jobCirculars.length != 0 " class="col-sm-12 table-responsive no_padding">
                    <table class="table table-striped padding-bt ">
                        <thead>
                        <tr>
                            <th translate="global.home.serial">Sl</th>
                            <th translate="stepApp.risNewAppForm.reCircularNum">Requested Circular Number</th>
                            <th translate="stepApp.risNewAppForm.ReqDate">Requested Date</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-animate="'animate'"
                            dir-paginate="getjobRequest in getjobRequests | filter:q | itemsPerPage: pageSize track by $index"
                            current-page="currentPage">

                            <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                            <td>{{getjobRequest.CIRCULARNO}}</td>
                            <td>{{getjobRequest.DATES | date}}</td>
                            <td class="text-right no-print">

                                <button type="submit"
                                        ng-click="viewJobsBycircular(getjobRequest.CIRCULARNO)"
                                        class="btn btn-success btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
                                    <span>View</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav>
                        <dir-pagination-controls boundary-links="true"
                                                 on-page-change="pageChangeHandler(newPageNumber)"
                                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
                    </nav>

                </div>
                <div ng-if="jobCirculars.length == 0 " class="col-sm-12">
                    <h3>No job found</h3>
                </div>
            </tab>
            <tab heading="{{'stepApp.risNewAppForm.rejJobList' | translate}}">
                <div class="col-md-12 padding-tb">
                    <div class="col-xs-4 no_padding">
                        <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
                    </div>
                    <div class="col-xs-4">
                        <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
                    </div>
                    <div class="col-xs-4 no_padding text-right ">
                    </div>
                </div>
                <!--<div class="col-sm-12 padding-tb no-print">
                    <div class="col-md-8 col-xs-12 no_padding">
                        <div class="col-md-6 no_padding">
                            <b> <span translate="stepApp.risNewAppForm.search">Search Here :</span></b>
                            <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"
                                                                                         aria-hidden="true"></i></span>
                                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <b><span translate="stepApp.risNewAppForm.item">Items per page:</span></b>
                            <div class="input-group">
                                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                            </div>
                        </div>
                    </div>
                </div>-->
                <div ng-if="rejectLists.length != 0" class="col-sm-12 table-responsive no_padding">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th translate="global.home.serial">Sl</th>
                            <th translate="stepApp.risNewAppForm.rejectedCircular">Rejected Circulars</th>
                            <th translate="stepApp.risNewAppForm.rejectionDate">Rejection Date</th>
                            <th translate="stepApp.risNewAppForm.action">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-animate="'animate'"
                            dir-paginate="getjobRequest in rejectLists | filter:q | itemsPerPage: pageSize track by $index"
                            current-page="currentPage">

                            <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                            <td>{{getjobRequest.CIRCULARNO}}</td>
                            <td>{{getjobRequest.DATES | date}}</td>
                            <td class="text-right no-print">
                                <button type="submit"
                                        ng-click="viewRejectJobsBycircular(getjobRequest.CIRCULARNO)"
                                        class="btn btn-success btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
                                    <span> View</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav>
                        <dir-pagination-controls boundary-links="true"
                                                 on-page-change="pageChangeHandler(newPageNumber)"
                                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
                    </nav>

                </div>
                <div ng-if="rejectLists.length == 0" class="col-sm-12">
                    <h3>No Rejects Job Found</h3>
                </div>
            </tab>
            <tab heading="{{'stepApp.risNewAppForm.appJobList' | translate}}">
                <div class="col-md-12 padding-tb">
                    <div class="col-xs-4 no_padding">
                        <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
                    </div>
                    <div class="col-xs-4">
                        <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
                    </div>
                    <div class="col-xs-4 no_padding text-right ">
                    </div>
                </div>
                <!--<div class="col-sm-12 padding-tb no-print">
                    <div class="col-md-8 col-xs-12 no_padding">
                        <div class="col-md-6 no_padding">
                            <b> <span translate="stepApp.risNewAppForm.search">Search Here :</span></b>
                            <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"
                                                                                         aria-hidden="true"></i></span>
                                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <b><span translate="stepApp.risNewAppForm.item">Items per page:</span></b>
                            <div class="input-group">
                                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="col-sm-12 table-responsive no_padding">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th translate="stepApp.risNewAppForm.serial">serial</th>
                            <th translate="stepApp.risNewAppForm.approveCircular">Approved Circulars</th>
                            <th translate="stepApp.risNewAppForm.approvalDate">Approval Date</th>
                            <th translate="stepApp.risNewAppForm.action">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-animate="'animate'"
                            dir-paginate="getByDesignation in approvedLists | filter:q | itemsPerPage: pageSize track by $index"
                            current-page="currentPage">

                            <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                            <td>{{getByDesignation.CIRCULARNO}}</td>
                            <td>{{getByDesignation.DATES | date}}</td>
                            <td class="text-right no-print">
                                <button type="submit"
                                        ng-click="viewApprovedJobsBycircular(getByDesignation.CIRCULARNO)"
                                        class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                                    translate="entity.action.view"> View</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav>
                        <dir-pagination-controls boundary-links="true"
                                                 on-page-change="pageChangeHandler(newPageNumber)"
                                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
                    </nav>
                </div>
            </tab>
        </tabset>
    </div>

    <div class="modal fade" id="jobReject">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="approveForm" ng-submit="confirmReject()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm Reject operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to Reject this Application?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="rejectJobApprove">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="approveForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm Approve operation</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Job Serial</th>
                                <th>Circular Number</th>
                                <th>Allocated</th>
                                <th>Available</th>
                                <th>Current Employee</th>
                                <th>Department</th>
                                <th>Position</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="jobBycircular in JobByCircular"  current-page="currentPage">
                                <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                                <td>{{jobBycircular.CIRCULARNO}}</td>
                                <td>{{jobBycircular.ALLOCATED}}</td>
                                <td>{{jobBycircular.AVAILABLE_POSTINGS}}</td>
                                <td>{{jobBycircular.CURRENT_EMPLOYEE}}</td>
                                <td>{{jobBycircular.DEPARTMENT}}</td>
                                <td>{{jobBycircular.POSITION}}</td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>

                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="modal fade" id="viewApprovedJobsBycircular">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="approveForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm Approve operation</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Job Serial</th>
                                <th>Circular Number</th>
                                <th>Allocated</th>
                                <th>Available</th>
                                <th>Current Employee</th>
                                <th>Department</th>
                                <th>Position</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="jobBycircular in JobByCircular"  current-page="currentPage">
                                <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                                <td>{{jobBycircular.CIRCULARNO}}</td>
                                <td>{{jobBycircular.ALLOCATED}}</td>
                                <td>{{jobBycircular.AVAILABLE_POSTINGS}}</td>
                                <td>{{jobBycircular.CURRENT_EMPLOYEE}}</td>
                                <td>{{jobBycircular.DEPARTMENT}}</td>
                                <td>{{jobBycircular.POSITION}}</td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="modal fade" id="viewJobsBycircular">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="approveForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm Approve operation</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Job Serial</th>
                                <th>Circular Number</th>
                                <th>Allocated</th>
                                <th>Available</th>
                                <th>Current Employee</th>
                                <th>Department</th>
                                <th>Position</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="jobBycircular in JobByCircular" current-page="currentPage">
                                <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                                <td>{{jobBycircular.CIRCULARNO}}</td>
                                <td>{{jobBycircular.ALLOCATED}}</td>
                                <td>{{jobBycircular.AVAILABLE_POSTINGS}}</td>
                                <td>{{jobBycircular.CURRENT_EMPLOYEE}}</td>
                                <td>{{jobBycircular.DEPARTMENT}}</td>
                                <td>{{jobBycircular.POSITION}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>


                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
