<div class="col-md-12 common-list">
    <h2 translate="stepApp.risNewAppForm.allJobsList">All job List</h2>
    <div class=" bg-panel">
        <div class="col-md-12 padding-tb">
            <div class="col-xs-4 no_padding">
                <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
            </div>
            <div class="col-xs-4">
                <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
            </div>
            <div class="col-xs-4 no_padding text-right ">
            </div>
        </div>
        <!--<div class="col-sm-12 padding-tb no-print">
            <div class="col-md-8 col-xs-12 no_padding">
                <div class="col-md-6 no_padding">
                    <b><span translate="global.home.searchhere">Search Here :</span></b>
                    <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"
                                                                                     aria-hidden="true"></i></span>
                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                    </div>
                </div>
                <div class="col-md-6">
                    <b><span translate="global.home.itemperpage">Items per page:</span></b>

                    <div class="input-group col-sm-4">
                        <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                    </div>
                </div>
            </div>
        </div>-->
        <div ng-hide="details" class="col-sm-12 table-responsive no_padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th translate="stepApp.risNewAppForm.serial">serial</th>
                    <th translate="stepApp.risNewAppForm.circularNo">circularNo</th>
                    <th translate="stepApp.risNewVacancy.educationalQualification">EDUCATIONAL_QUALIFICATION
                    </th>
                    <th translate="stepApp.risNewVacancy.otherQualification">OTHER_QUALIFICATION</th>
                    <th translate="stepApp.risNewAppForm.applicationDate">applicationDate</th>
                    <th translate="entity.action.action"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-animate="'animate'"
                    dir-paginate="JobList in JobLists | filter:q | itemsPerPage: pageSize track by $index"
                    current-page="currentPage">
                    <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                    <td>{{JobList.CIRCULAR_NO}}</td>
                    <td>{{JobList.EDUCATIONAL_QUALIFICATION}}</td>
                    <td>{{JobList.OTHER_QUALIFICATION}}</td>
                    <td>{{JobList.APPLICATION_DATE | date:'mediumDate' }}</td>
                    <td class="text-right no-print">
                        <button type="submit" ng-click="detailsOfJobs(JobList.CIRCULAR_NO)"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                            translate="entity.action.view"> View</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav>
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                         template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
            </nav>
        </div>
        <div ng-if="dataMessage" class="col-sm-12">
            {{dataMessage}}
        </div>
        <div ng-if="errorMessage" class="col-sm-12">
            <p class="ErrorMessage">{{errorMessage}}</p>
        </div>

        <div ng-show="details" class="col-sm-12 no_padding">
            <div class="col-sm-12 no_padding" ng-repeat="detail in details">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th translate="entity.detail.field">Field</th>
                        <th translate="entity.detail.value">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span translate="stepApp.risNewAppForm.circularNo">CIRCULAR_NO</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{detail.CIRCULAR_NO}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span
                                translate="stepApp.risNewVacancy.educationalQualification">educationalQualification</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{detail.EDUCATIONAL_QUALIFICATION}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                                    <span
                                        translate="stepApp.risNewVacancy.otherQualification">OTHER_QUALIFICATION</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{detail.OTHER_QUALIFICATION}}</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span translate="stepApp.risNewVacancy.remarks">REMARKS</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{detail.REMARKS}}</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span translate="stepApp.risNewAppForm.vacantPostion">VACANT_POSITIONS</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{detail.VACANT_POSITIONS}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.risNewAppForm.position">position</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{detail.POSITION_NAME}}</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span translate="stepApp.risNewVacancy.publishDate">PUBLISH_DATE</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{detail.PUBLISH_DATE | date}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.risNewVacancy.applicationDate">APPLICATION_DATE</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{detail.APPLICATION_DATE | date}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.risNewAppForm.image">ATTACHMENT_IMG_NAME</span>
                        </td>
                        <td>
                            <!--<span class="form-control-static">{{detail.ATTACHMENT_IMG_NAME}}</span>-->
                            <div class="col-sm-12 ris-img">
                                <div class="ri-img text-center">
                                    <img class="col-sm-12"
                                         height="300"
                                         width="200"
                                         src="assets/dlms/{{detail.ATTACHMENT_IMG_NAME}}"
                                         alt="Image">
                                </div>
                                <p><a
                                    href="assets/dlms/{{detail.ATTACHMENT_IMG_NAME}}"
                                    download>
                                    <span class="btn btn-primary">Download</span></a></p>
                            </div>
                        </td>
                    </tr>
                    <!-- <tr>
                         <td>
                             <span translate="stepApp.risNewVacancy.status">STATUS</span>
                         </td>
                         <td>
                             <span class="form-control-static">{{detail.STATUS}}</span>
                         </td>
                     </tr>-->

                    <!--<tr>
                        <td>
                            <span translate="stepApp.risNewAppForm.updateBy">UPDATED_BY</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{detail.UPDATED_BY}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.risNewAppForm.updateDate">UPDATED_DATE</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{detail.UPDATED_DATE | date}}</span>
                        </td>
                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>


        <div ng-show="details" class="col-sm-12 text-right no-print">
            <button type="submit" ng-click="back()"
                    class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                translate="entity.action.back"> back</span>
            </button>
        </div>

    </div>
</div>
