<div ng-hide="forJobPosts" class="col-md-12 common-list">
    <h2 translate="stepApp.risNewAppForm.approve">Ris Admin View and Job Post</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
        </div>
    </div>
    <!--<div class="col-sm-12 padding-tb no-print">
        <div class="col-md-8 col-xs-12 no_padding">
            <div class="col-md-6 no_padding">
                <b> <span translate="stepApp.risNewAppForm.search">Search Here :</span></b>
                <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"
                                                                             aria-hidden="true"></i></span>
                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                </div>
            </div>
            <div class="col-md-6 ">
                <b><span translate="stepApp.risNewAppForm.item">Items per page:</span></b>
                <div class="input-group">
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
            </div>
        </div>
    </div>-->
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="stepApp.risNewAppForm.serial">serial</th>
                <th translate="stepApp.risNewAppForm.circularNo">Circular Number</th>
                <th translate="stepApp.risNewAppForm.approvalDate">Date</th>
                <th class="text-center" translate="stepApp.risNewAppForm.action">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="getjobRequest in approvedLists | filter:q | itemsPerPage: pageSize track by $index"
                current-page="currentPage">

                <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                <td>{{getjobRequest.CIRCULARNO}}</td>
                <td>{{getjobRequest.DATES | date}}</td>
                <td class="text-right no-print">
                    <button type="submit" ng-click="viewJobsBycircular(getjobRequest.CIRCULARNO)"
                            class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-eye"></span>&nbsp;
                        <span translate="entity.action.view"> View </span>
                    </button>
                    <button type="submit" ng-click="newJobPost(getjobRequest.CIRCULARNO)"
                            class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-edit"></span>&nbsp;
                        <span translate="entity.action.postJob"> Post Job</span>
                    </button>
                    <button type="submit"
                            ng-click=""
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
                        <span translate="entity.action.delete"> Reject</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>


    <div class="modal fade" id="jobApprove">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="approveForm" ng-submit="confirmApprove()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.risNewAppForm.delete.question"
                           translate-values="{id: '{{getByDesignation.id}}'}">Are you sure you want to delete
                            this
                            RisNewAppForm?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="approveForm.$invalid" class="btn btn-success">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Approve</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="postAlert">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="approveForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title"> Job Circular Posting </h4>
                    </div>
                    <div class="modal-body">
                        <p>Job Circular Posting to Job Portal Is Under Development </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="viewJobsBycircular">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="approveForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Details</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>serial</th>
                                <th>Circular Number</th>
                                <th>Allocated</th>
                                <th>Available</th>
                                <th>Current Employee</th>
                                <th>Department</th>
                                <th>Position</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="jobBycircular in JobByCircular">
                                <td>{{$index + 1}}</td>
                                <td>{{jobBycircular.CIRCULARNO}}</td>
                                <td>{{jobBycircular.ALLOCATED}}</td>
                                <td>{{jobBycircular.AVAILABLE_POSTINGS}}</td>
                                <td>{{jobBycircular.CURRENT_EMPLOYEE}}</td>
                                <td>{{jobBycircular.DEPARTMENT}}</td>
                                <td>{{jobBycircular.POSITION}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<br>

<div ng-if="forJobPosts" class="col-sm-12 common-dialogue">
    <form name="forJobPost" role="form" novalidate show-validation>
        <h4 translate="stepApp.risNewAppForm.createVacency">RisNewAppForms</h4>
        <div class="col-sm-12 padding-tb" ng-repeat="forJobPost in forJobPosts track by $index">
            <h3>{{forJobPost.POSITION}}</h3>
            <div class="form-group col-sm-6">
                <label class="control-label" translate="stepApp.risNewAppForm.CircularNo ">Circular No </label>
                <input type="text" class="form-control" name="experience" id="field_email" readonly
                       ng-model="forJobPost.CIRCULARNO" required
                />
            </div>

            <div class="form-group col-sm-6">
                <label class="control-label" translate="stepApp.risNewAppForm.available ">available</label>
                <input type="text" class="form-control" name="experience" id="field_postName" readonly
                       ng-model="forJobPost.AVAILABLE_POSTINGS" required
                />
            </div>

            <div class="form-group col-sm-6">
                <label class="control-label" translate="stepApp.risNewAppForm.designation ">designation</label>
                <input type="text" class="form-control" name="experience" id="field_nationalId" readonly
                       ng-model="forJobPost.POSITION"
                />
            </div>
            <div class="col-md-6">
                <div class="form-group" ngf-drop ngf-change="setAttachment($file, forJobPost)">
                    <div class="col-sm-12 no_padding">
                        <label translate="stepApp.risNewVacancy.attachment"
                               for="field_attachment">Attachment</label>
                        <div>
                            <div class="help-block clearfix">
                                <span class="pull-left">{{forJobPost.attachmentContentType}} {{byteSize(forJobPost.attachment)}}</span>
                                <button ng-click="forJobPost.attachment=null;forJobPost.attachmentContentType=null;"
                                        ng-if="forJobPost.attachment"
                                        class="btn btn-default btn-xs pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                            <div class="input-group">
                                <input type="text" readonly name="attachmentImgName"
                                       ng-model="forJobPost.attachmentImgName" class="form-control"
                                       placeholder="Select Attachment">
                              <span class="input-group-btn">
                                <button ngf-select ngf-change="setAttachment($file, forJobPost)"
                                        accept=".jpeg,.png,.jpg"
                                        ng-show="!fileUploadFinished"
                                        translate="entity.action.addblob" class="btn btn-default" type="button">Go!
                                </button>
                              </span>
                            </div>
                            <div class="col-md-2"
                                 ng-show="forJobPost.attachmentImgName!=null && forJobPost.attachment.id!=null">
                                <a class="download-afl btn btn-primary"
                                   href="/assets/uploadedContents/digiSignature/{{forJobPost.attachmentImgName}}"
                                   class="btn btn-primary" download>Download
                                </a>
                            </div>
                            <input type="hidden" class="form-control" name="attachment" id="field_attachment"
                                   ng-model="forJobPost.attachment"
                            />
                            <input type="hidden" class="form-control" name="attachmentContentType"
                                   id="field_attachmentContentType"
                                   ng-model="forJobPost.attachmentContentType"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label translate="stepApp.risNewVacancy.educationalQualification"
                       for="field_educationalQualification">EducationalQualification</label>
                <textarea type="text" class="form-control" name="educationalQualification"
                          id="field_educationalQualification"
                          ng-model="forJobPost.educationalQualification" ng-trim="false" required
                          cols="20" rows="4" maxlength="100"> </textarea>
            </div>
            <div class="form-group col-sm-12">
                <label translate="stepApp.risNewVacancy.otherQualification" for="field_otherQualification">OtherQualification</label>
                <textarea type="text" class="form-control" name="otherQualification" id="field_otherQualification"
                          ng-model="forJobPost.otherQualification" required
                          cols="20" rows="4" maxlength="100"> </textarea>
            </div>
            <div class="form-group col-sm-12">
                <label translate="stepApp.risNewVacancy.remarks" for="field_remarks">Remarks</label>
                <textarea type="text" class="form-control" name="remarks" id="field_remarks" required
                          ng-model="forJobPost.remarks" cols="20" rows="4" maxlength="100">
                </textarea>
            </div>
            <div class="col-sm-12">
                <br>
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label translate="stepApp.risNewVacancy.publishDate">PublishDate</label>
                    <div class="input-margin">
                        <input type="text" datepicker-popup="{{calendar.dateFormat}}"
                               is-open="calendar.opened['publishDate' + $index]"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'publishDate' + $index)" class="form-control"
                               name="publishDate" id="field_publishDate"
                               ng-model="forJobPost.publishDate"
                               required/>
                        <div ng-show="editForm2.publishDate.$invalid">
                            <p class="help-block"
                               ng-show="editForm2.publishDate.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label translate="stepApp.risNewVacancy.applicationDate">applicationDate</label>
                    <div class="input-margin">
                        <input type="text" datepicker-popup="{{calendar.dateFormat}}"
                               is-open="calendar.opened['applicationDate' + $index]"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'applicationDate' + $index)" class="form-control"
                               name="applicationDate" id="field_applicationDate"
                               ng-model="forJobPost.applicationDate"
                               required/>
                        <div ng-show="editForm2.applicationDate.$invalid">
                            <p class="help-block"
                               ng-show="editForm2.applicationDate.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <!--<div class="form-group col-sm-6">
                <label translate="stepApp.risNewVacancy.applicationDate"
                       for="field_applicationDate">ApplicationDate</label>
                <input class="form-control" type="text" datepicker-popup="yyyy-MM-dd" id="field_applicationDate"
                       ng-click="open($index)"
                       ng-model="forJobPost.applicationDate"
                       is-open="opened[$index]"
                       min="minDate"
                       datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)"
                       ng-required="true"
                />
            </div>-->

        </div>
        <div class="col-sm-12 text-right">
            <button type="submit" ng-click="saveJobItems()" ng-disabled="forJobPost.$invalid"
                    class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                translate="entity.action.save"> save </span>
            </button>
        </div>
        </form>
    </div>
</div>

<!--
<div class="col-md-12 no_padding lbl-content common-list">
    <div class="user-form-area">
        <div class="panel panel-primary">
            <div ng-if="forJobPosts" class="panel-heading" translate="stepApp.risNewAppForm.approve">Ris Admin View and
                Job Post
            </div>
            <div class=" bg-panel">
                <div class="col-sm-12 padding-bt">
                    <div class="col-md-8 col-xs-12 no_padding">
                        <div class="col-md-6 no_padding">
                            <b><span translate="global.home.searchhere">Search Here :</span></b>

                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"
                                                                                     aria-hidden="true"></i></span>
                                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <b><span translate="global.home.itemperpage">Items per page:</span></b>

                            <div class="input-group col-sm-4">
                                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-sm-12 table-responsive no_padding">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th translate="stepApp.risNewAppForm.serial">serial</th>
                            <th translate="stepApp.risNewAppForm.circularNo">Circular Number</th>
                            <th translate="stepApp.risNewAppForm.approvalDate">Approval Date</th>
                            <th class="text-center" translate="stepApp.risNewAppForm.action">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-animate="'animate'"
                            dir-paginate="getjobRequest in approvedLists | filter:q | itemsPerPage: pageSize track by $index"
                            current-page="currentPage">

                            <td>{{$index + 1}}</td>
                            <td>{{getjobRequest.CIRCULARNO}}</td>
                            <td>{{getjobRequest.DATES | date}}</td>
                            <td class="text-right">
                                <button type="submit" ng-click="viewJobsBycircular(getjobRequest.CIRCULARNO)"
                                        class="btn btn-success btn-sm">
                                    <span class="glyphicon glyphicon-eye"></span>&nbsp;
                                    <span translate="entity.action.view"> View </span>
                                </button>
                                <button type="submit" ng-click="newJobPost(getjobRequest.CIRCULARNO)"
                                        class="btn btn-success btn-sm">
                                    <span class="glyphicon glyphicon-edit"></span>&nbsp;
                                    <span translate="entity.action.postJob"> Post Job</span>
                                </button>
                                <button type="submit"
                                        ng-click=""
                                        class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
                                    <span translate="entity.action.delete"> Reject</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav>
                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
                    </nav>
                </div>


                <div class="modal fade" id="jobApprove">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form name="approveForm" ng-submit="confirmApprove()">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                            ng-click="clear()">&times;</button>
                                    <h4 class="modal-title" translate="entity.delete.title">Confirm delete
                                        operation</h4>
                                </div>
                                <div class="modal-body">
                                    <p translate="stepApp.risNewAppForm.delete.question"
                                       translate-values="{id: '{{getByDesignation.id}}'}">Are you sure you want to
                                        delete this RisNewAppForm?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            ng-click="clear()">
                                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                        translate="entity.action.cancel">Cancel</span>
                                    </button>
                                    <button type="submit" ng-disabled="approveForm.$invalid" class="btn btn-success">
                                        <span
                                            class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Approve</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="postAlert">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form name="approveForm">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                            ng-click="clear()">&times;</button>
                                    <h4 class="modal-title"> Job Circular Posting </h4>
                                </div>
                                <div class="modal-body">
                                    <p>Job Circular Posting to Job Portal Is Under Development </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            ng-click="clear()">
                                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                        translate="entity.action.cancel">Cancel</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="viewJobsBycircular">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form name="approveForm">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                            ng-click="clear()">&times;</button>
                                    <h4 class="modal-title">Details</h4>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>serial</th>
                                            <th>Circular Number</th>
                                            <th>Allocated</th>
                                            <th>Available</th>
                                            <th>Current Employee</th>
                                            <th>Department</th>
                                            <th>Position</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="jobBycircular in JobByCircular">
                                            <td>{{$index + 1}}</td>
                                            <td>{{jobBycircular.CIRCULARNO}}</td>
                                            <td>{{jobBycircular.ALLOCATED}}</td>
                                            <td>{{jobBycircular.AVAILABLE_POSTINGS}}</td>
                                            <td>{{jobBycircular.CURRENT_EMPLOYEE}}</td>
                                            <td>{{jobBycircular.DEPARTMENT}}</td>
                                            <td>{{jobBycircular.POSITION}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            ng-click="clear()">
                                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                        translate="entity.action.cancel">Cancel</span>
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

            <br>

            <div ng-if="forJobPosts" class="col-sm-12">
                <div>
                    <h2 translate="stepApp.risNewAppForm.createVacency">RisNewAppForms</h2>

                    <div class="col-sm-12 padding-bt" ng-repeat="forJobPost in forJobPosts track by $index">
                        <h3>{{forJobPost.POSITION}}</h3>

                        <div class="form-group col-sm-6">
                            <label class="control-label" translate="stepApp.risNewAppForm.CircularNo ">Circular
                                No </label>
                            <input type="text" class="form-control" name="experience" id="field_email" readonly
                                   ng-model="forJobPost.CIRCULARNO"
                                />
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="control-label" translate="stepApp.risNewAppForm.available ">available</label>
                            <input type="text" class="form-control" name="experience" id="field_postName" readonly
                                   ng-model="forJobPost.AVAILABLE_POSTINGS"
                                />
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="control-label"
                                   translate="stepApp.risNewAppForm.designation ">designation</label>
                            <input type="text" class="form-control" name="experience" id="field_nationalId" readonly
                                   ng-model="forJobPost.POSITION"
                                />
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ngf-drop ngf-change="setAttachment($file, forJobPost)">
                                <div class="col-sm-12 no_padding">
                                    <label translate="stepApp.risNewVacancy.attachment" for="field_attachment">Attachment</label>

                                    <div>
                                        <div class="help-block clearfix">
                                            <span class="pull-left">{{forJobPost.attachmentContentType}} {{byteSize(forJobPost.attachment)}}</span>
                                            <button
                                                ng-click="forJobPost.attachment=null;forJobPost.attachmentContentType=null;"
                                                ng-if="forJobPost.attachment"
                                                class="btn btn-default btn-xs pull-right">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </div>
                                        <div class="input-group">
                                            <input type="text" readonly name="attachmentImgName"
                                                   ng-model="forJobPost.attachmentImgName" class="form-control"
                                                   placeholder="Select Attachment">
                              <span class="input-group-btn">
                                <button ngf-select ngf-change="setAttachment($file, forJobPost)"
                                        accept=".jpeg,.png,.jpg"
                                        ng-show="!fileUploadFinished"
                                        translate="entity.action.addblob" class="btn btn-default" type="button">Go!
                                </button>
                              </span>
                                        </div>
                                        <div class="col-md-2"
                                             ng-show="forJobPost.attachmentImgName!=null && forJobPost.attachment.id!=null">
                                            <a class="download-afl btn btn-primary"
                                               href="assets/dlms/{{forJobPost.attachmentImgName}}"
                                               class="btn btn-primary" download>Download
                                            </a>
                                        </div>
                                        <input type="hidden" class="form-control" name="attachment"
                                               id="field_attachment"
                                               ng-model="forJobPost.attachment"
                                            />
                                        <input type="hidden" class="form-control" name="attachmentContentType"
                                               id="field_attachmentContentType"
                                               ng-model="forJobPost.attachmentContentType"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label translate="stepApp.risNewVacancy.educationalQualification"
                                   for="field_educationalQualification">EducationalQualification</label>
                            <textarea type="text" class="form-control" name="educationalQualification"
                                      id="field_educationalQualification"
                                      ng-model="forJobPost.educationalQualification" ng-trim="false"
                                      cols="20" rows="4" maxlength="100"> </textarea>
                        </div>
                        <div class="form-group col-sm-12">
                            <label translate="stepApp.risNewVacancy.otherQualification" for="field_otherQualification">OtherQualification</label>
                            <textarea type="text" class="form-control" name="otherQualification"
                                      id="field_otherQualification"
                                      ng-model="forJobPost.otherQualification"
                                      cols="20" rows="4" maxlength="100"> </textarea>
                        </div>
                        <div class="form-group col-sm-12">
                            <label translate="stepApp.risNewVacancy.remarks" for="field_remarks">Remarks</label>
                            <textarea type="text" class="form-control" name="remarks" id="field_remarks"
                                      ng-model="forJobPost.remarks" cols="20" rows="4" maxlength="100">
                            </textarea>
                        </div>
                        <div class="col-sm-12">
                            <br>
                        </div>


                        <div class="form-group col-sm-6">
                            <label translate="stepApp.risNewVacancy.publishDate">PublishDate</label>

                            <div class="input-margin">
                                <input class="form-control" type="text" datepicker-popup="yyyy-MM-dd"
                                       ng-click="open2($index)"
                                       ng-model="forJobPost.publishDate"
                                       is-open="opened2[$index]"
                                       min="minDate"
                                       max="'2025-06-22'"
                                       datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)"
                                       ng-required="true"
                                    />

                            </div>
                        </div>


                        <div class="form-group col-sm-6">
                            <label translate="stepApp.risNewVacancy.applicationDate" for="field_applicationDate">ApplicationDate</label>
                            <input class="form-control" type="text" datepicker-popup="yyyy-MM-dd"
                                   id="field_applicationDate"
                                   ng-click="open($index)"
                                   ng-model="forJobPost.applicationDate"
                                   is-open="opened[$index]"
                                   min="minDate"
                                   max="'2025-06-22'"
                                   datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)"
                                   ng-required="true"
                                />
                        </div>

                    </div>
                    <div class="col-sm-12 text-right">
                        <button type="submit" ng-click="saveJobItems()"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save"> save </span>
                        </button>
                    </div>
                </div>
            </div>



-->
