<div class="col-md-12 common-table tab-3">
    <tabset justified="true">
        <tab heading="General Information">
            <div>
                <h2><span translate="stepApp.risNewAppForm.detail.title">RisNewAppForm</span>
                    {{risAppDetailByIds.risNewAppForm.regNo}}</h2>
                <br>
                <div class="table-responsive col-md-12 no_padding">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th translate="entity.detail.field">Field</th>
                            <th translate="entity.detail.value">Value</th>
                            <th translate="entity.detail.field">Field</th>
                            <th translate="entity.detail.value">Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2">
                                <div class="col-sm-12 ris-img">
                                    <p translate="stepApp.risNewAppForm.applicantImg">ApplicantImg</p>
                                    <img class="col-sm-12"

                                         src="assets/dlms/{{risAppDetailByIds.risNewAppForm.applicantImgName}}"
                                         alt="applicantImg image">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.designation">Designation</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{risAppDetailByIds.risNewAppForm.designation}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.risNewAppForm.circularNo">CircularNo</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{risAppDetailByIds.risNewAppForm.circularNo}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.applicationDate">ApplicationDate</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{risAppDetailByIds.risNewAppForm.applicationDate | date:'mediumDate'}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.risNewAppForm.applicantsNameBn">ApplicantsNameBn</span>
                            </td>
                            <td>
                            <span
                                class="form-control-static">{{risAppDetailByIds.risNewAppForm.applicantsNameBn}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.applicantsNameEn">ApplicantsNameEn</span>
                            </td>
                            <td>
                            <span
                                class="form-control-static">{{risAppDetailByIds.risNewAppForm.applicantsNameEn}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.risNewAppForm.nationalId">NationalId</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{risAppDetailByIds.risNewAppForm.nationalId}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.birthCertificateNo">BirthCertificateNo</span>
                            </td>
                            <td>
                            <span
                                class="form-control-static">{{risAppDetailByIds.risNewAppForm.birthCertificateNo}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.risNewAppForm.birthDate">BirthDate</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{risAppDetailByIds.risNewAppForm.birthDate | date:'mediumDate'}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.age">Age</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{risAppDetailByIds.risNewAppForm.age}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.risNewAppForm.fathersName">FathersName</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{risAppDetailByIds.risNewAppForm.fathersName}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.Quota">Quota</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{risAppDetailByIds.risNewAppForm.qouta}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.risNewAppForm.mothersName">MothersName</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{risAppDetailByIds.risNewAppForm.mothersName}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.holdingNameBnPresent">HoldingNameBnPresent</span>
                            </td>
                            <td>
                            <span
                                class="form-control-static">{{risAppDetailByIds.risNewAppForm.holdingNameBnPresent}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.risNewAppForm.villageBnPresent">VillageBnPresent</span>
                            </td>
                            <td>
                            <span
                                class="form-control-static">{{risAppDetailByIds.risNewAppForm.villageBnPresent}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.unionBnPresent">UnionBnPresent</span>
                            </td>
                            <td>
                                <span
                                    class="form-control-static">{{risAppDetailByIds.risNewAppForm.unionBnPresent}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.risNewAppForm.poBnPresent">PoBnPresent</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{risAppDetailByIds.risNewAppForm.poBnPresent}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.poCodeBnPresent">PoCodeBnPresent</span>
                            </td>
                            <td>
                                <span
                                    class="form-control-static">{{risAppDetailByIds.risNewAppForm.poCodeBnPresent}}</span>
                            </td>
                            <td>
                                <span
                                    translate="stepApp.risNewAppForm.holdingNameBnPermanent">HoldingNameBnPermanent</span>
                            </td>
                            <td>
                            <span
                                class="form-control-static">{{risAppDetailByIds.risNewAppForm.holdingNameBnPermanent}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.villageBnPermanent">VillageBnPermanent</span>
                            </td>
                            <td>
                            <span
                                class="form-control-static">{{risAppDetailByIds.risNewAppForm.villageBnPermanent}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.risNewAppForm.unionBnPermanent">UnionBnPermanent</span>
                            </td>
                            <td>
                            <span
                                class="form-control-static">{{risAppDetailByIds.risNewAppForm.unionBnPermanent}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.poBnPermanent">PoBnPermanent</span>
                            </td>
                            <td>
                                <span
                                    class="form-control-static">{{risAppDetailByIds.risNewAppForm.poBnPermanent}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.risNewAppForm.poCodeBnPermanent">PoCodeBnPermanent</span>
                            </td>
                            <td>
                            <span
                                class="form-control-static">{{risAppDetailByIds.risNewAppForm.poCodeBnPermanent}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.contactPhone">ContactPhone</span>
                            </td>
                            <td>
                                <span
                                    class="form-control-static">{{risAppDetailByIds.risNewAppForm.contactPhone}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.risNewAppForm.email">Email</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{risAppDetailByIds.risNewAppForm.email}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.nationality">Nationality</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{risAppDetailByIds.risNewAppForm.nationality}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.risNewAppForm.profession">Profession</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{risAppDetailByIds.risNewAppForm.profession}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.religion">Religion</span>
                            </td>
                            <td>
                            <span class="form-control-static">{{risNewAppForm.religion}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.risNewAppForm.holdingNameEnPresent">HoldingNameEnPresent</span>
                            </td>
                            <td>
                            <span
                                class="form-control-static">{{risAppDetailByIds.risNewAppForm.holdingNameEnPresent}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.villageEnPresent">VillageEnPresent</span>
                            </td>
                            <td>
                            <span
                                class="form-control-static">{{risAppDetailByIds.risNewAppForm.villageEnPresent}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.risNewAppForm.unionEnPresent">UnionEnPresent</span>
                            </td>
                            <td>
                                <span
                                    class="form-control-static">{{risAppDetailByIds.risNewAppForm.unionEnPresent}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.poEnPresent">PoEnPresent</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{risAppDetailByIds.risNewAppForm.poEnPresent}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.risNewAppForm.poCodeEnPresent">PoCodeEnPresent</span>
                            </td>
                            <td>
                                <span
                                    class="form-control-static">{{risAppDetailByIds.risNewAppForm.poCodeEnPresent}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span
                                    translate="stepApp.risNewAppForm.holdingNameEnPermanent">HoldingNameEnPermanent</span>
                            </td>
                            <td>
                            <span
                                class="form-control-static">{{risAppDetailByIds.risNewAppForm.holdingNameEnPermanent}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.risNewAppForm.villageEnPermanent">VillageEnPermanent</span>
                            </td>
                            <td>
                            <span
                                class="form-control-static">{{risAppDetailByIds.risNewAppForm.villageEnPermanent}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.unionEnPermanent">UnionEnPermanent</span>
                            </td>
                            <td>
                            <span
                                class="form-control-static">{{risAppDetailByIds.risNewAppForm.unionEnPermanent}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.risNewAppForm.poEnPermanent">PoEnPermanent</span>
                            </td>
                            <td>
                                <span
                                    class="form-control-static">{{risAppDetailByIds.risNewAppForm.poEnPermanent}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.poCodeEnPermanent">PoCodeEnPermanent</span>
                            </td>
                            <td>
                            <span
                                class="form-control-static">{{risAppDetailByIds.risNewAppForm.poCodeEnPermanent}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.risNewAppForm.district">district</span>
                            </td>
                            <td>
                                <a class="form-control-static"
                                   ui-sref="district.detail({id:risNewAppForm.district.id})">{{risNewAppForm.district.name}}</a>
                            </td>
                        </tr>
                        <!--<tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.createDate">CreateDate</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{risAppDetailByIds.risNewAppForm.createDate | date:'mediumDate'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.createBy">CreateBy</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{risAppDetailByIds.risNewAppForm.createBy}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.updateDate">UpdateDate</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{risAppDetailByIds.risNewAppForm.updateDate | date:'mediumDate'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.updateBy">UpdateBy</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{risAppDetailByIds.risNewAppForm.updateBy}}</span>
                            </td>
                        </tr>-->

                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppForm.upazila">upazila</span>
                            </td>
                            <td>
                                <a class="form-control-static" ui-sref="upazila.detail({id:risNewAppForm.upazila.id})">{{risNewAppForm.upazila.name}}</a>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <button type="submit"
                        onclick="window.history.back()"
                        class="btn btn-info">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                    translate="entity.action.back"> Back</span>
                </button>
            </div>
        </tab>
        <tab heading="Educational Information">
            <div class="col-sm-12 no_padding" ng-repeat="item in items track by $index">
                <br>
                <div class="col-md-12 table-responsive no_padding">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th translate="entity.detail.field">Field</th>
                            <th translate="entity.detail.value">Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppFormTwo.examName">ExamName</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{item.examName}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppFormTwo.subject">Subject</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{item.subject}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span
                                    translate="stepApp.risNewAppFormTwo.educationalInstitute">EducationalInstitute</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{item.educationalInstitute}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppFormTwo.passingYear">PassingYear</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{item.passingYear}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.risNewAppFormTwo.boardUniversity">BoardUniversity</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{item.boardUniversity}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <span
                                translate="stepApp.risNewAppFormTwo.additionalInformation">AdditionalInformation</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{item.additionalInformation}}</span>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <button type="submit"
                    onclick="window.history.back()"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                translate="entity.action.back"> Back</span>
            </button>
        </tab>
        <tab heading="Financial Information">
            <div class="col-md-12 table-responsive no_padding">
                <br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th translate="entity.detail.field">Field</th>
                        <th translate="entity.detail.value">Value</th>
                        <th translate="entity.detail.field">Field</th>
                        <th translate="entity.detail.value">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span translate="stepApp.risNewAppFormTwo.bankDraftNo">BankDraftNo</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{risAppDetailByIds.risNewAppFormTwo.bankDraftNo}}</span>
                        </td>
                        <td>
                            <span translate="stepApp.risNewAppFormTwo.dateFinDocument">DateFinDocument</span>
                        </td>
                        <td>
                            <span
                                class="form-control-static">{{risAppDetailByIds.risNewAppFormTwo.dateFinDocument}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.risNewAppFormTwo.bankName">BankName</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{risAppDetailByIds.risNewAppFormTwo.bankName}}</span>
                        </td>
                        <td>
                            <span translate="stepApp.risNewAppFormTwo.branchName">BranchName</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{risAppDetailByIds.risNewAppFormTwo.branchName}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span
                                translate="stepApp.risNewAppFormTwo.departmentalCandidate">DepartmentalCandidate</span>
                        </td>
                        <td>
                    <span
                        class="form-control-static">{{risAppDetailByIds.risNewAppFormTwo.departmentalCandidate}}</span>
                        </td>
                        <!--<td>
                            <span translate="stepApp.risNewAppFormTwo.createdDate">CreatedDate</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{risAppDetailByIds.risNewAppFormTwo.createdDate | date:'mediumDate'}}</span>
                        </td>-->
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="col-sm-12 ris-img">
                                <p translate="stepApp.risNewAppFormTwo.bankInvoice">BankInvoice</p>

                                <div class="ri-img text-center">
                                    <img class="col-sm-12"
                                         src="assets/dlms/{{risAppDetailByIds.risNewAppFormTwo.bankInvoiceName}}"
                                         alt="Invoice image">
                                </div>
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="col-sm-12 ris-img">
                                <p translate="stepApp.risNewAppFormTwo.signature">Signature</p>
                                <img class="col-sm-12"
                                     src="assets/dlms/{{risAppDetailByIds.risNewAppFormTwo.signatureImgName}}"
                                     alt="book image">
                            </div>
                        </td>
                    </tr>
                    <!--<tr>
                        <td>
                            <span translate="stepApp.risNewAppFormTwo.updatedDate">UpdatedDate</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{risAppDetailByIds.risNewAppFormTwo.updatedDate | date:'mediumDate'}}</span>
                        </td>
                        <td>
                            <span translate="stepApp.risNewAppFormTwo.createdBy">CreatedBy</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{risAppDetailByIds.risNewAppFormTwo.createdBy}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.risNewAppFormTwo.updatedBy">UpdatedBy</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{risAppDetailByIds.risNewAppFormTwo.updatedBy}}</span>
                        </td>
                        <td>
                            <span translate="stepApp.risNewAppFormTwo.status">Status</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{risAppDetailByIds.risNewAppFormTwo.status}}</span>
                        </td>
                    </tr>-->
                    </tbody>
                </table>
            </div>
            <button type="submit"
                    onclick="window.history.back()"
                    class="btn btn-info no-print">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                translate="entity.action.back"> Back</span>
            </button>
        </tab>
    </tabset>
</div>

