<div class="col-md-12 common-dialogue">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 " style="margin-bottom: 20px">
            <h4 translate="stepApp.risNewAppForm.registertitle">Registration</h4>

            <div class="alert alert-success" ng-show="success" translate="register.messages.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" ng-show="error" translate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" ng-show="errorUserExists" translate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists" translate="register.messages.error.emailexists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch" translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>
        </div>


        <div class="col-md-8 col-md-offset-2">
            <form ng-show="!success" name="form" role="form" novalidate ng-submit="register()" show-validation>

                <!--first name -->
                <div class="form-group">
                    <label for="login" translate="global.form.firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName"
                           placeholder="{{'global.form.firstName' | translate}}"
                           ng-model="risRegistration.firstName" required>

                </div>
                <div class="form-group">
                    <label for="login" translate="global.form.lastName">First Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName"
                           placeholder="{{'global.form.lastName' | translate}}"
                           ng-model="risRegistration.lastName" required>

                </div>

                <div class="form-group">
                    <label for="login" translate="global.form.username">Username</label>
                    <input type="text" class="form-control" id="login" name="login"
                           placeholder="{{'global.form.username.placeholder' | translate}}"
                           ng-model="risRegistration.login"
                           ng-remote-validate="/api/account/checkLogin/"
                           ng-remote-method="GET"
                           ng-remote-throttle="250"
                           ng-minlength=3 ng-maxlength=50 ng-pattern="/^[a-z0-9]*$/" required>
                    <span class="message" ng-show="editForm.login.$pending">validating...</span>
                    <div ng-show="form.login.$invalid">
                        <p class="help-block"
                           ng-show="form.login.$error.ngRemoteValidate">
                            This user already exists
                        </p>
                    </div>
                    <div ng-show="form.login.$dirty && form.login.$invalid">
                        <p class="help-block"
                           ng-show="form.login.$error.required" translate="register.messages.validate.login.required">
                            Your username is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.login.$error.minlength" translate="register.messages.validate.login.minlength">
                            Your username is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                           ng-show="form.login.$error.maxlength" translate="register.messages.validate.login.maxlength">
                            Your username cannot be longer than 50 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.login.$error.pattern" translate="register.messages.validate.login.pattern">
                            Your username can only contain lower-case letters and digits.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" translate="global.form.email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email"
                           placeholder="{{'global.form.email.placeholder' | translate}}"
                           ng-model="risRegistration.emailRegistration"
                           ng-remote-validate="/api/account/checkEmail/"
                           ng-remote-method="GET"
                           ng-remote-throttle="500"
                           ng-minlength=5 ng-maxlength=100 required>
                    <span class="message" ng-show="editForm.email.$pending">validating...</span>
                    <div ng-show="form.email.$invalid">
                        <p class="help-block"
                           ng-show="form.email.$error.ngRemoteValidate">
                            This email already exists
                        </p>
                    </div>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                           ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.minlength" translate="global.messages.validate.email.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" translate="global.form.newpassword">New password</label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           ng-model="risRegistration.password" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required"
                           translate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength"
                           translate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength"
                           translate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="risRegistration.password"></password-strength-bar>
                </div>

                <div class="form-group">
                    <label for="confirmPassword" translate="global.form.confirmpassword">New password
                        confirmation</label>
                    <input type="password" ng-keyup="matchPass(risRegistration.password, confirmPassword)"
                           class="form-control" id="confirmPassword"
                           name="confirmPassword"
                           placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           ng-model="confirmPassword" ng-maxlength=50 required>

                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required"
                           translate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength"
                           translate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength"
                           translate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </p>
                    </div>

                    <p ng-show="notMatched" style="font-size: 0.8em; color:red;">Password doesn't matched !</p>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary"
                        translate="stepApp.risNewAppForm.registerformbutton">Register
                </button>
            </form>
            <p></p>
            <!--<div class="alert alert-warning"  ng-hide="form.$invalid" translate="global.messages.info.authenticated">
                If you want to <a class="alert-link" href="#/login">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
            </div>-->
        </div>
        <!-- <div class="col-md-4">
             <br/>
             <jh-social ng-provider="google"></jh-social>
             <jh-social ng-provider="facebook"></jh-social>
             <jh-social ng-provider="twitter"></jh-social>
         </div>-->
    </div>

    <div class="modal fade" id="registerComplete">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Your User Name Has Been Created</h4>
                    </div>
                    <div class="modal-body">
                        <p>Registration Successful. Please check your Email</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.ok">ok</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
