<div class="col-md-12 common-table padding-left5 padding-right0">
<h2><span translate="stepApp.hrEmpOtherServiceInfo.detail.title">HrEmpOtherServiceInfo</span> of {{hrEmpOtherServiceInfo.employeeInfo.fullName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpOtherServiceInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrEmpOtherServiceInfo.employeeInfo.id})">{{hrEmpOtherServiceInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpOtherServiceInfo.companyName">CompanyName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpOtherServiceInfo.companyName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpOtherServiceInfo.address">Address</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpOtherServiceInfo.address}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpOtherServiceInfo.serviceType">ServiceType</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpOtherServiceInfo.serviceType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpOtherServiceInfo.position">Position</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpOtherServiceInfo.position}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpOtherServiceInfo.fromDate">FromDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpOtherServiceInfo.fromDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpOtherServiceInfo.toDate">ToDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpOtherServiceInfo.toDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpOtherServiceInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpOtherServiceInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.hrEmpOtherServiceInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpOtherServiceInfo.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpOtherServiceInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpOtherServiceInfo.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpOtherServiceInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpOtherServiceInfo.updateDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpOtherServiceInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpOtherServiceInfo.updateBy}}</span>
                </td>
            </tr>-->

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel"> cancel</span>
    </button>
</div>
