<div class="col-md-12 common-list padding-right0 padding-left5">
    <h2 translate="stepApp.hrEmpOtherServiceInfo.home.title">HrEmpOtherServiceInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrEmpOtherServiceInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrEmpOtherServiceInfo.home.createLabel">Create a new HrEmpOtherServiceInfo</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <!--<th><span translate="global.field.id">ID</span></th>-->
                <th><span translate="stepApp.hrEmpOtherServiceInfo.employeeInfo">employeeInfo</span></th>
                <th><span translate="stepApp.hrEmpOtherServiceInfo.companyName">CompanyName</span></th>
                <th><span translate="stepApp.hrEmpOtherServiceInfo.serviceType">ServiceType</span></th>
                <!--<th><span translate="stepApp.hrEmpOtherServiceInfo.position">Position</span></th>
                <th><span translate="stepApp.hrEmpOtherServiceInfo.fromDate">FromDate</span></th>
                -->
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrEmpOtherServiceInfo in hrEmpOtherServiceInfos | filter:q | itemsPerPage: pageSize track by hrEmpOtherServiceInfo.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <!--<td><a ui-sref="hrEmpOtherServiceInfo.detail({id:hrEmpOtherServiceInfo.id})">{{hrEmpOtherServiceInfo.id}}</a>
                </td>-->
                <td>
                    <a ui-sref="hrEmployeeInfo.detail({id:hrEmpOtherServiceInfo.employeeInfo.id})">{{hrEmpOtherServiceInfo.employeeInfo.fullName}}</a>
                </td>
                <td>{{hrEmpOtherServiceInfo.companyName}}</td>
                <td>{{hrEmpOtherServiceInfo.serviceType}}</td>
                <!--<td>{{hrEmpOtherServiceInfo.position}}</td>
                <td>{{hrEmpOtherServiceInfo.fromDate | date:'mediumDate'}}</td>
                -->
                <td class="hrm-button text-right no-print">
                    <button type="submit"
                            ui-sref="hrEmpOtherServiceInfo.detail({id:hrEmpOtherServiceInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit" ng-hide="false"
                            ui-sref="hrEmpOtherServiceInfo.edit({id:hrEmpOtherServiceInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrEmpOtherServiceInfo.delete({id:hrEmpOtherServiceInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
