<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 translate="password.title" translate-values="{username: '{{account.login}}'}">Password for [<b>{{account.login}}</b>]</h2>
            </div>
            <div class="panel-body">
                <div class="alert alert-success" ng-show="success" translate="password.messages.success">
                    <strong>Password changed!</strong>
                </div>
                <div class="alert alert-danger" ng-show="error"  translate="password.messages.error">
                    <strong>An error has occurred!</strong> The password could not be changed.
                </div>

                <div class="alert alert-danger" ng-show="doNotMatch" translate="global.messages.error.dontmatch">
                    The password and its confirmation do not match!
                </div>

                <form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>

                    <div class="form-group">
                        <label for="currentPassword">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Current Password"
                               ng-model="currentPassword" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form.currentPassword.$dirty && form.currentPassword.$invalid">
                            <p class="help-block"
                               ng-show="form.currentPassword.$error.required">
                                Your current password is required.
                            </p>
                            <p class="help-block"
                               ng-show="form.currentPassword.$error.minlength">
                                Your current password is required to be at least 5 characters.
                            </p>
                            <p class="help-block"
                               ng-show="form.currentPassword.$error.maxlength">
                                Your current password cannot be longer than 50 characters.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" translate="global.form.newpassword">New password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                               ng-model="password" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form.password.$dirty && form.password.$invalid">
                            <p class="help-block"
                               ng-show="form.password.$error.required" translate="global.messages.validate.newpassword.required">
                                Your password is required.
                            </p>
                            <p class="help-block"
                               ng-show="form.password.$error.minlength" translate="global.messages.validate.newpassword.minlength">
                                Your password is required to be at least 5 characters.
                            </p>
                            <p class="help-block"
                               ng-show="form.password.$error.maxlength" translate="global.messages.validate.newpassword.maxlength">
                                Your password cannot be longer than 50 characters.
                            </p>
                        </div>
                        <password-strength-bar password-to-check="password"></password-strength-bar>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" translate="global.form.confirmpassword">New password confirmation</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                               ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.required" translate="global.messages.validate.confirmpassword.required">
                                Your confirmation password is required.
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength" translate="global.messages.validate.confirmpassword.minlength">
                                Your confirmation password is required to be at least 5 characters.
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
                                Your confirmation password cannot be longer than 50 characters.
                            </p>
                        </div>
                    </div>

                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ><span class="glyphicon glyphicon-ok"></span>&nbsp;</span>&nbsp;<span translate="password.form.button">Save</span></button>
                    <a ui-sref="home" href="#/">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ui-serf="home">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                    </a>
                </form>
            </div>
        </div>

    </div>
</div>



<style>
    .panel-default{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .panel-heading{
        background:#0B763B !important;
    }
    .panel-heading h2{
        margin: 0;
        padding: 0;
        font-size: 16px;
        color:#fff
    }
</style>


<!--<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2 translate="password.title" translate-values="{username: '{{account.login}}'}">Password for [<b>{{account.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="success" translate="password.messages.success">
                <strong>Password changed!</strong>
            </div>
            <div class="alert alert-danger" ng-show="error"  translate="password.messages.error">
                <strong>An error has occurred!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch" translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

            <form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>

                <div class="form-group">
                    <label for="password" translate="global.form.newpassword">New password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           ng-model="password" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required" translate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength" translate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength" translate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" translate="global.form.confirmpassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required" translate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength" translate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ><span class="glyphicon glyphicon-ok"></span>&nbsp;</span>&nbsp;<span translate="password.form.button">Save</span></button>
                <a ui-sref="home" href="#/">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ui-serf="home">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                </a>
            </form>
        </div>
    </div>
</div>-->
