<div>
    <h2 translate="stepApp.pfmsLoanAppFlow.home.title">PfmsLoanAppFlows</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="pfmsLoanAppFlow.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.pfmsLoanAppFlow.home.createLabel">Create a new PfmsLoanAppFlow</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a PfmsLoanAppFlow</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePfmsLoanAppFlowConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(pfmsLoanAppFlow.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.pfmsLoanAppFlow.delete.question" translate-values="{id: '{{pfmsLoanAppFlow.id}}'}">Are you sure you want to delete this PfmsLoanAppFlow?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.pfmsLoanAppFlow.authorityStatus">AuthorityStatus</th>
                    <th translate="stepApp.pfmsLoanAppFlow.erpAuthorityAction">ErpAuthorityAction</th>
                    <th translate="stepApp.pfmsLoanAppFlow.activeStatus">ActiveStatus</th>
                    <th translate="stepApp.pfmsLoanAppFlow.createDate">CreateDate</th>
                    <th translate="stepApp.pfmsLoanAppFlow.createBy">CreateBy</th>
                    <th translate="stepApp.pfmsLoanAppFlow.updateDate">UpdateDate</th>
                    <th translate="stepApp.pfmsLoanAppFlow.updateBy">UpdateBy</th>
                    <th translate="stepApp.pfmsLoanAppFlow.erpAuthorityFlow">erpAuthorityFlow</th>
                    <th translate="stepApp.pfmsLoanAppFlow.authorizedEmployee">authorizedEmployee</th>
                    <th translate="stepApp.pfmsLoanAppFlow.pfmsLoanApp">pfmsLoanApp</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pfmsLoanAppFlow in pfmsLoanAppFlows track by pfmsLoanAppFlow.id">
                    <td><a ui-sref="pfmsLoanAppFlow.detail({id:pfmsLoanAppFlow.id})">{{pfmsLoanAppFlow.id}}</a></td>
                    <td translate="{{'stepApp.AuthorityStatus.' + pfmsLoanAppFlow.authorityStatus}}">{{pfmsLoanAppFlow.authorityStatus}}</td>
                    <td translate="{{'stepApp.ErpAuthorityAction.' + pfmsLoanAppFlow.erpAuthorityAction}}">{{pfmsLoanAppFlow.erpAuthorityAction}}</td>
                    <td>{{pfmsLoanAppFlow.activeStatus}}</td>
                        <td>{{pfmsLoanAppFlow.createDate | date:'mediumDate'}}</td>
                    <td>{{pfmsLoanAppFlow.createBy}}</td>
                        <td>{{pfmsLoanAppFlow.updateDate | date:'mediumDate'}}</td>
                    <td>{{pfmsLoanAppFlow.updateBy}}</td>
                    <td>
                        <a ui-sref="ErpAuthorityFlow.detail({id:pfmsLoanAppFlow.erpAuthorityFlow.id})">{{pfmsLoanAppFlow.erpAuthorityFlow.authorityCategory}}</a>
                    </td>
                    <td>
                        <a ui-sref="HrEmployeeInfo.detail({id:pfmsLoanAppFlow.authorizedEmployee.id})">{{pfmsLoanAppFlow.authorizedEmployee.fullName}}</a>
                    </td>
                    <td>
                        <a ui-sref="PfmsLoanApplication.detail({id:pfmsLoanAppFlow.pfmsLoanApp.id})">{{pfmsLoanAppFlow.pfmsLoanApp.fullName}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="pfmsLoanAppFlow.detail({id:pfmsLoanAppFlow.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="pfmsLoanAppFlow.edit({id:pfmsLoanAppFlow.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(pfmsLoanAppFlow.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
