
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPfmsLoanAppFlowLabel" translate="stepApp.pfmsLoanAppFlow.home.createOrEditLabel">Create or edit a PfmsLoanAppFlow</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="pfmsLoanAppFlow.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.pfmsLoanAppFlow.authorityStatus" for="field_authorityStatus">AuthorityStatus</label>
            <select class="form-control" name="authorityStatus" ng-model="pfmsLoanAppFlow.authorityStatus" id="field_authorityStatus">
                <option value="Pending" translate="stepApp.AuthorityStatus.Pending">Pending</option>
                <option value="Reject" translate="stepApp.AuthorityStatus.Reject">Reject</option>
                <option value="Approved" translate="stepApp.AuthorityStatus.Approved">Approved</option>
            </select>
        </div>
        <div class="form-group">
            <label translate="stepApp.pfmsLoanAppFlow.erpAuthorityAction" for="field_erpAuthorityAction">ErpAuthorityAction</label>
            <select class="form-control" name="erpAuthorityAction" ng-model="pfmsLoanAppFlow.erpAuthorityAction" id="field_erpAuthorityAction">
                <option value="Pending" translate="stepApp.ErpAuthorityAction.Pending">Pending</option>
                <option value="Reject" translate="stepApp.ErpAuthorityAction.Reject">Reject</option>
                <option value="Approved" translate="stepApp.ErpAuthorityAction.Approved">Approved</option>
            </select>
        </div>
        <div class="form-group">
            <label translate="stepApp.pfmsLoanAppFlow.activeStatus" for="field_activeStatus">ActiveStatus</label>
            <input type="checkbox" class="form-control" name="activeStatus" id="field_activeStatus"
                    ng-model="pfmsLoanAppFlow.activeStatus"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.pfmsLoanAppFlow.createDate" for="field_createDate">CreateDate</label>
            <input type="date" class="form-control" name="createDate" id="field_createDate"
                    ng-model="pfmsLoanAppFlow.createDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.pfmsLoanAppFlow.createBy" for="field_createBy">CreateBy</label>
            <input type="number" class="form-control" name="createBy" id="field_createBy"
                    ng-model="pfmsLoanAppFlow.createBy"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.pfmsLoanAppFlow.updateDate" for="field_updateDate">UpdateDate</label>
            <input type="date" class="form-control" name="updateDate" id="field_updateDate"
                    ng-model="pfmsLoanAppFlow.updateDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.pfmsLoanAppFlow.updateBy" for="field_updateBy">UpdateBy</label>
            <input type="number" class="form-control" name="updateBy" id="field_updateBy"
                    ng-model="pfmsLoanAppFlow.updateBy"
                     />
        </div>

        <div class="form-group">
            <label translate="stepApp.pfmsLoanAppFlow.erpAuthorityFlow" for="field_erpAuthorityFlow">erpAuthorityFlow</label>
            <select class="form-control" id="field_erpAuthorityFlow" name="erpAuthorityFlow" ng-model="pfmsLoanAppFlow.erpAuthorityFlow" ng-options="ErpAuthorityFlow as ErpAuthorityFlow.authorityCategory for ErpAuthorityFlow in erpauthorityflows track by ErpAuthorityFlow.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="stepApp.pfmsLoanAppFlow.authorizedEmployee" for="field_authorizedEmployee">authorizedEmployee</label>
            <select class="form-control" id="field_authorizedEmployee" name="authorizedEmployee" ng-model="pfmsLoanAppFlow.authorizedEmployee" ng-options="HrEmployeeInfo as HrEmployeeInfo.fullName for HrEmployeeInfo in hremployeeinfos track by HrEmployeeInfo.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="stepApp.pfmsLoanAppFlow.pfmsLoanApp" for="field_pfmsLoanApp">pfmsLoanApp</label>
            <select class="form-control" id="field_pfmsLoanApp" name="pfmsLoanApp" ng-model="pfmsLoanAppFlow.pfmsLoanApp" ng-options="PfmsLoanApplication as PfmsLoanApplication.fullName for PfmsLoanApplication in pfmsloanapplications track by PfmsLoanApplication.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
