
<div>
    <h2><span translate="stepApp.pfmsLoanAppFlow.detail.title">PfmsLoanAppFlow</span> {{pfmsLoanAppFlow.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanAppFlow.authorityStatus">AuthorityStatus</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'stepApp.AuthorityStatus.' + pfmsLoanAppFlow.authorityStatus}}">{{pfmsLoanAppFlow.authorityStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanAppFlow.erpAuthorityAction">ErpAuthorityAction</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'stepApp.ErpAuthorityAction.' + pfmsLoanAppFlow.erpAuthorityAction}}">{{pfmsLoanAppFlow.erpAuthorityAction}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanAppFlow.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanAppFlow.activeStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanAppFlow.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanAppFlow.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanAppFlow.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanAppFlow.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanAppFlow.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanAppFlow.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanAppFlow.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanAppFlow.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanAppFlow.erpAuthorityFlow">erpAuthorityFlow</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="ErpAuthorityFlow.detail({id:pfmsLoanAppFlow.erpAuthorityFlow.id})">{{pfmsLoanAppFlow.erpAuthorityFlow.authorityCategory}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanAppFlow.authorizedEmployee">authorizedEmployee</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="HrEmployeeInfo.detail({id:pfmsLoanAppFlow.authorizedEmployee.id})">{{pfmsLoanAppFlow.authorizedEmployee.fullName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanAppFlow.pfmsLoanApp">pfmsLoanApp</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="PfmsLoanApplication.detail({id:pfmsLoanAppFlow.pfmsLoanApp.id})">{{pfmsLoanAppFlow.pfmsLoanApp.fullName}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
