
<!--<div>-->
    <!--<h2><span translate="stepApp.instEmplExperience.detail.title">InstEmplExperience</span> {{instEmplExperience.id}}</h2>-->
    <!--<div class="table-responsive">-->
        <!--<table class="table table-striped">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th translate="entity.detail.field">Field</th>-->
                <!--<th translate="entity.detail.value">Value</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.instituteName">InstituteName</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{instEmplExperience.instituteName}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.indexNo">IndexNo</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{instEmplExperience.indexNo}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.address">Address</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{instEmplExperience.address}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.designation">Designation</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{instEmplExperience.designation}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.subject">Subject</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{instEmplExperience.subject}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.salaryCode">SalaryCode</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{instEmplExperience.salaryCode}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.joiningDate">JoiningDate</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{instEmplExperience.joiningDate | date:'mediumDate'}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.mpoEnlistingDate">MpoEnlistingDate</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{instEmplExperience.mpoEnlistingDate | date:'mediumDate'}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.resignDate">ResignDate</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{instEmplExperience.resignDate | date:'mediumDate'}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.dateOfPaymentReceived">DateOfPaymentReceived</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{instEmplExperience.dateOfPaymentReceived | date:'mediumDate'}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.startDate">StartDate</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{instEmplExperience.startDate | date:'mediumDate'}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.endDate">EndDate</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{instEmplExperience.endDate | date:'mediumDate'}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.vacationFrom">VacationFrom</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{instEmplExperience.vacationFrom | date:'mediumDate'}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.vacationTo">VacationTo</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{instEmplExperience.vacationTo | date:'mediumDate'}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.totalExpFrom">TotalExpFrom</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{instEmplExperience.totalExpFrom | date:'mediumDate'}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.totalExpTo">TotalExpTo</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{instEmplExperience.totalExpTo | date:'mediumDate'}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.current">Current</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{instEmplExperience.current}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.attachment">Attachment</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{instEmplExperience.attachment}}</span>-->
                    <!--<div>{{instEmplExperience.attachmentContentType}}  {{byteSize(instEmplExperience.attachment)}}</div>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.instEmplExperience.instEmployee">instEmployee</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<a class="form-control-static" ui-sref="instEmployee.detail({id:instEmplExperience.instEmployee.id})">{{instEmplExperience.instEmployee.name}}</a>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->

    <!--<button type="submit"-->
            <!--onclick="window.history.back()"-->
            <!--class="btn btn-info">-->
        <!--<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>-->
    <!--</button>-->
<!--</div>-->
