<div class="col-md-12 common-table">
    <h2><span translate="stepApp.employeeLoanTypeSetup.detail.title">EmployeeLoanTypeSetup</span></h2>
    <div class="table-responsive">
        <div class="col-md-12 no_padding">
            <h5 class="trainerinfo">Employee Loan Type Information</h5>
        </div>
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanTypeSetup.loanTypeCode">LoanTypeCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanTypeSetup.loanTypeCode}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanTypeSetup.loanTypeName">LoanTypeName</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanTypeSetup.loanTypeName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanTypeSetup.status">Status</span>
                </td>
                <td>
                    <span ng-show="employeeLoanTypeSetup.status==true">Active</span>
                    <span ng-show="employeeLoanTypeSetup.status==false">Inactive</span></td>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
