<!--===asset record detail===-->
<div class="common-table">
    <h2 id="myAssetTypeSetupLabel" translate="stepApp.assetRecord.detail.title">Detail</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.assetRecord.assetName">AssetName</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetRecord.assetName}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.assetRecord.assetTypeSetup">assetTypeSetup</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="assetTypeSetup.detail({id:assetRecord.assetTypeSetup.id})">{{assetRecord.assetTypeSetup.typeName}}</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span translate="stepApp.assetRecord.assetCategorySetup">assetCategorySetup</span>
                    </td>
                    <td>
                        <a class="form-control-static"
                           ui-sref="assetCategorySetup.detail({id:assetRecord.assetCategorySetup.id})">{{assetRecord.assetCategorySetup.categoryName}}</a>
                    </td>
                    <td>
                        <span translate="stepApp.assetRecord.quantity">Quantity</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetRecord.quantity}}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span translate="stepApp.assetRecord.vendorName">VendorName</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetRecord.vendorName}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.assetRecord.accuisition">Accuisition</span>
                    </td>
                    <td>
                        <a ui-sref="assetAccuisitionSetup.detail({id:assetRecord.assetAccuisition.id})">{{assetRecord.assetAccuisition.name}}</a>
                    </td>
                </tr>


                <tr>
                    <td>
                        <span translate="stepApp.assetRecord.color">Color</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetRecord.color}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.assetRecord.manufacturingCountry">Manufacturing Country</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetRecord.manufacturingCountry}}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span translate="stepApp.assetRecord.purchaseDate">PurchaseDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetRecord.purchaseDate | date:'mediumDate'}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.assetRecord.expireDate">Expire Date</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetRecord.expireDate | date:'mediumDate'}}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span translate="stepApp.assetRecord.warranty">Warranty</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetRecord.warranty}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.assetRecord.orderNo">OrderNo</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetRecord.orderNo}}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span translate="stepApp.assetRecord.price">Price</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetRecord.price}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.assetRecord.status">Status</span>
                    </td>
                    <td>
                        <span ng-show="assetRecord.status==true" class="form-control-static">Active</span>
                        <span ng-show="assetRecord.status == false" class="form-control-static">Inactive</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span translate="stepApp.assetRecord.recordStatus">Record Status</span>
                    </td>
                    <td>
                        <span ng-show="assetRecord.statusAsset==1" class="form-control-static">Available</span>
                        <span ng-show="assetRecord.statusAsset == 2" class="form-control-static">Unavailable</span>
                        <span ng-show="assetRecord.statusAsset == 3" class="form-control-static">Transferable</span>
                        <span ng-show="assetRecord.statusAsset == 4" class="form-control-static">Repairable</span>
                    </td>
                    <td>
                        <span translate="stepApp.assetRecord.assetSupplier">assetSupplier</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="assetSupplier.detail({id:assetRecord.assetSupplier.id})">{{assetRecord.assetSupplier.name}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
