<!--===asset record===--->
<div class="col-md-12 common-list">
    <h2 translate="stepApp.assetRecord.home.createOrEditLabel">Asset Record Setup</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary " ui-sref="assetRecord.new">
                <span class="glyphicon glyphicon-plus"></span><span translate="stepApp.assetRecord.home.createLabel">Create a new AssetRecord</span>
            </button>
        </div>
    </div>

    <div class="modal animated bounceInUp" id="deleteAssetRecordConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(assetRecord.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.assetRecord.delete.question"
                           translate-values="{id: '{{assetRecord.id}}'}">Are you sure you want to delete this
                            AssetRecord?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-head-bg small-letter">
            <thead>
            <tr>
                <th class="text-center" translate="global.form.serial">serial</th>
                <th translate="stepApp.assetRecord.recordCode">record code</th>
                <th translate="stepApp.assetRecord.assetName">AssetName</th>
                <th translate="stepApp.assetRecord.accuisition">Accuisition</th>
                <th translate="stepApp.assetRecord.quantity">Quantity</th>
                <th translate="stepApp.assetRecord.warranty">Warranty</th>
                <th translate="stepApp.assetRecord.status">Status</th>
                <th translate="stepApp.assetRecord.recordStatus">Record Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="employee-list table-body-bg">
            <tr dir-paginate="assetRecord in assetRecords | filter:q | itemsPerPage: pageSize track by assetRecord.id"
                current-page="currentPage">
                <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                <td>{{assetRecord.recordCode}}</td>
                <td>{{assetRecord.assetName}}</td>
                <td><a ui-sref="assetAccuisitionSetup.detail({id:assetRecord.assetAccuisition.id})">{{assetRecord.assetAccuisition.name}}</a>
                </td>
                <td>{{assetRecord.quantity}}</td>
                <td>{{assetRecord.warranty}}</td>
                <td>
                    <span ng-show="assetRecord.status==true" class="form-control-static">Active</span>
                    <span ng-show="assetRecord.status==false" class="form-control-static">Inactive</span>
                </td>
                <td>
                    <span ng-show="assetRecord.statusAsset==1" class="form-control-static">Available</span>
                    <span ng-show="assetRecord.statusAsset == 2" class="form-control-static">Unavailable</span>
                    <span ng-show="assetRecord.statusAsset == 3" class="form-control-static">Transferable</span>
                    <span ng-show="assetRecord.statusAsset == 4" class="form-control-static">Repairable</span>
                </td>

                <td class="text-right">
                    <button type="submit" class="btn btn-sm btn-info su_serv_marz"
                            ui-sref="assetRecord.detail({id:assetRecord.id})"><i class="fa fa-eye-slash"></i>

                        <span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary su_serv_marz"
                            ui-sref="assetRecord.edit({id:assetRecord.id})"><i class="fa fa-pencil"></i>
                        <span translate="entity.action.edit"> Edit</span>
                    </button>
                    <button ng-hide="false" type="submit" ng-click="delete(assetRecord.id)"
                            class="btn btn-sm btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav>
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page"
                        ng-change="loadAll()"></uib-pagination>
    </div>
</div>
