<div class="col-md-12 common-list padding5">
    <h2 translate="stepApp.umracActionSetup.home.title">umracActionSetup</h2>
    <div class="col-md-12 padding-tb padding0">
        <div class="col-md-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-md-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-md-4 col-xs-6 no_padding text-right ">
            <button class="btn btn-primary " ui-sref="umracActionSetup.new">
                <span class="glyphicon glyphicon-plus"></span><span translate="stepApp.umracActionSetup.home.createLabel">Add New</span>
            </button>
        </div>
    </div>
    <div class="modal animated zoomIn" id="deleteUmracActionSetupConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(umracActionSetup.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete
                            operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.umracActionSetup.delete.question"
                           translate-values="{id: '{{umracActionSetup.id}}'}">Are you sure you
                            want to delete this UmracActionSetup?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive col-md-12 no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.serial">Serial</th>
                <!--<th translate="global.field.id">ID</th>-->
                <th translate="stepApp.umracActionSetup.actionId">ActionId</th>
                <th translate="stepApp.umracActionSetup.actionName">ActionName</th>
                <th translate="stepApp.umracActionSetup.actionUrl">ActionUrl</th>
                <!--<th translate="stepApp.umracActionSetup.description">Description</th>-->
                <th translate="stepApp.umracActionSetup.status">Status</th>
                <th translate="stepApp.umracActionSetup.subModuleName">Submodule Name</th>
                <!--<th translate="stepApp.umracActionSetup.createDate">CreateDate</th>-->
                <!--<th translate="stepApp.umracActionSetup.createBy">CreateBy</th>-->
                <!--<th translate="stepApp.umracActionSetup.updatedBy">UpdatedBy</th>-->
                <!--<th translate="stepApp.umracActionSetup.updatedTime">UpdatedTime</th>-->
                <th class="text-center" translate="entity.action.action"></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="umracActionSetup in umracActionSetups | filter:q | itemsPerPage: pageSize track by umracActionSetup.id"
                current-page="currentPage">
                <td>{{$index+1}}</td>
                <!--<td><a ui-sref="umracActionSetup.detail({id:umracActionSetup.id})">{{umracActionSetup.id}}</a>
                </td>-->
                <td>{{umracActionSetup.actionId}}</td>
                <td>{{umracActionSetup.actionName}}</td>
                <td>{{umracActionSetup.actionUrl}}</td>
                <!--<td>{{umracActionSetup.description}}</td>-->
                <td ng-if="umracActionSetup.status">Active</td>
                <td ng-if="!umracActionSetup.status">InActive
                <td>{{umracActionSetup.submoduleId.subModuleName}}</td>
                <!--<td>{{umracActionSetup.createDate | date:'mediumDate'}}</td>-->
                <!--<td>{{umracActionSetup.createBy}}</td>-->
                <!--<td>{{umracActionSetup.updatedBy}}</td>-->
                <!--<td>{{umracActionSetup.updatedTime | date:'mediumDate'}}</td>-->
                <td class="text-right no-print" style="width: 210px">
                    <button type="submit"
                            ui-sref="umracActionSetup.detail({id:umracActionSetup.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                        translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                    ui-sref="umracActionSetup.edit({id:umracActionSetup.id})"
                    class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                    translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                    ng-click="delete(umracActionSetup.id)"
                    class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                    translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
