<div class="col-md-12 common-dialogue padding5">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="umracActionSetup.id == null" class="modal-title" id="myUmracActionSetupLabel"
            translate="stepApp.umracActionSetup.home.createOrEditLabel">Create or edit a UmracActionSetup</h4>

        <h4 ng-show="umracActionSetup.id != null" class="modal-title" id="myUmracActionSetupLabel"
            translate="stepApp.umracActionSetup.home.EditLabel">Create or edit a UmracActionSetup</h4>
        <div class="panel-body">
            <!--<jh-alert-error></jh-alert-error>-->
            <!--<div class="form-group">-->
            <!--<label for="id" translate="global.field.id">ID</label>-->
            <!--<input type="text" class="form-control" id="id" name="id"-->
            <!--ng-model="umracActionSetup.id" readonly />-->
            <!--</div>-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="field_submoduleId" translate="stepApp.umracActionSetup.subModuleName">Submodule Name</label>
                        <select class="form-control" id="field_submoduleId" name="submoduleId"
                                ng-model="umracActionSetup.submoduleId"
                                ng-change="getActionId(umracActionSetup.submoduleId)"
                                ng-options="umracSubmoduleSetup as umracSubmoduleSetup.subModuleName for umracSubmoduleSetup in umracSubmoduleSetups | filter:filterSubModuleByStatus()  track by umracSubmoduleSetup.id" required>
                            <option value="" >Select Submodule Name</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.umracActionSetup.actionId" for="field_actionId">ActionId</label>
                        <input type="text" class="form-control" name="actionId" id="field_actionId"
                               tooltip="{{'stepApp.umracActionSetup.actionId' | translate}}"
                               placeholder="{{'stepApp.umracActionSetup.actionId' | translate}}" only-numbers
                               ng-model="umracActionSetup.actionId"/>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.umracActionSetup.actionName" for="field_actionName">ActionName</label>
                        <input type="text" class="form-control" name="actionName" id="field_actionName"
                               ng-model="umracActionSetup.actionName"
                               tooltip="{{'stepApp.umracActionSetup.actionName' | translate}}"
                               placeholder="{{'stepApp.umracActionSetup.actionName' | translate}}" maxlength="100"
                               required/>
                        <div ng-show="editForm.actionName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.actionName.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.umracActionSetup.actionUrl" for="field_actionUrl">ActionUrl</label>
                        <!--<input type="text" class="form-control" name="actionUrl" id="field_actionUrl"
                               ng-model="umracActionSetup.actionUrl"
                               tooltip="{{'stepApp.umracActionSetup.actionUrl' | translate}}"
                               placeholder="{{'stepApp.umracActionSetup.actionUrl' | translate}}"
                               required/>-->
                        <select class="form-control" id="field_actionUrl" name="actionUrl"
                                tooltip="{{'stepApp.umracActionSetup.actionUrl' | translate}}"
                                ng-model="umracActionSetup.actionUrl"
                                ng-options="authority.NAME as authority.NAME for authority in authorities" required>
                            <option value="" translate="stepApp.umracActionSetup.actionUrl"></option>
                        </select>
                        <div ng-show="editForm.actionUrl.$invalid">
                            <p class="help-block"
                               ng-show="editForm.actionUrl.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracActionSetup.status" for="field_status">Status</label>-->
            <!--<input type="checkbox" class="form-control" name="status" id="field_status"-->
            <!--ng-model="umracActionSetup.status"-->
            <!--/>-->
            <!--</div>-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.umracActionSetup.description"
                               for="field_description">Description</label>
                    <textarea type="text" class="form-control" name="description" id="field_description"
                              ng-model="umracActionSetup.description"
                              tooltip="{{'stepApp.umracActionSetup.description' | translate}}"
                              placeholder="{{'stepApp.umracActionSetup.description' | translate}}" maxlength="512"
                              cols="30" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <h6 class="control-label col-sm-12" translate="stepApp.umracActionSetup.status">Status</h6>
                        <div class="col-sm-12" ng-init="checked=true">
                            <input type="radio" name="status"
                                   tooltip="{{'stepApp.umracActionSetup.status' | translate}}" value="true"
                                   ng-checked="umracActionSetup.status == true" ng-model="umracActionSetup.status"><span
                            translate="entity.action.activate">Active</span>&nbsp;&nbsp;
                            <input type="radio" name="status"
                                   tooltip="{{'stepApp.umracActionSetup.status' | translate}}" value="false"
                                   ng-checked="umracActionSetup.status == false"
                                   ng-model="umracActionSetup.status"><span translate="entity.action.deactivate">Deactive</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracActionSetup.status" for="field_status">Status</label><br>-->

            <!--<select name="status" ng-model="umracActionSetup.status" id="field_status">-->
            <!--<option value="">-&#45;&#45;Please select-&#45;&#45;</option>-->
            <!--<option value="true">Active</option>-->
            <!--<option value="false">InActive</option>-->
            <!--</select>-->

            <!--<div ng-show="editForm.status.$invalid">-->
            <!--<p class="help-block"-->
            <!--ng-show="editForm.status.$error.required" translate="entity.validation.required">-->
            <!--This field is required.-->
            <!--</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracActionSetup.createDate" for="field_createDate">CreateDate</label>-->
            <!--<input type="date" class="form-control" name="createDate" id="field_createDate"-->
            <!--ng-model="umracActionSetup.createDate"-->
            <!--/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracActionSetup.createBy" for="field_createBy">CreateBy</label>-->
            <!--<input type="number" class="form-control" name="createBy" id="field_createBy"-->
            <!--ng-model="umracActionSetup.createBy"-->
            <!--/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracActionSetup.updatedBy" for="field_updatedBy">UpdatedBy</label>-->
            <!--<input type="number" class="form-control" name="updatedBy" id="field_updatedBy"-->
            <!--ng-model="umracActionSetup.updatedBy"-->
            <!--/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracActionSetup.updatedTime" for="field_updatedTime">UpdatedTime</label>-->
            <!--<input type="date" class="form-control" name="updatedTime" id="field_updatedTime"-->
            <!--ng-model="umracActionSetup.updatedTime"-->
            <!--/>-->
            <!--</div>-->

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.back">back</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
                <span ng-show="umracActionSetup.id == null" translate="entity.action.save">Save</span>
                <span ng-show="umracActionSetup.id != null" translate="entity.action.update">update</span>
            </button>
        </div>
    </form>
</div>
