<div class="col-md-12 common-table padding5 ">
    <h2><span translate="stepApp.umracActionSetup.detail.title">UmracActionSetup</span></h2>
    <div>

        <div class="table-responsive">
            <table class="table table-striped bteb-table">
                <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.umracActionSetup.actionId">ActionId</span>
                    </td>
                    <td>
                        <span class="form-control-static">&nbsp;: &nbsp;{{umracActionSetup.actionId}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.umracActionSetup.actionName">ActionName</span>
                    </td>
                    <td>
                        <span class="form-control-static">&nbsp;: &nbsp;{{umracActionSetup.actionName}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.umracActionSetup.actionUrl">ActionUrl</span>
                    </td>
                    <td>
                        <span class="form-control-static">&nbsp;: &nbsp;{{umracActionSetup.actionUrl}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.umracActionSetup.description">Description</span>
                    </td>
                    <td>
                        <span class="form-control-static">&nbsp;: &nbsp;{{umracActionSetup.description}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.umracActionSetup.status">Status</span>
                    </td>
                    <td>
                        <span class="form-control-static">&nbsp;: &nbsp;{{umracActionSetup.status}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.umracActionSetup.createDate">CreateDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">&nbsp;: &nbsp;{{umracActionSetup.createDate | date:'mediumDate'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.umracActionSetup.createBy">CreateBy</span>
                    </td>
                    <td>
                        <span class="form-control-static">&nbsp;: &nbsp;{{umracActionSetup.createBy}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.umracActionSetup.updatedBy">UpdatedBy</span>
                    </td>
                    <td>
                        <span class="form-control-static">&nbsp;: &nbsp;{{umracActionSetup.updatedBy}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.umracActionSetup.updatedTime">UpdatedTime</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">&nbsp;: &nbsp;{{umracActionSetup.updatedTime | date:'mediumDate'}}</span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <button type="submit"
                onclick="window.history.back()"
                class="btn btn-info no-print">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
            translate="entity.action.back"> Back</span>
        </button>
    </div>
</div>

