<div class="row">
    <div class="col-md-3 padding-right0">
        <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
    </div>
    <div class="col-md-9 lbl-dash">
        <div class="col-md-12 common-table no_padding">
            <h2><span translate="stepApp.gazetteSetup.detail.title">GazetteSetup</span></h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <!--<thead>
                    <tr>
                        <th translate="entity.detail.field">Field</th>
                        <th translate="entity.detail.value">Value</th>
                    </tr>
                    </thead>-->
                    <tbody>
                    <tr>
                        <td>
                            <span translate="stepApp.gazetteSetup.name">Name</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{gazetteSetup.name}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.gazetteSetup.status">Status</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{gazetteSetup.status ? 'Active' : 'Inactive'}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.gazetteSetup.createBy">CreateBy</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{gazetteSetup.createBy}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.gazetteSetup.createDate">CreateDate</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{gazetteSetup.createDate | date:'mediumDate'}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.gazetteSetup.updateBy">UpdateBy</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{gazetteSetup.updateBy}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.gazetteSetup.updateDate">UpdateDate</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{gazetteSetup.updateDate | date:'mediumDate'}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.gazetteSetup.remarks">Remarks</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{gazetteSetup.remarks}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit"
                    onclick="window.history.back()"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
            </button>
        </div>
    </div>
</div>
