<div class="col-md-12 common-list">
    <h2 translate="stepApp.trainingRequisitionForm.home.title">TrainingRequisitionForms</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary" ui-sref="trainingInfo.trainingRequisitionForm.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.trainingRequisitionForm.home.createLabel">Create a new TrainingRequisitionForm</span>
            </button>
        </div>
    </div>

    <div class="modal fade" id="deleteTrainingRequisitionFormConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(trainingRequisitionForm.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.trainingRequisitionForm.delete.question" translate-values="{id: '{{trainingRequisitionForm.id}}'}">Are you sure you want to delete this TrainingRequisitionForm?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center" translate="global.form.serial">serial</th>
                    <th translate="stepApp.trainingRequisitionForm.trainingCategorySetup">trainingCategorySetup</th>
                    <th translate="stepApp.trainingRequisitionForm.trainingType">TrainingType</th>
                    <th translate="stepApp.trainingRequisitionForm.requisitionCode">RequisitionCode</th>
                    <th translate="stepApp.trainingRequisitionForm.session">Session</th>
                    <th translate="stepApp.trainingRequisitionForm.applyDate">ApplyDate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="trainingRequisitionForm in trainingRequisitionForms | filter:q | itemsPerPage: pageSize track by trainingRequisitionForm.id"
                    current-page="currentPage">
                    <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                    <td>
                        <a ui-sref="trainingInfo.trainingCategorySetup.detail({id:trainingRequisitionForm.trainingCategorySetup.id})">{{trainingRequisitionForm.trainingCategorySetup.categoryName}}</a>
                    </td>
                    <td>{{trainingRequisitionForm.trainingType}}</td>
                    <td>{{trainingRequisitionForm.requisitionCode}}</td>
                    <td>{{trainingRequisitionForm.session}}</td>
                    <td>{{trainingRequisitionForm.applyDate | date:'mediumDate'}}</td>

                    <td class="text-right">
                        <button type="submit"
                                ui-sref="trainingInfo.trainingRequisitionForm.detail({id:trainingRequisitionForm.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="trainingInfo.trainingRequisitionForm.edit({id:trainingRequisitionForm.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <!--<button type="submit"-->
                                <!--ng-click="delete(trainingRequisitionForm.id)"-->
                                <!--class="btn btn-danger btn-sm">-->
                            <!--<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>-->
                        <!--</button>-->
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
