<style>
    .traineeinfo-table .table > thead > tr > th {
        padding: 3px 10px;
        background: #689f38;
        font-weight: bold;
        color: #f3f3f4;
    }
</style>
<div class="col-md-12 common-table">
    <h2><span translate="stepApp.trainingRequisitionForm.detail.title">TrainingRequisitionForm</span></h2>
    <div class="table-responsive">
        <div class="col-md-12 padding-tb">
            <h5 class="trainerinfo">Requisition form information</h5>
        </div>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.trainingRequisitionForm.instituteName">Institute Name</span>
                </td>
                <td ng-if="trainingRequisitionForm.applyBy =='Institute'">
                    <span class="form-control-static">{{trainingRequisitionForm.institute.name}}</span>
                </td>
                <td ng-if="trainingRequisitionForm.applyBy == 'DTE Employee'">
                    <span class="form-control-static">Directorate of Technical  Education</span>
                </td>
                <td>
                    <span translate="stepApp.trainingRequisitionForm.employeeName">Employee Name</span>
                </td>
                <td>
                    <a class="form-control-static">{{trainingRequisitionForm.hrEmployeeInfo.fullName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingRequisitionForm.employeeId">employeeId</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="hrEmployeeInfo.detail({id:trainingRequisitionForm.hrEmployeeInfo.id})">{{trainingRequisitionForm.hrEmployeeInfo.employeeId}}</a>
                </td>
                <td>
                    <span translate="stepApp.trainingRequisitionForm.designation">Designation Name</span>
                </td>
                <td>
                    <a class="form-control-static">{{trainingRequisitionForm.hrEmployeeInfo.designationInfo.designationInfo.designationName}}</a>
                </td>
            </tr>
            <tr ng-if="trainingRequisitionForm.applyBy == 'DTE Employee'">
                <td>
                    <span translate="stepApp.trainingRequisitionForm.joiningDate">Joining Date</span>
                </td>
                <td>{{trainingRequisitionForm.hrEmployeeInfo.dateOfJoining | date:'mediumDate'}}</td>
                <td>
                    <span translate="stepApp.trainingRequisitionForm.trainingCategorySetup">trainingCategorySetup</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="trainingCategorySetup.detail({id:trainingRequisitionForm.trainingCategorySetup.id})">{{trainingRequisitionForm.trainingCategorySetup.categoryName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingRequisitionForm.trainingHeadSetup">trainingHeadSetup</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="trainingHeadSetup.detail({id:trainingRequisitionForm.trainingHeadSetup.id})">{{trainingRequisitionForm.trainingHeadSetup.headName}}</a>
                </td>
                <td>
                    <span translate="stepApp.trainingRequisitionForm.session">Session</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingRequisitionForm.session}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.trainingRequisitionForm.trainingType">TrainingType</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingRequisitionForm.trainingType}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainingRequisitionForm.requisitionCode">RequisitionCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingRequisitionForm.requisitionCode}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.trainingRequisitionForm.applyDate">ApplyDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingRequisitionForm.applyDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainingRequisitionForm.reason">Reason</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingRequisitionForm.reason}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingRequisitionForm.applyBy">ApplyBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingRequisitionForm.applyBy}}</span>
                </td>
                <td translate="stepApp.trainingRequisitionForm.attachment">Attachment File</td>
                <td><a href="javascript:void(0)"
                       ng-click="previewImage(trainingRequisitionForm.file, trainingRequisitionForm.fileContentType,'Training Requisition Attachment File')"></span>
                    &nbsp;<span translate="entity.action.view"> View</span></a></td>
            </tr>
            <tr ng-if="trainingRequisitionForm.trainingType == 'Foreign'">
                <td>
                    <span translate="stepApp.trainingRequisitionForm.country">country</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="country.detail({id:trainingRequisitionForm.country.id})">{{trainingRequisitionForm.country.name}}</a>
                </td>
                <td>
                    <span translate="stepApp.trainingRequisitionForm.passportNo">passportNo</span>
                </td>
                <td>{{trainingRequisitionForm.passportNo}}</td>
            </tr>
            <tr ng-if="trainingRequisitionForm.trainingType == 'Foreign'">
                <td>
                    <span translate="stepApp.trainingRequisitionForm.passportExpiryDate">passportExpiryDate</span>
                </td>
                <td>{{trainingRequisitionForm.passportExpiryDate | date:'mediumDate'}}</td>
                <td>
                    <span translate="stepApp.trainingRequisitionForm.visaInfo">visaInfo</span>
                </td>
                <td>{{trainingRequisitionForm.visaInfo}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12 padding-tb global-th">
        <h5 class="trainerinfo">Requisition information</h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-click="order('name', reverse=!reverse)" translate="stepApp.trainingRequisitionForm.employeeName">
                    Employee Name
                </th>
                <th ng-click="order('remarks', reverse=!reverse)"
                    translate="stepApp.trainingRequisitionForm.employeeId">Employee Id
                </th>
            </tr>
            </thead>
            <tbody id="accordion" ng-repeat="traineeInfo in traineeInfoList track by traineeInfo.id">
            <tr ng-if="applyTypeDTE">
                <td>{{traineeInfo.hrEmployeeInfo.fullName}}</td>
                <td>{{traineeInfo.hrEmployeeInfo.employeeId}}</td>
            </tr>
            <tr ng-if="applyTypeInstitute">
                <td>{{traineeInfo.instEmployee.name}}</td>
                <td>{{traineeInfo.instEmployee.code}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
