<div class="row">
    <div class="col-md-3 padding-right0">
        <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
    </div>
<div class="col-md-9 lbl-dash">
    <div class="col-md-12 common-table no_padding">
    <h2><span translate="stepApp.incrementSetup.detail.title">IncrementSetup</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.incrementSetup.amount">Amount</span>
                </td>
                <td>
                    <span class="form-control-static">{{incrementSetup.amount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.incrementSetup.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{incrementSetup.status ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.incrementSetup.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{incrementSetup.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.incrementSetup.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{incrementSetup.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.incrementSetup.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{incrementSetup.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.incrementSetup.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{incrementSetup.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.incrementSetup.remarks">Remarks</span>
                </td>
                <td>
                    <span class="form-control-static">{{incrementSetup.remarks}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.incrementSetup.PayCodeSerial">PayCodeSerial</span>
                </td>
                <td>
                    <span class="form-control-static">{{incrementSetup.PayCodeSerial}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.incrementSetup.payCode">payCode</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="PayScale.detail({id:incrementSetup.payCode.id})">{{incrementSetup.payCode.code}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
