<!--<div>-->
    <!--<h2 class="header-margin" translate="stepApp.instEmpCount.home.title">InstEmpCounts</h2>-->
    <!--<jh-alert></jh-alert>-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-4">-->
                <!--<button class="btn btn-primary" ui-sref="instGenInfo.instEmpCount.new">-->
                    <!--<span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.instEmpCount.home.createLabel">Create a new InstEmpCount</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="col-md-8">-->
                <!--<form name="searchForm" class="form-inline">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">-->
                    <!--</div>-->
                    <!--<button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a InstEmpCount</span>-->
                    <!--</button>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="table-responsive">-->
        <!--<table class="table table-striped">-->

            <!--<thead>-->
                <!--<tr>-->
                    <!--<th translate="global.field.id">ID</th>-->
                    <!--<th translate="stepApp.instEmpCount.totalMaleTeacher">TotalMaleTeacher</th>-->
                    <!--<th translate="stepApp.instEmpCount.totalFemaleTeacher">TotalFemaleTeacher</th>-->
                    <!--<th translate="stepApp.instEmpCount.totalMaleEmployee">TotalMaleEmployee</th>-->
                    <!--<th translate="stepApp.instEmpCount.totalFemaleEmployee">TotalFemaleEmployee</th>-->
                    <!--<th translate="stepApp.instEmpCount.totalGranted">TotalGranted</th>-->
                    <!--<th translate="stepApp.instEmpCount.totalEngaged">TotalEngaged</th>-->
                    <!--<th translate="stepApp.instEmpCount.status">Status</th>-->
                    <!--<th translate="stepApp.instEmpCount.institute">institute</th>-->
                    <!--<th></th>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
                <!--<tr ng-repeat="instEmpCount in instEmpCounts track by instEmpCount.id">-->
                    <!--<td><a ui-sref="instEmpCount.detail({id:instEmpCount.id})">{{instEmpCount.id}}</a></td>-->
                    <!--<td>{{instEmpCount.totalMaleTeacher}}</td>-->
                    <!--<td>{{instEmpCount.totalFemaleTeacher}}</td>-->
                    <!--<td>{{instEmpCount.totalMaleEmployee}}</td>-->
                    <!--<td>{{instEmpCount.totalFemaleEmployee}}</td>-->
                    <!--<td>{{instEmpCount.totalGranted}}</td>-->
                    <!--<td>{{instEmpCount.totalEngaged}}</td>-->
                    <!--<td>{{instEmpCount.status}}</td>-->
                    <!--<td>-->
                        <!--<a ui-sref="institute.detail({id:instEmpCount.institute.id})">{{instEmpCount.institute.name}}</a>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<button type="submit"-->
                                <!--ui-sref="instGenInfo.instEmpCount.detail({id:instEmpCount.id})"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--ui-sref="instGenInfo.instEmpCount.edit({id:instEmpCount.id})"-->
                                <!--class="btn btn-primary btn-sm">-->
                            <!--<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--ui-sref="instGenInfo.instEmpCount.delete({id:instEmpCount.id})"-->
                                <!--class="btn btn-danger btn-sm">-->
                            <!--<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>-->
                        <!--</button>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<nav>-->
            <!--<ul class="pagination">-->
                <!--<li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>-->
                <!--<li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>-->
                <!--<li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>-->
                <!--<li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>-->
                <!--<li class="active"><a>{{page + 1}}</a></li>-->
                <!--<li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>-->
                <!--<li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>-->
                <!--<li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>-->
                <!--<li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>-->
            <!--</ul>-->
        <!--</nav>-->
    <!--</div>-->
<!--</div>-->




<div class="col-md-12 common-list padding0">
    <h2 translate="stepApp.iisCourseInfo.totalEmpList">totalEmpList</h2>
    <div class="col-md-12 padding-bt">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-md-4 text-right  no_padding">
            <button class="btn btn-primary" ui-sref="instituteInfo.iisCourseInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.iisCourseInfo.home.createLabel">Create a new IisCourseInfo</span>
            </button>
        </div>
    </div>
    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <!--<th translate="global.field.id">ID</th>-->
                <!--<th translate="stepApp.iisCourseInfo.cmsCurriculum">cmsCurriculum</th>-->

                <!--<th translate="stepApp.iisCourseInfo.perDateEdu">PerDateEdu</th>-->
                <!--<th translate="stepApp.iisCourseInfo.perDateBteb">PerDateBteb</th>-->
                <!--<th translate="stepApp.iisCourseInfo.dateMpo">DateMpo</th>
                <th translate="stepApp.iisCourseInfo.seatNo">SeatNo</th>
                <th translate="stepApp.iisCourseInfo.shift">Shift</th>
                <th translate="stepApp.iisCourseInfo.iisCurriculumInfo">iisCurriculumInfo</th>-->
                <th translate="stepApp.iisCourseInfo.cmsTrade">cmsTrade</th>
                <th translate="stepApp.iisCourseInfo.totalPostT">cmsTrade</th>
                <th translate="stepApp.iisCourseInfo.availablePostT">cmsTrade</th>
                <!--<th translate="stepApp.iisCourseInfo.filledPostT">cmsTrade</th>-->
                <th translate="stepApp.iisCourseInfo.totalPostStaff">cmsTrade</th>
                <th translate="stepApp.iisCourseInfo.availablePostStaff">cmsTrade</th>
                <!--
                                <th translate="stepApp.iisCourseInfo.cmsSubject">cmsSubject</th>
                -->
                <th class="no-print text-center" translate="entity.action.action"></th>
            </tr>
            </thead>
            <tbody>
            <!--<tr ng-repeat="iisCourseInfo in iisCourseInfos track by iisCourseInfo.id">-->
            <tr dir-paginate="iisCourseInfo in iisCourseInfos | filter:q | itemsPerPage: pageSize track by iisCourseInfo.id" current-page="currentPage">

                <!--<td><a ui-sref="iisCourseInfo.detail({id:iisCourseInfo.id})">{{iisCourseInfo.id}}</a></td>-->

                <!--<td>-->
                    <!--<a ui-sref="cmsCurriculum.detail({id:iisCurriculumInfo.cmsCurriculum.id})">{{iisCourseInfo.cmsTrade.cmsCurriculum.name}}</a>-->
                <!--</td>-->
                <!--<td>{{iisCourseInfo.perDateEdu | date:'mediumDate'}}</td>-->
                <!--<td>{{iisCourseInfo.perDateBteb | date:'mediumDate'}}</td>-->

                <!-- <td>
                     <span style="color: #005f00" ng-show="iisCourseInfo.mpoEnlisted == true"
                           class="form-control-static"><span translate="stepApp.iisCourseInfo.yes">yes</span></span>
                     <span style="color: red" ng-show="iisCourseInfo.mpoEnlisted == false"
                           class="form-control-static"><span translate="stepApp.iisCourseInfo.no">no</span></span>
                 </td>-->
                <td>{{iisCourseInfo.cmsTrade.name}}</td>
                <td>{{iisCourseInfo.totalPostT}}</td>
                <td>{{iisCourseInfo.noOfPostT}}</td>
                <!--<td>{{ +iisCourseInfo.totalPostT - +iisCourseInfo.noOfPostT }}</td>-->
                <td>{{iisCourseInfo.totalPostStaff}}</td>
                <td>{{iisCourseInfo.noOfPostStaff}}</td>
                <!--   <td>{{iisCourseInfo.dateMpo}}</td>
                   <td>{{iisCourseInfo.seatNo}}</td>
                   <td>{{iisCourseInfo.shift}}</td>
                   <td>
                       <a ui-sref="iisCurriculumInfo.detail({id:iisCourseInfo.iisCurriculumInfo.id})">{{iisCourseInfo.iisCurriculumInfo.recNo}}</a>
                   </td>
                   <td>
                       <a ui-sref="cmsTrade.detail({id:iisCourseInfo.cmsTrade.id})">{{iisCourseInfo.cmsTrade.code}}</a>
                   </td>
                   <td>
                       <a ui-sref="cmsSubject.detail({id:iisCourseInfo.cmsSubject.id})">{{iisCourseInfo.cmsSubject.code}}</a>
                   </td>-->
                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="instituteInfo.iisCourseInfo.detail({id:iisCourseInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>


                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
    <div class="col-md-12 no-print text-right">
        <button type="submit" class="btn btn-sm btn-primary no-print" onclick="window.print()" >
            <i class="fa fa-print"></i>&nbsp;
            <span translate="entity.action.print" >Print</span>
        </button>
    </div>
</div>

