<div class="common-table">

<h2><span translate="stepApp.almEmpLeaveInitialize.detail.title">AlmEmpLeaveInitialize</span> {{almEmpLeaveInitialize.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveInitialize.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:almEmpLeaveInitialize.employeeInfo.id})">{{almEmpLeaveInitialize.employeeInfo.fullName}}</a>
                </td>

                <td>
                    <span translate="stepApp.almEmpLeaveInitialize.almLeaveType">almLeaveType</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="almLeaveType.detail({id:almEmpLeaveInitialize.almLeaveType.id})">{{almEmpLeaveInitialize.almLeaveType.leaveTypeName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveInitialize.year">Year</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveInitialize.year}}</span>
                </td>

                <td>
                    <span translate="stepApp.almEmpLeaveInitialize.leaveEarned">LeaveEarned</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveInitialize.leaveEarned}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveInitialize.leaveTaken">LeaveTaken</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveInitialize.leaveTaken}}</span>
                </td>

                <td>
                    <span translate="stepApp.almEmpLeaveInitialize.leaveForwarded">LeaveForwarded</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveInitialize.leaveForwarded}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveInitialize.leaveOnApply">LeaveOnApply</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveInitialize.leaveOnApply}}</span>
                </td>

                <td>
                    <span translate="stepApp.almEmpLeaveInitialize.leaveBalance">LeaveBalance</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveInitialize.leaveBalance}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveInitialize.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveInitialize.activeStatus ? 'Yes': 'No'}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>


            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
