<form id="fileViewer">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeModal()">&times;</button>
        <h4 class="modal-title" ng-if="viewerObject.contentType != null" class="modal-title">{{viewerObject.pageTitle}}</h4>
        <h4 class="modal-title" ng-if="viewerObject.contentType == null">Attachment Information</h4>
    </div>
    <div class="modal-body text-center" ng-if="viewerObject.contentType != null">
        <div ng-switch on="viewerObject.contentType">
            <div ng-switch-when="application/pdf">
                <object data="{{viewerObject.content}}" embed-src="{{viewerObject.content}}"
                        type="{{viewerObject.contentType}}"
                        style="width:100%; height:600px;text-align: center">
                </object>
            </div>
            <div ng-switch-default>
                <object data="{{viewerObject.content}}" embed-src="{{viewerObject.content}}"
                        type="{{viewerObject.contentType}}" style=" max-width: 100%;text-align: center">
                </object>
            </div>
        </div>
    </div>
    <div class="modal-body text-center" ng-if="viewerObject.contentType == null">
        <h2>
            No Attachment Found !
        </h2>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Close</span>

        </button>

            <a ng-if="viewerObject.contentType != null"  class="btn btn-primary" href="{{viewerObject.content}}" download><span>Download</span></a>

    </div>
</form>
