<div class="col-md-12 common-dialogue">
    <h4 ng-show="assetCategorySetup.id == null" translate="stepApp.assetCategorySetup.home.createOrEditLabel">Asset
        Category Setup</h4>
    <h4 ng-show="assetCategorySetup.id != null" translate="stepApp.assetCategorySetup.home.EditLabel">Asset Category
        Setup</h4>
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <div class="col-md-12 padding-tb">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetCategorySetup.assetTypeSetup"
                           for="field_assetTypeSetup">assetTypeSetup</label>
                    <div class="input-margin">
                        <select class="form-control" id="field_assetTypeSetup" name="assetTypeSetup"
                                ng-model="assetCategorySetup.assetTypeSetup"
                                ng-options="assetTypeSetup as assetTypeSetup.typeName for assetTypeSetup in assettypesetups  | filter:assetTypeSetup.status='true' track by assetTypeSetup.id">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetCategorySetup.categoryName"
                           for="field_categoryName">Asset Category Name</label>
                    <div class="input-margin">
                        <input type="text" class="form-control" name="categoryName" id="field_categoryName"
                               ng-model="assetCategorySetup.categoryName"
                               ng-remote-validate="/api/assetCategorySetups/assetCategorySetupNameUnique/"
                               ng-remote-method="GET"
                               required ng-maxlength="100"
                        />
                        <span class="message" ng-show="editForm.categoryName.$pending">validating...</span>
                        <div ng-show="editForm.categoryName.$invalid">
                            <p style="color:red"
                               ng-show="editForm.categoryName.$error.ngRemoteValidate">
                                This Name is already exist
                            </p>
                            <p class="help-block"
                               ng-show="editForm.categoryName.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.categoryName.$error.maxlength" translate="entity.validation.maxlength"
                               translate-value-max="100">
                                This field cannot be longer than 100 characters.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetCategorySetup.description"
                           for="field_description"> Type Details</label>
                        <textarea class="form-control" name="description" id="field_description"
                                  ng-model="assetCategorySetup.description"
                                  rows="2" cols="30">
                        </textarea>
                    <div ng-show="editForm.description.$invalid">
                        <p class="help-block"
                           ng-show="editForm.description.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class=" control-label" translate="stepApp.assetCategorySetup.status">Status</label>
                    <div class="input-margin">
                        <label class="radio-inline">
                            <input type="radio" ng-checked="assetCategorySetup.status == true"
                                   name="optradio" name="status" value="true"
                                   ng-model="assetCategorySetup.status"><span translate="global.home.active">active</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-checked="assetCategorySetup.status == false"
                                   name="optradio" name="status" value="false"
                                   ng-model="assetCategorySetup.status"><span translate="global.home.inactive">inactive</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 padding-tb">
                <div class="form-group">
                    <button type="button" class="btn btn-info" onclick="window.history.back()">
                        <i class="fa fa-angle-double-left"></i>
                        <span translate="entity.action.back">Back</span>
                    </button>
                    <button type="submit" class="btn btn-primary"
                            ng-disabled="editForm.$invalid || editForm.$submitted">
                        <i class="fa fa-hdd-o"></i>
                        <span ng-show="assetCategorySetup.id == null" translate="entity.action.save">Save</span>
                        <span ng-show="assetCategorySetup.id != null" translate="entity.action.update">Save</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
