<!--===asset category setup detail===-->
<div class="common-table">
    <h2 id="myAssetCategorySetupLabel" translate="stepApp.assetCategorySetup.detail.title">Details of Asset Category</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.assetCategorySetup.categoryCode">CategoryCode</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetCategorySetup.categoryCode}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetCategorySetup.categoryName">CategoryName</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetCategorySetup.categoryName}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetCategorySetup.assetTypeSetup">assetTypeSetup</span>
                    </td>
                    <td>
                        <a class="form-control-static"
                           ui-sref="assetTypeSetup.detail({id:assetCategorySetup.assetTypeSetup.id})">{{assetCategorySetup.assetTypeSetup.typeName}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetCategorySetup.description">Description</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetCategorySetup.description}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetCategorySetup.status">Status</span>
                    </td>

                    <td>
                        <span class="form-control-static">{{assetCategorySetup.status ? 'Active' : 'Inactive'}}</span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
