<!--asset type setup-->
<div class="col-md-12 common-list">
    <h2 translate="stepApp.assetCategorySetup.home.title">Asset Category Setup</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary " ui-sref="assetCategorySetup.new">
                <span class="glyphicon glyphicon-plus"></span><span
                translate="stepApp.assetCategorySetup.home.createLabel">Add New</span>
            </button>
        </div>
    </div>

    <!--=======================delete massege======================-->

    <div class="modal animated bounceInUp" id="deleteAssetCategorySetupConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(assetCategorySetup.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.assetCategorySetup.delete.question"
                           translate-values="{id: '{{assetCategorySetup.id}}'}">Are you sure you want to delete this
                            AssetCategorySetup?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--=======================End delete massege=====================-->
    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-head-bg">
            <thead>
            <tr>
                <th class="text-center" translate="global.form.serial">serial</th>
                <th translate="global.field.id">ID</th>
                <th translate="stepApp.assetCategorySetup.categoryName">CategoryName</th>
                <th translate="stepApp.assetCategorySetup.description">Description</th>
                <th translate="stepApp.assetCategorySetup.status">Status</th>
                <th translate="stepApp.assetCategorySetup.assetTypeSetup">assetTypeSetup</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody class="employee-list table-body-bg">
            <tr dir-paginate="assetCategorySetup in assetCategorySetups | filter:q | itemsPerPage: pageSize track by assetCategorySetup.id"
                current-page="currentPage">
                <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                <td><a ui-sref="assetCategorySetup.detail({id:assetCategorySetup.id})">{{assetCategorySetup.id}}</a>
                </td>
                <td>{{assetCategorySetup.categoryName}}</td>
                <td>{{assetCategorySetup.description}}</td>
                <td>
                    <span ng-show="assetCategorySetup.status==true" class="form-control-static">Active</span>
                    <span ng-show="assetCategorySetup.status==false" class="form-control-static">Inactive</span>

                </td>
                <td>
                    <a ui-sref="assetTypeSetup.detail({id:assetCategorySetup.assetTypeSetup.id})">{{assetCategorySetup.assetTypeSetup.typeName}}</a>
                </td>
                <td class="text-right">
                    <button type="submit" class="btn btn-sm btn-info su_serv_marz"
                            ui-sref="assetCategorySetup.detail({id:assetCategorySetup.id})"><i
                        class="fa fa-eye-slash"></i>

                        <span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary su_serv_marz"
                            ui-sref="assetCategorySetup.edit({id:assetCategorySetup.id})"><i class="fa fa-pencil"></i>
                        <span translate="entity.action.edit"> Edit</span>
                    </button>
                    <button ng-hide="false" type="submit" ng-click="delete(assetCategorySetup.id)"
                            class="btn btn-sm btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav>
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page"
                        ng-change="loadAll()"></uib-pagination>
    </div>
</div>
<!--End asset type setup-->
