<div class="row">
    <div class="col-md-3 padding-right0">
        <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
    </div>

    <div class="col-md-9 lbl-dash">
        <div class="common-dialogue">
            <h4 translate="stepApp.mpoCommitteePersonInfo.home.title">MpoCommitteePersonInfos</h4>
            <div class="row">
                <div class="form-group col-md-5">
                    <label translate="stepApp.mpoCommitteeHistory.month" for="field_month">Month</label>
                    <select class="form-control col-md-6" name="month" id="field_month"
                            ng-model="mpoCommitteeHistory.month"
                            required>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">Jun</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>

                </div>
                <div class="form-group col-md-5">
                    <label translate="stepApp.mpoCommitteeHistory.year" for="field_year">Year</label>
                    <select class="form-control" required id="field_year" name="year"
                            ng-model="mpoCommitteeHistory.year" ng-options="o as o for o in years">
                        <option value=""></option>
                    </select>

                </div>
                <div class=" col-md-2">
                    <div class="form-group" style="margin-top: 25px">
                        <label></label>
                        <input type="button" ng-disabled="!mpoCommitteeHistory.year || !mpoCommitteeHistory.month"
                               class="btn btn-default" value="{{'stepApp.mpoCommitteePersonInfo.search' | translate}}"
                               ng-click="searchCommittee()">
                    </div>

                </div>
            </div>
            <div class="container" ng-if="mpoCommitteeHistorys.length > 0">
                <div class="col-md-10 padding-bt">
                    <form class="form-inline ">
                        <button class="btn btn-warning pull-right" ng-click="deactivateCommitteeMembers()"><span
                            class=""></span> <span>Deactivate All Members</span>
                        </button>

                        <button class="btn btn-info pull-right" ng-click="activateCommitteeMembers()"><span
                            class=""></span> <span>Activate All Members</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12 common-list no_padding" ng-if="mpoCommitteeHistorys.length > 0">
            <div class="col-md-12 table-responsive no_padding">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th translate="stepApp.mpoCommitteePersonInfo.name">Name</th>
                        <th translate="stepApp.mpoCommitteePersonInfo.contactNo">ContactNo</th>
                        <th translate="stepApp.mpoCommitteePersonInfo.designation">Designation</th>
                        <th translate="stepApp.mpoCommitteePersonInfo.orgName">OrgName</th>
                        <th translate="stepApp.mpoCommitteePersonInfo.activated">Activated</th>
                        <th translate="stepApp.mpoCommitteePersonInfo.email">Email</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="mpoCommitteeHistory in mpoCommitteeHistorys track by mpoCommitteeHistory.id">
                        <td>{{mpoCommitteeHistory.mpoCommitteePersonInfo.user.firstName}}</td>
                        <td>{{mpoCommitteeHistory.mpoCommitteePersonInfo.contactNo}}</td>
                        <td>{{mpoCommitteeHistory.mpoCommitteePersonInfo.designation}}</td>
                        <td>{{mpoCommitteeHistory.mpoCommitteePersonInfo.orgName}}</td>
                        <td>{{mpoCommitteeHistory.mpoCommitteePersonInfo.activated}}</td>
                        <td>{{mpoCommitteeHistory.mpoCommitteePersonInfo.user.email}}</td>
                        <td class="text-right">
                            <button type="submit"
                                    ui-sref="mpoCommitteePersonInfo.detail({id:mpoCommitteeHistory.mpoCommitteePersonInfo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                                translate="entity.action.view">View</span>
                            </button>
                            <button type="button" ng-if="mpoCommitteeHistory.mpoCommitteePersonInfo.activated"
                                    ng-click="deactivateMember(mpoCommitteeHistory)"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                                translate="entity.action.inactive">Deactivate</span>
                            </button>
                            <button type="button" ng-if="!mpoCommitteeHistory.mpoCommitteePersonInfo.activated"
                                    ng-click="activateMember(mpoCommitteeHistory)"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                                translate="entity.action.active">Activate</span>
                            </button>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav class="no-print">
                    <ul class="pagination">
                        <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                        <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                        <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                        <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                        <li class="active"><a>{{page + 1}}</a></li>
                        <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                        <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a>
                        </li>
                        <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                        <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
