<div class="">
    <div class="col-md-3 padding-left0 padding-right0">
        <div has-any-authority="ROLE_JOBSEEKER">
            <ng-include src="'scripts/app/entities/jobPortal/jp-user-menu.html'"></ng-include>
        </div>
        <div ng-show="userRole == 'ROLE_EMPLOYER'">
            <ng-include src="'scripts/app/entities/jobPortal/jp-employer-menu.html'"></ng-include>
        </div>
        <div ng-show="userRole == 'ROLE_ADMIN' || userRole == 'ROLE_JPADMIN'">
            <ng-include src="'scripts/app/entities/jobPortal/jp-admin-menu.html'"></ng-include>
        </div>
    </div>
    <div class="col-md-9 lbl-dash">
        <div class="col-md-12 common-list">
            <h2 class="employer-profile-heading panel-heading" translate="global.form.ChangePassword">Change
                Password</h2>
            <div class="col-md-8 col-md-offset-2">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-1 change_pass">
                    <form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>
                        <div class="panel panel-primary">
                            <div>
                                <h2>
                                    <span class="glyphicon glyphicon-th"></span>
                                    <sapn translate="global.form.ChangePassword">Change Password</sapn>
                                </h2>
                            </div>
                            <div class="panel-body">
                                <div class="row">

                                    <!-- <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box my_user"><br>
                                         <img
                                             data-ng-src="{{'data:' + employer.companyLogoContentType + ';base64,' + employer.companyLogo}}"
                                             style="max-height: 100px;" ng-if="employer.companyLogo"/>
                                     </div>-->
                                    <div class="col-xs-12 col-sm-12 col-md-12 login-box">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><span
                                                    class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <input class="form-control" ng-model="user.email" type="text"
                                                       placeholder="Username" readonly value="User Name" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"
                                                   ng-model="currentPassword" name="currentPassword"
                                                   ng-remote-validate="/api/account/checkPassword/"
                                                   ng-remote-method="GET"
                                                   ng-remote-throttle="1000"
                                                   placeholder="{{'global.form.currentPass' | translate}}"
                                                   required
                                            >

                                            <div ng-show="form.currentPassword.$invalid">
                                                <p class="help-block"
                                                   ng-show="form.currentPassword.$error.ngRemoteValidate">
                                                    Old password is not match
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="password" name="password"
                                                   placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                                                   ng-model="password" ng-minlength=5 ng-maxlength=50 required>

                                            <div ng-show="form.password.$dirty && form.password.$invalid">
                                                <p class="help-block"
                                                   ng-show="form.password.$error.required"
                                                   translate="global.messages.validate.newpassword.required">
                                                    Your password is required.
                                                </p>

                                                <p class="help-block"
                                                   ng-show="form.password.$error.minlength"
                                                   translate="global.messages.validate.newpassword.minlength">
                                                    Your password is required to be at least 5 characters.
                                                </p>

                                                <p class="help-block"
                                                   ng-show="form.password.$error.maxlength"
                                                   translate="global.messages.validate.newpassword.maxlength">
                                                    Your password cannot be longer than 50 characters.
                                                </p>
                                            </div>
                                            <password-strength-bar password-to-check="password"
                                                                   ng-show="password"></password-strength-bar>
                                        </div>
                                        <div class="form-group">

                                            <input type="password" class="form-control" id="confirmPassword"
                                                   name="confirmPassword"
                                                   placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                                                   ng-model="confirmPassword"
                                                   ng-maxlength=50 required
                                                   ng-keyup="matchPass(password,confirmPassword)">

                                            <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                                                <p class="help-block"
                                                   ng-show="form.confirmPassword.$error.required"
                                                   translate="global.messages.validate.confirmpassword.required">
                                                    Your confirmation password is required.
                                                </p>

                                                <p class="help-block"
                                                   ng-show="form.confirmPassword.$error.minlength"
                                                   translate="global.messages.validate.confirmpassword.minlength">
                                                    Your confirmation password is required to be at least 5 characters.
                                                </p>
                                            </div>
                                            <p ng-show="notMatched" style="font-size: 0.8em; color:red;">Password
                                                doesn't matched !</p>
                                        </div>
                                        <!--<div class="form-group">-->
                                        <!--<div class="input-group">-->
                                        <!--<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>-->
                                        <!--<input class="form-control" type="password" placeholder="Current Password">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="form-group">-->
                                        <!--<div class="input-group">-->
                                        <!--<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>-->
                                        <!--<input class="form-control" type="password" placeholder="New Password">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="form-group">-->
                                        <!--<div class="input-group">-->
                                        <!--<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>-->
                                        <!--<input class="form-control" type="password" placeholder="Repeat Password">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6"></div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <button type="submit" ng-disabled="form.$invalid"
                                                class="btn icon-btn-save btn-success pull-right"><span
                                            translate="global.form.ChangePassword">Change Password</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--panel-->
                    </form>
                    <!--form-->
                </div>
            </div>
        </div>
    </div><!-- content body right-->
</div>
