<div class="">

    <div class="col-sm-2 padding-right0 padding-left0">
        <ng-include src="'scripts/app/entities/jobPortal/jp-admin-menu.html'"></ng-include>
    </div>

    <div class="col-sm-10 padding-left0 common-table">
<div>
    <h2><span translate="stepApp.employer.detail.title">Employer</span> {{employer.name}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.employer.companyLogo">CompanyLogo</span>
                </td>
                <td class="emp_logo">
                    <img data-ng-src="{{'data:' + employer.companyLogoContentType + ';base64,' + employer.companyLogo}}" style="max-width: 100%;" ng-if="employer.companyLogo"/>
                    <div>{{employer.companyLogoContentType}}  {{byteSize(employer.companyLogo)}}</div>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employer.companyName">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{employer.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employer.alternativeCompanyName">AlternativeCompanyName</span>
                </td>
                <td>
                    <span class="form-control-static">{{employer.alternativeCompanyName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employer.contactPersonName">ContactPersonName</span>
                </td>
                <td>
                    <span class="form-control-static">{{employer.contactPersonName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employer.personDesignation">PersonDesignation</span>
                </td>
                <td>
                    <span class="form-control-static">{{employer.personDesignation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employer.contactNumber">ContactNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{employer.contactNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employer.companyInformation">CompanyInformation</span>
                </td>
                <td>
                    <span class="form-control-static">{{employer.companyInformation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employer.address">Address</span>
                </td>
                <td>
                    <span class="form-control-static">{{employer.address}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employer.city">City</span>
                </td>
                <td>
                    <span class="form-control-static">{{employer.city}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employer.zipCode">ZipCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{employer.zipCode}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employer.companyWebsite">CompanyWebsite</span>
                </td>
                <td>
                    <span class="form-control-static">{{employer.companyWebsite}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employer.industryType">IndustryType</span>
                </td>
                <td>
                    <span class="form-control-static">{{employer.industryType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employer.businessDescription">BusinessDescription</span>
                </td>
                <td>
                    <span class="form-control-static">{{employer.businessDescription}}</span>
                </td>
            </tr>


            <tr>
                <td>
                    <span translate="stepApp.employer.country">country</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="country.detail({id:employer.country.id})">{{employer.country.name}}</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="col-md-12 btn_center">
        <button type="submit"
                onclick="window.history.back()"
                class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
        </button>
    </div>
</div>
</div>
    </div>
