<div class="row">
    <div class="col-md-3">
     <!--   <ng-include src="'scripts/components/navbar/left-menu.html'"></ng-include>-->
        <ng-include src="'scripts/app/entities/jobPortal/jp-employer-menu.html'"></ng-include>
    </div>

    <div class="col-sm-9 col-md-9 my_job_app">
        <div class="all_job_area">
            <div id="industry-header">
                <h4 class="heading_center" translate="stepApp.JobApplicationStatus.title"></h4>
            </div>
            <div class="col-sm-12 text-center job-viewed">
                <div class="col-sm-2 job-badge text-center">
                    <a ui-sref="job.viewedList({id:jobApplications[0].job.id})">
                        <h3 translate="stepApp.JobApplicationStatus.cvViewed">CV Viewed</h3>
                    <span>
                        <div class="view-count">
                            <p>{{applicationDto.cvViewed}}</p>
                        </div>
                    </span>
                    </a>
                </div>
                <div class="col-sm-2 job-badge text-center">
                    <a ui-sref="job.unviewedList({id:jobApplications[0].job.id})">
                        <h3 translate="stepApp.JobApplicationStatus.cvNotViewed">CV Not Viewed</h3>
                    <span>
                        <div class="view-count">
                            <p>{{applicationDto.cvNotViewed}}</p>
                        </div>
                    </span>
                    </a>
                </div>
                <div class="col-sm-2 job-badge text-center">
                    <a ui-sref="job.shortListed({id:jobApplications[0].job.id})">
                        <h3 translate="stepApp.JobApplicationStatus.shortlisted">Short Listed</h3>
                    <span>
                        <div class="view-count">
                            <p>{{applicationDto.shortListed}}</p>
                        </div>
                    </span>
                    </a>
                </div>
                <div class="col-sm-2 job-badge text-center">
                    <a ui-sref="job.interviewList({id:jobApplications[0].job.id})">
                        <h3 translate="stepApp.JobApplicationStatus.interviewed">Interviewed</h3>
                    <span>
                        <div class="view-count">
                            <p>{{applicationDto.interviewed}}</p>
                        </div>
                    </span>
                    </a>
                </div>
                <div class="col-sm-2 job-badge text-center">
                    <a ui-sref="job.finalList({id:jobApplications[0].job.id})">
                        <h3 translate="stepApp.JobApplicationStatus.selected">Selected</h3>
                    <span>
                        <div class="view-count">
                            <p>{{applicationDto.selected}}</p>
                        </div>
                    </span>
                    </a>
                </div>
                <div class="col-sm-2 job-badge text-center">
                    <a ui-sref="job.rejectedList({id:jobApplications[0].job.id})">
                        <h3 translate="stepApp.JobApplicationStatus.rejected">Rejected</h3>
                    <span>
                        <div class="view-count su_view">
                            <p>{{applicationDto.rejected}}</p>
                        </div>
                    </span>
                    </a>
                </div>

            </div>

            <br>


            <div class="col-md-12">
                <div class="job_area" >
                    <form class="form">
                      <div class="col-md-6">
                          <div class="col-sm-12">
                              <div class="single_job">
                                  <label>Gender</label>
                                  <select ng-model="cvSearchCriteria.gender" class="form-control">
                                      <option value="">Select Gender</option>
                                      <option>All</option>
                                      <option value="Male">Male</option>
                                      <option value="Female">Female</option>
                                  </select>
                              </div>
                          </div>

                          <div class="col-md-12">
                              <div class="single_job">
                                  <label for="field_district">Location</label>
                                  <div>
                                      <select class="form-control" id="field_district"  name="district" ng-model="cvSearchCriteria.districtId" ng-options="district.id as district.name for district in districts track by district.id">
                                          <option value="">Select Location</option>
                                          <option value="">All</option>
                                      </select>
                                  </div>
                              </div>
                          </div>
                      </div>

                        <div class="col-md-6">
                            <div class="col-sm-12 no_padding">
                                <div class="single_job">
                                    <div class="col-md-12"><label>Age Range</label></div>
                                   <div class="col-md-6">

                                       <input ng-model="cvSearchCriteria.ageStart"  type="text" numeric-only placeholder="In Age" class="form-control" >
                                   </div>
                                   <div class="col-md-6">
                                       <input ng-model="cvSearchCriteria.ageEnd"  type="text" numeric-only placeholder="In Age" class="form-control">
                                   </div>
                                </div>
                            </div>

                            <div class="col-sm-12 no_padding">
                                <div class="single_job">
                                    <div class="col-md-12"> <label>Experience Range</label></div>
                                    <div class="col-md-6">
                                        <input ng-model="cvSearchCriteria.expStart"  type="text" numeric-only class="form-control" placeholder="In Year">
                                    </div>
                                    <div class="col-md-6">
                                        <input ng-model="cvSearchCriteria.expEnd"  type="text" numeric-only class="form-control" placeholder="In Year">
                                    </div>



                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 btn-su">
                            <button style="margin-right: 15px" class="btn btn-default" ng-click="sortCvs()" value="search"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>
                            <!--<input class="form-control btn-default " type="button" ng-click="sortCvs()" value="search">-->
                        </div>
                    </form>
                </div>
            </div>


            <div class="col-sm-12 no_padding applicants">
                <h5 translate="stepApp.JobApplicationStatus.candidates">Candidates</h5>
                <div class="col-sm-12 candidates-list no_padding" ng-repeat="applicant in jobApplications | filter: status">
                    <div class="col-sm-5">
                        <!--<div class="col-sm-5">
                            <h3 translate="stepApp.JobApplicationStatus.applicantName">Applicant Name : </h3>

                            <h3 translate="stepApp.JobApplicationStatus.applicationDate">Application Date :</h3>

                            <h3 translate="stepApp.JobApplicationStatus.expectedSalary">Expected Salary :</h3>
                        </div>-->
                        <div class="col-sm-12 no_padding">
                            <div class="col-md-4 cv_image no_padding">
                                <img width="200" data-ng-src="{{'data:' + employer.pictureType + ';base64,' + applicant.jpEmployee.picture}}" />
                                <!--<div>{{tempEmployer.companyLogoContentType}}  {{byteSize(tempEmployer.companyLogo)}}</div>-->
                                <!--<img ng-src="{{applicant.jpEmployee.picture}}" alt="profile image">-->
                            </div>

                            <div class="col-md-8">
                                <h3 style="font-size: 17px; text-transform: capitalize; font-weight: 700; color:#426686;padding-bottom: 0; " >
                                    <a  ui-sref="employer.viewResume({id:applicant.id})"href="">{{applicant.jpEmployee.name}}</a> </h3>

                                <h3 style="margin-bottom: 2px"><span class="badge " style="margin-bottom: 2px">Age: {{calculateAge(applicant.jpEmployee.dob)}} years</span></br>
                                    <!--<span class="badge "style="margin-bottom: 2px" >Experience: {{applicant.jpEmployee.totalExperience}} {{applicant.jpEmployee.totalExperience != null? 'years':''}} </span>-->
                                    <span class="badge "style="margin-bottom: 2px" >Experience: {{applicant.experience}}  </span>

                                    </br><span class="badge "style="margin-bottom: 2px" >Expected Salary: {{applicant.expectedSalary}}</span>
                                    </br><span class="badge "style="margin-bottom: 2px" >Contact No: {{applicant.jpEmployee.mobileNo}}</span>
                                    </br><span class="badge " style="margin-bottom: 2px">Date of Application: {{applicant.appliedDate | date}}</span></h3>
                            </div>



                        </div>
                    </div>
                    <div class="col-sm-7">
                        <!--<div class="col-sm-4 applicant-view">
                            <p>
                                <a ui-sref="employer.viewResume({id:applicant.id})" class="btn btn-default"><span
                                    class="glyphicon glyphicon-eye"></span><span class="glyphicon glyphicon-eye-open"></span>&nbsp;View</a>
                            </p>

                        </div>-->
                        <div class="col-sm-8">
                            <div class="col-md-8 no_padding" style="margin-top: 20px">
                                <div class="col-sm-7 job-badge text-center" >
                                    <a ng-click="updateStatus('shortlisted', applicant.id)">
                                        <span>
                                            <div class="view-count view-count_su" >
                                                <p><span class="glyphicon glyphicon-ok" ></span></p>
                                            </div>
                                        </span>
                                        <h3 style="text-align: center   ; font-size: 10px">Short List</h3>
                                    </a>
                                </div>

                                <div class="col-sm-5 job-badge text-center" >
                                    <a ng-click="updateStatus('rejected', applicant.id)">
                                        <span>
                                            <div class="view-count su_view">
                                                <p><span class="glyphicon glyphicon-remove"></span></p>
                                            </div>
                                        </span>
                                        <h3 style="text-align: center; font-size: 10px; ">Reject</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                           <div class="col-md-4 " style="margin-top: 20px">
                               <h3 class="col-sm-9" translate="stepApp.jobapplication.actions">Move To</h3>
                               <select class="form-control col-sm-7" name="applicantStatus" ng-change="updateStatus(jobapplication.applicantStatus, applicant.id)" ng-model="jobapplication.applicantStatus"
                                       id="field_applicantStatus">
                                   <option value="">Select</option>
                                   <option value="shortlisted" translate="stepApp.JobApplicationStatus.addToshortlisted">
                                       shortlisted
                                   </option>
                                   <option value="interviewed" translate="stepApp.JobApplicationStatus.addTointerviewed">
                                       interviewed
                                   </option>
                                   <option value="rejected" translate="stepApp.JobApplicationStatus.addTorejected">rejected</option>
                                   <option value="selected" translate="stepApp.JobApplicationStatus.selected">selected</option>
                               </select>
                           </div>

                        <!--<div class="col-sm-2">
                            <a ng-click="updateStatus(jobapplication.applicantStatus, applicant.id)" class="btn btn-success" style="margin-top:25px;">Update</a>
                        </div>-->
                    </div>
                </div>
            </div>
            <nav>
                <ul class="pagination">
                    <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                    <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                    <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                    <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                    <li class="active"><a>{{page + 1}}</a></li>
                    <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                    <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                    <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                    <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
                </ul>
            </nav>
            <div class="col-md-12 heading_center">
                <button type="submit"
                        onclick="window.history.back()"
                        class="btn btn-info">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
                </button>
            </div>
        </div>
    </div>
</div><!--end row-->

