<div>
    <h2 translate="stepApp.instEmplExperience.home.title">InstEmplExperiences</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="instEmplExperience.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.instEmplExperience.home.createLabel">Create a new InstEmplExperience</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a InstEmplExperience</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.instEmplExperience.instituteName">InstituteName</th>
                    <th translate="stepApp.instEmplExperience.indexNo">IndexNo</th>
                    <th translate="stepApp.instEmplExperience.address">Address</th>
                    <th translate="stepApp.instEmplExperience.designation">Designation</th>
                    <th translate="stepApp.instEmplExperience.subject">Subject</th>
                    <th translate="stepApp.instEmplExperience.salaryCode">SalaryCode</th>
                    <th translate="stepApp.instEmplExperience.joiningDate">JoiningDate</th>
                    <th translate="stepApp.instEmplExperience.mpoEnlistingDate">MpoEnlistingDate</th>
                    <th translate="stepApp.instEmplExperience.resignDate">ResignDate</th>
                    <th translate="stepApp.instEmplExperience.dateOfPaymentReceived">DateOfPaymentReceived</th>
                    <th translate="stepApp.instEmplExperience.startDate">StartDate</th>
                    <th translate="stepApp.instEmplExperience.endDate">EndDate</th>
                    <th translate="stepApp.instEmplExperience.vacationFrom">VacationFrom</th>
                    <th translate="stepApp.instEmplExperience.vacationTo">VacationTo</th>
                    <th translate="stepApp.instEmplExperience.totalExpFrom">TotalExpFrom</th>
                    <th ng-if="instEmplExperience.current" translate="stepApp.instEmplExperience.totalExpTo">TotalExpTo</th>
                    <th translate="stepApp.instEmplExperience.current">Current</th>
                    <th translate="stepApp.instEmplExperience.attachment">Attachment</th>
                    <th translate="stepApp.instEmplExperience.instEmployee">instEmployee</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="instEmplExperience in instEmplExperiences track by instEmplExperience.id">
                    <td><a ui-sref="instEmplExperience.detail({id:instEmplExperience.id})">{{instEmplExperience.id}}</a></td>
                    <td>{{instEmplExperience.instituteName}}</td>
                    <td>{{instEmplExperience.indexNo}}</td>
                    <td>{{instEmplExperience.address}}</td>
                    <td>{{instEmplExperience.designation}}</td>
                    <td>{{instEmplExperience.subject}}</td>
                    <td>{{instEmplExperience.salaryCode}}</td>
                        <td>{{instEmplExperience.joiningDate | date:'mediumDate'}}</td>
                        <td>{{instEmplExperience.mpoEnlistingDate | date:'mediumDate'}}</td>
                        <td>{{instEmplExperience.resignDate | date:'mediumDate'}}</td>
                        <td>{{instEmplExperience.dateOfPaymentReceived | date:'mediumDate'}}</td>
                        <td>{{instEmplExperience.startDate | date:'mediumDate'}}</td>
                        <td>{{instEmplExperience.endDate | date:'mediumDate'}}</td>
                        <td>{{instEmplExperience.vacationFrom | date:'mediumDate'}}</td>
                        <td>{{instEmplExperience.vacationTo | date:'mediumDate'}}</td>
                        <td>{{instEmplExperience.totalExpFrom | date:'mediumDate'}}</td>
                        <td ng-if="instEmplExperience.current">{{instEmplExperience.totalExpTo | date:'mediumDate'}}</td>
                    <td>{{instEmplExperience.current}}</td>
                    <td>{{instEmplExperience.attachment}}</td>
                    <td>
                        <a ui-sref="instEmployee.detail({id:instEmplExperience.instEmployee.id})">{{instEmplExperience.instEmployee.name}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="instEmplExperience.detail({id:instEmplExperience.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="instEmplExperience.edit({id:instEmplExperience.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="instEmplExperience.delete({id:instEmplExperience.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
