<div class="col-sm-12 common-dialogue">
    <h4 class="modal-title" id="myInstEmpEduQualiLabel"
        translate="stepApp.instEmployee.home.instEmployeeEmploymentInfo">Create or edit a InstEmplExperience</h4>
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <div class="col-md-12 no_padding" ng-repeat="instEmplExperience in instEmplExperiences track by $index">
            <div class="col-sm-12 no_padding">
                <h3><span translate="stepApp.instEmplExperience.expInfo"></span> {{$index + 1}} </h3>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmplExperience.instituteName"
                           for="field_instituteName">InstituteName</label>
                    <input type="text" class="form-control" name="instituteName" id="field_instituteName"
                           ng-model="instEmplExperience.instituteName"
                           ng-maxlength="50"
                           required
                           tooltip="{{'stepApp.instEmplExperience.instituteName' | translate}}"
                           only-letters-and-dash-and-dot/>
                    <div ng-show="editForm.instituteName.$invalid">
                        <p class="help-block"
                           ng-show="editForm.instituteName.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="50">
                            This field cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmplExperience.designation"
                           for="field_designation">Designation</label>
                    <input type="text" class="form-control" name="designation" id="field_designation"
                           ng-model="instEmplExperience.designation"
                           tooltip="{{'stepApp.instEmplExperience.designation' | translate}}"
                           only-letters-and-dash-and-dot
                           ng-maxlength="512" required/>
                    <div ng-show="editForm.designation.$invalid">
                        <p class="help-block"
                           ng-show="editForm.designation.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="512">
                            This field cannot be longer than 512 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmplExperience.subject" for="field_subject">Subject</label>
                    <input type="text" class="form-control" name="subject" id="field_subject"
                           ng-model="instEmplExperience.subject"
                           tooltip="{{'stepApp.instEmplExperience.subject' | translate}}"
                           only-letters-and-dash-and-dot
                           ng-maxlength="512" required/>
                    <div ng-show="editForm.subject.$invalid">
                        <p class="help-block"
                           ng-show="editForm.subject.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="512">
                            This field cannot be longer than 512 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmplExperience.indexNo" for="field_indexNo">IndexNo</label>
                    <input type="text" class="form-control" name="indexNo" id="field_indexNo"
                           ng-model="instEmplExperience.indexNo"
                           tooltip="{{'stepApp.instEmplExperience.indexNo' | translate}}"
                           only-numbers
                           ng-maxlength="50"/>
                    <div ng-show="editForm.indexNo.$invalid">
                        <p class="help-block"
                           ng-show="editForm.indexNo.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="50">
                            This field cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmplExperience.department" for="field_indexNo">IndexNo</label>
                    <input type="text" class="form-control" name="department" id="field_indexNo"
                           ng-model="instEmplExperience.department"
                           tooltip="{{'stepApp.instEmplExperience.department' | translate}}"
                           only-letters-and-dash-and-dot
                           />

                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmplExperience.reasonOfResignation" for="field_reasonOfResignation">reasonOfResignation</label>
                    <input type="text" class="form-control" name="reasonOfResignation" id="field_reasonOfResignation"
                           ng-model="instEmplExperience.reasonOfResignation"
                           tooltip="{{'stepApp.instEmplExperience.reasonOfResignation' | translate}}"
                           only-letters-and-numbers
                           />
                </div>

                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmplExperience.mpoEnlistingDate" for="field_mpoEnlistingDate">MpoEnlistingDate</label>
                    <input type="text" class="form-control" name="mpoEnlistingDate" id="field_mpoEnlistingDate"
                           ng-model="instEmplExperience.mpoEnlistingDate"
                           datepicker-popup="{{calendar.dateFormat}}"
                           is-open="calendar.opened['mpoEnlistingDate'+$index]"
                           placeholder="{{'entity.placeholder.dateformat' | translate}}"
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'mpoEnlistingDate'+$index)"
                           tooltip="{{'stepApp.instEmplExperience.mpoEnlistingDate' | translate}}"
                           max-date="toDay"
                    />
                </div>

                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmplExperience.salaryCode">SalaryCode</label>
                    <select class="form-control" ng-model="instEmplExperience.salaryCode" name="code" id="field_code"
                            tooltip="{{'stepApp.instEmplExperience.salaryCode' | translate}}"
                    >
                        <option disabled selected value="" translate="stepApp.instEmplExperience.select">Select Salary Code</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                    <div ng-show="editForm.salaryCode.$invalid">
                        <p class="help-block"
                           ng-show="editForm.salaryCode.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="2">
                            This field cannot be longer than 2 characters.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.salaryCode.$error.pattern" translate="entity.validation.number">
                            Only number is allow for pay scale code.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.salaryCode.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label translate="stepApp.instEmplExperience.address" for="field_address">Address</label>
                    <textarea type="text" class="form-control" name="address" id="field_address"
                              ng-model="instEmplExperience.address"
                              ng-maxlength="512" minlength="5" maxlength="500" ng-minlength="5" required
                              rows="3"
                              cols="30"
                              tooltip="{{'stepApp.instEmplExperience.address' | translate}}"
                    >
                    </textarea>
                    <div ng-show="editForm.address.$invalid">
                        <p class="help-block"
                           ng-show="editForm.address.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="512">
                            This field cannot be longer than 512 characters.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplExperience.joiningDate" for="field_joiningDate">JoiningDate</label>
                <input type="text" class="form-control" name="joiningDate" id="field_joiningDate"
                       ng-model="instEmplExperience.joiningDate"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened['joiningDate'+$index]"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'joiningDate'+$index)"
                       ng-blur="deadlineValidation1(instEmplExperience)"
                       tooltip="{{'stepApp.instEmplExperience.joiningDate' | translate}}"
                       required
                max-date="toDay"
                />
                <p translate="stepApp.instEmplExperience.errMsg2" ng-show="dateError1"
                   style="font-size: 0.9em; color:#ff2432;">Need a valid date !</p>

            </div>

            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplExperience.resignDate" for="field_resignDate">ResignDate</label>
                <input type="text" class="form-control" name="resignDate" id="field_resignDate"
                       ng-model="instEmplExperience.resignDate"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened['resignDate'+$index]"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'resignDate'+$index)"
                       ng-blur="deadlineValidation1(instEmplExperience)"
                       tooltip="{{'stepApp.instEmplExperience.resignDate' | translate}}"
                       required
                       max-date="toDay"
                />
                <p translate="stepApp.instEmplExperience.errMsg1" ng-show="dateError1"
                   style="font-size: 0.9em; color:#ff2432;">Need a valid date !</p>
            </div>
            <div class="form-group col-md-6" ngf-drop
                 ngf-change="setResignAttachment($file, instEmplExperience, 'resignFile','resignFileCntType','resignFileName')">
                <label translate="stepApp.instEmplExperience.resignFileName" for="resignFileName">resignFileName</label>
                <div>
                    <div class="help-block clearfix">
                        <span class="pull-left">{{instEmplExperience.resignFileCntType}} {{byteSize(instEmplExperience.resignFile)}}</span>
                        <button
                            ng-click="instEmplExperience.resignFile=null;instEmplExperience.resignFileCntType=null;"
                            ng-if="instEmplExperience.resignFile"
                            class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>

                    <div class="input-group">
                        <input type="text" readonly class="form-control" name="resignFileName"
                               id="resignFileName"
                               ng-model="instEmplExperience.resignFileName"
                        />

                        <span class="input-group-btn">
                        <button type="file" ngf-select class="btn btn-primary btn-block"
                                ngf-change="setResignAttachment($file, instEmplExperience, 'resignFile','resignFileCntType','resignFileName')"
                                translate="entity.action.addblob">
                            Add blob
                        </button>
                    </span>
                    </div>
                    <input type="hidden" class="form-control" name="attachment" id="field_goResulaton"
                           ng-model="instEmplExperience.resignFile"
                    />
                    <input type="hidden" class="form-control" name="resignFileCntType"
                           id="resignFileCntType"
                           ng-model="instEmplExperience.resignFileCntType"/>
                </div>
            </div>
            <div class="form-group col-md-6" ngf-drop
                 ngf-change="setReleaseAttachment($file, instEmplExperience, 'releaseFile','releaseFileCntType','releaseFileName')">
                <label translate="stepApp.instEmplExperience.releaseFileName" for="resignFileName">releaseFileName</label>
                <div>
                    <div class="help-block clearfix">
                        <span class="pull-left">{{instEmplExperience.releaseFileCntType}} {{byteSize(instEmplExperience.releaseFile)}}</span>
                        <button
                            ng-click="instEmplExperience.releaseFile=null;instEmplExperience.releaseFileCntType=null;"
                            ng-if="instEmplExperience.releaseFile"
                            class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>

                    <div class="input-group">
                        <input type="text" readonly class="form-control" name="releaseFileName"
                               id="releaseFileName"
                               ng-model="instEmplExperience.releaseFileName"
                        />

                        <span class="input-group-btn">
                        <button type="file" ngf-select class="btn btn-primary btn-block"
                                ngf-change="setReleaseAttachment($file, instEmplExperience, 'releaseFile','releaseFileCntType','releaseFileName')"
                                translate="entity.action.addblob">
                            Add blob
                        </button>
                    </span>
                    </div>
                    <input type="hidden" class="form-control" name="attachment" id="field_goResulaton"
                           ng-model="instEmplExperience.releaseFile"
                    />
                    <input type="hidden" class="form-control" name="releaseFileCntType"
                           id="releaseFileCntType"
                           ng-model="instEmplExperience.releaseFileCntType"/>
                </div>
            </div>

            <div class="form-group col-md-6" ngf-drop
                 ngf-change="setExperienceAttachment($file, instEmplExperience)">
                <label translate="stepApp.instEmplExperience.attachmentName" for="attachmentName">attachmentName</label>
                <div>
                    <div class="help-block clearfix">
                        <span class="pull-left">{{instEmplExperience.attachmentCntType}} {{byteSize(instEmplExperience.attachment)}}</span>
                        <button
                            ng-click="instEmplExperience.attachment=null;instEmplExperience.attachmentCntType=null;"
                            ng-if="instEmplExperience.attachment"
                            class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div class="input-group">
                        <input type="text" readonly class="form-control" name="attachmentName"
                               id="attachmentName"
                               ng-model="instEmplExperience.attachmentName"/>

                        <span class="input-group-btn">
                        <button type="file" ngf-select class="btn btn-primary btn-block"
                                ngf-change="setExperienceAttachment($file, instEmplExperience)"
                                translate="entity.action.addblob">
                            Add blob
                        </button>
                    </span>
                    </div>
                    <input type="hidden" class="form-control" name="attachment" id="field_attachment"
                           ng-model="instEmplExperience.attachment"
                    />
                    <input type="hidden" class="form-control" name="attachmentCntType"
                           id="attachmentCntType"
                           ng-model="instEmplExperience.attachmentCntType"/>
                </div>
            </div>

            <!--<div class="form-group col-md-6" ngf-drop-->
                 <!--ngf-change="setExperienceAttachment($file, instEmplExperience, 'attachment','attachmentCntType','attachmentName')">-->
                <!--<label translate="stepApp.instEmplExperience.attachmentName" for="resignFileName">resignFileName</label>-->
                <!--<div>-->
                    <!--<div class="help-block clearfix">-->
                        <!--<span class="pull-left">{{instEmplExperience.attachmentCntType}} {{byteSize(instEmplExperience.attachment)}}</span>-->
                        <!--<button-->
                            <!--ng-click="instEmplExperience.attachment=null;instEmplExperience.attachmentCntType=null;"-->
                            <!--ng-if="instEmplExperience.attachment"-->
                            <!--class="btn btn-default btn-xs pull-right">-->
                            <!--<span class="glyphicon glyphicon-remove"></span>-->
                        <!--</button>-->
                    <!--</div>-->

                    <!--<div class="input-group">-->
                        <!--<input type="text" readonly class="form-control" name="attachmentName"-->
                               <!--id="attachmentName"-->
                               <!--ng-model="instEmplExperience.attachmentName"-->
                        <!--/>-->

                        <!--<span class="input-group-btn">-->
                        <!--<button type="file" ngf-select class="btn btn-primary btn-block"-->
                                <!--ngf-change="setExperienceAttachment($file, instEmplExperience, 'attachment','attachmentCntType','attachmentName')"-->
                                <!--translate="entity.action.addblob">-->
                            <!--Add blob-->
                        <!--</button>-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--<input type="hidden" class="form-control" name="attachment" id="field_goResulaton"-->
                           <!--ng-model="instEmplExperience.attachment"-->
                    <!--/>-->
                    <!--<input type="hidden" class="form-control" name="attachmentCntType"-->
                           <!--id="attachmentCntType"-->
                           <!--ng-model="instEmplExperience.attachmentCntType"/>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplExperience.dateOfPaymentReceived" for="field_dateOfPaymentReceived">DateOfPaymentReceived</label>
                <input type="text" class="form-control" name="dateOfPaymentReceived" id="field_dateOfPaymentReceived"
                       ng-model="instEmplExperience.dateOfPaymentReceived"
                       datepicker-popup="{{calendar.dateFormat}}"
                       is-open="calendar.opened['dateOfPaymentReceived'+$index]"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'dateOfPaymentReceived'+$index)"
                       tooltip="{{'stepApp.instEmplExperience.dateOfPaymentReceived' | translate}}"
                       min-date="instEmplExperience.joiningDate"
                />
            </div>

            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplExperience.vacationFrom" for="field_vacationFrom">VacationFrom</label>
                <input type="text" class="form-control" name="vacationFrom" id="field_vacationFrom"
                       ng-model="instEmplExperience.vacationFrom"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened['vacationFrom'+$index]"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'vacationFrom'+$index)"
                       ng-blur="vacationDateValidation(instEmplExperience)"
                       tooltip="{{'stepApp.instEmplExperience.vacationFrom' | translate}}"
                />
                <p translate="stepApp.instEmplExperience.errMsg4" ng-show="vacationError1"
                   style="font-size: 0.9em; color:#ff2432;">Need a valid date !</p>

            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplExperience.vacationTo" for="field_vacationTo">VacationTo</label>
                <input type="text" class="form-control" name="vacationTo" id="field_vacationTo"
                       ng-model="instEmplExperience.vacationTo"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened['vacationTo'+$index]"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'vacationTo'+$index)"
                       ng-blur="vacationDateValidation(instEmplExperience)"
                       tooltip="{{'stepApp.instEmplExperience.vacationTo' | translate}}"
                       min-date="instEmplExperience.joiningDate"
                />
                <p translate="stepApp.instEmplExperience.errMsg3" ng-show="vacationError1"
                   style="font-size: 0.9em; color:#ff2432;">Need a valid date !</p>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplExperience.totalExpFrom" for="field_vacationTo">VacationTo</label>
                <input type="text" class="form-control" name="totalExpFrom" id="field_totalExpFrom"
                       ng-model="instEmplExperience.totalExpFrom"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened['totalExpFrom'+$index]"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'totalExpFrom'+$index)"
                       tooltip="{{'stepApp.instEmplExperience.totalExpFrom' | translate}}"
                />
            </div>

            <div class="form-group col-md-6" ng-show="instEmplExperience.current==false">
                <label translate="stepApp.instEmplExperience.totalExpTo" for="field_vacationTo">VacationTo</label>
                <input type="text" class="form-control" name="totalExpTo" id="field_totalExpFrom"
                       ng-model="instEmplExperience.totalExpTo"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened['totalExpTo'+$index]"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'totalExpTo'+$index)"
                       tooltip="{{'stepApp.instEmplExperience.totalExpTo' | translate}}"
                />
            </div>
            <div class="form-group col-md-6">
                <label class="control-label" translate="stepApp.instEmplExperience.current"
                       for="field_gender">gender</label>
                <div id="field_gender">
                    <!--<label ng-repeat="instGenInfolocality in instGenInfolocalitys" class="radio-inline btn btn-default"><input type="radio" name="locality" ng-model="instGenInfo.locality" ng-value="{{instGenInfolocality.id}}">{{instGenInfolocality.code}}</label>-->
                    <label class="radio-inline btn btn-default">
                        <input type="radio" id="field_citycorporation"
                               name="gender"
                               ng-model="instEmplExperience.current"
                               tooltip="{{'stepApp.instEmplExperience.current' | translate}}"
                               ng-value="true"><span
                        translate="stepApp.instEmplExperience.yes" for="field_citycorporation">
                        Yes</span>
                    </label>
                    <label class="radio-inline btn btn-default">
                        <input type="radio" id="field_municipilaty"
                               name="gender"
                               tooltip="{{'stepApp.instEmplExperience.current' | translate}}"
                               ng-model="instEmplExperience.current"
                               ng-value="false"><span
                        translate="stepApp.instEmplExperience.no" for="field_municipilaty">
                        No</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-right padding-tb">
            <button type="button"  class="btn btn-primary">
                <span ng-disabled=" editForm.$invalid || isSaving" ng-click="AddMore()" translate="entity.action.addMore">addMore</span>
            </button>
            <!--<span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>-->
        </div>
        <div class="col-md-12 text-right no_padding">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.history.back()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit"  class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-if="instEmplExperiences[0].id == null" ng-disabled="editForm.$invalid || isSaving" translate="entity.action.save">Save</span>
                <span ng-if="instEmplExperiences[0].id" ng-disabled=" editForm.$invalid || isSaving"translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>
