<div class="col-md-3 padding0">
    <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
</div>
<div class="col-md-9 common-dialogue">
    <form name="editForm" role="form" novalidate ng-submit="save()">
        <h4 class="modal-title" id="myInstEmpSalaryAdjLabel"
            translate="stepApp.instEmpSalaryAdj.home.createOrEditLabel">Create or edit a InstEmpSalaryAdj</h4>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label translate="stepApp.instEmpSalaryAdj.instEmployee"
                           for="field_instEmployee">instEmployee</label>
                    <div angucomplete-alt
                         id="field_instEmployee"
                         placeholder="Employee Name"
                         pause="200"
                         selected-object="instEmployee"
                         remote-url="api/instEmployee/findByUserTyping/"
                         title-field="name,code"
                         description-field="description"
                         minlength="2"
                         input-class="form-control form-control-small"
                         match-class="highlight"
                         selected-object-data="service" required>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label translate="stepApp.instEmpSalaryAdj.payScale" for="field_payScale">payScale</label>
                    <select class="form-control" id="field_payScale" name="payScale"
                            ng-model="instEmpSalaryAdj.payScale"
                            ng-options="payscale as payscale.code for payscale in payscales | orderBy:code track by payscale.id">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label translate="stepApp.instEmpSalaryAdj.gazetteSetup"
                           for="field_gazetteSetup">gazetteSetup</label>
                    <select class="form-control" id="field_gazetteSetup" name="gazetteSetup"
                            ng-model="instEmpSalaryAdj.gazetteSetup"
                            ng-options="gazetteSetup as gazettesetup.name for gazettesetup in gazettesetups | orderBy:name track by gazettesetup.id">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label" translate="stepApp.instEmpSalaryAdj.typeAdjustment"
                    >TypeAdjustment</label>
                    <div class="form-control">
                        <label><input type="radio" class="radio-inline" ng-model="instEmpSalaryAdj.typeAdjustment"
                                      name="typeAdjustment" data-ng-value="true">&nbsp;Withed Amount</label>
                        &nbsp;
                        <label><input type="radio" class="radio-inline" ng-model="instEmpSalaryAdj.typeAdjustment"
                                      name="typeAdjustment" data-ng-value="false">&nbsp;Other Adjustment</label>
                    </div>

                </div>
                <div class="col-md-6 form-group">
                    <label translate="stepApp.instEmpSalaryAdj.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           ng-model="instEmpSalaryAdj.amount"
                    />
                </div>
                <div class="col-md-6 form-group">
                    <label translate="stepApp.instEmpSalaryAdj.startDate" for="field_startDate">StartDate</label>
                    <input type="text" class="form-control" name="startDate" id="field_startDate"
                           ng-model="instEmpSalaryAdj.startDate"
                           datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.startDate"
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'startDate')"
                           placeholder="YYYY-MM-DD"
                    />
                </div>
                <div class="col-md-6 form-group">
                    <label translate="stepApp.instEmpSalaryAdj.endDate" for="field_endDate">EndDate</label>

                    <input type="text" class="form-control" name="endDate" id="field_endDate"
                           ng-model="instEmpSalaryAdj.endDate"
                           datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.endDate"
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'endDate')"
                           placeholder="YYYY-MM-DD"
                    />
                </div>
                <div class="col-md-6 form-group">
                    <label translate="stepApp.instEmpSalaryAdj.activeStatus">ActiveStatus</label>
                    <div class="form-control">
                        <label><input type="radio" class="radio-inline" ng-model="instEmpSalaryAdj.activeStatus"
                                      name="activeStatus" data-ng-value="true">&nbsp;Yes</label>
                        &nbsp;
                        <label><input type="radio" class="radio-inline" ng-model="instEmpSalaryAdj.activeStatus"
                                      name="activeStatus" data-ng-value="false">&nbsp;No</label>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label translate="stepApp.instEmpSalaryAdj.type">Type</label>
                    <div class="form-control">
                        <label><input type="radio" class="radio-inline" ng-model="instEmpSalaryAdj.type"
                                      name="type" data-ng-value="1">&nbsp;Addition</label>
                        &nbsp;
                        <label><input type="radio" class="radio-inline" ng-model="instEmpSalaryAdj.type"
                                      name="type" data-ng-value="-1">&nbsp;Deduction</label>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label translate="stepApp.instEmpSalaryAdj.remarks" for="field_remarks">Remarks</label>
                    <textarea name="remarks" ng-model="instEmpSalaryAdj.remarks" class="form-control"
                              id="field_remarks"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
</div>
