<div class="col-md-3 padding0">
    <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
</div>
<div class="col-md-9 common-table">
    <h2><span translate="stepApp.instEmpSalaryAdj.detail.title">InstEmpSalaryAdj</span> {{instEmpSalaryAdj.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSalaryAdj.typeAdjustment">TypeAdjustment</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSalaryAdj.typeAdjustment}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSalaryAdj.amount">Amount</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSalaryAdj.amount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSalaryAdj.startDate">StartDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSalaryAdj.startDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSalaryAdj.endDate">EndDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSalaryAdj.endDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSalaryAdj.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSalaryAdj.activeStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSalaryAdj.salaryAdjusted">SalaryAdjusted</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSalaryAdj.salaryAdjusted}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSalaryAdj.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSalaryAdj.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSalaryAdj.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSalaryAdj.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSalaryAdj.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSalaryAdj.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSalaryAdj.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSalaryAdj.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSalaryAdj.type">Type</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSalaryAdj.type}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSalaryAdj.remarks">Remarks</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSalaryAdj.remarks}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSalaryAdj.salary_adjusted_date">Salary_adjusted_date</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSalaryAdj.salary_adjusted_date | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSalaryAdj.instEmployee">instEmployee</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="instEmployee.detail({id:instEmpSalaryAdj.instEmployee.id})">{{instEmpSalaryAdj.instEmployee.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSalaryAdj.payScale">payScale</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="payScale.detail({id:instEmpSalaryAdj.payScale.id})">{{instEmpSalaryAdj.payScale.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSalaryAdj.gazetteSetup">gazetteSetup</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="gazetteSetup.detail({id:instEmpSalaryAdj.gazetteSetup.id})">{{instEmpSalaryAdj.gazetteSetup.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
