<div class="col-md-3 padding0">
    <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
</div>
<div class="col-md-9 common-list">
    <h2 translate="stepApp.instEmpSalaryAdj.home.title">InstEmpSalaryAdjs</h2>
    <div class="col-md-12 padding-bt">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary" ui-sref="instEmpSalaryAdj.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.instEmpSalaryAdj.home.createLabel">Create a new Allowance Setup</span>
            </button>
        </div>
    </div>
    <!--<div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="instEmpSalaryAdj.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.instEmpSalaryAdj.home.createLabel">Create a new InstEmpSalaryAdj</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a InstEmpSalaryAdj</span>
                    </button>
                </form>
            </div>
        </div>
    </div>-->

    <div class="modal fade" id="deleteInstEmpSalaryAdjConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(instEmpSalaryAdj.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;
                        </button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.instEmpSalaryAdj.delete.question"
                           translate-values="{id: '{{instEmpSalaryAdj.id}}'}">Are you sure you want to delete this
                            InstEmpSalaryAdj?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 table-responsive padding0">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.id">ID</th>
                <th translate="stepApp.instEmpSalaryAdj.typeAdjustment">TypeAdjustment</th>
                <th translate="stepApp.instEmpSalaryAdj.amount">Amount</th>
                <th translate="stepApp.instEmpSalaryAdj.startDate">StartDate</th>
                <th translate="stepApp.instEmpSalaryAdj.endDate">EndDate</th>
                <th translate="stepApp.instEmpSalaryAdj.activeStatus">ActiveStatus</th>
                <th translate="stepApp.instEmpSalaryAdj.salaryAdjusted">SalaryAdjusted</th>
                <!--  <th translate="stepApp.instEmpSalaryAdj.createDate">CreateDate</th>
                  <th translate="stepApp.instEmpSalaryAdj.updateDate">UpdateDate</th>
                  <th translate="stepApp.instEmpSalaryAdj.createBy">CreateBy</th>
                  <th translate="stepApp.instEmpSalaryAdj.updateBy">UpdateBy</th>
                  <th translate="stepApp.instEmpSalaryAdj.type">Type</th>
                  <th translate="stepApp.instEmpSalaryAdj.remarks">Remarks</th>-->
                <!--<th translate="stepApp.instEmpSalaryAdj.salary_adjusted_date">Salary_adjusted_date</th>-->
                <th translate="stepApp.instEmpSalaryAdj.instEmployee">instEmployee</th>
                <th translate="stepApp.instEmpSalaryAdj.payScale">payScale</th>
                <th translate="stepApp.instEmpSalaryAdj.gazetteSetup">gazetteSetup</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="instEmpSalaryAdj in instEmpSalaryAdjs track by instEmpSalaryAdj.id">
                <td><a ui-sref="instEmpSalaryAdj.detail({id:instEmpSalaryAdj.id})">{{instEmpSalaryAdj.id}}</a></td>
                <td>{{instEmpSalaryAdj.typeAdjustment}}</td>
                <td>{{instEmpSalaryAdj.amount}}</td>
                <td>{{instEmpSalaryAdj.startDate | date:'mediumDate'}}</td>
                <td>{{instEmpSalaryAdj.endDate | date:'mediumDate'}}</td>
                <td>{{instEmpSalaryAdj.activeStatus}}</td>
                <td>{{instEmpSalaryAdj.salaryAdjusted}}</td>
                <!--<td>{{instEmpSalaryAdj.createDate | date:'mediumDate'}}</td>
                <td>{{instEmpSalaryAdj.updateDate | date:'mediumDate'}}</td>
                <td>{{instEmpSalaryAdj.createBy}}</td>
                <td>{{instEmpSalaryAdj.updateBy}}</td>
                <td>{{instEmpSalaryAdj.type}}</td>
                <td>{{instEmpSalaryAdj.remarks}}</td>-->
                <!--<td>{{instEmpSalaryAdj.salary_adjusted_date | date:'mediumDate'}}</td>-->
                <td>
                    <a ui-sref="instEmployee.detail({id:instEmpSalaryAdj.instEmployee.id})">{{instEmpSalaryAdj.instEmployee.name}}</a>
                </td>
                <td>
                    <a ui-sref="payScale.detail({id:instEmpSalaryAdj.payScale.id})">{{instEmpSalaryAdj.payScale.name}}</a>
                </td>
                <td>
                    <a ui-sref="gazetteSetup.detail({id:instEmpSalaryAdj.gazetteSetup.id})">{{instEmpSalaryAdj.gazetteSetup.name}}</a>
                </td>
                <td>
                    <button type="submit"
                            ui-sref="instEmpSalaryAdj.detail({id:instEmpSalaryAdj.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="instEmpSalaryAdj.edit({id:instEmpSalaryAdj.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(instEmpSalaryAdj.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
