
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTrainingSetupLabel" translate="stepApp.trainingSetup.home.createOrEditLabel">Create or edit a TrainingSetup</h4>
    </div>
    <div class="modal-body">
       <!-- <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="trainingSetup.id" readonly />
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.trainingSetup.trainId" for="field_trainId">TrainId</label>
                <input type="text" class="form-control" name="trainId" id="field_trainId"
                       ng-model="trainingSetup.trainId"
                />
            </div>
        </div>-->



        <div class="col-sm-4">
                    <div class="">
                        <label class=" control-label" translate="stepApp.trainingSetup.trainType">Training
                            Type</label>
                        <span style="color:red;">*</span>
                        <div class="">
                            <label class="btn btn-default">
                                <input type="radio"
                                       ng-checked="trainingSetup.trainType == 'Local'"
                                       name="trainType" value="Local"
                                       ng-model="trainingSetup.trainType"
                                       translate="stepApp.trainingSetup.local">Local</label>
                            <label class="btn btn-default">
                                <input type="radio"
                                       ng-checked="trainingSetup.trainType == 'Foreign'"
                                       name="trainType" value="Foreign"
                                       ng-model="trainingSetup.trainType"
                                       translate="stepApp.trainingSetup.foreign">Foreign</label>

                            <div ng-show="editForm.trainType.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.trainType.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
        </div>


       <!-- <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.trainingSetup.trainType" for="field_trainType">TrainType</label>
                <input type="text" class="form-control" name="trainType" id="field_trainType"
                       ng-model="trainingSetup.trainType"
                />
            </div>
        </div>-->

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.trainingSetup.trainName" for="field_trainName">TrainName</label>
                <span style="color:red;">*</span>
                <input type="text" class="form-control" name="trainName" id="field_trainName"
                       ng-model="trainingSetup.trainName"
               required />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.trainingSetup.areaCovered" for="field_areaCovered">AreaCovered</label>
                <span style="color:red;">*</span>
                <textarea class="form-control" name="areaCovered" id="field_areaCovered"
                       ng-model="trainingSetup.areaCovered"
                          required ></textarea>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.trainingSetup.country" for="field_country">country</label>
                <span style="color:red;">*</span>
                <select class="form-control" id="field_country" name="country" ng-model="trainingSetup.country" ng-options="country as country.name for country in countrys track by country.id">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.trainingSetup.location" for="field_location">Location</label>
                <input type="text" class="form-control" name="location" id="field_location"
                       ng-model="trainingSetup.location"
                />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.trainingSetup.instituteName" for="field_instituteName">InstituteName</label>
                <span style="color:red;">*</span>
                <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="instituteName" id="field_instituteName"
                       ng-model="trainingSetup.instituteName"
                required />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.trainingSetup.fromDate" for="field_fromDate">FromDate</label>
                <span style="color:red;">*</span>
                <!--<input type="date" class="form-control" name="fromDate" id="field_fromDate"
                       ng-model="trainingSetup.fromDate"
                />-->
                <div class="input-margin">
                    <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.fromDate"
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'fromDate')" class="form-control" name="fromDate"
                           id="field_fromDate"
                           ng-model="trainingSetup.fromDate"
                           required/>

                    <div ng-show="editForm.fromDate.$invalid">
                        <p class="help-block"
                           ng-show="editForm.fromDate.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.trainingSetup.toDate" for="field_toDate">ToDate</label>
                <span style="color:red;">*</span>
                <!--<input type="date" class="form-control" name="toDate" id="field_toDate"
                       ng-model="trainingSetup.toDate"
                       ng-change="dateCompare(trainingSetup.toDate,trainingSetup.fromDate)"
                />-->
                <div class="input-margin">
                    <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.toDate"
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'toDate')" class="form-control" name="toDate"
                           id="field_toDate"
                           ng-model="trainingSetup.toDate"
                           ng-change="dateCompare(trainingSetup.fromDate,trainingSetup.toDate);duration(trainingSetup.fromDate,trainingSetup.toDate)"
                           required/>

                    <div ng-show="editForm.toDate.$invalid">
                        <p class="help-block"
                           ng-show="editForm.toDate.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>




            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.trainingSetup.duration" for="field_duration">Duration</label>
                <input type="text" class="form-control" name="duration" id="field_duration"
                       ng-model="trainingSetup.duration"
                readonly/>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.trainingSetup.remarks" for="field_remarks">Remarks</label>
                <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="remarks" id="field_remarks"
                       ng-model="trainingSetup.remarks"
                />
            </div>
        </div>

        <!--<div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.trainingSetup.createDate" for="field_createDate">CreateDate</label>
                <input type="date" class="form-control" name="createDate" id="field_createDate"
                       ng-model="trainingSetup.createDate"
                />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.trainingSetup.createBy" for="field_createBy">CreateBy</label>
                <input type="number" class="form-control" name="createBy" id="field_createBy"
                       ng-model="trainingSetup.createBy"
                />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.trainingSetup.updateBy" for="field_updateBy">UpdateBy</label>
                <input type="number" class="form-control" name="updateBy" id="field_updateBy"
                       ng-model="trainingSetup.updateBy"
                />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.trainingSetup.updateDate" for="field_updateDate">UpdateDate</label>
                <input type="date" class="form-control" name="updateDate" id="field_updateDate"
                       ng-model="trainingSetup.updateDate"
                />
            </div>
        </div>-->


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
