
<div>
    <h2><span translate="stepApp.trainingSetup.detail.title">TrainingSetup</span> {{trainingSetup.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.trainingSetup.trainId">TrainId</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingSetup.trainId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingSetup.trainType">TrainType</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingSetup.trainType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingSetup.trainName">TrainName</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingSetup.trainName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingSetup.areaCovered">AreaCovered</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingSetup.areaCovered}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.trainingSetup.country">country</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="country.detail({id:trainingSetup.country.id})">{{trainingSetup.country.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingSetup.instituteName">InstituteName</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingSetup.instituteName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingSetup.fromDate">FromDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingSetup.fromDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingSetup.toDate">ToDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingSetup.toDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingSetup.remarks">Remarks</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingSetup.remarks}}</span>
                </td>
            </tr>
           <!-- <tr>
                <td>
                    <span translate="stepApp.trainingSetup.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingSetup.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingSetup.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingSetup.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingSetup.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingSetup.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingSetup.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingSetup.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>-->

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
