<div class="common-list col-md-12 no_padding">
    <h2 translate="stepApp.trainingSetup.home.title">TrainingSetups</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="trainingSetup.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.trainingSetup.home.createLabel">Create a new TrainingSetup</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a TrainingSetup</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTrainingSetupConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(trainingSetup.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.trainingSetup.delete.question" translate-values="{id: '{{trainingSetup.id}}'}">Are you sure you want to delete this TrainingSetup?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <!--<th translate="global.field.id">ID</th>
                    <th translate="stepApp.trainingSetup.trainId">TrainId</th>-->
                    <th translate="global.field.serial">Serial</th>
                    <th translate="stepApp.trainingSetup.trainType">TrainType</th>
                    <th translate="stepApp.trainingSetup.trainName">TrainName</th>
                    <th translate="stepApp.trainingSetup.areaCovered">AreaCovered</th>
                    <th translate="stepApp.trainingSetup.country">country</th>
                    <th translate="stepApp.trainingSetup.instituteName">InstituteName</th>
                    <th translate="stepApp.trainingSetup.fromDate">FromDate</th>
                    <th translate="stepApp.trainingSetup.toDate">ToDate</th>
                    <th translate="stepApp.trainingSetup.remarks">Remarks</th>
                    <!--<th translate="stepApp.trainingSetup.createDate">CreateDate</th>
                    <th translate="stepApp.trainingSetup.createBy">CreateBy</th>
                    <th translate="stepApp.trainingSetup.updateBy">UpdateBy</th>
                    <th translate="stepApp.trainingSetup.updateDate">UpdateDate</th>-->

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="trainingSetup in trainingSetups track by trainingSetup.id">
                    <!--<td><a ui-sref="trainingSetup.detail({id:trainingSetup.id})">{{trainingSetup.id}}</a></td>
                    <td>{{trainingSetup.trainId}}</td>-->
                    <td>{{pageSize*(currentPage-1)+$index+1}}</td>
                    <td>{{trainingSetup.trainType}}</td>
                    <td>{{trainingSetup.trainName}}</td>
                    <td>{{trainingSetup.areaCovered}}</td>
                    <td>
                        <a ui-sref="country.detail({id:trainingSetup.country.id})">{{trainingSetup.country.name}}</a>
                    </td>
                    <td>{{trainingSetup.instituteName}}</td>
                        <td>{{trainingSetup.fromDate | date:'mediumDate'}}</td>
                        <td>{{trainingSetup.toDate | date:'mediumDate'}}</td>
                    <td>{{trainingSetup.remarks}}</td>
                       <!-- <td>{{trainingSetup.createDate | date:'mediumDate'}}</td>
                    <td>{{trainingSetup.createBy}}</td>
                    <td>{{trainingSetup.updateBy}}</td>
                        <td>{{trainingSetup.updateDate | date:'mediumDate'}}</td>-->

                    <td>
                        <button type="submit"
                                ui-sref="trainingSetup.detail({id:trainingSetup.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="trainingSetup.edit({id:trainingSetup.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(trainingSetup.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
