
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myJasperReportSecurityLabel" translate="stepApp.jasperReportSecurity.home.createOrEditLabel">Create or edit a JasperReportSecurity</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="jasperReportSecurity.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.jasperReportSecurity.domain" for="field_domain">Domain</label>
            <input type="text" class="form-control" name="domain" id="field_domain"
                    ng-model="jasperReportSecurity.domain"
                    required ng-maxlength="150" />
            <div ng-show="editForm.domain.$invalid">
                <p class="help-block"
                    ng-show="editForm.domain.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.domain.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="150">
                    This field cannot be longer than 150 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.jasperReportSecurity.port" for="field_port">Port</label>
            <input type="text" class="form-control" name="port" id="field_port"
                    ng-model="jasperReportSecurity.port"
                    required ng-maxlength="250" />
            <div ng-show="editForm.port.$invalid">
                <p class="help-block"
                    ng-show="editForm.port.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.port.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="250">
                    This field cannot be longer than 250 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.jasperReportSecurity.username" for="field_username">Username</label>
            <input type="text" class="form-control" name="username" id="field_username"
                    ng-model="jasperReportSecurity.username"
                    required ng-maxlength="100" />
            <div ng-show="editForm.username.$invalid">
                <p class="help-block"
                    ng-show="editForm.username.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.username.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.jasperReportSecurity.password" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                    ng-model="jasperReportSecurity.password"
                    required ng-maxlength="100" />
            <div ng-show="editForm.password.$invalid">
                <p class="help-block"
                    ng-show="editForm.password.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.password.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.jasperReportSecurity.ActiveStatus" for="field_ActiveStatus">ActiveStatus</label>
            <input type="checkbox" class="form-control" name="ActiveStatus" id="field_ActiveStatus"
                    ng-model="jasperReportSecurity.ActiveStatus"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.jasperReportSecurity.createdDate" for="field_createdDate">CreatedDate</label>
            <input type="date" class="form-control" name="createdDate" id="field_createdDate"
                    ng-model="jasperReportSecurity.createdDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.jasperReportSecurity.updatedDate" for="field_updatedDate">UpdatedDate</label>
            <input type="date" class="form-control" name="updatedDate" id="field_updatedDate"
                    ng-model="jasperReportSecurity.updatedDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.jasperReportSecurity.createdBy" for="field_createdBy">CreatedBy</label>
            <input type="number" class="form-control" name="createdBy" id="field_createdBy"
                    ng-model="jasperReportSecurity.createdBy"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.jasperReportSecurity.updatedBy" for="field_updatedBy">UpdatedBy</label>
            <input type="number" class="form-control" name="updatedBy" id="field_updatedBy"
                    ng-model="jasperReportSecurity.updatedBy"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
