
<div>
    <h2><span translate="stepApp.jasperReportSecurity.detail.title">JasperReportSecurity</span> {{jasperReportSecurity.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.jasperReportSecurity.domain">Domain</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReportSecurity.domain}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReportSecurity.port">Port</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReportSecurity.port}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReportSecurity.username">Username</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReportSecurity.username}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReportSecurity.password">Password</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReportSecurity.password}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReportSecurity.ActiveStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReportSecurity.ActiveStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReportSecurity.createdDate">CreatedDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReportSecurity.createdDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReportSecurity.updatedDate">UpdatedDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReportSecurity.updatedDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReportSecurity.createdBy">CreatedBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReportSecurity.createdBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReportSecurity.updatedBy">UpdatedBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReportSecurity.updatedBy}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
