<div>
    <h2 translate="stepApp.jasperReportSecurity.home.title">JasperReportSecuritys</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="jasperReportSecurity.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.jasperReportSecurity.home.createLabel">Create a new JasperReportSecurity</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a JasperReportSecurity</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.jasperReportSecurity.domain">Domain</th>
                    <th translate="stepApp.jasperReportSecurity.port">Port</th>
                    <th translate="stepApp.jasperReportSecurity.username">Username</th>
                    <th translate="stepApp.jasperReportSecurity.password">Password</th>
                    <th translate="stepApp.jasperReportSecurity.ActiveStatus">ActiveStatus</th>
                    <th translate="stepApp.jasperReportSecurity.createdDate">CreatedDate</th>
                    <th translate="stepApp.jasperReportSecurity.updatedDate">UpdatedDate</th>
                    <th translate="stepApp.jasperReportSecurity.createdBy">CreatedBy</th>
                    <th translate="stepApp.jasperReportSecurity.updatedBy">UpdatedBy</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="jasperReportSecurity in jasperReportSecuritys track by jasperReportSecurity.id">
                    <td><a ui-sref="jasperReportSecurity.detail({id:jasperReportSecurity.id})">{{jasperReportSecurity.id}}</a></td>
                    <td>{{jasperReportSecurity.domain}}</td>
                    <td>{{jasperReportSecurity.port}}</td>
                    <td>{{jasperReportSecurity.username}}</td>
                    <td>{{jasperReportSecurity.password}}</td>
                    <td>{{jasperReportSecurity.ActiveStatus}}</td>
                        <td>{{jasperReportSecurity.createdDate | date:'mediumDate'}}</td>
                        <td>{{jasperReportSecurity.updatedDate | date:'mediumDate'}}</td>
                    <td>{{jasperReportSecurity.createdBy}}</td>
                    <td>{{jasperReportSecurity.updatedBy}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="jasperReportSecurity.detail({id:jasperReportSecurity.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="jasperReportSecurity.edit({id:jasperReportSecurity.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="jasperReportSecurity.delete({id:jasperReportSecurity.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
