
<div class="common-table">
    <h2><span translate="stepApp.pfmsDeduction.detail.title">PfmsDeduction</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.pfmsDeduction.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:pfmsDeduction.employeeInfo.id})">{{pfmsDeduction.employeeInfo.fullName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsDeduction.accountNo">AccountNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsDeduction.accountNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsDeduction.deductionAmount">DeductionAmount</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsDeduction.deductionAmount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsDeduction.deductionDate">DeductionDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsDeduction.deductionDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsDeduction.departmentName">departmentName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsDeduction.employeeInfo.departmentInfo.departmentInfo.departmentName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsDeduction.designationName">designationName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsDeduction.employeeInfo.designationInfo.designationInfo.designationName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsDeduction.nationality">nationality</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsDeduction.employeeInfo.nationality}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsDeduction.fatherName">fatherName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsDeduction.employeeInfo.fatherName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsDeduction.dutySide">dutySide</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsDeduction.employeeInfo.workArea.typeTitle}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
