<div class="col-md-12 common-list">
    <h2 class="panel-heading" translate="stepApp.pfmsDeduction.home.title">PfmsDeductions</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary " ui-sref="pfmsDeduction.new">
                <span class="glyphicon glyphicon-plus"></span></span> <span
                translate="stepApp.pfmsDeduction.home.createLabel">Create a new PfmsDeduction</span>
            </button>
        </div>
    </div>

    <div class="modal fade" id="deletePfmsDeductionConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(pfmsDeduction.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.pfmsDeduction.delete.question"
                           translate-values="{id: '{{pfmsDeduction.id}}'}">Are you sure you want to delete this
                            PfmsDeduction?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.serial">Serial</th>
                <th translate="global.field.id">ID</th>
                <th translate="stepApp.pfmsDeduction.employeeInfo">employeeInfo</th>
                <th translate="stepApp.pfmsDeduction.accountNo">AccountNo</th>
                <th translate="stepApp.pfmsDeduction.deductionAmount">DeductionAmount</th>
                <th translate="stepApp.pfmsDeduction.deductionDate">DeductionDate</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="pfmsDeduction in pfmsDeductions | filter:q | orderBy:'-id'| itemsPerPage: pageSize track by pfmsDeduction.id"
                current-page="currentPage">
                <td>{{pageSize*(currentPage-1)+$index+1}}</td>
                <td><a ui-sref="pfmsDeduction.detail({id:pfmsDeduction.id})">{{pfmsDeduction.id}}</a></td>
                <td>
                    <a ui-sref="HrEmployeeInfo.detail({id:pfmsDeduction.employeeInfo.id})">{{pfmsDeduction.employeeInfo.fullName}}</a>
                </td>
                <td>{{pfmsDeduction.accountNo}}</td>
                <td>{{pfmsDeduction.deductionAmount}}</td>
                <td>{{pfmsDeduction.deductionDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="pfmsDeduction.detail({id:pfmsDeduction.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                        translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="pfmsDeduction.edit({id:pfmsDeduction.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(pfmsDeduction.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
