<div class="col-md-12 common-dialogue padding-left5 padding-right0">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="hrEmpProfMemberInfo.id == null" class="modal-title"
            translate="stepApp.hrEmpProfMemberInfo.home.createOrEditLabel">Create or edit a HrEmpProfMemberInfo</h4>
        <h4 ng-show="hrEmpProfMemberInfo.id != null" class="modal-title"
            translate="stepApp.hrEmpProfMemberInfo.home.EditLabel">Create or edit a HrEmpProfMemberInfo</h4>
        <div class="modal-body">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="global.home.orgOrInst" for="field_toOrganizationType">toOrganizationType</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_toOrganizationType" name="toOrganizationType"
                                    ng-model="orgOrInst" required>
                                <option selected disabled value="">-- Select Organization Type --</option>
                                <option value="Organization">Organization</option>
                                <option value="Institute">Institute</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div ng-if="orgOrInst=='Organization'">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group ">
                                <label class="control-label" for="field_workArea"
                                       translate="stepApp.hrEmpProfMemberInfo.home.workarea">Work Area</label>
                                <select class="form-control" id="field_workArea" name="workArea" ng-model="workArea"
                                        ng-change="loadModelByWorkArea(workArea)"
                                        ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id">
                                    <option value="">Select Work Area</option>
                                </select>
                                <span class="help">No of Employee: {{hremployeeinfos.length}}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group ">
                                <label class="control-label" translate="stepApp.hrEmpProfMemberInfo.employeeInfo"
                                       for="field_employeeInfo">employeeInfo</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control autocomplete" autocomplete="off"
                                           ng-model="hrEmpProfMemberInfo.employeeInfo"
                                           ng-blur="loadHrEmployee(hrEmpProfMemberInfo)"
                                           typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfos | filter:$viewValue'
                                           id="field_employeeInfo" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="(orgOrInst=='Institute')" class="col-md-6 col-lg-6">
                        <label class="control-label" translate="stepApp.hrEmpChildrenInfo.employeeInfo"
                               for="field_employeeInfo">employeeInfo</label>
                        <div class="input-margin">
                            <input type="text" class="form-control autocomplete" autocomplete="off"
                                   ng-model="hrEmpProfMemberInfo.employeeInfo"
                                   typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfosOfInstitute | filter:$viewValue'
                                   id="field_employeeInfo" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 " ng-hide="hrEmpProfMemberInfo.employeeInfo.fullName ==null">
                        <table class="table table-bordered table-responsive">
                            <tbody class="hrm-info-table">
                            <tr>
                                <td><strong>Name: </strong></td>
                                <td>{{hrEmpProfMemberInfo.employeeInfo.fullName}}</td>
                                <td><strong>Employee ID:</strong></td>
                                <td>{{hrEmpProfMemberInfo.employeeInfo.employeeId}}</td>
                            </tr>
                            <tr>
                                <td><strong>Contact No:</strong></td>
                                <td>{{hrEmpProfMemberInfo.employeeInfo.mobileNumber}}</td>
                                <td><strong>Email:</strong></td>
                                <td>{{hrEmpProfMemberInfo.employeeInfo.emailAddress}}</td>
                            </tr>
                            <tr>
                                <td><strong>Section:</strong></td>
                                <td>{{hrEmpProfMemberInfo.employeeInfo.departmentInfo.departmentInfo.departmentName}}
                                </td>
                                <td><strong>Designation:</strong></td>
                                <td>
                                    {{hrEmpProfMemberInfo.employeeInfo.designationInfo.designationInfo.designationName}}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Organization:</strong></td>
                                <td>{{hrEmpProfMemberInfo.employeeInfo.workAreaDtl.name}}</td>
                                <td><strong>Grade: </strong></td>
                                <td>{{hrEmpProfMemberInfo.employeeInfo.gradeInfo.gradeCode}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>


                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpProfMemberInfo.organizationName"
                                   for="field_organizationName">OrganizationName</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="organizationName" only-letters
                                       id="field_organizationName"
                                       ng-model="hrEmpProfMemberInfo.organizationName" required/>
                                <div ng-show="editForm.organizationName.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.organizationName.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpProfMemberInfo.membershipNumber"
                                   for="field_membershipNumber">MembershipNumber</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="membershipNumber" only-numbers
                                       id="field_membershipNumber"
                                       ng-model="hrEmpProfMemberInfo.membershipNumber" required/>
                                <div ng-show="editForm.membershipNumber.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.membershipNumber.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpProfMemberInfo.membershipCategory"
                                   for="field_membershipCategory">membershipCategory</label>
                            <div class="input-margin">
                                <select class="form-control" id="field_membershipCategory" name="membershipCategory"
                                        ng-model="hrEmpProfMemberInfo.membershipCategory"
                                        ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in memberCatList track by MiscTypeSetup.id">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6"></div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpProfMemberInfo.membershipDate"
                                   for="field_membershipDate">MembershipDate</label>
                            <div class="input-margin">
                                <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.toDate"
                                       datepicker-options="calendar.dateOptions" close-text="Close"
                                       ng-click="calendar.open($event, 'toDate')" class="form-control" max-date="currentDate"
                                       name="membershipDate"
                                       id="field_membershipDate"
                                       ng-model="hrEmpProfMemberInfo.membershipDate"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group ">
                            <label class="control-label"
                                   translate="stepApp.hrEmpProfMemberInfo.activeStatus">ActiveStatus</label>
                            <div class="input-margin">
                    <span>
                        <input type="radio" data-ng-model="hrEmpProfMemberInfo.activeStatus" name="activeStatus"
                               data-ng-value="true">&nbsp;<span
                        translate="stepApp.hrEmpProfMemberInfo.home.active"></span>&nbsp;|&nbsp;
                        <input type="radio" data-ng-model="hrEmpProfMemberInfo.activeStatus" name="activeStatus"
                               data-ng-value="false">&nbsp;<span
                        translate="stepApp.hrEmpProfMemberInfo.home.inactive"></span>
                    </span>
                                <div ng-show="editForm.activeStatus.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.activeStatus.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    onclick="window.history.back()">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;<span
                translate="entity.action.cancel">cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="hrEmpProfMemberInfo.id == null" translate="entity.action.save">Save</span>
                <span ng-show="hrEmpProfMemberInfo.id != null" translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>
