<div class="col-md-12 common-table padding-right0 padding-left5">
<h2><span translate="stepApp.hrEmpProfMemberInfo.detail.title">HrEmpProfMemberInfo</span> of {{hrEmpProfMemberInfo.employeeInfo.fullName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpProfMemberInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrEmpProfMemberInfo.employeeInfo.id})">{{hrEmpProfMemberInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpProfMemberInfo.organizationName">OrganizationName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpProfMemberInfo.organizationName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpProfMemberInfo.membershipCategory">membershipCategory</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpProfMemberInfo.membershipCategory.typeName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpProfMemberInfo.membershipNumber">MembershipNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpProfMemberInfo.membershipNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpProfMemberInfo.membershipDate">MembershipDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpProfMemberInfo.membershipDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpProfMemberInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpProfMemberInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel"> cancel</span>
    </button>
</div>
