<div class="col-md-12 common-table">
    <h2><span translate="stepApp.trainingInitializationInfo.detail.title">TrainingInitializationInfo</span></h2>
    <div class="table-responsive">
        <div class="col-md-12 padding-tb">
            <h5 class="trainerinfo">Training initialization information</h5>
        </div>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.trainingInitializationInfo.trainingCode">TrainingCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingInitializationInfo.trainingCode}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainingInitializationInfo.trainingType">TrainingType</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingInitializationInfo.trainingType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingInitializationInfo.trainingHeadSetup">trainingHeadSetup</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="trainingHeadSetup.detail({id:trainingInitializationInfo.trainingHeadSetup.id})">{{trainingInitializationInfo.trainingHeadSetup.headName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingInitializationInfo.session">Session</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingInitializationInfo.session}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainingInitializationInfo.venueName">VenueName</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingInitializationInfo.venueName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingInitializationInfo.numberOfTrainee">NumberOfTrainee</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingInitializationInfo.numberOfTrainee}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainingInitializationInfo.location">Location</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingInitializationInfo.location}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingInitializationInfo.division">Division</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingInitializationInfo.division.name}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainingInitializationInfo.district">District</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingInitializationInfo.district.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingInitializationInfo.venueDescription">VenueDescription</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingInitializationInfo.venueDescription}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainingInitializationInfo.initializationDate">InitializationDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingInitializationInfo.initializationDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingInitializationInfo.startDate">StartDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingInitializationInfo.startDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainingInitializationInfo.endDate">EndDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingInitializationInfo.endDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingInitializationInfo.duration">Duration</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingInitializationInfo.duration}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainingInitializationInfo.hours">Hours</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingInitializationInfo.hours}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingInitializationInfo.publishStatus">PublishStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingInitializationInfo.publishStatus ? 'Yes' : 'No'}}</span>
                    <!--<span class="form-control-static">{{trainingInitializationInfo.publishStatus}}</span>-->
                </td>
                <!--<td>-->
                    <!--<span translate="stepApp.trainingInitializationInfo.initializationDate">InitializationDate</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{trainingInitializationInfo.initializationDate | date:'mediumDate'}}</span>-->
                <!--</td>-->
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
