<div class="col-md-12 common-table">
    <h2><span translate="stepApp.instComiteFormation.detail.title">InstComiteFormation</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.instComiteFormation.comiteName">ComiteName</span>
                </td>
                <td>
                    <span class="form-control-static">{{instComiteFormation.comiteName}}</span>
                </td>
                <td>
                    <span translate="stepApp.instComiteFormation.comiteType">ComiteType</span>
                </td>
                <td>
                    <span class="form-control-static">{{instComiteFormation.comiteType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instComiteFormation.address">Address</span>
                </td>
                <td>
                    <span class="form-control-static">{{instComiteFormation.address}}</span>
                </td>
                <td>
                    <span translate="stepApp.instComiteFormation.timeFrom">TimeFrom</span>
                </td>
                <td>
                    <span class="form-control-static">{{instComiteFormation.timeFrom}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instComiteFormation.timeTo">TimeTo</span>
                </td>
                <td>
                    <span class="form-control-static">{{instComiteFormation.timeTo}}</span>
                </td>
                <td>
                    <span translate="stepApp.instComiteFormation.formationDate">FormationDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{instComiteFormation.formationDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
    <div class="no-print   text-right">
        <button type="submit" name="submit" onclick="window.print()" class="btn btn-primary">
            <span class="glyphicon glyphicon-print"></span>&nbsp;<span
            translate="entity.action.print">Print</span>
        </button>
    </div>

</div>
