<div class="col-md-12 common-dialogue">
    <form name="editForm" role="form" novalidate ng-submit="save()">
        <h4 ng-show="instComiteFormation.id == null" id="myInstComiteFormationLabel"
            translate="stepApp.instComiteFormation.home.createOrEditLabel">Create or edit a InstComiteFormation</h4>
        <h4 ng-show="instComiteFormation.id != null" id="myInstComiteFormationLabel"
            translate="stepApp.instComiteFormation.home.EditLabel">Create or edit a InstComiteFormation</h4>
        <div class="modal-body col-md-12 padding-tb">
            <jh-alert-error></jh-alert-error>
            <div class="form-group">
                <label for="id" translate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id"
                       ng-model="instComiteFormation.id" readonly/>
            </div>
            <div class="form-group">
                <label translate="stepApp.instComiteFormation.comiteName" for="field_comiteName">ComiteName</label>
                <input type="text" class="form-control" name="comiteName" id="field_comiteName"
                       ng-model="instComiteFormation.comiteName"
                />
            </div>
            <div class="form-group">
                <label translate="stepApp.instComiteFormation.comiteType" for="field_comiteType">ComiteType</label>
                <input type="text" class="form-control" name="comiteType" id="field_comiteType"
                       ng-model="instComiteFormation.comiteType"
                />
            </div>

            <div class="form-group">
                <label translate="stepApp.instComiteFormation.timeFrom" for="field_timeFrom">TimeFrom</label>
                <input type="time" class="form-control" name="timeFrom" id="field_timeFrom"
                       ng-model="instComiteFormation.timeFrom"
                />
            </div>
            <div class="form-group">
                <label translate="stepApp.instComiteFormation.timeTo" for="field_timeTo">TimeTo</label>
                <input type="time" class="form-control" name="timeTo" id="field_timeTo"
                       ng-model="instComiteFormation.timeTo"
                />
            </div>
            <div class="form-group">
                <label translate="stepApp.instComiteFormation.formationDate"
                       for="field_formationDate">FormationDate</label>
                <input type="date" class="form-control" name="formationDate" id="field_formationDate"
                       ng-model="instComiteFormation.formationDate"
                />
            </div>
            <div class="form-group">
                <label translate="stepApp.instComiteFormation.address" for="field_address">Address</label>
                <textarea type="text" class="form-control" name="address" id="field_address"
                          ng-model="instComiteFormation.address"
                          rows="3" cols="30"
                ></textarea>
            </div>

            <div class="form-group">
                <label translate="stepApp.instComiteFormation.instMemShip" for="field_instMemShip">instMemShip</label>
                <select class="form-control" id="field_instMemShip" name="instMemShip"
                        ng-model="instComiteFormation.instMemShip"
                        ng-options="instMemShip as instMemShip.email for instMemShip in instmemships track by instMemShip.id">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"  ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="instComiteFormation.id == null" translate="entity.action.save">Save</span>
                <span ng-show="instComiteFormation.id != null" translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>
