<!---====hrm education info===--->
<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-body bg-panel hr_label">
            <div class="form-group alert-notice">
                <span ng-show="addMode">
                      <span ng-show="noEmployeeFound" class="alert alert-danger"><i
                          class="fa fa-exclamation-triangle  glow"></i>&nbsp;&nbsp;&nbsp;Employee is not created yet.</span>
                </span>
            </div>
            <div class="panel-group">
                <div class=" bg-panel" ng-repeat="hrEducationInfo in hrEducationInfoList">
                    <form name="editForm" role="form" novalidate show-validation>
                        <div class="row panel-heading no_padding">
                            <div class="col-sm-7 no_padding">
                                <strong>{{hrEducationInfo.educationLevel.typeName}}
                                    {{hrEducationInfo.examTitle}}</strong>
                            </div>
                            <div class="col-sm-5 no_padding text-right">
                                <button
                                    ng-hide="noEmployeeFound || hrEducationInfo.isLocked || hrEducationInfo.logStatus==6"
                                    ng-if="!(hrEducationInfo.logStatus == 11 || hrEducationInfo.logStatus == 33 || hrEducationInfo.logStatus == 55)"
                                    type="button" ng-click="changeProfileMode(hrEducationInfo)"
                                    class="btn btn-primary btn-sm">{{hrEducationInfo.viewModeText}}
                                </button>
                                <span ng-show="hrEducationInfo.isLocked" class="alert alert-warning approve-alert"><span
                                    translate="stepApp.hrmHome.recordLocked">Pending</span></span>
                                <span
                                    ng-if="(hrEducationInfo.logStatus == 22 || hrEducationInfo.logStatus == 44 || hrEducationInfo.logStatus == 66)">
                                        <span class="alert alert-warning approve-alert"
                                              translate="stepApp.hrmHome.requestRejected">Rejected</span>
                                    </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right"
                                 ng-if="(hrEducationInfo.logStatus == 22 || hrEducationInfo.logStatus == 44 || hrEducationInfo.logStatus == 66)">
                                        <span class="alert-warning">
                                            <span class="control-label" translate="stepApp.hrmHome.rejectionReason">Reason</span>: &nbsp; : &nbsp;{{hrEducationInfo.logComments}}
                                        </span>
                            </div>
                            <div class="col-sm-12 text-right"
                                 ng-if="(hrEducationInfo.logStatus == 11 || hrEducationInfo.logStatus == 33 || hrEducationInfo.logStatus == 55)">
                                    <span class="alert-warning" ng-if="hrEducationInfo.logStatus == 11">
                                        <span class="control-label"
                                              translate="stepApp.hrmHome.messages.waitingForDeptHeadApproval">Waiting @ Department Head Approval</span>
                                    </span>
                                <span class="alert-warning" ng-if="hrEducationInfo.logStatus == 33">
                                        <span class="control-label"
                                              translate="stepApp.hrmHome.messages.waitingForInstHeadApproval">Waiting @ Institute Head Approval</span>
                                    </span>
                                <span class="alert-warning" ng-if="hrEducationInfo.logStatus === 55">
                                        <span class="control-label"
                                              translate="stepApp.hrmHome.messages.waitingForSystemAdminApproval">Waiting @ System Admin Approval</span>
                                    </span>
                            </div>
                        </div>

                        <div class="row" ng-show="hrEducationInfo.viewMode">
                            <div class="col-md-12 table-responsive padding0">
                                <table class="table dtetables">
                                    <tr>
                                        <td><strong translate="stepApp.hrEducationInfo.educationLevel"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEducationInfo.educationLevel.typeName}}</td>
                                        <td><strong translate="stepApp.hrEducationInfo.educationBoard"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEducationInfo.educationBoard.typeName}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEducationInfo.instituteName"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEducationInfo.instituteName}}</td>
                                        <td><strong translate="stepApp.hrEducationInfo.examTitle"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEducationInfo.examTitle}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEducationInfo.majorSubject"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEducationInfo.majorSubject}}</td>
                                        <td><strong translate="stepApp.hrEducationInfo.certSlNumber"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEducationInfo.certSlNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEducationInfo.sessionYear"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEducationInfo.sessionYear}}</td>
                                        <td><strong translate="stepApp.hrEducationInfo.rollNumber"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEducationInfo.rollNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEducationInfo.gpaOrCgpa"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEducationInfo.gpaOrCgpa}}</td>
                                        <td ng-if="hrEducationInfo.gpaOrCgpa != 'Division'"><strong
                                            translate="stepApp.hrEducationInfo.gpaScale"></strong></td>
                                        <td ng-if="hrEducationInfo.gpaOrCgpa != 'Division'">&nbsp; : &nbsp;{{hrEducationInfo.gpaScale}}</td>
                                    </tr>
                                    <tr>

                                        <td><strong translate="stepApp.hrEducationInfo.result"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEducationInfo.result}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEducationInfo.passingYear"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEducationInfo.passingYear}}</td>
                                        <td><strong translate="stepApp.hrEducationInfo.certificateDoc"></strong></td>
                                        <td><span ng-click="previewCertDoc(hrEducationInfo)">&nbsp; : &nbsp;<img
                                            ng-src="data:image/JPEG;base64,{{hrEducationInfo.certificateDoc}}"
                                            width="40px"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEducationInfo.transcriptDoc"></strong></td>
                                        <td><span ng-click="previewTransDoc(hrEducationInfo)">&nbsp; : &nbsp;<img
                                            ng-src="data:image/JPEG;base64,{{hrEducationInfo.transcriptDoc}}"
                                            width="40px"></span>
                                        </td>
                                        <td><strong translate="stepApp.hrEducationInfo.testimonialDoc"></strong></td>
                                        <td><span ng-click="previewTestimonialDoc(hrEducationInfo)">&nbsp; : &nbsp;<img
                                            ng-src="data:image/JPEG;base64,{{hrEducationInfo.testimonialDoc}}"
                                            width="40px"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="row hrm-view" ng-show="!hrEducationInfo.viewMode">
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEducationInfo.educationLevel"
                                               for="field_educationLevel">educationLevel</label>
                                        <select class="form-control" id="field_educationLevel" name="educationLevel"
                                                ng-model="hrEducationInfo.educationLevel"
                                                ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in educationLevelNames track by MiscTypeSetup.id"
                                                required>
                                            <option disabled selected value="" translate="global.home.select"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEducationInfo.educationBoard"
                                               for="field_educationBoard">educationBoard</label>
                                        <select class="form-control" id="field_educationBoard" name="educationBoard"
                                                ng-model="hrEducationInfo.educationBoard"
                                                ng-options="MiscTypeSetup as MiscTypeSetup.typeTitle for MiscTypeSetup in educationBoardNames track by MiscTypeSetup.id"
                                                required>
                                            <option disabled selected value="" translate="global.home.select"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEducationInfo.viewMode">
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEducationInfo.instituteName"
                                               for="field_instituteName">InstituteName</label>
                                        <input type="text" class="form-control" name="instituteName"
                                               id="field_instituteName"
                                               ng-model="hrEducationInfo.instituteName"
                                               minlength="5" maxlength="100" ng-maxlength="100" ng-minlength="5"
                                               only-letters required/>
                                        <div ng-show="editForm.instituteName.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.instituteName.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <small style="color:red;font-size: 10px"
                                                   ng-show="editForm.instituteName.$error.maxlength">
                                                This field can not be longer than 100 character
                                            </small>
                                            <small style="color:red;font-size: 10px"
                                                   ng-show="editForm.instituteName.$error.minlength">
                                                This field need to be at least 5 character
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEducationInfo.examTitle"
                                               for="field_examTitle">ExamTitle</label>
                                        <input type="text" class="form-control" name="examTitle" id="field_examTitle"
                                               ng-model="hrEducationInfo.examTitle" required
                                               only-letters minlength="2" maxlength="100" ng-maxlength="100"
                                               ng-minlength="2"/>
                                        <div ng-show="editForm.examTitle.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.examTitle.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <small style="color:red;font-size: 10px"
                                                   ng-show="editForm.examTitle.$error.maxlength">
                                                This field can not be longer than 100 character
                                            </small>
                                            <small style="color:red;font-size: 10px"
                                                   ng-show="editForm.examTitle.$error.minlength">
                                                This field need to be at least 2 character
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row " ng-show="!hrEducationInfo.viewMode">
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEducationInfo.majorSubject"
                                               for="field_majorSubject">MajorSubject</label>
                                        <input type="text" class="form-control" name="majorSubject"
                                               id="field_majorSubject"
                                               ng-model="hrEducationInfo.majorSubject" required
                                               only-letters minlength="2" maxlength="100" ng-maxlength="100"
                                               ng-minlength="2"/>
                                        <div ng-show="editForm.majorSubject.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.majorSubject.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <small style="color:red;font-size: 10px"
                                                   ng-show="editForm.majorSubject.$error.maxlength">
                                                This field can not be longer than 100 character
                                            </small>
                                            <small style="color:red;font-size: 10px"
                                                   ng-show="editForm.majorSubject.$error.minlength">
                                                This field need to be at least 2 character
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEducationInfo.certSlNumber"
                                               for="field_certSlNumber">CertSlNumber</label>
                                        <input type="text" class="form-control" name="certSlNumber"
                                               id="field_certSlNumber"
                                               ng-model="hrEducationInfo.certSlNumber"
                                               only-numbers minlength="2" maxlength="15" ng-maxlength="15"
                                               ng-minlength="2"/>
                                        <div ng-show="editForm.certSlNumber.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.certSlNumber.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <small style="color:red;font-size: 10px"
                                                   ng-show="editForm.certSlNumber.$error.maxlength">
                                                This field can not be longer than 15 character
                                            </small>
                                            <small style="color:red;font-size: 10px"
                                                   ng-show="editForm.certSlNumber.$error.minlength">
                                                This field need to be at least 2 character
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row " ng-show="!hrEducationInfo.viewMode">
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEducationInfo.sessionYear"
                                               for="field_sessionYear">SessionYear</label>
                                        <input type="text" class="form-control" name="sessionYear"
                                               id="field_sessionYear"
                                               ng-model="hrEducationInfo.sessionYear" required
                                               only-numbers-and-dash minlength="4" maxlength="9" ng-maxlength="9"
                                               ng-minlength="4"/>
                                        <div ng-show="editForm.sessionYear.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.sessionYear.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <small style="color:red;font-size: 10px"
                                                   ng-show="editForm.sessionYear.$error.maxlength">
                                                This field can not be longer than 9 character
                                            </small>
                                            <small style="color:red;font-size: 10px"
                                                   ng-show="editForm.sessionYear.$error.minlength">
                                                This field need to be at least 4 character
                                            </small>
                                        </div>
                                    </div>
                                    <div ng-show="hrEducationInfo.viewMode">
                                        <label class="control-label" translate="stepApp.hrEducationInfo.sessionYear"
                                               for="field_sessionYear">SessionYear</label>
                                        <span
                                            class="form-control-static">&nbsp; : &nbsp;{{hrEducationInfo.sessionYear}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEducationInfo.rollNumber"
                                               for="field_rollNumber">RollNumber</label>
                                        <input type="text" class="form-control" name="rollNumber" id="field_rollNumber"
                                               ng-model="hrEducationInfo.rollNumber" only-numbers
                                               minlength="6" maxlength="10" ng-maxlength="10"
                                               ng-minlength="6"/>
                                        <div ng-show="editForm.rollNumber.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.rollNumber.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <small style="color:red;font-size: 10px"
                                                   ng-show="editForm.rollNumber.$error.maxlength">
                                                This field can not be longer than 10 character
                                            </small>
                                            <small style="color:red;font-size: 10px"
                                                   ng-show="editForm.rollNumber.$error.minlength">
                                                This field need to be at least 6 character
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row " ng-show="!hrEducationInfo.viewMode">
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEducationInfo.gpaOrCgpa"
                                               for="field_gpaOrCgpa">GpaOrCgpa</label>
                                        <select class="form-control" id="field_gpaOrCgpa" name="gpaOrCgpa"
                                                ng-model="hrEducationInfo.gpaOrCgpa" required>
                                            <option value="" disabled selected translate="global.home.select"></option>
                                            <option value="CGPA">CGPA</option>
                                            <option value="GPA">GPA</option>
                                            <option value="Division">Division</option>
                                        </select>
                                        <div ng-show="editForm.gpaOrCgpa.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.gpaOrCgpa.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6"
                                 ng-if="hrEducationInfo.gpaOrCgpa == 'CGPA' || hrEducationInfo.gpaOrCgpa == 'GPA'">
                                <div class="form-group">
                                    <label class="control-label" translate="stepApp.hrEducationInfo.gpaScale"
                                           for="field_gpaScale">GpaScale</label>
                                    <div class="input-margin">
                                        <input type="text" class="form-control" name="gpaScale" id="field_gpaScale"
                                               ng-model="hrEducationInfo.gpaScale"
                                               only-numbers
                                               minlength="1" maxlength="1" ng-maxlength="1"
                                               ng-minlength="1" min="4" max="5"
                                               required
                                        />
                                        <div ng-show="editForm.gpaScale.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.gpaScale.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <small style="color:red;font-size: 10px"
                                                   ng-show="editForm.gpaScale.$error.maxlength">
                                                This field can not be longer than 1 character
                                            </small>
                                            <small style="color:red;font-size: 10px"
                                                   ng-show="editForm.gpaScale.$error.minlength">
                                                This field need to be at least 1 character
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=" col-sm-6"
                                 ng-if="hrEducationInfo.gpaOrCgpa == 'CGPA' || hrEducationInfo.gpaOrCgpa == 'GPA'">
                                <div class="form-group">
                                    <label class="" translate="stepApp.hrEducationInfo.result"
                                           for="field_gpaScale">result</label><span style="color:red">*</span>
                                    <input type="text" class="form-control" name="result" id="field_result"
                                           ng-model="hrEducationInfo.result"
                                           only-numbers-and-dot
                                           minlength="4" maxlength="4" ng-maxlength="4"
                                           ng-minlength="4" min="0" max="5"
                                            placeholder="4.90" required
                                    />
                                    <div ng-show="editForm.result.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.result.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.result.$error.maxlength">
                                            This field can not be longer than 4 character
                                        </small>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.result.$error.minlength">
                                            This field need to be at least 4 character
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6" ng-if="hrEducationInfo.gpaOrCgpa == 'Division'">
                                <div class="form-group">
                                    <label class="" translate="stepApp.hrEducationInfo.result"
                                           for="field_gpaScale">result</label> <span style="color:red">*</span>
                                    <input type="text" class="form-control" name="result" id="result"
                                           ng-model="hrEducationInfo.result"
                                           only-letters
                                           minlength="4" maxlength="50" ng-maxlength="50"
                                           ng-minlength="4" min="0" max="5"
                                           placeholder="First Class"
                                           required
                                    />
                                    <div ng-show="editForm.result.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.result.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.result.$error.maxlength">
                                            This field can not be longer than 50 character
                                        </small>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.result.$error.minlength">
                                            This field need to be at least 4 character
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row " ng-show="!hrEducationInfo.viewMode">
                            <div class="col-md-12">
                                <div class=" col-sm-6">
                                    <div class="form-group">
                                        <div class="">
                                            <label class="control-label" translate="stepApp.hrEducationInfo.passingYear"
                                                   for="field_passingYear">PassingYear</label>
                                            <input type="text" class="form-control" name="passingYear"
                                                   id="field_passingYear"
                                                   ng-model="hrEducationInfo.passingYear" required
                                                   only-numbers
                                                   minlength="4" maxlength="4" ng-maxlength="4"
                                                   ng-minlength="4" min="0"
                                                   required
                                            />
                                            <div ng-show="editForm.passingYear.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.passingYear.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                                <p class="help-block"
                                                   ng-show="editForm.passingYear.$error.number"
                                                   translate="entity.validation.number">
                                                    This field should be a number.
                                                </p>
                                                <small style="color:red;font-size: 10px"
                                                       ng-show="editForm.passingYear.$error.maxlength">
                                                    This field can not be longer than 4 character
                                                </small>
                                                <small style="color:red;font-size: 10px"
                                                       ng-show="editForm.passingYear.$error.minlength">
                                                    This field need to be at least 4 character
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label" translate="stepApp.hrEducationInfo.certificateDoc"
                                               for="field_certificateDoc">CertificateDoc</label>
                                        <div class="">
                                            <div>
                                                <div class="help-block clearfix">
                                                    <span class="pull-left">{{hrEducationInfo.certificateDocContentType}} {{byteSize(hrEducationInfo.certificateDoc)}}</span>
                                                    <button
                                                        ng-click="hrEducationInfo.certificateDoc=null;hrEducationInfo.certificateDocContentType=null;"
                                                        ng-if="hrEducationInfo.certificateDoc"
                                                        class="btn btn-default btn-xs pull-right">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </div>
                                                <button type="file" ngf-select class="btn btn-default btn-block"
                                                        ngf-change="setCertificateDoc($file, hrEducationInfo)"
                                                        translate="entity.action.addblob">
                                                    Add blob
                                                </button>
                                            </div>
                                            <input type="hidden" class="form-control" name="certificateDoc"
                                                   id="field_certificateDoc"
                                                   ng-model="hrEducationInfo.certificateDoc"
                                            />
                                            <input type="hidden" class="form-control" name="certificateDocContentType"
                                                   id="field_certificateDocContentType"
                                                   ng-model="hrEducationInfo.certificateDocContentType"/>

                                        </div>
                                        <a ng-if="hrEducationInfo.certificateDocContentType" class="btn btn-link"
                                           ng-click="previewCertDoc(hrEducationInfo)">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="!hrEducationInfo.viewMode">
                            <div class="col-md-12">
                                <div class="  col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label" translate="stepApp.hrEducationInfo.transcriptDoc"
                                               for="field_transcriptDoc">TranscriptDoc</label>
                                        <div class="">
                                            <div>
                                                <div class="help-block clearfix">
                                                    <span class="pull-left">{{hrEducationInfo.transcriptDocContentType}} {{byteSize(hrEducationInfo.transcriptDoc)}}</span>
                                                    <button
                                                        ng-click="hrEducationInfo.transcriptDoc=null;hrEducationInfo.transcriptDocContentType=null;"
                                                        ng-if="hrEducationInfo.transcriptDoc"
                                                        class="btn btn-default btn-xs pull-right">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </div>
                                                <button type="file" ngf-select class="btn btn-default btn-block"
                                                        ngf-change="setTranscriptDoc($file, hrEducationInfo)"
                                                        translate="entity.action.addblob">
                                                    Add blob
                                                </button>
                                            </div>
                                            <input type="hidden" class="form-control" name="transcriptDoc"
                                                   id="field_transcriptDoc"
                                                   ng-model="hrEducationInfo.transcriptDoc"
                                            />
                                            <input type="hidden" class="form-control" name="transcriptDocContentType"
                                                   id="field_transcriptDocContentType"
                                                   ng-model="hrEducationInfo.transcriptDocContentType"/>
                                        </div>
                                        <a ng-if="hrEducationInfo.transcriptDocContentType" class="btn btn-link"
                                           ng-click="previewTransDoc(hrEducationInfo)">View</a>
                                    </div>
                                </div>
                                <div class="col-md-6" ngf-drop ngf-change="setTestimonialDoc($file, hrEducationInfo)">
                                    <div class="form-group">
                                        <label class="control-label" translate="stepApp.hrEducationInfo.testimonialDoc"
                                               for="field_testimonialDoc">testimonialDoc</label>
                                        <div class="">
                                            <div>
                                                <div class="help-block clearfix">
                                                    <span class="pull-left">{{hrEducationInfo.transcriptDocContentType}} {{byteSize(hrEducationInfo.testimonialDoc)}}</span>
                                                    <button
                                                        ng-click="hrEducationInfo.testimonialDoc=null;hrEducationInfo.testimonialDocContentType=null;"
                                                        ng-if="hrEducationInfo.testimonialDoc"
                                                        class="btn btn-default btn-xs pull-right">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </div>
                                                <button type="file" ngf-select class="btn btn-default btn-block"
                                                        ngf-change="setTestimonialDoc($file, hrEducationInfo)"
                                                        translate="entity.action.addblob">Add blob
                                                </button>
                                            </div>
                                            <input type="hidden" class="form-control" name="testimonialDoc"
                                                   id="field_testimonialDoc"
                                                   ng-model="hrEducationInfo.transcriptDoc"/>
                                            <input type="hidden" class="form-control" name="testimonialDocContentType"
                                                   id="field_testimonialDocContentType"
                                                   ng-model="hrEducationInfo.testimonialDocContentType"/>
                                            <a ng-if="hrEducationInfo.transcriptDocContentType" class="btn btn-link"
                                               ng-click="previewTestimonialDoc(hrEducationInfo)">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-12 text-right">
                            <br>
                            <div class="">
                                <button ng-show="!hrEducationInfo.viewMode" type="button"
                                        ng-click="changeProfileMode(hrEducationInfo)"
                                        class="btn btn-default btn-sm"><span
                                    class="glyphicon glyphicon-remove"></span>&nbsp;{{hrEducationInfo.viewModeText}}
                                </button>
                                <button ng-show="!hrEducationInfo.viewMode"
                                        ng-click="updateProfile(hrEducationInfo, $index)"
                                        type="button" ng-disabled="editForm.$invalid || isSaving"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                                    translate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12  text-right">
                    <br>
                    <button type="submit" class="btn btn-primary" ng-show="!addMode"
                            ng-disabled="editForm.$invalid || isSaving" ng-click="addMore()"><i
                        class="fa fa-plus-square"></i>
                        <span translate="global.menu.account.addmore">Add More</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


