<div class="col-md-12 common-list no_padding">
    <h2 translate="stepApp.hrEducationInfo.home.title">HrEducationInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrEducationInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrEducationInfo.home.createLabel">Create a new HrEducationInfo</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12  table-responsive no_padding">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th><span translate="global.form.serial">Serial</span></th>
                <th><span translate="global.field.id">ID</span></th>
                <th><span translate="stepApp.hrEducationInfo.employeeInfo">employeeInfo</span></th>
                <th><span translate="stepApp.hrEducationInfo.examTitle">ExamTitle</span></th>
                <th><span translate="stepApp.hrEducationInfo.majorSubject">MajorSubject</span></th>
                <th><span translate="stepApp.hrEducationInfo.sessionYear">SessionYear</span></th>
                <th><span translate="stepApp.hrEducationInfo.instituteName">InstituteName</span></th>
                <!--<th><span translate="stepApp.hrEducationInfo.educationLevel">educationLevel</span></th>
                <th><span translate="stepApp.hrEducationInfo.educationBoard">educationBoard</span></th>-->
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrEducationInfo in hrEducationInfos | filter:q | itemsPerPage: pageSize track by hrEducationInfo.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>

                <td><a ui-sref="hrEducationInfo.detail({id:hrEducationInfo.id})">{{hrEducationInfo.id}}</a></td>
                <td>
                    <a ui-sref="hrEmployeeInfo.detail({id:hrEducationInfo.employeeInfo.id})">{{hrEducationInfo.employeeInfo.fullName}}</a>
                </td>
                <td>{{hrEducationInfo.examTitle}}</td>
                <td>{{hrEducationInfo.majorSubject}}</td>
                <td>{{hrEducationInfo.sessionYear}}</td>
                <td>{{hrEducationInfo.instituteName}}</td>
                <!--<td>
                    <a ui-sref="miscTypeSetup.detail({id:hrEducationInfo.educationLevel.id})">{{hrEducationInfo.educationLevel.typeName}}</a>
                </td>
                <td>
                    <a ui-sref="miscTypeSetup.detail({id:hrEducationInfo.educationBoard.id})">{{hrEducationInfo.educationBoard.typeTitle}}</a>
                </td>-->
                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="hrEducationInfo.detail({id:hrEducationInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit" ng-hide="false"
                            ui-sref="hrEducationInfo.edit({id:hrEducationInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrEducationInfo.delete({id:hrEducationInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
