<div class="col-md-12 common-table">
    <h2><span translate="stepApp.hrEducationInfo.detail.title">HrEducationInfo</span> of
        {{hrEducationInfo.employeeInfo.fullName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEducationInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="hrEmployeeInfo.detail({id:hrEducationInfo.employeeInfo.id})">{{hrEducationInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEducationInfo.educationLevel">educationLevel</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="miscTypeSetup.detail({id:hrEducationInfo.educationLevel.id})">{{hrEducationInfo.educationLevel.typeName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEducationInfo.educationBoard">educationBoard</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="miscTypeSetup.detail({id:hrEducationInfo.educationBoard.id})">{{hrEducationInfo.educationBoard.typeTitle}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEducationInfo.examTitle">ExamTitle</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEducationInfo.examTitle}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEducationInfo.majorSubject">MajorSubject</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEducationInfo.majorSubject}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEducationInfo.certSlNumber">CertSlNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEducationInfo.certSlNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEducationInfo.sessionYear">SessionYear</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEducationInfo.sessionYear}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEducationInfo.rollNumber">RollNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEducationInfo.rollNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEducationInfo.instituteName">InstituteName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEducationInfo.instituteName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEducationInfo.gpaOrCgpa">GpaOrCgpa</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEducationInfo.gpaOrCgpa}}</span>
                </td>
            </tr>
            <tr>
                <td><span translate="stepApp.hrEducationInfo.educationLevel">educationLevel</span></td>
                <td>{{hrEducationInfo.educationLevel.typeName}}</td>
                <td><span translate="stepApp.hrEducationInfo.examTitle">educationLevel</span></td>
                <td>{{hrEducationInfo.examTitle}}</td>
            </tr>
            <tr>
                <td><span translate="stepApp.hrEducationInfo.certSlNumber">certSlNumber</span></td>
                <td>{{hrEducationInfo.certSlNumber}}</td>
                <td><span translate="stepApp.hrEducationInfo.rollNumber">rollNumber</span></td>
                <td>{{hrEducationInfo.rollNumber}}</td>
            </tr>
            <tr>
                <td><span translate="stepApp.hrEducationInfo.gpaOrCgpa">gpaOrCgpa</span></td>
                <td>{{hrEducationInfo.gpaOrCgpa}}</td>


                <td>
                    <span translate="stepApp.hrEducationInfo.gpaScale">GpaScale</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEducationInfo.gpaScale}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEducationInfo.passingYear">PassingYear</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEducationInfo.passingYear}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEducationInfo.certificateDoc">CertificateDoc</span>
                </td>
                <td>
                    <!--<span class="form-control-static">{{hrEducationInfo.certificateDoc}}</span>-->
                    <!--<div>{{hrEducationInfo.certificateDocContentType}}  {{byteSize(hrEducationInfo.certificateDoc)}}</div>-->
                    <a href="javascript:void(0)"
                       ng-click="previewImage(hrEducationInfo.certificateDoc, hrEducationInfo.certificateDocContentType,'Image of '+hrEducationInfo.name)"></span>
                        &nbsp;
                        <img style="border-radius:3px; height:40px; width:40px;"
                             data-ng-src="{{'data:' + hrEducationInfo.certificateDocContentType + ';base64,' + hrEducationInfo.certificateDoc}}"/></a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEducationInfo.certificateDocName">CertificateDocName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEducationInfo.certificateDocName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEducationInfo.transcriptDoc">TranscriptDoc</span>
                </td>
                <td>
                    <!--<span class="form-control-static">{{hrEducationInfo.transcriptDoc}}</span>
                    <div>{{hrEducationInfo.transcriptDocContentType}}  {{byteSize(hrEducationInfo.transcriptDoc)}}</div>-->
                    <a href="javascript:void(0)"
                       ng-click="previewImage(hrEducationInfo.transcriptDoc, hrEducationInfo.transcriptDocContentType,'Image of '+hrEducationInfo.name)"></span>
                        &nbsp;
                        <img style="border-radius:3px; height:40px; width:40px;"
                             data-ng-src="{{'data:' + hrEducationInfo.transcriptDocContentType + ';base64,' + hrEducationInfo.transcriptDoc}}"/></a>
                </td>
            <tr>
                <td>
                    <span translate="stepApp.hrEducationInfo.transcriptDocName">TranscriptDocName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEducationInfo.transcriptDocName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEducationInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEducationInfo.activeStatus? 'Active': 'Inactive'}}</span>
                </td>
            </tr>


            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
