
<div has-any-authority="ROLE_INSTITUTE">
    <form name="deleteForm" ng-submit="confirmApprove()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    ng-click="clear()">&times;</button>
            <h4 class="modal-title" translate="stepApp.dlContUpld.confirmation">Confirm approve operation</h4>
        </div>
        <div class="modal-body">
            <p translate="stepApp.dlContUpld.question" translate-values="{id: '{{dlContUpld.cName}}'}">Are you sure approve</p>
        </div>
        <div class="modal-footer">
            <button  type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span>&nbsp;<span translate="stepApp.dlContUpld.approve">Delete</span>
            </button>
        </div>
    </form>

</div>

<div has-any-authority="ROLE_INSTEMP">
    <form name="deleteForm" ng-submit="confirmApproveByEmployee()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    ng-click="clear()">&times;</button>
            <h4 class="modal-title" translate="stepApp.dlContUpld.confirmation">Confirm approve operation</h4>
        </div>
        <div class="modal-body">
            <p translate="stepApp.dlContUpld.question" translate-values="{id: '{{dlContUpld.cName}}'}">Are you sure approve</p>
        </div>
        <div class="modal-footer">
            <button  type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span>&nbsp;<span translate="stepApp.dlContUpld.approve">Delete</span>
            </button>
        </div>
    </form>

</div>

<div has-any-authority="ROLE_ADMIN">

    <form name="deleteForm"  ng-submit="confirmApproveByAdmin()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    ng-click="clear()">&times;</button>
            <h4 class="modal-title" translate="stepApp.dlContUpld.confirmation">Confirm approve operation</h4>
        </div>
        <div class="modal-body">
            <p translate="stepApp.dlContUpld.question" translate-values="{id: '{{dlContUpld.cName}}'}">Are you sure approve</p>
        </div>
        <div class="modal-footer">
            <button  type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span>&nbsp;<span translate="stepApp.dlContUpld.approve">Delete</span>
            </button>
        </div>
    </form>

</div>
