<div class="">
    <!--
        <h2><span translate="stepApp.dlContUpld.detail.title">DlContUpld</span> {{dlContUpld.id}}</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.dlContUpld.code">Code</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{dlContUpld.code}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.dlContUpld.authName">AuthName</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{dlContUpld.authName}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.dlContUpld.edition">Edition</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{dlContUpld.edition}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.dlContUpld.isbnNo">IsbnNo</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{dlContUpld.isbnNo}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.dlContUpld.copyright">Copyright</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{dlContUpld.copyright}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.dlContUpld.publisher">Publisher</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{dlContUpld.publisher}}</span>
                    </td>
                </tr>
                &lt;!&ndash;<tr>
                    <td>
                        <span translate="stepApp.dlContUpld.createdDate">CreatedDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{dlContUpld.createdDate | date:'mediumDate'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.dlContUpld.updatedDate">UpdatedDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{dlContUpld.updatedDate | date:'mediumDate'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.dlContUpld.createdBy">CreatedBy</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{dlContUpld.createdBy}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.dlContUpld.updatedBy">UpdatedBy</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{dlContUpld.updatedBy}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.dlContUpld.status">Status</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{dlContUpld.status}}</span>
                    </td>
                </tr>&ndash;&gt;
                <tr>
                    <td>
                        <span translate="stepApp.dlContUpld.dlContTypeSet">dlContTypeSet</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="dlContTypeSet.detail({id:dlContUpld.dlContTypeSet.id})">{{dlContUpld.dlContTypeSet.name}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.dlContUpld.dlContCatSet">dlContCatSet</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="dlContCatSet.detail({id:dlContUpld.dlContCatSet.id})">{{dlContUpld.dlContCatSet.name}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.dlContUpld.dlContSCatSet">dlContSCatSet</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="dlContCatSet.detail({id:dlContUpld.dlContSCatSet.id})">{{dlContUpld.dlContSCatSet.name}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.dlContUpld.instEmployee">instEmployee</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="instEmployee.detail({id:dlContUpld.instEmployee.id})">{{dlContUpld.instEmployee.name}}</a>
                    </td>
                </tr>
    <tr>
        <td>

    <!--        /home/shuvo/DTE/step/src/main/webapp/assets/dlms
            assets/dlms//{{dlContUpld.contentName}}-->
    <!--<img src="/assets/dlms/{{dlContUpld.contentName}}" alt="book image">-->
    <!--    <button type="submit"
                ng-click="previewImage(dlContUpld.content, dlContUpld.contentContentType, dlContUpld.contentName)"
                class="btn btn-warning btn-sm" tooltip="View and Download Content">
            <span class="glyphicon glyphicon-picture"></span>
        </button>
    </td>
</tr>

            <tr>
                <td>
                    <span translate="stepApp.dlContUpld.dlFileType">dlFileType</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="dlFileType.detail({id:dlContUpld.dlFileType.id})">{{dlContUpld.dlFileType.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>-->

    <div>
        <div class="col-md-3">
            <div class="library_img_area">
                <div class="library_book_img">
                    <!--<img src="{{dlContUpld.contentImageName}}" alt=""/>-->
                    <img width="200"
                         data-ng-src="{{'data:' + dlContUpld.contentImageContentType + ';base64,' + dlContUpld.contentImage}}"/>
                    <div class="dl_view_area">
                        <div class="dl_view">
                            <div class="dl_view_btn">
                                <a ng-click="previewImage(dlContUpld.content, dlContUpld.contentContentType, dlContUpld.contentName);increment()"
                                   class="btn btn-success" href="">Read Online</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dl_download">
                    <div class="download-btn">Total Downloads : {{dlContUpld.counter}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="img_details_area">
                <div class="dl_img_title">
                    <h3>Book Title: &nbsp;<span class="form-control-static dltitle">{{dlContUpld.cName}}</span></h3>
                    <p>Author Name : &nbsp; <span class="form-control-static">{{dlContUpld.authName}}</span>
                    </p>
                </div>
                <!-- <div class="dl_rating_area">

                     <div class="tooltip_text">
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <span class="tool_text">Star 1</span>
                     </div>
                     <div class="tooltip_text">
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <span class="tool_text">Star 2</span>
                     </div>
                     <div class="tooltip_text">
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <span class="tool_text">Star 3</span>
                     </div>
                     <div class="tooltip_text">
                         <i class="fa fa-star" aria-hidden="true"></i>
                         <span class="tool_text">Star 4</span>
                     </div>
                     <div class="tooltip_text">
                         <i class="fa fa-star-half" aria-hidden="true"></i>
                         <span class="tool_text">Star 0.5</span>
                     </div>
                     &nbsp; |&nbsp; 1 Rating &nbsp;|&nbsp; No Review Yet &nbsp;|&nbsp; <a href="">Write a Review</a>

                 </div>-->

                <div class="dl_pricing_area">
                    <table class="table borderless">
                        <tr>
                            <td class="dl_price_title"><span translate="stepApp.dlContUpld.code">Code</span></td>
                            <td class="dl_value"><span class="form-control-static">{{dlContUpld.code}}</span></td>
                        </tr>
                        <tr>
                            <td class="dl_price_title"><span translate="stepApp.dlContUpld.edition">Edition</span></td>
                            <td class="dl_value"><span class="form-control-static">{{dlContUpld.edition}}</span></td>
                        </tr>
                        <tr>
                            <td class="dl_price_title"><span translate="stepApp.dlContUpld.isbnNo">IsbnNo</span></td>
                            <td class="dl_value"><span class="form-control-static">{{dlContUpld.isbnNo}}</span></td>
                        </tr>
                        <tr>
                            <td class="dl_price_title"><span translate="stepApp.dlContUpld.copyright">Copyright</span>
                            </td>
                            <td class="dl_value"><span class="form-control-static">{{dlContUpld.copyright}}</span></td>
                        </tr>
                        <tr>
                            <td class="dl_price_title"><span translate="stepApp.dlContUpld.publisher">Publisher</span>
                            </td>
                            <td class="dl_value"><span class="form-control-static">{{dlContUpld.publisher}}</span></td>
                        </tr>
                        <tr>
                            <td class="dl_price_title"><span translate="stepApp.dlContUpld.count">Total Downloads</span>
                            </td>
                            <td class="dl_value"><span class="form-control-static">{{dlContUpld.counter}}</span></td>
                        </tr>
                        <tr>
                            <td class="dl_price_title"><span
                                translate="stepApp.dlContUpld.dlContTypeSet">dlContTypeSet</span></td>
                            <td class="dl_value"><a class="form-control-static"
                                                    ui-sref="dlContTypeSet.detail({id:dlContUpld.dlContTypeSet.id})">{{dlContUpld.dlContTypeSet.name}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="dl_price_title"><span
                                translate="stepApp.dlContUpld.dlContCatSet">dlContCatSet</span></td>
                            <td class="dl_value"><a class="form-control-static"
                                                    ui-sref="dlContCatSet.detail({id:dlContUpld.dlContCatSet.id})">{{dlContUpld.dlContCatSet.name}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="dl_price_title"><span
                                translate="stepApp.dlContUpld.dlContSCatSet">dlContSCatSet</span></td>
                            <td class="dl_value"><a class="form-control-static"
                                                    ui-sref="dlContCatSet.detail({id:dlContUpld.dlContSCatSet.id})">{{dlContUpld.dlContSCatSet.name}}</a>
                            </td>
                        </tr>
                        <!--<tr>
                            <td class="dl_price_title"><span translate="stepApp.dlContUpld.instEmployee">instEmployee</span></td>
                            <td class="dl_value"><a class="form-control-static" ui-sref="instEmployee.detail({id:dlContUpld.instEmployee.id})">{{dlContUpld.instEmployee.name}}</a></td>
                        </tr>-->
                    </table>
                    <!--<div class="dl_cat">
                        <ul>
                            <li><a href="">Category</a></li>
                            <li><a href="">Publisher</a></li>
                        </ul>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="similar_title" style="text-align: center">Similar Content</div>

            <div ng-if="dlAllByAllTypes" class="all_similar">
                <div ng-repeat="dlAllByAllTypes in dlAllByAllTypes | limitTo: 2" class="col-md-12 no_padding">
                    <div class="dl_single_similar_product">
                        <a ui-sref="libraryInfo.dlContUpld.detail({id:dlAllByAllTypes.id})">
                            <img width="200"
                                 data-ng-src="{{'data:' + dlContUpld.contentImageContentType + ';base64,' + dlContUpld.contentImage}}"/>
                            <!-- <img src="{{dlContUpld.contentImageName}}" alt="book image">-->
                        </a>
                        <h3><a href="">{{dlAllByAllTypes.cName}}</a></h3>
                        <h3><a href="">{{dlAllByAllTypes.isbnNo}}</a></h3>
                    </div>
                </div>
            </div>
            <div ng-if="dlAllByAllTypes == null" class="all_similar">
                <p class="b-error">{{noContent}}</p>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit"
                    onclick="window.history.back()"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                translate="entity.action.back"> Back</span>
            </button>
        </div>
    </div>


</div>

