<div class="row">
    <div class="col-md-3 padding-right0">
        <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
    </div>
    <div class="col-md-9 lbl-dash">
        <div class="col-md-12 common-table no_padding">
    <h2><span translate="stepApp.bankSetup.detail.title">BankSetup</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.bankSetup.code">Code</span>
                </td>
                <td>
                    <span class="form-control-static">{{bankSetup.code}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.bankSetup.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{bankSetup.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.bankSetup.remarks">Remark</span>
                </td>
                <td>
                    <span class="form-control-static">{{bankSetup.remarks}}</span>
                </td>
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.bankSetup.branchName">BranchName</span>
                </td>
                <td>
                    <span class="form-control-static">{{bankSetup.branchName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.bankSetup.upazila">upazila</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="upazila.detail({id:bankSetup.upazila.id})">{{bankSetup.upazila.name}}</a>
                </td>
            </tr>-->
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
        </div>
    </div>









