<div class="row">
    <div class="col-md-3 padding-right0">
        <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
    </div>
    <div class="col-md-9 lbl-dash">
        <div class="col-md-12 common-list no_padding">
            <h2 class="heading_center" translate="stepApp.bankSetup.home.title">BankSetups</h2>
            <!--<div class="col-sm-12  padding-tb no-print">
                <div class="col-md-8 no_padding ">
                    <div class="col-md-6 no_padding">
                        <b> <span translate="global.home.searchhere"></span>:</b>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <b><span translate="global.home.itemperpage"></span>:</b>
                        <div class="input-group">
                            <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 no_padding text-right btn-top">
                    <button class="btn btn-primary" ui-sref="bankSetup.new">
                        <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.bankSetup.home.createLabel">Create a new BankSetup</span>
                    </button>
                </div>
            </div>-->
            <div class="col-md-12 padding-bt">
                <div class="col-xs-4 no_padding">
                    <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
                </div>
                <div class="col-xs-4">
                    <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
                </div>
                <div class="col-xs-4 no_padding text-right ">
                    <button class="btn btn-primary" ui-sref="bankSetup.new">
                        <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.bankSetup.home.createLabel">Create a new BankSetup</span>
                    </button>
                </div>
            </div>



        <div class=" col-md-12 table-responsive no_padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th translate="global.form.serial">Serial</th>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.bankSetup.code">Code</th>
                    <th translate="stepApp.bankSetup.name">Name</th>
                    <th translate="stepApp.bankSetup.remarks">Code</th>
                    <!--<th translate="stepApp.bankSetup.branchName">BranchName</th>
                        <th translate="stepApp.bankSetup.upazila">upazila</th>-->
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr dir-paginate="bankSetup in bankSetups | filter:q | itemsPerPage: pageSize track by bankSetup.id" current-page="currentPage">
                    <td>{{$index+1}}</td>
                <td><a ui-sref="bankSetup.detail({id:bankSetup.id})">{{bankSetup.id}}</a></td>
                    <td>{{bankSetup.code}}</td>
                    <td>{{bankSetup.name}}</td>
                    <td>{{bankSetup.remarks}}</td>
                    <!--<td>{{bankSetup.branchName}}</td>
                        <td>
                            <a ui-sref="upazila.detail({id:bankSetup.upazila.id})">{{bankSetup.upazila.name}}</a>
                        </td>-->
                    <td class="text-right no-print">
                        <button type="submit"
                                ui-sref="bankSetup.detail({id:bankSetup.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="bankSetup.edit({id:bankSetup.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="bankSetup.delete({id:bankSetup.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav class="no-print">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
            </nav>
        </div>
    </div>
</div>
</div>
