
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myErpAuthorityFlowLabel" translate="stepApp.erpAuthorityFlow.home.createOrEditLabel">Create or edit a ErpAuthorityFlow</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="erpAuthorityFlow.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.erpAuthorityFlow.authorityCategory" for="field_authorityCategory">AuthorityCategory</label>
            <input type="text" class="form-control" name="authorityCategory" id="field_authorityCategory"
                    ng-model="erpAuthorityFlow.authorityCategory"
                    required />
            <div ng-show="editForm.authorityCategory.$invalid">
                <p class="help-block"
                    ng-show="editForm.authorityCategory.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.erpAuthorityFlow.authorityType" for="field_authorityType">AuthorityType</label>
            <input type="text" class="form-control" name="authorityType" id="field_authorityType"
                    ng-model="erpAuthorityFlow.authorityType"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.erpAuthorityFlow.actorName" for="field_actorName">ActorName</label>
            <input type="text" class="form-control" name="actorName" id="field_actorName"
                    ng-model="erpAuthorityFlow.actorName"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.erpAuthorityFlow.activeStatus" for="field_activeStatus">ActiveStatus</label>
            <input type="checkbox" class="form-control" name="activeStatus" id="field_activeStatus"
                    ng-model="erpAuthorityFlow.activeStatus"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.erpAuthorityFlow.createDate" for="field_createDate">CreateDate</label>
            <input type="date" class="form-control" name="createDate" id="field_createDate"
                    ng-model="erpAuthorityFlow.createDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.erpAuthorityFlow.createBy" for="field_createBy">CreateBy</label>
            <input type="number" class="form-control" name="createBy" id="field_createBy"
                    ng-model="erpAuthorityFlow.createBy"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.erpAuthorityFlow.updateDate" for="field_updateDate">UpdateDate</label>
            <input type="date" class="form-control" name="updateDate" id="field_updateDate"
                    ng-model="erpAuthorityFlow.updateDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.erpAuthorityFlow.updateBy" for="field_updateBy">UpdateBy</label>
            <input type="number" class="form-control" name="updateBy" id="field_updateBy"
                    ng-model="erpAuthorityFlow.updateBy"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
