
<div>
    <h2><span translate="stepApp.erpAuthorityFlow.detail.title">ErpAuthorityFlow</span> {{erpAuthorityFlow.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthorityFlow.authorityCategory">AuthorityCategory</span>
                </td>
                <td>
                    <span class="form-control-static">{{erpAuthorityFlow.authorityCategory}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthorityFlow.authorityType">AuthorityType</span>
                </td>
                <td>
                    <span class="form-control-static">{{erpAuthorityFlow.authorityType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthorityFlow.actorName">ActorName</span>
                </td>
                <td>
                    <span class="form-control-static">{{erpAuthorityFlow.actorName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthorityFlow.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{erpAuthorityFlow.activeStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthorityFlow.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{erpAuthorityFlow.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthorityFlow.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{erpAuthorityFlow.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthorityFlow.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{erpAuthorityFlow.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthorityFlow.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{erpAuthorityFlow.updateBy}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
