<div>
    <h2 translate="stepApp.erpAuthorityFlow.home.title">ErpAuthorityFlows</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="erpAuthorityFlow.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.erpAuthorityFlow.home.createLabel">Create a new ErpAuthorityFlow</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a ErpAuthorityFlow</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteErpAuthorityFlowConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(erpAuthorityFlow.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.erpAuthorityFlow.delete.question" translate-values="{id: '{{erpAuthorityFlow.id}}'}">Are you sure you want to delete this ErpAuthorityFlow?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.erpAuthorityFlow.authorityCategory">AuthorityCategory</th>
                    <th translate="stepApp.erpAuthorityFlow.authorityType">AuthorityType</th>
                    <th translate="stepApp.erpAuthorityFlow.actorName">ActorName</th>
                    <th translate="stepApp.erpAuthorityFlow.activeStatus">ActiveStatus</th>
                    <th translate="stepApp.erpAuthorityFlow.createDate">CreateDate</th>
                    <th translate="stepApp.erpAuthorityFlow.createBy">CreateBy</th>
                    <th translate="stepApp.erpAuthorityFlow.updateDate">UpdateDate</th>
                    <th translate="stepApp.erpAuthorityFlow.updateBy">UpdateBy</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="erpAuthorityFlow in erpAuthorityFlows track by erpAuthorityFlow.id">
                    <td><a ui-sref="erpAuthorityFlow.detail({id:erpAuthorityFlow.id})">{{erpAuthorityFlow.id}}</a></td>
                    <td>{{erpAuthorityFlow.authorityCategory}}</td>
                    <td>{{erpAuthorityFlow.authorityType}}</td>
                    <td>{{erpAuthorityFlow.actorName}}</td>
                    <td>{{erpAuthorityFlow.activeStatus}}</td>
                        <td>{{erpAuthorityFlow.createDate | date:'mediumDate'}}</td>
                    <td>{{erpAuthorityFlow.createBy}}</td>
                        <td>{{erpAuthorityFlow.updateDate | date:'mediumDate'}}</td>
                    <td>{{erpAuthorityFlow.updateBy}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="erpAuthorityFlow.detail({id:erpAuthorityFlow.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="erpAuthorityFlow.edit({id:erpAuthorityFlow.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(erpAuthorityFlow.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
