
<div>
    <h2><span translate="stepApp.umracRightsSetup.detail.title">UmracRightsSetup</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsSetup.rightId">RightId</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsSetup.rightId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsSetup.roleId">RoleId</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsSetup.roleId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsSetup.module_id">Module_id</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsSetup.module_id}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsSetup.subModule_id">SubModule_id</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsSetup.subModule_id}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsSetup.rights">Rights</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsSetup.rights}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsSetup.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsSetup.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsSetup.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsSetup.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsSetup.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsSetup.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsSetup.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsSetup.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsSetup.updatedBy">UpdatedBy</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsSetup.updatedBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsSetup.updatedTime">UpdatedTime</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsSetup.updatedTime | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
