<div class="col-sm-12 no_padding common-list">
    <h2 translate="stepApp.hrEmployeeInfo.home.title">HrEmployeeInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right " has-any-authority ="ROLE_HRM_ADMIN,ROLE_ADMIN">
            <button class="btn btn-primary" ui-sref="hrEmployeeInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.hrEmployeeInfo.home.createLabel">Create a new HrEmployeeInfo</span>
            </button>
        </div>
    </div>
    <!--<jh-alert></jh-alert>-->
    <!--<div class="col-sm-12 no_padding common-head-sec no-print">
        <div class="col-md-8 col-xs-12 no_padding">
            <div class="col-md-6 no_padding">
                <b>&lt;!&ndash;{{ (hrEmployeeInfos | filter:q).length }}&ndash;&gt; <span translate="global.home.searchhere">Search Here:</span></b>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                </div>
            </div>
            <div class="col-md-6 no_padding">
                <b><span translate="global.home.itemperpage">Items per page:</span></b>
                <div class="input-group col-sm-4">
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
            </div>
        </div>
        <div class="col-md-4 text-right no_padding dlbtn-top">
            <button class="btn btn-primary" ui-sref="hrEmployeeInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.hrEmployeeInfo.home.createLabel">Create a new HrEmployeeInfo</span>
            </button>
        </div>

    </div>-->

    <div class="col-sm-12 no_padding table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th><span translate="global.form.serial">Serial No</span></th>
                <th><span translate="stepApp.hrEmployeeInfo.employeeId">employeeId</span></th>
                <th><span translate="stepApp.hrEmployeeInfo.fullName">FullName</span></th>
                <th><span translate="stepApp.hrEmployeeInfo.designationInfo">designationInfo</span></th>
                <th>
                  <span translate="stepApp.hrEmployeeInfo.workAreaDtl">workAreaDtl</span>/
                  <span translate="stepApp.hrEmployeeInfo.institute">institute</span>
                </th>
                <th><span translate="stepApp.hrEmployeeInfo.birthDate">BirthDate</span></th>
                <th><span translate="stepApp.hrEmployeeInfo.mobileNumber">MobileNumber</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrEmployeeInfo in hrEmployeeInfos | filter:q | itemsPerPage: pageSize track by hrEmployeeInfo.id"
                current-page="currentPage">
                <td><a ui-sref="hrEmployeeInfo.detail({id:hrEmployeeInfo.id})">{{pageSize * (currentPage-1)+$index+1}}</a></td>
                <td>{{hrEmployeeInfo.employeeId}}</td>
                <td>{{hrEmployeeInfo.fullName}}</td>
                <td>{{hrEmployeeInfo.designationInfo.designationInfo.designationName}}</td>
                <td>{{hrEmployeeInfo.organizationType=='Organization' ? hrEmployeeInfo.workAreaDtl.name: hrEmployeeInfo.institute.name}}</td>
                <td>{{hrEmployeeInfo.birthDate | date:'mediumDate'}}</td>
                <td>{{hrEmployeeInfo.mobileNumber}}</td>
                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="hrEmployeeInfo.detail({id:hrEmployeeInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit" has-any-authority ="ROLE_HRM_ADMIN,ROLE_ADMIN"
                            ui-sref="hrEmployeeInfo.edit({id:hrEmployeeInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrEmployeeInfo.delete({id:hrEmployeeInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
