<!---==HRM EMPLOYEE INFO===--->

<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-heading" >
             <h4 class="modal-title" id="myHrEmployeeInfoLabel" translate="stepApp.hrEmployeeInfo.home.editLabel">Edit HrEmployeeInfo</h4>
        </div>
        <div class="panel-body bg-panel">
              <form  class="form-horizontal " name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                  <!--
                  <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                      <div class="form-group">
                          <label class="control-label" translate="stepApp.hrEmployeeInfo.organizationType" for="field_organizationType">organizationType</label>
                          <div class="input-margin">
                              <select class="form-control" id="field_organizationType" name="organizationType" ng-model="hrEmployeeInfo.organizationType" required>
                                  <option value="">Select Organization Type</option>
                                  <option value="Organization">Organization</option>
                                  <option value="Institute">Institute</option>
                              </select>
                          </div>
                      </div>
                  </div> -->

                      <div class="col-md-6 col-sm-12 col-xs-12" ng-show="(hrEmployeeInfo.organizationType=='Organization')">
                          <div class="form-group">
                              <label class="control-label" translate="stepApp.hrEmployeeInfo.workArea" for="field_workArea">org cat</label>
                              <div class="input-margin">
                                  <select class="form-control" id="field_workArea" name="workArea" ng-model="hrEmployeeInfo.workArea"
                                          ng-change="loadWorkAreaDetailByWork(hrEmployeeInfo.workArea)"
                                          ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id" >
                                      <option selected disabled value="">-- Select --</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-12 col-xs-12" ng-show="(hrEmployeeInfo.organizationType=='Organization')">
                          <div class="form-group">
                              <label class="control-label" translate="stepApp.hrEmployeeInfo.workAreaDtl" for="field_workAreaDtl">org name</label>
                              <div class="input-margin">
                                  <select class="form-control" id="field_workAreaDtl" name="workAreaDtl" ng-model="hrEmployeeInfo.workAreaDtl"
                                          ng-change="loadDesigDeptByOrganization(hrEmployeeInfo.workAreaDtl)"
                                          ng-options="HrEmpWorkAreaDtlInfo as HrEmpWorkAreaDtlInfo.name for HrEmpWorkAreaDtlInfo in workAreaDtlListFiltr track by HrEmpWorkAreaDtlInfo.id" >
                                      <option selected disabled value="">-- Select --</option>
                                  </select>
                              </div>
                          </div>
                      </div>



                      <div class="col-md-6 col-sm-12 col-xs-12" ng-show="(hrEmployeeInfo.organizationType=='Institute')">
                          <div class="form-group">
                              <label class="control-label" translate="stepApp.hrEmployeeInfo.instCategory" for="field_instCategory">instCategory</label>
                              <div class="input-margin">
                                  <select class="form-control" id="field_instCategory" name="instCategory" ng-model="hrEmployeeInfo.instCategory"
                                          ng-change="loadInstituteByCategory(hrEmployeeInfo.instCategory)"
                                          ng-options="InstCategory as InstCategory.name for InstCategory in instCategoryList track by InstCategory.id" >
                                      <option selected disabled value="">-- Select --</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-12 col-xs-12" ng-show="(hrEmployeeInfo.organizationType=='Institute')">
                          <div class="form-group">
                              <label class="control-label" translate="stepApp.hrEmployeeInfo.institute" for="field_institute">institute</label>
                              <div class="input-margin">
                                  <select class="form-control" id="field_institute" name="institute" ng-model="hrEmployeeInfo.institute"
                                          ng-change="loadDesigDeptByInstitute(hrEmployeeInfo.institute)"
                                          ng-options="Institute as Institute.name for Institute in instituteList track by Institute.id" >
                                      <option selected disabled value="">-- Select --</option>
                                  </select>
                              </div>
                          </div>
                      </div>

                  <div class="col-md-12 no_padding">
                      <div class="border_line" style="height: 2px; background: #fff; width: 100%;"></div>
                  </div>

                <div class=" col-md-6 col-sm-12 col-xs-12 ">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrEmployeeInfo.departmentInfo" for="field_departmentInfo">departmentInfo</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_departmentInfo" name="departmentInfo" ng-model="hrEmployeeInfo.departmentInfo"
                                    ng-options="HrDepartmentSetup as HrDepartmentSetup.departmentInfo.departmentName for HrDepartmentSetup in hrdepartmentsetupsFltr track by HrDepartmentSetup.id" required>
                                <option selected disabled value="">-- Select --</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrEmployeeInfo.designationInfo" for="field_designationInfo">designationInfo</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_designationInfo" name="designationInfo"
                                    ng-model="hrEmployeeInfo.designationInfo" ng-change="checkDesignationLimit(hrEmployeeInfo.designationInfo)"
                                    ng-options="HrDesignationSetup as HrDesignationSetup.designationInfo.designationName for HrDesignationSetup in hrDesigSetupListFltr track by HrDesignationSetup.id" required>
                                <option selected disabled value="">-- Select --</option>
                            </select>
                            <span ng-hide="employeeDesigLimitAllowed">
                                Designation limit exceded, already added {{noOfTotalEmployeeInDesig}} out of {{noOfEmployeeInDesig}}
                            </span>
                            <span ng-show="employeeDesigLimitAllowed && hrEmployeeInfo.designationInfo">
                                Already added {{noOfTotalEmployeeInDesig}} out of {{noOfEmployeeInDesig}}
                            </span>
                        </div>
                    </div>
                </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                      <label class="control-label" translate="stepApp.hrEmployeeInfo.employeeType" for="field_employeeType">EmployeeType</label>
                      <div class="input-margin">
                          <select class="form-control" name="employeeType" ng-model="hrEmployeeInfo.employeeType" id="field_employeeType">
                              <option selected disabled value="">-- Select --</option>
                              <option value="DTE_Employee" translate="stepApp.designationType.DTE_Employee">DTE_Employee</option>
                              <option value="Teacher" translate="stepApp.designationType.Teacher">Teacher</option>
                              <option value="Staff" translate="stepApp.designationType.Staff">Staff</option>
                          </select>
                      </div>
                  </div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                      <label class="control-label" translate="stepApp.hrEmployeeInfo.encadrement" for="field_encadrement">encadrement</label>
                      <div class="input-margin">
                          <select class="form-control" id="field_encadrement" name="encadrement" ng-model="hrEmployeeInfo.encadrement"
                                  ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in encadrementList track by MiscTypeSetup.id" required>
                              <option selected disabled value="">-- Select --</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div ng-show="(hrEmployeeInfo.encadrement.typeName=='Cadre')" class=" col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group" >
                      <label class="control-label" translate="stepApp.hrEmployeeInfo.presentId" for="field_presentId">PresentId</label>
                      <div class="input-margin">
                          <input type="text" class="form-control" name="presentId" id="field_presentId"
                                 ng-model="hrEmployeeInfo.presentId" ng-required='(hrEmployeeInfo.encadrement.typeName=="Cadre")'/>
                      </div>
                  </div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                      <label class="control-label" translate="stepApp.hrEmployeeInfo.district" for="field_district">District</label>
                      <div class="input-margin">
                          <select class="form-control" id="field_district" name="district" ng-model="hrEmployeeInfo.district"
                                  ng-options="District as District.name for District in districtList track by District.id" required>
                              <option selected disabled value="">-- Select --</option>
                          </select>
                      </div>
                  </div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                      <label class="control-label" translate="stepApp.hrEmployeeInfo.employementType" for="field_employementType">employementType</label>
                      <div class="input-margin">
                          <select class="form-control" id="field_employementType" name="employementType" ng-model="hrEmployeeInfo.employementType" ng-options="HrEmplTypeInfo as HrEmplTypeInfo.typeName for HrEmplTypeInfo in employementTypeList track by HrEmplTypeInfo.id">
                              <option selected disabled value="">-- Select --</option>
                          </select>
                      </div>
                  </div>
              </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label"translate="stepApp.hrEmployeeInfo.fullName" for="field_fullName">FullName</label>
                        <div class="input-margin">
                            <input type="text" class="form-control" name="fullName" id="field_fullName"
                                   ng-model="hrEmployeeInfo.fullName"
                                   required ng-maxlength="100" />
                            <div ng-show="editForm.fullName.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.fullName.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.fullName.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                                    This field cannot be longer than 100 characters.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group" >
                          <label class="control-label" translate="stepApp.hrEmployeeInfo.nationalId" for="field_nationalId">NationalId</label>
                          <div class="input-margin">
                              <input type="text" class="form-control" name="nationalId" id="field_nationalId"
                                     ng-model="hrEmployeeInfo.nationalId"
                                     ng-remote-validate="/api/hrEmployeeInfos/checknid/"
                                     ng-remote-method="GET"
                                     ng-remote-throttle="500"
                                     ng-minlength="10"
                                     ng-maxlength="17"
                                     minlength="10" maxlength="17"  required only-numbers/>
                              <div ng-show="editForm.nationalId.$invalid">
                                  <p class="help-block"
                                     ng-show="editForm.nationalId.$error.ngRemoteValidate">
                                      National ID already exists
                                  </p>
                                  <p class="help-block"
                                     ng-show="editForm.nationalId.$error.minlength" translate="entity.validation.minlength" translate-value-min="17">
                                      National ID will be in 17 character length.
                                  </p>
                                  <p class="help-block"
                                     ng-show="editForm.nationalId.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="17">
                                      National ID will be in 17 character length.
                                  </p>
                              </div>

                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                          <label class="control-label" translate="stepApp.hrEmployeeInfo.mobileNumber" for="field_mobileNumber">MobileNumber</label>
                          <div class="input-margin">
                              <input type="text" class="form-control" name="mobileNumber" id="field_mobileNumber"
                                     ng-model="hrEmployeeInfo.mobileNumber"
                                     ng-minlength="11" ng-maxlength="18" required numeric-only-mobile />
                              <div ng-show="editForm.mobileNumber.$invalid">
                                  <p class="help-block"
                                     ng-show="editForm.mobileNumber.$error.required" translate="entity.validation.required">
                                      This field is required.
                                  </p>
                                  <p class="help-block"
                                     ng-show="editForm.mobileNumber.$error.minlength" translate="entity.validation.minlength" translate-value-min="11">
                                      This field is required to be at least 11 characters.
                                  </p>
                                  <p class="help-block"
                                     ng-show="editForm.mobileNumber.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="18">
                                      This field cannot be longer than 18 characters.
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                          <label class="control-label"  translate="stepApp.hrEmployeeInfo.birthDate" for="field_birthDate">BirthDate</label>
                          <div class="input-margin">
                              <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.birthDate"
                                     datepicker-options="calendar.dateOptions" close-text="Close"
                                     ng-click="calendar.open($event, 'birthDate')" class="form-control" name="birthDate" id="field_birthDate"
                                     ng-model="hrEmployeeInfo.birthDate" ng-change="updatePrlDate()"
                                     required />
                              <div ng-show="editForm.birthDate.$invalid">
                                  <p class="help-block"
                                     ng-show="editForm.birthDate.$error.required" translate="entity.validation.required">
                                      This field is required.
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                          <div class="input-margin">
                              <label class="control-label" translate="stepApp.hrEmployeeInfo.quota" for="field_quota">Quota</label>
                              <select class="form-control" name="quota" ng-model="hrEmployeeInfo.quota" id="field_quota"
                                      ng-change="updatePrlDate()" required>
                                  <option value="">Select Quota</option>
                                  <option value="FreedomFighter" translate="stepApp.jobQuota.FreedomFighter">
                                      FreedomFighter
                                  </option>
                                  <!-- <option value="ChileOfFreedomFighter"
                                          translate="stepApp.jobQuota.ChildOfFreedomFighter">ChileOfFreedomFighter
                                  </option>
                                  <option value="GrandChildOfFreedomFighter"
                                          translate="stepApp.jobQuota.GrandChildOfFreedomFighter">
                                      GrandChildOfFreedomFighter
                                  </option>
                                  <option value="Tribal" translate="stepApp.jobQuota.Tribal">Tribal</option> -->
                                  <option value="Others" translate="stepApp.jobQuota.Others">Others</option>
                              </select>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                          <label class="control-label" translate="stepApp.hrEmployeeInfo.fatherNameBn" for="field_fatherNameBn">FatherNameBn</label>
                          <div class="input-margin">
                              <input type="text" ng-model="hrEmployeeInfo.fatherNameBn" name="fatherNameBn" id="field_fatherNameBn" class="form-control"/>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                          <label class="control-label" translate="stepApp.hrEmployeeInfo.motherNameBn" for="field_motherNameBn">MotherNameBn</label>
                          <div class="input-margin">
                              <input type="text" class="form-control" ng-model="hrEmployeeInfo.motherNameBn" name="motherNameBn" id="field_motherNameBn"/>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                          <label class="control-label" translate="stepApp.hrEmployeeInfo.birthPlace" for="field_birthPlace">BirthPlace</label>
                          <div class="input-margin">
                              <input type="text" class="form-control" ng-model="hrEmployeeInfo.birthPlace" name="birthPlace" id="field_birthPlace"/>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                          <label class="control-label" translate="stepApp.hrEmployeeInfo.anyDisease" for="field_anyDisease">AnyDisease</label>
                          <div class="input-margin">
                              <input type="text" class="form-control" ng-model="hrEmployeeInfo.anyDisease" name="anyDisease" id="field_anyDisease"/>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                          <label class="control-label" translate="stepApp.hrEmployeeInfo.tinNumber" for="field_tinNumber">TinNumber</label>
                          <div class="input-margin">
                              <input type="text" class="form-control" name="tinNumber" id="field_tinNumber" ng-model="hrEmployeeInfo.tinNumber"/>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                          <label class="control-label" translate="stepApp.hrEmployeeInfo.maritalStatus" for="field_maritalStatus">MaritalStatus</label>
                          <div class="input-margin">
                              <select class="form-control" name="maritalStatus" ng-model="hrEmployeeInfo.maritalStatus"
                                      id="field_maritalStatus">
                                  <option value="Single" translate="stepApp.maritalStatus.Single">Single</option>
                                  <option value="Married" translate="stepApp.maritalStatus.Married">Married</option>
                                  <option value="Widower" translate="stepApp.maritalStatus.Widower">Widower</option>
                                  <option value="Widow" translate="stepApp.maritalStatus.Widow">Widow</option>
                              </select>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                          <label class="control-label" translate="stepApp.hrEmployeeInfo.bloodGroup" for="field_bloodGroup">BloodGroup</label>
                          <div class="input-margin">
                              <select ng-show="!hrEmployeeInfo.viewMode" class="form-control" name="bloodGroup"
                                      ng-model="hrEmployeeInfo.bloodGroup" id="field_bloodGroup">
                                  <option value="A_POSITIVE" translate="stepApp.bloodGroup.A_POSITIVE">A_POSITIVE</option>
                                  <option value="A_NEGATIVE" translate="stepApp.bloodGroup.A_NEGATIVE">A_NEGATIVE</option>
                                  <option value="B_POSITIVE" translate="stepApp.bloodGroup.B_POSITIVE">B_POSITIVE</option>
                                  <option value="B_NEGATIVE" translate="stepApp.bloodGroup.B_NEGATIVE">B_NEGATIVE</option>
                                  <option value="O_POSITIVE" translate="stepApp.bloodGroup.O_POSITIVE">O_POSITIVE</option>
                                  <option value="O_NEGATIVE" translate="stepApp.bloodGroup.O_NEGATIVE">O_NEGATIVE</option>
                                  <option value="AB_POSITIVE" translate="stepApp.bloodGroup.AB_POSITIVE">AB_POSITIVE
                                  </option>
                                  <option value="AB_NEGATIVE" translate="stepApp.bloodGroup.AB_NEGATIVE">AB_NEGATIVE
                                  </option>
                              </select>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                          <label class="control-label" translate="stepApp.hrEmployeeInfo.nationality" for="field_nationality">Nationality</label>
                          <input type="text"  ng-model="hrEmployeeInfo.nationality" class="form-control" name="nationality" id="field_nationality"
                                 required/>
                          <div ng-show="editForm.nationality.$invalid">
                              <p class="help-block"
                                 ng-show="editForm.nationality.$error.required"
                                 translate="entity.validation.required">
                                  This field is required.
                              </p>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                          <label class="control-label" translate="stepApp.hrEmployeeInfo.apointmentGoDate" for="field_apointmentGoDate">ApointmentGoDate</label>
                          <div class="input-margin">
                              <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.apointmentGoDate"
                                     datepicker-options="calendar.dateOptions" close-text="Close"  min-date="hrEmployeeInfo.birthDate"
                                     ng-click="calendar.open($event, 'apointmentGoDate')" class="form-control" name="apointmentGoDate" id="field_apointmentGoDate"
                                     ng-model="hrEmployeeInfo.apointmentGoDate"
                                     required />
                              <div ng-show="editForm.apointmentGoDate.$invalid">
                                  <p class="help-block"
                                     ng-show="editForm.apointmentGoDate.$error.required" translate="entity.validation.required">
                                      This field is required.
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                          <label class="control-label" translate="stepApp.hrEmployeeInfo.dateOfJoining" for="field_dateOfJoining">dateOfJoining</label>
                          <div class="input-margin">
                              <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.dateOfJoining"
                                     datepicker-options="calendar.dateOptions" close-text="Close" min-date="hrEmployeeInfo.apointmentGoDate"
                                     ng-click="calendar.open($event, 'dateOfJoining')" class="form-control" name="dateOfJoining" id="field_dateOfJoining"
                                     ng-model="hrEmployeeInfo.dateOfJoining"
                                     required />
                              <div ng-show="editForm.dateOfJoining.$invalid">
                                  <p class="help-block"
                                     ng-show="editForm.dateOfJoining.$error.required" translate="entity.validation.required">
                                      This field is required.
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group" style="padding: 0px 10px">
                          <label class="control-label" translate="stepApp.hrEmployeeInfo.prlDate">prlDate</label>
                          <span class="form-control">{{hrEmployeeInfo.prlDate | date:'mediumDate'}}</span>
                      </div>
                  </div>

                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group" style="padding: 0px 10px">
                          <label class="control-label" translate="stepApp.hrEmployeeInfo.retirementDate">retirementDate</label>
                          <span class="form-control">{{hrEmployeeInfo.retirementDate | date:'mediumDate'}}</span>
                      </div>
                  </div>

                  <div class="row hrm-view">
                      <div class="form-group col-sm-6" ngf-drop ngf-change="setEmpPhoto($file, hrEmployeeInfo)">
                          <label class="control-label" translate="stepApp.hrEmployeeInfo.empPhoto" for="field_empPhoto">EmpPhoto</label>

                          <div  class="input-margin">
                              <div class="help-block clearfix">
                                  <span class="pull-left">&nbsp; : &nbsp;{{hrEmployeeInfo.empPhotoContentType}} {{byteSize(hrEmployeeInfo.empPhoto)}}</span>
                                  <button ng-click="hrEmployeeInfo.empPhoto=null;hrEmployeeInfo.empPhotoContentType=null;"
                                          ng-if="hrEmployeeInfo.empPhoto"
                                          class="btn btn-default btn-xs pull-right">
                                      <span class="glyphicon glyphicon-remove"></span>
                                  </button>
                              </div>
                              <button type="file" ngf-select class="btn btn-default btn-block"
                                      ngf-change="setEmpPhoto($file, hrEmployeeInfo)" translate="entity.action.addblob">
                                  Add blob
                              </button>
                              <input type="hidden" class="form-control" name="empPhoto" id="field_empPhoto"
                                     ng-model="hrEmployeeInfo.empPhoto"/>
                              <input type="hidden" class="form-control" name="empPhotoContentType"
                                     id="field_empPhotoContentType"
                                     ng-model="hrEmployeeInfo.empPhotoContentType"/>
                          </div>
                          <a ng-if="hrEmployeeInfo.empPhotoContentType" class="btn btn-link"
                             ng-click="previewEmpPhoto(hrEmployeeInfo)">View</a>
                      </div>

                      <div class="form-group col-sm-6" ng-show="(hrEmployeeInfo.quota!='Others')" ngf-drop ngf-change="setQuotaCertDoc($file, hrEmployeeInfo)">
                          <label class="control-label" translate="stepApp.hrEmployeeInfo.quotaCert" for="field_quotaCert">quotaCert</label>

                          <div class="input-margin">
                              <div class="help-block clearfix">
                                  <span class="pull-left">&nbsp; : &nbsp;{{hrEmployeeInfo.quotaCertContentType}} {{byteSize(hrEmployeeInfo.quotaCert)}}</span>
                                  <button ng-click="hrEmployeeInfo.quotaCert=null;hrEmployeeInfo.quotaCertContentType=null;"
                                          ng-if="hrEmployeeInfo.quotaCert"
                                          class="btn btn-default btn-xs pull-right">
                                      <span class="glyphicon glyphicon-remove"></span>
                                  </button>
                              </div>
                              <button type="file" ngf-select class="btn btn-default btn-block"
                                      ngf-change="setQuotaCertDoc($file, hrEmployeeInfo)" translate="entity.action.addblob">
                                  Add blob
                              </button>
                              <input type="hidden" class="form-control" name="quotaCert" id="field_quotaCert"
                                     ng-model="hrEmployeeInfo.quotaCert"/>
                              <input type="hidden" class="form-control" name="quotaCertContentType"
                                     id="field_quotaCertContentType"
                                     ng-model="hrEmployeeInfo.quotaCertContentType"/>
                          </div>
                          <a ng-if="hrEmployeeInfo.quotaCertContentType" class="btn btn-link"
                             ng-click="previewQuotaCertDoc(hrEmployeeInfo)">View</a>
                      </div>
                  </div>


                <div class="col-md-12">
                    <div class="form-group">

                        <div class="text-right">
                            <button type="button" class="btn btn-default"  data-dismiss="modal" onclick="window.history.back()">
                                <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;<span translate="entity.action.back">Back</span>
                            </button>

                            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;<span translate="entity.action.update">Update</span>
                            </button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
