<div class="col-md-12 common-table">
    <h2><span translate="stepApp.hrEmployeeInfo.detail.title">HrEmployeeInfo</span> - {{hrEmployeeInfo.fullName}} {{hrEmployeeInfo.employeeId}}</h2>
        <div class="padding-tb">
            <table class="table table-striped table-responsive">
            <!--<thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>-->
            <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.fullName">FullName</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.fullName}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.fullNameBn">FullNameBn</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.fullNameBn}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.employeeId">employeeId</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.employeeId}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.departmentInfo">departmentInfo</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="hrDepartmentSetup.detail({id:hrEmployeeInfo.departmentInfo.id})">{{hrEmployeeInfo.departmentInfo.departmentInfo.departmentName}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.district">district</span>
                    </td>
                    <td>
                        <a class="form-control-static">{{hrEmployeeInfo.district.name}}</a>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.designationInfo">designationInfo</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="hrDesignationSetup.detail({id:hrEmployeeInfo.designationInfo.id})">{{hrEmployeeInfo.designationInfo.designationInfo.designationName}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.user">user</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="user-management-detail({login:hrEmployeeInfo.user.login})">{{hrEmployeeInfo.user.login}}</a>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.organizationType">organizationType</span>
                    </td>
                    <td>
                        <span class="form-control-static" >{{hrEmployeeInfo.organizationType}}</span>
                    </td>
                </tr>

                <tr ng-show="(hrEmployeeInfo.organizationType=='Organization')">
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.workArea">workArea</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="miscTypeSetup.detail({id:hrEmployeeInfo.workArea.id})">{{hrEmployeeInfo.workArea.typeName}}</a>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr ng-show="(hrEmployeeInfo.organizationType=='Organization')">
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.workAreaDtl">workAreaDtl</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="hrEmpWorkAreaDtlInfo.detail({id:hrEmployeeInfo.workAreaDtl.id})">{{hrEmployeeInfo.workAreaDtl.name}}</a>
                    </td>
                    <td></td>
                    <td></td>
                </tr>

                <tr  ng-show="(hrEmployeeInfo.organizationType=='Institute')">
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.instCategory">instCategory</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.instCategory.name}}</span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr  ng-show="(hrEmployeeInfo.organizationType=='Institute')">
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.institute">institute</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.institute.name}}</span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.gradeInfo">gradeInfo</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="hrGradeSetup.detail({id:hrEmployeeInfo.gradeInfo.id})">{{hrEmployeeInfo.gradeInfo.gradeCode}}</a>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.employementType">employementType</span>
                    </td>
                    <td>
                        <a class="form-control-static" >{{hrEmployeeInfo.employementType.typeName}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.fatherName">FatherName</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.fatherName}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.fatherNameBn">FatherNameBn</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.fatherNameBn}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.motherName">MotherName</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.motherName}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.motherNameBn">MotherNameBn</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.motherNameBn}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.birthDate">BirthDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.birthDate | date:'mediumDate'}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.dateOfJoining">dateOfJoining</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.dateOfJoining | date:'mediumDate'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.prlDate">prlDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.prlDate | date:'mediumDate'}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.retirementDate">retirementDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.retirementDate | date:'mediumDate'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.lastWorkingDay">lastWorkingDay</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.lastWorkingDay | date:'mediumDate'}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.apointmentGoDate">ApointmentGoDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.apointmentGoDate | date:'mediumDate'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.presentId">PresentId</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.presentId}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.nationalId">NationalId</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.nationalId}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.emailAddress">EmailAddress</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.emailAddress}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.mobileNumber">MobileNumber</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.mobileNumber}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.gender">Gender</span>
                    </td>
                    <td>
                        <span class="form-control-static" translate="{{'stepApp.gender.' + hrEmployeeInfo.gender}}">{{hrEmployeeInfo.gender}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.birthPlace">BirthPlace</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.birthPlace}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.anyDisease">AnyDisease</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.anyDisease}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.officerStuff">OfficerStuff</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.officerStuff}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.tinNumber">TinNumber</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.tinNumber}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.maritalStatus">MaritalStatus</span>
                    </td>
                    <td>
                        <span class="form-control-static" translate="{{'stepApp.maritalStatus.' + hrEmployeeInfo.maritalStatus}}">{{hrEmployeeInfo.maritalStatus}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.bloodGroup">BloodGroup</span>
                    </td>
                    <td>
                        <span class="form-control-static" translate="{{'stepApp.bloodGroup.' + hrEmployeeInfo.bloodGroup}}">{{hrEmployeeInfo.bloodGroup}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.nationality">Nationality</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.nationality}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.quota">Quota</span>
                    </td>
                    <td>
                        <span class="form-control-static" translate="{{'stepApp.jobQuota.' + hrEmployeeInfo.quota}}">{{hrEmployeeInfo.quota}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.birthCertificateNo">BirthCertificateNo</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.birthCertificateNo}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.religion">Religion</span>
                    </td>
                    <td>
                        <span class="form-control-static" translate="{{'stepApp.Religions.' + hrEmployeeInfo.religion}}">{{hrEmployeeInfo.religion}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.activeAccount">activeAccount</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.activeAccount ? 'Active' : 'Inactive'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.activeStatus">ActiveStatus</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.createDate">CreateDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.createDate | date:'mediumDate'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmployeeInfo.updateDate">UpdateDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmployeeInfo.updateDate | date:'mediumDate'}}</span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="col-sm-12 text-right back-button">
        <button type="submit"
                onclick="window.history.back()"
                class="btn btn-info no-print">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
        </button>
    </div>
</div>
