<div>
    <form name="editForm" role="form" novalidate show-validation>
        <div class="panel-group">
            <div class="panel-body bg-panel">
                <div class="row panel-heading no_padding">
                    <div class="col-sm-12 no_padding text-right">
                        <button ng-hide="noEmployeeFound || hrEmployeeInfo.isLocked"
                                ng-if="!(hrEmployeeInfo.logStatus == 11 || hrEmployeeInfo.logStatus == 33)"
                                type="button"
                                ng-click="changeProfileMode(hrEmployeeInfo)"
                                class="btn btn-primary btn-sm">{{hrEmployeeInfo.viewModeText}}
                        </button>
                        <span ng-show="hrEmployeeInfo.isLocked"
                              class="alert alert-warning approve-alert su_allert"><span
                            translate="stepApp.hrmHome.recordLocked">Pending</span></span>
                        <span ng-if="(hrNomineeInfo.logStatus == 22 || hrNomineeInfo.logStatus == 44)">
                            <span class="alert alert-warning"
                                  translate="stepApp.hrmHome.requestRejected">Rejected</span>
                        </span>
                    </div>
                </div>
                <div class="row hrm-view">
                    <div class="col-sm-12 text-right"
                         ng-if="(hrEmployeeInfo.logStatus == 22 || hrEmployeeInfo.logStatus == 44)">
                        <span class="alert-warning">
                            <span class="control-label" translate="stepApp.hrmHome.rejectionReason">Reason</span>: &nbsp; : &nbsp;{{hrEmployeeInfo.logComments}}
                        </span>
                    </div>
                    <div class="col-sm-12 text-right"
                         ng-if="(hrEmployeeInfo.logStatus == 11 || hrEmployeeInfo.logStatus == 33)">
                        <span class="alert-warning" ng-if="hrEmployeeInfo.logStatus == 11">
                            <span class="control-label" translate="stepApp.hrmHome.messages.waitingForDeptHeadApproval">Waiting @ Department Head Approval</span>
                        </span>
                        <span class="alert-warning" ng-if="hrEmployeeInfo.logStatus == 33">
                            <span class="control-label" translate="stepApp.hrmHome.messages.waitingForInstHeadApproval">Waiting @ Institute Head Approval</span>
                        </span>
                    </div>
                </div>
                <div class="row" ng-show="hrEmployeeInfo.viewMode">
                    <div class="col-md-12 table-responsive padding0">
                        <table class="table dtetables">
                            <tbody>
                            <tr>
                                <td><strong translate="stepApp.hrEmployeeInfo.departmentInfo"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.departmentInfo.departmentInfo.departmentName}}</td>
                                <td><strong translate="stepApp.hrEmployeeInfo.designationInfo"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.designationInfo.designationInfo.designationName}}
                                </td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrEmployeeInfo.employeeId"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.employeeId}}</td>
                                <td><strong translate="stepApp.hrEmployeeInfo.quota"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.quota}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrEmployeeInfo.organizationType"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.organizationType}}</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr ng-show="(hrEmployeeInfo.organizationType=='Organization')">
                                <td><strong translate="stepApp.hrEmployeeInfo.workArea"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.workArea.typeName}}</td>
                                <td><strong translate="stepApp.hrEmployeeInfo.workAreaDtl"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.workAreaDtl.name}}</td>
                            </tr>
                            <tr ng-show="(hrEmployeeInfo.organizationType=='Institute')">
                                <td><strong translate="stepApp.hrEmployeeInfo.instCategory"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.instCategory.name}}</td>
                                <td><strong translate="stepApp.hrEmployeeInfo.institute"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.institute.name}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrEmployeeInfo.employeeType"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.employeeType}}</td>
                                <td><strong translate="stepApp.hrEmployeeInfo.employementType"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.employementType.typeName}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrEmployeeInfo.birthDate"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.birthDate | date:'mediumDate'}}</td>
                                <td><strong translate="stepApp.hrEmployeeInfo.dateOfJoining"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.dateOfJoining | date:'mediumDate'}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrEmployeeInfo.prlDate"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.prlDate | date:'mediumDate'}}</td>
                                <td><strong translate="stepApp.hrEmployeeInfo.retirementDate"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.retirementDate | date:'mediumDate'}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrEmployeeInfo.lastWorkingDay"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.lastWorkingDay | date:'mediumDate'}}</td>
                                <td><strong translate="stepApp.hrEmployeeInfo.apointmentGoDate"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.apointmentGoDate | date:'mediumDate'}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrEmployeeInfo.gradeInfo"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.designationInfo.gradeInfo.gradeCode}}</td>
                                <td><strong translate="stepApp.hrEmployeeInfo.encadrement"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.encadrement.typeName}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrEmployeeInfo.fullName"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.fullName}}</td>
                                <td><strong translate="stepApp.hrEmployeeInfo.mobileNumber"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.mobileNumber}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrEmployeeInfo.fatherName"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.fatherName}}</td>
                                <td><strong translate="stepApp.hrEmployeeInfo.motherName"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.motherName}}</td>
                            </tr>
                            <tr>
                                <td ng-show="(hrEmployeeInfo.encadrement.typeName=='Cadre')"><strong
                                    translate="stepApp.hrEmployeeInfo.presentId"></strong></td>
                                <td ng-show="(hrEmployeeInfo.encadrement.typeName=='Cadre')">&nbsp; : &nbsp;{{hrEmployeeInfo.presentId}}</td>
                                <td><strong translate="stepApp.hrEmployeeInfo.nationalId"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.nationalId}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrEmployeeInfo.emailAddress"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.emailAddress}}</td>
                                <td><strong translate="stepApp.hrEmployeeInfo.fullNameBn"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.fullNameBn}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrEmployeeInfo.fatherNameBn"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.fatherNameBn}}</td>
                                <td><strong translate="stepApp.hrEmployeeInfo.motherNameBn"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.motherNameBn}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrEmployeeInfo.gender"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.gender}}</td>
                                <td><strong translate="stepApp.hrEmployeeInfo.birthPlace"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.birthPlace}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrEmployeeInfo.anyDisease"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.anyDisease}}</td>
                                <td><strong translate="stepApp.hrEmployeeInfo.officerStuff"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.officerStuff}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrEmployeeInfo.tinNumber"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.tinNumber}}</td>
                                <td><strong translate="stepApp.hrEmployeeInfo.maritalStatus"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.maritalStatus}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrEmployeeInfo.bloodGroup"></strong></td>
                                <td>&nbsp; : &nbsp;
                                    <span ng-if="hrEmployeeInfo.bloodGroup == 'A_POSITIVE'">(A+)</span>
                                    <span ng-if="hrEmployeeInfo.bloodGroup == 'A_NEGATIVE'">(A-)</span>
                                    <span ng-if="hrEmployeeInfo.bloodGroup == 'B_POSITIVE'">(B+)</span>
                                    <span ng-if="hrEmployeeInfo.bloodGroup == 'B_NEGATIVE'">(B-)</span>
                                    <span ng-if="hrEmployeeInfo.bloodGroup == 'O_POSITIVE'">(O+)</span>
                                    <span ng-if="hrEmployeeInfo.bloodGroup == 'O_NEGATIVE'">(O-)</span>
                                    <span ng-if="hrEmployeeInfo.bloodGroup == 'AB_POSITIVE'">(AB+)</span>
                                    <span ng-if="hrEmployeeInfo.bloodGroup == 'AB_NEGATIVE'">(AB-)</span>
                                </td>
                                <td><strong translate="stepApp.hrEmployeeInfo.nationality"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.nationality}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrEmployeeInfo.birthCertificateNo"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.birthCertificateNo}}</td>
                                <td><strong translate="stepApp.hrEmployeeInfo.religion"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrEmployeeInfo.religion}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrEmployeeInfo.empPhoto"></strong></td>
                                <td ng-click="previewEmpPhoto(hrEmployeeInfo)">&nbsp; : &nbsp;<img
                                    ng-src="data:image/JPEG;base64,{{hrEmployeeInfo.empPhoto}}" width="40px"></td>
                                <td><strong translate="stepApp.hrEmployeeInfo.quotaCert"></strong></td>
                                <td ng-click="previewQuotaCertDoc(hrEmployeeInfo)">&nbsp; : &nbsp;<img
                                    ng-src="data:image/JPEG;base64,{{hrEmployeeInfo.quotaCert}}" width="40px"></td>
                            </tr>
                            <tr>
                                <td><strong></strong></td>
                                <td></td>
                                <td><strong></strong></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row hrm-view">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div ng-show="!hrEmployeeInfo.viewMode" class="input-margin">
                                <label class="control-label" translate="stepApp.hrEmployeeInfo.fullName"
                                       for="field_fullName">FullName</label>
                                <input type="text" class="form-control" name="fullName" id="field_fullName"
                                       ng-model="hrEmployeeInfo.fullName"
                                       required ng-maxlength="100"
                                       only-letters-and-dash-and-dot
                                />
                                <div ng-show="editForm.fullName.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.fullName.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.fullName.$error.maxlength"
                                       translate="entity.validation.maxlength"
                                       translate-value-max="100">
                                        This field cannot be longer than 100 characters.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div ng-show="!hrEmployeeInfo.viewMode" class="input-margin">
                                <label class="control-label" translate="stepApp.hrEmployeeInfo.mobileNumber"
                                       for="field_mobileNumber">MobileNumber</label>
                                <input type="text" class="form-control" name="mobileNumber" id="field_mobileNumber"
                                       ng-model="hrEmployeeInfo.mobileNumber"
                                       ng-minlength="11" ng-maxlength="18" min="0" minlength="11" maxlength="18"
                                       required only-numbers/>
                                <div ng-show="editForm.mobileNumber.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.mobileNumber.$error.minlength"
                                       translate="entity.validation.minlength" translate-value-min="11">
                                        This field is required to be at least 11 characters.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.mobileNumber.$error.maxlength"
                                       translate="entity.validation.maxlength" translate-value-max="18">
                                        This field cannot be longer than 18 characters.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hrm-view">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div ng-show="!hrEmployeeInfo.viewMode" class="input-margin">
                                <label class="control-label" translate="stepApp.hrEmployeeInfo.fatherName"
                                       for="field_fatherName">FatherName</label>
                                <input type="text" class="form-control" name="fatherName" id="field_fatherName"
                                       ng-model="hrEmployeeInfo.fatherName"
                                       required only-letters-and-dash-and-dot minlength="2" maxlength="100"/>
                                <div ng-show="editForm.fatherName.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.fatherName.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-sm-6">
                        <div class="form-group">
                            <div ng-show="!hrEmployeeInfo.viewMode" class="input-margin">
                                <label class="control-label" translate="stepApp.hrEmployeeInfo.motherName"
                                       for="field_motherName">MotherName</label>
                                <input type="text" class="form-control" name="motherName" id="field_motherName"
                                       ng-model="hrEmployeeInfo.motherName"
                                       required only-letters-and-dash-and-dot/>
                                <div ng-show="editForm.motherName.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.motherName.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hrm-view">
                    <div class="col-sm-6 " ng-show="!hrEmployeeInfo.viewMode">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.encadrement"
                                   for="field_encadrement">encadrement</label>
                            <select class="form-control" id="field_encadrement" name="encadrement"
                                    ng-model="hrEmployeeInfo.encadrement"
                                    ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in encadrementList track by MiscTypeSetup.id">
                                <option>-- Select --</option>
                            </select>
                        </div>
                    </div>
                    <div class=" col-sm-6" ng-show="(hrEmployeeInfo.encadrement.typeName=='Cadre')">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.presentId"
                                   for="field_presentId">PresentId</label>
                            <div ng-show="!hrEmployeeInfo.viewMode" class="input-margin">
                                <input type="text" class="form-control" name="presentId" id="field_presentId"
                                       ng-model="hrEmployeeInfo.presentId"
                                       ng-required='(hrEmployeeInfo.encadrement.typeName=="Cadre")' only-numbers/>
                            </div>
                        </div>
                    </div>
                    <div class=" col-sm-6">&nbsp;</div>
                </div>

                <div class="row hrm-view" ng-show="!hrEmployeeInfo.viewMode">
                    <div class=" col-sm-6">
                        <div class="form-group">
                            <div ng-show="!hrEmployeeInfo.viewMode" class="input-margin">
                                <label class="control-label" translate="stepApp.hrEmployeeInfo.nationalId"
                                       for="field_nationalId">NationalId</label>
                                <input type="text" class="form-control" name="nationalId" id="field_nationalId"
                                       ng-model="hrEmployeeInfo.nationalId"
                                       ng-remote-validate="/api/hrEmployeeInfos/checknid/"
                                       ng-remote-method="GET"
                                       ng-remote-throttle="500"
                                       ng-minlength="10"
                                       ng-maxlength="17" required
                                       only-numbers min="0" minlength="10" maxlength="17"/>
                                <div ng-show="editForm.nationalId.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.nationalId.$error.ngRemoteValidate">
                                        National ID already exists
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.birthDate.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.nationalId.$error.minlength"
                                       translate="entity.validation.minlength" translate-value-min="10">
                                        This field is required to be at least 10 characters.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.nationalId.$error.maxlength"
                                       translate="entity.validation.maxlength" translate-value-max="17">
                                        This field cannot be longer than 17 characters.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-sm-6" ng-show="!hrEmployeeInfo.viewMode">
                        <div class="form-group">
                            <div class="input-margin">
                                <label class="control-label" translate="stepApp.hrEmployeeInfo.emailAddress"
                                       for="field_emailAddress">EmailAddress</label>
                                <input type="text" class="form-control" name="emailAddress" id="field_emailAddress"
                                       ng-model="hrEmployeeInfo.emailAddress"
                                       required ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"/>
                                <div ng-show="editForm.emailAddress.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.emailAddress.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                                <div ng-show="editForm.emailAddress.$error.pattern">
                                    <small style="color:red; font-size: 10px;">
                                        Not valid email!
                                    </small>
                                </div>
                            </div>
                            <div ng-show="hrEmployeeInfo.viewMode">
                                <label class="control-label" translate="stepApp.hrEmployeeInfo.emailAddress"
                                       for="field_emailAddress">EmailAddress</label>
                                <span class="form-control-static">&nbsp; : &nbsp;{{hrEmployeeInfo.emailAddress}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hrm-view">
                    <div class=" col-sm-6" ng-show="!hrEmployeeInfo.viewMode">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.fullNameBn"
                                   for="field_fullNameBn">FullNameBn</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="fullNameBn" id="field_fullNameBn"
                                       ng-model="hrEmployeeInfo.fullNameBn" only-bangla/>
                            </div>
                        </div>
                    </div>
                    <div class=" col-sm-6" ng-show="!hrEmployeeInfo.viewMode">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.fatherNameBn"
                                   for="field_fatherNameBn">FatherNameBn</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="fatherNameBn" id="field_fatherNameBn"
                                       ng-model="hrEmployeeInfo.fatherNameBn" only-bangla/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hrm-view">
                    <div class=" col-sm-6" ng-show="!hrEmployeeInfo.viewMode">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.motherNameBn"
                                   for="field_motherNameBn">MotherNameBn</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="motherNameBn" id="field_motherNameBn"
                                       ng-model="hrEmployeeInfo.motherNameBn" only-bangla/>
                            </div>
                        </div>
                    </div>
                    <div class=" col-sm-6" ng-show="!hrEmployeeInfo.viewMode">
                        <div class="form-group">
                            <div class="input-margin">
                                <label class="control-label" translate="stepApp.hrEmployeeInfo.gender"
                                       for="field_gender">Gender</label>
                                <select class="form-control" name="gender" ng-model="hrEmployeeInfo.gender"
                                        id="field_gender" required>
                                    <option value="Male" translate="stepApp.gender.Male">Male</option>
                                    <option value="Female" translate="stepApp.gender.Female">Female</option>
                                    <option value="Others" translate="stepApp.gender.Others">Others</option>
                                </select>
                                <div ng-show="editForm.gender.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.gender.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hrm-view" ng-show="!hrEmployeeInfo.viewMode">
                    <div class=" col-sm-6">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.birthPlace"
                                   for="field_birthPlace">BirthPlace</label>
                            <div ng-show="!hrEmployeeInfo.viewMode" class="input-margin">
                                <input type="text" class="form-control" name="birthPlace" id="field_birthPlace"
                                       ng-model="hrEmployeeInfo.birthPlace" only-letters maxlength="100" minlength="4"/>
                            </div>
                        </div>
                    </div>
                    <div class=" col-sm-6">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.anyDisease"
                                   for="field_anyDisease">AnyDisease</label>
                            <div ng-show="!hrEmployeeInfo.viewMode" class="input-margin">
                                <input type="text" class="form-control" name="anyDisease" id="field_anyDisease"
                                       ng-model="hrEmployeeInfo.anyDisease" only-letters maxlength="100" minlength="4"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hrm-view" ng-show="!hrEmployeeInfo.viewMode">
                    <div class=" col-sm-6">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.officerStuff"
                                   for="field_officerStuff">OfficerStuff</label>
                            <div ng-show="!hrEmployeeInfo.viewMode" class="input-margin">
                                <input type="text" class="form-control" name="officerStuff" id="field_officerStuff"
                                       ng-model="hrEmployeeInfo.officerStuff" only-letters-and-dash-and-dot
                                       maxlength="100" minlength="4"/>
                            </div>
                        </div>
                    </div>
                    <div class=" col-sm-6">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.tinNumber"
                                   for="field_tinNumber">TinNumber</label>
                            <div ng-show="!hrEmployeeInfo.viewMode" class="input-margin">
                                <input type="text" class="form-control" name="tinNumber" id="field_tinNumber"
                                       ng-model="hrEmployeeInfo.tinNumber" only-numbers minlength="4" maxlength="15"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hrm-view" ng-show="!hrEmployeeInfo.viewMode">
                    <div class=" col-sm-6">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.maritalStatus"
                                   for="field_maritalStatus">MaritalStatus</label>
                            <div ng-show="!hrEmployeeInfo.viewMode" class="input-margin">
                                <select class="form-control" name="maritalStatus"
                                        ng-model="hrEmployeeInfo.maritalStatus"
                                        id="field_maritalStatus">
                                    <option value="Single" translate="stepApp.maritalStatus.Single">Single</option>
                                    <option value="Married" translate="stepApp.maritalStatus.Married">Married</option>
                                    <option value="Widower" translate="stepApp.maritalStatus.Widower">Widower</option>
                                    <option value="Widow" translate="stepApp.maritalStatus.Widow">Widow</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class=" col-sm-6">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.bloodGroup"
                                   for="field_bloodGroup">BloodGroup</label>
                            <div ng-show="!hrEmployeeInfo.viewMode" class="input-margin">
                                <select ng-show="!hrEmployeeInfo.viewMode" class="form-control" name="bloodGroup"
                                        ng-model="hrEmployeeInfo.bloodGroup" id="field_bloodGroup">
                                    <option value="A_POSITIVE" translate="stepApp.bloodGroup.A_POSITIVE">A_POSITIVE
                                    </option>
                                    <option value="A_NEGATIVE" translate="stepApp.bloodGroup.A_NEGATIVE">A_NEGATIVE
                                    </option>
                                    <option value="B_POSITIVE" translate="stepApp.bloodGroup.B_POSITIVE">B_POSITIVE
                                    </option>
                                    <option value="B_NEGATIVE" translate="stepApp.bloodGroup.B_NEGATIVE">B_NEGATIVE
                                    </option>
                                    <option value="O_POSITIVE" translate="stepApp.bloodGroup.O_POSITIVE">O_POSITIVE
                                    </option>
                                    <option value="O_NEGATIVE" translate="stepApp.bloodGroup.O_NEGATIVE">O_NEGATIVE
                                    </option>
                                    <option value="AB_POSITIVE" translate="stepApp.bloodGroup.AB_POSITIVE">AB_POSITIVE
                                    </option>
                                    <option value="AB_NEGATIVE" translate="stepApp.bloodGroup.AB_NEGATIVE">AB_NEGATIVE
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hrm-view" ng-show="!hrEmployeeInfo.viewMode">
                    <div class=" col-sm-6">
                        <div class="form-group">
                            <div ng-show="!hrEmployeeInfo.viewMode" class="input-margin">
                                <label class="control-label" translate="stepApp.hrEmployeeInfo.nationality"
                                       for="field_nationality">Nationality</label>
                                <select id="field_nationality" class="form-control" id="field_nationalitySelection"
                                        name="nationalitySelection"
                                        ng-model="nationalitySelection" required>
                                    <option value="Bangladesh">Bangladesh</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class=" col-sm-6">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.religion"
                                   for="field_religion">Religion</label>
                            <div ng-show="!hrEmployeeInfo.viewMode" class="input-margin">
                                <select ng-show="!hrEmployeeInfo.viewMode" class="form-control" name="religion"
                                        ng-model="hrEmployeeInfo.religion" id="field_religion">
                                    <option value="Islam" translate="stepApp.Religions.Islam">Islam</option>
                                    <option value="Hinduism" translate="stepApp.Religions.Hinduism">Hinduism</option>
                                    <option value="Buddhism" translate="stepApp.Religions.Buddhism">Buddhism</option>
                                    <option value="Christian" translate="stepApp.Religions.Christian">Christian</option>
                                    <option value="Others" translate="stepApp.Religions.Others">Others</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hrm-view" ng-show="!hrEmployeeInfo.viewMode">
                    <div class=" col-sm-6">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.birthCertificateNo"
                                   for="field_birthCertificateNo">BirthCertificateNo</label>
                            <div ng-show="!hrEmployeeInfo.viewMode" class="input-margin">
                                <input type="text" class="form-control" name="birthCertificateNo"
                                       id="field_birthCertificateNo"
                                       ng-model="hrEmployeeInfo.birthCertificateNo" only-numbers maxlength="17"
                                       minlength="10" min="0" required/>
                            </div>
                            <div ng-show="editForm.birthCertificateNo.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.birthCertificateNo.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.birthCertificateNo.$error.minlength"
                                   translate="entity.validation.minlength" translate-value-min="10">
                                    This field is required to be at least 10 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.birthCertificateNo.$error.maxlength"
                                   translate="entity.validation.maxlength" translate-value-max="17">
                                    This field cannot be longer than 17 characters.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row hrm-view">
                    <div class=" col-sm-6" ngf-drop ngf-change="setEmpPhoto($file, hrEmployeeInfo)"
                         ng-show="!hrEmployeeInfo.viewMode">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.empPhoto"
                                   for="field_empPhoto">EmpPhoto</label>
                            <div ng-show="!hrEmployeeInfo.viewMode" class="input-margin">
                                <div class="help-block clearfix">
                                    <span class="pull-left">&nbsp; : &nbsp;{{hrEmployeeInfo.empPhotoContentType}} {{byteSize(hrEmployeeInfo.empPhoto)}}</span>
                                    <button
                                        ng-click="hrEmployeeInfo.empPhoto=null;hrEmployeeInfo.empPhotoContentType=null;"
                                        ng-if="hrEmployeeInfo.empPhoto"
                                        class="btn btn-default btn-xs pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                                <button type="file" ngf-select class="btn btn-default btn-block"
                                        ngf-change="setEmpPhoto($file, hrEmployeeInfo)"
                                        translate="entity.action.addblob">
                                    Add blob
                                </button>
                                <input type="hidden" class="form-control" name="empPhoto" id="field_empPhoto"
                                       ng-model="hrEmployeeInfo.empPhoto"/>
                                <input type="hidden" class="form-control" name="empPhotoContentType"
                                       id="field_empPhotoContentType"
                                       ng-model="hrEmployeeInfo.empPhotoContentType"/>
                            </div>
                            <a ng-if="hrEmployeeInfo.empPhotoContentType" class="btn btn-link"
                               ng-click="previewEmpPhoto(hrEmployeeInfo)">View</a>
                        </div>
                    </div>
                    <div class=" col-sm-6" ng-show="(hrEmployeeInfo.quota!='Others')" ngf-drop
                         ngf-change="setQuotaCertDoc($file, hrEmployeeInfo)">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.quotaCert"
                                   for="field_quotaCert">quotaCert</label>

                            <div ng-show="!hrEmployeeInfo.viewMode" class="input-margin">
                                <div class="help-block clearfix">
                                    <span class="pull-left">&nbsp; : &nbsp;{{hrEmployeeInfo.quotaCertContentType}} {{byteSize(hrEmployeeInfo.quotaCert)}}</span>
                                    <button
                                        ng-click="hrEmployeeInfo.quotaCert=null;hrEmployeeInfo.quotaCertContentType=null;"
                                        ng-if="hrEmployeeInfo.quotaCert"
                                        class="btn btn-default btn-xs pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                                <button type="file" ngf-select class="btn btn-default btn-block"
                                        ngf-change="setQuotaCertDoc($file, hrEmployeeInfo)"
                                        translate="entity.action.addblob">
                                    Add blob
                                </button>
                                <input type="hidden" class="form-control" name="quotaCert" id="field_quotaCert"
                                       ng-model="hrEmployeeInfo.quotaCert"/>
                                <input type="hidden" class="form-control" name="quotaCertContentType"
                                       id="field_quotaCertContentType"
                                       ng-model="hrEmployeeInfo.quotaCertContentType"/>
                            </div>
                            <a ng-if="hrEmployeeInfo.quotaCertContentType" class="btn btn-link"
                               ng-click="previewQuotaCertDoc(hrEmployeeInfo)">View</a>
                        </div>
                    </div>
                </div>
                <div class="row hrm-view">
                    <div class=" col-sm-6">&nbsp;</div>
                    <div class=" col-sm-6 text-right">
                        <button ng-show="!hrEmployeeInfo.viewMode" type="button"
                                ng-click="changeProfileMode(hrEmployeeInfo)" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-remove"></span>{{hrEmployeeInfo.viewModeText}}
                        </button>
                        <button ng-show="!hrEmployeeInfo.viewMode" ng-click="updateProfile(hrEmployeeInfo)"
                                type="button" ng-disabled="editForm.$invalid || isSaving"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
