<div class="col-md-12 no_padding common-list">
            <h2 ng-if="noEmployeeFound" class="modal-title"><span translate="stepApp.hrEmployeeInfo.home.generalInfoFormTitle"></span>
                Employee is not created yet
            </h2>
            <h2 ng-if="!noEmployeeFound" class="modal-title"><span translate="stepApp.hrEmployeeInfo.home.generalInfoFormTitle"></span>
                {{hrEmployeeInfo.fullName}} - {{hrEmployeeInfo.employeeId}}
            </h2>
    <br>

        <tabset justified="true" class="dte-tab">
            <tab  heading="{{'stepApp.hrEmployeeInfo.home.basicInfoTabTitle' | translate}}" >
                <div class="table-responsive " ui-view="hrmEmpBasicInfoView"> </div>
            </tab>

            <tab heading="{{'stepApp.hrEmployeeInfo.home.spouseInfoTabTitle' | translate}}">
                <div class="main-content dte-tab" ui-view="hrmEmpSpouseInfoView"></div>
            </tab>

            <tab heading="{{'stepApp.hrEmployeeInfo.home.nomineeInfoTabTitle' | translate}}">
                <div class="main-content dte-tab" ui-view="hrmEmpNomineeInfoView"></div>
            </tab>

            <tab heading="{{'stepApp.hrEmployeeInfo.home.childInfoTabTitle' | translate}}">
                <div class="main-content dte-tab" ui-view="hrmEmpChildInfoView"></div>
            </tab>

            <tab heading="{{'stepApp.leftmenu.addressInformation' | translate}}">
                <div class="main-content" ui-view="hrmEmpAddressInfoView"></div>
            </tab>

            <tab heading="{{'stepApp.leftmenu.educationInformation' | translate}}">
                <div class="main-content" ui-view="hrmEmpEducationInfoView"></div>
            </tab>

            <tab heading="{{'stepApp.leftmenu.trainingInformation' | translate}}">
                <div class="main-content" ui-view="hrmEmpTrainingInfoView"></div>
            </tab>

            <tab heading="{{'stepApp.leftmenu.AwardInformation' | translate}}">
                <div class="main-content" ui-view="hrmEmpAwardInfoView"></div>
            </tab>

            <tab heading="{{'stepApp.leftmenu.PublicationInformation' | translate}}">
                <div class="main-content" ui-view="hrmEmpPublicationInfoView"></div>
            </tab>

            <tab heading="{{'stepApp.leftmenu.BankAccountInformation' | translate}}">
                <div class="main-content" ui-view="hrmEmpBankAccountInfoView"></div>
            </tab>


        </tabset>
</div>
