<div class="common-dialogue">

        <form class="form-horizontal hr_label" name="editForm" role="form" novalidate show-validation>
            <h4 class="modal-title" translate="stepApp.hrEmployeeInfo.home.transferTitle">Transfer Employee</h4>
        <div class="panel-body bg-panel">
            <div class="row hrm-view ">
                <div class="col-md-4">
                    <div class=" ">
                        <label for="field_transferType">Transfer Type</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_transferType" name="transferType"
                                    ng-model="hrEmployeeInfo.transferType"
                                    ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in transferTypeList track by MiscTypeSetup.id">
                                <option selected disabled value="">-- Select --</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="">
                        <label class="control-label" translate="stepApp.hrEmployeeInfo.transfer.employeeType" for="field_employeeType">employeeType</label>
                        <div class="input-margin">
                            <select class="form-control" name="employeeType"
                                    ng-model="employeeType" id="field_employeeType" ng-change="changeEmployeeList()">
                                <option value="DTE_Employee" translate="stepApp.hrEmployeeInfo.transfer.dteEmployee">DTE Employee</option>
                                <option value="Teacher" translate="stepApp.hrEmployeeInfo.transfer.teacher">Teacher</option>
                                <option value="Staff" translate="stepApp.hrEmployeeInfo.transfer.staff">Staff</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="">
                        <label class="control-label" translate="stepApp.hrEmployeeInfo.selectEmployee" for="field_employeeInfo">employeeInfo</label>
                        <div class="input-margin">
                            <input type="text" class="form-control autocomplete" autocomplete="off"
                                   ng-model="hrEmployeeInfo"
                                   typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in employeeInfoList | filter:$viewValue'
                                   id="field_employeeInfo" required>
                        </div>
                    </div>
                </div>

            </div>
            <br>

            <div class="row hrm-view bdr">
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td > <strong translate="stepApp.hrEmployeeInfo.fullName">FullName</strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.fullName}}</td>
                            <!--<td translate="stepApp.hrEmployeeInfo.mobileNumber"></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.mobileNumber}}</td>-->
                            <!--<td translate="stepApp.hrEmployeeInfo.fatherName">FatherName</td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.fatherName}}</td>-->
                            <td translate="stepApp.hrEmployeeInfo.birthDate"></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.birthDate | date:'mediumDate'}}</td>

                        </tr>
                        <tr>
                            <td translate="stepApp.hrEmployeeInfo.dateOfJoining">dateOfJoining</td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.dateOfJoining | date:'mediumDate'}}</td>
                            <td translate="stepApp.hrEmployeeInfo.prlDate">prlDate</td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.prlDate | date:'mediumDate'}}</td>

                        </tr>
                        <tr>
                            <td translate="stepApp.hrEmployeeInfo.retirementDate">retirementDate</td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.retirementDate | date:'mediumDate'}}</td>
                            <td translate="stepApp.hrEmployeeInfo.apointmentGoDate">apointmentGoDate</td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.apointmentGoDate | date:'mediumDate'}}</td>
                        </tr>


                        <tr>
                            <td translate="stepApp.hrEmployeeInfo.organizationType"></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.organizationType}}</td>
                            <td translate="stepApp.hrEmployeeInfo.gradeInfo">gradeInfo</td>
                            <td>&nbsp; : &nbsp;{{designationInfo.gradeInfo.gradeCode}}</td>

                        </tr>




                        <tr>
                            <td ng-if="(hrEmployeeInfo.organizationType=='Organization')" translate="stepApp.hrEmployeeInfo.workArea">workArea</td>
                            <td ng-if="(hrEmployeeInfo.organizationType=='Organization')">&nbsp; : &nbsp;{{workArea.typeName}}</td>
                            <td ng-if="(hrEmployeeInfo.organizationType=='Institute')" translate="stepApp.hrEmployeeInfo.instCategory">instCategory</td>
                            <td ng-if="(hrEmployeeInfo.organizationType=='Institute')">&nbsp; : &nbsp;{{instCategory.name}}</td>

                            <td ng-if="(hrEmployeeInfo.organizationType=='Organization')" translate="stepApp.hrEmployeeInfo.workAreaDtl">workAreaDtl</td>
                            <td ng-if="(hrEmployeeInfo.organizationType=='Organization')">&nbsp; : &nbsp;{{workAreaDtl.name}}</td>
                            <td ng-if="(hrEmployeeInfo.organizationType=='Institute')"translate="stepApp.hrEmployeeInfo.institute">institute</td>
                            <td ng-if="(hrEmployeeInfo.organizationType=='Institute')">&nbsp; : &nbsp;{{institute.name}}</td>
                        </tr>
                    </table>
                </div>
                <!--<div class=" col-sm-4">
                    <label class="control-label" translate="stepApp.hrEmployeeInfo.birthDate">birthDate</label>
                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmployeeInfo.birthDate | date:'mediumDate'}}</span>
                </div>
                <div class=" col-sm-4">
                    <label class="control-label" translate="stepApp.hrEmployeeInfo.dateOfJoining">dateOfJoining</label>
                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmployeeInfo.dateOfJoining | date:'mediumDate'}}</span>
                </div>-->
                <!--<div class=" col-sm-4">
                    <label class="control-label" translate="stepApp.hrEmployeeInfo.prlDate">prlDate</label>
                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmployeeInfo.prlDate | date:'mediumDate'}}</span>
                </div>-->
            </div>

            <div class="row hrm-view" style="">

                <!--<div class=" col-sm-4">
                    <label class="control-label" translate="stepApp.hrEmployeeInfo.retirementDate">retirementDate</label>
                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmployeeInfo.retirementDate | date:'mediumDate'}}</span>
                </div>-->

               <!-- <div class=" col-sm-4">
                    <label class="control-label" translate="stepApp.hrEmployeeInfo.gradeInfo">gradeInfo</label>
                    <span class="form-control-static">&nbsp;{{designationInfo.gradeInfo.gradeCode}}</span>
                </div>-->

                <!--<div class=" col-sm-4">
                    <label class="control-label" translate="stepApp.hrEmployeeInfo.apointmentGoDate">apointmentGoDate</label>
                    <span class="form-control-static">{{hrEmployeeInfo.apointmentGoDate | date:'mediumDate'}}</span>
                </div>-->

            </div>

            <div class="row hrm-view">
                <!--<div class=" col-sm-4">
                    <label class="control-label" translate="stepApp.hrEmployeeInfo.fullName">FullName</label>
                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmployeeInfo.fullName}}</span>
                </div>
                <div class=" col-sm-4">
                    <label class="control-label" translate="stepApp.hrEmployeeInfo.mobileNumber">MobileNumber</label>
                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmployeeInfo.mobileNumber}}</span>
                </div>-->
                <!--<div class=" col-sm-4">
                    <label class="control-label" translate="stepApp.hrEmployeeInfo.fatherName">FatherName</label>
                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmployeeInfo.fatherName}}</span>
                </div>-->
            </div>
            <div class="row hrm-view">
                <!--<div class=" col-sm-4">
                    <label class="control-label" translate="stepApp.hrEmployeeInfo.organizationType">organizationType</label>
                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmployeeInfo.organizationType}}</span>
                </div>-->
                <!--<div class=" col-sm-4">
                    <div ng-if="(hrEmployeeInfo.organizationType=='Organization')">
                        <label class="control-label" translate="stepApp.hrEmployeeInfo.workArea">workArea</label>
                        <span class="form-control-static">&nbsp; : &nbsp;{{workArea.typeName}}</span>
                    </div>
                    <div ng-if="(hrEmployeeInfo.organizationType=='Institute')">
                        <label class="control-label" translate="stepApp.hrEmployeeInfo.instCategory">instCategory</label>
                        <span class="form-control-static">&nbsp; : &nbsp;{{instCategory.name}}</span>
                    </div>
                </div>-->
                <!--<div class=" col-sm-4">
                    <div ng-if="(hrEmployeeInfo.organizationType=='Organization')">
                        <label class="control-label" translate="stepApp.hrEmployeeInfo.workAreaDtl">workAreaDtl</label>
                        <span class="form-control-static">&nbsp; : &nbsp;{{workAreaDtl.name}}</span>
                    </div>
                    <div ng-if="(hrEmployeeInfo.organizationType=='Institute')">
                        <label class="control-label" translate="stepApp.hrEmployeeInfo.institute">institute</label>
                        <span class="form-control-static">&nbsp; : &nbsp;{{institute.name}}</span>
                    </div>
                </div>-->
            </div>

            <div class="row hrm-view">

                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.transferto">Transfer to</label>
                            <div class="input-margin">
                                <input type="radio" name="organizationType" ng-model="organizationType" value="Organization"> Organization &nbsp; | &nbsp;
                                <input type="radio" name="organizationType" ng-model="organizationType" value="Institute"> Institute
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row hrm-view ">
                <div class="col-md-6 col-sm-12 col-xs-12" ng-show="(organizationType=='Organization')">
                    <label class="control-label" translate="stepApp.hrEmployeeInfo.workArea" for="field_workArea">Organization Category</label>
                    <div class="input-margin">
                        <select class="form-control" id="field_workArea" name="workArea" ng-model="hrEmployeeInfo.workArea"
                                ng-change="loadWorkAreaDetailByWork(hrEmployeeInfo.workArea)"
                                ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id" >
                            <option value="">Select Org. Category</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12" ng-show="(organizationType=='Organization')">
                    <label class="control-label" translate="stepApp.hrEmployeeInfo.workAreaDtl2" for="field_workAreaDtl">org name</label>
                    <div class="input-margin">
                        <select class="form-control" id="field_workAreaDtl" name="workAreaDtl" ng-model="hrEmployeeInfo.workAreaDtl"
                                ng-change="loadDesigDeptByOrganization(hrEmployeeInfo.workAreaDtl)"
                                ng-options="HrEmpWorkAreaDtlInfo as HrEmpWorkAreaDtlInfo.name for HrEmpWorkAreaDtlInfo in workAreaDtlListFiltr track by HrEmpWorkAreaDtlInfo.id" >
                            <option value="">Select Organization</option>
                        </select>
                    </div>
                </div>

                <div class="" ng-show="(organizationType=='Institute')">
                    <!-- Lavel is category, category is level -->
                    <div class="col-md-4">
                        <div class="">
                            <label class="control-label" for="field_instCategory">Institute Level</label>
                            <div class="input-margin">
                                <select class="form-control" id="field_instCategory" name="instCategory"
                                        ng-model="hrEmployeeInfo.instCategory"
                                        ng-change="loadInstituteCategoryByLevel(hrEmployeeInfo.instCategory)"
                                        ng-options="InstCategory as InstCategory.name for InstCategory in instCategories track by InstCategory.id">
                                    <option value="">Select Institute Level</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Lavel is category, category is level -->
                    <div class="col-md-4">
                        <div class="">
                            <label class="control-label" for="field_instLevel">Institute Category</label>
                            <div class="input-margin">
                                <select class="form-control" id="field_instLevel" name="instLevel"
                                        ng-model="hrEmployeeInfo.instLevel"
                                        ng-change="loadInstituteByCategory(hrEmployeeInfo.instLevel)"
                                        ng-options="instLevel as instLevel.name for instLevel in instLevels track by instLevel.id">
                                    <option value="">Select Institute Category</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.institute" for="field_institute">institute</label>
                            <div class="input-margin">
                                <select class="form-control" id="field_institute" name="institute" ng-model="hrEmployeeInfo.institute"
                                        ng-change="loadDesigDeptByInstitute(hrEmployeeInfo.institute)"
                                        ng-options="Institute as Institute.name for Institute in instituteList track by Institute.id" >
                                    <option value="">Select Institute</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row hrm-view">
                <div class=" col-md-6 ">
                    <label class="control-label" translate="stepApp.hrEmployeeInfo.departmentInfo2" for="field_departmentInfo">departmentInfo</label>
                    <div class="input-margin">
                        <select class="form-control" id="field_departmentInfo" name="departmentInfo" ng-model="hrEmployeeInfo.departmentInfo"
                                ng-options="HrDepartmentSetup as HrDepartmentSetup.departmentInfo.departmentName for HrDepartmentSetup in hrdepartmentsetupsFltr track by HrDepartmentSetup.id" required>
                            <option value="">Select Section</option>
                        </select>
                    </div>
                </div>

                <div class=" col-md-6">
                    <label class="control-label" translate="stepApp.hrEmployeeInfo.designationInfo2" for="field_designationInfo">designationInfo</label>
                    <div class="input-margin">
                        <select class="form-control" id="field_designationInfo" name="designationInfo"
                                ng-model="hrEmployeeInfo.designationInfo" ng-change="checkDesignationLimit(hrEmployeeInfo.designationInfo)"
                                ng-options="HrDesignationSetup as HrDesignationSetup.designationInfo.designationName for HrDesignationSetup in hrDesigSetupListFltr track by HrDesignationSetup.id" required>
                            <option value="">Select Designation</option>
                        </select>
                        <div ng-show="(organizationType=='Organization')">
                            <span ng-hide="employeeDesigLimitAllowed">
                                Designation limit exceded, already added {{noOfTotalEmployeeInDesig}} out of {{noOfEmployeeInDesig}}
                            </span>
                            <span ng-show="employeeDesigLimitAllowed && hrEmployeeInfo.designationInfo">
                                Already added {{noOfTotalEmployeeInDesig}} out of {{noOfEmployeeInDesig}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row hrm-view"> <!-- New Added 2 fields -->
                <div class="col-sm-6">
                    <label class="control-label" for="field_officeOrderNumber">Office Order Number</label><span style="color:red;">*</span>
                    <div class="input-margin">
                        <input type="text" class="form-control"
                               ng-model="hrEmployeeInfo.officeOrderNumber" id="field_officeOrderNumber" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label" for="field_officeOrderDate">Office Order Date</label><span style="color:red;">*</span>
                    <div class="input-margin">
                        <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.officeOrderDate"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'officeOrderDate')" class="form-control" name="officeOrderDate" id="field_officeOrderDate"
                               ng-model="hrEmployeeInfo.officeOrderDate"
                               required />
                        <div ng-show="editForm.officeOrderDate.$invalid">
                            <p class="help-block"
                               ng-show="editForm.officeOrderDate.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row hrm-view">
                <div class=" col-sm-6">
                    <div ng-if="responseMsg.success" ng-show="transferOperationCompleted" class="alert alert-success">
                        <span translate="stepApp.hrEmployeeInfo.home.transferOperationSuccess">Transfer Operation Completed</span>
                    </div>
                    <div ng-if="!responseMsg.success" ng-show="transferOperationCompleted" class="alert alert-danger">
                        <span translate="stepApp.hrEmployeeInfo.home.transferOperationFailed">Transfer Operation Failed</span>
                    </div>

                    <div class="form-control-static" ng-hide="isSaving">
                        <pre>{{responseMsg | json}}</pre>
                    </div>
                </div>
                <br>
                <div class=" col-sm-6 text-right">
                    <button    class="btn btn-primary btn-sm" type="button"  onClick="window.history.back()">
                        <span ></span>&nbsp;<span translate="entity.action.cancel">back</span>
                    </button>
                    <button ng-click="transferEmployee(hrEmployeeInfo)"
                            type="button" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.transfer">transfer</span>
                    </button>

                </div>
            </div>
        </div>
        </form>
    </div>


<style>
    table td{
        width: 24%;
        font-family: 'Open Sans', sans-serif;
    }
</style>
