
<div>
    <h2><span translate="stepApp.jasperReportParameter.detail.title">JasperReportParameter</span> {{jasperReportParameter.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.jasperReportParameter.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReportParameter.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReportParameter.type">Type</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReportParameter.type}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReportParameter.level">Level</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReportParameter.level}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReportParameter.classdata">Classdata</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReportParameter.classdata}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReportParameter.JasperReport">JasperReport</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="JasperReport.detail({id:jasperReportParameter.jasperReport.id})">{{jasperReportParameter.jasperReport.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
