
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myJasperReportParameterLabel" translate="stepApp.jasperReportParameter.home.createOrEditLabel">Create or edit a JasperReportParameter</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="jasperReportParameter.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.jasperReportParameter.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="jasperReportParameter.name"
                    required ng-maxlength="50" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.jasperReportParameter.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                    ng-model="jasperReportParameter.type"
                    required ng-maxlength="30" />
            <div ng-show="editForm.type.$invalid">
                <p class="help-block"
                    ng-show="editForm.type.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.type.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="30">
                    This field cannot be longer than 30 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.jasperReportParameter.level" for="field_level">Level</label>
            <input type="text" class="form-control" name="level" id="field_level"
                    ng-model="jasperReportParameter.level"
                    required ng-maxlength="100" />
            <div ng-show="editForm.level.$invalid">
                <p class="help-block"
                    ng-show="editForm.level.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.level.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.jasperReportParameter.classdata" for="field_classdata">Classdata</label>
            <input type="text" class="form-control" name="classdata" id="field_classdata"
                    ng-model="jasperReportParameter.classdata"
                     />
        </div>

        <div class="form-group">
            <label translate="stepApp.jasperReportParameter.JasperReport" for="field_JasperReport">JasperReport</label>
            <select class="form-control" id="field_JasperReport" name="JasperReport" ng-model="jasperReportParameter.jasperReport" ng-options="JasperReport as JasperReport.name for JasperReport in jasperreports track by JasperReport.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
