<div class="col-md-2 no-print padding-right0 padding-left0">
    <ng-include src="'scripts/app/entities/jobPortal/jp-admin-menu.html'"></ng-include>
</div>
<div class="col-md-10 lbl-dash padding-left0">
    <div class="col-md-12 common-table">
        <h2>{{country.name}}</h2>
        <table class="table table-striped td">
           <!-- <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.country.isoCode3">IsoCode3</span>
                </td>
                <td>
                    <span class="form-control-static">{{country.isoCode3}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.country.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{country.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.country.sourceName">source Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{country.sourceName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.country.capital">Capital</span>
                </td>
                <td>
                    <span class="form-control-static">{{country.capital}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.country.callingCode">CallingCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{country.callingCode}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.country.continent">Continent</span>
                </td>
                <td>
                    <span class="form-control-static">{{country.continent}}</span>
                </td>
            </tr>

            <!--new fields-->
            <tr>
                <td>
                    <span translate="stepApp.country.techGrowth">techGrowth</span>
                </td>
                <td>
                    <span class="form-control-static">{{country.techGrowth}} </span>
                    <span ng-show="country.techGrowth" translate="stepApp.country.parcent">populationGrowth</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.country.economyGrowth">economyGrowth</span>
                </td>
                <td>
                    <span class="form-control-static">{{country.economyGrowth}} </span>
                    <span ng-show="country.economyGrowth" translate="stepApp.country.parcent">populationGrowth</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.country.eduGrowth">Continent</span>
                </td>
                <td>
                    <span class="form-control-static">{{country.eduGrowth}} </span>
                    <span ng-show="country.eduGrowth" translate="stepApp.country.parcent">populationGrowth</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.country.populationGrowth">populationGrowth</span>
                </td>
                <td>

                    <span class="form-control-static">{{country.populationGrowth}} </span>
                    <span ng-show="country.economyGrowth" translate="stepApp.country.parcent">populationGrowth</span>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit"
                onclick="window.history.back()"
                class="btn btn-info no-print">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
            translate="entity.action.back"> Back</span>
        </button>
        <div class="no-print   text-right">
            <button type="submit" name="submit" onclick="window.print()" class="btn btn-primary">
                <span class="glyphicon glyphicon-print"></span>&nbsp;<span
                translate="entity.action.print">Print</span>
            </button>
        </div>
    </div>
</div>
