<div class="col-md-2 padding-left0 padding-right0 no-print">
    <ng-include src="'scripts/app/entities/jobPortal/jp-admin-menu.html'"></ng-include>
</div>
<div class="col-md-10 lbl-dash padding-left0">
    <div class="col-md-12 common-dialogue">
        <h4 ng-hide="{{country.id}}" class="page-header" translate="stepApp.country.home.createLabel">createLabel</h4>
        <h4 ng-show="{{country.id}}" class="page-header" translate="stepApp.country.home.editLabel">editLabel</h4>
        <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
            <div class="panel-body pnl-border">
                <!--<jh-alert-error></jh-alert-error>-->
                <div class="form-group">
                    <div class="col-sm-8">
                        <input type="hidden" class="form-control" id="id" name="id" ng-model="country.id" readonly/>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.country.name" for="field_name">Name</label>
                    <input type="text" class="form-control" id="field_name" name="name"
                           ng-model="country.name"
                           ng-remote-validate="/api/country/checkCountryByName/"
                           ng-remote-method="GET"
                           ng-remote-throttle="500"
                           ng-minlength='3'
                           ng-maxlength='50'
                           ng-pattern="/^[a-zA-Z ]*$/"
                           placeholder="{{'stepApp.country.name' | translate}}"
                           tooltip="{{'stepApp.country.name' | translate}}"
                           required>
                    <span class="message validating" ng-show="editForm.name.$pending">validating...</span>
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.ngRemoteValidate">
                            This Country already exists!
                        </p>
                    </div>
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.name.$error.pattern" translate="entity.validation.patternNotNum">
                            Number not allowed
                        </p>
                        <p class="help-block"
                           ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="50">
                            This field cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.country.callingCode"
                           for="field_callingCode">CallingCode</label>
                    <input type="text" class="form-control" name="callingCode"
                           id="field_callingCode"
                           ng-pattern="/^\d+$/"
                           ng-model="country.callingCode"
                           placeholder="{{'stepApp.country.callingCode' | translate}}"
                           tooltip="{{'stepApp.country.callingCode' | translate}}"
                           required ng-maxlength="50"/>

                    <div ng-show="editForm.callingCode.$invalid">
                        <p class="help-block"
                           ng-show="editForm.callingCode.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>

                        <p class="help-block"
                           ng-show="editForm.callingCode.$error.pattern" translate="entity.validation.number">
                            Only number allow
                        </p>

                        <p class="help-block"
                           ng-show="editForm.callingCode.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="50">
                            This field cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.country.isoCode3" for="field_isoCode3">IsoCode3</label>
                    <!--<input type="text" class="form-control" name="isoCode3" id="field_isoCode3"
                           ng-model="country.isoCode3"
                           ng-pattern="/^[a-zA-Z]*$/"
                           required ng-maxlength="20"/>-->
                    <input type="text" class="form-control" id="field_isoCode3" name="isoCode3"
                           ng-model="country.isoCode3"
                           ng-remote-validate="/api/country/checkCountryByIsoCode/"
                           ng-remote-method="GET"
                           ng-remote-throttle="500"
                           ng-minlength=2
                           ng-maxlength=10
                           ng-pattern="/^[a-zA-Z]*$/"
                           placeholder="{{'stepApp.country.isoCode3' | translate}}"
                           tooltip="{{'stepApp.country.isoCode3' | translate}}"
                           required>
                    <span class="message validating" ng-show="editForm.isoCode3.$pending">validating...</span>
                    <div ng-show="editForm.isoCode3.$invalid">
                        <p class="help-block"
                           ng-show="editForm.isoCode3.$error.ngRemoteValidate">
                            ISO code exists!
                        </p>
                    </div>

                    <div ng-show="editForm.isoCode3.$invalid">
                        <p class="help-block"
                           ng-show="editForm.isoCode3.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>

                        <p class="help-block"
                           ng-show="editForm.isoCode3.$error.pattern" translate="entity.validation.patternNotNum">
                            Number not allowed
                        </p>

                        <p class="help-block"
                           ng-show="editForm.isoCode3.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="20">
                            This field cannot be longer than 20 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.country.continent" for="field_continent">Continent</label>

                    <select class="form-control" name="continent" ng-model="country.continent" id="field_continent">
                        <option value="Asia">Asia</option>
                        <option value="Africa">Africa</option>
                        <option value="North America">North America</option>
                        <option value="South America">South America</option>
                        <option value="Australia">Australia</option>
                        <option value="Europe">Europe</option>
                        <option value="Antarctica">Antarctica</option>
                    </select>
                    <!--<input type="text" class="form-control" name="continent" id="field_continent"
                           ng-model="country.continent"
                           ng-pattern="/^[a-zA-Z ]*$/"
                           required ng-maxlength="50"
                           placeholder="{{'stepApp.country.continent' | translate}}"
                           tooltip="{{'stepApp.country.continent' | translate}}"

                    />-->

                    <div ng-show="editForm.continent.$invalid">
                        <p class="help-block"
                           ng-show="editForm.continent.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>

                        <p class="help-block"
                           ng-show="editForm.capital.$error.pattern" translate="entity.validation.patternNotNum">
                            Number not allowed
                        </p>

                        <p class="help-block"
                           ng-show="editForm.continent.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="50">
                            This field cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.country.capital" for="field_capital">Capital</label>
                    <!--<input type="text" class="form-control" name="capital" id="field_capital"
                           ng-model="country.capital"
                           ng-pattern="/^[a-zA-Z]*$/"
                           required ng-maxlength="50"/>-->
                    <input type="text" class="form-control" id="field_capital" name="capital"
                           ng-model="country.capital"
                           ng-remote-validate="/api/country/checkCountryByCapital/"
                           ng-remote-method="GET"
                           ng-remote-throttle="500"
                           ng-minlength=2
                           ng-maxlength=20
                           ng-pattern="/^[a-zA-Z ]*$/"
                           placeholder="{{'stepApp.country.capital' | translate}}"
                           tooltip="{{'stepApp.country.capital' | translate}}"
                           required>
                    <span class="message validating" ng-show="editForm.capital.$pending">validating...</span>
                    <div ng-show="editForm.capital.$invalid">
                        <p class="help-block"
                           ng-show="editForm.capital.$error.ngRemoteValidate">
                            Capital exists!
                        </p>
                    </div>

                    <div ng-show="editForm.capital.$invalid">
                        <p class="help-block"
                           ng-show="editForm.capital.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>

                        <p class="help-block"
                           ng-show="editForm.capital.$error.pattern" translate="entity.validation.patternNotNum">
                            Number not allowed
                        </p>

                        <p class="help-block"
                           ng-show="editForm.capital.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="50">
                            This field cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label translate="stepApp.country.techGrowth" for="field_techGrowth">Technological Growth</label>

                    <div class="input-group">
                        <input type="text" class="form-control" name="techGrowth" id="field_techGrowth"
                               ng-model="country.techGrowth"
                               placeholder="{{'stepApp.country.techGrowth' | translate}}"
                               tooltip="{{'stepApp.country.techGrowth' | translate}}"
                               numeric-only ng-maxlength="3"/>
                        <span class="input-group-addon"> %</span>
                    </div>


                    <div ng-show="editForm.techGrowth.$invalid">

                        <p class="help-block"
                           ng-show="editForm.techGrowth.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="3">
                            This field cannot be longer than 3 characters.
                        </p>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label translate="stepApp.country.economyGrowth" for="field_economyGrowth">Economical Growth</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="economyGrowth" id="field_economyGrowth"
                               ng-model="country.economyGrowth"
                               numeric-only
                               ng-maxlength="3"
                               placeholder="{{'stepApp.country.economyGrowth' | translate}}"
                               tooltip="{{'stepApp.country.economyGrowth' | translate}}"
                        />
                        <span class="input-group-addon"> %</span>
                    </div>


                    <div ng-show="editForm.economyGrowth.$invalid">

                        <p class="help-block"
                           ng-show="editForm.economyGrowth.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="3">
                            This field cannot be longer than 3 characters.
                        </p>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label translate="stepApp.country.eduGrowth" for="field_eduGrowth">Educational Growth</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="eduGrowth" id="field_eduGrowth"
                               ng-model="country.eduGrowth"
                               numeric-only
                               ng-maxlength="3"
                               placeholder="{{'stepApp.country.eduGrowth' | translate}}"
                               tooltip="{{'stepApp.country.eduGrowth' | translate}}"
                        />

                        <span class="input-group-addon"> %</span>
                    </div>
                    <div ng-show="editForm.eduGrowth.$invalid">

                        <p class="help-block"
                           ng-show="editForm.eduGrowth.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="3">
                            This field cannot be longer than 3 characters.
                        </p>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label translate="stepApp.country.populationGrowth" for="field_populationGrowth">Population
                        Growth</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="populationGrowth" id="field_populationGrowth"
                               ng-model="country.populationGrowth"
                               numeric-only
                               ng-maxlength="3"
                               placeholder="{{'stepApp.country.populationGrowth' | translate}}"
                               tooltip="{{'stepApp.country.populationGrowth' | translate}}"

                        />
                        <span class="input-group-addon"> %</span>
                    </div>

                    <div ng-show="editForm.populationGrowth.$invalid">

                        <p class="help-block"
                           ng-show="editForm.populationGrowth.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="3">
                            This field cannot be longer than 3 characters.
                        </p>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label translate="stepApp.country.sourceName" for="field_sourceName">Source </label>
                    <input type="text" class="form-control" name="sourceName" id="field_sourceName"
                           ng-model="country.sourceName"
                           ng-maxlength="200"
                           placeholder="{{'stepApp.country.sourceName' | translate}}"
                           tooltip="{{'stepApp.country.sourceName' | translate}}"
                    />


                    <div ng-show="editForm.sourceName.$invalid">

                        <p class="help-block"
                           ng-show="editForm.sourceName.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="200">
                            This field cannot be longer than 200 characters.
                        </p>
                    </div>
                </div>

                <br/>
                <div class="col-md-12 text-right">
                    <button type="submit"
                            onclick="window.history.back()"
                            class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                        translate="entity.action.back"> Back</span>
                    </button>

                    <button type="button" class="btn btn-default" data-dismiss="modal" ui-sref="country">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                        translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted"
                            class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>
                        <!--&nbsp;<span translate="entity.action.save">Save</span>-->
                        <span ng-show="country.id == null" translate="entity.action.save">Save</span><span
                        ng-show="country.id != null" translate="entity.action.update">Update</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
