<div class="main-dashbord-area">
    <div class="main-dashbord-area-bg">
            <div class="col-md-3 padding0">
                <ng-include src="'scripts/app/entities/jobPortal/jp-user-menu.html'"></ng-include>
            </div>
            <div class="col-md-9 padding-left5">
                <div class="main-content" ui-view="resumeView">

                </div>
            </div>

    </div>
</div>
