<div class="common-dialogue col-md-12 padding5 ng-scope">
    <h4 class="panel-title ng-scope">Principal Application Form</h4>
    <ng-include src="'scripts/app/account/professorApplication/professor-form.html'"></ng-include>
</div>
