<div class="col-md-12 common-list">
    <h2 ng-show="principleAppliedLists.pending == 'pending'" translate="global.menu.account.principalPendingList">
        Principal Application Pending List</h2>
    <h2 ng-show="principleAppliedLists.pending == 'approved'" translate="global.menu.account.principalApprovedList">
        Principal Application Approved List</h2>
    <div class="row">
        <div class="col-xs-4">
            <b>{{ (principleAppliedLists|filter:q).length }} results found</b>
            <label for="search">Search:</label>
            <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
        </div>
        <div class="col-xs-4">
            <label for="search">items per page:</label>
            <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
        </div>
    </div>
    <br>
    <div class="col-lg-12 no_padding profe-pending">
        <tabset justified="true">
            <tab heading="{{'stepApp.mpo.pall' | translate}}" select="all()">
            </tab>
            <tab heading="{{'stepApp.mpo.hsc' | translate}}" select="hsc()">
            </tab>
            <tab heading="{{'stepApp.mpo.mdbm' | translate}}" select="mdbm()">
            </tab>
            <tab has-any-authority="ROLE_DIRECTOR,ROLE_DG" heading="{{'stepApp.mpo.summarySheet' | translate}}"
                 select="showSummary1()">
            </tab>
        </tabset>
    </div>
    <div class="col-md-12 table-responsive no_padding" ng-if="!showSummary">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="stepApp.mpo.thead.serial"> Serial</th>
                <th translate="stepApp.mpo.thead.applicantId"> ID</th>
                <th translate="stepApp.mpo.thead.applicantname"> Applicant Name</th>
                <th translate="stepApp.mpo.thead.code"> Institute CODE</th>
                <th translate="stepApp.mpo.thead.institutename"> Institute Name</th>
                <th translate="stepApp.mpo.thead.upazilla"> upazilla</th>
                <th translate="stepApp.mpo.thead.status"> Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="principleAppliedList in principleAppliedLists | filter:q | itemsPerPage: pageSize | orderBy:'$index':true"
                current-page="currentPage" >
                <td>{{$index + 1}}</td>
                <td>{{principleAppliedList.CODE}}</td>
                <td>{{principleAppliedList.NAME}}</td>
                <td>{{principleAppliedList.INST_CODE}}</td>
                <td>{{principleAppliedList.INST_NAME}}</td>
                <td>{{principleAppliedList.UPZILA_NAME}}</td>
                <td>{{principleAppliedLists.pending}}</td>
                <td class="text-right">
                    <div class="btn-group">

                        <button class="btn btn-default"
                                ui-sref="professorApplicationDetails({id:principleAppliedList.PROFESSOR_ID})">
                             <span translate="stepApp.mpo.view&approve">View & Approve</span>
                        </button>
                        <button has-any-authority="ROLE_ADMIN,ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG"
                                class="btn btn-default pull-right"
                                ui-sref="professor-checklist({code:principleAppliedList.CODE})">
                            <span translate="stepApp.mpo.checklist">Check List</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
    <div class="col-sm-12 padding0 no-print" has-any-authority="ROLE_DIRECTOR,ROLE_DG" ng-if="summaryList.length > 0 && showSummary">
        <div class="col-md-12 table-responsive no_padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th> <input type="checkbox" ng-change="updateAllSelection(summaryList, isAllSelected)" ng-model="isAllSelected"></th>
                    <th translate="stepApp.mpo.thead.slNo"> Serial No</th>
                    <th translate="stepApp.mpo.thead.code"> Institute Code</th>
                    <th translate="stepApp.mpo.thead.institutename"> Institute Name</th>
                    <th translate="stepApp.mpo.thead.applicantname"> applicant name</th>
                    <th translate="stepApp.mpo.thead.applicantId"> applicantId</th>
                    <th translate="stepApp.mpo.thead.upazilla"> Upazilla</th>
                    <th translate="stepApp.mpo.thead.district"> District</th>

                    <th class="text-right" has-any-authority="ROLE_DG,ROLE_DIRECTOR,ROLE_AD" translate="stepApp.mpo.thead.action">Action</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr ng-repeat="mpoAppliedList in mpoAppliedLists | orderBy:'$index':true">-->
                <tr ng-repeat="each in summaryList">

                    <td><input type="checkbox" ng-model="each.isSelected" ng-change="updateSelection(each)"></td>
                    <td>{{$index+1}}</td>
                    <td>{{each.INST_CODE}}</td>
                    <td>{{each.INST_NAME}}</td>
                    <td>{{each.NAME}}</td>
                    <td>{{each.CODE}}</td>
                    <td>{{each.UPZ_NAME}}</td>
                    <td>{{each.DISTRICT}}</td>
                    <td has-any-authority="ROLE_DG,ROLE_DIRECTOR" class="text-right no-print">
                        <div class="btn-group">
                            <button class="btn btn-default" ui-sref="professorApplicationDetails({id:each.PROFESSOR_AP_ID})">
                                <span translate="stepApp.mpo.view">View</span>
                            </button>
                            <button class="btn btn-primary" ui-sref="professorApprove({id: each.PROFESSOR_AP_ID})">
                                <span translate="stepApp.mpo.approve">Approve</span>
                            </button>
                            <button class="btn btn-danger" ui-sref="apDeny({id: each.PROFESSOR_AP_ID})">
                                <span translate="stepApp.mpo.reject">Reject</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class=" col-sm-12 " has-any-authority="ROLE_DIRECTOR" ng-if="mpoApplicationForMPoMeeting.length > 0 && showSummary">
        <h2>AP Application Summary List For Meeting</h2>
        <div class="col-md-12 table-responsive padding0">
            <table class="table table-bordered table-striped dte-table print-only-font">
                <thead>
                <tr>
                    <th translate="stepApp.mpo.thead.slNo">Serial No</th>
                    <th translate="stepApp.mpo.thead.applicationDate">Application Date</th>
                    <th translate="stepApp.mpo.thead.approveByDeo"> Approved By deo</th>
                    <th translate="stepApp.mpo.thead.institutename"> Institute Name</th>
                    <th translate="stepApp.mpo.thead.code"> Institute Code</th>
                    <th translate="stepApp.mpo.thead.upazilla"> Upazila</th>
                    <th translate="stepApp.mpo.thead.district"> District</th>
                    <th>
                        <p> Applicant Name</p>
                        <p> Date of Birth</p>
                        <p>Education Qualification</p>
                        <p> Bank Name</p>
                        <p> Bank No</p>
                    </th>
                    <th translate="stepApp.mpo.thead.designation"> Designation And Subject</th>
                    <th translate="stepApp.mpo.thead.registerIndex">Register Index</th>
                    <th translate="stepApp.mpo.thead.dgRepresentative">DG Representative</th>
                    <th translate="stepApp.mpo.thead.recDateOfGB">Recommend Date of Gov-body</th>
                    <th translate="stepApp.mpo.thead.joiningDate">Joining Date</th>
                    <th translate="stepApp.mpo.thead.G.O">G.O. yes/no</th>
                    <th translate="stepApp.mpo.thead.payCode">Pay Code</th>
                    <th>Comments</th>
                    <!--<th class="no-print" has-any-authority="ROLE_DG,ROLE_DIRECTOR" translate="stepApp.mpo.thead.action">Action</th>-->

                </tr>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr ng-repeat="mpoAppliedList in mpoAppliedLists | orderBy:'$index':true">-->
                <tr ng-repeat="each in mpoApplicationForMPoMeeting">
                    <td>{{$index+1}}</td>
                    <td>{{each.APPLICATION_DATE | date}}</td>
                    <td>{{each.CMT_APPROVE_DATE | date}}--{{each.DEO_APPROVE_DATE | date}}</td>
                    <td>{{each.INST_NAME}}</td>
                    <td>{{each.INST_CODE}}</td>
                    <td>{{each.UPZ_NAME}}</td>
                    <td>{{each.DISTRICT}}</td>
                    <td>
                        <p>{{each.NAME}}</p>
                        <p>{{each.DOB | date}}</p>
                        <p>{{each.EDU_QUALIFI}}</p>
                        <p>{{each.BANK_NAME}}-{{each.BANK_ACCOUNT}}</p>
                    </td>
                    <td>{{each.DESIGNATION}}({{each.SUBJECT}})</td>
                    <td>{{each.REGISTERED_NO}}</td>
                    <td>{{each.DG_REPRESENTITIVE}}</td>
                    <td>{{each.GB_REC_DATE | date}}</td>
                    <td>{{each.JOIN_DATE | date}}</td>
                    <td>{{each.GOV_ORDER == 1? 'Yes' : 'No'}}</td>
                    <td>{{each.PAY_CODE}}</td>
                    <td>{{each.COMMENTS}}</td>
                </tr>
                </tbody>
            </table>

        </div>
        <button type="button" class="btn btn-primary pull-right no-print" onclick="window.print()">Print</button>
    </div>
</div>
