<div class="row">
      <div class="col-md-9 common-table">
        <div ng-show="isAdmin">
            <ng-include src="'scripts/app/account/mpo/mpo-search-form.html'"></ng-include>
        </div>
    </div>
    <div class="col-md-9 common-table">
        <div class="application_information">
            <div class="panel panel-primary no_padding">
                <div class="panel-heading no_padding">
                    <h2 class="panel-title">Application Status of <b>{{principleApplicationlogs[0].professorApplication.instEmployee.code}}</b></h2>
                </div>
                <div class="col-md-12 table-responsive no_padding">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>
                                Status
                            </th>
                            <th>
                                Action Date
                            </th>
                            <th>
                                Remarks
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="principleApplicationLog in principleApplicationlogs">
                            <td>{{principleApplicationLog.remarks}}</td>
                            <td>{{principleApplicationLog.fromDate}}</td>
                            <td>
                                <span class="" ng-show="principleApplicationLog.status == 1 ">{{principleApplicationLog.cause}}1</span>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
