<div class="common-table">
    <h2><span translate="stepApp.dlContTypeSet.detail.title">DlContTypeSet</span> {{dlContTypeSet.name}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.dlContTypeSet.code">Code</span>
                </td>
                <td>
                    <span class="form-control-static">{{dlContTypeSet.code}}</span>
                </td>
                <td>
                    <span translate="stepApp.dlContTypeSet.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{dlContTypeSet.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dlContTypeSet.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{dlContTypeSet.description}}</span>
                </td>
                <td>
                    <span translate="stepApp.dlContTypeSet.pStatus">PStatus</span>
                </td>
                <td>
                    <!--<span class="form-control-static">{{dlContTypeSet.pStatus}}</span>-->
                    <span ng-show="dlContTypeSet.pStatus==true">Active</span>
                    <span ng-show="dlContTypeSet.pStatus==false">Inactive</span></td>
                </td>
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.dlContTypeSet.createdDate">CreatedDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{dlContTypeSet.createdDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dlContTypeSet.updatedDate">UpdatedDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{dlContTypeSet.updatedDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dlContTypeSet.createdBy">CreatedBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{dlContTypeSet.createdBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dlContTypeSet.updatedBy">UpdatedBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{dlContTypeSet.updatedBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dlContTypeSet.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{dlContTypeSet.status}}</span>
                </td>
            </tr>-->
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
