<div class="col-sm-3">
    <ng-include src="'scripts/app/entities/sis/left-menu.html'"></ng-include>

</div>
<div class="col-sm-9 common-dialogue">
 <form class="col-sm-12 no_padding" name="editForm" role="form" novalidate ng-submit="save()">

    <div >
        <h4 id="myJobPlacementInfoLabel" translate="stepApp.jobPlacementInfo.home.createOrEditLabel">Create or edit a JobPlacementInfo</h4>
    </div>
     <div  class="sis-dialog col-sm-12 no_padding">

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.jobPlacementInfo.orgName" for="field_orgName">OrgName</label>
                <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="orgName" id="field_orgName"
                        ng-model="jobPlacementInfo.orgName" ng-change="UserName()"
                        required/>
                <div ng-show="editForm.orgName.$invalid">
                    <p class="help-block"
                       ng-show="editForm.orgName.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>

         <div hidden class="col-sm-4">
             <div class="form-group">
                 <label translate="stepApp.jobPlacementInfo.accountName" for="field_accountName">accountName</label>
                 <input type="text" class="form-control" name="accountName" id="field_accountName"
                        ng-model="jobPlacementInfo.accountName"
                        required/>
                 <div ng-show="editForm.accountName.$invalid">
                     <p class="help-block"
                        ng-show="editForm.accountName.$error.required" translate="entity.validation.required">
                         This field is required.
                     </p>
                 </div>
             </div>
         </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.jobPlacementInfo.designation" for="field_designation">Designation</label>
                <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="designation" id="field_designation"
                       ng-model="jobPlacementInfo.designation"
                       required/>
                <div ng-show="editForm.designation.$invalid">
                    <p class="help-block"
                       ng-show="editForm.designation.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.jobPlacementInfo.department" for="field_department">Department</label>
                <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="department" id="field_department"
                       ng-model="jobPlacementInfo.department"
                       required/>
                <div ng-show="editForm.department.$invalid">
                    <p class="help-block"
                       ng-show="editForm.department.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 no_padding">
        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.jobPlacementInfo.workFrom" for="field_workFrom">Work From</label>
                <div class="input-margin">
                    <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.workFrom"
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'workFrom')" class="form-control" name="workFrom"
                           id="field_workFrom"
                           ng-model="jobPlacementInfo.workFrom"
                           required/>

                    <div ng-show="editForm.workFrom.$invalid">
                        <p class="help-block"
                           ng-show="editForm.workFrom.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="checkbox">
                    <label class="check-box"  >&nbsp;</label>
                    <label class="check-box" >
                        <input type="checkbox" ng-model="checked" name="currWork"  ng-model="jobPlacementInfo.currWork" ng-click="tillNow(jobPlacementInfo.workFrom)">
                        <span translate="stepApp.jobPlacementInfo.currWork">currWork</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-4" >
            <div ng-hide="checked"  class="form-group">
                <label translate="stepApp.jobPlacementInfo.workTo" for="field_workTo">Work To</label>

                <div class="input-margin">
                    <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.workTo"
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'workTo')" class="form-control" name="workTo"
                           id="field_workTo"
                           ng-model="jobPlacementInfo.workTo" ng-change="duration(jobPlacementInfo.workFrom,jobPlacementInfo.workTo)"
                           />
                </div>
            </div>

            <div ng-show="checked"  class="form-group">
                <label class="check-box">&nbsp;</label>
                <p translate="stepApp.jobPlacementInfo.currWorking">Currently working</p>
            </div>
        </div>

        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label translate="stepApp.jobPlacementInfo.durationExp" for="field_durationExp">Experience</label>
                <input type="text" class="form-control" name="durationExp" id="field_durationExp"
                       ng-model="jobPlacementInfo.durationExp"
                      readonly />
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label translate="stepApp.jobPlacementInfo.description" for="field_description">Description</label>
                <textarea only-letters-and-dash-and-parenthesis-and-dot id="textDescription" cols="40" rows="5" my-maxlength="5" class="form-control" name="description" id="field_description"
                         ng-model="jobPlacementInfo.description"
                         required></textarea>
                <div ng-show="editForm.description.$invalid">
                    <p class="help-block"
                       ng-show="editForm.description.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label translate="stepApp.jobPlacementInfo.address" for="field_address">Address</label>
                <textarea id="textAddress" cols="40" rows="5" my-maxlength="5" class="form-control" name="address" id="field_address"
                        ng-model="jobPlacementInfo.address"
                        required></textarea>
                <div ng-show="editForm.address.$invalid">
                    <p class="help-block"
                       ng-show="editForm.address.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label translate="stepApp.jobPlacementInfo.responsibility" for="field_responsibility">Responsibility</label>
                <textarea only-letters-and-dash-and-parenthesis-and-dot id="textResponsibility" cols="20" rows="5" my-maxlength="5" class="form-control" name="responsibility" id="field_responsibility"
                        ng-model="jobPlacementInfo.responsibility"
                        required></textarea>
                <div ng-show="editForm.responsibility.$invalid">
                    <p class="help-block"
                       ng-show="editForm.responsibility.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label translate="stepApp.jobPlacementInfo.experience" for="field_experience">Experience</label>
                <textarea id="textExperience" cols="40" rows="5" my-maxlength="5" class="form-control" name="experience" id="field_experience"
                          ng-model="jobPlacementInfo.experience"
                          required></textarea>
                <div ng-show="editForm.experience.$invalid">
                    <p class="help-block"
                       ng-show="editForm.experience.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>

         <div hidden class="form-group">
             <label translate="stepApp.jobPlacementInfo.status" for="field_status">Status</label>
             <input type="checkbox" class="form-control" name="status" id="field_status" disabled="checked"
                    ng-model="jobPlacementInfo.status" ng-disabled="jobPlacementInfo.status"
                 />
         </div>
    </div>
    <div class="modal-footer col-sm-12">
        <button type="button" class="btn btn-default" class="btn " data-dismiss="modal" onclick="window.history.back()">
            <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.cancel">Back</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
</div>
