<div class="col-md-3 ">
    <ng-include src="'scripts/app/entities/sis/left-menu.html'"></ng-include>
</div>

<div class="col-sm-9 no_padding common-table">
    <h2><span translate="stepApp.jobPlacementInfo.detail.title">JobPlacementInfo</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">

            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.jobPlacementInfo.jobId">JobId</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPlacementInfo.jobId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPlacementInfo.orgName">Organization Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPlacementInfo.orgName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPlacementInfo.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPlacementInfo.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPlacementInfo.address">Address</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPlacementInfo.address}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPlacementInfo.designation">Designation</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPlacementInfo.designation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPlacementInfo.department">Department</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPlacementInfo.department}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPlacementInfo.responsibility">Responsibility</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPlacementInfo.responsibility}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPlacementInfo.workFrom">Work From</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPlacementInfo.workFrom | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr ng-hide="WorkTo">
                <td>
                    <span translate="stepApp.jobPlacementInfo.workTo">Work To</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPlacementInfo.workTo | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPlacementInfo.durationExp">durationExp </span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPlacementInfo.durationExp}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPlacementInfo.experience">Experience</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPlacementInfo.experience}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12 back-button text-right">
        <button type="submit"
                onclick="window.history.back()"
                class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
        </button>
    </div>
</div>
