<div class="col-sm-3 no_padding">
    <ng-include src="'scripts/app/entities/sis/left-menu.html'"></ng-include>
</div>
<div class="common-list col-sm-9">
    <div class="col-md-12 ">
        <h2 translate="stepApp.jobPlacementInfo.home.title">JobPlacementInfos</h2></div>
    <div class="col-sm-12 padding-bt no_padding">
        <div class="col-md-4 padding-bt no_padding">
            <div class="input-group">
                <span class="input-group-addon dlbtn" id="basic-addon1"><i class="fa fa-search"></i></span>
                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
            </div>
        </div>
        <div class="col-md-4 padding-bt">
            <div class="input-group">
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
        </div>
        <div has-any-authority="ROLE_GOVT_STUDENT" class="col-md-4 text-right no_padding">
            <button class="btn btn-primary " ui-sref="jobPlacementInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.jobPlacementInfo.home.createLabel">Create a new JobPlacementInfo</span>
            </button>
        </div>
    </div>

    <div class="col-md-12 table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.serial">Serial</th>
                <th translate="stepApp.jobPlacementInfo.jobId">JobId</th>
                <th translate="stepApp.jobPlacementInfo.orgName">OrgName</th>
                <th translate="stepApp.jobPlacementInfo.description">Description</th>
                <th translate="stepApp.jobPlacementInfo.address">Address</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'" dir-paginate="jobPlacementInfo in jobPlacementInfos | filter:q | itemsPerPage: pageSize track by jobPlacementInfo.id" current-page="currentPage">
                <td>{{pageSize*(currentPage-1)+$index+1}}</td>
                <td>{{jobPlacementInfo.jobId}}</td>
                <td>{{jobPlacementInfo.orgName}}</td>
                <td>{{jobPlacementInfo.description}}</td>
                <td>{{jobPlacementInfo.address}}</td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="jobPlacementInfo.detail({id:jobPlacementInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button has-any-authority="ROLE_GOVT_STUDENT" type="submit"
                            ui-sref="jobPlacementInfo.edit({id:jobPlacementInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ui-sref="jobPlacementInfo.delete({id:jobPlacementInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>

</div>

