<div class="col-sm-12 common-table">
    <h2><span translate="stepApp.instFinancialInfo.detail.title">InstFinancialInfo</span></h2>
    <div class="col-sm-12 text-right padding-tb">
        <!-- <button class="btn btn-primary" ui-sref="instituteInfo.financialInfo.new" ng-hide="instFinancialInfos[0].id">
             <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.instFinancialInfo.home.createLabel">Create a new InstFinancialInfo</span>
         </button>-->
        <!--{{instFinancialInfos}}-->
        <!--<button type="submit" ng-show="!hideAddNewButton"
                ui-sref="instituteInfo.financialInfo.edit({id:instFinancialInfos[0].id})"
                class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
        </button>-->

        <!--<button type="submit" ng-show="hideAddNewButton"
                ui-sref="instituteInfo.financialInfo.new"
                class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
            translate="stepApp.instFinancialInfo.home.createLabel"> Edit</span>
        </button>-->
        <button type="submit" ng-if="instFinancialInfos.length == 0"
                ui-sref="instituteInfo.financialInfo.new"
                class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
            translate="stepApp.instFinancialInfo.home.createLabel"> Add</span>
        </button>
    </div>
    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped" ng-repeat="instFinancialInfo in instFinancialInfos">
            <thead>
            <tr>

                <th colspan="4"><button type="submit"
                        ui-sref="instituteInfo.financialInfo.edit({id:instFinancialInfo.id})"
                        class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.instFinancialInfo.bankName">BankName</span>
                </td>
                <td>
                    <span class="form-control-static">{{instFinancialInfo.bankSetup.name}}</span>
                </td>
                <td>
                    <span translate="stepApp.instGenInfo.division">Division</span>
                </td>
                <td>
                    <span class="form-control-static">{{instFinancialInfo.bankBranch.upazila.district.division.name}}</span>
                </td>
            </tr>
            <tr ng-if="instFinancialInfo.bankBranch.status==true">
                <td>
                    <span translate="stepApp.instGenInfo.district">District</span>
                </td>
                <td>
                    <span class="form-control-static">{{instFinancialInfo.bankBranch.upazila.district.name}}</span>
                </td>
                <td>
                    <span translate="stepApp.instGenInfo.upazila">Upazilla</span>
                </td>
                <td>
                    <span class="form-control-static">{{instFinancialInfo.bankBranch.upazila.name}}</span>
                </td>
            </tr>


            <tr ng-if="instFinancialInfo.bankBranch.status==true">
                <td>
                    <span translate="stepApp.instFinancialInfo.branchName">BranchName</span>
                </td>
                <td>
                    <span class="form-control-static">{{instFinancialInfo.bankBranch.brName}}</span>
                </td>
                <td>
                    <span translate="stepApp.instFinancialInfo.accountType">AccountType</span>
                </td>
                <td>
                    <span class="form-control-static"
                          translate="{{'stepApp.accountType.' + instFinancialInfo.accountType}}">{{instFinancialInfo.accountType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instFinancialInfo.accountNo">AccountNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{instFinancialInfo.accountNo}}</span>
                </td>
                <td>
                    <span translate="stepApp.instFinancialInfo.issueDate">IssueDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{instFinancialInfo.issueDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instFinancialInfo.expireDate">ExpireDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{instFinancialInfo.expireDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.instFinancialInfo.amount">Amount</span>
                </td>
                <td>
                    <span class="form-control-static">{{instFinancialInfo.amount}} BDT.</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <button type="submit"
                onclick="window.history.back()"
                class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
        </button>
    </div>
    <div class="no-print   text-right">
        <button type="submit" name="submit" onclick="window.print()" class="btn btn-primary">
            <span class="glyphicon glyphicon-print"></span>&nbsp;<span
            translate="entity.action.print">Print</span>
        </button>
    </div>
</div>
