<div class="col-md-12 common-dialogue">
    <form name="editForm" role="form" class="panel panel-primary" novalidate ng-submit="save()" show-validation>
        <h4 ng-if="instFinancialInfos[0].id == null" class="header-margin" id="myInstFinancialInfoLabel"
            translate="stepApp.instFinancialInfo.home.createOrEditLabel">Create or edit a InstFinancialInfo</h4>
        <h4 ng-if="instFinancialInfos[0].id!=null" class="header-margin" id="myInstFinancialInfoLabel"
            translate="stepApp.instFinancialInfo.home.EditLabel">Create or edit a InstFinancialInfo</h4>
        <br>
        <div class="panel-body no_padding" ng-repeat="instFinancialInfo in instFinancialInfos track by $index">
            <div class="col-sm-6">
                <div class="form-group">
                    <label translate="stepApp.instFinancialInfo.bankName" for="field_bankSetup">BankSetup</label>
                    <select class="form-control" id="field_bankSetup" name="bankSetup"
                            ng-model="instFinancialInfo.bankSetup"
                            ng-options="bankSetup as bankSetup.name for bankSetup in bankSetups track by bankSetup.id"
                            required>
                        <option value="">{{instFinancialInfo.bankSetup.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label translate="stepApp.instGenInfo.division" for="field_division">Division</label>
                    <select class="form-control" id="field_division" ng-init="selectedExistingValue()"
                            ng-change="updatedDistrict(division)" name="division" ng-model="division"
                            ng-options="division as division.name for division in divisions track by division.id"
                            required>
                        <option value="">{{instFinancialInfo.bankBranch.upazila.district.division.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label translate="stepApp.instGenInfo.district" for="field_district">District</label>
                    <select class="form-control" id="field_district" ng-change="updatedUpazila(district)"
                            name="district" ng-model="district"
                            ng-options="district as district.name for district in districts track by district.id "
                            required>
                        <!--<option value="">{{instFinancialInfo.bankBranch.upazila.district.name}}</option>-->
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label translate="stepApp.instGenInfo.upazila" for="field_upazila">Upazilla</label>
                    <select class="form-control" id="field_upazila"
                            ng-change="updatedBankBranch(upazila, instFinancialInfo.bankSetup)" name="upazila"
                            ng-model="upazila"
                            ng-options="upazila as upazila.name for upazila in upazilas track by upazila.id" required>
                        <!--<option value="">{{instFinancialInfo.bankBranch.upazila.name}}</option>-->
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label translate="stepApp.instFinancialInfo.bankBranch" for="field_bankBranch">bankBranch</label>
                    <select class="form-control" id="field_bankBranch" name="bankBranch"
                            ng-model="instFinancialInfo.bankBranch"
                            ng-options="bankBranch as bankBranch.brName for bankBranch in bankBranchs track by bankBranch.id"
                            required>
                        <!--<option value="">{{instFinancialInfo.bankBranch.brName}}</option>-->
                    </select>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instFinancialInfo.accountType" for="field_accountType">Account Type</label>
                <select class="form-control" name="accountType" ng-model="instFinancialInfo.accountType"
                        id="field_accountType" required>
                    <option value="General_Fund" translate="stepApp.accountType.General_Fund">General Fund</option>
                    <option value="Preserved_Fund" translate="stepApp.accountType.Preserved_Fund">Preserved Fund
                    </option>
                </select>
                <div ng-show="editForm.accountType.$invalid">
                    <p class="help-block"
                       ng-show="editForm.accountType.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instFinancialInfo.accountNo" for="field_accountNo">Account No</label>
                <input type="text" class="form-control" name="accountNo" id="field_accountNo"
                       ng-model="instFinancialInfo.accountNo" maxlength="20" minlength="4"
                       required only-numbers-and-dash/>
                <div ng-show="editForm.accountNo.$invalid">
                    <p class="help-block"
                       ng-show="editForm.accountNo.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                    <small style="color:red;font-size: 10px;" ng-show="editForm.accountNo.$error.maxlength">
                        This field should not longer than 20 digit
                    </small>
                    <small style="color:red;font-size: 10px;" ng-show="editForm.accountNo.$error.minlength">
                        This field need to be at least 4 digit
                    </small>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instFinancialInfo.issueDate" for="field_issueDate">issueDate</label>
                <input type="text" class="form-control" name="issueDate" id="field_issueDate"
                       ng-model="instFinancialInfo.issueDate"
                       tooltip="{{'stepApp.instFinancialInfo.issueDate' | translate}}"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.issueDate"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'issueDate')"
                       max-date="toDay"/>
                <div ng-show="editForm.issueDate.$invalid">
                    <p class="help-block" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instFinancialInfo.expireDate" for="field_expireDate">Expire Date</label>
                <input type="text" class="form-control" name="expireDate" id="field_expireDate"
                       ng-model="instFinancialInfo.expireDate"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened['expireDate'+$index]"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'expireDate'+$index)"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       min-date="toDay"
                       ng-change="deadlineValidation(instFinancialInfo.issueDate,instFinancialInfo.expireDate)"/>
                <div ng-if="dateError" style="color: red">
                    Invalid Date. Please select valid date..
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instFinancialInfo.amount" for="field_amount">Amount</label>
                <input type="text" class="form-control" name="amount" id="field_amount" placeholder="BDT"
                       ng-model="instFinancialInfo.amount" maxlength="7"
                       required only-numbers/>
                <div ng-show="editForm.amount.$error.number">
                    <p class="help-block"
                       ng-show="editForm.amount.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.amount.$error.number" translate="entity.validation.number">
                        This field should be a number.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input ng-hide="hideAddMore" type="button" class="btn btn-success" ng-click="addMore()"
                   ng-disabled="editForm.$invalid || isSaving"
                   value="Add More"/>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-default" class="btn pull-left" data-dismiss="modal"
               onclick="window.history.back()">
                <span class=" glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                translate="entity.action.back">Back</span>
            </a>
            <button ng-if="instFinancialInfos[0].id == null" type="submit" ng-disabled="editForm.$invalid || isSaving"
                    class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span translate="entity.action.save">Save</span>
            </button>
            <button ng-if="instFinancialInfos[0].id != null" type="submit" ng-disabled="isSaving"
                    class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>
