<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-3">
        <ng-include src="'scripts/app/entities/umracModuleSetup/user-left-menu.html'"></ng-include>
    </div>
    <div class="col-md-9">
        <jh-alert></jh-alert>
        <div class="user-form-area">
            <div class="panel panel-primary">
                <div class="panel-heading" translate="stepApp.umracRightsLog.home.title">
                    FeePaymentCategorySetups
                </div>
                <div class="panel-body bg-panel">

                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group">

                            <form name="searchForm" class="form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery"
                                           placeholder="search">
                                </div>
                                <button class="btn btn-primary" ng-click="search()"><i class="fa fa-search-plus"></i>

                                </button>
                            </form>

                            <button class="btn btn-primary" ui-sref="umracRightsLog.new">
                                <i class="fa fa-bolt"></i>
                                <span translate="stepApp.umracRightsLog.home.createLabel">Add New</span>
                            </button>

                        </div>
                    </div>

                    <div class="modal fade" id="deleteUmracRightsLogConfirmation">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form name="deleteForm" ng-submit="confirmDelete(umracRightsLog.id)">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                                ng-click="clear()">&times;</button>
                                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete
                                            operation</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p translate="stepApp.umracRightsLog.delete.question"
                                           translate-values="{id: '{{umracRightsLog.id}}'}">Are you sure you want to
                                            delete this UmracRightsLog?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                                ng-click="clear()">
                                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                            translate="entity.action.cancel">Cancel</span>
                                        </button>
                                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                                            translate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th translate="global.field.id">ID</th>
                                    <th translate="stepApp.umracRightsLog.rightId">RightId</th>
                                    <th translate="stepApp.umracRightsLog.roleId">RoleId</th>
                                    <th translate="stepApp.umracRightsLog.module_id">Module_id</th>
                                    <th translate="stepApp.umracRightsLog.subModule_id">SubModule_id</th>
                                    <th translate="stepApp.umracRightsLog.rights">Rights</th>
                                    <!--<th translate="stepApp.umracRightsLog.description">Description</th>-->
                                    <!--<th translate="stepApp.umracRightsLog.status">Status</th>-->
                                    <th translate="stepApp.umracRightsLog.changeDate">ChangeDate</th>
                                    <th translate="stepApp.umracRightsLog.changeBy">ChangeBy</th>
                                    <!--<th translate="stepApp.umracRightsLog.updatedBy">UpdatedBy</th>-->
                                    <!--<th translate="stepApp.umracRightsLog.updatedTime">UpdatedTime</th>-->
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="umracRightsLog in umracRightsLogs track by umracRightsLog.id">
                                    <td><a
                                        ui-sref="umracRightsLog.detail({id:umracRightsLog.id})">{{umracRightsLog.id}}</a>
                                    </td>
                                    <td>{{umracRightsLog.rightId}}</td>
                                    <td>{{umracRightsLog.roleId}}</td>
                                    <td>{{umracRightsLog.module_id}}</td>
                                    <td>{{umracRightsLog.subModule_id}}</td>
                                    <td>{{umracRightsLog.rights}}</td>
                                    <!--<td>{{umracRightsLog.description}}</td>-->
                                    <!--<td>{{umracRightsLog.status}}</td>-->
                                    <td>{{umracRightsLog.changeDate | date:'mediumDate'}}</td>
                                    <td>{{umracRightsLog.changeBy}}</td>
                                    <!--<td>{{umracRightsLog.updatedBy}}</td>-->
                                    <!--<td>{{umracRightsLog.updatedTime | date:'mediumDate'}}</td>-->
                                    <td>
                                        <button type="submit"
                                                ui-sref="umracRightsLog.detail({id:umracRightsLog.id})"
                                                class="btn btn-info btn-sm">
                                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                                            translate="entity.action.view"> View</span>
                                        </button>
                                        <button type="submit"
                                                ui-sref="umracRightsLog.edit({id:umracRightsLog.id})"
                                                class="btn btn-primary btn-sm">
                                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                                            translate="entity.action.edit"> Edit</span>
                                        </button>
                                        <button type="submit"
                                                ng-click="delete(umracRightsLog.id)"
                                                class="btn btn-danger btn-sm">
                                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                                            translate="entity.action.delete"> Delete</span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <nav>
                                <ul class="pagination">
                                    <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>
                                        &lt;&lt;</a></li>
                                    <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                                    <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                                    <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                                    <li class="active"><a>{{page + 1}}</a></li>
                                    <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a>
                                    </li>
                                    <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page +
                                        3}}</a></li>
                                    <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                                    <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
