
<div>
    <h2><span translate="stepApp.umracRightsLog.detail.title">UmracRightsLog</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsLog.rightId">RightId</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsLog.rightId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsLog.roleId">RoleId</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsLog.roleId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsLog.module_id">Module_id</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsLog.module_id}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsLog.subModule_id">SubModule_id</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsLog.subModule_id}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsLog.rights">Rights</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsLog.rights}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsLog.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsLog.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsLog.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsLog.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsLog.changeDate">ChangeDate</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsLog.changeDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsLog.changeBy">ChangeBy</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsLog.changeBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsLog.updatedBy">UpdatedBy</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsLog.updatedBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRightsLog.updatedTime">UpdatedTime</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRightsLog.updatedTime | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
