
<div class="common-table">
    <h2><span translate="stepApp.pfmsEmpAdjustment.detail.title">PfmsEmpAdjustment</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpAdjustment.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:pfmsEmpAdjustment.employeeInfo.id})">{{pfmsEmpAdjustment.employeeInfo.fullName}}</a>
                </td>

                <td>
                    <span translate="stepApp.pfmsEmpAdjustment.isCurrentBalance">IsCurrentBalance</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpAdjustment.isCurrentBalance}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpAdjustment.departmentName">departmentName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpAdjustment.employeeInfo.departmentInfo.departmentInfo.departmentName}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsEmpAdjustment.designationName">designationName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpAdjustment.employeeInfo.designationInfo.designationInfo.designationName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpAdjustment.nationality">nationality</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpAdjustment.employeeInfo.nationality}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsEmpAdjustment.fatherName">fatherName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpAdjustment.employeeInfo.fatherName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpAdjustment.dutySide">dutySide</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpAdjustment.employeeInfo.workArea.typeTitle}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsEmpAdjustment.ownContribute">OwnContribute</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpAdjustment.ownContribute}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpAdjustment.ownContributeInt">OwnContributeInt</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpAdjustment.ownContributeInt}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsEmpAdjustment.preOwnContribute">PreOwnContribute</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpAdjustment.preOwnContribute}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpAdjustment.preOwnContributeInt">PreOwnContributeInt</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpAdjustment.preOwnContributeInt}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsEmpAdjustment.reason">Reason</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpAdjustment.reason}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpAdjustment.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpAdjustment.activeStatus? 'Yes':'No'}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
