<div class="col-md-12 common-table padding-left5 padding-right0">
<h2><span translate="stepApp.hrEmpBankAccountInfo.detail.title">HrEmpBankAccountInfo</span> of {{hrEmpBankAccountInfo.employeeInfo.fullName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpBankAccountInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrEmpBankAccountInfo.employeeInfo.id})">{{hrEmpBankAccountInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpBankAccountInfo.bankName">bankName</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="miscTypeSetup.detail({id:hrEmpBankAccountInfo.bankName.id})">{{hrEmpBankAccountInfo.bankName.typeTitle}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpBankAccountInfo.accountName">AccountName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpBankAccountInfo.accountName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpBankAccountInfo.accountNumber">AccountNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpBankAccountInfo.accountNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpBankAccountInfo.branchName">BranchName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpBankAccountInfo.branchName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpBankAccountInfo.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpBankAccountInfo.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpBankAccountInfo.salaryAccount">SalaryAccount</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpBankAccountInfo.salaryAccount? 'Salary' : 'General'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpBankAccountInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpBankAccountInfo.activeStatus? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpBankAccountInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpBankAccountInfo.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpBankAccountInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpBankAccountInfo.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpBankAccountInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpBankAccountInfo.updateDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpBankAccountInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpBankAccountInfo.updateBy}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
</div>
