<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-body bg-panel hr_label">
            <div class="row hrm-view">
                <span ng-show="addMode">
                    <span ng-show="noEmployeeFound" class="alert">Employee is not created yet.</span>
                </span>
            </div>
            <div class="panel-group">
                <!-- For Loop Start From Here-->
                <div class=" bg-panel" ng-repeat="hrEmpBankAccountInfo in hrEmpBankAccountInfoList">
                    <form name="editForm" role="form" ng-submit="save()" novalidate show-validation>
                        <div class="row hrm-view panel-heading no_padding">
                            <div class="col-sm-7 no_padding">
                                <strong>{{hrEmpBankAccountInfo.bankName.typeName}} :
                                    {{hrEmpBankAccountInfo.accountName}}</strong>
                            </div>
                            <div class="col-sm-5 no_padding text-right">
                                <button
                                    ng-hide="noEmployeeFound || hrEmpBankAccountInfo.isLocked || hrEmpBankAccountInfo.logStatus==6"
                                    ng-if="!(hrEmpBankAccountInfo.logStatus == 11 || hrEmpBankAccountInfo.logStatus == 33 || hrEmpBankAccountInfo.logStatus == 55)"
                                    type="button" ng-click="changeProfileMode(hrEmpBankAccountInfo)"
                                    class="btn btn-primary btn-sm">{{hrEmpBankAccountInfo.viewModeText}}
                                </button>
                                <span ng-show="hrEmpBankAccountInfo.isLocked" class="alert alert-warning"><span
                                    translate="stepApp.hrmHome.recordLocked">Pending</span></span>
                                <span
                                    ng-if="(hrEmpBankAccountInfo.logStatus == 22 || hrEmpBankAccountInfo.logStatus == 44 || hrEmpBankAccountInfo.logStatus == 66)">
                                        <span class="alert alert-warning" translate="stepApp.hrmHome.requestRejected">Rejected</span>
                                    </span>
                            </div>
                        </div>
                        <div class="row hrm-view">
                            <div class="col-sm-12 text-right"
                                 ng-if="(hrEmpBankAccountInfo.logStatus == 22 || hrEmpBankAccountInfo.logStatus == 44 || hrEmpBankAccountInfo.logStatus == 66)">
                                <span class="alert-warning">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.rejectionReason">Reason</span>: &nbsp; : &nbsp;{{hrEmpBankAccountInfo.logComments}}
                                </span>
                            </div>
                            <div class="col-sm-12 text-right"
                                 ng-if="(hrEmpBankAccountInfo.logStatus == 11 || hrEmpBankAccountInfo.logStatus == 33 || hrEmpBankAccountInfo.logStatus == 55)">
                                <span class="alert-warning" ng-if="hrEmpBankAccountInfo.logStatus == 11">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.messages.waitingForDeptHeadApproval">Waiting @ Department Head Approval</span>
                                </span>
                                <span class="alert-warning" ng-if="hrEmpBankAccountInfo.logStatus == 33">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.messages.waitingForInstHeadApproval">Waiting @ Institute Head Approval</span>
                                </span>
                                <span class="alert-warning" ng-if="hrEmpBankAccountInfo.logStatus === 55">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.messages.waitingForSystemAdminApproval">Waiting @ System Admin Approval</span>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 table-responsive padding0">
                                <table class="table dtetables">
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpBankAccountInfo.bankName"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpBankAccountInfo.bankName.typeName}}</td>
                                        <td><strong translate="stepApp.hrEmpBankAccountInfo.accountName"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpBankAccountInfo.accountName}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpBankAccountInfo.accountNumber"></strong>
                                        </td>
                                        <td>&nbsp; : &nbsp;{{hrEmpBankAccountInfo.accountNumber}}</td>
                                        <td><strong translate="stepApp.hrEmpBankAccountInfo.branchName"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpBankAccountInfo.branchName}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpBankAccountInfo.description"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpBankAccountInfo.description}}</td>
                                        <td><strong translate="stepApp.hrEmpBankAccountInfo.salaryAccount"></strong>
                                        </td>
                                        <td>&nbsp; : &nbsp;{{hrEmpBankAccountInfo.salaryAccount ? 'Salary' :
                                            'General'}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpBankAccountInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <div class="input-margin">
                                    <label translate="stepApp.hrEmpBankAccountInfo.bankName" for="field_bankName">bankName</label>
                                    <select class="form-control" id="field_bankName" name="bankName"
                                            ng-model="hrEmpBankAccountInfo.bankName"
                                            ng-options="MiscTypeSetup as MiscTypeSetup.typeTitle for MiscTypeSetup in misctypesetups track by MiscTypeSetup.id"
                                            required>
                                        <option value=""></option>
                                    </select>
                                    <div ng-show="editForm.bankName.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.bankName.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                                <div ng-show="hrEmpBankAccountInfo.viewMode">
                                    <label class="control-label" translate="stepApp.hrEmpBankAccountInfo.bankName">bankName</label>
                                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmpBankAccountInfo.bankName.typeName}}</span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpBankAccountInfo.accountName"
                                           for="field_accountName">AccountName</label>
                                    <input type="text" class="form-control" name="accountName" id="field_accountName"
                                           ng-model="hrEmpBankAccountInfo.accountName"
                                           required
                                           ng-maxlength="100" minlength="5" maxlength="100" ng-minlength="5"
                                           only-letters
                                    />
                                    <div ng-show="editForm.accountName.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.accountName.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red; font-size: 10px;"
                                               ng-show="editForm.accountName.$error.maxlength">
                                            This field should not longer than 100 character
                                        </small>
                                        <small style="color:red; font-size: 10px;"
                                               ng-show="editForm.accountName.$error.minlength">
                                            This field need to be at least 5 character
                                        </small>
                                    </div>
                                </div>
                                <div ng-show="hrEmpBankAccountInfo.viewMode">
                                    <label class="control-label" translate="stepApp.hrEmpBankAccountInfo.accountName">accountName</label>
                                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmpBankAccountInfo.accountName}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpBankAccountInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <div class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpBankAccountInfo.accountNumber"
                                           for="field_accountNumber">AccountNumber</label>
                                    <input type="text" class="form-control" name="accountNumber"
                                           id="field_accountNumber"
                                           ng-model="hrEmpBankAccountInfo.accountNumber" required
                                           ng-maxlength="50" minlength="4" maxlength="50" ng-minlength="4"
                                           only-numbers-and-dash
                                    />
                                    <div ng-show="editForm.accountNumber.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.accountNumber.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red; font-size: 10px;"
                                               ng-show="editForm.accountNumber.$error.maxlength">
                                            This field should not longer than 50 character
                                        </small>
                                        <small style="color:red; font-size: 10px;"
                                               ng-show="editForm.accountNumber.$error.minlength">
                                            This field need to be at least 4 character
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpBankAccountInfo.branchName"
                                           for="field_branchName">BranchName</label>
                                    <input type="text" class="form-control" name="branchName" id="field_branchName"
                                           ng-model="hrEmpBankAccountInfo.branchName" required
                                           only-letters
                                    />
                                    <div ng-show="editForm.branchName.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.branchName.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpBankAccountInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <div class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpBankAccountInfo.description"
                                           for="field_description">Description</label>
                                    <input type="text" class="form-control" name="description" id="field_description"
                                           ng-model="hrEmpBankAccountInfo.description"/>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpBankAccountInfo.salaryAccount">SalaryAccount</label>
                                    <span>
                                            <input type="radio" data-ng-model="hrEmpBankAccountInfo.salaryAccount"
                                                   name="salaryAccount" ng-disabled="salaryAccountCounter>0"
                                                   data-ng-value="true" required>&nbsp;Salary Account&nbsp;|&nbsp;
                                            <input type="radio" data-ng-model="hrEmpBankAccountInfo.salaryAccount"
                                                   ng-checked="salaryAccountCounter>0" name="salaryAccount"
                                                   data-ng-value="false">&nbsp;General Account
                                        </span>
                                    <div ng-show="editForm.salaryAccount.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.salaryAccount.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row hrm-view">
                            <div class="form-group col-sm-6">&nbsp;</div>
                            <div class="form-group col-sm-6 text-right">
                                <button ng-show="!hrEmpBankAccountInfo.viewMode" type="button"
                                        ng-click="changeProfileMode(hrEmpBankAccountInfo)"
                                        class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span>&nbsp;{{hrEmpBankAccountInfo.viewModeText}}
                                </button>
                                <button ng-show="!hrEmpBankAccountInfo.viewMode"
                                        ng-click="updateProfile(hrEmpBankAccountInfo, $index)"
                                        type="button" ng-disabled="editForm.$invalid || isSaving"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                                    translate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 no_padding text-center">
                    <button type="submit" class="btn btn-primary" ng-show="!addMode"
                            ng-disabled="editForm.$invalid || isSaving" ng-click="addMore()"><i
                        class="fa fa-plus-square"></i>
                        <span translate="entity.action.addMore">Add More</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
