<div class="col-md-12 common-list padding-left5 padding-right0">
    <h2 translate="stepApp.hrEmpBankAccountInfo.home.title">HrEmpBankAccountInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrEmpBankAccountInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrEmpBankAccountInfo.home.createLabel">Create a new HrEmpBankAccountInfo</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                <th><span translate="global.form.serial">serial</span></th>
                <!--<th jh-sort-by="id"><span translate="global.field.id">ID</span> <span
                    class="glyphicon glyphicon-sort"></span></th>-->
                <th jh-sort-by="employeeInfo.fullName"><span translate="stepApp.hrEmpBankAccountInfo.employeeInfo">employeeInfo</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="bankName.typeTitle"><span
                    translate="stepApp.hrEmpBankAccountInfo.bankName">bankName</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="accountName"><span
                    translate="stepApp.hrEmpBankAccountInfo.accountName">AccountName</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="accountNumber"><span translate="stepApp.hrEmpBankAccountInfo.accountNumber">AccountNumber</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="branchName"><span translate="stepApp.hrEmpBankAccountInfo.branchName">BranchName</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="salaryAccount"><span translate="stepApp.hrEmpBankAccountInfo.salaryAccount">SalaryAccount</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrEmpBankAccountInfo in hrEmpBankAccountInfos | filter:q | itemsPerPage: pageSize track by hrEmpBankAccountInfo.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <!--<td><a
                    ui-sref="hrEmpBankAccountInfo.detail({id:hrEmpBankAccountInfo.id})">{{hrEmpBankAccountInfo.id}}</a>
                </td>-->
                <td>
                    <a ui-sref="hrEmployeeInfo.detail({id:hrEmpBankAccountInfo.employeeInfo.id})">{{hrEmpBankAccountInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <a ui-sref="miscTypeSetup.detail({id:hrEmpBankAccountInfo.bankName.id})">{{hrEmpBankAccountInfo.bankName.typeTitle}}</a>
                </td>
                <td>{{hrEmpBankAccountInfo.accountName}}</td>
                <td>{{hrEmpBankAccountInfo.accountNumber}}</td>
                <td>{{hrEmpBankAccountInfo.branchName}}</td>
                <td>{{hrEmpBankAccountInfo.salaryAccount}}</td>
                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="hrEmpBankAccountInfo.detail({id:hrEmpBankAccountInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit" ng-hide="false"
                            ui-sref="hrEmpBankAccountInfo.edit({id:hrEmpBankAccountInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrEmpBankAccountInfo.delete({id:hrEmpBankAccountInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
