
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myScholarShipSetUpLabel" translate="stepApp.scholarShipSetUp.home.createOrEditLabel">Create or edit a ScholarShipSetUp</h4>
    </div>
    <div class="modal-body">
        <!--<jh-alert-error></jh-alert-error>-->
        <!--<div class="col-sm-4">
            <div class="form-group">
                <label for="id" translate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id"
                       ng-model="scholarShipSetUp.id" readonly />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.scholarShipSetUp.scholarId" for="field_scholarId">ScholarId</label>
                <input type="text" class="form-control" name="scholarId" id="field_scholarId"
                       ng-model="scholarShipSetUp.scholarId"
                />
            </div>

        </div>-->

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.scholarShipSetUp.scholarName" for="field_scholarName">ScholarName</label>
                <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="scholarName" id="field_scholarName"
                       ng-model="scholarShipSetUp.scholarName"
                />
            </div>
        </div>


        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.scholarShipSetUp.stiphen" for="field_stiphen">Stiphen</label>
                <input type="text" class="form-control" name="stiphen" id="field_stiphen"
                       ng-model="scholarShipSetUp.stiphen"
                />
            </div>
        </div>


        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.scholarShipSetUp.given_by" for="field_given_by">Given_by</label>
                <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="given_by" id="field_given_by"
                       ng-model="scholarShipSetUp.given_by"
                />
            </div>
        </div>


        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.scholarShipSetUp.duration" for="field_duration">Duration</label>
                <input type="text" class="form-control" name="duration" id="field_duration"
                       ng-model="scholarShipSetUp.duration"
                />
            </div>
        </div>


        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.scholarShipSetUp.remarks" for="field_remarks">Remarks</label>
                <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="remarks" id="field_remarks"
                       ng-model="scholarShipSetUp.remarks"
                />
            </div>
        </div>


       <!-- <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.scholarShipSetUp.createDate" for="field_createDate">CreateDate</label>
                <input type="date" class="form-control" name="createDate" id="field_createDate"
                       ng-model="scholarShipSetUp.createDate"
                />
            </div>
        </div>


        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.scholarShipSetUp.createBy" for="field_createBy">CreateBy</label>
                <input type="number" class="form-control" name="createBy" id="field_createBy"
                       ng-model="scholarShipSetUp.createBy"
                />
            </div>
        </div>


        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.scholarShipSetUp.updateBy" for="field_updateBy">UpdateBy</label>
                <input type="number" class="form-control" name="updateBy" id="field_updateBy"
                       ng-model="scholarShipSetUp.updateBy"
                />
            </div>
        </div>


        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.scholarShipSetUp.updateDate" for="field_updateDate">UpdateDate</label>
                <input type="date" class="form-control" name="updateDate" id="field_updateDate"
                       ng-model="scholarShipSetUp.updateDate"
                />
            </div>
        </div>-->


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
