
<div>
    <h2><span translate="stepApp.scholarShipSetUp.detail.title">ScholarShipSetUp</span> {{scholarShipSetUp.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.scholarShipSetUp.scholarId">ScholarId</span>
                </td>
                <td>
                    <span class="form-control-static">{{scholarShipSetUp.scholarId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.scholarShipSetUp.scholarName">ScholarName</span>
                </td>
                <td>
                    <span class="form-control-static">{{scholarShipSetUp.scholarName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.scholarShipSetUp.stiphen">Stiphen</span>
                </td>
                <td>
                    <span class="form-control-static">{{scholarShipSetUp.stiphen}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.scholarShipSetUp.given_by">Given_by</span>
                </td>
                <td>
                    <span class="form-control-static">{{scholarShipSetUp.given_by}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.scholarShipSetUp.duration">Duration</span>
                </td>
                <td>
                    <span class="form-control-static">{{scholarShipSetUp.duration}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.scholarShipSetUp.remarks">Remarks</span>
                </td>
                <td>
                    <span class="form-control-static">{{scholarShipSetUp.remarks}}</span>
                </td>
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.scholarShipSetUp.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{scholarShipSetUp.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.scholarShipSetUp.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{scholarShipSetUp.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.scholarShipSetUp.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{scholarShipSetUp.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.scholarShipSetUp.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{scholarShipSetUp.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>-->
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
