<!--<div class="col-md-4">
    <div google-chart chart="myChartObject1" id="t" style="height:230px; width:100%;text-align: center"></div>
    <h5 class="mpochart"><a ui-sref="mpoPendingList"><i class="fa fa-circle" aria-hidden="true"></i>{{pendingMPOCount}}&nbsp;Pending</a>
    </h5>
    <h5 class="mpochart2"><a ui-sref="mpoApprovedList"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;Approve</a>
    </h5>
</div>-->

<div class="panel panel-default">
        <div class="panel-heading" >
            <h2 class="modal-title"><span translate="stepApp.risNewAppForm.dashboardMenu"></span></h2>
        </div>
    <div class="row">
        <div class="col-md-6">
            <div google-chart chart="myChartObject1" style="height:250px; width:400px;"></div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12 margin-top-30">

                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="risNewAppForm.AdminViewAndPost"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/approve.png" alt=""></div>
                        <span translate="stepApp.risNewAppForm.home.leftMenuAppJobRequest">Approved Job Requests </span>
                    </div></a>
                </div>
                <div class="col-md-2"  has-any-authority="ROLE_ADMIN">
                    <a ui-sref="risNewAppForm.appList"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/applicant-list.png" alt=""></div>
                        <span translate="stepApp.risNewAppForm.home.leftMenuApplist">Applicant List</span>
                    </div></a>
                </div>
                <div class="col-md-2"  has-any-authority="ROLE_ADMIN">
                    <a ui-sref="risNewAppForm.AppointmentLetterIssue"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/appointment.png" alt=""></div>
                        <span translate="stepApp.risNewAppForm.home.leftMenuAppIssue">Appointment Letter Issue </span>
                    </div></a>
                </div>

                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="risNewAppForm.circularDash"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/student-info.png" alt=""></div>
                        <span translate="stepApp.risNewAppForm.circularDash"> </span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_APPLICANT,ROLE_ADMIN">
                    <a ui-sref="risNewAppForm"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/pension-app.png" alt=""></div>
                        <span translate="stepApp.risNewAppForm.home.leftMenuAppForm">risNewAppForm</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_APPLICANT,ROLE_ADMIN">
                    <a ui-sref="risNewAppForm.newapplicantRegister"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/register.png" alt=""></div>
                        <span translate="stepApp.risNewAppForm.appRegistration">New Applicant Registration</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN" >
                    <a ui-sref="risNewAppForm.getJobList"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/listicon.png" alt=""></div>
                        <span translate="stepApp.risNewAppForm.allJobsList">All Job Lists</span>
                    </div></a>
                </div>






                <div class="col-md-2"  has-any-authority="ROLE_ADMIN">
                    <a ui-sref="risNewAppForm.WrittenExamSelection"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/examination.png" alt=""></div>
                        <span translate="stepApp.risNewAppForm.home.leftMenuAppExam">Written Exam Selection</span>
                    </div></a>
                </div>
                <div class="col-md-2"  has-any-authority="ROLE_ADMIN">
                    <a ui-sref="risNewAppForm.VivaSelection"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/viva.png" alt=""></div>
                        <span translate="stepApp.risNewAppForm.home.leftMenuAppviva">Viva Selection</span>
                    </div></a>
                </div>
                <div class="col-md-2"  has-any-authority="ROLE_ADMIN">
                    <a ui-sref="risNewAppForm.vivaApplicantList"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/job-placement.png" alt=""></div>
                        <span translate="stepApp.risNewAppForm.home.leftMenuAppVivaList">Viva Selected List</span>
                    </div></a>
                </div>

                <div class="col-md-2" has-any-authority="ROLE_MINISTER">
                    <a ui-sref="risNewAppForm.Ministry"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/appointment.png" alt=""></div>
                        <span translate="stepApp.risNewAppForm.home.leftMenuAppApproval">Job Post Approval From Ministry </span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="jpReport({module: 'ris'})"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/call-report-icon-3.png" alt=""></div>
                        <span translate="global.menu.report">Report</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="risNewAppForm.viewandapprove"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/membership.png" alt=""></div>
                        <span translate="stepApp.risNewAppForm.home.leftMenuvacancy">Vacancy List</span>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</div>

