<ul class="nav nav-list bs-docs-sidenav su_serv_menu no-print" id="ulcolor3">

    <li has-any-authority="ROLE_ADMIN">
        <a class=" button4" ui-sref="risNew.risDashboardMenu" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.risNewAppForm.dashboardMenu">dashboardMenu</span>
        </a>
    </li>

    <li has-any-authority="ROLE_ADMIN">
        <a class=" button4" ui-sref="risNewAppForm.viewandapprove" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.risNewAppForm.home.leftMenuvacancy">Vacancy List</span>
        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN" class="button4">
        <a class="button4" ui-sref="risNewAppForm.AdminViewAndPost" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.risNewAppForm.home.leftMenuAppJobRequest">Approved Job Requests </span>
        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a class="button4" ui-sref="risNewAppForm.getJobList" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.risNewAppForm.allJobsList">All Job Lists</span>
        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a class="button4" ui-sref="risNewAppForm.circularDash" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.risNewAppForm.circularDash"> </span>
        </a>
    </li>
    <li  has-any-authority="ROLE_APPLICANT,ROLE_ADMIN">
        <a class=" button4" ui-sref="risNewAppForm.newapplicantRegister" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.risNewAppForm.appRegistration">New Applicant Registration</span>
        </a>
    </li>
    <li  has-any-authority="ROLE_APPLICANT,ROLE_ADMIN">
        <a class="button4" ui-sref="risNewAppForm" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.risNewAppForm.home.leftMenuAppForm">risNewAppForm</span>
        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a class="button4" ui-sref="risNewAppForm.appList" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.risNewAppForm.home.leftMenuApplist">Applicant List</span>
        </a>
    </li>

    <li has-any-authority="ROLE_ADMIN">
        <a class=" button4" ui-sref="risNewAppForm.WrittenExamSelection" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.risNewAppForm.home.leftMenuAppExam">Written Exam Selection</span>
        </a>
    </li>

    <li has-any-authority="ROLE_ADMIN">
        <a class=" button4" ui-sref="risNewAppForm.VivaSelection" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.risNewAppForm.home.leftMenuAppviva">Viva Selection</span>
        </a>
    </li>


    <li has-any-authority="ROLE_ADMIN">
        <a class=" button4" ui-sref="risNewAppForm.vivaApplicantList" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.risNewAppForm.home.leftMenuAppVivaList">Viva Selected List</span>
        </a>
    </li>

    <li has-any-authority="ROLE_ADMIN">
        <a class=" button4" ui-sref="risNewAppForm.AppointmentLetterIssue" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.risNewAppForm.home.leftMenuAppIssue">Appointment Letter Issue </span>
        </a>
    </li>
    <li has-any-authority="ROLE_MINISTER">
        <a class="button4" ui-sref="risNewAppForm.Ministry" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.risNewAppForm.home.leftMenuAppApproval">Job Post Approval From Ministry </span>
        </a>
    </li>

    <li has-any-authority="ROLE_ADMIN">
        <a href="" ui-sref="jpReport({module: 'ris'})" has-any-authority="ROLE_ADMIN" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="Reports">risReport</span></a>
    </li>




    <!--<li has-any-authority="ROLE_ADMIN">
        <a class="list-group-item button4" ui-sref="risNewVacancy" ui-sref-active="active">
            <span class="glyphicon glyphicon-dashboard"></span>
            <span translate="global.menu.entities.risNewVacancy">risNewVacancy</span>
        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a class="list-group-item button4" ui-sref="risNewAppForm.newjobpost" ui-sref-active="active">
            <span class="glyphicon glyphicon glyphicon-book"></span>
            <span>New Job Post</span>
        </a>
    </li>-->
    </ul>


