<div class="row">
    <div class="col-md-3 bs-docs-sidebar padding-right0">
        <ng-include src="'scripts/app/entities/risNew/left-menu.html'"></ng-include>
    </div>
    <div class="main-content col-md-9 lbl-dash padding-left0" ui-view="risManagementView">
    </div>
</div>
