<div>
    <div class="panel panel-default">
        <div class="panel-heading" >
            <h2 class="modal-title"><span translate="global.menu.entities.sisDashboardm"></span></h2>
        </div>
        <div class="row text-center">
            <!--
                        <div class="form-group col-sm-4">
                            <a ui-sref="almHoliday" ui-sref-active="active"
                               class="btn btn-warning btn-large active">Admin Holiday<i class="icon-share"></i></a>
                        </div>
            -->
        </div>
        <div class="row">
            <div class="col-md-12 margin-top-30">
                <div class="col-md-2" has-any-authority="ROLE_INSTITUTE,ROLE_GOVT_STUDENT">
                    <a ui-sref="sisStudentInfo"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/membership.png" alt=""></div>
                        <span translate="global.menu.entities.sisStudentInfo"></span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN,ROLE_GOVT_STUDENT">
                    <a ui-sref="sisEducationHistory"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/education-histry.png" alt=""></div>
                        <span translate="global.menu.entities.sisEducationHistory"></span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN,ROLE_GOVT_STUDENT">
                    <a ui-sref="jobPlacementInfo"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/job-placement.png" alt=""></div>
                        <span translate="global.menu.entities.jobPlacementInfo">jobPlacementInfo</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="jobPostingInfo"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/pension-app.png" alt=""></div>
                        <span translate="global.menu.entities.jobPostingInfo">jobPostingInfo</span>
                    </div></a>
                </div>
                <div class="col-md-2"  has-any-authority="ROLE_ADMIN,ROLE_GOVT_STUDENT">
                    <a ui-sref="jobSuggestions"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/job-suggestion.jpg" alt=""></div>
                        <span translate="global.menu.entities.jobSuggestions">Job Suggestions Info</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN" >
                    <a ui-sref="sisStudentReg"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/register.png" alt=""></div>
                        <span translate="global.menu.entities.sisStudentReg">sisStudentReg</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN" >
                    <a ui-sref="sisQuota"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/register.png" alt=""></div>
                        <span translate="global.menu.entities.sisQuota">sisQuota</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN" >
                    <a ui-sref="trainingSetup"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/register.png" alt=""></div>
                        <span translate="global.menu.entities.trainingSetup">Training Setup</span>
                    </div></a>
                </div>
                 <div class="col-md-2" has-any-authority="ROLE_ADMIN" >
                    <a ui-sref="scholarShipSetUp"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/register.png" alt=""></div>
                        <span translate="global.menu.entities.scholarShipSetUp">Scholarship Setup</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="sisStudentInfo"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/student-info.png" alt=""></div>
                        <span translate="global.menu.entities.sisStudentInfo">sisStudentInfo</span>
                    </div></a>
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    .single-menu {
        padding: 7px 7px;
        background: #fff;
        margin: 7px 0px;
        font-size: 13px;
        transition: .4s;
        border-radius: 2px;
        font-weight: bold;
        color: #777;
        text-align: center;
        width: 115px;
        height: 115px;
    }
    .single-menu:hover{
        box-shadow: 0 3px 18px 0 rgba(0,0,0,0.2);
        background: #4D963B;
        color:#fff;
    }
    .single-menu img {
        height: 35px;
        margin-bottom: 15px;
    }
    .margin-top-30{
        margin-top: 30px;
    }
</style>
