<ul id="ulcolor3" class="nav su_serv_menu nav-list  bs-docs-sidenav no-print">
    <li has-any-authority="ROLE_ADMIN,ROLE_USER,ROLE_INSTITUTE,ROLE_GOVT_STUDENT,ROLE_INSTEMP">
        <a class="" ui-sref="sis" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.dashboard"></span>

        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_USER,ROLE_INSTITUTE,ROLE_GOVT_STUDENT,ROLE_INSTEMP">
        <a class="" ui-sref="sis.dashboardMenu" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.sisDashboardMenu"></span>

        </a>
    </li>

    <li class="panel su_active_li">
        <a  ui-sref="jpReport({module: 'sis'})" has-any-authority="ROLE_ADMIN" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.report">Hr Reports</span>
        </a>
    </li>


    <!--
    <li has-any-authority="ROLE_INSTITUTE">
        <a class="" ui-sref="sisStudentInfo" ui-sref-active="active">
            <i class="fa fa-pencil-square-o"></i>
            <span translate="global.menu.entities.sisStudentInfo"></span>

        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_GOVT_STUDENT">
        <a ui-sref="sisEducationHistory" ui-sref-active="active">
            <i class="fa fa-pencil-square-o"></i>
            <span translate="global.menu.entities.sisEducationHistory"></span>

        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN" ui-sref-active="active">
        <a ui-sref="sisStudentReg" data-toggle="collapse" data-target=".navbar-collapse.in">
            <span class="fa fa-pencil-square-o"></span>
            &#xA0;<span translate="global.menu.entities.sisStudentReg">sisStudentReg</span></a></li>

    </li>

    <li has-any-authority="ROLE_ADMIN" ui-sref-active="active">
        <a ui-sref="sisStudentInfo" data-toggle="collapse" data-target=".navbar-collapse.in">
            <span class="fa fa-pencil-square-o"></span>
            &#xA0;<span translate="global.menu.entities.sisStudentInfo">sisStudentInfo</span></a></li>

    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_GOVT_STUDENT">
        <a class="" ui-sref="jobPlacementInfo" ui-sref-active="active">
            <i class="fa fa-pencil-square-o"></i>
            <span translate="global.menu.entities.jobPlacementInfo">Job Placement Info</span>

        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a class="" ui-sref="jobPostingInfo" ui-sref-active="active">
            <i class="fa fa-pencil-square-o"></i>
            <span translate="global.menu.entities.jobPostingInfo">Job Posting Info</span>

        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_GOVT_STUDENT">
        <a class="" ui-sref="jobSuggestions" ui-sref-active="active">
            <i class="fa fa-pencil-square-o"></i>
            <span translate="global.menu.entities.jobSuggestions">Job Suggestions Info</span>
        </a>
    </li>
-->
</ul>



