<div class="col-md-3 padding-left0 padding-right0">
    <ng-include src="'scripts/app/entities/sis/left-menu.html'"></ng-include>
</div>

<div class="col-md-9 padding0 main-content lbl-dash" ui-view="sisView">

</div>

