<div class="common-dialogue">
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 class="modal-title" id="mySisQuotaLabel" translate="stepApp.sisQuota.home.createOrEditLabel">Create or edit a SisQuota</h4>
    <div class="modal-body">
        <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisQuota.name" for="field_name">Name</label>
                <input type="text" class="form-control" name="name" id="field_name"
                       ng-model="sisQuota.name"
                       required />
                <div ng-show="editForm.name.$invalid">
                    <p class="help-block"
                       ng-show="editForm.name.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisQuota.description" for="field_description">Description</label>
                <input type="text" class="form-control" name="description" id="field_description"
                       ng-model="sisQuota.description"
                    />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisQuota.isFor" for="field_isFor">IsFor</label>

                <input type="radio" data-ng-model="sisQuota.isFor" name="isFor" data-ng-value="true">&nbsp;Student&nbsp;|&nbsp;
                <input type="radio" data-ng-model="sisQuota.isFor" name="isFor" data-ng-value="false">&nbsp;Employee
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisQuota.activeStatus" for="field_activeStatus">ActiveStatus</label>
                <input type="radio" data-ng-model="sisQuota.activeStatus" name="activeStatus" data-ng-value="true">&nbsp;Active&nbsp;|&nbsp;
                <input type="radio" data-ng-model="sisQuota.activeStatus" name="activeStatus" data-ng-value="false">&nbsp;Inactive
            </div>
        </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.history.back()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
</div>
