<div class="common-list">
    <div class="col-md-12">
        <h2 translate="stepApp.sisQuota.home.title">SisQuotas</h2>
    </div>

    <div class="col-sm-12 padding-bt no_padding">
        <div class="col-md-4 padding-bt no_padding">
            <div class="input-group">
                <span class="input-group-addon dlbtn" id="basic-addon1"><i class="fa fa-search"></i></span>
                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
            </div>
        </div>
        <div class="col-md-4 padding-bt">
            <div class="input-group">
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
        </div>
        <div class="col-md-4 text-right no_padding">
            <button class="btn btn-primary dlbtn dlbtn-top" ui-sref="sisQuota.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.sisQuota.home.createLabel">Create a new SisQuota</span>
            </button>
        </div>
    </div>

    <div class="modal fade" id="deleteSisQuotaConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(sisQuota.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.sisQuota.delete.question" translate-values="{id: '{{sisQuota.id}}'}">Are you sure you want to delete this SisQuota?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.id">ID</th>
                <th translate="stepApp.sisQuota.name">Name</th>
                <th translate="stepApp.sisQuota.description">Description</th>
                <th translate="stepApp.sisQuota.isFor">IsFor</th>
                <th translate="stepApp.sisQuota.activeStatus">ActiveStatus</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="sisQuota in sisQuotas | filter:q | itemsPerPage: pageSize" current-page="currentPage">
                <td><a ui-sref="sisQuota.detail({id:sisQuota.id})">{{sisQuota.id}}</a></td>
                <td>{{sisQuota.name}}</td>
                <td>{{sisQuota.description}}</td>
                <td>{{sisQuota.isFor ? 'Student':'Employee'}}</td>
                <td>{{sisQuota.activeStatus ? 'Yes':'No'}}</td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="sisQuota.detail({id:sisQuota.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="sisQuota.edit({id:sisQuota.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(sisQuota.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
