
<div class="common-table">
    <h2><span translate="stepApp.sisQuota.detail.title">SisQuota</span> {{sisQuota.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.sisQuota.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisQuota.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisQuota.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisQuota.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisQuota.isFor">IsFor</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisQuota.isFor ? 'Student':'Employee'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisQuota.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisQuota.activeStatus ? 'Yes':'No'}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
