<div class="common-table">
    <h2><span translate="stepApp.instLevel.detail.title">InstLevel</span> {{instLevel.name}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.instLevel.type">Code</span>
                </td>
                <td>
                    <span class="form-control-static">{{instLevel.type}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.instLevel.code">Code</span>
                </td>
                <td>
                    <span class="form-control-static">{{instLevel.code}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.instLevel.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{instLevel.name}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.instLevel.levelNmae">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{instLevel.instCategory.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instLevel.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{instLevel.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instLevel.pStatus">PStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{instLevel.pStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.instLevel.createdDate">CreatedDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{instLevel.createdDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instLevel.updatedDate">UpdatedDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{instLevel.updatedDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instLevel.createdBy">CreatedBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{instLevel.createdBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instLevel.updatedBy">UpdatedBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{instLevel.updatedBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instLevel.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{instLevel.status}}</span>
                </td>
            </tr>-->
            </tbody>
        </table>
    </div>
    <div class="no-print   text-right" >
        <button type="submit" name="submit" onclick="window.print()" class="btn btn-primary">
            <span class="glyphicon glyphicon-print"></span>&nbsp;<span
            translate="entity.action.print">Print</span>
        </button>
    </div>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
