<div class="col-md-12 common-table">
    <h2><span translate="stepApp.mpoVacancyRole.detail.title">MpoVacancyRole</span></h2>
    <div class="table-responsive">
        <!--<table class="table table-striped">-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td>-->
        <!--<span translate="stepApp.mpoVacancyRole.cmsCurriculum">cmsCurriculum</span>-->
        <!--</td>-->
        <!--<td>-->
        <!--<a class="form-control-static" ui-sref="cmsCurriculum.detail({id:mpoVacancyRole.cmsCurriculum.id})">{{mpoVacancyRole.cmsCurriculum.name}}</a>-->
        <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>-->
        <!--<span translate="stepApp.mpoVacancyRole.totalVacancy">TotalVacancy</span>-->
        <!--</td>-->
        <!--<td>-->
        <!--<span class="form-control-static">{{mpoVacancyRole.totalVacancy}}</span>-->
        <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>-->
        <!--<span translate="stepApp.mpoVacancyRole.crateDate">CrateDate</span>-->
        <!--</td>-->
        <!--<td>-->
        <!--<span class="form-control-static">{{mpoVacancyRole.crateDate | date:'mediumDate'}}</span>-->
        <!--</td>-->
        <!--</tr>-->
        <!--<tr ng-if="mpoVacancyRole.vacancyRoleType === 'Special'">-->
        <!--<td>-->
        <!--<span translate="stepApp.mpoVacancyRole.totalTrade">TotalTrade</span>-->
        <!--</td>-->
        <!--<td>-->
        <!--<span class="form-control-static">{{mpoVacancyRole.totalTrade}}</span>-->
        <!--</td>-->
        <!--</tr>-->

        <!--</tbody>-->
        <!--</table>-->
    </div>
    <div class="col-md-12 padding-tb mpo-vacncy">
        <h2>MPO General Vacancy</h2>
        <div class="panel-body no_padding admin-info">
            <table class="table">
                <thead>
                <tr>
                    <th translate="stepApp.mpoVacancyRoleDesgnations.cmsCurriculum"></th>
                    <th translate="stepApp.mpoVacancyRoleDesgnations.cmsSubject"></th>
                    <th translate="stepApp.mpoVacancyRoleDesgnations.designationSetup"></th>
                    <th translate="stepApp.mpoVacancyRoleDesgnations.totalPost"></th>
                    <th translate="stepApp.mpoVacancyRoleDesgnations.filledUpVacancy"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="vacancy in generalVacancyList track by vacancy.id ">
                    <td>{{vacancy.cmsCurriculum.name}}</td>
                    <td>{{vacancy.cmsSubject.name}}</td>
                    <td>{{vacancy.designationSetup.designationInfo.designationName}}</td>
                    <td>{{vacancy.totalVacancy}}</td>
                    <td>{{vacancy.filledUpVacancy}}</td>
                </tr>
                </tbody>
            </table>
            <!--<div class="form-group col-md-3">
                <label translate="stepApp.mpoVacancyRoleDesgnations.cmsCurriculum"
                       for="field_cmsSubject">Curriculum</label>&nbsp;:
                <label>{{vacancy.cmsCurriculum.name}}</label>
            </div>

            <div class="form-group col-md-4">
                <label translate="stepApp.mpoVacancyRoleDesgnations.cmsSubject"
                       for="field_cmsSubject">cmsSubject</label>&nbsp;:
                <label>{{vacancy.cmsSubject.name}}</label>
            </div>

            <div class="form-group col-md-4">
                <label translate="stepApp.mpoVacancyRoleDesgnations.designationSetup" for="field_designationSetup">Hr
                    Designation Setup</label>&nbsp;:
                <label>{{vacancy.designationSetup.designationInfo.designationName}}</label>
            </div>

            <div class="form-group col-md-4">
                <label translate="stepApp.mpoVacancyRoleDesgnations.totalPost" for="field_totalPost">TotalPost</label>&nbsp;:
                <label>{{vacancy.totalVacancy}}</label>

            </div>-->
        </div>

        <div class="form-group col-md-4 boundary">
            <label translate="stepApp.mpoVacancyRoleDesgnations.totalVacancy"></label>&nbsp;:{{totalGeneralVacancy}}

        </div>

    </div>

    <div class="col-md-12 padding-tb mpo-vacncy">
        <h2>MPO Trade Vacancy</h2>
        <div class="panel-body no_padding admin-info">

            <table class="table">
                <thead>
                <tr>
                    <th translate="stepApp.mpoVacancyRoleDesgnations.cmsCurriculum"></th>
                    <th translate="stepApp.mpoVacancyRoleTrade.cmsTrade"></th>
                    <th translate="stepApp.mpoVacancyRoleDesgnations.designationSetup"></th>
                    <th translate="stepApp.mpoVacancyRoleDesgnations.totalPost"></th>
                    <th translate="stepApp.mpoVacancyRoleDesgnations.filledUpVacancy"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tradeVacancy in tradeVacancyList track by tradeVacancy.id ">
                    <th>{{tradeVacancy.cmsCurriculum.name}}</th>
                    <th>{{tradeVacancy.cmsTrade.name}}</th>
                    <th>{{tradeVacancy.designationSetup.designationInfo.designationName}}</th>
                    <th>{{tradeVacancy.totalVacancy}}</th>
                    <td>{{tradeVacancy.filledUpVacancy}}</td>
                </tr>
                </tbody>
            </table>


            <!--<div class="form-group col-md-4">
                <label translate="stepApp.mpoVacancyRoleDesgnations.cmsCurriculum" for="field_cmsCurriculum">Curriculum</label>&nbsp;:
                <label>{{tradeVacancy.cmsCurriculum.name}}</label>
            </div>
            <div class="form-group col-md-4">
                <label translate="stepApp.mpoVacancyRoleTrade.cmsTrade" for="field_cmsTrade">CMS Trade</label>&nbsp;:
                <label>{{tradeVacancy.cmsTrade.name}}</label>
            </div>
            <div class="form-group col-md-4">
                <label translate="stepApp.mpoVacancyRoleDesgnations.designationSetup" for="field_designationSetup">Hr Designation Setup</label>&nbsp;:
                <label>{{tradeVacancy.designationSetup.designationInfo.designationName}}</label>
            </div>
            <div class="form-group col-md-4">
                <label translate="stepApp.mpoVacancyRoleDesgnations.totalPost" for="field_totalPost">TotalPost</label>&nbsp;:
                <label>{{tradeVacancy.totalVacancy}}</label>
            </div>-->
        </div>
    </div>
    <div class="form-group col-md-4 boundary">
        <label translate="stepApp.mpoVacancyRoleDesgnations.totalTradeVacancy"></label>&nbsp;:{{totalTradeVacancy}}

    </div>
    <div class="col-md-12">
        <button type="submit"
                onclick="window.history.back()"
                class="btn btn-info no-print">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
        </button>
    </div>
</div>

<!--<div class="col-md-12 common-list">-->
<!--<h2 translate="stepApp.instVacancy.home.title">InstVacancys</h2>-->
<!--&lt;!&ndash;<jh-alert></jh-alert>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="">-->
<!--<div class="col-md-12 no_padding padding-bt no-print">-->
<!--<div class="col-md-8 no_padding">-->
<!--<form name="searchForm" class="form-inline">-->
<!--<div class="form-group">-->
<!--<input type="text" class="form-control" ng-model="searchQuery" id="searchQuery">-->
<!--</div>-->
<!--<button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span>-->
<!--</button>-->
<!--</form>-->
<!--</div>-->
<!--<div class="col-md-4 no_padding text-right">-->
<!--<button has-any-authority="ROLE_INSTITUTE"  class="btn btn-primary " ui-sref="instVacancy.new">-->
<!--<span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.instVacancy.home.createLabel">Create a new InstVacancy</span>-->
<!--</button>-->

<!--<button has-any-authority="ROLE_ADMIN"  class="btn btn-primary " ui-sref="instVacancy.add">-->
<!--<span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.instVacancy.home.createLabel">Create a new InstVacancy</span>-->
<!--</button>-->
<!--</div>-->

<!--</div>-->
<!--</div>&ndash;&gt;-->
<!--<div class="col-md-12 padding-bt">-->
<!--<div class="col-xs-4 no_padding">-->
<!--<input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">-->
<!--</div>-->
<!--<div class="col-xs-4">-->
<!--<input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">-->
<!--</div>-->
<!--<div class="col-md-4 text-right  no_padding">-->
<!--&lt;!&ndash;<button has-any-authority="ROLE_INSTITUTE"  class="btn btn-primary " ui-sref="instVacancy.new">-->
<!--<span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.instVacancy.home.createLabel">Create a new InstVacancy</span>-->
<!--</button>-->
<!--&ndash;&gt;-->
<!--<button has-any-authority="ROLE_ADMIN"  class="btn btn-primary " ui-sref="instVacancy.add">-->
<!--<span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.instVacancy.home.createLabel">Create a new InstVacancy</span>-->
<!--</button>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-12 table-responsive no_padding">-->
<!--<table class="table table-striped">-->
<!--<thead>-->
<!--<tr>-->

<!--<th translate="stepApp.instVacancy.empType">EmpType</th>-->
<!--<th translate="stepApp.instVacancy.totalVacancy">TotalVacancy</th>-->
<!--<th translate="stepApp.instVacancy.filledUpVacancy">FilledUpVacancy</th>-->
<!--&lt;!&ndash;<th translate="stepApp.instVacancy.institute">institute</th>&ndash;&gt;-->
<!--<th translate="stepApp.instVacancy.cmsTrade">cmsTrade</th>-->
<!--<th translate="stepApp.instVacancy.cmsSubject">cmsSubject</th>-->
<!--<th translate="stepApp.instVacancy.instEmplDesignation">instEmplDesignation</th>-->
<!--<th class="no-print text-center" translate="entity.action.action"></th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--&lt;!&ndash; <tr ng-repeat="instVacancy in instVacancys track by instVacancy.id">&ndash;&gt;-->
<!--<tr dir-paginate="instVacancy in instVacancys | filter:q | itemsPerPage: pageSize track by instVacancy.id" current-page="currentPage">-->
<!--<td translate="{{'stepApp.EmpTypes.' + instVacancy.empType}}">{{instVacancy.empType}}</td>-->
<!--<td>{{instVacancy.totalVacancy}}</td>-->
<!--<td>{{instVacancy.filledUpVacancy == null ? '0' : instVacancy.filledUpVacancy}}</td>-->
<!--&lt;!&ndash; <td>-->
<!--<a ui-sref="institute.detail({id:instVacancy.institute.id})">{{instVacancy.institute.name}}</a>-->
<!--</td>&ndash;&gt;-->
<!--<td>-->
<!--<a ui-sref="cmsTrade.detail({id:instVacancy.cmsTrade.id})">{{instVacancy.cmsTrade.name}}</a>-->
<!--</td>-->
<!--<td>-->
<!--<a ui-sref="cmsSubject.detail({id:instVacancy.cmsSubject.id})">{{instVacancy.cmsSubject.name}}</a>-->
<!--</td>-->
<!--<td>-->
<!--<a ui-sref="instEmplDesignation.detail({id:instVacancy.instEmplDesignation.id})">{{instVacancy.instEmplDesignation.name}}</a>-->
<!--</td>-->
<!--<td class="text-right no-print">-->
<!--&lt;!&ndash;<button type="submit"-->
<!--ui-sref="instVacancy.detail({id:instVacancy.id})"-->
<!--class="btn btn-info btn-sm">-->
<!--<span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>-->
<!--</button>&ndash;&gt;-->
<!--&lt;!&ndash;<button type="submit"-->
<!--ui-sref="instVacancy.edit({id:instVacancy.id})"-->
<!--class="btn btn-primary btn-sm">-->
<!--<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>-->
<!--</button>&ndash;&gt;-->
<!--&lt;!&ndash; <button type="submit"-->
<!--ui-sref="instVacancy.delete({id:instVacancy.id})"-->
<!--class="btn btn-danger btn-sm">-->
<!--<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>-->
<!--</button>&ndash;&gt;-->
<!--</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--<nav>-->
<!--<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>-->
<!--</nav>-->
<!--</div>-->
<!--<button type="submit"-->
<!--onclick="window.history.back()"-->
<!--class="btn btn-info no-print">-->
<!--<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>-->
<!--</button>-->
<!--<div class="col-md-12 no-print text-right">-->
<!--<button type="submit" class="btn btn-sm btn-primary no-print" onclick="window.print()" >-->
<!--<i class="fa fa-print"></i>&nbsp;-->
<!--<span translate="entity.action.print" >Print</span>-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
