<div class="col-sm-12 common-list padding-right0 padding-left5">
    <h2 translate="stepApp.hrClassInfo.home.title">HrClassInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrClassInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.hrClassInfo.home.createLabel">Create a new HrClassInfo</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <th><span translate="global.field.id">ID</span></th>
                <th><span translate="stepApp.hrClassInfo.classCode">ClassCode</span></th>
                <th><span translate="stepApp.hrClassInfo.className">ClassName</span></th>
                <th><span translate="stepApp.hrClassInfo.classDetail">ClassDetail</span></th>
                <th><span translate="stepApp.hrClassInfo.activeStatus">ActiveStatus</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrClassInfo in hrClassInfos | filter:q | itemsPerPage: pageSize track by hrClassInfo.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <td><a ui-sref="hrClassInfo.detail({id:hrClassInfo.id})">{{hrClassInfo.id}}</a></td>
                <td>{{hrClassInfo.classCode}}</td>
                <td>{{hrClassInfo.className}}</td>
                <td>{{hrClassInfo.classDetail}}</td>
                <td>{{hrClassInfo.activeStatus ? 'Active' : 'Inactive'}}</td>
                <td class="hrm-button text-right no-print">
                    <button type="submit"
                            ui-sref="hrClassInfo.detail({id:hrClassInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="hrClassInfo.edit({id:hrClassInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrClassInfo.delete({id:hrClassInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
