<div class="col-md-12 common-dialogue padding-right0 padding-left5">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="hrClassInfo.id == null" class="modal-title" id="myHrClassInfoLabel"
            translate="stepApp.hrClassInfo.home.createOrEditLabel">Create or edit a HrClassInfo</h4>
        <h4 ng-show="hrClassInfo.id != null" class="modal-title" id="myHrClassInfoLabel"
            translate="stepApp.hrClassInfo.home.EditLabel">Create or edit a HrClassInfo</h4>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrClassInfo.classCode" for="field_classCode">ClassCode</label>
                        <input type="text" class="form-control" name="classCode" id="field_classCode"
                               ng-model="hrClassInfo.classCode"
                               ng-remote-validate="/api/hrClassInfos/checkcode/"
                               ng-remote-method="GET"
                               ng-remote-throttle="500"
                               only-letters-and-number-and-dash-and-slash minlength="4" maxlength="100"
                               required/>
                        <span class="message" ng-show="editForm.classCode.$pending">validating...</span>
                        <div ng-show="editForm.classCode.$invalid">
                            <p class="help-block"
                               ng-show="editForm.classCode.$error.ngRemoteValidate">
                                Class code already exists
                            </p>
                            <small style="color:red;font-size: 10px;" ng-show="editForm.classCode.$error.minlength">
                                This field should be at least 4 character
                            </small>
                            <small style="color:red;font-size: 10px;" ng-show="editForm.classCode.$error.maxlength">
                                This field should not longer than 100 character
                            </small>
                        </div>
                        <div ng-show="editForm.classCode.$invalid">
                            <p class="help-block"
                               ng-show="editForm.classCode.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrClassInfo.className" for="field_className">ClassName</label>
                        <input type="text" class="form-control" name="className" id="field_className"
                               ng-model="hrClassInfo.className"
                               ng-remote-validate="/api/hrClassInfos/checkname/"
                               ng-remote-method="GET"
                               ng-remote-throttle="500"
                               minlength="4" maxlength="100" only-letters
                               required/>
                        <span class="message" ng-show="editForm.className.$pending">validating...</span>
                        <div ng-show="editForm.className.$invalid">
                            <p class="help-block"
                               ng-show="editForm.className.$error.ngRemoteValidate">
                                Class name already exists
                            </p>
                            <small style="color:red;font-size: 10px;" ng-show="editForm.className.$error.minlength">
                                This field should be at least 4 character
                            </small>
                            <small style="color:red;font-size: 10px;" ng-show="editForm.className.$error.maxlength">
                                This field should not longer than 100 character
                            </small>
                        </div>
                        <div ng-show="editForm.className.$invalid">
                            <p class="help-block"
                               ng-show="editForm.className.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrClassInfo.classDetail"
                               for="field_classDetail">ClassDetail</label>
                    <textarea class="form-control" name="classDetail" id="field_classDetail"
                              ng-model="hrClassInfo.classDetail"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrClassInfo.activeStatus">ActiveStatus</label>
                <span class="form-control">
                    <input type="radio" data-ng-model="hrClassInfo.activeStatus" name="activeStatus"
                           data-ng-value="true">&nbsp;Active&nbsp;|&nbsp;
                    <input type="radio" data-ng-model="hrClassInfo.activeStatus" name="activeStatus"
                           data-ng-value="false">&nbsp;Inactive
                </span>
                        <div ng-show="editForm.activeStatus.$invalid">
                            <p class="help-block"
                               ng-show="editForm.activeStatus.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    onclick="window.history.back()">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="hrClassInfo.id == null" translate="entity.action.save">Save</span>
                <span ng-show="hrClassInfo.id != null" translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>
