<div class="col-md-12 common-table padding-left5 padding-right0">
<h2><span translate="stepApp.hrClassInfo.detail.title">HrClassInfo</span> - {{hrClassInfo.className}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrClassInfo.classCode">ClassCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrClassInfo.classCode}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrClassInfo.className">ClassName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrClassInfo.className}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrClassInfo.classDetail">ClassDetail</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrClassInfo.classDetail}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrClassInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrClassInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrClassInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrClassInfo.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrClassInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrClassInfo.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrClassInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrClassInfo.updateDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrClassInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrClassInfo.updateBy}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
</div>
