<div class="col-md-12 common-table padding5 ">
    <h2><span translate="stepApp.securityConfigurationTable.detail.title">SecurityConfigurationTable</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.securityConfigurationTable.firstLoginPwdChange">FirstLoginPwdChange</span>
                </td>
                <td>
                    <span class="form-control-static">{{securityConfigurationTable.firstLoginPwdChange}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.securityConfigurationTable.maxInvPwdAttempt">MaxInvPwdAttempt</span>
                </td>
                <td>
                    <span class="form-control-static">{{securityConfigurationTable.maxInvPwdAttempt}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.securityConfigurationTable.maxPwdRepatation">MaxPwdRepatation</span>
                </td>
                <td>
                    <span class="form-control-static">{{securityConfigurationTable.maxPwdRepatation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.securityConfigurationTable.noOfDatePwdExp">NoOfDatePwdExp</span>
                </td>
                <td>
                    <span class="form-control-static">{{securityConfigurationTable.noOfDatePwdExp}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.securityConfigurationTable.reqPwdLen">ReqPwdLen</span>
                </td>
                <td>
                    <span class="form-control-static">{{securityConfigurationTable.reqPwdLen}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.securityConfigurationTable.reqPwdNalphaChar">ReqPwdNalphaChar</span>
                </td>
                <td>
                    <span class="form-control-static">{{securityConfigurationTable.reqPwdNalphaChar}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.securityConfigurationTable.pwdNalphaChar">PwdNalphaChar</span>
                </td>
                <td>
                    <span class="form-control-static">{{securityConfigurationTable.pwdNalphaChar}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.securityConfigurationTable.userNameLength">UserNameLength</span>
                </td>
                <td>
                    <span class="form-control-static">{{securityConfigurationTable.userNameLength}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.securityConfigurationTable.userNameNalphaAllow">UserNameNalphaAllow</span>
                </td>
                <td>
                    <span class="form-control-static">{{securityConfigurationTable.userNameNalphaAllow}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.securityConfigurationTable.userNameNalphaCharAllow">UserNameNalphaCharAllow</span>
                </td>
                <td>
                    <span class="form-control-static">{{securityConfigurationTable.userNameNalphaCharAllow}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.securityConfigurationTable.userNameNalphaChar">UserNameNalphaChar</span>
                </td>
                <td>
                    <span class="form-control-static">{{securityConfigurationTable.userNameNalphaChar}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
