<div class="col-md-12 common-dialogue padding5">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <div>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    ng-click="clear()">&times;
            </button>
            <h4 class="modal-title" id="mySecurityConfigurationTableLabel"
                translate="stepApp.securityConfigurationTable.home.createOrEditLabel">Create or edit a
                SecurityConfigurationTable</h4>
        </div>
        <div class="modal-body col-md-12 padding-tb">
            <!--<jh-alert-error></jh-alert-error>
            <div class="form-group col-md-6">
                <label for="id" translate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id"
                        ng-model="securityConfigurationTable.id" readonly />
            </div>-->
            <div class="form-group col-md-6">
                <label translate="stepApp.securityConfigurationTable.firstLoginPwdChange"
                       for="field_firstLoginPwdChange">FirstLoginPwdChange</label>
                <input type="checkbox" class="form-control" name="firstLoginPwdChange" id="field_firstLoginPwdChange"
                       ng-model="securityConfigurationTable.firstLoginPwdChange"
                />
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.securityConfigurationTable.maxInvPwdAttempt" for="field_maxInvPwdAttempt">MaxInvPwdAttempt</label>
                <input type="number" class="form-control" name="maxInvPwdAttempt" id="field_maxInvPwdAttempt"
                       ng-model="securityConfigurationTable.maxInvPwdAttempt"
                />
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.securityConfigurationTable.maxPwdRepatation" for="field_maxPwdRepatation">MaxPwdRepatation</label>
                <input type="number" class="form-control" name="maxPwdRepatation" id="field_maxPwdRepatation"
                       ng-model="securityConfigurationTable.maxPwdRepatation"
                />
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.securityConfigurationTable.noOfDatePwdExp" for="field_noOfDatePwdExp">NoOfDatePwdExp</label>
                <input type="number" class="form-control" name="noOfDatePwdExp" id="field_noOfDatePwdExp"
                       ng-model="securityConfigurationTable.noOfDatePwdExp"
                />
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.securityConfigurationTable.reqPwdLen" for="field_reqPwdLen">ReqPwdLen</label>
                <input type="number" class="form-control" name="reqPwdLen" id="field_reqPwdLen"
                       ng-model="securityConfigurationTable.reqPwdLen"
                />
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.securityConfigurationTable.reqPwdNalphaChar" for="field_reqPwdNalphaChar">ReqPwdNalphaChar</label>
                <input type="number" class="form-control" name="reqPwdNalphaChar" id="field_reqPwdNalphaChar"
                       ng-model="securityConfigurationTable.reqPwdNalphaChar"
                />
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.securityConfigurationTable.pwdNalphaChar" for="field_pwdNalphaChar">PwdNalphaChar</label>
                <input type="text" class="form-control" name="pwdNalphaChar" id="field_pwdNalphaChar"
                       ng-model="securityConfigurationTable.pwdNalphaChar"
                />
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.securityConfigurationTable.userNameLength" for="field_userNameLength">UserNameLength</label>
                <input type="number" class="form-control" name="userNameLength" id="field_userNameLength"
                       ng-model="securityConfigurationTable.userNameLength"
                />
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.securityConfigurationTable.userNameNalphaAllow"
                       for="field_userNameNalphaAllow">UserNameNalphaAllow</label>
                <input type="checkbox" class="form-control" name="userNameNalphaAllow" id="field_userNameNalphaAllow"
                       ng-model="securityConfigurationTable.userNameNalphaAllow"
                />
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.securityConfigurationTable.userNameNalphaCharAllow"
                       for="field_userNameNalphaCharAllow">UserNameNalphaCharAllow</label>
                <input type="number" class="form-control" name="userNameNalphaCharAllow"
                       id="field_userNameNalphaCharAllow"
                       ng-model="securityConfigurationTable.userNameNalphaCharAllow"
                />
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.securityConfigurationTable.userNameNalphaChar" for="field_userNameNalphaChar">UserNameNalphaChar</label>
                <input type="text" class="form-control" name="userNameNalphaChar" id="field_userNameNalphaChar"
                       ng-model="securityConfigurationTable.userNameNalphaChar"
                />
            </div>

        </div>
        <div class="modal-footer col-md-12 padding-bt">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
</div>
