<div class="col-md-12 common-list padding5">
    <h2 translate="stepApp.securityConfigurationTable.home.title">SecurityConfigurationTables</h2>
    <div class="col-md-12 padding-tb padding0">
        <div class="col-md-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-md-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-md-4 col-xs-6 no_padding text-right ">
            <button class="btn btn-primary" ui-sref="securityConfigurationTable.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.securityConfigurationTable.home.createLabel">Create a new SecurityConfigurationTable</span>
            </button>
        </div>

        <div class="modal fade" id="deleteSecurityConfigurationTableConfirmation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="deleteForm" ng-submit="confirmDelete(securityConfigurationTable.id)">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;
                            </button>
                            <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                        </div>
                        <div class="modal-body">
                            <p translate="stepApp.securityConfigurationTable.delete.question"
                               translate-values="{id: '{{securityConfigurationTable.id}}'}">Are you sure you want to
                                delete this SecurityConfigurationTable?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                translate="entity.action.cancel">Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                                translate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="table-responsive col-md-12 no_padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.securityConfigurationTable.firstLoginPwdChange">FirstLoginPwdChange</th>
                    <th translate="stepApp.securityConfigurationTable.maxInvPwdAttempt">MaxInvPwdAttempt</th>
                    <th translate="stepApp.securityConfigurationTable.maxPwdRepatation">MaxPwdRepatation</th>
                    <th translate="stepApp.securityConfigurationTable.noOfDatePwdExp">NoOfDatePwdExp</th>
                    <th translate="stepApp.securityConfigurationTable.reqPwdLen">ReqPwdLen</th>
                    <th translate="stepApp.securityConfigurationTable.reqPwdNalphaChar">ReqPwdNalphaChar</th>
                    <th translate="stepApp.securityConfigurationTable.pwdNalphaChar">PwdNalphaChar</th>
                    <th translate="stepApp.securityConfigurationTable.userNameLength">UserNameLength</th>
                    <th translate="stepApp.securityConfigurationTable.userNameNalphaAllow">UserNameNalphaAllow</th>
                    <th translate="stepApp.securityConfigurationTable.userNameNalphaCharAllow">UserNameNalphaCharAllow
                    </th>
                    <th translate="stepApp.securityConfigurationTable.userNameNalphaChar">UserNameNalphaChar</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="securityConfigurationTable in securityConfigurationTables | filter:q | itemsPerPage: pageSize track by securityConfigurationTable.id"
                    current-page="currentPage">
                    <td><a ui-sref="securityConfigurationTable.detail({id:securityConfigurationTable.id})">{{securityConfigurationTable.id}}</a>
                    </td>
                    <td>{{securityConfigurationTable.firstLoginPwdChange}}</td>
                    <td>{{securityConfigurationTable.maxInvPwdAttempt}}</td>
                    <td>{{securityConfigurationTable.maxPwdRepatation}}</td>
                    <td>{{securityConfigurationTable.noOfDatePwdExp}}</td>
                    <td>{{securityConfigurationTable.reqPwdLen}}</td>
                    <td>{{securityConfigurationTable.reqPwdNalphaChar}}</td>
                    <td>{{securityConfigurationTable.pwdNalphaChar}}</td>
                    <td>{{securityConfigurationTable.userNameLength}}</td>
                    <td>{{securityConfigurationTable.userNameNalphaAllow}}</td>
                    <td>{{securityConfigurationTable.userNameNalphaCharAllow}}</td>
                    <td>{{securityConfigurationTable.userNameNalphaChar}}</td>
                    <td class="text-right no-print">
                        <button type="submit"
                                ui-sref="securityConfigurationTable.detail({id:securityConfigurationTable.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                            translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="securityConfigurationTable.edit({id:securityConfigurationTable.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(securityConfigurationTable.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav>
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                         template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
            </nav>
        </div>
    </div>
</div>
