<div class="col-md-12 common-table padding-left5 padding-right0">
<h2><span translate="stepApp.hrProjectInfo.detail.title">HrProjectInfo</span> of {{hrProjectInfo.projectName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrProjectInfo.projectName">ProjectName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.projectName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrProjectInfo.projectDetail">ProjectDetail</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.projectDetail}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrProjectInfo.directorName">DirectorName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.directorName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrProjectInfo.startDate">StartDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.startDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrProjectInfo.endDate">EndDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.endDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrProjectInfo.fundSource">fundSource</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="miscTypeSetup.detail({id:hrProjectInfo.fundSource.id})">{{hrProjectInfo.fundSource.typeName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrProjectInfo.projectValue">ProjectValue</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.projectValue}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrProjectInfo.projectStatus">ProjectStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.projectStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrProjectInfo.joiningDatePd">joiningDatePd</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.joiningDatePd}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrProjectInfo.phoneNumber">phoneNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.phoneNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrProjectInfo.emailAddress">emailAddress</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.emailAddress}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrProjectInfo.projectLocation">projectLocation</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.projectLocation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrProjectInfo.estTotalCostOriginal">estTotalCostOriginal</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.estTotalCostOriginal}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrProjectInfo.estGobCostOriginal">estGobCostOriginal</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.estGobCostOriginal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrProjectInfo.estPaCostOriginal">estPaCostOriginal</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.estPaCostOriginal}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrProjectInfo.estTotalCostRevised">estTotalCostRevised</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.estTotalCostRevised}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrProjectInfo.estGobCostRevised">estGobCostRevised</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.estGobCostRevised}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrProjectInfo.estPaCostRevised">estPaCostRevised</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.estPaCostRevised}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrProjectInfo.cumulProgressLastJune">cumulProgressLastJune</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.cumulProgressLastJune}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrProjectInfo.currentYearTotalAlloc">currentYearTotalAlloc</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.currentYearTotalAlloc}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrProjectInfo.currentYearGobAlloc">currentYearGobAlloc</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.currentYearGobAlloc}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrProjectInfo.currentYearPaAlloc">currentYearPaAlloc</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.currentYearPaAlloc}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrProjectInfo.currentMonthTotalProg">currentMonthTotalProg</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.currentMonthTotalProg}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrProjectInfo.currentMonthGobProg">currentMonthGobProg</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.currentMonthGobProg}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrProjectInfo.currentMonthPaProg">currentMonthPaProg</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.currentMonthPaProg}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrProjectInfo.currentYearProgress">currentYearProgress</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.currentYearProgress}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrProjectInfo.currentYearRelease">currentYearRelease</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.currentYearRelease}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrProjectInfo.projectProgressTotal">projectProgressTotal</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.projectProgressTotal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrProjectInfo.projectProgressRevenue">projectProgressRevenue</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.projectProgressRevenue}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrProjectInfo.projectProgressCapital">projectProgressCapital</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.projectProgressCapital}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrProjectInfo.projectManpower">projectManpower</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.projectManpower}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrProjectInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.activeStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrProjectInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrProjectInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrProjectInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.updateDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrProjectInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrProjectInfo.updateBy}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
</div>
