<form name="editForm" role="form" class="form-vertical panel panel-primary" novalidate ng-submit="save()">
    <div class="panel-heading">
        <h4 translate="stepApp.instInfraInfo.home.createOrEditLabel">Create or edit a InstInfraInfo</h4>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 translate="stepApp.instBuilding.home.createOrEditLabel"></h3>
            </div>
            <div class="panel-body">
                <div class="form-group col-md-6">
                    <label translate="stepApp.instBuilding.totalArea" for="field_totalArea">Total Area</label>
                    <input type="text" class="form-control" name="totalArea" id="field_totalArea"
                           ng-model="instBuilding.totalArea"
                           required only-numbers/>
                    <div ng-show="editForm.totalArea.$invalid">
                        <p class="help-block"
                           ng-show="editForm.totalArea.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instBuilding.totalRoom" for="field_totalRoom">Number of Building</label>
                    <input type="number" class="form-control" name="totalRoom" id="field_totalRoom"
                           ng-model="instBuilding.totalRoom" min="0"
                           required only-letters-and-numbers/>
                    <div ng-show="editForm.totalRoom.$invalid">
                        <p class="help-block"
                           ng-show="editForm.totalRoom.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.totalRoom.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instBuilding.classRoom" for="field_classRoom">Total Number of Classroom</label>
                    <input type="number" class="form-control" name="classRoom" id="field_classRoom"
                           ng-model="instBuilding.classRoom" min="0"
                           required />
                    <div ng-show="editForm.classRoom.$invalid">
                        <p class="help-block"
                           ng-show="editForm.classRoom.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.classRoom.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instBuilding.officeRoom" for="field_officeRoom">OfficeRoom</label>
                    <input type="number" class="form-control" name="officeRoom" id="field_officeRoom"
                           ng-model="instBuilding.officeRoom" min="0"
                           required />
                    <div ng-show="editForm.officeRoom.$invalid">
                        <p class="help-block"
                           ng-show="editForm.officeRoom.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.officeRoom.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instBuilding.fBathroom" for="field_fBathroom">Number Female's Bathroom</label>
                    <input type="number" class="form-control" name="officeRoom" id="field_fBathroom"
                           ng-model="instBuilding.fBathroom" min="0"
                           required />
                    <div ng-show="editForm.fBathroom.$invalid">
                        <p class="help-block"
                           ng-show="editForm.fBathroom.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.fBathroom.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instBuilding.mBathroom" for="field_officeRoom">Number Male's Bathroom</label>
                    <input type="number" class="form-control" name="mBathroom" id="field_mBathroom"
                           ng-model="instBuilding.mBathroom" min="0"
                           required />
                    <div ng-show="editForm.mBathroom.$invalid">
                        <p class="help-block"
                           ng-show="editForm.mBathroom.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.mBathroom.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instBuilding.otherRoom" for="field_otherRoom">Number of  Office Room</label>
                    <input type="number" class="form-control" name="otherRoom" id="field_otherRoom"
                           ng-model="instBuilding.otherRoom" min="0"
                    />
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3  translate="stepApp.instLand.home.createOrEditLabel"></h3>
            </div>
            <div class="panel-body">
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.mouja" for="field_mouja">Mouja</label>
                    <input type="text" class="form-control" name="mouja" id="field_mouja"
                           ng-model="instLand.mouja"
                           required />
                    <div ng-show="editForm.mouja.$invalid">
                        <p class="help-block"
                           ng-show="editForm.mouja.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.jlNo" for="field_jlNo">Jl No</label>
                    <input type="text" class="form-control" name="jlNo" id="field_jlNo"
                           ng-model="instLand.jlNo" min="1"
                           required />
                    <div ng-show="editForm.jlNo.$invalid">
                        <p class="help-block"
                           ng-show="editForm.jlNo.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.ledgerNo" for="field_ledgerNo">Ledger No</label>
                    <input type="number" class="form-control" name="ledgerNo" id="field_ledgerNo"
                           ng-model="instLand.ledgerNo" min="1"
                           required/>
                    <div ng-show="editForm.ledgerNo.$invalid">
                        <p class="help-block"
                           ng-show="editForm.ledgerNo.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.ledgerNo.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.dagNo" for="field_dagNo">Dag No</label>
                    <input type="text" class="form-control" name="dagNo" id="field_dagNo"
                           ng-model="instLand.dagNo" min="1"
                           required />
                    <div ng-show="editForm.dagNo.$invalid">
                        <p class="help-block"
                           ng-show="editForm.dagNo.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.amountOfLand" for="field_amountOfLand">Amount Of Land</label>
                    <input type="number" class="form-control" name="amountOfLand" id="field_amountOfLand"
                           ng-model="instLand.amountOfLand" min="1"
                           required />
                    <div ng-show="editForm.amountOfLand.$invalid">
                        <p class="help-block"
                           ng-show="editForm.amountOfLand.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.amountOfLand.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.landRegistrationLedgerNo" for="field_landRegistrationLedgerNo">Land Registration Ledger No</label>
                    <input type="text" class="form-control" name="landRegistrationLedgerNo" id="field_landRegistrationLedgerNo"
                           ng-model="instLand.landRegistrationLedgerNo" min="1"
                           required />
                    <div ng-show="editForm.landRegistrationLedgerNo.$invalid">
                        <p class="help-block"
                           ng-show="editForm.landRegistrationLedgerNo.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">

                    <label translate="stepApp.instLand.landRegistrationDate" for="field_landRegistrationDate">LandRegistrationDate</label>
                    <input type="text" class="form-control" name="landRegistrationDate" id="field_landRegistrationDate"
                           ng-model="instLand.landRegistrationDate"
                           required
                           datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.landRegistrationDate"
                           datepicker-options="calendar.dateOptions" close-text="Close" ng-click="calendar.open($event, 'landRegistrationDate')" />
                    <div ng-show="editForm.landRegistrationDate.$invalid">
                        <p class="help-block"
                           ng-show="editForm.landRegistrationDate.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.lastTaxPaymentDate" for="field_lastTaxPaymentDate">Last Tax Payment Date</label>
                    <input type="text" class="form-control" name="lastTaxPaymentDate" id="field_lastTaxPaymentDate"
                           ng-model="instLand.lastTaxPaymentDate"

                           required
                           datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.lastTaxPaymentDate"
                           datepicker-options="calendar.dateOptions" close-text="Close" ng-click="calendar.open($event, 'lastTaxPaymentDate')"
                        />


                    <div ng-show="editForm.lastTaxPaymentDate.$invalid">
                        <p class="help-block"
                           ng-show="editForm.lastTaxPaymentDate.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.boundaryNorth" for="field_boundaryNorth">Boundary North</label>
                    <input type="number" class="form-control" name="boundaryNorth" id="field_boundaryNorth"
                           ng-model="instLand.boundaryNorth" min="1"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.boundarySouth" for="field_boundarySouth">Boundary South</label>
                    <input type="number" class="form-control" name="boundarySouth" id="field_boundarySouth"
                           ng-model="instLand.boundarySouth" min="1"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.boundaryEast" for="field_boundaryEast">Boundary East</label>
                    <input type="number" class="form-control" name="boundaryEast" id="field_boundaryEast"
                           ng-model="instLand.boundaryEast" min="1"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.boundaryWest" for="field_boundaryWest">Boundary West</label>
                    <input type="number" class="form-control" name="boundaryWest" id="field_boundaryWest"
                           ng-model="instLand.boundaryWest" min="1"
                    />
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" class="btn pull-left"  data-dismiss="modal" onclick="window.history.back()">
            <span class=" glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back">Back</span>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
