<div class="col-sm-12 no_padding  padding0">
    <div class="common-table">
        <h2><span translate="stepApp.umracSubmoduleSetup.detail.title">UmracSubmoduleSetup</span>
        </h2>

        <div class="table-responsive">
            <table class="table table-striped bteb-table">
                <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.umracSubmoduleSetup.subModuleId">SubModuleId</span>
                    </td>
                    <td>
                        <span class="form-control-static">&nbsp;: &nbsp;{{umracSubmoduleSetup.subModuleId}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.umracSubmoduleSetup.subModuleName">SubModuleName</span>
                    </td>
                    <td>
                        <span class="form-control-static">&nbsp;: &nbsp;{{umracSubmoduleSetup.subModuleName}}</span>
                    </td>
                </tr>
                <!--<tr>-->
                    <!--<td>-->
                        <!--<span translate="stepApp.umracSubmoduleSetup.subModuleUrl">SubModuleUrl</span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<span class="form-control-static">&nbsp;: &nbsp;{{umracSubmoduleSetup.subModuleUrl}}</span>-->
                    <!--</td>-->
                   <!---->
                <!--</tr>-->
                <tr>
                    <td>
                        <span translate="stepApp.umracSubmoduleSetup.status">Status</span>
                    </td>
                    <td>
                        <span class="form-control-static">&nbsp;: &nbsp;{{umracSubmoduleSetup.status}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.umracSubmoduleSetup.description">Description</span>
                    </td>
                    <td>
                        <span class="form-control-static">&nbsp;: &nbsp;{{umracSubmoduleSetup.description}}</span>
                    </td>
                    <!--<td>-->
                        <!--<span translate="stepApp.umracSubmoduleSetup.createDate">CreateDate</span>-->
                    <!--</td>-->
                    <!--<td>-->
                            <!--<span-->
                                <!--class="form-control-static">&nbsp;: &nbsp;{{umracSubmoduleSetup.createDate | date:'mediumDate'}}</span>-->
                    <!--</td>-->
                </tr>
                <!--<tr>-->
                    <!--<td>-->
                        <!--<span translate="stepApp.umracSubmoduleSetup.createBy">CreateBy</span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<span class="form-control-static">&nbsp;: &nbsp;{{umracSubmoduleSetup.createBy}}</span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<span translate="stepApp.umracSubmoduleSetup.updatedBy">UpdatedBy</span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<span class="form-control-static">&nbsp;: &nbsp;{{umracSubmoduleSetup.updatedBy}}</span>-->
                    <!--</td>-->
                <!--</tr>-->
                <tr>
                    <td>
                        <span translate="stepApp.umracSubmoduleSetup.updatedTime">UpdatedTime</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">&nbsp;: &nbsp;{{umracSubmoduleSetup.updatedTime | date:'mediumDate'}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.umracSubmoduleSetup.moduleId">moduleId</span>
                    </td>
                    <td>
                        <a class="form-control-static"
                           ui-sref="UmracModuleSetup.detail({id:umracSubmoduleSetup.moduleId.id})">{{umracSubmoduleSetup.moduleId.moduleName}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <button type="submit"
                onclick="window.history.back()"
                class="btn btn-info no-print">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
            translate="entity.action.back"> Back</span>
        </button>
    </div>
</div>
