<div class="col-md-12 common-dialogue">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="umracSubmoduleSetup.id == null" id="myUmracSubmoduleSetupLabel"
            translate="stepApp.umracSubmoduleSetup.home.createOrEditLabel">Create or edit a UmracSubmoduleSetup</h4>
        <h4 ng-show="umracSubmoduleSetup.id != null" id="myUmracSubmoduleSetupLabel"
            translate="stepApp.umracSubmoduleSetup.home.EditLabel">Create or edit a UmracSubmoduleSetup</h4>
        <div class="panel-body">

            <!--<div class="form-group">-->
            <!--<label for="id" translate="global.field.id">ID</label>-->
            <!--<input type="text" class="form-control" id="id" name="id"-->
            <!--ng-model="umracSubmoduleSetup.id" readonly />-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracSubmoduleSetup.subModuleId" for="field_subModuleId">SubModuleId</label>-->
            <!--<input type="text" class="form-control" name="subModuleId" id="field_subModuleId"-->
            <!--ng-model="umracSubmoduleSetup.subModuleId"-->
            <!--/>-->
            <!--</div>-->
            <div class="">
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.umracSubmoduleSetup.moduleId" for="field_moduleId">moduleId</label>
                        <select class="form-control" id="field_moduleId" name="moduleId"
                                ng-model="umracSubmoduleSetup.moduleId"
                                tooltip="{{'stepApp.umracSubmoduleSetup.moduleId' | translate}}"
                                ng-options="UmracModuleSetup as UmracModuleSetup.moduleName for UmracModuleSetup in umracmodulesetups | filter:filterModuleByStatus()  track by UmracModuleSetup.id">
                            <option value="" translate="stepApp.umracSubmoduleSetup.moduleId"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <!--<div class="form-group">
                        <label translate="stepApp.umracSubmoduleSetup.subModuleName" for="field_subModuleName">SubModuleName</label>
                        <input type="text" class="form-control" name="subModuleName" id="field_subModuleName"
                               ng-model="umracSubmoduleSetup.subModuleName"
                               tooltip="{{'stepApp.umracSubmoduleSetup.subModuleName' | translate}}"
                               placeholder="{{'stepApp.umracSubmoduleSetup.subModuleName' | translate}}"
                               required/>
                        <div ng-show="editForm.subModuleName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.subModuleName.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label translate="stepApp.umracSubmoduleSetup.subModuleName" for="field_subModuleName">SubModuleName</label>
                        <input type="text" class="form-control" name="subModuleName" id="field_subModuleName"
                               ng-model="umracSubmoduleSetup.subModuleName"
                               ng-remote-validate="/api/umracSubmoduleSetups/subModuleName/"
                               ng-remote-method="GET" maxlength="100" placeholder="{{'stepApp.umracSubmoduleSetup.subModuleName' | translate}}"
                               required />
                        <span class="message" ng-show="editForm.subModuleName.$pending">validating...</span>
                        <!--<div ng-show="editForm.roleName.$invalid">-->
                        <!--<p class="help-block"-->
                        <!--ng-show="editForm.roleName.$error.required" translate="entity.validation.required">-->
                        <!--This field is required.-->
                        <!--</p>-->
                        <!--</div>-->
                        <div ng-show="editForm.subModuleName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.subModuleName.$error.required && editForm.subModuleName.$dirty"
                               translate="entity.validation.required">
                                Sub-Module Name is required.
                            </p>
                        </div>
                        <div ng-show="editForm.subModuleName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.subModuleName.$error.ngRemoteValidate">
                                Same Sub-Module Name Already Exists
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="">
                <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                        <!--<label translate="stepApp.umracSubmoduleSetup.subModuleUrl" for="field_subModuleUrl">SubModuleUrl</label>-->
                        <!--<input type="text" class="form-control" name="subModuleUrl" id="field_subModuleUrl"-->
                               <!--ng-model="umracSubmoduleSetup.subModuleUrl"-->
                               <!--tooltip="{{'stepApp.umracSubmoduleSetup.subModuleUrl' | translate}}"-->
                               <!--placeholder="{{'stepApp.umracSubmoduleSetup.subModuleUrl' | translate}}" maxlength="100"-->
                               <!--required/>-->
                        <!--<div ng-show="editForm.subModuleUrl.$invalid">-->
                            <!--<p class="help-block"-->
                               <!--ng-show="editForm.subModuleUrl.$error.required" translate="entity.validation.required">-->
                                <!--This field is required.-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.umracSubmoduleSetup.description"
                               for="field_description">Description</label>
                        <textarea type="text" class="form-control" name="description" id="field_description"
                               ng-model="umracSubmoduleSetup.description"
                               tooltip="{{'stepApp.umracSubmoduleSetup.description' | translate}}"
                               placeholder="{{'stepApp.umracSubmoduleSetup.description' | translate}}" maxlength="512"
                        />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h6 class="control-label col-sm-12" translate="stepApp.umracSubmoduleSetup.status">Status</h6>
                        <div class="col-sm-12" ng-init="checked=true">
                            <input type="radio" name="status" value="true"
                                   ng-checked="umracSubmoduleSetup.status == true"
                                   tooltip="{{'stepApp.umracSubmoduleSetup.status' | translate}}"
                                   ng-model="umracSubmoduleSetup.status"><span
                            translate="entity.action.activate">Active</span>&nbsp;&nbsp;
                            <input type="radio" name="status" value="false"
                                   tooltip="{{'stepApp.umracSubmoduleSetup.status' | translate}}"
                                   ng-checked="umracSubmoduleSetup.status == false"
                                   ng-model="umracSubmoduleSetup.status"><span translate="entity.action.deactivate">Deactive</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracSubmoduleSetup.status" for="field_status">Status</label>-->
            <!--<input type="checkbox" class="form-control" name="status" id="field_status"-->
            <!--ng-model="umracSubmoduleSetup.status"-->
            <!--/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracSubmoduleSetup.createDate" for="field_createDate">CreateDate</label>-->
            <!--<input type="date" class="form-control" name="createDate" id="field_createDate"-->
            <!--ng-model="umracSubmoduleSetup.createDate"-->
            <!--/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracSubmoduleSetup.createBy" for="field_createBy">CreateBy</label>-->
            <!--<input type="number" class="form-control" name="createBy" id="field_createBy"-->
            <!--ng-model="umracSubmoduleSetup.createBy"-->
            <!--/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracSubmoduleSetup.updatedBy" for="field_updatedBy">UpdatedBy</label>-->
            <!--<input type="number" class="form-control" name="updatedBy" id="field_updatedBy"-->
            <!--ng-model="umracSubmoduleSetup.updatedBy"-->
            <!--/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracSubmoduleSetup.updatedTime" for="field_updatedTime">UpdatedTime</label>-->
            <!--<input type="date" class="form-control" name="updatedTime" id="field_updatedTime"-->
            <!--ng-model="umracSubmoduleSetup.updatedTime"-->
            <!--/>-->
            <!--</div>-->


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.back">back</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="umracSubmoduleSetup.id == null" translate="entity.action.save">Save</span>
                <span ng-show="umracSubmoduleSetup.id != null" translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>
