
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myInstVacancyTempLabel" translate="stepApp.instVacancyTemp.home.createOrEditLabel">Create or edit a InstVacancyTemp</h4>
    </div>
    <div class="modal-body common-table">

        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="stepApp.instVacancyTemp.designationSetup" width="18%"></th>
                <th translate="stepApp.instVacancyTemp.institute" width="20%"></th>
                <th translate="stepApp.instVacancyTemp.totalVacancy" width="8%"></th>
                <th translate="stepApp.instVacancyTemp.filledUpVacancy" width="8%"></th>
                <th translate="stepApp.instVacancyTemp.totalInstEmployee" width="8%"></th>
                <th translate="stepApp.instVacancyTemp.postVacant" width="8%"></th>
                <th translate="stepApp.instVacancyTemp.totalApplicant" width="8%"></th>
                <th translate="stepApp.instVacancyTemp.comments" width="22%"></th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="field_designationSetup" name="designationSetup" ng-model="instVacancyTemp.designationSetup" ng-options="designationSetup as designationSetup.designationInfo.designationName for designationSetup in hrDesignationSetups track by designationSetup.id">
                            <option value=""></option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" name="institute" id="field_institute"
                               ng-model="instVacancyTemp.instituteName" data-ng-value="instVacancyTemp.institute.name" readonly/>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="number" class="form-control" name="totalVacancy" id="field_totalVacancy"
                               ng-model="instVacancyTemp.totalVacancy"/>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" name="filledUpVacancy" id="field_filledUpVacancy"
                               ng-model="instVacancyTemp.filledUpVacancy"/>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" name="totalInstEmployee" id="field_totalInstEmployee"
                               ng-model="instVacancyTemp.totalInstEmployee"/>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" name="postVacant" id="field_postVacant"
                               ng-model="instVacancyTemp.postVacant"/>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" name="totalApplicant" id="field_totalApplicant"
                               ng-model="instVacancyTemp.totalApplicant"/>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" name="comments" id="comments"
                               ng-model="instVacancyTemp.comments"/>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>








        <!--<div class="form-group">-->
            <!--<label translate="stepApp.instVacancyTemp.empType" for="field_empType">EmpType</label>-->
            <!--<select class="form-control" name="empType" ng-model="instVacancyTemp.empType" id="field_empType">-->
                <!--<option value="Teacher" translate="stepApp.EmpTypes.Teacher">Teacher</option>-->
                <!--<option value="Staff" translate="stepApp.EmpTypes.Staff">Staff</option>-->
            <!--</select>-->
        <!--</div>-->







        <!--<div class="form-group">-->
            <!--<label translate="stepApp.instVacancyTemp.cmsTrade" for="field_cmsTrade">cmsTrade</label>-->
            <!--<select class="form-control" id="field_cmsTrade" name="cmsTrade" ng-model="instVacancyTemp.cmsTrade" ng-options="cmsTrade as cmsTrade.code for cmsTrade in cmstrades track by cmsTrade.id">-->
                <!--<option value=""></option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label translate="stepApp.instVacancyTemp.cmsSubject" for="field_cmsSubject">cmsSubject</label>-->
            <!--<select class="form-control" id="field_cmsSubject" name="cmsSubject" ng-model="instVacancyTemp.cmsSubject" ng-options="cmsSubject as cmsSubject.code for cmsSubject in cmssubjects track by cmsSubject.id">-->
                <!--<option value=""></option>-->
            <!--</select>-->
        <!--</div>-->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
