
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myErpAuthFlowProcessLabel" translate="stepApp.erpAuthFlowProcess.home.createOrEditLabel">Create or edit a ErpAuthFlowProcess</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="erpAuthFlowProcess.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.erpAuthFlowProcess.refDomainId" for="field_refDomainId">RefDomainId</label>
            <input type="text" class="form-control" name="refDomainId" id="field_refDomainId"
                    ng-model="erpAuthFlowProcess.refDomainId"
                    required />
            <div ng-show="editForm.refDomainId.$invalid">
                <p class="help-block"
                    ng-show="editForm.refDomainId.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.erpAuthFlowProcess.refDomainName" for="field_refDomainName">RefDomainName</label>
            <input type="text" class="form-control" name="refDomainName" id="field_refDomainName"
                    ng-model="erpAuthFlowProcess.refDomainName"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.erpAuthFlowProcess.authorityStatus" for="field_authorityStatus">AuthorityStatus</label>
            <select class="form-control" name="authorityStatus" ng-model="erpAuthFlowProcess.authorityStatus" id="field_authorityStatus">
                <option value="Pending" translate="stepApp.AuthorityStatus.Pending">Pending</option>
                <option value="Reject" translate="stepApp.AuthorityStatus.Reject">Reject</option>
                <option value="Approved" translate="stepApp.AuthorityStatus.Approved">Approved</option>
            </select>
        </div>
        <div class="form-group">
            <label translate="stepApp.erpAuthFlowProcess.erpAuthorityAction" for="field_erpAuthorityAction">ErpAuthorityAction</label>
            <select class="form-control" name="erpAuthorityAction" ng-model="erpAuthFlowProcess.erpAuthorityAction" id="field_erpAuthorityAction">
                <option value="Pending" translate="stepApp.ErpAuthorityAction.Pending">Pending</option>
                <option value="Reject" translate="stepApp.ErpAuthorityAction.Reject">Reject</option>
                <option value="Approved" translate="stepApp.ErpAuthorityAction.Approved">Approved</option>
            </select>
        </div>
        <div class="form-group">
            <label translate="stepApp.erpAuthFlowProcess.activeStatus" for="field_activeStatus">ActiveStatus</label>
            <input type="checkbox" class="form-control" name="activeStatus" id="field_activeStatus"
                    ng-model="erpAuthFlowProcess.activeStatus"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.erpAuthFlowProcess.createDate" for="field_createDate">CreateDate</label>
            <input type="date" class="form-control" name="createDate" id="field_createDate"
                    ng-model="erpAuthFlowProcess.createDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.erpAuthFlowProcess.createBy" for="field_createBy">CreateBy</label>
            <input type="number" class="form-control" name="createBy" id="field_createBy"
                    ng-model="erpAuthFlowProcess.createBy"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.erpAuthFlowProcess.updateDate" for="field_updateDate">UpdateDate</label>
            <input type="date" class="form-control" name="updateDate" id="field_updateDate"
                    ng-model="erpAuthFlowProcess.updateDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.erpAuthFlowProcess.updateBy" for="field_updateBy">UpdateBy</label>
            <input type="number" class="form-control" name="updateBy" id="field_updateBy"
                    ng-model="erpAuthFlowProcess.updateBy"
                     />
        </div>

        <div class="form-group">
            <label translate="stepApp.erpAuthFlowProcess.erpAuthorityFlow" for="field_erpAuthorityFlow">erpAuthorityFlow</label>
            <select class="form-control" id="field_erpAuthorityFlow" name="erpAuthorityFlow" ng-model="erpAuthFlowProcess.erpAuthorityFlow" ng-options="ErpAuthorityFlow as ErpAuthorityFlow.authorityCategory for ErpAuthorityFlow in erpauthorityflows track by ErpAuthorityFlow.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="stepApp.erpAuthFlowProcess.authorizedEmployee" for="field_authorizedEmployee">authorizedEmployee</label>
            <select class="form-control" id="field_authorizedEmployee" name="authorizedEmployee" ng-model="erpAuthFlowProcess.authorizedEmployee" ng-options="HrEmployeeInfo as HrEmployeeInfo.fullName for HrEmployeeInfo in hremployeeinfos track by HrEmployeeInfo.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
