
<div>
    <h2><span translate="stepApp.erpAuthFlowProcess.detail.title">ErpAuthFlowProcess</span> {{erpAuthFlowProcess.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthFlowProcess.refDomainId">RefDomainId</span>
                </td>
                <td>
                    <span class="form-control-static">{{erpAuthFlowProcess.refDomainId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthFlowProcess.refDomainName">RefDomainName</span>
                </td>
                <td>
                    <span class="form-control-static">{{erpAuthFlowProcess.refDomainName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthFlowProcess.authorityStatus">AuthorityStatus</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'stepApp.AuthorityStatus.' + erpAuthFlowProcess.authorityStatus}}">{{erpAuthFlowProcess.authorityStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthFlowProcess.erpAuthorityAction">ErpAuthorityAction</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'stepApp.ErpAuthorityAction.' + erpAuthFlowProcess.erpAuthorityAction}}">{{erpAuthFlowProcess.erpAuthorityAction}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthFlowProcess.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{erpAuthFlowProcess.activeStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthFlowProcess.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{erpAuthFlowProcess.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthFlowProcess.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{erpAuthFlowProcess.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthFlowProcess.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{erpAuthFlowProcess.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthFlowProcess.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{erpAuthFlowProcess.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthFlowProcess.erpAuthorityFlow">erpAuthorityFlow</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="ErpAuthorityFlow.detail({id:erpAuthFlowProcess.erpAuthorityFlow.id})">{{erpAuthFlowProcess.erpAuthorityFlow.authorityCategory}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.erpAuthFlowProcess.authorizedEmployee">authorizedEmployee</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="HrEmployeeInfo.detail({id:erpAuthFlowProcess.authorizedEmployee.id})">{{erpAuthFlowProcess.authorizedEmployee.fullName}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
