<div>
    <h2 translate="stepApp.erpAuthFlowProcess.home.title">ErpAuthFlowProcesss</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="erpAuthFlowProcess.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.erpAuthFlowProcess.home.createLabel">Create a new ErpAuthFlowProcess</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a ErpAuthFlowProcess</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteErpAuthFlowProcessConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(erpAuthFlowProcess.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.erpAuthFlowProcess.delete.question" translate-values="{id: '{{erpAuthFlowProcess.id}}'}">Are you sure you want to delete this ErpAuthFlowProcess?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.erpAuthFlowProcess.refDomainId">RefDomainId</th>
                    <th translate="stepApp.erpAuthFlowProcess.refDomainName">RefDomainName</th>
                    <th translate="stepApp.erpAuthFlowProcess.authorityStatus">AuthorityStatus</th>
                    <th translate="stepApp.erpAuthFlowProcess.erpAuthorityAction">ErpAuthorityAction</th>
                    <th translate="stepApp.erpAuthFlowProcess.activeStatus">ActiveStatus</th>
                    <th translate="stepApp.erpAuthFlowProcess.createDate">CreateDate</th>
                    <th translate="stepApp.erpAuthFlowProcess.createBy">CreateBy</th>
                    <th translate="stepApp.erpAuthFlowProcess.updateDate">UpdateDate</th>
                    <th translate="stepApp.erpAuthFlowProcess.updateBy">UpdateBy</th>
                    <th translate="stepApp.erpAuthFlowProcess.erpAuthorityFlow">erpAuthorityFlow</th>
                    <th translate="stepApp.erpAuthFlowProcess.authorizedEmployee">authorizedEmployee</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="erpAuthFlowProcess in erpAuthFlowProcesss track by erpAuthFlowProcess.id">
                    <td><a ui-sref="erpAuthFlowProcess.detail({id:erpAuthFlowProcess.id})">{{erpAuthFlowProcess.id}}</a></td>
                    <td>{{erpAuthFlowProcess.refDomainId}}</td>
                    <td>{{erpAuthFlowProcess.refDomainName}}</td>
                    <td translate="{{'stepApp.AuthorityStatus.' + erpAuthFlowProcess.authorityStatus}}">{{erpAuthFlowProcess.authorityStatus}}</td>
                    <td translate="{{'stepApp.ErpAuthorityAction.' + erpAuthFlowProcess.erpAuthorityAction}}">{{erpAuthFlowProcess.erpAuthorityAction}}</td>
                    <td>{{erpAuthFlowProcess.activeStatus}}</td>
                        <td>{{erpAuthFlowProcess.createDate | date:'mediumDate'}}</td>
                    <td>{{erpAuthFlowProcess.createBy}}</td>
                        <td>{{erpAuthFlowProcess.updateDate | date:'mediumDate'}}</td>
                    <td>{{erpAuthFlowProcess.updateBy}}</td>
                    <td>
                        <a ui-sref="ErpAuthorityFlow.detail({id:erpAuthFlowProcess.erpAuthorityFlow.id})">{{erpAuthFlowProcess.erpAuthorityFlow.authorityCategory}}</a>
                    </td>
                    <td>
                        <a ui-sref="HrEmployeeInfo.detail({id:erpAuthFlowProcess.authorizedEmployee.id})">{{erpAuthFlowProcess.authorizedEmployee.fullName}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="erpAuthFlowProcess.detail({id:erpAuthFlowProcess.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="erpAuthFlowProcess.edit({id:erpAuthFlowProcess.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(erpAuthFlowProcess.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
