<div class="row">
    <div class="col-md-3 padding-right0">
        <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
    </div>
    <div class="col-md-9 lbl-dash">
        <div class="col-md-12 common-table no_padding">
            <h2><span translate="stepApp.attachmentCategory.detail.title">AttachmentCategory</span></h2>

            <div class="table-responsive">
                <table class="table table-striped">
                   <thead>
                    <tr>
                        <th translate="entity.detail.field">Field</th>
                        <th translate="entity.detail.value">Value</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>
                            <span translate="stepApp.attachmentCategory.applicationName">ApplicationName</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{attachmentCategory.applicationName}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.attachmentCategory.instLevel">instLevel</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{attachmentCategory.instLevel.name}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.attachmentCategory.designationSetup">Designation Setup</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{attachmentCategory.designationSetup.designationInfo.designationName}}</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span translate="stepApp.attachmentCategory.attachmentName">AttachmentName</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{attachmentCategory.attachmentName}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.attachmentCategory.attachmentBnName">ApplicationName</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{attachmentCategory.attachmentBnName}}</span>
                        </td>
                    </tr>

                    <!--<tr>
                        <td>
                            <span translate="stepApp.attachmentCategory.date">Date</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{attachmentCategory.date | date:'mediumDate'}}</span>
                        </td>
                    </tr>-->
                    <!--<tr>-->
                        <!--<td>-->
                            <!--<span translate="stepApp.attachmentCategory.module">module</span>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<a class="form-control-static" ui-sref="module.detail({id:attachmentCategory.module.id})">{{attachmentCategory.module.name}}</a>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <tr>
                        <td>
                            <span translate="stepApp.attachmentCategory.module">module</span>
                        </td>
                        <td>
                            <a class="form-control-static" ui-sref="module.detail({id:attachmentCategory.module.id})">{{attachmentCategory.module.name}}</a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <button type="submit"
                    onclick="window.history.back()"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                translate="entity.action.back"> Back</span>
            </button>
        </div>
    </div>
</div>
