<div class="row">
    <div class="col-md-3 padding-right0">
        <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
    </div>
    <div class="col-md-9 lbl-dash">
        <div class="col-md-12 common-list no_padding">
            <h2 class="heading_center" translate="stepApp.attachmentCategory.home.title">AttachmentCategorys</h2>
                <!--<div class="col-md-8">
                    <form name="searchForm" class="form-inline pull-right" novalidate show-validation>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery"
                                   placeholder="search for..." required>
                        </div>
                        <button ng-disabled="searchForm.$invalid" class="btn btn-info" ng-click="search()"><span
                            class="glyphicon glyphicon-search"></span> <span translate="entity.action.search">Search a AttachmentCategory</span>
                        </button>
                        <button ng-disabled="!areAllAttachmentCategorysSelected" class="btn btn-default"
                                ng-click="sync()">
                            <i class="glyphicon glyphicon-refresh" aria-label="sync"></i>
                            <span translate="entity.action.sync">sync</span>
                        </button>
                        <button ng-disabled="!areAllAttachmentCategorysSelected" class="btn btn-default"
                                ng-click="export()">
                            <i class="glyphicon glyphicon-export" aria-label="export"></i>
                            <span translate="entity.action.export">export</span>
                        </button>

                        <button ng-disabled="!areAllAttachmentCategorysSelected" class="btn btn-default"
                                ng-click="import()">
                            <i class="glyphicon glyphicon-import" aria-label="import"></i>
                            <span translate="entity.action.import">import</span>
                        </button>

                        <button ng-disabled="!areAllAttachmentCategorysSelected" class="btn btn-default btn-danger"
                                ng-click="deleteSelected()">
                            <i class="glyphicon glyphicon-trash" aria-label="delete"></i>
                            <span translate="entity.action.delete">delete</span>
                        </button>

                    </form>
                    </div>-->
                   <!--<div class="col-sm-12  padding-tb no-print">
                       <div class="col-md-8 no_padding ">
                           <div class="col-md-6 no_padding">
                               <b> <span translate="global.home.searchhere"></span>:</b>
                               <div class="input-group">
                                   <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                                   <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                               </div>
                           </div>
                           <div class="col-md-6">
                               <b><span translate="global.home.itemperpage"></span>:</b>
                               <div class="input-group">
                                   <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                               </div>
                           </div>
                       </div>
                       <div class="col-md-4 no_padding text-right btn-top">
                           <button class="btn btn-primary" ui-sref="attachmentCategory.new">
                               <span class="glyphicon glyphicon-plus"></span> <span
                               translate="stepApp.attachmentCategory.home.createLabel">Create a new AttachmentCategory</span>
                           </button>
                       </div>
                   </div>-->
            <div class="col-md-12 padding-bt">
                <div class="col-xs-4 no_padding">
                    <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
                </div>
                <div class="col-xs-4">
                    <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
                </div>
                <div class="col-xs-4 no_padding text-right ">
                    <button class="btn btn-primary" ui-sref="attachmentCategory.new">
                        <span class="glyphicon glyphicon-plus"></span> <span
                        translate="stepApp.attachmentCategory.home.createLabel">Create a new AttachmentCategory</span>
                    </button>
                </div>
            </div>

            <!--<div class="modal fade" id="deleteAttachmentCategoryConfirmation">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form name="deleteForm" ng-submit="confirmDelete(attachmentCategory.id)">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                        ng-click="clear()">&times;</button>
                                <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                            </div>
                            <div class="modal-body">
                                <p translate="stepApp.attachmentCategory.delete.question"
                                   translate-values="{id: '{{attachmentCategory.id}}'}">Are you sure you want to delete
                                    this AttachmentCategory?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                    translate="entity.action.cancel">Cancel</span>
                                </button>
                                <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                                    translate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>-->
            <div class=" col-md-12 no_padding table-responsive">
                <table class="table table-hover table-striped">
                    <!--<caption class="caption notice text-center">
                        <div translate="entity.action.found"
                             translate-values="{found: '{{attachmentCategorys.length}}', total: '{{total}}'}">
                            {{cats.length}} attachmentCategorys retrieved from total of {{total}} attachmentCategorys
                        </div>
                        </caption>-->
                    <thead>
                    <tr>
                        <th translate="global.form.serial">serial</th>
                        <!--<th><input type="checkbox" ng-model="areAllAttachmentCategorysSelected"
                            ng-change="updateAttachmentCategorysSelection(attachmentCategorys, areAllAttachmentCategorysSelected)">
                            </th>-->
                        <th ng-click="order('id', reverse=!reverse)" translate="global.field.id">ID</th>
                        <th ng-click="order('applicationName', reverse=!reverse)"
                            translate="stepApp.attachmentCategory.applicationName">ApplicationName
                        </th>
                        <th ng-click="order('attachmentName', reverse=!reverse)"
                            translate="stepApp.attachmentCategory.attachmentName">AttachmentName
                        </th>
                        <!-- <th ng-click="order('date', reverse=!reverse)" translate="stepApp.attachmentCategory.date">
                            Date
                            </th>-->
                        <th translate="stepApp.attachmentCategory.module">module</th>
                        <th translate="stepApp.attachmentCategory.designationSetup">Employee Designation</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="attachmentCategory in attachmentCategorys | filter:q | itemsPerPage: pageSize track by attachmentCategory.id" current-page="currentPage">

                    <!--<td><input type="checkbox" ng-model="attachmentCategory.isSelected"/></td>-->
                        <td>{{$index+1}}</td>
                        <td><a
                            ui-sref="attachmentCategory.detail({id:attachmentCategory.id})">{{attachmentCategory.id}}</a>
                        </td>
                        <td>{{attachmentCategory.applicationName}}</td>
                        <td>{{attachmentCategory.attachmentName}}</td>
                        <!--<td>{{attachmentCategory.date | date:'mediumDate'}}</td>-->
                        <td>
                            <a ui-sref="module.detail({id:attachmentCategory.module.id})">{{attachmentCategory.module.name}}</a>
                        </td>
                        <td>{{attachmentCategory.designationSetup.designationInfo.designationName}}</td>
                        <td class="text-right no-print">
                            <button type="submit"
                                    ui-sref="attachmentCategory.detail({id:attachmentCategory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                                translate="entity.action.view"> View</span>
                            </button>
                            <button type="submit"
                                    ui-sref="attachmentCategory.edit({id:attachmentCategory.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                                translate="entity.action.edit"> Edit</span>
                            </button>
                            <!--<button type="submit"
                                ui-sref="attachmentCategory.delete({id:attachmentCategory.id})"
                                class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                                translate="entity.action.delete"> Delete</span>
                                </button>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav class="no-print">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
                </nav>
            </div>
        </div>
    </div>
</div>
