<div class="col-md-12 common-dialogue">
    <form name="editForm" role="form" show-validation novalidate ng-submit="save()">
        <h4 ng-show="iisCurriculumInfo.id==null" class="modal-title" id="myIisCurriculumInfoLabel"
            translate="stepApp.iisCurriculumInfo.home.createOrEditLabel">Create or edit a IisCurriculumInfo</h4>
        <h4 ng-hide="iisCurriculumInfo.id==null" class="modal-title" id="myIisCurriculumInfoLabel1"
            translate="stepApp.iisCurriculumInfo.home.EditLabel">
            Create or edit a IisCurriculumInfo</h4>
        <div class="modal-body col-sm-12 padding-tb">
            <div class="form-group col-md-6">
                <label translate="stepApp.iisCurriculumInfo.cmsCurriculum"
                       for="field_cmsCurriculum">cmsCurriculum</label>
                <select class="form-control" id="field_cmsCurriculum" name="cmsCurriculum" required
                        ng-model="iisCurriculumInfo.cmsCurriculum"
                        ng-options="cmsCurriculum as cmsCurriculum.name for cmsCurriculum in cmscurriculums track by cmsCurriculum.id"
                        data-toggle="tooltip"
                        tooltip="{{'stepApp.iisCurriculumInfo.cmsCurriculum' | translate}}">
                    <option value="" disabled selected translate="stepApp.iisCurriculumInfo.selectCurriculum"></option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.iisCurriculumInfo.acSession" for="field_lastRecNo">Session</label>
                <input type="text" class="form-control" name="acSession" id="field_lastRecNo"
                       ng-model="iisCurriculumInfo.acSession"
                       data-toggle="tooltip"
                       only-numbers-and-dash maxlength="9" minlength="4"
                       tooltip="{{'stepApp.iisCurriculumInfo.acSession' | translate}}"
                       placeholder="{{'stepApp.iisCurriculumInfo.place' | translate}}"/>
                <small style="color: red;font-size: small" ng-show="editForm.acSession.$error.minlength">
                    This field need to be at least 4 character
                </small>
                <small style="color: red;font-size: small" ng-show="editForm.acSession.$error.maxlength">
                    This field should not longer than 9 character
                </small>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.iisCurriculumInfo.firstDate" for="field_firstDate">FirstDate</label>
                <input type="text" class="form-control" name="firstDate" id="field_firstDate"
                       ng-model="iisCurriculumInfo.firstDate"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.firstDate"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'firstDate')"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}" required
                       data-toggle="tooltip"
                       tooltip="{{'stepApp.iisCurriculumInfo.firstDate' | translate}}"
                       max-date="toDay"
                min-date="affiliationDate"/>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.iisCurriculumInfo.recNo" for="field_recNo">RecNo</label>
                <input type="text" class="form-control" name="recNo" id="field_recNo"
                       ng-model="iisCurriculumInfo.recNo"
                       data-toggle="tooltip" maxlength="20" minlength="2"
                       tooltip="{{'stepApp.iisCurriculumInfo.recNo' | translate}}"
                       placeholder="{{'stepApp.iisCurriculumInfo.recNo' | translate}}"
                />
                <small style="color: red;font-size: small" ng-show="editForm.recNo.$error.minlength">
                    This field need to be at least 2 character
                </small>
                <small style="color: red;font-size: small" ng-show="editForm.recNo.$error.maxlength">
                    This field should not longer than 20 character
                </small>
            </div>
            <div class="form-group col-md-6" ngf-drop
                 ngf-change="setFirstAcdrattach($file, iisCurriculumInfo, 'firstAcdrAttach','firstAcdrAttachCntType','firstAcdrAttachName')">
                <label translate="stepApp.iisCurriculumInfo.firstAcdrAttach"
                       for="field_attachment">appointAprvAtch</label>
                <div>
                    <div class="help-block clearfix">
                        <span class="pull-left">{{iisCurriculumInfo.firstAcdrAttachCntType}} {{byteSize(iisCurriculumInfo.firstAcdrAttach)}}</span>
                        <button
                            ng-click="iisCurriculumInfo.firstAcdrAttach=null;iisCurriculumInfo.firstAcdrAttachCntType=null;"
                            ng-if="iisCurriculumInfo.firstAcdrAttach" class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div class="input-group">
                        <input type="text" readonly class="form-control" name="requiLetter" id="requiLetter"
                               ng-model="iisCurriculumInfo.firstAcdrAttachName"
                        />
                        <div class="input-group-btn">
                            <button type="file" ngf-select class="btn btn-primary"
                                    ngf-change="setFirstAcdrattach($file, iisCurriculumInfo, 'firstAcdrAttach','firstAcdrAttachCntType','firstAcdrAttachName')"
                                    translate="entity.action.addblob">
                                Add blob
                            </button>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="requiLetterName" id="firstAcdrAttachName"
                           ng-model="iisCurriculumInfo.firstAcdrAttach"
                    />
                    <input type="hidden" class="form-control" name="requiLetterCntType"
                           id="firstAcdrAttachCntType" ng-model="iisCurriculumInfo.firstAcdrAttachCntType"/>
                </div>
            </div>
            <div class="col-sm-12 no_padding">
                <div class="form-group col-md-6">
                    <label translate="stepApp.iisCurriculumInfo.lastDate" for="field_lastDate">LastDate</label>
                    <input type="text" class="form-control" name="lastDate" id="field_lastDate"
                           ng-model="iisCurriculumInfo.lastDate"
                           datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.lastDate"
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'lastDate')"
                           placeholder="{{'entity.placeholder.dateformat' | translate}}"
                           ng-change="deadlineValidation()"
                           required
                           data-toggle="tooltip"
                           tooltip="{{'stepApp.iisCurriculumInfo.lastDate' | translate}}"
                           max-date="toDay"
                           min-date="iisCurriculumInfo.firstDate"/>
                    <div ng-if="dateError" style="color: red">
                        Invalid Date. Please select valid date..
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.iisCurriculumInfo.lastRecNo" for="field_lastRecNo">lastRecNo</label>
                    <input type="text" class="form-control" name="lastRecNo" id="field_lastRecNo"
                           ng-model="iisCurriculumInfo.lastRecNo"
                           data-toggle="tooltip"
                           tooltip="{{'stepApp.iisCurriculumInfo.lastRecNo' | translate}}"
                           placeholder="{{'stepApp.iisCurriculumInfo.lastRecNo' | translate}}"
                           maxlength="20" minlength="4"
                    />
                    <small style="color: red;font-size: small" ng-show="editForm.lastRecNo.$error.minlength">
                        This field need to be at least 4 character
                    </small>
                    <small style="color: red;font-size: small" ng-show="editForm.lastRecNo.$error.maxlength">
                        This field should not longer than 20 character
                    </small>
                </div>
                <div class="form-group col-md-6" ngf-drop
                     ngf-change="setLastAcdrattach($file, iisCurriculumInfo, 'lastAcdrAttach','lastAcdrAttachCntType','lastAcdrAttachName')">
                    <label translate="stepApp.iisCurriculumInfo.lastAcdrAttach"
                           for="field_attachment">appointAprvAtch</label>
                    <div>
                        <div class="help-block clearfix">
                            <span class="pull-left">{{iisCurriculumInfo.lastAcdrAttachCntType}} {{byteSize(iisCurriculumInfo.lastAcdrAttach)}}</span>
                            <button
                                ng-click="iisCurriculumInfo.lastAcdrAttach=null;iisCurriculumInfo.lastAcdrAttachCntType=null;"
                                ng-if="iisCurriculumInfo.lastAcdrAttach" class="btn btn-default btn-xs pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                        <div class="input-group">
                            <input type="text" readonly class="form-control" name="requiLetter" id="lastAcdrAttach"
                                   ng-model="iisCurriculumInfo.lastAcdrAttachName"
                            />
                            <div class="input-group-btn">
                                <button type="file" ngf-select class="btn btn-primary"
                                        ngf-change="setLastAcdrattach($file, iisCurriculumInfo, 'lastAcdrAttach','lastAcdrAttachCntType','lastAcdrAttachName')"
                                        translate="entity.action.addblob">
                                    Add blob
                                </button>
                            </div>
                        </div>
                        <input type="hidden" class="form-control" name="requiLetterName" id="firstAcdrAttachName"
                               ng-model="iisCurriculumInfo.lastAcdrAttach"
                        />
                        <input type="hidden" class="form-control" name="lastAcdrAttachCntType"
                               id="lastAcdrAttachCntType" ng-model="iisCurriculumInfo.lastAcdrAttachCntType"/>
                    </div>
                </div>
            </div>
            <!--{{iisCurriculumInfo.institute.type}}-->
            <div class="form-group col-md-6" ng-if="logInInstitute.type === 'NonGovernment'">
                <label translate="stepApp.iisCurriculumInfo.mpoEnlisted" for="field_mpoEnlisted">MpoEnlisted</label>
                <div id="field_mpoEnlisted">
                    <label class="radio-inline">
                        <input type="radio" name="mpoEnlisted" data-ng-value="true"
                               ng-checked="(iisCurriculumInfo.mpoEnlisted == true || iisCurriculumInfo.mpoEnlisted == null)"
                               ng-model="iisCurriculumInfo.mpoEnlisted"><span
                        translate="entity.action.yes">
                        Active</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="mpoEnlisted" data-ng-value="false"
                               ng-model="iisCurriculumInfo.mpoEnlisted">
                        <span translate="entity.action.no">
                        Deactive</span>
                    </label>
                </div>
            </div>

        </div>
        <div class="modal-footer col-sm-12 no_padding">
            <button type="button" class="btn btn-default" ui-sref="instituteInfo.iisCurriculumInfo">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid ||dateError|| isSaving || editForm.$pending"
                    class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="iisCurriculumInfo.id==null" translate="entity.action.save">Save</span>
                <span ng-show="iisCurriculumInfo.id != null" translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>

