<div class="col-sm-12 common-table padding0">
    <h2><span translate="stepApp.iisCurriculumInfo.detail.title">IisCurriculumInfo</span>
        {{iisCurriculumInfo.cmsCurriculum.name}}</h2>
    <div class="col-sm-4 text-right no_padding">
        <button class="btn btn-primary" ui-sref="instituteInfo.iisCurriculumInfo.new" ng-hide="iisCurriculumInfo.id">
            <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.iisCurriculumInfo.home.createLabel">Create a new IisCurriculumInfo</span>
        </button>
        <!--<button type="submit"
                ui-sref="instituteInfo.iisCurriculumInfo.edit({id:iisCurriculumInfo.id})"
                class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
        </button>-->
    </div>
    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.iisCurriculumInfo.cmsCurriculum">cmsCurriculum</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="cmsCurriculum.detail({id:iisCurriculumInfo.cmsCurriculum.id})">{{iisCurriculumInfo.cmsCurriculum.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.iisCurriculumInfo.acSession">Session</span>
                </td>
                <td>
                    <span class="form-control-static">{{iisCurriculumInfo.acSession}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.iisCurriculumInfo.firstAcdrAttach">firstAcdrAttach</span>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(iisCurriculumInfo.firstAcdrAttach, iisCurriculumInfo.firstAcdrAttachCntType,('stepApp.iisCurriculumInfo.firstAcdrAttach' | translate)+' Image')">
                        <span class="btn btn-default"><img ng-src="data:image/JPEG;base64,{{iisCurriculumInfo.firstAcdrAttach}}" width="40px"></span></a>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.iisCurriculumInfo.firstDate">FirstDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{iisCurriculumInfo.firstDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.iisCurriculumInfo.recNo">RecNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{iisCurriculumInfo.recNo}}</span>
                </td>
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.iisCurriculumInfo.mpoDate">mpoDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{iisCurriculumInfo.mpoDate | date:'mediumDate'}}</span>
                </td>
            </tr>-->
            <tr>
                <td>
                    <span translate="stepApp.iisCurriculumInfo.lastDate">LastDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{iisCurriculumInfo.lastDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.iisCurriculumInfo.lastRecNo">MpoDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{iisCurriculumInfo.lastRecNo}}</span>
                </td>

            </tr>
            <tr>
                <td>
                    <span translate="stepApp.iisCurriculumInfo.lastAcdrAttach">lastAcdrAttach</span>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(iisCurriculumInfo.lastAcdrAttach, iisCurriculumInfo.lastAcdrAttachCntType,('stepApp.iisCurriculumInfo.lastAcdrAttach' | translate)+' Image')">
                        <span class="btn btn-default"><img ng-src="data:image/JPEG;base64,{{iisCurriculumInfo.lastAcdrAttach}}" width="40px"></span></a>
                </td>

            </tr>
            <tr ng-if="iisCurriculumInfo.institute.type ==='NonGovernment'">
                <td>
                    <span translate="stepApp.iisCurriculumInfo.mpoEnlisted">MpoEnlisted</span>
                </td>
                <td>
                    <span style="color: #005f00" ng-show="iisCurriculumInfo.mpoEnlisted == true"
                          class="form-control-static"><span translate="stepApp.iisCurriculumInfo.yes">yes</span></span>
                    <span style="color: red" ng-show="iisCurriculumInfo.mpoEnlisted == false"
                          class="form-control-static"><span translate="stepApp.iisCurriculumInfo.no">no</span></span>
                </td>
            </tr>
            <tr ng-if="iisCurriculumInfo.institute.type ==='NonGovernment'">
                <td translate="stepApp.iisCurriculumInfo.mpoDatemain">Mpo Date</td>
                <td>{{iisCurriculumInfo.mpoDate | date:'mediumDate'}}</td>
            </tr>


            </tbody>
        </table>
    </div>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
    <div class="no-print   text-right">
        <button type="submit" name="submit" onclick="window.print()" class="btn btn-primary">
            <span class="glyphicon glyphicon-print"></span>&nbsp;<span
            translate="entity.action.print">Print</span>
        </button>
    </div>
</div>
