<div class="cmscurriculam">
    <div class="panel-heading cmsheading">
        <h3 class="panel-title" translate="stepApp.cmsSemester.home.title">CmsSemesters</h3>
    </div>
        <div class="row cmsCnew">
            <div class="col-md-12 text-right">
                <form name="searchForm" class="form-inline pull-left">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{'global.home.searchLabel' | translate}}">
                    </div>
                    <button class="btn btn-primary" ng-click="search()"><i class="fa fa-search-plus"></i>

                    </button>
                </form>

            <div class="col-md-4 text-right pull-right">
                <button class="btn btn-primary" ui-sref="courseInfo.cmsSemester.new" >
                    <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.cmsSemester.home.createLabel">New</span>
                </button>
            </div>
            </div>
        </div>

    <div class="table-responsive cmsheadrow">
        <jh-alert></jh-alert>

        <table class="table table-striped">
            <thead>
                <tr>
                    <!--<th translate="global.field.id">ID</th>-->
                    <th translate="stepApp.cmsSemester.code">Code</th>
                    <th translate="stepApp.cmsSemester.name">Name</th>
                    <!--<th translate="stepApp.cmsSemester.year">Year</th>
                    <th translate="stepApp.cmsSemester.duration">Duration</th>
                    <th translate="stepApp.cmsSemester.description">Description</th>-->
                    <th translate="stepApp.cmsSemester.status">Status</th>
                    <th translate="stepApp.cmsSemester.cmsCurriculum">cmsCurriculum</th>
                    <th translate="entity.action.action">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cmsSemester in cmsSemesters track by cmsSemester.id">
                    <!--<td><a ui-sref="cmsSemester.detail({id:cmsSemester.id})">{{cmsSemester.id}}</a></td>-->
                    <td>{{cmsSemester.code}}</td>
                    <td>{{cmsSemester.name}}</td>
                    <!--<td>{{cmsSemester.year}}</td>
                    <td>{{cmsSemester.duration}}</td>
                    <td>{{cmsSemester.description}}</td>-->
                    <td>
                        <span style="color: #005f00"  ng-show="cmsSemester.status == true" class="form-control-static"><span translate="entity.action.activate">Active</span></span>
                        <span style="color: red" ng-show="cmsSemester.status == false" class="form-control-static"><span translate="entity.action.deactivate">Deactive</span></span></td>
                    <td>
                        <a ui-sref="cmsCurriculum.detail({id:cmsSemester.cmsCurriculum.id})">{{cmsSemester.cmsCurriculum.name}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="courseInfo.cmsSemester.detail({id:cmsSemester.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="courseInfo.cmsSemester.edit({id:cmsSemester.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <!--<button type="submit"
                                ui-sref="cmsSemester.delete({id:cmsSemester.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>-->
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
