<div class="col-sm-12 common-dialogue padding-left5">
    <h4 class="modal-title" id="myInstEmpEduQualiLabel"
        translate="stepApp.instEmployee.home.instEmployeeEducationalInfo">Educational Information</h4>
    <form name="editForm" role="form form-horizontal" novalidate ng-submit="save()" show-validation>
        <div class="panel-body  no_padding admin-info" ng-repeat="instEmpEduQua in instEmpEduQualis track by $index">
            <div>
                <h4> <span translate="stepApp.instEmployee.home.exam"></span> {{$index + 1}}</h4>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmpEduQuali.certificateName" for="field_certificateName">CertificateName</label>
                    <select class="form-control" required id="field_certificateName" name="eduLevel"
                            ng-model="instEmpEduQua.eduLevel"
                            ng-click="refreshField()"
                            ng-change="hideField(instEmpEduQua.eduLevel,$index);"
                            tooltip="{{'stepApp.instEmpEduQuali.certificateName' | translate}}"
                            ng-options="eduLevel as eduLevel.name for eduLevel in eduLevels track by eduLevel.id">
                        <option disabled selected value="" translate="stepApp.instEmpEduQuali.certificateName">Select </option>
                    </select>
                </div>
                <!--<div class="form-group col-md-6" ng-if="hideFielphscs">
                    <label
                        ng-hide="instEmpEduQua.eduLevel.name == 'B.Sc/Equivalent' || instEmpEduQua.eduLevel.name == 'B.Com/Equivalent' || instEmpEduQua.eduLevel.name == 'BA/Equivalent'"
                        translate="stepApp.instEmpEduQuali.subject" for="subject">subject</label>
                    <label
                        ng-show="instEmpEduQua.eduLevel.name == 'B.Sc/Equivalent' || instEmpEduQua.eduLevel.name == 'B.Com/Equivalent' || instEmpEduQua.eduLevel.name == 'BA/Equivalent'"
                        translate="stepApp.instEmpEduQuali.department" for="subject">department</label>
                    <input type="text" class="form-control" name="subject" id="subject"
                           ng-model="instEmpEduQua.subject" only-letters-and-dash-and-dot />
                </div>-->
                <div class="form-group col-md-6">
                    <label class="control-label" translate="stepApp.instEmpEduQuali.uniBoardall">Board/University</label>
                    <div class="form-control">
                        <input type="radio" name="boardUni{{$index}}"
                               value="true"
                               data-ng-value="true"
                               data-ng-checked="instEmpEduQua.boardUni == 'true' || instEmpEduQua.boardUni == null"
                               ng-model="instEmpEduQua.boardUni"
                               required >Board

                        <input type="radio" name="boardUni{{$index}}"
                               value="false"
                               data-ng-value="false"
                               data-ng-checked="instEmpEduQua.boardUni == 'false' && instEmpEduQua.boardUni != null"
                               ng-model="instEmpEduQua.boardUni">University
                    </div>
                </div>
                <div class="form-group col-md-6" ng-if="instEmpEduQua.boardUni == true ||instEmpEduQua.boardUni == 'true' ">
                    <label  for="field_university"><span translate="stepApp.instEmpEduQuali.board"></span> <span style="color: #FF0000;">*</span></label>
                    <select required class="form-control" id="field_university" name="eduBoard"
                            ng-model="instEmpEduQua.eduBoard"
                            tooltip="{{'stepApp.instEmpEduQuali.board' | translate}}"
                            ng-options="eduBoard as eduBoard.name for eduBoard in eduBoards track by eduBoard.id">
                        <option  value="" translate="stepApp.instEmpEduQuali.board" >Select University</option>
                    </select>
                </div>
                <div class="form-group col-md-6" ng-if="instEmpEduQua.boardUni==true">
                    <label translate="stepApp.instEmpEduQuali.instName" for="field_uniName">University</label>
                    <input type="text" class="form-control" name="board" id="field_uniName"
                           ng-model="instEmpEduQua.uniName"
                           only-letters-and-dash-and-dot />
                </div>
                <!--<p> 1 {{instEmpEduQua.govtOrNot}}</p>-->
                <div class="form-group col-md-6" ng-if="instEmpEduQua.boardUni==false">
                    <label translate="stepApp.instEmpEduQuali.govtOrNot">govtOrNot</label>
                    <div class="form-control">
                        <input type="radio" name="govtOrNot{{$index}}" id="field_govtOrNot"
                               value="true"
                               data-ng-value="true"
                               ng-model="instEmpEduQua.govtOrNot"
                               ng-checked ="(instEmpEduQua.govtOrNot ==true || instEmpEduQua.govtOrNot == null)">Government
                        <input type="radio" name="govtOrNot{{$index}}" id="field_govtOrNot1"
                               value="false"
                               data-ng-value="false"
                               ng-model="instEmpEduQua.govtOrNot"
                               ng-checked ="instEmpEduQua.govtOrNot ==false || instEmpEduQua.govtOrNot != null">Non Government
                    </div>
                </div>
                <!--UGC Attach File-->
                <div ng-if="instEmpEduQua.govtOrNot==false && instEmpEduQua.boardUni == false" class="form-group col-md-6" ngf-change="setAttachment($file, instEmpEduQua, 'ugcAttachFile','ugcAttachFileContentType','ugcAttachFileName')">
                    <label translate="stepApp.instEmpEduQuali.ugcAttachFileName" for="field_certificateCopy">CertificateCopy</label>
                    <div>
                        <div class="help-block clearfix">
                            <span class="pull-left">{{instEmpEduQua.ugcAttachFileContentType}} {{byteSize(instEmpEduQua.ugcAttachFile)}}</span>
                            <button
                                ng-click="instEmpEduQua.ugcAttachFile=null;instEmpEduQua.ugcAttachFileContentType=null;"
                                ng-if="instEmpEduQua.ugcAttachFile"
                                class="btn btn-default btn-xs pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                        <div class="form-group col-md-9 no_padding">
                            <input type="text" readonly class="form-control" name="certificateCopyName"
                                   id="ugcAttachFileName"
                                   ng-model="instEmpEduQua.ugcAttachFileName"
                            />
                        </div>
                        <div class="form-group col-md-3">
                            <button type="file" ngf-select class="btn btn-default btn-block"
                                    ngf-change="setAttachment($file, instEmpEduQua)"
                                    translate="entity.action.addblob">
                                Add blob
                            </button>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="certificateCopy" id="field_certificateCopy{{$index}}"
                           ng-model="instEmpEduQua.certificateCopy"/>
                    <input type="hidden" class="form-control" name="certificateCopyContentType"
                           id="field_certificateCopyContentType{{$index}}"
                           ng-model="instEmpEduQua.certificateCopyContentType"/>
                </div>
                <div ng-if="instEmpEduQua.govtOrNot==false && instEmpEduQua.boardUni == false" class="form-group col-md-6" ngf-change="setCourseAtchFile($file, instEmpEduQua, 'courseAtchFile','courseAtchFileCntType','courseAtchFileName')">
                    <label translate="stepApp.instEmpEduQuali.courseAppCerbyUgc" for="field_certificateCopy">CertificateCopy</label>
                    <div>
                        <div class="help-block clearfix">
                            <span class="pull-left">{{instEmpEduQua.courseAtchFileCntType}} {{byteSize(instEmpEduQua.courseAtchFile)}}</span>
                            <button
                                ng-click="instEmpEduQua.courseAtchFile=null;instEmpEduQua.courseAtchFileCntType=null;"
                                ng-if="instEmpEduQua.courseAtchFile"
                                class="btn btn-default btn-xs pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                        <!--  <button type="file" ngf-select class="btn btn-default btn-block"
                                  ngf-change="setCertificateCopy($file, instEmpEduQuali)" translate="entity.action.addblob">
                              Add blob
                          </button>-->
                        <div class="form-group col-md-9 no_padding">
                            <input type="text" readonly class="form-control" name="certificateCopyName"
                                   id="ugcAttachFileName"
                                   ng-model="instEmpEduQua.courseAtchFileName"
                            />
                        </div>
                        <div class="form-group col-md-3">
                            <button type="file" ngf-select class="btn btn-default btn-block"
                                    ngf-change="setCourseAtchFile($file, instEmpEduQua)"
                                    translate="entity.action.addblob">
                                Add blob
                            </button>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="certificateCopy" id="field_certificateCopy"
                           ng-model="instEmpEduQua.courseAtchFile"
                    />
                    <input type="hidden" class="form-control" name="courseAtchFileCntType"
                           id="field_certificateCopyContentType"
                           ng-model="instEmpEduQua.courseAtchFileCntType"/>
                </div>
                <!--UGC Attach File-->
                <div class="form-group col-md-6" ng-if="instEmpEduQua.boardUni==false">
                    <label translate="stepApp.instEmpEduQuali.uniName" for="field_university">University</label>
                    <input type="text" class="form-control" name="uniName" id="field_uniName"
                           ng-model="instEmpEduQua.uniName"
                           only-letters-and-dash-and-dot />
                </div>
                <div class="form-group col-md-6"
                     ng-if="instEmpEduQua.eduLevel.levelFor != 'university' && (instEmpEduQua.eduLevel.name === 'SSC/Equivalent' || instEmpEduQua.eduLevel.name === 'HSC/Equivelent')">
                    <label translate="stepApp.instEmpEduQuali.group" for="field_resultClass">Exam group</label>
                    <select class="form-control"  id="field_group" name="group"
                            tooltip="{{'stepApp.instEmpEduQuali.group' | translate}}"
                            ng-model="instEmpEduQua.group" required>
                        <option value="" translate="stepApp.instEmpEduQuali.group"></option>
                        <option value="science">Science</option>
                        <option value="arts">Arts</option>
                        <option value="commerce">Commerce</option>
                    </select>
                </div>
                <div class="form-group col-md-6" ng-if="instEmpEduQualiGroup[$index]">
                    <label translate="stepApp.instEmpEduQuali.groupSubject"
                           for="field_groupSubject">groupSubject</label>
                    <input required type="text" class="form-control" name="groupSubject" id="field_groupSubject"
                           ng-model="instEmpEduQua.groupSubject"
                           only-letters-and-dash-and-dot
                           tooltip="{{'stepApp.instEmpEduQuali.groupSubject' | translate}}"
                           placeholder="{{'stepApp.instEmpEduQuali.groupSubject' | translate}}"/>
                </div>

                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmpEduQuali.session" for="field_session">Session</label>
                    <input type="text" class="form-control" name="session" id="field_session"
                           ng-model="instEmpEduQua.session"
                           only-numbers-and-dash
                           tooltip="{{'stepApp.instEmpEduQuali.session' | translate}}"
                           placeholder="example: 2001-2002"
                           minlength="0" maxlength="9"
                    />
                </div>
                <div class="form-group col-md-6" ng-if="instEmpEduQua.eduLevel.levelFor === 'university'">
                    <label translate="stepApp.instEmpEduQuali.duration" for="field_duration"> duration</label>
                    <input type="text" class="form-control" name="duration" id="field_duration"
                           ng-model="instEmpEduQua.duration"
                           only-letters-and-numbers
                           tooltip="{{'stepApp.instEmpEduQuali.duration' | translate}}"
                           placeholder="{{'stepApp.instEmpEduQuali.duration' | translate}}"
                           minlength="0" maxlength="1"
                    />
                </div>

                <div class="form-group col-md-6" ng-if="instEmpEduQualiGroup[$index]">
                    <label translate="stepApp.instEmpEduQuali.semesterOrYear" for="field_semester">Semester</label>
                    <input type="text" class="form-control" name="semester" id="field_semester"
                           ng-model="instEmpEduQua.semester"
                           tooltip="{{'stepApp.instEmpEduQuali.semesterOrYear' | translate}}"
                           placeholder="{{'stepApp.instEmpEduQuali.semesterOrYear' | translate}}"
                           minlength="0" maxlength="2"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmpEduQuali.rollNo" for="field_rollNo">RollNo</label>
                    <input type="text" class="form-control" name="rollNo" id="field_rollNo"
                           ng-model="instEmpEduQua.rollNo"
                           only-numbers
                           tooltip="{{'stepApp.instEmpEduQuali.rollNo' | translate}}"
                           placeholder="{{'stepApp.instEmpEduQuali.rollNo' | translate}}"
                           minlength="0" maxlength="9"
                           required/>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmpEduQuali.regNo" for="field_rollNo">regNo</label>
                    <input type="text" class="form-control" name="regNo" id="field_rollNo"
                           ng-model="instEmpEduQua.regNo"
                           only-numbers
                           tooltip="{{'stepApp.instEmpEduQuali.regNo' | translate}}"
                           placeholder="{{'stepApp.instEmpEduQuali.regNo' | translate}}"
                           minlength="0" maxlength="9"
                           required/>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmpEduQuali.passingYear" for="field_passingYear">PassingYear</label>
                    <select class="form-control" required id="field_passingYear" name="passingYear"
                            ng-model="instEmpEduQua.passingYear" ng-options="o as o for o in years"
                            tooltip="{{'stepApp.instEmpEduQuali.passingYear' | translate }}"
                    >
                        <option disabled selected value="" translate="stepApp.instEmpEduQuali.passingYear"></option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label" translate="stepApp.instEmpEduQuali.resultType">Result Type</label>
                    <div class="form-control">
                        <input type="radio" name="isGpaResult{{$index}}" id ="isGpaResult{{$index}}"
                               ng-model="instEmpEduQua.isGpaResult" data-ng-value="true"
                               ng-checked="(instEmpEduQua.isGpaResult == true || instEmpEduQua.isGpaResult == null)"
                               ng-click="clearCgpa($index);"
                               tooltip="{{'stepApp.instEmpEduQuali.resultType' | translate}}"
                               required/>GPA/CGPA
                        <input type="radio" name="isGpaResult{{$index}}" id ="isGpaResult1{{$index}}"
                               ng-model="instEmpEduQua.isGpaResult"
                               ng-click="clearCgpa($index);"
                               data-ng-value="false"
                               ng-checked="instEmpEduQua.isGpaResult != null || instEmpEduQua.isGpaResult == false"
                               tooltip="{{'stepApp.instEmpEduQuali.resultType' | translate}}"/>Division/Class
                    </div>
                </div>
                <div class=" col-md-6"
                     ng-if="instEmpEduQua.isGpaResult == true|| instEmpEduQua.isGpaResult == 'true'">
                    <label translate="stepApp.instEmpEduQuali.result" for="field_cgpa">Result</label><span style="color: red; font-size: 14px">*</span>
                    <input type="text" class="form-control" name="cgpa" id="field_cgpa"
                           ng-model="instEmpEduQua.cgpa"  only-numbers-and-dot
                           tooltip="{{'stepApp.instEmpEduQuali.result' | translate}}"
                           placeholder="{{'stepApp.instEmpEduQuali.result' | translate}}"
                           required minlength="1" maxlength="4" oninput="validity.valid||(value='');"
                    />
                </div>
                <div class=" col-md-6" ng-if="instEmpEduQua.isGpaResult == false|| instEmpEduQua.isGpaResult == 'false'">
                    <label translate="stepApp.instEmpEduQuali.result" for="field_resultClass">Result Class</label><span style="color: red; font-size: 14px">*</span>
                    <select class="form-control"  id="field_resultClass" name="resultClass"
                            ng-model="instEmpEduQua.cgpa"
                            tooltip="{{'stepApp.instEmpEduQuali.result' | translate}}" required>
                        <option value=""  ng-disabled="true" translate="stepApp.instEmpEduQuali.result"></option>
                        <option value="First">First Division/Class</option>
                        <option value="Second">Second Division/Class</option>
                        <option value="Third">Third Division/Class</option>
                    </select>
                </div>
                <div ng-if="instEmpEduQua.isGpaResult == true || instEmpEduQua.isGpaResult == 'true'"
                     class=" col-md-6">
                    <label translate="stepApp.instEmpEduQuali.gpaScale" for="field_gpaScale">GPA Scale</label><span style="color: red; font-size: 14px">*</span>
                    <input type="text" class="form-control" name="gpaScale" id="field_gpaScale"
                           ng-model="instEmpEduQua.gpaScale" numeric-only ng-maxlength="1" ng-minlength="1"
                           tooltip="{{'stepApp.instEmpEduQuali.gpaScale' | translate}}"
                           placeholder="{{'stepApp.instEmpEduQuali.gpaScale' | translate}}"
                           required minlength="1" maxlength="1" oninput="validity.valid||(value='');"/>
                    <div ng-show="editForm.gpaScale.$invalid">
                        <p class="help-block"
                           ng-show="editForm.gpaScale.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.gpaScale.$error.minlength" translate="entity.validation.minlength"
                           translate-value-min="1">
                            This field cannot be longer than 1 characters.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.gpaScale.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="5">
                            This field cannot be longer than 5 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6" ngf-drop ngf-change="setCertificateCopy($file, instEmpEduQua)">
                    <label translate="stepApp.instEmpEduQuali.certificateCopy" for="field_certificateCopy">CertificateCopy</label>
                    <div>
                        <div class="help-block clearfix">
                            <span class="pull-left">{{instEmpEduQua.certificateCopyContentType}} {{byteSize(instEmpEduQua.certificateCopy)}}</span>
                            <button
                                ng-click="instEmpEduQua.certificateCopy=null;instEmpEduQua.certificateCopyContentType=null;"
                                ng-if="instEmpEduQua.certificateCopy"
                                class="btn btn-default btn-xs pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                        <div class="input-group">
                            <input type="text" readonly class="form-control" name="certificateCopyName"
                                   id="field_certificateCopyName"
                                   ng-model="instEmpEduQua.certificateCopyName"
                            />
                            <div class="input-group-btn">
                                <button type="file" ngf-select class="btn btn-default btn-block"
                                        ngf-change="setCertificateCopy($file, instEmpEduQua)"
                                        translate="entity.action.addblob">
                                    Add blob
                                </button>
                            </div>
                        </div>

                    </div>
                    <input type="hidden" class="form-control" name="certificateCopy" id="field_certificateCopy"
                           ng-model="instEmpEduQua.certificateCopy"
                    />
                    <input type="hidden" class="form-control" name="certificateCopyContentType"
                           id="field_certificateCopyContentType"
                           ng-model="instEmpEduQua.certificateCopyContentType"/>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <a class="btn btn-primary" ng-disabled="editForm.$invalid || isSaving" ng-click="AddMore()">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;<span
                translate="entity.action.addMore">Add More</span>
            </a>
        </div>
        <div class="col-sm-12 no_padding text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-if="instEmpEduQualis[0].id ==null" translate="entity.action.save">Save</span>
                <span ng-if="instEmpEduQualis[0].id" translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>
