
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myMaritalInfoLabel" translate="stepApp.maritalInfo.home.createOrEditLabel">Create or edit a MaritalInfo</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="maritalInfo.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.maritalInfo.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="maritalInfo.name"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.maritalInfo.status" for="field_status">Status</label>
            <input type="checkbox" class="form-control" name="status" id="field_status"
                    ng-model="maritalInfo.status"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.maritalInfo.createDate" for="field_createDate">CreateDate</label>
            <input type="date" class="form-control" name="createDate" id="field_createDate"
                    ng-model="maritalInfo.createDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.maritalInfo.createBy" for="field_createBy">CreateBy</label>
            <input type="number" class="form-control" name="createBy" id="field_createBy"
                    ng-model="maritalInfo.createBy"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.maritalInfo.updateBy" for="field_updateBy">UpdateBy</label>
            <input type="number" class="form-control" name="updateBy" id="field_updateBy"
                    ng-model="maritalInfo.updateBy"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.maritalInfo.updateDate" for="field_updateDate">UpdateDate</label>
            <input type="date" class="form-control" name="updateDate" id="field_updateDate"
                    ng-model="maritalInfo.updateDate"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
