
<div>
    <h2><span translate="stepApp.maritalInfo.detail.title">MaritalInfo</span> {{maritalInfo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.maritalInfo.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{maritalInfo.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.maritalInfo.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{maritalInfo.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.maritalInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{maritalInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.maritalInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{maritalInfo.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.maritalInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{maritalInfo.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.maritalInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{maritalInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
