<div>
    <h2 translate="stepApp.maritalInfo.home.title">MaritalInfos</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="maritalInfo.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.maritalInfo.home.createLabel">Create a new MaritalInfo</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a MaritalInfo</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.maritalInfo.name">Name</th>
                    <th translate="stepApp.maritalInfo.status">Status</th>
                    <th translate="stepApp.maritalInfo.createDate">CreateDate</th>
                    <th translate="stepApp.maritalInfo.createBy">CreateBy</th>
                    <th translate="stepApp.maritalInfo.updateBy">UpdateBy</th>
                    <th translate="stepApp.maritalInfo.updateDate">UpdateDate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="maritalInfo in maritalInfos track by maritalInfo.id">
                    <td><a ui-sref="maritalInfo.detail({id:maritalInfo.id})">{{maritalInfo.id}}</a></td>
                    <td>{{maritalInfo.name}}</td>
                    <td>{{maritalInfo.status}}</td>
                        <td>{{maritalInfo.createDate | date:'mediumDate'}}</td>
                    <td>{{maritalInfo.createBy}}</td>
                    <td>{{maritalInfo.updateBy}}</td>
                        <td>{{maritalInfo.updateDate | date:'mediumDate'}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="maritalInfo.detail({id:maritalInfo.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="maritalInfo.edit({id:maritalInfo.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="maritalInfo.delete({id:maritalInfo.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
