<div class="main-dashbord-area">
        <div class="main-dashbord-area-bg">

            <div class="row">
                <div class="col-md-3 padding-right0">
                    <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
                </div>
                <div class="col-md-9 padding-left0">
                    <div class="main-content" ui-view="bankBranchView">

                    </div>
                </div>

            </div>

        </div>
</div>
