
<div>
    <h2><span translate="stepApp.bloodGroupInfo.detail.title">BloodGroupInfo</span> {{bloodGroupInfo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.bloodGroupInfo.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{bloodGroupInfo.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.bloodGroupInfo.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{bloodGroupInfo.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.bloodGroupInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{bloodGroupInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.bloodGroupInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{bloodGroupInfo.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.bloodGroupInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{bloodGroupInfo.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.bloodGroupInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{bloodGroupInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
