<div class="container">
    <div class="col-md-12 text-center registerMessage">
        <p>Congratulation ! You have successfully submitted your application. Please wait for admin approval.<br>
            <!--<a href="#"> Go Back</a>-->
            <a href="#">Home</a>
        </p>
    </div>
</div>
