<div class="main-dashbord-area">
    <div class="container">
        <div class="main-dashbord-area-bg">
            <div class="row">
                <!--<div class="col-md-3">
                    <ng-include src="'scripts/components/navbar/institute-left-menu.html'"></ng-include>
                </div>-->
                <div class="col-md-8">
                    <div class="main-content" ui-view="instituteView">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






