<form name="rejectForm" ng-submit="confirmReject(instGenInfo.id)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" translate="entity.reject.title">Confirm reject operation</h4>
    </div>
    <!--<div class="modal-body">-->
        <!--<p translate="stepApp.instGenInfo.reject.question">Are you sure you want to reject this Institute?</p>-->
    <!--</div>-->
    <div class="modal-body">
        <p translate="stepApp.instGenInfo.reject.question">Cause of Denying</p>
        <div class="form-group">
            <textarea class="form-control"  placeholder="{{'Cause  Of  Decline' | translate}}" required
                      ng-model="causeDeny"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="isSaving" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.reject">Reject</span>
        </button>
    </div>
</form>
