<style>
    table {
        border: 1px solid #ddd;
        table-layout: fixed;
    !important;
    }

    .common-table {
        padding: 15px;
        background: #eaeaea;
    }
</style>
<div class="col-md-12 common-table">
    <h2><span translate="stepApp.instGenInfo.detail.title">InstGenInfo</span></h2>
    <div class="col-sm-12 text-right padding-tb no-print">
        <button type="submit"
                ui-sref="instituteInfo.generalInfo.edit({id:instGenInfo.id})"
                class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;
            <span translate="entity.action.edit"> Edit</span>
        </button>
    </div>
    <div class="col-md-12 table-responsive  no_padding">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th> <span translate="stepApp.instGenInfo.code">Code</span> </th>
                <td> <span class="form-control-static">{{instGenInfo.code}}</span> </td>
                <th> <span translate="stepApp.instGenInfo.type">Type</span> </th>
                <td> <span class="form-control-static">{{instGenInfo.type}}</span> </td>
            </tr>
            <tr>
                <td><span translate="stepApp.instGenInfo.name">Name</span></td>
                <td><span class="form-control-static">{{instGenInfo.name}}</span></td>
                <td><span translate="stepApp.instGenInfo.instCategory">category</span></td>
                <td><span class="form-control-static">{{instGenInfo.instCategory.name}}</span></td>
            </tr>
            <tr>
                <td><span translate="stepApp.instGenInfo.instLevel">Level</span></td>
                <td><span class="form-control-static">{{instGenInfo.instLevel.name}}</span></td>
            </tr>
            <tr>
                <td><span translate="stepApp.instGenInfo.centerCode">Type</span></td>
                <td><span class="form-control-static">{{instGenInfo.centerCode}}</span></td>
                <td><span translate="stepApp.instGenInfo.eiin">Type</span></td>
                <td><span class="form-control-static">{{instGenInfo.eiin}}</span></td>
            </tr>
            <tr>
                <td><span translate="stepApp.instGenInfo.publicationDate">PublicationDate</span></td>
                <td><span class="form-control-static">{{instGenInfo.publicationDate | date:'mediumDate'}}</span></td>
                <td><span translate="stepApp.instGenInfo.firstAffiliationDate">Type</span></td>
                <td><span class="form-control-static">{{instGenInfo.firstAffiliationDate}}</span></td>
            </tr>
            <tr ng-show="!hidempoEnlisted">
                <td> <span translate="stepApp.instGenInfo.mpoEnlisted">Type</span> </td>
                <td> <span class="form-control-static">{{instGenInfo.mpoEnlisted ? 'Yes' : 'No'}}</span> </td>
                <td> <span translate="stepApp.instGenInfo.ownerType">Owner Type</span> </td>
                <td>
                    <span ng-show="instGenInfo.ownerType" class="form-control-static">Individual</span>
                    <span ng-show="!instGenInfo.ownerType" class="form-control-static">Joint/Attached</span>
                </td>
            </tr>
            <tr ng-show="instGenInfo.mpoEnlisted">
                <td>
                    <span translate="stepApp.instGenInfo.mpoCode">mpoCode</span>
                </td>
                <td>{{instGenInfo.institute.mpoCode}}</td>
                <td ng-if="instGenInfo.mpoEnlisted && instGenInfo.type === 'NonGovernment' && instGenInfo.dateOfMpo != null ||instGenInfo.institute.dateOfMpo">
                    <span translate="stepApp.instGenInfo.dateOfMpo">Date of Mpo</span>
                </td>
                <td ng-if="instGenInfo.mpoEnlisted && instGenInfo.type === 'NonGovernment' && instGenInfo.dateOfMpo != null ||instGenInfo.institute.dateOfMpo">
                    <span class="form-control-static">{{instGenInfo.institute.dateOfMpo | date:'mediumDate'}}</span>
                </td>

            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instGenInfo.village">Village</span>
                </td>
                <td>
                    <span class="form-control-static">{{instGenInfo.village}}</span>
                </td>
                <td>
                    <span translate="stepApp.instGenInfo.postOffice">PostOffice</span>
                </td>
                <td>
                    <span class="form-control-static">{{instGenInfo.postOffice}}</span>
                </td>

            </tr>
            <tr>

                <td>
                    <span translate="stepApp.instGenInfo.postCode">PostCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{instGenInfo.postCode}}</span>
                </td>
                <td>
                    <span translate="stepApp.instGenInfo.landPhone">LandPhone</span>
                </td>
                <td>
                    <span class="form-control-static">{{instGenInfo.landPhone}}</span>
                </td>
            </tr>
            <tr>

                <td>
                    <span translate="stepApp.instGenInfo.mobileNo">MobileNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{instGenInfo.mobileNo}}</span>
                </td>
                <td>
                    <span translate="stepApp.instGenInfo.email">Email</span>
                </td>
                <td>
                    <span class="form-control-static">{{instGenInfo.email}}</span>
                </td>
            </tr>
            <tr>

                <td>
                    <span translate="stepApp.instGenInfo.consArea">ConsArea</span>
                </td>
                <td>
                    <span class="form-control-static">{{instGenInfo.consArea}}</span>
                </td>
                <td>
                    <span translate="stepApp.instGenInfo.division">Division</span>
                </td>
                <td>
                    <span class="form-control-static">{{instGenInfo.upazila.district.division.name}}</span>
                </td>
            </tr>
            <tr>

                <td>
                    <span translate="stepApp.instGenInfo.district">District</span>
                </td>
                <td>
                    <span class="form-control-static">{{instGenInfo.upazila.district.name}}</span>
                </td>
                <td>
                    <span translate="stepApp.instGenInfo.upazila">District</span>
                </td>
                <td>
                    <span class="form-control-static">{{instGenInfo.upazila.name}}</span>
                </td>
            </tr>
            <tr>

                <td>
                    <span translate="stepApp.instGenInfo.faxNum">Fax</span>
                </td>
                <td>
                    <span class="form-control-static">{{instGenInfo.faxNum}}</span>
                </td>
                <td>
                    <span translate="stepApp.instGenInfo.website">Web Site</span>
                </td>
                <td>
                    <span class="form-control-static">{{instGenInfo.website}}</span>
                </td>
            </tr>
            <tr>

                <td translate="stepApp.instGenInfo.locality">Locality</td>
                <td>{{instGenInfo.locality == 1 ? "Citycorporation": instGenInfo.locality==2 ?
                    "Municipality"
                    :instGenInfo.locality==3 ?
                    "District Sadar Municipality"
                    :instGenInfo.locality==4 ?
                    "Upazila Municipality"
                    :instGenInfo.locality==5 ?
                    "Union":""}}
                </td>
                <td>
                    <span class="form-control-static" translate="stepApp.instGenInfo.altMobileNo">MobileNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{instGenInfo.altMobileNo}}</span>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <!--<div class="col-md-6">
        <div class="no-print panel-footer ">
            <button type="submit"
                    onclick="window.history.back()"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                translate="entity.action.back"> Back</span>
            </button>
        </div>
    </div>-->
    <div class="col-md-12 no_padding padding-bt">
        <div class="no-print no_padding text-right">
            <button type="submit" name="submit" onclick="window.print()" class="btn btn-primary">
                <span class="glyphicon glyphicon-print"></span>&nbsp;<span
                translate="entity.action.print">Print</span>
            </button>
        </div>
    </div>
</div>
