<div class="col-md-12 common-dialogue">
    <form name="editForm" role="form" class="form-vertical panel panel-primary" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="instBuilding.id==null" id="myInstEmpSpouseInfoLabel"
            translate="stepApp.instInfraInfo.home.createOrEditLabel">Add InstInfraInfo</h4>
        <h4 ng-hide="instBuilding.id==null" id="myInstEmpSpouseInfoLabel1"
            translate="stepApp.instInfraInfo.home.EditLabel">Add InstInfraInfo</h4>
        <div class="panel-body admin-info no_padding" ng-repeat="instBuilding in instBuildings">
            <div class="col-sm-12 no_padding">
                <h3>
                    <span translate="stepApp.instBuilding.home.createOrEditLabel"></span>
                    <span class="pull-right" ng-show="instBuildings.length > 0 && $index>0">
                        <button type="button" class="close btn-danger" aria-label="Close" ng-click="instBuildings.splice($index, 1)">
                            <span style="background: #f00; padding: 0px 5px;border-radius: 22px;margin-bottom: 2px !important;" aria-hidden="true">&times;</span>
                        </button>
                    </span>
                </h3>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instBuilding.nameOrNumber" for="field_name">Name/Number</label>
                <input type="text" class="form-control" name="name{{$index}}" id="field_name"
                       ng-model="instBuilding.name"
                       required only-letters-and-numbers maxlength="300" minlength="2"/>
                <div ng-show="editForm.name{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.name{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.name{{$index}}.$error.maxlength">
                        Please enter correct name in 300 Digit
                    </small>
                    <small style="color:red" ng-show="editForm.name{{$index}}.$error.minlength">
                        Please enter correct name in at least 2 Digit
                    </small>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instBuilding.totalArea" for="field_totalArea">Total Area</label>
                <input type="text" class="form-control" name="totalArea{{$index}}" id="field_totalArea"
                       placeholder="in square ft "
                       ng-model="instBuilding.totalArea"
                       required only-numbers min="0" minlength="2" maxlength="5" ng-minlength="2" ng-maxlength="5"/>

                <div ng-show="editForm.totalArea{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.totalArea{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.totalArea{{$index}}.$error.maxlength">
                        Please enter correct area in 5 character.
                    </small>
                    <small style="color:red" ng-show="editForm.totalArea{{$index}}.$error.minlength">
                        Please enter correct area in at least 2 character
                    </small>
                </div>
            </div>
            <div class="form-group col-md-8 col-md-offset-4">
                <label class="control-label" translate="stepApp.instBuilding.position" for="field_position">MPO
                    Enlisted</label>
                <div id="field_position">
                    <label ng-repeat="positionLabel in positionLabels" class="radio-inline btn btn-default">
                        <input type="radio" name="optradio" ng-model="instBuilding.direction"  ng-value="positionLabel.id" />{{positionLabel.code}}
                    </label>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label translate="stepApp.instBuilding.classRoom" for="field_classRoom">Total Number of
                    Classroom</label>
                <input type="text" class="form-control" name="classRoom{{$index}}" id="field_classRoom"
                       ng-model="instBuilding.classRoom" min="0" only-numbers
                       required ng-maxlength="3" ng-minlength="1" maxlength="3" minlength="1"/>
                <div ng-show="editForm.classRoom{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.classRoom{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.classRoom{{$index}}.$error.maxlength">
                        Class room should not be more than 3 digit.
                    </small>
                    <small style="color:red" ng-show="editForm.classRoom{{$index}}.$error.minlength">
                        Class room should at least 1 digit.
                    </small>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label translate="stepApp.instBuilding.officeRoom" for="field_officeRoom">OfficeRoom</label>
                <input type="text" class="form-control" name="officeRoom{{$index}}" id="field_officeRoom"
                       ng-model="instBuilding.officeRoom" min="0" only-numbers
                       required maxlength="3" minlength="1" ng-minlength="1" ng-maxlength="3"/>
                <div ng-show="editForm.officeRoom{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.officeRoom{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.officeRoom{{$index}}.$error.maxlength">
                        Office room should not be more than 3 digit.
                    </small>
                    <small style="color:red" ng-show="editForm.officeRoom{{$index}}.$error.minlength">
                        Office room should at least 1 digit.
                    </small>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label translate="stepApp.instBuilding.teachersRoom" for="field_teachersRoom">OfficeRoom</label>
                <input type="text" class="form-control" name="teachersRoom{{$index}}" id="field_teachersRoom"
                       ng-model="instBuilding.teachersRoom" min="0" only-numbers
                       required minlength="1" maxlength="3" ng-minlength="1" ng-maxlength="3"/>
                <div ng-show="editForm.teachersRoom{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.teachersRoom{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.teachersRoom{{$index}}.$error.maxlength">
                        Teacher's room should not be more than 3 digit.
                    </small>
                    <small style="color:red" ng-show="editForm.teachersRoom{{$index}}.$error.minlength">
                        Teacher's room should at least 1 digit.
                    </small>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label translate="stepApp.instBuilding.workshopRoom" for="field_workshopRoom">OfficeRoom</label>
                <input type="text" class="form-control" name="workshopRoom{{$index}}" id="field_workshopRoom"
                       ng-model="instBuilding.workshopRoom" min="0" only-numbers
                       required maxlength="3" minlength="1" ng-minlength="1" ng-maxlength="3"/>
                <div ng-show="editForm.workshopRoom{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.workshopRoom{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.workshopRoom{{$index}}.$error.maxlength">
                        Workshop room should not be more than 3 digit.
                    </small>
                    <small style="color:red" ng-show="editForm.workshopRoom{{$index}}.$error.minlength">
                        Workshop room should at least 1 digit.
                    </small>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label translate="stepApp.instBuilding.trainingRoom" for="field_trainingRoom">OfficeRoom</label>
                <input type="text" class="form-control" name="trainingRoom{{$index}}" id="field_trainingRoom"
                       ng-model="instBuilding.trainingRoom" min="0" only-numbers
                       required maxlength="3" minlength="1" ng-minlength="1" ng-maxlength="3"/>
                <div ng-show="editForm.trainingRoom{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.trainingRoom{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.trainingRoom{{$index}}.$error.maxlength">
                        Training room should not be more than 3 digit.
                    </small>
                    <small style="color:red" ng-show="editForm.trainingRoom{{$index}}.$error.minlength">
                        Training room should at least 1 digit.
                    </small>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label translate="stepApp.instBuilding.meetingRoom" for="field_meetingRoom">OfficeRoom</label>
                <input type="text" class="form-control" name="meetingRoom{{$index}}" id="field_meetingRoom"
                       ng-model="instBuilding.meetingRoom" min="0" only-numbers
                       required maxlength="3" minlength="1" ng-minlength="1" ng-maxlength="3"/>
                <div ng-show="editForm.meetingRoom{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.meetingRoom{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.meetingRoom{{$index}}.$error.maxlength">
                        Meeting room should not be more than 3 digit.
                    </small>
                    <small style="color:red" ng-show="editForm.meetingRoom{{$index}}.$error.minlength">
                        Meeting room should at least 1 digit.
                    </small>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label translate="stepApp.instBuilding.researchRoom" for="field_researchRoom">OfficeRoom</label>
                <input type="text" class="form-control" name="researchRoom{{$index}}" id="field_researchRoom"
                       ng-model="instBuilding.researchRoom" min="0" only-numbers
                       required maxlength="3" minlength="1" ng-minlength="1" ng-maxlength="3"/>
                <div ng-show="editForm.researchRoom{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.researchRoom{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.researchRoom{{$index}}.$error.maxlength">
                        Research room should not be more than 3 digit.
                    </small>
                    <small style="color:red" ng-show="editForm.researchRoom{{$index}}.$error.minlength">
                        Research room should at least 1 digit.
                    </small>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label translate="stepApp.instBuilding.labRoom" for="field_labRoom">OfficeRoom</label>
                <input type="text" class="form-control" name="labRoom{{$index}}" id="field_labRoom"
                       ng-model="instBuilding.labRoom" min="0" only-numbers
                       required maxlength="3" minlength="1" ng-minlength="1" ng-maxlength="3"/>
                <div ng-show="editForm.labRoom{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.labRoom{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.labRoom{{$index}}.$error.maxlength">
                        Lab room should not be more than 3 digit.
                    </small>
                    <small style="color:red" ng-show="editForm.labRoom{{$index}}.$error.minlength">
                        Lab room should at least 1 digit.
                    </small>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label translate="stepApp.instBuilding.computerLab" for="field_labRoom">OfficeRoom</label>
                <input type="text" class="form-control" name="computerLab{{$index}}" id="field_labRoom"
                       ng-model="instBuilding.computerLab" min="0" only-numbers
                       required maxlength="3" minlength="1" ng-minlength="1" ng-maxlength="3"/>
                <div ng-show="editForm.computerLab{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.computerLab{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.computerLab{{$index}}.$error.maxlength">
                        Computer Lab room should not be more than 3 digit.
                    </small>
                    <small style="color:red" ng-show="editForm.computerLab{{$index}}.$error.minlength">
                        Computer Lab room should at least 1 digit.
                    </small>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label translate="stepApp.instBuilding.counselingRoom" for="field_counselingRoom">OfficeRoom</label>
                <input type="text" class="form-control" name="counselingRoom{{$index}}" id="field_counselingRoom"
                       ng-model="instBuilding.counselingRoom" min="0" only-numbers
                       required maxlength="3" minlength="1" ng-minlength="1" ng-maxlength="3"/>
                <div ng-show="editForm.counselingRoom{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.counselingRoom{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.counselingRoom{{$index}}.$error.maxlength">
                        Counseling room should not be more than 3 digit.
                    </small>
                    <small style="color:red" ng-show="editForm.counselingRoom{{$index}}.$error.minlength">
                        Counseling room should at least 1 digit.
                    </small>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label translate="stepApp.instBuilding.auditoriumRoom" for="field_auditoriumRoom">OfficeRoom</label>
                <input type="text" class="form-control" name="auditoriumRoom{{$index}}" id="field_auditoriumRoom"
                       ng-model="instBuilding.auditoriumRoom" min="0" maxlength="3" minlength="1" ng-minlength="1"
                       ng-maxlength="3"only-numbers
                />
                <div ng-show="editForm.auditoriumRoom{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.auditoriumRoom{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.auditoriumRoom{{$index}}.$error.maxlength">
                        Auditorium room should not be more than 3 digit.
                    </small>
                    <small style="color:red" ng-show="editForm.auditoriumRoom{{$index}}.$error.minlength">
                        Auditorium room should at least 1 digit.
                    </small>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label translate="stepApp.instBuilding.prayerhall" for="field_auditoriumRoom">OfficeRoom</label>
                <input type="text" class="form-control" name="prayerhall{{$index}}" id="field_prayerhall"
                       ng-model="instBuilding.prayerHall" min="0" maxlength="3" minlength="1" ng-minlength="1"
                       ng-maxlength="3"
                       required only-numbers/>
                <div ng-show="editForm.prayerhall{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.prayerhall{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.prayerhall{{$index}}.$error.maxlength">
                        Prayer hall room should not be more than 3 digit.
                    </small>
                    <small style="color:red" ng-show="editForm.prayerhall{{$index}}.$error.minlength">
                        Prayer hall room should at least 1 digit.
                    </small>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label translate="stepApp.instBuilding.commonRoom" for="field_commonRoom">OfficeRoom</label>
                <input type="text" class="form-control" name="commonRoom{{$index}}" id="field_commonRoom"
                       ng-model="instBuilding.commonRoom" min="0" maxlength="3" minlength="1" ng-minlength="1"
                       ng-maxlength="3" only-numbers
                       required/>
                <div ng-show="editForm.commonRoom{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.commonRoom{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.commonRoom{{$index}}.$error.maxlength">
                        Common room should not be more than 3 digit.
                    </small>
                    <small style="color:red" ng-show="editForm.commonRoom{{$index}}.$error.minlength">
                        Common room should at least 1 digit.
                    </small>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label translate="stepApp.instBuilding.maleBathroom" for="field_maleBathroom">OfficeRoom</label>
                <input type="text" class="form-control" name="maleBathroom{{$index}}" id="field_maleBathroom"
                       ng-model="instBuilding.maleBathroom" min="0" only-numbers
                       required maxlength="3" minlength="1" ng-minlength="1" ng-maxlength="3"/>
                <div ng-show="editForm.maleBathroom{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.maleBathroom{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.maleBathroom{{$index}}.$error.maxlength">
                        Male bathroom should not be more than 3 digit.
                    </small>
                    <small style="color:red" ng-show="editForm.maleBathroom{{$index}}.$error.minlength">
                        Male bathroom should at least 1 digit.
                    </small>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label translate="stepApp.instBuilding.femaleBathroom" for="field_femaleBathroom">OfficeRoom</label>
                <input type="text" class="form-control" name="femaleBathroom{{$index}}" id="field_femaleBathroom"
                       ng-model="instBuilding.femaleBathroom" min="0" maxlength="3" minlength="1" ng-minlength="1"
                       ng-maxlength="3"only-numbers
                       required/>
                <div ng-show="editForm.femaleBathroom{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.femaleBathroom{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.femaleBathroom{{$index}}.$error.maxlength">
                        Female bathroom should not be more than 3 digit.
                    </small>
                    <small style="color:red" ng-show="editForm.femaleBathroom{{$index}}.$error.minlength">
                        Female bathroom should at least 1 digit.
                    </small>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label translate="stepApp.instBuilding.storeRoom" for="field_storeRoom">OfficeRoom</label>
                <input type="text" class="form-control" name="storeRoom{{$index}}" id="field_storeRoom"
                       ng-model="instBuilding.storeRoom" min="0" maxlength="3" minlength="1" ng-minlength="1"
                       ng-maxlength="3"only-numbers
                       required/>
                <div ng-show="editForm.storeRoom{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.storeRoom{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.storeRoom{{$index}}.$error.maxlength">
                        Store room should not be more than 3 digit.
                    </small>
                    <small style="color:red" ng-show="editForm.storeRoom{{$index}}.$error.minlength">
                        Store room should at least 1 digit.
                    </small>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label translate="stepApp.instBuilding.totalShop" for="field_totalShop">OfficeRoom</label>
                <input type="text" class="form-control" name="totalShop{{$index}}" id="field_totalShop"
                       ng-model="instBuilding.totalShop" min="0" maxlength="3" minlength="1" ng-minlength="1"
                       ng-maxlength="3"only-numbers
                       required/>
                <div ng-show="editForm.totalShop{{$index}}.$invalid">
                    <small style="color:red" ng-show="editForm.totalShop{{$index}}.$error.required"
                           translate="entity.validation.required">
                        This field is required.
                    </small>
                    <small style="color:red" ng-show="editForm.totalShop{{$index}}.$error.maxlength">
                        This field should not be more than 3 digit.
                    </small>
                    <small style="color:red" ng-show="editForm.totalShop{{$index}}.$error.minlength">
                        This field should at least 1 digit.
                    </small>
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label translate="stepApp.instBuilding.home.pStatus">dStatus</label>
                <div id="field_dStatus">
                    <label class="radio-inline">
                        <input type="radio" name="dStatus{{$index}}" data-ng-value="true"
                               value="true"
                               ng-checked="(instBuilding.dStatus == true || instBuilding.dStatus == 'true')"
                               ng-model="instBuilding.dStatus">
                        <span translate="stepApp.instBuilding.home.yes">YES</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="dStatus{{$index}}" data-ng-value="false"
                               value="false"
                               ng-checked="(instBuilding.dStatus == false || instBuilding.dStatus == 'false')"
                               ng-model="instBuilding.dStatus">
                        <span translate="stepApp.instBuilding.home.no">NO</span>
                    </label>
                </div>
            </div>


            <div class="panel-body admin-info" ng-if="instBuilding.dStatus == 'true' || instBuilding.dStatus == true">
                <div class="form-group col-md-3">
                    <label translate="stepApp.instBuilding.mwashRoom" for="field_classRoom">Total Number of
                        Classroom</label>
                    <input type="text" class="form-control" name="dMwash{{$index}}" id="field_dMwash"
                           ng-model="instBuilding.dMwash" min="0" maxlength="3" minlength="1" ng-minlength="1"
                           ng-maxlength="3"only-numbers
                           required/>
                    <div ng-show="editForm.dMwash{{$index}}.$invalid">
                        <small style="color:red" ng-show="editForm.dMwash{{$index}}.$error.required"
                               translate="entity.validation.required">
                            This field is required.
                        </small>
                        <small style="color:red" ng-show="editForm.dMwash{{$index}}.$error.maxlength">
                            This field should not be more than 3 digit.
                        </small>
                        <small style="color:red" ng-show="editForm.dMwash{{$index}}.$error.minlength">
                            This field should at least 1 digit.
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label translate="stepApp.instBuilding.fwashRoom" for="field_classRoom">Total Number of
                        Classroom</label>
                    <input type="text" class="form-control" name="dFwash{{$index}}" id="field_dFmwash"
                           ng-model="instBuilding.dFwash" min="0" maxlength="3" minlength="1" ng-minlength="1"
                           ng-maxlength="3"only-numbers
                           required/>
                    <div ng-show="editForm.dFwash{{$index}}.$invalid">
                        <small style="color:red" ng-show="editForm.dFwash{{$index}}.$error.required"
                               translate="entity.validation.required">
                            This field is required.
                        </small>
                        <small style="color:red" ng-show="editForm.dFwash{{$index}}.$error.maxlength">
                            This field should not be more than 3 digit.
                        </small>
                        <small style="color:red" ng-show="editForm.dFwash{{$index}}.$error.minlength">
                            This field should at least 1 digit.
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label translate="stepApp.instBuilding.labNo" for="field_classRoom">Total Number of
                        Classroom</label>
                    <input type="text" class="form-control" name="labNo{{$index}}" id="field_dMwash"
                           ng-model="instBuilding.labNo" min="0" maxlength="3" minlength="1" ng-minlength="1"
                           ng-maxlength="3"only-numbers
                           required/>
                    <div ng-show="editForm.labNo{{$index}}.$invalid">
                        <small style="color:red" ng-show="editForm.labNo{{$index}}.$error.required"
                               translate="entity.validation.required">
                            This field is required.
                        </small>
                        <small style="color:red" ng-show="editForm.labNo{{$index}}.$error.maxlength">
                            This field should not be more than 3 digit.
                        </small>
                        <small style="color:red" ng-show="editForm.labNo{{$index}}.$error.minlength">
                            This field should at least 1 digit.
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label translate="stepApp.instBuilding.workshopNo" for="field_classRoom">Total Number of
                        Classroom</label>
                    <input type="text" class="form-control" name="workshopNo{{$index}}" id="field_dMwash"
                           ng-model="instBuilding.workshopNo" min="0" maxlength="3" minlength="1" ng-minlength="1"
                           ng-maxlength="3"only-numbers
                           required/>
                    <div ng-show="editForm.workshopNo{{$index}}.$invalid">
                        <small style="color:red" ng-show="editForm.workshopNo{{$index}}.$error.required"
                               translate="entity.validation.required">
                            This field is required.
                        </small>
                        <small style="color:red" ng-show="editForm.workshopNo{{$index}}.$error.maxlength">
                            This field should not be more than 3 digit.
                        </small>
                        <small style="color:red" ng-show="editForm.workshopNo{{$index}}.$error.minlength">
                            This field should at least 1 digit.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-right padding-tb" ng-show="instBuildings.length > 0 && $index>0">
                <button type="button" ng-hide="instBuilding.id !=null || $index==0"
                       class="btn btn-sm btn-danger"
                       ng-click="instBuildings.splice($index, 1)" >
                    <i class="fa fa-minus" aria-hidden="true"></i>
                    <span>Remove</span>
                </button>
            </div>
        </div>
        <div class="panel-footer">
            <input type="button" class="btn btn-primary"
                   ng-click="addBuildingMore()" value="Add More"/>

            <!--<span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.addMore">Add More</span>
        </a>-->
        </div>
        <div class="panel-body col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel-body no_padding" ng-repeat="instLabInfo in instLabInfos">
                        <div class="col-md-12 admin-info no_padding">
                            <div class="col-md-12 no_padding">
                                <h3> <span translate="stepApp.instLabInfo.title"></span>
                                    <span class="pull-right">
                                        <input type="button"
                                               ng-hide="instLabInfo.id !=null || $index==0"
                                               class="btn btn-danger pull-right btn-xs"
                                               ng-click="removeLibraryInfo(instLabInfo)" value="X"/>
                                    </span>
                                </h3>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label translate="stepApp.instLabInfo.nameOrNumber"
                                   for="field_nameOrNumber">NameOrNumber</label>
                            <input type="text" class="form-control" name="nameOrNumber{{$index}}"
                                   id="field_nameOrNumber"
                                   ng-model="instLabInfo.nameOrNumber"
                                   only-letters-and-numbers minlength="1" maxlength="100" ng-minlength="1"
                                   ng-maxlength="100" placeholder="{{'stepApp.instLabInfo.nameOrNumber' | translate}}"/>
                            <div ng-show="editForm.nameOrNumber{{$index}}.$invalid">
                                <small style="color:red" ng-show="editForm.nameOrNumber{{$index}}.$error.required"
                                       translate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small style="color:red" ng-show="editForm.nameOrNumber{{$index}}.$error.maxlength">
                                    This field should not be more than 100 Character.
                                </small>
                                <small style="color:red" ng-show="editForm.nameOrNumber{{$index}}.$error.minlength">
                                    This field should at least 1 Character.
                                </small>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label translate="stepApp.instLabInfo.buildingNameOrNumber"
                                   for="field_buildingNameOrNumber">BuildingNameOrNumber</label>
                            <input type="text" class="form-control" name="buildingNameOrNumber{{$index}}"
                                   id="field_buildingNameOrNumber" minlength="1" maxlength="100" ng-minlength="1"
                                   ng-maxlength="100"
                                   ng-model="instLabInfo.buildingNameOrNumber"
                                   only-letters-and-numbers placeholder="{{'stepApp.instLabInfo.buildingNameOrNumber' | translate}}"/>
                            <div ng-show="editForm.buildingNameOrNumber{{$index}}.$invalid">
                                <small style="color:red"
                                       ng-show="editForm.buildingNameOrNumber{{$index}}.$error.required"
                                       translate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small style="color:red"
                                       ng-show="editForm.buildingNameOrNumber{{$index}}.$error.maxlength">
                                    This field should not be more than 100 Character.
                                </small>
                                <small style="color:red"
                                       ng-show="editForm.buildingNameOrNumber{{$index}}.$error.minlength">
                                    This field should at least 1 Character.
                                </small>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label translate="stepApp.instLabInfo.length" for="field_length">Length</label>
                            <input type="text" class="form-control" name="length{{$index}}" id="field_length"
                                   placeholder="in square ft "
                                   ng-model="instLabInfo.length" minlength="1" maxlength="5" ng-minlength="1"
                                   ng-maxlength="5"
                                   only-numbers-and-dash/>
                            <div ng-show="editForm.length{{$index}}.$invalid">
                                <small style="color:red" ng-show="editForm.length{{$index}}.$error.required"
                                       translate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small style="color:red" ng-show="editForm.length{{$index}}.$error.maxlength">
                                    This field should not be more than 3 digit.
                                </small>
                                <small style="color:red" ng-show="editForm.length{{$index}}.$error.minlength">
                                    This field should at least 1 digit.
                                </small>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label translate="stepApp.instLabInfo.width" for="field_width">Width</label>
                            <input type="text" class="form-control" name="width{{$index}}" id="field_width"
                                   placeholder="in square ft "
                                   ng-model="instLabInfo.width" minlength="1" maxlength="5" ng-minlength="1"
                                   ng-maxlength="5"
                                   only-numbers-and-dash/>
                            <div ng-show="editForm.width{{$index}}.$invalid">
                                <small style="color:red" ng-show="editForm.width{{$index}}.$error.required"
                                       translate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small style="color:red" ng-show="editForm.width{{$index}}.$error.maxlength">
                                    This field should not be more than 3 digit.
                                </small>
                                <small style="color:red" ng-show="editForm.width{{$index}}.$error.minlength">
                                    This field should at least 1 digit.
                                </small>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label translate="stepApp.instLabInfo.totalBooks" for="field_totalBooks">TotalBooks</label>
                            <input type="text" class="form-control" name="totalBooks{{$index}}" id="field_totalBooks"
                                   ng-model="instLabInfo.totalBooks" minlength="1" maxlength="3" ng-minlength="1"
                                   ng-maxlength="3" only-numbers placeholder="{{'stepApp.instLabInfo.totalBooks' | translate}}"
                            />
                            <div ng-show="editForm.totalBooks{{$index}}.$invalid">
                                <small style="color:red" ng-show="editForm.totalBooks{{$index}}.$error.required"
                                       translate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small style="color:red" ng-show="editForm.totalBooks{{$index}}.$error.maxlength">
                                    This field should not be more than 3 digit.
                                </small>
                                <small style="color:red" ng-show="editForm.totalBooks{{$index}}.$error.minlength">
                                    This field should at least 1 digit.
                                </small>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <input type="button" class="btn btn-primary"
                               ng-disabled="!instLabInfos[instLabInfos.length-1].nameOrNumber || !instLabInfos[instLabInfos.length-1].buildingNameOrNumber || !instLabInfos[instLabInfos.length-1].length || !instLabInfos[instLabInfos.length-1].width || !instLabInfos[instLabInfos.length-1].totalBooks"
                               ng-click="addLibraryMore()" value="Add More"/>
                        <!--<span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.addMore">Add More</span>
                    </a>-->
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="panel-body no_padding" ng-repeat="instShopInfo in instShopInfos">
                        <!--<div class="col-md-12 admin-info no_padding">
                            <h3 translate="stepApp.instShopInfo.title">Workshop Information</h3>
                        </div>-->
                        <div class="col-md-12 admin-info no_padding">
                            <div class="col-md-12 admin-info no_padding">
                                <h3><span translate="stepApp.instShopInfo.title"></span>
                                <span class="pull-right">
                                    <input type="button" ng-hide="instShopInfo.id !=null || $index==0"
                                           class="btn btn-danger btn-xs"
                                           ng-click="removeShopInfoInfo(instShopInfo)" value="X"/>
                                </span>
                                </h3>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label translate="stepApp.instShopInfo.nameOrNumber"
                                   for="field_nameOrNumber1">NameOrNumber</label>
                            <input type="text" class="form-control" name="nameOrNumber" id="field_nameOrNumber1"
                                   ng-model="instShopInfo.nameOrNumber"
                                   placeholder="{{'stepApp.instShopInfo.nameOrNumber' | translate}}"
                                   only-letters-and-numbers/>
                        </div>

                        <div class="form-group col-md-6">
                            <label translate="stepApp.instShopInfo.buildingNameOrNumber"
                                   for="field_buildingNameOrNumber1">BuildingNameOrNumber</label>
                            <input type="text" class="form-control" name="buildingNameOrNumber"
                                   id="field_buildingNameOrNumber1" placeholder="{{'stepApp.instShopInfo.buildingNameOrNumber' | translate}}"
                                   ng-model="instShopInfo.buildingNameOrNumber"
                                   only-letters-and-numbers/>
                        </div>

                        <div class="form-group col-md-6">
                            <label translate="stepApp.instShopInfo.length" for="field_length1">Length</label>
                            <input type="text" class="form-control" name="length" id="field_length1" placeholder="in square ft"
                                   ng-model="instShopInfo.length"
                                   only-numbers-and-dash/>
                        </div>

                        <div class="form-group col-md-6">
                            <label translate="stepApp.instShopInfo.width" for="field_width1">Width</label>
                            <input type="text" class="form-control" name="width" id="field_width1" placeholder="in square ft"
                                   ng-model="instShopInfo.width"
                                   only-numbers-and-dash/>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="button" class="btn btn-primary"
                               ng-disabled="!instShopInfos[instShopInfos.length-1].nameOrNumber || !instShopInfos[instShopInfos.length-1].buildingNameOrNumber || !instShopInfos[instShopInfos.length-1].length || !instShopInfos[instShopInfos.length-1].width"
                               ng-click="addWorkShopMore()" value="Add More"/>
                        <!--<span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.addMore">Add More</span>
                    </a>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body no_padding">
            <div class="col-sm-12 admin-info ">
                <h3 translate="stepApp.instLand.home.createOrEditLabel"></h3>
            </div>
            <div class="panel-body no_padding">
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.mouja" for="field_mouja">Mouja</label>
                    <input type="text" class="form-control" name="mouja" id="field_mouja"
                           ng-model="instLand.mouja"
                           required/>
                    <div ng-show="editForm.mouja.$invalid">
                        <p class="help-block"
                           ng-show="editForm.mouja.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.jlNo" for="field_jlNo">Jl No</label>
                    <input type="text" class="form-control" name="jlNo" id="field_jlNo"
                           ng-model="instLand.jlNo"
                           required only-numbers/>
                    <div ng-show="editForm.jlNo.$invalid">
                        <p class="help-block"
                           ng-show="editForm.jlNo.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.ledgerNo" for="field_ledgerNo">Ledger No</label>
                    <input type="text" class="form-control" name="ledgerNo" id="field_ledgerNo"
                           ng-model="instLand.ledgerNo" min="0" only-numbers
                           required/>
                    <div ng-show="editForm.ledgerNo.$invalid">
                        <p class="help-block"
                           ng-show="editForm.ledgerNo.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.ledgerNo.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.dagNo" for="field_dagNo">Dag No</label>
                    <input type="text" class="form-control" name="dagNo" id="field_dagNo"
                           ng-model="instLand.dagNo"
                           required only-numbers/>
                    <div ng-show="editForm.dagNo.$invalid">
                        <p class="help-block"
                           ng-show="editForm.dagNo.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.amountOfLand" for="field_amountOfLand">Amount Of Land</label>
                    <input type="text" class="form-control" name="amountOfLand" id="field_amountOfLand"
                           placeholder="in acre" only-numbers
                           ng-model="instLand.amountOfLand" min="0"
                           required/>
                    <div ng-show="editForm.amountOfLand.$invalid">
                        <p class="help-block"
                           ng-show="editForm.amountOfLand.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.amountOfLand.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.landRegistrationLedgerNo" for="field_landRegistrationLedgerNo">Land
                        Registration Ledger No</label>
                    <input type="text" class="form-control" name="landRegistrationLedgerNo"
                           id="field_landRegistrationLedgerNo"
                           ng-model="instLand.landRegistrationLedgerNo"
                           required only-numbers/>
                    <div ng-show="editForm.landRegistrationLedgerNo.$invalid">
                        <p class="help-block"
                           ng-show="editForm.landRegistrationLedgerNo.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.landRegistrationDate" for="field_landRegistrationDate">LandRegistrationDate</label>
                    <input type="text" class="form-control" name="landRegistrationDate" id="field_landRegistrationDate"
                           ng-model="instLand.landRegistrationDate" placeholder="YYYY-MM-DD"
                           datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.landRegistrationDate"
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'landRegistrationDate')" required max-date="todate"/>
                    <div ng-show="editForm.landRegistrationDate.$invalid">
                        <p class="help-block"
                           ng-show="editForm.landRegistrationDate.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.lastTaxPaymentDate" for="field_lastTaxPaymentDate">Last Tax
                        Payment Date</label>
                    <input type="text" class="form-control" name="lastTaxPaymentDate" id="field_lastTaxPaymentDate"
                           ng-model="instLand.lastTaxPaymentDate" placeholder="YYYY-MM-DD"
                           required
                           datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.lastTaxPaymentDate"
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'lastTaxPaymentDate')" max-date="todate"
                    />
                    <div ng-show="editForm.lastTaxPaymentDate.$invalid">
                        <p class="help-block"
                           ng-show="editForm.lastTaxPaymentDate.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <h3 translate="stepApp.instLand.boundary"></h3>
                    <div class="col-md-12 no_padding">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label translate="stepApp.instLand.boundaryNorth" for="field_boundaryNorth">Boundary
                                    North</label>
                                <input type="text" class="form-control" name="boundaryNorth" id="field_boundaryNorth"
                                       ng-model="instLand.boundaryNorth" maxlength="5" minlength="1" only-numbers-and-dash placeholder="in square ft"
                                />
                                <div ng-show="editForm.boundaryNorth.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.boundaryNorth.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <small style="color:red;font-size: 10px;" ng-show="editForm.boundaryNorth.$error.maxlength">
                                        This field should not longer than 3 digit
                                    </small>
                                    <small style="color:red;font-size: 10px;" ng-show="editForm.boundaryNorth.$error.minlength">
                                        This field need to be at least 1 digit
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label translate="stepApp.instLand.boundarySouth" for="field_boundarySouth">Boundary
                                    South</label>
                                <input type="text" class="form-control" name="boundarySouth" id="field_boundarySouth"
                                       ng-model="instLand.boundarySouth" min="0" minlength="1" maxlength="5" only-numbers-and-dash placeholder="in square ft"
                                />
                                <div ng-show="editForm.boundarySouth.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.boundarySouth.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <small style="color:red;font-size: 10px;" ng-show="editForm.boundarySouth.$error.maxlength">
                                        This field should not longer than 3 digit
                                    </small>
                                    <small style="color:red;font-size: 10px;" ng-show="editForm.boundarySouth.$error.minlength">
                                        This field need to be at least 1 digit
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label translate="stepApp.instLand.boundaryEast" for="field_boundaryEast">Boundary
                                    East</label>
                                <input type="text" class="form-control" name="boundaryEast" id="field_boundaryEast"
                                       ng-model="instLand.boundaryEast" min="0" maxlength="5" minlength="1" only-numbers-and-dash placeholder="in square ft"
                                />
                                <div ng-show="editForm.boundaryEast.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.boundaryEast.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <small style="color:red;font-size: 10px;" ng-show="editForm.boundaryEast.$error.maxlength">
                                        This field should not longer than 3 digit
                                    </small>
                                    <small style="color:red;font-size: 10px;" ng-show="editForm.boundaryEast.$error.minlength">
                                        This field need to be at least 1 digit
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label translate="stepApp.instLand.boundaryWest" for="field_boundaryWest">Boundary
                                    West</label>
                                <input type="number" class="form-control" name="boundaryWest" id="field_boundaryWest"
                                       ng-model="instLand.boundaryWest" min="0" minlength="1" maxlength="5" only-numbers-and-dash placeholder="in square ft"
                                />
                                <div ng-show="editForm.boundaryWest.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.boundaryWest.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <small style="color:red;font-size: 10px;" ng-show="editForm.boundaryWest.$error.maxlength">
                                        This field should not longer than 3 digit
                                    </small>
                                    <small style="color:red;font-size: 10px;" ng-show="editForm.boundaryWest.$error.minlength">
                                        This field need to be at least 1 digit
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.distncFromDistHQ" for="field_distncFromDistHQ">Boundary
                        West</label>
                    <input type="text" class="form-control" placeholder="in k.m" name="distncFromDistHQ"
                           id="field_distncFromDistHQ"
                           ng-model="instLand.distncFromDistHQ" min="0" minlength="1" maxlength="3"
                           only-numbers/>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.distncFromMainRd" for="field_distncFromMainRd">Boundary
                        West</label>
                    <input type="text" class="form-control" placeholder="in Meter" name="distncFromMainRd"
                           id="field_distncFromMainRd" minlength="1" maxlength="3"
                           ng-model="instLand.distncFromMainRd" min="0"
                           only-numbers/>
                </div>
                <div class="form-group col-md-6 padding0">
                    <div class="col-md-12">
                        <h6 translate="stepApp.instLand.boundaryWall" for="field_distncFromMainRd">Boundary West</h6>
                    </div>
                    <div class="col-md-6">
                        <label translate="stepApp.instLand.height">Height</label>
                        <input type="text" class="form-control" placeholder="ft" name="height"
                               id="field_height" maxlength="3" minlength="1"
                               ng-model="instLand.height" min="0" only-numbers/>
                    </div>
                    <div class="col-md-6">
                        <label translate="stepApp.instLand.width">Width</label>
                        <input type="text" class="form-control" placeholder="ft" name="width"
                               id="field_lwidth" maxlength="3" minlength="1"
                               ng-model="instLand.width" min="0" only-numbers/>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.mutationNo" for="field_mutationNO">Mutation Number</label>
                    <input type="text" class="form-control" name="mutationNo" id="field_mutationNo"
                           ng-model="instLand.mutationNo" min="0"
                           only-letters-and-number-and-dash-and-slash/>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.mutationDate" for="field_mutationDate">Mutation Date</label>
                    <input type="text" class="form-control" name="mutationDate" id="field_mutationDate"
                           ng-model="instLand.mutationDate"
                           datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.mutationDate"
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'mutationDate')" placeholder="YYYY-MM-DD" max-date="todate"/>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.deedNo" for="field_deedNo">Deed No</label>
                    <input type="text" class="form-control" name="deedNo" id="field_deedNo"
                           ng-model="instLand.deedNo" min="0"
                           only-letters-and-numbers/>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.giverName" for="field_giverName">Giver Name</label>
                    <input type="text" class="form-control" name="deedNo" id="field_giverName"
                           ng-model="instLand.giverName" min="0"
                           only-letters/>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.receiverName" for="field_receiverName">Receiver Name</label>
                    <input type="text" class="form-control" name="deedNo" id="field_receiverName"
                           ng-model="instLand.receiverName" min="0"
                           only-letters/>
                </div>

                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.receiverDate" for="field_receiverDate">Receiver Date</label>
                    <input type="text" class="form-control" name="receiverDate" id="field_receiverDate"
                           ng-model="instLand.receiverDate"
                           datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.receiverDate"
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'receiverDate')" placeholder="YYYY-MM-DD" max-date="todate"/>
                </div>

                <div class="form-group col-md-6">
                    <label translate="stepApp.instLand.survey" for="field_survey">Land Survey</label>
                    <textarea type="text" class="form-control" name="survey" id="field_survey"
                              ng-model="instLand.survey" min="0"
                    ></textarea>
                </div>
                <div class="col-md-6 form-group">
                    <label translate="stepApp.instLand.porcha">Porcha</label>
                    {{instLand.porcha}}
                    <div class="col-sm-12">
                        <input type="radio" name="porcha" value="cs" ng-model="instLand.porcha"
                               data-ng-checked="(instLand.porcha == 'CS'|| instLand.porcha == 'cs')"
                        ><span translate="stepApp.instLand.cs">CS</span>&nbsp;&nbsp;
                        <input type="radio" name="porcha" value="sa" ng-model="instLand.porcha"
                               data-ng-checked="(instLand.porcha == 'SA' || instLand.porcha == 'sa')">
                        <span translate="stepApp.instLand.sa">SA</span>&nbsp;&nbsp;
                        <input type="radio" name="porcha" value="rs" ng-model="instLand.porcha"
                               data-ng-checked="(instLand.porcha == 'RS' || instLand.porcha == 'rs')"
                        ><span translate="stepApp.instLand.rs">RS</span>&nbsp;&nbsp;
                        <input type="radio" name="porcha" value="bs" ng-model="instLand.porcha"
                               data-ng-checked="(instLand.porcha == 'BS' || instLand.porcha == 'bs')">
                        <span translate="stepApp.instLand.bs">BS</span>
                    </div>
                </div>
            </div>
            <div class="panel-body ">
                <div ng-repeat="instPlayGroundInfo in instPlayGroundInfos">
                    <div class="col-md-12 admin-info no_padding">
                        <div class="col-md-11 admin-info no_padding">
                            <h3 translate="stepApp.instPlayGroundInfo.title">PlayGround Information</h3>
                        </div>
                        <div class="col-sm-1 text-right no_padding">
                            <input type="button" ng-hide="instPlayGroundInfo.id !=null || $index==0"
                                   class="btn btn-link pull-right cross-btn-color"
                                   ng-click="removePlayGroundInfo(instPlayGroundInfo)" value="X"/>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instPlayGroundInfo.playgroundNo"
                               for="field_playgroundNo">PlaygroundNo</label>
                        <input type="text" class="form-control" name="playgroundNo" id="field_playgroundNo"
                               ng-model="instPlayGroundInfo.playgroundNo"
                               only-letters-and-numbers
                        />
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instPlayGroundInfo.area" for="field_area">Area</label>
                        <input type="text" class="form-control" name="area" id="field_area" placeholder="in square ft"
                               ng-model="instPlayGroundInfo.area" only-numbers minlength="1" maxlength="5"/>
                    </div>

                </div>
                <div class="panel-footer">
                    <input type="button" class="btn btn-primary"
                           ng-disabled="!instPlayGroundInfos[instPlayGroundInfos.length-1].playgroundNo || !instPlayGroundInfos[instPlayGroundInfos.length-1].area"
                           ng-click="addPlayGroundMore()" value="Add More"/><!--
                   <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.addMore">Add More</span>
               </a>-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" class="btn pull-left" data-dismiss="modal"
                    onclick="window.history.back()">
                <span class=" glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                translate="entity.action.back">Back</span>
            </button>
            <!--ng-disabled="(editForm.$invalid || isSaving) && (editForm.$invalid == false && !editForm.receiverDate.$dirty)"-->
            <button type="submit" ng-disabled="editForm.$invalid || isSaving"
                    class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="instBuilding.id==null" translate="entity.action.save">Save</span>
                <span ng-hide="instBuilding.id==null" translate="entity.action.update">Update</span>
            </button>
        </div>
    </form>
</div>
