<div class="col-md-12 common-table no_padding custom-body">
    <h2><span translate="stepApp.instInfraInfo.detail.title">InstInfraInfo</span></h2>
    <div class="col-sm-12 text-right padding-tb no-print">
        <button class="btn btn-primary" ui-sref="instituteInfo.infrastructureInfo.new"
                ng-if="instInfraInfo.instInfraInfo.id == null">
            <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.instInfraInfo.home.createLabel">Create a new InstInfraInfo</span>
        </button>
        <button type="submit" ng-if="instInfraInfo.instInfraInfo.id != null"
                ui-sref="instituteInfo.infrastructureInfo.edit({id:instInfraInfo.instInfraInfo.id})"
                class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
        </button>
    </div>


    <div class="panel no_padding ">

        <div class="table-responsive col-sm-12 no_padding ">
            <h2 translate="stepApp.instBuilding.detail.title"></h2>
            <table class="table table-striped dte-table" ng-repeat="instBuilding in instBuildings">
                <thead>
                <tr>
                    <th colspan="4">Building info detail <span>   {{$index + 1}}  </span></th>
                    <!--<th class="infr-table-head" colspan="4" translate="stepApp.instBuilding.detail.title"><span>InstBuilding</span> {{instBuilding.id}}</th>-->
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.instBuilding.nameOrNumber">TotalArea</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instBuilding.name}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instBuilding.totalArea">TotalArea</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instBuilding.totalArea}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instBuilding.position">TotalArea</span>
                    </td>

                    <td>
                            <span ng-show="instBuilding.direction==1"
                                  class="form-control-static">North</span>
                        <span ng-show="instBuilding.direction==2"
                              class="form-control-static">South</span>
                        <span ng-show="instBuilding.direction==3"
                              class="form-control-static">East</span>
                        <span ng-show="instBuilding.direction==4"
                              class="form-control-static">West</span>
                    </td>
                    <td>
                        <span translate="stepApp.instBuilding.teachersRoom">teachersRoom</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instBuilding.teachersRoom}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instBuilding.classRoom">ClassRoom</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instBuilding.classRoom}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instBuilding.officeRoom">OfficeRoom</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instBuilding.officeRoom}}</span>
                    </td>
                </tr>
                <tr>
                    <!--<th>-->
                    <!--<span translate="stepApp.instBuilding.teachersRoom">teachersRoom</span>-->
                    <!--</th>-->
                    <!--<td>-->
                    <!--<span-->
                    <!--class="form-control-static">{{instBuilding.teachersRoom}}</span>-->
                    <!--</td>-->
                    <td>
                        <span translate="stepApp.instBuilding.trainingRoom">trainingRoom</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instBuilding.trainingRoom}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.instBuilding.prayerhall">labRoom</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instBuilding.prayerHall}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instBuilding.workshopRoom">trainingRoom</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instBuilding.workshopRoom}}</span>
                    </td>


                    <td>
                        <span translate="stepApp.instBuilding.meetingRoom">meetingRoom</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instBuilding.meetingRoom}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instBuilding.researchRoom">researchRoom</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instBuilding.researchRoom}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instBuilding.labRoom">labRoom</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instBuilding.labRoom}}</span>
                    </td>


                </tr>


                <tr>
                    <td>
                        <span translate="stepApp.instBuilding.counselingRoom">counselingRoom</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instBuilding.counselingRoom}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instBuilding.auditoriumRoom">auditoriumRoom</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instBuilding.auditoriumRoom}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instBuilding.commonRoom">commonRoom</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instBuilding.commonRoom}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instBuilding.maleBathroom">maleBathroom</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instBuilding.maleBathroom}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instBuilding.femaleBathroom">femaleBathroom</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instBuilding.femaleBathroom}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instBuilding.storeRoom">storeRoom</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instBuilding.storeRoom}}</span>
                    </td>
                </tr>

                <tr ng-if="instBuilding.dMwash!=null">
                    <td>
                        <span translate="stepApp.instBuilding.mwashRoom">femaleBathroom</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instBuilding.dMwash}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instBuilding.fwashRoom">storeRoom</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instBuilding.dFwash}}</span>
                    </td>
                </tr>
                <tr ng-if="instBuilding.labNo!=null">
                    <td>
                        <span translate="stepApp.instBuilding.labNo">femaleBathroom</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instBuilding.labNo}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instBuilding.workshopNo">storeRoom</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instBuilding.workshopNo}}</span>
                    </td>
                </tr>
                <tr>
                    <!--<th>
                        <span translate="stepApp.instBuilding.totalLibraryRoom">totalLibraryRoom</span>
                    </th>
                    <td>
                        <span class="form-control-static">{{instBuilding.totalLibraryRoom}}</span>
                    </td>-->
                    <td>
                        <span translate="stepApp.instBuilding.totalShop">totalShop</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instBuilding.totalShop}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.instBuilding.computerLab">totalShop</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instBuilding.computerLab}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 library-info padding0" ng-show="instLabInfos.length > 0">
            <h3 translate="stepApp.instInfraInfo.LibraryInformation">Library Information</h3>
            <div class="col-md-12 no_padding" ng-repeat="instLabInfo in instLabInfos">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <!--<th translate="entity.detail.field">Field</th>-->
                        <!--<th translate="entity.detail.value">Value</th>-->
                        <th class="infr-table-head" colspan="6"><span
                            translate="stepApp.instInfraInfo.LibraryInformation"></span> {{$index + 1}}
                        </th>
                    </tr>
                    <!--<div class="col-sm-11 text-left no_padding">
                        <h3 >Library Information</h3>
                    </div>
                    <div class="col-sm-1 text-right no_padding">
                        <input type="button" ng-hide="instLabInfo.id !=null" class="btn btn-link pull-right cross-btn-color" ng-click="removeLibraryInfo(instLabInfo)"  value="X"/>
                    </div>-->
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span translate="stepApp.instLabInfo.nameOrNumber">NameOrNumber</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{instLabInfo.nameOrNumber}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.instLabInfo.buildingNameOrNumber">BuildingNameOrNumber</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{instLabInfo.buildingNameOrNumber}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.instLabInfo.length">Length</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{instLabInfo.length}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.instLabInfo.width">Width</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{instLabInfo.width}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.instLabInfo.totalBooks">TotalBooks</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{instLabInfo.totalBooks}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-12 padding0" ng-show="instShopInfos.length > 0">
            <h3 translate="stepApp.instInfraInfo.WorkshopInformation">Workshop Information</h3>
            <div class="col-md-12 no_padding table-responsive" ng-repeat="instShopInfo in instShopInfos">
                <table class="table table-striped dte-table">
                    <thead>
                    <tr>
                        <!--<th translate="entity.detail.field">Field</th>-->
                        <!--<th translate="entity.detail.value">Value</th>-->
                        <th class="infr-table-head" colspan="6" ><span
                            translate="stepApp.instInfraInfo.WorkshopInformation">Workshop Information </span>{{$index +
                            1}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span translate="stepApp.instShopInfo.nameOrNumber">NameOrNumber</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{instShopInfo.nameOrNumber}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.instShopInfo.buildingNameOrNumber">BuildingNameOrNumber</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{instShopInfo.buildingNameOrNumber}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.instShopInfo.length">Length</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{instShopInfo.length}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.instShopInfo.width">Width</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{instShopInfo.width}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--<h2><span translate="stepApp.instLand.detail.title">InstLand</span> {{instInfraInfo.instLand.id}}</h2>-->
        <div class="col-md-12 padding0">
            <!--<h2 translate="stepApp.instLand.detail.title"></h2>-->
            <table class="table table-striped dte-table">
                <thead>
                <tr>
                    <th class="infr-table-head" colspan="6" translate="stepApp.instLand.detail.title"
                        >
                        <span>InstLand</span> {{instInfraInfo.instLand.id}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.instLand.mouja">Mouja</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.mouja}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instLand.jlNo">JlNo</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.jlNo}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instLand.ledgerNo">LedgerNo</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.ledgerNo}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instLand.dagNo">DagNo</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.dagNo}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instLand.amountOfLand">AmountOfLand</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.amountOfLand}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instLand.landRegistrationLedgerNo">LandRegistrationLedgerNo</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.landRegistrationLedgerNo}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instLand.landRegistrationDate">LandRegistrationDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.landRegistrationDate | date:'mediumDate'}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instLand.lastTaxPaymentDate">LastTaxPaymentDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.lastTaxPaymentDate | date:'mediumDate'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instLand.boundaryNorth">BoundaryNorth</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.boundaryNorth}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instLand.boundarySouth">BoundarySouth</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.boundarySouth}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instLand.boundaryEast">BoundaryEast</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.boundaryEast}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instLand.boundaryWest">BoundaryWest</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.boundaryWest}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instLand.distncFromDistHQ">distncFromDistHQ</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.distncFromDistHQ}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instLand.distncFromMainRd">distncFromMainRd</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.distncFromMainRd}}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span translate="stepApp.instLand.boundaryWallH">distncFromDistHQ</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.height}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instLand.boundaryWallW">distncFromMainRd</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.width}}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span translate="stepApp.instLand.mutationNo">distncFromDistHQ</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.mutationNo}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instLand.mutationDate">distncFromMainRd</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.mutationDate | date:'mediumDate'}}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span translate="stepApp.instLand.deedNo">distncFromDistHQ</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.deedNo}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instLand.giverName">distncFromMainRd</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.giverName}}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span translate="stepApp.instLand.receiverName">distncFromDistHQ</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.receiverName}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instLand.receiverDate">distncFromMainRd</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.receiverDate | date:'mediumDate'}}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span translate="stepApp.instLand.survey">distncFromDistHQ</span>
                    </td>
                    <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instInfraInfo.instLandTemp.survey}}</span>
                    </td>
                    <td></td>
                    <td></td>

                </tr>


                <tr>
                    <td>
                        <span translate="stepApp.instLand.porcha">TotalArea</span>
                    </td>

                    <td>
                        {{instInfraInfo.instInfraInfo.instLandTemp.porcha | uppercase}}
                        <!-- <span ng-if="instInfraInfo.instLandTemp.porcha=='cs'"
                               class="form-control-static">CS</span>
                         <span ng-if="instInfraInfo.instInfraInfo.instLandTemp.porcha==sa"
                               class="form-control-static">SA</span>
                         <span ng-show="instInfraInfo.instInfraInfoTemp.instLandTemp.porcha==rs"
                               class="form-control-static">RS</span>
                         <span ng-show="instInfraInfo.instInfraInfoTemp.instLandTemp.porcha==bs"
                               class="form-control-static">BS</span>-->
                    </td>
                    <td></td>
                    <td></td>

                </tr>
                </tbody>

            </table>
            <div class="col-sm-12 no_padding">
                <h3 translate="stepApp.instInfraInfo.PlaygroundInformation">Playground Information</h3>
                <div class="table-responsive">
                    <table class="table table-striped dte-table" ng-repeat="instPlayGroundInfo in instPlayGroundInfos">
                        <thead>
                        <tr>
                            <th class="infr-table-head" colspan="2" >
                                <span
                                    translate="stepApp.instInfraInfo.PlaygroundInformation">Playground Information </span>
                                &nbsp; {{$index + 1}}
                                &nbsp; {{instInfraInfo.instPlayGroundInfo.id}}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <span translate="stepApp.instPlayGroundInfo.playgroundNo">PlaygroundNo</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instPlayGroundInfo.playgroundNo}}</span>
                            </td>


                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.instPlayGroundInfo.area">Area</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instPlayGroundInfo.area}}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <!--<div class="panel-footer">
            <button type="submit"
                    onclick="window.history.back()"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
            </button>
        </div>-->
        <div class="no-print   text-right padding-tb">
            <button type="submit" name="submit" onclick="window.print()" class="btn btn-primary">
                <span class="glyphicon glyphicon-print"></span>&nbsp;<span
                translate="entity.action.print">Print</span>
            </button>
        </div>

    </div>

</div>

<style>
    .custom-body {
        background: #ddd !important;
    }
</style>











