<div class="col-md-2 padding-left0 padding-right0">
    <ng-include src="'scripts/app/entities/jobPortal/jp-admin-menu.html'"></ng-include>
</div>
<div class="col-md-10 padding-left0 lbl-dash">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <div class="col-md-12 common-dialogue">
            <h4 class="modal-title" ng-show="organizationCategory.id == null" id="myOrganizationCategoryLabel"
                translate="stepApp.organizationCategory.home.createLabel">Create or edit a OrganizationCategory</h4>
            <h4 class="modal-title" ng-show="organizationCategory.id != null" id="myOrganizationCategoryLabel1"
                translate="stepApp.organizationCategory.home.editLabel">Create or edit a OrganizationCategory</h4>
            <div class="modal-body">
                <!--<jh-alert-error></jh-alert-error>-->
                <!-- <div class="form-group">
                     <label for="id" translate="global.field.id">ID</label>
                     <input type="text" class="form-control" id="id" name="id"
                             ng-model="organizationCategory.id" readonly />
                 </div>-->
                <!--<div class="form-group">
                    <label translate="stepApp.organizationCategory.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                            ng-model="organizationCategory.name"
                            required ng-maxlength="100" />
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block"
                            ng-show="editForm.name.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                            This field cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>-->

                <div class="form-group">
                    <label translate="stepApp.organizationCategory.name" for="field_name">Name</label>
                    <input type="text" class="form-control" id="field_name" name="name"
                           ng-model="organizationCategory.name"
                           ng-remote-validate="/api/organizationCategory/checkByName/"
                           ng-remote-method="GET"
                           ng-remote-throttle="500"
                           ng-maxlength='50'
                           placeholder="{{'stepApp.organizationCategory.name' | translate}}"
                           tooltip="{{'stepApp.organizationCategory.name' | translate}}"
                           required>
                    <span class="message validating" ng-show="editForm.name.$pending">validating...</span>
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.ngRemoteValidate">
                            Category already exists!
                        </p>
                    </div>
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="50">
                            This field cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="stepApp.organizationCategory.description"
                           for="field_description">Description</label>
            <textarea type="text" class="form-control" name="description" id="field_description"
                      ng-model="organizationCategory.description"
                      placeholder="{{'stepApp.organizationCategory.description' | translate}}"
                      tooltip="{{'stepApp.organizationCategory.description' | translate}}"
            ></textarea>
                    <!--<div ng-show="editForm.description.$invalid">
                        <p class="help-block"
                            ng-show="editForm.description.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>-->
                </div>
                <div class="form-group">
                    <label translate="stepApp.organizationCategory.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                           ng-model="organizationCategory.status"
                           tooltip="{{'stepApp.organizationCategory.status' | translate}}"
                    />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="window.history.back()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;
                    <span ng-show="organizationCategory.id == null" translate="entity.action.save">Save</span>
                    <span ng-show="organizationCategory.id != null" translate="entity.action.update">Save</span>
                </button>
            </div>
            </div>
    </form>
</div>
