<div class="col-md-12 common-dialogue">
    <form name="editForm"role="form" novalidate ng-submit="save()">
            <h4 class="modal-title" id="myMpoVacancyRoleLabel"
                translate="stepApp.mpoVacancyRole.home.createOrEditLabel">Create or edit a MpoVacancyRole</h4>
        <div class="modal-body padding-tb col-md-12">
            <!--<div class="form-group">-->
                <!--<label translate="stepApp.mpoVacancyRole.vacancyRoleType"-->
                       <!--for="field_vacancyRoleType">VacancyRoleType</label>-->
                <!--<select class="form-control" name="vacancyRoleType" ng-model="mpoVacancyRole.vacancyRoleType"-->
                        <!--id="field_vacancyRoleType" required>-->
                    <!--<option value="" >{{mpoVacancyRole.vacancyRoleType}}</option>-->
                    <!--<option value="General" translate="stepApp.VacancyRoleType.General">General</option>-->
                    <!--<option value="Special" translate="stepApp.VacancyRoleType.Special">Special</option>-->
                <!--</select>-->
            <!--</div>-->

            <div class="form-group">
                <label translate="stepApp.mpoVacancyRole.cmsCurriculum" for="field_cmsCurriculum">cmsCurriculum</label>
                <select ng-change="setTrades(mpoVacancyRole.cmsCurriculum)" class="form-control"
                        id="field_cmsCurriculum" name="cmsCurriculum" ng-model="mpoVacancyRole.cmsCurriculum"
                        ng-options="cmsCurriculum as cmsCurriculum.name for cmsCurriculum in cmscurriculums track by cmsCurriculum.id">
                    <option value=""></option>
                </select>
            </div>

            <div class="form-group col-md-12">
                <label translate="stepApp.mpoVacancyRole.totalVacancy" for="field_totalVacancy">TotalVacancy</label>
                <input type="number" class="form-control" name="totalVacancy" id="field_totalVacancy"
                       ng-model="mpoVacancyRole.totalVacancy"/>
            </div>
            <div class="col-md-12 padding-tb mpo-vacncy">
                <h3>General Vacancy</h3>

            <div class="col-md-12 padding-tb"
                 ng-repeat="mpoVacancyRoleDesgnation in mpoVacancyRoleDesgnations">
                <div class="form-group col-md-4">
                    <label translate="stepApp.mpoVacancyRoleDesgnations.cmsSubject"
                           for="field_cmsSubject">cmsSubject</label>
                    <select class="form-control" id="field_cmsSubject" name="cmsSubject"
                            ng-model="mpoVacancyRoleDesgnation.cmsSubject"
                            ng-options="cmsSubject as cmsSubject.name for cmsSubject in cmsSubjectss  track by cmsSubject.id">
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label translate="stepApp.mpoVacancyRoleDesgnations.designationSetup"
                           for="field_designationSetup">Designation Setup</label>
                    <select class="form-control" id="field_designationSetup" name="designationSetup"
                            ng-model="mpoVacancyRoleDesgnation.designationSetup"
                            ng-options="designationSetup as designationSetup.designationInfo.designationName for designationSetup in designationSetups track by designationSetup.id">
                            <option value=""></option>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label translate="stepApp.mpoVacancyRoleDesgnations.totalPost"
                           for="field_totalPost">TotalPost</label>
                    <input type="number" class="form-control" name="totalPost" id="field_totalPost"
                           ng-model="mpoVacancyRoleDesgnation.totalPost"
                    />
                </div>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-success btn-sm" ng-disabled="editForm.$invalid || isSaving"
                    ng-click="AddMoreVacancyRoleDesgnations()">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;<span
                translate="entity.action.addMore">Add More</span>
                </button>
            </div>
           </div>
        </div>
        <div class="col-md-12 padding-tb mpo-vacncy">
            <h3>Trade Vacancy</h3>
        <!--<div ng-if="mpoVacancyRole.vacancyRoleType === 'Special'">-->
        <div>
            <!--<div class="form-group col-md-12">-->
            <!--<label translate="stepApp.mpoVacancyRole.totalTrade" for="field_totalTrade">TotalTrade</label>-->
            <!--<select class="form-control" id="field_totalTrade" name="cmsTrade"-->
            <!--ng-model="mpoVacancyRole.totalTrade">-->
            <!--<option value="">{{mpoVacancyRole.totalTrade}}</option>-->
            <!--<option value="1">1</option>-->
            <!--<option value="2">2</option>-->
            <!--<option value="3">3</option>-->
            <!--<option value="4">4</option>-->
            <!--<option value="5">5</option>-->
            <!--</select>-->
            <!--</div>-->

            <div class="col-md-12 padding-tb" ng-repeat="vacancyTrade in mpoVacancyTradeRoleDesignations">


                <div class="form-group col-md-3">
                    <label translate="stepApp.mpoVacancyRoleTrade.cmsTrade"
                           for="field_cmsTrade">Cms rade</label>
                    <select class="form-control" id="field_cmsTrade" name="cmsTrade"
                            ng-model="vacancyTrade.cmsTrade"
                            ng-change="setCmsSubject(vacancyTrade.cmsTrade.id,$index)"
                            ng-options="cmstrade as cmstrade.name for cmstrade in cmstrades track by cmstrade.id">
                        <option value=""></option>
                    </select>

                    <!--<input type="text" class="form-control" name="cmsTrade" id="field_cmsTrade"-->
                    <!--ng-model="cmsTrade.name"/>-->
                </div>

                <div class="form-group col-md-3">
                    <label translate="stepApp.mpoVacancyRoleDesgnations.cmsSubject"
                           for="field_cmsSubject">cmsSubject</label>
                    <select class="form-control" id="field_cmsTSubject" name="cmsSubject"
                            ng-model="vacancyTrade.cmsSubject"
                            ng-options="cmsSubject as cmsSubject.name for cmsSubject in cmsSubjects[$index]  track by cmsSubject.id">
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label translate="stepApp.mpoVacancyRoleDesgnations.designationSetup"
                           for="field_designationSetup">instEmplDesignation</label>
                    <select class="form-control" id="field_designationSetup" name="designationSetup"
                            ng-model="vacancyTrade.designationSetup"
                            ng-options="designationSetup as designationSetup.designationInfo.designationName for designationSetup in designationSetups track by designationSetup.id">
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label translate="stepApp.mpoVacancyRoleDesgnations.totalPost"
                           for="field_totalPost">TotalPost</label>
                    <input type="number" class="form-control" name="totalPost" id="field_totalPost"
                           ng-model="vacancyTrade.totalPost"
                    />
                </div>
            </div>

            <div class="text-right">
                <button type="button" class="btn btn-sm btn-success" ng-disabled="editForm.$invalid || isSaving"
                    ng-click="AddMoreTradeRoleDesgnations()">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;<span
                translate="entity.action.addMore">Add More</span>
                </button>
            </div>

            <!--<div class="form-group col-md-12">-->
            <!--<label translate="stepApp.mpoVacancyRoleTrade.cmsTrade" for="field_cmsTrade">cmsTrade</label>-->
            <!--<input type="checkbox" ng-model="areAllTradeSelected"-->
            <!--ng-change="updateTradeSelection(cmstrades, areAllTradeSelected)"/>-->
            <!--<div class="panel-body no_padding admin-info" ng-repeat="cmstrade in cmstrades">-->
            <!--<input type="checkbox" ng-model="cmstrade.isSelected">{{cmstrade.name}}<br>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group col-md-4">-->
            <!--<label translate="stepApp.mpoVacancyRoleTrade.cmsTrade" for="field_cmsTrade">Cms Trade</label>-->
            <!--<select class="form-control" id="field_cmsTrade" name="cmsTrade"-->
            <!--ng-model="mpoVacancyRoleDesgnation.cmsTrade"-->
            <!--ng-options="cmstrade as cmstrade.name for cmsSubject in cmstrades track by cmstrade.id">-->
            <!--<option value=""></option>-->
            <!--</select>-->
            <!--</div>-->


        </div>
        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
</div>
