    <div class="col-md-12 common-table">
            <h2 class="heading_center" ng-show="payScalePendingLists.pending == 'pending'" translate="global.menu.account.appayCodePendingList">
                Assistant Professor Pay Scale Pending List
            </h2>
            <h2 class="heading_center" ng-show="payScalePendingLists.pending == 'approved'" translate="global.menu.account.appayCodeApprovedList">
                Assistant Professor Pay Scale Approved List
            </h2>
        <div class="col-md-12 padding-bt">
            <div class="col-xs-4 no_padding">
                <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
            </div>
            <div class="col-xs-4">
                <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
            </div>
        </div>
    <div class="col-md-12 no_padding table-responsive ">
        <table class="table table-striped">
            <thead>
            <th translate="stepApp.mpo.serial">Serial</th>
            <th translate="stepApp.mpo.thead.applicantId">Code</th>
            <th translate="stepApp.mpo.thead.applicantname">Code</th>
            <th translate="stepApp.mpo.thead.institutename">Institute Name</th>
            <th translate="stepApp.mpo.thead.instituteCode">Institute CODE</th>
            <th translate="stepApp.mpo.thead.upazila">Upazilla</th>
            <th translate="stepApp.mpo.status">Status</th>
            <th translate="stepApp.mpo.action">Action</th>
            </thead>
            <tbody>
                 <!--<tr ng-repeat="mpoApplication in payScalePendingLists">-->
                 <tr dir-paginate="apScaleApplication in payScalePendingLists | filter:q | itemsPerPage: pageSize " current-page="currentPage">

                     <td>{{$index+1}}</td>
                     <td>{{apScaleApplication.instEmployee.code}}</td>
                     <td>{{apScaleApplication.instEmployee.name}}</td>
                     <td>{{apScaleApplication.instEmployee.institute.name}}</td>
                     <td>{{apScaleApplication.instEmployee.institute.code}}</td>
                     <td>{{apScaleApplication.instEmployee.institute.upazila.name}}</td>
                     <td>{{apScaleApplication.pending}}</td>
                        <td class="text-right no-print">
                            <button class="btn btn-default" ui-sref="apscaleDetails({id:apScaleApplication.id})">
                                <span translate="stepApp.mpo.View"> View</span>
                            </button>
                            <button ng-show="!mpoApplication.instEmployee.payScale" class="btn btn-success" ui-sref="mpo.apPaycodeAssign({id:apScaleApplication.id})">
                                <span translate="stepApp.mpo.PayScaleAssign">PayScale Assign</span>
                            </button>
                            <button ng-show="mpoApplication.instEmployee.payScale" class="btn btn-success" ui-sref="mpo.apPaycodeAssign({id:apScaleApplication.id})">
                                <span translate="stepApp.mpo.PayScaleReAssign">PayScaleReAssign</span>
                            </button>
                        </td>
                 </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
    </div>
