<div class="col-md-12 common-list">
    <h2 class="heading_center" ng-show="payScalePendingLists.pending == 'pending'" translate="stepApp.mpo.bedpspl">B.Ed Pay Scale Pending List</h2>
    <h2 class="heading_center" ng-show="payScalePendingLists.pending == 'approved'" translate="stepApp.mpo.bedpsal">B.Ed Pay Scale Approved List</h2>

    <div class="col-md-12 padding-bt">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
    </div>

    <div class="col-md-12 table-responsive cmsheadrow no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="stepApp.mpo.serial">Serial</th>
                <th translate="stepApp.mpo.code">Code</th>
                <th translate="stepApp.mpo.empName">Code</th>
                <th translate="stepApp.mpo.institutename">Institute Name</th>
                <th translate="stepApp.mpo.institutename">Institute Name</th>
                <th translate="stepApp.mpo.upazila">Upazilla</th>
                <th translate="stepApp.mpo.action">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'" dir-paginate="mpoApplication in payScalePendingLists | filter:q | itemsPerPage: pageSize | orderBy:'$index':true" current-page="currentPage">
                <!--<td>{{$index+1}}</td>-->
                <!--<td>{{mpoApplication.CODE}}</td>-->
                <!--<td>{{mpoApplication.NAME}}</td>-->
                <!--<td>{{mpoApplication.INST_NAME}}</td>-->
                <!--<td>{{mpoApplication.UPZILA_NAME}}</td>-->
                <!--<td>{{mpoApplication.APP_STATUS}}</td>-->
                <td>{{$index+1}}</td>
                <td>{{mpoApplication.instEmployee.code}}</td>
                <td>{{mpoApplication.instEmployee.name}}</td>
                <td>{{mpoApplication.instEmployee.institute.name}}</td>
                <td>{{mpoApplication.instEmployee.institute.upazila.name}}</td>
                <td>{{mpoApplication.pending}}</td>
                <td class="text-right no-print">
                    <button class="btn btn-default" ui-sref="bedDetails({id:mpoApplication.id})">
                        <span translate="stepApp.mpo.View"> View</span>
                    </button>
                    <button ng-if="mpoApplication.instEmployee.bEDAppStatus == 0" class="btn btn-success" ui-sref="mpo.bedPaycodeAssign({id:mpoApplication.id})">
                        <span translate="stepApp.mpo.PayScaleAssign">PayScale Assign</span>
                    </button>
                    <button ng-if="mpoApplication.instEmployee.bEDAppStatus > 0" class="btn btn-success" ui-sref="mpo.bedPaycodeAssign({id:mpoApplication.id})">
                        <span translate="stepApp.mpo.edit">Edit</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav class="no-print">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>

