<div class="col-md-12 common-table">
    <h2 class="panel-title" translate="stepApp.payScale.payscaleassigntitle">PayScale Assign</h2>
    <form name="payScaleAssignForm" role="form" novalidate ng-submit="save()">
        <div class="col-sm-12 pnl-border payscale-ass">
            <div class="form-group col-sm-7">
                <label class=""><b><span translate="stepApp.payScale.payscaleassignname">MPO Application Name</span></b></label>
                <div class="applicant-info">
                    <ul>
                        <li>
                            <span translate="stepApp.payScale.applicantName">Applicant Name</span>
                            <span>: {{mpoApplication.instEmployee.name}}</span>
                        </li>
                        <li>
                            <span translate="stepApp.payScale.applicantId">Applicant Id</span>
                            <span>: {{mpoApplication.instEmployee.code}}</span>
                        </li>
                        <li>
                            <span translate="stepApp.payScale.applicantEmail">Applicant Email</span>
                            <span>: {{mpoApplication.instEmployee.email}}</span>
                        </li>
                        <li>
                            <span translate="stepApp.payScale.applicantContact">Applicant Contact No</span>
                           <span>: {{mpoApplication.instEmployee.contactNo}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group col-sm-5">
                <label class="" translate="stepApp.payScale.payscaleassignselect">Select PayScale</label>
                <!--<select ng-change="showPayScaleDetails()" ng-model="payScaleID" ng-options="payScale.id as payScale.code for payScale in payScales">-->
                <select ng-change="showPayScaleDetails()" class="form-control" ng-model="payScaleID" required>
                    <option value="" disabled selected>{{'stepApp.payScale.payscaleassignselect'|translate}}</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>

            <div class="col-md-12 " ng-show="payScaleDetails != '' ">
                <table class="table table-bordered table-striped dte-table">
                    <thead>
                    <th colspan="2" translate="stepApp.payScale.detail.title">PayScale Details</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{'stepApp.payScale.code' | translate}}</td>
                        <td>{{payScaleDetails.code}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.payScale.payScaleClass' | translate}}</td>
                        <td>{{payScaleDetails.payScaleClass}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.payScale.grade' | translate}}</td>
                        <td>{{payScaleDetails.grade}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.payScale.gradeName' | translate}}</td>
                        <td>{{payScaleDetails.gradeName}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.payScale.basicAmount' | translate}}</td>
                        <td>{{payScaleDetails.basicAmount}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.payScale.houseAllowance' | translate}}</td>
                        <td>{{payScaleDetails.houseAllowance}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.payScale.medicalAllowance' | translate}}</td>
                        <td>{{payScaleDetails.medicalAllowance}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.payScale.welfareAmount' | translate}}</td>
                        <td>{{payScaleDetails.welfareAmount}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.payScale.retirementAmount' | translate}}</td>
                        <td>{{payScaleDetails.retirementAmount}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="col-sm-12 text-right no-print">
                    <button type="submit" class="btn btn-success">Assign PayScale</button>
                </div>
            </div>

        </div>
    </form>


</div>
