<!--<div class="col-md-3">
    <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
</div>

<div class="col-md-9" >-->
    <div class="col-md-12 common-list">
            <h2 class="heading_center" ng-show="payScalePendingLists.pending == 'pending'" translate="stepApp.mpo.ppspl">Principle Pay Scale Pending List</h2>
            <h2 class="heading_center" ng-show="payScalePendingLists.pending == 'approved'" translate="stepApp.mpo.ppsal">Principle Pay Scale Approved List</h2>
        <div class="col-md-12 padding-bt">
            <div class="col-xs-4 no_padding">
                <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
            </div>
            <div class="col-xs-4">
                <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
            </div>
        </div>
    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
                <th translate="stepApp.mpo.serial">Serial</th>
                <th translate="stepApp.mpo.thead.applicantId">Code</th>
                <th translate="stepApp.mpo.thead.applicantname">Code</th>
                <th translate="stepApp.mpo.thead.institutename">Institute Name</th>
                <th translate="stepApp.mpo.thead.instituteCode">Institute CODE</th>
                <th translate="stepApp.mpo.thead.upazila">Upazilla</th>
                <th translate="stepApp.mpo.status">Status</th>
                <th translate="stepApp.mpo.action">Action</th>
            </thead>
            <tbody>
                 <!--<tr ng-repeat="mpoApplication in payScalePendingLists">-->
                 <tr dir-paginate="professorApplication in payScalePendingLists | filter:q | itemsPerPage: pageSize " current-page="currentPage">
                     <td>{{$index+1}}</td>
                     <td>{{professorApplication.instEmployee.code}}</td>
                     <td>{{professorApplication.instEmployee.name}}</td>
                     <td>{{professorApplication.instEmployee.institute.name}}</td>
                     <td>{{professorApplication.instEmployee.institute.code}}</td>
                     <td>{{professorApplication.instEmployee.institute.upazila.name}}</td>
                     <td>{{payScalePendingLists.pending}}</td>
                        <td class="text-right no-print">
                            <button class="btn btn-default" ui-sref="professorApplicationDetails({id:professorApplication.id})">
                                     View
                            </button>
                            <button ng-show="!professorApplication.instEmployee.payScale" class="btn btn-success" ui-sref="mpo.principalPaycodeAssign({id:professorApplication.id})">
                                <span translate="stepApp.mpo.PayScaleAssign">PayScale Assign</span>
                            </button>
                            <button ng-show="professorApplication.instEmployee.payScale" class="btn btn-success" ui-sref="mpo.principalPaycodeAssign({id:professorApplication.id})">
                                <span translate="stepApp.mpo.PayScaleReAssign">PayScale Re Assign</span>
                            </button>
                        </td>
                 </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
    </div>
<!--</div>-->
