<div class="row same-height-row">
    <div class="col-md-2 padding-right0 left-menu-bg">
        <ng-include src="'scripts/app/entities/assetManagement/asset-left-menu.html'"></ng-include>
    </div>
    <div class=" col-md-10 main-content lbl-dash right-side-bg"  ui-view="assetManagementView"></div>
</div>
<style>
    .same-height-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        flex-wrap: wrap;
    }
    .same-height-row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .left-menu-bg{
        background: #ddd;
    }
    .right-side-bg{
        box-shadow: 0px 0px 1px 0px #999;
    }
</style>
