<ul id="ulcolor3" class="nav su_serv_menu nav-list  bs-docs-sidenav">
    <li has-any-authority="ROLE_ADMIN, ROLE_HRM_USER,ROLE_DTE_EMPLOYEE">
        <a class="button4" ui-sref="assetManagements.dashboardMenu" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.assetDashboardm">Asset Requisition</span>
        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN, ROLE_HRM_USER,ROLE_DTE_EMPLOYEE">
        <a class="button4" ui-sref="assetRequisition" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.account.assetRequisition">Asset Requisition</span>
        </a>
    </li>

    <li has-any-authority="ROLE_ADMIN">
        <a class="button4" ui-sref="assetTypeSetup" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.account.assetTypeSetup">asset Type Setup </span>
        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a class="button4" ui-sref="assetCategorySetup" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.account.assetNameSetup">asset Name Setup</span>
        </a>
    </li>

    <li has-any-authority="ROLE_ADMIN">
        <a class="button4" ui-sref="assetSupplier" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.account.assetSupplier">asset Supplier</span>
        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a class="button4" ui-sref="assetAccuisitionSetup" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.account.assetAccuisitionSetup">assetAccuisitionSetup</span>
        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a class="button4" ui-sref="assetRecord" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.account.assetRecord"> asset Type Setup</span>
        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a class="button4" ui-sref="assetDistribution" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.account.assetDistribution"> asset Asset Distribution</span>
        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a class="button4" ui-sref="assetTransfer" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
        <span translate="global.menu.account.assetTransfer"> Asset Transfer</span>
        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a class="button4" ui-sref="assetRepair" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.account.assetRepair"> Asset Repair</span>
        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a class="button4" ui-sref="assetAuctionInformation" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.account.assetAuctionInformation"> Asset Auction</span>
        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a class="button4" ui-sref="assetDestroy" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.account.assetDestroy"></span>
        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a class="button4" ui-sref="jpReport({module:'asset'})" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.report"></span>
        </a>
    </li>

</ul>
