<div>
    <div class="panel panel-default">
        <div class="panel-heading" >
            <h2 class="modal-title"><span translate="global.menu.entities.assetDashboard"></span></h2>
        </div>
        <div class="row">
            <div class="col-md-12 margin-top-30">
                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="assetAccuisitionSetup"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/cogwheel.png" alt=""></div>
                        <span translate="global.menu.account.assetAccuisitionSetup">assetAccuisitionSetup</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="assetAuctionInformation"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/gavel-icon-3.png" alt=""></div>
                        <span translate="global.menu.account.assetAuctionInformation">assetAuctionInformation</span>
                    </div></a>
                </div>

                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="assetDistribution"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/listicon.png" alt=""></div>
                        <span translate="global.menu.account.assetDistribution">assetDistribution</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="assetDestroy"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/destroy.png" alt=""></div>
                        <span translate="global.menu.account.assetDestroy">assetDestroy</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="assetCategorySetup"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/workunit.png" alt=""></div>
                        <span translate="global.menu.account.assetNameSetup">assetCategorySetup</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN, ROLE_HRM_USER,ROLE_DTE_EMPLOYEE">
                    <a ui-sref="assetRequisition"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/holidaysetup.png" alt=""></div>
                        <span translate="global.menu.account.assetRequisition">assetRequisition</span>
                    </div></a>
                </div>
                <div class="col-md-2"  has-any-authority="ROLE_ADMIN">
                    <a ui-sref="assetRecord"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/attendance.png" alt=""></div>
                        <span translate="global.menu.account.assetRecord">assetRecord</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="assetRepair"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/leave.png" alt=""></div>
                        <span translate="global.menu.account.assetRepair">assetRepair</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="assetSupplier"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/attendance-info.png" alt=""></div>
                        <span translate="global.menu.account.assetSupplier">assetSupplier</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="assetTypeSetup"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/earning.png" alt=""></div>
                        <span translate="global.menu.account.assetTypeSetup">assetTypeSetup</span>
                    </div></a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="assetTransfer"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/transfer_arrows.png" alt=""></div>
                        <span translate="global.menu.account.assetTransfer">assetTransfer</span>
                    </div></a>
                </div>



                <div class="col-md-2">
                    <a ui-sref="jpReport({module:'asset'})"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/earning.png" alt=""></div>
                        <span translate="global.menu.report"></span>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</div>
