<div class="col-md-12 common-table padding-right0 padding-left5">
<h2><span translate="stepApp.hrEmpAdvIncrementInfo.detail.title">HrEmpAdvIncrementInfo</span> of {{hrEmpAdvIncrementInfo.employeeInfo.fullName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAdvIncrementInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrEmpAdvIncrementInfo.employeeInfo.id})">{{hrEmpAdvIncrementInfo.employeeInfo.fullName}}</a>
                </td>

            <!--
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAdvIncrementInfo.jobCategory">jobCategory</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="miscTypeSetup.detail({id:hrEmpAdvIncrementInfo.jobCategory.id})">{{hrEmpAdvIncrementInfo.jobCategory.typeName}}</a>
                </td>
            </tr> -->

                <td>
                    <span translate="stepApp.hrEmpAdvIncrementInfo.postName">PostName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAdvIncrementInfo.postName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAdvIncrementInfo.purpose">Purpose</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAdvIncrementInfo.purpose}}</span>
                </td>

                <td>
                    <span translate="stepApp.hrEmpAdvIncrementInfo.incrementAmount">IncrementAmount</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAdvIncrementInfo.incrementAmount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAdvIncrementInfo.numberOfIncrement">numberOfIncrement</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAdvIncrementInfo.numberOfIncrement}}</span>
                </td>

                <td>
                    <span translate="stepApp.hrEmpAdvIncrementInfo.orderNumber">OrderNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAdvIncrementInfo.orderNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAdvIncrementInfo.orderDate">OrderDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAdvIncrementInfo.orderDate | date:'mediumDate'}}</span>
                </td>

                <td>
                    <span translate="stepApp.hrEmpAdvIncrementInfo.remarks">Remarks</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAdvIncrementInfo.remarks}}</span>
                </td>
            </tr>
            <!--
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAdvIncrementInfo.goDate">GoDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAdvIncrementInfo.goDate | date:'mediumDate'}}</span>
                </td>
            </tr> -->
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAdvIncrementInfo.goDoc">GoDoc</span>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(hrEmpAdvIncrementInfo.goDoc, hrEmpAdvIncrementInfo.goDocContentType,('stepApp.hrEmpAdvIncrementInfo.goDoc' | translate)+' Image')"><span class="btn btn-primary" translate="entity.action.view"></span>
                 <!--<span class="btn btn-default"><img
                     ng-src="data:image/JPEG;base64,{{hrEmpAdvIncrementInfo.goDoc}}" width="40px">
                 </span>-->
                    </a>
                    <!--<div>{{hrEmpAdvIncrementInfo.goDocContentType}}  {{byteSize(hrEmpAdvIncrementInfo.goDoc)}}</div>-->
                </td>

                <td>
                    <span translate="stepApp.hrEmpAdvIncrementInfo.goDocName">GoDocName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAdvIncrementInfo.goDocName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAdvIncrementInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAdvIncrementInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>

                <td>
                    <span translate="stepApp.hrEmpAdvIncrementInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAdvIncrementInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAdvIncrementInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAdvIncrementInfo.updateDate | date:'mediumDate'}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> back</span>
    </button>
</div>
