<div class="col-md-12 common-dialogue padding-left5 padding-right0">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="hrEmpAdvIncrementInfo.id == null" class="modal-title" id="myHrEmpAdvIncrementInfoLabel"
            translate="stepApp.hrEmpAdvIncrementInfo.home.createOrEditLabel">Create or edit a HrEmpAdvIncrementInfo</h4>
        <h4 ng-show="hrEmpAdvIncrementInfo.id != null" class="modal-title" id="myHrEmpAdvIncrementInfoLabel"
            translate="stepApp.hrEmpAdvIncrementInfo.home.EditLabel">Create or edit a HrEmpAdvIncrementInfo</h4>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="global.home.orgOrInst" for="field_toOrganizationType">toOrganizationType</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_toOrganizationType" name="toOrganizationType"
                                    ng-model="orgOrInst" required>
                                <option selected disabled value="">-- Select Organization Type --</option>
                                <option value="Organization">Organization</option>
                                <option value="Institute">Institute</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div ng-if="orgOrInst=='Organization'">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group ">
                                <label class="control-label" for="field_workArea"
                                       translate="stepApp.hrEmpAdvIncrementInfo.home.workArea">Work Area</label>
                                <select class="form-control" id="field_workArea" name="workArea" ng-model="workArea"
                                        ng-change="loadModelByWorkArea(workArea)"
                                        ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id">
                                    <option value="">Select Work Area</option>
                                </select>
                                <span class="help">No of Employee: {{hremployeeinfos.length}}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group ">
                                <label class="control-label" translate="stepApp.hrEmpAdvIncrementInfo.employeeInfo"
                                       for="field_employeeInfo">employeeInfo</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control autocomplete" autocomplete="off"
                                           ng-model="hrEmpAdvIncrementInfo.employeeInfo"
                                           typeahead-on-select="loadHrEmployee(hrEmpAdvIncrementInfo)"
                                           typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfos | filter:$viewValue'
                                           id="field_employeeInfo" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="(orgOrInst=='Institute')" class="col-md-6 col-lg-6">
                        <label class="control-label" translate="stepApp.hrEmpChildrenInfo.employeeInfo"
                               for="field_employeeInfo">employeeInfo</label>
                        <div class="input-margin">
                            <input type="text" class="form-control autocomplete" autocomplete="off"
                                   ng-model="hrEmpAdvIncrementInfo.employeeInfo"
                                   typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfosOfInstitute | filter:$viewValue'
                                   id="field_employeeInfo" required>
                        </div>
                    </div>
                </div>



                    <div class="col-md-12 common-table" ng-hide="hrEmpAdvIncrementInfo.employeeInfo.fullName ==null">
                        <table class="table table-bordered ">
                            <tbody class="">
                            <tr>
                                <td><strong>Name: </strong></td>
                                <td>{{hrEmpAdvIncrementInfo.employeeInfo.fullName}}</td>
                                <td><strong>Employee ID:</strong></td>
                                <td>{{hrEmpAdvIncrementInfo.employeeInfo.employeeId}}</td>
                            </tr>
                            <tr>
                                <td><strong>Contact No:</strong></td>
                                <td>{{hrEmpAdvIncrementInfo.employeeInfo.mobileNumber}}</td>
                                <td><strong>Email:</strong></td>
                                <td>{{hrEmpAdvIncrementInfo.employeeInfo.emailAddress}}</td>
                            </tr>
                            <tr>
                                <td><strong>Section:</strong></td>
                                <td>
                                    {{hrEmpAdvIncrementInfo.employeeInfo.departmentInfo.departmentInfo.departmentName}}
                                </td>
                                <td><strong>Designation:</strong></td>
                                <td>
                                    {{hrEmpAdvIncrementInfo.employeeInfo.designationInfo.designationInfo.designationName}}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Organization:</strong></td>
                                <td>
                                    {{hrEmpAdvIncrementInfo.employeeInfo.workArea.typeName}}
                                    {{hrEmpAdvIncrementInfo.employeeInfo.departmentInfo.institute.name}}
                                </td>
                                <td><strong>Grade: </strong></td>
                                <td>{{hrEmpAdvIncrementInfo.employeeInfo.gradeInfo.gradeCode}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpAdvIncrementInfo.postName"
                                   for="field_postName">PostName</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="postName" id="field_postName"
                                       ng-model="hrEmpAdvIncrementInfo.postName" required/>
                                <div ng-show="editForm.postName.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.postName.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpAdvIncrementInfo.purpose"
                                   for="field_purpose">Purpose</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="purpose" id="field_purpose"
                                       ng-model="hrEmpAdvIncrementInfo.purpose" required/>
                                <div ng-show="editForm.purpose.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.purpose.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpAdvIncrementInfo.incrementAmount"
                                   for="field_incrementAmount">IncrementAmount</label>
                            <div class="input-margin">
                                <input type="number" class="form-control" name="incrementAmount"
                                       id="field_incrementAmount"
                                       ng-model="hrEmpAdvIncrementInfo.incrementAmount" min="0" required oninput="validity.valid||(value='');" />
                                <div ng-show="editForm.incrementAmount.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.incrementAmount.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.incrementAmount.$error.number"
                                       translate="entity.validation.number">
                                        This field should be a number.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpAdvIncrementInfo.numberOfIncrement"
                                   for="field_numberOfIncrement">numberOfIncrement</label>
                            <div class="input-margin">
                                <select class="form-control" name="numberOfIncrement"
                                        ng-model="hrEmpAdvIncrementInfo.numberOfIncrement"
                                        id="field_numberOfIncrement" required>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpAdvIncrementInfo.orderNumber"
                                   for="field_orderNumber">OrderNumber</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="orderNumber" id="field_orderNumber"
                                       ng-model="hrEmpAdvIncrementInfo.orderNumber" required/>
                                <div ng-show="editForm.orderNumber.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.orderNumber.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpAdvIncrementInfo.orderDate"
                                   for="field_orderDate">OrderDate</label>
                            <div class="input-margin">
                                <input type="date" class="form-control" name="orderDate" id="field_orderDate"
                                       ng-model="hrEmpAdvIncrementInfo.orderDate" required/>
                                <div ng-show="editForm.orderDate.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.orderDate.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="form-group " ngf-drop ngf-change="setGoDoc($file, hrEmpAdvIncrementInfo)">
                            <div class="input-margin">
                                <label class="control-label" translate="stepApp.hrEmpAdvIncrementInfo.goDoc"
                                       for="field_goDoc">GoDoc</label>
                                <div>
                                    <div class="help-block clearfix">
                                        <span class="pull-left">{{hrEmpAdvIncrementInfo.goDocContentType}} {{byteSize(hrEmpAdvIncrementInfo.goDoc)}}</span>
                                        <button
                                            ng-click="hrEmpAdvIncrementInfo.goDoc=null;hrEmpAdvIncrementInfo.goDocContentType=null;"
                                            ng-if="hrEmpAdvIncrementInfo.goDoc"
                                            class="btn btn-default btn-xs pull-right">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                    <button type="file" ngf-select class="btn btn-default btn-block"
                                            ngf-change="setGoDoc($file, hrEmpAdvIncrementInfo)"
                                            translate="entity.action.addblob">
                                        Add blob
                                    </button>
                                </div>
                                <input type="hidden" class="form-control" name="goDoc" id="field_goDoc"
                                       ng-model="hrEmpAdvIncrementInfo.goDoc"
                                />
                                <input type="hidden" class="form-control" name="goDocContentType"
                                       id="field_goDocContentType"
                                       ng-model="hrEmpAdvIncrementInfo.goDocContentType"/>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpAdvIncrementInfo.remarks"
                                   for="field_remarks">Remarks</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="remarks" id="field_remarks"
                                       ng-model="hrEmpAdvIncrementInfo.remarks"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="form-group ">
                            <label class="control-label"
                                   translate="stepApp.hrEmpAdvIncrementInfo.activeStatus">ActiveStatus</label>
                            <div class="input-margin">
                    <span>
                        <input type="radio" data-ng-model="hrEmpAdvIncrementInfo.activeStatus" name="activeStatus"
                               data-ng-value="true">&nbsp;<span translate="stepApp.hrEmpAdvIncrementInfo.active"></span>&nbsp;|&nbsp;
                        <input type="radio" data-ng-model="hrEmpAdvIncrementInfo.activeStatus" name="activeStatus"
                               data-ng-value="false">&nbsp;<span
                        translate="stepApp.hrEmpAdvIncrementInfo.inactive"></span>
                    </span>
                                <div ng-show="editForm.activeStatus.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.activeStatus.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    onclick="window.history.back()">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;<span
                translate="entity.action.cancel">cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="hrEmpAdvIncrementInfo.id == null" translate="entity.action.save">Save</span>
                <span ng-show="hrEmpAdvIncrementInfo.id != null" translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>
