<div class="col-md-12 common-list padding-left5 padding-right0">
    <h2 translate="stepApp.hrDepartmentalProceeding.home.title">HrDepartmentalProceedings</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrDepartmentalProceeding.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrDepartmentalProceeding.home.createLabel">Create a new HrDepartmentalProceeding</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12  table-responsive no_padding">
        <table class="table table-striped ">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <th><span translate="global.field.id">ID</span></th>
                <th><span translate="stepApp.hrDepartmentalProceeding.employeeInfo">employeeInfo</span></th>
                <th><span translate="stepApp.hrDepartmentalProceeding.punishmentType">punishmentType</span></th>
                <th><span translate="stepApp.hrDepartmentalProceeding.crimeNature">CrimeNature</span></th>
                <th><span translate="stepApp.hrDepartmentalProceeding.nature">Nature</span></th>
                <th><span translate="stepApp.hrDepartmentalProceeding.amount">Amount</span></th>
                <!--
                <th><span translate="stepApp.hrDepartmentalProceeding.toDate">ToDate</span> </th>
                -->
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrDepartmentalProceeding in hrDepartmentalProceedings | filter:q | itemsPerPage: pageSize track by hrDepartmentalProceeding.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <td><a ui-sref="hrDepartmentalProceeding.detail({id:hrDepartmentalProceeding.id})">{{hrDepartmentalProceeding.id}}</a>
                </td>
                <td>
                    <a ui-sref="hrEmployeeInfo.detail({id:hrDepartmentalProceeding.employeeInfo.id})">{{hrDepartmentalProceeding.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <a ui-sref="miscTypeSetup.detail({id:hrDepartmentalProceeding.punishmentType.id})">{{hrDepartmentalProceeding.punishmentType.typeName}}</a>
                </td>
                <td>{{hrDepartmentalProceeding.crimeNature}}</td>
                <td>{{hrDepartmentalProceeding.nature}}</td>
                <td>{{hrDepartmentalProceeding.amount}}</td>
                <!-- <td>{{hrDepartmentalProceeding.toDate | date:'mediumDate'}}</td>-->
                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="hrDepartmentalProceeding.detail({id:hrDepartmentalProceeding.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="hrDepartmentalProceeding.edit({id:hrDepartmentalProceeding.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ui-sref="hrDepartmentalProceeding.delete({id:hrDepartmentalProceeding.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
