<div class="col-md-12 common-table padding-right0 padding-left5">
<h2><span translate="stepApp.hrDepartmentalProceeding.detail.title">HrDepartmentalProceeding</span> {{hrDepartmentalProceeding.id}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrDepartmentalProceeding.employeeInfo.id})">{{hrDepartmentalProceeding.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.punishmentType">punishmentType</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="miscTypeSetup.detail({id:hrDepartmentalProceeding.punishmentType.id})">{{hrDepartmentalProceeding.punishmentType.typeTitle}}</a>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.crimeNature">CrimeNature</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.crimeNature}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.activeStatus?"Active":"InActive"}}</span>
                </td>
                <!--<td>
                    <span translate="stepApp.hrDepartmentalProceeding.nature">Nature</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.nature}}</span>
                </td>-->
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.amount">Amount</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.amount}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.formDate">FormDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.formDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.toDate">ToDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.toDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.period">Period</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.period}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.dudakCaseDetail">DudakCaseDetail</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.dudakCaseDetail}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.dudakPunishment">DudakPunishment</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.dudakPunishment}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.goDate">GoDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.goDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.remarks">Remarks</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.remarks}}</span>
                </td>

            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.goDocName">GoDocName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.goDocName}}</span>
                </td>

                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.goDoc">GoDoc</span>
                </td>
                <td>
                    <div>{{hrDepartmentalProceeding.goDocContentType}}  {{byteSize(hrDepartmentalProceeding.goDoc)}}</div>
                </td>

            </tr>-->
            <!--<tr>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.logId">LogId</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.logId}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.logStatus">LogStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.logStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.activeStatus}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.createBy}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentalProceeding.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentalProceeding.updateBy}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>-->
            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel"> cancel</span>
    </button>
</div>
