
<div class="common-table">
    <h2><span translate="stepApp.prlPayscaleBasicInfo.detail.title">PrlPayscaleBasicInfo</span> {{prlPayscaleBasicInfo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.prlPayscaleBasicInfo.serialNumber">SerialNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlPayscaleBasicInfo.serialNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlPayscaleBasicInfo.basicAmount">BasicAmount</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlPayscaleBasicInfo.basicAmount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlPayscaleBasicInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlPayscaleBasicInfo.activeStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlPayscaleBasicInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlPayscaleBasicInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlPayscaleBasicInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlPayscaleBasicInfo.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlPayscaleBasicInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlPayscaleBasicInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlPayscaleBasicInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlPayscaleBasicInfo.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlPayscaleBasicInfo.payscaleInfo">payscaleInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="PrlPayscaleInfo.detail({id:prlPayscaleBasicInfo.payscaleInfo.id})">{{prlPayscaleBasicInfo.payscaleInfo.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
