<div class="col-md-12 common-table">
    <h2><span translate="stepApp.trainingHeadSetup.detail.title">TrainingHeadSetup</span></h2>
    <div class="table-responsive">
        <div class="col-md-12 padding-tb">
            <h5 class="trainerinfo">Training Head setup Information</h5>
        </div>
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.trainingHeadSetup.headName">HeadName</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingHeadSetup.headName}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainingHeadSetup.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingHeadSetup.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingHeadSetup.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingHeadSetup.status ? 'Active' : 'Inactive'}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainingHeadSetup.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingHeadSetup.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingHeadSetup.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingHeadSetup.createBy}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainingHeadSetup.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingHeadSetup.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingHeadSetup.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingHeadSetup.updateBy}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
