<div class="col-md-12 common-dialogue padding-left5 padding-right0">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="hrEmpAcrInfo.id == null" class="modal-title" id="myHrEmpAcrInfoLabel"
            translate="stepApp.hrEmpAcrInfo.home.createOrEditLabel">Create or edit a HrEmpAcrInfo</h4>
        <h4 ng-show="hrEmpAcrInfo.id != null" class="modal-title" id="myHrEmpAcrInfoLabel2"
            translate="stepApp.hrEmpAcrInfo.home.EditLabel">Create or edit a HrEmpAcrInfo</h4>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="global.home.orgOrInst" for="field_toOrganizationType">toOrganizationType</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_toOrganizationType" name="toOrganizationType"
                                    ng-model="orgOrInst" required>
                                <option selected disabled value="">-- Select Organization Type --</option>
                                <option value="Organization">Organization</option>
                                <option value="Institute">Institute</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div ng-if="orgOrInst=='Organization'">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <div class="input-margin">
                                    <label class="control-label" for="field_workArea"
                                           translate="stepApp.hrEmpAcrInfo.workarea">Work
                                        Area</label>
                                    <select class="form-control" id="field_workArea" name="workArea" ng-model="workArea"
                                            ng-change="loadModelByWorkArea(workArea)"
                                            ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id">
                                        <option value="">Select Work Area</option>
                                    </select>
                                    <span class="help">No of Employee: {{hremployeeinfos.length}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="control-label" translate="stepApp.hrEmpAcrInfo.employeeInfo"
                                       for="field_employeeInfo">employeeInfo</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control autocomplete" autocomplete="off"
                                           ng-model="hrEmpAcrInfo.employeeInfo"
                                           ng-blur="loadHrEmployee(hrEmpAcrInfo)"
                                           typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfos | filter:$viewValue'
                                           id="field_employeeInfo" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="(orgOrInst=='Institute')" class="col-md-6 col-lg-6">
                        <label class="control-label" translate="stepApp.hrEmpChildrenInfo.employeeInfo"
                               for="field_employeeInfo">employeeInfo</label>
                        <div class="input-margin">
                            <input type="text" class="form-control autocomplete" autocomplete="off"
                                   ng-model="hrEmpAcrInfo.employeeInfo"
                                   typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfosOfInstitute | filter:$viewValue'
                                   id="field_employeeInfo" required>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-12 " ng-hide="hrEmpAcrInfo.employeeInfo.fullName ==null">
                        <table class="table table-bordered table-responsive">
                            <tbody class="hrm-info-table">
                            <tr>
                                <td><strong>Name: </strong></td>
                                <td>{{hrEmpAcrInfo.employeeInfo.fullName}}</td>
                                <td><strong>Employee ID:</strong></td>
                                <td>{{hrEmpAcrInfo.employeeInfo.employeeId}}</td>
                            </tr>
                            <tr>
                                <td><strong>Contact No:</strong></td>
                                <td>{{hrEmpAcrInfo.employeeInfo.mobileNumber}}</td>
                                <td><strong>Email:</strong></td>
                                <td>{{hrEmpAcrInfo.employeeInfo.emailAddress}}</td>
                            </tr>
                            <tr>
                                <td><strong>Section:</strong></td>
                                <td>{{hrEmpAcrInfo.employeeInfo.departmentInfo.departmentInfo.departmentName}}</td>
                                <td><strong>Designation:</strong></td>
                                <td>{{hrEmpAcrInfo.employeeInfo.designationInfo.designationInfo.designationName}}</td>
                            </tr>
                            <tr>
                                <td><strong>Organization:</strong></td>
                                <td>{{hrEmpAcrInfo.employeeInfo.workAreaDtl.name}}</td>
                                <td><strong>Grade: </strong></td>
                                <td>{{hrEmpAcrInfo.employeeInfo.gradeInfo.gradeCode}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>

                <div class="row">

                    <div class="form-group col-sm-6">
                        <label class="control-label" translate="stepApp.hrEmpAcrInfo.acrYear"
                               for="field_acrYear">AcrYear</label>
                        <div class="input-margin">
                            <input type="number" class="form-control" name="acrYear" id="field_acrYear"
                                   ng-model="hrEmpAcrInfo.acrYear" required  oninput="validity.valid||(value='');" />
                            <div ng-show="editForm.acrYear.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.acrYear.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.acrYear.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="form-group col-sm-6">
                        <label class="control-label" translate="stepApp.hrEmpAcrInfo.currentYearAcrInd"
                               for="field_currentYearAcrInd">currentYearAcrInd</label>
                        <div ng-show="!hrEmpAcrInfo.viewMode" class="input-margin">
                            <select class="form-control" name="currentYearAcrInd"
                                    ng-model="hrEmpAcrInfo.currentYearAcrInd" id="field_currentYearAcrInd" required>
                                <option value="" translate="global.home.select" disabled selected></option>
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6" ng-show="(hrEmpAcrInfo.currentYearAcrInd=='N')">
                        <label class="control-label" translate="stepApp.hrEmpAcrInfo.noAcrReason"
                               for="field_noAcrReason">noAcrReason</label>
                        <div class="input-margin">
                            <input type="text" class="form-control" name="noAcrReason"
                                   id="field_noAcrReason"
                                   ng-model="hrEmpAcrInfo.noAcrReason"
                                   ng-required='(hrEmpAcrInfo.currentYearAcrInd=="N")'/>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <!--<div class="form-group col-sm-6">-->
                        <!--<label class="control-label" translate="stepApp.hrEmpAcrInfo.totalMarks" for="field_totalMarks">TotalMarks</label>-->
                        <!--<div class="input-margin">-->
                            <!--<input type="number" class="form-control" name="totalMarks" id="field_totalMarks"-->
                                   <!--ng-model="hrEmpAcrInfo.totalMarks" required/>-->
                            <!--<div ng-show="editForm.totalMarks.$invalid">-->
                                <!--<p class="help-block"-->
                                   <!--ng-show="editForm.totalMarks.$error.required" translate="entity.validation.required">-->
                                    <!--This field is required.-->
                                <!--</p>-->
                                <!--<p class="help-block"-->
                                   <!--ng-show="editForm.totalMarks.$error.number" translate="entity.validation.number">-->
                                    <!--This field should be a number.-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="form-group col-sm-6">
                        <label class="control-label" translate="stepApp.hrEmpAcrInfo.overallEvaluation"
                               for="field_overallEvaluation">OverallEvaluation</label>
                        <div class="input-margin">
                            <input type="text" class="form-control" name="overallEvaluation"
                                   id="field_overallEvaluation"
                                   ng-model="hrEmpAcrInfo.overallEvaluation" required/>
                            <div ng-show="editForm.overallEvaluation.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.overallEvaluation.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="control-label" translate="stepApp.hrEmpAcrInfo.acrDate"
                               for="field_acrDate">AcrDate</label>
                        <div class="input-margin">
                            <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.acrDate"
                                   datepicker-options="calendar.dateOptions" close-text="Close"
                                   ng-click="calendar.open($event, 'acrDate')" class="form-control" name="acrDate"
                                   id="field_acrDate" max-date="toDate"
                                   ng-model="hrEmpAcrInfo.acrDate" placeholder="dd-mm-yyyy"/>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="control-label" translate="stepApp.hrEmpAcrInfo.promotionStatus"
                               for="field_promotionStatus">PromotionStatus</label>
                        <div class="input-margin">
                            <input type="text" class="form-control" name="promotionStatus" id="field_promotionStatus"
                                   ng-model="hrEmpAcrInfo.promotionStatus"/>
                        </div>

                    </div>

                    <div class="form-group col-sm-6">
                        <label class="control-label" translate="stepApp.hrEmpAcrInfo.activeStatus">ActiveStatus</label>
                        <div class="input-margin">
                    <span>
                        <input type="radio" data-ng-model="hrEmpAcrInfo.activeStatus" name="activeStatus"
                               data-ng-value="true">&nbsp;Active&nbsp;|&nbsp;
                        <input type="radio" data-ng-model="hrEmpAcrInfo.activeStatus" name="activeStatus"
                               data-ng-value="false">&nbsp;Inactive
                    </span>
                            <div ng-show="editForm.activeStatus.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.activeStatus.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    onclick="window.history.back()">
                <span class=" glyphicon glyphicon-remove"></span>&nbsp;<span
                translate="entity.action.cancel">cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="hrEmpAcrInfo.id == null" translate="entity.action.save">Save</span>
                <span ng-show="hrEmpAcrInfo.id != null" translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>
