<div class="col-md-12 common-table padding-right0 padding-left5">
<h2><span translate="stepApp.hrEmpAcrInfo.detail.title">HrEmpAcrInfo</span> {{hrEmpAcrInfo.id}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAcrInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrEmpAcrInfo.employeeInfo.id})">{{hrEmpAcrInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAcrInfo.acrYear">AcrYear</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAcrInfo.acrYear}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAcrInfo.totalMarks">TotalMarks</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAcrInfo.totalMarks}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAcrInfo.overallEvaluation">OverallEvaluation</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAcrInfo.overallEvaluation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAcrInfo.promotionStatus">PromotionStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAcrInfo.promotionStatus}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAcrInfo.acrDate">AcrDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAcrInfo.acrDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAcrInfo.currentYearAcrInd">currentYearAcrInd</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAcrInfo.currentYearAcrInd == 'Y' ? 'Yes':'No'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAcrInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAcrInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
                <!--<td>
                    <span translate="stepApp.hrEmpAcrInfo.logId">LogId</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAcrInfo.logId}}</span>
                </td>-->
                <!--<td>
                    <span translate="stepApp.hrEmpAcrInfo.noAcrReason">noAcrReason</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAcrInfo.noAcrReason}}</span>
                </td>-->
            </tr>

           <!-- <tr>-->

                <!--<td>
                    <span translate="stepApp.hrEmpAcrInfo.logStatus">LogStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAcrInfo.logStatus}}</span>
                </td>-->

            <!--</tr>-->
            <!--<tr>-->

                <!--<td>
                    <span translate="stepApp.hrEmpAcrInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAcrInfo.createDate | date:'mediumDate'}}</span>
                </td>-->
            <!--</tr>-->
            <!--<tr>
                <td>
                    <span translate="stepApp.hrEmpAcrInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAcrInfo.createBy}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAcrInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAcrInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAcrInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAcrInfo.updateBy}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>-->

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> back</span>
    </button>
</div>
