<div class="common-dialogue">
    <div class="panel panel-default">
            <h4 class="modal-title" id="myhrEmpAcrInfoLabel"><span
                translate="stepApp.hrEmpAcrInfo.home.profileViewEditTitle"></span> : {{hrEmployeeInfo.fullName}}</h4>
        <div class="panel-body bg-panel hr_label">
            <div class="row hrm-view">
                <span ng-show="addMode">
                    <span ng-show="noEmployeeFound" class="alert">Employee is not created yet.</span>
                </span>
            </div>
            <div class="panel-group">
                <!-- For Loop Start From Here-->
                <div class="bg-panel" ng-repeat="hrEmpAcrInfo in hrEmpAcrInfoList">
                    <form class="form-horizontal " name="editForm" role="form" ng-submit="save()" novalidate
                          show-validation>
                        <div class="row hrm-view panel-heading no_padding">
                            <div class="col-sm-7 no_padding">
                                <strong>{{hrEmpAcrInfo.acrYear}} : {{hrEmpAcrInfo.totalMarks}}</strong>
                            </div>
                            <!--<div class="col-sm-5 no_padding text-right">-->
                                <!--<button ng-hide="noEmployeeFound || hrEmpAcrInfo.isLocked"-->
                                        <!--ng-if="!(hrEmpAcrInfo.logStatus == 11 || hrEmpAcrInfo.logStatus == 33 || hrEmpAcrInfo.logStatus == 55)"-->
                                        <!--type="button" ng-click="changeProfileMode(hrEmpAcrInfo)"-->
                                        <!--class="btn btn-primary btn-sm">{{hrEmpAcrInfo.viewModeText}}-->
                                <!--</button>-->
                                <!--<span ng-show="hrEmpAcrInfo.isLocked" class="alert alert-warning">-->
                                    <!--<span translate="stepApp.hrmHome.recordLocked">Pending</span>-->
                                <!--</span>-->
                                <!--<span ng-if="(hrEmpAcrInfo.logStatus == 22 || hrEmpAcrInfo.logStatus == 44 || hrEmpAcrInfo.logStatus == 66)">-->
                                    <!--<span class="alert alert-warning" translate="stepApp.hrmHome.requestRejected">Rejected</span>-->
                                <!--</span>-->
                            <!--</div>-->
                        </div>
                        <div class="row hrm-view">
                            <div class="col-sm-12 text-right"
                                 ng-if="(hrEmpAcrInfo.logStatus == 22 || hrEmpAcrInfo.logStatus == 44 || hrEmpAcrInfo.logStatus == 66)">
                                <span class="alert-warning">
                                    <span class="control-label" translate="stepApp.hrmHome.rejectionReason">Reason</span>:&nbsp; : &nbsp; {{hrEmpAcrInfo.logComments}}
                                </span>
                            </div>
                            <div class="col-sm-12 text-right" ng-if="(hrEmpAcrInfo.logStatus == 11 || hrEmpAcrInfo.logStatus == 33 || hrEmpAcrInfo.logStatus == 55)">
                                <span class="alert-warning" ng-if="hrEmpAcrInfo.logStatus == 11">
                                    <span class="control-label" translate="stepApp.hrmHome.messages.waitingForDeptHeadApproval">Waiting @ Department Head Approval</span>
                                </span>
                                <span class="alert-warning" ng-if="hrEmpAcrInfo.logStatus == 33">
                                    <span class="control-label" translate="stepApp.hrmHome.messages.waitingForInstHeadApproval">Waiting @ Institute Head Approval</span>
                                </span>
                                <span class="alert-warning" ng-if="hrEmpAcrInfo.logStatus === 55">
                                    <span class="control-label" translate="stepApp.hrmHome.messages.waitingForSystemAdminApproval">Waiting @ System Admin Approval</span>
                                </span>
                            </div>
                        </div>
                        <div class="row common-table" ng-show="hrEmpAcrInfo.viewMode">
                            <div class="col-md-12 padding0">
                                <table class="table">
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpAcrInfo.acrYear"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAcrInfo.acrYear}}</td>
                                        <!--<td><strong translate="stepApp.hrEmpAcrInfo.totalMarks"></strong></td>-->
                                        <!--<td>&nbsp; : &nbsp;{{hrEmpAcrInfo.totalMarks}}</td>-->
                                        <td><strong translate="stepApp.hrEmpAcrInfo.overallEvaluation"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAcrInfo.overallEvaluation}}</td>
                                    </tr>
                                    <tr>

                                        <td><strong translate="stepApp.hrEmpAcrInfo.promotionStatus"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAcrInfo.promotionStatus}}</td>
                                        <td><strong translate="stepApp.hrEmpAcrInfo.currentYearAcrIndQuestion"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAcrInfo.currentYearAcrInd == 'Y' ? 'Yes':'No'}}</td>
                                    </tr>
                                    <tr>


                                        <td ng-show="(hrEmpAcrInfo.currentYearAcrInd=='N')"><strong translate="stepApp.hrEmpAcrInfo.noAcrReason"></strong></td>
                                        <td ng-show="(hrEmpAcrInfo.currentYearAcrInd=='N')">&nbsp; : &nbsp;{{hrEmpAcrInfo.noAcrReason}}</td>
                                        <td><strong translate="stepApp.hrEmpAcrInfo.acrDate"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAcrInfo.acrDate | date:'mediumDate'}}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpAcrInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <div  class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpAcrInfo.acrYear"
                                           for="field_acrYear">AcrYear</label>
                                    <input type="text" class="form-control" name="acrYear" id="field_acrYear"
                                           ng-model="hrEmpAcrInfo.acrYear" required
                                    only-numbers max="2050" maxlength="4" minlength="4" min="0"
                                    />
                                    <div ng-show="editForm.acrYear.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.acrYear.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.acrYear.$error.number"
                                           translate="entity.validation.number">
                                            This field should be a number.
                                        </p>
                                        <small style="color:red; font-size: 10px;" ng-show="editForm.acrYear.$error.maxlength">
                                            This field should not longer than 4 digit
                                        </small>
                                        <small style="color:red; font-size: 10px;" ng-show="editForm.acrYear.$error.minlength">
                                            This field should be at least 4 digit
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpAcrInfo.currentYearAcrIndQuestion" for="field_currentYearAcrInd">currentYearAcrInd</label>
                                <div ng-show="!hrEmpAcrInfo.viewMode" class="input-margin">
                                    <select class="form-control" name="currentYearAcrInd"
                                            ng-model="hrEmpAcrInfo.currentYearAcrInd" id="field_currentYearAcrInd" required>
                                        <option value="Y">Yes</option>
                                        <option value="N">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row hrm-view"  ng-show="!hrEmpAcrInfo.viewMode">
                            <div class="form-group col-sm-6" ng-show="(hrEmpAcrInfo.currentYearAcrInd=='N')" >
                                <label class="control-label" translate="stepApp.hrEmpAcrInfo.noAcrReason"
                                       for="field_noAcrReason">noAcrReason</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="noAcrReason" id="field_noAcrReason"
                                           ng-model="hrEmpAcrInfo.noAcrReason"
                                           ng-required='(hrEmpAcrInfo.currentYearAcrInd=="N")'
                                    only-letters-and-numbers/>
                                </div>
                            </div>

                            <!--<div class="form-group col-sm-6">-->
                                <!--<div class="input-margin">-->
                                    <!--<label class="control-label" translate="stepApp.hrEmpAcrInfo.totalMarks"-->
                                           <!--for="field_totalMarks">TotalMarks</label>-->
                                    <!--<input type="text" class="form-control" name="totalMarks" id="field_totalMarks"-->
                                           <!--ng-model="hrEmpAcrInfo.totalMarks" required-->
                                    <!--only-numbers min="0" minlength="2" maxlength="3"-->
                                    <!--/>-->
                                    <!--<div ng-show="editForm.totalMarks.$invalid">-->
                                        <!--<p class="help-block"-->
                                           <!--ng-show="editForm.totalMarks.$error.required"-->
                                           <!--translate="entity.validation.required">-->
                                            <!--This field is required.-->
                                        <!--</p>-->
                                        <!--<p class="help-block"-->
                                           <!--ng-show="editForm.totalMarks.$error.number"-->
                                           <!--translate="entity.validation.number">-->
                                            <!--This field should be a number.-->
                                        <!--</p>-->
                                        <!--<small style="color:red; font-size: 10px;" ng-show="editForm.totalMarks.$error.maxlength">-->
                                            <!--This field should not longer than 3 digit-->
                                        <!--</small>-->
                                        <!--<small style="color:red; font-size: 10px;" ng-show="editForm.totalMarks.$error.minlength">-->
                                            <!--This field should be at least 2 digit-->
                                        <!--</small>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpAcrInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <div  class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpAcrInfo.overallEvaluation"
                                           for="field_overallEvaluation">OverallEvaluation</label>
                                    <input type="text" class="form-control" name="overallEvaluation"
                                           id="field_overallEvaluation"
                                           ng-model="hrEmpAcrInfo.overallEvaluation" required
                                           only-letters min="0" minlength="5" maxlength="150"/>
                                    <div ng-show="editForm.overallEvaluation.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.overallEvaluation.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red; font-size: 10px;" ng-show="editForm.overallEvaluation.$error.maxlength">
                                            This field should not longer than 150 character
                                        </small>
                                        <small style="color:red; font-size: 10px;" ng-show="editForm.overallEvaluation.$error.minlength">
                                            This field should be at least 5 character
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-6" ngf-drop ngf-change="setGoOrderDoc($file, hrEmpAcrInfo)">
                                <label class="control-label" translate="stepApp.hrEmpAcrInfo.promotionStatus"
                                       for="field_promotionStatus">PromotionStatus</label>
                                <div ng-show="!hrEmpAcrInfo.viewMode" class="input-margin">
                                    <input type="text" class="form-control" name="promotionStatus"
                                           id="field_promotionStatus"
                                           ng-model="hrEmpAcrInfo.promotionStatus"
                                    only-letters maxlength="150" minlength="5" required/>
                                    <div ng-show="editForm.promotionStatus.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.promotionStatus.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red; font-size: 10px;" ng-show="editForm.promotionStatus.$error.maxlength">
                                            This field should not longer than 150 Character
                                        </small>
                                        <small style="color:red; font-size: 10px;" ng-show="editForm.promotionStatus.$error.minlength">
                                            This field should be at least 5 Character
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row hrm-view" ng-show="!hrEmpAcrInfo.viewMode">
                            <div class="form-group col-sm-6">
                              <label class="control-label" translate="stepApp.hrEmpAcrInfo.acrDate"
                                     for="field_acrDate">AcrDate</label>
                              <div  class="input-margin">
                                  <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.acrDate"
                                         datepicker-options="calendar.dateOptions" close-text="Close"
                                         ng-click="calendar.open($event, 'acrDate')" class="form-control"
                                         name="acrDate" id="field_acrDate"
                                         ng-model="hrEmpAcrInfo.acrDate"/>
                              </div>
                            </div>
                            <div class="form-group col-sm-6 text-right">
                                <button ng-show="!hrEmpAcrInfo.viewMode" type="button"
                                        ng-click="changeProfileMode(hrEmpAcrInfo)" class="btn btn-default btn-sm"><span
                                    class="glyphicon glyphicon-remove"></span>&nbsp;{{hrEmpAcrInfo.viewModeText}}
                                </button>
                                <button ng-show="!hrEmpAcrInfo.viewMode" ng-click="updateProfile(hrEmpAcrInfo, $index)"
                                        type="button" ng-disabled="editForm.$invalid || isSaving"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                                    translate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End of Loop -->
                <!--<div class="col-sm-12 no_padding text-right">-->
                    <!--<button type="submit" class="btn btn-primary" ng-show="!addMode"-->
                            <!--ng-disabled="editForm.$invalid || isSaving" ng-click="addMore()"><i-->
                        <!--class="fa fa-plus-square"></i>-->
                        <!--<span translate="global.menu.account.addmore">Add More</span>-->
                    <!--</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
