
<div class="common-table">
    <h2><span translate="stepApp.prlGeneratedSalaryInfo.detail.title">PrlGeneratedSalaryInfo</span> {{prlGeneratedSalaryInfo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.prlGeneratedSalaryInfo.yearName">YearName</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlGeneratedSalaryInfo.yearName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlGeneratedSalaryInfo.monthName">MonthName</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlGeneratedSalaryInfo.monthName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlGeneratedSalaryInfo.salaryType">SalaryType</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlGeneratedSalaryInfo.salaryType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlGeneratedSalaryInfo.processDate">ProcessDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlGeneratedSalaryInfo.processDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlGeneratedSalaryInfo.disburseStatus">DisburseStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlGeneratedSalaryInfo.disburseStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlGeneratedSalaryInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlGeneratedSalaryInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
