<div>
    <div class="panel panel-default common-list">
            <h2 class="modal-title"><span translate="global.menu.entities.pfmsDashboard"></span></h2>

        <div class="row text-center">
            <!--
                        <div class="form-group col-sm-4">
                            <a ui-sref="almHoliday" ui-sref-active="active"
                               class="btn btn-warning btn-large active">Admin Holiday<i class="icon-share"></i></a>
                        </div>
            -->
        </div>
        <div class="row">
            <div class="col-md-12 margin-top-30">
                <div class="col-md-2">
                    <a ui-sref="pfmsEmpMembershipForm"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/membership.png" alt=""></div>
                        <span translate="global.menu.entities.pfmsEmpMembershipForm">Employee Membership Form</span>
                    </div></a>
                </div>
                <div class="col-md-2">
                    <a ui-sref="pfmsEmpMembership"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/employee-membership.png" alt=""></div>
                        <span translate="global.menu.entities.pfmsEmpMembership">Employee Membership</span>
                    </div></a>
                </div>
                <div class="col-md-2">
                    <a ui-sref="pfmsViewPfAmount"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/employee-membership.png" alt=""></div>
                        <span translate="global.menu.entities.pfAmount">Employee PF Amount</span>
                    </div></a>
                </div>

                <div class="col-md-2">
                    <a ui-sref="pfmsEmpAdjustment"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/adjustment.png" alt=""></div>
                        <span translate="global.menu.entities.pfmsEmpAdjustment">pfmsEmpAdjustment</span>
                    </div></a>
                </div>
                <div class="col-md-2">
                    <a ui-sref="pfmsLoanAppPending"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/loanapplication.png" alt=""></div>
                        <span translate="global.menu.entities.pfmsLoanAppPending">loanapplication</span>
                    </div></a>
                </div>
                <div class="col-md-2">
                    <a ui-sref="pfmsRegister"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/register.png" alt=""></div>
                        <span translate="global.menu.entities.pfmsRegister">pfmsRegister</span>
                    </div></a>
                </div>
                <div class="col-md-2">
                    <a ui-sref="pfmsDeduction"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/deduction.png" alt=""></div>
                        <span translate="global.menu.entities.pfmsDeduction">pfmsDeduction</span>
                    </div></a>
                </div>
                <div class="col-md-2">
                    <a ui-sref="pfmsLoanSchedule"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/loanShceedule.png" alt=""></div>
                        <span translate="global.menu.entities.pfmsLoanSchedule">pfmsLoanSchedule</span>
                    </div></a>
                </div>
                <div class="col-md-2">
                    <a ui-sref="pfmsEmpMonthlyAdj"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/monthlyAdjustment.png" alt=""></div>
                        <span translate="global.menu.entities.pfmsEmpMonthlyAdj">pfmsEmpMonthlyAdj</span>
                    </div></a>
                </div>
                <div class="col-md-2">
                    <a ui-sref="pfmsUtmostAppPending"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/setting.png" alt=""></div>
                        <span translate="global.menu.entities.pfmsUtmostGpfApp">pfmsUtmostGpfApp</span>
                    </div></a>
                </div>

                <div class="col-md-2">
                    <a ui-sref="pfmsDeductionFinalize"><div class="single-menu">
                        <div class=""><img src="./assets/images/icon/earning.png" alt=""></div>
                        <span translate="global.menu.entities.pfmsDeductionFinalize">Earning Method Setup</span>
                    </div></a>
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    .single-menu {
        padding: 7px 7px;
        background: #fff;
        margin: 7px 0px;
        font-size: 13px;
        transition: .4s;
        border-radius: 2px;
        font-weight: bold;
        color: #777;
        text-align: center;
        width: 115px;
        height: 115px;
    }
    .single-menu:hover{
        box-shadow: 0 3px 18px 0 rgba(0,0,0,0.2);
        background: #4D963B;
        color:#fff;
    }
    .single-menu img {
        height: 35px;
        margin-bottom: 15px;
    }
    .margin-top-30{
        margin-top: 30px;
    }
</style>
