<ul id="ulcolor3" class="nav su_serv_menu nav-list  bs-docs-sidenav">
    <li>
        <a class=""  ui-sref="pfms">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.dashboard">dashboard</span>

        </a>
    </li>
    <li>
        <a class=""  ui-sref="pfms.dashboardMenu" ui-sref-active="active" >
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.pfms">dashboard</span>

        </a>
    </li>

    <li has-any-authority="ROLE_ADMIN">
        <a href="" ui-sref="jpReport({module: 'pfms'})" has-any-authority="ROLE_ADMIN" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="Reports">prlReport</span></a>
    </li>


    <!--<li>
        <a class=""  ui-sref="pfmsEmpMembershipForm" ui-sref-active="active">
            <i class="fa fa-pencil-square-o"></i>
            <span translate="global.menu.entities.pfmsEmpMembershipForm">Employee Membership Form</span>

        </a>
    </li>
    <li>
        <a class=""  ui-sref="pfmsEmpMembership" ui-sref-active="active">
            <i class="fa fa-pencil-square-o"></i>
            <span translate="global.menu.entities.pfmsEmpMembership">Employee Membership</span>

        </a>
    </li>


    <li>
        <a class=""  ui-sref="pfmsEmpAdjustment" ui-sref-active="active">
            <i class="fa fa-pencil-square-o"></i>
            <span translate="global.menu.entities.pfmsEmpAdjustment">Adjustment</span>

        </a>
    </li>

    &lt;!&ndash;<li>&ndash;&gt;
    &lt;!&ndash;<a class=""  ui-sref="pfmsLoanApplication" ui-sref-active="active">&ndash;&gt;
    &lt;!&ndash;<i class="fa fa-pencil-square-o"></i>&ndash;&gt;
    &lt;!&ndash;<span translate="global.menu.entities.pfmsLoanApplication">pfmsLoanApplication</span>&ndash;&gt;

    &lt;!&ndash;</a>&ndash;&gt;
    &lt;!&ndash;</li>&ndash;&gt;

    <li>
        <a class=""  ui-sref="pfmsLoanAppPending" ui-sref-active="active">
            <i class="fa fa-pencil-square-o"></i>
            <span translate="global.menu.entities.pfmsLoanAppPending">pfmsLoanAppPending</span>

        </a>
    </li>

    <li>
        <a class=""  ui-sref="pfmsRegister" ui-sref-active="active">
            <i class="fa fa-pencil-square-o"></i>
            <span translate="global.menu.entities.pfmsRegister">pfmsRegister</span>

        </a>
    </li>

    <li>
        <a class=""  ui-sref="pfmsDeduction" ui-sref-active="active">
            <i class="fa fa-pencil-square-o"></i>
            <span translate="global.menu.entities.pfmsDeduction">pfmsDeduction</span>

        </a>
    </li>

    <li>
        <a class=""  ui-sref="pfmsLoanSchedule" ui-sref-active="active">
            <i class="fa fa-pencil-square-o"></i>
            <span translate="global.menu.entities.pfmsLoanSchedule">pfmsLoanSchedule</span>

        </a>
    </li>

    <li>
        <a class=""  ui-sref="pfmsEmpMonthlyAdj" ui-sref-active="active">
            <i class="fa fa-pencil-square-o"></i>
            <span translate="global.menu.entities.pfmsEmpMonthlyAdj">Monthly Adjustment</span>

        </a>
    </li>


    <li>
        <a class=""  ui-sref="pfmsUtmostAppPending" ui-sref-active="active">
            <i class="fa fa-pencil-square-o"></i>
            <span translate="global.menu.entities.pfmsUtmostGpfApp">pfmsUtmostGpfApp</span>

        </a>
    </li>


    <li>
        <a class=""  ui-sref="pfmsDeductionFinalize" ui-sref-active="active">
            <i class="fa fa-pencil-square-o"></i>
            <span translate="global.menu.entities.pfmsDeductionFinalize">pfmsDeductionFinalize</span>

        </a>
    </li>-->

</ul>
