<div class="row">
    <div>
        <ui-breadcrumbs displayname-property="{{'data.displayName' | translate}}" abstract-proxy-property="data.proxy" template-url="assets/ngBreadCrumbTemplate.html"></ui-breadcrumbs>
    </div>
    <div class="col-md-3 bs-docs-sidebar padding-right0">
        <ng-include src="'scripts/app/entities/pfms/left-menu.html'"></ng-include>
    </div>
    <div class="col-md-9 padding-left0">
        <div class="main-content lbl-dash col-md-12 no_padding" ui-view="pfmsView">

        </div>
    </div>

</div>
