<div class="col-sm-12 common-list padding-right0 padding-left5">
    <h2 translate="stepApp.hrEmplTypeInfo.home.title">HrEmplTypeInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary " ui-sref="hrEmplTypeInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrEmplTypeInfo.home.createLabel">Create a new HrEmplTypeInfo</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <!--<th><span translate="global.field.id">ID</span></th>-->
                <th><span translate="stepApp.hrEmplTypeInfo.typeCode">TypeCode</span></th>
                <th><span translate="stepApp.hrEmplTypeInfo.typeName">TypeName</span></th>
                <th><span translate="stepApp.hrEmplTypeInfo.activeStatus">ActiveStatus</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrEmplTypeInfo in hrEmplTypeInfos | filter:q | itemsPerPage: pageSize track by hrEmplTypeInfo.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <!--<td><a ui-sref="hrEmplTypeInfo.detail({id:hrEmplTypeInfo.id})">{{hrEmplTypeInfo.id}}</a></td>-->
                <td>{{hrEmplTypeInfo.typeCode}}</td>
                <td>{{hrEmplTypeInfo.typeName}}</td>
                <td>{{hrEmplTypeInfo.activeStatus ? 'Active' : 'Inactive'}}</td>
                <td class="hrm-button text-right no-print">
                    <button type="submit"
                            ui-sref="hrEmplTypeInfo.detail({id:hrEmplTypeInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="hrEmplTypeInfo.edit({id:hrEmplTypeInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrEmplTypeInfo.delete({id:hrEmplTypeInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--for pagination and real time search add bellow nav tab -->
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
