<div class="col-md-12 common-table padding-right0 padding-left5">
    <h2><span translate="stepApp.hrEmplTypeInfo.detail.title">HrEmplTypeInfo</span> - {{hrEmplTypeInfo.typeName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmplTypeInfo.typeCode">TypeCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmplTypeInfo.typeCode}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmplTypeInfo.typeName">TypeName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmplTypeInfo.typeName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmplTypeInfo.typeDetail">TypeDetail</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmplTypeInfo.typeDetail}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmplTypeInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmplTypeInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.hrEmplTypeInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmplTypeInfo.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmplTypeInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmplTypeInfo.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmplTypeInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmplTypeInfo.updateDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmplTypeInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmplTypeInfo.updateBy}}</span>
                </td>
            </tr>-->
            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel"> cancel</span>
    </button>
</div>
