
<div class="common-table">
    <h2><span translate="stepApp.pfmsLoanSchedule.detail.title">PfmsLoanSchedule</span> {{pfmsLoanSchedule.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanSchedule.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:pfmsLoanSchedule.employeeInfo.id})">{{pfmsLoanSchedule.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.pfmsLoanSchedule.pfmsLoanApplication">pfmsLoanApplication</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="pfmsLoanApplication.detail({id:pfmsLoanSchedule.pfmsLoanApplication.id})">{{pfmsLoanSchedule.pfmsLoanApp.id}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanSchedule.departmentName">departmentName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanSchedule.employeeInfo.departmentInfo.departmentInfo.departmentName}}</span>
                </td>
                <td>
                    <span translate="stepApp.pfmsLoanSchedule.designationName">designationName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanSchedule.employeeInfo.designationInfo.designationInfo.designationName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanSchedule.nationality">nationality</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanSchedule.employeeInfo.nationality}}</span>
                </td>
                <td>
                    <span translate="stepApp.pfmsLoanSchedule.fatherName">fatherName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanSchedule.employeeInfo.fatherName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanSchedule.dutySide">dutySide</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanSchedule.employeeInfo.workArea.typeTitle}}</span>
                </td>
                <td>
                    <span translate="stepApp.pfmsLoanSchedule.loanYear">LoanYear</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanSchedule.loanYear}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanSchedule.loanMonth">LoanMonth</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanSchedule.loanMonth}}</span>
                </td>
                <td>
                    <span translate="stepApp.pfmsLoanSchedule.deductedAmount">DeductedAmount</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanSchedule.deductedAmount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanSchedule.installmentNo">InstallmentNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanSchedule.installmentNo}}</span>
                </td>
                <td>
                    <span translate="stepApp.pfmsLoanSchedule.isRepay">IsRepay</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanSchedule.isRepay}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanSchedule.reason">Reason</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanSchedule.reason}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>


            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
