
<div class="common-table">
    <h2><span translate="stepApp.almHoliday.detail.title">AlmHoliday</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.almHoliday.typeName">TypeName</span>
                </td>
                <td>
                    <span class="form-control-static">{{almHoliday.typeName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almHoliday.religion">Religion</span>
                </td>
                <td>
                    <span class="form-control-static">{{almHoliday.religion}}</span>
                </td>
            </tr>
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.almHoliday.occasion">Occasion</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{almHoliday.occasion}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <tr>
                <td>
                    <span translate="stepApp.almHoliday.fromDate">FromDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{almHoliday.fromDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almHoliday.toDate">ToDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{almHoliday.toDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almHoliday.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{almHoliday.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
