<div class="col-md-2 no-print padding-left0 padding-right0">
    <ng-include src="'scripts/app/entities/jobPortal/jp-admin-menu.html'"></ng-include>
</div>
<div class="col-md-10 lbl-dash padding-left0">
    <div class="col-md-12 common-table">
        <h2><span translate="stepApp.eduBoard.detail.title">EduBoard</span> {{eduBoard.name}}</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <!--<thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
                </thead>-->
                <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.eduBoard.name">Name</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{eduBoard.name}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.eduBoard.description">Description</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{eduBoard.description}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.eduBoard.status">Status</span>
                    </td>

                    <!--<span class="form-control-static">{{eduBoard.status}}</span>-->
                    <td>{{eduBoard.status != null && eduBoard.status ? 'Active':'Inactive'}}</td>

                </tr>
                </tbody>
            </table>
        </div>

        <button type="submit"
                onclick="window.history.back()"
                class="btn btn-info no-print">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
        </button>
        <div class="no-print   text-right">
            <button type="submit" name="submit" onclick="window.print()" class="btn btn-primary">
                <span class="glyphicon glyphicon-print"></span>&nbsp;<span
                translate="entity.action.print">Print</span>
            </button>
        </div>
    </div>
</div>
