<div class="col-md-12 common-list">
    <h2 class="panel-heading" translate="stepApp.prlHouseRentAllowInfo.home.title">PrlHouseRentAllowInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary pull-right" ui-sref="prlHouseRentAllowInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.prlHouseRentAllowInfo.home.createLabel">Create a new PrlHouseRentAllowInfo</span>
            </button>
        </div>
    </div>


    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                <!--<th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                <th jh-sort-by="name"><span translate="stepApp.prlHouseRentAllowInfo.name">Name</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="basicSalaryMin"><span translate="stepApp.prlHouseRentAllowInfo.basicSalaryMin">BasicSalaryMin</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="basicSalaryMax"><span translate="stepApp.prlHouseRentAllowInfo.basicSalaryMax">BasicSalaryMax</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="minimumHouseRent"><span translate="stepApp.prlHouseRentAllowInfo.minimumHouseRent">MinimumHouseRent</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="rentPercentage"><span translate="stepApp.prlHouseRentAllowInfo.rentPercentage">RentPercentage</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <!--<th jh-sort-by="activeStatus"><span translate="stepApp.prlHouseRentAllowInfo.activeStatus">ActiveStatus</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                <th jh-sort-by="localitySetInfo.name"><span translate="stepApp.prlHouseRentAllowInfo.localitySetInfo">localitySetInfo</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <!--<th jh-sort-by="gazetteInfo.gazetteCode"><span translate="stepApp.prlHouseRentAllowInfo.gazetteInfo">gazetteInfo</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="prlHouseRentAllowInfo in prlHouseRentAllowInfos | filter:q | itemsPerPage: pageSize track by prlHouseRentAllowInfo.id"
                current-page="currentPage">
                <!--<td><a ui-sref="prlHouseRentAllowInfo.detail({id:prlHouseRentAllowInfo.id})">{{prlHouseRentAllowInfo.id}}</a></td>-->
                <td>{{prlHouseRentAllowInfo.name}}</td>
                <td>{{prlHouseRentAllowInfo.basicSalaryMin}}</td>
                <td>{{prlHouseRentAllowInfo.basicSalaryMax}}</td>
                <td>{{prlHouseRentAllowInfo.minimumHouseRent}}</td>
                <td>{{prlHouseRentAllowInfo.rentPercentage}}</td>
                <!--<td>{{prlHouseRentAllowInfo.activeStatus ? 'Active' : 'Inactive'}}</td>-->
                <td>
                    <a ui-sref="PrlLocalitySetInfo.detail({id:prlHouseRentAllowInfo.localitySetInfo.id})">{{prlHouseRentAllowInfo.localitySetInfo.name}}</a>
                </td>
                <!--<td>
                    <a ui-sref="HrGazetteSetup.detail({id:prlHouseRentAllowInfo.gazetteInfo.id})">{{prlHouseRentAllowInfo.gazetteInfo.gazetteCode}}</a>
                </td>-->
                <td class="text-right">
                    <button type="submit"
                            ui-sref="prlHouseRentAllowInfo.detail({id:prlHouseRentAllowInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="prlHouseRentAllowInfo.edit({id:prlHouseRentAllowInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="prlHouseRentAllowInfo.delete({id:prlHouseRentAllowInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
