
<div class="common-table">
    <h2><span translate="stepApp.prlHouseRentAllowInfo.detail.title">PrlHouseRentAllowInfo</span> {{prlHouseRentAllowInfo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.prlHouseRentAllowInfo.localitySetInfo">localitySetInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="prlLocalitySetInfo.detail({id:prlHouseRentAllowInfo.localitySetInfo.id})">{{prlHouseRentAllowInfo.localitySetInfo.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlHouseRentAllowInfo.gazetteInfo">gazetteInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrGazetteSetup.detail({id:prlHouseRentAllowInfo.gazetteInfo.id})">{{prlHouseRentAllowInfo.gazetteInfo.gazetteCode}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlHouseRentAllowInfo.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlHouseRentAllowInfo.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlHouseRentAllowInfo.basicSalaryMin">BasicSalaryMin</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlHouseRentAllowInfo.basicSalaryMin}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlHouseRentAllowInfo.basicSalaryMax">BasicSalaryMax</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlHouseRentAllowInfo.basicSalaryMax}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlHouseRentAllowInfo.minimumHouseRent">MinimumHouseRent</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlHouseRentAllowInfo.minimumHouseRent}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlHouseRentAllowInfo.rentPercentage">RentPercentage</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlHouseRentAllowInfo.rentPercentage}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlHouseRentAllowInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlHouseRentAllowInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlHouseRentAllowInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlHouseRentAllowInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlHouseRentAllowInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlHouseRentAllowInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
