<style>
    table {
        border: 1px solid #ddd;
        table-layout: fixed;
    !important;
    }

    .common-table {
        padding: 5px;
        background: #fff;
    }
</style>
<div class="col-sm-12 common-table">
    <div class="text-right padding-tb no-print">
        <button ng-if="instEmplRecruitInfo.instEmployee.mpoAppStatus < 3"
                ui-sref="employeeInfo.recruitmentInfo.edit"
                class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
        </button>
        <button ng-if="instEmplRecruitInfo.id == null"
                ui-sref="employeeInfo.recruitmentInfo.new"
                class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;<span translate="entity.action.add"> Add</span>
        </button>
    </div>
    <h2 translate="stepApp.instEmployee.home.recruitmentInfo">Enrollment Information</h2>
    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.salaryScale">SalaryScale</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.payScale.basicAmount}}</span>
                </td>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.salaryCode">SalaryCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.payScale.code}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span
                        translate="stepApp.instEmplRecruitInfo.monthlySalaryGovtProvided">MonthlySalaryGovtProvided</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.monthlySalaryGovtProvided}}</span>
                </td>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.monthlySalaryInstituteProvided">MonthlySalaryInstituteProvided</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.monthlySalaryInstituteProvided}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.gbResolutionReceiveDate">GbResolutionReceiveDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.gbResolutionReceiveDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.circularPaperName">CircularPaperName</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.circularPaperName}}</span>
                </td>
                <!--<td>-->
                <!--<span translate="stepApp.instEmplRecruitInfo.gbResolutionAgendaNo">GbResolutionAgendaNo</span>-->
                <!--</td>-->
                <!--<td>-->
                <!--<span class="form-control-static">{{instEmplRecruitInfo.gbResolutionAgendaNo}}</span>-->
                <!--</td>-->
            </tr>

            <tr>

                <td>
                    <span translate="stepApp.instEmplRecruitInfo.circularPublishedDate">CircularPublishedDate</span>
                </td>
                <td>
                    <span
                        class="form-control-static">{{instEmplRecruitInfo.circularPublishedDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.circularPaperNational">circularPaperNational</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.circularNationalPaperName}}</span>
                </td>
            </tr>

            <tr>

                <td>
                    <span translate="stepApp.instEmplRecruitInfo.nPublishedDate">nPublishedDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.circularNationalPubDt}}</span>
                </td>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.recruitExamReceiveDate">RecruitExamReceiveDate</span>
                </td>
                <td>
                    <span
                        class="form-control-static">{{instEmplRecruitInfo.recruitExamReceiveDate | date:'mediumDate'}}</span>
                </td>
            </tr>

            <tr>

                <td>
                    <span translate="stepApp.instEmplRecruitInfo.dgRepresentativeName">DgRepresentativeName</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.dgRepresentativeName}}</span>
                </td>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.dgRepresentativeDesignation">DgRepresentativeDesignation</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.dgRepresentativeDesignation}}</span>
                </td>
            </tr>

            <tr>

                <td>
                    <span translate="stepApp.instEmplRecruitInfo.dgRepresentativeAddress">DgRepresentativeAddress</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.dgRepresentativeAddress}}</span>
                </td>
                <td><span translate="stepApp.instEmplRecruitInfo.dgRecordno"></span></td>

                <td><span class="form-control-static">{{instEmplRecruitInfo.dgRecordNo}}</span></td>
            </tr>

            <tr>


                <td><span translate="stepApp.instEmplRecruitInfo.dgRecordDate"></span></td>

                <td><span class="form-control-static">{{instEmplRecruitInfo.dgRecordDate}}</span></td>

                <td>
                    <span translate="stepApp.instEmplRecruitInfo.boardRepresentativeName">BoardRepresentativeName</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.boardRepresentativeName}}</span>
                </td>

            <tr>

                <td>
                    <span translate="stepApp.instEmplRecruitInfo.boardRepresentativeDesignation">BoardRepresentativeDesignation</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.boardRepresentativeDesignation}}</span>
                </td>
                <td>
                    <span
                        translate="stepApp.instEmplRecruitInfo.boardRepresentativeAddress">BoardRepresentativeAddress</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.boardRepresentativeAddress}}</span>
                </td>
            </tr>

            <tr>

                <td>
                    <span translate="stepApp.instEmplRecruitInfo.recruitApproveGBResolutionDate">RecruitApproveGBResolutionDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.recruitApproveGBResolutionDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.recruitPermitAgendaNo">RecruitPermitAgendaNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.recruitPermitAgendaNo}}</span>
                </td>
            </tr>

            <tr>

                <td>
                    <span translate="stepApp.instEmplRecruitInfo.recruitmentDate">RecruitmentDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.recruitmentDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span
                        translate="stepApp.instEmplRecruitInfo.presentInstituteJoinDate">PresentInstituteJoinDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.presentInstituteJoinDate | date:'mediumDate'}}</span>
                </td>
            </tr>

            <tr>

                <td>
                    <span translate="stepApp.instEmplRecruitInfo.presentPostJoinDate">PresentPostJoinDate</span>
                </td>
                <td>
                    <span
                        class="form-control-static">{{instEmplRecruitInfo.presentPostJoinDate | date:'mediumDate'}}</span>
                </td>
                <td><span translate="stepApp.instEmplRecruitInfo.committeeForDate"></span></td>
                <td><span
                    class="form-control-static">{{instEmplRecruitInfo.committeeForDate | date:'mediumDate'}}</span>
                </td>
            </tr>

            <tr>

                <td><span translate="stepApp.instEmplRecruitInfo.recommendDateAppl"></span></td>

                <td><span
                    class="form-control-static">{{instEmplRecruitInfo.recommendDateAppl | date:'mediumDate'}}</span>
                </td>
                <td><span translate="stepApp.instEmplRecruitInfo.approvalDateAppointment"></span></td>
                <td><span
                    class="form-control-static">{{instEmplRecruitInfo.approvalDateAppointment | date:'mediumDate'}}</span>
                </td>
            </tr>

            <tr>

                <td><span translate="stepApp.instEmplRecruitInfo.mcDuration"></span></td>
                <td><span
                    class="form-control-static">{{instEmplRecruitInfo.mcDuration}}</span>
                </td>
                <td><span translate="stepApp.instEmplRecruitInfo.mcMemoNo"></span></td>
                <td><span
                    class="form-control-static">{{instEmplRecruitInfo.mcMemoNo}}</span>
                </td>
            </tr>

            <tr>

                <td><span translate="stepApp.instEmplRecruitInfo.mcMemoDate"></span></td>
                <td><span
                    class="form-control-static">{{instEmplRecruitInfo.mcMemoDate}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <!-- <tr>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.dgRepresentativeRecordNo">DgRepresentativeRecordNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.dgRepresentativeRecordNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.boardRepresentativeRecordNo">BoardRepresentativeRecordNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.boardRepresentativeRecordNo}}</span>
                </td>
            </tr>
           <tr>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.department">Department</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmplRecruitInfo.department}}</span>
                </td>
            </tr>-->
            <!--<tr>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.instEmployee">instEmployee</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="instEmployee.detail({id:instEmplRecruitInfo.instEmployee.id})">{{instEmplRecruitInfo.instEmployee.name}}</a>
                </td>
            </tr>-->
            <th class="edu-history">
                <span translate="stepApp.instEmplRecruitInfo.attachment">AttachMent</span>
            </th>
            <th class="edu-history"></th>
            <th class="edu-history"></th>
            <th class="edu-history"></th>


            <tr>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.appoinmentLtr">appoinmentLtr</span>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(instEmplRecruitInfo.appoinmentLtr, instEmplRecruitInfo.appoinmentLtrCntType,('stepApp.instEmplRecruitInfo.appoinmentLtr' | translate)+' Image')">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{instEmplRecruitInfo.appoinmentLtr}}"
                            width="40px"></span></a>

                </td>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.joiningLetter">joiningLetter</span>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(instEmplRecruitInfo.joiningLetter, instEmplRecruitInfo.joiningLetterContentType,('stepApp.instEmplRecruitInfo.joiningLetter' | translate)+' Image')">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{instEmplRecruitInfo.joiningLetter}}"
                            width="40px"></span></a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.recruitResult">recruitResult</span>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(instEmplRecruitInfo.recruitResult, instEmplRecruitInfo.recruitResultCntType,('stepApp.instEmplRecruitInfo.recruitResult' | translate)+' Image')">

                        <!--<<<<<<< HEAD-->
                        <!--ng-click="previewImage(instEmplRecruitInfo.recruitResult, instEmplRecruitInfo.recruitResultCntType,('stepApp.instEmplRecruitInfo.recruitResult' | translate)+' Image')"><span-->
                        <!--class="form-control-static">{{instEmplRecruitInfo.recruitResultName}}</span></a>-->
                        <!--=======-->
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{instEmplRecruitInfo.recruitResult}}" width="40px"></span>
                    </a>
                </td>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.recruitNewsLocal">recruitNewsLocal</span>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(instEmplRecruitInfo.recruitNewsLocal, instEmplRecruitInfo.recruitNewsLocalContentType,('stepApp.instEmplRecruitInfo.recruitNewsLocal' | translate)+' Image')">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{instEmplRecruitInfo.recruitNewsLocal}}"
                            width="40px"></span>
                    </a>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.recruitNewsDaily">recruitNewsDaily</span>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(instEmplRecruitInfo.recruitNewsDaily, instEmplRecruitInfo.recruitNewsDailyContentType,('stepApp.instEmplRecruitInfo.recruitNewsDaily' | translate)+' Image')">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{instEmplRecruitInfo.recruitNewsDaily}}"
                            width="40px"></span>
                    </a>
                </td>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.goResulaton">goResulaton</span>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(instEmplRecruitInfo.goResulaton, instEmplRecruitInfo.goResulatonContentType,('stepApp.instEmplRecruitInfo.goResulaton' | translate)+' Image')">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{instEmplRecruitInfo.goResulaton}}" width="40px"></span>
                    </a>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.committee">committee</span>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(instEmplRecruitInfo.committee, instEmplRecruitInfo.committeeContentType,('stepApp.instEmplRecruitInfo.committee' | translate)+' Image')">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{instEmplRecruitInfo.committee}}" width="40px"></span>
                    </a>
                </td>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.recommendation">recommendation</span>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(instEmplRecruitInfo.recommendation, instEmplRecruitInfo.recommendationContentType,('stepApp.instEmplRecruitInfo.recommendation' | translate)+' Image')">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{instEmplRecruitInfo.recommendation}}" width="40px"></span>
                    </a>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.instEmplRecruitInfo.sanction">sanction</span>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(instEmplRecruitInfo.sanction, instEmplRecruitInfo.sanctionContentType,('stepApp.instEmplRecruitInfo.sanction' | translate)+' Image' )">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{instEmplRecruitInfo.sanction}}" width="40px"></span>
                    </a>
                </td>
                <td><span translate="stepApp.instEmplRecruitInfo.mcMemoAttach">mcMemoAttach</span>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(instEmplRecruitInfo.mcMemoAttach, instEmplRecruitInfo.mcMemoAttachCntType,('stepApp.instEmplRecruitInfo.mcMemoAttach' | translate)+' Image' )">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{instEmplRecruitInfo.mcMemoAttach}}" width="40px"></span>
                    </a>
                </td>
            </tr>
            <!--new added-->
            <tr>
                <td><span translate="stepApp.instEmplRecruitInfo.appointAprvAtch"></span></td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(instEmplRecruitInfo.appointAprvAtch, instEmplRecruitInfo.appointAprvAtchCntType,('stepApp.instEmplRecruitInfo.appointAprvAtch' | translate)+' Image')">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{instEmplRecruitInfo.appointAprvAtch}}" width="40px"></span>
                    </a>
                </td>

                <td><span translate="stepApp.instEmplRecruitInfo.ntrcaCert"></span></td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(instEmplRecruitInfo.ntrcaCert, instEmplRecruitInfo.ntrcaCertCntType,('stepApp.instEmplRecruitInfo.ntrcaCert' | translate)+' Image')">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{instEmplRecruitInfo.ntrcaCert}}" width="40px"></span></a>
                </td>

            </tr>

            <tr>
                <td><span translate="stepApp.instEmplRecruitInfo.pblcCircularName"></span></td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(instEmplRecruitInfo.pblcCircular, instEmplRecruitInfo.pblcCircularCntType,('stepApp.instEmplRecruitInfo.pblcCircularName' | translate)+' Image')">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{instEmplRecruitInfo.pblcCircular}}" width="40px"></span>
                    </a>
                </td>

                <td><span translate="stepApp.instEmplRecruitInfo.requiLetter"></span></td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(instEmplRecruitInfo.requiLetter, instEmplRecruitInfo.requiLetterCntType,('stepApp.instEmplRecruitInfo.requiLetterName' | translate)+' Image')">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{instEmplRecruitInfo.requiLetter}}" width="40px"></span>
                    </a>
                </td>

            </tr>
            <tr>
                <td><span translate="stepApp.instEmplRecruitInfo.confirmLetter"></span></td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(instEmplRecruitInfo.confirmLetter, instEmplRecruitInfo.confirmLetterCntType,('stepApp.instEmplRecruitInfo.confirmLetter' | translate)+' Image')">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{instEmplRecruitInfo.confirmLetter}}" width="40px"></span>
                    </a>
                </td>

                <td><span translate="stepApp.instEmplRecruitInfo.selectionCopy"></span></td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(instEmplRecruitInfo.selectionCopy, instEmplRecruitInfo.selectionCopyCntType,('stepApp.instEmplRecruitInfo.selectionCopy' | translate)+' Image')">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{instEmplRecruitInfo.selectionCopy}}" width="40px"></span>
                    </a>
                </td>

            </tr>
            <tr>
                <!--<td><span translate="stepApp.instEmplRecruitInfo.approvalDateAppointment"></span></td>-->
                <!--<td><span class="form-control-static">{{instEmplRecruitInfo.approvalDateAppointment | date:'mediumDate'}}</span>-->
                <!--</td>-->

                <td><span translate="stepApp.instEmplRecruitInfo.dgApproveFileName"></span></td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(instEmplRecruitInfo.dgApproveFile, instEmplRecruitInfo.dgApproveFileContentType,('stepApp.instEmplRecruitInfo.dgApproveFileName' | translate)+' Image' )">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{instEmplRecruitInfo.dgApproveFile}}" width="40px"></span>
                    </a>
                </td>

            </tr>


            </tbody>
        </table>
    </div>

    <!--<button type="submit"-->
    <!--onclick="window.history.back()"-->
    <!--class="btn btn-info no-print">-->
    <!--<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>-->
    <!--</button>-->
    <div class="col-md-12 no-print text-right">
        <button type="submit" class="btn btn-sm btn-primary no-print" onclick="window.print()">
            <i class="fa fa-print"></i>&nbsp;
            <span translate="entity.action.print">Print</span>
        </button>
    </div>
</div>
