<div class="col-sm-12 common-dialogue">
    <h4 class="modal-title" id="myInstEmplRecruitInfoLabel" translate="stepApp.instEmployee.home.recruitmentInfo">Create
        or edit a InstEmplRecruitInfo</h4>
    <form name="editForm" role="form" class="panel panel-primary" novalidate ng-submit="save()" show-validation>
        <div class="panel-body padding-tb">
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.salaryCode" for="field_payScale">Pay Scale</label>
                <select class="form-control" id="field_payScale" name="payScale" ng-model="instEmplRecruitInfo.payScale"
                        tooltip="{{'stepApp.instEmplRecruitInfo.salaryCode' | translate}}"
                        ng-options="payScale as payScale.code for payScale in payScales  track by payScale.id">
                    <option disabled selected value="" translate="stepApp.instEmplRecruitInfo.salaryCode"></option>
                </select>
                <div ng-show="editForm.payScale.$invalid">
                    <p class="help-block"
                       ng-show="editForm.payScale.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.salaryScale" for="field_payScaleAmount">Pay Scale
                    Amount</label>
                <label class="form-control" id="field_payScaleAmount" name="payScale">{{instEmplRecruitInfo.payScale.basicAmount}} </label>
            </div>
            <div class="col-md-12 no_padding">
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmplRecruitInfo.monthlySalaryGovtProvided"
                           for="field_monthlySalaryGovtProvided">MonthlySalaryGovtProvided</label>
                    <input type="text" class="form-control" name="monthlySalaryGovtProvided"
                           id="field_monthlySalaryGovtProvided"
                           ng-model="instEmplRecruitInfo.monthlySalaryGovtProvided"
                           tooltip="{{'stepApp.instEmplRecruitInfo.monthlySalaryGovtProvided' | translate}}"
                           placeholder="{{'stepApp.instEmplRecruitInfo.monthlySalaryGovtProvided' | translate}}"
                           required only-numbers minlength="3" maxlength="7"/>
                    <div ng-show="editForm.monthlySalaryGovtProvided.$invalid">
                        <p class="help-block"
                           ng-show="editForm.monthlySalaryGovtProvided.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.monthlySalaryGovtProvided.$error.number"
                           translate="entity.validation.number">
                            This field should be a number.
                        </p>
                        <small style="color:red;font-size: 10px;"
                               ng-show="editForm.monthlySalaryGovtProvided.$error.minlength">
                            This field need to be at least 3 digit
                        </small>

                        <small style="color:red;font-size: 10px;"
                               ng-show="editForm.monthlySalaryGovtProvided.$error.maxlength">
                            This field should not longer than 7 digit
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmplRecruitInfo.monthlySalaryInstituteProvided"
                           for="field_monthlySalaryInstituteProvided">MonthlySalaryInstituteProvided</label>
                    <input type="text" class="form-control" name="monthlySalaryInstituteProvided"
                           id="field_monthlySalaryInstituteProvided"
                           ng-model="instEmplRecruitInfo.monthlySalaryInstituteProvided"
                           tooltip="{{'stepApp.instEmplRecruitInfo.monthlySalaryInstituteProvided' | translate}}"
                           placeholder="{{'stepApp.instEmplRecruitInfo.monthlySalaryInstituteProvided' | translate}}"
                           required only-numbers minlength="3" maxlength="7"/>
                    <div ng-show="editForm.monthlySalaryInstituteProvided.$invalid">
                        <p class="help-block"
                           ng-show="editForm.monthlySalaryInstituteProvided.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.monthlySalaryInstituteProvided.$error.number"
                           translate="entity.validation.number">
                            This field should be a number.
                        </p>
                        <small style="color:red;font-size: 10px;"
                               ng-show="editForm.monthlySalaryInstituteProvided.$error.minlength">
                            This field need to be at least 3 digit
                        </small>

                        <small style="color:red;font-size: 10px;"
                               ng-show="editForm.monthlySalaryInstituteProvided.$error.maxlength">
                            This field should not longer than 7 digit
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.gbResolutionReceiveDate"
                       for="field_gbResolutionReceiveDate">GbResolutionReceiveDate</label>
                <input type="text" class="form-control" name="gbResolutionReceiveDate"
                       id="field_gbResolutionReceiveDate"
                       ng-model="instEmplRecruitInfo.gbResolutionReceiveDate"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.gbResolutionReceiveDate"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'gbResolutionReceiveDate')"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       tooltip="{{'stepApp.instEmplRecruitInfo.gbResolutionReceiveDate' | translate}}"
                       max-date="toDay"
                       required/>
                <div ng-show="editForm.gbResolutionReceiveDate.$error.required">
                    <p class="help-block"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6" ngf-drop
                 ngf-change="setGoResulaton($file, instEmplRecruitInfo, 'goResulaton','goResulatonContentType','goResulatonName')">
                <label translate="stepApp.instEmplRecruitInfo.goResulaton" for="field_attachment">Attachment</label>
                <div>
                    <div class="help-block clearfix">
                        <span class="pull-left">{{instEmplRecruitInfo.goResulatonContentType}} {{byteSize(instEmplRecruitInfo.goResulaton)}}</span>
                        <button
                            ng-click="instEmplRecruitInfo.goResulaton=null;instEmplRecruitInfo.goResulatonContentType=null;"
                            ng-if="instEmplRecruitInfo.goResulaton"
                            class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div class="input-group">
                        <input type="text" readonly class="form-control" name="goResulatonName"
                               id="field_goResulatonName"
                               ng-model="instEmplRecruitInfo.goResulatonName"
                        />
                        <span class="input-group-btn">
                        <button type="file" ngf-select class="btn btn-primary btn-block"
                                ngf-change="setGoResulaton($file, instEmplRecruitInfo, 'goResulaton','goResulatonContentType','goResulatonName')"
                                translate="entity.action.addblob">
                            Add blob
                        </button>
                    </span>
                    </div>
                    <input type="hidden" class="form-control" name="attachment" id="field_goResulaton"
                           ng-model="instEmplRecruitInfo.goResulaton"
                    />
                    <input type="hidden" class="form-control" name="attachmentContentType"
                           id="field_goResulatonContentType"
                           ng-model="instEmplRecruitInfo.goResulatonContentType"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplRecruitInfo.circularPaperName" for="field_circularPaperName">CircularPaperName</label>
                        <input type="text" class="form-control" name="circularPaperName" id="field_circularPaperName"
                               ng-model="instEmplRecruitInfo.circularPaperName"
                               placeholder="{{'stepApp.instEmplRecruitInfo.circularPaperName' | translate}}"
                               tooltip="{{'stepApp.instEmplRecruitInfo.circularPaperName' | translate}}"
                               required ng-maxlength="50" only-letters/>
                        <div ng-show="editForm.circularPaperName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.circularPaperName.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.circularPaperName.$error.maxlength"
                               translate="entity.validation.maxlength"
                               translate-value-max="50">
                                This field cannot be longer than 50 characters.
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplRecruitInfo.circularPublishedDate"
                               for="field_circularPublishedDate">CircularPublishedDate</label>
                        <input type="text" class="form-control" name="circularPublishedDate"
                               id="field_circularPublishedDate"
                               ng-model="instEmplRecruitInfo.circularPublishedDate"
                               datepicker-popup="{{calendar.dateFormat}}"
                               is-open="calendar.opened.circularPublishedDate"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'circularPublishedDate')"
                               placeholder="{{'entity.placeholder.dateformat' | translate}}"
                               max-date="toDay"
                               tooltip="{{'stepApp.instEmplRecruitInfo.circularPublishedDate' | translate}}"
                               required/>
                        <div ng-show="editForm.circularPublishedDate.$error.required">
                            <p class="help-block"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-6" ngf-drop
                         ngf-change="setRecruitNewsLocal($file, instEmplRecruitInfo, 'recruitNewsLocal','recruitNewsLocalContentType','recruitNewsLocalName')">
                        <label translate="stepApp.instEmplRecruitInfo.recruitNewsLocal"
                               for="field_attachment">Attachment</label>
                        <div>
                            <div class="help-block clearfix">
                                <span class="pull-left">{{instEmplRecruitInfo.recruitNewsLocalContentType}} {{byteSize(instEmplRecruitInfo.recruitNewsLocal)}}</span>
                                <button
                                    ng-click="instEmplRecruitInfo.recruitNewsLocal=null;instEmplRecruitInfo.recruitNewsLocalContentType=null;"
                                    ng-if="instEmplRecruitInfo.recruitNewsLocal"
                                    class="btn btn-default btn-xs pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>

                            <div class="input-group">
                                <input type="text" readonly class="form-control" name="recruitNewsLocalName"
                                       id="field_recruitNewsLocalName"
                                       ng-model="instEmplRecruitInfo.recruitNewsLocalName"
                                />

                                <span class="input-group-btn">
                                <button type="file" ngf-select class="btn btn-primary btn-block"
                                        ngf-change="setRecruitNewsLocal($file, instEmplRecruitInfo, 'recruitNewsLocal','recruitNewsLocalContentType','recruitNewsLocalName')"
                                        translate="entity.action.addblob">
                                    Add blob
                                </button>
                            </span>
                            </div>
                            <input type="hidden" class="form-control" name="attachment" id="field_recruitNewsLocal"
                                   ng-model="instEmplRecruitInfo.recruitNewsLocal"
                            />
                            <input type="hidden" class="form-control" name="attachmentContentType"
                                   id="field_recruitNewsLocalContentType"
                                   ng-model="instEmplRecruitInfo.recruitNewsLocalContentType"/>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplRecruitInfo.circularPaperNational"
                               for="field_circularNationalPaperName"> </label>
                        <input type="text" class="form-control" name="circularNationalPaperName"
                               id="field_circularNationalPaperName"
                               ng-model="instEmplRecruitInfo.circularNationalPaperName"
                               placeholder="{{'stepApp.instEmplRecruitInfo.circularPaperNational' | translate}}"
                               tooltip="{{'stepApp.instEmplRecruitInfo.circularPaperNational' | translate}}"
                               required ng-maxlength="50" only-letters/>
                        <div ng-show="editForm.circularNationalPaperName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.circularNationalPaperName.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.circularNationalPaperName.$error.maxlength"
                               translate="entity.validation.maxlength" translate-value-max="50">
                                This field cannot be longer than 50 characters.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-6" ngf-drop
                         ngf-change="setRecruitNewsDaily($file, instEmplRecruitInfo, 'recruitNewsDaily','recruitNewsDailyContentType','recruitNewsDailyName')">
                        <label translate="stepApp.instEmplRecruitInfo.recruitNewsDaily"
                               for="field_attachment">Attachment</label>
                        <div>
                            <div class="help-block clearfix">
                                <span class="pull-left">{{instEmplRecruitInfo.recruitNewsDailyContentType}} {{byteSize(instEmplRecruitInfo.recruitNewsDaily)}}</span>
                                <button
                                    ng-click="instEmplRecruitInfo.recruitNewsDaily=null;instEmplRecruitInfo.recruitNewsDailyContentType=null;"
                                    ng-if="instEmplRecruitInfo.recruitNewsDaily"
                                    class="btn btn-default btn-xs pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                            <div class="input-group">
                                <input type="text" readonly class="form-control" name="recruitNewsDailyName"
                                       id="field_recruitNewsDailyName"
                                       ng-model="instEmplRecruitInfo.recruitNewsDailyName"
                                />

                                <div class="input-group-btn">
                                    <button type="file" ngf-select class="btn btn-primary btn-block"
                                            ngf-change="setRecruitNewsDaily($file, instEmplRecruitInfo, 'recruitNewsDaily','recruitNewsDailyContentType','recruitNewsDailyName')"
                                            translate="entity.action.addblob">
                                        Add blob
                                    </button>
                                </div>
                            </div>
                            <input type="hidden" class="form-control" name="attachment" id="field_recruitNewsDaily"
                                   ng-model="instEmplRecruitInfo.recruitNewsDaily"
                            />
                            <input type="hidden" class="form-control" name="attachmentContentType"
                                   id="field_recruitNewsDailyContentType"
                                   ng-model="instEmplRecruitInfo.recruitNewsDailyContentType"/>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplRecruitInfo.nPublishedDate" for="field_circularNationalPubDt">circularPublishedDate</label>
                        <input type="text" class="form-control" name="circularNationalPubDt"
                               id="field_circularNationalPubDt"
                               ng-model="instEmplRecruitInfo.circularNationalPubDt"
                               datepicker-popup="{{calendar.dateFormat}}"
                               is-open="calendar.opened.circularNationalPubDt"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               max-date="toDay"
                               ng-click="calendar.open($event, 'circularNationalPubDt')"
                               placeholder="{{'entity.placeholder.dateformat' | translate}}"
                               tooltip="{{'stepApp.instEmplRecruitInfo.nPublishedDate' | translate}}"
                               required/>
                        <div ng-show="editForm.circularNationalPubDt.$invalid">
                            <p class="help-block"
                               ng-show="editForm.circularNationalPubDt.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <!-----------------------appoinment Letter---------------------->
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.recruitExamReceiveDate"
                       for="field_recruitExamReceiveDate">RecruitExamReceiveDate</label>
                <input type="text" class="form-control" name="recruitExamReceiveDate" id="field_recruitExamReceiveDate"
                       ng-model="instEmplRecruitInfo.recruitExamReceiveDate"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.recruitExamReceiveDate"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'recruitExamReceiveDate')"
                       max-date="toDay"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       tooltip="{{'stepApp.instEmplRecruitInfo.recruitExamReceiveDate' | translate}}"
                       required/>
                <div ng-show="editForm.recruitExamReceiveDate.$error.required">
                    <p class="help-block"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6" ngf-drop
                 ngf-change="setAppoinmentLtr($file, instEmplRecruitInfo, 'appoinmentLtr','appoinmentLtrCntType','appoinmentLtrName')">
                <label translate="stepApp.instEmplRecruitInfo.appoinmentLtr" for="field_attachment">Attachment</label>
                <div>
                    <div class="help-block clearfix">
                        <span class="pull-left">{{instEmplRecruitInfo.appoinmentLtrCntType}} {{byteSize(instEmplRecruitInfo.appoinmentLtr)}}</span>
                        <button
                            ng-click="instEmplRecruitInfo.appoinmentLtr=null;instEmplRecruitInfo.appoinmentLtrCntType=null;"
                            ng-if="instEmplRecruitInfo.appoinmentLtr"
                            class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>

                    <div class="input-group">
                        <input type="text" readonly class="form-control" name="birthCertNoName"
                               id="field_birthCertImageName"
                               ng-model="instEmplRecruitInfo.appoinmentLtrName"
                        />

                        <span class="input-group-btn">
                        <button type="file" ngf-select class="btn btn-primary btn-block"
                                ngf-change="setAppoinmentLtr($file, instEmplRecruitInfo, 'appoinmentLtr','appoinmentLtrCntType','appoinmentLtrName')"
                                translate="entity.action.addblob">
                            Add blob
                        </button>
                    </span>
                    </div>
                    <input type="hidden" class="form-control" name="attachment" id="field_attachment"
                           ng-model="instEmplRecruitInfo.appoinmentLtr"
                    />
                    <input type="hidden" class="form-control" name="appoinmentLtrCntType"
                           id="field_attachmentContentType"
                           ng-model="instEmplRecruitInfo.appoinmentLtrCntType"/>
                </div>
            </div>
            <div class="col-sm-12 dg-resulotion">
                <h4 translate="stepApp.instEmplRecruitInfo.boardresinfo">Board Representative Information</h4>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.boardRepresentativeName"
                       for="field_boardRepresentativeName">BoardRepresentativeName</label>
                <input type="text" class="form-control" name="boardRepresentativeName"
                       id="field_boardRepresentativeName"
                       ng-model="instEmplRecruitInfo.boardRepresentativeName"
                       tooltip="{{'stepApp.instEmplRecruitInfo.boardRepresentativeName' | translate}}"
                       placeholder="{{'stepApp.instEmplRecruitInfo.boardRepresentativeName' | translate}}"
                       only-letters
                       required ng-maxlength="50"/>
                <div ng-show="editForm.boardRepresentativeName.$invalid">
                    <p class="help-block"
                       ng-show="editForm.boardRepresentativeName.$error.required"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.boardRepresentativeName.$error.maxlength"
                       translate="entity.validation.maxlength" translate-value-max="50">
                        This field cannot be longer than 50 characters.
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.boardRepresentativeDesignation"
                       for="field_boardRepresentativeDesignation">BoardRepresentativeDesignation</label>
                <input type="text" class="form-control" name="boardRepresentativeDesignation"
                       id="field_boardRepresentativeDesignation"
                       ng-model="instEmplRecruitInfo.boardRepresentativeDesignation"
                       tooltip="{{'stepApp.instEmplRecruitInfo.boardRepresentativeDesignation' | translate}}"
                       placeholder="{{'stepApp.instEmplRecruitInfo.boardRepresentativeDesignation' | translate}}"
                       only-letters
                       required ng-maxlength="50"/>
                <div ng-show="editForm.boardRepresentativeDesignation.$invalid">
                    <p class="help-block"
                       ng-show="editForm.boardRepresentativeDesignation.$error.required"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.boardRepresentativeDesignation.$error.maxlength"
                       translate="entity.validation.maxlength" translate-value-max="50">
                        This field cannot be longer than 50 characters.
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.boardRepresentativeAddress"
                       for="field_boardRepresentativeAddress">BoardRepresentativeAddress</label>
                <input type="text" class="form-control" name="boardRepresentativeAddress"
                       id="field_boardRepresentativeAddress"
                       ng-model="instEmplRecruitInfo.boardRepresentativeAddress"
                       tooltip="{{'stepApp.instEmplRecruitInfo.boardRepresentativeAddress' | translate}}"
                       placeholder="{{'stepApp.instEmplRecruitInfo.boardRepresentativeAddress' | translate}}"
                       required ng-maxlength="127"/>
                <div ng-show="editForm.boardRepresentativeAddress.$invalid">
                    <p class="help-block"
                       ng-show="editForm.boardRepresentativeAddress.$error.required"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.boardRepresentativeAddress.$error.maxlength"
                       translate="entity.validation.maxlength" translate-value-max="127">
                        This field cannot be longer than 127 characters.
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.recruitApproveGBResolutionDate"
                       for="field_recruitApproveGBResolutionDate">RecruitApproveGBResolutionDate</label>
                <input type="text" class="form-control" name="recruitApproveGBResolutionDate"
                       id="field_recruitApproveGBResolutionDate"
                       ng-model="instEmplRecruitInfo.recruitApproveGBResolutionDate"
                       datepicker-popup="{{calendar.dateFormat}}"
                       max-date="toDay"
                       is-open="calendar.opened.recruitApproveGBResolutionDate"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'recruitApproveGBResolutionDate')"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       tooltip="{{'stepApp.instEmplRecruitInfo.recruitApproveGBResolutionDate' | translate}}"
                       required/>
                <div ng-show="editForm.recruitApproveGBResolutionDate.$error.required">
                    <p class="help-block"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.recruitPermitAgendaNo" for="field_recruitPermitAgendaNo">RecruitPermitAgendaNo</label>
                <input type="text" class="form-control" name="recruitPermitAgendaNo" id="field_recruitPermitAgendaNo"
                       ng-model="instEmplRecruitInfo.recruitPermitAgendaNo"
                       tooltip="{{'stepApp.instEmplRecruitInfo.recruitPermitAgendaNo' | translate}}"
                       placeholder="{{'stepApp.instEmplRecruitInfo.recruitPermitAgendaNo' | translate}}"
                       ng-maxlength="50"/>
                <div ng-show="editForm.recruitPermitAgendaNo.$invalid">
                    <p class="help-block"
                       ng-show="editForm.recruitPermitAgendaNo.$error.maxlength" translate="entity.validation.maxlength"
                       translate-value-max="50">
                        This field cannot be longer than 50 characters.
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.recruitmentDate" for="field_recruitmentDate">RecruitmentDate</label>
                <input type="text" class="form-control" name="recruitmentDate" id="field_recruitmentDate"
                       ng-model="instEmplRecruitInfo.recruitmentDate"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.recruitmentDate"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'recruitmentDate')"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       tooltip="{{'stepApp.instEmplRecruitInfo.recruitmentDate' | translate}}"
                       max-date="toDay"
                       required/>
                <div ng-show="editForm.recruitmentDate.$error.required">
                    <p class="help-block"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>

            <div class="form-group col-md-6" ngf-drop
                 ngf-change="setSanction($file, instEmplRecruitInfo, 'sanction','sanctionContentType','sanctionName')">
                <label translate="stepApp.instEmplRecruitInfo.sanction" for="field_attachment">Attachment</label>
                <div>
                    <div class="help-block clearfix">
                        <span class="pull-left">{{instEmplRecruitInfo.sanctionContentType}} {{byteSize(instEmplRecruitInfo.sanction)}}</span>
                        <button
                            ng-click="instEmplRecruitInfo.sanction=null;instEmplRecruitInfo.sanctionContentType=null;"
                            ng-if="instEmplRecruitInfo.sanction"
                            class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>

                    <div class="input-group">
                        <input type="text" readonly class="form-control" name="sanctionName" id="field_sanctionName"
                               ng-model="instEmplRecruitInfo.sanctionName"
                        />
                        <span class="input-group-btn">
                        <button type="file" ngf-select class="btn btn-primary btn-block"
                                ngf-change="setSanction($file, instEmplRecruitInfo, 'sanction','sanctionContentType','sanctionName')"
                                translate="entity.action.addblob">
                            Add blob
                        </button>
                    </span>
                    </div>
                    <input type="hidden" class="form-control" name="attachment" id="field_sanction"
                           ng-model="instEmplRecruitInfo.sanction"
                    />
                    <input type="hidden" class="form-control" name="attachmentContentType"
                           id="field_sanctionContentType"
                           ng-model="instEmplRecruitInfo.sanctionContentType"/>
                </div>
            </div>
            <div class="form-group col-md-6" ngf-drop
                 ngf-change="setRecruitResult($file, instEmplRecruitInfo, 'recruitResult','recruitResultCntType','recruitResultName')">
                <label translate="stepApp.instEmplRecruitInfo.recruitResult" for="field_attachment">Attachment</label>
                <div>
                    <div class="help-block clearfix">
                        <span class="pull-left">{{instEmplRecruitInfo.recruitResultCntType}} {{byteSize(instEmplRecruitInfo.recruitResult)}}</span>
                        <button
                            ng-click="instEmplRecruitInfo.recruitResult=null;instEmplRecruitInfo.recruitResultCntType=null;"
                            ng-if="instEmplRecruitInfo.recruitResult"
                            class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>

                    <div class="input-group">
                        <input type="text" readonly class="form-control" name="recruitResultName"
                               id="field_recruitResultName"
                               ng-model="instEmplRecruitInfo.recruitResultName"
                        />

                        <span class="input-group-btn">
                        <button type="file" ngf-select class="btn btn-primary btn-block"
                                ngf-change="setRecruitResult($file, instEmplRecruitInfo, 'recruitResult','recruitResultCntType','recruitResultName')"
                                translate="entity.action.addblob">
                            Add blob
                        </button>
                    </span>
                    </div>
                    <input type="hidden" class="form-control" name="attachment" id="field_recruitResult"
                           ng-model="instEmplRecruitInfo.recruitResult"
                    />
                    <input type="hidden" class="form-control" name="recruitResultCntType"
                           id="field_recruitResultContentType"
                           ng-model="instEmplRecruitInfo.recruitResultCntType"/>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.presentInstituteJoinDate"
                       for="field_presentInstituteJoinDate">PresentInstituteJoinDate</label>
                <input type="text" class="form-control" name="presentInstituteJoinDate"
                       id="field_presentInstituteJoinDate"
                       ng-model="instEmplRecruitInfo.presentInstituteJoinDate"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.presentInstituteJoinDate"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'presentInstituteJoinDate')"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       tooltip="{{'stepApp.instEmplRecruitInfo.presentInstituteJoinDate' | translate}}"
                       max-date="toDay"
                       required/>
                <div ng-show="editForm.presentInstituteJoinDate.$error.required">
                    <p class="help-block"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <!-----------------------joining Letter---------------------->
            <div class="form-group col-md-6" ngf-drop
                 ngf-change="setJoiningLetter($file, instEmplRecruitInfo, 'joiningLetter','joiningLetterContentType','joiningLetterName')">
                <label translate="stepApp.instEmplRecruitInfo.joiningLetter"
                       for="field_attachment">Attachment</label>
                <div>
                    <div class="help-block clearfix">
                        <span class="pull-left">{{instEmplRecruitInfo.joiningLetterContentType}} {{byteSize(instEmplRecruitInfo.joiningLetter)}}</span>
                        <button
                            ng-click="instEmplRecruitInfo.joiningLetter=null;instEmplRecruitInfo.joiningLetterContentType=null;"
                            ng-if="instEmplRecruitInfo.joiningLetter"
                            class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>

                    <div class="input-group">
                        <input type="text" readonly class="form-control" name="joiningLetterName"
                               id="field_joiningLetterName"
                               ng-model="instEmplRecruitInfo.joiningLetterName"
                        />

                        <span class="input-group-btn">
                                <button type="file" ngf-select class="btn btn-primary btn-block"
                                        ngf-change="setJoiningLetter($file, instEmplRecruitInfo, 'joiningLetter','joiningLetterContentType','joiningLetterName')"
                                        translate="entity.action.addblob">
                                    Add blob
                                </button>
                            </span>
                    </div>
                    <input type="hidden" class="form-control" name="attachment" id="field_joiningLetter"
                           ng-model="instEmplRecruitInfo.joiningLetter"
                    />
                    <input type="hidden" class="form-control" name="attachmentContentType"
                           id="field_joiningLetterContentType"
                           ng-model="instEmplRecruitInfo.joiningLetterContentType"/>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.presentPostJoinDate"
                       for="field_presentPostJoinDate">PresentPostJoinDate</label>
                <input type="text" class="form-control" name="presentPostJoinDate"
                       id="field_presentPostJoinDate"
                       ng-model="instEmplRecruitInfo.presentPostJoinDate"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.presentPostJoinDate"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'presentPostJoinDate')"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       tooltip="{{'stepApp.instEmplRecruitInfo.presentPostJoinDate' | translate}}"
                       max-date="toDay"
                       required/>
                <div ng-show="editForm.presentPostJoinDate.$invalid">
                    <p class="help-block"
                       ng-show="editForm.presentPostJoinDate.$error.required"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>

            <div class="col-sm-12 dg-resulotion">
                <h4 translate="stepApp.instEmplRecruitInfo.dgRepresentativeInfo">DG Representative Information </h4>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.dgRepresentativeName" for="field_dgRepresentativeName">DgRepresentativeName</label>
                <input type="text" class="form-control" name="dgRepresentativeName" id="field_dgRepresentativeName"
                       ng-model="instEmplRecruitInfo.dgRepresentativeName"
                       tooltip="{{'stepApp.instEmplRecruitInfo.dgRepresentativeName' | translate}}"
                       placeholder="{{'stepApp.instEmplRecruitInfo.dgRepresentativeName' | translate}}"
                       required ng-maxlength="50" only-letters/>
                <div ng-show="editForm.dgRepresentativeName.$invalid">
                    <p class="help-block"
                       ng-show="editForm.dgRepresentativeName.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.dgRepresentativeName.$error.maxlength" translate="entity.validation.maxlength"
                       translate-value-max="50">
                        This field cannot be longer than 50 characters.
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.dgRepresentativeDesignation"
                       for="field_dgRepresentativeDesignation">DgRepresentativeDesignation</label>
                <input type="text" class="form-control" name="dgRepresentativeDesignation"
                       id="field_dgRepresentativeDesignation"
                       ng-model="instEmplRecruitInfo.dgRepresentativeDesignation"
                       tooltip="{{'stepApp.instEmplRecruitInfo.dgRepresentativeDesignation' | translate}}"
                       placeholder="{{'stepApp.instEmplRecruitInfo.dgRepresentativeDesignation' | translate}}"
                       required ng-maxlength="50" only-letters/>
                <div ng-show="editForm.dgRepresentativeDesignation.$invalid">
                    <p class="help-block"
                       ng-show="editForm.dgRepresentativeDesignation.$error.required"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.dgRepresentativeDesignation.$error.maxlength"
                       translate="entity.validation.maxlength" translate-value-max="50">
                        This field cannot be longer than 50 characters.
                    </p>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.dgRepresentativeAddress"
                       for="field_dgRepresentativeAddress">DgRepresentativeAddress</label>
                <input type="text" class="form-control" name="dgRepresentativeAddress"
                       id="field_dgRepresentativeAddress"
                       ng-model="instEmplRecruitInfo.dgRepresentativeAddress"
                       tooltip="{{'stepApp.instEmplRecruitInfo.dgRepresentativeAddress' | translate}}"
                       placeholder="{{'stepApp.instEmplRecruitInfo.dgRepresentativeAddress' | translate}}"
                       required ng-maxlength="60"/>
                <div ng-show="editForm.dgRepresentativeAddress.$invalid">
                    <p class="help-block"
                       ng-show="editForm.dgRepresentativeAddress.$error.required"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.dgRepresentativeAddress.$error.maxlength"
                       translate="entity.validation.maxlength" translate-value-max="60">
                        This field cannot be longer than 60 characters.
                    </p>
                </div>
            </div>
            <!-----------------------DG Record No---------------------->
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.dgRecordno"
                       for="dgRecordNo">dgRecordno</label>
                <input type="text" class="form-control" name="dgRecordNo"
                       id="dgRecordNo"
                       ng-model="instEmplRecruitInfo.dgRecordNo"
                       tooltip="{{'stepApp.instEmplRecruitInfo.dgRecordno' | translate}}"
                       placeholder="{{'stepApp.instEmplRecruitInfo.dgRecordno' | translate}}"
                       required ng-maxlength="50"/>
                <div ng-show="editForm.dgRecordNo.$invalid">
                    <p class="help-block"
                       ng-show="editForm.dgRecordNo.$error.required"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.dgRecordNo.$error.maxlength"
                       translate="entity.validation.maxlength" translate-value-max="50">
                        This field cannot be longer than 50 characters.
                    </p>
                </div>
            </div>
            <!-----------------------DG Record No---------------------->
            <div class="row">
                <div class="col-md-12">
                    <!-----------------------DG Record Date---------------------->
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplRecruitInfo.dgRecordDate"
                               for="dgRecordDate">dgRecordDate</label>
                        <input type="text" class="form-control" name="dgRecordDate"
                               id="dgRecordDate"
                               ng-model="instEmplRecruitInfo.dgRecordDate"
                               datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.dgRecordDate"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'dgRecordDate')"
                               placeholder="{{'entity.placeholder.dateformat' | translate}}"
                               tooltip="{{'stepApp.instEmplRecruitInfo.dgRecordDate' | translate}}"
                               max-date="toDay"
                               required/>
                        <div ng-show="editForm.dgRecordDate.$error.required">
                            <p class="help-block"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <!-----------------------DG Record Date---------------------->
                    <!-----------------------DG Approve File---------------------->
                    <div class="form-group col-md-6" ngf-drop
                         ngf-change="setDgAprove($file, instEmplRecruitInfo, 'dgApproveFile','dgApproveFileContentType','dgApproveFileName')">
                        <label translate="stepApp.instEmplRecruitInfo.dgApproveFileName" for="dgApproveFileName">dgApproveFileName</label>
                        <div>
                            <div class="help-block clearfix">
                                <span class="pull-left">{{instEmplRecruitInfo.dgApproveFileContentType}} {{byteSize(instEmplRecruitInfo.dgApproveFile)}}</span>
                                <button
                                    ng-click="instEmplRecruitInfo.dgApproveFile=null;instEmplRecruitInfo.dgApproveFileContentType=null;"
                                    ng-if="instEmplRecruitInfo.dgApproveFile"
                                    class="btn btn-default btn-xs pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>

                            <div class="input-group">
                                <input type="text" readonly class="form-control" name="dgApproveFileName"
                                       id="dgApproveFileName"
                                       ng-model="instEmplRecruitInfo.dgApproveFileName"
                                />

                                <span class="input-group-btn">
                                <button type="file" ngf-select class="btn btn-primary"
                                        ngf-change="setDgAprove($file, instEmplRecruitInfo, 'dgApproveFile','dgApproveFileContentType','dgApproveFileName')"
                                        translate="entity.action.addblob">
                                    Add blob
                                </button>
                            </span>
                            </div>
                            <input type="hidden" class="form-control" name="dgApproveFile" id="field_committee"
                                   ng-model="instEmplRecruitInfo.dgApproveFile"
                            />
                            <input type="hidden" class="form-control" name="dgApproveFileContentType"
                                   id="dgApproveFileContentType"
                                   ng-model="instEmplRecruitInfo.dgApproveFileContentType"/>
                        </div>
                    </div>
                    <!-----------------------DG Approve File---------------------->
                </div>
            </div>
            <!---------------------new add for attachment--------------------------->
            <!---------------------managingCommittee--------------------------->
            <div class="col-sm-12 dg-resulotion">
                <h4 translate="stepApp.instEmplRecruitInfo.managingCommittee">managingCommittee</h4>
            </div>
            <!-----------------------Date Of Committee Formation---------------------->
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.committeeForDate"
                       for="committeeForDate">dgRecordDate</label>
                <input type="text" class="form-control" name="committeeForDate"
                       id="committeeForDate"
                       ng-model="instEmplRecruitInfo.committeeForDate"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.committeeForDate"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'committeeForDate')"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       tooltip="{{'stepApp.instEmplRecruitInfo.committeeForDate' | translate}}"
                       max-date="toDay"
                       required/>
                <div ng-show="editForm.committeeForDate.$error.required">
                    <p class="help-block"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <!--Committee attachment-->

            <div class="form-group col-md-6" ngf-drop
                 ngf-change="setAttachment($file, instEmplRecruitInfo, 'committee','committeeContentType','committeeName')">
                <label translate="stepApp.instEmplRecruitInfo.committee" for="field_attachment">Attachment</label>
                <div>
                    <div class="help-block clearfix">
                        <span class="pull-left">{{instEmplRecruitInfo.committeeContentType}} {{byteSize(instEmplRecruitInfo.committee)}}</span>
                        <button
                            ng-click="instEmplRecruitInfo.committee=null;instEmplRecruitInfo.committeeContentType=null;"
                            ng-if="instEmplRecruitInfo.committee"
                            class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>

                    <div class="input-group">
                        <input type="text" readonly class="form-control" name="committeeName" id="field_committeeName"
                               ng-model="instEmplRecruitInfo.committeeName"
                        />
                        <div class="input-group-btn">
                            <button type="file" ngf-select class="btn btn-primary"
                                    ngf-change="setAttachment($file, instEmplRecruitInfo, 'committee','committeeContentType','committeeName')"
                                    translate="entity.action.addblob">
                                Add blob
                            </button>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="attachment" id="field_committee"
                           ng-model="instEmplRecruitInfo.committee"
                    />
                    <input type="hidden" class="form-control" name="attachmentContentType"
                           id="field_committeeContentType"
                           ng-model="instEmplRecruitInfo.committeeContentType"/>
                </div>
            </div>

            <div class="form-group col-md-6" ngf-drop
                 ngf-change="setMcMemoAttach($file, instEmplRecruitInfo, 'mcMemoAttach','mcMemoAttachCntType','mcMemoAttachName')">
                <label translate="stepApp.instEmplRecruitInfo.mcMemoAttach" for="field_attachment">Attachment</label>
                <div class="input-group">
                    <input type="text" readonly class="form-control" name="committeeName" id="field_committeeName"
                           ng-model="instEmplRecruitInfo.mcMemoAttachName"
                    />
                    <div class="input-group-btn">
                        <button type="file" ngf-select class="btn btn-primary"
                                ngf-change="setMcMemoAttach($file, instEmplRecruitInfo, 'mcMemoAttach','mcMemoAttachCntType','mcMemoAttachName')"
                                translate="entity.action.addblob">
                            Add blob
                        </button>
                    </div>
                </div>
                <div class="help-block clearfix">
                    <span class="pull-left">{{instEmplRecruitInfo.mcMemoAttachCntType}} {{byteSize(instEmplRecruitInfo.mcMemoAttach)}}</span>
                    <button
                        ng-click="instEmplRecruitInfo.mcMemoAttach=null;instEmplRecruitInfo.mcMemoAttachCntType=null;"
                        ng-if="instEmplRecruitInfo.mcMemoAttach"
                        class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <input type="hidden" class="form-control" name="attachment" id="field_committee"
                       ng-model="instEmplRecruitInfo.mcMemoAttach"
                />
                <input type="hidden" class="form-control" name="mcMemoAttachCntType"
                       id="field_committeeContentType"
                       ng-model="instEmplRecruitInfo.mcMemoAttachCntType"/>

            </div>
            <!--Recommendation attachment-->

            <div class="form-group col-md-6" ngf-drop
                 ngf-change="setRecommendation($file, instEmplRecruitInfo, 'recommendation','recommendationContentType','recommendationName')">
                <label translate="stepApp.instEmplRecruitInfo.recommendation" for="field_attachment">Attachment</label>
                <div class="input-group">
                    <input type="text" readonly class="form-control" name="recommendationName"
                           id="field_recommendationName"
                           ng-model="instEmplRecruitInfo.recommendationName"
                    />
                    <span class="input-group-btn">
                        <button type="file" ngf-select class="btn btn-primary btn-block"
                                ngf-change="setRecommendation($file, instEmplRecruitInfo, 'recommendation','recommendationContentType','recommendationName')"
                                translate="entity.action.addblob">
                            Add blob
                        </button>
                    </span>
                </div>
                <div class="help-block clearfix">
                    <span class="pull-left">{{instEmplRecruitInfo.recommendationContentType}} {{byteSize(instEmplRecruitInfo.recommendation)}}</span>
                    <button
                        ng-click="instEmplRecruitInfo.recommendation=null;instEmplRecruitInfo.recommendationContentType=null;"
                        ng-if="instEmplRecruitInfo.recommendation"
                        class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <input type="hidden" class="form-control" name="attachment" id="field_recommendation"
                       ng-model="instEmplRecruitInfo.recommendation"
                />
                <input type="hidden" class="form-control" name="attachmentContentType"
                       id="field_recommendationContentType"
                       ng-model="instEmplRecruitInfo.recommendationContentType"/>

            </div>
            <!-----------------------Date Of Committee Formation---------------------->

            <!-----------------------Recommendation date of Appointment---------------------->
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.recommendDateAppl"
                       for="recommendDateAppl">recommendDateAppl</label>
                <input type="text" class="form-control" name="recommendDateAppl"
                       id="recommendDateAppl"
                       ng-model="instEmplRecruitInfo.recommendDateAppl"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.recommendDateAppl"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'recommendDateAppl')"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       max-date="toDay"
                       tooltip="{{'stepApp.instEmplRecruitInfo.recommendDateAppl' | translate}}"
                       required/>
                <div ng-show="editForm.recommendDateAppl.$error.required">
                    <p class="help-block clearfix"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <!-----------------------Date Of Committee Formation---------------------->
            <!-----------------------Approval Date Of Appointment---------------------->
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.approvalDateAppointment"
                       for="approvalDateAppointment">approvalDateAppointment</label>
                <input type="text" class="form-control" name="approvalDateAppointment"
                       id="approvalDateAppointment"
                       ng-model="instEmplRecruitInfo.approvalDateAppointment"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.approvalDateAppointment"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'approvalDateAppointment')"
                       max-date="toDay"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       tooltip="{{'stepApp.instEmplRecruitInfo.approvalDateAppointment' | translate}}"
                       required/>
                <div ng-show="editForm.approvalDateAppointment.$error.required">
                    <p class="help-block"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.mcDuration" for="mcDuration">mcDuration</label>
                <input type="text" class="form-control" name="mcDuration" id="mcDuration"
                       ng-model="instEmplRecruitInfo.mcDuration"
                       tooltip="{{'stepApp.instEmplRecruitInfo.mcDuration' | translate}}"
                       placeholder="{{'stepApp.instEmplRecruitInfo.mcDuration' | translate}}"
                       required ng-maxlength="50"/>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.mcMemoNo" for="mcMemoNo">mcMemoNo</label>
                <input type="text" class="form-control" name="mcDuration" id="mcMemoNo"
                       ng-model="instEmplRecruitInfo.mcMemoNo"
                       tooltip="{{'stepApp.instEmplRecruitInfo.mcMemoNo' | translate}}"
                       placeholder="{{'stepApp.instEmplRecruitInfo.mcMemoNo' | translate}}"
                       required ng-maxlength="50"/>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmplRecruitInfo.mcMemoDate"
                       for="mcMemoDate">mcMemoDate</label>
                <input type="text" class="form-control" name="mcMemoDate"
                       id="mcMemoDate"
                       ng-model="instEmplRecruitInfo.mcMemoDate"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.mcMemoDate"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'mcMemoDate')"
                       max-date="toDay"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       tooltip="{{'stepApp.instEmplRecruitInfo.mcMemoDate' | translate}}"
                       required/>
                <div ng-show="editForm.mcMemoDate.$error.required">
                    <p class="help-block"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <!-- =====managingCommittee====== -->
            <div class="col-sm-12 dg-resulotion">
                <h4 translate="stepApp.instEmplRecruitInfo.attachment">AttachMent</h4>
            </div>
            <!--##### Selection Copy ####-->
            <div class="form-group col-md-6" ngf-drop
                 ngf-change="setSelectionCopy($file, instEmplRecruitInfo, 'selectionCopy','selectionCopyCntType','selectionCopyName')">
                <label translate="stepApp.instEmplRecruitInfo.selectionCopy"
                       for="field_attachment">selectionCopy</label>
                <div>
                    <div class="help-block clearfix">
                        <span class="pull-left">{{instEmplRecruitInfo.selectionCopyCntType}} {{byteSize(instEmplRecruitInfo.selectionCopy)}}</span>
                        <button
                            ng-click="instEmplRecruitInfo.selectionCopy=null;instEmplRecruitInfo.selectionCopyCntType=null;"
                            ng-if="instEmplRecruitInfo.selectionCopy" class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div class="input-group">
                        <input type="text" readonly class="form-control" name="committeeName" id="selectionCopy"
                               ng-model="instEmplRecruitInfo.selectionCopyName"
                        />
                        <div class="input-group-btn">
                            <button type="file" ngf-select class="btn btn-primary"
                                    ngf-change="setSelectionCopy($file, instEmplRecruitInfo, 'selectionCopy','selectionCopyCntType','selectionCopyName')"
                                    translate="entity.action.addblob">
                                Add blob
                            </button>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="attachment" id="field_committee"
                           ng-model="instEmplRecruitInfo.selectionCopy"
                    />
                    <input type="hidden" class="form-control" name="selectionCopyCntType"
                           id="selectionCopyCntType" ng-model="instEmplRecruitInfo.selectionCopyCntType"/>
                </div>
            </div>
            <!--##### Selection Copy ####-->
            <!--##### CONFIRM LETTER ####-->
            <div class="form-group col-md-6" ngf-drop
                 ngf-change="setConfirmLetter($file, instEmplRecruitInfo, 'confirmLetter','confirmLetterCntType','confirmLetterName')">
                <label translate="stepApp.instEmplRecruitInfo.confirmLetter"
                       for="field_attachment">confirmLetter</label>
                <div>
                    <div class="help-block clearfix">
                        <span class="pull-left">{{instEmplRecruitInfo.confirmLetterCntType}} {{byteSize(instEmplRecruitInfo.confirmLetter)}}</span>
                        <button
                            ng-click="instEmplRecruitInfo.confirmLetter=null;instEmplRecruitInfo.confirmLetterCntType=null;"
                            ng-if="instEmplRecruitInfo.confirmLetter" class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div class="input-group">
                        <input type="text" readonly class="form-control" name="committeeName" id="confirmLetter"
                               ng-model="instEmplRecruitInfo.confirmLetterName"
                        />
                        <div class="input-group-btn">
                            <button type="file" ngf-select class="btn btn-primary"
                                    ngf-change="setConfirmLetter($file, instEmplRecruitInfo, 'confirmLetter','confirmLetterCntType','confirmLetterName')"
                                    translate="entity.action.addblob">
                                Add blob
                            </button>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="attachment" id="confirmLetter"
                           ng-model="instEmplRecruitInfo.confirmLetter"
                    />
                    <input type="hidden" class="form-control" name="confirmLetterCntType"
                           id="confirmLetterCntType" ng-model="instEmplRecruitInfo.confirmLetterCntType"/>
                </div>
            </div>
            <!--##### CONFIRM LETTER ####-->
            <!--##### NTRCA CERT ####-->
            <div class="form-group col-md-6" ngf-drop
                 ngf-change="setNtrcCert($file, instEmplRecruitInfo, 'ntrcaCert','ntrcaCertCntType','ntrcaCertName')">
                <label translate="stepApp.instEmplRecruitInfo.ntrcaCert" for="field_attachment">confirmLetter</label>
                <div>
                    <div class="help-block clearfix">
                        <span class="pull-left">{{instEmplRecruitInfo.ntrcaCertCntType}} {{byteSize(instEmplRecruitInfo.ntrcaCert)}}</span>
                        <button
                            ng-click="instEmplRecruitInfo.ntrcaCert=null;instEmplRecruitInfo.ntrcaCertCntType=null;"
                            ng-if="instEmplRecruitInfo.ntrcaCert" class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div class="input-group">
                        <input type="text" readonly class="form-control" name="ntrcaCert" id="ntrcaCert"
                               ng-model="instEmplRecruitInfo.ntrcaCertName"
                        />
                        <div class="input-group-btn">
                            <button type="file" ngf-select class="btn btn-primary"
                                    ngf-change="setNtrcCert($file, instEmplRecruitInfo, 'ntrcaCert','ntrcaCertCntType','ntrcaCertName')"
                                    translate="entity.action.addblob">
                                Add blob
                            </button>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="attachment" id="ntrcaCert"
                           ng-model="instEmplRecruitInfo.ntrcaCert"
                    />
                    <input type="hidden" class="form-control" name="ntrcaCertCntType"
                           id="ntrcaCertCntType" ng-model="instEmplRecruitInfo.ntrcaCertCntType"/>
                </div>
            </div>
            <!--##### NTRCA CERT ####-->
            <!--##### APPOINT_APRV_ATCH ####-->
            <div class="form-group col-md-6" ngf-drop
                 ngf-change="setAppointAprvAtch($file, instEmplRecruitInfo, 'appointAprvAtch','appointAprvAtchCntType','appointAprvAtchName')">
                <label translate="stepApp.instEmplRecruitInfo.appointAprvAtch"
                       for="field_attachment">appointAprvAtch</label>
                <div>
                    <div class="help-block clearfix">
                        <span class="pull-left">{{instEmplRecruitInfo.appointAprvAtchCntType}} {{byteSize(instEmplRecruitInfo.appointAprvAtch)}}</span>
                        <button
                            ng-click="instEmplRecruitInfo.appointAprvAtch=null;instEmplRecruitInfo.appointAprvAtchCntType=null;"
                            ng-if="instEmplRecruitInfo.appointAprvAtch" class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div class="input-group">
                        <input type="text" readonly class="form-control" name="appointAprvAtch" id="appointAprvAtch"
                               ng-model="instEmplRecruitInfo.appointAprvAtchName"
                        />
                        <div class="input-group-btn">
                            <button type="file" ngf-select class="btn btn-primary"
                                    ngf-change="setAppointAprvAtch($file, instEmplRecruitInfo, 'appointAprvAtch','appointAprvAtchCntType','appointAprvAtchName')"
                                    translate="entity.action.addblob">
                                Add blob
                            </button>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="appointAprvAtch" id="appointAprvAtch"
                           ng-model="instEmplRecruitInfo.appointAprvAtch"
                    />
                    <input type="hidden" class="form-control" name="appointAprvAtchCntType"
                           id="appointAprvAtchCntType" ng-model="instEmplRecruitInfo.appointAprvAtchCntType"/>
                </div>
            </div>
            <div class="form-group col-md-6" ngf-drop
                 ngf-change="setPblcCircular($file, instEmplRecruitInfo, 'pblcCircular','pblcCircularCntType','pblcCircularName')">
                <label translate="stepApp.instEmplRecruitInfo.pblcCircularName"
                       for="field_attachment">appointAprvAtch</label>
                <div>
                    <div class="help-block clearfix">
                        <span class="pull-left">{{instEmplRecruitInfo.pblcCircularCntType}} {{byteSize(instEmplRecruitInfo.appointAprvAtch)}}</span>
                        <button
                            ng-click="instEmplRecruitInfo.pblcCircular=null;instEmplRecruitInfo.pblcCircularCntType=null;"
                            ng-if="instEmplRecruitInfo.pblcCircular" class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div class="input-group">
                        <input type="text" readonly class="form-control" name="appointAprvAtch" id="appointAprvAtch"
                               ng-model="instEmplRecruitInfo.pblcCircularName"
                        />
                        <div class="input-group-btn">
                            <button type="file" ngf-select class="btn btn-primary"
                                    ngf-change="setPblcCircular($file, instEmplRecruitInfo, 'pblcCircular','pblcCircularCntType','pblcCircularName')"
                                    translate="entity.action.addblob">
                                Add blob
                            </button>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="appointAprvAtch" id="appointAprvAtch"
                           ng-model="instEmplRecruitInfo.pblcCircular"
                    />
                    <input type="hidden" class="form-control" name="pblcCircularCntType"
                           id="pblcCircularCntType" ng-model="instEmplRecruitInfo.pblcCircularCntType"/>
                </div>
            </div>
            <div class="form-group col-md-6" ngf-drop
                 ngf-change="setReuiLetter($file, instEmplRecruitInfo, 'requiLetter','requiLetterCntType','requiLetterName')">
                <label translate="stepApp.instEmplRecruitInfo.requiLetter"
                       for="field_attachment">appointAprvAtch</label>
                <div>
                    <div class="help-block clearfix">
                        <span class="pull-left">{{instEmplRecruitInfo.requiLetterCntType}} {{byteSize(instEmplRecruitInfo.requiLetter)}}</span>
                        <button
                            ng-click="instEmplRecruitInfo.requiLetter=null;instEmplRecruitInfo.pblcCircularCntType=null;"
                            ng-if="instEmplRecruitInfo.requiLetter" class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div class="input-group">
                        <input type="text" readonly class="form-control" name="requiLetter" id="requiLetter"
                               ng-model="instEmplRecruitInfo.requiLetterName"
                        />
                        <div class="input-group-btn">
                            <button type="file" ngf-select class="btn btn-primary"
                                    ngf-change="setReuiLetter($file, instEmplRecruitInfo, 'requiLetter','requiLetterCntType','requiLetterName')"
                                    translate="entity.action.addblob">
                                Add blob
                            </button>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="requiLetterName" id="requiLetterName"
                           ng-model="instEmplRecruitInfo.requiLetter"
                    />
                    <input type="hidden" class="form-control" name="requiLetterCntType"
                           id="requiLetterCntType" ng-model="instEmplRecruitInfo.requiLetterCntType"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit"
                    onclick="window.history.back()"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                translate="entity.action.back"> Back</span>
            </button>
            <!-- || isSaving-->
            <button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid || isSaving">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-if="instEmplRecruitInfo.id == null" translate="entity.action.save">Save</span>
                <span ng-if="instEmplRecruitInfo.id != null" translate="entity.action.update">Update</span>
            </button>
        </div>
    </form>
</div>
