<div class="col-md-12 common-dialogue">
    <h4 ng-show="assetTransfer.id == null" translate="stepApp.assetTransfer.home.createOrEditLabel">Asset Category
        Setup</h4>
    <h4 ng-show="assetTransfer.id != null" translate="stepApp.assetTransfer.home.EditLabel">Asset Category Setup</h4>
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <div class="col-md-12 padding-tb">
            <div hidden class=" col-md-6 ">
                <div class="form-group">
                    <label class=" control-label" translate="stepApp.assetTransfer.transferCode"
                           for="field_transferCode">Asset Category Code</label>

                    <div class="input-margin">
                        <input type="text" class="form-control" name="transferCode" id="field_transferCode"
                               ng-model="assetTransfer.transferCode"
                              readonly >
                    </div>
                </div>
            </div>


            <div class=" col-md-6 ">
                <div class="form-group">
                    <label class=" control-label" translate="stepApp.assetTransfer.employeeIdFrom" for="field_empId">transfer
                        from (employee id)</label>
                    <span style="color:red;">*</span>
                    <div class="input-group">
                        <input name="employeeIdTo" id="field_empId" type="text" placeholder="Enter a Employee Id"
                               ng-model="assetTransfer.employeeIdFrom"
                               typeahead="hrmEmployee for hrmEmployee in hrmEmployees | filter:$viewValue | limitTo:100"
                               class="form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    ng-click="getEmployeeFrom(assetTransfer.employeeIdFrom)">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;<span>Search</span>
                            </button>
                        </span>
                        <div ng-show="editForm.employeeIdTo.$invalid">
                            <p class="help-block"
                               ng-show="editForm.employeeIdFrom.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class=" col-md-6 ">
                <div class="form-group">
                    <label class=" control-label" translate="stepApp.assetTransfer.deptName" for="field_deptName">department</label>

                    <div class="input-margin">
                        <input readonly disabled="disabled" type="text"
                               class="form-control" name="empFromDept" id="field_deptName"
                               ng-model="assetTransfer.empFromDept"
                               required>
                        <div ng-show="editForm.description.$invalid">
                            <p class="help-block"
                               ng-show="editForm.description.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div hidden class=" col-md-6 ">
                <div class="form-group">
                    <label class=" control-label" translate="stepApp.assetTransfer.employeeFrom" for="field_IdFrom">employeeFrom</label>
                    <div class="input-margin">
                        <input readonly disabled="disabled"
                               type="text" class="form-control" name="employeeFrom" id="field_IdFrom"
                               ng-model="assetTransfer.employeeFrom"
                               required>
                    </div>
                </div>
            </div>

            <div class=" col-md-6 ">
                <div class="form-group">
                    <label class=" control-label" translate="stepApp.assetTransfer.assetCode" for="field_assetCode">asset
                        code</label>
                    <div class="input-margin">
                        <input type="text" class="form-control" name="employee" id="field_assetCode"
                               ng-model="assetTransfer.assetCode" ng-change=";getAssetDistributionInfo(assetTransfer.employeeIdFrom,assetTransfer.assetCode)"
                               required/>
                        <div ng-show="editForm.assetCode.$invalid">
                            <p class="help-block"
                               ng-show="editForm.assetCode.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-6 ">
                <div class="form-group">
                    <label class=" control-label" translate="stepApp.assetTransfer.assetName" for="field_assetName">asset
                        Name</label>
                    <div class="input-margin">
                        <input readonly disabled="disabled"
                               type="text" class="form-control" name="employee" id="field_assetName"
                               ng-model="assetTransfer.assetName"
                               required>
                        <div ng-show="editForm.assetName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.assetName.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" col-md-6 ">
                <div class="form-group">
                    <label class=" control-label" translate="stepApp.assetTransfer.availableQty" for="field_assetName">availableQty</label>
                    <div class="input-margin">
                        <input readonly disabled="disabled"
                               type="text" class="form-control" name="availableQty" id="field_availableQty"
                               ng-model="assetTransfer.availableQty"/>

                    </div>
                </div>
            </div>
            <div hidden class=" col-md-6 ">
                <div class="form-group">
                    <label class=" control-label" translate="stepApp.assetTransfer.employeeTo" for="field_IdTo">asset
                        Name</label>
                    <div class="input-margin">
                        <input readonly disabled="disabled"
                               type="text" class="form-control" name="employeeTo" id="field_IdTo"
                               ng-model="assetTransfer.employeeTo"
                               required>
                    </div>
                </div>
            </div>
            <div class=" col-md-6 ">
                <div class="form-group">
                    <label class=" control-label" translate="stepApp.assetTransfer.employeeIdTwo"
                           for="field_employeeIdFrom">transfer To (employee id)</label>
                    <span style="color:red;">*</span>
                    <div class="input-group">
                        <input name="employeeIdTo" id="field_employeeIdFrom" type="text" placeholder="Enter a Employee Id"
                               ng-model="assetTransfer.employeeIdTo"
                               typeahead="hrmEmployee for hrmEmployee in hrmEmployees | filter:$viewValue | limitTo:100"
                               class="form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    ng-click="getEmployeeTo(assetTransfer.employeeIdTo)">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;<span>Search</span>
                            </button>
                        </span>
                        <div ng-show="editForm.employeeIdTo.$invalid">
                            <p class="help-block"
                               ng-show="editForm.employeeIdTo.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class=" col-md-6 ">
                <div class="form-group">
                    <label class=" control-label" translate="stepApp.assetTransfer.deptName" for="field_toDept">department</label>
                    <div class="input-margin">
                        <input readonly disabled="disabled"
                               type="text" class="form-control" name="empToDept" id="field_toDept"
                               ng-model="assetTransfer.empToDept"
                               required>
                        <div ng-show="editForm.description.$invalid">
                            <p class="help-block"
                               ng-show="editForm.description.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-6 ">
                <div class="form-group">
                    <label class=" control-label" translate="stepApp.assetTransfer.assignQty" for="field_assignQty">assignQty</label>
                    <div class="input-margin">
                        <input type="text" class="form-control" name="assignQty" id="field_assignQty"
                               ng-model="assetTransfer.assignQty" ng-change="AssignNumberCompaired(assetTransfer.availableQty,assetTransfer.assignQty)"
                               required>
                        <div ng-show="editForm.assignQty.$invalid">
                            <p class="help-block"
                               ng-show="editForm.assignQty.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetTransfer.date"
                           for="field_transferDate">date</label>
                    <div class="input-margin">
                        <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.transferDate"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'transferDate')" class="form-control" name="transferDate"
                               id="field_transferDate"
                               ng-model="assetTransfer.transferDate"
                               required/>
                        <div ng-show="editForm.transferDate.$invalid">
                            <p class="help-block"
                               ng-show="editForm.transferDate.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 text-right">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"
                            ng-disabled="editForm.$invalid || editForm.$submitted">
                        <i class="fa fa-hdd-o"></i>
                        <span ng-show="assetTransfer.id == null" translate="entity.action.save">Save</span>
                        <span ng-show="assetTransfer.id != null" translate="entity.action.update">Save</span>
                    </button>
                    <button type="button" class="btn btn-info" onclick="window.history.back()">
                        <i class="fa fa-angle-double-left"></i><span translate="entity.action.back">Back</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
