<div class="common-table">
    <h2 id="myAssetTypeSetupLabel" translate="stepApp.assetTransfer.detail.title">Detail Of Asset Transfer</h2>
    <div class="table-responsive">
        <table class="table table-striped">

            <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.assetTransfer.transferCode">transfer Code</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetTransfer.transferCode}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.assetTransfer.date">Date</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetTransfer.transferDate | date:'mediumDate'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetTransfer.employeeIdFrom">employeeTo</span>
                    </td>

                    <td>
                        <a class="form-control-static">{{assetTransfer.employeeIdFrom}}</a>
                    </td>
                    <td>
                        <span translate="stepApp.assetTransfer.employeeName">employee</span>
                    </td>
                    <td>
                        <a class="form-control-static">{{assetTransfer.employeeFrom}}</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span translate="stepApp.assetTransfer.employeeIdTo">employeeTo</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="employee.detail({id:assetTransfer.employee.id})">{{assetTransfer.employeeIdTo}}</a>
                    </td>
                    <td>
                        <span translate="stepApp.assetTransfer.employeeName">employee</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="employee.detail({id:assetTransfer.employee.id})">{{assetTransfer.employeeTo}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetTransfer.assetRecordId">assetRecordId</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="assetRecord.detail({id:assetTransfer.assetRecord.id})">{{assetTransfer.assetCode}}</a>
                    </td>
                    <td>
                        <span translate="stepApp.assetTransfer.assetRecordName">assetRecordName</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="assetRecord.detail({id:assetTransfer.assetRecord.id})">{{assetTransfer.assetName}}</a>
                    </td>



                </tr>
            <tr>
                <td>
                    <span translate="stepApp.assetTransfer.assignQty">assignQty</span>
                </td>
                <td>
                    {{assetTransfer.assignQty}}
                </td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
