
<div>
    <h2><span translate="stepApp.genderInfo.detail.title">GenderInfo</span> {{genderInfo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.genderInfo.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{genderInfo.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.genderInfo.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{genderInfo.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.genderInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{genderInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.genderInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{genderInfo.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.genderInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{genderInfo.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.genderInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{genderInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
