<div class="education-add">
    <h3 translate="stepApp.jpEmployeeTraining.addTraining">Add Trainings</h3>
</div>
<form name="editForm" role="form" novalidate ng-submit="saveTraining()" show-validation>

    <div>
       <!-- <jh-alert-error></jh-alert-error>-->
        <div class="panel-body pnl-border">

        <div class="form-group col-sm-6 hide">
            <input type="hidden" class="form-control" id="id" name="id"
                    ng-model="jpEmployeeTraining.id" readonly />
        </div>
        <div class="form-group col-sm-6">
            <label translate="stepApp.jpEmployeeTraining.trainingTitle" for="field_trainingTitle">TrainingTitle</label>
            <input type="text" class="form-control" name="trainingTitle" id="field_trainingTitle"
                    ng-model="jpEmployeeTraining.trainingTitle"
                    required ng-maxlength="100" />
            <div ng-show="editForm.trainingTitle.$invalid">
                <p class="help-block"
                    ng-show="editForm.trainingTitle.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.trainingTitle.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label translate="stepApp.jpEmployeeTraining.institute" for="field_institute">Institute</label>
            <input type="text" class="form-control" name="institute" id="field_institute"
                    ng-model="jpEmployeeTraining.institute"
                    required ng-maxlength="100" />
            <div ng-show="editForm.institute.$invalid">
                <p class="help-block"
                    ng-show="editForm.institute.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.institute.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label translate="stepApp.jpEmployeeTraining.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="jpEmployeeTraining.location"
                     />
        </div>
        <div class="form-group col-sm-6">
            <label translate="stepApp.jpEmployeeTraining.duration" for="field_duration">Duration</label>
            <input type="text" class="form-control" name="duration" id="field_duration"
                    ng-model="jpEmployeeTraining.duration"
                    ng-maxlength="20" />
            <div ng-show="editForm.duration.$invalid">
                <p class="help-block"
                    ng-show="editForm.duration.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label translate="stepApp.jpEmployeeTraining.result" for="field_result">Result</label>
            <input type="text" class="form-control" name="result" id="field_result"
                    ng-model="jpEmployeeTraining.result"
                    ng-maxlength="20" />
            <div ng-show="editForm.result.$invalid">
                <p class="help-block"
                    ng-show="editForm.result.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>

        <!--<div class="form-group">
            <label translate="stepApp.jpEmployeeTraining.JpEmployee" for="field_JpEmployee">JpEmployee</label>
            <select class="form-control" id="field_JpEmployee" name="JpEmployee" ng-model="jpEmployeeTraining.jpEmployee" ng-options="JpEmployee as JpEmployee.name for JpEmployee in jpemployees track by JpEmployee.id">
                <option value=""></option>
            </select>
        </div>-->
        <div class="form-group col-sm-6">
            <label translate="stepApp.jpEmployeeTraining.country" for="field_country">country</label>
            <select class="form-control" id="field_country" name="country" ng-model="jpEmployeeTraining.country" ng-options="country as country.name for country in countrys track by country.id">
                <option value=""></option>
            </select>
        </div>
            <div class="form-group col-sm-6">
                <label translate="stepApp.jpEmployeeTraining.topicCovered" for="field_topicCovered">TopicCovered</label>
            <textarea class="form-control" name="topicCovered" id="field_topicCovered"
                      ng-model="jpEmployeeTraining.topicCovered"
                      required ng-maxlength="200" ></textarea>
                <div ng-show="editForm.topicCovered.$invalid">
                    <p class="help-block"
                       ng-show="editForm.topicCovered.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.topicCovered.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                        This field cannot be longer than 100 characters.
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label translate="stepApp.jpEmployeeTraining.completionDate" for="field_completionDate">completionDate</label>
                <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.completionDate" required=""
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'completionDate')" class="form-control" name="completionDate" id="field_completionDate"
                       ng-model="jpEmployeeTraining.completionDate"/>
            </div>
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-default" ng-click="changeTrainingsMode(true)">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                    <!--<span class="glyphicon glyphicon-save"></span>&nbsp;--><span translate="entity.action.save">Save</span>
                </button>
            </div>
    </div>
    </div>

</form>

