/*Start by Suharta*/

.padding-tb {
    padding: 15px 0px;
}

.paddingbt {
    padding: 10px 0px;
}

.col-md-3.padding-left {
    padding-left: 0px;
}

form {
    background: transparent !important;
}

.form-group.has-error .help-block, .validating {
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 1px;
}

.top-margin {
    margin-top: 13px;
}

/*End Added by shaon*/
#change-employer-password h4 {
    background: #008000 none repeat scroll 0% 0%;
    padding: 10px;
    color: #FFF;
    border-radius: 4px;
    margin: 0px;
    font-size: 16px;
}

.create-new-job #industry-header h4 {
    background: rgb(0, 146, 0) none repeat scroll 0% 0%;
    margin: 0px;
    padding: 4px 10px;
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-family: inherit;
    margin-bottom: 15px;
}

.create-new-job .panel-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.create-new-job .col-lg-12 {
    padding-top: 15px;
}

.create-new-job .control-label {
    text-align: right !important;
    margin-bottom: 0px;
    padding-top: 6px;
    text-align: right !important;
    font-size: 12px;
    font-weight: initial;
}

.create-new-job .panel-info > .panel-heading {
    background-image: linear-gradient(to bottom, #13CC3C 0%, #106504 100%);
    background-repeat: repeat-x;
}

.create-new-job .panel-info {
    border-color: #12A123;
}

.industry_info .table th {
    background: #0B763B none repeat scroll 0% 0%;
    border-radius: 0px;
    color: #FFF;
    height: 15px !important;
    padding: 5px;
}

.industry_info span .btn-success {
    padding: 2px 14px !important;
}

.industry_info .panel-info > .panel-heading {
    background-color: #13993E !important;
    border-color: #BCE8F1;
    color: #FFF;
}

.my_job_app h4 {
    background: #0B763B none repeat scroll 0% 0%;
    margin: 0px;
    padding: 10px;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
}

.border-img {
    text-align: center;
}

.img-thumb {
    padding: 6px 5px;
    margin: 8px;
    border: 1px solid #ddd;
}

.img-thumb img {
    width: 143px;
    height: 166px;
    text-align: center;
}

.change_pass .panel-primary > .panel-heading {
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, #107210 0%, #0E7010 100%);
}

.change_pass .btn-success {
    color: #FFF;
    background-color: #0E7010;
    border-color: #51B6AF;
}

.industry-credintial {
    background: #ddd !important;
}

.industry-credintial .col-sm-12 .btn-default {
    background: #009200;
    color: #fff;
    width: 100px;
    margin-right: 15px;
}

.industry-credintial .btn-block {
    display: block;
    width: 100%;
    background: #009200 none repeat scroll 0% 0%;
    color: #FFF;
}

.nav-justified .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #FFF;
    background-color: #009200;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
    background: #0B763B none repeat scroll 0% 0% !important;
}

.hrm-dash {
    background: #fff;
    padding: 15px;
    border: 1px solid #e1e1e1;
}

.nav-tabs > li.active > a {
    border-bottom-color: #fff;
    background: #127510 !important;
}

.multiple_select h4 {
    padding-left: 12px;
    margin: 0px;
    font-size: 18px;
}

.sub-top-area {
    background: #364B5E;
    color: #fff;
    height: 51px;
}

.up-text {
    margin-top: 15px;
    word-spacing: 7px;
}

/*
.lang {
    background: #bababa none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    float: right;
    height: 33px;
    margin-top: 8px;
    padding-top: 7px;
    text-align: center;
    text-transform: uppercase;
    width: 86px;
}
*/
.btn-info {
    background: #9E9E9E;
}

.job-btn .btn-info {
    background: lightseagreen;
}

.lang-area a:hover {
    background: #008000;
    color: #fff
}

.lang-area li {
    list-style: none;
}

.lang-area i.fa {
    color: #fff;
    font-size: 27px;
    margin-top: 12px;
    margin-left: 6px;
}

.gol-img img {
    float: left;
    margin-top: 7px;
}

.admin-name {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
    word-spacing: 6px;
    float: left;
    margin-top: 16px;
    margin-left: 18px;
    margin-right: -37px;
}

.badge-notify {
    background: red none repeat scroll 0 0;
    display: inline-block;
    font-size: 14px;
    left: 30px;
    padding-top: 3px;
    position: absolute;
    top: 4px;
}

#notification_li .glyphicon {
    TOP: 10px;
    font-size: 26px;
}

.gol-img .glyphicon-menu-down {
    top: 17px;
    left: -15px;
}

.application_information .panel-heading {
    background: #4caf50;
}

.application_information .panel {
    border: 0px;
}

.panel-primary > .panel-heading {
    background: #4caf50 !important;
    background-repeat: repeat-x;
}

.application_information .panel-body {
    padding: 0px;
}

.application_information .panel-primary {
}

.education-div h3 {
    margin: 0px;
    background: #5E5E5E;
    color: #fff;
    font-size: 16px;
    padding: 3px;
    margin-top: 0px;
}

.row.educationDiv.ng-scope {
    margin: 0;
    padding-top: 7px;
}

.row.trainingDiv.ng-scope {
    padding-top: 7px;
}

#applicantTraining input {
    padding: 5px;
    height: 28px;
}

/* BANNER AREA CSS CODE*/
.top-header {
    background: #0b763b none repeat scroll 0 0;
    color: #fff;
    display: block;
}

.top-header h3 {
    font-size: 18px;
    font-weight: 300;
    margin-left: 8px;
    margin-top: 13px;
}

.notification-area .caret {
    color: #fff;
    font-size: 27px;
}

.notification-area i.fa {
    color: #fff;
    font-size: 21px;
}

.user-area a {
    color: #fff;
    font-size: 16px;
}

.top-header .navbar {
    margin-bottom: 0;
}

.top-header .nav > li > a:hover {
    background: transparent;
}

.top-area {
    margin-bottom: 185px;
    position: relative;
}

.top-area-bg {
    background: #0d9947 none repeat scroll 0 0;
    height: 186px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.top-area-banner img {
    height: auto;
    position: relative;
    width: 1155px;
}

.ins-logo {
    height: 96px;
    left: 32px;
    padding-top: 49px;
    position: absolute;
    top: 0;
    width: 101px;
}

.banner-heading {
    color: #fff;
    line-height: 1px;
    position: absolute;
    top: 85px;
}

.banner-heading h2 {
    margin-top: 0px !important;
}

.parallelogram {
    background: #0b763b none repeat scroll 0 0;
    height: 186px;
    position: absolute;
    right: 213px;
    top: 0;
    transform: skew(31deg);
    width: 35px;
    transition: all 0.4s;
}

.parallelogram2 {
    background: #0b763b none repeat scroll 0 0;
    height: 186px;
    position: absolute;
    right: 258px;
    top: 0;
    transform: skew(31deg);
    width: 35px;
    transition: all 0.4s;
}

.khabikahbi {
    background: #0b763b none repeat scroll 0 0;
    height: 186px;
    position: absolute;
    right: 0px;
    top: 0;
    transform: skew(0deg);
    width: 148px;
}

.habijabi {
    border-color: transparent #0b763b transparent transparent;
    border-style: solid;
    border-width: 0 112px 188px 68px;
    height: 0;
    position: absolute;
    right: 148px;
    top: 0;
    width: 0;

}

.search-form {
    height: 29px;
    margin-left: 54px;
    margin-top: 11px;
    width: 100%;
}

.lang {
    background: #bababa none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    float: right;
    height: 29px;
    margin-top: 11px;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 86px;
}

.lang-area a:hover {
    background: #0D9947;
    color: #fff
}

.lang-area i.fa {
    color: #fff;
    font-size: 27px;
    margin-top: 12px;
    margin-left: 6px;
}

/* END BANNER AREA CSS CODE*/
.application_information form {
    background: #DDD none repeat scroll 0% 0%;
    padding: 15px 0px !important;
}

#content .col-md-9 {
}

.col-sm-4.control-label.my_control_lebel.ng-scope.my_control_lebel {
    text-align: right;
}

/*#content .col-md-3 {
    padding-left: 0;
}*/
.application_information #education-div .control-label, #training .control-label {
    text-align: center;
}

.application_information em {
    background: #009200;
    padding: 5px;
}

.application_information .btn-info {
    background: #009200;
}

.padding10 {
    padding: 10px;
}

.form {
    border: 1px solid #ddd;
}

.attachment_info {
}

.attachment_info h3 {
    background: #5E5E5E none repeat scroll 0% 0%;
    color: #FFF;
    font-size: 16px;
    padding: 3px;
    margin: 0px 15px 10px;
}

.attachment_info, .attachment_file {
    padding: 0px;
}

.experience_repeat, .education_repeat .table > tbody > tr > td {
    padding: 4px;
    font-family: Roboto;
}

.education_repeat_head, .experience_repeat_head td {
    padding: 4px !important;
    width: 50%;
}

.education_repeat_head, .experience_repeat_head {
    background: #4CAF50 !important;
    color: rgb(255, 255, 255);
    padding: 2px;
}

.experience_repeat, .education_repeat table {
    border-bottom: 0px solid #ddd !important;
}

.experience_repeat, .education_repeat .btn-sm {
    padding: 0px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.reference_repeat {
    background: #5E5E5E !important;
    color: #fff !important;
}

.reference_repeat td {
    padding: 3px !important;
}

.search_form {
    padding-top: 7px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    border-color: #009200;
    background-color: rgb(13, 153, 71);
}

#search-form\ pull-right .input-group {
    width: 80% !important;
    border-radius: 4px !important;
}

#search-form\ pull-right .input-group input {
    border-radius: 4px !important;
    padding: 3px;
    font-size: 15px;
}

.minus-btn {
    background: #F00 none repeat scroll 0% 0%;
    width: 37px;
    border-radius: 4px;
    padding: 0px 8px;
}

.attachmentDiv .form-group {
    margin-bottom: 0px;
}

/*#content .col-sm-3 {
    padding-left: 0px;
}*/
/*#content .col-md-9 h2, h1 {
    margin: 0px;
    font-size: 17px;
    background: #0B763B none repeat scroll 0% 0%;
    padding: 8px;
    color: #F9F9F9;
}*/
#content form .panel-heading {
    background: rgba(46, 109, 164, 0.88) none repeat scroll 0% 0% !important;
    border: 0px;
    border-radius: 0px;
    color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 5px 15px;
}

.employer-reg .panel-info {
    border: 0px;
}

.list-unstyled {
    padding: 15px;
    list-style: outside none none;
}

.school_category {
    color: #000;
    padding: 0px;
    font-size: 16px;
    padding-left: 25px;
}

.skills_tabel tr td {
    width: 50%;
}

.skills_head td {
    padding: 0px !important;
    padding-left: 15px !important;
    color: #fff;
}

.skills_head {
    background: #5E5E5E;
}

.employer-profile {

}

.employer-profile-edit {
    padding: 15px;
    background: #eee;
}

.edit-employer-back {
    padding: 9px;
    background: #009200 none repeat scroll 0% 0%;
    margin-top: 2px;
}

.employer-profile-heading {
    background: #0B763B !important;
    color: #fff !important;
}

.employer-profile form label {
    font-weight: 400 !important;
    font-size: 13px;
    padding: 6px 0px !important;
}

.create-new-job .panel-info {
    border: 0px !important;
}

.creat-job-form {
    background: #eee !important;
}

#education-div th {
    height: 15px;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    background: #0B763B;
    color: #fff;
}

#training th {
    height: 15px;
    padding: 5px;
    padding-left: 15px;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    background: #0B763B;
    color: #fff;
}

#education-div tr td {
    height: 15px !important;
    padding: 3px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    padding-left: 15px;
}

#training tr td {
    height: 15px !important;
    padding: 3px;
    text-align: left;
    font-size: 13px;
    padding-left: 15px;
}

#address-div h3 {
    margin: 0px 0px 0px;
    background: #0B763B none repeat scroll 0% 0%;
    color: #FFF;
    font-size: 16px;
    padding: 3px;

}

#address-div h4 {
    background: #0B763B;
    color: #fff;
    font-size: 13px;
    padding: 5px;
}

#address-div td {
    height: 15px;
    padding: 6px;
    font-size: 13px;
    padding-left: 13px;
    font-family: inherit;
}

#address-div th {
    height: 15px;
    padding: 5px;
    padding-left: 15px;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    background: #0B763B;
    color: #fff;
}

#applicant-info th {
    padding: 0px;
    background: #5E5E5E;
    color: #fff;
    padding-left: 15px;
    font-size: 16px;
}

#applicant-info tr td {
    height: 15px !important;
    padding: 3px 3px 3px 15px;
    text-align: left;
    font-size: 13px;
}

/*
.app_re_info {
background: #EFFCF5 none repeat scroll 0% 0%;
color: #2B2D2C;
font-weight: 500;
width: 28%;
}*/
.table-view-lebel {
    background: #EFFCF5;
    font-weight: 500;
}

.application_information .panel-body {
    padding: 0px;
    border: 1px solid;
    background: #ddd;
}

.prev-next {
    padding-bottom: 15px;
}

.CmsSubAssign {
    background: #fff;
}

.CmsSubAssign .panel-body {
    padding: 0;
    background: #eee none repeat scroll 0% 0%;
    padding-bottom: 15px !important;
}

.cmscurriculam .panel-heading {
    background: #0D9947 none repeat scroll 0 0;
    color: #fff;
    border-radius: 0px;
}

.cmsCnew {
    padding: 15px;
}

.cmscurriculam .panel-body {
    background: #eee none repeat scroll 0% 0%;
    padding: 15px 0px;
    border: 1px solid #ddd;
}

.cmsheadrow {
    padding-top: 15px;
}

.cms-head h3 {
    background: #0b763b;
    padding: 5px;
    color: #fff;
    font-size: 12px;
}

.pnl-success .panel-heading {
    background: #0B763B !important;
    padding: 5px;
    color: #fff;
}

.pnl-button {
    padding: 5px;
    top: -3px;
    height: 28px;
    font-family: inherit;
    font-size: 12px;
    margin: 0px !important;
}

.col-head form {
    background: #f2f2f2;
}

.pnl-border form {
    background: #f2f2f2;
}

.col-head-heading h3 {
    margin: 0px !important;
    font-size: 14px;
    padding: 10px 0px;
    color: #FFF;
    font-weight: 400;
}

.col-button {
    text-align: right;
    padding: 1px !important;
}

.pnl-success .panel-body {
    padding: 15px;
    border: 1px solid #ddd !important;
}

.pnl-success {
    border: 0px solid #DDD !important;
}

.pnl-border {
    border: 1px solid #DDD !important;
}

.pnl-tbl th {
    padding: 0px !important;
    background: #ddd !important;
    font-size: 14px;
    padding-left: 15px;
}

.pnl-tbl td {
    padding: 0px;
    padding-left: 15px;
    font-size: 14px;
}

.Emergency_Contact h3 {
    margin: 0px 15px 5px;
    padding: 4px 7px;
    font-size: 15px;
    background: #5e5e5e;
    color: #fff;
}

.pnl-border label {
    font-weight: 400;
    font-size: 13px;
}

.education_q {

}

.education_q th {
    background: #5e5e5e !important;
    color: #fff;
    padding: 3px 9px !important;
    font-size: 12px;
    font-weight: 400;
}

.education_q td {
    padding: 3px 10px !important;
    font-weight: 400 !important;
}

.img-upload {
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    margin-bottom: 10px;
}

.img-upload img {
    width: 100%;
}

.edu-edit {
    background: #0B763B none repeat scroll 0% 0%;
    border: medium none;
}

.td th {
    background: #5e5e5e !important;
    color: #fff;
}

.payscale-ass {
    padding: 25px 0px;
}

#address-div td .form-group {
    margin: 0px !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    text-shadow: 0px -1px 0px #286090;
    background-image: linear-gradient(to bottom, #0B763B 0%, #0B763B 100%);
    background-repeat: repeat-x;
    border-color: #0B763B;
}

.birth-image img {
    width: 50%;
    text-align: right;
}



.Nationality-info h3 {
    background: #5f5f5f none repeat scroll 0% 0%;
    color: #FFF;
    font-size: 13px;
    padding: 5px;
    margin: 0px;
}

.Nationality-info th {
    font-size: 12px;
    padding: 4px !important;
    background: #ECFBF7;
    width: 20%;
}

.Nationality-info td {
    font-size: 12px;
    padding: 4px !important;
    width: 30%;
}

.quota-info {
    border: 1px solid #ddd;
    padding: 15px 0px;

}

.quota-info-1 h3 {
    background: #5f5f5f;
    color: #fff;
    padding: 5px;
    font-size: 12px;
}

.quota-info-2 h3 {
    background: #5f5f5f;
    color: #fff;
    padding: 5px;
    font-size: 12px;
}

.quota-info h4 {
    font-size: 13px;
}

.col-head-1 {
    padding: 0px !important;
    background: #0B763B;
}

.quota-info h5 {
    font-size: 13px;
    font-weight: 400;
}

.bs-docs-sidenav li .active {
    background: #263B42 none repeat scroll 0 0 !important;
    color: #fff;
}

.job-img img {
    width: 100%;
    padding-top: 15px;
}

.job-desc h3 {
    background: #5f5f5f;
    color: #fff !important;
    padding: 5px;
    font-size: 14px;
    margin: 0px;
}

.job-desc {
    padding-top: 15px;
}

.jobs-list {
    color: #000;
    padding-left: 15px;
    font-size: 12px;
    font-weight: 300;
    font-family: roboto;
}

.jobs-list h3 {
    color: #0B763B;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: roboto;
}

#content {
    min-height: 80vh;
    height: 100%;
    background: url('/assets/images/symphony.png');
    /* background: #EDECEC none repeat scroll 0% 0%;*/
}

.forgot-pass {
    float: right;
    font-size: 80%;
    position: relative;
    top: -10px
}

.forgot-pass a {
    color: #fff;
}

#loginbox .panel-primary > .panel-heading {
    background-image: linear-gradient(to bottom, #0B763B 0%, #0B763B 100%);
    background-repeat: repeat-x;
}

#loginbox .panel-pprimary {
    border-color: #ddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.inst-list td {
    width: 4%;
    text-align: center;
}

.control a {
    color: #0B763B;
}

.control a:hover {
    color: #FAFAFA;
    background: #009200;
}

.login-error {
    margin-bottom: 15px;
    background: #E7D5B2;
    color: #EF2525;
    padding: 5px;
}

.panel-primary {
    border: none !important;
}

.fee h3 {
    margin: 0px !important;
    font-size: 14px;
    padding: 10px 11px;
    color: #FFF;
    font-weight: 400;
    background: #0B763B;
    margin-bottom: 15px !important;
}

.my-user-resum {
    width: 100%;
    background: rgb(188, 212, 199) none repeat scroll 0% 0%;
    float: left;
}

.user-resum h3 {
    margin: 0px !important;
    font-size: 14px;
    padding: 10px 11px;
    color: #FFF;
    font-weight: 400;
    background: #0B763B;
    margin-bottom: 15px !important;
}

.seeking-job h3 {
    margin: 0px 0px 15px !important;
    font-size: 14px;
    padding: 10px 11px;
    color: #FFF;
    font-weight: 400;
    background: #0B763B none repeat scroll 0% 0%;
}

.experience-add h3, .education-add h3, .training-add h3, .language-add h3, .reference-add h3 {
    margin: 0 !important;
    font-size: 14px;
    padding: 10px 11px;
    color: #FFF;
    font-weight: 400;
    background: #0B763B none repeat scroll 0% 0%;
}

#content .col-lg-3 {
    padding-left: 0px;
}

#content .col-lg-9 {
    padding: 0px;
}

.admin-info h3 {
    background: #5f5f5f;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 0px;
}

.cross-btn {
    background: #5f5f5f;
}

.cross-btn-color {
    color: #f00;
}

.half-page-cross-btn-color {
    color: #f00;
    padding-bottom: 0px;
    padding-top: 2px;
}

#username, #password {
    font-size: 14px;
}

.table > tbody {
    background: #fff none repeat scroll 0% 0%;
    font-family: initial;
    font-size: 12px;
}

.job-badge {
    padding: 6px;
    border-radius: 4px;
}

.job-badge h3 {
    font-size: 10px;
    margin-bottom: 5px;
}

.view-count {
    background: #ddd none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 2px 22px #474e48;
    height: 40px;
    margin-top: 5px;
    width: 40px;
    margin: 0 auto;
}

.view-count p {
    padding-top: 11px;
}

.job-viewed {
    background: #FFF none repeat scroll 0% 0%;
    margin-bottom: 13px;
    padding: 10px 0px;
}

.sort-type {
    padding: 5px;
    background: #FFF none repeat scroll 0% 0%;
    font-size: 12px;
    text-align: center;
}

.candidates-list {
    padding: 5px;
    border: 1px solid #ddd;
    box-shadow: 1px 0px 20px #ddd;
    margin: 5px 0px;
}

.applicants h5 {
    background: #0B763B none repeat scroll 0% 0%;
    padding: 5px;
    color: #fff;
    margin-bottom: 2px;
    border-radius: 4px;
}

.candidates-list img {
    width: 100%;
    height: 100px;
}

.candidates-list h3 {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 6px;
}

.applicant-view p {
    margin-top: 25px;
}

.candidates-list:hover {
    background: #D4DDD8;
}

.view-count:hover {
    background: #0c5502;
    color: #fff;
}

.view-count_su {
    background: #107210;
    color: #fff;
}

.view-count_su:hover {
    background: #0c5502;
    color: #000;
}

.su_view {
    background: red;
    color: #fff;
}

.su_view:hover {
    background: rgba(163, 0, 12, 0.98);
    color: #000;
}

.sort-type:hover {
    background: #DDD none repeat scroll 0% 0%;
}

.comp-lbl {
    padding-left: 15px !important;
}

.my_job_app {
    padding: 15px !important;
    border: 1px solid #ddd;
    background: #fff;

}

.create-job-form {
    border: 1px solid #ddd;
    padding-bottom: 15px;
}

.tab-pane.active {
    padding: 0px !important;
}

.full-resume-view {
    background: #fff;
    border: 1px solid #ddd;
}

.infra-info {
    border: #ddd;
}

.infra-info table td {
    width: 30%;
}

.col-head-infra {
    margin: 0px;
    background: #0B763B none repeat scroll 0% 0%;
    border: 1px solid #fff;
    border-bottom: 0px;
}

.infra-info table .infr-table-head {
    background-color: #9E9E9E !important;
    padding: 2px !important;
    font-size: 13px;
    color: #000;
}

.infra-info-head {
    background: #0B763B;
}

.infra-info h3 {
    background: #0B763B;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    margin: 0px;
}

.building-info {
    margin-top: 15px;
}

.library-info .table tr td {
    width: 20%;
}

.eipi-addr {
    padding-right: 0px;
}

.inst-general-info h3 {
    background: #0B763B;
    margin: 0px;
    font-size: 14px;
    padding: 5px;
    color: #fff;
}

.inst-general-info table tr th {
    background: #ddd;
    color: #000;
    padding: 1px 5px;
}

.govt-body td {
    font-weight: bold;
}

.epi-addr table .app_re_info {
    background: #ECFBF7;
    font-weight: bold;
}

.total-employee td {
    font-weight: bold;
    background: #eee;
}

.adminst-info h3 {
    margin: 0px;
    background: #0B763B;
    color: #fff;
    padding: 5px;
    font-size: 14px;
}

.adminst-info .infr-table-head {
    background: #ddd;
    padding: 2px 5px;
    font-size: 12px;
    color: #000;
}

.institute-govt-body .table tr th {
    background: #ddd;
    color: #000;
    padding: 0px 5px;
    font-size: 12px;
}

.institute-govt-body h3, .gen-info h3, .total-employee h3 {
    background: #0B763B;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    margin: 0px;
}

.gen-info th {
    background: rgba(204, 219, 221, 0.27);
    font-size: 13px;
}

.gen-info .gen-th {
    background: #d0e8d1 !important;
    padding: 5px 5px !important;
    color: #333;
}

.total-employee {
}

.total-employee .total-th {
    background: #ddd;
    padding: 0px 5px;
    color: #000;
}

.job-categiry {
    background: #FAFAFA;
    padding: 15px 0px;
    z-index: 1;
}

.job-categiry ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.job-categiry ul li {
    padding: 5px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
}

.job-categiry ul li a {
    padding: 2px 20px;
    background: rgba(186, 186, 186, 0.45);
    display: block;
    color: #666;
    border-radius: 10px;
    font-weight: 700;
    text-transform: capitalize;
}

.job-categiry ul li a:hover {
    background: #009200;
    color: #fff;
}

.expe-info h3 {
    background: #5f5f5f;
    padding: 5px;
    font-size: 12px;
    color: #fff;
}

.education_q_img img {
    width: 50%;
    height: auto;
    text-align: right;
    padding: 15px;
    margin: 5px;
}

#left-menu .panel {
    margin-bottom: 1px;
}

#left-menu .panelhrm {
    margin: 5px 0px;
}

#left-menu .panel ul {
    padding: 0px;
}

#left-menu .panel ul li {
    padding: 0px;
}

#left-menu .panel ul li a {
    padding: 12px;
    display: block;
    background: #333;
    font-size: 13px;
    font-family: roboto;
    color: #fff;
}

#left-menu .panelhrm ul li a {
    padding: 10px 0px 10px 13px;
}

#left-menu .panel ul li a:hover {
    background: #444;
    color: #fff;
}

.mpo-dash {
    float: left;
    margin: 15px;
}

.mpo-list ul li {
    background: #0B763B;
    margin: 3px;
    padding: 7px;
}

.mpo-list ul li a {
    color: #fff;
    margin: 4px;
    padding: 12px;
}

.mpo-dash ul li a {
    padding: 15px;
    background: #0B763B;
    color: #fff;
    font-size: 12px;
    font-family: initial;
}

.mpo-dash ul li a:hover {
    background: #0D9947;

}

.upload-attached h3 {
    padding: 5px 15px;
    margin: 0px;
    background: #5f5f5f;
    color: #fff;
    font-size: 13px;
    margin-bottom: 15px;
}

.dg-resulotion h3 {
    padding: 4px 7px;
    font-size: 15px;
    background: #5e5e5e;
    color: #fff;
}

.navbar {
    min-height: 30px;
}

.navbar-nav > li > a {
    padding-top: 5px !important;
    line-height: 20px;

}

@media (min-width: 768px) {

    .navbar-nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px !important;
    }
}

.nav-head {
    float: left;
}

.nav-head a {
    padding: 5px;
}

.user-mngmt tbody tr td {
    padding: 0px;
    border-bottom: 1px solid #E0D6D6;
}

.user-mngmt tbody tr:hover {
    background: rgba(119, 119, 119, 0.38);
    color: #2F2727;
}

.job-detail-img img {
    padding: 5px;
    border: 1px solid #fff;
    margin: 5px;
    background: #ddd;
    border-radius: 5px;
    height: 110px;
    width: auto;
}

.job-detail-img img:hover {
    background: #ddd;
}

#address-div1 th, #address-div2 th, #training-info th, .resume_main_ th {
    padding: 0px 7px;
    font-size: 14px;
    font-weight: 300;
    background: #009688;
    color: #fff;
}

.edu-history {
    background: #4CAF50 !important;
    color: #fff;
}

.timescale-apply .form-group {
    margin-left: 0px;
    margin-right: -15px;
}

.timescale-apply label {
    font-size: 12px;
    font-weight: 400;
}

.resume_main_ th {
    padding: 0px 7px !important;
    font-size: 14px;
    font-weight: 300;
    background: #0B763B;
}

.register-pan {
    margin: 0 auto;
    width: 35%;
}

.padding-bt {
    padding: 10px 15px;
}

/*Suharto Css*/

.lang {
    color: #fff;
    display: inline-block;
    float: right;
    height: 23px !important;
    margin-top: 3px !important;
    padding-top: 2px !important;
    text-align: center;
    text-transform: uppercase;
    width: 86px;
}

.su_serv_menu > li > a {
    display: block;
    padding: 12px;
    position: relative;
    padding-left: 5px;
    color: #fff;
    font-size: 13px;
}

.user-area a {
    color: #fff;
    font-size: 12px !important;
}

.su_a {
    font-size: 12px;
    text-decoration: none;
}

.su_a.active {
    text-decoration: none
}

.navbar-inverse {
    background-color: #0B763B !important;
    border-color: #0B763B !important;
}

.lang-area .active {
    background: red !important;
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
    background: #0D9947 !important;
}

.nav-pills > li > a {
    border-radius: 0px !important;
}

#ulcolor3 {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#ulcolor3 li {
    list-style: none;
    background: #558B2F;
    /*margin-bottom: 7px;*/
    /*box-shadow: 0px 3px 0px #2C3E50;*/
    border-radius: 0px;
}

.button4 {
    display: inline-block;
    line-height: 10px;
    width: 100%;
    text-align: left;
    color: #fff;
    text-decoration: none;
    transition: all ease 1s;
    position: relative;
    z-index: 1;
    border-radius: 0px;

}

/*.button4:after {
    content: "";
    position: absolute;
    background: linear-gradient(#2B2B2B, #3C3F41);
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .9;
    transition: all 1s;
    border-radius: 3px;
}*/

/*.button4:hover:after {
    color: #000;
    left: 0;
}*/
.su_search_left_menu {
    padding: 0;
}

.su_search_left_menu li a {
    color: #fff;
    display: inline-block;
    padding: 4px 13px;
    width: 100%;
}

.su_search_left_menu.collapse {
    background: #fff none repeat scroll 0 0;
}

.su_search_left_menu li a {
    background: #5f5f5f;
}

.su_search_left_menu li {
    margin-bottom: 2px !important;
}

/*.button4:hover {
    color: #000;
    box-shadow: 0px 2px 0px  #2C3E50;
}*/
.footer-space {
    padding: 5px;
    background: #0D9746;
}

.footer-space ul li {
    display: inline;
}

.footer-space ul li a {
    color: #fff;
    padding: 8px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.footer-space ul {
    margin: 0px;
    padding: 10px;
}

.su_custom_padding p {
    font-size: 13px;
    padding: 5px;
    margin: 0px;
}

.resume-table h5 {
    background: #FFFFFF;
    padding: 15px;
    color: #F44336;
    font-size: 19px;
    text-align: center;
    font-weight: bold;
}

ul#left-menu li a {
    background: #558B2F;
    color: #fff;
    padding: 7px;
}

.su_active_ul {
    overflow: hidden
}

.su_active_li {
    list-style: none;
    background: #558B2F;
    margin-bottom: 7px;
    /*box-shadow: 0px 3px 0px #2C3E50;*/
    border-radius: 2px;
}

.su_active_a {
    display: inline-block;
    line-height: 20px;
    width: 100%;
    text-align: left;
    color: #fff;
    text-decoration: none;
    transition: all ease 1s;
    position: relative;
    z-index: 1;
    border-radius: 3px;

}

/*.su_active_a:after{content: "";
    position: absolute;
    background: linear-gradient(#34495e, #3C434C);
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .9;
    transition: all 1s;
    border-radius: 3px;}
.su_active_a:hover:after {
    color: #000;
    left: 0;
}*/
/*.su_active_a:hover {
    color: #000;
    box-shadow: 0px 2px 0px  #2C3E50;
}*/
#left-menu li ul li a {
    padding: 5px;
    background: #325644;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    color: #fff;
}

.su_mainmenu {
    background-color: #0B763B
}

.su_mainmenu .navbar-text {
    color: #fff;
}

.su_mainmenu .navbar-nav > li > a {
    color: #fff;
    font-size: 12px
}

.su_mainmenu .navbar-brand {
    color: #fff;
}

.su_mainmenu .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #008000;
    background-color: transparent;
}

.su_mainmenu .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}

/*.su_mainmenu .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #0D9947;
}*/

.su_mainmenu .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}

.su_mainmenu .navbar-toggle {
    border-color: transparent;
}

.su_mainmenu .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.su_mainmenu .navbar-toggle .icon-bar {
    background-color: #fff;
}

.su_mainmenu .navbar-collapse,
.su_mainmenu .navbar-form {
    border-color: #0D9947;
}

.su_mainmenu .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #0D9947;
    color: #fff;
}

@media (max-width: 767px) {
    .su_mainmenu .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #0D9947;
    }

    .su_mainmenu .navbar-nav .open .dropdown-menu .divider {
        background-color: #0D9947;
    }

    .su_mainmenu .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }

    .su_mainmenu .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }

    .su_mainmenu .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #0D9947;
    }

    .su_mainmenu .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}

.su_mainmenu .navbar-link {
    color: #9d9d9d;
}

.su_mainmenu .navbar-link:hover {
    color: #fff;
}

.su_mainmenu .btn-link {
    color: #9d9d9d;
}

.su_mainmenu .btn-link:hover, .navbar-inverse .btn-link:focus {
    color: #fff;
}

.su_mainmenu .btn-link[disabled]:hover, .navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:hover,
fieldset[disabled] .navbar-inverse .btn-link:focus {
    color: #444;
}

.navbar {
    margin-bottom: 0px !important;
}

.banner-heading {
    text-align: center;
}

.su_search_left_menu {
    padding: 0;
}

.su_search_left_menu li a {
    color: #fff;
    display: inline-block;
    padding: 4px 13px;
    width: 100%;
}

.su_search_left_menu.collapse {
    background: #fff none repeat scroll 0 0;
}

.su_search_left_menu li a {
    background: #5f5f5f;
}

.su_search_left_menu li {
    margin-bottom: 2px !important;
}

/* ====================Media Query =========================*/
/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .banner-heading h2 {
        color: #ccccd2 !important;
    }

}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .banner-heading h2 {
        color: yellowgreen !important;
    }

    .lang.su_a.ng-binding.active {
        margin-top: 5px !important;
    }

    .lang.su_a.ng-binding {
        margin-top: 5px !important;
    }

}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

    .banner-heading h2 {
        color: red !important;
    }

    .candidates-list {
        text-align: center;
    }

    .dte-center {
        text-align: center;
    }

    .col-md-12.btn-su {
        text-align: center !important;
        margin-bottom: 15px;
    }

    .col-sm-9.col-md-9.my_job_app {
        text-align: center;
    }

    .button4 {
        text-align: center;
    }

    .heading_center {
        text-align: center;
    }

    .responsive_padding {
        padding: 0;
    }

    /*.pull-right{
        float: none !important;
    }*/
    .btn_res_margin {
        margin-top: 5px;
        text-align: center !important;
    }

    .btn_input_left_big input {
        width: 62%;
        float: left;
    }

    .btn_input_left input {
        width: 85%;
        float: left;
    }

    .btn_res_left {
        float: left;
        width: 15%;
    }

    h2.ng-binding {
        font-size: 24px;
        text-align: center;
    }

    .btn_center {
        text-align: center;
    }

    .parallelogram2 {
        display: none;
    }

    .cover-header-area {
        margin-left: -15px;
        margin-right: 0px;
    }

    .ins-logo img {
        height: 68px;
        left: 18px;
        padding-top: 6px;
        position: absolute;
        top: 0;
        width: 64px;
    }

    .ins-logo {
        height: 0 !important;
        left: 32px;
        padding-top: 0 !important;
        position: absolute;
        top: 0;
        width: 105px;
    }

    .banner-heading {
        color: #fff;
        left: 0 !important;
        position: absolute !important;
        top: 79px !important;
        text-align: center !important;
    }

    .ins-logo {
        height: 96px !important;
        left: 50% !important;
        margin-left: -47px !important;
        padding-top: 34px !important;
        position: absolute !important;
        text-align: center !important;
        top: 0 !important;
        /*width: 100% !important;*/
    }

    .banner-heading h2 {
        font-size: 18px !important;
        margin-left: 0px !important;
    }

    .banner-heading h3 {
        margin-top: 4px;
        margin-left: 0px !important;
        font-size: 15px;
    }

    .navbar-collapse.collapse.in li {
        float: none;
        text-align: center;
    }

    .navbar-collapse.collapse.in ul {
        margin-top: 55px !important;
    }

    .lang.su_a.ng-binding {
        width: 100% !important;
    }

    .col-md-12.col-xs-12.col-lg-12.col-sm-12 {
        padding: 0
    }

    .container.no-print.ng-scope {
        padding: 0;
    }

}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

    .banner-heading h2 {
        color: deeppink !important;
    }
}

/*===========================================End Media Query=============================================*/
.full-resume-view .table {
    width: 100%;
    height: 325px;
    margin: 0px;
}

.dte_marz-right {
    margin-right: 15px;
}

.single_job {
    padding: 5px 0px;
}

.single_job input {
    margin-bottom: 10px;
    border: 0;
    background: #ddd;
}

.job_area {
    background: #ccc;
}

.col-md-12.btn-su {
    text-align: right;
}

.badge {
    background-color: #426686 !important;
}

.sp-inst h3 {
    margin: 0px 0px 20px 0px;
    text-align: center;
    padding: 3px;
    background: #568855;
    color: #fff;
    font-size: 15px;
}

.hr-show {
    color: #568855;
    border: 1px solid;
    margin-top: 0px;
}

.su_emp_pad li a {
    padding: 15px 10px;
}

.col-md-4.cv_image img {
    border-radius: 100px;
    height: 110px;
    margin-top: 19px;
    width: 110px;
}

.cv_short_image img {
    border-radius: 100px;
    height: 110px;
    margin-top: 15px;
    width: 110px;
    border-radius: 100px;
}

.emp_logo img {
    background: #eee none repeat scroll 0 0;
    border: 2px solid #ccccd2;
    border-radius: 6px;
    height: 100px;
    margin-bottom: 5px;
    padding: 4px;
    width: 140px;
}

.govt-logo {
    right: 0;
    z-index: 999;
}

.govt-logo img {
    height: 163px;
    margin-top: 11px;
    width: auto;
}

.footer-copy-right-text {
    background: #0B763B;
    color: #fff
}

.dte-center-all {
    text-align: center;
}

.report_dialog h2 {
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
}

/*.message.error.ng-binding {
background: #e74c3c;
    color:#fff;
}
.message.success{
    background: #006633;
    color:#fff;
}
.message.warning{
    background: #006666;
    color:#fff;
}*/
.message.error > b {
    float: right;
}

.message.success > b {
    float: right;
}

.message.warning > b {
    float: right;
}

.message.jj {
    position: absolute;
    z-index: 99;
    top: 38px;
    right: 20px;
}

.message.error.jj b {
    margin-left: 15px;
}

.message.error.jj .fa-exclamation-triangle {
    margin-right: 15px;
    font-size: 25px;
}

.message.success.jj b {
    margin-left: 15px;
}

.message.success.jj .fa-check {
    margin-right: 15px;
    font-size: 25px;
}

.message.warning.jj b {
    margin-left: 15px;
}

.message.warning.jj .fa-exclamation-triangle {
    margin-right: 15px;
    font-size: 25px;
}

.error {
    color: white;
    background-color: #ff8f00ed;
}

.success {
    color: #3c763d;
    background-color: #dff0d8f0;
    border: 1px solid #d6e9c6;
}

.warning {
    color: white;
    background-color: #ff8f00ed;
}

.book-details {
    padding-right: 0px;
    height: 150px;
}

.book-details-button button {
    visibility: hidden;
}

.book-details-button:hover button {
    visibility: visible;
}

.book-details p {
    margin: 0px;
    font-size: 12px;
}

.col-head {
    margin: 0px;
    padding: 0px !important;
    /*  background: rgba(38, 59, 66, 0.77);*/
    background: rgb(11, 118, 59);
    margin-bottom: 15px;

}

a.su_badge.badge.ng-binding {
    background: #FF3333 !important;
    border-radius: 4px;
}

.mpo_submenu ul li {
    display: inline-block;
}

.mpo_submenu ul li a {
    padding: 10px 16px;
    background: green;
    color: #fff;
    border-radius: 4px;
}

.mpo_submenu ul li a:hover {
    background: #263B42;
}

.col-sm-12.col-head.dte_col-head {
    border-radius: 3px;
}

/*============*/
.pie-title-center {
    display: inline-block;
    position: relative;
    text-align: center;
}

.pie-value {
    display: block;
    position: absolute;
    font-size: 14px;
    height: 40px;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -20px;
    line-height: 40px;
}

.institute-dash h3 {
    margin: 0px;
    padding: 15px;
    color: #fff;
    background: #0B763B;

}

.custom-form {
    background: #fff !important;
}

.custom-form .modal-header {
    background: #0B763B;
    padding: 10px;
    color: #fff;
}

.chart_title h3 {
    font-size: 13px;
    text-align: center;
}

.chart_title {
    margin-bottom: 80px;
}

.chart_title h3 {
    margin-top: 5px;
}

.nv-legendWrap.nvd3-svg {
    display: none;
}

.ng-isolate-scope svg {
    height: 220px !important;
}

.institute-home h3 {
    background: #f3f3f4;
    padding: 15px;
    color: #888888;
}

#myIncrementSetupLabel {
    background: #009200;
    padding: 7px 15px;
    color: #fff;
    font-size: 16px;
}

.gazette-setup {
    padding: 15px 0px;
}

.institute-token {
    width: 50%;
    color: #009688;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
    font-size: 13px;
}

.institute-token p {
    margin: 0px;
    padding: 3px 0px;
}

.institute-token span {
    padding: 5px;
    color: #fff;
    background: #558b2f;
}

.institute-token span:hover {
    background: #0D9947;
    color: #E2ECEC;
}

.committee .modal-header {
    background: #008000;
    padding: 10px;
    color: #fff;
}

.su_serv_menu li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 15px !important;
}

.job-seeker-register ul li {
    display: inline-block;
}

.job-seeker-register ul li a {
    background: #9E9E9E;
    padding: 7px 10px;
    font-size: 12px;
    color: #fff;
    border-radius: 30px;
    transition: all .4s;
}

.job-seeker-register ul li a:hover {
    background: #0B763B;
    color: #ddd;
}

.institute-home p {
    margin: 0px;
    font-size: 17px;
    padding-bottom: 7px;
    margin-top: 5px;
}

.education-infor h3 {
    background: #0B763B;
    margin: 0px;
    color: #fff;
    font-size: 19px;
    padding: 5px;
}

.Nationality-info .table tr .ng-scope, .education_q .table tr td .ng-scope {
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
}

.Nationality-info .table tr .ng-binding, .education_q .table tr td .ng-binding {
    color: #0B763B;
    font-weight: bold;
}

.mpochart a {
    text-decoration: none;
}

.mpochart {
    font-size: 10px;
    font-weight: normal;
    position: absolute;
    right: 33px;
    top: 39px;
}

.mpochart2 {
    font-size: 10px;
    font-weight: normal;
    position: absolute;
    right: 34px;
    top: 23px;
}

.mpochart .fa {
    color: #F42A41;
    margin-top: 3px;
    font-size: 14px;
}

.mpochart2 .fa {
    color: #0D9947;
    margin-top: 3px;
    font-size: 14px;
}

.edu-info {
    color: #000;
}

.nav-tabs > li {
    /* float: left !important;*/
    margin-bottom: 2px !important;
    /*width: 25% !important;*/
    text-align: center !important;
}

.col-sm-5.hrmsearch input {
    font-size: 13px;
    color: #000;
    padding: 2px 5px;
}

.col-sm-5.hrmsearch {
    margin: 5px 10px;
}

ul.nav.nav-tabs.nav-justified li a {
    font-size: 14px;
    padding: 5px !important;
    border: 1px solid #ffffff;
    display: block;
}

.counter {
    background: #FF8605;
    border-radius: 2px;
    color: #fff;
    font-size: 9px;
    left: 8px;
    padding: 3px 4px 5px 3px;
    position: absolute;
    top: -12px;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    text-decoration: none;
}

.history_area h2 {
    color: #111;
    font-size: 15px;
    padding: 7px 0px;
    border-bottom: 1px solid #fff;
}

.carousel-inner .item img {
    height: 320px;
    width: 100%;
}

.chairman_img img {
    height: 172px;
    width: auto;
    padding: 4px;
    background: #0D9947;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

.home-des p {
    text-align: justify;
}

.home-des {
    background: #d6e9c6;
    padding: 17px;
    box-shadow: 0px 0px 6px 4px #ccc;
}

.history_area {
    margin-bottom: 20px;
}

#scrollUp {
    bottom: 0px;
    right: 0;
    padding: 0px 0px;
    color: #fff;
    text-align: center;
    margin-right: 0px;
}

#scrollUp .fa {
    font-size: 18px;
    color: #fff;
    height: 30px;
    width: 30px;
    background: rgba(255, 0, 0, 0.44);
    border-radius: 100px;
    padding-top: 7px;
}

.book-issue {
    background: #fff;
}

.b-error {
    color: #f00;
}

.inst-info-by-code {
}

.table th {
    font-size: 14px !important;
    font-weight: normal;

}

/*------ DL -------*/
.col-head-heading {
    padding: 5px;
    color: #fff;
}

.dl_img_title h3 {
    color: #0c5502;
    font-weight: 700;
    margin: 0 0 7px;
    padding: 0;
    font-size: 18px;
}

.dl_img_title h3 .dltitle {
    color: #777;
    font-weight: 700;
    margin: 0 0 7px;
    padding: 0;
    font-size: 18px;
}

.dl_img_title p {
    color: #0c5502;
    font-size: 15px;
}

.dl_img_title p span {
    color: #0c5502;
    font-size: 15px;
}

.dl_rating_area .fa.fa-star {
    color: green;
}

.dl_rating_area .fa.fa-star-half {
    color: green;
}

.dl_rating_area {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.library_book_img img {
    background: #ccc none repeat scroll 0 0;
    border: 4px solid green;
    padding: 4px;
    transition: all ease .5s;
    width: 100%;
    height: 300px;
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 3px;
}

.library_book_img {
    position: relative;
    text-align: center;
    height: 300px;
    transition: all ease .5s;
}

.dl_view_area {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 400px;
    transition: all ease .5s;
    z-index: 1;
}

.dl_view_area:before {
    position: absolute;
    top: 0%;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: #333;
    opacity: .5;
    z-index: -1;
    transition: ease all .5s;
}

.dl_view {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

.dl_view_btn {
    display: table-cell;
    vertical-align: middle;
}

.dl_view_btn a {
    padding: 7px 20px;
    border-radius: 3px;
    color: #fff;
}

.library_book_img {
    overflow: hidden;
    box-shadow: 0px 0px 3px 0px black;
}

.library_book_img:hover .dl_view_area {
    right: 0;
}

.library_img_area {
    margin-top: 64px;
    margin-left: 10px;
}

.borderless {
    box-shadow: 0px 0px 3px 0px black;

}

.borderless td, .borderless th {
    border: 1px dotted #ccc !important;
}

.dl_cat li {
    float: left;
    display: inline;
}

.dl_value span.form-control-static.ng-binding {
    font-size: 12px;
}

.dl_value a {
    font-size: 12px;
}

.dl_cat li a {
    padding: 5px 20px;
    background: #0D9746;
    border-radius: 13px;
    color: #fff;
    margin-right: 10px;
    transition: all ease .5s;
}

.dl_cat li a:hover {
    color: #d4d4d4;
    background: green;
}

.dl_single_similar_product img {
    height: 152px;
}

.dl_single_similar_product {
    width: 120px;
    transition: all 0.5s ease 0s;
    padding: 10px 5px;
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 3px;
    text-align: center;
    margin: 8px auto;
}

.dl_single_similar_product:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 13px 0px black;
}

.dl_single_similar_product h3 {
    margin: 7px 0px 0px;
    padding: 0;
    font-size: 13px;
}

.similar_title {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.tooltip_text {
    position: relative;
    display: inline-block;
}

.tooltip_text .tool_text {
    visibility: hidden;
    width: 80px;
    background-color: #D95252;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -40px;
}

.tooltip_text .tool_text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #D95252 transparent transparent transparent;
}

.tooltip_text:hover .tool_text {
    visibility: visible;
}

.sis_menu li a {
    padding: 10px !important;
}

/*=================== Custom Menu =========================*/

.custom-menu {
    padding: 0;
    /*background:#2F4050*/
    background: #0D9947;
}

.custom-menu li ul {
    padding-left: 0;
    transition: .5s;
    /* background:#293846 ;*/
    background: #0D9947;
}

.custom-menu li ul li {
    /* border-left: 2px solid #FF596D;*/
    border-left: 2px solid red;
}

.custom-menu li ul li a {
    padding-left: 41px;
    background: green;
}

.custom-menu li ul li a.active {
    /*background: #222F3E;*/
    background: #0c4e27;
}

.custom-menu li ul li a:hover {
    /*background:#222F3E ;*/
    background: #0c4e27;
}

.custom-menu li a {
    color: #fff;
    display: block;
    padding: 10px 16px;
    font-size: 13px;
    background: #558b2f;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.custom-menu li a .fa {
    margin-right: 15px;
    font-size: 16px;
    color: #fff;
}

.custom-menu li a.active {
    /*background: #293846;*/
    background: #0c4e27;
    color: #fff;
    /* border-left: 5px solid #FF596D;*/
    border-left: 5px solid red;
}

.custom-menu li a.active .fa {
    /*color:#FF596D;*/
    color: red;
}

.custom-menu li a:hover {
    /*background: #293846;*/
    background: #388b20;
    color: #fff;
    /*border-left: 5px solid #FF596D;*/
    border-left: 5px solid red;
}

.custom-menu li a:hover .fa {
    /*color:#FF596D;*/
    color: red;
}

.su_custom_dl_design h2 {
    background: #fff !important;
    color: #313131 !important;
    border-bottom: 1px solid #d3d3d3;
}

/*======================== Book Information =============================*/
.single-book-info {
    height: 230px;
    width: 314px;
    padding: 5px;
    transition: .5s;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

.single-book-info:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.left-book-img {
    float: left;
    height: 220px;
    width: 155px;
}

.left-book-img img {
    height: 100%;
    width: 100%;
    padding: 15px;
    background: #fff;
}

.book-details-info {
    float: left;
    background: #fff;
    padding: 13px 0px 0px 0px;
    width: 149px;
    height: 222px;
}

.book-details-info p {
    color: rgba(51, 51, 51, 0.67);
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.book-details-info p:nth-child(1) {
    color: rgba(85, 85, 85, 0.67);
    padding: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #c2ccd1;
    font-weight: 700;
}

.book-detail-button {
    position: absolute;
    bottom: 5px;
    left: 25px;
}

.book-detail-button .fa {
    font-weight: normal;
    font-size: 18px;
    margin-right: 10px;
    color: #a7b1c2;
    height: 30px;
    width: 30px;
    text-align: center;
    transition: .5s;
    padding-top: 6px;
    background: #ddd;
    border-radius: 100px;
}

.book-detail-button .fa:hover {
    border-radius: 100px;
    background: #0c4e27;
    color: red;
    padding-top: 6px;
}

.download-btn {
    background: #FFF;
    padding: 5px 0px;
    color: #009200;
    font-weight: bold;

}

/*----==== search button ====----*/
.dlbtn {
    background: #0c4e27;
    color: #fff;
    text-shadow: none;
    border: 1px solid #0c4e27;
}

.dlbtn-top {
    margin-top: 20px !important;
}

.job-suggetion-area {
    margin: 5px 0px;
    background: #fff;
    padding: 20px 0px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: .5s;
}

.job-suggetion-area .col-md-8 {
    text-align: right;
}

.job-suggetion-area a {
    padding: 3px 0px;
    display: block;
}

.job-suggetion-area:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.page-title {
    background: #0B763B;
    color: #fff;
    padding: 1px 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.dl-table {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: .5s;
}

.dl-table tbody {
    background: rgba(93, 255, 131, 0.66);
    transition: .5s;
}

.activestatus {
    color: #fff;
    background: green;
    padding: 1px 10px;
    border-radius: 2px;
    font-size: 10px;
    text-transform: uppercase;
}

.inactivestatus {
    color: #fff;
    background: #dad4d4;
    padding: 1px 10px;
    border-radius: 2px;
    font-size: 10px;
    text-transform: uppercase;
}

.modal-header {
    padding: 7px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.428571429px;
    background: #558b2f;
    color: #fff;
}

.inst-emp-appr .nav-tabs > li {
    float: left !important;
    margin-bottom: -1px !important;
    width: 16.59% !important;
    text-align: center !important;
}

.three_tab ul li {
    display: inline-block;
    width: 33.33% !important;
}

.mpo-detail .nav-tabs > li, .bed-pending .nav-tabs > li, .profe-pending .nav-tabs > li {
    float: left !important;
    margin-bottom: -1px !important;
    width: 20% !important;
    text-align: center !important;
}

.search-three input {
    height: 25px !important;
    color: #000 !important;
    padding: 0px !important;
    margin: 10px 0px;
}

.sis-two-tab ul li {
    display: inline-block;
    width: 50% !important;
}

.sis-seven-tab ul li {
    display: inline-block;
    width: 14.28% !important;
}

.sis-seven-tab ul li a {
    padding: 10px 1px !important;
    font-size: 13px !important;
}

.sis-two-tab table thead tr th {
    background: #0D9947 !important;
}

.border-line h5 {
    font-size: 15px;
    background: #ccc;
    padding: 3px 10px;
    color: rgba(97, 97, 97, 0.94);
    border-radius: 3px;
}

form.sis-dialog.ng-pristine.ng-scope.ng-invalid.ng-invalid-required label {
    font-size: 13px;
    font-weight: 400 !important;
}

.searchText {
    height: 30px;
    color: #000;
    font-size: 13px;
}

.highlightedText {
    color: #009688;
    font-weight: bold;
}

.hr_label label {
    font-weight: bold !important;
}

.time-scale table tr th {
    background: #0D9947 !important;
    padding: 3px !important;
    font-size: 14px !important;
}

.time-scale table tr td {
    padding: 10px;
    font-size: 14px;
    font-family: "Times New Roman", Georgia, Serif;
}

.tab-5 ul, .mpo-detail ul, .bed-pending ul, .profe-pending ul, .tab-3 ul, .tab-6 ul {
    padding: 0px !important;
}

.tab-5 ul li {
    width: 20% !important;
}

.tab-6 ul li {
    width: 16.5% !important;
}

.tab-3 ul li {
    width: 33.33% !important;
}

.leads-icon {
    position: absolute;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    right: 0;
}

.jobs li .media {
    border: none !important;
}

.nav-tabs > li > a {
    background: #558b2f !important;
    color: #fff;
}

.hrm-dash .table thead tr th {
    background: #4caf50;
    color: #fff;
}

.general-title .panel-heading {
    background: #4caf50;
    border: 0px;
    color: #fff;
}

.custom-badge {
    background: red;
    padding: 1px 5px;
    color: #fff;
    border-radius: 3px;
    font-weight: 700;
}

.nav-tabs-justified, .nav-tabs.nav-justified, .nav-tabs.nav-justified {
    border-bottom: 0;
    padding: 0px 0px;
}

.tab-content > .tab-pane {
    border: 0px !important;
}

.input-group-addon, .input-group-btn, .input-group .form-control, input {
    font-size: 12px !important;
}

.alert {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 0px;
    font-size: 13px;
}

.check-box {
    width: 100%;
    float: left;
}

.check-box:hover {
    font-size: 13px;
    color: #009200;
}

.common-list {
    padding: 5px;
    border: 1px solid #E0E0E0;
    background: #f1f1f1;
}

.common-list:hover {
    border: 1px solid #EEEEEE;
}

.common-list h2, .common-table h2 {
    padding: 8px 15px;
    margin: 0px;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    background: #558b2f;
    color: #fff;
    border-radius: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.common-list h3 {

}

.common-list .table > thead > tr > th {
    background: #2e6da4;
    padding: 5px;
    margin: 0px;
    font-size: 12px !important;
    font-weight: bold;
    color: #ffffff;
}

.common-list .table > tbody > tr:nth-of-type(odd) {
    background-color: rgba(158, 158, 158, 0.2);
}

.common-list .table > tbody > tr:hover {
    background-color: rgba(85, 139, 47, 0.48);
}

.common-table .table > tbody > tr:nth-of-type(odd) {
    background-color: rgba(104, 159, 56, 0.2)
}

.common-table .table > tbody > tr:hover {
    background-color: rgba(85, 139, 47, 0.48);
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700');
.common-list .table > tbody > tr > td {
    font-family: 'Open Sans', sans-serif;
    border: 1px solid rgba(138, 126, 126, 0.09);
    font-size: 12px;
    padding: 2px 3px;
    vertical-align: middle;
    color: #555;
}

.table > thead > tr {
    font-family: 'Open Sans', sans-serif !important;
}

.common-head-sec {
    padding: 15px 0px;
}

.common-table {
    padding: 5px;
    background: #fff;
}

.common-table .table > tbody > tr > td {
    border-bottom: 1px solid #e4dede;
    font-size: 14px;
    padding: 6px 5px;
    color: #333;
}

.common-table .table.four-col > tbody > tr > td:nth-child(odd) {
    color: #444;
    font-weight: 600;
}

.common-table .education-infor .table > tbody > tr > td:nth-child(even):before {
    content: "  " !important;
    font-weight: normal !important;
}

/*.common-table .table > tbody > tr > td:nth-child(even):before{
    content: " : ";
    font-weight:bold;
    font-family: roboto;
}*/
.jpLanguage .table > tbody > tr > td:nth-child(even):before {
    content: "  " !important;
    font-weight: 300 !important;
    font-family: roboto;
}

.common-table .table > tbody > tr > td:nth-child(odd) {
    /*font-weight:bold;*/
    font-family: roboto;
    /*color: rgba(51,51,51,0.74);*/
}

.jpLanguage .table > tbody > tr > td:nth-child(odd) {
    font-weight: 400 !important;
    font-family: roboto;
    color: #333;
}

.common-table .table-content {
    padding: 10px 30px;
}

.common-table .table > thead > tr > th {
    padding: 3px 10px;
    background: #2e6da4;
    font-weight: bold;
    color: #fff;
    font-size: 12px !important;
}

.back-button {
    padding: 15px;
    background: #ddd;
}

.sis-image img {
    width: 132px;
    height: 170px;
    border: 1px solid #ddd;
    padding: 5px;
    background: #efefef;
}

.sis-image img:hover {
    border: 1px solid #444;
    background: #fff;
}

.sis-search-content {
    margin-top: 25px;
}

.common-dialogue {
    border: 1px solid #e1e1e1;
    padding: 5px;
    background: #fff;
}

.common-dialogue h4 {
    padding: 8px 15px;
    margin: 0px;
    font-size: 16px;
    font-family: inherit;
    font-weight: bold;
    background: #558b2f;
    color: #fff;
    border-radius: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hrm-dash h2 {
    margin: 0px;
    background: #f3f3f4;
    color: #888888;
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

.hrm-view span {
    color: #000;
}

.hrm-dash form.form-horizontal {
    border: 0px;
}

.hrm-dash .hrm-view h5 {
    background: #A5D6A7;
    margin: 0px;
    padding: 5px 15px;
}

.hrm-dash ul {
    padding: 0px !important;
}

.lbl-dash {
    background: #f3f3f4;
    padding-right: 15px;
    padding-left: 0px;
}

.lbl-content {
    background: #fff;
    padding: 15px;
}

.common-list .three_tab ul {
    padding: 0px !important;
}

.sis-seven-tab ul {
    padding: 0px !important;
}

.p-erroe p {
    font-size: 10px;
    color: #f00;
}

.btn-top {
    margin-top: 20px;
}

.common-table h3, .common-dialogue h3, .common-list h3 {
    background: rgb(103, 159, 56);
    margin: 0px;
    padding: 5px;
    margin-top: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 2px;
}

.jpResume .table th {
    background: #9e9e9e !important;
}

.inst-level {
    padding: 0px;
}

.inst-level li {
    display: inline-block;
    width: 100%;
    padding: 0px;
}

.inst-level li a {
    padding: 8px 0px 6px 10px;
    color: #fff;
    display: inline-block;
    width: 88%;
    background: #009688;
    margin: 0px 0px 0px 15px;
    border-bottom: 1px solid #000;
}

.inst-level li a:hover {
    background: #009200;
}

.staff-info .table tr td {
    width: 50%;
}

.staff-info .table tr td:nth-of-type(even) {
    text-align: center;
}

label {
    font-weight: 500 !important;
    font-size: 13px !important;
    color: #666666;
}

input#searchTextApp, input#searchText, input#searchTextRej {
    color: #000 !important;
    padding: 5px !important;
    margin: 6px 0px !important;
}

.no-right {
    padding-right: 0px;
}

.no-left {
    padding-left: 0px;
}

.jp-lang th {
    color: #fff !important;
}

/*=====================================Preloader Css Added by Suharta================================================*/
.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4CAF50;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

.single-user-address {
    background: #fff;
}

.single-user-address img {
    height: 25px;
}

/*Home Dashboard*/

.das-notice {
    display: inline-block;
    font-weight: bold;
    border: 2px solid #999;
    padding: 7px 40px;
    color: #222;
    margin-bottom: 20px;

}

.home-dashboard {

}

.home-dashboard-left-panel {
    background: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.home-dashboard-left-panel .left, .home-dashboard-left-panel .right {
    display: inline-block;

}

.home-dashboard-left-panel .fa {
    font-size: 19px;
    padding: 0 15px;
    color: #fff;
    background: #444;
    border-radius: 2px;
    transition: .4s;
}

.home-dashboard-left-panel .fa:hover {
    background: #777;
    color: #222;
}

.home-dashboard-left-panel .carousel-inner {
    height: 100px;
}

.single-comments-area {
    margin-top: 30px;
    background: #fff;
    padding: 20px 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.single-dash {
    text-align: left;
    padding: 15px;
}

.single-dash h4 {
    font-size: 15px;
    text-transform: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

.single-comments-area h4 {
    font-size: 15px;
    color: #444;
    display: inline-block;
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
}

.single-comments-area {
    text-align: center;
}

.single-comments-area p {
    color: #444;
}

.single-dash a {
    text-align: right;
    padding: 5px;
    border: 1px solid #333;
    display: inline-block;
    margin-top: 9px;
    text-decoration: none;
}

.home-dashboard-left-panel ul {
    padding: 0;
    margin: 0;
}

.home-dashboard-left-panel ul li a {
    padding: 4px 0;
    display: block;
}

.slide p, .slide a {
    color: #444;
    padding: 15px;
}

.customfa {
    display: inline;
    top: 50%;
    position: absolute;
    margin-top: -10px;
}

div#myCarousel {
    position: relative;
}

.customfa .fa {
    color: #fff;
    height: 30px;
    width: 30px;
    background: rgba(0, 0, 0, .7);
    line-height: 27px;
    font-size: 24px;
    border: 1px solid #fff;
    opacity: 0.6;
    transition: .4s;
}

.customfa .fa:hover {
    opacity: 1;
}

.left.customfa {
    left: 10px;
}

.right.customfa {
    right: 10px;
}

.admin-photo {
    text-align: center;
}

.admin-photo img {
    height: 120px;
    border: 1px solid #ddd;
    padding: 3px;
}

/*----=======///// Admin Dashboard \\\\\======----- */
.welcome {
    text-align: center;
}

.welcome h4 {
    font-weight: 300;
    text-transform: capitalize;
    font-size: 25px;
    padding: 21px;
}

.registerMessage p {
    background: #2e6da4;
    padding: 80px;
    color: #f5f5f5;
    font-size: 35px;
    font-weight: bold;
    border-radius: 10px;
}

.registerMessage {
    padding: 50px !important;
    background: #eee !important;
    margin-top: 25px;
    border-radius: 5px !important;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

.registerMessage p a {
    color: #eee;
    text-decoration: underline;
    font-size: 15px;
    padding: 15px;
}

.registerMessage p a:hover {
    font-size: 16px;
}

.nav-tabs > li.active {
    border: 0px !important;
}

#ulcolor3 li.active {
    background: #263B42;
}

.padding-left0 {
    padding-left: 0px !important;
}

.padding-right0 {
    padding-right: 0px !important;
}

ul.dropdown-menu.notify {
    background: #fff !important;
    box-shadow: 0px 0px 6px 1px #666;
    padding: 0px 5px !important;
}

ul.dropdown-menu.notify li a {
    padding: 15px 15px 15px 13px;
    font-weight: normal;
    font-size: 12px !important;
    color: #444 !important;
    box-shadow: 0px 1px 3px #999;
    margin-top: 11px;
    border: none !important;
    border-radius: 3px;
}

.notify .fa {
    height: 20px;
    width: 20px;
    background: #558b2f;
    text-align: center;
    line-height: 19px;
    border-radius: 30px;
    color: #fff;
    font-size: 10px;
}

ul.dropdown-menu.notify li a:hover {
    color: #fff !important;
    background: #558b2f !important;
}

ul.dropdown-menu.notify li a:hover .fa {
    background: #fff !important;
    color: #558b2f !important;
}

ul.dropdown-menu.notify li.active a {
    background: #558b2f !important;
    color: #fff !important;
}

ul.dropdown-menu.notify li.active a .fa {
    background: #fff !important;
    color: #558b2f !important;
}

.hr-img img {
    margin: 10px 0;
}

.short-pda-sec h3 {
    font-size: 16px;
    font-weight: bold;
    background: lightseagreen;
    padding: 5px;
    color: #fff;
    margin: 0px;
}

.short-pda-sec table th {
    background: rgba(51, 51, 51, 0.37) !important;
    padding: 2px 5px !important;
    font-size: 12px !important;
    text-align: left;
}

.tab-ribbon-area {
    position: relative;
}

.tab-ribbon {
    position: absolute;
    top: -9px;
    background: red;
    color: #fff;
    border-radius: 26px;
    padding: 0px 6px;
    left: 3px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 0px 3px 0px #000;
    font-size: 9px;
    letter-spacing: 0px;
}

.tab-ribbonupdate {
    position: absolute;
    top: -9px;
    background: #1e51a2;
    color: #fff;
    border-radius: 26px;
    padding: 0px 6px;
    right: 3px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 0px 3px 0px #000;
    font-size: 9px;
    letter-spacing: 0px;
}

.tab-border {
    position: absolute;
    top: -31px;
    height: 21px;
    width: 73%;
    left: 14px;
    border-top-left-radius: 95px;
    border-top-right-radius: 96px;
    border: 2px dotted #666;
    border-bottom: 0px;
    color: #000;
}

.tab-border-text {
    position: absolute;
    top: -40px;
    color: #666;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    background: #fff;
    padding: 0px 6px;
    left: 37%;
    border: 2px dotted #666;
    border-radius: 13px;
}

.tis-heading h5 {
    margin: 0px;
    padding: 5px 15px;
    background: #337ab7;
    color: #fff;
    font-size: 12px;
}

.global-th .table > thead > tr > th {
    padding: 3px 10px;
    background: #2e6da4;
    font-weight: bold;
    color: #ffffff;
}

.trainerinfo {
    border-bottom: 1px solid #95d097;
    padding: 5px 20px;
    font-size: 12px;
    position: relative;
    z-index: 1;
    color: #444;
}

.trainerinfo:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 24px;
    width: 300px;
    background: #95d097;
    z-index: -1;
    border-radius: 0px 100px 0px 0px;
}

/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
    pointer-events: none;
    -webkit-pointer-events: none;
    -webkit-transition: 350ms linear all;
    -moz-transition: 350ms linear all;
    -o-transition: 350ms linear all;
    transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
    opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
    opacity: 1;
}

#loading-bar .bar {
    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    -o-transition: width 350ms;
    transition: width 350ms;
    background: #554be5;
    background: -moz-linear-gradient(left, #554be5 1%, #692d9b 100%);
    background: -webkit-linear-gradient(left, #554be5 1%, #692d9b 100%);
    background: linear-gradient(to right, #554be5 1%, #692d9b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#554be5', endColorstr='#692d9b', GradientType=1);

    position: fixed;
    z-index: 10002;
    top: 0;
    left: 0;
    width: 100%;
    height: 12px;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
    position: absolute;
    width: 12px;
    right: 0;
    top: 0;
    height: 12px;
    opacity: .45;
    -moz-box-shadow: #dd0713 1px 0 6px 1px;
    -ms-box-shadow: #dd0713 1px 0 6px 1px;
    -webkit-box-shadow: #0b5023 1px 0 6px 1px;
    box-shadow: #0b5023 1px 0 6px 1px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

#loading-bar-spinner {
    display: block;
    position: fixed;
    z-index: 10002;
    top: 10px;
    left: 10px;
}

#loading-bar-spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border: solid 5px transparent;
    border-top-color: #dd1007;
    border-left-color: #0b5023;
    border-radius: 50%;
    -webkit-animation: loading-bar-spinner 400ms linear infinite;
    -moz-animation: loading-bar-spinner 400ms linear infinite;
    -ms-animation: loading-bar-spinner 400ms linear infinite;
    -o-animation: loading-bar-spinner 400ms linear infinite;
    animation: loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes loading-bar-spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes loading-bar-spinner {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes loading-bar-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading-bar-spinner {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.center-block h6 {
    padding: 15px;
    background: #4aa50b;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.checkFacilities {
    width: 14%;
    float: left;
    text-align: center;
}

.checkFacilities label {
    width: 98%;
}

/*-------- End Load ---------*/
.mce-branding-powered-by {
    display: none;
}

.responsive-logo {
    display: none;
}

.appreject {
    background: #ddd;
    padding: 2px 5px;
    border-radius: 3px;
}

.boundary {
    border: 1px solid deeppink;
    font-weight: bold;
}

.col-md-12.border-line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.applicant-info ul {
    padding: 0px;
}

.applicant-info ul li span:nth-child(odd) {
    width: 40% !important;
    display: inline-block;
}

.applicant-info ul li span:nth-child(even) {
    width: 60% !important;
    display: inline;
    font-weight: 600;
}

.active {
    background: none !important;
}
.thumbnail-img {
    height: 155px;
    width: 170px;
    background: #ddd;
    float: right;
}
.thumbnail-img img{
    height: 100%;
    width: 100%;
}
