/*light-box css*/
.lb-loader,.lightbox{text-align:center;line-height:0}body:after{display:none}.lb-dataContainer:after,.lb-outerContainer:after{content:"";clear:both}body.lb-disable-scrolling{overflow:hidden}.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}.lightbox{position:absolute;left:0;width:100%;z-index:10000;font-weight:400}.lightbox .lb-image{display:block;height:auto;max-width:inherit;border-radius:3px}.lightbox a img{border:none}.lb-outerContainer{position:relative;background-color:#fff;width:250px;height:250px;margin:0 auto;border-radius:4px}.lb-loader,.lb-nav{position:absolute;left:0}.lb-outerContainer:after{display:table}.lb-container{padding:4px}.lb-loader{top:43%;height:25%;width:100%}.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:no-repeat}.lb-nav{top:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}.lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(../images/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(../images/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{display:table}.lb-data{padding:0 4px;color:#ccc}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(../images/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}
/*light-box css*/



.jpResume{
background:#fff;
border:1px solid #eee;
width:100%;
float:left;
}
.jpResume h3 {
	background-color: #E0E3E6;
	color: #605E5E;
	font-size: 14px;
	font-weight: 600;
	padding: 8px 10px;
	margin: 0px;
}
.jpResume img {
    width: 3.5cm;
    height: 4.5cm;
    padding: 10px;
    padding-top: 0px;
}
.jpResumeTable span{
    font-size:14px;
}
.jpResume table{
    border:0px !important;
}
.jpResume table tr td {
	border: 0px none;
	width: 21%;
	padding: 3px 15px;
}
.jpResume table thead th {
	padding: 3px;
	font-size: 11px;
	background: #eee;
	color: #000;
	border: 0px;
}
.media-list {
    padding: 15px;
    list-style: outside none none;
}
.jobs li .media {
	padding: 0px 0px !important;
	margin: 0px !important;
}
.jobs li .media:hover {
}
.jobs li .media .media-left{
padding: 0px 0px;
}
/*.jobs li .media .media-left:hover{
    background:#eee;

}*/

.main-header{height:200px;background:#0D9947;}


/*.media:odd{
    background: #fff !important;
}*/

/*.jobs li:nth-child(odd){background-color: #c7c7c7; }
.jobs li:nth-child(even){background-color: #ddd;}*/
.jobs li.col-md-3 {
    /*padding: 10px 10px !important;
    box-shadow: 0px 0px 0px 1px #fff;
    transition: 0.3s;
    border-radius: 0px;
    height: 200px !important;
    margin: 5px !important;*/
    margin-bottom: 10px !important;
}
.company-logo{
    height: 100px;
    width: auto;
    border: 1px solid #fff;
    padding: 2px;
}
.jobs li.col-md-3 .job-item-list{
    padding: 10px 10px !important;
    box-shadow: 0px 0px 0px 1px #fff;
    transition: 0.3s;
    border-radius: 0px;
    height: 200px !important;
    margin: 0px !important;
    background-color: #c7c7c7;
}

.jobs li.col-md-3 .job-item-list:hover{
    box-shadow: 0px 0px 10px 0px rgba(12, 12, 12, 0.73);
    z-index: 1;
    border-radius: 3px;
}

.search-result h3 {
    margin: 0px;
    margin-top: 15px;
    background: #0D9947;
    font-size: 13px;
    padding: 5px;
    color: #fff;
}
.search-job-list {
    padding: 0px;
    background: #fff;
    border: 1px solid #ddd;
}
.search-job-list ul {
    padding: 0px;
}
.job-mgmnt .table tr th {
    background: #0D9947;
    padding: 5px 20px;
    color: #fff;
    font-size: 11px;
}
.job-mgmnt-list:hover, .job-mgmnt-list td a:hover{
    background: #ddd;
    color: #009200;
}
.all-job-list {
    background: #fff;
    /*border: 1px solid #ddd;*/
    padding: 0px;
}
.job-lists table th, .job-lists table td {
    padding: 1px 15px;
    font-size: 12px;
}
.job-lists h5 {
    padding: 0px 15px;
    font-size: 14px;
    color: #0b763b;
}
.jobs-list ul {
    margin: 0px;
    padding: 0px;
}
.jobs-list ul li{
    margin: 0px;
    padding: 0px;
    list-style-type: square;
    margin-left: 15px;
    color: #0B763B;
    font-weight: bold;
    font-family: initial;
}
.jobs-list ul li:before{
    color:#f00;
}
.search-result h3 {
    margin: 0px;
    padding: 5px;
    font-size: 13px;
    margin-top: 15px;
    font-family: roboto;
    font-weight: 400;
    background: rgb(13, 153, 71);
    color: #fff;
}
#job-detail-left-info {
    color: #fff;
    background: #0B763B;
    border: 1px solid #CCCCCC;
}
#job-detail-left-info .panel-heading {
    background: #333;
    text-align:center;
}
span.jobs-dinfo {
    font-size: 11px;
    font-family: serif;
}
#job-detail-left-info ul {
    background: #0D9947;
    padding: 0;
    margin:0px;
}
.panel-body.job-summary ul li {
    padding: 3px 25px;
    border-bottom: 2px solid #0B763B;
}
.panel-body.job-summary ul li:hover {
    background: #ddd;
    color: #009200;
}
.media-left img {
    max-width: 85px;
    max-height: 85px;
    box-shadow: 0px 0px 10px 0px rgba(12, 12, 12, 0.73);
}
.job-list-detail {
    padding: 15px 0px;
    border: 1px solid #ddd;
    background: #fff;
}
.job-list-detail h3 {
    background: rgba(158, 158, 158, 0.23);
    padding: 5px;
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
    margin-bottom:0px;
    color: rgba(0, 0, 0, 0.51);
    text-decoration: none;
}
.job-list-detail h5 {
    color: #009200;
    font-size: 15px;
    font-family: sans-serif;
}
.job-list-detail p {
    font-size: 12px;
    padding: 0px 15px;
    line-height: 2;
}
.job-list-detail h4 {
    color: rgba(0, 0, 0, 0.51);
    background: rgb(218, 218, 218);
    padding: 5px;
    font-size: 15px;
    border-radius: 3px;
}
.g li {
    border: none;
    background: #B8CBCF;
    color: #fff;
    padding: 5px;
}
.rgstr{background:#0B763B;color:#fff;}
