@font-face {
    font-family: sutonnyOMJ;
    src: url(/assets/SutonnyOMJ.ttf);
}

html {
    height: 100%
}

body {
    min-height: 100%
}

.btn-width {
    width: 438px;
    color: #0A0A0A;
    background: #eef6ee;
    text-align: right;
    border: 1px solid #bec4be;
}
.padding0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padding-right0 {
    padding-right: 0 !important;
}

.common-list.padding0 {
    padding-left: 0 !important;
    padding-right: 15px !important;
}

#content {
    min-height: 100% !important;
}

.height100 {
    min-height: 66.2%;
}

.dte-main-header {
    background: #689F38;

    /*border-bottom: 1px solid #e4e5e7;*/
}

.footer-space {
    padding: 5px;
    background: #689F38;
}

.footer-copy-right-text {
    background: #558B2F;
    color: #fff;
}

.btn-primary {
    background: #558B2F !important;
}

.dte-logo-right img {
    height: 75px;
    float: right;
    margin: 7px 0px;
}

.dte-logo-left img {
    height: 75px;
    margin: 7px 0px;
}

.dte-header-text {
    text-align: center;
}

.dte-header-text h2 {
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    margin-top: 19px;
    font-size: 25px;
}

.dte-header-text h3 {
    margin: 0;
    text-transform: uppercase;
    color: #fff;
}

#loginbox .panel-pprimary {
    border-color: #fff;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
}

.panel {
    margin-bottom: 0px;
}

ul.dropdown-menu.dte-dropdown-menu li a {
    padding: 8px 15px;
}

ul.dropdown-menu.dte-dropdown-menu li {
    border-bottom: 1px solid green;
}

ul.dropdown-menu.dte-dropdown-menu {
    width: 285px;
}

/*
Notification*/
#notification-menu {
    background: #689F38;
}

.single-notification {
    text-align: right;
}

.single-notification ul {
    margin: 0;
    padding: 0;
    position: relative;
}

.single-notification ul li {
    list-style: none;
    display: inline-block;
}

.single-notification ul li a {
    display: inline-block;
    padding: 0px 23px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

.single-notification ul li .active {
    border-color: red;
    background: red;
    color: #fff;
}

li.language-2 a {
    border: 1px solid #fff;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 7px;
}

.single-notification ul {
    margin-top: 5px;
}

.single-notification ul li ul {
    position: absolute;
    width: 200px;
    right: -90px;
    background: #558B2F;
    z-index: -9999;
    border: 1px solid #488031;
    visibility: hidden;
    transition: all 0.5s ease-out;
    opacity: 0;
    border-radius: 3px;
}

.single-notification ul li ul li {
    display: block;
    text-align: left;
}

.single-notification ul li ul li a {
    display: block;
    border-bottom: 1px solid #488031;
    color: #fff;
    padding: 10px 21px;
}

.single-notification ul li:hover ul {
    z-index: 9999;
    visibility: visible;
    color: red;
    right: -100px;
    opacity: 1;
}

.single-notification .fa {
    padding-right: 6px;
}

a.notifi-icon {
    position: relative;
}

span.notify-count {
    position: absolute;
    top: -4px;
    left: 33px;
    font-size: 11px;
    background: #62CB31;
    padding: 1px 3px;
    border-radius: 2px;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

#responsive-menu {
    background: #558B2F;
}

#responsive-menu ul li a {
    color: #fff;
    font-size: 12px;
    /*font-weight: 500;*/
}

#responsive-menu ul li a:hover {
    color: #333;
}

#responsive-menu .dropdown-menu {
    background: #558b2f;
}

div#loginbox {
    padding: 20px 30px;
    background: #fff;
    border: 1px solid #e4e5e7;
    margin-top: 26px;
    box-shadow: 0 0 15px 0 #ccc;
}

#loginbox .panel-primary > .panel-heading {
    background: #fff;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff !important;
    background-image: none;
    color: rgb(0, 0, 0);
}

.input-group-addon, .input-group-btn, .input-group .form-control, input {
    font-size: 12px !important;
    border-radius: 0px;
    border: 1px solid #e4e5e7;
}

.ng-scope.heading-2 {
    text-transform: capitalize;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

.btn {
    border: none;
    border-radius: 3px;
}

.btn-primary {
    background: #62CB31;
}

.login-box-table {
    display: table;
    width: 100%;
    height: 100%;
    background: #fff;
}

.login-box-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.main-logo {
    text-align: center;
}

.main-logo img {
    height: 75px;
}

.main-login {
    text-align: left;
}

ul#menu-main li a {
    font-size: 12px;
}

.dte-table tr td {
    width: 25%;
}

.footer-menu {
    background: yellowgreen;
}

.form-control {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.dte-menu-a a {
    padding: 10px 0px;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: transparent;
    background: #666 none repeat scroll 0% 0% !important;
    color: #ddd;
}

.dte-tab .nav-tabs li.active {
    position: relative;
}

.dte-tab .nav-tabs li.active:after {
    position: absolute;
    background: #558B2F;
    height: 2px;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    color: #558b2f !important;
}

.nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #f5f5f5;
}

.panel-default {
    border-color: transparent;
}

.dropdown-menu {
    padding: 0px 0 !important;
    margin: 2px 0 0;
    border: none !important;
}

.btn-default {
    color: #333;
    background-color: #d9d9d9;
}

ul.dropdown-menu.dte-menu-a li a {
    padding: 11px 35px 11px 10px;
    font-weight: 500;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

ul.dropdown-menu li a {
    padding: 10px 15px;
    font-weight: 500;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.single-menu {
    padding: 7px 7px;
    background: #fff;
    margin: 7px 0px;
    font-size: 13px;
    transition: .4s;
    border-radius: 4px;
    font-weight: bold;
    color: #777;
    text-align: center;
    width: 100%;
    height: 115px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 27px 3px rgba(0, 0, 0, 0.1);
}

.single-menu:hover {
    box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.4);
    background: #4D963B;
    color: #fff;
    border: 1px solid #4D963B;
    border-radius: 10px;
}

.single-menu img {
    height: 35px;
    margin-bottom: 15px;
}

.margin-top-30 {
    margin-top: 30px;
}

.padding-left5 {
    padding-left: 5px !important;
}

.padding-right5 {
    padding-right: 5px !important;
}

.table > thead > tr {
    background-color: #dcdcdc;
}

.ri-img img {
    height: 45mm;
    width: 35mm;
}

.dte-block {
    border: 1px solid #ddd;
    background: rgba(221, 221, 221, 0.63);
    padding-bottom: 15px;
}

.dte-block h2 {
    font-size: 17px;
    border-bottom: 1px solid #ddd;
    padding: 8px 15px;
    color: #666;
}

.active {
    color: #444;
}

.menuimg img {
    height: 17px;
    margin-right: 5px;
}

.dtetables td {
    padding: 7px 10px !important;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #444;
}

table.table.dtetables {
    border: 1px solid #ddd;
}

.split-section {
    margin: 15px 0px;
    background: #fff;
    padding: 10px 0px;
    box-shadow: 0px 0px 2px 0px #ddd;
}

.split-section p {
    padding: 0px 0px;
    border-bottom: 1px solid #bdd8a0;
    margin: 0px 15px;
}

.split-section p span {
    background: #bdd8a0;
    padding: 3px 100px 3px 6px;
    font-size: 13px;
    font-weight: bold;
    color: #666;
    display: inline-block;
    border-radius: 0px 53px 0px 0px;
}

.nominee.well {
    margin: -6px 0px;
}

.common-table tr td {
    border: 1px solid #ddd;
}
.common-table{
    margin-bottom: 20px;
}

/* Angucomplete Css Start*/

.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -6px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-selected-row {
    background-color: lightblue;
    color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}

.highlight {
    color: #ff0000;
}

/* Angucomplete Css End*/

.single-inst {
    background: url("/assets/images/ch.svg");
    height: 120px;
    background-size: cover;
    margin: 10px 1px;
    border-radius: 2px;
    transition: .5s;
    width: 49%;
    float: left;
}

.inst-overlay {
    background: rgba(85, 139, 47, 0.6);
    height: 100%;
    width: 100%;
    padding: 10px;
    color: #fff;
    border-radius: 2px;
}

.inst-overlay h6 {
    font-weight: bold;
    font-size: 20px;
    transition: .5s;
}

.big .inst-overlay h6 {
    color: #444;
}

.big .inst-overlay span {
    color: #444;
}

.inst-overlay span {
    font-size: 27px;
    font-weight: bold;
    transition: .5s;
}

.single-inst.big {
    width: 75%;
    transition: .5s;
    box-shadow: 0px 0px 17px -4px #000;
}

.single-inst.small {
    width: 22%;
    margin: 10px;
    border-radius: 2px;
    transition: .5s;
}

.single-inst.big h6 {
    font-size: 23px;
    transition: .5s;
}

.single-inst.big span {
    font-size: 30px;
    transition: .5s;
}

.border-around {
    border: 1px solid #ddd;
    height: 170px;
    width: 99%;
    padding: 7px 10px;
}

.btn-modal-textarea .btn-default {
    background: #0b763b;
    color: #fff;
}

.btn-modal-textarea .btn-default.active {
    background: #FF5722;
}

/*a.view-profile {
    font-size: 12px;
    border: 1px dashed rgba(0,0,0,0.3);
    padding: 8px 20px;
    color: #666;
    border-radius: 3px;
}*/
a.view-profile {
    background: rgba(68, 107, 36, 0.71);
    color: #fff;
    border-radius: 6px;
    font-size: 12px;
    padding: 8px 20px;
    border: 2px solid rgba(43, 76, 20, 0.25);
    text-transform: uppercase;
    text-decoration: none;
}

a.view-profile:hover {
    box-shadow: 0px -2px 0px 1px #436922;
    background: #4d7423;
    border-color: transparent;
    color: #fff;
    border-radius: 38px;

}

.profile-inner {
    border: 1px dashed #ffefb0;
    padding: 19px;
    color: #fff;
}

/*a.view-profile:hover {
    box-shadow: 0px -2px 0px 1px #436922;
    background: #558b2f;
    border-color: transparent;
    color: #fff;
    border-radius: 38px;
}*/

.single-dashboard-list {
    background: #263b42;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    position: relative;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.co1 .fa {
    background: #6d4fff;
}

.co2 .fa {
    background: #fb9208;
}

.co3 .fa {
    background: #50a953;
}

.co4 .fa {
    background: #10b6cb;
}

.single-dashboard-list .fa {
    position: absolute;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 3px;
    top: -24px;
    line-height: 56px;
    font-size: 25px;
    left: 10px;
    box-shadow: 0px 0px 7px -1px #010101;
}

.single-dashboard-list a {
    background: rgba(255, 255, 255, 0.2);
    display: block;
    padding: 6px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

.single-dashboard-list h2 {
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

.single-dashboard-list p {
    font-weight: 700;
    font-size: 13px;
    margin: 0;
    text-transform: uppercase;
}

.single-dashboard-list p span {
    font-weight: normal;
    font-size: 23px;
}

.dashboard-title h2 {
    padding: 11px 10px;
    border-bottom: 1px solid #DDD;
    margin-bottom: 23px;
    color: #fff;
    background: #689f38;
    font-size: 16px;
    border-radius: 5px 5px 0px 0px;
    margin-top: 0px;
}

.close-btn {
    border-radius: 22px;
    border: 0;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 15px;
    background: #ea4a51;
    color: #fff;
}

.addmore-separator {
    background-color: rgba(104, 159, 56, 0.2);
    border-bottom: 4px double #ccc;
    padding-bottom: 5px;
}

.nav > li.disabled > a {
    color: #ddd !important;
}

.print-only {
    display: none;
}

.emp-img img {
    height: 4.5cm;
    width: auto;
    border: 1px solid #ddd;
    margin: 10px 0px;
    background: #ddd;
    padding: 3px;
    border-radius: 3px;
}
.emp-img{
    width: 30%;
}
.emp-info{
    width: 60%;
}
.emp-info ul {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.emp-info ul li span:first-child {
    width: 25%;
    display: inline-block;
}

.emp-info ul li {
    display: block;
    padding: 2px;
    font-weight: bold;
}
.emp-info .bold {
    font-size: 18px;
    color: #457126;
}

.emp-imgaes img {
    height: 4.5cm;
    width: AUTO;
    background: #ddd;
    padding: 10px;
}

.emp-imgaes {
    height: 4.5cm;
    width: 4.5cm;
    background: #ddd;
}


.bor {
    border: 1px solid #ddd;
}











@media print {
    .print-only {
        display: block;
    }

    table.table.table-bordered.table-striped.dte-table.print-only-font tr th {
        font-size: 9px !important;
    }

    .print-only-font tr td {
        font-size: 9px !important;
    }

    .padding0 {
        padding-left: 7px;
    }

    .no_padding {
        padding-left: 7px;
    }

    .dte-tab ul {
        display: none;
    }

    .table-responsive {
        overflow-x: visible !important;
        min-height: 0.01%;
    }
}
