/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus {
    outline: 0 solid
}
img {
    max-width: 100%;
    /*height: auto;*/
}
.fix {
    overflow: hidden
}

body {
    font-family: 'Roboto', sans-serif;
    background: url('/assets/images/symphony.png');
    height: 100%;
    min-height: 100%;
    position: relative;


}
html{

}
a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
}
a:hover {
    text-decoration: none
}
/* BANNER AREA CSS CODE*/
.top-header {
    background:#0b763b  none repeat scroll 0 0;
    color: #fff;
    display: block;
}
.top-header h3 {
    font-size: 18px;
    font-weight: 400;
    margin-left: 8px;
    margin-top: 19px;
    word-spacing: 7px;
}
.notification-area .caret {
    color: #fff;
    font-size: 27px;
}
.notification-area i.fa {
    color: #fff;
    font-size: 21px;
}
.user-area a {
    color: #fff;
    font-size: 16px;
}
.top-header .navbar {
    margin-bottom: 0;
}
.top-header .nav > li > a:hover {
    background: transparent;
}

.top-area {
    margin-bottom: 186px;
    position: relative;
}
.top-area-bg {
    background: #0d9947 none repeat scroll 0 0;
    height: 186px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.top-area-banner img {
    height: auto;
    position: relative;
    width: 1155px;
}
.ins-logo {
    height: 96px;
    left: 32px;
    padding-top: 34px;
    position: absolute;
    top: 0;
    width: 105px;
}
.banner-heading {
    color: #fff;
    position: absolute;
    top: 60px;
    width: 100%;
}
.banner-heading h2 {
    line-height: 19px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    margin-left: 31px;
}
.shape1 {
    background: #0b763b none repeat scroll 0 0;
    height: 186px;
    position: absolute;
    right: 228px;
    top: 0;
    transform: skew(31deg);
    width: 71px;
}
.shape2 {
    background: #0b763b  none repeat scroll 0 0;
    height: 186px;
    position: absolute;
    right: 0px;
    top: 0;
    transform: skew(0deg);
    width: 148px;
}
.shape3 {
    border-color: transparent #0b763b transparent transparent;
    border-style: solid;
    border-width: 0 112px 188px 68px;
    height: 0;
    position: absolute;
    right: 148px;
    top: 0;
    width: 0;
}
.top-header .search-form {
    height: 29px;
    margin-left: 54px;
    margin-top: 11px;
    width: 100%;
}
.lang {
    background: #8D8D8D none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    float: right;
    height: 29px;
    margin-top: 11px;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 86px;
}
.lang-area a:hover {
    background: #0D9947;
    color: #fff
}
.lang-area .active {
    background: red;
    color: #fff
}
.lang-area i.fa {
    color: #fff;
    font-size: 27px;
    margin-top: 12px;
    margin-left: 6px;
}
.cover-header-area {
    margin-left: -15px;
    margin-right: 0px;
}
/* END BANNER AREA CSS CODE*/
/* end  header css */
.bs-docs-sidenav {
    width:100%;
    padding: 0;
    border-radius: 0px;
}
.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    border: 0
}
.bs-docs-sidenav > li > a:hover {
    background-color: #0D9947;
    color: #ffffff;
}


.bs-docs-sidenav i.fa {
    font-size: 12px;
    margin: 0 3px;
}
.bs-docs-sidebar .pull-right.fa.fa-caret-right {
    font-size: 18px;
}
.pull-right.fa.fa-caret-right:hover{color:#fff;}
#content .col-md-9 {
}
.job-post-header {
    background: #4c4c4c none repeat scroll 0 0;
    height: 50px;
    width: 100%;
}
.job-post-header h3 {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 300;
    padding-top: 12px;
    text-align: left;
    text-transform: uppercase;
}
.recruitment-form-area .bg-panel,.hrm-form-area .bg-panel ,.hrm-admin-form-area .bg-panel,.apply-leave-form-area .bg-panel{
    background: #CBD8DE;
}
.recruitment-form-area select ,.hrm-form-area  select,.hrm-admin-form-area select,.apply-leave-form-area select,.service-form-area select{
    font-size: 14px;
    font-weight: 300;
    height: 34px;
    width: 100%;
    border-radius: 0px;
    border: 1.4px solid #ccc;
    background: #fff;
}
.recruitment-form-area .form-control ,.hrm-form-area .form-control,.hrm-admin-form-area .form-control,.apply-leave-form-area .form-control,.service-form-area .form-control{
    border-radius: 0;
    font-size: 13px;
    font-weight: 300;
}
.recruitment-form-area .form-horizontal .control-label,.hrm-form-area .form-horizontal .control-label,.hrm-admin-form-area .form-horizontal .control-label,.apply-leave-form-area .form-horizontal .control-label,.service-form-area .form-horizontal .control-label {
    font-size: 13px;
    font-weight: 400;
    margin-left: 10px;
    text-transform:capitalize ;
    color:#585858;
}
.recruitment-form-area .input-margin ,.hrm-form-area  .input-margin,.hrm-admin-form-area  .input-margin,.apply-leave-form-area .input-margin ,.record-form-area  .input-margin,.service-form-area  .input-margin{
    margin: 0 9px;
}
.recruitment-form-area .right-side ,.hrm-form-area  .right-side,.hrm-admin-form-area  .right-side,.apply-leave-form-area  .right-side,.service-form-area  .right-side{
    float: right;
    margin-right: 8px;
}
.recruitment-form-area .left-side,.hrm-form-area  .left-side,.hrm-admin-form-area  .left-side,.apply-leave-form-area  .left-side,.service-form-area  .left-side{
    float:left;
    margin-left:10px;
}
.search-button{padding:0px}
.right-side .btn, .left-side .btn, .search-button {
    background: #4c4c4c none repeat scroll 0 0;
    border: 1px solid #4c4c4c;
    border-radius: 0;
    color: #fff;
    height: 30px;
    padding-top: 4px;
    text-align: center;
    width: auto;
}
.link-btm .btn {
    border: medium none;
    border-radius: 0;
    height: 42px;
    width: auto;
    margin-bottom: 2px;
}
.general-info .middle-side .btn ,.hrm-form-area .middle-side .btn,.hrm-admin-form-area .middle-side .btn,.apply-leave-form-area .middle-side .btn,.service-form-area .middle-side .btn{
    background: #4c4c4c none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    height: 20px;
    margin-top: 81px;
    padding-top: 0px;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    border-radius: 0;
    font-size: 12px;
    font-weight: 400;
    height: 34px;
    text-align: center;
}
.written-area {
    background: #727272  none repeat scroll 0 0;
    border: 1px solid #bababa;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    height: auto;
    line-height: 24px;
    margin-left: -7px;
    margin-right: -7px;
    padding: 10px;
    text-transform: uppercase;
    width: auto;
}
.written-exam .written-area {
    background:#727272  none repeat scroll 0 0;
    border: 1px solid #bababa;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    height: 219px;
    line-height: 29px;
    margin-left: -7px;
    margin-right: -7px;
    padding: 10px;
    text-transform: uppercase;
    width: auto;
}
.viva-img {
    background: #4c4c4c none repeat scroll 0 0;
    border: 5px solid #fff;
    height: 150px;
    margin-right: 24px;
    margin-top: 1px;
    width: 150px;
}
.general-info .viva-img , .hrm-form-area .viva-img,.hrm-admin-form-area .viva-img,.service-form-area .viva-img {
    background: #4c4c4c none repeat scroll 0 0;
    border: 5px solid #fff;
    height: 100px;
    margin-right: 6px;
    margin-top: 1px;
    width: 100px;
}

.recruitment-form-area .panel,.hrm-form-area .panel ,.hrm-admin-form-area .panel,.apply-leave-form-area .panel,.service-form-area .panel{
    border-radius: 0;
    font-size: 13px;
    font-weight: 300;
    padding:15px;
}
.recruitment-form-area .attach ,.hrm-form-area .attach,.hrm-admin-form-area .attach,.apply-leave-form-area .attach,.service-form-area .attach {
    font-size: 16px;
    font-weight: 300;
}
.creat-post textarea {
    height:34px;
    padding-bottom: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0px;
}
.recruitment-form-area textarea,.hrm-form-area textarea,.hrm-admin-form-area textarea,.apply-leave-form-area textarea,.service-form-area textarea {

    padding-bottom: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0px;
}
hr.style2 {
    border-top: 0.5px solid #e5e5e5;
    margin: 0 -6px;
    padding: 4px;
}
.recruitment-form-area .btn-success,.hrm-form-area .btn-success ,.hrm-admin-form-area .btn-success,.apply-leave-form-area .btn-success,.service-form-area .btn-success{
    margin-right: 9px;
    margin-top: 28px;
}
.recruitment-form-area .panel-heading,.hrm-form-area .panel-heading,.hrm-admin-form-area .panel-heading,.apply-leave-form-area .panel-heading , .supplier-form-area .panel-heading, .service-form-area .panel-heading {
    background:#f3f3f4 none repeat scroll 0 0;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    word-spacing: 5px;
    border-radius: 0px;
    margin-bottom: 10px;
}
.recruitment-form-area h4,.hrm-form-area h4,.hrm-admin-form-area h4,.apply-leave-form-area h4, .service-form-area  h4 {

    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
    color:#888888;
}
/* footer area*/

/*  FOOTERAREA CSS CODE*/
.single-footer-icon {
    border: 1px solid #fff;
    display: inline-block;
    font-size: 19px;
    height: 40px;
    padding-top: 5px;
    text-align: center;
    width: 40px;
    border-radius: 25px;
}
.single-footer-icon a {
    color: #fff
}
.footer-area-menu ul {
    margin: 0;
    padding: 0;
}
.footer-area-menu ul li {
    display: inline-block;
}
.footer-area-menu ul li a {
    font-size: 16px;
    font-weight: 300;
    margin: 0 5px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding-top: 24px;
}
.social-plus-fmenu {
    background: #0D9947 none repeat scroll 0 0;
    height: 68px;
}
.new-area {
    padding-left: 7px;
    padding-top: 12px;
}
.footer-copy-right-text.text-center {
    background:#0B763B none repeat scroll 0 0;
    display: block;
    font-size: 16px;
    font-weight: 300;
    padding-top: 4px;
    color: #fff;
}
.footer-area {
    margin-left: -15px;
}
.hrm-form-area .radio-inline,.hrm-admin-form-area .radio-inline {
    color: #585858;
    font-size: 14px;
    font-weight: 400;
}

.address-info input[type="checkbox"] {
    margin-top: 9px;
}
.address-info small {
    font-size: 14px;
    font-weight: 300;
}
.hrm-admin-form-area .table,.apply-leave-form-area .table{
    font-size: 14px;
    font-weight: 300;
}
.hrm-admin-form-area a:hover {
    font-size: 13px;
    color: red;
}
.table.table-user-information > tbody {
    background: #f5f5f5 none repeat scroll 0 0;
}
.employee-list tr {
    background:#fff;
}
.written-area.notice-box ,.written-area .allocated-list{
    margin-top: 10px;
}
.leave-availability .list-group-item {
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 0;
    font-size: 15px;
    font-weight: 300;
    color: #4F4F4F;
}
.panel-heading.sub-heading-bg {
    background: #0D9947 none repeat scroll 0 0;
}
.apply-leave-form-area .help-block {
    font-size: 11px;
    color: #4C4C4C;
}
.curriculam-form .panel-heading {
    background: #0d9947 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.curriculam-form .panel-body {
    background: #f2f2f2 none repeat scroll 0 0;
}

.btn.pull-right.add-new {
    background: #0b763b none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    position: relative;
    right: 5px;
    top: -41px;
}
.right-side .btn:hover, .left-side .btn:hover, .search-button {
    background: -moz-linear-gradient(top,#0D9947,#000000);
}
.small-letter > thead > tr > th {
    font-size: 10px;
    font-weight: 700;
}
