<!--===asset auction detail===-->
<div class="common-table">
        <h2 translate="stepApp.assetAuctionInformation.detail.title"> Detail Of AssetAuctionInformation</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    <span translate="stepApp.assetAuctionInformation.assetName">asset Name</span>
                                </td>
                                <td>
                                    <a class="form-control-static" ui-sref="assetRecord.detail({id:assetAuctionInformation.assetCode.id})">{{assetAuctionInformation.assetCode.assetName}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.assetAuctionInformation.purchaseDate">purchase Date</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{assetAuctionInformation.assetCode.purchaseDate}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.assetAuctionInformation.vendorName">vendor name</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{assetAuctionInformation.assetCode.vendorName}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span translate="stepApp.assetAuctionInformation.lastRepairDate">LastRepairDate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{assetAuctionInformation.lastRepairDate | date:'mediumDate'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.assetAuctionInformation.isAuctionBefore">IsAuctionBefore</span>
                                </td>
                                <td>
                                    <span ng-show="assetAuctionInformation.isAuctionBefore==true" class="form-control-static">Yes</span>
                                    <span ng-show="assetAuctionInformation.isAuctionBefore == false" class="form-control-static">No</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <button type="submit"
                        onclick="window.history.back()"
                        class="btn btn-info">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
                </button>
            </div>
<!--===End asset auction detail===-->
