<!--===asset auction===--->
<div class="col-md-12 common-list">
    <h2 translate="stepApp.assetAuctionInformation.home.title">Asset Auction Setup</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary " ui-sref="assetAuctionInformation.new">
                <span class="glyphicon glyphicon-plus"></span><span
                translate="stepApp.assetAuctionInformation.home.createLabel">New Asset Auction Information</span>
            </button>
        </div>
    </div>

    <!--=======================delete massege======================-->
    <div class="modal animated bounceInUp" id="deleteAssetAuctionInformationConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(assetAuctionInformation.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.assetAuctionInformation.delete.question"
                           translate-values="{id: '{{assetAuctionInformation.id}}'}">Are you sure you want to delete
                            this AssetAuctionInformation?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--=======================End delete massege=====================-->

    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-head-bg">
            <thead>
            <tr>
                <th class="text-center" translate="global.form.serial">serial</th>
                <th translate="stepApp.assetAuctionInformation.assetRef">Asset Reference No</th>
                <th translate="stepApp.assetAuctionInformation.lastRepairDate">LastRepairDate</th>
                <th translate="stepApp.assetAuctionInformation.assetName">assetName</th>
                <th translate="stepApp.assetAuctionInformation.purchaseDate">purchaseDate</th>
                <th translate="stepApp.assetAuctionInformation.vendorName">vendorName</th>
                <th translate="stepApp.assetAuctionInformation.lastRepairDate">lastRepairDate</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="employee-list table-body-bg">
            <tr dir-paginate="assetAuctionInformation in assetAuctionInformations | filter:q | itemsPerPage: pageSize track by assetAuctionInformation.id"
                current-page="currentPage">
                <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>

                <td><a ui-sref="assetAuctionInformation.detail({id:assetAuctionInformation.id})">{{assetAuctionInformation.refNo}}</a>
                </td>

                <td>{{assetAuctionInformation.lastRepairDate | date:'mediumDate'}}</td>
                <td>{{assetAuctionInformation.assetCode.assetName}}</td>
                <td>{{assetAuctionInformation.assetCode.purchaseDate}}</td>
                <td>{{assetAuctionInformation.assetCode.vendorName}}</td>
                <td>{{assetAuctionInformation.lastRepairDate}}</td>
                <td class="text-right">
                    <button type="submit" class="btn btn-sm btn-info  su_serv_marz"
                            ui-sref="assetAuctionInformation.detail({id:assetAuctionInformation.id})"><i
                        class="fa fa-eye-slash"></i>

                        <span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary  su_serv_marz"
                            ui-sref="assetAuctionInformation.edit({id:assetAuctionInformation.id})"><i
                        class="fa fa-pencil"></i>
                        <span translate="entity.action.edit"> Edit</span>
                    </button>
                    <button ng-hide="false" type="submit" ng-click="delete(assetAuctionInformation.id)"
                            class="btn btn-sm btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav>
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page"
                        ng-change="loadAll()"></uib-pagination>
    </div>
</div>
