<div class="col-md-12 common-list">
    <h2 translate="stepApp.assetAccuisitionSetup.home.title">AssetAccuisitionSetups</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary " ui-sref="assetAccuisitionSetup.new">
                <span class="glyphicon glyphicon-plus"></span><span
                translate="stepApp.assetAccuisitionSetup.home.createLabel">Create a new AssetAccuisitionSetup</span>
            </button>
        </div>
    </div>

    <div class="modal animated bounceInUp" id="deleteAssetAccuisitionSetupConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(assetAccuisitionSetup.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.assetAccuisitionSetup.delete.question"
                           translate-values="{id: '{{assetAccuisitionSetup.id}}'}">Are you sure you want to delete this
                            AssetAccuisitionSetup?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center" translate="global.form.serial">serial</th>
                <th translate="stepApp.assetAccuisitionSetup.trackID">TrackID</th>
                <th translate="stepApp.assetAccuisitionSetup.code">Code</th>
                <th translate="stepApp.assetAccuisitionSetup.name">Name</th>
                <th translate="stepApp.assetAccuisitionSetup.description">Description</th>
                <th translate="stepApp.assetAccuisitionSetup.remarks">Remarks</th>
                <th translate="stepApp.assetAccuisitionSetup.status">Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="assetAccuisitionSetup in assetAccuisitionSetups | filter:q | itemsPerPage: pageSize track by assetAccuisitionSetup.id"
                current-page="currentPage">
                <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                <td>{{assetAccuisitionSetup.trackID}}</td>
                <td>{{assetAccuisitionSetup.code}}</td>
                <td>{{assetAccuisitionSetup.name}}</td>
                <td>{{assetAccuisitionSetup.description}}</td>
                <td>{{assetAccuisitionSetup.remarks}}</td>
                <td>{{assetAccuisitionSetup.status ? 'Active' : 'Inactive'}}</td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="assetAccuisitionSetup.detail({id:assetAccuisitionSetup.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="assetAccuisitionSetup.edit({id:assetAccuisitionSetup.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(assetAccuisitionSetup.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
