<div class="common-table">
<div class="common-table">
    <h2><span translate="stepApp.assetAccuisitionSetup.detail.title">AssetAccuisitionSetup</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.assetAccuisitionSetup.trackID">TrackID</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetAccuisitionSetup.trackID}}</span>
                </td>
                <td>
                    <span translate="stepApp.assetAccuisitionSetup.code">Code</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetAccuisitionSetup.code}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.assetAccuisitionSetup.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetAccuisitionSetup.name}}</span>
                </td>
                <td>
                    <span translate="stepApp.assetAccuisitionSetup.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetAccuisitionSetup.description}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.assetAccuisitionSetup.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetAccuisitionSetup.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.assetAccuisitionSetup.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetAccuisitionSetup.createBy}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.assetAccuisitionSetup.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetAccuisitionSetup.updateDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.assetAccuisitionSetup.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetAccuisitionSetup.updateBy}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.assetAccuisitionSetup.remarks">Remarks</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetAccuisitionSetup.remarks}}</span>
                </td>
                <td>
                    <span translate="stepApp.assetAccuisitionSetup.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetAccuisitionSetup.status ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
</div>
