<div>
    <h2 translate="stepApp.dlFileType.home.title">DlFileTypes</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="dlFileType.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.dlFileType.home.createLabel">Create a new DlFileType</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a DlFileType</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.id">ID</th>
                <th translate="stepApp.dlFileType.fileType">FileType</th>
                <th translate="stepApp.dlFileType.limitMb">LimitMb</th>
                <th translate="stepApp.dlFileType.createdDate">CreatedDate</th>
                <th translate="stepApp.dlFileType.updatedDate">UpdatedDate</th>
                <th translate="stepApp.dlFileType.createdBy">CreatedBy</th>
                <th translate="stepApp.dlFileType.updatedBy">UpdatedBy</th>
                <th translate="stepApp.dlFileType.status">Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="dlFileType in dlFileTypes track by dlFileType.id">
                <td><a ui-sref="dlFileType.detail({id:dlFileType.id})">{{dlFileType.id}}</a></td>
                <td>{{dlFileType.fileType}}</td>
                <td>{{dlFileType.limitMb}}</td>
                <td>{{dlFileType.createdDate | date:'mediumDate'}}</td>
                <td>{{dlFileType.updatedDate | date:'mediumDate'}}</td>
                <td>{{dlFileType.createdBy}}</td>
                <td>{{dlFileType.updatedBy}}</td>
                <td>{{dlFileType.status}}</td>
                <td>
                    <button type="submit"
                            ui-sref="dlFileType.detail({id:dlFileType.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="dlFileType.edit({id:dlFileType.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ui-sref="dlFileType.delete({id:dlFileType.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
