<div class="main-dashbord-area">
    <div class="main-dashbord-area-bg">
        <div class="col-md-2 padding-left0 padding-right0">
            <ul id="ulcolor3" class="nav su_serv_menu nav-list  bs-docs-sidenav">
                <li>
                    <a class="button4" ui-sref="division" ui-sref-active="active">
                        <i class="fa fa-pencil-square-o"></i>
                        <span translate="global.menu.division">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="button4" ui-sref="division.district" ui-sref-active="active">
                        <i class="fa fa-pencil-square-o"></i>
                        <span translate="global.menu.district">district</span>
                    </a>
                </li>
                <li>
                    <a class="button4" ui-sref="division.upazila" ui-sref-active="active">
                        <i class="fa fa-pencil-square-o"></i>
                        <span translate="global.menu.upazila">upazila</span>
                    </a>
                </li>
                <li>
                    <a class="button4" ui-sref="religion" ui-sref-active="active">
                        <i class="fa fa-pencil-square-o"></i>
                        <span translate="global.menu.religion">religion</span>
                    </a>
                </li>
            </ul>
            <!--<ng-include src="'scripts/app/entities/employeeInformationSystem/employee-left-menu.html'"></ng-include>-->
        </div>
        <div class="col-md-10 main-content lbl-dash padding-left0" ui-view="generalView">

        </div>
    </div>
</div>
