<div class="col-md-12 common-table">
    <h2><span translate="stepApp.hrNomineeInfo.detail.title">HrNomineeInfo</span> - {{hrNomineeInfo.nomineeName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrNomineeInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrNomineeInfo.employeeInfo.id})">{{hrNomineeInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrNomineeInfo.nomineeName">NomineeName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrNomineeInfo.nomineeName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrNomineeInfo.nomineeNameBn">NomineeNameBn</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrNomineeInfo.nomineeNameBn}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrNomineeInfo.birthDate">BirthDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrNomineeInfo.birthDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrNomineeInfo.gender">Gender</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'stepApp.gender.' + hrNomineeInfo.gender}}">{{hrNomineeInfo.gender}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrNomineeInfo.relationship">Relationship</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrNomineeInfo.nomineeRelationship.typeName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrNomineeInfo.orgOrInst">orgOrInst</span>
                </td>
                <td><span class="form-control-static">{{hrNomineeInfo.employeeInfo.departmentInfo.organizationType}}</span>
                </td>
                <td><span translate="stepApp.hrNomineeInfo.workarea">workarea</span></td>
                <td><span class="form-control-static">{{hrNomineeInfo.employeeInfo.workArea.typeName}}</span></td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrNomineeInfo.occupation">Occupation</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrNomineeInfo.occupation}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrNomineeInfo.designation">Designation</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrNomineeInfo.designation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrNomineeInfo.nationalId">NationalId</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrNomineeInfo.nationalId}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrNomineeInfo.mobileNumber">MobileNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrNomineeInfo.mobileNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrNomineeInfo.address">Address</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrNomineeInfo.address}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrNomineeInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrNomineeInfo.activeStatus? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>


            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
