<div class="col-md-12 common-list">
    <h2 translate="stepApp.hrNomineeInfo.home.title">HrNomineeInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrNomineeInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.hrNomineeInfo.home.createLabel">Create a new HrNomineeInfo</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12  table-responsive no_padding">
        <table class="table table-striped ">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <th><span translate="global.field.id">ID</span></th>
                <th><span translate="stepApp.hrNomineeInfo.employeeInfo">employeeInfo</span></th>
                <th><span translate="stepApp.hrNomineeInfo.nomineeName">NomineeName</span></th>
                <th><span translate="stepApp.hrNomineeInfo.relationship">Relationship</span></th>
                <th><span translate="stepApp.hrNomineeInfo.mobileNumber">MobileNumber</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrNomineeInfo in hrNomineeInfos | filter:q | itemsPerPage: pageSize track by hrNomineeInfo.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <td><a ui-sref="hrNomineeInfo.detail({id:hrNomineeInfo.id})">{{hrNomineeInfo.id}}</a></td>
                <td>
                    <a ui-sref="hrEmployeeInfo.detail({id:hrNomineeInfo.employeeInfo.id})">{{hrNomineeInfo.employeeInfo.fullName}}</a>
                </td>
                <td>{{hrNomineeInfo.nomineeName}}</td>
                <td>{{hrNomineeInfo.nomineeRelationship.typeName}}</td>
                <td>{{hrNomineeInfo.mobileNumber}}</td>

                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="hrNomineeInfo.detail({id:hrNomineeInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit" ng-hide="false"
                            ui-sref="hrNomineeInfo.edit({id:hrNomineeInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrNomineeInfo.delete({id:hrNomineeInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
