<div class="col-md-12 common-list">
    <h2 translate="stepApp.hrSpouseInfo.home.title">HrSpouseInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrSpouseInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.hrSpouseInfo.home.createLabel">Create a new HrSpouseInfo</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.form.serial">Serial</span></th>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="stepApp.hrSpouseInfo.employeeInfo">employeeInfo</span> </th>
                    <th><span translate="stepApp.hrSpouseInfo.spouseName">SpouseName</span></th>
                    <th><span translate="stepApp.hrSpouseInfo.designation">Designation</span></th>
                    <th><span translate="stepApp.hrSpouseInfo.nationalId">NationalId</span> </th>
                    <!--<th><span translate="stepApp.hrSpouseInfo.emailAddress">EmailAddress</span> </th>
                    <th><span translate="stepApp.hrSpouseInfo.contactNumber">ContactNumber</span> </th>
                    <th><span translate="stepApp.hrSpouseInfo.activeStatus">ActiveStatus</span></th>
                    -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-animate="'animate'" dir-paginate="hrSpouseInfo in hrSpouseInfos | filter:q | itemsPerPage: pageSize track by hrSpouseInfo.id" current-page="currentPage">
                    <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                    <td><a ui-sref="hrSpouseInfo.detail({id:hrSpouseInfo.id})">{{hrSpouseInfo.id}}</a></td>
                    <td>
                        <a ui-sref="hrEmployeeInfo.detail({id:hrSpouseInfo.employeeInfo.id})">{{hrSpouseInfo.employeeInfo.fullName}}</a>
                    </td>
                    <td>{{hrSpouseInfo.spouseName}}</td>
                    <td>{{hrSpouseInfo.designation}}</td>
                    <td>{{hrSpouseInfo.nationalId}}</td>
                    <!--<td>{{hrSpouseInfo.emailAddress}}</td>
                    <td>{{hrSpouseInfo.contactNumber}}</td>
                    <td>{{hrSpouseInfo.activeStatus ? 'Active' : 'Inactive'}}</td>-->

                    <td class="hrm-button text-right no-print">
                        <button type="submit"
                                ui-sref="hrSpouseInfo.detail({id:hrSpouseInfo.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit" ng-hide="false"
                                ui-sref="hrSpouseInfo.edit({id:hrSpouseInfo.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit" ng-hide="true"
                                ui-sref="hrSpouseInfo.delete({id:hrSpouseInfo.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
