<div>
    <form name="editForm" role="form" ng-submit="save()" novalidate show-validation>
        <div class="panel-group">
            <div class="panel-body bg-panel">
                <div class="row panel-heading no_padding">
                    <div class="col-sm-7 no_padding">
                        <strong>{{hrSpouseInfo.spouseName}} => {{hrSpouseInfo.relationship}}</strong>
                    </div>
                    <div class="col-sm-5 no_padding text-right">
                        <button ng-hide="noEmployeeFound || hrSpouseInfo.isLocked || hrSpouseInfo.logStatus==6"
                                ng-if="!(hrSpouseInfo.logStatus == 11 || hrSpouseInfo.logStatus == 33 || hrSpouseInfo.logStatus == 55)"
                                type="button" ng-click="changeProfileMode(hrSpouseInfo)"
                                class="btn btn-primary btn-sm">{{hrSpouseInfo.viewModeText}}
                        </button>
                        <span ng-show="hrSpouseInfo.isLocked" class="alert alert-warning approve-alert"><span
                            translate="stepApp.hrmHome.recordLocked">Pending</span></span>
                        <span
                            ng-if="(hrSpouseInfo.logStatus == 22 || hrSpouseInfo.logStatus == 44 || hrSpouseInfo.logStatus == 66)">
                            <span class="alert alert-warning"
                                  translate="stepApp.hrmHome.requestRejected">Rejected</span>
                        </span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 table-responsive padding0" ng-show="hrSpouseInfo.viewMode">
                        <table class="table dtetables">
                            <tr>
                                <td><strong translate="stepApp.hrSpouseInfo.spouseName"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrSpouseInfo.spouseName}}</td>
                                <td><strong translate="stepApp.hrSpouseInfo.spouseNameBn"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrSpouseInfo.spouseNameBn}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrSpouseInfo.birthDate"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrSpouseInfo.birthDate | date:'mediumDate'}}</td>
                                <td><strong translate="stepApp.hrSpouseInfo.gender"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrSpouseInfo.gender}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrSpouseInfo.relationship"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrSpouseInfo.relationship}}</td>
                                <td><strong translate="stepApp.hrSpouseInfo.nomineeHas"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrSpouseInfo.nomineeHas ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrSpouseInfo.occupation"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrSpouseInfo.occupation}}</td>
                                <td><strong translate="stepApp.hrSpouseInfo.organization"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrSpouseInfo.organization}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrSpouseInfo.designation"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrSpouseInfo.designation}}</td>
                                <td><strong translate="stepApp.hrSpouseInfo.nationalId"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrSpouseInfo.nationalId}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrSpouseInfo.emailAddress"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrSpouseInfo.emailAddress}}</td>
                                <td><strong translate="stepApp.hrSpouseInfo.contactNumber"></strong></td>
                                <td>&nbsp; : &nbsp;{{hrSpouseInfo.contactNumber}}</td>
                            </tr>
                            <tr>
                                <td><strong translate="stepApp.hrSpouseInfo.address"></strong></td>
                                <td> &nbsp; : &nbsp;{{hrSpouseInfo.address}}</td>
                                <td><strong></strong></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right"
                         ng-if="(hrSpouseInfo.logStatus == 22 || hrSpouseInfo.logStatus == 44 || hrSpouseInfo.logStatus == 66)">
                        <span class="alert-warning">
                            <span class="control-label" translate="stepApp.hrmHome.rejectionReason">Reason</span>: &nbsp; : &nbsp;{{hrSpouseInfo.logComments}}
                        </span>
                    </div>
                    <div class="col-sm-12 text-right"
                         ng-if="(hrSpouseInfo.logStatus == 11 || hrSpouseInfo.logStatus == 33 || hrSpouseInfo.logStatus == 55)">
                        <span class="alert-warning" ng-if="hrSpouseInfo.logStatus === 11">
                            <span class="control-label" translate="stepApp.hrmHome.messages.waitingForDeptHeadApproval">Waiting @ Department Head Approval</span>
                        </span>
                        <span class="alert-warning" ng-if="hrSpouseInfo.logStatus === 33">
                            <span class="control-label" translate="stepApp.hrmHome.messages.waitingForInstHeadApproval">Waiting @ Institute Head Approval</span>
                        </span>
                        <span class="alert-warning" ng-if="hrSpouseInfo.logStatus === 55">
                            <span class="control-label"
                                  translate="stepApp.hrmHome.messages.waitingForSystemAdminApproval">Waiting @ System Admin Approval</span>
                        </span>
                    </div>
                </div>
                <div class="row hrm-view">
                    <div class="col-sm-6">
                        <div class="form-group" ng-show="!hrSpouseInfo.viewMode" class="input-margin">
                            <label class="control-label" translate="stepApp.hrSpouseInfo.spouseName"
                                   for="field_spouseName">SpouseName</label>
                            <input type="text" class="form-control" name="spouseName" id="field_spouseName"
                                   ng-model="hrSpouseInfo.spouseName"
                                   required ng-maxlength="150" ng-minlength="5"
                                   maxlength="150" minlength="5"
                                   only-letters-and-dash-and-dot/>
                            <div ng-show="editForm.spouseName.$invalid">
                                <small style="color:red; font-size: 10px;"
                                       ng-show="editForm.spouseName.$error.required"
                                       translate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small style="color:red; font-size: 10px;"
                                       ng-show="editForm.spouseName.$error.maxlength"
                                       translate="entity.validation.maxlength" translate-value-max="150">
                                    This field cannot be longer than 150 characters.
                                </small>
                                <small style="color:red; font-size: 10px;"
                                       ng-show="editForm.spouseName.$error.minlength"
                                       translate="entity.validation.maxlength" translate-value-max="5">
                                    This field should be at least 5 characters.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" ng-show="!hrSpouseInfo.viewMode">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrSpouseInfo.spouseNameBn"
                                   for="field_spouseNameBn">SpouseNameBn</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="spouseNameBn"
                                       id="field_spouseNameBn"
                                       ng-model="hrSpouseInfo.spouseNameBn"
                                       only-bangla/>
                            </div>
                            <span ng-show="hrSpouseInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrSpouseInfo.spouseNameBn}}</span>
                        </div>
                    </div>
                </div>
                <div class="row hrm-view" ng-show="!hrSpouseInfo.viewMode">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-margin">
                                <label class="control-label" translate="stepApp.hrSpouseInfo.birthDate"
                                       for="field_birthDate">BirthDate</label>
                                <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.birthDate"
                                       datepicker-options="calendar.dateOptions" close-text="Close"
                                       ng-click="calendar.open($event, 'birthDate')" class="form-control"
                                       name="birthDate"
                                       id="field_birthDate"
                                       ng-model="hrSpouseInfo.birthDate"
                                       required max-date="toDay"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-margin">
                                <label class="control-label" translate="stepApp.hrSpouseInfo.gender" for="field_gender">Gender</label>
                                <select class="form-control" name="gender" ng-model="hrSpouseInfo.gender"
                                        id="field_gender"
                                        required>
                                    <option value="Male" translate="stepApp.gender.Male">Male</option>
                                    <option value="Female" translate="stepApp.gender.Female">Female</option>
                                    <option value="Other" translate="stepApp.gender.Other">Other</option>
                                </select>
                                <div ng-show="editForm.gender.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.gender.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hrm-view">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div ng-show="!hrSpouseInfo.viewMode" class="input-margin">
                                <label class="control-label" translate="stepApp.hrSpouseInfo.relationship"
                                       for="field_relationship">Relationship</label>
                                <input type="text" class="form-control" name="relationship" id="field_relationship"
                                       ng-model="hrSpouseInfo.relationship" required only-letters
                                       ng-maxlength="8" ng-minlength="4" maxlength="8" minlength="4"
                                />
                                <div ng-show="editForm.relationship.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.relationship.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <small style="color:red; font-size: 10px;"
                                           ng-show="editForm.relationship.$error.maxlength"
                                           translate="entity.validation.maxlength" translate-value-max="8">
                                        This field cannot be longer than 8 characters.
                                    </small>
                                    <small style="color:red; font-size: 10px;"
                                           ng-show="editForm.relationship.$error.minlength"
                                           translate="entity.validation.maxlength" translate-value-max="4">
                                        This field should be at least 4 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" ng-show="!hrSpouseInfo.viewMode">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrSpouseInfo.nomineeHas">IsNominee</label>
                            <div class="input-margin">
                     <span class="form-control">
                     <input type="radio" data-ng-model="hrSpouseInfo.nomineeHas" name="nomineeHas"
                            ng-value="true">&nbsp;<span translate="global.home.yes"></span>&nbsp;|&nbsp;
                     <input type="radio" data-ng-model="hrSpouseInfo.nomineeHas" name="nomineeHas"
                            ng-value="false">&nbsp;<span translate="global.home.no"></span>
                     </span>
                            </div>
                            <span ng-show="hrSpouseInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrSpouseInfo.nomineeHas ? 'Yes' : 'No'}}</span>
                        </div>
                    </div>
                </div>
                <div class="row hrm-view" ng-show="!hrSpouseInfo.viewMode">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrSpouseInfo.occupation"
                                   for="field_occupation">Occupation</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="occupation" id="field_occupation"
                                       ng-model="hrSpouseInfo.occupation"
                                       only-letters ng-maxlength="50" maxlength="50" ng-minlength="5" minlength="5"
                                       required/>
                                <div ng-show="editForm.occupation.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.relationship.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <small style="color:red; font-size: 10px;"
                                           ng-show="editForm.occupation.$error.maxlength"
                                           translate="entity.validation.maxlength" translate-value-max="150">
                                        This field cannot be longer than 8 characters.
                                    </small>
                                    <small style="color:red; font-size: 10px;"
                                           ng-show="editForm.occupation.$error.minlength"
                                           translate="entity.validation.maxlength" translate-value-max="5">
                                        This field should be at least 4 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <!--<span ng-show="hrSpouseInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrSpouseInfo.occupation}}</span>-->
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrSpouseInfo.organization"
                                   for="field_organization">Organization</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="organization" id="field_organization"
                                       ng-model="hrSpouseInfo.organization"
                                       required minlength="5" maxlength="100" ng-minlength="5" ng-maxlength="100"
                                />
                                <div ng-show="editForm.organization.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.organization.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <small style="color:red; font-size: 10px;"
                                           ng-show="editForm.organization.$error.maxlength"
                                           translate="entity.validation.maxlength" translate-value-max="100">
                                        This field cannot be longer than 8 characters.
                                    </small>
                                    <small style="color:red; font-size: 10px;"
                                           ng-show="editForm.organization.$error.minlength"
                                           translate="entity.validation.maxlength" translate-value-max="5">
                                        This field should be at least 4 characters.
                                    </small>
                                </div>
                            </div>
                        </div>

                        <!--<span ng-show="hrSpouseInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrSpouseInfo.organization}}</span>-->
                    </div>
                </div>
                <div class="row hrm-view" ng-show="!hrSpouseInfo.viewMode">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrSpouseInfo.designation"
                                   for="field_designation">Designation</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="designation" id="field_designation"
                                       ng-model="hrSpouseInfo.designation"
                                       required minlength="5" maxlength="50" ng-minlength="5" ng-maxlength="50"
                                       only-letters
                                />
                                <div ng-show="editForm.designation.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.designation.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <small style="color:red; font-size: 10px;"
                                           ng-show="editForm.designation.$error.maxlength"
                                           translate="entity.validation.maxlength" translate-value-max="50">
                                        This field cannot be longer than 8 characters.
                                    </small>
                                    <small style="color:red; font-size: 10px;"
                                           ng-show="editForm.designation.$error.minlength"
                                           translate="entity.validation.maxlength" translate-value-max="5">
                                        This field should be at least 4 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <!--<span ng-show="hrSpouseInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrSpouseInfo.spouseName}}</span>-->
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-margin">
                                <label class="control-label" translate="stepApp.hrSpouseInfo.nationalId"
                                       for="field_nationalId">NationalId</label>
                                <input type="text" class="form-control" name="nationalId" id="field_nationalId"
                                       ng-model="hrSpouseInfo.nationalId"
                                       ng-remote-validate="/api/hrSpouseInfos/checknid/"
                                       ng-remote-method="GET"
                                       ng-remote-throttle="500"
                                       ng-minlength="10"
                                       ng-maxlength="17"
                                       maxlength="17"
                                       minlength="10"
                                       min="0"
                                       required
                                       only-numbers
                                />
                                <div ng-show="editForm.nationalId.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.nationalId.$error.ngRemoteValidate">
                                        National ID already exists
                                    </p>
                                    <small style="color:red; font-size: 10px;"
                                           ng-show="editForm.nationalId.$error.maxlength"
                                           translate="entity.validation.maxlength" translate-value-max="17">
                                        This field cannot be longer than 17 digits.
                                    </small>
                                    <small style="color:red; font-size: 10px;"
                                           ng-show="editForm.nationalId.$error.minlength"
                                           translate="entity.validation.maxlength" translate-value-max="10">
                                        This field should be at least 10 digits.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hrm-view" ng-show="!hrSpouseInfo.viewMode">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrSpouseInfo.emailAddress"
                                   for="field_emailAddress">EmailAddress</label>
                            <div class="input-margin">
                                <input type="email" class="form-control" name="emailAddress" id="field_emailAddress"
                                       ng-model="hrSpouseInfo.emailAddress"
                                       required maxlength="50" minlength="5"
                                       ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"/>
                                <small style="color:red; font-size: 10px;"
                                       ng-show="editForm.emailAddress.$error.pattern">
                                    Not valid email!
                                </small>
                                <small style="color:red; font-size: 10px;"
                                       ng-show="editForm.emailAddress.$error.maxlength"
                                       translate="entity.validation.maxlength" translate-value-max="50">
                                    This field cannot be longer than 50 Character.
                                </small>
                                <small style="color:red; font-size: 10px;"
                                       ng-show="editForm.emailAddress.$error.minlength"
                                       translate="entity.validation.maxlength" translate-value-max="5">
                                    This field should be at least 5 Character.
                                </small>
                            </div>
                            <!--<span ng-show="hrSpouseInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrSpouseInfo.emailAddress}}</span>-->
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div ng-show="!hrSpouseInfo.viewMode" class="input-margin">
                                <label class="control-label" translate="stepApp.hrSpouseInfo.contactNumber"
                                       for="field_contactNumber">ContactNumber</label>
                                <input type="text" class="form-control" name="contactNumber" id="field_contactNumber"
                                       ng-model="hrSpouseInfo.contactNumber"
                                       ng-minlength="11" ng-maxlength="11" min="0" minlength="11" maxlength="11"
                                       required
                                       only-numbers/>
                                <div ng-show="editForm.contactNumber.$invalid">
                                    <small style="color:red; font-size: 10px;" class="help-block"
                                           ng-show="editForm.contactNumber.$error.required"
                                           translate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small style="color:red; font-size: 10px;" class="help-block"
                                           ng-show="editForm.contactNumber.$error.minlength"
                                           translate="entity.validation.minlength" translate-value-min="11">
                                        This field is required to be at least 11 characters.
                                    </small>
                                    <small style="color:red; font-size: 10px;" class="help-block"
                                           ng-show="editForm.contactNumber.$error.maxlength"
                                           translate="entity.validation.maxlength" translate-value-max="11">
                                        This field cannot be longer than 11 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hrm-view" ng-show="!hrSpouseInfo.viewMode">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" translate="stepApp.hrSpouseInfo.address" for="field_address">Address</label>
                            <div class="input-margin">
                                <textarea class="form-control"
                                          name="address" id="field_address"
                                          ng-model="hrSpouseInfo.address">
                                </textarea>
                            </div>
                            <!--<span ng-show="hrSpouseInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrSpouseInfo.address}}</span>-->
                        </div>
                    </div>
                    <div class=" col-sm-6">&nbsp;</div>
                </div>
                <div class="row hrm-view">
                    <div class=" col-sm-6">&nbsp;</div>
                    <div class=" col-sm-6 text-right">
                        <button ng-show="!hrSpouseInfo.viewMode" type="button"
                                ng-click="changeProfileMode(hrSpouseInfo)" class="btn btn-default btn-sm"><span
                            class="glyphicon glyphicon-remove"></span>&nbsp;{{hrSpouseInfo.viewModeText}}
                        </button>
                        <button ng-show="!hrSpouseInfo.viewMode" ng-click="updateProfile(hrSpouseInfo)" type="button"
                                ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
