<div class="col-md-12 common-table">
    <h2><span translate="stepApp.hrSpouseInfo.detail.title">HrSpouseInfo</span> - {{hrSpouseInfo.spouseName}}</h2>
    <div class="table-responsive paddint-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrSpouseInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrSpouseInfo.employeeInfo.id})">{{hrSpouseInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrSpouseInfo.spouseName">SpouseName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrSpouseInfo.spouseName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrSpouseInfo.spouseNameBn">SpouseNameBn</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrSpouseInfo.spouseNameBn}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrSpouseInfo.birthDate">BirthDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrSpouseInfo.birthDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrSpouseInfo.gender">Gender</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'stepApp.gender.' + hrSpouseInfo.gender}}">{{hrSpouseInfo.gender}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrSpouseInfo.relationship">Relationship</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrSpouseInfo.relationship}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrSpouseInfo.nomineeHas">IsNominee</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrSpouseInfo.isNominee? 'Yes':'No'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrSpouseInfo.occupation">Occupation</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrSpouseInfo.occupation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrSpouseInfo.organization">Organization</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrSpouseInfo.organization}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrSpouseInfo.orgOrInst">orgOrInst</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrSpouseInfo.employeeInfo.departmentInfo.organizationType}}</span>

                </td>

            </tr>
            <tr>
                <td><span translate="stepApp.hrSpouseInfo.workarea">workarea</span></td>
                <td><span class="form-control-static">{{hrSpouseInfo.employeeInfo.workArea.typeName}}</span></td>
                <td>
                    <span translate="stepApp.hrSpouseInfo.designation">Designation</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrSpouseInfo.designation}}</span>
                </td>
            </tr>
            <tr>

                <td>
                    <span translate="stepApp.hrSpouseInfo.nationalId">NationalId</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrSpouseInfo.nationalId}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrSpouseInfo.emailAddress">EmailAddress</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrSpouseInfo.emailAddress}}</span>
                </td>

            </tr>
            <tr>

                <td>
                    <span translate="stepApp.hrSpouseInfo.contactNumber">ContactNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrSpouseInfo.contactNumber}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrSpouseInfo.address">Address</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrSpouseInfo.address}}</span>
                </td>

            </tr>
            <tr>

                <td>
                    <span translate="stepApp.hrSpouseInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrSpouseInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
                <td></td>
                <td></td>
                <!--<td>
                    <span translate="stepApp.hrSpouseInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrSpouseInfo.createDate | date:'mediumDate'}}</span>
                </td>-->
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.hrSpouseInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrSpouseInfo.createBy}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrSpouseInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrSpouseInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrSpouseInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrSpouseInfo.updateBy}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>-->
            </tbody>
        </table>

    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
