
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCcAssignToInstituteLabel" translate="stepApp.ccAssignToInstitute.home.createOrEditLabel">Create or edit a CcAssignToInstitute</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="ccAssignToInstitute.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.ccAssignToInstitute.centerCode" for="field_centerCode">CenterCode</label>
            <input type="text" class="form-control" name="centerCode" id="field_centerCode"
                    ng-model="ccAssignToInstitute.centerCode"
                    required />
            <div ng-show="editForm.centerCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.centerCode.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="stepApp.ccAssignToInstitute.instGenInfo" for="field_instGenInfo">instGenInfo</label>
            <select class="form-control" id="field_instGenInfo" name="instGenInfo" ng-model="ccAssignToInstitute.instGenInfo" ng-options="instGenInfo as instGenInfo.code for instGenInfo in instgeninfos | orderBy:'id' track by instGenInfo.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
