
<div>
    <h2><span translate="stepApp.ccAssignToInstitute.detail.title">CcAssignToInstitute</span> {{ccAssignToInstitute.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.ccAssignToInstitute.centerCode">CenterCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{ccAssignToInstitute.centerCode}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.ccAssignToInstitute.instGenInfo">instGenInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="instGenInfo.detail({id:ccAssignToInstitute.instGenInfo.id})">{{ccAssignToInstitute.instGenInfo.code}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
