<div class="col-md-12 common-table">
    <h2><span translate="stepApp.traineeEvaluationInfo.detail.title">TraineeEvaluationInfo</span></h2>
    <div class="table-responsive">
        <div class="col-md-12 padding-tb">
            <h5 class="trainerinfo">Trainee Evaluation Information</h5>
        </div>
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.traineeEvaluationInfo.trainingCode">trainingInitializationInfo</span>
                </td>
                <td>{{traineeEvaluationInfo.trainingInitializationInfo.trainingCode}}</td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.traineeEvaluationInfo.traineeId">trainee Id</span>
                </td>
                <td>{{traineeEvaluationInfo.traineeInformation.traineeId}}</td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.traineeEvaluationInfo.performance">Performance</span>
                </td>
                <td>
                    <span class="form-control-static">{{traineeEvaluationInfo.performance}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.traineeEvaluationInfo.mark">Mark</span>
                </td>
                <td>
                    <span class="form-control-static">{{traineeEvaluationInfo.mark}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.traineeEvaluationInfo.remarks">Remarks</span>
                </td>
                <td>
                    <span class="form-control-static">{{traineeEvaluationInfo.remarks}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.traineeEvaluationInfo.evaluationDate">EvaluationDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{traineeEvaluationInfo.evaluationDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.traineeEvaluationInfo.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{traineeEvaluationInfo.status ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.traineeEvaluationInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{traineeEvaluationInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.traineeEvaluationInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{traineeEvaluationInfo.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.traineeEvaluationInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{traineeEvaluationInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.traineeEvaluationInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{traineeEvaluationInfo.updateBy}}</span>
                </td>
            </tr>


            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
