<div class="col-md-12 common-dialogue">
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4  ng-show="almShiftSetup.id == null" class="modal-title" id="myAlmShiftSetupLabel" translate="stepApp.almShiftSetup.home.createOrEditLabel">Create or edit a AlmShiftSetup</h4>
        <h4 ng-show="almShiftSetup.id != null" class="modal-title" id="myAlmShiftSetupLabel" translate="stepApp.almShiftSetup.home.EditLabel">Create or edit a AlmShiftSetup</h4>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="row">
            <div class="form-group col-sm-6">
                <label translate="stepApp.almShiftSetup.shiftName" for="field_shiftName">ShiftName</label>
                <input type="text" class="form-control" name="shiftName" id="field_shiftName"
                       ng-model="almShiftSetup.shiftName"
                       ng-remote-validate="/api/almShiftSetups/checkname/"
                       ng-remote-method="GET"
                       ng-remote-throttle="500"
                       tooltip="{{'stepApp.almShiftSetup.shiftName' | translate}}"
                       placeholder="{{'stepApp.almShiftSetup.shiftName' | translate}}"
                       required />
                <span class="message" ng-show="editForm.shiftName.$pending">validating...</span>
                <div ng-show="editForm.shiftName.$invalid">
                    <p class="help-block"
                       ng-show="editForm.shiftName.$error.ngRemoteValidate">
                        Shift Name already exists
                    </p>
                </div>
                <div ng-show="editForm.shiftName.$invalid">
                    <p class="help-block"
                       ng-show="editForm.shiftName.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label translate="stepApp.almShiftSetup.activeStatus" for="field_activeStatus">ActiveStatus</label>
            <span class="form-control">
            <input id="field_activeStatus" type="radio" tooltip="{{'stepApp.almShiftSetup.activeStatus' | translate}}" data-ng-model="almShiftSetup.activeStatus" name="activeStatus" data-ng-value="true">&nbsp;<span translate="global.home.active">active</span>&nbsp;|&nbsp;
            <input id="field_activeStatus" type="radio" tooltip="{{'stepApp.almShiftSetup.activeStatus' | translate}}" data-ng-model="almShiftSetup.activeStatus" name="activeStatus" data-ng-value="false">&nbsp;<span translate="global.home.inactive">inactive</span>
            </span>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label translate="stepApp.almShiftSetup.description" for="field_description">Description</label>
                <textarea type="text" class="form-control" name="description" id="field_description"
                          ng-model="almShiftSetup.description"
                          tooltip="{{'stepApp.almShiftSetup.description' | translate}}"
                          placeholder="{{'stepApp.almShiftSetup.description' | translate}}"
                          cols="30"
                          rows="3"
                    ></textarea>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"  data-dismiss="modal" onclick="window.history.back()">
            <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.cancel">Back</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;
            <span ng-show="almShiftSetup.id == null" translate="entity.action.save">Save</span>
            <span ng-show="almShiftSetup.id != null" translate="entity.action.update">Save</span>
        </button>
    </div>
</form>
</div>
