<!--
<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-heading" translate="stepApp.pgmsNotification.home.title"> PgmsNotifications</div>

        <div class="panel-body bg-panel">
            <div class="row">
                <div class="col-md-8 col-xs-12 padding-bt">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"
                                                                                 aria-hidden="true"></i></span>&ndash;&gt;
                            <input ng-model="q" id="search" class="form-control"
                                   placeholder="{{'global.home.searchhere' | translate}}">
                            &lt;!&ndash;</div>&ndash;&gt;
                        </div>
                        <div class="col-md-6">
                            &lt;!&ndash;<b>Items per page:</b>&ndash;&gt;
                            <div class="input-group">
                                <input type="number" min="1" max="100" class="form-control itemperpage"
                                       ng-model="pageSize">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-right">
                    </div>
                </div>
            </div>
-->

            <div class="col-md-12 no_padding common-list">
                <h2 translate="stepApp.pgmsNotification.home.title">\PgmsNotifications</h2>
                <div class="col-md-12 padding-tb">
                    <div class="col-md-4 no_padding">
                        <input ng-model="q" id="search" class="form-control"
                               placeholder="{{'global.home.searchhere'  | translate}}">
                    </div>
                    <div class="col-md-4">
                        <input type="number" min="1" max="100" class="form-control"
                               placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
                    </div>
                </div>

            <div class="modal fade" id="deletePgmsNotificationConfirmation">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form name="deleteForm" ng-submit="confirmDelete(pgmsNotification.id)">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                        ng-click="clear()">&times;</button>
                                <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                            </div>
                            <div class="modal-body">
                                <p translate="stepApp.pgmsNotification.delete.question"
                                   translate-values="{id: '{{pgmsNotification.id}}'}">Are you sure you want to delete
                                    this PgmsNotification?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                    translate="entity.action.cancel">Cancel</span>
                                </button>
                                <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                                    translate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-12 table-responsive padding0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th translate="global.form.serial"></th>
                        <th><input type="checkbox" id="field_selectedAll" ng-model="selectedAll"
                                   ng-change="checkAll()"/>
                            <span translate="stepApp.pgmsNotification.selectAll"> Select All</span>
                        </th>
                        <!--<th translate="global.field.id">ID</th>-->
                        <th translate="stepApp.pgmsNotification.empId">EmpId</th>
                        <th translate="stepApp.pgmsNotification.empName">Name</th>
                        <th translate="stepApp.pgmsNotification.empDesignation">Designation</th>
                        <th translate="stepApp.pgmsNotification.empDepartment">Department</th>
                        <th translate="stepApp.pgmsNotification.dateOfBirth">DateOfBirth</th>
                        <th translate="stepApp.pgmsNotification.joiningDate">JoiningDate</th>
                        <th translate="stepApp.pgmsNotification.retiremnntDate">RetiremnntDate</th>
                        <th translate="stepApp.pgmsNotification.prlDate">prlDate</th>
                        <th translate="stepApp.pgmsNotification.workDuration">WorkDuration</th>
                        <th translate="stepApp.pgmsNotification.contactNumber">ContactNumber</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- <tr ng-repeat="pgmsNotification in pgmsNotifications track by pgmsNotification.id"> click="addRemoveRequestList(pgmsNotification, 'singleCheck', pgmsNotification.notiCheck)" -->
                    <tr ng-animate="'animate'"
                        dir-paginate="pgmsNotification in pgmsNotifications | filter:q | itemsPerPage: pageSize track by pgmsNotification.id"
                        current-page="currentPage">
                        <td>{{$index + 1}}</td>
                        <td>
                            <input type="checkbox" name="notiCheck" id="field_notiCheck+$index"
                                   ng-model="pgmsNotification.notiCheck"
                                   ng-change="addRemoveRequestList(pgmsNotification)"/>
                        </td>
                        <!-- <td><a ui-sref="pgmsNotification.detail({id:pgmsNotification.id})">{{pgmsNotification.id}}</a></td>-->
                        <td>{{pgmsNotification.empId}}</td>
                        <td>{{pgmsNotification.empName}}</td>
                        <td>{{pgmsNotification.empDesignation}}</td>
                        <td>{{pgmsNotification.empDepartment}}</td>
                        <td>{{pgmsNotification.dateOfBirth | date:'mediumDate'}}</td>
                        <td>{{pgmsNotification.joiningDate | date:'mediumDate'}}</td>
                        <td>{{pgmsNotification.retiremnntDate | date:'mediumDate'}}</td>
                        <td>{{pgmsNotification.prlDate | date:'mediumDate'}}</td>
                        <td>{{pgmsNotification.workDuration}}</td>
                        <td>{{pgmsNotification.contactNumber}}</td>
                    </tr>
                    <tr>
                        <!--ng-show="!pgmsNotification.empId"-->
                        <td colspan="10">
                            <button type="button" ng-if="notificationView == true"
                                    ng-click="notification(pgmsNotifications)"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-envelope"></span>&nbsp;<span
                                translate="entity.action.notification"> Notification </span>
                            </button>
                            <!--<button type="submit"
                            ng-click="delete(pgmsNotification.id)"
                            class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.cancel"> Cancel </span>
                            </button>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav class="no-print">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                             template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
                </nav>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sendpgmsNotification">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="confirmForm" ng-submit="confirmSend()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.action.notTitle"> Confirm For Notification </h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.pgmsNotification.notification.question"> Are you sure you want to Notify
                            for Retirement ?</p>
                    </div>
                    <div class="modal-body">
                        <label translate="stepApp.pgmsNotification.message" for="field_message">Message</label>
                        <textarea class="form-control" name="message" id="field_message" cols="40" rows="5" ng-maxlength="250"
                             ng-model="pgmsNotification.message"> </textarea>
                        <div ng-show="confirmForm.message.$invalid">
                            <p class="help-block"
                               ng-show="confirmForm.message.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="confirmForm.$invalid" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-envelope"></span>&nbsp;<span
                            translate="entity.action.send">Send</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Detail html Close --!>
    <!--<div>-->
    <!--<h2><span translate="stepApp.pgmsNotification.detail.title">PgmsNotification</span> {{pgmsNotification.id}}</h2>-->
    <!--<div class="table-responsive">-->
    <!--<table class="table table-striped">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th translate="entity.detail.field">Field</th>-->
    <!--<th translate="entity.detail.value">Value</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr>-->
    <!--<td>-->
    <!--<span translate="stepApp.pgmsNotification.empId">EmpId</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span class="form-control-static">{{pgmsNotification.empId}}</span>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>-->
    <!--<span translate="stepApp.pgmsNotification.empName">EmpName</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span class="form-control-static">{{pgmsNotification.empName}}</span>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>-->
    <!--<span translate="stepApp.pgmsNotification.empDesignation">EmpDesignation</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span class="form-control-static">{{pgmsNotification.empDesignation}}</span>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>-->
    <!--<span translate="stepApp.pgmsNotification.dateOfBirth">DateOfBirth</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span class="form-control-static">{{pgmsNotification.dateOfBirth | date:'mediumDate'}}</span>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>-->
    <!--<span translate="stepApp.pgmsNotification.joiningDate">JoiningDate</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span class="form-control-static">{{pgmsNotification.joiningDate | date:'mediumDate'}}</span>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>-->
    <!--<span translate="stepApp.pgmsNotification.retiremnntDate">RetiremnntDate</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span class="form-control-static">{{pgmsNotification.retiremnntDate | date:'mediumDate'}}</span>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>-->
    <!--<span translate="stepApp.pgmsNotification.workDuration">WorkDuration</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span class="form-control-static">{{pgmsNotification.workDuration}}</span>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>-->
    <!--<span translate="stepApp.pgmsNotification.contactNumber">ContactNumber</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span class="form-control-static">{{pgmsNotification.contactNumber}}</span>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>-->
    <!--<span translate="stepApp.pgmsNotification.message">Message</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span class="form-control-static">{{pgmsNotification.message}}</span>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>-->
    <!--<span translate="stepApp.pgmsNotification.notificationStatus">NotificationStatus</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span class="form-control-static">{{pgmsNotification.notificationStatus}}</span>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>-->
    <!--<span translate="stepApp.pgmsNotification.activeStatus">ActiveStatus</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span class="form-control-static">{{pgmsNotification.activeStatus}}</span>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>-->
    <!--<span translate="stepApp.pgmsNotification.createDate">CreateDate</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span class="form-control-static">{{pgmsNotification.createDate | date:'mediumDate'}}</span>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>-->
    <!--<span translate="stepApp.pgmsNotification.createBy">CreateBy</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span class="form-control-static">{{pgmsNotification.createBy}}</span>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>-->
    <!--<span translate="stepApp.pgmsNotification.updateDate">UpdateDate</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span class="form-control-static">{{pgmsNotification.updateDate | date:'mediumDate'}}</span>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>-->
    <!--<span translate="stepApp.pgmsNotification.updateBy">UpdateBy</span>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span class="form-control-static">{{pgmsNotification.updateBy}}</span>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->

    <!--<button type="submit"-->
    <!--onclick="window.history.back()"-->
    <!--class="btn btn-info">-->
    <!--<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>-->
    <!--</button>-->
    <!--</div>-->
