<style>
    .notificationList{
        background: #689f38;
        padding: 10px;
        margin: 15px 0px;
    }
    .notificationList a{
        color:#fff;
        font-weight: bold;
    }
</style>
<div class="col-md-12 no_padding common-list">
    <h2 translate="stepApp.pgmsNotification.home.title">PgmsNotifications</h2>
        <div class="notificationList" >
            <a ui-sref="pgmsNotification.detail({financialYear:'2015-2016'})" ui-sref-active="active">
                <i class="fa fa-pencil-square-o"></i>
                <span> 2015-2016</span>
            </a>
        </div>
        <div class="notificationList">
            <a ui-sref="pgmsNotification.detail({financialYear:'2016-2017'})" ui-sref-active="active">
                <i class="fa fa-pencil-square-o"></i>
                <span >2016-2017</span>
            </a>
        </div>
        <div class="notificationList">
            <a ui-sref="pgmsNotification.detail({financialYear:'2017-2018'})" ui-sref-active="active">
                <i class="fa fa-pencil-square-o"></i>
                <span >2017-2018</span>
            </a>
        </div>
    </div>
</div>
</div>
