
<div>
    <h2><span translate="stepApp.bloodGroup.detail.title">BloodGroup</span> {{bloodGroup.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.bloodGroup.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{bloodGroup.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.bloodGroup.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{bloodGroup.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.bloodGroup.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{bloodGroup.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.bloodGroup.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{bloodGroup.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.bloodGroup.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{bloodGroup.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.bloodGroup.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{bloodGroup.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
