<div>
    <h2 translate="stepApp.mpoSalaryFlow.home.title">MpoSalaryFlows</h2>

    <div class="container no-print">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="mpoSalaryFlow.new">
                    <span class="glyphicon glyphicon-flash"></span>
                    <span translate="stepApp.mpoSalaryFlow.home.createLabel">Create a new MpoSalaryFlow</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a MpoSalaryFlow</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteMpoSalaryFlowConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(mpoSalaryFlow.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.mpoSalaryFlow.delete.question" translate-values="{id: '{{mpoSalaryFlow.id}}'}">Are you sure you want to delete this MpoSalaryFlow?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.mpoSalaryFlow.reportName">ReportName</th>
                    <th translate="stepApp.mpoSalaryFlow.urls">Urls</th>
                    <th translate="stepApp.mpoSalaryFlow.forwardTo">ForwardTo</th>
                    <th translate="stepApp.mpoSalaryFlow.forwardFrom">ForwardFrom</th>
                    <th translate="stepApp.mpoSalaryFlow.forwardToRole">ForwardToRole</th>
                    <th translate="stepApp.mpoSalaryFlow.status">Status</th>
                    <th translate="stepApp.mpoSalaryFlow.approveStatus">ApproveStatus</th>
                    <th translate="stepApp.mpoSalaryFlow.userLock">UserLock</th>
                    <th translate="stepApp.mpoSalaryFlow.levels">Levels</th>
                    <th translate="stepApp.mpoSalaryFlow.dteStatus">DteStatus</th>
                    <th translate="stepApp.mpoSalaryFlow.dteId">DteId</th>
                    <th translate="stepApp.mpoSalaryFlow.dteApproveDate">DteApproveDate</th>
                    <th translate="stepApp.mpoSalaryFlow.ministryStatus">MinistryStatus</th>
                    <th translate="stepApp.mpoSalaryFlow.ministryId">MinistryId</th>
                    <th translate="stepApp.mpoSalaryFlow.ministryApproveDate">MinistryApproveDate</th>
                    <th translate="stepApp.mpoSalaryFlow.agStatus">AgStatus</th>
                    <th translate="stepApp.mpoSalaryFlow.agId">AgId</th>
                    <th translate="stepApp.mpoSalaryFlow.agApproveDate">AgApproveDate</th>
                    <th translate="stepApp.mpoSalaryFlow.dteComments">DteComments</th>
                    <th translate="stepApp.mpoSalaryFlow.ministryComments">MinistryComments</th>
                    <th translate="stepApp.mpoSalaryFlow.agComments">AgComments</th>
                    <th translate="stepApp.mpoSalaryFlow.comments">Comments</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mpoSalaryFlow in mpoSalaryFlows track by mpoSalaryFlow.id">
                    <td><a ui-sref="mpoSalaryFlow.detail({id:mpoSalaryFlow.id})">{{mpoSalaryFlow.id}}</a></td>
                    <td>{{mpoSalaryFlow.reportName}}</td>
                    <td>{{mpoSalaryFlow.urls}}</td>
                    <td>{{mpoSalaryFlow.forwardTo}}</td>
                    <td>{{mpoSalaryFlow.forwardFrom}}</td>
                    <td>{{mpoSalaryFlow.forwardToRole}}</td>
                    <td>{{mpoSalaryFlow.status}}</td>
                    <td>{{mpoSalaryFlow.approveStatus}}</td>
                    <td>{{mpoSalaryFlow.userLock}}</td>
                    <td>{{mpoSalaryFlow.levels}}</td>
                    <td>{{mpoSalaryFlow.dteStatus}}</td>
                    <td>{{mpoSalaryFlow.dteId}}</td>
                        <td>{{mpoSalaryFlow.dteApproveDate | date:'mediumDate'}}</td>
                    <td>{{mpoSalaryFlow.ministryStatus}}</td>
                    <td>{{mpoSalaryFlow.ministryId}}</td>
                        <td>{{mpoSalaryFlow.ministryApproveDate | date:'mediumDate'}}</td>
                    <td>{{mpoSalaryFlow.agStatus}}</td>
                    <td>{{mpoSalaryFlow.agId}}</td>
                        <td>{{mpoSalaryFlow.agApproveDate | date:'mediumDate'}}</td>
                    <td>{{mpoSalaryFlow.dteComments}}</td>
                    <td>{{mpoSalaryFlow.ministryComments}}</td>
                    <td>{{mpoSalaryFlow.agComments}}</td>
                    <td>{{mpoSalaryFlow.comments}}</td>
                    <td class="no-print text-right">
                        <button type="submit"
                                ui-sref="mpoSalaryFlow.detail({id:mpoSalaryFlow.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="mpoSalaryFlow.edit({id:mpoSalaryFlow.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(mpoSalaryFlow.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
