<div class="col-md-12  common-list padding5">
    <h2 translate="stepApp.umracModuleSetup.home.title">FeePaymentCategorySetups</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-md-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-md-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-md-4 no_padding text-right ">
            <button class="btn btn-primary " ui-sref="umracModuleSetup.new"> <span class="glyphicon glyphicon-plus"></span><span
                translate="stepApp.umracModuleSetup.home.createLabel">Add New</span>
            </button>
        </div>
    </div>
    <!--<div class="col-sm-12 padding-tb no-print">
        <div class="col-md-8 col-xs-12 no_padding">
            <div class="col-md-6 no_padding">
                <b><span translate="global.home.searchhere">Search Here :</span></b>
                <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                </div>
            </div>
            <div class="col-md-6">
                <b><span translate="global.home.itemperpage">Items per page:</span></b>
                <div class="input-group col-sm-4">
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12  text-right no_padding dlbtn-top">
            <button class="btn btn-primary " ui-sref="umracModuleSetup.new">
                <span class="glyphicon glyphicon-plus"></span><span
                translate="stepApp.umracModuleSetup.home.createLabel">Add New</span>
            </button>
        </div>
    </div>-->
    <div class="modal animated zoomIn" id="deleteUmracModuleSetupConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(umracModuleSetup.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete
                            operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.umracModuleSetup.delete.question"
                           translate-values="{id: '{{umracModuleSetup.id}}'}">Are you sure you want to
                            delete
                            this UmracModuleSetup?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th translate="global.field.serial">Serial</th>
                <!--<th translate="global.field.id">ID</th>-->
                <th translate="stepApp.umracModuleSetup.moduleId">ModuleId</th>
                <th translate="stepApp.umracModuleSetup.moduleName">ModuleName</th>
                <!--<th translate="stepApp.umracModuleSetup.moduleUrl">ModuleUrl</th>-->
                <!--<th translate="stepApp.umracModuleSetup.description">Description</th>-->
                <th translate="stepApp.umracModuleSetup.status">Status</th>
                <!--<th translate="stepApp.umracModuleSetup.createDate">CreateDate</th>-->
                <!--<th translate="stepApp.umracModuleSetup.createBy">CreateBy</th>-->
                <!--<th translate="stepApp.umracModuleSetup.updatedBy">UpdatedBy</th>-->
                <!--<th translate="stepApp.umracModuleSetup.updatedTime">UpdatedTime</th>-->
                <th class="text-center" translate="entity.action.action"></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="umracModuleSetup in umracModuleSetups | filter:q | itemsPerPage: pageSize track by umracModuleSetup.id"
                current-page="currentPage">
                <td>{{$index+1}}</td>
                <!--<td><a ui-sref="umracModuleSetup.detail({id:umracModuleSetup.id})">{{umracModuleSetup.id}}</a>
                </td>-->
                <td>{{umracModuleSetup.moduleId}}</td>
                <td>{{umracModuleSetup.moduleName}}</td>
                <!--<td>{{umracModuleSetup.moduleUrl}}</td>-->
                <!--<td>{{umracModuleSetup.description}}</td>-->
                <td ng-if="umracModuleSetup.status">Active</td>
                <td ng-if="!umracModuleSetup.status">InActive</td>
                <!--<td>{{umracModuleSetup.createDate | date:'mediumDate'}}</td>-->
                <!--<td>{{umracModuleSetup.createBy}}</td>-->
                <!--<td>{{umracModuleSetup.updatedBy}}</td>-->
                <!--<td>{{umracModuleSetup.updatedTime | date:'mediumDate'}}</td>-->
                <td style="width:250px;" class="text-right no-print">
                    <button type="submit"
                            ui-sref="umracModuleSetup.detail({id:umracModuleSetup.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                        translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="umracModuleSetup.edit({id:umracModuleSetup.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(umracModuleSetup.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav class="no-print">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
