<div class="" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12 common-table padding5">
        <div>
            <h2><span translate="stepApp.umracModuleSetup.detail.title">UmracModuleSetup</span>
            </h2>

            <div class="table-responsive">
                <table class="table table-striped bteb-table">
                    <thead>
                    <tr>
                        <th translate="entity.detail.field">Field</th>
                        <th translate="entity.detail.value">Value</th>
                        <th translate="entity.detail.field">Field</th>
                        <th translate="entity.detail.value">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span translate="stepApp.umracModuleSetup.moduleId">ModuleId</span>
                        </td>
                        <td>
                            <span class="form-control-static">&nbsp;: &nbsp;{{umracModuleSetup.moduleId}}</span>
                        </td>
                        <td>
                            <span translate="stepApp.umracModuleSetup.moduleName">ModuleName</span>
                        </td>
                        <td>
                            <span class="form-control-static">&nbsp;: &nbsp;{{umracModuleSetup.moduleName}}</span>
                        </td>
                    </tr>
                    <tr>
                        <!--<td>-->
                            <!--<span translate="stepApp.umracModuleSetup.moduleUrl">ModuleUrl</span>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<span class="form-control-static">&nbsp;: &nbsp;{{umracModuleSetup.moduleUrl}}</span>-->
                        <!--</td>-->
                        <td>
                            <span translate="stepApp.umracModuleSetup.description">Description</span>
                        </td>
                        <td>
                            <span class="form-control-static">&nbsp;: &nbsp;{{umracModuleSetup.description}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.umracModuleSetup.status">Status</span>
                        </td>
                        <td>
                            <span class="form-control-static">&nbsp;: &nbsp;{{umracModuleSetup.status}}</span>
                        </td>
                        <!--<td>-->
                            <!--<span translate="stepApp.umracModuleSetup.createDate">CreateDate</span>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<span class="form-control-static">&nbsp;: &nbsp;{{umracModuleSetup.createDate | date:'mediumDate'}}</span>-->
                        <!--</td>-->
                    </tr>
                    <!--<tr>-->
                        <!--<td>-->
                            <!--<span translate="stepApp.umracModuleSetup.createBy">CreateBy</span>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<span class="form-control-static">&nbsp;: &nbsp;{{umracModuleSetup.createBy}}</span>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<span translate="stepApp.umracModuleSetup.updatedBy">UpdatedBy</span>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<span class="form-control-static">&nbsp;: &nbsp;{{umracModuleSetup.updatedBy}}</span>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>-->
                            <!--<span translate="stepApp.umracModuleSetup.updatedTime">UpdatedTime</span>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<span-->
                                <!--class="form-control-static">&nbsp;: &nbsp;{{umracModuleSetup.updatedTime | date:'mediumDate'}}</span>-->
                        <!--</td>-->
                        <!--<td></td>-->
                        <!--<td></td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                </table>
            </div>

            <button type="submit"
                    onclick="window.history.back()"
                    class="btn btn-info no-print">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                translate="entity.action.back"> Back</span>
            </button>
        </div>
    </div>
</div>
