<div class="col-md-12 common-table">
    <h2><span translate="stepApp.trainingCategorySetup.detail.title">TrainingCategorySetup</span></h2>
    <div class="table-responsive">
        <div class="col-md-12 no_padding">
            <h5 class="trainerinfo">Training Category Information</h5>
        </div>
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.trainingCategorySetup.categoryName">CategoryName</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingCategorySetup.categoryName}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainingCategorySetup.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingCategorySetup.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingCategorySetup.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingCategorySetup.status ? 'Active' : 'Inactive'}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainingCategorySetup.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingCategorySetup.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingCategorySetup.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingCategorySetup.createBy.login}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainingCategorySetup.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingCategorySetup.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingCategorySetup.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingCategorySetup.updateBy.login}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
