<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-heading" translate="stepApp.pgmsAppRetirmntCalculation.home.title">PgmsAppRetirmntCalculations</div>
        <!--<jh-alert></jh-alert>-->
        <div class="panel-body bg-panel">
            <div class="col-md-12 padding-bt no_padding">
                <div class="col-md-8 col-xs-12 no_padding">
                    <div class="col-md-6">
                        <!--<b>&lt;!&ndash;{{ (hrClassInfos | filter:q).length }}&ndash;&gt; Search Here :</b>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>-->
                        <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere' | translate}}">
                        <!--</div>-->
                    </div>
                    <div class="col-md-6">
                        <!--<b>Items per page:</b>-->
                        <div class="input-group">
                            <input type="number" min="1" max="100" class="form-control itemperpage" ng-model="pageSize">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-right btn-top">
                    <button class="btn btn-primary" ui-sref="pgmsAppRetirmntCalculation.new">
                        <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.pgmsAppRetirmntCalculation.home.createLabel">Create a new PgmsAppRetirmntCalculation</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deletePgmsAppRetirmntCalculationConfirmation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="deleteForm" ng-submit="confirmDelete(pgmsAppRetirmntCalculation.id)">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                        </div>
                        <div class="modal-body">
                            <p translate="stepApp.pgmsAppRetirmntCalculation.delete.question" translate-values="{id: '{{pgmsAppRetirmntCalculation.id}}'}">Are you sure you want to delete this PgmsAppRetirmntCalculation?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th translate="global.field.id">ID</th>
                        <th translate="stepApp.pgmsAppRetirmntCalculation.appRetirmntPenInfo">appRetirmntPenInfo</th>
                        <th translate="stepApp.pgmsAppRetirmntCalculation.lastPayCodeElpcInfo">lastPayCodeElpcInfo</th>
                        <th translate="stepApp.pgmsAppRetirmntCalculation.surrenderType">SurrenderType</th>
                        <th translate="stepApp.pgmsAppRetirmntCalculation.rateOfPension">RateOfPension</th>
                        <th translate="stepApp.pgmsAppRetirmntCalculation.totalPenOrGr">TotalPenOrGr</th>
                        <th translate="stepApp.pgmsAppRetirmntCalculation.dueAmountInfo">DueAmountInfo</th>
                        <th translate="stepApp.pgmsAppRetirmntCalculation.remainingTotal">RemainingTotal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pgmsAppRetirmntCalculation in pgmsAppRetirmntCalculations track by pgmsAppRetirmntCalculation.id">
                        <td><a ui-sref="pgmsAppRetirmntCalculation.detail({id:pgmsAppRetirmntCalculation.id})">{{pgmsAppRetirmntCalculation.id}}</a></td>
                        <td>
                            <a ui-sref="PgmsAppRetirmntPen.detail({id:pgmsAppRetirmntCalculation.appRetirmntPenInfo.id})">{{pgmsAppRetirmntCalculation.appRetirmntPenInfo.appNo}}</a>
                        </td>
                        <td>
                            <a ui-sref="PgmsElpc.detail({id:pgmsAppRetirmntCalculation.lastPayCodeElpcInfo.id})">{{pgmsAppRetirmntCalculation.lastPayCodeElpcInfo.lastRcvPayscale}}</a>
                        </td>
                        <td>{{pgmsAppRetirmntCalculation.surrenderType}}</td>
                        <td>{{pgmsAppRetirmntCalculation.rateOfPension}}</td>
                        <td>{{pgmsAppRetirmntCalculation.totalPenOrGr}}</td>
                        <td>{{pgmsAppRetirmntCalculation.dueAmountInfo}}</td>
                        <td>{{pgmsAppRetirmntCalculation.remainingTotal}}</td>
                        <td>
                            <button type="submit"
                                    ui-sref="pgmsAppRetirmntCalculation.detail({id:pgmsAppRetirmntCalculation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                            </button>
                            <button type="submit"
                                    ui-sref="pgmsAppRetirmntCalculation.edit({id:pgmsAppRetirmntCalculation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                            </button>
                            <button type="submit"
                                    ng-click="delete(pgmsAppRetirmntCalculation.id)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination">
                    <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                    <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                    <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                    <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                    <li class="active"><a>{{page + 1}}</a></li>
                    <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                    <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                    <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                    <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
