
<div>
    <h2><span translate="stepApp.pgmsAppRetirmntCalculation.detail.title">PgmsAppRetirmntCalculation</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntCalculation.surrenderType">SurrenderType</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntCalculation.surrenderType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntCalculation.rateOfPension">RateOfPension</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntCalculation.rateOfPension}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntCalculation.totalPenOrGr">TotalPenOrGr</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntCalculation.totalPenOrGr}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntCalculation.firstHalfOfPen">FirstHalfOfPen</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntCalculation.firstHalfOfPen}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntCalculation.exchangeRetirmntAl">ExchangeRetirmntAl</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntCalculation.exchangeRetirmntAl}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntCalculation.deservedRetirmntAl">DeservedRetirmntAl</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntCalculation.deservedRetirmntAl}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntCalculation.monthlyRetirmntAl">MonthlyRetirmntAl</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntCalculation.monthlyRetirmntAl}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntCalculation.dueAmountInfo">DueAmountInfo</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntCalculation.dueAmountInfo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntCalculation.remainingTotal">RemainingTotal</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntCalculation.remainingTotal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntCalculation.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntCalculation.activeStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntCalculation.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntCalculation.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntCalculation.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntCalculation.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntCalculation.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntCalculation.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntCalculation.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntCalculation.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntCalculation.lastPayCodeElpcInfo">lastPayCodeElpcInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="PgmsElpc.detail({id:pgmsAppRetirmntCalculation.lastPayCodeElpcInfo.id})">{{pgmsAppRetirmntCalculation.lastPayCodeElpcInfo.lastRcvPayscale}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntCalculation.appRetirmntPenInfo">appRetirmntPenInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="PgmsAppRetirmntPen.detail({id:pgmsAppRetirmntCalculation.appRetirmntPenInfo.id})">{{pgmsAppRetirmntCalculation.appRetirmntPenInfo.appNo}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-default" class="btn " data-dismiss="modal" onclick="window.history.back()">
        <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.back">Back</span>
    </button>
 </div>
