
<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="modal-title" id="myPgmsAppRetirmntCalculationLabel" translate="stepApp.pgmsAppRetirmntCalculation.home.createOrEditLabel">Create or edit a PgmsAppRetirmntCalculation</h4>
        </div>
        <div class="panel-body bg-panel">
            <jh-alert-error></jh-alert-error>

            <form class="form-horizontal" name="editForm" role="form" novalidate ng-submit="save()" show-validation>
                <div class="row">
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <label class="control-label" translate="stepApp.pgmsAppRetirmntCalculation.lastPayCodeElpcInfo" for="field_lastPayCodeElpcInfo">lastPayCodeElpcInfo</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_lastPayCodeElpcInfo" name="lastPayCodeElpcInfo" ng-model="pgmsAppRetirmntCalculation.lastPayCodeElpcInfo" ng-options="PgmsElpc as PgmsElpc.lastRcvPayscale for PgmsElpc in pgmselpcs track by PgmsElpc.id">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <label class="control-label" translate="stepApp.pgmsAppRetirmntCalculation.surrenderType">SurrenderType</label>
                        <div class="input-margin">
                            <label class="radio-inline">
                                <input type="radio" data-ng-model="pgmsAppRetirmntCalculation.surrenderType" name="surrenderType" value="50">&nbsp;50%&nbsp;&nbsp;
                            </label>
                            <label class="radio-inline">
                                <input type="radio" data-ng-model="pgmsAppRetirmntCalculation.surrenderType" name="surrenderType" value="100">&nbsp;100%
                            </label>
                            <div ng-show="editForm.surrenderType.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.surrenderType.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <label class="control-label" translate="stepApp.pgmsAppRetirmntCalculation.rateOfPension" for="field_rateOfPension">RateOfPension</label>
                        <div class="input-margin">
                            <input type="number" class="form-control" name="rateOfPension" id="field_rateOfPension"
                                   ng-model="pgmsAppRetirmntCalculation.rateOfPension"
                                   required />
                            <div ng-show="editForm.rateOfPension.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.rateOfPension.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.rateOfPension.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <label class="control-label" translate="stepApp.pgmsAppRetirmntCalculation.totalPenOrGr" for="field_totalPenOrGr">TotalPenOrGr</label>
                        <div class="input-margin">
                            <input type="number" class="form-control" name="totalPenOrGr" id="field_totalPenOrGr"
                                   ng-model="pgmsAppRetirmntCalculation.totalPenOrGr"
                                   required />
                            <div ng-show="editForm.totalPenOrGr.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.totalPenOrGr.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.totalPenOrGr.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <label class="control-label" translate="stepApp.pgmsAppRetirmntCalculation.firstHalfOfPen" for="field_firstHalfOfPen">FirstHalfOfPen</label>
                        <div class="input-margin">
                            <input type="number" class="form-control" name="firstHalfOfPen" id="field_firstHalfOfPen"
                                   ng-model="pgmsAppRetirmntCalculation.firstHalfOfPen"
                            />
                        </div>
                    </div>
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <label class="control-label" translate="stepApp.pgmsAppRetirmntCalculation.exchangeRetirmntAl" for="field_exchangeRetirmntAl">ExchangeRetirmntAl</label>
                        <div class="input-margin">
                            <input type="number" class="form-control" name="exchangeRetirmntAl" id="field_exchangeRetirmntAl"
                                   ng-model="pgmsAppRetirmntCalculation.exchangeRetirmntAl"
                                   required />
                            <div ng-show="editForm.exchangeRetirmntAl.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.exchangeRetirmntAl.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.exchangeRetirmntAl.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <label class="control-label" translate="stepApp.pgmsAppRetirmntCalculation.deservedRetirmntAl" for="field_deservedRetirmntAl">DeservedRetirmntAl</label>
                        <div class="input-margin">
                            <input type="number" class="form-control" name="deservedRetirmntAl" id="field_deservedRetirmntAl"
                                   ng-model="pgmsAppRetirmntCalculation.deservedRetirmntAl"
                                   required />
                            <div ng-show="editForm.deservedRetirmntAl.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.deservedRetirmntAl.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.deservedRetirmntAl.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <label class="control-label" translate="stepApp.pgmsAppRetirmntCalculation.monthlyRetirmntAl" for="field_monthlyRetirmntAl">MonthlyRetirmntAl</label>
                        <div class="input-margin">
                            <input type="number" class="form-control" name="monthlyRetirmntAl" id="field_monthlyRetirmntAl"
                                   ng-model="pgmsAppRetirmntCalculation.monthlyRetirmntAl"
                                   required />
                            <div ng-show="editForm.monthlyRetirmntAl.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.monthlyRetirmntAl.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.monthlyRetirmntAl.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12  col-sm-12 col-xs-12">
                        <label class="control-label" translate="stepApp.pgmsAppRetirmntCalculation.dueAmountInfo" for="field_dueAmountInfo">DueAmountInfo</label>
                        <div class="input-margin">
                            <input type="number" class="form-control" name="dueAmountInfo" id="field_dueAmountInfo"
                                   ng-model="pgmsAppRetirmntCalculation.dueAmountInfo" size="10"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12  col-sm-12 col-xs-12">
                        <label class="control-label" translate="stepApp.pgmsAppRetirmntCalculation.remainingTotal" for="field_remainingTotal">RemainingTotal</label>
                        <div class="input-margin">
                            <input type="number" class="form-control" name="remainingTotal" id="field_remainingTotal"
                                   ng-model="pgmsAppRetirmntCalculation.remainingTotal"
                                   required size="10" />
                            <div ng-show="editForm.remainingTotal.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.remainingTotal.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.remainingTotal.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="form-group">
                    <label translate="stepApp.pgmsAppRetirmntCalculation.appRetirmntPenInfo" for="field_appRetirmntPenInfo">appRetirmntPenInfo</label>
                    <select class="form-control" id="field_appRetirmntPenInfo" name="appRetirmntPenInfo" ng-model="pgmsAppRetirmntCalculation.appRetirmntPenInfo" ng-options="PgmsAppRetirmntPen as PgmsAppRetirmntPen.appNo for PgmsAppRetirmntPen in pgmsappretirmntpens track by PgmsAppRetirmntPen.id">
                        <option value=""></option>
                    </select>
                </div>-->

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" class="btn " data-dismiss="modal" onclick="window.history.back()">
                        <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.back">Back</span>
                    </button>
                    <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
