<div class="col-md-12 common-dialogue padding-left5 padding-right0">
    <h4 id="myHrEmpTransferApplInfoLabel"><span
        translate="stepApp.hrEmpTransferApplInfo.home.profileViewEditTitle"></span> : {{hrEmployeeInfo.fullName}}</h4>
    <div class="panel-body">
        <div class="row hrm-view">
                <span ng-show="addMode">
                    <span ng-show="noEmployeeFound" class="alert">Employee is not created yet.</span>
                </span>
        </div>
        <div class="panel-group">
            <div class="">
                <div class="common-table table-responsive" ng-hide="hrEmployeeInfo.fullName ==null">
                    <table class="table table-bordered ">
                        <tbody>
                        <tr>
                            <td><strong>Name: </strong></td>
                            <td>{{hrEmployeeInfo.fullName}}</td>
                            <td><strong>Employee ID:</strong></td>
                            <td>{{hrEmployeeInfo.employeeId}}</td>
                        </tr>
                        <tr>
                            <td><strong>Contact No:</strong></td>
                            <td>{{hrEmployeeInfo.mobileNumber}}</td>
                            <td><strong>Email:</strong></td>
                            <td>{{hrEmployeeInfo.emailAddress}}</td>
                        </tr>
                        <tr>
                            <td><strong>Section:</strong></td>
                            <td>{{hrEmployeeInfo.departmentInfo.departmentInfo.departmentName}}</td>
                            <td><strong>Designation:</strong></td>
                            <td>{{hrEmployeeInfo.designationInfo.designationInfo.designationName}}</td>
                        </tr>
                        <tr>
                            <td><strong>Organization:</strong></td>
                            <td>{{hrEmployeeInfo.workAreaDtl.name}}</td>
                            <td><strong>Grade: </strong></td>
                            <td>{{hrEmployeeInfo.gradeInfo.gradeCode}}</td>
                        </tr>
                        <tr>
                            <td><strong>Release Date:</strong></td>
                            <td>{{hrEmployeeInfo.jobReleaseDate | date:'mediumDate'}}</td>
                            <td><strong>Joining Date: </strong></td>
                            <td>{{hrEmployeeInfo.dateOfJoining | date:'mediumDate'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- For Loop Start From Here-->
                <div class="col-sm-12 no_padding" ng-repeat="hrEmpTransferApplInfo in hrEmpTransferApplInfoList">
                    <form class="form-horizontal col-sm-12 no_padding " name="editForm" role="form" ng-submit="save()"
                          novalidate show-validation>

                        <div class="hrm-view no_padding">
                            <div class="col-md-7 padding0">
                                <h4><b><span style="padding: 5px; color:#fff"
                                             translate="stepApp.hrEmpTransferApplInfo.transferType"></span>&nbsp; :
                                    &nbsp;{{hrEmpTransferApplInfo.transferType.typeTitle}} <!--=>
                                    {{hrEmpTransferApplInfo.officeOrderDate | date:'mediumDate'}}--></b></h4>
                            </div>
                            <div class="col-md-5">
                                <button
                                    ng-hide="noEmployeeFound || hrEmpTransferApplInfo.isLocked || hrEmpTransferApplInfo.logStatus==6"
                                    ng-if="(hrEmpTransferApplInfo.logStatus == 11 || hrEmpTransferApplInfo.logStatus == 33 || hrEmpTransferApplInfo.logStatus == 55)"
                                    type="button" ng-click="changeProfileMode(hrEmpTransferApplInfo)"
                                    class="btn btn-primary btn-sm">{{hrEmpTransferApplInfo.viewModeText}}
                                </button>
                                    <span ng-show="hrEmpTransferApplInfo.isLocked" class="alert alert-warning"><span
                                        translate="stepApp.hrmHome.recordLocked">Pending</span></span>
                                    <span
                                        ng-if="(hrEmpTransferApplInfo.logStatus == 22 || hrEmpTransferApplInfo.logStatus == 44 || hrEmpTransferApplInfo.logStatus == 66)">
                                        <span class="alert alert-warning" translate="stepApp.hrmHome.requestRejected">Rejected</span>
                                    </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 text-right"
                                 ng-if="(hrEmpTransferApplInfo.logStatus == 22 || hrEmpTransferApplInfo.logStatus == 44 || hrEmpTransferApplInfo.logStatus == 66)">
                                <span class="alert-warning">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.rejectionReason">Reason</span>: &nbsp; : &nbsp;{{hrEmpPublicationInfo.logComments}}
                                </span>
                            </div>
                            <div class="col-sm-12 text-right"
                                 ng-if="(hrEmpTransferApplInfo.logStatus == 11 || hrEmpTransferApplInfo.logStatus == 33 || hrEmpTransferApplInfo.logStatus == 55)">
                                <span class="alert-warning" ng-if="hrEmpTransferApplInfo.logStatus == 11">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.messages.waitingForDeptHeadApproval">Waiting @ Department Head Approval</span>
                                </span>
                                    <span class="alert-warning" ng-if="hrEmpTransferApplInfo.logStatus == 33">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.messages.waitingForInstHeadApproval">Waiting @ Institute Head Approval</span>
                                </span>
                                    <span class="alert-warning" ng-if="hrEmpTransferApplInfo.logStatus === 55">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.messages.waitingForSystemAdminApproval">Waiting @ System Admin Approval</span>
                                </span>
                            </div>
                        </div>

                        <div class="hrm-view">
                            <div class="col-md-12 common-table" ng-show="hrEmpTransferApplInfo.viewMode">
                                <table class="table">
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td><strong translate="stepApp.hrEmpTransferApplInfo.transferType"></strong>
                                        </td>
                                        <td>{{hrEmpTransferApplInfo.transferType.typeName}}</td>
                                        <td><strong
                                            translate="stepApp.hrEmpTransferApplInfo.officeOrderNumber"></strong></td>
                                        <td>{{hrEmpTransferApplInfo.officeOrderNumber}}</td>
                                        <td>&nbsp;</td>
                                        <td><strong translate="stepApp.hrEmpTransferApplInfo.officeOrderDate"></strong>
                                        </td>
                                        <td>{{hrEmpTransferApplInfo.officeOrderDate | date:'mediumDate'}}</td>
                                        <td>&nbsp;</td>
                                        <td><strong translate="stepApp.hrEmpTransferApplInfo.transferReason"></strong>
                                        </td>
                                        <td>{{hrEmpTransferApplInfo.transferReason}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="hrm-view" ng-show="!hrEmpTransferApplInfo.viewMode">
                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label translate="stepApp.hrEmpTransferApplInfo.transferType"
                                           for="field_transferType">transferType</label>
                                    <div class="input-margin">
                                        <select class="form-control" id="field_transferType" name="transferType"
                                                ng-model="hrEmpTransferApplInfo.transferType" required
                                                ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in transferTypeList track by MiscTypeSetup.id">
                                            <option selected disabled value="">-- Select --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="">
                                    <label class="control-label"
                                           translate="stepApp.hrEmpTransferApplInfo.officeOrderNumber"
                                           for="field_officeOrderNumber">OfficeOrderNumber</label>
                                    <input type="text" class="form-control" name="officeOrderNumber"
                                           id="field_officeOrderNumber"
                                           ng-model="hrEmpTransferApplInfo.officeOrderNumber"
                                           required only-numbers minlength="1" maxlength="30"/>
                                    <div ng-show="editForm.officeOrderNumber.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.officeOrderNumber.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.officeOrderNumber.$error.minlength">
                                            This field need to be at least 1 digit
                                        </small>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.officeOrderNumber.$error.maxlength">
                                            This field should not longer than 30 digit
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="">
                                    <label class="control-label"
                                           translate="stepApp.hrEmpTransferApplInfo.officeOrderDate"
                                           for="field_officeOrderDate">OfficeOrderDate</label>
                                    <input datepicker-popup="{{calendar.dateFormat}}"
                                           is-open="calendar.opened['officeOrderDate'+$index]"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'officeOrderDate'+$index)"
                                           class="form-control" name="officeOrderDate" id="field_officeOrderDate"
                                           ng-model="hrEmpTransferApplInfo.officeOrderDate"
                                           placeholder="YYYY-MM-DD"/>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="">
                                    <label class="control-label"
                                           translate="stepApp.hrEmpTransferApplInfo.transferReason"
                                           for="field_transferReason">TransferReason</label>
                                        <textarea class="form-control" name="transferReason" id="field_transferReason"
                                                  ng-model="hrEmpTransferApplInfo.transferReason"
                                                  required></textarea>
                                    <div ng-show="editForm.transferReason.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.transferReason.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- =============== -->
                        <!-- First Choice -->
                        <!-- =============== -->

                        <div class="hrm-view">
                            <div class="col-md-12 ">
                                <h4 style="border-bottom: 2px solid #fff"
                                    translate="stepApp.hrEmpTransferApplInfo.FirstChoice">First Choice</h4>
                            </div>
                            <div class="col-md-12 common-table" ng-show="hrEmpTransferApplInfo.viewMode">
                                <table class="table table-bordered">
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpTransferApplInfo.organizationType"></strong>
                                        </td>
                                        <td ng-if="(hrEmpTransferApplInfo.orgTypeOptOne=='Organization')">
                                            <strong translate="stepApp.hrEmpTransferApplInfo.organizationInfo"></strong>
                                        </td>
                                        <td ng-if="(hrEmpTransferApplInfo.orgTypeOptOne=='Institute')">
                                            <strong translate="stepApp.hrEmpTransferApplInfo.instituteInfo"></strong>
                                        </td>
                                        <td><strong translate="stepApp.hrEmpTransferApplInfo.departmentInfo"></strong>
                                        </td>
                                        <td><strong translate="stepApp.hrEmpTransferApplInfo.designationInfo"></strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{hrEmpTransferApplInfo.orgTypeOptOne}}</td>
                                        <td ng-if="(hrEmpTransferApplInfo.orgTypeOptOne=='Organization')">
                                            {{hrEmpTransferApplInfo.orgOptionOne.name}}
                                        </td>
                                        <td ng-if="(hrEmpTransferApplInfo.orgTypeOptOne=='Institute')">
                                            {{hrEmpTransferApplInfo.instituteOptOne.name}}
                                        </td>
                                        <td>{{hrEmpTransferApplInfo.departInfoOptOne.departmentInfo.departmentName}}
                                        </td>
                                        <td>{{hrEmpTransferApplInfo.desigOptionOne.designationInfo.designationName}}
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                        <!--<div class="hrm-view" ng-show="!hrEmpTransferApplInfo.viewMode">
                            <div class="col-md-3"><label translate="stepApp.hrEmpTransferApplInfo.orgTypeOptOne">organizationCategory</label>
                            </div>
                            <div class="col-md-3" ng-if="(hrEmpTransferApplInfo.orgTypeOptOne=='Organization')"><label
                                translate="stepApp.hrEmpTransferApplInfo.organizationInfo">organizationInfo</label>
                            </div>
                            <div class="col-md-3" ng-if="(hrEmpTransferApplInfo.orgTypeOptOne=='Institute')"><label
                                translate="stepApp.hrEmpTransferApplInfo.instituteInfo">instituteInfo</label></div>
                            <div class="col-md-3"><label translate="stepApp.hrEmpTransferApplInfo.departmentInfo">departmentInfo</label>
                            </div>
                            <div class="col-md-3"><label translate="stepApp.hrEmpTransferApplInfo.designationInfo">designationInfo</label>
                            </div>
                        </div>-->

                        <div class="hrm-view" ng-show="!hrEmpTransferApplInfo.viewMode">
                            <div class="col-md-3">
                                <div class="">
                                    <label
                                        translate="stepApp.hrEmpTransferApplInfo.orgTypeOptOne">organizationCategory</label>
                                </div>
                                <input type="radio" ng-model="hrEmpTransferApplInfo.orgTypeOptOne" name="orgTypeOptOne"
                                       value="Organization">&nbsp;&nbsp;Organization &nbsp; <br/>
                                <input type="radio" data-ng-model="hrEmpTransferApplInfo.orgTypeOptOne"
                                       name="orgTypeOptOne"
                                       value="Institute">&nbsp;&nbsp;Institute
                            </div>
                            <div class="col-md-3" ng-if="(hrEmpTransferApplInfo.orgTypeOptOne=='Organization')">
                                <div class="">
                                    <label translate="stepApp.hrEmpTransferApplInfo.workArea">organizationInfo</label>
                                    <select class="form-control" name="organizationCategory"
                                            ng-model="hrEmpTransferApplInfo.organizationCategory1"
                                            ng-change="loadOrganizationNameByCategoryOne(hrEmpTransferApplInfo.organizationCategory1)"
                                            ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList | orderBy:'typeName' track by MiscTypeSetup.id">
                                        <option value="" translate="global.home.select" disabled selected></option>
                                    </select>
                                </div>

                                <div class="">
                                    <label for="" translate="stepApp.hrEmpTransferApplInfo.organizationName">Organization
                                        Name</label>
                                    <select class="form-control" name="orgOptionOne"
                                            ng-model="hrEmpTransferApplInfo.orgOptionOne"
                                            ng-required='(hrEmpTransferApplInfo.orgTypeOptOne=="Organization")'
                                            ng-change="loadDesigDeptByOrganization(hrEmpTransferApplInfo.orgOptionOne, 1)"
                                            ng-options="HrEmpWorkAreaDtlInfo as HrEmpWorkAreaDtlInfo.name for HrEmpWorkAreaDtlInfo in orgNameFilterListOne | orderBy:'name' track by HrEmpWorkAreaDtlInfo.id">
                                        <option value="" translate="global.home.select" disabled selected></option>
                                    </select>
                                </div>


                            </div>
                            <div class="col-md-3" ng-if="(hrEmpTransferApplInfo.orgTypeOptOne=='Institute')">
                                <!-- ng-change="loadDesigDeptByInstitute(hrEmpTransferApplInfo.instituteOptOne)" -->
                                <label translate="stepApp.hrEmpTransferApplInfo.departmentInfo">departmentInfo</label>
                                <select class="form-control" name="instituteOptOne"
                                        ng-model="hrEmpTransferApplInfo.instituteOptOne"
                                        ng-required='(hrEmpTransferApplInfo.orgTypeOptOne=="Institute")'
                                        ng-change="loadDesigDeptByInstitute(hrEmpTransferApplInfo.instituteOptOne, 1)"
                                        ng-options="Institute as Institute.name for Institute in instituteListAll | orderBy:'name' track by Institute.id">
                                    <option value="" translate="global.home.select" disabled selected></option>
                                </select>

                            </div>
                            <div class="col-md-3">
                                <label translate="stepApp.hrEmpTransferApplInfo.departmentInfo">departmentInfo</label>
                                <select class="form-control" name="departInfoOptOne"
                                        ng-model="hrEmpTransferApplInfo.departInfoOptOne"
                                        ng-options="HrDepartmentSetup as HrDepartmentSetup.departmentInfo.departmentName for HrDepartmentSetup in hrdepartmentsetupsFltr1 track by HrDepartmentSetup.id"
                                        required>
                                    <option value="" translate="global.home.select" disabled selected></option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label translate="stepApp.hrEmpTransferApplInfo.designationInfo">designationInfo</label>
                                <select class="form-control" id="field_desigOptionOne" name="desigOptionOne"
                                        ng-model="hrEmpTransferApplInfo.desigOptionOne"
                                        ng-options="HrDesignationSetup as HrDesignationSetup.designationInfo.designationName for HrDesignationSetup in hrDesigSetupListFltr1 track by HrDesignationSetup.id"
                                        required>
                                    <option value="" translate="global.home.select" disabled selected></option>
                                </select>
                            </div>
                        </div>

                        <!-- =============== -->
                        <!-- Second Choice -->
                        <!-- =============== -->

                        <div class="hrm-view">
                            <div class="col-md-12 ">
                                <h4 style="border-bottom: 2px solid #fff"
                                    translate="stepApp.hrEmpTransferApplInfo.SecondChoice">Second Choice</h4>
                            </div>
                            <div class="col-md-12 common-table" ng-show="hrEmpTransferApplInfo.viewMode">
                                <table class="table">
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpTransferApplInfo.organizationType"></strong>
                                        </td>
                                        <td ng-if="(hrEmpTransferApplInfo.orgTypeOptTwo=='Organization')">
                                            <strong translate="stepApp.hrEmpTransferApplInfo.organizationInfo"></strong>
                                        </td>
                                        <td ng-if="(hrEmpTransferApplInfo.orgTypeOptTwo=='Institute')">
                                            <strong translate="stepApp.hrEmpTransferApplInfo.instituteInfo"></strong>
                                        </td>
                                        <td><strong translate="stepApp.hrEmpTransferApplInfo.departmentInfo"></strong>
                                        </td>
                                        <td><strong translate="stepApp.hrEmpTransferApplInfo.designationInfo"></strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{hrEmpTransferApplInfo.orgTypeOptTwo}}</td>
                                        <td ng-if="(hrEmpTransferApplInfo.orgTypeOptTwo=='Organization')">
                                            {{hrEmpTransferApplInfo.orgOptionTwo.name}}
                                        </td>
                                        <td ng-if="(hrEmpTransferApplInfo.orgTypeOptTwo=='Institute')">
                                            {{hrEmpTransferApplInfo.instituteOptTwo.name}}
                                        </td>
                                        <td>{{hrEmpTransferApplInfo.departInfoOptTwo.departmentInfo.departmentName}}
                                        </td>
                                        <td>{{hrEmpTransferApplInfo.desigOptionTwo.designationInfo.designationName}}
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                        <!--<div class="hrm-view" ng-show="!hrEmpTransferApplInfo.viewMode">
                            <div class="col-md-3"><label translate="stepApp.hrEmpTransferApplInfo.orgTypeOptTwo">organizationCategory</label>
                            </div>
                            <div class="col-md-3" ng-if="(hrEmpTransferApplInfo.orgTypeOptTwo=='Organization')"><label
                                translate="stepApp.hrEmpTransferApplInfo.organizationInfo">organizationInfo</label>
                            </div>
                            <div class="col-md-3" ng-if="(hrEmpTransferApplInfo.orgTypeOptTwo=='Institute')"><label
                                translate="stepApp.hrEmpTransferApplInfo.instituteInfo">instituteInfo</label></div>
                            <div class="col-md-3"><label translate="stepApp.hrEmpTransferApplInfo.departmentInfo">departmentInfo</label>
                            </div>
                            <div class="col-md-3"><label translate="stepApp.hrEmpTransferApplInfo.designationInfo">designationInfo</label>
                            </div>
                        </div>-->

                        <div class="hrm-view" ng-show="!hrEmpTransferApplInfo.viewMode">
                            <div class="col-md-3">
                                <label
                                    translate="stepApp.hrEmpTransferApplInfo.orgTypeOptTwo">organizationCategory</label>
                                <div class="">
                                    <input type="radio" ng-model="hrEmpTransferApplInfo.orgTypeOptTwo"
                                           name="orgTypeOptTwo"
                                           value="Organization">&nbsp;&nbsp;Organization &nbsp;<br/>
                                    <input type="radio" data-ng-model="hrEmpTransferApplInfo.orgTypeOptTwo"
                                           name="orgTypeOptTwo"
                                           value="Institute">&nbsp;&nbsp;Institute
                                </div>
                            </div>
                            <div class="col-md-3" ng-if="(hrEmpTransferApplInfo.orgTypeOptTwo=='Organization')">
                                <div class="">
                                    <label
                                        translate="stepApp.hrEmpTransferApplInfo.workArea">workArea</label>
                                    <select class="form-control" name="organizationCategory"
                                            ng-model="hrEmpTransferApplInfo.organizationCategory2"
                                            ng-change="loadOrganizationNameByCategoryTwo(hrEmpTransferApplInfo.organizationCategory2)"
                                            ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList  | orderBy:'typeName' track by MiscTypeSetup.id">
                                        <option value="" translate="global.home.select" disabled selected></option>
                                    </select>
                                </div>

                                <div class="">
                                    <label for="" translate="stepApp.hrEmpTransferApplInfo.organizationName">Organization
                                        Name</label>
                                    <select class="form-control" name="orgOptionTwo"
                                            ng-model="hrEmpTransferApplInfo.orgOptionTwo"
                                            ng-change="loadDesigDeptByOrganization(hrEmpTransferApplInfo.orgOptionTwo, 2)"
                                            ng-options="HrEmpWorkAreaDtlInfo as HrEmpWorkAreaDtlInfo.name for HrEmpWorkAreaDtlInfo in orgNameFilterListTwo  | orderBy:'name' track by HrEmpWorkAreaDtlInfo.id">
                                        <option value="" translate="global.home.select" disabled selected></option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-3" ng-if="(hrEmpTransferApplInfo.orgTypeOptTwo=='Institute')">
                                <!-- ng-change="loadDesigDeptByInstitute(hrEmpTransferApplInfo.instituteOptOne)" -->
                                <label
                                    translate="stepApp.hrEmpTransferApplInfo.instituteInfo">instituteInfo</label>
                                <select class="form-control" name="instituteOptTwo"
                                        ng-model="hrEmpTransferApplInfo.instituteOptTwo"
                                        ng-change="loadDesigDeptByInstitute(hrEmpTransferApplInfo.instituteOptTwo, 2)"
                                        ng-options="Institute as Institute.name for Institute in instituteListAll | orderBy:'name' track by Institute.id">
                                    <option value="" translate="global.home.select" disabled selected></option>
                                </select>

                            </div>
                            <div class="col-md-3">
                                <label translate="stepApp.hrEmpTransferApplInfo.departmentInfo">departmentInfo</label>
                                <select class="form-control" name="departInfoOptTwo"
                                        ng-model="hrEmpTransferApplInfo.departInfoOptTwo"
                                        ng-options="HrDepartmentSetup as HrDepartmentSetup.departmentInfo.departmentName for HrDepartmentSetup in hrdepartmentsetupsFltr2 track by HrDepartmentSetup.id">
                                    <option value="" translate="global.home.select" disabled selected></option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label translate="stepApp.hrEmpTransferApplInfo.designationInfo">designationInfo</label>
                                <select class="form-control" name="desigOptionTwo"
                                        ng-model="hrEmpTransferApplInfo.desigOptionTwo"
                                        ng-options="HrDesignationSetup as HrDesignationSetup.designationInfo.designationName for HrDesignationSetup in hrDesigSetupListFltr2 track by HrDesignationSetup.id">
                                    <option value="" translate="global.home.select" disabled selected></option>
                                </select>
                            </div>
                        </div>

                        <!-- =============== -->
                        <!-- Third Choice -->
                        <!-- =============== -->

                        <div class="hrm-view">
                            <div class="col-md-12 ">
                                <h4 style="border-bottom: 2px solid #fff"
                                    translate="stepApp.hrEmpTransferApplInfo.ThirdChoice">Third Choice</h4>
                            </div>
                            <div class="col-md-12 common-table" ng-show="hrEmpTransferApplInfo.viewMode">
                                <table class="table">
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpTransferApplInfo.organizationType"></strong>
                                        </td>
                                        <td ng-if="(hrEmpTransferApplInfo.orgTypeOptThree=='Organization')">
                                            <strong translate="stepApp.hrEmpTransferApplInfo.organizationInfo"></strong>
                                        </td>
                                        <td ng-if="(hrEmpTransferApplInfo.orgTypeOptThree=='Institute')">
                                            <strong translate="stepApp.hrEmpTransferApplInfo.instituteInfo"></strong>
                                        </td>
                                        <td><strong translate="stepApp.hrEmpTransferApplInfo.departmentInfo"></strong>
                                        </td>
                                        <td><strong translate="stepApp.hrEmpTransferApplInfo.designationInfo"></strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{hrEmpTransferApplInfo.orgTypeOptThree}}</td>
                                        <td ng-if="(hrEmpTransferApplInfo.orgTypeOptThree=='Organization')">
                                            {{hrEmpTransferApplInfo.orgOptionThree.name}}
                                        </td>
                                        <td ng-if="(hrEmpTransferApplInfo.orgTypeOptThree=='Institute')">
                                            {{hrEmpTransferApplInfo.instituteOptThree.name}}
                                        </td>
                                        <td>{{hrEmpTransferApplInfo.departInfoOptThree.departmentInfo.departmentName}}
                                        </td>
                                        <td>{{hrEmpTransferApplInfo.desigOptionThree.designationInfo.designationName}}
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                        <!--<div class="hrm-view" ng-show="!hrEmpTransferApplInfo.viewMode">
                            <div class="col-md-3"><label translate="stepApp.hrEmpTransferApplInfo.orgTypeOptThree">organizationCategory</label>
                            </div>
                            <div class="col-md-3" ng-if="(hrEmpTransferApplInfo.orgTypeOptThree=='Organization')"><label
                                translate="stepApp.hrEmpTransferApplInfo.organizationInfo">organizationInfo</label>
                            </div>
                            <div class="col-md-3" ng-if="(hrEmpTransferApplInfo.orgTypeOptThree=='Institute')"><label
                                translate="stepApp.hrEmpTransferApplInfo.instituteInfo">instituteInfo</label></div>
                            <div class="col-md-3"><label translate="stepApp.hrEmpTransferApplInfo.departmentInfo">departmentInfo</label>
                            </div>
                            <div class="col-md-3"><label translate="stepApp.hrEmpTransferApplInfo.designationInfo">designationInfo</label>
                            </div>
                        </div>-->

                        <div class="hrm-view" ng-show="!hrEmpTransferApplInfo.viewMode">
                            <div class="col-md-3">
                                <label
                                    translate="stepApp.hrEmpTransferApplInfo.orgTypeOptThree">organizationCategory</label>
                                <div class="">
                                    <input type="radio" ng-model="hrEmpTransferApplInfo.orgTypeOptThree"
                                           name="orgTypeOptThree"
                                           value="Organization">&nbsp;&nbsp;Organization &nbsp; <br/>
                                    <input type="radio" data-ng-model="hrEmpTransferApplInfo.orgTypeOptThree"
                                           name="orgTypeOptThree"
                                           value="Institute">&nbsp;&nbsp;Institute
                                </div>
                            </div>
                            <div class="col-md-3" ng-if="(hrEmpTransferApplInfo.orgTypeOptThree=='Organization')">
                                <div class="">
                                    <label translate="stepApp.hrEmpTransferApplInfo.workArea">workArea</label>
                                    <select class="form-control" name="organizationCategory"
                                            ng-model="hrEmpTransferApplInfo.organizationCategory3"
                                            ng-change="loadOrganizationNameByCategoryThree(hrEmpTransferApplInfo.organizationCategory3)"
                                            ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList | orderBy:'typeName' track by MiscTypeSetup.id">
                                        <option value="" translate="global.home.select" disabled selected></option>
                                    </select>
                                </div>
                                <div class="">
                                    <label
                                        translate="stepApp.hrEmpTransferApplInfo.organizationName">organizationName</label>
                                    <select class="form-control" name="orgOptionThree"
                                            ng-model="hrEmpTransferApplInfo.orgOptionThree"
                                            ng-change="loadDesigDeptByOrganization(hrEmpTransferApplInfo.orgOptionThree, 3)"
                                            ng-options="HrEmpWorkAreaDtlInfo as HrEmpWorkAreaDtlInfo.name for HrEmpWorkAreaDtlInfo in orgNameFilterListThree | orderBy:'name' track by HrEmpWorkAreaDtlInfo.id">
                                        <option value="" translate="global.home.select" disabled selected></option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-3" ng-if="(hrEmpTransferApplInfo.orgTypeOptThree=='Institute')">
                                <!-- ng-change="loadDesigDeptByInstitute(hrEmpTransferApplInfo.instituteOptOne)" -->
                                <label
                                    translate="stepApp.hrEmpTransferApplInfo.instituteInfo">instituteInfo</label>
                                <select class="form-control" name="instituteOptThree"
                                        ng-model="hrEmpTransferApplInfo.instituteOptThree"
                                        ng-change="loadDesigDeptByInstitute(hrEmpTransferApplInfo.instituteOptThree, 3)"
                                        ng-options="Institute as Institute.name for Institute in instituteListAll | orderBy:'name' track by Institute.id">
                                    <option value="" translate="global.home.select" disabled selected></option>
                                </select>

                            </div>
                            <div class="col-md-3">
                                <label translate="stepApp.hrEmpTransferApplInfo.departmentInfo">departmentInfo</label>
                                <select class="form-control" name="departInfoOptThree"
                                        ng-model="hrEmpTransferApplInfo.departInfoOptThree"
                                        ng-options="HrDepartmentSetup as HrDepartmentSetup.departmentInfo.departmentName for HrDepartmentSetup in hrdepartmentsetupsFltr3 track by HrDepartmentSetup.id">
                                    <option value="" translate="global.home.select" disabled selected></option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label translate="stepApp.hrEmpTransferApplInfo.designationInfo">designationInfo</label>
                                <select class="form-control" name="desigOptionThree"
                                        ng-model="hrEmpTransferApplInfo.desigOptionThree"
                                        ng-options="HrDesignationSetup as HrDesignationSetup.designationInfo.designationName for HrDesignationSetup in hrDesigSetupListFltr3 track by HrDesignationSetup.id">
                                    <option value="" translate="global.home.select" disabled selected></option>
                                </select>
                            </div>
                        </div>


                        <!-- =============== -->
                        <!-- Four Choice -->
                        <!-- =============== -->

                        <div class="hrm-view">
                            <div class="col-md-12 ">
                                <h4 style="border-bottom: 2px solid #fff"
                                    translate="stepApp.hrEmpTransferApplInfo.FourChoice">Four Choice</h4>
                            </div>
                            <div class="col-md-12 common-table" ng-show="hrEmpTransferApplInfo.viewMode">
                                <table class="table">
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpTransferApplInfo.organizationType"></strong>
                                        </td>
                                        <td ng-if="(hrEmpTransferApplInfo.orgTypeOptFour=='Organization')">
                                            <strong translate="stepApp.hrEmpTransferApplInfo.organizationInfo"></strong>
                                        </td>
                                        <td ng-if="(hrEmpTransferApplInfo.orgTypeOptFour=='Institute')">
                                            <strong translate="stepApp.hrEmpTransferApplInfo.instituteInfo"></strong>
                                        </td>
                                        <td><strong translate="stepApp.hrEmpTransferApplInfo.departmentInfo"></strong>
                                        </td>
                                        <td><strong translate="stepApp.hrEmpTransferApplInfo.designationInfo"></strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{hrEmpTransferApplInfo.orgTypeOptFour}}</td>
                                        <td ng-if="(hrEmpTransferApplInfo.orgTypeOptFour=='Organization')">
                                            {{hrEmpTransferApplInfo.orgOptionFour.name}}
                                        </td>
                                        <td ng-if="(hrEmpTransferApplInfo.orgTypeOptFour=='Institute')">
                                            {{hrEmpTransferApplInfo.instituteOptFour.name}}
                                        </td>
                                        <td>{{hrEmpTransferApplInfo.departInfoOptFour.departmentInfo.departmentName}}
                                        </td>
                                        <td>{{hrEmpTransferApplInfo.desigOptionFour.designationInfo.designationName}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <!--<div class="hrm-view" ng-show="!hrEmpTransferApplInfo.viewMode">
                            <div class="col-md-3"><label translate="stepApp.hrEmpTransferApplInfo.orgTypeOptFour">organizationCategory</label>
                            </div>
                            <div class="col-md-3" ng-if="(hrEmpTransferApplInfo.orgTypeOptFour=='Organization')"><label
                                translate="stepApp.hrEmpTransferApplInfo.organizationInfo">organizationInfo</label>
                            </div>
                            <div class="col-md-3" ng-if="(hrEmpTransferApplInfo.orgTypeOptFour=='Institute')"><label
                                translate="stepApp.hrEmpTransferApplInfo.instituteInfo">instituteInfo</label></div>
                            <div class="col-md-3"><label translate="stepApp.hrEmpTransferApplInfo.departmentInfo">departmentInfo</label>
                            </div>
                            <div class="col-md-3"><label translate="stepApp.hrEmpTransferApplInfo.designationInfo">designationInfo</label>
                            </div>
                        </div>-->

                        <div class="hrm-view" ng-show="!hrEmpTransferApplInfo.viewMode">
                            <div class="col-md-3">
                                <div class="">
                                    <label
                                        translate="stepApp.hrEmpTransferApplInfo.orgTypeOptFour">organizationCategory</label>
                                </div>
                                <input type="radio" ng-model="hrEmpTransferApplInfo.orgTypeOptFour"
                                       name="orgTypeOptFour"
                                       value="Organization">&nbsp;&nbsp;Organization &nbsp; <br/>
                                <input type="radio" data-ng-model="hrEmpTransferApplInfo.orgTypeOptFour"
                                       name="orgTypeOptFour"
                                       value="Institute">&nbsp;&nbsp;Institute
                            </div>
                            <div class="col-md-3" ng-if="(hrEmpTransferApplInfo.orgTypeOptFour=='Organization')">
                                <div class="">
                                    <label translate="stepApp.hrEmpTransferApplInfo.workArea">workArea</label>
                                    <select class="form-control" name="organizationCategory"
                                            ng-model="hrEmpTransferApplInfo.organizationCategory4"
                                            ng-change="loadOrganizationNameByCategoryFour(hrEmpTransferApplInfo.organizationCategory4)"
                                            ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList | orderBy:'typeName' track by MiscTypeSetup.id">
                                        <option value="" translate="global.home.select" disabled selected></option>
                                    </select>
                                </div>
                                <div class="">
                                    <label
                                        translate="stepApp.hrEmpTransferApplInfo.organizationName">organizationInfo</label>
                                    <select class="form-control" name="orgOptionFour"
                                            ng-model="hrEmpTransferApplInfo.orgOptionFour"
                                            ng-change="loadDesigDeptByOrganization(hrEmpTransferApplInfo.orgOptionFour, 4)"
                                            ng-options="HrEmpWorkAreaDtlInfo as HrEmpWorkAreaDtlInfo.name for HrEmpWorkAreaDtlInfo in orgNameFilterListFour | orderBy:'name' track by HrEmpWorkAreaDtlInfo.id">
                                        <option value="" translate="global.home.select" disabled selected></option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-3" ng-if="(hrEmpTransferApplInfo.orgTypeOptFour=='Institute')">
                                <!-- ng-change="loadDesigDeptByInstitute(hrEmpTransferApplInfo.instituteOptOne)" -->
                                <label translate="stepApp.hrEmpTransferApplInfo.instituteInfo">instituteInfo</label>
                                <select class="form-control" name="instituteOptFour"
                                        ng-model="hrEmpTransferApplInfo.instituteOptFour"
                                        ng-change="loadDesigDeptByInstitute(hrEmpTransferApplInfo.instituteOptFour, 4)"
                                        ng-options="Institute as Institute.name for Institute in instituteListAll | orderBy:'name' track by Institute.id">
                                    <option value="" translate="global.home.select" disabled selected></option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label translate="stepApp.hrEmpTransferApplInfo.departmentInfo">departmentInfo</label>
                                <select class="form-control" name="departInfoOptFour"
                                        ng-model="hrEmpTransferApplInfo.departInfoOptFour"
                                        ng-options="HrDepartmentSetup as HrDepartmentSetup.departmentInfo.departmentName for HrDepartmentSetup in hrdepartmentsetupsFltr4 track by HrDepartmentSetup.id">
                                    <option value="" translate="global.home.select" disabled selected></option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label translate="stepApp.hrEmpTransferApplInfo.designationInfo">designationInfo</label>
                                <select class="form-control" name="desigOptionFour"
                                        ng-model="hrEmpTransferApplInfo.desigOptionFour"
                                        ng-options="HrDesignationSetup as HrDesignationSetup.designationInfo.designationName for HrDesignationSetup in hrDesigSetupListFltr4 track by HrDesignationSetup.id">
                                    <option value="" translate="global.home.select" disabled selected></option>
                                </select>
                            </div>
                        </div>

                        <br/>

                        <div>
                            <div class="col-md-12 col-sm-12 text-right padding-bt">
                                <button ng-show="!hrEmpTransferApplInfo.viewMode" type="button"
                                        ng-click="changeProfileMode(hrEmpTransferApplInfo)"
                                        class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span>&nbsp;{{hrEmpTransferApplInfo.viewModeText}}
                                </button>

                                <button ng-show="!hrEmpTransferApplInfo.viewMode"
                                        ng-click="updateProfile(hrEmpTransferApplInfo, $index)"
                                        type="button" ng-disabled="editForm.$invalid || isSaving"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                                    translate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
                <!-- End of Loop -->

                <div class="col-sm-12 no_padding text-right">
                    <button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid || isSaving"
                            ng-click="addMore()">
                        <span class="glyphicon glyphicon-plus"></span><span translate="global.menu.account.addMorePlus">Add</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
