<div class="col-md-12 common-table padding-left5 padding-right0">
<h2><span translate="stepApp.hrEmpTransferApplInfo.detail.title">HrEmpTransferApplInfo</span> {{hrEmpTransferApplInfo.id}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTransferApplInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrEmpTransferApplInfo.employeeInfo.id})">{{hrEmpTransferApplInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpTransferApplInfo.orgOptionOne">organizationName</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmpWorkAreaDtlInfo.detail({id:hrEmpTransferApplInfo.orgOptionOne.id})">{{hrEmpTransferApplInfo.orgOptionOne.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTransferApplInfo.desigOptionOne">designationInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrDesignationSetup.detail({id:hrEmpTransferApplInfo.desigOptionOne.id})">{{hrEmpTransferApplInfo.desigOptionOne.designationInfo.designationName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpTransferApplInfo.transferReason">TransferReason</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTransferApplInfo.transferReason}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTransferApplInfo.officeOrderNumber">OfficeOrderNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTransferApplInfo.officeOrderNumber}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpTransferApplInfo.selectedOption">selectedOption</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTransferApplInfo.selectedOption}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTransferApplInfo.officeOrderDate">OfficeOrderDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTransferApplInfo.officeOrderDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpTransferApplInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTransferApplInfo.activeStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTransferApplInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTransferApplInfo.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpTransferApplInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTransferApplInfo.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTransferApplInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTransferApplInfo.updateDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpTransferApplInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTransferApplInfo.updateBy}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel"> Cancel</span>
    </button>
</div>
