<div class="col-md-12 common-list padding-left5 padding-right0">
    <h2 translate="stepApp.hrEmpTransferApplInfo.home.title">HrEmpTransferApplInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrEmpTransferApplInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrEmpTransferApplInfo.home.createLabel">Create a new HrEmpTransferApplInfo</span>
            </button>
        </div>
    </div>
    <!--<jh-alert></jh-alert>-->
    <!--<div class="col-sm-12 padding-tb no-print">
        <div class="col-md-8 col-xs-12 no_padding">
            <div class="col-md-6 no_padding">
                <b>&lt;!&ndash;{{ (hrEmpTransferApplInfos | filter:q).length }}&ndash;&gt; <span translate="global.home.searchhere">Search Here :</span></b>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"
                                                                         aria-hidden="true"></i></span>
                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                </div>
            </div>
            <div class="col-md-6">
                <b><span translate="global.home.itemperpage">Items per page:</span></b>
                <div class="input-group">
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 text-right no_padding dlbtn-top">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrEmpTransferApplInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrEmpTransferApplInfo.home.createLabel">Create a new HrEmpTransferApplInfo</span>
            </button>
        </div>
    </div>-->

    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                <th><span translate="global.form.serial">serial</span></th>
                <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="employeeInfo.fullName"><span translate="stepApp.hrEmpTransferApplInfo.employeeInfo">employeeInfo</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="orgOptionOne.name"><span translate="stepApp.hrEmpTransferApplInfo.orgOptionOne">organizationName</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="desigOptionOne.designationName"><span
                    translate="stepApp.hrEmpTransferApplInfo.desigOptionOne">designationInfo</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="transferReason"><span translate="stepApp.hrEmpTransferApplInfo.transferReason">TransferReason</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="officeOrderNumber"><span translate="stepApp.hrEmpTransferApplInfo.officeOrderNumber">OfficeOrderNumber</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrEmpTransferApplInfo in hrEmpTransferApplInfos | filter:q | itemsPerPage: pageSize track by hrEmpTransferApplInfo.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>

                <td><a ui-sref="hrEmpTransferApplInfo.detail({id:hrEmpTransferApplInfo.id})">{{hrEmpTransferApplInfo.id}}</a>
                </td>
                <td>
                    <a ui-sref="hrEmployeeInfo.detail({id:hrEmpTransferApplInfo.employeeInfo.id})">{{hrEmpTransferApplInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <a ui-sref="hrEmpWorkAreaDtlInfo.detail({id:hrEmpTransferApplInfo.orgOptionOne.id})">{{hrEmpTransferApplInfo.orgOptionOne.name}}</a>
                </td>
                <td>
                    <a ui-sref="hrDesignationSetup.detail({id:hrEmpTransferApplInfo.desigOptionOne.id})">{{hrEmpTransferApplInfo.desigOptionOne.designationName}}</a>
                </td>
                <td>{{hrEmpTransferApplInfo.transferReason}}</td>
                <td>{{hrEmpTransferApplInfo.officeOrderNumber}}</td>
                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="hrEmpTransferApplInfo.detail({id:hrEmpTransferApplInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="hrEmpTransferApplInfo.edit({id:hrEmpTransferApplInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ui-sref="hrEmpTransferApplInfo.delete({id:hrEmpTransferApplInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no_print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
