<div class="col-md-12 common-dialogue padding-left5 padding-right0">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-if="hrEmpTransferApplInfo.id == null" class="modal-title" id="myHrEmpTransferApplInfoLabel"
            translate="stepApp.hrEmpTransferApplInfo.home.createOrEditLabel">Create or edit a HrEmpTransferApplInfo</h4>
        <h4 ng-if="hrEmpTransferApplInfo.id != null" class="modal-title" id="myHrEmpTransferApplInfoLabel"
            translate="stepApp.hrEmpTransferApplInfo.home.EditLabel">Create or edit a HrEmpTransferApplInfo</h4>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="global.home.orgOrInst" for="field_toOrganizationType">toOrganizationType</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_toOrganizationType" name="toOrganizationType"
                                    ng-model="orgOrInst" required>
                                <option selected disabled value="">-- Select Organization Type --</option>
                                <option value="Organization">Organization</option>
                                <option value="Institute">Institute</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-if="orgOrInst=='Organization'">
                        <div class="form-group col-sm-6">
                            <label class="control-label" for="field_workArea"
                                   translate="stepApp.hrEmpTransferApplInfo.workarea">Work Area</label>
                            <select class="form-control" id="field_workArea" name="workArea" ng-model="workArea"
                                    ng-change="loadModelByWorkArea(workArea)"
                                    ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id">
                                <option value="">Select Work Area</option>
                            </select>
                            <span class="help">No of Employee: {{hremployeeinfos.length}}</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label" translate="stepApp.hrEmpTransferApplInfo.employeeInfo"
                                   for="field_employeeInfo">employeeInfo</label>
                            <div class="input-margin">
                                <input type="text" class="form-control autocomplete" autocomplete="off"
                                       ng-model="hrEmpTransferApplInfo.employeeInfo"
                                       typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfos | filter:$viewValue'
                                       id="field_employeeInfo" required>
                            </div>
                        </div>
                    </div>

                    <div ng-show="(orgOrInst=='Institute')" class="col-md-6 col-lg-6">
                        <label class="control-label" translate="stepApp.hrEmpChildrenInfo.employeeInfo"
                               for="field_employeeInfo">employeeInfo</label>
                        <div class="input-margin">
                            <input type="text" class="form-control autocomplete" autocomplete="off"
                                   ng-model="hrEmpTransferApplInfo.employeeInfo"
                                   typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfosOfInstitute | filter:$viewValue'
                                   id="field_employeeInfo" required>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-12 " ng-hide="hrEmpTransferApplInfo.employeeInfo.fullName ==null">
                        <table class="table table-bordered table-responsive">
                            <tbody class="hrm-info-table">
                            <tr>
                                <td><strong>Name: </strong></td>
                                <td>{{hrEmpTransferApplInfo.employeeInfo.fullName}}</td>
                                <td><strong>Employee ID:</strong></td>
                                <td>{{hrEmpTransferApplInfo.employeeInfo.employeeId}}</td>
                            </tr>
                            <tr>
                                <td><strong>Contact No:</strong></td>
                                <td>{{hrEmpTransferApplInfo.employeeInfo.mobileNumber}}</td>
                                <td><strong>Email:</strong></td>
                                <td>{{hrEmpTransferApplInfo.employeeInfo.emailAddress}}</td>
                            </tr>
                            <tr>
                                <td><strong>Section:</strong></td>
                                <td>{{hrEmpTransferApplInfo.employeeInfo.departmentInfo.departmentName}}</td>
                                <td><strong>Designation:</strong></td>
                                <td>{{hrEmpTransferApplInfo.employeeInfo.designationInfo.designationName}}</td>
                            </tr>
                            <tr>
                                <td><strong>Organization:</strong></td>
                                <td>{{hrEmpTransferApplInfo.employeeInfo.workAreaDtl.name}}</td>
                                <td><strong>Grade: </strong></td>
                                <td>{{hrEmpTransferApplInfo.employeeInfo.gradeInfo.gradeCode}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
                        <label translate="stepApp.hrEmpTransferApplInfo.organizationCategory"
                               for="field_organizationCategory">organizationCategory</label>
                        <select class="form-control" id="field_organizationCategory" name="organizationCategory"
                                ng-model="hrEmpTransferApplInfo.organizationCategory"
                                ng-change="loadOrganizationNameByCategoryOne(hrEmpTransferApplInfo.organizationCategory)"
                                ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
                        <label translate="stepApp.hrEmpTransferApplInfo.orgOptionOne"
                               for="field_orgOptionOne">orgOptionOne</label>
                        <select class="form-control" id="field_orgOptionOne" name="orgOptionOne"
                                ng-model="hrEmpTransferApplInfo.orgOptionOne"
                                ng-options="HrEmpWorkAreaDtlInfo as HrEmpWorkAreaDtlInfo.name for HrEmpWorkAreaDtlInfo in orgNameFilterListOne track by HrEmpWorkAreaDtlInfo.id">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
                        <label translate="stepApp.hrEmpTransferApplInfo.desigOptionOne" for="field_desigOptionOne">desigOptionOne</label>
                        <select class="form-control" id="field_desigOptionOne" name="desigOptionOne"
                                ng-model="hrEmpTransferApplInfo.desigOptionOne"
                                ng-options="HrDesignationSetup as HrDesignationSetup.designationInfo.designationName for HrDesignationSetup in hrdesignationsetups track by HrDesignationSetup.id">
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                        <label class="control-label" translate="stepApp.hrEmpTransferApplInfo.officeOrderNumber"
                               for="field_officeOrderNumber">OfficeOrderNumber</label>
                        <input type="text" class="form-control" name="officeOrderNumber" id="field_officeOrderNumber"
                               ng-model="hrEmpTransferApplInfo.officeOrderNumber"
                               only-numbers minlength="2" maxlength="30"
                        />
                        <div ng-show="editForm.officeOrderNumber.$invalid">
                            <p class="help-block"
                               ng-show="editForm.officeOrderNumber.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                            <small style="color:red;font-size: 10px;"
                                   ng-show="editForm.officeOrderNumber.$error.minlength">
                                This field need to be at least 2 digit
                            </small>
                            <small style="color:red;font-size: 10px;"
                                   ng-show="editForm.officeOrderNumber.$error.maxlength">
                                This field should not longer than 30 digit
                            </small>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                        <label class="control-label" translate="stepApp.hrEmpTransferApplInfo.officeOrderDate"
                               for="field_officeOrderDate">OfficeOrderDate</label>
                        <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.officeOrderDate"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'officeOrderDate')" class="form-control"
                               name="officeOrderDate" id="field_officeOrderDate"
                               ng-model="hrEmpTransferApplInfo.officeOrderDate"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-lg-8 col-xs-8 col-sm-8">
                        <label class="control-label" translate="stepApp.hrEmpTransferApplInfo.transferReason"
                               for="field_transferReason">TransferReason</label>
                <textarea class="form-control" name="transferReason" id="field_transferReason"
                          ng-model="hrEmpTransferApplInfo.transferReason"
                          required></textarea>
                        <div ng-show="editForm.transferReason.$invalid">
                            <p class="help-block"
                               ng-show="editForm.transferReason.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
                        <label class="control-label"
                               translate="stepApp.hrEmpTransferApplInfo.activeStatus">ActiveStatus</label>
                        <div class="input-margin">
                    <span>
                        <input type="radio" data-ng-model="hrEmpTransferApplInfo.activeStatus" name="activeStatus"
                               data-ng-value="true">&nbsp;<span translate="stepApp.hrEmpTransferApplInfo.active"></span>&nbsp;|&nbsp;
                        <input type="radio" data-ng-model="hrEmpTransferApplInfo.activeStatus" name="activeStatus"
                               data-ng-value="false">&nbsp;<span
                        translate="stepApp.hrEmpTransferApplInfo.inactive"></span>
                    </span>
                            <div ng-show="editForm.activeStatus.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.activeStatus.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    onclick="window.history.back()">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;<span
                translate="entity.action.cancel">cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-if="hrEmpTransferApplInfo.id == null" translate="entity.action.save">Save</span>
                <span ng-if="hrEmpTransferApplInfo.id != null" translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>
