<div class="common-table">

<h2><span translate="stepApp.almEmpLeaveTypeMap.detail.title">AlmEmpLeaveTypeMap</span> </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>

            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveTypeMap.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="HrEmployeeInfo.detail({id:almEmpLeaveTypeMap.employeeInfo.id})">{{almEmpLeaveTypeMap.employeeInfo.fullName}}</a>
                </td>

            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.almEmpLeaveTypeMap.almLeaveGroup">almLeaveGroup</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<a class="form-control-static" ui-sref="AlmLeaveGroup.detail({id:almEmpLeaveTypeMap.almLeaveGroup.id})">{{almEmpLeaveTypeMap.almLeaveGroup.leaveGroupName}}</a>-->
                <!--</td>-->
            <!--</tr>-->

                <td>
                    <span translate="stepApp.almEmpLeaveTypeMap.almLeaveType">almLeaveType</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="AlmLeaveType.detail({id:almEmpLeaveTypeMap.almLeaveType.id})">{{almEmpLeaveTypeMap.almLeaveType.leaveTypeName}}</a>
                </td>
            </tr>
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.almEmpLeaveTypeMap.effectiveDate">EffectiveDate</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{almEmpLeaveTypeMap.effectiveDate | date:'mediumDate'}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveTypeMap.currentBalance">CurrentBalance</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveTypeMap.currentBalance}}</span>
                </td>

                <td>
                    <span translate="stepApp.almEmpLeaveTypeMap.newBalance">NewBalance</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveTypeMap.newBalance}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveTypeMap.isAddition">IsAddition</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveTypeMap.isAddition}}</span>
                </td>

                <td>
                    <span translate="stepApp.almEmpLeaveTypeMap.reason">Reason</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveTypeMap.reason}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveTypeMap.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveTypeMap.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
