<ng-include src="'scripts/app/entities/auditLog/audit-log-left-menu.html'"></ng-include>
<div class="col-md-9 lbl-dash padding0">
    <div class="col-md-12 common-dialogue padding5">
        <form name="editForm" role="form" novalidate ng-submit="save()">
            <div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="clear()">&times;
                </button>
                <h4 class="modal-title" id="myDmlAuditLogHistoryLabel"
                    translate="stepApp.dmlAuditLogHistory.home.createOrEditLabel">Create or edit a
                    DmlAuditLogHistory</h4>
            </div>
            <div class="modal-body col-md-12 padding-tb">
                <!--<div class="form-group col-md-6">
                    <label for="id" translate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                            ng-model="dmlAuditLogHistory.id" readonly />
                </div>-->
                <div class="form-group col-md-6">
                    <label translate="stepApp.dmlAuditLogHistory.tableName" for="field_tableName">TableName</label>
                    <input type="text" class="form-control" name="tableName" id="field_tableName"
                           ng-model="dmlAuditLogHistory.tableName"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.dmlAuditLogHistory.colName" for="field_colName">ColName</label>
                    <input type="text" class="form-control" name="colName" id="field_colName"
                           ng-model="dmlAuditLogHistory.colName"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.dmlAuditLogHistory.valueBefore"
                           for="field_valueBefore">ValueBefore</label>
                    <input type="text" class="form-control" name="valueBefore" id="field_valueBefore"
                           ng-model="dmlAuditLogHistory.valueBefore"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.dmlAuditLogHistory.valueAfter" for="field_valueAfter">ValueAfter</label>
                    <input type="text" class="form-control" name="valueAfter" id="field_valueAfter"
                           ng-model="dmlAuditLogHistory.valueAfter"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.dmlAuditLogHistory.appUserId" for="field_appUserId">AppUserId</label>
                    <input type="number" class="form-control" name="appUserId" id="field_appUserId"
                           ng-model="dmlAuditLogHistory.appUserId"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.dmlAuditLogHistory.userIpAddress"
                           for="field_userIpAddress">UserIpAddress</label>
                    <input type="text" class="form-control" name="userIpAddress" id="field_userIpAddress"
                           ng-model="dmlAuditLogHistory.userIpAddress"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.dmlAuditLogHistory.userHostname"
                           for="field_userHostname">UserHostname</label>
                    <input type="text" class="form-control" name="userHostname" id="field_userHostname"
                           ng-model="dmlAuditLogHistory.userHostname"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.dmlAuditLogHistory.osUser" for="field_osUser">OsUser</label>
                    <input type="text" class="form-control" name="osUser" id="field_osUser"
                           ng-model="dmlAuditLogHistory.osUser"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.dmlAuditLogHistory.sessionId" for="field_sessionId">SessionId</label>
                    <input type="text" class="form-control" name="sessionId" id="field_sessionId"
                           ng-model="dmlAuditLogHistory.sessionId"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.dmlAuditLogHistory.eventDttm" for="field_eventDttm">EventDttm</label>
                    <input type="date" class="form-control" name="eventDttm" id="field_eventDttm"
                           ng-model="dmlAuditLogHistory.eventDttm"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.dmlAuditLogHistory.eventType" for="field_eventType">EventType</label>
                    <input type="text" class="form-control" name="eventType" id="field_eventType"
                           ng-model="dmlAuditLogHistory.eventType"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.dmlAuditLogHistory.eventName" for="field_eventName">EventName</label>
                    <input type="text" class="form-control" name="eventName" id="field_eventName"
                           ng-model="dmlAuditLogHistory.eventName"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.dmlAuditLogHistory.pkColValue" for="field_pkColValue">PkColValue</label>
                    <input type="text" class="form-control" name="pkColValue" id="field_pkColValue"
                           ng-model="dmlAuditLogHistory.pkColValue"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.dmlAuditLogHistory.dmlSequence"
                           for="field_dmlSequence">DmlSequence</label>
                    <input type="number" class="form-control" name="dmlSequence" id="field_dmlSequence"
                           ng-model="dmlAuditLogHistory.dmlSequence"
                    />
                </div>

            </div>
            <div class="modal-footer col-md-12 padding-tb">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                    translate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
