<ng-include src="'scripts/app/entities/auditLog/audit-log-left-menu.html'"></ng-include>
<div class="col-md-9 lbl-dash padding0">
    <div class="col-md-12 common-list padding5">
        <h2 translate="stepApp.dmlAuditLogHistory.home.title">DmlAuditLogHistorys</h2>
        <div class="col-md-12 padding-tb padding0">
            <div class="col-md-4 no_padding">
                <input ng-model="q" id="search" class="form-control"
                       placeholder="{{'global.home.searchhere'  | translate}}">
            </div>
            <div class="col-md-4">
                <input type="number" min="1" max="100" class="form-control"
                       placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
            </div>
            <!--<div class="col-md-4 col-xs-6 no_padding text-right ">
                <button class="btn btn-primary" ui-sref="dmlAuditLogHistory.new">
                    <span class="glyphicon glyphicon-plus"></span> <span
                    translate="stepApp.dmlAuditLogHistory.home.createLabel">Create a new DmlAuditLogHistory</span>
                </button>
            </div>-->
            <div class="col-md-4 col-xs-6 no_padding text-right ">
                <button class="btn btn-primary" ng-click="refresh()">
                    <span class="glyphicon glyphicon-refresh"></span> <span>Refresh</span>
                </button>
            </div>

            <div class="modal fade" id="deleteDmlAuditLogHistoryConfirmation">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form name="deleteForm" ng-submit="confirmDelete(dmlAuditLogHistory.id)">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                        ng-click="clear()">&times;
                                </button>
                                <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                            </div>
                            <div class="modal-body">
                                <p translate="stepApp.dmlAuditLogHistory.delete.question"
                                   translate-values="{id: '{{dmlAuditLogHistory.id}}'}">Are you sure you want to delete
                                    this
                                    DmlAuditLogHistory?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                    translate="entity.action.cancel">Cancel</span>
                                </button>
                                <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                                    translate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="table-responsive col-md-12 no_padding">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th translate="global.field.id">ID</th>
                        <th translate="stepApp.dmlAuditLogHistory.tableName">TableName</th>
                        <th translate="stepApp.dmlAuditLogHistory.colName">ColName</th>
                        <th translate="stepApp.dmlAuditLogHistory.valueBefore">ValueBefore</th>
                        <th translate="stepApp.dmlAuditLogHistory.valueAfter">ValueAfter</th>
                        <th translate="stepApp.dmlAuditLogHistory.appUserId">AppUserId</th>
                        <th>User Name</th>
                        <th translate="stepApp.dmlAuditLogHistory.userIpAddress">UserIpAddress</th>
                        <th translate="stepApp.dmlAuditLogHistory.userHostname">UserHostname</th>
                        <th translate="stepApp.dmlAuditLogHistory.osUser">OsUser</th>
                        <th translate="stepApp.dmlAuditLogHistory.sessionId">SessionId</th>
                        <th translate="stepApp.dmlAuditLogHistory.eventDttm">EventDttm</th>
                        <th translate="stepApp.dmlAuditLogHistory.eventType">EventType</th>
                        <th translate="stepApp.dmlAuditLogHistory.eventName">EventName</th>
                        <th translate="stepApp.dmlAuditLogHistory.pkColValue">PkColValue</th>
                        <th translate="stepApp.dmlAuditLogHistory.dmlSequence">DmlSequence</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="dmlAuditLogHistory in dmlAuditLogHistorys | filter:q | itemsPerPage: pageSize track by dmlAuditLogHistory.id"
                        current-page="currentPage">
                        <td><a
                            ui-sref="dmlAuditLogHistory.detail({id:dmlAuditLogHistory.id})">{{dmlAuditLogHistory.id}}</a>
                        </td>
                        <td>{{dmlAuditLogHistory.tableName}}</td>
                        <td>{{dmlAuditLogHistory.colName}}</td>
                        <td>{{dmlAuditLogHistory.valueBefore}}</td>
                        <td>{{dmlAuditLogHistory.valueAfter}}</td>
                        <td><span class="label label-warning" ng-click="loadUser(dmlAuditLogHistory.appUserId)">{{dmlAuditLogHistory.appUserId}}</span></td>
                        <td><span class="label label-warning" ng-init="loadUserName(dmlAuditLogHistory.appUserId, $index)">{{loadUserNameList[$index]}}</span></td>
                        <td>{{dmlAuditLogHistory.userIpAddress}}</td>
                        <td>{{dmlAuditLogHistory.userHostname}}</td>
                        <td>{{dmlAuditLogHistory.osUser}}</td>
                        <td>{{dmlAuditLogHistory.sessionId}}</td>
                        <td>{{dmlAuditLogHistory.eventDttm | date:'mediumDate'}}</td>
                        <td>{{dmlAuditLogHistory.eventType}}</td>
                        <td>{{dmlAuditLogHistory.eventName}}</td>
                        <td>{{dmlAuditLogHistory.pkColValue}}</td>
                        <td>{{dmlAuditLogHistory.dmlSequence}}</td>
                        <td class="text-right no-print">
                            <button type="submit"
                                    ui-sref="dmlAuditLogHistory.detail({id:dmlAuditLogHistory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                                translate="entity.action.view"> View</span>
                            </button>
                            <!--<button type="submit"
                                    ui-sref="dmlAuditLogHistory.edit({id:dmlAuditLogHistory.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                                translate="entity.action.edit"> Edit</span>
                            </button>-->
                            <!--<button type="submit"
                                    ng-click="delete(dmlAuditLogHistory.id)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                                translate="entity.action.delete"> Delete</span>
                            </button>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav>
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                             template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
                </nav>
            </div>
        </div>
    </div>
</div>
