<ng-include src="'scripts/app/entities/auditLog/audit-log-left-menu.html'"></ng-include>
<div class="col-md-9 common-table lbl-dash">
    <h2><span translate="stepApp.dmlAuditLogHistory.detail.title">DmlAuditLogHistory</span> {{dmlAuditLogHistory.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.dmlAuditLogHistory.tableName">TableName</span>
                </td>
                <td>
                    <span class="form-control-static">{{dmlAuditLogHistory.tableName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dmlAuditLogHistory.colName">ColName</span>
                </td>
                <td>
                    <span class="form-control-static">{{dmlAuditLogHistory.colName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dmlAuditLogHistory.valueBefore">ValueBefore</span>
                </td>
                <td>
                    <span class="form-control-static">{{dmlAuditLogHistory.valueBefore}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dmlAuditLogHistory.valueAfter">ValueAfter</span>
                </td>
                <td>
                    <span class="form-control-static">{{dmlAuditLogHistory.valueAfter}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dmlAuditLogHistory.appUserId">AppUserId</span>
                </td>
                <td>
                    <span class="form-control-static">{{dmlAuditLogHistory.appUserId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dmlAuditLogHistory.userIpAddress">UserIpAddress</span>
                </td>
                <td>
                    <span class="form-control-static">{{dmlAuditLogHistory.userIpAddress}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dmlAuditLogHistory.userHostname">UserHostname</span>
                </td>
                <td>
                    <span class="form-control-static">{{dmlAuditLogHistory.userHostname}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dmlAuditLogHistory.osUser">OsUser</span>
                </td>
                <td>
                    <span class="form-control-static">{{dmlAuditLogHistory.osUser}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dmlAuditLogHistory.sessionId">SessionId</span>
                </td>
                <td>
                    <span class="form-control-static">{{dmlAuditLogHistory.sessionId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dmlAuditLogHistory.eventDttm">EventDttm</span>
                </td>
                <td>
                    <span class="form-control-static">{{dmlAuditLogHistory.eventDttm | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dmlAuditLogHistory.eventType">EventType</span>
                </td>
                <td>
                    <span class="form-control-static">{{dmlAuditLogHistory.eventType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dmlAuditLogHistory.eventName">EventName</span>
                </td>
                <td>
                    <span class="form-control-static">{{dmlAuditLogHistory.eventName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dmlAuditLogHistory.pkColValue">PkColValue</span>
                </td>
                <td>
                    <span class="form-control-static">{{dmlAuditLogHistory.pkColValue}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dmlAuditLogHistory.dmlSequence">DmlSequence</span>
                </td>
                <td>
                    <span class="form-control-static">{{dmlAuditLogHistory.dmlSequence}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
