<div class="common-list col-md-12 no_padding">
    <div class="col-md-12"><h2 translate="stepApp.sisEducationHistory.home.title">SisEducationHistorys</h2></div>
    <div class="col-sm-12 padding-bt no_padding">
        <div class="col-md-4 no_padding">
            <b>{{ (sisEducationHistorys|filter:q).length }} results found</b>
            <div class="input-group">
                <span class="input-group-addon dlbtn" id="basic-addon1"><i class="fa fa-search"></i></span>
                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
            </div>
        </div>
        <div class="col-md-4 "> <b>Items per page:</b>
            <div class="input-group">
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
        </div>
        <div has-any-authority="ROLE_GOVT_STUDENT" class="col-md-4 text-right no_padding">
            <button class="btn btn-primary dlbtn dlbtn-top" ui-sref="sisEducationHistory.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.sisEducationHistory.home.createLabel">Create a new SisEducationHistory</span>
            </button>
        </div>
    </div>
    <div class="modal fade" id="deleteSisEducationHistoryConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(sisEducationHistory.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.sisEducationHistory.delete.question" translate-values="{id: '{{sisEducationHistory.id}}'}">Are you sure you want to delete this SisEducationHistory?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.serial">Serial</th>
                <th translate="global.field.id">ID</th>
                <th translate="stepApp.sisEducationHistory.studentName">studentName</th>
                <th translate="stepApp.sisEducationHistory.eduLevel">eduLevel</th>
                <th translate="stepApp.sisEducationHistory.eduBoard">eduBoard</th>
                <th translate="stepApp.sisEducationHistory.yearOrSemester">YearOrSemester</th>
                <th translate="stepApp.sisEducationHistory.passingYear">PassingYear</th>
                <th translate="stepApp.sisEducationHistory.rollNo">RollNo</th>
                <th translate="stepApp.sisEducationHistory.orgName">orgName</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'" dir-paginate="sisEducationHistory in sisEducationHistorys | filter:q | itemsPerPage: pageSize track by sisEducationHistory.id" current-page="currentPage">
                <td>{{pageSize*(currentPage-1)+$index+1}}</td>
                <td><a ui-sref="sisEducationHistory.detail({id:sisEducationHistory.id})">{{sisEducationHistory.id}}</a></td>
                <td>
                    {{accountName == null ? 'Login' : accountName}}
                </td>
                <td>
                    <a ui-sref="EduLevel.detail({id:sisEducationHistory.eduLevel.id})">{{sisEducationHistory.eduLevel.name}}</a>
                </td>
                <td>
                    <a ui-sref="EduBoard.detail({id:sisEducationHistory.eduBoard.id})">{{sisEducationHistory.eduBoard.name}}</a>
                </td>
                <td>{{sisEducationHistory.yearOrSemester}}</td>
                <td>{{sisEducationHistory.passingYear}}</td>
                <td>{{sisEducationHistory.rollNo}}</td>
                <td>{{sisEducationHistory.orgName}}</td>

                <td class="text-right">
                    <button type="submit"
                            ui-sref="sisEducationHistory.detail({id:sisEducationHistory.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="sisEducationHistory.edit({id:sisEducationHistory.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(sisEducationHistory.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
