
<div class="col-sm-12 no_padding common-table">
    <h2><span translate="stepApp.sisEducationHistory.detail.title">SisEducationHistory</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">

            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.sisEducationHistory.studentName">studentName</span>
                </td>
                <td>
                    {{accountName == null ? 'Login' : accountName}}
                </td>

                <td>
                    <span translate="stepApp.sisEducationHistory.orgName">orgName</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisEducationHistory.orgName}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.sisEducationHistory.eduLevel">eduLevel</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="EduLevel.detail({id:sisEducationHistory.eduLevel.id})">{{sisEducationHistory.eduLevel.name}}</a>
                </td>

                <td>
                    <span translate="stepApp.sisEducationHistory.eduBoard">eduBoard</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="EduBoard.detail({id:sisEducationHistory.eduBoard.id})">{{sisEducationHistory.eduBoard.name}}</a>
                </td>
            </tr>
            <tr>

                <td>
                    <span translate="stepApp.sisEducationHistory.yearOrSemester">YearOrSemester</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisEducationHistory.yearOrSemester}}</span>
                </td>

                <td>
                    <span translate="stepApp.sisEducationHistory.rollNo">RollNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisEducationHistory.rollNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisEducationHistory.majorOrDept">MajorOrDept</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisEducationHistory.majorOrDept}}</span>
                </td>

                <td>
                    <span translate="stepApp.sisEducationHistory.divisionOrGpa">DivisionOrGpa</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisEducationHistory.divisionOrGpa}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisEducationHistory.passingYear">PassingYear</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisEducationHistory.passingYear}}</span>
                </td>

                <td>
                    <span translate="stepApp.sisEducationHistory.achievedCertificate">AchievedCertificate</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisEducationHistory.achievedCertificate}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisEducationHistory.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisEducationHistory.activeStatus}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="col-sm-12 back-button text-right">
        <button type="submit"
                onclick="window.history.back()"
                class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
        </button>
    </div>
</div>
