
<div class="common-table">
    <h2><span translate="stepApp.dlFineSetUp.detail.title">DlFineSetUp</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.dlFineSetUp.timeLimit">TimeLimit</span>
                </td>
                <td>
                    <span class="form-control-static">{{dlFineSetUp.timeLimit}}</span>
                </td>
                <td>
                    <span translate="stepApp.dlFineSetUp.fine">Fine</span>
                </td>
                <td>
                    <span class="form-control-static">{{dlFineSetUp.fine}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dlFineSetUp.status">Status</span>
                </td>
                <td>
                    <!--<span class="form-control-static">{{dlFineSetUp.status}}</span>-->
                    <span ng-show="dlFineSetUp.status==true">Active</span>
                    <span ng-show="dlFineSetUp.status==false">Inactive</span></td>
                </td>

            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.dlFineSetUp.createDate">CreateDate</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{dlFineSetUp.createDate | date:'mediumDate'}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.dlFineSetUp.createBy">CreateBy</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{dlFineSetUp.createBy}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.dlFineSetUp.updateDate">UpdateDate</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{dlFineSetUp.updateDate | date:'mediumDate'}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.dlFineSetUp.updateBy">UpdateBy</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{dlFineSetUp.updateBy}}</span>-->
                <!--</td>-->
            <!--</tr>-->

                <td>
                    <span translate="stepApp.dlFineSetUp.dlContTypeSet">dlContSCatSet</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="dlContCatSet.detail({id:dlFineSetUp.dlContSCatSet.dlContCatSet.name})">{{dlFineSetUp.dlContSCatSet.dlContTypeSet.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dlFineSetUp.dlContCatSet">dlContSCatSet</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="dlContCatSet.detail({id:dlFineSetUp.dlContSCatSet.id})">{{dlFineSetUp.dlContSCatSet.dlContCatSet.name}}</a>
                </td>
                <td>
                    <span translate="stepApp.dlFineSetUp.dlContSCatSet">dlContSCatSet</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="dlContCatSet.detail({id:dlFineSetUp.dlContSCatSet.id})">{{dlFineSetUp.dlContSCatSet.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
