<div class="col-sm-12 common-list padding0">
    <h2 translate="stepApp.iisCurriculumInfo.home.title">IisCourseInfos</h2>
    <div class="col-md-12 padding-tb no-print">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">

        </div>
    </div>
    <!--<div class="col-sm-12 padding-tb no-print">
        <div class="col-md-4 no_padding">
            <b><span translate="global.home.searchhere">Search Here :</span></b>
            <div class="input-group">
                <span class="input-group-addon dlbtn" id="basic-addon1"><i class="fa fa-search"></i></span>
                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
            </div>
        </div>
        <div class="col-md-4 no_padding"><b><span translate="global.home.itemperpage">Items per page:</span></b>
            <div class="input-group">
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
        </div>
    </div>-->
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.form.serial">serial</th>
                <th translate="stepApp.iisCurriculumInfo.institute">Institute</th>
                <th translate="stepApp.iisCurriculumInfo.cmsCurriculum">cmsCurriculum</th>
                <th translate="stepApp.iisCurriculumInfo.firstDate" width="130px">FirstDate</th>
                <th translate="stepApp.iisCurriculumInfo.lastDate" width="130px">LastDate</th>
                <!--<th translate="stepApp.iisCurriculumInfo.recNo">RecNo</th>-->
                <th translate="stepApp.iisCurriculumInfo.mpoDatemain">Mpo Date</th>

                <!--<th translate="stepApp.iisCurriculumInfo.mpoDate">MpoDate</th>-->
                <th class="no-print text-center" translate="entity.action.action"></th>
            </tr>
            </thead>
            <tbody>

            <!--<tr ng-repeat="iisCurriculumInfo in iisCurriculumInfos track by iisCurriculumInfo.id">-->
            <tr dir-paginate="iisCurriculumInfo in iisCurriculumInfos | filter:q | itemsPerPage: pageSize"
                current-page="currentPage">
                <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                <td>
                    {{iisCurriculumInfo.institute.name}}
                </td> <td>
                    <a ui-sref="cmsCurriculum.detail({id:iisCurriculumInfo.cmsCurriculum.id})">{{iisCurriculumInfo.cmsCurriculum.name}}</a>
                </td>
                <!--<td><a ui-sref="iisCurriculumInfo.detail({id:iisCurriculumInfo.id})">{{iisCurriculumInfo.id}}</a></td>-->
                <td>{{iisCurriculumInfo.firstDate | date:'mediumDate'}}</td>
                <td>{{iisCurriculumInfo.lastDate | date:'mediumDate'}}</td>

                <!-- <td>{{iisCurriculumInfo.recNo}}</td>-->
                     <!--<td>{{iisCurriculumInfo.MPO_DATE | date:'mediumDate'}}</td>-->
                <td>{{iisCurriculumInfo.mpoDate | date:'mediumDate'}}</td>
                <td class="text-right no-print">
                    <button type="submit"
                            has-any-authority="ROLE_ADMIN"
                            ui-sref="instituteInfo.editCurriculumMpoDate({id: iisCurriculumInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-check"></span>&nbsp;<span
                        translate="entity.action.editMpoDate" ui-sref-active="active">Edit Mpo Date</span>
                    </button>
                    <button type="submit"
                            ui-sref="instituteInfo.iisCurriculumInfo.detail({id:iisCurriculumInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>

                </td>
            </tr>
            </tbody>
        </table>


        <!--for pagination and real time search add bellow nav tab -->
        <nav class="no-print">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
    <div class="col-md-12 no-print text-right">
        <button type="submit" class="btn btn-sm btn-primary no-print" onclick="window.print()" >
            <i class="fa fa-print"></i>&nbsp;
            <span translate="entity.action.print" >Print</span>
        </button>
    </div>
    <div style="color:#fff" ng-if="currentPageNumber" class="col-md-12 text-center">
        {{currentPageNumber}}
    </div>
</div>
