<div class="col-md-12 common-table">
    <h2 translate="global.menu.entities.importInstInfo">Import Institute Information</h2>
</div>
<div class="col-md-12 text-right">
    <a class="btn btn-primary" href="/assets/institute_general_information.csv" download><span
        class="glyphicon glyphicon-floppy-save"></span> Download Sample CSV File</a>
</div>
<div class="col-md-12">
    <div ng-controller="MainCtrl" style="overflow:scroll;">
        <form><input type="file" class="file-chooser" id="files" name="files[]"/></form>
        <div ui-grid="gridOptions" ui-grid-importer class="grid" ui-grid-edit ui-grid-row-edit
             style="width: 4000px"></div>
    </div>
</div>
<div class="col-md-12">
    <button type="button" class="btn btn-primary btn-sm" ng-click="importAll()">
        <span class="glyphicon glyphicon-import"></span>&nbsp;<span
        translate="entity.action.import" ui-sref-active="active">import</span>
    </button>
</div>
