<div class="list-group no-print">

    <ul id="ulcolor3" class="nav su_serv_menu nav-list  bs-docs-sidenav">
        <li>
            <a ui-sref="instituteInfo.menudashboard" ui-sref-active="active" class="button4">
                <i class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.dashboard">Dashboard</span>

            </a>
        </li>
        <li>
            <a class="button4" has-authority="ROLE_INSTITUTE"
               ui-sref="instituteInfo.generalInfo" ui-sref-active="active">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.entities.instGenInfo">General Information</span>

            </a>
        </li>
        <li>
            <a class="button4" ng-if="logInInstitute.type=='Government'" has-authority="ROLE_INSTITUTE"
               ui-sref="instituteInfo.instapproval" ui-sref-active="active">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.entities.hrEmpTransferInstituteApproval">Transfer Institute Approval</span>
            </a>
        </li>
        <li>
            <a class="button4" ng-if="logInInstitute.type=='Government'" has-authority="ROLE_INSTITUTE"
               ui-sref="instituteInfo.instadminapproval" ui-sref-active="active">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.entities.hrmInstituteAdminEmployeeInfoUpdate">Institute Approval</span>
            </a>
        </li>
        <li>
            <a class="button4" ng-if="logInInstitute.type=='Government'" has-authority="ROLE_INSTITUTE"
               ui-sref="instituteInfo.instpayroll" ui-sref-active="active">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.entities.hrmInstituteHeadPayrollMenu">Generate Payroll</span>
            </a>
        </li>
        <li>
            <a ui-sref="instituteInfo.iisCurriculumInfo" has-authority="ROLE_INSTITUTE" ui-sref-active="active"
               class="button4"><i class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.iisCurriculumInfo">Curriculum Information</span>

            </a>
        </li>
        <li>
            <a ui-sref="instituteInfo.iisCourseInfo" has-authority="ROLE_INSTITUTE" ui-sref-active="active"
               class="button4"><i class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.iisCourseInfo">Course Information</span>
            </a>
        </li>
        <li>
            <a class="button4" ng-if="logInInstitute.type=='NonGovernment'" has-authority="ROLE_INSTITUTE" ui-sref="instVacancy" ui-sref-active="active">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.entities.instVacancy">Vacancy Management</span>

            </a>
        </li>
        <li>
            <a ui-sref="instituteInfo.adminInfo" has-authority="ROLE_INSTITUTE" ui-sref-active="active" class="button4">
                <i class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.instAdminInfo">Administrative Info</span>

            </a>
        </li>
        <li>
            <a ui-sref="instituteInfo.instEmpCount" ng-if="logInInstitute.type=='Government'"  has-authority="ROLE_INSTITUTE" ui-sref-active="active" class="button4">
                <i class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.instStuffInfo">Teacher/Employee Info</span>

            </a>
        </li>
        <li>
            <a ui-sref="instituteInfo.infrastructureInfo" has-authority="ROLE_INSTITUTE" ui-sref-active="active"
               class="button4"><i class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.instInfraInfo">Physical Infrastructure</span>

            </a>
        </li>

        <li>
            <a ui-sref="instituteInfo.financialInfo" has-authority="ROLE_INSTITUTE" ui-sref-active="active"
               class="button4"><i class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.instFinancialInfo">Financial Info</span>

            </a>
        </li>

        <li>
            <a ui-sref="instituteInfo.instComiteFormation" has-authority="ROLE_INSTITUTE" ui-sref-active="active"
               class="button4"><i class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.instComiteFormation">instComiteFormation</span>
            </a>
        </li>
        <li>
            <a ui-sref="instituteInfo.jpOfficer" ng-if="logInInstitute.type=='Government'" has-authority="ROLE_INSTITUTE" ui-sref-active="active" class="button4">
                <i class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.jpOfficers">jpOfficers</span>
            </a>
        </li>

        <!--<li>
            <a ui-sref="instituteInfo.instMemShip" has-authority="ROLE_INSTITUTE" ui-sref-active="active" class="button4"><span
        class="glyphicon glyphicon-envelope"></span>
        &#xA0;<span translate="global.menu.entities.instMemShip">instMemShip</span>
            </a>
         </li>-->

        <!--<li>
            <a ui-sref="instGovBodyAccess" has-authority="ROLE_INSTITUTE" ui-sref-active="active" class="button4"><span
        class="glyphicon glyphicon-envelope"></span>
        &#xA0;<span translate="global.menu.entities.governingBodyAccess">governingBodyAccess</span>
            </a>
         </li>-->

        <!--<li>
        <a ui-sref="instituteInfo.addEmployee" has-authority="ROLE_INSTITUTE" ui-sref-active="active" class="list-group-item"><span
        class="glyphicon glyphicon-envelope"></span>
        &#xA0;<span translate="global.menu.entities.instAddEmployee">Add Employee</span>
            <i class=" pull-right fa fa-caret-right"></i>
        </a>
   </li> <li>
        <a ui-sref="instituteInfo.employeeList" has-any-authority="ROLE_INSTITUTE" ui-sref-active="active" class="list-group-item"><span
        class="glyphicon glyphicon-envelope"></span>
        &#xA0;<span translate="global.menu.entities.instEmployeeList">Employee List</span>
            <i class=" pull-right fa fa-caret-right"></i>
        </a>
    </li><li>
        <a ui-sref="instituteInfo.PendingEmployeeList" has-any-authority="ROLE_INSTITUTE" ui-sref-active="active" class="list-group-item"><span
        class="glyphicon glyphicon-envelope"></span>
        &#xA0;<span translate="global.menu.entities.instPendingEmployeList">Pending Employee List</span>
            <i class=" pull-right fa fa-caret-right"></i>
        </a>
    </li>-->

        <li>
            <a ui-sref="instituteInfo.instituteList" has-authority="ROLE_ADMIN" ui-sref-active="active" class="button4">
                <i class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.instituteList">Institute List</span>

            </a>
        </li>
        <li>
            <a ui-sref="instituteInfo.pendingInstituteList" has-authority="ROLE_ADMIN" ui-sref-active="active"
               class="button4"><i class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.institutePendingList">Pending List</span>

            </a>
        </li>
        <li>
            <a ui-sref="instituteInfo.updateInfoPendingInstituteList" has-authority="ROLE_ADMIN" ui-sref-active="active"
               class="button4"><i class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.instituteUpdatePendingList">Update Pending List</span>

            </a>
        </li>
        <li>
            <a ui-sref="instituteInfo.rejectedInstituteList" has-authority="ROLE_ADMIN" ui-sref-active="active"
               class="button4"><i class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.instituteRejectedList">Rejected List</span>

            </a>
        </li>
        <li>
            <a ui-sref="instituteInfo.mpoEnlistedInst" has-authority="ROLE_ADMIN" ui-sref-active="active"
               class="button4"><i class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.mpoEnlistedInst">Mpo Enlisted Institute</span>

            </a>
        </li>
        <li>
            <a ui-sref="instituteInfo.mpoEnlistedCurriculum" has-authority="ROLE_ADMIN" ui-sref-active="active"
               class="button4"><i class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.mpoEnlistedCurriculum">Mpo Enlisted Curriculum</span>

            </a>
        </li>
        <li>
            <a ui-sref="instituteInfo.mpoEnlistedCourse" has-authority="ROLE_ADMIN" ui-sref-active="active"
               class="button4"><i class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.mpoEnlistedCourse">Mpo Enlisted Course</span>

            </a>
        </li>

        <li>
            <a ui-sref="instituteInfo.deptAndSectionInfo" ng-if="logInInstitute.type=='Government'" has-any-authority="ROLE_INSTITUTE,ROLE_ADMIN" ui-sref-active="active"
               class="button4"><i class="fa fa-angle-double-right"></i>
               &#xA0;<span translate="global.menu.entities.deptAndSectionInfo">Dept  and Section Information</span>
            </a>
        </li>
        <li>
            <a ui-sref="instituteInfo.importexport"  has-any-authority="ROLE_ADMIN" ui-sref-active="active"
               class="button4"><i class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.importexport">Dept  and Section Information</span>
            </a>
        </li>
        <li>
            <a ui-sref="instituteInfo.deptAndSectionInfo"  has-any-authority="ROLE_ADMIN" ui-sref-active="active"
               class="button4"><i class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.deptAndSectionInfo">Dept  and Section Information</span>
            </a>
        </li>
        <!--I Hide this menu according to Siam-->

        <!--<li has-any-authority="ROLE_ADMIN,ROLE_MPOADMIN" >
            <a class="su_active_a" data-toggle="collapse" data-parent="#ulcolor3" data-target="#fifthLink1">
                <span translate="global.menu.vacancyManagement">Vacancy Management</span><i
                class="pull-right fa fa-caret-down"></i></a>
            <ul id="fifthLink1" class="collapse search-accordion inst-level">
                <li>
                    <a ui-sref="instituteInfo.institutesWithLevel({levelName:'SSC (VOC)'})" ui-sref-active="active">
                        <i class="fa fa-pencil-square-o"></i>
                        <span translate="global.menu.voc">VOC</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="instituteInfo.institutesWithLevel({levelName:'HSC (BM)'})" ui-sref-active="active">
                        <i class="fa fa-pencil-square-o"></i>
                        <span translate="global.menu.bm">BM</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="instituteInfo.institutesWithLevel({levelName:'Madrasha (VOC)'})"
                       ui-sref-active="active">
                        <i class="fa fa-pencil-square-o"></i>
                        <span translate="global.menu.madrashaVoc">Madrasha Voc</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="instituteInfo.institutesWithLevel({levelName:'Madrasha (BM)'})" ui-sref-active="active">
                        <i class="fa fa-pencil-square-o"></i>
                        <span translate="global.menu.madrashaBm">Madrasha BM</span>
                    </a>
                </li>

            </ul>
        </li>-->
        <!--I Hide this menu according to Siam-->

        <li>
            <a ui-sref="jpReport({module: 'iis'})" has-any-authority="ROLE_ADMIN,ROLE_INSTITUTE" ui-sref-active="active"
               class="button4"><i class="fa fa-angle-double-right"></i>
               <span translate="global.menu.entities.instRptInfo">Report</span>

            </a>
        </li>
        <!--<li><a class="button4" ui-sref="report({module:'mpo'})" ui-sref-active="active"-->
               <!--has-any-authority="ROLE_ADMIN,ROLE_INSTITUTE">-->
            <!--<i class="fa fa-angle-double-right"></i>-->
            <!--<span>report</span></a>-->
        <!--</li>-->

        <!--<li class="panel su_active_li">-->
            <!--<a  ui-sref="jpReport({module: 'iis'})" has-any-authority="ROLE_ADMIN" ui-sref-active="active">-->
                <!--<span translate="global.menu.report">Hr Reports</span>-->
            <!--</a>-->
        <!--</li>-->
    </ul>
</div>

