<div class="col-sm-12 common-list">
    <h2 ng-show="location=='/institute-info/pending-institute-list'" class="header-margin"
        translate="stepApp.instGenInfo.home.institutePList">InstGenInfos</h2>

    <h2 ng-show="location=='/institute-info/institute-list'" class="header-margin"
        translate="stepApp.instGenInfo.home.instituteList">InstGenInfos</h2>
    <div class="col-md-12 padding-tb no-print">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">

        </div>
    </div>
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center" translate="global.form.serial">serial</th>
                <th translate="stepApp.instGenInfo.code">Code</th>
                <th translate="stepApp.instGenInfo.name">Name</th>
                <th translate="stepApp.instGenInfo.mpoCode">MpoCode</th>
                <th translate="stepApp.instGenInfo.mpoDate">mpoDate</th>
                <th class="text-center no-print" translate="stepApp.instGenInfo.action" ng-hide="hideofAction">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="instGenInfo in instGenInfos | filter:q | itemsPerPage: pageSize"
                current-page="currentPage">
                <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                <td>{{instGenInfo.code}}</td>
                <td>{{instGenInfo.name}}</td>
                <td>{{instGenInfo.mpoCode}}</td>
                <td>{{instGenInfo.dateOfMpo}}</td>
                <td class="text-right no-print">
                    <button type="submit"
                            has-any-authority="ROLE_ADMIN"
                            ui-sref="instituteInfo.editMpoCode({id: instGenInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-check"></span>&nbsp;<span
                        translate="entity.action.editMpoCode" ui-sref-active="active">Edit</span>
                    </button>
                    <button type="submit"
                            has-any-authority="ROLE_ADMIN"
                            ui-sref="instituteInfo.detailView({id: instGenInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-check"></span>&nbsp;<span
                        translate="entity.action.view"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav class="no-print">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
    <div class="col-md-12 no-print text-right">
        <button type="submit" class="btn btn-sm btn-primary no-print" onclick="window.print()" >
            <i class="fa fa-print"></i>&nbsp;
            <span translate="entity.action.print" >Print</span>
        </button>
    </div>
    <div style="color:#fff" ng-if="currentPageNumber" class="col-md-12 text-center">
        {{currentPageNumber}}
    </div>
</div>
