<div class="common-dialogue">
    <form name="approveForm" ng-submit="confirmApprove()">
        <div class="">
            <h4 class="modal-title"><span translate="stepApp.instGenInfo.mpocodeChange">MPO Code change form</span>
                <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true"
                        ng-click="clear()">&times;
                </button>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-12" has-any-authority="ROLE_ADMIN">
                    <label for="mpoCode">MPO Code</label>
                    <input class="form-control" name="mpoCode" id="mpoCode" type="text" placeholder="Provide MPO Code"
                           ng-model="institute.mpoCode"
                           ng-remote-validate="/api/institute/mpoCode/"
                           ng-remote-method="GET"
                           ng-remote-throttle="500"
                           required only-numbers>
                    <span class="message validating" ng-show="approveForm.mpoCode.$pending">validating...</span>
                    <div ng-show="approveForm.mpoCode.$invalid">
                        <p class="help-block"
                           ng-show="approveForm.mpoCode.$error.required">
                            MPO Code is required.
                        </p>
                        <small style="color: red; font-size: 10px;"
                           ng-show="approveForm.mpoCode.$error.ngRemoteValidate">
                            Mpo Code is already exists! try another
                        </small>
                    </div>
                </div>
                 <div class="form-group col-md-12"  has-any-authority="ROLE_ADMIN">
                     <label translate="stepApp.instGenInfo.dateOfMpo" for="field_dateOfMpo" class="req-start">Date of MPO</label>
                     <input type="text"  class="form-control"  name="dateOfMpo" id="field_dateOfMpo"
                            ng-model="institute.dateOfMpo"  placeholder="Date of MPO"
                            datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.dateOfMpo"
                            datepicker-options="calendar.dateOptions" close-text="Close" ng-click="calendar.open($event, 'dateOfMpo')"
                            ng-blur="deadlineValidation1()"  required/>
                     <p translate="stepApp.instGenInfo.errMsg1" ng-show="dateError1" style="font-size: 0.9em; color:#ff2432;">Need a valid date !</p>
                 </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="approveForm.$invalid" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span>&nbsp;
                <span translate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
</div>
