<div class="col-md-3 padding0 no-print padding-right0">
    <ng-include src="'scripts/app/entities/instituteInformationSystem/institute-left-menu.html'"></ng-include>
</div>
<div class="col-md-9 no_padding padding-left0">
    <div has-any-authority="ROLE_INSTITUTE" class="col-sm-12 text-right">
        <div class="institute-token text-right pull-right">
            <p><span>Code : {{logInInstitute.code}}</span> &nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <span>Type : {{logInInstitute.type}}</span>
            </p>
        </div>
    </div>
    <div class="main-content col-sm-12 lbl-dash padding-right0" ui-view="instituteView">

    </div>
</div>
