<style>
    ul.nav.nav-tabs.nav-justified li a {
        height: 50px;
    }
</style>
<div class="col-md-12 sis-seven-tab no_padding common-table">

    <div class="col-sm-12 text-right padding-tb" ng-if="instGenInfo.mpoEnlisted==false && instGenInfo.type =='NonGovernment'">
        <button ui-sref="instituteInfo.detailView.mpoActiveInActive({id:instId,activeStatus:true})"
                class="btn btn-primary">
            <span class="glyphicon glyphicon-check"></span>&nbsp;
            <span translate="entity.action.mpoActivate"> MPO Active</span>
        </button>
    </div>
    <div class="col-sm-12 text-right padding-tb" ng-if="instGenInfo.mpoEnlisted==true && instGenInfo.type =='NonGovernment'">
        <button
            ui-sref="instituteInfo.detailView.mpoActiveInActive({id:instId,activeStatus:false})"
            class="btn btn-danger">
            <span class="glyphicon glyphicon-check"></span>&nbsp;
            <span translate="entity.action.mpoDeactive"> MPO InActive</span>
        </button>
    </div>

    <tabset justified="true" class="dte-tab">
        <tab heading="{{'stepApp.instAdmInfo.GeneralInformation' | translate}}" select="generalInfo()"
             disable="generalInfoTab">
            <div class="col-sm-12 common-table">
                <div class="col-sm-12 padding-tb">
                    <h2><span translate="stepApp.instGenInfo.detail.title">InstGenInfo</span></h2>
                    <!--<div class="col-sm-12 text-right padding-tb" ng-hide="hideGenInfoApprove">-->

                </div>
                <div class="col-sm-12 table-responsive no_padding">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>
                                <span translate="stepApp.instGenInfo.code">Code</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.code}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.instGenInfo.name">Name</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.name}}</span>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <span translate="stepApp.instGenInfo.publicationDate">PublicationDate</span>
                            </td>
                            <td>
                                <span
                                    class="form-control-static">{{instGenInfo.publicationDate | date:'mediumDate'}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.instGenInfo.eiin">Type</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.eiin}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.instGenInfo.centerCode">Type</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.centerCode}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.instGenInfo.type">Type</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.type}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.instGenInfo.instCategory">instCategory</span>
                            </td>
                            <td>
                                <span
                                    class="form-control-static">{{instGenInfo.instCategory.name}}</span>
                            </td>
                            <td><span translate="stepApp.instGenInfo.level">Level</span></td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.instLevel.name}}</span>
                            </td>

                            <!--Need both of level & category according to Tasneem-->
                            <!--



                            <th ng-show="instGenInfo.type == 'Government'"><span
                                translate="stepApp.instGenInfo.instCategory">Level</span></th>
                            <td ng-show="instGenInfo.type == 'Government'">
                                <span class="form-control-static">{{instGenInfo.instCategory.name}}</span>
                            </td>-->
                        </tr>
                        <tr ng-show="instGenInfo.type == 'NonGovernment'">
                            <td>
                                <span translate="stepApp.instGenInfo.mpoEnlisted">Type</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.mpoEnlisted ? 'Yes' : 'No'}}</span>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span translate="stepApp.instGenInfo.firstAffiliationDate">Type</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.firstAffiliationDate}}</span>
                            </td>
                            <!--<td>{{instGenInfo.institute}}</td>-->

                        </tr>
                        <tr ng-show="instGenInfo.mpoEnlisted && instGenInfo.type === 'NonGovernment' && instGenInfo.institute != null && instGenInfo.institute.dateOfMpo != null">
                            <td>
                                <span translate="stepApp.instGenInfo.mpoCode">mpoCode</span>
                            </td>
                            <td>{{instGenInfo.institute.mpoCode}}</td>
                            <td>
                                <span translate="stepApp.instGenInfo.dateOfMpo">Date of Mpo</span>
                            </td>
                            <td>
                                        <span
                                            class="form-control-static">{{instGenInfo.institute.dateOfMpo | date:'mediumDate'}}
                                        </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.instGenInfo.ownerType">Owner Type</span>
                            </td>
                            <td ng-if="instGenInfo.ownerType">
                                <span class="form-control-static">Individual</span>
                            </td>
                            <td ng-if="!instGenInfo.ownerType">
                                <span class="form-control-static">Joint/Attached</span>
                            </td>
                            <td>
                                <span translate="stepApp.instGenInfo.village">Village</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.village}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.instGenInfo.postOffice">PostOffice</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.postOffice}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.instGenInfo.postCode">PostCode</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.postCode}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.instGenInfo.landPhone">LandPhone</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.landPhone}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.instGenInfo.mobileNo">MobileNo</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.mobileNo}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.instGenInfo.altMobileNo">altMobileNo</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.altMobileNo}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.instGenInfo.email">Email</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.email}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.instGenInfo.consArea">ConsArea</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.consArea}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.instGenInfo.division">Division</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.upazila.district.division.name}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.instGenInfo.district">District</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.upazila.district.name}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.instGenInfo.upazila">District</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.upazila.name}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.instGenInfo.faxNum">Fax</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.faxNum}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.instGenInfo.website">Web Site</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instGenInfo.website}}</span>
                            </td>
                            <td translate="stepApp.instGenInfo.locality">Locality</td>
                            <td>{{instGenInfo.locality == 1 ? "Citycorporation": instGenInfo.locality==2 ?
                                "Municipilaty"
                                :instGenInfo.locality==3 ?
                                "Municipilaty District"
                                :instGenInfo.locality==4 ?
                                "Upazila Municipilaty"
                                :instGenInfo.locality==5 ?
                                "Union":""}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <button type="submit"
                            onclick="window.history.back()"
                            class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                        translate="entity.action.back"> Back</span>
                    </button>
                </div>
            </div>
        </tab>

        <tab heading=" {{'stepApp.instAdmInfo.AdministrativeInformation' | translate}}" select="adminInfo()"
             disable="adminInfoTab">
            <div class="col-sm-12 common-table">
                <div class="col-sm-12 padding-tb">
                    <div class="col-sm-12 no_padding">
                        <h2><span translate="stepApp.instAdmInfo.detail.title">InstAdmInfo</span></h2>
                    </div>
                    <!--<div class="col-sm-4 text-right no_padding" ng-hide="hideAdmInfoApprove">
                        <button ng-hide="hideAdmInfoApprove"
                                ui-sref="instituteInfo.adminInfo.approve({admid:instAdmInfo.id})"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-check"></span>&nbsp;
                            <span translate="entity.action.approve"> Approve</span>
                        </button>
                        <button ng-hide="hideAdmInfoApprove"
                                ui-sref="instituteInfo.adminInfo.decline({admid:instAdmInfo.id})"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-check"></span>&nbsp;
                            <span translate="entity.action.deny"> Approve</span>
                        </button>
                    </div>-->
                </div>

                <div class="panel-body no_padding adminst-infor">
                    <div class="col-sm-12 table-responsive institute-govt-body no_padding">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <!--<th translate="entity.detail.field">Field</th>-->
                                <!--<th translate="entity.detail.value">Value</th>-->
                                <!--
                                                        <th colspan="6">Administrative Information {{$index + 1}}</th>
                                -->
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span translate="stepApp.instAdmInfo.adminCounselorName">AdminCounselorName</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instAdmInfo.adminCounselorName}}</span>
                                </td>

                                <td>
                                    <span translate="stepApp.instAdmInfo.counselorMobileNo">CounselorMobileNo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instAdmInfo.counselorMobileNo}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.instAdmInfo.insHeadName">InsHeadName</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instAdmInfo.insHeadName}}</span>
                                </td>

                                <td>
                                    <span translate="stepApp.instAdmInfo.insHeadMobileNo">InsHeadMobileNo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instAdmInfo.insHeadMobileNo}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.instAdmInfo.deoName">DeoName</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instAdmInfo.deoName}}</span>
                                </td>

                                <td>
                                    <span translate="stepApp.instAdmInfo.deoMobileNo">DeoMobileNo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instAdmInfo.deoMobileNo}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 table-responsive institute-govt-body no_padding">
                        <h2>Institute Governing Body</h2>

                        <table class="table table-striped" ng-repeat="instGovernBody in instGovernBodys ">
                            <thead>
                            <tr>
                                <!--<th translate="entity.detail.field">Field</th>-->
                                <!--<th translate="entity.detail.value">Value</th>-->
                                <th colspan="4">Governing body {{$index + 1}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span translate="stepApp.instGovernBody.name">Name</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instGovernBody.name}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.instGovernBody.position">Position</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instGovernBody.position}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.instGovernBody.mobileNo">MobileNo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instGovernBody.mobileNo}}</span>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit"
                            onclick="window.history.back()"
                            class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
                    </button>
                </div>
            </div>
        </tab>

        <tab heading="{{'stepApp.instAdmInfo.CourseInformation ' | translate}}" select="courseInfo()"
             disable="courseInfoTab">
            <div class="col-sm-12 common-table">
                <div class="col-sm-12 padding-tb">
                    <div class="col-sm-12 no_padding">
                        <h2><span translate="stepApp.iisCourseInfo.detail.title">InstCourseINfo</span></h2>
                    </div>
                    <!--<div class="col-sm-4 text-right no_padding"
                         ng-hide="hideCourseInfoApprove || instCources.length < 1">
                        <button ng-hide="hideCourseInfoApprove"
                                ui-sref="instituteInfo.iisCourseInfo.approve({acaid:iisCourseInfo.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-check"></span>&nbsp;
                            <span translate="entity.action.approve"> Approve</span>
                        </button>
                        <button ng-hide="hideCourseInfoApprove"
                                ui-sref="instituteInfo.iisCourseInfo.decline({acaid: iisCourseInfo.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-check"></span>&nbsp;
                            <span translate="entity.action.deny"> Decline</span>
                        </button>
                    </div>-->
                </div>

                <div class="panel-body no_padding">
                    <div class="col-sm-12  no_padding ">
                        <table class="table table-striped" ng-repeat="iisCourseInfo in instCources">
                            <thead>
                            <tr>
                                <th class="" colspan="4" style="color:#444">Course {{$index + 1}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--<tr>
                                <td>
                                    <span translate="stepApp.iisCourseInfo.cmsTrade">Trade</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instCource.cmsTrade.name}}</span>
                                </td>
                            </tr>-->
                            <tr>
                                <td>
                                    <span translate="stepApp.iisCourseInfo.perDateEdu">PerDateEdu</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{iisCourseInfo.perDateEdu | date:'mediumDate'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.iisCourseInfo.perDateBteb">PerDateBteb</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{iisCourseInfo.perDateBteb | date:'mediumDate'}}</span>
                                </td>
                            </tr>
                            <tr ng-if="iisCourseInfo.iisCurriculumInfo.institute.type =='NonGovernment'">
                                <td>
                                    <span translate="stepApp.iisCourseInfo.mpoEnlisted">MpoEnlisted</span>
                                </td>
                                <td>
                                    <span ng-show="iisCourseInfo.mpoEnlisted == true" class="form-control-static"><span
                                        translate="stepApp.iisCourseInfo.yes">yes</span></span>
                                    <span ng-show="iisCourseInfo.mpoEnlisted == false" class="form-control-static"><span
                                        translate="stepApp.iisCourseInfo.no">no</span></span>
                                </td>
                            </tr>
                            <tr ng-if="iisCourseInfo.iisCurriculumInfo.institute.type =='NonGovernment'">
                                <td>
                                    <span translate="stepApp.iisCourseInfo.dateMpo">DateMpo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{iisCourseInfo.dateMpo}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.iisCourseInfo.seatNo">SeatNo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{iisCourseInfo.seatNo}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.iisCourseInfo.memoNo">SeatNo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{iisCourseInfo.memoNo}}</span>
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <span translate="stepApp.iisCurriculumInfo.btebMemoFile">btebMemoFile</span>
                                </td>
                                <td>
                                    <a href="javascript:void(0)"
                                       ng-click="previewImage(iisCourseInfo.btebMemoFile, iisCourseInfo.btebMemoFileCntType,('stepApp.iisCurriculumInfo.btebMemoFile' | translate)+' Image')">
                                        <span class="btn btn-default"><img
                                            ng-src="data:image/JPEG;base64,{{iisCourseInfo.btebMemoFile}}" width="40px"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.iisCourseInfo.memoNoMinistry">SeatNo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{iisCourseInfo.memoNoMinistry}}</span>
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <span translate="stepApp.iisCourseInfo.minisMemoFile">lastAcdrAttach</span>
                                </td>
                                <td>
                                    <a href="javascript:void(0)"
                                       ng-click="previewImage(iisCourseInfo.minisMemoFile, iisCourseInfo.minisMemoFileCntType,('stepApp.iisCourseInfo.minisMemoFile' | translate)+' Image')">
                                        <span class="btn btn-default"><img
                                            ng-src="data:image/JPEG;base64,{{iisCourseInfo.minisMemoFile}}"
                                            width="40px"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.iisCourseInfo.shift">Shift</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{iisCourseInfo.shift}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.iisCourseInfo.totalPostT">Shift</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{iisCourseInfo.totalPostT}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.iisCourseInfo.availablePostT">Shift</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{iisCourseInfo.noOfPostT}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.iisCourseInfo.totalPostStaff">Shift</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{iisCourseInfo.totalPostStaff}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.iisCourseInfo.availablePostStaff">Shift</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{iisCourseInfo.noOfPostStaff}}</span>
                                </td>
                            </tr>
                            <tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.iisCourseInfo.iisCurriculumInfo">iisCurriculumInfo</span>
                                </td>
                                <td>
                                    <a class="form-control-static"
                                       ui-sref="iisCurriculumInfo.detail({id:iisCourseInfo.iisCurriculumInfo.id})">{{iisCourseInfo.cmsTrade.cmsCurriculum.name}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.iisCourseInfo.cmsTrade">cmsTrade</span>
                                </td>
                                <td>
                                    <a class="form-control-static"
                                       ui-sref="cmsTrade.detail({id:iisCourseInfo.cmsTrade.id})">{{iisCourseInfo.cmsTrade.name}}</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel-footer">
                    <button type="submit"
                            onclick="window.history.back()"
                            class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
                    </button>
                </div>
            </div>
        </tab>

        <tab heading="{{'stepApp.instAdmInfo.CurriculumInformation ' | translate}}" select="curriculumInfo()"
             disable="curriculumInfoTab">
            <div class="panel panel-primary">

                    <div class="col-sm-12 padding0">
                        <h2><span translate="stepApp.iisCurriculumInfo.detail.title">InsAcademicInfo</span></h2>
                    </div>

                <div class="panel-body no_padding">
                    <div class="col-sm-12  padding0">
                        <!--<h2>Curriculum Information</h2>-->
                        <table class="table table-striped" ng-repeat="instCurriculum in instCurriculums">
                            <thead>
                            <tr>
                                <th class="" colspan="4">Curriculum {{$index + 1}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span translate="stepApp.iisCurriculumInfo.cmsCurriculum">cmsCurriculum</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instCurriculum.cmsCurriculum.name}}</span>
                                </td>
                            </tr>
                            <tr ng-if="instCurriculum.institute.type =='NonGovernment'">
                                <td>
                                    <span translate="stepApp.iisCurriculumInfo.mpoEnlisted">mpoEnlisted</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instCurriculum.mpoEnlisted}}</span>
                                </td>
                            </tr>
                            <tr ng-if="instCurriculum.institute.type =='NonGovernment'">
                                <td>
                                    <span translate="stepApp.iisCurriculumInfo.mpoDate">mpoDate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instCurriculum.mpoDate}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.iisCurriculumInfo.firstDate">firstDate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instCurriculum.firstDate}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.iisCurriculumInfo.lastDate">lastDate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instCurriculum.lastDate}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span translate="stepApp.iisCurriculumInfo.acSession">Session</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instCurriculum.acSession}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.iisCurriculumInfo.lastRecNo">lastRecNo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instCurriculum.lastRecNo}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span translate="stepApp.iisCurriculumInfo.lastAcdrAttach">lastAcdrAttach</span>
                                </td>
                                <td>
                                    <a href="javascript:void(0)"
                                       ng-click="previewImage(instCurriculum.lastAcdrAttach, instCurriculum.lastAcdrAttachCntType,('stepApp.iisCurriculumInfo.lastAcdrAttach' | translate)+' Image')">
                                        <span class="btn btn-default"><img
                                            ng-src="data:image/JPEG;base64,{{instCurriculum.lastAcdrAttach}}"
                                            width="40px"></span></a>
                                </td>

                            </tr>

                            <!--<tr>-->
                            <!--<td>-->
                            <!--<span translate="stepApp.iisCurriculumInfo.mpoDate">mpodate</span>-->
                            <!--</td>-->
                            <!--<td>-->
                            <!--<span class="form-control-static">{{instCurriculum.mpoDate}}</span>-->
                            <!--</td>-->
                            <!--</tr>-->
                            <tr>
                                <td>
                                    <span translate="stepApp.iisCurriculumInfo.recNo">recNo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instCurriculum.recNo}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span translate="stepApp.iisCurriculumInfo.firstAcdrAttach">firstAcdrAttach</span>
                                </td>
                                <td>
                                    <a href="javascript:void(0)"
                                       ng-click="previewImage(instCurriculum.firstAcdrAttach, instCurriculum.firstAcdrAttachCntType,('stepApp.iisCurriculumInfo.firstAcdrAttach' | translate)+' Image')">
                                        <span class="btn btn-default"><img
                                            ng-src="data:image/JPEG;base64,{{instCurriculum.firstAcdrAttach}}"
                                            width="40px"></span></a>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel-footer">
                    <button type="submit"
                            onclick="window.history.back()"
                            class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
                    </button>
                </div>
            </div>
        </tab>

        <tab ng-if="instGenInfo.type == 'Government'"   heading="{{'stepApp.instAdmInfo.EmployeeInformation ' | translate}}" select="stuffInfo()" >
            <div class="panel panel-primary">
                <div class="panel-body no_padding">
                    <div class="col-sm-12 padding0">
                        <h2><span translate="stepApp.instEmpCount.detail.title">InstEmpCount</span></h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span translate="stepApp.instEmpCount.totalMaleTeacher">TotalMaleTeacher</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instEmpCount.totalMaleTeacher}}</span>
                                </td>

                                <td>
                                    <span translate="stepApp.instEmpCount.totalFemaleTeacher">TotalFemaleTeacher</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instEmpCount.totalFemaleTeacher}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.instEmpCount.totalMaleEmployee">TotalMaleEmployee</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instEmpCount.totalMaleEmployee}}</span>
                                </td>

                                <td>
                                    <span
                                        translate="stepApp.instEmpCount.totalFemaleEmployee">TotalFemaleEmployee</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instEmpCount.totalFemaleEmployee}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.instEmpCount.totalGranted">TotalGranted</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instEmpCount.totalGranted}}</span>
                                </td>

                                <td>
                                    <span translate="stepApp.instEmpCount.totalEngaged">TotalEngaged</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instEmpCount.totalEngaged}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit"
                            onclick="window.history.back()"
                            class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
                    </button>
                </div>

            </div>
        </tab>

        <tab heading="{{'stepApp.instAdmInfo.FinancialInformation ' | translate}}" select="financialInfo()"
             disable="financialInfoTab">
            <div class="panel panel-primary">
                <div class="panel-body no_padding">
                    <div class="col-sm-12 padding0">
                        <h2>Financial Information</h2>
                        <table class="table table-striped" ng-repeat="instFinancialInfo in instFinancialInfos">
                            <thead>
                            <tr>
                                <th class="" colspan="4">Bank Information {{$index + 1}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span translate="stepApp.instFinancialInfo.bankName">BankName</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instFinancialInfo.bankSetup.name}}</span>
                                </td>

                                <td>
                                    <span translate="stepApp.instFinancialInfo.branchName">BranchName</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instFinancialInfo.bankBranch.brName}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.instFinancialInfo.accountType">AccountType</span>
                                </td>
                                <td>
                                    <span class="form-control-static"
                                          translate="{{'stepApp.accountType.' + instFinancialInfo.accountType}}">{{instFinancialInfo.accountType}}</span>
                                </td>

                                <td>
                                    <span translate="stepApp.instFinancialInfo.accountNo">AccountNo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instFinancialInfo.accountNo}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.instFinancialInfo.issueDate">IssueDate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instFinancialInfo.issueDate | date:'mediumDate'}}</span>
                                </td>

                                <td>
                                    <span translate="stepApp.instFinancialInfo.expireDate">ExpireDate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instFinancialInfo.expireDate | date:'mediumDate'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.instFinancialInfo.amount">Amount</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instFinancialInfo.amount}}</span>
                                </td>

                                <td>
                                    <span translate="stepApp.instFinancialInfo.upazila">upazila</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{instFinancialInfo.bankBranch.upazila.name}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.instFinancialInfo.district">district</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instFinancialInfo.bankBranch.upazila.district.name}}</span>
                                </td>

                                <td>
                                    <span translate="stepApp.instFinancialInfo.division">division</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instFinancialInfo.bankBranch.upazila.district.division.name}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <button onclick="window.history.back()"
                            class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
                    </button>
                </div>
            </div>
        </tab>

        <tab heading=" {{'stepApp.instAdmInfo.InfrastructureInformation ' | translate}}" select="infraInfo()"
             disable="infrastructureInfoTab">

            <div class="panel panel-primary">
                <!-- <div class="col-sm-12 col-head">
                     <div class="col-sm-8 col-head-heading">
                         <h3><span translate="stepApp.instEmpCount.detail.title"> </span></h3>
                     </div>
                     <div class="col-sm-4 text-right no_padding" ng-hide="hideFinnInfoApprove">
                         <button type="submit" ng-hide="hideFinnInfoApprove"
                                 ui-sref="instituteInfo.financialInfo.approve({instid:instGenInfo.institute.id})"
                                 class="btn btn-primary btn-sm">
                             <span class="glyphicon glyphicon-check"></span>&nbsp;
                             <span translate="entity.action.approve"> Approve</span>
                         </button>
                         <button ng-hide="hideFinnInfoApprove"
                                 ui-sref="instituteInfo.financialInfo.decline({instid: instGenInfo.institute.id})"
                                 class="btn btn-primary btn-sm">
                             <span class="glyphicon glyphicon-check"></span>&nbsp;
                             <span translate="entity.action.deny"> Decline</span>
                         </button>
                     </div>
                 </div>-->
                <div class="table-responsive panel-body no_padding">

                    <div class="table-responsive infra-info">

                        <div class="col-sm-12 padding0">
                            <h2 translate="stepApp.instBuilding.detail.title"></h2>
                            <table class="table table-striped" ng-repeat="instBuilding in instBuildings">
                                <thead>
                                <!--<tr>
                                    <th class="gen-th" colspan="4" translate="stepApp.instBuilding.detail.title">{{$index + 1}}<span>InstBuilding</span> {{instBuilding.id}}</th>
                                </tr>-->
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <span translate="stepApp.instBuilding.nameOrNumber">TotalArea</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{instBuilding.name}}</span>
                                    </td>
                                    <td>
                                        <span translate="stepApp.instBuilding.totalArea">TotalArea</span>
                                    </td>
                                    <td>
                                        <span
                                            class="form-control-static">{{instBuilding.totalArea}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.instBuilding.position">TotalArea</span>
                                    </td>
                                    <td>
                                        <span ng-if="instBuilding.direction==1"
                                              class="form-control-static">North
                                        </span> <span ng-if="instBuilding.direction==2"
                                                      class="form-control-static">South
                                        </span> <span ng-if="instBuilding.direction==3"
                                                      class="form-control-static">East
                                        </span> <span ng-if="instBuilding.direction==4"
                                                      class="form-control-static">West</span>


                                    </td>
                                    <td>
                                        <span translate="stepApp.instBuilding.teachersRoom">teachersRoom</span>
                                    </td>
                                    <td>
                                        <span
                                            class="form-control-static">{{instBuilding.teachersRoom}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.instBuilding.classRoom">ClassRoom</span>
                                    </td>
                                    <td>
                                        <span
                                            class="form-control-static">{{instBuilding.classRoom}}</span>
                                    </td>
                                    <td>
                                        <span translate="stepApp.instBuilding.officeRoom">OfficeRoom</span>
                                    </td>
                                    <td>
                                        <span
                                            class="form-control-static">{{instBuilding.officeRoom}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.instBuilding.teachersRoom">teachersRoom</span>
                                    </td>
                                    <td>
                                        <span
                                            class="form-control-static">{{instBuilding.teachersRoom}}</span>
                                    </td>
                                    <td>
                                        <span translate="stepApp.instBuilding.trainingRoom">trainingRoom</span>
                                    </td>
                                    <td>
                                        <span
                                            class="form-control-static">{{instBuilding.trainingRoom}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.instBuilding.workshopRoom">trainingRoom</span>
                                    </td>
                                    <td>
                                        <span
                                            class="form-control-static">{{instBuilding.workshopRoom}}</span>
                                    </td>
                                    <td>
                                        <span translate="stepApp.instBuilding.meetingRoom">meetingRoom</span>
                                    </td>
                                    <td>
                                        <span
                                            class="form-control-static">{{instBuilding.meetingRoom}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.instBuilding.researchRoom">researchRoom</span>
                                    </td>
                                    <td>
                                        <span
                                            class="form-control-static">{{instBuilding.researchRoom}}</span>
                                    </td>
                                    <td>
                                        <span translate="stepApp.instBuilding.labRoom">labRoom</span>
                                    </td>
                                    <td>
                                        <span
                                            class="form-control-static">{{instBuilding.labRoom}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.instBuilding.counselingRoom">counselingRoom</span>
                                    </td>
                                    <td>
                                        <span
                                            class="form-control-static">{{instBuilding.counselingRoom}}</span>
                                    </td>
                                    <td>
                                        <span translate="stepApp.instBuilding.auditoriumRoom">auditoriumRoom</span>
                                    </td>
                                    <td>
                                        <span
                                            class="form-control-static">{{instBuilding.auditoriumRoom}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.instBuilding.commonRoom">commonRoom</span>
                                    </td>
                                    <td>
                                        <span
                                            class="form-control-static">{{instBuilding.commonRoom}}</span>
                                    </td>
                                    <td>
                                        <span translate="stepApp.instBuilding.maleBathroom">maleBathroom</span>
                                    </td>
                                    <td>
                                        <span
                                            class="form-control-static">{{instBuilding.maleBathroom}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.instBuilding.femaleBathroom">femaleBathroom</span>
                                    </td>
                                    <td>
                                        <span
                                            class="form-control-static">{{instBuilding.femaleBathroom}}</span>
                                    </td>
                                    <td>
                                        <span translate="stepApp.instBuilding.storeRoom">storeRoom</span>
                                    </td>
                                    <td>
                                        <span
                                            class="form-control-static">{{instBuilding.storeRoom}}</span>
                                    </td>
                                </tr>


                                <tr ng-if="instBuilding.dMwash!=null">
                                    <th>
                                        <span translate="stepApp.instBuilding.mwashRoom">femaleBathroom</span>
                                    </th>
                                    <td>
                                        <span class="form-control-static">{{instBuilding.dMwash}}</span>
                                    </td>
                                    <th>
                                        <span translate="stepApp.instBuilding.fwashRoom">storeRoom</span>
                                    </th>
                                    <td>
                            <span
                                class="form-control-static">{{instBuilding.dFwash}}</span>
                                    </td>
                                </tr>
                                <tr ng-if="instBuilding.labNo!=null">
                                    <th>
                                        <span translate="stepApp.instBuilding.labNo">femaleBathroom</span>
                                    </th>
                                    <td>
                                        <span class="form-control-static">{{instBuilding.labNo}}</span>
                                    </td>
                                    <th>
                                        <span translate="stepApp.instBuilding.workshopNo">storeRoom</span>
                                    </th>
                                    <td>
                            <span
                                class="form-control-static">{{instBuilding.workshopNo}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <!--<th>
                                        <span translate="stepApp.instBuilding.totalLibraryRoom">totalLibraryRoom</span>
                                    </th>
                                    <td>
                                        <span class="form-control-static">{{instInfraInfo.instBuilding.totalLibraryRoom}}</span>
                                    </td>-->
                                    <th>
                                        <span translate="stepApp.instBuilding.totalShop">totalShop</span>
                                    </th>
                                    <td>
                            <span
                                class="form-control-static">{{instBuilding.totalShop}}</span>
                                    </td>

                                    <th>
                                        <span translate="stepApp.instBuilding.computerLab">totalShop</span>
                                    </th>
                                    <td>
                            <span
                                class="form-control-static">{{instBuilding.computerLab}}</span>
                                    </td>
                                </tr>


                                <tr>
                                    <!--<td>
                                        <span translate="stepApp.instBuilding.totalLibraryRoom">totalLibraryRoom</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{instBuilding.totalLibraryRoom}}</span>
                                    </td>-->
                                    <!--<td>-->
                                    <!--<span translate="stepApp.instBuilding.totalShop">totalShop</span>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                    <!--<span-->
                                    <!--class="form-control-static">{{instBuilding.totalShop}}</span>-->
                                    <!--</td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12 library-info padding0">
                        <h2 translate="stepApp.instLabInfo.Librinfo">Library Information</h2>
                        <div class="col-md-12 no_padding" ng-repeat="instLabInfoTemp in instLabInfos">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <!--<th translate="entity.detail.field">Field</th>-->
                                    <!--<th translate="entity.detail.value">Value</th>-->
                                    <th class="" colspan="6">
                                        <span
                                            translate="stepApp.instLabInfo.LibraryInformation">Library Information</span>
                                        {{$index + 1}}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <span translate="stepApp.instLabInfo.nameOrNumber">NameOrNumber</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{instLabInfoTemp.nameOrNumber}}</span>
                                    </td>

                                    <td>
                                        <span
                                            translate="stepApp.instLabInfo.buildingNameOrNumber">BuildingNameOrNumber</span>
                                    </td>
                                    <td>
                                        <span
                                            class="form-control-static">{{instLabInfoTemp.buildingNameOrNumber}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.instLabInfo.length">Length</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{instLabInfoTemp.length}}</span>
                                    </td>

                                    <td>
                                        <span translate="stepApp.instLabInfo.width">Width</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{instLabInfoTemp.width}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.instLabInfo.totalBooks">TotalBooks</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{instLabInfoTemp.totalBooks}}</span>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12 padding0">
                        <h2 translate="stepApp.instShopInfo.workInfotitle">Workshop Information</h2>
                        <div class="col-md-12 no_padding table-responsive" ng-repeat="instShopInfo in instShopInfos">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <!--<th translate="entity.detail.field">Field</th>-->
                                    <!--<th translate="entity.detail.value">Value</th>-->
                                    <th class="" colspan="6">
                                        <span translate="stepApp.instShopInfo.workInfo">Workshop Information </span>{{$index
                                        + 1}}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <span translate="stepApp.instShopInfo.nameOrNumber">NameOrNumber</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{instShopInfo.nameOrNumber}}</span>
                                    </td>

                                    <td>
                                        <span
                                            translate="stepApp.instShopInfo.buildingNameOrNumber">BuildingNameOrNumber</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{instShopInfo.buildingNameOrNumber}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.instShopInfo.length">Length</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{instShopInfo.length}}</span>
                                    </td>

                                    <td>
                                        <span translate="stepApp.instShopInfo.width">Width</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{instShopInfo.width}}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--<h2><span translate="stepApp.instLand.detail.title">InstLand</span> {{instInfraInfo.instLand.id}}</h2>-->
                    <div class="col-lg-12 padding0">
                        <h2 translate="stepApp.instLand.detail.title"></h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="" colspan="6" translate="stepApp.instLand.detail.title">
                                    <span>InstLand</span> {{instInfraInfo.instLand.id}}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span translate="stepApp.instLand.mouja">Mouja</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instInfraInfo.instLand.mouja}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.instLand.jlNo">JlNo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instInfraInfo.instLand.jlNo}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.instLand.ledgerNo">LedgerNo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instInfraInfo.instLand.ledgerNo}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.instLand.dagNo">DagNo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instInfraInfo.instLand.dagNo}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.instLand.amountOfLand">AmountOfLand</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instInfraInfo.instLand.amountOfLand}}</span>
                                </td>
                                <td>
                                    <span
                                        translate="stepApp.instLand.landRegistrationLedgerNo">LandRegistrationLedgerNo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instInfraInfo.instLand.landRegistrationLedgerNo}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.instLand.landRegistrationDate">LandRegistrationDate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instInfraInfo.instLand.landRegistrationDate | date:'mediumDate'}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.instLand.lastTaxPaymentDate">LastTaxPaymentDate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instInfraInfo.instLand.lastTaxPaymentDate | date:'mediumDate'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.instLand.boundaryNorth">BoundaryNorth</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{instInfraInfo.instLand.boundaryNorth}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.instLand.boundarySouth">BoundarySouth</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{instInfraInfo.instLand.boundarySouth}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.instLand.boundaryEast">BoundaryEast</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instInfraInfo.instLand.boundaryEast}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.instLand.boundaryWest">BoundaryWest</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{instInfraInfo.instLand.boundaryWest}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.instLand.distncFromDistHQ">distncFromDistHQ</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{instInfraInfo.instLand.distncFromDistHQ}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.instLand.distncFromMainRd">distncFromMainRd</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{instInfraInfo.instLand.distncFromMainRd}}</span>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <span translate="stepApp.instLand.boundaryWallH">distncFromDistHQ</span>
                                </td>
                                <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instLand.height}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.instLand.boundaryWallW">distncFromMainRd</span>
                                </td>
                                <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instLand.width}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span translate="stepApp.instLand.mutationNo">distncFromDistHQ</span>
                                </td>
                                <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instLand.mutationNo}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.instLand.mutationDate">distncFromMainRd</span>
                                </td>
                                <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instLand.mutationDate | date:'mediumDate'}}</span>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <span translate="stepApp.instLand.deedNo">distncFromDistHQ</span>
                                </td>
                                <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instLand.deedNo}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.instLand.giverName">distncFromMainRd</span>
                                </td>
                                <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instLand.giverName}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span translate="stepApp.instLand.receiverName">distncFromDistHQ</span>
                                </td>
                                <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instLand.receiverName}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.instLand.receiverDate">distncFromMainRd</span>
                                </td>
                                <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instLand.receiverDate | date:'mediumDate'}}</span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span translate="stepApp.instLand.survey">distncFromDistHQ</span>
                                </td>
                                <td>
                            <span
                                class="form-control-static">{{instInfraInfo.instLand.survey}}</span>
                                </td>

                            </tr>


                            <tr>
                                <td>
                                    <span translate="stepApp.instLand.porcha">TotalArea</span>
                                </td>

                                <td>
                                    {{instInfraInfo.instLand.porcha | uppercase}}
                                    <!-- <span ng-if="instInfraInfo.instLand.porcha=='cs'"
                                           class="form-control-static">CS</span>
                                     <span ng-if="instInfraInfo.instInfraInfo.instLand.porcha==sa"
                                           class="form-control-static">SA</span>
                                     <span ng-show="instInfraInfo.instInfraInfoTemp.instLand.porcha==rs"
                                           class="form-control-static">RS</span>
                                     <span ng-show="instInfraInfo.instInfraInfoTemp.instLand.porcha==bs"
                                           class="form-control-static">BS</span>-->
                                </td>

                            </tr>
                            </tbody>

                        </table>
                        <div class="col-sm-12 no_padding ">
                            <h2>Playground Information</h2>
                            <div class="table-responsive">
                                <table class="table table-striped"
                                       ng-repeat="instPlayGroundInfo in instPlayGroundInfos">
                                    <thead>
                                    <tr>
                                        <th class="" colspan="4">
                                            <span>Playground Information {{$index + 1}}</span>
                                            {{instInfraInfo.instPlayGroundInfo.id}}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <span
                                                translate="stepApp.instPlayGroundInfo.playgroundNo">PlaygroundNo</span>
                                        </td>
                                        <td>
                                            <span class="form-control-static">{{instPlayGroundInfo.playgroundNo}}</span>
                                        </td>

                                        <td>
                                            <span translate="stepApp.instPlayGroundInfo.area">Area</span>
                                        </td>
                                        <td>
                                            <span class="form-control-static">{{instPlayGroundInfo.area}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <button onclick="window.history.back()"
                            class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
                    </button>
                </div>

            </div>
        </tab>
    </tabset>
</div>
