<div class="col-md-12 padding0">
    <!--    <div ng-controller="MainCtrl" style="overflow:scroll;">
            <form><input type="file" class="file-chooser" id="files" name="files[]" /></form>
            <div  ui-grid="gridOptions" ui-grid-importer class="grid" ui-grid-edit ui-grid-row-edit style="width: 4000px"></div>
        </div>
        <div>
            <button type="button" class="btn btn-danger btn-sm" ng-click="importAll()">
                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                translate="entity.action.save" ui-sref-active="active">Save</span>
            </button>
        </div>-->
    <div class="dashboard-title">
        <h2>Non-Government</h2>
        <div class="col-md-12 padding0">
            <div class="dashboard-title">
                <h2>Institute Dashboard</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" has-authority="ROLE_INSTITUTE">
                <div class="single-dashboard-list co1 wow slideInRight" data-wow-duration="1s" data-wow-delay="0s">
                    <i class="fa fa-database"></i>
                    <h2>Curriculum</h2>
                    <p class="rowOne"> <!--MPO--> <span></span></p>
                    <p class="rowtwo"><!--Non-MPO--><span></span></p>
                    <a ui-sref="instituteInfo.iisCurriculumInfo">See Details</a>
                </div>
            </div>
            <!--<div class="col-md-4" has-authority="ROLE_INSTITUTE">
                <div class="single-dashboard-list co2 wow slideInRight" data-wow-duration="1s" data-wow-delay=".2s">
                    <i class="fa fa-database" ></i>
                    <h2>Curriculum</h2>
                    <p class="rowOne">Approved : <span>0</span></p>
                    <p class="rowtwo">Pending : <span>0</span></p>
                    <a ui-sref="instituteInfo.iisCurriculumInfo">See Details</a>
                </div>
            </div>-->
            <div class="col-md-4" has-authority="ROLE_INSTITUTE">
                <div class="single-dashboard-list co3 wow slideInRight" data-wow-duration="1s" data-wow-delay=".4s">
                    <i class="fa fa-book"></i>
                    <h2>Course</h2>
                    <p class="rowOne"> <!--MPO--> <span></span></p>
                    <p class="rowtwo"><!--Non-MPO--> <span></span></p>
                    <a ui-sref="instituteInfo.iisCourseInfo">See Details</a>
                </div>
            </div>

            <div class="col-md-4" has-authority="ROLE_INSTITUTE">
                <div class="single-dashboard-list co4 wow slideInRight" data-wow-duration="1s" data-wow-delay=".6s">
                    <i class="fa fa-circle-o-notch"></i>
                    <h2>Vacancy</h2>
                    <p class="rowOne"> <!--MPO--> <span></span></p>
                    <p class="rowtwo"><!--Non-MPO--> <span></span></p>
                    <a ui-sref="instVacancy">See Details</a>
                </div>
            </div>
            <div class="col-md-4" has-authority="ROLE_ADMIN">
                <div class="single-dashboard-list co4 wow slideInRight" data-wow-duration="1s" data-wow-delay=".6s">
                    <i class="fa fa-university"></i>
                    <h2>Institute List</h2>
                    <p class="rowOne">Government <span></span></p>
                    <p class="rowtwo">Non-government <span></span></p>
                    <p class="rowtwo">Pending <span></span></p>
                    <p class="rowtwo">Rejected <span></span></p>

                </div>
            </div>
            <div class="col-md-4" has-authority="ROLE_ADMIN">
                <div class="single-dashboard-list co3 wow slideInRight" data-wow-duration="1s" data-wow-delay=".6s">
                    <i class="fa fa-circle-o-notch"></i>
                    <h2>MPO Enlisted</h2>
                    <p class="rowOne">Institute<span></span></p>
                    <p class="rowtwo">Curriculum <span></span></p>
                    <p class="rowtwo">Course <span></span></p>

                </div>
            </div>
            <div class="col-md-4" has-authority="ROLE_ADMIN">
                <div class="single-dashboard-list co1 wow slideInRight" data-wow-duration="1s" data-wow-delay=".6s">
                    <i class="fa fa-list-alt"></i>
                    <h2>Department</h2>
                    <p class="rowOne">Department List<span></span></p>
                    <p class="rowtwo">Section List<span></span></p>
                    <p class="rowtwo">Head Of Department <span></span></p>

                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="col-md-4">
    <div class="single-dashboard-list co3 wow slideInRight" data-wow-duration="1s" data-wow-delay=".8s">
        <i class="fa fa-user-o"></i>
        <h2>Total Employee</h2>
        <p class="rowOne"> MPO : <span>10</span></p>
        <p class="rowtwo">Non-MPO : <span>123</span></p>
        <a href="">See Details</a>
    </div>
</div>

<div class="col-md-4">
    <div class="single-dashboard-list co2 wow slideInRight" data-wow-duration="1s" data-wow-delay="1s">
        <i class="fa fa-clone"></i>
        <h2>Department</h2>
        <p class="rowOne"> MPO : <span>10</span></p>
        <p class="rowtwo">Non-MPO : <span>123</span></p>
        <a href="">See Details</a>
    </div>
</div>-->


<!--
    <div class=" bg-color">
        <div class="col-md-12">
            <div class="row ">
                <div class="col-md-12">
                    <div class="welcome">
                        <h4>Welcome to Institute Dashboard</h4>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-3" has-authority="ROLE_INSTITUTE">
                    <a ui-sref="instituteInfo.generalInfo" ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/instsetup.png" alt="">
                        <p translate="global.menu.entities.instGenInfo">General Information</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_INSTITUTE">
                    <a ui-sref="instituteInfo.iisCurriculumInfo" ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/asset.png" alt="">
                        <p translate="global.menu.entities.iisCurriculumInfo">Curriculum Information</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_INSTITUTE">
                    <a ui-sref="instituteInfo.iisCourseInfo"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/audit.png" alt="">
                        <p translate="global.menu.entities.iisCourseInfo">Course Information</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_INSTITUTE">
                    <a ui-sref="instituteInfo.adminInfo"  ui-sref-active="active">
                        <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/employee-membership.png" alt="">
                        <p translate="global.menu.entities.instAdminInfo">Administrative Info</p>
                    </div></a>
                </div>

                <div class="col-md-3" has-authority="ROLE_INSTITUTE" >
                    <a ui-sref="instituteInfo.stuffInfo" ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/employee.png" alt="">
                        <p translate="global.menu.entities.instStuffInfo">Teacher/Employee Info</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_INSTITUTE">
                    <a ui-sref="instituteInfo.infrastructureInfo"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/gavel-icon-3.png" alt="">
                        <p translate="global.menu.entities.instInfraInfo">Physical Infrastructure</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_INSTITUTE">
                    <a ui-sref="instituteInfo.financialInfo"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/payrole.png" alt="">
                        <p translate="global.menu.entities.instFinancialInfo">Financial Info</p>
                    </div></a>
                </div>

                <div class="col-md-3" has-authority="ROLE_INSTITUTE">
                    <a ui-sref="instituteInfo.instComiteFormation"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/employee.png" alt="">
                        <p translate="global.menu.entities.instComiteFormation">instComiteFormation</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_INSTITUTE">
                    <a ui-sref="instituteInfo.jpOfficer"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/membership.png" alt="">
                        <p translate="global.menu.entities.jpOfficers">jpOfficers</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_ADMIN">
                    <a ui-sref="instituteInfo.instituteList"  ui-sref-active="active" >
                        <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/inst.png" alt="">
                        <p translate="global.menu.entities.instituteList">Institute List</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_ADMIN">
                    <a ui-sref="instituteInfo.pendingInstituteList"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/pending-app.png" alt="">
                        <p translate="global.menu.entities.institutePendingList">Pending List</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_ADMIN">
                    <a ui-sref="instituteInfo.updateInfoPendingInstituteList"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/gavel-icon-3.png" alt="">
                        <p translate="global.menu.entities.instituteUpdatePendingList">Update Pending List</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_ADMIN" >
                    <a ui-sref="instituteInfo.rejectedInstituteList" ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/list.png" alt="">
                        <p translate="global.menu.entities.instituteRejectedList">Rejected List</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_ADMIN">
                    <a ui-sref="instituteInfo.mpoEnlistedInst"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/pension-app.png" alt="">
                        <p translate="global.menu.entities.mpoEnlistedInst">Mpo Enlisted Institute</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_ADMIN">
                    <a ui-sref="instituteInfo.mpoEnlistedCurriculum"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/student.png" alt="">
                        <p translate="global.menu.entities.mpoEnlistedCurriculum">Mpo Enlisted Curriculum</p>
                    </div></a>
                </div>

                <div class="col-md-3" has-authority="ROLE_ADMIN">
                    <a ui-sref="instituteInfo.mpoEnlistedCourse"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/course.png" alt="">
                        <p translate="global.menu.entities.mpoEnlistedCourse">Mpo Enlisted Course</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-any-authority="ROLE_ADMIN,ROLE_INSTITUTE">
                    <a ui-sref="jpReport({module: 'iis'})"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/r.png" alt="">
                        <p translate="global.menu.entities.instRptInfo">Report </p>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
<style>
    .single-admin-menu {
        padding: 15px 5px;
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
        transition: .5s;
        margin-bottom: 30px;
        border-radius: 3px;
        height: 150px;
        text-align: center;
        color:#888;
    }
    .single-admin-menu:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        color:#444 !important;
        border-left: 5px solid #444;
    }
    .single-admin-menu img {
        height: 75px;
        width: auto;
        border-radius: 50%;
        margin-bottom: 15px;
        transition: .5s;
    }
    .single-admin-menu:hover img{
    }
    .bg-color{
        background: #f4f4f4;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    }
</style>
-->


