
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myhrDepartmentHeadInfoLabel" translate="stepApp.instGenInfo.home.mpoEnlishtedConfirm">Create a EmployeeLoanApproveAndForward</h4>
    </div>

    <div class="modal-body" style="border-color: red">
        <h6>
        <span ng-if="activeStatus == true">Are you sure you want to Inactive?</span>
        <span ng-if="activeStatus == false">Are you sure you want to Active?</span>
            </h6>
        <!--<p>Are you sure you want to Active?</p>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.confirm">Confirm</span>
        </button>
    </div>
</form>
