<div class="row">
    <div class="col-md-2 padding-right0">
        <ng-include src="'scripts/app/entities/instituteInformationSystem/setup-left-menu.html'"></ng-include>
    </div>
    <div class="col-md-10 main-content lbl-dash" ui-view="setupView">
    </div>
</div>
