<ul id="ulcolor3" class="nav su_serv_menu nav-list  bs-docs-sidenav no-print">
    <!-- <a class="list-group-item" has-any-authority="ROLE_ADMIN,ROLE_INSTITUTE" ui-sref="instituteInfo.dashboard" ui-sref-active="active">
         <span class="glyphicon glyphicon-dashboard"></span>
         <span translate="global.menu.account.dashboard">Dashboard</span>
     </a>-->
    <li>
        <a class="button4" ui-sref="setup.instCategory" has-authority="ROLE_ADMIN" ui-sref-active="active"
           class="list-group-item"><i class="fa fa-angle-double-right"></i>
            &#xA0;<span translate="global.menu.instCategory">Institute List</span>
        </a>
    </li>
    <li>
        <a class="button4" ui-sref="setup.instLevel" has-authority="ROLE_ADMIN" ui-sref-active="active"
           class="list-group-item"><i class="fa fa-angle-double-right"></i>
            &#xA0;<span translate="global.menu.instLevel">Pending List</span>
        </a>
    </li>
    <li>
        <a class="button4" ui-sref="setup.instEmplDesignation" has-any-authority="ROLE_ADMIN" ui-sref-active="active"
           class="list-group-item"><i class="fa fa-angle-double-right"></i>
            &#xA0;<span translate="global.menu.designation">Report</span>
        </a>
    </li>
</ul>


