
<div class="common-table">
    <h2><span translate="stepApp.pfmsDeductionFinalize.detail.title">PfmsDeductionFinalize</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>\
                <td>
                    <span translate="stepApp.pfmsDeductionFinalize.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="HrEmployeeInfo.detail({id:pfmsDeductionFinalize.employeeInfo.id})">{{pfmsDeductionFinalize.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.pfmsDeductionFinalize.finalizeYear">FinalizeYear</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsDeductionFinalize.finalizeYear}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsDeductionFinalize.finalizeMonth">FinalizeMonth</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsDeductionFinalize.finalizeMonth}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
