
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myInstEmpSpouseInfoLabel" translate="stepApp.instEmpSpouseInfo.home.createOrEditLabel">Create or edit a InstEmpSpouseInfo</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="instEmpSpouseInfo.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmpSpouseInfo.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="instEmpSpouseInfo.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmpSpouseInfo.dob" for="field_dob">Dob</label>
            <input type="date" class="form-control" name="dob" id="field_dob"
                    ng-model="instEmpSpouseInfo.dob"
                    required />
            <div ng-show="editForm.dob.$invalid">
                <p class="help-block"
                    ng-show="editForm.dob.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmpSpouseInfo.nomineeHas" for="field_isNominee">IsNominee</label>
            <input type="checkbox" class="form-control" name="nomineeHas" id="field_isNominee"
                    ng-model="instEmpSpouseInfo.nomineeHas"
                     />
            <div ng-show="editForm.nomineeHas.$invalid">
                <p class="help-block"
                    ng-show="editForm.nomineeHas.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmpSpouseInfo.gender" for="field_gender">Gender</label>
            <input type="text" class="form-control" name="gender" id="field_gender"
                    ng-model="instEmpSpouseInfo.gender"
                    required />
            <div ng-show="editForm.gender.$invalid">
                <p class="help-block"
                    ng-show="editForm.gender.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmpSpouseInfo.relation" for="field_relation">Relation</label>
            <select class="form-control" name="relation" ng-model="instEmpSpouseInfo.relation" id="field_relation" required>
                <option value="Husband" translate="stepApp.relationType.Husband">Husband</option>
                <option value="Wife" translate="stepApp.relationType.Wife">Wife</option>
            </select>
            <div ng-show="editForm.relation.$invalid">
                <p class="help-block"
                    ng-show="editForm.relation.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmpSpouseInfo.nomineePercentage" for="field_nomineePercentage">NomineePercentage</label>
            <input type="number" class="form-control" name="nomineePercentage" id="field_nomineePercentage"
                    ng-model="instEmpSpouseInfo.nomineePercentage"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmpSpouseInfo.occupation" for="field_occupation">Occupation</label>
            <input type="text" class="form-control" name="occupation" id="field_occupation"
                    ng-model="instEmpSpouseInfo.occupation"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmpSpouseInfo.tin" for="field_tin">Tin</label>
            <input type="text" class="form-control" name="tin" id="field_tin"
                    ng-model="instEmpSpouseInfo.tin"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmpSpouseInfo.nid" for="field_nid">Nid</label>
            <input type="text" class="form-control" name="nid" id="field_nid"
                    ng-model="instEmpSpouseInfo.nid"
                    required />
            <div ng-show="editForm.nid.$invalid">
                <p class="help-block"
                    ng-show="editForm.nid.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmpSpouseInfo.designation" for="field_designation">Designation</label>
            <input type="text" class="form-control" name="designation" id="field_designation"
                    ng-model="instEmpSpouseInfo.designation"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmpSpouseInfo.govJobId" for="field_govJobId">GovJobId</label>
            <input type="text" class="form-control" name="govJobId" id="field_govJobId"
                    ng-model="instEmpSpouseInfo.govJobId"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmpSpouseInfo.mobile" for="field_mobile">Mobile</label>
            <input type="number" class="form-control" name="mobile" id="field_mobile"
                    ng-model="instEmpSpouseInfo.mobile"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmpSpouseInfo.officeContact" for="field_officeContact">OfficeContact</label>
            <input type="text" class="form-control" name="officeContact" id="field_officeContact"
                    ng-model="instEmpSpouseInfo.officeContact"
                     />
        </div>

        <div class="form-group">
            <label translate="stepApp.instEmpSpouseInfo.instEmployee" for="field_instEmployee">instEmployee</label>
            <select class="form-control" id="field_instEmployee" name="instEmployee" ng-model="instEmpSpouseInfo.instEmployee" ng-options="instEmployee as instEmployee.name for instEmployee in instemployees | orderBy:'id' track by instEmployee.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmpSpouseInfo.instEmpAddress" for="field_instEmpAddress">instEmpAddress</label>
            <select class="form-control" id="field_instEmpAddress" multiple name="instEmpAddress" ng-model="instEmpSpouseInfo.instEmpAddresss" ng-options="instEmpAddress as instEmpAddress.address for instEmpAddress in instempaddresss track by instEmpAddress.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
