<div>
    <h2 translate="stepApp.instEmpSpouseInfo.home.title">InstEmpSpouseInfos</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="instEmpSpouseInfo.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.instEmpSpouseInfo.home.createLabel">Create a new InstEmpSpouseInfo</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a InstEmpSpouseInfo</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.instEmpSpouseInfo.name">Name</th>
                    <th translate="stepApp.instEmpSpouseInfo.dob">Dob</th>
                    <th translate="stepApp.instEmpSpouseInfo.nomineeHas">IsNominee</th>
                    <th translate="stepApp.instEmpSpouseInfo.gender">Gender</th>
                    <th translate="stepApp.instEmpSpouseInfo.relation">Relation</th>
                    <th translate="stepApp.instEmpSpouseInfo.nomineePercentage">NomineePercentage</th>
                    <th translate="stepApp.instEmpSpouseInfo.occupation">Occupation</th>
                    <th translate="stepApp.instEmpSpouseInfo.tin">Tin</th>
                    <th translate="stepApp.instEmpSpouseInfo.nid">Nid</th>
                    <th translate="stepApp.instEmpSpouseInfo.designation">Designation</th>
                    <th translate="stepApp.instEmpSpouseInfo.govJobId">GovJobId</th>
                    <th translate="stepApp.instEmpSpouseInfo.mobile">Mobile</th>
                    <th translate="stepApp.instEmpSpouseInfo.officeContact">OfficeContact</th>
                    <th translate="stepApp.instEmpSpouseInfo.instEmployee">instEmployee</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="instEmpSpouseInfo in instEmpSpouseInfos track by instEmpSpouseInfo.id">
                    <td><a ui-sref="instEmpSpouseInfo.detail({id:instEmpSpouseInfo.id})">{{instEmpSpouseInfo.id}}</a></td>
                    <td>{{instEmpSpouseInfo.name}}</td>
                        <td>{{instEmpSpouseInfo.dob | date:'mediumDate'}}</td>
                    <td>{{instEmpSpouseInfo.nomineeHas}}</td>
                    <td>{{instEmpSpouseInfo.gender}}</td>
                    <td translate="{{'stepApp.relationType.' + instEmpSpouseInfo.relation}}">{{instEmpSpouseInfo.relation}}</td>
                    <td>{{instEmpSpouseInfo.nomineePercentage}}</td>
                    <td>{{instEmpSpouseInfo.occupation}}</td>
                    <td>{{instEmpSpouseInfo.tin}}</td>
                    <td>{{instEmpSpouseInfo.nid}}</td>
                    <td>{{instEmpSpouseInfo.designation}}</td>
                    <td>{{instEmpSpouseInfo.govJobId}}</td>
                    <td>{{instEmpSpouseInfo.mobile}}</td>
                    <td>{{instEmpSpouseInfo.officeContact}}</td>
                    <td>
                        <a ui-sref="instEmployee.detail({id:instEmpSpouseInfo.instEmployee.id})">{{instEmpSpouseInfo.instEmployee.name}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="instEmpSpouseInfo.detail({id:instEmpSpouseInfo.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="instEmpSpouseInfo.edit({id:instEmpSpouseInfo.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="instEmpSpouseInfo.delete({id:instEmpSpouseInfo.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
