
<div class="common-table">
    <h2><span translate="stepApp.prlEconomicalCodeInfo.detail.title">PrlEconomicalCodeInfo</span> - {{prlEconomicalCodeInfo.allowanceDeductionInfo.name}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.prlEconomicalCodeInfo.allowanceDeductionInfo">allowanceDeductionInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="prlAllowDeductInfo.detail({id:prlEconomicalCodeInfo.allowanceDeductionInfo.id})">{{prlEconomicalCodeInfo.allowanceDeductionInfo.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEconomicalCodeInfo.codeType">CodeType</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEconomicalCodeInfo.codeType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEconomicalCodeInfo.codeName">CodeName</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEconomicalCodeInfo.codeName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEconomicalCodeInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEconomicalCodeInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEconomicalCodeInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEconomicalCodeInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
