<div class="row">

    <div class="col-sm-3">
        <ng-include src="'scripts/app/entities/jobPortal/jp-admin-menu.html'"></ng-include>
    </div>

    <div class="col-sm-9 no_padding common-table">
<div>
    <h2><!--<span translate="stepApp.tempEmployer.detail.title">TempEmployer</span>--> {{tempEmployer.name}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.tempEmployer.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{tempEmployer.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.tempEmployer.alternativeCompanyName">AlternativeCompanyName</span>
                </td>
                <td>
                    <span class="form-control-static">{{tempEmployer.alternativeCompanyName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.tempEmployer.contactPersonName">ContactPersonName</span>
                </td>
                <td>
                    <span class="form-control-static">{{tempEmployer.contactPersonName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.tempEmployer.personDesignation">PersonDesignation</span>
                </td>
                <td>
                    <span class="form-control-static">{{tempEmployer.personDesignation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.tempEmployer.contactNumber">ContactNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{tempEmployer.contactNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.tempEmployer.companyInformation">CompanyInformation</span>
                </td>
                <td>
                    <span class="form-control-static">{{tempEmployer.companyInformation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.tempEmployer.address">Address</span>
                </td>
                <td>
                    <span class="form-control-static">{{tempEmployer.address}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.tempEmployer.city">City</span>
                </td>
                <td>
                    <span class="form-control-static">{{tempEmployer.city}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.tempEmployer.zipCode">ZipCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{tempEmployer.zipCode}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.tempEmployer.companyWebsite">CompanyWebsite</span>
                </td>
                <td>
                    <span class="form-control-static">{{tempEmployer.companyWebsite}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.tempEmployer.industryType">IndustryType</span>
                </td>
                <td>
                    <span class="form-control-static">{{tempEmployer.industryType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.tempEmployer.businessDescription">BusinessDescription</span>
                </td>
                <td>
                    <span class="form-control-static">{{tempEmployer.businessDescription}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.tempEmployer.companyLogo">CompanyLogo</span>
                </td>
                <td>
                    <img data-ng-src="{{'data:' + tempEmployer.companyLogoContentType + ';base64,' + tempEmployer.companyLogo}}" style="max-width: 100%;" ng-if="tempEmployer.companyLogo"/>
                    <div>{{tempEmployer.companyLogoContentType}}  {{byteSize(tempEmployer.companyLogo)}}</div>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.tempEmployer.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'stepApp.tempEmployerStatus.' + tempEmployer.status}}">{{tempEmployer.status}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.tempEmployer.country">country</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="country.detail({id:tempEmployer.country.id})">{{tempEmployer.country.name}}</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
</div>
    </div>
