
<div class="common-table">
    <h2><span translate="stepApp.trainerEvaluationInfo.detail.title">TrainerEvaluationInfo</span></h2>
    <div class="table-responsive">
        <div class="col-md-12 padding-tb">
            <h5 class="trainerinfo">Trainer Evaluation Information</h5>
        </div>
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.trainerEvaluationInfo.sessionYear">SessionYear</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{trainerEvaluationInfo.sessionYear}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <tr>
                <td>
                    <span translate="stepApp.trainerEvaluationInfo.trainerId">Trainer ID</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerEvaluationInfo.trainerInformation.trainerId}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainerEvaluationInfo.trainerName">Trainer Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerEvaluationInfo.trainerInformation.trainerName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainerEvaluationInfo.trainingCode">trainingInitializationInfo</span>
                </td>
                <td>{{trainerEvaluationInfo.trainingInitializationInfo.trainingCode}}</td>

                <td>
                    <span translate="stepApp.trainerEvaluationInfo.performance">Performance</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerEvaluationInfo.performance}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainerEvaluationInfo.remarks">Remarks</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerEvaluationInfo.remarks}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainerEvaluationInfo.evaluationDate">EvaluationDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerEvaluationInfo.evaluationDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainerEvaluationInfo.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerEvaluationInfo.status}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainerEvaluationInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerEvaluationInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainerEvaluationInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerEvaluationInfo.createBy}}</span>
                </td>
                <td>
                    <span translate="stepApp.trainerEvaluationInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerEvaluationInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainerEvaluationInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerEvaluationInfo.updateBy}}</span>
                </td>

            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.trainerEvaluationInfo.trainingHeadSetup">trainingHeadSetup</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<a class="form-control-static" ui-sref="trainingHeadSetup.detail({id:trainerEvaluationInfo.trainingHeadSetup.id})">{{trainerEvaluationInfo.trainingHeadSetup.headName}}</a>-->
                <!--</td>-->
            <!--</tr>-->


                <td>
                    <span translate="stepApp.trainerEvaluationInfo.traineeInformation">traineeInformation</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="traineeInformation.detail({id:trainerEvaluationInfo.traineeInformation.id})">{{trainerEvaluationInfo.traineeInformation.traineeName}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
