<div class="col-md-12 common-list">
    <h2 translate="stepApp.trainerEvaluationInfo.home.title">Trainer Evaluation Info</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary" ui-sref="trainingInfo.trainerEvaluationInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.trainerEvaluationInfo.home.createLabel">Create Trainer Evaluation Info</span>
            </button>
        </div>
    </div>



    <div class="modal fade" id="deleteTrainerEvaluationInfoConfirmation" has-any-authority="ROLE_ADMIN">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(trainerEvaluationInfo.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.trainerEvaluationInfo.delete.question" translate-values="{id: '{{trainerEvaluationInfo.id}}'}">Are you sure you want to delete this TrainerEvaluationInfo?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center" translate="global.form.serial">serial</th>
                    <!--<th translate="stepApp.trainerEvaluationInfo.sessionYear">SessionYear</th>-->
                    <th translate="stepApp.trainerEvaluationInfo.trainerId">Trainer ID</th>
                    <th translate="stepApp.trainerEvaluationInfo.performance">Performance</th>
                    <th translate="stepApp.trainerEvaluationInfo.remarks">Remarks</th>
                    <th translate="stepApp.trainerEvaluationInfo.evaluationDate">EvaluationDate</th>
                    <!--<th translate="stepApp.trainerEvaluationInfo.trainingHeadSetup">trainingHeadSetup</th>-->
                    <th translate="stepApp.trainerEvaluationInfo.trainingCode">Training Code</th>
                    <th translate="stepApp.trainerEvaluationInfo.traineeInformation">traineeInformation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!--<tr ng-repeat="trainerEvaluationInfo in trainerEvaluationInfos track by trainerEvaluationInfo.id">-->
                <tr dir-paginate="trainerEvaluationInfo in trainerEvaluationInfos | filter:q | itemsPerPage: pageSize track by trainerEvaluationInfo.id" current-page="currentPage">

                <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                    <!--<td>{{trainerEvaluationInfo.sessionYear}}</td>-->
                    <td>{{trainerEvaluationInfo.trainerInformation.trainerId}}</td>
                    <td>{{trainerEvaluationInfo.performance}}</td>
                    <td>{{trainerEvaluationInfo.remarks}}</td>
                        <td>{{trainerEvaluationInfo.evaluationDate | date:'mediumDate'}}</td>
                    <!--<td>-->
                        <!--<a ui-sref="trainingHeadSetup.detail({id:trainerEvaluationInfo.trainingHeadSetup.id})">{{trainerEvaluationInfo.trainingHeadSetup.headName}}</a>-->
                    <!--</td>-->
                    <td>{{trainerEvaluationInfo.trainingInitializationInfo.trainingCode}}</td>
                    <td>
                       {{trainerEvaluationInfo.traineeInformation.traineeName}}
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="trainingInfo.trainerEvaluationInfo.detail({id:trainerEvaluationInfo.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <!--<button type="submit"-->
                                <!--ui-sref="trainingInfo.trainerEvaluationInfo.edit({id:trainerEvaluationInfo.id})"-->
                                <!--class="btn btn-primary btn-sm">-->
                            <!--<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--ng-click="delete(trainerEvaluationInfo.id)"-->
                                <!--class="btn btn-danger btn-sm">-->
                            <!--<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>-->
                        <!--</button>-->
                    </td>
                </tr>
            </tbody>
        </table>
        <nav class="no-print">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
