
<div class="common-table">
    <h2><span translate="stepApp.pgmsPenRules.detail.title">PgmsPenRules</span> <!--{{pgmsPenRules.id}}--></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>
                    <span translate="stepApp.pgmsPenRules.quota">QuotaStatus</span>
                </td>
                <td>
                    <span class="form-control-static"> {{pgmsPenRules.quotaStatus}}</span>

                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsPenRules.maxAgeLimit">MaxAgeLimit</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsPenRules.maxAgeLimit}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsPenRules.minWorkDuration">MinWorkDuration</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsPenRules.minWorkDuration}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsPenRules.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static" ng-if="pgmsPenRules.activeStatus==true">Active</span>
                    <span class="form-control-static" ng-if="pgmsPenRules.activeStatus==false">Inactive</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button" class="btn btn-default" class="btn " data-dismiss="modal" onclick="window.history.back()">
        <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.back">Back</span>
    </button>
</div>
