<div class="common-dialogue">
            <form class="form-horizontal" name="editForm" role="form" novalidate ng-submit="save()" show-validation>
                <h4 ng-if="pgmsPenRules.id == null" class="modal-title" id="myPgmsPenRulesLabel" translate="stepApp.pgmsPenRules.home.createOrEditLabel">Create or edit a PgmsPenRules</h4>
                <h4 ng-if="pgmsPenRules.id != null" class="modal-title" id="myPgmsPenRulesLabel" translate="stepApp.pgmsPenRules.home.EditLabel">Create or edit a PgmsPenRules</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-ms-4">
                            <div class="">
                                <label class=" control-label" translate="stepApp.pgmsPenRules.quota">Quota
                                    Type</label>
                                <span style="color:red;">*</span>
                                <div class="">
                                    <label class="btn btn-default">
                                        <input type="radio"
                                               ng-checked="pgmsPenRules.quotaStatus == 'Freedom Fighter'"
                                               name="quotaStatus" value="Freedom Fighter"
                                               ng-model="pgmsPenRules.quotaStatus"
                                               translate="stepApp.pgmsPenRules.freedomFighter">Freedom Fighter</label>
                                    <label class="btn btn-default">
                                        <input type="radio"
                                               ng-checked="pgmsPenRules.quotaStatus == 'General'"
                                               name="quotaStatus" value="General"
                                               ng-model="pgmsPenRules.quotaStatus"
                                               translate="stepApp.pgmsPenRules.general">General</label>

                                    <div ng-show="editForm.quotaStatus.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.quotaStatus.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <label class="control-label" translate="stepApp.pgmsPenRules.maxAgeLimit" for="field_maxAgeLimit">MaxAgeLimit</label>
                        <div class="input-margin">
                            <input type="number" class="form-control" name="maxAgeLimit" id="field_maxAgeLimit"
                                   ng-model="pgmsPenRules.maxAgeLimit"
                                   required />
                            <div ng-show="editForm.maxAgeLimit.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.maxAgeLimit.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.maxAgeLimit.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                            <div class="col-sm-12" ng-if="maxAgeLimitError">
                                <span style="color:red;margin-top:30px;font-size:14px;">{{maxAgeLimitErrorMessage}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <label class="control-label" translate="stepApp.pgmsPenRules.minWorkDuration" for="field_minWorkDuration">MinWorkDuration</label>
                        <div class="input-margin">
                            <input type="number" class="form-control" name="minWorkDuration" id="field_minWorkDuration"
                                   ng-model="pgmsPenRules.minWorkDuration"
                                   required />
                            <div ng-show="editForm.minWorkDuration.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.minWorkDuration.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.minWorkDuration.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <label class="control-label" translate="stepApp.pgmsPenRules.activeStatus">ActiveStatus</label>
                        <div class="input-margin">
                            <label class="radio-inline">
                                <input type="radio" data-ng-model="pgmsPenRules.activeStatus" name="activeStatus" data-ng-value="true">&nbsp;Active&nbsp;&nbsp;
                            </label>
                            <label class="radio-inline">
                                <input type="radio" data-ng-model="pgmsPenRules.activeStatus" name="activeStatus" data-ng-value="false">&nbsp;Inactive
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" class="btn " data-dismiss="modal" onclick="window.history.back()">
                        <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.back">Back</span>
                    </button>
                    <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted || maxAgeLimitError" class="btn btn-primary">
                        <span ng-hide="pgmsPenRules.id" translate="entity.action.save"></span>
                        <span ng-show="pgmsPenRules.id" translate="entity.action.update"></span>
                    </button>
                </div>
            </form>

</div>
