
<div>
    <h2><span translate="stepApp.pgmsAppFamilyPension.detail.title">PgmsAppFamilyPension</span> <!--{{pgmsAppFamilyPension.id}}--></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.empName">EmpName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.empName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.appEmpId">appEmpId</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="HrEmployeeInfo.detail({id:pgmsAppFamilyPension.appEmpId.id})">{{pgmsAppFamilyPension.appEmpId.employeeId}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.empDepartment">EmpDepartment</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.empDepartment}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.empDesignation">EmpDesignation</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.empDesignation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.empNid">EmpNid</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.empNid}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.nomineeStatus">NomineeStatus</span>
                </td>
                <td>
                    <span class="form-control-static" ng-if="pgmsAppFamilyPension.nomineeStatus==true">Yes</span>
                    <span class="form-control-static" ng-if="pgmsAppFamilyPension.nomineeStatus==false">No</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.nomineName">NomineName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.nomineName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.nomineDob">NomineDob</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.nomineDob | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.nomineGender">NomineGender</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.nomineGender}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.nomineRelation">NomineRelation</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.nomineRelation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.nomineOccupation">NomineOccupation</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.nomineOccupation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.nomineDesignation">NomineDesignation</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.nomineDesignation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.nominePreAddress">NominePreAddress</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.nominePreAddress}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.nomineParAddress">NomineParAddress</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.nomineParAddress}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.nomineNid">NomineNid</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.nomineNid}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.nomineContNo">NomineContNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.nomineContNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.nomineBankName">NomineBankName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.nomineBankName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.nomineBranchName">NomineBranchName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.nomineBranchName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.nomineAccNo">NomineAccNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.nomineAccNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.applyDate">ApplyDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.applyDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <b class="form-control-static">  Family Attachment Details </b></span>
                </td>
            </tr>
            <tr ng-repeat-start="pgmsAppFamilyAttach in pgmsAppFamilyAttachList">
                <td>
                    <span translate="stepApp.pgmsAppFamilyAttach.attachName">attachName</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="PgmsRetirmntAttachInfo.detail({id:pgmsAppFamilyAttach.attachName.id})">{{pgmsAppFamilyAttach.attachName.attachName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyAttach.attachment">Attachment</span>
                </td>
                <td>
                    <div><a ng-if="pgmsAppFamilyAttach.attachmentContentType" class="btn btn-link" ng-click="previewDoc(pgmsAppFamilyAttach)">View</a></div>
                </td>
            </tr>
            <tr ng-repeat-end>
                <td>
                    <span translate="stepApp.pgmsAppFamilyAttach.attachDocName">AttachDocName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyAttach.attachDocName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.aprvStatus">AprvStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.aprvStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.aprvDate">AprvDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.aprvDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.aprvBy">AprvBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.aprvBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static" ng-if="pgmsAppFamilyPension.activeStatus==true">Active</span>
                    <span class="form-control-static" ng-if="pgmsAppFamilyPension.activeStatus==false">Inactive</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyPension.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyPension.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button" class="btn btn-default" class="btn " data-dismiss="modal" onclick="window.history.back()">
        <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.back">Back</span>
    </button>
</div>
