<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="modal-title" id="myHrEmpActingDutyInfoLabel"><span
                translate="stepApp.hrEmpActingDutyInfo.home.profileViewEditTitle"></span> : {{hrEmployeeInfo.fullName}}
            </h4>
        </div>
        <div class="panel-body bg-panel hr_label">
            <div class="row hrm-view">
                <span ng-show="addMode">
                    <span ng-show="noEmployeeFound" class="alert">Employee is not created yet.</span>
                </span>
            </div>
            <form class="form-horizontal" name="editForm" role="form" ng-submit="save()" novalidate show-validation>
                <div class="panel-group">
                    <div class="bg-panel">
                        <div class="row hrm-view panel-heading no_padding">
                            <div class="col-sm-7 no_padding">
                            </div>
                            <div class="col-sm-5 no_padding text-right">
                                <button ng-hide="noEmployeeFound || hrEmpActingDutyInfo.isLocked"
                                        ng-if="!(hrEmpActingDutyInfo.logStatus == 11 || hrEmpActingDutyInfo.logStatus == 33 || hrEmpActingDutyInfo.logStatus == 55)"
                                        type="button" ng-click="changeProfileMode(hrEmpActingDutyInfo)"
                                        class="btn btn-primary btn-sm">{{hrEmpActingDutyInfo.viewModeText}}
                                </button>
                                <span ng-show="hrEmpActingDutyInfo.isLocked" class="alert alert-warning approve-alert">
                                    <span translate="stepApp.hrmHome.recordLocked">Pending</span>
                                </span>
                                <span ng-if="(hrEmpActingDutyInfo.logStatus == 22 || hrEmpActingDutyInfo.logStatus == 44 || hrEmpActingDutyInfo.logStatus == 66)">
                                    <span class="alert alert-warning" translate="stepApp.hrmHome.requestRejected">Rejected</span>
                                </span>
                            </div>
                        </div>
                        <div class="row hrm-view">
                            <div class="col-sm-12 text-right"
                                 ng-if="(hrEmpActingDutyInfo.logStatus == 22 || hrEmpActingDutyInfo.logStatus == 44 || hrEmpActingDutyInfo.logStatus == 66)">
                                <span class="alert-warning">
                                    <span class="control-label" translate="stepApp.hrmHome.rejectionReason">Reason</span>: &nbsp; : &nbsp;{{hrEmpActingDutyInfo.logComments}}
                                </span>
                            </div>
                            <div class="col-sm-12 text-right"
                                 ng-if="(hrEmpActingDutyInfo.logStatus == 11 || hrEmpActingDutyInfo.logStatus == 33 || hrEmpActingDutyInfo.logStatus == 55)">
                                <span class="alert-warning" ng-if="hrEmpActingDutyInfo.logStatus == 11">
                                    <span class="control-label" translate="stepApp.hrmHome.messages.waitingForDeptHeadApproval">Waiting @ Department Head Approval</span>
                                </span>
                                <span class="alert-warning" ng-if="hrEmpActingDutyInfo.logStatus == 33">
                                    <span class="control-label" translate="stepApp.hrmHome.messages.waitingForInstHeadApproval">Waiting @ Institute Head Approval</span>
                                </span>
                                <span class="alert-warning" ng-if="hrEmpActingDutyInfo.logStatus === 55">
                                    <span class="control-label" translate="stepApp.hrmHome.messages.waitingForSystemAdminApproval">Waiting @ System Admin Approval</span>
                                </span>
                            </div>
                        </div>
                        <div class="row" ng-show="hrEmpActingDutyInfo.viewMode">
                            <div class="col-md-12">
                                <table class="table dtetables">
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpActingDutyInfo.toInstitution"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpActingDutyInfo.toInstitution}}</td>
                                        <td><strong translate="stepApp.hrEmpActingDutyInfo.goNumber"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpActingDutyInfo.goNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpActingDutyInfo.designation"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpActingDutyInfo.designation}}</td>
                                        <td><strong translate="stepApp.hrEmpActingDutyInfo.toDepartment"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpActingDutyInfo.toDepartment}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpActingDutyInfo.fromDate"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpActingDutyInfo.fromDate | date:'mediumDate'}}</td>
                                        <td><strong translate="stepApp.hrEmpActingDutyInfo.toDate"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpActingDutyInfo.toDate | date:'mediumDate'}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpActingDutyInfo.officeOrderNumber"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpActingDutyInfo.officeOrderNumber}}</td>
                                        <td><strong translate="stepApp.hrEmpActingDutyInfo.officeOrderDate"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpActingDutyInfo.officeOrderDate | date:'mediumDate'}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpActingDutyInfo.workOnActingDuty"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpActingDutyInfo.workOnActingDuty}}</td>
                                        <td><strong translate="stepApp.hrEmpActingDutyInfo.comments"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpActingDutyInfo.comments}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpActingDutyInfo.goDate"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpActingDutyInfo.goDate | date:'mediumDate'}}</td>
                                        <td><strong translate="stepApp.hrEmpActingDutyInfo.goDoc"></strong></td>
                                        <td ng-click="previewImage(hrEmpActingDutyInfo)">&nbsp; : &nbsp;<img ng-src="data:image/JPEG;base64,{{hrEmpActingDutyInfo.goDoc}}" width="40px"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpActingDutyInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <div  class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpActingDutyInfo.toInstitution"
                                           for="field_toInstitution">ToInstitution</label>
                                    <input type="text" class="form-control" name="toInstitution"
                                           id="field_toInstitution"
                                           ng-model="hrEmpActingDutyInfo.toInstitution" required
                                    only-letters minlength="4" maxlength="150"/>
                                    <div ng-show="editForm.toInstitution.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.toInstitution.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.toInstitution.$error.minlength">
                                            This field should be at least 4 characters
                                        </small>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.toInstitution.$error.maxlength">
                                            This field should not longer than 150 characters
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpActingDutyInfo.goNumber" for="field_goNumber">goNumber</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="goNumber" id="field_goNumber"
                                           ng-model="hrEmpActingDutyInfo.goNumber" required
                                    only-numbers maxlength="15" minlength="2"/>
                                    <div ng-show="editForm.goNumber.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.goNumber.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.goNumber.$error.minlength">
                                            This field should be at least 2 Digits
                                        </small>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.goNumber.$error.maxlength">
                                            This field should not longer than 15 Digits
                                        </small>
                                    </div>
                                </div>
                                <!--<span ng-show="hrEmpActingDutyInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpActingDutyInfo.goNumber}}</span>-->
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpActingDutyInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <div  class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpActingDutyInfo.designation"
                                           for="field_designation">Designation</label>
                                    <input type="text" class="form-control" name="designation" id="field_designation"
                                           ng-model="hrEmpActingDutyInfo.designation" required
                                           only-letters minlength="4" maxlength="150"/>
                                    <div ng-show="editForm.designation.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.designation.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.designation.$error.minlength">
                                            This field should be at least 4 characters
                                        </small>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.designation.$error.maxlength">
                                            This field should not longer than 150 characters
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpActingDutyInfo.toDepartment"
                                       for="field_toDepartment">ToDepartment</label>
                                <div ng-show="!hrEmpActingDutyInfo.viewMode" class="input-margin">
                                    <input type="text" class="form-control" name="toDepartment" id="field_toDepartment"
                                           ng-model="hrEmpActingDutyInfo.toDepartment" required
                                    only-letters minlength="4" maxlength="150"/>
                                    <div ng-show="editForm.toDepartment.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.toDepartment.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.toDepartment.$error.minlength">
                                            This field should be at least 4 characters
                                        </small>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.toDepartment.$error.maxlength">
                                            This field should not longer than 150 characters
                                        </small>
                                    </div>
                                </div>
                                <!--<span ng-show="hrEmpActingDutyInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpActingDutyInfo.toDepartment}}</span>-->
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpActingDutyInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <div class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpActingDutyInfo.fromDate"
                                           for="field_fromDate">FromDate</label>
                                    <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.fromDate"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'fromDate')" class="form-control"
                                           name="fromDate" id="field_fromDate"
                                           ng-model="hrEmpActingDutyInfo.fromDate"
                                           max-date="toDay"
                                           required/>
                                    <div ng-show="editForm.fromDate.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.fromDate.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                                <!--<div ng-show="hrEmpActingDutyInfo.viewMode">
                                    <label class="control-label" translate="stepApp.hrEmpActingDutyInfo.fromDate"
                                           for="field_fromDate">FromDate</label>
                                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmpActingDutyInfo.fromDate | date:'mediumDate'}}</span>
                                </div>-->
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpActingDutyInfo.toDate"
                                       for="field_toDate">ToDate</label>
                                <div  class="input-margin">
                                    <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.toDate"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'toDate')" class="form-control" name="toDate"
                                           id="field_toDate"
                                           min-date="hrEmpActingDutyInfo.fromDate"
                                           ng-model="hrEmpActingDutyInfo.toDate" required/>
                                </div>
                                <!--<span ng-show="hrEmpActingDutyInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpActingDutyInfo.toDate | date:'mediumDate'}}</span>-->
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpActingDutyInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpActingDutyInfo.officeOrderNumber"
                                       for="field_officeOrderNumber">OfficeOrderNumber</label>
                                <div  class="input-margin">
                                    <input type="text" class="form-control" name="officeOrderNumber"
                                           id="field_officeOrderNumber"
                                           ng-model="hrEmpActingDutyInfo.officeOrderNumber"
                                    only-numbers minlength="2" maxlength="30" required/>
                                    <div ng-show="editForm.officeOrderNumber.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.officeOrderNumber.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.officeOrderNumber.$error.minlength">
                                            This field should be at least 2 digits
                                        </small>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.officeOrderNumber.$error.maxlength">
                                            This field should not longer than 30 digits
                                        </small>
                                    </div>
                                </div>
                                <span ng-show="hrEmpActingDutyInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpActingDutyInfo.officeOrderNumber}}</span>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpActingDutyInfo.officeOrderDate"
                                       for="field_officeOrderDate">OfficeOrderDate</label>
                                <div ng-show="!hrEmpActingDutyInfo.viewMode" class="input-margin">
                                    <input datepicker-popup="{{calendar.dateFormat}}"
                                           is-open="calendar.opened.officeOrderDate"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'officeOrderDate')" class="form-control"
                                           name="officeOrderDate" id="field_officeOrderDate"
                                           ng-model="hrEmpActingDutyInfo.officeOrderDate" required/>
                                </div>
                                <!--<span ng-show="hrEmpActingDutyInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpActingDutyInfo.officeOrderDate | date:'mediumDate'}}</span>-->
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpActingDutyInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpActingDutyInfo.workOnActingDuty"
                                       for="field_workOnActingDuty">WorkOnActingDuty</label>
                                <div  class="input-margin">
                                    <textarea class="form-control" name="workOnActingDuty" id="field_workOnActingDuty"
                                              ng-model="hrEmpActingDutyInfo.workOnActingDuty"
                                              ng-maxlength="150" minlength="10"></textarea>
                                    <div ng-show="editForm.workOnActingDuty.$invalid">
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.workOnActingDuty.$error.minlength">
                                            This field should be at least 10 Characters
                                        </small>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.workOnActingDuty.$error.maxlength">
                                            This field should not longer than 150 Characters
                                        </small>
                                    </div>
                                </div>
                                <!--<span ng-show="hrEmpActingDutyInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpActingDutyInfo.workOnActingDuty}}</span>-->
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpActingDutyInfo.comments"
                                       for="field_comments">Comments</label>
                                <div ng-show="!hrEmpActingDutyInfo.viewMode" class="input-margin">
                                    <textarea class="form-control" name="comments" id="field_comments"
                                              ng-model="hrEmpActingDutyInfo.comments"
                                    ng-maxlength="150" minlength="10"
                                    ></textarea>
                                    <div ng-show="editForm.comments.$invalid">
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.comments.$error.minlength">
                                            This field should be at least 10 Characters
                                        </small>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.comments.$error.maxlength">
                                            This field should not longer than 150 Characters
                                        </small>
                                    </div>
                                </div>
                                <!--<span ng-show="hrEmpActingDutyInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpActingDutyInfo.comments}}</span>-->
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpActingDutyInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpActingDutyInfo.goDate"
                                       for="field_goDate">GoDate</label>
                                <div  class="input-margin">
                                    <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.goDate"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'goDate')" class="form-control" name="goDate"
                                           id="field_goDate" max-date="toDay"
                                           ng-model="hrEmpActingDutyInfo.goDate" required/>
                                </div>
                                <!--<span ng-show="hrEmpActingDutyInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpActingDutyInfo.goDate | date:'mediumDate'}}</span>-->
                            </div>
                            <div class="form-group col-sm-6" ngf-drop ngf-change="setGoDoc($file, hrEmpActingDutyInfo)">
                                <label class="control-label" translate="stepApp.hrEmpActingDutyInfo.goDoc"
                                       for="field_goDoc">GoDoc</label>
                                <div ng-show="!hrEmpActingDutyInfo.viewMode" class="input-margin">
                                    <div class="help-block clearfix">
                                        <span class="pull-left">{{hrEmpActingDutyInfo.goDocContentType}} {{byteSize(hrEmpActingDutyInfo.goDoc)}}</span>
                                        <button
                                            ng-click="hrEmpActingDutyInfo.goDoc=null;hrEmpActingDutyInfo.goDocContentType=null;"
                                            ng-if="hrEmpActingDutyInfo.goDoc"
                                            class="btn btn-default btn-xs pull-right">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                    <button type="file" ngf-select class="btn btn-default btn-block"
                                            ngf-change="setGoDoc($file, hrEmpActingDutyInfo)"
                                            translate="entity.action.addblob">
                                        Add blob
                                    </button>

                                    <input type="hidden" class="form-control" name="goDoc" id="field_goDoc"
                                           ng-model="hrEmpActingDutyInfo.goDoc"/>
                                    <input type="hidden" class="form-control" name="goDocContentType"
                                           id="field_goDocContentType"
                                           ng-model="hrEmpActingDutyInfo.goDocContentType"/>
                                </div>
                                <a ng-if="hrEmpActingDutyInfo.goDocContentType" class="btn btn-link"
                                   ng-click="previewImage(hrEmpActingDutyInfo)">View</a>
                            </div>
                        </div>
                        <div class="row hrm-view">
                            <div class="form-group col-sm-6">

                            </div>
                            <div class="form-group col-sm-6 text-right">
                                <button ng-show="!hrEmpActingDutyInfo.viewMode" type="button"
                                        ng-click="changeProfileMode(hrEmpActingDutyInfo)"
                                        class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span>&nbsp;{{hrEmpActingDutyInfo.viewModeText}}
                                </button>
                                <button ng-show="!hrEmpActingDutyInfo.viewMode"
                                        ng-click="updateProfile(hrEmpActingDutyInfo)"
                                        type="button" ng-disabled="editForm.$invalid || isSaving"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                                    translate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
