<div class="col-md-12 common-list padding-left5 padding-right0">
    <h2 translate="stepApp.hrEmpActingDutyInfo.home.title">HrEmpActingDutyInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrEmpActingDutyInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrEmpActingDutyInfo.home.createLabel">Create a new HrEmpActingDutyInfo</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <th><span translate="global.field.id">ID</span></th>
                <th><span translate="stepApp.hrEmpActingDutyInfo.employeeInfo">employeeInfo</span></th>
                <th><span translate="stepApp.hrEmpActingDutyInfo.toInstitution">ToInstitution</span></th>
                <th><span translate="stepApp.hrEmpActingDutyInfo.goNumber">goNumber</span></th>
                <th><span translate="stepApp.hrEmpActingDutyInfo.designation">Designation</span></th>
                <th><span translate="stepApp.hrEmpActingDutyInfo.toDepartment">ToDepartment</span></th>
                <th><span translate="stepApp.hrEmpActingDutyInfo.fromDate">FromDate</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrEmpActingDutyInfo in hrEmpActingDutyInfos | filter:q | itemsPerPage: pageSize track by hrEmpActingDutyInfo.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <td><a ui-sref="hrEmpActingDutyInfo.detail({id:hrEmpActingDutyInfo.id})">{{hrEmpActingDutyInfo.id}}</a>
                </td>
                <td>
                    <a ui-sref="hrEmployeeInfo.detail({id:hrEmpActingDutyInfo.employeeInfo.id})">{{hrEmpActingDutyInfo.employeeInfo.fullName}}</a>
                </td>
                <td>{{hrEmpActingDutyInfo.toInstitution}}</td>
                <td>{{hrEmpActingDutyInfo.goNumber}}</td>
                <td>{{hrEmpActingDutyInfo.designation}}</td>
                <td>{{hrEmpActingDutyInfo.toDepartment}}</td>
                <td>{{hrEmpActingDutyInfo.fromDate | date:'mediumDate'}}</td>
                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="hrEmpActingDutyInfo.detail({id:hrEmpActingDutyInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit" ng-hide="false"
                            ui-sref="hrEmpActingDutyInfo.edit({id:hrEmpActingDutyInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrEmpActingDutyInfo.delete({id:hrEmpActingDutyInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
