<div class="col-md-12 common-table padding-left5 padding-right0">
<h2><span translate="stepApp.hrEmpActingDutyInfo.detail.title">HrEmpActingDutyInfo</span> of {{hrEmpActingDutyInfo.employeeInfo.fullName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpActingDutyInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrEmpActingDutyInfo.employeeInfo.id})">{{hrEmpActingDutyInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpActingDutyInfo.toInstitution">ToInstitution</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpActingDutyInfo.toInstitution}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpActingDutyInfo.designation">Designation</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpActingDutyInfo.designation}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpActingDutyInfo.toDepartment">ToDepartment</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpActingDutyInfo.toDepartment}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpActingDutyInfo.fromDate">FromDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpActingDutyInfo.fromDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpActingDutyInfo.toDate">ToDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpActingDutyInfo.toDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpActingDutyInfo.officeOrderNumber">OfficeOrderNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpActingDutyInfo.officeOrderNumber}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpActingDutyInfo.officeOrderDate">OfficeOrderDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpActingDutyInfo.officeOrderDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpActingDutyInfo.workOnActingDuty">WorkOnActingDuty</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpActingDutyInfo.workOnActingDuty}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpActingDutyInfo.comments">Comments</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpActingDutyInfo.comments}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpActingDutyInfo.goDate">GoDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpActingDutyInfo.goDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpActingDutyInfo.goDoc">GoDoc</span>
                </td>
                <td>
                    <span>
                        <a ng-if="hrEmpActingDutyInfo.goDocContentType" class="btn btn-primary" ng-click="previewImage(hrEmpActingDutyInfo)">
                            <img ng-src="data:image/JPEG;base64,{{hrEmpActingDutyInfo.goDoc}}" width="40px">
                        </a>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpActingDutyInfo.goDocName">GoDocName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpActingDutyInfo.goDocName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpActingDutyInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpActingDutyInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpActingDutyInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpActingDutyInfo.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpActingDutyInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpActingDutyInfo.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpActingDutyInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpActingDutyInfo.updateDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpActingDutyInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpActingDutyInfo.updateBy}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel"> cancel</span>
    </button>
</div>
