<div class="col-md-2 no_padding">
    <ng-include src="'scripts/app/entities/jobPortal/jp-admin-menu.html'"></ng-include>
</div>

<div class="col-md-10 padding-left5 padding-right5">
    <div class="col-md-12 right-side-bg">
        <div class="row dash">
            <div class="col-md-12">
                <div class="welcome">
                    <h4>Welcome to Company Dashboard</h4>
                </div>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_ADMIN">
                <a ui-sref="jp-employer-List">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/asset.png" alt="">
                        <p translate="global.home.organizations" class="ng-scope">organizations</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_ADMIN,ROLE_JPADMIN">
                <a ui-sref="job-archive">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/job.png" alt="">
                        <p translate="global.home.jobArchive" class="ng-scope">jobArchive</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_ADMIN">
                <a ui-sref="organizationType">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/loanShceedule.png" alt="">
                        <p translate="global.menu.entities.organizationType" class="ng-scope">organizationType</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_ADMIN">
                <a ui-sref="organizationCategory">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/instsetup.png" alt="">
                        <p translate="global.menu.entities.organizationCategory">organizationCategory</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_ADMIN">
                <a ui-sref="cat">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/audit.png" alt="">
                        <p translate="global.menu.account.manageCategory">Category</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_ADMIN">
                <a ui-sref="jobType">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/asset.png" alt="">
                        <p translate="global.menu.entities.jobType">jobType</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<style>
    /*samne height*/

    .single-admin-menu {
        padding: 15px 5px;
        background: rgba(255, 255, 255, 0.18);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        transition: .5s;
        margin-bottom: 30px;
        border-radius: 3px;
        height: 135px;
        text-align: center;
        color: #fff;
    }

    .single-admin-menu:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        color: #444 !important;
        border-left: 2px solid #444;
        background: rgba(255, 255, 255, 0.27);
    }

    .single-admin-menu img {
        height: 60px;
        width: auto;
        border-radius: 50%;
        margin-bottom: 15px;
        transition: .5s;
    }

    .single-admin-menu:hover img {
    }

    .bg-color {
        background: #f4f4f4;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .admin-left-menu ul {
        margin: 0;
        padding: 0;
    }

    .admin-left-menu ul li {
        display: block;
    }

    .admin-left-menu ul li a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #fff;
        transition: .5s;
        color: #555;
    }

    .admin-left-menu ul li a:hover {
        background: #ddd;
        border-bottom: 1px solid #999;
        color: #666;
    }

    .dash .col-md-3 {
        padding: 0px 30px;
    }
    .row.dash {
        background: rgba(52, 125, 0, 0.56);
        padding: 15px;
        box-shadow: 0px 1px 14px 0px #888;
        border-radius: 5px;
    }
    .welcome h4 {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 26px;
        padding: 21px;
        color: #fff;
        text-shadow: 4px 2px 3px #666;
    }
</style>
