

    <div class="col-md-3 padding-left0 padding-right0">
        <ng-include src="'scripts/app/entities/jobPortal/jp-employer-menu.html'"></ng-include>
    </div>

    <div class="col-md-9">
        <div class="col-sm-12 col-head">
            <div class="col-sm-8 col-head-heading">
                <h3><span >Welcome to Company Dashboard</span></h3>
            </div>
        </div>
    </div>






