
    <div class="col-sm-3 padding-left0 padding-right0">
        <ng-include src="'scripts/app/entities/jobPortal/jp-user-menu.html'"></ng-include>
    </div>
    <div class="col-sm-9 common-list">
        <h2>Looking for job? <a class="active" ui-sref="job-portal">
            <span translate="global.menu.account.clickHere">View Jobs</span>
        </a>
        </h2>
    </div>

