<!--<div class="list-group">-->
    <!--<ul class="nav nav-list bs-docs-sidenav">-->
        <!--<li>-->
    <!--<a ui-sref="job-portal" ui-sref-active="active" class="list-group-item" has-any-authority="ROLE_ADMIN">-->
        <!--<span class="glyphicon glyphicon-upload "></span>-->
        <!--&#xA0;<span translate="global.menu.account.dashboard">Dashboard</span>-->
        <!--<i class=" pull-right fa fa-caret-right"></i>-->
    <!--</a>-->
        <!--</li> <li>-->
    <!--<a ui-sref="employer-management" ui-sref-active="active" class="list-group-item" has-any-authority="ROLE_ADMIN">-->
        <!--<span class="glyphicon glyphicon-upload "></span>-->
        <!--&#xA0;<span translate="global.menu.account.manageEmployer">Manage Employers</span>-->
        <!--<i class=" pull-right fa fa-caret-right"></i>-->
    <!--</a>-->
    <!--</li> <li>-->
    <!--<a ui-sref="cat" ui-sref-active="active" class="list-group-item" has-any-authority="ROLE_ADMIN">-->
        <!--<span class="glyphicon glyphicon-upload "></span>-->
        <!--&#xA0;<span translate="global.menu.account.manageCategory">Category</span>-->
        <!--<i class=" pull-right fa fa-caret-right"></i>-->
    <!--</a>-->
    <!--</li> <li>-->
    <!--<a ui-sref="country" ui-sref-active="active" class="list-group-item" has-any-authority="ROLE_ADMIN">-->
        <!--<span class="glyphicon glyphicon-upload "></span>-->
        <!--&#xA0;<span translate="global.menu.account.manageCountry">Country</span>-->
        <!--<i class=" pull-right fa fa-caret-right"></i>-->
    <!--</a>-->
    <!--</li> <li>-->
    <!--<a ng-click="logout()" class="list-group-item" has-any-authority="ROLE_USER,ROLE_EMPLOYER,ROLE_ADMIN"><span-->
        <!--class="glyphicon glyphicon-log-out"></span>-->
        <!--&#xA0;<span translate="global.menu.account.logout">Sign Out</span>-->
        <!--<i class=" pull-right fa fa-caret-right"></i>-->
    <!--</a>-->
    <!--</li>-->
        <!--</ul>-->
<!--</div>-->


<ul id="ulcolor3" class="nav su_serv_menu nav-list  bs-docs-sidenav  ">
    <li>
        <a ui-sref="jp-dashboard" ui-sref-active="active" class="button4" has-any-authority="ROLE_JPADMIN">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.account.dashboard">Dashboard</span>
        </a>
    </li>
    <li>
        <a ui-sref="employer-management" ui-sref-active="active" class="button4"
           has-any-authority="ROLE_JPADMIN">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.account.manageEmployer">Manage Employers</span>
        </a>
    </li>
    <li>
        <a ui-sref="jp-employer-List" ui-sref-active="active" class="button4"
           has-any-authority="ROLE_ADMIN">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.home.organizations">Organization List</span>
        </a>
    </li>
    <li>
        <a ui-sref="job-archive" ui-sref-active="active" class="button4"
           has-any-authority="ROLE_ADMIN,ROLE_JPADMIN">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.home.jobArchive">Job Archive</span>
        </a>
    </li>
    <li>
        <a class="button4" ui-sref="organizationType" data-toggle="collapse"  has-any-authority="ROLE_ADMIN" ui-sref-active="active"
           data-target=".navbar-collapse.in">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.organizationType">organizationType</span></a>
    </li>
    <li>
        <a class="button4" ui-sref-active="active" ui-sref="organizationCategory" data-toggle="collapse"
           has-any-authority="ROLE_ADMIN"
           data-target=".navbar-collapse.in"><i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.organizationCategory">organizationCategory</span></a>
    </li>
    <li>
        <a ui-sref="cat" ui-sref-active="active" class="button4" has-any-authority="ROLE_ADMIN">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.account.manageCategory">Category</span>
        </a>
    </li>
    <li><a ui-sref-active="active" class="button4"  ui-sref="jobType" data-toggle="collapse"  has-any-authority="ROLE_ADMIN" data-target=".navbar-collapse.in">
        <i class="fa fa-angle-double-right"></i>
        <span translate="global.menu.entities.jobType">jobType</span></a>
    </li>

    <li >
        <a ui-sref-active="active" class="button4"  ui-sref="eduBoard" data-toggle="collapse"  has-any-authority="ROLE_ADMIN" data-target=".navbar-collapse.in">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.eduBoard">Education Board Setup</span></a></li>

    <li >
        <a ui-sref-active="active" class="button4"  ui-sref="eduLevel" data-toggle="collapse"  has-any-authority="ROLE_ADMIN" data-target=".navbar-collapse.in">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.eduLevel">Education Level Setup</span></a></li>

    <li >
        <a  ui-sref-active="active" class="button4"  ui-sref="jpSkill" data-toggle="collapse"  has-any-authority="ROLE_ADMIN" data-target=".navbar-collapse.in">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.jpSkill">Skill Setup</span></a></li>

    <li >
        <a ui-sref-active="active" class="button4"  ui-sref="jpSkillLevel" data-toggle="collapse"  has-any-authority="ROLE_ADMIN" data-target=".navbar-collapse.in">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.jpSkillLevel">Skill Level Setup</span></a></li>

    <li>
        <a class="button4" ui-sref="country" ui-sref-active="active" class="list-group-item" has-any-authority="ROLE_ADMIN, RIGHTS_LEFT_MENU_COUNTRY">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.account.manageCountry">Country</span>
        </a>
    </li>
    <!--ROLE_USER,ROLE_EMPLOYER,ROLE_ADMIN-->


    <li>
        <a ui-sref="employer.change-password" ui-sref-active="active" class="button4" has-any-authority="ROLE_USER,ROLE_JPADMIN,ROLE_EMPLOYER,ROLE_ADMIN">
            <i class="fa fa-angle-double-right"></i><span translate="global.menu.account.changePassword">Change Password</span>
        </a>
    </li>
    <li>
        <a class="button4" ng-click="logout()" class="list-group-item" has-any-authority="ROLE_USER,ROLE_JPADMIN,ROLE_EMPLOYER,ROLE_ADMIN">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.account.logout">Sign Out</span>
            <!--<i class=" pull-right fa fa-caret-right"></i>-->
        </a>
    </li>
    <li>
        <a class="button4" ui-sref="jpReport({module: 'jp'})"  class="list-group-item" has-any-authority="ROLE_ADMIN">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.jpReport">Job Portal Report</span>
            <!--<i class=" pull-right fa fa-caret-right"></i>-->
        </a>
    </li>
</ul>
