<!--<div class="list-group">-->
    <!--<a ui-sref="job-portal" ui-sref-active="active" class="list-group-item">-->
        <!--<span class="glyphicon glyphicon-upload "></span>-->
        <!--&#xA0;<span translate="global.menu.account.dashboard">Dashboard</span>-->
    <!--</a>-->

    <!--<a ui-sref="employer.profile" ui-sref-active="active" class="list-group-item" has-any-authority="ROLE_EMPLOYER">-->
        <!--<span class="glyphicon glyphicon-home"></span>-->
        <!--&#xA0;<span translate="global.menu.account.myAccount">My Account</span>-->
    <!--</a>-->

    <!--<a ui-sref="employer.new-job" ui-sref-active="active" class="list-group-item" has-any-authority="ROLE_EMPLOYER"><span-->
        <!--class="glyphicon glyphicon-plus"></span>-->
        <!--&#xA0;<span translate="global.menu.account.createJob">Post Job</span></a>-->

    <!--<a ui-sref="employer.job-list" ui-sref-active="active" class="list-group-item" has-any-authority="ROLE_EMPLOYER"><span-->
        <!--class="glyphicon glyphicon-eye-open"></span>-->
        <!--&#xA0;<span translate="global.menu.account.jobManagement">Job Management</span></a>-->

    <!--<a ui-sref="employer.change-password" ui-sref-active="active" class="list-group-item" has-any-authority="ROLE_USER,ROLE_EMPLOYER,ROLE_ADMIN"><span-->
        <!--class="glyphicon glyphicon-lock"></span>-->
        <!--&#xA0;<span translate="global.menu.account.changePassword">Change Password</span></a>-->

    <!--<a ng-click="logout()" class="list-group-item" has-any-authority="ROLE_USER,ROLE_EMPLOYER,ROLE_ADMIN"><span-->
        <!--class="glyphicon glyphicon-log-out"></span>-->
        <!--&#xA0;<span translate="global.menu.account.logout">Sign Out</span></a>-->
<!--</div>-->


<ul id="ulcolor3" class="nav su_serv_menu nav-list  bs-docs-sidenav">
    <li>
        <a ui-sref="jp-dashboard" ui-sref-active="active" class="button4">
            <!-- <span class="glyphicon glyphicon-upload "></span>
             &#xA0;--><span translate="global.menu.account.dashboard">Dashboard</span>
        </a>
    </li>
    <li>

        <a ui-sref="employer.profile" ui-sref-active="active" class="button4"
           has-any-authority="ROLE_EMPLOYER">
            <!--<span class="glyphicon glyphicon-home"></span>
            &#xA0;--><span translate="global.menu.account.profile">My Account</span>
        </a>
    </li>
    <li>
        <a ui-sref="employer.new-job" ui-sref-active="active" class="button4"
           has-any-authority="ROLE_EMPLOYER"><!--<span
                class="glyphicon glyphicon-plus"></span>
                &#xA0;--><span translate="global.menu.account.postJob">Post A Job</span></a>
    </li>
    <li>
        <a ui-sref="employer.job-list" ui-sref-active="active" class="button4"
           has-any-authority="ROLE_EMPLOYER"><!--<span
                class="glyphicon glyphicon-eye-open"></span>
                &#xA0;--><span translate="global.menu.account.jobManagement">Job Management</span></a>
    </li>
    <li>
        <a ui-sref="job-archive" ui-sref-active="active" class="button4"
           has-any-authority="ROLE_EMPLOYER">
            <!--<span class="glyphicon glyphicon-upload "></span>&#xA0;-->
            <span translate="global.home.jobArchive">Job Archive</span>
            <!--<i class=" pull-right fa fa-caret-right"></i>-->
        </a>
    </li>
    <li>
        <a ui-sref="job-portal" ui-sref-active="active" class="button4">
            <!-- <span class="glyphicon glyphicon-upload "></span>
             &#xA0;--><span translate="global.menu.jobHome">Dashboard</span>
        </a></li>
    <li>
    <li>
        <a ui-sref="employer.change-password" ui-sref-active="active" class="button4"
           has-any-authority="ROLE_USER,ROLE_EMPLOYER,ROLE_ADMIN"><!--<span
                class="glyphicon glyphicon-lock"></span>
                &#xA0;--><span translate="global.menu.account.changePassword">Change Password</span></a>
    </li>
    <li>
        <a ng-click="logout()" class="button4" has-any-authority="ROLE_USER,ROLE_EMPLOYER,ROLE_ADMIN">
            <!--<span  class="glyphicon glyphicon-log-out"></span>
            &#xA0;--><span translate="global.menu.account.logout">Sign Out</span></a>
    </li>
</ul>
