<div class="row">
    <div class="panel panel-body form-group col-sm-6 col-sm-offset-3 pull-left">
        <label>Report Type</label>
        <select ng-change="reportChange()" ng-model="jasperReport" name="jasperReport" class="form-control"
                ng-options="jasperReport as jasperReport.name for jasperReport in jasperReports track by jasperReport.id">
            <option value="">Select Report Type</option>
        </select><br>
        <!-- start report parameters -->
        <div ng-repeat="jasperReportParameter in jasperReportParameters track by $index">
            <div ng-if="jasperReportParameter.type == 'combo'">
                <div ng-if="jasperReportParameter.servicename== 'institute'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="institute.code as institute.name for institute in institutes | orderBy:'name'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Institute</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div ng-if="jasperReportParameter.servicename== 'status'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="status.id as status.id for status in allStatus track by institute.id"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'gender'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="gender.id as gender.id for gender in genders track by institute.id"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Gender</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'organizationType'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select ng-change="list_change(jasperReportParameter.actiontype)" class="form-control"
                                    id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="organization.name as organization.name for organization in organizations | orderBy:'name'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Org. Type</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'publication'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select ng-change="list_change(jasperReportParameter.actiontype)" class="form-control"
                                    id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="contentType.name as contentType.name for contentType in contentTypes | orderBy: 'name'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Publication</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'employer'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="employer.name as employer.name for employer in employers | orderBy: 'name'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Organization</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'organizationCategory'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="category.name as category.name for category in organizationCategories  | orderBy: 'name'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Org. Category</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'division'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select ng-change="updatedDistrict(jasperReportParameter.actiontype)" class="form-control"
                                    id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="division.name as division.name for division in divisions | orderBy: 'name'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Division</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'district'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select ng-change="updatedUpazila(jasperReportParameter.actiontype)" class="form-control"
                                    id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="district.name as district.name for district in districts  | orderBy: 'name'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select District</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'upazila'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="upazila.name as upazila.name for upazila in upazilas  | orderBy: 'name'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Upazila</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'cat'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select ng-change="list_change(jasperReportParameter.actiontype)" class="form-control"
                                    id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="cat as cat for upazila in cats track by cat.id"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Category</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'contentCategory'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select ng-change="list_change(jasperReportParameter.actiontype)" class="form-control"
                                    id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="dlContCat.name as dlContCat.name for dlContCat in dlContCategories  | orderBy: 'name'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Cont. Category</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'contentSubCategory'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select ng-change="list_change(jasperReportParameter.actiontype)" class="form-control"
                                    id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="dlContSubCategory.name as dlContSubCategory.name for dlContSubCategory in dlContSubCategories | orderBy: 'name'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Cont. Sub. Category</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'contentSourceName'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select ng-change="list_change(jasperReportParameter.actiontype)" class="form-control"
                                    id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="contentSource.name as contentSource.name for contentSource in contentSources | orderBy: 'name'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Source</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'contentTypeName'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select ng-change="list_change(jasperReportParameter.actiontype)" class="form-control"
                                    id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="contentType.name as contentType.name for contentType in contentTypes | orderBy: 'name'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Cont. Type</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'authorName'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="book.authorName as book.authorName for book in books | orderBy: 'authorName'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Author</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'fileFormat'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="fileType.fileType as fileType.fileType for fileType in fileTypes | orderBy: 'fileType'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Format</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-if="jasperReportParameter.servicename=='hrDeptName'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="hrDeptName.departmentInfo.departmentName as hrDeptName.departmentInfo.departmentName for hrDeptName in HrDepartments | orderBy: 'HrDepartment'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Name</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-if="jasperReportParameter.servicename== 'hrDesigName'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="hrDesigName.designationName as hrDesigName.designationName for hrDesigName in hrDesignations | orderBy: 'hrDesigName'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Name</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--{{organizationInfo.name}}-->
                <!--<div ng-if="jasperReportParameter.servicename== 'DepartmentList'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="departmentName as Department.departmentInfo.departmentName for Department in DepartmentLists | orderBy: 'departmentName'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Name</option>
                            </select>
                        </div>
                    </div>
                </div>-->
                <div ng-if="jasperReportParameter.servicename== 'DepartmentList'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="department as department for department in DepartmentLists | orderBy: 'department'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Type</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'empType'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="empType.name as empType.value for empType in empTypes | orderBy: 'empType'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Type</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-if="jasperReportParameter.servicename== 'hrEmpTransFrom'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="hrEmpTransFrom as hrEmpTransFrom for hrEmpTransFrom in hrTranFroms | orderBy: 'hrEmpTransFrom'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-if="jasperReportParameter.servicename== 'country'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="country.name as country.name for country in countrys | orderBy: 'country'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Country</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'jobType'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="jobType.name as jobType.name for jobType in trainingTypeMisc | orderBy: 'jobType'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Type</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'TrainType'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="TrainType.typeName as TrainType.typeName for TrainType in trainingTypeMisc | orderBy: 'TrainType'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Type</option>

                            </select>
                        </div>
                    </div>
                </div>

                <div ng-if="jasperReportParameter.servicename== 'jobTitles'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"

                                    ng-options="jobTitles.cat as jobTitles.cat for jobTitles in jobTitle | orderBy: 'jobTitles'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Title</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div ng-if="jasperReportParameter.servicename== 'category'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="category.cat as category.cat for category in categories | orderBy: 'categories'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Category</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-if="jasperReportParameter.servicename== 'hrEmpTransTo'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="hrTranTo as hrTranTo for hrTranTo in hrTranTos | orderBy: 'hrTranTo'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'year'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="year.theYear as year.theYear for year in years | orderBy: 'year'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Year</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'month'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="month.shortMonth as month.theMonth for month in months | orderBy: 'month'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Month</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'jobStauts'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="jobStauts.name as jobStauts.value for jobStauts in jobPlaceMenStatus | orderBy: 'jobStauts'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Status</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-if="jasperReportParameter.servicename== 'gazette'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="gazette.gazetteName as gazette.gazetteName for gazette in gazetteNames | orderBy: 'gazette'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="jasperReportParameter.servicename== 'insEmplType'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="insEmplType.name as insEmplType.value for insEmplType in instEmpTypes | orderBy: 'insEmplType'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Type</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-if="jasperReportParameter.servicename== 'orgType'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="orgType.name as orgType.value for orgType in orgTypes | orderBy: 'orgType'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Organization Type</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-if="jasperReportParameter.servicename== 'instType'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="instType.name as instType.value for instType in instTypes | orderBy: 'instType'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Institute Type</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-if="jasperReportParameter.servicename== 'salType'">
                    <div class="form-group col-sm-4 input-margin">
                        <label class="col-sm-12 control-label" for="{{jasperReportParameter.name}}">{{jasperReportParameter.flevel}}</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="{{jasperReportParameter.name}}"
                                    name="{{jasperReportParameter.flevel}}"
                                    ng-options="salType.name as salType.value for salType in salaryType | orderBy: 'salType'"
                                    ng-model="jasperReportParameter.actiontype" required="false">
                                <option value="">Select Type</option>
                            </select>
                        </div>
                    </div>
                </div>


            </div>
            <div ng-if="jasperReportParameter.type == 'text'">
                <div class="form-group col-sm-4 no_padding  input-margin">
                    <label class="col-sm-12 control-label "
                           for="txt{{$index}}">{{jasperReportParameter.flevel}}</label>
                    <div class="col-sm-12 ">
                        <input type="text"
                               class="form-control"
                               name="txt{{$index}}"
                               id="txt{{$index}}"
                               ng-model="jasperReportParameter.actiontype"
                               ng-init="jasperReportParameter.actiontype=''"
                        />
                    </div>
                </div>
            </div>

            <div ng-if="jasperReportParameter.type == 'auto-suggestion' && jasperReportParameter.name=='instCode'">

                <div class="form-group col-sm-9 no_padding  input-margin">
                    <label class="col-sm-12 control-label "
                           for="txt{{$index}}">{{jasperReportParameter.flevel}}</label>
                    <div class="input-margin">
                        <select class="form-control" id="field_employeeInfo"
                                name="actiontype"
                                ng-options="data as data.name for data in dataList"
                                ng-model="jasperReportParameter.actiontype"
                                ng-change="typeheadCascade(jasperReportParameter.actiontype)"
                                required>
                            <option value="">Select Type</option>
                        </select>
                    </div>
                    <div class="col-sm-6" ng-if="jasperReportParameter.actiontype">
                        <label class="col-sm-12 control-label "
                               for="txt{{$index}}">Curriculum</label>
                        <select class="form-control" id="{{jasperReportParameter.name}}"
                                name="{{jasperReportParameter.flevel}}"
                                ng-options="validationexp as validationexp.name for validationexp in curriculumByInsts track by validationexp.id"
                                ng-model="jasperReportParameter.validationexp"
                                ng-change="getTradeByCurriculum(jasperReportParameter.validationexp)"
                                required="false">
                            <option value="">Select Type</option>
                        </select>
                    </div>
                    <div class="col-sm-6" ng-if="jasperReportParameter.actiontype">
                        <label class="col-sm-12 control-label "
                               for="txt{{$index}}">Technology</label>
                        <select class="form-control" id="{{jasperReportParameter.name}}"
                                name="{{jasperReportParameter.flevel}}"
                                ng-options="curriculum as curriculum.name for curriculum in tradeByCurriculum track by curriculum.id"
                                ng-model="jasperReportParameter.curriculum"

                                required="false">
                            <option value="">Select Type</option>
                        </select>
                    </div>

                </div>
            </div>

            <div ng-if="jasperReportParameter.type == 'date'">
                <div class="form-group col-sm-4">
                    <label class="col-sm-12 control-label"
                           for="date{{$index}}">{{jasperReportParameter.flevel}}</label>
                    <div class="col-sm-12">
                        <input datepicker-popup="{{calendar.dateFormat}}"
                               is-open="calendar.opened['date'+$index]"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'date'+$index)" class="form-control"
                               name="date{{$index}}" id="date{{$index}}"
                               ng-model="jasperReportParameter.actiontype"
                               ng-change="reportDate(jasperReportParameter.actiontype)"
                               placeholder="yyyy-MM-dd"
                        />
                        <div>
                            <p class="help-block"
                               ng-show="rptForm.date{{$index}}.$error.date">
                                Not a valid date!
                            </p>
                        </div>
                    </div>
                </div>
            </div><!--date-->


        </div>
        <!-- end report parameters -->

        <div class="col-md-12" style="text-align: center">
            <button type="button" class="btn btn-primary" ng-click="reportPreview()">
                <span></span>&nbsp;<span>Generate Report</span>
            </button>
        </div>
    </div>
</div><!--end row -->

<center>
    <iframe style="top:0px; left:0px; bottom:0px; right:0px;
    border:none; margin:0; padding:0; overflow:hidden; z-index:999999;" height=625px width=950px seamless
            id="report_iframe" name="frame1" scroll="no"
            onload="document.getElementById('loadImg');"
            ng-src="{{url}}">
    </iframe>
</center>
