<!--<ul class="nav nav-list bs-docs-sidenav"><li>-->
    <!--<a ui-sref-active="active"><i class="fa fa-pencil-square-o"></i>-->
        <!--<span translate="global.menu.account.dashboard">Dashboard</span>-->
        <!--<i class=" pull-right fa fa-caret-right"></i>-->
    <!--</a>-->
<!--</li>-->
    <!--<li><a ui-sref="resume.view" ui-sref-active="active" has-authority="ROLE_USER"><i class="fa fa-pencil-square-o"></i>-->
        <!--<span translate="global.menu.account.viewResume">View Resume</span><i class=" pull-right fa fa-caret-right"></i></a></li>-->
    <!--<li><a ui-sref="resume" ui-sref-active="active" has-authority="ROLE_USER"><i class="pull-left fa fa-pencil-square-o"></i>-->
        <!--<span translate="global.menu.account.editresume">Edit Resume</span>  <i class=" pull-right fa fa-caret-right"></i></a></li>-->
    <!--<li><a ui-sref="appliedJobs" ui-sref-active="active" has-authority="ROLE_USER"><i class="pull-left fa fa-pencil-square-o"></i>-->
        <!--<span translate="global.menu.account.appliedJobs">Applied Jobs</span> <i class=" pull-right fa fa-caret-right"></i></a></li>-->
    <!--<li><a ui-sref="resume.cvAttachment" ui-sref-active="active" has-any-authority="ROLE_USER"><i class="pull-left fa fa-pencil-square-o"></i>-->
        <!--<span translate="global.menu.account.cvAttachment">CV Attachment</span> <i class=" pull-right fa fa-caret-right"></i></a></li>-->
    <!--<li><a ui-sref="employer.change-password" ui-sref-active="active" has-any-authority="ROLE_USER,ROLE_EMPLOYER,ROLE_ADMIN"><i class="pull-left fa fa-pencil-square-o"></i>-->
        <!--<span translate="global.menu.account.changePassword">Change Password</span><i class=" pull-right fa fa-caret-right"></i></a></li>-->
    <!--<li><a ng-click="logout()" has-any-authority="ROLE_USER,ROLE_EMPLOYER,ROLE_ADMIN"><i class="pull-left fa fa-pencil-square-o"></i>-->
        <!--<span translate="global.menu.account.logout">Sign Out</span> <i class=" pull-right fa fa-caret-right"></i></a></li>-->
    <!--</ul>-->

<ul id="ulcolor3" class="nav su_serv_menu nav-list  bs-docs-sidenav">
    <li>
        <a ui-sref="job-portal" ui-sref-active="active" class="button4">
            <span translate="global.menu.account.dashboard">Dashboard</span>
        </a>
    </li>
    <li>
        <a ui-sref="job-archive" ui-sref-active="active" class="button4"
           has-any-authority="ROLE_EMPLOYER">
            <span translate="global.home.jobArchive">Job Archive</span>
        </a>
    </li>
    <li>
        <a ui-sref="resume.view" ui-sref-active="active" class="button4" has-any-authority="ROLE_USER,ROLE_JOBSEEKER">
            <span translate="global.menu.account.viewResume">View Resume</span>
        </a>
    </li>
    <li>
        <a ui-sref="resume" ui-sref-active="active" class="button4" has-any-authority="ROLE_USER,ROLE_JOBSEEKER">
            <span translate="global.menu.account.editresume">Edit Resume</span>
        </a>
    </li>
    <li>
        <a ui-sref="appliedJobs" ui-sref-active="active" class="button4" has-any-authority="ROLE_USER,ROLE_JOBSEEKER">
            <span translate="global.menu.account.appliedJobs">Applied Jobs</span>
        </a>
    </li>
    <li>
        <a ui-sref="resume.cvAttachment" ui-sref-active="active" class="button4" has-any-authority="ROLE_USER,ROLE_JOBSEEKER">
            <span translate="global.menu.account.cvAttachment">CV Attachment</span>
        </a>
    </li>
    <li>
        <a ui-sref="employer.change-password" ui-sref-active="active" class="button4" has-any-authority="ROLE_USER,ROLE_EMPLOYER,ROLE_ADMIN,ROLE_JOBSEEKER">
            <span translate="global.menu.account.changePassword">Change Password</span>
        </a>
    </li>
    <li>
        <a ng-click="logout()" class="button4" has-any-authority="ROLE_USER,ROLE_EMPLOYER,ROLE_ADMIN,ROLE_JOBSEEKER">
            <span translate="global.menu.account.logout">Sign Out</span>
        </a>
    </li>
</ul>





<!--<div class="list-group">-->
    <!--<ul class="nav nav-list bs-docs-sidenav">-->
        <!--<li><a  ui-sref="job-portal" ui-sref-active="active" has-any-authority="ROLE_USER,ROLE_EMPLOYER,ROLE_ADMIN"><i class="fa fa-pencil-square-o"></i><span translate="global.menu.account.dashboard">Dashboard</span><i class=" pull-right fa fa-caret-right"></i></a></li>-->
        <!--<li><a ui-sref="resume.profile" ui-sref-active="active" has-any-authority="ROLE_USER"><i class="fa fa-pencil-square-o"></i><span translate="global.menu.account.myProfile">My Profile</span><i class=" pull-right fa fa-caret-right"></i></a></li>-->
        <!--<li><a  ui-sref="resume.view" ui-sref-active="active" has-authority="ROLE_USER"><i class="pull-left fa fa-pencil-square-o"></i><span translate="global.menu.account.viewResume">View Resume</span> <i class=" pull-right fa fa-caret-right"></i></a></li>-->
        <!--<li><a ui-sref="resume" ui-sref-active="active" has-authority="ROLE_USER"><i class="pull-left fa fa-pencil-square-o"></i><span translate="global.menu.account.editresume">Edit Resume</span><i class=" pull-right fa fa-caret-right"></i></a></li>-->
        <!--<li><a ui-sref="resume.cvAttachment" ui-sref-active="active" has-any-authority="ROLE_USER"><i class="pull-left fa fa-pencil-square-o"></i><span translate="global.menu.account.cvAttachment">CV Attachment</span><i class=" pull-right fa fa-caret-right"></i></a></li>-->
        <!--<li><a ui-sref="employer.change-password" ui-sref-active="active" has-any-authority="ROLE_USER,ROLE_EMPLOYER,ROLE_ADMIN"><i class="pull-left fa fa-pencil-square-o"></i><span translate="global.menu.account.changePassword">Change Password</span></a><i class=" pull-right fa fa-caret-right"></i></a></li>-->
        <!--<li><a ng-click="logout()"  has-any-authority="ROLE_USER,ROLE_EMPLOYER,ROLE_ADMIN"><i class="pull-left fa fa-pencil-square-o"></i><span translate="global.menu.account.logout">Sign Out</span><i class=" pull-right fa fa-caret-right"></i></a></li>-->

    <!--</ul>-->

    <!--<a ui-sref="job-portal" ui-sref-active="active" class="list-group-item" has-any-authority="ROLE_USER,ROLE_EMPLOYER,ROLE_ADMIN">
        <span class="glyphicon glyphicon-book"></span>
        &#xA0;<span translate="global.menu.account.dashboard">Dashboard</span>
    </a>

    <!--<a ui-sref="resume.profile" ui-sref-active="active" class="list-group-item" has-any-authority="ROLE_USER">
        <span class="glyphicon glyphicon-book"></span>
        &#xA0;<span translate="global.menu.account.myProfile">My Profile</span>
    </a>-->

    <!--<a class="list-group-item" ui-sref="resume.view" ui-sref-active="active" has-authority="ROLE_USER">-->
        <!--<span class="glyphicon glyphicon-book"></span>-->
        <!--&#xA0;<span translate="global.menu.account.viewResume">View Resume</span>-->
    <!--</a>-->

    <!--<a class="list-group-item" ui-sref="resume" ui-sref-active="active" has-authority="ROLE_USER">-->
        <!--<span class="glyphicon glyphicon-book"></span>-->
        <!--&#xA0;<span translate="global.menu.account.editresume">Edit Resume</span>-->
    <!--</a>-->

    <!--<a class="list-group-item" ui-sref="appliedJobs" ui-sref-active="active" has-authority="ROLE_USER">-->
        <!--<span class="glyphicon glyphicon-book"></span>-->
        <!--&#xA0;<span translate="global.menu.account.appliedJobs">Applied Jobs</span>-->
    <!--</a>-->

    <!--<a ui-sref="resume.cvAttachment" ui-sref-active="active" class="list-group-item" has-any-authority="ROLE_USER">-->
        <!--<span class="glyphicon glyphicon-upload "></span>-->
        <!--&#xA0;<span translate="global.menu.account.cvAttachment">CV Attachment</span>-->
    <!--</a>-->

    <!--<a ui-sref="employer.change-password" ui-sref-active="active" class="list-group-item" has-any-authority="ROLE_USER,ROLE_EMPLOYER,ROLE_ADMIN"><span-->
        <!--class="glyphicon glyphicon-lock"></span>-->
        <!--&#xA0;<span translate="global.menu.account.changePassword">Change Password</span></a>-->

    <!--<a ng-click="logout()" class="list-group-item" has-any-authority="ROLE_USER,ROLE_EMPLOYER,ROLE_ADMIN"><span-->
        <!--class="glyphicon glyphicon-log-out"></span>-->
        <!--&#xA0;<span translate="global.menu.account.logout">Sign Out</span></a>-->
<!--</div>-->
