<div class="col-md-12 common-table">
    <h2><span translate="stepApp.employeeLoanRequisitionForm.detail.pendingTitle">Employee Loan Information</span></h2>
    <div class="table-responsive">
        <div class="col-sm-12 text-right padding-tb">
            <button ng-hide="hideGenInfoApprove"
                    ui-sref="employeeLoanInfo.approve({loanReqId:employeeLoanRequisitionForm.id})"
                    class="btn btn-primary">
                <span class="glyphicon glyphicon-check"></span>&nbsp;
                <span translate="entity.action.approve"> Approve</span>
            </button>
            <button ng-hide="hideGenInfoApprove"
                    ui-sref="employeeLoanInfo.decline({loanReqId:employeeLoanRequisitionForm.id})"
                    class="btn btn-primary">
                <span class="glyphicon glyphicon-check"></span>&nbsp;
                <span translate="entity.action.deny"> Decline</span>
            </button>
        </div>
        <div class="col-md-12 no_padding">
            <h5 class="trainerinfo">Employee Loan Information</h5>
        </div>
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th>Loan Information</th>
                &lt;!&ndash;<th translate="entity.detail.value">Value</th>&ndash;&gt;
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRequisitionForm.employeeName">Employee Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanRequisitionForm.employeeInfo.fullName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRequisitionForm.employeeID">Employee ID</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanRequisitionForm.employeeInfo.employeeId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRequisitionForm.designation">Designation</span>
                </td>

                <td>
                    <span class="form-control-static">{{employeeLoanRequisitionForm.employeeInfo.designationInfo.designationInfo.designationName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRequisitionForm.organizationName">organization Name</span>
                </td>

                <td ng-if="employeeLoanRequisitionForm.employeeInfo.organizationType =='Institute'">
                    <span class="form-control-static">{{employeeLoanRequisitionForm.employeeInfo.institute.name}}</span>
                </td>
                <td ng-if="employeeLoanRequisitionForm.employeeInfo.organizationType =='Organization'">
                    <span class="form-control-static">Directorate Of Technical Education</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span
                        translate="stepApp.employeeLoanRequisitionForm.employeeLoanTypeSetup">employeeLoanTypeSetup</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="employeeLoanTypeSetup.detail({id:employeeLoanRequisitionForm.employeeLoanTypeSetup.id})">{{employeeLoanRequisitionForm.employeeLoanTypeSetup.loanTypeName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span
                        translate="stepApp.employeeLoanRequisitionForm.employeeLoanRulesSetup">employeeLoanRulesSetup</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="employeeLoanRulesSetup.detail({id:employeeLoanRequisitionForm.employeeLoanRulesSetup.id})">{{employeeLoanRequisitionForm.employeeLoanRulesSetup.loanName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRequisitionForm.loanRequisitionCode">LoanRequisitionCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanRequisitionForm.loanRequisitionCode}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRequisitionForm.amount">Amount</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanRequisitionForm.amount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRequisitionForm.installment">Installment</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanRequisitionForm.installment}}</span>
                </td>
            </tr>
            <tr>
                <td>Apply Type</td>
                <td>{{employeeLoanRequisitionForm.applyType}}</td>
            </tr>
            <!--<tr>-->
            <!--<td>-->
            <!--<span translate="stepApp.employeeLoanRequisitionForm.approveStatus">ApproveStatus</span>-->
            <!--</td>-->
            <!--<td>-->
            <!--<span class="form-control-static">{{employeeLoanRequisitionForm.approveStatus}}</span>-->
            <!--</td>-->
            <!--</tr>-->
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRequisitionForm.createDate">CreateDate</span>
                </td>
                <td>
                    <span
                        class="form-control-static">{{employeeLoanRequisitionForm.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>


            </tbody>
        </table>
        <div class="col-md-12 no_padding global-th">
            <h5 class="trainerinfo">Attachment Information</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th ng-click="order('name', reverse=!reverse)"
                        translate="stepApp.employeeLoanRequisitionForm.attachment.name">Name
                    </th>
                    <th translate="stepApp.employeeLoanRequisitionForm.attachment.action">Action</th>
                    <th ng-click="order('remarks', reverse=!reverse)"
                        translate="stepApp.employeeLoanRequisitionForm.attachment.remarks">Remarks
                    </th>

                </tr>
                </thead>
                <tbody id="accordion"
                       ng-repeat="attachment in attachments  | filter:filter | orderBy:predicate:reverse track by attachment.id">
                <tr data-parent="#accordion" ng-click="displayAttachment(attachment)" data-toggle="collapse"
                    data-target="#{{attachment.id}}" aria-expanded="false" aria-controls="{{attachment.id}}">
                    <td><a href="javascript:void(0)"
                           ng-click="previewImage(attachment.file, attachment.fileContentType,'Image of '+attachment.name)">{{attachment.name}}</a>
                    </td>
                    <td><a href="javascript:void(0)"
                           ng-click="previewImage(attachment.file, attachment.fileContentType,'Image of '+attachment.name)"></span>
                        &nbsp;<span translate="entity.action.view"> View</span></a></td>
                    <td>{{attachment.remarks}}</td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 no_padding global-th">
            <h5 class="trainerinfo">Employee Loan Requisition Information</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Serial</th>
                    <th translate="stepApp.employeeLoanRequisitionForm.logComments">Status</th>
                    <th translate="stepApp.employeeLoanRequisitionForm.forwardDate">Approved Date</th>
                    <th translate="stepApp.employeeLoanRequisitionForm.comments">Comments</th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="employeeLoanApprovedAndForward in employeeLoanApprovedAndForwards | filter:q | itemsPerPage: pageSize"
                    current-page="currentPage">
                    <td>{{$index+1}}</td>
                    <td>{{employeeLoanApprovedAndForward.logComments}}</td>
                    <td>{{employeeLoanApprovedAndForward.createDate}}</td>
                    <td>{{employeeLoanApprovedAndForward.comments}}</td>
                    <td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
