<ul class="custom-menu">
    <li>
        <a href="" ui-sref="employeeLoanInfo.dashboard" ui-sref-active="active"><i class="fa fa-tachometer"></i><span
            translate="global.menu.account.dashboard">Dashboard</span></a>
    </li>
    <!--<li has-any-authority="ROLE_ADMIN">-->
    <!--<a href=""  ui-sref="employeeLoanInfo.dashboardMenu" ui-sref-active="active">-->
    <!--<i class="fa fa-tachometer"></i><span translate="global.menu.entities.elmsLoanMenu">Dashboard</span></a>-->
    <!--</li>-->
    <li has-any-authority="ROLE_ADMIN">
        <a href="" ui-sref="employeeLoanInfo.employeeLoanTypeSetup" ui-sref-active="active"><i
            class="fa fa-circle-o-notch"></i><span
            translate="global.menu.entities.elmsLoanTypeSetup">Loan Type Setup</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a href="" ui-sref="employeeLoanInfo.employeeLoanRulesSetup" ui-sref-active="active"><i
            class="fa fa-cog"></i><span
            translate="global.menu.entities.elmsLoanRulesSetup">Loan Rules Setup</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_INSTEMP,ROLE_USER,ROLE_HRM_USER,ROLE_DTE_EMPLOYEE">
        <a href="" ui-sref="employeeLoanInfo.employeeLoanRequisitionForm" ui-sref-active="active"><i
            class="fa fa-pencil"></i><span translate="global.menu.entities.elmsLoanRequisitionForm">Loan Requisition Form</span></a>
    </li>
    <ul style="margin: 0; width: 100%; padding: 0">
        <li class=" inst_menu">
            <a class="collapsed" data-toggle="collapse" data-parent="" data-target="#firstLinkSetUp"><i
                class="fa fa-clock-o"></i>
                <span translate="global.menu.entities.elmsLoanReqPending">Loan Application Pending</span>
                <span class="pull-right glyphicon glyphicon-menu-down"></span>
            </a>
            <ul id="firstLinkSetUp" class="collapse search-accordion">
                <li has-any-authority="ROLE_INSTITUTE,ROLE_DG,ROLE_DIRECTOR_VOC,ROLE_ADVOC">
                    <a href="" ui-sref="employeeLoanInfo.loanReqPendingFromVoc({applyType:'VOC'})"
                       ui-sref-active="active"><i class="fa fa-university"></i><span
                        translate="global.menu.entities.elmsLoanPendingFromVocational">From VOC</span></a>
                </li>
                <li has-any-authority="ROLE_INSTITUTE,ROLE_AD3,ROLE_AO,ROLE_DIRECTOR,ROLE_ADMIN,ROLE_DG">
                    <a href="" ui-sref="employeeLoanInfo.loanReqPendingFromOthers({applyType:'Others'})"
                       ui-sref-active="active"><i class="fa fa-university"></i><span
                        translate="global.menu.entities.elmsLoanPendingFromOthers">From Poly & Others</span></a>
                </li>
                <li has-any-authority="ROLE_ADMIN,ROLE_DG,ROLE_AO">
                    <a href="" ui-sref="employeeLoanInfo.loanReqPendingFromDTE({applyType:'DTE'})"
                       ui-sref-active="active"><i class="fa fa-user"></i><span
                        translate="global.menu.entities.elmsLoanPendingFromDTE">From DTE</span></a>
                </li>
            </ul>
        </li>
    </ul>
    <!--<li has-any-authority="ROLE_ADMIN,ROLE_AD,ROLE_DG,ROLE_DIRECTOR">-->
        <!--<a href="" ui-sref="employeeLoanInfo.employeeLoanApprovedList" ui-sref-active="active"><i-->
            <!--class="fa fa-align-justify"></i><span-->
            <!--translate="global.menu.entities.elmsLoanApproveList">Loan Approved List</span></a>-->
    <!--</li>-->
    <ul style="margin: 0; width: 100%; padding: 0">
        <li class=" inst_menu">
            <a class="collapsed" data-toggle="collapse" data-parent="" data-target="#secondLinkSetUp"><i
                class="fa fa-check-circle"></i>
                <span translate="global.menu.entities.elmsLoanApproveList">Loan Application Approved</span>
                <span class="pull-right glyphicon glyphicon-menu-down"></span>
            </a>
            <ul id="secondLinkSetUp" class="collapse search-accordion">
                <li has-any-authority="ROLE_INSTITUTE,ROLE_DG,ROLE_DIRECTOR_VOC,ROLE_ADVOC,ROLE_ADMIN">
                    <a ui-sref="employeeLoanInfo.employeeLoanApprovedList({applyType:'VOC'})" ui-sref-active="active">
                        <i class="fa fa-university"></i><span translate="global.menu.entities.elmsLoanPendingFromVocational">Vocational Application</span></a>
                </li>
                <li has-any-authority="ROLE_INSTITUTE,ROLE_AD3,ROLE_AO,ROLE_DIRECTOR,ROLE_ADMIN,ROLE_DG">
                    <a ui-sref="employeeLoanInfo.employeeLoanApprovedList({applyType:'Others'})" ui-sref-active="active">
                        <i class="fa fa-university"></i><span translate="global.menu.entities.elmsLoanPendingFromOthers">Poly and others</span></a>
                </li>
                <li has-any-authority="ROLE_ADMIN,ROLE_DG,ROLE_AO">
                    <a ui-sref="employeeLoanInfo.employeeLoanApprovedList({applyType:'DTE'})" ui-sref-active="active">
                        <i class="fa fa-user"></i><span translate="global.menu.entities.elmsLoanPendingFromDTE"> DTE Application</span></a>
                </li>
            </ul>
        </li>
    </ul>
    <li has-any-authority="ROLE_ADMIN">
        <a href="" ui-sref="employeeLoanInfo.employeeLoanBillRegister" ui-sref-active="active"><i
            class="fa fa-file-text"></i><span translate="global.menu.entities.elmsLoanBillAndCheckRegister">Bill & Check Register</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a href="" ui-sref="employeeLoanInfo.employeeLoanMonthlyDeduction" ui-sref-active="active"><i
            class="fa fa-minus-circle"></i><span translate="global.menu.entities.elmsLoanMonthlyDeduction">Monthly Deduction</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a href="" ui-sref="jpReport({module: 'ELMS'})" has-any-authority="ROLE_ADMIN" ui-sref-active="active">
            <i class="fa fa-pie-chart"></i><span translate="Reports">prlReport</span></a>
    </li>

</ul>

