<div class="col-md-12 common-list">
    <h2>Welcome to Dashboard</h2>
</div>
<div>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-12 margin-top-30">
                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="employeeLoanInfo.employeeLoanBillRegister">
                        <div class="single-menu">
                            <div class=""><img src="./assets/images/icon/monthlyAdjustment.png" alt=""></div>
                            <span
                                translate="global.menu.entities.elmsLoanBillAndCheckRegister">Bill & Check Register</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN,ROLE_DG,ROLE_AO">
                    <a ui-sref="employeeLoanInfo.employeeLoanApprovedList({applyType:'DTE'})">
                        <div class="single-menu">
                            <div class=""><img src="./assets/images/icon/req.png" alt=""></div>
                            <span translate="global.menu.entities.elmsLoanPendingFromDTE">DTE Application</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="employeeLoanInfo.employeeLoanTypeSetup">
                        <div class="single-menu">
                            <div class=""><img src="./assets/images/icon/membership.png" alt=""></div>
                            <span translate="global.menu.entities.elmsLoanTypeSetup">Loan Type Setup</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="employeeLoanInfo.employeeLoanRulesSetup">
                        <div class="single-menu">
                            <div class=""><img src="./assets/images/icon/employee-membership.png" alt=""></div>
                            <span translate="global.menu.entities.elmsLoanRulesSetup">Loan Rules Setup</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN,ROLE_INSTEMP,ROLE_USER,ROLE_HRM_USER,ROLE_DTE_EMPLOYEE">
                    <a ui-sref="employeeLoanInfo.employeeLoanRequisitionForm">
                        <div class="single-menu">
                            <div class=""><img src="./assets/images/icon/adjustment.png" alt=""></div>
                            <span translate="global.menu.entities.elmsLoanRequisitionForm">Loan Requisition Form</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_INSTITUTE,ROLE_DG,ROLE_DIRECTOR_VOC,ROLE_ADVOC">
                    <a ui-sref="employeeLoanInfo.loanReqPendingFromVoc({applyType:'VOC'})">
                        <div class="single-menu">
                            <div class=""><img src="./assets/images/icon/vocational.png" alt=""></div>
                            <span translate="global.menu.entities.elmsLoanPendingFromVocationald">From VOC</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="employeeLoanInfo.employeeLoanMonthlyDeduction">
                        <div class="single-menu">
                            <div class=""><img src="./assets/images/icon/deduction.png" alt=""></div>
                            <span translate="global.menu.entities.elmsLoanMonthlyDeduction">Monthly Deduction</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2" has-any-authority="ROLE_INSTITUTE,ROLE_AD3,ROLE_AO,ROLE_DIRECTOR,ROLE_ADMIN,ROLE_DG">
                    <a ui-sref="employeeLoanInfo.employeeLoanApprovedList({applyType:'Others'})">
                        <div class="single-menu">
                            <div class=""><img src="./assets/images/icon/instsetup.png" alt=""></div>
                            <span translate="global.menu.entities.elmsLoanPendingFromOthers">Poly and others</span>
                        </div>
                    </a>
                </div>

                <div class="col-md-2" has-any-authority="ROLE_INSTITUTE,ROLE_AD3,ROLE_AO,ROLE_DIRECTOR,ROLE_ADMIN,ROLE_DG">
                    <a ui-sref="employeeLoanInfo.loanReqPendingFromOthers({applyType:'PolyOthers'})">
                        <div class="single-menu">
                            <div class=""><img src="./assets/images/icon/polytechnic.png" alt=""></div>
                            <span translate="global.menu.entities.elmsLoanPendingFromOthersd">From Poly & Others</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2"  has-any-authority="ROLE_ADMIN,ROLE_DG,ROLE_AO">
                    <a ui-sref="employeeLoanInfo.loanReqPendingFromDTE({applyType:'DTE'})">
                        <div class="single-menu">
                            <div class=""><img src="./assets/images/icon/employee.png" alt=""></div>
                            <span translate="global.menu.entities.elmsLoanPendingFromDTEd">From DTE</span>
                        </div>
                    </a>
                </div>


                <div class="col-md-2" has-any-authority="ROLE_INSTITUTE,ROLE_DG,ROLE_DIRECTOR_VOC,ROLE_ADVOC,ROLE_ADMIN">
                    <a ui-sref="employeeLoanInfo.employeeLoanApprovedList({applyType:'VOC'})" >
                        <div class="single-menu">
                            <div class=""><img src="./assets/images/icon/course.png" alt=""></div>
                            <span translate="global.menu.entities.elmsLoanPendingFromVocational">Vocational Application</span>
                        </div>
                    </a>
                </div>

                <div class="col-md-2" has-any-authority="ROLE_ADMIN">
                    <a ui-sref="">
                        <div class="single-menu">
                            <div class=""><img src="./assets/images/icon/earning.png" alt=""></div>
                            <span translate="global.menu.report">Report</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

