<div class="col-md-3 padding0">
    <ng-include src="'scripts/app/entities/ELMS/employee-loan-left-menu.html'"></ng-include>
</div>
<div class="col-md-9 padding-left5 padding-right5" ui-view="employeeLoanView">

</div>


