
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myMpoCommitteePersonInfoLabel" translate="stepApp.mpoCommitteePersonInfo.home.createOrEditLabel"></h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="mpoCommitteePersonInfo.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoCommitteePersonInfo.contactNo" for="field_contactNo">ContactNo</label>
            <input type="text" class="form-control" name="contactNo" id="field_contactNo"
                    ng-model="mpoCommitteePersonInfo.contactNo"
                    ng-maxlength="20" />
            <div ng-show="editForm.contactNo.$invalid">
                <p class="help-block"
                    ng-show="editForm.contactNo.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoCommitteePersonInfo.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="mpoCommitteePersonInfo.address"
                    ng-maxlength="255" />
            <div ng-show="editForm.address.$invalid">
                <p class="help-block"
                    ng-show="editForm.address.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoCommitteePersonInfo.designation" for="field_designation">Designation</label>
            <input type="text" class="form-control" name="designation" id="field_designation"
                    ng-model="mpoCommitteePersonInfo.designation"
                    ng-maxlength="50" />
            <div ng-show="editForm.designation.$invalid">
                <p class="help-block"
                    ng-show="editForm.designation.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoCommitteePersonInfo.orgName" for="field_orgName">OrgName</label>
            <input type="text" class="form-control" name="orgName" id="field_orgName"
                    ng-model="mpoCommitteePersonInfo.orgName"
                    ng-maxlength="50" />
            <div ng-show="editForm.orgName.$invalid">
                <p class="help-block"
                    ng-show="editForm.orgName.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoCommitteePersonInfo.dateCrated" for="field_dateCrated">DateCrated</label>
            <input type="date" class="form-control" name="dateCrated" id="field_dateCrated"
                    ng-model="mpoCommitteePersonInfo.dateCrated"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoCommitteePersonInfo.dateModified" for="field_dateModified">DateModified</label>
            <input type="date" class="form-control" name="dateModified" id="field_dateModified"
                    ng-model="mpoCommitteePersonInfo.dateModified"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoCommitteePersonInfo.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                    ng-model="mpoCommitteePersonInfo.status"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoCommitteePersonInfo.activated" for="field_activated">Activated</label>
            <input type="checkbox" class="form-control" name="activated" id="field_activated"
                    ng-model="mpoCommitteePersonInfo.activated"
                     />
        </div>

        <div class="form-group">
            <label translate="stepApp.mpoCommitteePersonInfo.createdBy" for="field_createdBy">createdBy</label>
            <select class="form-control" id="field_createdBy" name="createdBy" ng-model="mpoCommitteePersonInfo.createdBy" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoCommitteePersonInfo.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="mpoCommitteePersonInfo.user" ng-options="user as user.email for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
