
<div class="col-md-12 common-dialogue">
    <h4 class="panel-title">Application Information</h4>
    <ng-include
        src="'scripts/app/account/mpo/informationCorrection/informationCorrection/info-correction-form.html'"></ng-include>

</div>

