<div class="col-md-12 common-list">
    <h2 class="header-margin" translate="stepApp.mpo.infoCorrectionApplication">Information Correction Pending List</h2>
    <div class="row no-print">
        <div class="col-xs-4">
            <b>{{ (mpoAppliedLists|filter:q).length }} results found</b>
            <label for="search">Search:</label>
            <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
        </div>
        <div class="col-xs-4">
            <label for="search">items per page:</label>
            <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
        </div>
    </div>
    <br>

    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="stepApp.mpo.thead.institutename"> Institute Name</th>
                <th translate="stepApp.mpo.thead.applicantname"> Applicant Name</th>
                <th translate="stepApp.mpo.thead.applicantId"> Applicant Name</th>
                <th translate="stepApp.mpo.thead.upazila"> Upazila</th>
                <th translate="stepApp.mpo.thead.status"> Status</th>
                <th translate="stepApp.mpo.thead.action"> Action</th>
            </tr>
            </thead>
            <tbody>
            <!--<tr ng-repeat="mpoAppliedList in mpoAppliedLists | orderBy:'$index':true">-->
            <tr ng-animate="'animate'"
                dir-paginate="each in infoCorrectionLists | filter:q | itemsPerPage: pageSize | orderBy:'$index':true"
                current-page="currentPage">
                <td>{{each.INST_NAME}}</td>
                <td>{{each.NAME}}</td>
                <td>{{each.CODE}}</td>
                <td>{{each.UPZILA_NAME}}</td>
                <td>{{infoCorrectionLists.pending}}</td>
                <td class="text-right no-print">
                    <div class="btn-group">
                        <button class="btn btn-info" ui-sref="informationCorrection.detail({id:each.INFO_ID})">
                            <span translate="stepApp.mpo.view">View</span>
                        </button>
                        <button has-any-authority="ROLE_ADMIN,ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG"
                                class="btn btn-default pull-right" ui-sref="infoCorrectionChecklist({code:each.CODE})">
                            <span translate="stepApp.mpo.checklist">checklist</span>
                        </button>
                        <!--<button class="btn btn-success pull-right" ui-sref="approveInfoCorrection({id: each.INFO_ID})">
                            <span translate="stepApp.mpo.agree">Agree</span>
                        </button>
                        <button class="btn btn-danger pull-right" ui-sref="infoCorrectDeny({id: each.INFO_ID})">
                            <span translate="stepApp.mpo.decline">Decline</span>
                        </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <!--for pagination and real time search add bellow nav tab -->
        <nav class="no-print">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
    <div has-any-authority="ROLE_AD" ng-if="mpoAppliedLists.length > 0">
        <button class="btn btn-success pull-right" ng-if="summaryList.length < 1" ng-click="createSummary()">Create
            Summary List
        </button>
        <button class="btn btn-success pull-right" ng-if="summaryList.length > 0" ng-click="forwardSummaryList()">
            Forward
        </button>
    </div>
    <div class=" col-sm-12" ng-if="summaryList.length > 0">
        <h2>Summary List</h2>
        <div class="col-md-12 table-responsive no_padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th translate="stepApp.mpo.thead.slNo"> Serial No</th>
                    <th translate="stepApp.mpo.thead.applicationDate">Application Date</th>
                    <th translate="stepApp.mpo.thead.approveByDeo"> Approved By deo</th>
                    <th translate="stepApp.mpo.thead.institutename"> Institute Name</th>
                    <th translate="stepApp.mpo.thead.code"> Institute code</th>
                    <th translate="stepApp.mpo.thead.upazilla"> Upazila</th>
                    <th translate="stepApp.mpo.thead.district"> District</th>
                    <th translate="stepApp.mpo.thead.applicantname"> Applicant Name</th>
                    <th translate="stepApp.mpo.thead.dob"> Date of birth</th>
                    <th translate="stepApp.mpo.thead.bank"> Bank Name & Account No</th>
                    <th translate="stepApp.mpo.thead.designation"> Designation And Subject</th>
                    <th translate="stepApp.mpo.thead.registerIndex">Register Index</th>
                    <th translate="stepApp.mpo.thead.dgRepresentative">DG Representative</th>
                    <th translate="stepApp.mpo.thead.recDateOfGB">Recommend Date of Gov-body</th>
                    <th translate="stepApp.mpo.thead.joiningDate">Joining Date</th>
                    <th translate="stepApp.mpo.thead.G.O">G.O. yes/no</th>
                    <th translate="stepApp.mpo.thead.payCode">Pay Code</th>
                    <th has-any-authority="ROLE_DG,ROLE_DIRECTOR" translate="stepApp.mpo.thead.action">Action</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr ng-repeat="mpoAppliedList in mpoAppliedLists | orderBy:'$index':true">-->
                <tr ng-repeat="each in summaryList">
                    <td>{{$index+1}}</td>
                    <td>{{each.APPLICATION_DATE | date}}</td>
                    <td>{{each.CMT_APPROVE_DATE | date}}--{{each.DEO_APPROVE_DATE | date}}</td>
                    <td>{{each.INST_NAME}}</td>
                    <td>{{each.INST_CODE}}</td>
                    <td>{{each.UPZ_NAME}}</td>
                    <td>{{each.DISTRICT}}</td>
                    <td>{{each.NAME}}</td>
                    <td>{{each.DOB | date}}</td>
                    <td>{{each.BANK_NAME}},{{each.BANK_ACCOUNT}}</td>
                    <td>{{each.DESIGNATION}}-{{each.SUBJECT}}</td>
                    <td>{{each.REGISTERED_NO}}</td>
                    <td>{{each.DG_REPRESENTITIVE}}</td>
                    <td>{{each.GB_REC_DATE | date}}</td>
                    <td>{{each.JOIN_DATE | date}}</td>
                    <td>{{each.GOV_ORDER == 1? 'Yes' : 'No'}}</td>
                    <td>{{each.PAY_CODE}}</td>
                    <td has-any-authority="ROLE_DG,ROLE_DIRECTOR" class="text-right no-print">
                        <div class="btn-group">
                            <button class="btn btn-info" ui-sref="mpo.details({id:each.MPO_ID})">
                                View
                            </button>
                            <button class="btn btn-success" ui-sref="mpoApprove({id: each.MPO_ID})">
                                Approve
                            </button>
                            <button class="btn btn-danger" ui-sref="mpoDeny({id: each.MPO_ID})">
                                Reject
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="pull-right">
        <button type="submit" class="btn btn-sm btn-primary no-print" onclick="window.print()" >
            <i class="fa fa-print"></i>&nbsp;
            <span translate="entity.action.print" >Print</span>
        </button>
    </div>
</div>
