<div class="col-md-12 no_padding">
    <div ng-show="isAdmin">
        <ng-include src="'scripts/app/account/mpo/mpo-search-form.html'"></ng-include>
    </div>
</div>
<div class="col-md-12 no_padding common-table">
    <h2 class="panel-title">
        <span translate="{{'stepApp.attachment.appEnrInfo'}}">Application Status of</span> <b>{{applicationlogs[0].mpoApplicationId.instEmployee.code}}</b>
    </h2>
    <div class="resume_main_ time-scale">
        <table class="table table-striped ">
            <thead>
            <tr>
                <th translate="{{'stepApp.attachment.Status'}}">
                    Status
                </th>
                <th translate="{{'stepApp.attachment.ActionDate'}}">
                    Action Date
                </th>
                <th translate="{{'stepApp.attachment.remarks'}}">
                    Remarks
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="infoCorrectionLog in infoCorrectionLogs">
                <td>{{infoCorrectionLog.remarks}}</td>
                <td>{{infoCorrectionLog.fromDate}}</td>
                <td>
                    <span class="" ng-show="infoCorrectionLog.status == 1 ">{{infoCorrectionLog.cause}}1</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

