

<form name="approveForm" ng-submit="confirmApprove(forward.forwardTo)">
    <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" translate="entity.approve.title">Confirm approve operation</h4>
    </div>
    <div class="modal-body">
        <p translate="entity.approve.question">Are you sure you want to Approve?</p>

        <div class="form-group col-md-6">
            <textarea class="form-control"  placeholder="{{'remarks' | translate}}"
                      ng-model="remark"></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-success">

            <span class="glyphicon glyphicon-ok"></span>&nbsp;
            <span translate="entity.action.approve">Approve</span>

        </button>
    </div>
</form>
