<div class="common-dialogue col-md-12 padding5">
    <h4 class="panel-title" translate="{{'stepApp.timeScaleApplication.appInfor'}}">Application Information</h4>
    <ng-include src="'scripts/app/account/assistantProfessorApplication/ap-form.html'"></ng-include>
</div>

