<!--    <div class="col-md-12" ng-show="showApplicationButtion">
    </div>-->
    <div class="col-md-12 common-table padding0">
        <h2 class="header-margin" translate="stepApp.mpo.apApplicationDetails">Assistant Professor Applicaton Details </h2>
        <div class="col-sm-12 no_padding ">
            <tabset justified="true" >
                <tab heading="{{'stepApp.mpo.Profile' | translate}}" select="profile()" class="no-print">
                    <div class="row">
                        <div class="col-md-9 table-responsive">
                            <table class="table table-striped">

                                <tr>
                                    <td class=""> {{'stepApp.employee.TrackID' | translate}}</td>
                                    <td>{{employee.code}}</td>
                                    <td class="">{{'stepApp.employee.nameEnglish' | translate}}</td>
                                    <td>{{employee.name}}</td>
                                </tr>

                                <tr>
                                    <td class=""> {{'stepApp.employee.fatherName' | translate}}</td>
                                    <td>{{employee.fatherName}}</td>
                                    <td class="">{{'stepApp.employee.motherName' | translate}}</td>
                                    <td>{{employee.motherName}}</td>
                                </tr>

                                <tr>
                                    <td class="">{{'stepApp.employee.email' | translate}}</td>
                                    <td>{{employee.email}}</td>
                                    <td class="">{{'stepApp.employee.gender' | translate}}</td>
                                    <td>{{employee.gender}}</td>
                                </tr>

                                <tr>
                                    <td class="">{{'stepApp.employee.dob' | translate}}</td>
                                    <td>{{employee.dob}}</td>
                                    <td class="">{{'stepApp.employee.registrationCertificateSubject' | translate}}</td>
                                    <td>{{employee.registeredCertificateSubject}}</td>
                                </tr>

                                <tr>
                                    <td class="">{{'stepApp.employee.registrationExamYear' | translate}}</td>
                                    <td>{{employee.registrationExamYear}}</td>
                                    <td class="">{{'stepApp.employee.registrationCetificateNo' | translate}}</td>
                                    <td>{{employee.registeredCertificateNo}}</td>
                                </tr>

                                <tr>
                                    <td class="">{{'stepApp.employee.indexNo' | translate}}</td>
                                    <td>{{employee.indexNo}}</td>
                                    <td class="">{{'stepApp.employee.bankName' | translate}}</td>
                                    <td>{{instEmplBankInfo.bankSetup.name}}</td>
                                </tr>

                                <tr>
                                    <td class="">{{'stepApp.employee.bankBranch' | translate}}</td>
                                    <td>{{instEmplBankInfo.bankBranc.brName}}</td>
                                    <td class="">{{'stepApp.employee.bankAccountNo' | translate}}</td>
                                    <td>{{instEmplBankInfo.bankAccountNo}}</td>
                                </tr>
                                <tr>
                                    <td class="">{{'stepApp.employee.bloodGroup' | translate}}</td>
                                    <td>{{employee.bloodGroup}}</td>
                                    <td class="">{{'stepApp.employee.conPerMobile' | translate}}</td>
                                    <td>{{employee.conPerMobile}}</td>
                                </tr>
                                <tr>
                                    <td class="">{{'stepApp.employee.maritalStatus' | translate}}</td>
                                    <td>{{employee.maritalStatus}}</td>
                                    <td class="">{{'stepApp.employee.contactNo' | translate}}</td>
                                    <td>{{employee.contactNo}}</td>

                                </tr>
                                <tr>
                                    <td class="">{{'stepApp.employee.nationality' | translate}}</td>
                                    <td>{{employee.nationality}}</td>
                                    <td class="">{{'stepApp.employee.nid' | translate}}</td>
                                    <td>{{employee.nid}}</td>
                                </tr>
                                <tr>
                                    <td class="">{{'stepApp.employee.nidImage' | translate}}</td>
                                    <td class="">
                                        <a class="btn btn-default" href="javascript:void(0)" ng-click="previewImage(employee.nidImage, employee.nidImageContentType,'National Id image of '+employee.name)"><span translate="entity.action.view"></span><!--{{employee.nidImageName}}--></a>
                                    </td>
                                    <td class="">{{'stepApp.employee.birthCertNoImage' | translate}}</td>
                                    <td class="">
                                        <a class="btn btn-default" href="javascript:void(0)" ng-click="previewImage(employee.birthCertImage, employee.birthCertImageContentType,'Birth Certificate image of '+employee.name)"><span class="form-control-static"><span translate="entity.action.view"></span><!--{{employee.birthCertNoName}}--></span></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-3">
                            <div class="emp-imgaes">
                                <img data-ng-src="{{'data:' + employee.imageContentType + ';base64,' + employee.image}}" alt="Photo"/>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab  heading="{{'stepApp.mpo.Education' | translate}}" select="educations()" class="no-print">
                    <table class="table table-hover table-striped">
                        <thead class="">
                        <tr>
                            <th translate="stepApp.mpo.mpoEducation.name">Name</th>
                            <th translate="stepApp.mpo.mpoEducation.applicantGrpmjr">Applicant Group</th>
                            <th translate="stepApp.mpo.mpoEducation.insName">Institute Name</th>
                            <th translate="stepApp.mpo.mpoEducation.gpa">Gpa</th>
                            <th translate="stepApp.mpo.mpoEducation.passingYear">passingYear</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="appEducation in applicantEducation">
                            <td>{{appEducation.eduLevel.name}}</td>
                            <td>{{appEducation.groupSubject}} {{appEducation.group}}</td>
                            <td>{{appEducation.uniName}}</td>
                            <td>{{appEducation.cgpa}}</td>
                            <td>{{appEducation.passingYear}}</td>
                            <td class="text-right">
                                <a href="javascript:void(0)" ng-click="previewImage(appEducation.certificateCopy, appEducation.certificateCopyContentType,appEducation.certificateName+' Certificate image of '+employee.name)"><span class="btn btn-primary btn-xs">View Certificate</span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </tab>
                <tab  heading="{{'stepApp.aPScaleApplication.detail.title' | translate}}" select="apScaleApplication()" class="no-print">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th translate="entity.detail.field">Field</th>
                            <th translate="entity.detail.value">Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <span translate="stepApp.aPScaleApplication.date">Date</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{aPScaleApplication.dateCrated | date:'mediumDate'}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span translate="stepApp.aPScaleApplication.resulationDate">ResulationDate</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{aPScaleApplication.resulationDate | date:'mediumDate'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.aPScaleApplication.agendaNumber">AgendaNumber</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{aPScaleApplication.agendaNumber}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.aPScaleApplication.workingBreak">WorkingBreak</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{aPScaleApplication.workingBreak? 'Yes' : 'No'}}</span>
                            </td>
                        </tr>
                        <tr ng-if="aPScaleApplication.workingBreak">
                            <td>
                                <span translate="stepApp.aPScaleApplication.workingBreakStart">WorkingBreakStart</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{aPScaleApplication.workingBreakStart | date:'mediumDate'}}</span>
                            </td>
                        </tr>
                        <tr  ng-if="aPScaleApplication.workingBreak">
                            <td>
                                <span translate="stepApp.aPScaleApplication.workingBreakEnd">WorkingBreakEnd</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{aPScaleApplication.workingBreakEnd | date:'mediumDate'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.aPScaleApplication.disciplinaryAction">DisciplinaryAction</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{aPScaleApplication.disciplinaryAction ? 'Yes' : 'No'}}</span>
                            </td>
                        </tr>
                        <tr  ng-if="aPScaleApplication.disciplinaryAction">
                            <td>
                                <span translate="stepApp.aPScaleApplication.disActionCaseNo">DisActionCaseNo</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{aPScaleApplication.disActionCaseNo}}</span>
                            </td>
                        </tr>
                        <tr ng-if="aPScaleApplication.disciplinaryAction">
                            <td>
                                <span translate="stepApp.aPScaleApplication.disActionFileName">DisActionFileName</span>
                            </td>
                            <td>
                                <a href="javascript:void(0)" ng-click="previewImage(aPScaleApplication.disActionFile, aPScaleApplication.disActionFileType,aPScaleApplication.disActionFileName+'  '+aPScaleApplication.name)"><span class="form-control-static">View</span></a>
                                <img data-ng-src="{{'data:' + aPScaleApplication.disActionFileType + ';base64,' + aPScaleApplication.disActionFileName}}"/>


                            </td>

                        </tr>
                        </tbody>
                    </table>
                </tab>
                <tab  heading="{{'stepApp.mpo.Training' | translate}}" select="training()" class="no-print">

                    <table class="table table-responsive table-stripped">
                        <thead>
                        <tr>
                            <th translate="stepApp.mpo.mpoEducation.trainingName">Traing Name</th>
                            <th translate="stepApp.mpo.mpoEducation.insName">insName</th>
                            <th translate="stepApp.mpo.mpoEducation.result">Result</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="appTraining in applicantTraining">
                            <td>{{appTraining.name}}</td>
                            <td>{{appTraining.institute}}</td>
                            <td>{{appTraining.result}}</td>
                            <td><a href="javascript:void(0)" ng-click="previewImage(appTraining.attachment, appTraining.attachmentContentType,appTraining.name+' Certificate image of '+employee.name)"><span class="form-control-static">View Certificate</span></a></td>
                        </tr>
                        </tbody>
                    </table>
                </tab>
                <tab  heading="{{'stepApp.mpo.Attachment' | translate}}" select="attachment()" class="no-print">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th ng-click="order('name', reverse=!reverse)" translate="stepApp.attachment.name">Name</th>
                            <th ng-click="order('remarks', reverse=!reverse)" translate="stepApp.attachment.remarks">Remarks</th>
                            <th translate="stepApp.attachment.action">Action</th>
                        </tr>
                        </thead>
                        <tbody id="accordion"  ng-repeat="attachment in attachments  | filter:filter | orderBy:predicate:reverse track by attachment.id">
                        <tr data-parent="#accordion" ng-click="displayAttachment(attachment)" data-toggle="collapse" data-target="#{{attachment.id}}" aria-expanded="false" aria-controls="{{attachment.id}}">
                            <!--<td><a ng-show="attachment.fileContentType">{{attachment.name}}</a></td>-->
                            <td><a href="javascript:void(0)" ng-click="previewImage(attachment.file, attachment.fileContentType,'Image of '+attachment.name)">{{attachment.name}}</a></td>
                            <td>{{attachment.remarks}}</td>
                            <!--<td class="btn-group">
                                <button  ng-show="attachment.fileContentType" type="button" ng-click="previewImage(attachment.file, attachment.fileContentType,'Image of '+attachment.name)"
                                         class="btn btn-view btn-sm" >
                                    <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                                </button>
                            </td>-->
                            <td><a href="javascript:void(0)" ng-click="previewImage(attachment.file, attachment.fileContentType,'Image of '+attachment.name)"><span translate="entity.action.view"> View</span></a></td>
                        </tr>
                        <!-- <tr id="{{attachment.id}}" class="collapse">
                             <td colspan="6">
                                 <img ng-src="{{url}}" class="img-thumbnail" alt="{{attachment.name}}">
                             </td>
                         </tr>-->
                        </tbody>
                    </table>
                </tab>

                <tab ng-show="searchByTrackID" heading="Status" class="no-print">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title" ><span translate="stepApp.attachment.appStatus" >Application Status of </span><b> {{mpoApplicationlogs[0].mpoApplicationId.instEmployee.code}}</b></h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped resume_main_">
                                    <thead>
                                    <tr>
                                        <th translate="stepApp.attachment.Status">Status</th>
                                        <th translate="stepApp.attachment.ActionDate">Action Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="mpoApplicationlog in mpoApplicationlogs">
                                        <td>{{mpoApplicationlog.remarks}}</td>
                                        <td>{{mpoApplicationlog.fromDate}}</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </tab>
                <div class="col-sm-12 padding-bt no-print">
                    <tr> <button class="btn btn-primary alignright" ui-sref="apApprove({appid: timescaleId,apAll:apAll})" ng-show="showApproveButton" >Approve</button></tr>
                    <tr> <button class="btn btn-primary alignright" ui-sref="apDeny({appid: timescaleId,apAll:apAll})" ng-show="showApproveButton" >Decline</button></tr>
                </div>
            </tabset>
            <div class="pull-left">
                <span class="btn btn-primary" onclick="window.history.back()" translate="{{'stepApp.employee.back'}}">back</span>
            </div>

                <button type="submit" class="btn btn-sm btn-primary no-print pull-right" onclick="window.print()" >
                    <i class="fa fa-print"></i>&nbsp;
                    <span translate="entity.action.print" >Print</span>
                </button>

        </div>
    </div>

