<div class="col-md-12 common-dialogue">
    <h4 ng-show="assetDestroy.id == null" class="panel-heading" id="myAssetDestroyLabel"
        translate="stepApp.assetDestroy.home.createOrEditLabel">Create or edit a AssetDestroy</h4>
    <h4 ng-show="assetDestroy.id != null" class="panel-heading" id="myAssetDestroyLabel"
        translate="stepApp.assetDestroy.home.EditLabel">Create or edit a AssetDestroy</h4>
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <div class="col-md-12 padding-bt">

            <div class=" col-md-6 ">
                <div class="form-group">
                    <label translate="stepApp.assetDestroy.transferReference" for="" class=" control-label">Asset
                        Reference No</label>

                    <div class="input-margin">
                        <input readonly disabled="disabled" type="text" class="form-control" id="" placeholder=""
                               ng-model="assetDestroy.assetCode.referenceNo">
                    </div>
                </div>
            </div>
            <div hidden class="input-margin">
                <input readonly disabled="disabled" type="text" class="form-control" name="refNo"
                       id="field_refNo"
                       ng-model="assetDestroy.transferReference"
                />
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label translate="stepApp.assetDestroy.assetCode" class="  control-label" for="field_assetCode">Asset
                        Code</label>

                    <div class="input-margin">
                        <select name="assetCode" class="form-control" id="field_assetCode" ng-model="assetDestroy.assetCode" required
                                ng-options="assetRecord as assetRecord.recordCode for assetRecord in assetRecords track by assetRecord.id" ng-change="refNoAssign(assetDestroy.assetCode.referenceNo)">
                            <option value="Select Asset Code"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="  control-label" translate="stepApp.assetDestroy.assetName" for=fieldD_assetName>assetName</label>

                    <div class="input-margin">
                        <input readonly disabled="disabled" type="text" class="form-control" name="assetName"
                               ng-model="assetDestroy.assetCode.assetName"
                               required/>
                        <div ng-show="editForm.assetName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.assetName.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetDestroy.purchaseDate">purchase Date</label>

                    <div class="input-margin">
                        <input readonly disabled="disabled" type="text" class="form-control" name="purchaseDate"
                               ng-model="assetDestroy.assetCode.purchaseDate"
                               required/>
                        <div ng-show="editForm.purchaseDate.$invalid">
                            <p class="help-block"
                               ng-show="editForm.purchaseDate.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetDestroy.vendorName">vendor name</label>

                    <div class="input-margin">
                        <input readonly disabled="disabled" type="text" class="form-control" name="vendorName"
                               ng-model="assetDestroy.assetCode.vendorName"
                               required/>
                        <div ng-show="editForm.vendorName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.vendorName.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetDestroy.destroyDate" for="field_destroyDate">destroyDate</label>
                    <div class="input-margin">
                        <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.destroyDate"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'destroyDate')" class="form-control" name="destroyDate"
                               id="field_destroyDate"
                               ng-model="assetDestroy.destroyDate"
                               ng-change="DateChecked(assetDestroy.assetCode.purchaseDate,assetDestroy.destroyDate)"
                               required/>
                        <div ng-show="editForm.destroyDate.$invalid">
                            <p class="help-block"
                               ng-show="editForm.destroyDate.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetDestroy.usedPeriod" for="field_usedPeriod">UsedPeriod</label>

                    <div class="input-margin">
                        <input type="number" class="form-control" name="usedPeriod" id="field_usedPeriod"
                               ng-model="assetDestroy.usedPeriod"
                        />
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetDestroy.causeOfDestroy">Destroyed Description</label>

                    <div class="input-margin">
                        <input type="text" class="form-control" name="causeOfDestroy"
                               ng-model="assetDestroy.causeOfDestroy"
                               required/>
                        <div ng-show="editForm.causeOfDestroy.$invalid">
                            <p class="help-block"
                               ng-show="editForm.causeOfDestroy.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">

                    <div class="text-right">

                        <button type="submit" class="btn btn-primary"
                                ng-disabled="editForm.$invalid || editForm.$submitted">
                            <i class="fa fa-hdd-o"></i>
                            <span ng-show="assetDestroy.id == null" translate="entity.action.save">Save</span>
                            <span ng-show="assetDestroy.id != null" translate="entity.action.update">Save</span>
                        </button>
                        <button type="button" class="btn btn-info" data-dismiss="modal" onclick="window.history.back()">
                            <span class="glyphicon glyphicon-ban-circle"></span><span translate="entity.action.cancel">Cancel</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
