<div class="common-table">
    <h2><span translate="stepApp.assetDestroy.detail.title">AssetDestroy</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.assetDestroy.transferReference">TransferReference</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetDestroy.transferReference}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetDestroy.destroyDate">DestroyDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetDestroy.destroyDate | date:'mediumDate'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetDestroy.purchaseDate">purchaseDate</span>
                    </td>
                    <td>{{assetDestroy.assetCode.purchaseDate | date:'mediumDate'}}</td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetDestroy.usedPeriod">UsedPeriod</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetDestroy.usedPeriod}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetDestroy.causeOfDestroy">CauseOfDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetDestroy.causeOfDestroy}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetDestroy.assetCode">assetCode</span>
                    </td>
                    <td>
                        <a ui-sref="assetRecord.detail({id:assetDestroy.assetRecord.id})">{{assetDestroy.assetCode.id}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetDestroy.assetName">assetName</span>
                    </td>
                    <td>
                        <a ui-sref="assetRecord.detail({id:assetDestroy.assetRecord.id})">{{assetDestroy.assetCode.assetName}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetDestroy.vendorName">vendorName</span>
                    </td>
                    <td>
                        <a ui-sref="assetRecord.detail({id:assetDestroy.assetRecord.id})">{{assetDestroy.assetCode.vendorName}}</a>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
