<div class="col-md-12 common-list">
    <h2 translate="stepApp.trainerInformation.home.title">Trainer Information</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <!--<button class="btn btn-primary" ui-sref="trainingInfo.trainerInformation.new">-->
                <!--<span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.trainerInformation.home.createLabel">Create a new TrainerInformation</span>-->
            <!--</button>-->
        </div>
    </div>


    <div class="modal fade" id="deleteTrainerInformationConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(trainerInformation.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.trainerInformation.delete.question" translate-values="{id: '{{trainerInformation.id}}'}">Are you sure you want to delete this TrainerInformation?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center" translate="global.form.serial">serial</th>
                    <th translate="stepApp.trainerInformation.trainingCode">trainingCode</th>
                    <th translate="stepApp.trainerInformation.trainerId">TrainerId</th>
                    <th translate="stepApp.trainerInformation.trainerName">TrainerName</th>
                    <th translate="stepApp.trainerInformation.trainerType">TrainerType</th>
                    <!--<th translate="stepApp.trainerInformation.address">Address</th>-->
                    <th translate="stepApp.trainerInformation.designation">Designation</th>
                    <th translate="stepApp.trainerInformation.department">Department</th>
                    <th translate="stepApp.trainerInformation.organization">Organization</th>
                    <!--<th translate="stepApp.trainerInformation.mobileNumber">MobileNumber</th>-->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!--<tr ng-repeat="trainerInformation in trainerInformations track by trainerInformation.id">-->
                <tr dir-paginate="trainerInformation in trainerInformations | filter:q | itemsPerPage: pageSize track by trainerInformation.id" current-page="currentPage">
                    <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                    <td>{{trainerInformation.trainingInitializationInfo.trainingCode}}</td>
                    <td>{{trainerInformation.trainerId}}</td>
                    <td>{{trainerInformation.trainerName}}</td>
                    <td>{{trainerInformation.trainerType}}</td>
                    <!--<td>{{trainerInformation.address}}</td>-->
                    <td>{{trainerInformation.designation}}</td>
                    <td>{{trainerInformation.department}}</td>
                    <td>{{trainerInformation.organization}}</td>
                    <!--<td>{{trainerInformation.mobileNumber}}</td>-->
                    <td>
                        <button type="submit"
                                ui-sref="trainingInfo.trainerInformation.detail({id:trainerInformation.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <!--<button type="submit"-->
                                <!--ui-sref="trainerInformation.edit({id:trainerInformation.id})"-->
                                <!--class="btn btn-primary btn-sm">-->
                            <!--<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--ng-click="delete(trainerInformation.id)"-->
                                <!--class="btn btn-danger btn-sm">-->
                            <!--<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>-->
                        <!--</button>-->
                    </td>
                </tr>
            </tbody>
        </table>
        <nav class="no-print">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
