
<div class="common-table">
    <h2><span translate="stepApp.trainerInformation.detail.title">TrainerInformation</span></h2>
    <div class="table-responsive">
        <div class="col-md-12 padding-tb">
            <h5 class="trainerinfo">Trainer Information</h5>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.trainerInformation.trainingCode">trainingInitializationInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="trainingInitializationInfo.detail({id:trainerInformation.trainingInitializationInfo.id})">{{trainerInformation.trainingInitializationInfo.trainingCode}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainerInformation.trainerId">TrainerId</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerInformation.trainerId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainerInformation.trainerName">TrainerName</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerInformation.trainerName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainerInformation.trainerType">TrainerType</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerInformation.trainerType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainerInformation.address">Address</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerInformation.address}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainerInformation.designation">Designation</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerInformation.designation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainerInformation.department">Department</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerInformation.department}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainerInformation.organization">Organization</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerInformation.organization}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainerInformation.mobileNumber">MobileNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerInformation.mobileNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainerInformation.emailId">EmailId</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerInformation.emailId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainerInformation.specialSkills">SpecialSkills</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerInformation.specialSkills}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainerInformation.trainingAssignStatus">TrainingAssignStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainerInformation.trainingAssignStatus}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.trainerInformation.hrEmployeeInfo">hrEmployeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:trainerInformation.hrEmployeeInfo.id})">{{trainerInformation.hrEmployeeInfo.employeeId}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
