<div class="col-md-3 padding0">
    <ng-include src="'scripts/app/entities/sis/left-menu.html'"></ng-include>
</div>

<div class="col-md-9 common-table padding-right5 padding-left5">
    <h2><span translate="stepApp.jobPostingInfo.detail.title">JobPostingInfo</span> <!--{{jobPostingInfo.id}}--></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.jobPostingInfo.jobPostId">JobPostId</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPostingInfo.jobPostId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPostingInfo.jobTitle">JobTitle</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPostingInfo.jobTitle}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPostingInfo.organizatinName">OrganizatinName</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPostingInfo.organizatinName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPostingInfo.jobNature">jobNature</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="jobType.detail({id:jobPostingInfo.jobNature.id})">{{jobPostingInfo.jobNature.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPostingInfo.jobVacancy">JobVacancy</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPostingInfo.jobVacancy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPostingInfo.salaryRange">SalaryRange</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPostingInfo.salaryRange}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPostingInfo.jobSource">JobSource</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPostingInfo.jobSource}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPostingInfo.publishedDate">PublishedDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPostingInfo.publishedDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPostingInfo.applicationDateLine">ApplicationDateLine</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPostingInfo.applicationDateLine | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPostingInfo.jobDescription">JobDescription</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPostingInfo.jobDescription}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPostingInfo.jobFileName">JobFileName</span>
                </td>
                <td>
                    <span class="form-control-static">{{jobPostingInfo.jobFileName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jobPostingInfo.upload">Upload</span>
                </td>
                <td>

                    <button type="submit"
                            ng-click="previewImage(jobPostingInfo.upload, jobPostingInfo.uploadContentType, jobPostingInfo.jobFileName)"
                            class="btn btn-warning btn-sm" tooltip="Show JobPosting">
                        <span class="glyphicon glyphicon-picture"></span>

                    </button>
                </td>
            </tr>


            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
