<div class="col-md-3 padding0">
    <ng-include src="'scripts/app/entities/sis/left-menu.html'"></ng-include>
</div>

<div class="common-list col-md-9 padding-left5">
    <div class="col-md-12"><h2 translate="stepApp.jobPostingInfo.home.title">JobPostingInfos</h2></div>
    <div class="col-md-12 padding-bt no_padding">
            <div class="col-md-4 no_padding">
                <div class="input-group">
                    <span class="input-group-addon dlbtn" id="basic-addon1"><i class="fa fa-search"></i></span>
                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                </div>
            </div>
            <div class="col-md-4 padding-bt">
                <div class="input-group">
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
            </div>
        <div class="col-md-4 no_padding text-right ">
            <button class="btn btn-primary" ui-sref="jobPostingInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.jobPostingInfo.home.createLabel">Add New</span>
            </button>
        </div>
    </div>
    <div class="table-responsive col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.serial">Serial</th>
                <th translate="stepApp.jobPostingInfo.jobTitle">JobTitle</th>
                <th translate="stepApp.jobPostingInfo.organizatinName">OrganizatinName</th>
                <th translate="stepApp.jobPostingInfo.jobNature">jobNature</th>
                <th translate="stepApp.jobPostingInfo.jobVacancy">JobVacancy</th>
                <th translate="stepApp.jobPostingInfo.salaryRange">SalaryRange</th>
                <th translate="stepApp.jobPostingInfo.upload">Upload</th>

                <th></th>
            </tr>
            </thead>
            <tbody>

            <tr ng-animate="'animate'" dir-paginate="jobPostingInfo in jobPostingInfos | filter:q | itemsPerPage: pageSize track by jobPostingInfo.id" current-page="currentPage">
                <td>{{pageSize*(currentPage-1)+$index+1}}</td>
                <td>{{jobPostingInfo.jobTitle}}</td>
                <td>{{jobPostingInfo.organizatinName}}</td>
                <td>
                    <a ui-sref="jobType.detail({id:jobPostingInfo.jobNature.id})">{{jobPostingInfo.jobNature.name}}</a>
                </td>
                <td>{{jobPostingInfo.jobVacancy}}</td>
                <td>{{jobPostingInfo.salaryRange}}</td>
                <td>
                    <button type="submit"
                            ng-click="previewImage(jobPostingInfo.upload, jobPostingInfo.uploadContentType, jobPostingInfo.jobFileName)"
                            class="btn btn-warning btn-sm" tooltip="Show JobPosting">
                        <span class="glyphicon glyphicon-picture"></span>

                    </button>

                </td>

                <td class="text-right">
                    <button type="submit"
                            ui-sref="jobPostingInfo.detail({id:jobPostingInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="jobPostingInfo.edit({id:jobPostingInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ui-sref="jobPostingInfo.delete({id:jobPostingInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>

</div>

