<div class="col-sm-3 padding0">
    <ng-include src="'scripts/app/entities/sis/left-menu.html'"></ng-include>
</div>
<div class="col-sm-9 common-dialogue">
<form class="col-sm-12 no_padding" name="editForm" role="form" novalidate ng-submit="save()">
        <div>
            <h4 id="myJobPostingInfoLabel" translate="stepApp.jobPostingInfo.home.createOrEditLabel">Create or edit a JobPostingInfo</h4>
        </div>

    <div class="sis-dialog col-sm-12 no_padding">

        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.jobPostingInfo.jobTitle" for="field_jobTitle">JobTitle</label>
                <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="jobTitle" id="field_jobTitle"
                       ng-model="jobPostingInfo.jobTitle"
                       required />
                <div ng-show="editForm.jobTitle.$invalid">
                    <p class="help-block"
                       ng-show="editForm.jobTitle.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.jobPostingInfo.organizatinName" for="field_organizatinName">OrganizatinName</label>
                <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="organizatinName" id="field_organizatinName"
                       ng-model="jobPostingInfo.organizatinName"
                       required />
                <div ng-show="editForm.organizatinName.$invalid">
                    <p class="help-block"
                       ng-show="editForm.organizatinName.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.jobPostingInfo.jobNature" for="field_jobNature">jobNature</label>
                <select class="form-control" id="field_jobNature" name="jobNature"
                        ng-model="jobPostingInfo.jobNature"
                        ng-options="jobType as jobType.name for jobType in jobtypes track by jobType.id" ng-change="appearGrade(jobPostingInfo.jobNature)">
                    <option value="Select Job Type"></option>
                </select>
            </div>
        </div>

        <div ng-hide="gradeShow" class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.jobPostingInfo.gradeJob" for="field_gradeId">gradeJob</label>
                <select class="form-control" id="field_gradeId" name="gradeJob"
                        ng-model="jobPostingInfo.gradeJob"
                        ng-options="payScale as payScale.code for payScale in payScales track by payScale.id">
                    <option value="Select Grade Type"></option>
                </select>
            </div>
        </div>


        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.jobPostingInfo.jobVacancy" for="field_jobVacancy">JobVacancy</label>
                <input only-numbers type="text" class="form-control" name="jobVacancy" id="field_jobVacancy"
                       ng-model="jobPostingInfo.jobVacancy"
                       required />
                <div ng-show="editForm.jobVacancy.$invalid">
                    <p class="help-block"
                       ng-show="editForm.jobVacancy.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.jobPostingInfo.salaryRange" for="field_salaryRange">SalaryRange</label>
                <input type="text" class="form-control" name="salaryRange" id="field_salaryRange"
                       ng-model="jobPostingInfo.salaryRange"
                       required />
                <div ng-show="editForm.salaryRange.$invalid">
                    <p class="help-block"
                       ng-show="editForm.salaryRange.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.jobPostingInfo.jobSource" for="field_jobSource">JobSource</label>
                <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="jobSource" id="field_jobSource"
                       ng-model="jobPostingInfo.jobSource"
                       required />
                <div ng-show="editForm.jobSource.$invalid">
                    <p class="help-block"
                       ng-show="editForm.jobSource.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.jobPostingInfo.jobDescription" for="field_jobDescription">jobDescription</label>
                <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="jobDescription" id="field_jobDescription"
                       ng-model="jobPostingInfo.jobDescription"
                       required />
                <div ng-show="editForm.jobDescription.$invalid">
                    <p class="help-block"
                       ng-show="editForm.jobDescription.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.jobPostingInfo.publishedDate" for="field_publishedDate">PublishedDate</label>

                <div class="input-margin">
                    <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.publishedDate"
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'publishedDate')" class="form-control" name="publishedDate"
                           id="field_publishedDate"
                           ng-model="jobPostingInfo.publishedDate"
                           required/>

                    <div ng-show="editForm.publishedDate.$invalid">
                        <p class="help-block"
                           ng-show="editForm.publishedDate.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.jobPostingInfo.applicationDateLine" for="field_applicationDateLine">ApplicationDateLine</label>

                <div class="input-margin">
                    <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.applicationDateLine"
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'applicationDateLine')" class="form-control" name="applicationDateLine"
                           id="field_applicationDateLine"
                           ng-model="jobPostingInfo.applicationDateLine"
                           ng-change="applicationDate(jobPostingInfo.publishedDate,jobPostingInfo.applicationDateLine)"
                           required/>

                    <div ng-show="editForm.applicationDateLine.$invalid">
                        <p class="help-block"
                           ng-show="editForm.applicationDateLine.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Starting--------------------------------------->
        <div class="col-md-6">
            <div class="form-group" ngf-drop ngf-change="setContentImage($file, jobPostingInfo)">
                <div class="col-sm-12">
                    <label class="control-label" translate="stepApp.jobPostingInfo.upload" for="field_Upload">
                        Upload</label>
                    <div>
                        <div class="help-block clearfix">
                    <span
                        class="pull-left">{{jobPostingInfo.uploadContentType}} {{byteSize(jobPostingInfo.upload)}}</span>

                            <button ng-click="jobPostingInfo.upload=null; jobPostingInfo.uploadContentType=null;"
                                    ng-if="jobPostingInfo.upload"
                                    class="btn btn-default btn-xs pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>

                        <div class="col-md-9 no_padding">
                            <input type="text" readonly class="form-control" name="jobFileName"
                                   ng-model="jobPostingInfo.jobFileName"/>

                        </div>
                        <div class="col-md-3 no_padding">
                            <button type="file"
                                    ngf-select class="btn btn-default btn-block"
                                    ngf-change="setContentImage($file, jobPostingInfo)"
                                    accept="{{allowedFileTypes}}"
                                    ng-show="!fileUploadFinished"
                                    translate="entity.action.addblob">
                            </button>
                        </div>
                        <div class="col-md-2"
                             ng-show="jobPostingInfo.jobFileName!=null && jobPostingInfo.upload.id!=null">
                            <a class="download-afl btn btn-primary" href="/backup/jobPostingInfo/{{jobPostingInfo.jobFileName}}"

                               class="btn btn-primary" download>Download
                            </a>
                        </div>

                        <input type="hidden" class="form-control" name="upload" id="field_upload"
                               ng-model="jobPostingInfo.jobFileName"
                            />
                        <input type="hidden" class="form-control" name="uploadContentType" id="field_uploadContentType"
                               ng-model="jobPostingInfo.uploadContentType"
                            />

                    </div>


                </div>
            </div>
        </div>

        <!--Ending ------------------------------------------>

    </div>
    <div class="modal-footer col-sm-12 no_padding">
        <div class="col-md-12">
            <button type="button" class="btn btn-default" class="btn " data-dismiss="modal" onclick="window.history.back()">
                <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.cancel">Back</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
            </button>
        </div>

    </div>
</form>
</div>
