<div class="col-sm-3 padding0">
    <ng-include src="'scripts/app/entities/sis/left-menu.html'"></ng-include>
</div>
<div class="common-list col-sm-9 padding-left5">
    <div class="col-md-6 ">
        <div class="padding-bt">
            <form name="searchForm" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery">
                </div>
                <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span>
                </button>
            </form>
        </div>
        <h2 translate="stepApp.jobPostingInfo.home.JobTitle">Job List</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th ng-click="order('title', reverse=!reverse)"
                        translate="stepApp.jobPostingInfo.jobTitle">Title</th>
                    <th ng-click="order('organizatinName', reverse=!reverse)"
                        translate="stepApp.jobPostingInfo.organizatinName">Organizatin Name</th>
                    <th ng-click="order('applicationDateLine', reverse=!reverse)"
                        translate="stepApp.jobPostingInfo.applicationDateLine">application DateLine</th>
                    <th>
                     <span type="submit"
                           ng-click="previewCategory(); NoData()"
                           class="" tooltip="Please click to Show Category">
                     <span class="glyphicon glyphicon-cog"></span>
                     </span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="job in jobs track by job.id" >
                    <td>
                        <a ui-sref="job.detail({id:job.id})">{{job.cat.cat}}</a>
                    </td>
                    <td>
                        <span class="form-control-static">{{job.employer.name}}</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{job.applicationDeadline | date:'mediumDate'}}</span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="col-md-6  ">
        <div class="padding-bt">
            <form name="searchForm" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery">
                </div>
                <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span>
                </button>
            </form>
        </div>
        <h2 translate="stepApp.jobPostingInfo.home.titles">JobSuggestionInfos</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th translate="stepApp.jobPostingInfo.jobTitle">JobTitle</th>
                    <th translate="stepApp.jobPostingInfo.organizatinName">OrganizatinName</th>
                    <th translate="stepApp.jobPostingInfo.applicationDateLine" style="text-align: right">ApplicationDateLine</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="jobPostingInfo in jobPostingInfos track by jobPostingInfo.id">
                    <td>
                        <a ui-sref="jobPostingInfo.detail({id:jobPostingInfo.id})">{{jobPostingInfo.jobTitle}}</a>
                    </td>
                    <td>
                        <a ui-sref="jobPostingInfo.detail({id:jobPostingInfo.id})">{{jobPostingInfo.organizatinName}}</a>
                    </td>
                    <td style="text-align: right">
                        <a ui-sref="jobPostingInfo.detail({id:jobPostingInfo.id})">{{jobPostingInfo.applicationDateLine | date:'mediumDate'}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
