<div class="common-table">
    <h2><span translate="stepApp.instCategory.detail.title">InstCategory:</span> {{instCategory.name}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.instGenInfo.type">Code</span>
                </td>
                <td>
                    <span class="form-control-static">{{instCategory.type}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.instCategory.code">Code</span>
                </td>
                <td>
                    <span class="form-control-static">{{instCategory.code}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.instCategory.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{instCategory.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instCategory.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{instCategory.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instCategory.pStatus">PStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{instCategory.pStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.instCategory.createdDate">CreatedDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{instCategory.createdDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instCategory.updatedDate">UpdatedDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{instCategory.updatedDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instCategory.createdBy">CreatedBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{instCategory.createdBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instCategory.updatedBy">UpdatedBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{instCategory.updatedBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instCategory.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{instCategory.status}}</span>
                </td>
            </tr>-->
            </tbody>
        </table>
    </div>
    <div class="no-print   text-right" >
        <button type="submit" name="submit" onclick="window.print()" class="btn btn-primary">
            <span class="glyphicon glyphicon-print"></span>&nbsp;<span
            translate="entity.action.print">Print</span>
        </button>
    </div>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
