<div class="col-md-12 common-list padding-left5 padding-right0">
<h2 translate="stepApp.hrEmpIncrementInfo.home.title">HrEmpIncrementInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrEmpIncrementInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.hrEmpIncrementInfo.home.createLabel">Create a new HrEmpIncrementInfo</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th><span translate="global.field.serial">Serial</span></th>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="stepApp.hrEmpIncrementInfo.employeeInfo">employeeInfo</span></th>
                    <th><span translate="stepApp.hrEmpIncrementInfo.incrementAmount">IncrementAmount</span></th>
                    <th><span translate="stepApp.hrEmpIncrementInfo.incrementDate">IncrementDate</span> </th>
                    <th><span translate="stepApp.hrEmpIncrementInfo.basic">Basic</span> </th>
                    <th><span translate="stepApp.hrEmpIncrementInfo.basicDate">BasicDate</span> </th>
                    <th><span translate="stepApp.hrEmpIncrementInfo.jobCategory">jobCategory</span></th>
                    <th><span translate="stepApp.hrEmpIncrementInfo.payScale">payScale</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'" dir-paginate="hrEmpIncrementInfo in hrEmpIncrementInfos | filter:q | itemsPerPage: pageSize track by hrEmpIncrementInfo.id" current-page="currentPage">
                    <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                    <td><a ui-sref="hrEmpIncrementInfo.detail({id:hrEmpIncrementInfo.id})">{{hrEmpIncrementInfo.id}}</a></td>
                    <td>
                        <a ui-sref="hrEmployeeInfo.detail({id:hrEmpIncrementInfo.employeeInfo.id})">{{hrEmpIncrementInfo.employeeInfo.fullName}}</a>
                    </td>
                    <td>{{hrEmpIncrementInfo.incrementAmount}}</td>
                    <td>{{hrEmpIncrementInfo.incrementDate | date:'mediumDate'}}</td>
                    <td>{{hrEmpIncrementInfo.basic}}</td>
                    <td>{{hrEmpIncrementInfo.basicDate | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="miscTypeSetup.detail({id:hrEmpIncrementInfo.jobCategory.id})">{{hrEmpIncrementInfo.jobCategory.typeName}}</a>
                    </td>
                    <td>
                        <a ui-sref="hrPayScaleSetup.detail({id:hrEmpIncrementInfo.payScale.id})">{{hrEmpIncrementInfo.payScale.payScaleCode}}</a>
                    </td>
                    <td class="text-right no-print">
                        <button type="submit"
                                ui-sref="hrEmpIncrementInfo.detail({id:hrEmpIncrementInfo.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit" ng-hide="false"
                                ui-sref="hrEmpIncrementInfo.edit({id:hrEmpIncrementInfo.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit" ng-hide="true"
                                ui-sref="hrEmpIncrementInfo.delete({id:hrEmpIncrementInfo.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
