<div class="col-md-12 common-table padding-right0 padding-left5">
<h2><span translate="stepApp.hrEmpIncrementInfo.detail.title">HrEmpIncrementInfo</span> of {{hrEmpIncrementInfo.employeeInfo.fullName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpIncrementInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrEmpIncrementInfo.employeeInfo.id})">{{hrEmpIncrementInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpIncrementInfo.jobCategory">jobCategory</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="miscTypeSetup.detail({id:hrEmpIncrementInfo.jobCategory.id})">{{hrEmpIncrementInfo.jobCategory.typeName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpIncrementInfo.payScale">payScale</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="HrPayScaleSetup.detail({id:hrEmpIncrementInfo.payScale.id})">{{hrEmpIncrementInfo.payScale.payScaleCode}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpIncrementInfo.incrementAmount">IncrementAmount</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpIncrementInfo.incrementAmount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpIncrementInfo.incrementDate">IncrementDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpIncrementInfo.incrementDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpIncrementInfo.basic">Basic</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpIncrementInfo.basic}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpIncrementInfo.basicDate">BasicDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpIncrementInfo.basicDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpIncrementInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpIncrementInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpIncrementInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpIncrementInfo.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpIncrementInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpIncrementInfo.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpIncrementInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpIncrementInfo.updateDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpIncrementInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpIncrementInfo.updateBy}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back">back</span>
    </button>
</div>
