<div class="col-md-12 common-dialogue padding-left5 padding-right0">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="hrEmpIncrementInfo.id == null" class="modal-title" id="myHrEmpIncrementInfoLabel"
            translate="stepApp.hrEmpIncrementInfo.home.createOrEditLabel">Create or edit a HrEmpIncrementInfo</h4>
        <h4 ng-show="hrEmpIncrementInfo.id != null" class="modal-title" id="myHrEmpIncrementInfoLabel2"
            translate="stepApp.hrEmpIncrementInfo.home.EditLabel">Create or edit a HrEmpIncrementInfo</h4>
        <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" translate="global.home.orgOrInst" for="field_toOrganizationType">toOrganizationType</label>
                            <div class="input-margin">
                                <select class="form-control" id="field_toOrganizationType" name="toOrganizationType"
                                        ng-model="orgOrInst" required>
                                    <option selected disabled value="">-- Select Organization Type --</option>
                                    <option value="Organization">Organization</option>
                                    <option value="Institute">Institute</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-if="orgOrInst=='Organization'">
                        <div class="col-md-12 padding0">
                            <div class="form-group col-sm-6">
                                <label class="control-label" for="field_workArea"
                                       translate="stepApp.hrEmpChildrenInfo.workarea">Work
                                    Area</label>
                                <select class="form-control" id="field_workArea" name="workArea" ng-model="workArea"
                                        ng-change="loadModelByWorkArea(workArea)"
                                        ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id">
                                    <option value="">Select Work Area</option>
                                </select>
                                <span class="help">No of Employee: {{hremployeeinfos.length}}</span>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpChildrenInfo.employeeInfo"
                                       for="field_employeeInfo">employeeInfo</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control autocomplete" autocomplete="off"
                                           ng-model="hrEmpIncrementInfo.employeeInfo"
                                           ng-blur="loadHrEmployee(hrEmpIncrementInfo)"
                                           typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfos | filter:$viewValue'
                                           id="field_employeeInfo" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="(orgOrInst=='Institute')" class="col-md-6 col-lg-6">
                        <label class="control-label" translate="stepApp.hrEmpChildrenInfo.employeeInfo"
                               for="field_employeeInfo">employeeInfo</label>
                        <div class="input-margin">
                            <input type="text" class="form-control autocomplete" autocomplete="off"
                                   ng-model="hrEmpIncrementInfo.employeeInfo"
                                   typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfosOfInstitute | filter:$viewValue'
                                   id="field_employeeInfo" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 " ng-hide="hrEmpIncrementInfo.employeeInfo.fullName ==null">
                        <table class="table table-bordered table-responsive">
                            <tbody class="hrm-info-table">
                            <tr>
                                <td><strong>Name: </strong></td>
                                <td>{{hrEmpIncrementInfo.employeeInfo.fullName}}</td>
                                <td><strong>Employee ID:</strong></td>
                                <td>{{hrEmpIncrementInfo.employeeInfo.employeeId}}</td>
                            </tr>
                            <tr>
                                <td><strong>Contact No:</strong></td>
                                <td>{{hrEmpIncrementInfo.employeeInfo.mobileNumber}}</td>
                                <td><strong>Email:</strong></td>
                                <td>{{hrEmpIncrementInfo.employeeInfo.emailAddress}}</td>
                            </tr>
                            <tr>
                                <td><strong>Section:</strong></td>
                                <td>{{hrEmpIncrementInfo.employeeInfo.departmentInfo.departmentInfo.departmentName}}
                                </td>
                                <td><strong>Designation:</strong></td>
                                <td>
                                    {{hrEmpIncrementInfo.employeeInfo.designationInfo.designationInfo.designationName}}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Organization:</strong></td>
                                <td>{{hrEmpIncrementInfo.employeeInfo.workAreaDtl.name}}</td>
                                <td><strong>Grade: </strong></td>
                                <td>{{hrEmpIncrementInfo.employeeInfo.gradeInfo.gradeCode}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-6 col-sm-6 btn-xs-6 btn-lg-6">
                        <div class="form-group ">
                            <label translate="stepApp.hrEmpIncrementInfo.jobCategory"
                                   for="field_jobCategory">jobCategory</label>
                            <div class="input-margin">
                                <select class="form-control" id="field_jobCategory" name="jobCategory"
                                        ng-model="hrEmpIncrementInfo.jobCategory"
                                        ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in misctypesetups track by MiscTypeSetup.id">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 btn-xs-6 btn-lg-6">
                        <div class="form-group ">
                            <label translate="stepApp.hrEmpIncrementInfo.payScale" for="field_payScale">payScale</label>
                            <div class="input-margin">
                                <select class="form-control" id="field_payScale" name="payScale"
                                        ng-model="hrEmpIncrementInfo.payScale" required
                                        ng-options="PrlPayscaleBasicInfo as PrlPayscaleBasicInfo.basicAmount for PrlPayscaleBasicInfo in basicInfoList track by PrlPayscaleBasicInfo.id">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 btn-xs-6 btn-lg-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpIncrementInfo.incrementAmount"
                                   for="field_incrementAmount">IncrementAmount</label>
                            <div class="input-margin">
                                <input type="number" class="form-control" name="incrementAmount"
                                       id="field_incrementAmount"
                                       ng-model="hrEmpIncrementInfo.incrementAmount"
                                       required/>
                                <div ng-show="editForm.incrementAmount.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.incrementAmount.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.incrementAmount.$error.number"
                                       translate="entity.validation.number">
                                        This field should be a number.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6 btn-xs-6 btn-lg-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpIncrementInfo.incrementDate"
                                   for="field_incrementDate">IncrementDate</label>
                            <div class="input-margin">
                                <input datepicker-popup="{{calendar.dateFormat}}"
                                       is-open="calendar.opened.incrementDate"
                                       datepicker-options="calendar.dateOptions" close-text="Close"
                                       ng-click="calendar.open($event, 'incrementDate')" class="form-control"
                                       name="incrementDate" id="field_incrementDate"
                                       ng-model="hrEmpIncrementInfo.incrementDate"
                                       required/>
                                <div ng-show="editForm.incrementDate.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.incrementDate.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--
                    <div class="col-md-6 col-sm-6 btn-xs-6 btn-lg-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpIncrementInfo.basic" for="field_basic">Basic</label>
                            <div class="input-margin">
                                <input type="number" class="form-control" name="basic" id="field_basic"
                                       ng-model="hrEmpIncrementInfo.basic"/>
                                <div ng-show="editForm.basic.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.basic.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.basic.$error.number" translate="entity.validation.number">
                                        This field should be a number.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div> -->


                    <div class="col-md-6 col-sm-6 btn-xs-6 btn-lg-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpIncrementInfo.basicDate"
                                   for="field_basicDate">BasicDate</label>
                            <div class="input-margin">
                                <input datepicker-popup="{{calendar.dateFormat}}"
                                       is-open="calendar.opened.basicDate"
                                       datepicker-options="calendar.dateOptions" close-text="Close"
                                       ng-click="calendar.open($event, 'basicDate')" class="form-control"
                                       name="basicDate" id="field_basicDate"
                                       ng-model="hrEmpIncrementInfo.basicDate"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 btn-xs-6 btn-lg-6">
                        <div class="form-group ">
                            <label class="control-label"
                                   translate="stepApp.hrEmpIncrementInfo.activeStatus">ActiveStatus</label>
                            <div class="input-margin">
                    <span>
                        <input type="radio" data-ng-model="hrEmpIncrementInfo.activeStatus" name="activeStatus"
                               data-ng-value="true">&nbsp;<span translate="stepApp.hrEmpIncrementInfo.active"></span>&nbsp;|&nbsp;
                        <input type="radio" data-ng-model="hrEmpIncrementInfo.activeStatus" name="activeStatus"
                               data-ng-value="false">&nbsp;<span translate="stepApp.hrEmpIncrementInfo.inactive"></span>
                    </span>
                                <div ng-show="editForm.activeStatus.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.activeStatus.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    onclick="window.history.back()">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;<span
                translate="entity.action.cancel">Back</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="hrEmpIncrementInfo.id == null" translate="entity.action.save">Save</span>
                <span ng-show="hrEmpIncrementInfo.id != null" translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>
