<div class="common-dialogue">
    <div class="panel panel-default">
            <h4 class="modal-title" id="myHrEmploymentInfoLabel"><span
                translate="stepApp.hrEmpIncrementInfo.home.profileViewEditTitle"></span> : {{hrEmployeeInfo.fullName}}
            </h4>

        <div class="panel-body bg-panel hr_label">
            <div class="row hrm-view">
                <span ng-show="addMode">
                    <span ng-show="noEmployeeFound" class="alert">Employee is not created yet.</span>
                </span>
            </div>
            <form class=" " name="editForm" role="form" ng-submit="save()" novalidate show-validation>
                <div class="panel-group">
                    <div class="">
                        <div class="row hrm-view panel-heading no_padding" has-any-authority="ROLE_HRM_ADMIN,ROLE_ADMIN">
                            <div class="col-sm-12 no_padding text-right">
                                <button ng-hide="noEmployeeFound" type="button"
                                        ng-click="changeProfileMode(hrEmpIncrementInfo)"
                                        class="btn btn-primary btn-sm">{{hrEmpIncrementInfo.viewModeText}}
                                </button>
                            </div>
                        </div>
                        <div class="row common-table" ng-show="hrEmpIncrementInfo.viewMode">
                            <div class="col-md-12 padding0">
                                <table class="table dtetables">
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpIncrementInfo.jobCategory"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpIncrementInfo.jobCategory.typeName}}</td>
                                        <td><strong translate="stepApp.hrEmpIncrementInfo.payScale"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpIncrementInfo.payScale.basicAmount}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpIncrementInfo.incrementAmount"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpIncrementInfo.jobCategory.incrementAmount}}</td>
                                        <td><strong translate="stepApp.hrEmpIncrementInfo.incrementDate"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpIncrementInfo.incrementDate | date:'mediumDate'}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpIncrementInfo.basicDate"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpIncrementInfo.basicDate | date:'mediumDate'}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpIncrementInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <div  class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpIncrementInfo.jobCategory"
                                           for="field_jobCategory">jobCategory</label>
                                    <select class="form-control" id="field_jobCategory" name="jobCategory"
                                            ng-model="hrEmpIncrementInfo.jobCategory"
                                            ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in misctypesetups track by MiscTypeSetup.id"
                                            required>
                                        <option value=""></option>
                                    </select>
                                </div>
                                <!--<div ng-show="hrEmpIncrementInfo.viewMode">
                                    <label class="control-label" translate="stepApp.hrEmpIncrementInfo.jobCategory"
                                           for="field_jobCategory">jobCategory</label>
                                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmpIncrementInfo.jobCategory.typeName}}</span>
                                </div>-->
                            </div>

                            <div class="form-group col-sm-6">&nbsp;</div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpIncrementInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <div  class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpIncrementInfo.payScale"
                                           for="field_payScale">payScale</label>
                                    <select class="form-control" id="field_payScale" name="payScale"
                                            ng-model="hrEmpIncrementInfo.payScale"
                                            ng-options="PrlPayscaleBasicInfo as PrlPayscaleBasicInfo.basicAmount for PrlPayscaleBasicInfo in basicInfoList track by PrlPayscaleBasicInfo.id">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <!--<div ng-show="hrEmpIncrementInfo.viewMode">
                                    <label class="control-label" translate="stepApp.hrEmpIncrementInfo.payScale"
                                           for="field_payScale">payScale</label>
                                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmpIncrementInfo.payScale.basicAmount}}</span>
                                </div>-->
                            </div>
                            <div class="form-group col-sm-6">
                                <div  class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpIncrementInfo.incrementAmount"
                                           for="field_incrementAmount">IncrementAmount</label>
                                    <input type="number" class="form-control" name="incrementAmount"
                                           id="field_incrementAmount"
                                           ng-model="hrEmpIncrementInfo.incrementAmount"
                                           required/>
                                    <div ng-show="editForm.incrementAmount.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.incrementAmount.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.incrementAmount.$error.number"
                                           translate="entity.validation.number">
                                            This field should be a number.
                                        </p>
                                    </div>
                                </div>
                                <!--<div ng-show="hrEmpIncrementInfo.viewMode">
                                    <label class="control-label" translate="stepApp.hrEmpIncrementInfo.incrementAmount"
                                           for="field_incrementAmount">IncrementAmount</label>
                                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmpIncrementInfo.incrementAmount}}</span>
                                </div>-->
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpIncrementInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <div  class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpIncrementInfo.incrementDate"
                                           for="field_incrementDate">IncrementDate</label>
                                    <input datepicker-popup="{{calendar.dateFormat}}"
                                           is-open="calendar.opened.incrementDate"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'incrementDate')" class="form-control"
                                           name="incrementDate" id="field_incrementDate"
                                           ng-model="hrEmpIncrementInfo.incrementDate"
                                           required/>
                                    <div ng-show="editForm.incrementDate.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.incrementDate.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                                <!--<div ng-show="hrEmpIncrementInfo.viewMode">
                                    <label class="control-label" translate="stepApp.hrEmpIncrementInfo.incrementDate"
                                           for="field_incrementDate">IncrementDate</label>
                                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmpIncrementInfo.incrementDate | date:'mediumDate'}}</span>
                                </div>-->
                            </div>
                            <div class="form-group col-sm-6">
                                <!--
                                <div ng-show="!hrEmpIncrementInfo.viewMode" class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpIncrementInfo.basic"
                                           for="field_basic">Basic</label>
                                    <input type="number" class="form-control" name="basic" id="field_basic"
                                           ng-model="hrEmpIncrementInfo.basic" required/>
                                    <div ng-show="editForm.basic.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.basic.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.basic.$error.number" translate="entity.validation.number">
                                            This field should be a number.
                                        </p>
                                    </div>
                                </div>
                                <div ng-show="hrEmpIncrementInfo.viewMode">
                                    <label class="control-label" translate="stepApp.hrEmpIncrementInfo.basic"
                                           for="field_basic">Basic</label>
                                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmpIncrementInfo.basic}}</span>
                                </div>
                                -->
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpIncrementInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <div  class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpIncrementInfo.basicDate"
                                           for="field_basicDate">BasicDate</label>
                                    <input datepicker-popup="{{calendar.dateFormat}}"
                                           is-open="calendar.opened.basicDate"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'basicDate')" class="form-control"
                                           name="basicDate" id="field_basicDate"
                                           ng-model="hrEmpIncrementInfo.basicDate"/>
                                </div>
                                <!--<div ng-show="hrEmpIncrementInfo.viewMode">
                                    <label class="control-label" translate="stepApp.hrEmpIncrementInfo.basicDate"
                                           for="field_basicDate">BasicDate</label>
                                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmpIncrementInfo.basicDate | date:'mediumDate'}}</span>
                                </div>-->
                            </div>
                            <div class="col-md-12 text-right" has-any-authority="ROLE_HRM_ADMIN,ROLE_ADMIN">
                                <button ng-show="!hrEmpIncrementInfo.viewMode" type="button"
                                        ng-click="changeProfileMode(hrEmpIncrementInfo)" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-remove"></span>&nbsp;{{hrEmpIncrementInfo.viewModeText}}
                                </button>
                                <button ng-show="!hrEmpIncrementInfo.viewMode"
                                        ng-click="updateProfile(hrEmpIncrementInfo)"
                                        type="button" ng-disabled="editForm.$invalid || isSaving"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                                    translate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

