<div class="col-md-12 common-dialogue">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="almLeaveType.id == null" class="modal-title" id="myAlmLeaveTypeLabel"
            translate="stepApp.almLeaveType.home.createOrEditLabel">Create or edit a AlmLeaveType</h4>
        <h4 ng-show="almLeaveType.id != null" class="modal-title" id="myAlmLeaveTypeLabel"
            translate="stepApp.almLeaveType.home.EditLabel">Create or edit a AlmLeaveType</h4>
        <div class="modal-body">
            <jh-alert-error></jh-alert-error>

            <div class="row">
                <div class="col-md-12 no_padding">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label translate="stepApp.almLeaveType.leaveTypeName" for="field_leaveTypeName">LeaveTypeName</label>

                            <input type="text" class="form-control" name="leaveTypeName" id="field_leaveTypeName"
                                   ng-model="almLeaveType.leaveTypeName"
                                   ng-remote-validate="/api/almLeaveTypes/checkname/"
                                   ng-remote-method="GET"
                                   ng-remote-throttle="500"
                                   tooltip="{{'stepApp.almLeaveType.leaveTypeName' | translate}}"
                                   placeholder="{{'stepApp.almLeaveType.leaveTypeName' | translate}}"
                                   required/>
                            <span class="message" ng-show="editForm.leaveTypeName.$pending">validating...</span>
                            <div ng-show="editForm.leaveTypeName.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.leaveTypeName.$error.ngRemoteValidate">
                                    Leave Type already exists
                                </p>
                            </div>
                            <div ng-show="editForm.leaveTypeName.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.leaveTypeName.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label translate="stepApp.almLeaveType.activeStatus"
                                   for="field_activeStatus">ActiveStatus</label>

            <span class="form-control">
                    <input tooltip="{{'stepApp.almLeaveType.activeStatus' | translate}}" type="radio"
                           data-ng-model="almLeaveType.activeStatus" name="activeStatus"
                           data-ng-value="true">&nbsp;<span translate="global.home.active">active</span>&nbsp;|&nbsp;
                    <input tooltip="{{'stepApp.almLeaveType.activeStatus' | translate}}" type="radio"
                           data-ng-model="almLeaveType.activeStatus" name="activeStatus"
                           data-ng-value="false">&nbsp;<span translate="global.home.inactive">inactive</span>
                </span>
                        </div>
                    </div>

                </div>


            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.almLeaveType.description" for="field_description">Description</label>
                    <textarea type="text" class="form-control" name="description" id="field_description"
                              ng-model="almLeaveType.description"
                              tooltip="{{'stepApp.almLeaveType.description' | translate}}"
                              placeholder="{{'stepApp.almLeaveType.description' | translate}}"
                              rows="3" cols="30"
                    ></textarea>
                    </div>
                </div>
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.history.back()">
                <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.back">Back</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="almLeaveType.id == null" translate="entity.action.save">Save</span>
                <span ng-show="almLeaveType.id != null" translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>
