
<div class="common-table">
    <h2><span translate="stepApp.pgmsGrObtainSpecEmp.detail.title">PgmsGrObtainSpecEmp</span> {{pgmsGrObtainSpecEmp.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.pgmsGrObtainSpecEmp.empName">EmpName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsGrObtainSpecEmp.empName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsGrObtainSpecEmp.empDesignation">EmpDesignation</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsGrObtainSpecEmp.empDesignation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsGrObtainSpecEmp.empDepartment">EmpDepartment</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsGrObtainSpecEmp.empDepartment}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsGrObtainSpecEmp.empEndDate">EmpEndDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsGrObtainSpecEmp.empEndDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsGrObtainSpecEmp.empStatus">EmpStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsGrObtainSpecEmp.empStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsGrObtainSpecEmp.empWrkingYear">EmpWrkingYear</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsGrObtainSpecEmp.empWrkingYear}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsGrObtainSpecEmp.amountAsGr">AmountAsGr</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsGrObtainSpecEmp.amountAsGr}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsGrObtainSpecEmp.obtainDate">ObtainDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsGrObtainSpecEmp.obtainDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsGrObtainSpecEmp.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsGrObtainSpecEmp.activeStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsGrObtainSpecEmp.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsGrObtainSpecEmp.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsGrObtainSpecEmp.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsGrObtainSpecEmp.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsGrObtainSpecEmp.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsGrObtainSpecEmp.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsGrObtainSpecEmp.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsGrObtainSpecEmp.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsGrObtainSpecEmp.instEmpId">instEmpId</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="HrEmployeeInfo.detail({id:pgmsGrObtainSpecEmp.instEmpId.id})">{{pgmsGrObtainSpecEmp.instEmpId.employeeId}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button" class="btn btn-default" class="btn " data-dismiss="modal" onclick="window.history.back()">
        <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.back">Back</span>
    </button>
</div>
