<!--<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-heading" translate="stepApp.pgmsGrObtainSpecEmp.home.title">PgmsGrObtainSpecEmps</div>
        <div class="panel-body bg-panel">
            <div class="col-md-12 padding-bt ">
                <div class="col-md-8 col-xs-12 no_padding">
                    <div class="col-md-6">
                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="number" min="1" max="100" class="form-control itemperpage" ng-model="pageSize">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-right btn-top">
                    <button class="btn btn-primary" ui-sref="pgmsGrObtainSpecEmp.new">
                        <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.pgmsGrObtainSpecEmp.home.createLabel">Create a new PgmsGrObtainSpecEmp</span>
                    </button>
                </div>
            </div>
        </div>-->
        <div class="col-md-12 no_padding common-list">
            <h2 translate="stepApp.pgmsGrObtainSpecEmp.home.title">PgmsGrObtainSpecEmps</h2>
            <div class="col-md-12 padding-tb">
                <div class="col-md-4 no_padding">
                    <input ng-model="q" id="search" class="form-control"
                           placeholder="{{'global.home.searchhere'  | translate}}">
                </div>
                <div class="col-md-4">
                    <input type="number" min="1" max="100" class="form-control"
                           placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
                </div>
                <div class="col-md-4 text-right ">
                    <button class="btn btn-primary" ui-sref="pgmsGrObtainSpecEmp.new">
                        <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.pgmsGrObtainSpecEmp.home.createLabel">Create a new PgmsGrObtainSpecEmp</span>
                    </button>
                </div>
            </div>
        <div class="modal fade" id="deletePgmsGrObtainSpecEmpConfirmation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="deleteForm" ng-submit="confirmDelete(pgmsGrObtainSpecEmp.id)">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                        </div>
                        <div class="modal-body">
                            <p translate="stepApp.pgmsGrObtainSpecEmp.delete.question" translate-values="{id: '{{pgmsGrObtainSpecEmp.id}}'}">Are you sure you want to delete this PgmsGrObtainSpecEmp?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-12 padding0 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th translate="global.form.serial"></th>
                        <th translate="stepApp.pgmsGrObtainSpecEmp.instEmpId">instEmpId</th>
                        <th translate="stepApp.pgmsGrObtainSpecEmp.empName">EmpName</th>
                        <th translate="stepApp.pgmsGrObtainSpecEmp.empDesignation">EmpDesignation</th>
                        <th translate="stepApp.pgmsGrObtainSpecEmp.empDepartment">EmpDepartment</th>
                        <th translate="stepApp.pgmsGrObtainSpecEmp.empEndDate">EmpEndDate</th>
                        <th translate="stepApp.pgmsGrObtainSpecEmp.amountAsGr">AmountAsGr</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-animate="'animate'" dir-paginate="pgmsGrObtainSpecEmp in pgmsGrObtainSpecEmps | filter:q | itemsPerPage: pageSize track by pgmsGrObtainSpecEmp.id" current-page="currentPage">


                        <td>{{$index + 1}}</td>
                        <td>
                            <a ui-sref="HrEmployeeInfo.detail({id:pgmsGrObtainSpecEmp.instEmpId.id})">{{pgmsGrObtainSpecEmp.instEmpId.employeeId}}</a>
                        </td>
                        <td>{{pgmsGrObtainSpecEmp.empName}}</td>
                        <td>{{pgmsGrObtainSpecEmp.empDesignation}}</td>
                        <td>{{pgmsGrObtainSpecEmp.empDepartment}}</td>
                        <td>{{pgmsGrObtainSpecEmp.empEndDate | date:'mediumDate'}}</td>
                        <td>{{pgmsGrObtainSpecEmp.amountAsGr}}</td>
                        <td class="text-right">
                            <button type="submit"
                                    ui-sref="pgmsGrObtainSpecEmp.detail({id:pgmsGrObtainSpecEmp.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                            </button>
                            <button type="submit"
                                    ui-sref="pgmsGrObtainSpecEmp.edit({id:pgmsGrObtainSpecEmp.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                            </button>
                            <!--<button type="submit"-->
                                    <!--ng-click="delete(pgmsGrObtainSpecEmp.id)"-->
                                    <!--class="btn btn-danger btn-sm">-->
                                <!--<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>-->
                            <!--</button>-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/form/pagination.html"></dir-pagination-controls>
            </nav>
        </div>
    </div>
</div>
