
<div>
    <h2><span translate="stepApp.jasperReportPermission.detail.title">JasperReportPermission</span> {{jasperReportPermission.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.jasperReportPermission.authorityName">AuthorityName</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReportPermission.authorityName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReportPermission.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReportPermission.activeStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReportPermission.JasperReport">JasperReport</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="JasperReport.detail({id:jasperReportPermission.jasperReport.id})">{{jasperReportPermission.jasperReport.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
