
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myJasperReportPermissionLabel" translate="stepApp.jasperReportPermission.home.createOrEditLabel">Create or edit a JasperReportPermission</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="jasperReportPermission.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.jasperReportPermission.authorityName" for="field_authorityName">AuthorityName</label>
            <input type="text" class="form-control" name="authorityName" id="field_authorityName"
                    ng-model="jasperReportPermission.authorityName"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.jasperReportPermission.activeStatus" for="field_activeStatus">ActiveStatus</label>
            <input type="checkbox" class="form-control" name="activeStatus" id="field_activeStatus"
                    ng-model="jasperReportPermission.activeStatus"
                     />
        </div>

        <div class="form-group">
            <label translate="stepApp.jasperReportPermission.JasperReport" for="field_JasperReport">JasperReport</label>
            <select class="form-control" id="field_JasperReport" name="JasperReport" ng-model="jasperReportPermission.jasperReport" ng-options="JasperReport as JasperReport.name for JasperReport in jasperreports track by JasperReport.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
