<div class="col-md-12 common-list">
    <h2 translate="stepApp.hrEmpAddressInfo.home.title">HrEmpAddressInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrEmpAddressInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.hrEmpAddressInfo.home.createLabel">Create a new HrEmpAddressInfo</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12  table-responsive no_padding">
        <table class="table table-striped ">
            <thead>
            <tr>
                <th><span translate="global.form.serial">Serial</span></th>
                <th><span translate="global.field.id">ID</span></th>
                <th><span translate="stepApp.hrEmpAddressInfo.employeeInfo">employeeInfo</span></th>
                <th><span translate="stepApp.hrEmpAddressInfo.addressType">AddressType</span></th>
                <th><span translate="stepApp.hrEmpAddressInfo.district">District</span></th>
                <th><span translate="stepApp.hrEmpAddressInfo.upazila">Upazila</span></th>
                <th><span translate="stepApp.hrEmpAddressInfo.postOffice">postOffice</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrEmpAddressInfo in hrEmpAddressInfos | filter:q | itemsPerPage: pageSize track by hrEmpAddressInfo.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <td><a ui-sref="hrEmpAddressInfo.detail({id:hrEmpAddressInfo.id})">{{hrEmpAddressInfo.id}}</a></td>
                <td>
                    <a ui-sref="hrEmployeeInfo.detail({id:hrEmpAddressInfo.employeeInfo.id})">{{hrEmpAddressInfo.employeeInfo.fullName}}</a>
                </td>
                <td translate="{{'stepApp.addressTypes.' + hrEmpAddressInfo.addressType}}">
                    {{hrEmpAddressInfo.addressType}}
                </td>
                <td>{{hrEmpAddressInfo.district.name}}</td>
                <td>{{hrEmpAddressInfo.upazila.name}}</td>
                <td>{{hrEmpAddressInfo.postOffice}}</td>
                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="hrEmpAddressInfo.detail({id:hrEmpAddressInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button ng-hide="false" type="submit"
                            ui-sref="hrEmpAddressInfo.edit({id:hrEmpAddressInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrEmpAddressInfo.delete({id:hrEmpAddressInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
