<div class="col-md-12 common-table">
<h2>{{hrEmpAddressInfo.addressType}} <span translate="stepApp.hrEmpAddressInfo.detail.title">HrEmpAddressInfo</span> of {{hrEmpAddressInfo.employeeInfo.fullName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAddressInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrEmpAddressInfo.employeeInfo.id})">{{hrEmpAddressInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAddressInfo.addressType">AddressType</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'stepApp.addressTypes.' + hrEmpAddressInfo.addressType}}">{{hrEmpAddressInfo.addressType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAddressInfo.houseNumber">HouseNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAddressInfo.houseNumber}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAddressInfo.houseNumberBn">HouseNumberBn</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAddressInfo.houseNumberBn}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAddressInfo.roadNumber">RoadNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAddressInfo.roadNumber}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAddressInfo.postCode">PostCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAddressInfo.postCode}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAddressInfo.roadNumberBn">RoadNumberBn</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAddressInfo.roadNumberBn}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAddressInfo.villageName">VillageName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAddressInfo.villageName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAddressInfo.villageNameBn">VillageNameBn</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAddressInfo.villageNameBn}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAddressInfo.postOffice">PostOffice</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAddressInfo.postOffice}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAddressInfo.postOfficeBn">PostOfficeBn</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAddressInfo.postOfficeBn}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAddressInfo.division">Division</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAddressInfo.division.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAddressInfo.district">District</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAddressInfo.district.name}} , {{hrEmpAddressInfo.district.bnName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAddressInfo.upazila">Upazila</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAddressInfo.upazila.name}}, {{hrEmpAddressInfo.upazila.bnName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAddressInfo.contactNumber">ContactNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAddressInfo.contactNumber}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAddressInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAddressInfo.activeStatus? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
