<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-body bg-panel">
            <div class="row">
            <span ng-show="addMode">
            <span ng-show="noEmployeeFound" class="alert">Employee is not created yet.</span>
            </span>
            </div>
            <div class="panel-group hr_label">
                <!-- For Loop Start From Here-->
                <div class="bg-panel" ng-repeat="hrEmpAddressInfo in hrEmpAddressInfoList">
                    <form class="form-horizontal " name="editForm" role="form" ng-submit="save()" novalidate
                          show-validation>
                        <div class="row panel-heading no_padding">
                            <div class="col-sm-7 no_padding">
                                <strong>{{hrEmpAddressInfo.addressType}} Address Information:
                                    {{hrEmpAddressInfo.addressType == 'Emergency' ? hrEmpAddressInfo.contactName :
                                    hrEmpAddressInfo.district.name+', '+hrEmpAddressInfo.upazila.name}}
                                </strong>
                            </div>
                            <div class="col-sm-5 no_padding text-right">
                                <button ng-hide="noEmployeeFound || hrEmpAddressInfo.isLocked"
                                        ng-if="!(hrEmpAddressInfo.logStatus == 11 || hrEmpAddressInfo.logStatus == 33 || hrEmpAddressInfo.logStatus == 55)"
                                        type="button" ng-click="changeProfileMode(hrEmpAddressInfo)"
                                        class="btn btn-primary btn-sm">{{hrEmpAddressInfo.viewModeText}}
                                </button>
                                <span ng-show="hrEmpAddressInfo.isLocked" class="alert alert-warning approve-alert">
                                    <span translate="stepApp.hrmHome.recordLocked">Pending</span>
                                </span>
                                <span ng-if="(hrEmpAddressInfo.logStatus == 22 || hrEmpAddressInfo.logStatus == 44 || hrEmpAddressInfo.logStatus == 66)">
                                    <span class="alert alert-warning" translate="stepApp.hrmHome.requestRejected">Rejected</span>
                                </span>
                            </div>
                        </div>
                        <div class="row hrm-view">
                            <div class="col-sm-5">
                                <button ng-if="$index == 1 && hrEmpAddressInfo.viewMode==false"
                                        ng-click="copyFromUppper($index)" type="button" class="btn btn-primary">
                                    <span>Same as permanent address</span>
                                </button>
                            </div>

                            <div class="col-sm-7">
                                <div class="col-sm-7 text-right" ng-if="(hrEmpAddressInfo.logStatus == 22 || hrEmpAddressInfo.logStatus == 44 || hrEmpAddressInfo.logStatus == 66)">
                                    <span class="alert-warning">
                                        <span class="control-label" translate="stepApp.hrmHome.rejectionReason">Reason</span>: &nbsp; : &nbsp;{{hrEmpAddressInfo.logComments}}
                                    </span>
                                </div>
                                <div class="col-sm-7 text-right" ng-if="(hrEmpAddressInfo.logStatus == 11 || hrEmpAddressInfo.logStatus == 33 || hrEmpAddressInfo.logStatus == 55)">
                                    <span class="alert-warning" ng-if="hrEmpAddressInfo.logStatus == 11">
                                        <span class="control-label" translate="stepApp.hrmHome.messages.waitingForDeptHeadApproval">Waiting @ Department Head Approval</span>
                                    </span>
                                    <span class="alert-warning" ng-if="hrEmpAddressInfo.logStatus == 33">
                                        <span class="control-label" translate="stepApp.hrmHome.messages.waitingForInstHeadApproval">Waiting @ Institute Head Approval</span>
                                    </span>
                                    <span class="alert-warning" ng-if="hrEmpAddressInfo.logStatus === 55">
                                        <span class="control-label" translate="stepApp.hrmHome.messages.waitingForSystemAdminApproval">Waiting @ System Admin Approval</span>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="row" ng-show="hrEmpAddressInfo.viewMode">
                            <div class="col-md-12 table-responsive padding0">
                                <table class="table  dtetables">
                                    <tr ng-if="hrEmpAddressInfo.addressType != 'Emergency'">
                                        <td><strong translate="stepApp.hrEmpAddressInfo.houseNumber"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAddressInfo.houseNumber}}</td>
                                        <td><strong translate="stepApp.hrEmpAddressInfo.roadNumber"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAddressInfo.roadNumber}}</td>
                                    </tr>
                                    <tr ng-if="hrEmpAddressInfo.addressType != 'Emergency'">
                                        <td><strong translate="stepApp.hrEmpAddressInfo.houseNumberBn"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAddressInfo.houseNumberBn}}</td>
                                        <td><strong translate="stepApp.hrEmpAddressInfo.roadNumberBn"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAddressInfo.roadNumberBn}}</td>
                                    </tr>
                                    <tr ng-if="hrEmpAddressInfo.addressType != 'Emergency'">
                                        <td><strong translate="stepApp.hrEmpAddressInfo.villageName"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAddressInfo.villageName}}</td>
                                        <td><strong translate="stepApp.hrEmpAddressInfo.postOffice"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAddressInfo.postOffice}}</td>
                                    </tr>
                                    <tr ng-if="hrEmpAddressInfo.addressType != 'Emergency'">
                                        <td><strong translate="stepApp.hrEmpAddressInfo.villageNameBn"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAddressInfo.villageNameBn}}</td>
                                        <td><strong translate="stepApp.hrEmpAddressInfo.postOfficeBn"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAddressInfo.postOfficeBn}}</td>
                                    </tr>
                                    <tr ng-if="hrEmpAddressInfo.addressType != 'Emergency'">
                                        <td><strong translate="stepApp.hrEmpAddressInfo.division"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAddressInfo.division.name}}</td>
                                        <td><strong translate="stepApp.hrEmpAddressInfo.district"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAddressInfo.district.name}}</td>
                                    </tr>
                                    <tr ng-if="hrEmpAddressInfo.addressType != 'Emergency'">
                                        <td><strong translate="stepApp.hrEmpAddressInfo.upazila"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAddressInfo.upazila.name}}</td>

                                    </tr>
                                    <tr ng-if="hrEmpAddressInfo.addressType=='Emergency'">
                                        <td><strong translate="stepApp.hrEmpAddressInfo.contactName" ></strong></td>
                                        <td >&nbsp; : &nbsp;{{hrEmpAddressInfo.contactName}}</td>
                                        <td><strong translate="stepApp.hrEmpAddressInfo.contactNameBn"></strong></td>
                                        <td><span>&nbsp; : &nbsp;{{hrEmpAddressInfo.contactNameBn}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpAddressInfo.contactNumber"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAddressInfo.contactNumber}}</td>
                                    </tr>
                                    <tr ng-if="hrEmpAddressInfo.addressType=='Emergency'">
                                        <td><strong translate="stepApp.hrEmpAddressInfo.address"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAddressInfo.address}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr ng-if="hrEmpAddressInfo.addressType != 'Emergency'">
                                        <td><strong translate="stepApp.hrEmpAddressInfo.postCode"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAddressInfo.postCode}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>


                                </table>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-if="hrEmpAddressInfo.addressType != 'Emergency'"
                             ng-show="!hrEmpAddressInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpAddressInfo.houseNumber"
                                       for="field_houseNumber">HouseNumber</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="houseNumber" id="field_houseNumber"
                                           ng-model="hrEmpAddressInfo.houseNumber" minlength="2" maxlength="20" ng-maxlength="20" ng-minlength="2"/>
                                    <div ng-show="editForm.houseNumber.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.houseNumber.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.houseNumber.$error.maxlength">
                                            This field can not be longer than 20 character
                                        </small>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.houseNumber.$error.minlength">
                                            This field need to be at least 2 character
                                        </small>
                                    </div>
                                </div>
                                <!--<span ng-show="hrEmpAddressInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpAddressInfo.houseNumber}}</span>-->
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpAddressInfo.houseNumberBn"
                                       for="field_houseNumberBn">HouseNumberBn</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="houseNumberBn"
                                           id="field_houseNumberBn" ng-model="hrEmpAddressInfo.houseNumberBn" only-bangla
                                           minlength="2" maxlength="20" ng-maxlength="20" ng-minlength="2"/>
                                    <div ng-show="editForm.houseNumberBn.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.houseNumberBn.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.houseNumberBn.$error.maxlength">
                                            This field can not be longer than 20 character
                                        </small>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.houseNumberBn.$error.minlength">
                                            This field need to be at least 2 character
                                        </small>
                                    </div>
                                </div>
                                <!--<span ng-show="hrEmpAddressInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpAddressInfo.houseNumberBn}}</span>-->
                            </div>

                        </div>
                        <div class="row hrm-view" ng-if="hrEmpAddressInfo.addressType != 'Emergency'"
                             ng-show="!hrEmpAddressInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpAddressInfo.roadNumber"
                                       for="field_roadNumber">RoadNumber</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="roadNumber" id="field_roadNumber"
                                           ng-model="hrEmpAddressInfo.roadNumber"
                                           minlength="2" maxlength="20" ng-maxlength="20" ng-minlength="2"/>
                                    <div ng-show="editForm.roadNumber.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.roadNumber.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.roadNumber.$error.maxlength">
                                            This field can not be longer than 20 character
                                        </small>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.roadNumber.$error.minlength">
                                            This field need to be at least 2 character
                                        </small>
                                    </div>
                                </div>
                                <!--<span ng-show="hrEmpAddressInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpAddressInfo.roadNumber}}</span>-->
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpAddressInfo.roadNumberBn"
                                       for="field_roadNumberBn">RoadNumberBn</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="roadNumberBn" id="field_roadNumberBn"
                                           ng-model="hrEmpAddressInfo.roadNumberBn" only-bangla
                                           minlength="2" maxlength="20" ng-maxlength="20" ng-minlength="2"/>
                                    <div ng-show="editForm.houseNumberBn.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.roadNumberBn.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.roadNumberBn.$error.maxlength">
                                            This field can not be longer than 20 character
                                        </small>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.roadNumberBn.$error.minlength">
                                            This field need to be at least 2 character
                                        </small>
                                    </div>
                                </div>
                                <!--<span ng-show="hrEmpAddressInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpAddressInfo.roadNumberBn}}</span>-->
                            </div>
                        </div>
                        <div class="row hrm-view" ng-if="hrEmpAddressInfo.addressType != 'Emergency'"
                             ng-show="!hrEmpAddressInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpAddressInfo.villageName"
                                       for="field_villageName">VillageName</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="villageName" id="field_villageName"
                                           ng-model="hrEmpAddressInfo.villageName"
                                           only-letters minlength="2" maxlength="20" ng-maxlength="20" ng-minlength="2"/>
                                    <div ng-show="editForm.villageName.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.villageName.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.villageName.$error.maxlength">
                                            This field can not be longer than 20 character
                                        </small>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.villageName.$error.minlength">
                                            This field need to be at least 2 character
                                        </small>
                                    </div>
                                </div>
                                <!--<span ng-show="hrEmpAddressInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpAddressInfo.villageName}}</span>-->
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpAddressInfo.villageNameBn"
                                       for="field_villageNameBn">VillageNameBn</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="villageNameBn"
                                           id="field_villageNameBn" ng-model="hrEmpAddressInfo.villageNameBn"
                                           only-bangla minlength="2" maxlength="20" ng-maxlength="20" ng-minlength="2"/>
                                    <div ng-show="editForm.villageNameBn.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.villageNameBn.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.villageNameBn.$error.maxlength">
                                            This field can not be longer than 20 character
                                        </small>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.villageNameBn.$error.minlength">
                                            This field need to be at least 2 character
                                        </small>
                                    </div>
                                </div>
                                <!--<span ng-show="hrEmpAddressInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpAddressInfo.villageNameBn}}</span>-->
                            </div>

                        </div>
                        <div class="row hrm-view" ng-if="hrEmpAddressInfo.addressType != 'Emergency'"
                             ng-show="!hrEmpAddressInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpAddressInfo.postOffice"
                                       for="field_postOffice">PostOffice</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="postOffice" id="field_postOffice"
                                           ng-model="hrEmpAddressInfo.postOffice"
                                    only-letters maxlength="50" minlength="4" ng-maxlength="50" ng-minlength="4"/>
                                    <div ng-show="editForm.postOffice.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.postOffice.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.postOffice.$error.maxlength">
                                            This field can not be longer than 50 character
                                        </small>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.postOffice.$error.minlength">
                                            This field need to be at least 4 character
                                        </small>
                                    </div>
                                </div>
                                <!--<span ng-show="hrEmpAddressInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpAddressInfo.postOffice}}</span>-->
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpAddressInfo.postOfficeBn"
                                       for="field_postOfficeBn">PostOfficeBn</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="postOfficeBn" id="field_postOfficeBn"
                                           ng-model="hrEmpAddressInfo.postOfficeBn"
                                           only-bangla maxlength="50" minlength="4" ng-maxlength="50" ng-minlength="4"/>
                                    <div ng-show="editForm.postOfficeBn.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.postOfficeBn.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.postOfficeBn.$error.maxlength">
                                            This field can not be longer than 50 character
                                        </small>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.postOfficeBn.$error.minlength">
                                            This field need to be at least 4 character
                                        </small>
                                    </div>
                                </div>
                                <!--<span ng-show="hrEmpAddressInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpAddressInfo.postOfficeBn}}</span>-->
                            </div>
                        </div>
                        <div class="row hrm-view" ng-if="hrEmpAddressInfo.addressType != 'Emergency'"
                             ng-show="!hrEmpAddressInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpAddressInfo.division"
                                       for="field_division">Division</label>
                                <div class="input-margin">
                                    <select class="form-control" id="field_division" name="division"
                                            ng-model="hrEmpAddressInfo.division"
                                            ng-change="loadDistrictByDivision(hrEmpAddressInfo.division)"
                                            ng-options="Division as Division.name for Division in divisions track by Division.id" required>
                                        <option value="">Select Division</option>
                                    </select>
                                </div>
                                <!--<span ng-show="hrEmpAddressInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpAddressInfo.division.name}}</span>-->
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpAddressInfo.district"
                                       for="field_district">District</label>
                                <div class="input-margin">
                                    <select class="form-control" id="field_district" name="district"
                                            ng-model="hrEmpAddressInfo.district"
                                            ng-change="loadUpazilaByDistrict(hrEmpAddressInfo.district)"
                                            ng-options="District as District.name for District in districtListFilter track by District.id"
                                            required>
                                        <option value=""></option>
                                    </select>
                                </div>
                                <!--<span ng-show="hrEmpAddressInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpAddressInfo.district.name}}</span>-->
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpAddressInfo.upazila"
                                       for="field_upazila">upazila</label>
                                <div class="input-margin">
                                    <select class="form-control" id="field_upazila" name="upazila"
                                            ng-model="hrEmpAddressInfo.upazila"
                                            ng-options="Upazila as Upazila.name for Upazila in upazilaListFilter track by Upazila.id"
                                            required>
                                        <option value=""></option>
                                    </select>
                                </div>
                                <!--<span ng-show="hrEmpAddressInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpAddressInfo.upazila.name}}</span>-->
                            </div>
                        </div>

                        <div class="row hrm-view" ng-if="hrEmpAddressInfo.addressType=='Emergency'"
                             ng-show="!hrEmpAddressInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpAddressInfo.contactName"
                                       for="field_contactName">contactName</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="contactName" id="field_contactName"
                                           ng-model="hrEmpAddressInfo.contactName"
                                           only-letters-and-dash-and-dot maxlength="50" minlength="4" ng-maxlength="50" ng-minlength="4"/>
                                    <div ng-show="editForm.contactName.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.contactName.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.contactName.$error.maxlength">
                                            This field can not be longer than 50 character
                                        </small>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.contactName.$error.minlength">
                                            This field need to be at least 4 character
                                        </small>
                                    </div>
                                </div>
                                <!--<span ng-show="hrEmpAddressInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpAddressInfo.contactName}}</span>-->
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpAddressInfo.contactNameBn"
                                       for="field_contactNameBn">contactNameBn</label>
                                <div ng-show="!hrEmpAddressInfo.viewMode" class="input-margin">
                                    <input type="text" class="form-control" name="contactNameBn"
                                           id="field_contactNameBn" ng-model="hrEmpAddressInfo.contactNameBn"
                                           only-bangla maxlength="50" minlength="4" ng-maxlength="50" ng-minlength="4"/>
                                    <div ng-show="editForm.contactNameBn.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.contactNameBn.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.contactNameBn.$error.maxlength">
                                            This field can not be longer than 50 character
                                        </small>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.contactNameBn.$error.minlength">
                                            This field need to be at least 4 character
                                        </small>
                                    </div>
                                </div>
                                <!-- <span ng-show="hrEmpAddressInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpAddressInfo.contactNameBn}}</span>-->
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpAddressInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <div class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpAddressInfo.contactNumber"
                                           for="field_contactNumber">ContactNumber</label>
                                    <input type="text" class="form-control" name="contactNumber"
                                           id="field_contactNumber"
                                           ng-model="hrEmpAddressInfo.contactNumber"
                                           ng-minlength="11" ng-maxlength="18" required only-numbers/>
                                    <div ng-show="editForm.contactNumber.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.contactNumber.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.contactNumber.$error.minlength"
                                           translate="entity.validation.minlength" translate-value-min="11">
                                            This field is required to be at least 11 characters.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.contactNumber.$error.maxlength"
                                           translate="entity.validation.maxlength" translate-value-max="18">
                                            This field cannot be longer than 18 characters.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6" ng-if="hrEmpAddressInfo.addressType != 'Emergency'">
                                <label class="control-label" translate="stepApp.hrEmpAddressInfo.postCode"
                                       for="field_postCode">postCode</label>
                                <div ng-show="!hrEmpAddressInfo.viewMode" class="input-margin">
                                    <input type="text" class="form-control" name="postCode" id="field_postCode"
                                           ng-model="hrEmpAddressInfo.postCode"
                                           only-numbers maxlength="4" minlength="4" ng-maxlength="4" ng-minlength="4"/>
                                    <div ng-show="editForm.postCode.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.postCode.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.postCode.$error.maxlength">
                                            This field can not be longer than 4 character
                                        </small>
                                        <small style="color:red;font-size: 10px"
                                               ng-show="editForm.postCode.$error.minlength">
                                            This field need to be at least 4 character
                                        </small>
                                    </div>
                                </div>
                                <!--<span ng-show="hrEmpAddressInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpAddressInfo.postCode}}</span>-->
                            </div>
                            <div class="row hrm-view" ng-if="hrEmpAddressInfo.addressType=='Emergency'"
                                 ng-show="!hrEmpAddressInfo.viewMode">
                                <div class="form-group col-sm-6">
                                    <label class="control-label" translate="stepApp.hrEmpAddressInfo.address"
                                           for="field_address">address</label>
                                    <div class="input-margin">
                           <textarea class="form-control" name="address" id="field_address"
                                     ng-model="hrEmpAddressInfo.address"></textarea>
                                    </div>
                                    <!--<span ng-show="hrEmpAddressInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpAddressInfo.address}}</span>-->
                                </div>
                            </div>
                        </div>


                        <div class="row hrm-view">
                            <div class="form-group col-sm-6">
                                <div class="input-margin">
                                </div>
                            </div>
                            <div class="form-group col-sm-6 text-right">
                                <div class="input-margin">
                                    <button ng-show="!hrEmpAddressInfo.viewMode" type="button"
                                            ng-click="changeProfileMode(hrEmpAddressInfo)"
                                            class="btn btn-default btn-sm"><span
                                        class="glyphicon glyphicon-remove"></span>&nbsp;{{hrEmpAddressInfo.viewModeText}}
                                    </button>
                                    <button ng-show="!hrEmpAddressInfo.viewMode"
                                            ng-click="updateProfile(hrEmpAddressInfo, $index)"
                                            type="button" ng-disabled="editForm.$invalid || isSaving"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                                        translate="entity.action.save">Update</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End of Loop -->
            </div>
        </div>
    </div>
</div>
