<div class="col-md-12 common-dialogue">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="hrEmpTransferInfo.id == null" class="modal-title" id="myHrEmpTransferInfoLabel"
            translate="stepApp.hrEmpTransferInfo.home.createOrEditLabel">Create or edit a HrEmpTransferInfo</h4>
        <h4 ng-show="hrEmpTransferInfo.id != null" class="modal-title" id="myHrEmpTransferInfoLabel2"
            translate="stepApp.hrEmpTransferInfo.home.EditLabel">Create or edit a HrEmpTransferInfo</h4>
        <div class="modal-body col-md-12 padding-tb">

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.hrEmpTransferInfo.orgOrInst" for="field_toOrganizationType">toOrganizationType</label>
                    <div class="input-margin">
                        <select class="form-control" id="field_toOrganizationType" name="toOrganizationType" ng-model="orgOrInst" required>
                            <option selected disabled value="">-- Select Organization Type --</option>
                            <option value="Organization">Organization</option>
                            <option value="Institute">Institute</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-6 col-sm-12 col-xs-12" ng-show="(orgOrInst=='Organization')">-->
                <!--<div class="form-group">-->
                    <!--<label class="control-label" translate="stepApp.hrEmpTransferInfo.toOrgCategory" for="field_toOrgCategory">toOrgCategory</label>-->
                    <!--<div class="input-margin">-->
                        <!--<select class="form-control" id="field_toOrgCategory" name="toOrgCategory" ng-model="category"-->
                                <!--ng-change="loadWorkAreaDetailByWork(category)"-->
                                <!--ng-required='(orgOrInst=="Organization")'-->
                                <!--ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id" >-->
                            <!--<option selected disabled value="">&#45;&#45; Select &#45;&#45;</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6 col-sm-12 col-xs-12" ng-show="(orgOrInst=='Organization')">-->
                <!--<div class="form-group">-->
                    <!--<label class="control-label" translate="stepApp.hrEmpTransferInfo.toOrganization" for="field_toOrganization">toOrganization</label>-->
                    <!--<div class="input-margin">-->
                        <!--<select class="form-control" id="field_toOrganization" name="toOrganization" ng-model="org"-->
                                <!--ng-change="loadDesigDeptByOrganization(org)"-->
                                <!--ng-required='(orgOrInst=="Organization")'-->
                                <!--ng-options="HrEmpWorkAreaDtlInfo as HrEmpWorkAreaDtlInfo.name for HrEmpWorkAreaDtlInfo in workAreaDtlListFiltr track by HrEmpWorkAreaDtlInfo.id" >-->
                            <!--<option selected disabled value="">&#45;&#45; Select &#45;&#45;</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--End ---implement inst/org to access current employee-->

            <div ng-if="orgOrInst=='Organization'" class="col-md-6 ">
                    <label class="control-label" for="field_workArea" translate="stepApp.hrEmpTransferInfo.workarea">Work
                        Area</label>
                    <select class="form-control" id="field_workArea" name="workArea" ng-model="workArea"
                            ng-change="loadModelByWorkArea(workArea)"
                            ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id">
                        <option value="">Select Work Area</option>
                    </select>
                    <span class="help">No of Employee: {{hremployeeinfos.length}}</span>
            </div>

            <div ng-if="orgOrInst=='Institute'" class="col-md-6 ">
                <label class="control-label" for="field_workArea" translate="stepApp.hrEmpTransferInfo.workarea">Work
                    Area</label>
                <select class="form-control" id="field_institute" name="institute" ng-model="institute" ng-change ="getHrEmpByInstitute(institute.id)"
                        ng-options="institute as institute.name for institute in instituteList |orderBy:'name' track by institute.id">
                    <option value="">Select Institute</option>
                </select>
                <!--<span class="help">No of Employee: {{hremployeeinfos.length}}</span>-->
            </div>


            <div ng-show="(orgOrInst=='Organization')" class="col-md-6 col-lg-6">
                <label class="control-label" translate="stepApp.hrEmpTransferInfo.employeeInfo" for="field_employeeInfo">employeeInfo</label>
                <div class="input-margin">
                    <input type="text" class="form-control autocomplete" autocomplete="off"
                           ng-model="hrEmployeeInfo"
                           typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfos | filter:$viewValue'
                           id="field_employeeInfo" required>
                </div>
            </div>

            <div ng-show="(orgOrInst=='Institute')" class="col-md-6 col-lg-6">
                    <label class="control-label" translate="stepApp.hrEmpTransferInfo.employeeInfo" for="field_employeeInfo">employeeInfo</label>
                    <div class="input-margin">
                        <input type="text" class="form-control autocomplete" autocomplete="off"
                               ng-model="hrEmployeeInfo"
                               typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfosOfInstitute | filter:$viewValue'
                               id="field_employeeInfo" required>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <table class="table table-bordered table-responsive dtetables">
                        <tbody class="hrm-info-table">
                        <tr>
                            <td><strong>Name: </strong></td>
                            <td>{{hrEmpTransferInfo.employeeInfo.fullName}}</td>
                            <td><strong>Employee ID:</strong></td>
                            <td>{{hrEmpTransferInfo.employeeInfo.employeeId}}</td>
                        </tr>
                        <tr>
                            <td><strong translate="stepApp.hrEmpTransferInfo.fromDesignationInfo">fromDesignationInfo</strong></td>
                            <td>{{hrEmpTransferInfo.fromDesignationInfo.designationInfo.designationName}}</td>
                            <td><strong translate="stepApp.hrEmpTransferInfo.fromDepartmentInfo">fromDepartmentInfo</strong></td>
                            <td>{{hrEmpTransferInfo.fromDepartmentInfo.departmentInfo.departmentName}}</td>
                        </tr>
                        <tr>
                            <td><strong translate="stepApp.hrEmpTransferInfo.fromOrganizationType">fromOrganizationType</strong></td>
                            <td>{{hrEmpTransferInfo.fromOrganizationType}}</td>
                            <td><strong translate="stepApp.hrEmpTransferInfo.fromEmployeeType">fromEmployeeType</strong></td>
                            <td>{{hrEmpTransferInfo.fromEmployeeType}}</td>
                        </tr>
                        <tr ng-if="(hrEmpTransferInfo.fromOrganizationType=='Organization')">
                            <td><strong translate="stepApp.hrEmpTransferInfo.fromOrgCategory">fromOrgCategory</strong></td>
                            <td>{{hrEmpTransferInfo.fromOrgCategory.typeName}}</td>
                            <td><strong translate="stepApp.hrEmpTransferInfo.fromOrganization">fromOrganization</strong></td>
                            <td>{{hrEmpTransferInfo.fromOrganization.name}}</td>
                        </tr>
                        <tr ng-if="(hrEmpTransferInfo.fromOrganizationType=='Institute')">
                            <td><strong translate="stepApp.hrEmpTransferInfo.fromInstCategory">fromInstCategory</strong></td>
                            <td>{{hrEmpTransferInfo.fromInstCategory.name}}</td>
                            <td><strong translate="stepApp.hrEmpTransferInfo.fromInstitute">fromInstitute</strong></td>
                            <td>{{hrEmpTransferInfo.fromInstitute.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="col-md-6">
                    <div class="form-group ">
                        <label translate="stepApp.hrEmpTransferInfo.transferType" for="field_transferType">transferType</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_transferType" name="transferType"
                                    ng-model="hrEmpTransferInfo.transferType" required
                                    ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in transferTypeList track by MiscTypeSetup.id">
                                <option selected disabled value="">-- Select --</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrEmpTransferInfo.toEmployeeType" for="field_toEmployeeType">toEmployeeType</label>
                        <div class="input-margin">
                            <select class="form-control" name="toEmployeeType" ng-model="hrEmpTransferInfo.toEmployeeType" id="field_toEmployeeType" required>
                                <option selected disabled value="">-- Select --</option>
                                <option value="DTE_Employee" translate="stepApp.designationType.Employee">DTE_Employee</option>
                                <option value="Teacher" translate="stepApp.designationType.Teacher">Teacher</option>
                                <option value="Staff" translate="stepApp.designationType.Staff">Staff</option>
                                <option value="Officer" translate="stepApp.designationType.Staff">Staff</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrEmpTransferInfo.toOrganizationType" for="field_toOrganizationType">toOrganizationType</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_toOrganizationType" name="toOrganizationType" ng-model="hrEmpTransferInfo.toOrganizationType" required>
                                <option selected disabled value="">-- Select Organization Type --</option>
                                <option value="Organization">Organization</option>
                                <option value="Institute">Institute</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12" ng-show="(hrEmpTransferInfo.toOrganizationType=='Organization')">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrEmpTransferInfo.toOrgCategory" for="field_toOrgCategory">toOrgCategory</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_toOrgCategory" name="toOrgCategory" ng-model="hrEmpTransferInfo.toOrgCategory"
                                    ng-change="loadWorkAreaDetailByWork(hrEmpTransferInfo.toOrgCategory)"
                                    ng-required='(hrEmpTransferInfo.toOrganizationType=="Organization")'
                                    ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id" >
                                <option selected disabled value="">-- Select --</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12" ng-show="(hrEmpTransferInfo.toOrganizationType=='Organization')">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrEmpTransferInfo.toOrganization" for="field_toOrganization">toOrganization</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_toOrganization" name="toOrganization" ng-model="hrEmpTransferInfo.toOrganization"
                                    ng-change="loadDesigDeptByOrganization(hrEmpTransferInfo.toOrganization)"
                                    ng-required='(hrEmpTransferInfo.toOrganizationType=="Organization")'
                                    ng-options="HrEmpWorkAreaDtlInfo as HrEmpWorkAreaDtlInfo.name for HrEmpWorkAreaDtlInfo in workAreaDtlListFiltr track by HrEmpWorkAreaDtlInfo.id" >
                                <option selected disabled value="">-- Select --</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" ng-show="(hrEmpTransferInfo.toOrganizationType=='Institute')">
                    <div class="form-group">
                        <label class="control-label"
                               for="field_instCategory">Institute Level</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_instCategory" name="instCategory"
                                    ng-model="hrEmpTransferInfo.toInstCategory"
                                    ng-change="loadInstituteByCategory1(hrEmpTransferInfo.toInstCategory)"
                                    ng-options="InstCategory as InstCategory.name for InstCategory in instCategories track by InstCategory.id">
                                <option value="">Select Institute Level</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" ng-if="hrEmpTransferInfo.toInstCategory" ng-show="(hrEmpTransferInfo.toOrganizationType=='Institute')">
                    <div class="form-group">
                        <label class="control-label" for="field_instLevel">Institute Category</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_instLevel" name="instLevel"
                                    ng-model="hrEmpTransferInfo.toInstLevel"
                                    ng-change="loadInstituteBylevel(hrEmpTransferInfo.toInstLevel)"

                                    ng-options="instLevel as instLevel.name for instLevel in instLevels track by instLevel.id">
                                <option value="">Select Institute Category</option>
                            </select>
                        </div>
                    </div>
                </div>


                <!--<div class="col-md-6 col-sm-12 col-xs-12" ng-show="(hrEmpTransferInfo.toOrganizationType=='Institute')">-->
                    <!--<div class="form-group">-->
                        <!--<label class="control-label" translate="stepApp.hrEmpTransferInfo.toInstCategory" for="field_toInstCategory">toInstCategory</label>-->
                        <!--<div class="input-margin">-->
                            <!--<select class="form-control" id="field_toInstCategory" name="toInstCategory" ng-model="hrEmpTransferInfo.toInstCategory"-->
                                    <!--ng-change="loadInstituteByCategory(hrEmpTransferInfo.toInstCategory)"-->
                                    <!--ng-required='(hrEmpTransferInfo.toOrganizationType=="Institute")'-->
                                    <!--ng-options="InstCategory as InstCategory.name for InstCategory in instCategoryList track by InstCategory.id" >-->
                                <!--<option selected disabled value="">&#45;&#45; Select &#45;&#45;</option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-md-6 col-sm-12 col-xs-12" ng-show="(hrEmpTransferInfo.toOrganizationType=='Institute')">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrEmpTransferInfo.toInstitute" for="field_toInstitute">toInstitute</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_toInstitute" name="toInstitute" ng-model="hrEmpTransferInfo.toInstitute"
                                    ng-change="loadDesigDeptByInstitute(hrEmpTransferInfo.toInstitute)"
                                    ng-required='(hrEmpTransferInfo.toOrganizationType=="Institute")'
                                    ng-options="Institute as Institute.name for Institute in instituteListByLevel track by Institute.id" >
                                <option selected disabled value="">-- Select --</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrEmpTransferInfo.toDepartmentInfo" for="field_toDepartmentInfo">toDepartmentInfo</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_toDepartmentInfo" name="toDepartmentInfo" ng-model="hrEmpTransferInfo.toDepartmentInfo"
                                    ng-options="HrDepartmentSetup as HrDepartmentSetup.departmentInfo.departmentName for HrDepartmentSetup in hrdepartmentsetupsFltr track by HrDepartmentSetup.id" required>
                                <option selected disabled value="">-- Select --</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrEmpTransferInfo.toDesignationInfo" for="field_toDesignationInfo">toDesignationInfo</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_toDesignationInfo" name="toDesignationInfo"
                                    ng-model="hrEmpTransferInfo.toDesignationInfo" ng-change="checkDesignationLimit(hrEmpTransferInfo.toDesignationInfo)"
                                    ng-options="HrDesignationSetup as HrDesignationSetup.designationInfo.designationName for HrDesignationSetup in hrDesigSetupListFltr track by HrDesignationSetup.id" required>
                                <option selected disabled value="">-- Select --</option>
                            </select>
                            <span ng-hide="employeeDesigLimitAllowed">
                                Designation limit exceeded, already added {{noOfTotalEmployeeInDesig}} out of {{noOfEmployeeInDesig}}
                            </span>
                            <span ng-show="employeeDesigLimitAllowed && hrEmployeeInfo.designationInfo">
                                Already added {{noOfTotalEmployeeInDesig}} out of {{noOfEmployeeInDesig}}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                    <div class="form-group ">
                        <label class="control-label" translate="stepApp.hrEmpTransferInfo.officeOrderDate"
                               for="field_officeOrderDate">officeOrderDate</label>
                        <div class="input-margin">
                            <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.officeOrderDate"
                                   datepicker-options="calendar.dateOptions" close-text="Close"
                                   max-date="hrEmpTransferInfo.officeOrderDate"
                                   ng-click="calendar.open($event, 'officeOrderDate')" class="form-control" name="officeOrderDate"
                                   id="field_officeOrderDate"
                                   ng-model="hrEmpTransferInfo.officeOrderDate"/>
                            <div ng-show="editForm.officeOrderDate.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.officeOrderDate.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                    <div class="form-group ">
                        <label class="control-label" translate="stepApp.hrEmpTransferInfo.officeOrderNumber"
                               for="field_officeOrderNumber">officeOrderNumber</label>
                        <div class="input-margin">
                            <input type="text" class="form-control" name="officeOrderNumber" id="field_officeOrderNumber"
                                   ng-model="hrEmpTransferInfo.officeOrderNumber"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                    <div class="form-group ">
                        <label class="control-label" translate="stepApp.hrEmpTransferInfo.transferComments"
                               for="field_transferComments">transferComments</label>
                        <div class="input-margin">
                            <textarea class="form-control" name="transferComments" id="field_transferComments"
                                   ng-model="hrEmpTransferInfo.transferComments"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                    <div class="form-group ">
                        <label class="control-label"
                               translate="stepApp.hrEmpTransferInfo.activeStatus">ActiveStatus</label>
                        <div class="input-margin">
                            <span>
                                <input type="radio" data-ng-model="hrEmpTransferInfo.activeStatus" name="activeStatus"
                                       data-ng-value="true">&nbsp;<span translate="stepApp.hrEmpTransferInfo.active"></span>&nbsp;|&nbsp;
                                <input type="radio" data-ng-model="hrEmpTransferInfo.activeStatus" name="activeStatus"
                                       data-ng-value="false">&nbsp;<span translate="stepApp.hrEmpTransferInfo.inactive"></span>
                            </span>
                            <div ng-show="editForm.activeStatus.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.activeStatus.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" class="btn" data-dismiss="modal"
                        onclick="window.history.back()">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel">cancel</span>
                </button>
                <button type="submit" ng-disabled="editForm.$invalid || isSaving || !employeeDesigLimitAllowed" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;
                    <span ng-show="hrEmpTransferInfo.id == null"  translate="entity.action.save">Save</span>
                    <span ng-show="hrEmpTransferInfo.id != null"  translate="entity.action.update">Save</span>
                </button>
            </div>
    </form>
</div>




