<div class="col-md-12 common-table padding0">
    <h2><span translate="stepApp.hrEmpTransferInfo.detail.title">HrEmpTransferInfo</span> of
        {{hrEmpTransferInfo.employeeInfo.fullName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTransferInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="hrEmployeeInfo.detail({id:hrEmpTransferInfo.employeeInfo.id})">{{hrEmpTransferInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpTransferInfo.transferType">transferType</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTransferInfo.transferType.typeName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTransferInfo.fromDesignationInfo">fromDesignationInfo</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTransferInfo.fromDesignationInfo.designationInfo.designationName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpTransferInfo.fromDepartmentInfo">fromDepartmentInfo</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTransferInfo.fromDepartmentInfo.departmentInfo.departmentName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTransferInfo.fromOrganizationType">fromOrganizationType</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTransferInfo.fromOrganizationType}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpTransferInfo.fromEmployeeType">fromEmployeeType</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTransferInfo.fromEmployeeType}}</span>
                </td>
            </tr>
            <tr ng-if="(hrEmpTransferInfo.fromOrganizationType=='Organization')">
                <td>
                    <span translate="stepApp.hrEmpTransferInfo.fromOrgCategory">fromOrgCategory</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTransferInfo.fromOrgCategory.typeName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpTransferInfo.fromOrganization">fromOrganization</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTransferInfo.fromOrganization.name}}</span>
                </td>
            </tr>
            <tr ng-if="(hrEmpTransferInfo.fromOrganizationType=='Institute')">
                <td>
                    <span translate="stepApp.hrEmpTransferInfo.fromInstCategory">fromInstCategory</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTransferInfo.fromInstCategory.name}}</span>
                </td>

                <td>
                    <span translate="stepApp.hrEmpTransferInfo.fromInstitute">fromInstitute</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTransferInfo.fromInstitute.name}}</span>
                </td>
            </tr>
            </tbody>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td colspan="4" align="center" style="background: #adc79b; color:#555;">
                        <span
                            ng-if="(hrEmpTransferInfo.logStatus==17)"><strong>Rejected by Department/Section
                            head.</strong></span>
                        <span
                            ng-if="(hrEmpTransferInfo.logStatus==19)"><strong>Rejected by Institute Principal.</strong></span>
                        <span ng-if="(hrEmpTransferInfo.logStatus==16)"><strong>Waiting for approval from
                            department/section head.</strong></span>
                        <span ng-if="(hrEmpTransferInfo.logStatus==18)"><strong>Waiting for approval from Institute
                            Principal.</strong></span>
                        <span
                            ng-if="(hrEmpTransferInfo.logStatus==1)"><strong>Release information has been
                            approved.</strong></span>
                    </td>
                </tr>


                <tr>
                    <td>
                        <span translate="stepApp.hrEmpTransferInfo.toDesignationInfo">toDesignationInfo</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmpTransferInfo.toDesignationInfo.designationInfo.designationName}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.hrEmpTransferInfo.toDepartmentInfo">toDepartmentInfo</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmpTransferInfo.toDepartmentInfo.departmentInfo.departmentName}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmpTransferInfo.toOrganizationType">toOrganizationType</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmpTransferInfo.toOrganizationType}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.hrEmpTransferInfo.toEmployeeType">toEmployeeType</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmpTransferInfo.toEmployeeType}}</span>
                    </td>
                </tr>
                <tr ng-if="(hrEmpTransferInfo.toOrganizationType=='Organization')">
                    <td>
                        <span translate="stepApp.hrEmpTransferInfo.toOrgCategory">toOrgCategory</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmpTransferInfo.toOrgCategory.typeName}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.hrEmpTransferInfo.toOrganization">toOrganization</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmpTransferInfo.toOrganization.name}}</span>
                    </td>
                </tr>
                <tr ng-if="(hrEmpTransferInfo.toOrganizationType=='Institute')">
                    <td>
                        <span translate="stepApp.hrEmpTransferInfo.toInstCategory">toInstCategory</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmpTransferInfo.toInstCategory.name}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.hrEmpTransferInfo.toInstitute">toInstitute</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmpTransferInfo.toInstitute.name}}</span>
                    </td>
                </tr>

                <tr ng-if="(hrEmpTransferInfo.logStatus==1)">
                    <td>
                        <span translate="stepApp.hrEmpTransferInfo.officeOrderNumber">officeOrderNumber</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmpTransferInfo.officeOrderNumber}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.hrEmpTransferInfo.officeOrderDate">officeOrderDate</span>
                    </td>
                    <td>
                        <span
                            class="form-control-static">{{hrEmpTransferInfo.officeOrderDate | date:'mediumDate'}}</span>
                    </td>
                </tr>

                <tr ng-if="(hrEmpTransferInfo.logStatus==1)">
                    <td>
                        <span translate="stepApp.hrEmpTransferInfo.releaseLetterDoc">releaseLetterDoc</span>
                    </td>
                    <td>
                    <span>
                        <a ng-if="hrEmpTransferInfo.releaseLetterContentType" class="btn btn-primary"
                           ng-click="previewImage(hrEmpTransferInfo)"><img
                            ng-src="data:image/JPEG;base64,{{hrEmpTransferInfo.releaseLetterDoc}}" width="40px"></a>
                    </span>
                    </td>

                    <td>
                        <span translate="stepApp.hrEmpTransferInfo.releaseLetterDocName">releaseLetterDocName</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmpTransferInfo.releaseLetterDocName}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmpTransferInfo.activeStatus">ActiveStatus</span>
                    </td>
                    <td>
                        <span
                            class="form-control-static">{{hrEmpTransferInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.hrEmpTransferInfo.createDate">CreateDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmpTransferInfo.createDate | date:'mediumDate'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.hrEmpTransferInfo.transferComments">transferComments</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{hrEmpTransferInfo.transferComments}}</span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
