<div class="col-md-12 common-list">
    <h2 translate="stepApp.hrEmpTransferInfo.home.approvalHomeTitle">approvalHomeTitle</h2>
    <div class="col-sm-12 padding-tb">
        <div class="col-md-8 col-xs-12 no_padding">
            <div class="col-md-6 no_padding">
                <b>{{ (hrEmpTransferInfos | filter:q).length }} <span translate="global.home.searchhere">Search Here :</span></b>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"
                                                                         aria-hidden="true"></i></span>
                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                </div>
            </div>
            <div class="col-md-6">
                <b><span translate="global.home.itemperpage">Items per page:</span></b>
                <div class="input-group">
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 text-right no_padding dlbtn-top">
            <span ng-if="!approvalObject.isHead">
                <strong>Employee is not a HEAD</strong>
            </span>
            <span ng-if="approvalObject.isHead">
                <ul>HEAD of [{{approvalObject.departmentHeadCount}}]
                    <li ng-repeat="deptInfo in approvalObject.departmentList">
                      {{ deptInfo.departmentInfo.departmentName }}
                    </li>
                </ul>
            </span>
        </div>
    </div>

    <div class="col-sm-12 table-responsive no_padding">
        <div class="sidebyside">
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th><span translate="global.form.serial">serial</span></th>
                    <th><span translate="stepApp.hrEmpTransferInfo.employeeInfo">employeeInfo</span></th>
                    <th><span translate="stepApp.hrEmpTransferInfo.transferType">transferType</span></th>
                    <th><span translate="stepApp.hrEmpTransferInfo.dateOfJoining">dateOfJoining</span></th>
                    <th><span translate="stepApp.hrEmpTransferInfo.jobReleaseDate">jobReleaseDate</span></th>
                    <th><span translate="stepApp.hrEmpTransferInfo.toEmployeeType">toEmployeeType</span></th>
                    <th><span translate="stepApp.hrEmpTransferInfo.releaseLetterDoc">releaseLetterDoc</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr ng-animate="'animate'"
                    dir-paginate="hrEmpTransferInfo in approvalObject.pendingList | filter:q | itemsPerPage: pageSize track by hrEmpTransferInfo.id"
                    current-page="currentPage">
                    <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                    <td>{{hrEmpTransferInfo.employeeInfo.fullName}}</td>
                    <td>{{hrEmpTransferInfo.transferType.typeName}}</td>
                    <td>{{hrEmpTransferInfo.dateOfJoining | date:'mediumDate'}}</td>
                    <td>{{hrEmpTransferInfo.jobReleaseDate | date:'mediumDate'}}</td>
                    <td>{{hrEmpTransferInfo.toEmployeeType}}</td>
                    <td>
                        <button ng-if="hrEmpTransferInfo.releaseLetterContentType" type="button" class="btn btn-link"
                                ng-click="previewReleaseLetterDoc(hrEmpTransferInfo)">Release Doc</button>
                    </td>

                    <td class="text-right no-print">
                        <button type="submit"
                                ui-sref="hrEmpTransferInfo.detail({id:hrEmpTransferInfo.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button  type="button" class="btn btn-default" ng-click="viewTransferReleaseDocumentApprovalForm(hrEmpTransferInfo)">
                            <span translate="stepApp.hrEmpTransferInfo.approveButton">Appove Transfer</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>

        </div>
    </div>
</div>


<div class="modal animated bounceInUp" id="transferReleaseDocumentApprovalForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="jobDocUpdateForm" ng-submit="approveReleaseDocument()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" translate="stepApp.hrEmpTransferInfo.home.approvalModalTitle">Approval Modal Confirmation
                        {{hrEmpTransferInfo.employeeInfo.fullName}}</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" translate="stepApp.hrEmpTransferInfo.jobReleaseDate">jobReleaseDate</label>
                                <div class="input-margin">
                                    {{hrEmpTransferInfo.jobReleaseDate | date:'mediumDate'}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" translate="stepApp.hrEmpTransferInfo.dateOfJoining">dateOfJoining</label>
                                <div class="input-margin">
                                    {{hrEmpTransferInfo.dateOfJoining | date:'mediumDate'}}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                        translate="entity.action.close">Close</span>
                    </button>
                    <span>
                        <button type="submit" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="approveReleaseDocument()">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                            translate="stepApp.hrmHome.buttonTextApprove">Approve</span>
                        </button>
                    </span>
                    <span>
                        <button type="submit" class="btn btn-danger" data-dismiss="modal" ng-click="rejectReleaseDocument()">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="stepApp.hrmHome.buttonTextReject"> Reject</span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .sidebyside {
        background: #fff;
        border: 1px solid #ddd;
        padding: 5px;
    }
    .sidearrow{
        position: relative;
    }
    .sidearrow:after{
        position: absolute;
        content: "";
        background: url('/assets/images/arr.png');
        height: 30px;
        width: 30px;
        background-size: cover;
        top: 117px;
        left: -24px;
    }
</style>
