<div class="col-md-12 common-list">
    <h2 translate="stepApp.hrEmpTransferInfo.home.title">HrEmpTransferInfos</h2>
    <!--
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrEmployeeInfo.transfer">
                <span class="glyphicon glyphicon-plus"></span> <span> Old Transfer</span>
            </button>

            <button class="btn btn-primary su_sea_pri" ui-sref="hrEmpTransferInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrEmpTransferInfo.home.createLabel">Create a new HrEmpTransferInfo</span>
            </button>
        </div>
    </div> -->
    <!--<jh-alert></jh-alert>-->
    <div class="col-sm-12 padding-tb">
        <div class="col-md-8 col-xs-12 no_padding">
            <div class="col-md-6 no_padding">
                <b>{{ (hrEmpTransferInfos | filter:q).length }} <span translate="global.home.searchhere">Search Here :</span></b>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"
                                                                         aria-hidden="true"></i></span>
                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                </div>
            </div>
            <div class="col-md-6">
                <b><span translate="global.home.itemperpage">Items per page:</span></b>
                <div class="input-group">
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 text-right no_padding dlbtn-top">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrEmpTransferInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrEmpTransferInfo.home.createLabel">Create a new HrEmpTransferInfo</span>
            </button>
        </div>
    </div>

    <div class="col-sm-12 table-responsive no_padding">
        <div class="sidebyside">
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th><span translate="global.form.serial">serial</span></th>
                    <th><span translate="stepApp.hrEmpTransferInfo.employeeInfo">employeeInfo</span></th>
                    <th><span translate="stepApp.hrEmpTransferInfo.transferType">transferType</span></th>
                    <th><span translate="stepApp.hrEmpTransferInfo.toOrganizationType">toOrganizationType</span></th>
                    <th><span>Category</span></th>
                    <th><span>Inst./Org.</span></th>
                    <th><span translate="stepApp.hrEmpTransferInfo.toDepartmentInfo">toDepartmentInfo</span></th>
                    <th><span translate="stepApp.hrEmpTransferInfo.toDesignationInfo">toDesignationInfo</span></th>
                    <th><span translate="stepApp.hrEmpTransferInfo.toEmployeeType">toEmployeeType</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr ng-animate="'animate'"
                    dir-paginate="hrEmpTransferInfo in hrEmpTransferInfos | filter:q | itemsPerPage: pageSize track by hrEmpTransferInfo.id"
                    current-page="currentPage">
                    <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                    <td>{{hrEmpTransferInfo.employeeInfo.fullName}}</td>
                    <td>{{hrEmpTransferInfo.transferType.typeName}}</td>
                    <td>{{hrEmpTransferInfo.toOrganizationType}}</td>
                    <td>
                        <span ng-if="(hrEmpTransferInfo.toOrganizationType=='Organization')">
                             {{hrEmpTransferInfo.toOrgCategory.typeName}}
                        </span>
                        <span ng-if="(hrEmpTransferInfo.toOrganizationType=='Institute')">
                             {{hrEmpTransferInfo.toInstCategory.name}}
                        </span>
                    </td>
                    <td>
                        <span ng-if="(hrEmpTransferInfo.toOrganizationType=='Organization')">
                             {{hrEmpTransferInfo.toOrganization.name}}
                        </span>
                        <span ng-if="(hrEmpTransferInfo.toOrganizationType=='Institute')">
                             {{hrEmpTransferInfo.toInstitute.name}}
                        </span>
                    </td>
                    <td>{{hrEmpTransferInfo.toDepartmentInfo.departmentInfo.departmentName}}</td>
                    <td>{{hrEmpTransferInfo.toDesignationInfo.designationInfo.designationName}}</td>
                    <td>{{hrEmpTransferInfo.toEmployeeType}}</td>
                    <td class="text-right no-print">
                        <!-- ng-click="viewTransferLog(hrEmpTransferInfo.id)" -->
                        <button type="submit"
                                ui-sref="hrEmpTransferInfo.detail({id:hrEmpTransferInfo.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit" ng-hide="true"
                                ui-sref="hrEmpTransferInfo.edit({id:hrEmpTransferInfo.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                            translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit" ng-hide="true"
                                ui-sref="hrEmpTransferInfo.delete({id:hrEmpTransferInfo.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <!--
    <div class="col-md-6">
        <div class="sidebyside sidearrow">
            <table class="table">
                <tr ng-if="hrEmployeeInfosss.length>0"
                    dir-paginate="hrEmpTransferInfo in hrEmployeeInfosss | filter:q | itemsPerPage: pageSize track by hrEmpTransferInfo.id"
                    current-page="currentPage">
                    <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                    <td><a ui-sref="hrEmpTransferInfo.detail({id:hrEmpTransferInfo.id})">{{hrEmpTransferInfo.employeeId}}</a></td>
                    <td>
                        <a ui-sref="hrEmployeeInfo.detail({id:hrEmpTransferInfo.employeeInfo.id})">{{hrEmpTransferInfo.fullName}}</a>
                    </td>
                    <td>{{hrEmpTransferInfo.birthDate}}</td>
                    <td>{{hrEmpTransferInfo.employeeInfo.workAreaDtl.name}}</td>
                    <td>{{hrEmpTransferInfo.designation}}</td>
                    <td>{{hrEmpTransferInfo.departmentFrom}}</td>
                    <td>{{hrEmpTransferInfo.departmentTo}}</td>
                    <td>
                        <a ui-sref="miscTypeSetup.detail({id:hrEmpTransferInfo.transferType.id})">{{hrEmpTransferInfo.transferType.typeName}}</a>
                    </td>
                    <td>
                        <a ui-sref="miscTypeSetup.detail({id:hrEmpTransferInfo.jobCategory.id})">{{hrEmpTransferInfo.jobCategory.typeName}}</a>
                    </td>
                    <td class="text-right no-print">
                        <button type="button"
                                ng-click="viewTransferLog(hrEmpTransferInfo.id)"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>

                    </td>
                </tr>
            </table>
        </div>
    </div>
    -->
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
<style>
    .sidebyside {
        background: #fff;
        border: 1px solid #ddd;
        padding: 5px;
    }
    .sidearrow{
        position: relative;
    }
    .sidearrow:after{
        position: absolute;
        content: "";
        background: url('/assets/images/arr.png');
        height: 30px;
        width: 30px;
        background-size: cover;
        top: 117px;
        left: -24px;
    }
</style>
