
    <div class="panel panel-default">
        <div class="col-sm-12 col-head no_padding">
            <div class="col-sm-6 col-head-heading">
                <h3>Report Panel for Course Management System</h3>
            </div>
            </div>
        <div class="panel-body bg-panel no_padding">
            <jh-alert></jh-alert>

            <div class=" col-md-12 col-sm-12 col-xs-12 ">

            </div>


            <div class=" col-md-12 col-sm-12 col-xs-12 no_padding">


                <div class="text-center">
                    <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
                </div>
            </div>


        </div>
    </div>
</div>
