<div class="col-md-12 common-table padding-right0 padding-left5">
<h2><span translate="stepApp.hrDepartmentHeadSetup.details.title">HrDepartmentHeadSetup</span></h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentHeadSetup.setupType">SetUpType</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentHeadSetup.setupType}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrDepartmentHeadSetup.code">DepartmentCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentHeadSetup.departmentCode}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentHeadSetup.name">DepartmentName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentHeadSetup.departmentName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrDepartmentHeadSetup.detail" >DepartmentDetail</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentHeadSetup.departmentDetail}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDepartmentHeadSetup.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentHeadSetup.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
                <!--<td>
                    <span translate="stepApp.hrDepartmentHeadSetup.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentHeadSetup.createDate | date:'mediumDate'}}</span>
                </td>-->
            </tr>
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.hrDepartmentHeadSetup.createBy">CreateBy</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{hrDepartmentHeadSetup.createBy}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>
                <td>
                    <span translate="stepApp.hrDepartmentHeadSetup.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDepartmentHeadSetup.updateDate | date:'mediumDate'}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.hrDepartmentHeadSetup.updateBy">UpdateBy</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{hrDepartmentHeadSetup.updateBy}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel">cancel</span>
    </button>
</div>
