<!--<ng-include src="'scripts/app/entities/umrac/umrac-left-menu.html'"></ng-include>-->
<div class="col-md-12 lbl-dash padding-lf0">
    <div class="col-md-12 common-list padding5">
        <h2 translate="user-management.home.title">Users</h2>
        <div class="col-md-12 no-print">
            <div class="col-md-2 no_padding">
                <label for="" class="control-label" translate="global.home.searchhere"></label>
                <input ng-model="q" id="search" class="form-control"
                       placeholder="{{'global.home.searchhere' | translate}}">
            </div>
            <div class="col-md-2">
                <label for="" class="control-label" translate="global.home.itemperpage"></label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize"
                       placeholder="{{'global.home.itemperpage' | translate}}">
            </div>
            <div class="col-md-3"> <!--   text-right no_padding -->
                <div class="form-group">
                    <label class=" control-label" for="field_searchCategory" translate="global.home.searchby">Search By</label>
                    <select class="form-control" id="field_searchCategory"
                            name="searchCategory"
                            ng-model="searchCategory">
                        <option disabled selected value="">{{'global.home.select' |translate}}</option>
                        <option value="login">Login</option>
                        <option value="firstName">First Name</option>
                        <option value="lastName">Last Name</option>
                        <option value="email">Email</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="field_searchKey" translate="global.home.searchfor">Search For</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="searchKey" id="field_searchKey" ng-model="searchKey"/>
                    <div class="input-group-btn">
                        <button class="btn btn-primary " ng-click="loadUserBySearch(searchCategory, searchKey)"><span
                            class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">

                <button class="btn btn-primary " style="margin-top: 25px" ng-click="loadAll()"><span class="glyphicon glyphicon-refresh"></span>
                    <span> Reload</span>
                </button>
            </div>
        </div>
        <div class="col-md-12 table-responsive no_padding">
            <table class="table table-striped">
                <caption class="caption notice text-center">
               <span translate="entity.action.found"
                     translate-values="{found: '{{users.length}}', total: '{{total}}'}">{{users.length}}
               users retrieved from total of {{total}} users </span>
                </caption>
                <thead>
                <tr>

                    <th translate="global.field.serial">Serial</th>
                    <th><input type="checkbox" ng-model="areAllUsersSelected"
                               ng-change="updateUsersSelection(users, areAllUsersSelected)"/></th>
                    <th ng-click="order('id', reverse=!reverse)"
                        translate="global.field.id">ID
                    </th>
                    <th ng-click="order('login', reverse=!reverse)"
                        translate="user-management.login">Login
                    </th>
                    <th translate="user-management.firstName">First Name</th>
                    <th translate="user-management.lastName">Last Name</th>
                    <th ng-click="order('email', reverse=!reverse)"
                        translate="user-management.email">Email
                    </th>
                    <th ng-click="order('active', reverse=!reverse)"><span translate="user-management.activate">Activated</span>
                    </th>
                    <th ng-click="order('langKey', reverse=!reverse)" translate="user-management.langKey">LangKey</th>
                    <th translate="user-management.profiles">Profiles</th>
                    <th ng-click="order('createdDate', reverse=!reverse)"
                        translate="user-management.createdDate">CreatedDate
                    </th>
                    <th translate="user-management.userAction">User Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="user in users  | filter:q | itemsPerPage: pageSize">
                    <td>{{$index+1}}</td>
                    <!--<tr  ng-repeat="user in users | filter:filter | orderBy:predicate:reverse track by user.id">-->
                    <td><input type="checkbox" ng-model="user.isSelected"/></td>
                    <td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td>
                    <td>{{user.login}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td><span class="label label-danger"
                              ng-click="setActive(user, true)" ng-show="!user.activated"
                              translate="user-management.deactivated" style="cursor: pointer;">Desactivated</span>
                        <span class="label label-success"
                              ng-click="setActive(user, false)" ng-show="user.activated"
                              translate="user-management.activated" style="cursor: pointer;">Activated</span>
                    </td>
                    <td>{{user.langKey}}</td>
                    <td>
                        <div ng-repeat="authority in user.authorities">
                            <span class="label label-info">{{ authority }}</span>
                        </div>
                    </td>
                    <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    ui-sref="umracPasswordChange.password({login:user.login})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                            > Change Password</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav class="no-print">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                         template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
            </nav>
        </div>
    </div>
</div>
