<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-body bg-panel">
            <div class="row hrm-view">
                <span ng-show="addMode">
                    <span ng-show="noEmployeeFound" class="alert">Employee is not created yet.</span>
                </span>
            </div>
            <div class="panel-group hr_label">
                <!-- For Loop Start From Here-->
                <div class="bg-panel" ng-repeat="hrEmpAwardInfo in hrEmpAwardInfoList">
                    <form name="editForm" role="form" ng-submit="save()" novalidate show-validation>
                        <div class="row hrm-view panel-heading no_padding">
                            <div class="col-sm-7 no_padding">
                                <strong>{{hrEmpAwardInfo.awardName}} : {{hrEmpAwardInfo.awardArea}}</strong>
                            </div>
                            <div class="col-sm-5 no_padding text-right">
                                <button
                                    ng-hide="noEmployeeFound || hrEmpAwardInfo.isLocked || hrEmpAwardInfo.logStatus==6"
                                    ng-if="!(hrEmpAwardInfo.logStatus == 11 || hrEmpAwardInfo.logStatus == 33 || hrEmpAwardInfo.logStatus == 55)"
                                    type="button" ng-click="changeProfileMode(hrEmpAwardInfo)"
                                    class="btn btn-primary btn-sm">{{hrEmpAwardInfo.viewModeText}}
                                </button>
                                <span ng-show="hrEmpAwardInfo.isLocked" class="alert alert-warning"><span
                                    translate="stepApp.hrmHome.recordLocked">Pending</span></span>
                                <span
                                    ng-if="(hrEmpAwardInfo.logStatus == 22 || hrEmpAwardInfo.logStatus == 44 || hrEmpAwardInfo.logStatus == 66)">
                                        <span class="alert alert-warning" translate="stepApp.hrmHome.requestRejected">Rejected</span>
                                    </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right"
                                 ng-if="(hrEmpAwardInfo.logStatus == 22 || hrEmpAwardInfo.logStatus == 44 || hrEmpAwardInfo.logStatus == 66)">
                                <span class="alert-warning">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.rejectionReason">Reason</span>: &nbsp; : &nbsp;{{hrEmpAwardInfo.logComments}}
                                </span>
                            </div>
                            <div class="col-sm-12 text-right"
                                 ng-if="(hrEmpAwardInfo.logStatus == 11 || hrEmpAwardInfo.logStatus == 33 || hrEmpAwardInfo.logStatus == 55)">
                                <span class="alert-warning" ng-if="hrEmpAwardInfo.logStatus == 11">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.messages.waitingForDeptHeadApproval">Waiting @ Department Head Approval</span>
                                </span>
                                <span class="alert-warning" ng-if="hrEmpAwardInfo.logStatus == 33">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.messages.waitingForInstHeadApproval">Waiting @ Institute Head Approval</span>
                                </span>
                                <span class="alert-warning" ng-if="hrEmpAwardInfo.logStatus === 55">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.messages.waitingForSystemAdminApproval">Waiting @ System Admin Approval</span>
                                </span>
                            </div>
                        </div>
                        <div class="row" ng-show="hrEmpAwardInfo.viewMode">
                            <div class="col-md-12 table-responsive padding0">
                                <table class="table dtetables">
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpAwardInfo.awardName"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAwardInfo.awardName}}</td>
                                        <td><strong translate="stepApp.hrEmpAwardInfo.awardArea"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAwardInfo.awardArea}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpAwardInfo.awardDate"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAwardInfo.awardDate | date:'mediumDate'}}</td>
                                        <td><strong translate="stepApp.hrEmpAwardInfo.certNumber"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAwardInfo.certNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpAwardInfo.awardReceivedFrom"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAwardInfo.awardReceivedFrom}}</td>
                                        <td><strong translate="stepApp.hrEmpAwardInfo.remarks"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpAwardInfo.remarks}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpAwardInfo.goOrderDoc"></strong></td>
                                        <td><span ng-click="previewGODoc(hrEmpAwardInfo)">
                                            &nbsp; : &nbsp;<img
                                            ng-src="data:image/JPEG;base64,{{hrEmpAwardInfo.goOrderDoc}}" width="40px"></span>
                                        </td>
                                        <td><strong translate="stepApp.hrEmpAwardInfo.certDoc"></strong></td>
                                        <td><span ng-click="previewCertDoc(hrEmpAwardInfo)">
                                            &nbsp; : &nbsp;<img
                                            ng-src="data:image/JPEG;base64,{{hrEmpAwardInfo.certDoc}}"
                                            width="40px"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpAwardInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <div class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpAwardInfo.awardName"
                                           for="field_awardName">AwardName</label>
                                    <input type="text" class="form-control" name="awardName" id="field_awardName"
                                           ng-model="hrEmpAwardInfo.awardName"
                                           ng-maxlength="150" ng-minlength="5" maxlength="150" minlength="5" only-letters
                                           required/>
                                    <div ng-show="editForm.awardName.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.awardName.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color: #f00; font-size: 10px;"
                                               ng-show="editForm.awardName.$error.maxlength">
                                            This field should not longer than 150 character
                                        </small>
                                        <small style="color: #f00; font-size: 10px;"
                                               ng-show="editForm.awardName.$error.minlength">
                                            This field need to be at least 5 character
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpAwardInfo.awardArea"
                                           for="field_awardArea">AwardArea</label>
                                    <input type="text" class="form-control" name="awardArea" id="field_awardArea"
                                           ng-model="hrEmpAwardInfo.awardArea"
                                           ng-maxlength="50" ng-minlength="5" maxlength="50" minlength="5" only-letters
                                           required/>
                                    <div ng-show="editForm.awardArea.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.awardArea.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color: #f00; font-size: 10px;"
                                               ng-show="editForm.awardArea.$error.maxlength">
                                            This field should not longer than 50 character
                                        </small>
                                        <small style="color: #f00; font-size: 10px;"
                                               ng-show="editForm.awardArea.$error.minlength">
                                            This field need to be at least 5 character
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpAwardInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <div class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpAwardInfo.awardDate"
                                           for="field_awardDate">AwardDate</label>
                                    <input datepicker-popup="{{calendar.dateFormat}}"
                                           is-open="calendar.opened['awardDate'+$index]"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'awardDate'+$index)" class="form-control"
                                           name="awardDate" id="field_awardDate"
                                           ng-model="hrEmpAwardInfo.awardDate" required
                                    max-date="toDay"
                                    />
                                    <div ng-show="editForm.awardDate.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.awardDate.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpAwardInfo.certNumber"
                                           for="field_certNumber">certNumber</label>
                                    <input type="text" class="form-control" name="certNumber" id="field_certNumber"
                                           ng-model="hrEmpAwardInfo.certNumber"
                                           minlength="6" maxlength="30" ng-minlength="6" ng-maxlength="30"
                                           required only-numbers
                                    />
                                    <div ng-show="editForm.certNumber.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.certNumber.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color: #f00; font-size: 10px;"
                                               ng-show="editForm.certNumber.$error.maxlength">
                                            This field should not longer than 30 character
                                        </small>
                                        <small style="color: #f00; font-size: 10px;"
                                               ng-show="editForm.certNumber.$error.minlength">
                                            This field need to be at least 6 character
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpAwardInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpAwardInfo.awardReceivedFrom"
                                       for="field_awardReceivedFrom">awardReceivedFrom</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="awardReceivedFrom"
                                           id="field_awardReceivedFrom"
                                           ng-model="hrEmpAwardInfo.awardReceivedFrom"
                                           ng-maxlength="100" ng-minlength="4" maxlength="100" minlength="4" only-letters
                                           placeholder="Person / Institute / Organization" required/>
                                    <div ng-show="editForm.awardReceivedFrom.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.awardReceivedFrom.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color: #f00; font-size: 10px;"
                                               ng-show="editForm.awardReceivedFrom.$error.maxlength">
                                            This field should not longer than 100 character
                                        </small>
                                        <small style="color: #f00; font-size: 10px;"
                                               ng-show="editForm.awardReceivedFrom.$error.minlength">
                                            This field need to be at least 4 character
                                        </small>
                                    </div>
                                </div>
                                <span ng-show="hrEmpAwardInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpAwardInfo.awardReceivedFrom}}</span>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpAwardInfo.remarks"
                                       for="field_remarks">Remarks</label>
                                <div ng-show="!hrEmpAwardInfo.viewMode" class="input-margin">
                                        <textarea class="form-control" name="remarks" id="field_remarks"
                                                  ng-model="hrEmpAwardInfo.remarks"></textarea>
                                </div>
                                <span ng-show="hrEmpAwardInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmpAwardInfo.remarks}}</span>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpAwardInfo.viewMode">
                            <div class="form-group col-sm-6" ngf-drop ngf-change="setGoOrderDoc($file, hrEmpAwardInfo)">
                                <label class="control-label" translate="stepApp.hrEmpAwardInfo.goOrderDoc"
                                       for="field_goOrderDoc">GoOrderDoc</label>
                                <div class="input-margin">
                                    <div class="help-block clearfix">
                                        <span class="pull-left">{{hrEmpAwardInfo.goOrderDocContentType}} {{byteSize(hrEmpAwardInfo.goOrderDoc)}}</span>
                                        <button
                                            ng-click="hrEmpAwardInfo.goOrderDoc=null;hrEmpAwardInfo.goOrderDocContentType=null;"
                                            ng-if="hrEmpAwardInfo.goOrderDoc"
                                            class="btn btn-default btn-xs pull-right">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                    <button type="file" ngf-select class="btn btn-default btn-block"
                                            ngf-change="setGoOrderDoc($file, hrEmpAwardInfo)"
                                            translate="entity.action.addblob">
                                        Add blob
                                    </button>
                                </div>
                                <input type="hidden" class="form-control" name="goOrderDoc" id="field_goOrderDoc"
                                       ng-model="hrEmpAwardInfo.goOrderDoc"/>
                                <input type="hidden" class="form-control" name="goOrderDocContentType"
                                       id="field_goOrderDocContentType"
                                       ng-model="hrEmpAwardInfo.goOrderDocContentType"/>
                                <a ng-if="hrEmpAwardInfo.goOrderDocContentType" class="btn btn-link"
                                   ng-click="previewGODoc(hrEmpAwardInfo)">View</a>
                            </div>
                            <div class="form-group col-sm-6" ngf-drop ngf-change="setCertDoc($file, hrEmpAwardInfo)">
                                <label class="control-label" translate="stepApp.hrEmpAwardInfo.certDoc"
                                       for="field_certDoc">CertDoc</label>
                                <div ng-show="!hrEmpAwardInfo.viewMode" class="input-margin">
                                    <div class="help-block clearfix">
                                        <span class="pull-left">{{hrEmpAwardInfo.certDocContentType}} {{byteSize(hrEmpAwardInfo.certDoc)}}</span>
                                        <button
                                            ng-click="hrEmpAwardInfo.certDoc=null;hrEmpAwardInfo.certDocContentType=null;"
                                            ng-if="hrEmpAwardInfo.certDoc"
                                            class="btn btn-default btn-xs pull-right">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                    <button type="file" ngf-select class="btn btn-default btn-block"
                                            ngf-change="setCertDoc($file, hrEmpAwardInfo)"
                                            translate="entity.action.addblob">
                                        Add blob
                                    </button>
                                </div>
                                <input type="hidden" class="form-control" name="certDoc" id="field_certDoc"
                                       ng-model="hrEmpAwardInfo.certDoc"/>
                                <input type="hidden" class="form-control" name="certDocContentType"
                                       id="field_certDocContentType"
                                       ng-model="hrEmpAwardInfo.certDocContentType"/>
                                <a ng-if="hrEmpAwardInfo.certDocContentType" class="btn btn-link"
                                   ng-click="previewCertDoc(hrEmpAwardInfo)">View</a>
                            </div>
                        </div>
                        <div class="row hrm-view">
                            <div class="form-group col-sm-6">&nbsp;</div>
                            <div class="form-group col-sm-6 text-right">
                                <button ng-show="!hrEmpAwardInfo.viewMode" type="button"
                                        ng-click="changeProfileMode(hrEmpAwardInfo)" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-remove"></span>&nbsp;{{hrEmpAwardInfo.viewModeText}}
                                </button>
                                <button ng-show="!hrEmpAwardInfo.viewMode"
                                        ng-click="updateProfile(hrEmpAwardInfo, $index)"
                                        type="button" ng-disabled="editForm.$invalid || isSaving"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                                    translate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End of Loop -->
                <div class="col-sm-12 no_padding text-right">
                    <button type="submit" class="btn btn-primary" ng-show="!addMode"
                            ng-disabled="editForm.$invalid || isSaving" ng-click="addMore()"><i
                        class="fa fa-plus-square"></i>
                        <span translate="global.menu.account.addmore">Add More</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
