<div class="" >
    <div class="col-md-3 padding0">
        <ng-include src="'scripts/app/entities/umrac/umrac-left-menu.html'"></ng-include>
    </div>
    <div class="col-md-9 padding5">
            <div class="main-content" ui-view="umracManagementView"></div>
    </div>
</div>


