<ul class="nav nav-list bs-docs-sidenav su_btn_center">
    <li has-any-authority="ROLE_ADMIN">
        <a ui-sref="umrac" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.umracDashboard"></span>

        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a ui-sref="umracModuleSetup" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.umracModuleSetup"></span>

        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a ui-sref="umracSubmoduleSetup" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.umracSubmoduleSetup"></span>

        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a ui-sref="umracActionSetup" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.umracActionSetup"></span>

        </a>
    </li>

    <!--<li>
        <a ui-sref="umracRoleSetup" ui-sref-active="active">
            <i class="fa fa-pencil-square-o"></i>
            <span translate="global.menu.entities.umracRoleSetup"></span>
            <i class=" pull-right fa fa-caret-right"></i>
        </a>
    </li>-->
    <li has-any-authority="ROLE_ADMIN">
        <a ui-sref="umracRoleSetup" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.umracRoleSetup"></span>

        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a ui-sref="umracIdentitySetup" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.umracIdentitySetup"></span>

        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a ui-sref="umracRoleAssignUser" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.umracRoleAssignUser"></span>

        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a ui-sref="securityConfigurationTable" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.securityConfigurationTable"></span>

        </a>
    </li>
    <!--<li   has-any-authority="ROLE_ADMIN">
        <a ui-sref-active="active" ui-sref="user-management" data-toggle="collapse" data-target=".navbar-collapse.in">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span> Password Change</span>
        </a>
    </li>-->
    <li has-any-authority="ROLE_ADMIN">
        <a ui-sref="umracPasswordChange" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.entities.passChange"> Password Change</span>

        </a>
    </li>
    <!--<li has-any-authority="ROLE_ADMIN">-->
        <!--<a ui-sref="ReportEngine.module({module: 'ums'})" ui-sref-active="active">-->
            <!--<i class="fa fa-angle-double-right"></i>-->
            <!--<span translate="global.menu.report"></span>-->

        </a>
    </li>
    <li><a ui-sref="ReportEngine({module:'ums'})" ui-sref-active="active"
           has-any-authority="ROLE_ADMIN,ROLE_DEPUTY_CONTROLLER,ROLE_CHAIRMAN, ROLE_DS_SECRETARY">
        <i class="fa fa-pencil-square-o"></i>
        <span translate="global.menu.report"></span>
    </a>
    </li>



    <!--<li>-->
        <!--<a ui-sref="umracRightsSetup" ui-sref-active="active">-->
            <!--<i class="fa fa-pencil-square-o"></i>-->
            <!--<span translate="global.menu.entities.umracRightsSetup"></span>-->
            <!--<i class=" pull-right fa fa-caret-right"></i>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a ui-sref="umracRightsLog" ui-sref-active="active">-->
            <!--<i class="fa fa-pencil-square-o"></i>-->
            <!--<span translate="global.menu.entities.umracRightsLog"></span>-->
            <!--<i class=" pull-right fa fa-caret-right"></i>-->
        <!--</a>-->
    <!--</li>-->



    <!--<li>-->
        <!--<a ui-sref="feeInvoice" ui-sref-active="active">-->
            <!--<i class="fa fa-pencil-square-o"></i>-->
            <!--<span translate="global.menu.entities.feeInvoice"></span>-->
            <!--<i class=" pull-right fa fa-caret-right"></i>-->
        <!--</a>-->
    <!--</li>-->



</ul>
