<!--<div class="col-md-12 common-list">-->
    <!--<h2 translate="stepApp.iisCurriculumInfo.home.title">IisCurriculumInfos</h2>-->
    <!--&lt;!&ndash;<jh-alert></jh-alert>&ndash;&gt;-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-4">-->
                <!--<button class="btn btn-primary" ui-sref="iisCurriculumInfo.new">-->
                    <!--<span class="glyphicon glyphicon-flash"></span> <span-->
                    <!--translate="stepApp.iisCurriculumInfo.home.createLabel">Create a new IisCurriculumInfo</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="col-md-8">-->
                <!--<form name="searchForm" class="form-inline">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" ng-model="searchQuery" id="searchQuery"-->
                               <!--placeholder="query">-->
                    <!--</div>-->
                    <!--<button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span>-->
                        <!--<span>Search a IisCurriculumInfo</span>-->
                    <!--</button>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-md-12 table-responsive no_padding">-->
        <!--<table class="table table-striped">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th translate="global.field.id">ID</th>-->
                <!--<th translate="stepApp.iisCurriculumInfo.firstDate">FirstDate</th>-->
                <!--<th translate="stepApp.iisCurriculumInfo.lastDate">LastDate</th>-->
                <!--<th translate="stepApp.iisCurriculumInfo.mpoEnlisted">MpoEnlisted</th>-->
                <!--<th translate="stepApp.iisCurriculumInfo.recNo">RecNo</th>-->
                <!--<th translate="stepApp.iisCurriculumInfo.mpoDate">MpoDate</th>-->
                <!--<th translate="stepApp.iisCurriculumInfo.cmsCurriculum">cmsCurriculum</th>-->
                <!--<th></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="iisCurriculumInfo in iisCurriculumInfos track by iisCurriculumInfo.id">-->
                <!--<td><a ui-sref="iisCurriculumInfo.detail({id:iisCurriculumInfo.id})">{{iisCurriculumInfo.id}}</a></td>-->
                <!--<td>{{iisCurriculumInfo.firstDate | date:'mediumDate'}}</td>-->
                <!--<td>{{iisCurriculumInfo.lastDate | date:'mediumDate'}}</td>-->
                <!--<td>{{iisCurriculumInfo.mpoEnlisted}}</td>-->
                <!--<td>{{iisCurriculumInfo.recNo}}</td>-->
                <!--<td>{{iisCurriculumInfo.mpoDate | date:'mediumDate'}}</td>-->
                <!--<td>-->
                    <!--<a ui-sref="cmsCurriculum.detail({id:iisCurriculumInfo.cmsCurriculum.id})">{{iisCurriculumInfo.cmsCurriculum.name}}</a>-->
                <!--</td>-->
                <!--<td class="text-right">-->
                    <!--<button type="submit"-->
                            <!--ui-sref="iisCurriculumInfo.detail({id:iisCurriculumInfo.id})"-->
                            <!--class="btn btn-info btn-sm">-->
                        <!--<span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>-->
                    <!--</button>-->
                    <!--<button type="submit"-->
                            <!--ui-sref="iisCurriculumInfo.edit({id:iisCurriculumInfo.id})"-->
                            <!--class="btn btn-primary btn-sm">-->
                        <!--<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span-->
                        <!--translate="entity.action.edit"> Edit</span>-->
                    <!--</button>-->
                    <!--<button type="submit"-->
                            <!--ui-sref="iisCurriculumInfo.delete({id:iisCurriculumInfo.id})"-->
                            <!--class="btn btn-danger btn-sm">-->
                        <!--<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span-->
                        <!--translate="entity.action.delete"> Delete</span>-->
                    <!--</button>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<nav>-->
            <!--<ul class="pagination">-->
                <!--<li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>-->
                <!--<li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>-->
                <!--<li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>-->
                <!--<li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>-->
                <!--<li class="active"><a>{{page + 1}}</a></li>-->
                <!--<li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>-->
                <!--<li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>-->
                <!--<li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>-->
                <!--<li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>-->
            <!--</ul>-->
        <!--</nav>-->
    <!--</div>-->
<!--</div>-->
