<div ng-cloak>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!--<h1 translate="error.title">Error Page!</h1>-->

            <div class="errorpage" >
                <h1 translate="error.title">Error Page!</h1>
                <span translate="error.403">You are not authorized to access the page.</span>
            </div>
        </div>
    </div>
</div>
<div id="wordtree_basic" style="width: 100%; height: auto;"></div>
<script type="text/javascript">
    google.charts.load('current', {packages:['wordtree']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable(
            [ ['Phrases'],
                ['Dhaka Mohammadpur 1 2 3 4 5 6'],
                ['Dhaka Mohammadpur kibble'],
                ['Dhaka Mohammadpur better than hamsters'],
                ['Dhaka Mohammadpur awesome'],
                ['Dhaka Mohammadpur people too'],
                ['Dhaka Mohammadpur mice'],
                ['Dhaka Mohammadpur'],
                ['Dhaka Mohammadpur the cradle'],
                ['Dhaka Mirpur Mirpur-4 mice'],
                ['Dhaka Mirpur Mirpur-5 the cradle lyrics'],
                ['Dhaka Mirpur Mirpur-6 kibble'],
                ['Dhaka Mirpur Mirpur-7 adoption'],
                ['Dhaka Mirpur Mirpur-8 family'],
                ['Dhaka Mirpur Mirpur-9 mice'],
                ['Dhaka Mirpur Mirpur-10 better than kittens'],
                ['Dhaka Mirpur Mirpur-11 evil'],
                ['Dhaka Mirpur Mirpur-12 weird'],
                ['Dhaka Mirpur Mirpur-13 mice'],
            ]
        );

        var options = {
            wordtree: {
                format: 'implicit',
                word: 'Dhaka'
            }
        };

        var chart = new google.visualization.WordTree(document.getElementById('wordtree_basic'));
        chart.draw(data, options);
    }
</script>
<style>
    .errorpage {
        text-align: center;
        background: rgb(205,235,142);
        background: -moz-radial-gradient(center, ellipse cover, rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%);
        background: -webkit-radial-gradient(center, ellipse cover, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%);
        background: radial-gradient(ellipse at center, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=1 );
        font-size: 25px;
        font-weight: 400;
        padding: 60px;
        border-radius: 3px;
        border: 4px double #fff;
        color: #E91E63;
        margin: 30px 0px;
        text-shadow: 0px 0px 2px;
    }
</style>
