<div class="col-md-2 responsive_padding no-print padding-left0 padding-right0">
    <ng-include src="'scripts/app/entities/jobPortal/jp-admin-menu.html'"></ng-include>
</div>
    <div class="col-md-10 lbl-dash padding0">
        <div class="col-md-12 common-list padding-right5">
            <h2 class="page-header" translate="global.home.organisationList">organisationList</h2>
            <div class="col-md-12 padding-bt">
                <div class="col-xs-4 no_padding">
                    <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
                </div>
                <div class="col-xs-4">
                    <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
                </div>
            </div>
            <div class="col-sm-12 col-md-12  table-responsive no_padding">
            <table class="table table-hover table-striped">
                <caption class="notice text-center" translate="entity.action.found"
                         translate-values="{found: '{{approvedEmployers.length}}', total: '{{totalApproved}}'}">{{approvedEmployers.length}} employers retrieved from total of {{totalApproved}} employers
                </caption>
                <thead>
                <tr>
                    <th  ng-click="order('name', reverse=!reverse)" translate="stepApp.employer.companyName">Name</th>
                    <th  ng-click="order('address', reverse=!reverse)" translate="stepApp.employer.industryType">industryType</th>
                    <th  ng-click="order('contactNumber', reverse=!reverse)" translate="stepApp.employer.contactNumber">ContactNumber</th>
                    <th  ng-click="order('address', reverse=!reverse)" translate="stepApp.employer.address">Address</th>
                    <th  ng-click="order('address', reverse=!reverse)" translate="stepApp.employer.companyInformation">company Information</th>
                    <th  ng-click="order('address', reverse=!reverse)" translate="stepApp.employer.city">City</th>

                    <th ></th>
                    <th ></th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="employer in approvedEmployers | filter:q | itemsPerPage: pageSize track by employer.id" current-page="currentPage">
                    <!--<tr ng-repeat="employer in approvedEmployers | filter:filter | orderBy:predicate:reverse track by employer.id">-->
                    <td >{{employer.name}}</td>
                    <td >{{employer.industryType}}</td>
                    <td >{{employer.contactNumber}}</td>
                    <td >{{employer.address}}</td>
                    <td >{{employer.companyInformation}}</td>
                    <td >{{employer.city}}</td>
                    <!--<td  class="btn-group pull-right">-->
                        <!--<button type="submit"-->
                                <!--ng-click="employer-management-detail(employer.id)"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>-->
                        <!--</button>-->

                    <!--</td>-->
                </tr>
                </tbody>
            </table>
                <nav class="no-print">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                             template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
                </nav>
            </div>
        </div>
      </div>
</div>
