<style>
    table{
        border: 1px solid #ddd;
    }
    .pension-view{
        margin: 15px 0px;
        background: #444;
        padding: 15px 1px;
    }
    .pension-view h6 {
        font-size: 12px;
        text-align: center;
    }
    .pension-view div {
        text-align: center;
    }
</style>
<div class="col-md-12 common-list">

    <div class="col-sm-12 text-right padding-tb"
         ng-if="instGenInfo.institute == null || instGenInfo.institute.infoEditStatus === 'Pending'">

        <button
        ui-sref="pgmsRetiremnetPensionAppPending.approve({id:pgmsAppRetirmntPen.id})"
        class="btn btn-primary">
        <span class="glyphicon glyphicon-check"></span>&nbsp;
        <span translate="entity.action.approve"> Approve</span>
        </button>
        <button
        ui-sref="pgmsRetiremnetPensionAppPending.reject({id:pgmsAppRetirmntPen.id})"
        class="btn btn-primary">
        <span class="glyphicon glyphicon-check"></span>&nbsp;
        <span translate="entity.action.deny"> deny</span>
        </button>
    </div>
    <tabset justified="true" class="dte-tab">
        <tab heading="{{'stepApp.pgmsAppRetirmntPen.detail.employeeInformation' | translate}}" select="generalInfo()"
             disable="generalInfoTab">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12 padding-tb">
                        <h2 style="text-align: left">
                            <span translate="stepApp.pgmsAppRetirmntPen.detail.title" style="text-align: left">Pension Retirement Application</span>
                            <span translate="stepApp.pgmsAppRetirmntPen.detail.employeeInformation" style="float: right"  ></span>
                        </h2>
                        <!--<div class="col-sm-12 text-right padding-tb" ng-hide="hideGenInfoApprove">-->

                    </div>
                    <div class="col-sm-12 table-responsive no_padding">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>
                                    <span translate="stepApp.pgmsAppRetirmntPen.applicationType">Application Type</span>
                                </th>
                                <td>
                                    <span class="form-control-static">{{pgmsAppRetirmntPen.applicationType}}</span>
                                </td>
                                <th>
                                    <span translate="stepApp.pgmsAppRetirmntPen.workDuration">Work Duration</span>
                                </th>
                                <td>
                                    <span class="form-control-static">{{pgmsAppRetirmntPen.workDuration}}</span>
                                </td>
                            </tr>
                            <tr>

                                <th>
                                    <span translate="stepApp.pgmsAppRetirmntPen.emergencyContact">Emergency Contact</span>
                                </th>
                                <td>
                                <span
                                    class="form-control-static">{{pgmsAppRetirmntPen.emergencyContact}}</span>
                                </td>
                                <th>
                                    <span translate="stepApp.pgmsAppRetirmntPen.bankName">Bank Name</span>
                                </th>
                                <td>
                                    <span class="form-control-static">{{pgmsAppRetirmntPen.bankName}}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <span translate="stepApp.pgmsAppRetirmntPen.accountNumber">Account No</span>
                                </th>
                                <td>
                                    <span class="form-control-static">{{pgmsAppRetirmntPen.bankAcc}}</span>
                                </td>
                                <th>
                                    <span translate="stepApp.pgmsAppRetirmntPen.bankBranch">Branch Name</span>
                                </th>
                                <td>
                                    <span class="form-control-static">{{pgmsAppRetirmntPen.bankBranch}}</span>
                                </td>
                            </tr>
                            <tr>
                                <th><span translate="stepApp.pgmsAppRetirmntPen.appDate">Apply Date</span></th>
                                <td>
                                    <span class="form-control-static">{{pgmsAppRetirmntPen.appDate | date:'mediumDate'}}</span>
                                </td>
                                <th></th>
                                <td></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <button type="submit"
                                onclick="window.history.back()"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                            translate="entity.action.back"> Back</span>
                        </button>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading=" {{'stepApp.pgmsAppRetirmntPen.detail.nomineeInformation' | translate}}" select="adminInfo()"
             disable="adminInfoTab">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12 padding-tb">
                        <h2 style="text-align: left">
                            <span translate="stepApp.pgmsAppRetirmntPen.detail.title" style="text-align: left">Nominee Information</span>
                            <span translate="stepApp.pgmsAppRetirmntPen.detail.nomineeInformation" style="float: right"  ></span>
                        </h2>
                    </div>

                    <div class="panel-body no_padding adminst-infor">
                        <div class="col-sm-12 table-responsive institute-govt-body no_padding">
                            <div  class="col-md-6" ng-repeat="pgmsAppRetirmntNmine in pgmsHrNomineeList track by pgmsAppRetirmntNmine.id " >
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <span translate="stepApp.pgmsAppRetirmntNmine.nomineeName">Nominee Name</span>
                                        </td>
                                        <td>
                                            <span class="form-control-static">{{pgmsAppRetirmntNmine.nomineeName}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span translate="stepApp.pgmsAppRetirmntNmine.gender">Gender</span>
                                        </td>
                                        <td>
                                            <span class="form-control-static">{{pgmsAppRetirmntNmine.gender}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span translate="stepApp.pgmsAppRetirmntNmine.dateOfBirth">Date Of Birth</span>
                                        </td>
                                        <td>
                                            <span class="form-control-static">{{pgmsAppRetirmntNmine.dateOfBirth}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span translate="stepApp.pgmsAppRetirmntNmine.relation">Relation</span>
                                        </td>
                                        <td>
                                            <span class="form-control-static">{{pgmsAppRetirmntNmine.relation}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span translate="stepApp.pgmsAppRetirmntNmine.getPension">Pension Percentage</span>
                                        </td>
                                        <td>
                                            <span class="form-control-static">{{pgmsAppRetirmntNmine.getPension}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                    <span
                                        translate="stepApp.pgmsAppRetirmntNmine.birthCertificate">Birth Certificate</span>
                                        </td>
                                        <td>

                                            <div data-parent="#accordion" ng-click="displayAttachment(pgmsAppRetirmntNmine)"
                                                 data-toggle="collapse"
                                                 data-target="#{{attachment.id}}" aria-expanded="false"
                                                 aria-controls="{{pgmsAppRetirmntNmine.id}}">
                                                <a href="javascript:void(0)"
                                                   ng-click="previewDoc(pgmsAppRetirmntNmine)"></span>
                                                    &nbsp;<span><button class="btn btn-primary"><span
                                                        class="glyphicon glyphicon-picture"></span></button> </span></a>

                                            </div>
                                            <!--<span class="form-control-static">{{pgmsAppRetirmntNmine.birthCertificate}}</span>-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit"
                                onclick="window.history.back()"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
                        </button>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading=" {{'stepApp.pgmsAppRetirmntPen.detail.pensionCalculation' | translate}}" select="adminInfo()"
             disable="adminInfoTab">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12 padding-tb">
                        <h2 style="text-align: left">
                            <span translate="stepApp.pgmsAppRetirmntPen.detail.title" style="text-align: left">Pension Calculation Information</span>
                            <span translate="stepApp.pgmsAppRetirmntPen.detail.pensionCalculation" style="float: right"  ></span>
                        </h2>

                    </div>

                    <div class="panel-body no_padding adminst-infor">
                        <div class="col-sm-12 table-responsive institute-govt-body no_padding">
                            <table class="table table-striped">
                                <thead>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <span translate="stepApp.pgmsAppRetirmntCalculation.lastPayCodeElpcInfo">Last Pay Scale Elpc Info</span>
                                    </td>
                                    <td>
                                    <span
                                        class="form-control-static">{{pgmsAppRetirmntCalculation.lastPayCodeElpcInfo}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.pgmsAppRetirmntCalculation.totalPenOrGr">Total Pension & Gratuity</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{pgmsAppRetirmntCalculation.totalPenOrGr}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <span
                                        translate="stepApp.pgmsAppRetirmntCalculation.firstHalfOfPen">Date Of Birth</span>
                                    </td>
                                    <td>
                                    <span
                                        class="form-control-static">{{pgmsAppRetirmntCalculation.firstHalfOfPen}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.pgmsAppRetirmntCalculation.secondHalfOfPen">Relation</span>
                                    </td>
                                    <td>
                                    <span
                                        class="form-control-static">{{pgmsAppRetirmntCalculation.secondHalfOfPen}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.pgmsAppRetirmntCalculation.exchangeRetirmntAl">Birth Certificate</span>
                                    </td>
                                    <td>
                                    <span
                                        class="form-control-static">{{pgmsAppRetirmntCalculation.exchangeRetirmntAl}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.pgmsAppRetirmntCalculation.deservedRetirmntAl">Pension Percentage</span>
                                    </td>
                                    <td>
                                    <span
                                        class="form-control-static">{{pgmsAppRetirmntCalculation.deservedRetirmntAl}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.pgmsAppRetirmntCalculation.monthlyRetirmntAl">Pension Percentage</span>
                                    </td>
                                    <td>
                                    <span
                                        class="form-control-static">{{pgmsAppRetirmntCalculation.monthlyRetirmntAl}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.pgmsAppRetirmntCalculation.rateOfExForSecHalf">Pension Percentage</span>
                                    </td>
                                    <td>
                                    <span
                                        class="form-control-static">{{pgmsAppRetirmntCalculation.rateOfExForSecHalf}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.pgmsAppRetirmntCalculation.deservedRetirementAllFor100">Pension Percentage</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{pgmsAppRetirmntCalculation.deservedRetirementAllFor100}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.pgmsAppRetirmntCalculation.totalGratuity">Pension Percentage</span>
                                    </td>
                                    <td>
                                    <span
                                        class="form-control-static">{{pgmsAppRetirmntCalculation.totalGratuity}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="stepApp.pgmsAppRetirmntCalculation.monthlyRetiAlSecHalf">Pension Percentage</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{pgmsAppRetirmntCalculation.monthlyRetiAlSecHalf}}</span>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit"
                                onclick="window.history.back()"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
                        </button>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading=" {{'stepApp.pgmsAppRetirmntPen.detail.pensionAppAttachment' | translate}}" select="adminInfo()"
             disable="adminInfoTab">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12 padding-tb">
                        <h2 style="text-align: left">
                            <span translate="stepApp.pgmsAppRetirmntPen.detail.title" style="text-align: left">Pension Application Attachment</span>
                            <span translate="stepApp.pgmsAppRetirmntPen.detail.pensionAppAttachment" style="float: right"  ></span>
                        </h2>
                    </div>

                    <div class="panel-body no_padding adminst-infor ">

                        <div class="col-md-3" ng-repeat="pgmsAppRetirmntAttach in pgmsAppRetirementAttachList">
                            <div class="pension-view">
                                <h6>{{pgmsAppRetirmntAttach.attachName.attachName}}</h6>
                                <div data-parent="#accordion" ng-click="displayAttachment(pgmsAppRetirmntAttach)"
                                     data-toggle="collapse"
                                     data-target="#{{attachment.id}}" aria-expanded="false"
                                     aria-controls="{{pgmsAppRetirmntAttach.id}}">
                                    <a href="javascript:void(0)"
                                       ng-click="previewDoc(pgmsAppRetirmntAttach)"></span>
                                        &nbsp;<span><button class="btn btn-primary"><span
                                            class="glyphicon glyphicon-picture"></span></button> </span></a>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <button type="submit"
                                onclick="window.history.back()"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
                        </button>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>
