<style>
    .highlightedText {
        color: black;
        background-color: yellow;
    }
    .hf h3{
        margin: 0;
        color:#fff;
        font-size: 14px;
        line-height: 27px;
    }
</style>

<div class="general-title">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="modal-title su_h4_size">
                <span translate="stepApp.pgmsAppRetirmntPen.retirementApprove.generalHomeTitle">
                </span></h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="bg-panel hf" style="background: #4caf50; margin: 5px 0px; padding: 3px 15px">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 translate="stepApp.pgmsAppRetirmntPen.retirementApprove.subTitle"></h3>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button type="button" ng-model="button" ng-click="loadAll()" class="btn btn-primary btn-sm"><i
                                class="fa fa-refresh"></i> <span
                                translate="stepApp.pgmsAppRetirmntPen.retirementApprove.Refresh">Refresh</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <tabset justified="true" class="dte-tab">
                    <tab
                        heading="{{'stepApp.pgmsAppRetirmntPen.retirementApprove.dashboardTab1' | translate}} ({{newRequestList.length}})">

                        <div class="hrm-dash table-responsive">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>Search:</label><input id="searchText" ng-model="searchText" name="searchText"
                                                                 type="text"/>
                                    <input ng-hide="true" id="clearButton" value="Clear" type="button"
                                           ng-click="clearSearchText('request')">
                                </div>

                            </div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                <tr>
                                    <th>Serial</th>
                                    <th translate="stepApp.pgmsAppRetirmntPen.applicationType">ApplicationType</th>
                                    <th translate="stepApp.pgmsAppRetirmntPen.hrEmployeeInfo">Hr Employee Info</th>
                                    <th translate="stepApp.pgmsAppRetirmntPen.empName">Employee Name</th>
                                    <th translate="stepApp.pgmsAppRetirmntPen.designation">Designation</th>
                                    <th translate="stepApp.pgmsAppRetirmntPen.joinDate">WorkDuration</th>
                                    <th translate="stepApp.pgmsAppRetirmntPen.emergencyContact">EmergencyContact</th>
                                    <th></th>
                                </tr>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="requestObj in newRequestList |orderBy:sortKey:reverse|filter:searchText|itemsPerPage:15"
                                    pagination-id="requestListPaginate">
                                    <td>{{$index+1}}</td>
                                    <td>{{requestObj.applicationType}}</td>
                                    <td>
                                        <a ui-sref="HrEmployeeInfo.detail({id:pgmsAppRetirmntPen.hrEmployeeInfo.id})">{{pgmsAppRetirmntPen.hrEmployeeInfo.employeeId}}</a>
                                    </td>
                                    <td>{{requestObj.hrEmployeeInfo.fullName}}</td>
                                    <td>{{requestObj.hrEmployeeInfo.designationInfo.designationInfo.designationName}}
                                    </td>
                                    <td>{{requestObj.hrEmployeeInfo.dateOfJoining}}</td>
                                    <td>{{requestObj.emergencyContact}}</td>

                                    <td class="hrm-button">
                                        <button type="submit"
                                                ui-sref="pgmsRetiremnetPensionAppPending.approvalViewDetail({id:requestObj.id})"
                                                class="btn btn-info btn-sm">
                                            <span translate="stepApp.pgmsAppRetirmntPen.retirementApprove.requestView">View</span>
                                        </button>
                                        <!--<button type="button" ng-click="approvalConfirmation(requestObj, 'accept')" class="btn btn-primary btn-sm">-->
                                        <!--<span translate="stepApp.pgmsAppRetirmntPen.retirementApprove.requestAccept">Accept</span>-->
                                        <!--</button>-->
                                        <!--<button type="button" ng-click="approvalConfirmation(requestObj, 'reject')" class="btn btn-danger btn-sm">-->
                                        <!--<span translate="stepApp.pgmsAppRetirmntPen.retirementApprove.requestReject">Reject</span>-->
                                        <!--</button>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
                                                     pagination-id="requestListPaginate"></dir-pagination-controls>
                        </div>
                    </tab>


                    <tab
                        heading="{{'stepApp.pgmsAppRetirmntPen.retirementApprove.dashboardTab3' | translate}}  ({{approvedList.length}})">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>Search:</label><input id="searchTextApp" ng-model="searchTextApp"
                                                                 name="searchTextApp" type="text"/>
                                    <input ng-hide="true" id="clearButtonApp" value="Clear" type="button"
                                           ng-click="clearSearchTextApp('request')">
                                </div>

                            </div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Serial</th>
                                    <th translate="stepApp.pgmsAppRetirmntPen.applicationType">ApplicationType</th>
                                    <th translate="stepApp.pgmsAppRetirmntPen.hrEmployeeInfo">Hr Employee Info</th>
                                    <th translate="stepApp.pgmsAppRetirmntPen.empName">Employee Name</th>
                                    <th translate="stepApp.pgmsAppRetirmntPen.designation">Designation</th>
                                    <th translate="stepApp.pgmsAppRetirmntPen.joinDate">WorkDuration</th>
                                    <th translate="stepApp.pgmsAppRetirmntPen.emergencyContact">EmergencyContact</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="requestObj in approvedList |orderBy:sortKey3:reverse3|itemsPerPage:20|filter:searchTextApp"
                                    pagination-id="approvedListPaginate">
                                    <!--<td><a ui-sref="almEmpLeaveApplication.detail({id:almEmpLeaveApplication.id})">{{requestObj.id}}</a></td>-->
                                    <td>{{$index + 1}}</td>
                                    <td>{{requestObj.applicationType}}</td>
                                    <td>
                                        <a ui-sref="HrEmployeeInfo.detail({id:pgmsAppRetirmntPen.hrEmployeeInfo.id})">{{requestObj.hrEmployeeInfo.employeeId}}</a>
                                    </td>
                                    <td>{{requestObj.hrEmployeeInfo.fullName}}</td>
                                    <td>{{requestObj.hrEmployeeInfo.designationInfo.designationInfo.designationName}}
                                    </td>
                                    <td>{{requestObj.hrEmployeeInfo.dateOfJoining}}</td>
                                    <td>{{requestObj.emergencyContact}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
                                                     pagination-id="approvedListPaginate"></dir-pagination-controls>
                        </div>
                    </tab>
                    <tab
                        heading="{{'stepApp.pgmsAppRetirmntPen.retirementApprove.dashboardTab4' | translate}}  ({{rejectedList.length}})">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>Search:</label><input id="searchTextRej" ng-model="searchTextRej"
                                                                 name="searchTextRej" type="text"/>
                                    <input ng-hide="true" id="clearButtonRej" value="Clear" type="button"
                                           ng-click="clearSearchTextRej('approved')">
                                </div>

                            </div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Serial</th>
                                    <th translate="stepApp.pgmsAppRetirmntPen.applicationType">ApplicationType</th>
                                    <th translate="stepApp.pgmsAppRetirmntPen.hrEmployeeInfo">Hr Employee Info</th>
                                    <th translate="stepApp.pgmsAppRetirmntPen.empName">Employee Name</th>
                                    <th translate="stepApp.pgmsAppRetirmntPen.designation">Designation</th>
                                    <th translate="stepApp.pgmsAppRetirmntPen.joinDate">WorkDuration</th>
                                    <th translate="stepApp.pgmsAppRetirmntPen.emergencyContact">EmergencyContact</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="requestObj in rejectedList |orderBy:sortKey4:reverse4|itemsPerPage:20|filter:searchTextRej"
                                    pagination-id="rejectedListPaginate">
                                    <!--<td><a ui-sref="almEmpLeaveApplication.detail({id:almEmpLeaveApplication.id})">{{requestObj.id}}</a></td>-->
                                    <td>{{$index+1}}</td>
                                    <td>{{requestObj.applicationType}}</td>
                                    <td>
                                        <a ui-sref="HrEmployeeInfo.detail({id:pgmsAppRetirmntPen.hrEmployeeInfo.id})">{{requestObj.hrEmployeeInfo.employeeId}}</a>
                                    </td>
                                    <td>{{requestObj.hrEmployeeInfo.fullName}}</td>
                                    <td>{{requestObj.hrEmployeeInfo.designationInfo.designationInfo.designationName}}
                                    </td>
                                    <td>{{requestObj.hrEmployeeInfo.dateOfJoining}}</td>
                                    <td>{{requestObj.emergencyContact}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
                                                     pagination-id="rejectedListPaginate"></dir-pagination-controls>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>


<div class="modal animated bounceInUp" id="approveRejectConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="approvalForm" ng-submit="approvalActionDirect()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;
                    </button>
                    <h4 class="modal-title" translate="entity.delete.title"> Confirm Approval operation of
                        {{approvalObj.leaveTypeName}}</h4>
                </div>
                <div class="modal-body">
                    <div ng-if="approvalObj.actionType == 'accept'">

                        <p>Are you sure you want to approve this ?</p>
                    </div>
                    <div ng-if="approvalObj.actionType == 'reject'">
                        <label class="control-label" for="field_aprvComment">Comments</label>
                        <textarea class="form-control" name="aprvComment" id="field_aprvComment"
                                  ng-model="approvalObj.aprvComment"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.close">close</span>
                    </button>
                    <span ng-if="approvalObj.actionType == 'accept'">
                        <button type="submit" ng-disabled="approvalForm.$invalid" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                            translate="stepApp.hrmHome.buttonTextApprove"> Approve</span>
                        </button>
                    </span>
                    <span ng-if="approvalObj.actionType == 'reject'">
                        <button type="submit" ng-disabled="approvalForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="stepApp.hrmHome.buttonTextReject"> Reject</span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="approveViewDetailForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="approvalForm" ng-submit="approvalViewAction()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">
                        &times;
                    </button>
                    <h4 class="modal-title">{{approvalObj.viewFormTitle}}</h4>
                </div>
                <div class="modal-body">

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><span
                                    translate="stepApp.pgmsAppRetirmntPen.retirementApprove.fieldName">Field</span></th>
                                <th><span
                                    translate="stepApp.pgmsAppRetirmntPen.retirementApprove.fieldData">Value</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntPen.instEmpId">instEmpId</span>
                                </td>
                                <td>
                                    <a class="form-control-static"
                                       ui-sref="HrEmployeeInfo.detail({id:approvalObj.instEmpId.id})">{{approvalObj.instEmpId.employeeId}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntPen.withdrawnType">WithdrawnType</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.withdrawnType}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntPen.applicationType">ApplicationType</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.applicationType}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntPen.rcvGrStatus">RcvGrStatus</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.rcvGrStatus}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntPen.workDuration">WorkDuration</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.workDuration}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span
                                        translate="stepApp.pgmsAppRetirmntPen.emergencyContact">EmergencyContact</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.emergencyContact}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntPen.bankAccStatus">BankAccStatus</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.bankAccStatus}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntPen.bankName">BankName</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.bankName}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntPen.bankAcc">BankAcc</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.bankAcc}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntPen.bankBranch">BankBranch</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.bankBranch}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntPen.appDate">AppDate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.appDate | date:'mediumDate'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntPen.appNo">AppNo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.appNo}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <b class="form-control-static"> Retirement Application Nominee
                                        Information </b></span>
                                </td>
                            </tr>
                            <tr ng-repeat-start="retirmntNmine in pgmsAppRetirementNomineeList">
                                <td>
                                    <b class="form-control-static"> Nominee Name</b>
                                </td>
                                <td>
                                    <span class="form-control-static">{{retirmntNmine.nomineeName}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntNmine.nomineeStatus">NomineeStatus</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{retirmntNmine.nomineeStatus}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntNmine.nomineeName">NomineeName</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{retirmntNmine.nomineeName}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntNmine.gender">Gender</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{retirmntNmine.gender}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntNmine.relation">Relation</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{retirmntNmine.relation}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntNmine.dateOfBirth">DateOfBirth</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{retirmntNmine.dateOfBirth | date:'mediumDate'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntNmine.presentAddress">PresentAddress</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{retirmntNmine.presentAddress}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntNmine.nid">Nid</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{retirmntNmine.nid}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntNmine.occupation">Occupation</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{retirmntNmine.occupation}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntNmine.designation">Designation</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{retirmntNmine.designation}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntNmine.maritalStatus">MaritalStatus</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{retirmntNmine.maritalStatus}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntNmine.mobileNo">MobileNo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{retirmntNmine.mobileNo}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntNmine.getPension">GetPension</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{retirmntNmine.getPension}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span
                                        translate="stepApp.pgmsAppRetirmntNmine.birthCertificate">BirthCertificate</span>
                                </td>
                                <td>
                                    <div><a ng-if="retirmntNmine.certificateContentType" class="btn btn-link"
                                            ng-click="nomineeDoc(retirmntNmine)">View</a></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span
                                        translate="stepApp.pgmsAppRetirmntNmine.certificateDocName">CertificateDocName</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{retirmntNmine.certificateDocName}}</span>
                                </td>
                            </tr>
                            <tr ng-repeat-end>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntNmine.hrNomineeInfo">HrNomineeInfo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{retirmntNmine.hrNomineeInfo}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <b class="form-control-static"> Retirement Application Pension Calculation
                                        Information </b></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span
                                        translate="stepApp.pgmsAppRetirmntCalculation.surrenderType">SurrenderType</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{pgmsAppRetirmntCalculation.surrenderType}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span
                                        translate="stepApp.pgmsAppRetirmntCalculation.rateOfPension">RateOfPension</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{pgmsAppRetirmntCalculation.rateOfPension}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span
                                        translate="stepApp.pgmsAppRetirmntCalculation.totalPenOrGr">TotalPenOrGr</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{pgmsAppRetirmntCalculation.totalPenOrGr}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span
                                        translate="stepApp.pgmsAppRetirmntCalculation.firstHalfOfPen">FirstHalfOfPen</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{pgmsAppRetirmntCalculation.firstHalfOfPen}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntCalculation.exchangeRetirmntAl">ExchangeRetirmntAl</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{pgmsAppRetirmntCalculation.exchangeRetirmntAl}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntCalculation.deservedRetirmntAl">DeservedRetirmntAl</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{pgmsAppRetirmntCalculation.deservedRetirmntAl}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntCalculation.monthlyRetirmntAl">MonthlyRetirmntAl</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{pgmsAppRetirmntCalculation.monthlyRetirmntAl}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span
                                        translate="stepApp.pgmsAppRetirmntCalculation.dueAmountInfo">DueAmountInfo</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{pgmsAppRetirmntCalculation.dueAmountInfo}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span
                                        translate="stepApp.pgmsAppRetirmntCalculation.remainingTotal">RemainingTotal</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{pgmsAppRetirmntCalculation.remainingTotal}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <b class="form-control-static"> Retirement Application Attachment
                                        Information </b></span>
                                </td>
                            </tr>
                            <tr ng-repeat-start="pgmsAppRetirmntAttach in pgmsAppRetirementAttachList">
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntAttach.attachName">attachName</span>
                                </td>
                                <td>
                                    <a class="form-control-static"
                                       ui-sref="PgmsRetirmntAttachInfo.detail({id:pgmsAppRetirmntAttach.attachName.id})">{{pgmsAppRetirmntAttach.attachName.attachName}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntAttach.attachment">Attachment</span>
                                </td>
                                <td>
                                    <div><a ng-if="pgmsAppRetirmntAttach.attachmentContentType" class="btn btn-link"
                                            ng-click="previewDoc(pgmsAppRetirmntAttach)">View</a></div>

                                </td>
                            </tr>
                            <tr ng-repeat-end>
                                <td>
                                    <span translate="stepApp.pgmsAppRetirmntAttach.attachDocName">AttachDocName</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{pgmsAppRetirmntAttach.attachDocName}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div ng-hide="approvalObj.isApproved">
                                        <label class="control-label"
                                               translate="stepApp.pgmsAppRetirmntPen.retirementApprove.comments">Comments</label>
                                        <textarea class="form-control" name="aprvComment"
                                                  ng-model="approvalObj.aprvComment"></textarea>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.close">Close</span>
                    </button>
                    <span>
                        <button type="submit" class="btn btn-primary ">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                            translate="stepApp.pgmsAppRetirmntPen.retirementApprove.buttonTextApprove">Approve</span>
                        </button>
                    </span>
                    <span>
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="stepApp.pgmsAppRetirmntPen.retirementApprove.buttonTextReject"> Reject</span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
