<div class="common-list">
    <h2 translate="stepApp.pgmsAppRetirmntPen.home.title">PgmsAppRetirmntPens</h2>

    <div class="col-md-12 padding-bt ">
        <div class="col-md-8 col-xs-12 no_padding">
            <div class="col-md-6">
                <input ng-model="q" id="search" class="form-control"
                       placeholder="{{'global.home.searchhere' | translate}}">

            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="number" min="1" max="100" class="form-control itemperpage" ng-model="pageSize">
                </div>
            </div>
        </div>
        <div class="col-md-4 text-right btn-top" ng-if="applyEnable">
            <button class="btn btn-primary" ui-sref="pgmsAppRetirmntPen.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.pgmsAppRetirmntPen.home.createLabel">Create a new PgmsAppRetirmntPen</span>
            </button>
        </div>
    </div>


    <div class="modal fade" id="deletePgmsAppRetirmntPenConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(pgmsAppRetirmntPen.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.pgmsAppRetirmntPen.delete.question"
                           translate-values="{id: '{{pgmsAppRetirmntPen.id}}'}">Are you sure you want to delete this
                            PgmsAppRetirmntPen?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 no_padding table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.id">ID</th>
                <th translate="stepApp.pgmsAppRetirmntPen.applicationType">ApplicationType</th>
                <th translate="stepApp.pgmsAppRetirmntPen.hrEmployeeInfo">Hr Employee Info</th>
                <th translate="stepApp.pgmsAppRetirmntPen.empName">Employee Name</th>
                <th translate="stepApp.pgmsAppRetirmntPen.designation">Designation</th>
                <th translate="stepApp.pgmsAppRetirmntPen.joinDate">WorkDuration</th>
                <th translate="stepApp.pgmsAppRetirmntPen.emergencyContact">EmergencyContact</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="pgmsAppRetirmntPen in pgmsAppRetirmntPens | filter:q | itemsPerPage: pageSize track by pgmsAppRetirmntPen.id"
                current-page="currentPage">
                <td><a ui-sref="pgmsAppRetirmntPen.detail({id:pgmsAppRetirmntPen.id})">{{pgmsAppRetirmntPen.id}}</a>
                </td>
                <td>{{pgmsAppRetirmntPen.applicationType}}</td>
                <td>{{pgmsAppRetirmntPen.hrEmployeeInfo.employeeId}}</td>
                <td>{{pgmsAppRetirmntPen.hrEmployeeInfo.fullName}}</td>
                <td>{{pgmsAppRetirmntPen.hrEmployeeInfo.designationInfo.designationInfo.designationName}}</td>
                <td>{{pgmsAppRetirmntPen.hrEmployeeInfo.dateOfJoining}}</td>
                <td>{{pgmsAppRetirmntPen.emergencyContact}}</td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="pgmsAppRetirmntPen.detail({id:pgmsAppRetirmntPen.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <!--<button type="submit"-->
                    <!--ui-sref="pgmsAppRetirmntPen.edit({id:pgmsAppRetirmntPen.id})"-->
                    <!--class="btn btn-primary btn-sm">-->
                    <!--<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>-->
                    <!--</button>-->
                    <!--<button type="submit"-->
                    <!--ng-click="delete(pgmsAppRetirmntPen.id)"-->
                    <!--class="btn btn-danger btn-sm">-->
                    <!--<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>-->
                    <!--</button>-->
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/form/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
</div>
