<style>
    .nominee dl dt {
        float: left;
        font-size: 13px;
        margin-right: 14px;
    }
</style>
<div class="common-dialogue">
    <form class="" name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 class="modal-title" id="myPgmsAppRetirmntPenLabel"
            translate="stepApp.pgmsAppRetirmntPen.home.createOrEditLabel">Create or edit a PgmsAppRetirmntPen</h4>
        <div ng-show="viewPensionAppForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <div class="col-md-3">
                            <label class="control-label" translate="stepApp.pgmsAppRetirmntPen.applicationType">ApplicationType</label>
                            <div class="input-margin">
                                <label class="radio-inline">
                                    <input type="radio" data-ng-model="pgmsAppRetirmntPen.applicationType"
                                           name="applicationType" ng-change="workDurationView('officially')"
                                           value="officially">&nbsp;Officially&nbsp;&nbsp;
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" data-ng-model="pgmsAppRetirmntPen.applicationType"
                                           name="applicationType" ng-checked="true"
                                           value="willful">&nbsp;Willful
                                </label>
                                <div ng-show="editForm.applicationType.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.applicationType.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                              <span ng-if="pgmsAppRetirmntPen.applicationType != 'officially' ">
                                 <label class="control-label" translate="stepApp.pgmsAppRetirmntPen.workDuration"
                                        for="field_workDuration">WorkDuration</label>
                                 <div class="input-margin">
                                    <input type="text" class="form-control" name="workDuration"
                                           id="field_workDuration"
                                           ng-model="pgmsAppRetirmntPen.workDuration"
                                           readonly required/>
                                 </div>
                              </span>
                        </div>
                    </div>
                    {{}}
                    <div class="panel-body " ng-repeat="pgmsHrEmpBankInfo in pgmsHrEmpBankInfos"
                         for="{{pgmsHrEmpBankInfo}}">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 split-section">
                                    <p><span>Existing Bank Information</span></p>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label"
                                               translate="stepApp.pgmsAppRetirmntPen.bankName"
                                               for="field_bankName">BankName</label>
                                        <div class="input-margin">
                                            <input type="text" class="form-control" name="bankName"
                                                   id="field_bankName"
                                                   ng-model="pgmsHrEmpBankInfo.bankName.typeName" required/>
                                            <div ng-show="editForm.bankName.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.bankName.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label"
                                               translate="stepApp.pgmsAppRetirmntPen.bankAcc"
                                               for="field_bankAcc">BankAcc</label>
                                        <div class="input-margin">
                                            <input type="text" class="form-control" name="bankAcc"
                                                   id="field_bankAcc"
                                                   ng-model="pgmsHrEmpBankInfo.accountNumber" required/>
                                            <div ng-show="editForm.bankAcc.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.bankAcc.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label"
                                               translate="stepApp.pgmsAppRetirmntPen.bankBranch"
                                               for="field_bankBranch">Bank Branch</label>
                                        <div class="input-margin">
                                            <input type="text" class="form-control" name="bankBranch"
                                                   id="field_bankBranch"
                                                   ng-model="pgmsHrEmpBankInfo.branchName"/>
                                            <div ng-show="editForm.bankBranch.$invalid">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label"
                                               translate="stepApp.pgmsAppRetirmntPen.bankAccStatus">BankAccStatus</label>
                                        <div class="input-margin">
                                            <label class="radio-inline">
                                                <input type="radio" data-ng-model="pgmsHrEmpBankInfo.bankAccStatus"
                                                       data-ng-checked="true"
                                                       name="bankAccStatus"
                                                       ng-change="bankInfoView('true',pgmsHrEmpBankInfo)"
                                                       data-ng-value="true">&nbsp;Yes&nbsp;&nbsp;
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" data-ng-model="pgmsHrEmpBankInfo.bankAccStatus"
                                                       name="bankAccStatus"
                                                       ng-change="bankInfoView('false',pgmsHrEmpBankInfo)"
                                                       data-ng-value="false">&nbsp;No
                                            </label>
                                            <div ng-show="editForm.bankAccStatus.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.bankAccStatus.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" ng-show="addBankInfo">
                        <div class="col-md-12">
                            <div class="col-md-12 split-section">
                                <p><span>New Bank Information</span></p>
                                <div class="form-group col-sm-6">
                                    <label class="control-label"
                                           translate="stepApp.pgmsAppRetirmntPen.bankName"
                                           for="field_bankName">BankName</label>
                                    <div class="input-margin">
                                        <select class="form-control" id="field_bankSetup" name="bankName" ng-model="pgmsAppRetirmntPen.bankName"
                                        ng-options="MiscTypeSetup as MiscTypeSetup.typeTitle for MiscTypeSetup in misctypesetups track by MiscTypeSetup.id"
                                            <option value=""></option>
                                        </select>
                                        <div ng-show="editForm.bankName.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.bankName.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label"
                                           translate="stepApp.pgmsAppRetirmntPen.bankAcc"
                                           for="field_bankAcc">BankAcc</label>
                                    <div class="input-margin">
                                        <input type="text" class="form-control" name="bankAcc"
                                               id="field_bankAcc"
                                               ng-model="pgmsAppRetirmntPen.bankAcc" required/>
                                        <div ng-show="editForm.bankAcc.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.bankAcc.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label"
                                           translate="stepApp.pgmsAppRetirmntPen.bankBranch"
                                           for="field_bankBranch">Bank Branch</label>
                                    <div class="input-margin">
                                        <input type="text" class="form-control" name="bankBranch"
                                               id="field_bankBranch2"
                                               ng-model="pgmsAppRetirmntPen.bankBranch" required/>
                                        <div ng-show="editForm.bankBranch.$invalid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show='false' class="col-md-6  col-sm-6 col-xs-6">
                            <label class="control-label"
                                   translate="stepApp.pgmsAppRetirmntPen.bankAccStatus">BankAccStatus</label>
                            <div class="input-margin">
                                <label class="radio-inline">
                                    <input type="radio" data-ng-model="pgmsAppRetirmntPen.bankAccStatus"
                                           ng-checked="true"
                                           name="bankAccStatus"
                                           data-ng-value="true">&nbsp;Yes&nbsp;&nbsp;
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button"
                                ng-click="showHideForm(false, true,false, false)"
                                class="btn btn-info">
                            &nbsp;<span> Next </span> &nbsp; <i class="fa fa-angle-double-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pension Nomine Form Start Here -->

        <div ng-show="viewPensionNomineeForm" style="background: #fff">
            <h2 style="margin-bottom: 15px; font-size: 15px">Nominee Information </h2>
            <div class="row" ng-if="$stateParams.id == null">
                <div  ng-repeat="retirmntNmine in pgmsHrNomineeList track by $index">
                    <div class="col-md-6" ng-if="$index<totalList">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="nominee well"
                                     style="background: #fff; box-shadow: 0px 0px 2px 0px #ddd">
                                    <div class="row">
                                        <div class="split-section">
                                            <p><span>{{retirmntNmine.nomineeName}}</span></p>
                                        </div>
                                    </div>
                                    <dl>
                                        <dt><strong translate="stepApp.pgmsAppRetirmntNmine.nomineeName">AppRetirmntPenId </strong>
                                        </dt>
                                        <dd>&nbsp;:&nbsp;{{retirmntNmine.nomineeName}}</dd>
                                    </dl>
                                    <dl>
                                        <dt><strong translate="stepApp.pgmsAppRetirmntNmine.nomineeStatus">NomineeStatus</strong>
                                        </dt>
                                        <dd>
                                            <label class="radio-inline">
                                                <input type="radio"
                                                       data-ng-model="retirmntNmine.nomineeStatus"
                                                       name="nomineeStatus{{$index}}" data-ng-value="false">&nbsp;Yes&nbsp;&nbsp;
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio"
                                                       data-ng-model="retirmntNmine.nomineeStatus"
                                                       name="nomineeStatus{{$index}}" data-ng-value="true"
                                                       ng-click="hidePensionPercent($index)">&nbsp;No
                                            </label>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt><strong translate="stepApp.pgmsAppRetirmntNmine.getPension">GetPension </strong>
                                        </dt>
                                        <dd><input type="number" name="getPension" id="field_getPension" ng-readonly="retirmntNmine.nomineeStatus"
                                                   ng-model="retirmntNmine.getPension"
                                                   placeholder="%"
                                                   required/>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt><strong
                                            translate="stepApp.pgmsAppRetirmntNmine.gender">Gender</strong>
                                        </dt>
                                        <dd>&nbsp;:&nbsp;{{retirmntNmine.gender}}</dd>
                                    </dl>
                                    <dl>
                                        <dt><strong translate="stepApp.pgmsAppRetirmntNmine.dateOfBirth">DateOfBirth</strong>
                                        </dt>
                                        <dd>&nbsp;:&nbsp;{{retirmntNmine.dateOfBirth}}</dd>
                                    </dl>
                                    <dl>
                                        <dt><strong
                                            translate="stepApp.pgmsAppRetirmntNmine.relation">Relation</strong>
                                        </dt>
                                        <dd>&nbsp;:&nbsp;{{retirmntNmine.relation}}</dd>
                                    </dl>


                                    <dl>
                                        <dt><strong
                                            translate="stepApp.pgmsAppRetirmntNmine.birthCertificate">BirthCertificate</strong>
                                        </dt>
                                        <dd>
                                            <div ngf-drop
                                                 ngf-change="setBirthCertificate($file, retirmntNmine)">
                                                <div>
                                                    <div class="help-block clearfix">
                                                        <span class="pull-left">{{retirmntNmine.certificateContentType}} {{byteSize(retirmntNmine.birthCertificate)}}</span>

                                                    </div>
                                                    <button type="file" ngf-select
                                                            class="btn btn-default btn-xs"
                                                            ngf-change="setBirthCertificate($file, retirmntNmine)"
                                                            translate="entity.action.addbirthcer">
                                                        Add blob
                                                    </button>
                                                    <a ng-if="retirmntNmine.certificateContentType"
                                                       class="btn btn-primary btn-xs"
                                                       ng-click="nomineeDoc(retirmntNmine)">View</a>
                                                    <a
                                                        ng-click="retirmntNmine.birthCertificate=null;retirmntNmine.certificateContentType=null;"
                                                        ng-if="retirmntNmine.birthCertificate"
                                                        class="btn btn-danger btn-xs">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </a>
                                                </div>
                                                <input type="hidden" class="form-control"
                                                       name="birthCertificate" id="field_birthCertificate"
                                                       ng-model="retirmntNmine.birthCertificate"
                                                />
                                                <input type="hidden" class="form-control"
                                                       name="birthCertificateContentType"
                                                       id="field_certificateContentType"
                                                       ng-model="retirmntNmine.certificateContentType"/>

                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="col-md-4  col-sm-4 col-xs-4">
                                <div class="input-margin">
                                    <button type="button" ng-show="retirmntNmine.id"
                                            ng-click="deleteNomine(retirmntNmine)"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                                        translate="entity.action.delete"> Delete</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <span ng-if="$index>=0">
                              <hr>
                           </span>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12" ng-if="$index>=totalList"
                             style="background: #fff; box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3)">
                            <div class="">
                                <div class="split-section">
                                    <p><span>Add Nominee Information</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label"
                                           translate="stepApp.pgmsAppRetirmntNmine.nomineeName"
                                           for="field_nomineeName">NomineeName</label>
                                    <div class="input-margin">
                                        <input type="text" class="form-control" name="nomineeName"
                                               id="field_nomineeName"
                                               ng-model="retirmntNmine.nomineeName"
                                               required/>
                                        <div ng-show="editForm.nomineeName.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.nomineeName.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label"
                                           translate="stepApp.pgmsAppRetirmntNmine.gender">Gender</label>
                                    <div class="input-margin">
                                        <label class="radio-inline">
                                            <input type="radio" data-ng-model="retirmntNmine.gender"
                                                   name="gender{{$index}}" value="Male">&nbsp;Male&nbsp;&nbsp;
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" data-ng-model="retirmntNmine.gender"
                                                   name="gender{{$index}}" value="Female">&nbsp;Female&nbsp;&nbsp;
                                        </label>
                                        <div ng-show="editForm.gender.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.gender.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label"
                                           translate="stepApp.pgmsAppRetirmntNmine.relation"
                                           for="field_relation">Relation</label>
                                    <div class="input-margin">
                                        <select class="form-control" id="field_relation" name="relation" ng-model="retirmntNmine.relation"
                                                ng-options="MiscTypeSetup as MiscTypeSetup.typeTitle for MiscTypeSetup in misctypesetupss track by MiscTypeSetup.id"
                                        <option value=""></option>
                                        </select>

                                        <div ng-show="editForm.relation.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.relation.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label"
                                           translate="stepApp.pgmsAppRetirmntNmine.dateOfBirth"
                                           for="field_dateOfBirth">DateOfBirth</label>
                                    <div class="input-margin">
                                        <input datepicker-popup="{{calendar.dateFormat}}"
                                               is-open="calendar.opened['dateOfBirth'+$index]"
                                               datepicker-options="calendar.dateOptions" close-text="Close"
                                               ng-click="calendar.open($event, 'dateOfBirth'+$index)"
                                               class="form-control" name="dateOfBirth" id="field_dateOfBirth"
                                               ng-model="retirmntNmine.dateOfBirth" required/>
                                        <div ng-show="editForm.dateOfBirth.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.dateOfBirth.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label"
                                           translate="stepApp.pgmsAppRetirmntNmine.presentAddress"
                                           for="field_presentAddress">PresentAddress</label>
                                    <div class="input-margin">
                                    <textarea class="form-control" name="presentAddress" id="field_presentAddress"
                                              cols="20" rows="2" ng-maxlength="150"
                                              ng-model="retirmntNmine.presentAddress" required> </textarea>
                                        <div ng-show="editForm.presentAddress.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.presentAddress.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label" translate="stepApp.pgmsAppRetirmntNmine.nid"
                                           for="field_nid">Nid</label>
                                    <div class="input-margin">
                                        <input type="text" class="form-control" name="nid" id="field_nid"
                                               ng-model="retirmntNmine.nid"
                                               ng-remote-method="GET"
                                               ng-remote-throttle="500"
                                               ng-minlength="10"
                                               ng-maxlength="17"
                                               numeric-only-mobile/>
                                        <div ng-show="editForm.nid.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.nid.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.nid.$error.minlength"
                                               translate="entity.validation.minlength" translate-value-min="10">
                                                National ID will be in 17 digit length.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.nid.$error.maxlength"
                                               translate="entity.validation.maxlength" translate-value-max="17">
                                                National ID will be in 17 digit length.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label"
                                           translate="stepApp.pgmsAppRetirmntNmine.occupation"
                                           for="field_occupation">Occupation</label>
                                    <div class="input-margin">
                                        <input type="text" class="form-control" name="occupation"
                                               id="field_occupation"
                                               ng-model="retirmntNmine.occupation"
                                               required/>
                                        <div ng-show="editForm.occupation.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.occupation.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label"
                                           translate="stepApp.pgmsAppRetirmntNmine.designation"
                                           for="field_designation">Designation</label>
                                    <div class="input-margin">
                                        <input type="text" class="form-control" name="designation"
                                               id="field_designation"
                                               ng-model="retirmntNmine.designation"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label"
                                           translate="stepApp.pgmsAppRetirmntNmine.maritalStatus">MaritalStatus</label>
                                    <div class="input-margin">
                                        <label class="radio-inline">
                                            <input type="radio" data-ng-model="retirmntNmine.maritalStatus"
                                                   name="maritalStatus{{$index}}" value="Married">&nbsp;Married&nbsp;&nbsp;
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" data-ng-model="retirmntNmine.maritalStatus"
                                                   name="maritalStatus{{$index}}" value="Unmarried">&nbsp;Unmarried&nbsp;&nbsp;
                                        </label>
                                        <div ng-show="editForm.maritalStatus.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.maritalStatus.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label"
                                           translate="stepApp.pgmsAppRetirmntNmine.mobileNo"
                                           for="field_mobileNo">MobileNo</label>
                                    <div class="input-margin">
                                        <input type="text" class="form-control" name="mobileNo"
                                               id="field_mobileNo"
                                               ng-model="retirmntNmine.mobileNo"
                                               ng-minlength="11"
                                               ng-maxlength="18"
                                               required numeric-only-mobile/>
                                        <div ng-show="editForm.mobileNo.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.mobileNo.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.mobileNo.$error.minlength"
                                               translate="entity.validation.minlength" translate-value-min="11">
                                                This field is required to be at least 11 Digit.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.mobileNo.$error.maxlength"
                                               translate="entity.validation.maxlength" translate-value-max="18">
                                                This field cannot be longer than 18 Digit.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label"
                                           translate="stepApp.pgmsAppRetirmntNmine.getPension"
                                           for="field_getPension">GetPension</label>
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="getPension"
                                               id="field_getPension"
                                               ng-model="retirmntNmine.getPension"
                                               placeholder="%"
                                               required/>
                                        <div ng-show="editForm.getPension.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.getPension.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.getPension.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label class="control-label"
                                           translate="stepApp.pgmsAppRetirmntNmine.nomineeDisable">nomineeDisable</label>
                                    <div class="input-margin">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" data-ng-model="retirmntNmine.nomineeDisable"
                                                   name="nomineeDisable{{$index}}" value="Disable">&nbsp;Disable&nbsp;&nbsp;
                                        </label>
                                        <div ng-show="editForm.nomineeDisable.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.nomineeDisable.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label
                                        translate="stepApp.pgmsAppRetirmntNmine.nomineeUpload">NomineeUpload</label>
                                    <div ngf-drop
                                         ngf-change="setNomineeUpload($file, retirmntNmine)">
                                        <div>
                                            <div class="help-block clearfix">
                                                <span class="pull-left">{{retirmntNmine.nomineeContentType}} {{byteSize(retirmntNmine.nomineeUpload)}}</span>
                                                <button
                                                    ng-click="retirmntNmine.nomineeUpload=null;retirmntNmine.nomineeContentType=null;"
                                                    ng-if="retirmntNmine.nomineeUpload"
                                                    class="btn btn-default btn-xs pull-right">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </div>
                                            <button type="file" ngf-select class="btn btn-default btn-block"
                                                    ngf-change="setNomineeUpload($file, retirmntNmine)"
                                                    translate="entity.action.addblob">
                                                Add blob
                                            </button>
                                        </div>
                                        <input type="hidden" class="form-control" name="nomineeUpload"
                                               id="field_nomineeUpload"
                                               ng-model="retirmntNmine.nomineeUpload"
                                        />
                                        <input type="hidden" class="form-control"
                                               name="photoNomineeContentType"
                                               id="field_nomineeContentType"
                                               ng-model="retirmntNmine.nomineeContentType"/>
                                        <a ng-if="retirmntNmine.nomineeContentType"
                                           class="btn btn-link" ng-click="nomineePhoto(retirmntNmine)">View</a>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6  col-sm-6 col-xs-6"></div>
                                <div class="col-md-6  col-sm-6 col-xs-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label
                                        translate="stepApp.pgmsAppRetirmntNmine.birthCertificate">BirthCertificate</label>
                                    <div ngf-drop
                                         ngf-change="setBirthCertificate($file, retirmntNmine)">
                                        <div>
                                            <div class="help-block clearfix">
                                                <span class="pull-left">{{retirmntNmine.certificateContentType}} {{byteSize(retirmntNmine.birthCertificate)}}</span>
                                                <button
                                                    ng-click="retirmntNmine.birthCertificate=null;retirmntNmine.certificateContentType=null;"
                                                    ng-if="retirmntNmine.birthCertificate"
                                                    class="btn btn-default btn-xs pull-right">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </div>
                                            <button type="file" ngf-select class="btn btn-default btn-block"
                                                    ngf-change="setBirthCertificate($file, retirmntNmine)"
                                                    translate="entity.action.addblob">
                                                Add blob
                                            </button>
                                        </div>
                                        <input type="hidden" class="form-control" name="birthCertificate"
                                               id="field_birthCertificate"
                                               ng-model="retirmntNmine.birthCertificate"
                                        />
                                        <input type="hidden" class="form-control"
                                               name="birthCertificateContentType"
                                               id="field_certificateContentType"
                                               ng-model="retirmntNmine.certificateContentType"/>
                                        <a ng-if="retirmntNmine.certificateContentType"
                                           class="btn btn-link" ng-click="nomineeDoc(retirmntNmine)">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="$stateParams.id != null">
                <div ng-repeat="retirmntNmine in pgmsHrNomineeList">
                    <div class="row">
                        <div class="col-md-6  col-sm-6 col-xs-6">
                            <label class="control-label"
                                   translate="stepApp.pgmsAppRetirmntNmine.nomineeName"
                                   for="field_nomineeName">NomineeName</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="nomineeName"
                                       id="field_nomineeName"
                                       ng-model="retirmntNmine.nomineeName"
                                       required/>
                                <div ng-show="editForm.nomineeName.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.nomineeName.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6  col-sm-6 col-xs-6">
                            <label class="control-label"
                                   translate="stepApp.pgmsAppRetirmntNmine.gender">Gender</label>
                            <div class="input-margin">
                                <label class="radio-inline">
                                    <input type="radio" data-ng-model="retirmntNmine.gender"
                                           name="gender{{$index}}" value="Male">&nbsp;Male&nbsp;&nbsp;
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" data-ng-model="retirmntNmine.gender"
                                           name="gender{{$index}}" value="Female">&nbsp;Female&nbsp;&nbsp;
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" data-ng-model="retirmntNmine.gender"
                                           name="gender{{$index}}" value="other">&nbsp;Other
                                </label>
                                <div ng-show="editForm.gender.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.gender.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  col-sm-6 col-xs-6">
                            <label class="control-label" translate="stepApp.pgmsAppRetirmntNmine.relation"
                                   for="field_relation">Relation</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="relation" id="field_relation"
                                       ng-model="retirmntNmine.relation"
                                       required/>
                                <div ng-show="editForm.relation.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.relation.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6  col-sm-6 col-xs-6">
                            <label class="control-label"
                                   translate="stepApp.pgmsAppRetirmntNmine.dateOfBirth"
                                   for="field_dateOfBirth">DateOfBirth</label>
                            <div class="input-margin">
                                <input datepicker-popup="{{calendar.dateFormat}}"
                                       is-open="calendar.opened['dateOfBirth'+$index]"
                                       datepicker-options="calendar.dateOptions" close-text="Close"
                                       ng-click="calendar.open($event, 'dateOfBirth'+$index)"
                                       class="form-control" name="dateOfBirth" id="field_dateOfBirth"
                                       ng-model="retirmntNmine.dateOfBirth" required/>
                                <div ng-show="editForm.dateOfBirth.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.dateOfBirth.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  col-sm-6 col-xs-6">
                            <label class="control-label"
                                   translate="stepApp.pgmsAppRetirmntNmine.presentAddress"
                                   for="field_presentAddress">PresentAddress</label>
                            <div class="input-margin">
                                 <textarea class="form-control" name="presentAddress" id="field_presentAddress"
                                           cols="20" rows="2" ng-maxlength="150"
                                           ng-model="retirmntNmine.presentAddress" required> </textarea>
                                <div ng-show="editForm.presentAddress.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.presentAddress.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6  col-sm-6 col-xs-6">
                            <label class="control-label" translate="stepApp.pgmsAppRetirmntNmine.nid"
                                   for="field_nid">Nid</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="nid" id="field_nid"
                                       ng-model="retirmntNmine.nid"
                                       ng-remote-method="GET"
                                       ng-remote-throttle="500"
                                       ng-minlength="17"
                                       ng-maxlength="17"
                                       required numeric-only-mobile/>
                                <div ng-show="editForm.nid.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.nid.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.nid.$error.minlength"
                                       translate="entity.validation.minlength" translate-value-min="17">
                                        National ID will be in 17 digit length.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.nid.$error.maxlength"
                                       translate="entity.validation.maxlength" translate-value-max="17">
                                        National ID will be in 17 digit length.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  col-sm-6 col-xs-6">
                            <label class="control-label" translate="stepApp.pgmsAppRetirmntNmine.occupation"
                                   for="field_occupation">Occupation</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="occupation"
                                       id="field_occupation"
                                       ng-model="retirmntNmine.occupation"
                                       required/>
                                <div ng-show="editForm.occupation.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.occupation.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6  col-sm-6 col-xs-6">
                            <label class="control-label"
                                   translate="stepApp.pgmsAppRetirmntNmine.designation"
                                   for="field_designation">Designation</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="designation"
                                       id="field_designation"
                                       ng-model="retirmntNmine.designation"
                                       required/>
                                <div ng-show="editForm.designation.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.designation.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  col-sm-6 col-xs-6">
                            <label class="control-label"
                                   translate="stepApp.pgmsAppRetirmntNmine.maritalStatus">MaritalStatus</label>
                            <div class="input-margin">
                                <label class="radio-inline">
                                    <input type="radio" data-ng-model="retirmntNmine.maritalStatus"
                                           name="maritalStatus{{$index}}" value="Married">&nbsp;Married&nbsp;&nbsp;
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" data-ng-model="retirmntNmine.maritalStatus"
                                           name="maritalStatus{{$index}}" value="Unmarried">&nbsp;Unmarried&nbsp;&nbsp;
                                </label>
                                <div ng-show="editForm.maritalStatus.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.maritalStatus.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6  col-sm-6 col-xs-6">
                            <label class="control-label" translate="stepApp.pgmsAppRetirmntNmine.mobileNo"
                                   for="field_mobileNo">MobileNo</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="mobileNo" id="field_mobileNo"
                                       ng-model="retirmntNmine.mobileNo"
                                       ng-minlength="11"
                                       ng-maxlength="18"
                                       required numeric-only-mobile/>
                                <div ng-show="editForm.mobileNo.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.mobileNo.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.mobileNo.$error.minlength"
                                       translate="entity.validation.minlength" translate-value-min="11">
                                        This field is required to be at least 11 Digit.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.mobileNo.$error.maxlength"
                                       translate="entity.validation.maxlength" translate-value-max="18">
                                        This field cannot be longer than 18 Digit.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  col-sm-6 col-xs-6">
                            <label class="control-label" translate="stepApp.pgmsAppRetirmntNmine.getPension"
                                   for="field_getPension">GetPension</label>
                            <div class="input-margin">
                                <input type="number" class="form-control" name="getPension"
                                       id="field_getPension"
                                       ng-model="retirmntNmine.getPension"
                                       placeholder="%"
                                       required/>
                                <div ng-show="editForm.getPension.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.getPension.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.getPension.$error.number"
                                       translate="entity.validation.number">
                                        This field should be a number.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6  col-sm-6 col-xs-6">
                            <label class="control-label"
                                   translate="stepApp.pgmsAppRetirmntNmine.hrNomineeInfo">HrNomineeInfo</label>
                            <div class="input-margin">
                                <label class="radio-inline">
                                    <input type="radio" data-ng-model="retirmntNmine.hrNomineeInfo"
                                           name="hrNomineeInfo{{$index}}" data-ng-value="true">&nbsp;Yes&nbsp;&nbsp;
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" data-ng-model="retirmntNmine.hrNomineeInfo"
                                           name="hrNomineeInfo{{$index}}" data-ng-value="false">&nbsp;No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  col-sm-6 col-xs-6"></div>
                        <div class="col-md-6  col-sm-6 col-xs-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  col-sm-4 col-xs-4">
                            <label
                                translate="stepApp.pgmsAppRetirmntNmine.birthCertificate">BirthCertificate</label>
                        </div>
                        <div class="col-md-4  col-sm-4 col-xs-4" ngf-drop
                             ngf-change="setBirthCertificate($file, retirmntNmine)">
                            <label translate="stepApp.pgmsAppRetirmntNmine.attachment">attachment</label>
                            <div>
                                <div class="help-block clearfix">
                                    <span class="pull-left">{{retirmntNmine.certificateContentType}} {{byteSize(retirmntNmine.birthCertificate)}}</span>
                                    <button
                                        ng-click="retirmntNmine.birthCertificate=null;retirmntNmine.certificateContentType=null;"
                                        ng-if="retirmntNmine.birthCertificate"
                                        class="btn btn-default btn-xs pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                                <button type="file" ngf-select class="btn btn-default btn-block"
                                        ngf-change="setBirthCertificate($file, retirmntNmine)"
                                        translate="entity.action.addblob">
                                    Add blob
                                </button>
                            </div>
                            <input type="hidden" class="form-control" name="birthCertificate"
                                   id="field_birthCertificate"
                                   ng-model="retirmntNmine.birthCertificate"
                            />
                            <input type="hidden" class="form-control" name="certificateContentType"
                                   id="field_certificateContentType"
                                   ng-model="retirmntNmine.certificateContentType"/>
                            <a ng-if="retirmntNmine.certificateContentType"
                               class="btn btn-link" ng-click="nomineeDoc(retirmntNmine)">View</a>
                        </div>
                        <div class="col-md-4  col-sm-4 col-xs-4">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 no_padding text-right" style="margin: 15px 0px">
                <div class="col-md-12 no_padding" ng-show="pgmsHrNomineeList.length > totalList">
                    <button class="btn btn-danger pull-right"
                            ng-click="remove(pgmsHrNominee)" type="button">
                        <span class="glyphicon glyphicon-minus"></span>&nbsp;<span
                        translate="entity.action.remove">Remove</span>
                    </button>
                </div>
                <div class="col-sm-12  padding-tb">
                    <button type="button" class="btn btn-primary" ng-click="addMore()"><i
                        class="fa fa-plus-square"></i>
                        <span translate="global.menu.account.addmore">Add More</span>
                    </button>
                </div>
            </div>
            <div class="modal-footer no_padding col-md-12">
                <button type="button"
                        ng-click="showHideForm(true, false, false ,false)"
                        class="btn btn-info">
                    <i class="fa fa-angle-double-left"></i>&nbsp;<span> Prev </span>
                </button>
                <button type="button"
                        ng-click="showHideForm(false,false,true,false);checkPensionPercent()"
                        class="btn btn-info">
                    &nbsp;<span> Next </span> &nbsp; <i class="fa fa-angle-double-right"></i>
                </button>
            </div>
            <div class="col-md-12">Pension/Gratuity Calculation Form Start Here</div>
        </div>
        <!--Pension/Gratuity Calculation Form Start Here-->
        <div ng-show="viewPensionCalculationForm">
        <br>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <label class="control-label" translate="stepApp.pgmsAppRetirmntCalculation.surrenderType" style="font-size: 14px !important;">SurrenderType</label>
                    <div class="input-margin">
                        <label class="radio-inline">
                            <input type="radio" ng-model="pgmsAppRetirmntCalculation.surrenderType"
                                   name="surrenderType" ng-checked="true" ng-click="calculationView('50')"
                                   value="50">&nbsp;First Half(50%)&nbsp;&nbsp;
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="pgmsAppRetirmntCalculation.surrenderType"
                                   name="surrenderType" ng-click="calculationView('100')" value="100">&nbsp;Second
                            Half(100%)
                        </label>
                        <div ng-show="editForm.surrenderType.$invalid">
                            <p class="help-block"
                               ng-show="editForm.surrenderType.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-6  col-sm-6 col-xs-6">
                    <label class="control-label"
                           translate="stepApp.pgmsAppRetirmntCalculation.lastPayCodeElpcInfo"
                           for="field_lastPayCodeElpcInfo">lastPayCodeElpcInfo</label>
                    <div class="input-margin">
                        <input type="number" class="form-control" name="lastPayCodeElpcInfo"
                               id="field_lastPayCodeElpcInfo"
                               ng-model="pgmsAppRetirmntCalculation.lastPayCodeElpcInfo" required readonly/>
                    </div>
                </div>
                <div class="col-md-6  col-sm-6 col-xs-6">
                    <label class="control-label" translate="stepApp.pgmsAppRetirmntCalculation.rateOfPension"
                           for="field_rateOfPension">RateOfPension</label>
                    <div class="input-margin">
                        <input type="number" class="form-control" name="rateOfPension" id="field_rateOfPension"
                               ng-model="pgmsAppRetirmntCalculation.rateOfPension"
                               required readonly/>
                        <div ng-show="editForm.rateOfPension.$invalid">
                            <p class="help-block"
                               ng-show="editForm.rateOfPension.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.rateOfPension.$error.number"
                               translate="entity.validation.number">
                                This field should be a number.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6  col-sm-6 col-xs-6">
                    <label ng-show="view50lebel" class="control-label"
                           translate="stepApp.pgmsAppRetirmntCalculation.totalPenOrGr" for="field_totalPenOrGr">TotalPenOrGr</label>
                    <div class="input-margin">
                        <input type="number" class="form-control" name="totalPenOrGr" id="field_totalPenOrGr"
                               ng-model="pgmsAppRetirmntCalculation.totalPenOrGr"
                               required readonly/>
                        <div ng-show="editForm.totalPenOrGr.$invalid">
                            <p class="help-block"
                               ng-show="editForm.totalPenOrGr.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.totalPenOrGr.$error.number"
                               translate="entity.validation.number">
                                This field should be a number.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  col-sm-6 col-xs-6">
                    <label ng-show="view50lebel" class="control-label"
                           translate="stepApp.pgmsAppRetirmntCalculation.firstHalfOfPen"
                           for="field_firstHalfOfPen">FirstHalfOfPen</label>
                    <div class="input-margin">
                        <input type="number" class="form-control" name="firstHalfOfPen"
                               id="field_firstHalfOfPen"
                               ng-model="pgmsAppRetirmntCalculation.firstHalfOfPen" readonly/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6  col-sm-6 col-xs-6">
                    <label ng-show="view50lebel" class="control-label"
                           translate="stepApp.pgmsAppRetirmntCalculation.secondHalfOfPen"
                           for="field_secondHalfOfPen">FirstHalfOfPen</label>
                    <div class="input-margin">
                        <input type="number" class="form-control" name="firstHalfOfPen"
                               id="field_secondHalfOfPen"
                               ng-model="pgmsAppRetirmntCalculation.secondHalfOfPen" readonly/>
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-6">
                    <label ng-show="view50lebel" class="control-label"
                           translate="stepApp.pgmsAppRetirmntCalculation.exchangeRetirmntAl"
                           for="field_exchangeRetirmntAl">Exchange Retirmnt Al</label>

                    <div class="input-margin">
                        <input type="number" class="form-control" name="exchangeRetirmntAl"
                               id="field_exchangeRetirmntAl"
                               ng-model="pgmsAppRetirmntCalculation.exchangeRetirmntAl"
                               required readonly/>
                        <div ng-show="editForm.exchangeRetirmntAl.$invalid">
                            <p class="help-block"
                               ng-show="editForm.exchangeRetirmntAl.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.exchangeRetirmntAl.$error.number"
                               translate="entity.validation.number">
                                This field should be a number.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6  col-sm-6 col-xs-6">
                    <label ng-show="view50lebel" class="control-label"
                           translate="stepApp.pgmsAppRetirmntCalculation.deservedRetirmntAl"
                           for="field_deservedRetirmntAl">DeservedRetirmntAl</label>
                    <div class="input-margin">
                        <input type="number" class="form-control" name="deservedRetirmntAl"
                               id="field_deservedRetirmntAl"
                               ng-model="pgmsAppRetirmntCalculation.deservedRetirmntAl"
                               required readonly/>
                        <div ng-show="editForm.deservedRetirmntAl.$invalid">
                            <p class="help-block"
                               ng-show="editForm.deservedRetirmntAl.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.deservedRetirmntAl.$error.number"
                               translate="entity.validation.number">
                                This field should be a number.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-6">
                    <label ng-show="view50lebel" class="control-label"
                           translate="stepApp.pgmsAppRetirmntCalculation.monthlyRetirmntAl"
                           for="field_monthlyRetirmntAl">MonthlyRetirmntAl</label>
                    <div class="input-margin">
                        <input type="text" class="form-control" name="monthlyRetirmntAl"
                               id="field_monthlyRetirmntAl"
                               ng-model="pgmsAppRetirmntCalculation.monthlyRetirmntAl"
                               required readonly/>
                        <div ng-show="editForm.monthlyRetirmntAl.$invalid">
                            <p class="help-block"
                               ng-show="editForm.monthlyRetirmntAl.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.monthlyRetirmntAl.$error.number"
                               translate="entity.validation.number">
                                This field should be a number.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="surrenderType100">
                <div class="col-md-6  col-sm-6 col-xs-6">
                    <label class="control-label"
                           translate="stepApp.pgmsAppRetirmntCalculation.rateOfExForSecHalf"
                           for="field_rateOfExForSecHalf">Rate of Exchange for Second half</label>
                    <div class="input-margin">
                        <input type="number" class="form-control" name="remainingTotal"
                               id="field_rateOfExForSecHalf"
                               ng-model="pgmsAppRetirmntCalculation.rateOfExForSecHalf"
                               size="10" readonly/>
                    </div>
                </div>
                <div class="col-md-6  col-sm-6 col-xs-6">
                    <label class="control-label"
                           translate="stepApp.pgmsAppRetirmntCalculation.deservedRetirementAllFor100"
                           for="field_deservedRetirementAllFor100">DeservedRetirmntAl</label>
                    <div class="input-margin">
                        <input type="number" class="form-control" name="deservedRetirmntAl"
                               id="field_deservedRetirementAllFor100"
                               ng-model="pgmsAppRetirmntCalculation.deservedRetirementAllFor100"
                               readonly/>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="surrenderType100">
                <div class="col-md-6  col-sm-6 col-xs-6">
                    <label class="control-label" translate="stepApp.pgmsAppRetirmntCalculation.totalGratuity"
                           for="field_totalGratuity">Total Gratuity</label>
                    <div class="input-margin">
                        <input type="number" class="form-control" name="remainingTotal" id="field_totalGratuity"
                               ng-model="pgmsAppRetirmntCalculation.totalGratuity"
                               size="10" readonly/>
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-6">
                    <label class="control-label"
                           translate="stepApp.pgmsAppRetirmntCalculation.monthlyRetirmntAl100"
                           for="field_monthlyRetirmntAl100">Total Monthly Retirement Allowance</label>
                    <div class="input-margin">
                        <input type="number" class="form-control" name="monthlyRetirmntAl100"
                               id="field_monthlyRetirmntAl100"
                               ng-model="pgmsAppRetirmntCalculation.monthlyRetiAlSecHalf"
                               size="10" readonly/>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button"
                        ng-click="showHideForm(false, true, false, false)"
                        class="btn btn-info">
                    <i class="fa fa-angle-double-left"></i>&nbsp;<span> Prev </span>
                </button>
                <button type="button"
                        ng-click="showHideForm(false,false, false, true)"
                        class="btn btn-info">
                    &nbsp;<span> Next </span> &nbsp; <i class="fa fa-angle-double-right"></i>
                </button>
            </div>

        </div>
        <!--Attachment Form Start Here-->
        <div ng-show="viewPensionAttachForm">
            <div class="panel-body bg-panel" ng-repeat="pgmsAppRetirmntAttach in pgmsAppRetirementAttachList"
                 style="margin: 15px 0px">
                <div class="row">
                    <div class="col-md-5">
                        <label translate="stepApp.pgmsAppRetirmntAttach.attachName">attachName</label>
                        <span class="form-control-static">{{pgmsAppRetirmntAttach.attachName.attachName}}</span>
                    </div>
                    <div class="col-md-4 btn-style" ngf-drop ngf-change="setAttachment($file, pgmsAppRetirmntAttach)">
                        <button type="file" ngf-select class=""
                                ngf-change="setAttachment($file, pgmsAppRetirmntAttach)"
                                translate="entity.action.addblob">
                            Add blob
                        </button>

                        <input type="hidden" class="form-control" name="attachment" id="field_attachment"
                               ng-model="pgmsAppRetirmntAttach.attachment"
                        />
                        <input type="hidden" class="form-control" name="attachmentContentType"
                               id="field_attachmentContentType"
                               ng-model="pgmsAppRetirmntAttach.attachmentContentType"/>
                        <button type="button" ng-if="pgmsAppRetirmntAttach.attachmentContentType"
                                ng-show="pgmsAppRetirmntAttach.attachmentContentType"
                                ng-click="previewDoc(pgmsAppRetirmntAttach)">View
                        </button>
                        <button type="button" ng-show="pgmsAppRetirmntAttach.id"
                                ng-click="delete(pgmsAppRetirmntAttach)">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete"> Delete</span>
                        </button>
                        <button
                            ng-click="pgmsAppRetirmntAttach.attachment=null;pgmsAppRetirmntAttach.attachmentContentType=null;"
                            ng-if="pgmsAppRetirmntAttach.attachment">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="help-block clearfix">
                            <span class="pull-left">{{pgmsAppRetirmntAttach.attachmentContentType}} {{byteSize(pgmsAppRetirmntAttach.attachment)}}</span>

                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="form-group col-sm-6">
                    <label class="control-label"
                           translate="stepApp.pgmsAppRetirmntPen.emergencyContact"
                           for="field_emergencyContact">Emergency Contact</label>
                    <div class="input-margin">
                        <input type="text" class="form-control" name="emergencyContact"
                               id="field_emergencyContact"
                               ng-model="pgmsAppRetirmntPen.emergencyContact"
                               ng-minlength="11"
                               ng-maxlength="18"
                               required numeric-only-mobile/>
                        <div ng-show="editForm.emergencyContact.$invalid">
                            <p class="help-block"
                               ng-show="editForm.emergencyContact.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.emergencyContact.$error.minlength"
                               translate="entity.validation.minlength" translate-value-min="11">
                                This field is required to be at least 11 Digit.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.emergencyContact.$error.maxlength"
                               translate="entity.validation.maxlength" translate-value-max="18">
                                This field cannot be longer than 18 Digit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label" translate="stepApp.pgmsAppRetirmntPen.appDate"
                           for="field_appDate">AppDate</label>
                    <div class="input-margin">
                        <input datepicker-popup="{{calendar.dateFormat}}"
                               is-open="calendar.opened.appDate"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'appDate')" class="form-control"
                               name="appDate" id="field_appDate"
                               ng-model="pgmsAppRetirmntPen.appDate"
                               required/>
                        <div ng-show="editForm.appDate.$invalid">
                            <p class="help-block"
                               ng-show="editForm.appDate.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button"
                        ng-click="showHideForm(false, false, true, false)"
                        class="btn btn-info">
                    <i class="fa fa-angle-double-left"></i>&nbsp;<span> Prev </span>
                </button>
                <button type="button" class="btn btn-default" class="btn " data-dismiss="modal"
                        onclick="window.history.back()">
                    <i class="fa fa-angle-remove"></i>&nbsp;<span
                    translate="entity.action.cancel">cancel</span>
                </button>
                <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted"
                        class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                    translate="entity.action.apply">Apply</span>
                </button>
            </div>
        </div>

    </form>

</div>

