<div class="col-sm-12 common-list padding-right0 padding-left5">
    <h2 translate="stepApp.hrGradeSetup.home.title">HrGradeSetups</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrGradeSetup.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.hrGradeSetup.home.createLabel">Create a new HrGradeSetup</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped table-responsive">
            <thead>
            <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                <th><span translate="global.form.serial">serial</span></th>
                <!--<th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                <th jh-sort-by="gradeCode"><span translate="stepApp.hrGradeSetup.gradeCode">GradeCode</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="gradeDetail"><span translate="stepApp.hrGradeSetup.gradeDetail">GradeDetail</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="activeStatus"><span translate="stepApp.hrGradeSetup.activeStatus">ActiveStatus</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <!--<th jh-sort-by="classInfo.className"><span translate="stepApp.hrGradeSetup.classInfo">classInfo</span> <span class="glyphicon glyphicon-sort"></span></th>
                -->
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrGradeSetup in hrGradeSetups | filter:q | itemsPerPage: pageSize track by hrGradeSetup.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <!--<td><a ui-sref="hrGradeSetup.detail({id:hrGradeSetup.id})">{{hrGradeSetup.id}}</a></td>-->
                <td>{{hrGradeSetup.gradeCode}}</td>
                <td>{{hrGradeSetup.gradeDetail}}</td>
                <td>{{hrGradeSetup.activeStatus ? 'Active' : 'Inactive'}}</td>
                <!--<td>
                    <a ui-sref="hrClassInfo.detail({id:hrGradeSetup.classInfo.id})">{{hrGradeSetup.classInfo.className}}</a>
                </td>-->
                <td class="hrm-button text-right no-print">
                    <button type="submit"
                            ui-sref="hrGradeSetup.detail({id:hrGradeSetup.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="hrGradeSetup.edit({id:hrGradeSetup.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrGradeSetup.delete({id:hrGradeSetup.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
