<div class="col-md-12 common-table padding-right0 padding-left5">
<h2><span translate="stepApp.hrGradeSetup.detail.title">HrGradeSetup</span> - {{hrGradeSetup.gradeCode}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrGradeSetup.classInfo">classInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrClassInfo.detail({id:hrGradeSetup.classInfo.id})">{{hrGradeSetup.classInfo.className}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrGradeSetup.gradeCode">GradeCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrGradeSetup.gradeCode}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrGradeSetup.gradeDetail">GradeDetail</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrGradeSetup.gradeDetail}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrGradeSetup.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrGradeSetup.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.hrGradeSetup.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrGradeSetup.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrGradeSetup.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrGradeSetup.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrGradeSetup.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrGradeSetup.updateDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrGradeSetup.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrGradeSetup.updateBy}}</span>
                </td>
            </tr>-->

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel">Back</span>
    </button>
</div>
