<div class="row">
    <div class="col-md-3 padding-right0">
        <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
    </div>
    <div class="col-md-9 lbl-dash">
        <div class="col-md-12 common-list no_padding">
            <h2 class="heading_center" translate="stepApp.personalPay.home.title">PersonalPays</h2>
                <div class="col-md-12 padding-bt">
                    <div class="col-xs-4 no_padding">
                        <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
                    </div>
                    <div class="col-xs-4">
                        <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
                    </div>
                    <div class="col-xs-4 no_padding text-right ">
                        <button class="btn btn-primary" ui-sref="personalPay.new">
                            <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.personalPay.home.createLabel">Create a new PersonalPay</span>
                        </button>
                    </div>
                </div>
            <!--<div class="col-sm-12  padding-tb no-print">
                <div class="col-md-8 no_padding ">
                    <div class="col-md-6 no_padding">
                        <b> <span translate="global.home.searchhere"></span>:</b>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <b><span translate="global.home.itemperpage"></span>:</b>
                        <div class="input-group">
                            <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 no_padding text-right btn-top">
                    <button class="btn btn-primary" ui-sref="personalPay.new">
                        <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.personalPay.home.createLabel">Create a new PersonalPay</span>
                    </button>
                </div>
            </div>-->
            <div class="col-md-12 table-responsive no_padding">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th translate="global.form.serial">ID</th>
                        <th translate="global.field.id">ID</th>
                        <th translate="stepApp.personalPay.payScale">payScale</th>
                        <th translate="stepApp.personalPay.amount">Amount</th>
                        <th translate="stepApp.personalPay.effectiveDate">EffectiveDate</th>
                        <th translate="stepApp.personalPay.dateCreated">DateCreated</th>
                        <th translate="stepApp.personalPay.dateModified">DateModified</th>
                        <th translate="stepApp.personalPay.status">Status</th>
                        <!--<th translate="stepApp.personalPay.createdBy">createdBy</th>
                            <th translate="stepApp.personalPay.updatedBy">updatedBy</th>-->
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="personalPay in personalPays | filter:q | itemsPerPage: pageSize track by personalPay.id" current-page="currentPage">
                        <td>{{$index+1}}</td>
                        <td><a ui-sref="personalPay.detail({id:personalPay.id})">{{personalPay.id}}</a></td>
                        <td>
                            <a ui-sref="payScale.detail({id:personalPay.payScale.id})">{{personalPay.payScale.code}}</a>
                        </td>
                        <td>{{personalPay.amount}}</td>
                        <td>{{personalPay.effectiveDate | date:'mediumDate'}}</td>
                        <td>{{personalPay.dateCreated | date:'mediumDate'}}</td>
                        <td>{{personalPay.dateModified | date:'mediumDate'}}</td>
                        <td>{{personalPay.status}}</td>
                        <td class="text-right no-print">
                            <button type="submit"
                                    ui-sref="personalPay.detail({id:personalPay.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                            </button>
                            <button type="submit"
                                    ui-sref="personalPay.edit({id:personalPay.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav class="no-print">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
                </nav>
            </div>
        </div>
    </div>
</div>
