<div class="col-md-12 common-dialogue">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="almAttendanceInformation.id == null" class="modal-title" id="myAlmAttendanceInformationLabel"
            translate="stepApp.almAttendanceInformation.home.createOrEditLabel">Create or edit a
            AlmAttendanceInformation</h4>
        <h4 ng-show="almAttendanceInformation.id != null" class="modal-title" id="myAlmAttendanceInformationLabel"
            translate="stepApp.almAttendanceInformation.home.EditLabel">Create or edit a AlmAttendanceInformation</h4>
        <div class="modal-body">
            <jh-alert-error></jh-alert-error>
            <div class="form-group col-sm-6">
                <label translate="stepApp.almAttendanceInformation.employeeInfo"
                       for="field_employeeInfo">employeeInfo</label>
                <span class="form-control">{{almAttendanceInformation.employeeInfo.fullName}}</span>
            </div>

            <div class="form-group col-sm-6">
                <label translate="stepApp.almAttendanceInformation.almShiftSetup" for="field_almShiftSetup">almShiftSetup</label>
                <span class="form-control">{{almAttendanceInformation.almShiftSetup.shiftName}}</span>

            </div>

            <!--<div class="row">-->
            <!--<div class="form-group col-sm-6">-->
            <!--<label translate="stepApp.almAttendanceInformation.officeInTime" for="field_officeInTime">OfficeIn</label>-->
            <!--<input type="text" class="form-control" name="officeInTime" id="field_officeInTime"-->
            <!--ng-model="almAttendanceInformation.officeInTime"-->
            <!--tooltip="{{'stepApp.almAttendanceInformation.officeInTime' | translate}}"-->
            <!--placeholder="{{'stepApp.almAttendanceInformation.officeInTime' | translate}}"-->
            <!--required-->
            <!--/>-->
            <!--<div ng-show="editForm.officeInTime.$invalid">-->
            <!--<p class="help-block"-->
            <!--ng-show="editForm.officeInTime.$error.required" translate="entity.validation.required">-->
            <!--This field is required.-->
            <!--</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group col-sm-6">-->
            <!--<label translate="stepApp.almAttendanceInformation.officeOutTime"-->
            <!--for="field_officeOutTime">OfficeOut</label>-->
            <!--<input type="text" class="form-control" name="officeOutTime" id="field_officeOutTime"-->
            <!--ng-model="almAttendanceInformation.officeOutTime"-->
            <!--tooltip="{{'stepApp.almAttendanceInformation.officeOutTime' | translate}}"-->
            <!--placeholder="{{'stepApp.almAttendanceInformation.officeOutTime' | translate}}"-->
            <!--required-->
            <!--/>-->
            <!--</div>-->
            <!--<div class="form-group col-sm-6">-->
            <!--<label translate="stepApp.almAttendanceInformation.officeDelayTime"-->
            <!--for="field_officeDelayTime">officeDelayTime</label>-->
            <!--<input type="text" class="form-control" name="officeDelayTime" id="field_officeDelayTime"-->
            <!--ng-model="almAttendanceInformation.officeDelayTime"-->
            <!--tooltip="{{'stepApp.almAttendanceInformation.officeDelayTime' | translate}}"-->
            <!--placeholder="{{'stepApp.almAttendanceInformation.officeDelayTime' | translate}}"-->
            <!--required-->
            <!--/>-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group col-sm-6">
                <label translate="stepApp.almAttendanceInformation.punchInTime" for="field_punchInTime">PunchIn</label>
                <input type="text" class="form-control" name="punchInTime" id="field_punchInTime"
                       ng-model="almAttendanceInformation.punchInTime"
                       tooltip="{{'stepApp.almAttendanceInformation.punchInTime' | translate}}"
                       placeholder="{{'stepApp.almAttendanceInformation.punchInTime' | translate}}"
                />
                <!--<input type="time" id="exampleInput" name="input" ng-model="example.value"-->
                       <!--placeholder="HH:mm:ss" min="08:00:00" max="17:00:00" required />-->


            </div>
            <div class="form-group col-sm-6">
                <label translate="stepApp.almAttendanceInformation.punchInNote"
                       for="field_punchInNote">PunchInNote</label>
                <input type="text" class="form-control" name="punchInNote" id="field_punchInNote"
                       ng-model="almAttendanceInformation.punchInNote"
                       tooltip="{{'stepApp.almAttendanceInformation.punchInNote' | translate}}"
                       placeholder="{{'stepApp.almAttendanceInformation.punchInNote' | translate}}"
                />

            </div>
            <div class="form-group col-sm-6">
                <label translate="stepApp.almAttendanceInformation.punchOutTime"
                       for="field_punchOutTime">PunchOut</label>
                <input type="text" class="form-control" name="punchOutTime" id="field_punchOutTime"
                       ng-model="almAttendanceInformation.punchOutTime"
                       tooltip="{{'stepApp.almAttendanceInformation.punchOutTime' | translate}}"
                       placeholder="{{'stepApp.almAttendanceInformation.punchOutTime' | translate}}"
                />
            </div>
            <div class="form-group col-sm-6">
                <label translate="stepApp.almAttendanceInformation.punchOutNote"
                       for="field_punchOutNote">PunchOutNote</label>
                <input type="text" class="form-control" name="punchOutNote" id="field_punchOutNote"
                       ng-model="almAttendanceInformation.punchOutNote"
                       tooltip="{{'stepApp.almAttendanceInformation.punchOutNote' | translate}}"
                       placeholder="{{'stepApp.almAttendanceInformation.punchOutNote' | translate}}"
                />
            </div>

            <div class="form-group col-sm-6">
                <label translate="stepApp.almAttendanceInformation.almAttendanceStatus" for="field_almAttendanceStatus">almAttendanceStatus</label>
                <select class="form-control" id="field_almAttendanceStatus" name="almAttendanceStatus"
                        ng-model="almAttendanceInformation.almAttendanceStatus"
                        tooltip="{{'stepApp.almAttendanceInformation.almAttendanceStatus' | translate}}"
                        ng-options="AlmAttendanceStatus as AlmAttendanceStatus.attendanceStatusName for AlmAttendanceStatus in almattendancestatuss track by AlmAttendanceStatus.id">
                    <option value="" translate="stepApp.almAttendanceInformation.almAttendanceStatus"></option>
                </select>
            </div>

            <!--<div class="row">-->
            <!--<div class="form-group col-sm-6">-->
            <!--<label translate="stepApp.almAttendanceInformation.activeStatus" for="field_activeStatus">ActiveStatus</label>-->
            <!--<span class="form-control">-->
            <!--<input tooltip="{{'stepApp.almAttendanceInformation.activeStatus' | translate}}" type="radio" data-ng-model="almAttendanceInformation.activeStatus" name="activeStatus"-->
            <!--data-ng-value="true">&nbsp;<span translate="global.home.active">active</span>&nbsp;|&nbsp;-->
            <!--<input tooltip="{{'stepApp.almAttendanceInformation.activeStatus' | translate}}" type="radio" data-ng-model="almAttendanceInformation.activeStatus" name="activeStatus"-->
            <!--data-ng-value="false">&nbsp;<span translate="global.home.inactive">inactive</span>-->
            <!--</span>-->
            <!--<div ng-show="editForm.activeStatus.$invalid">-->
            <!--<p class="help-block"-->
            <!--ng-show="editForm.activeStatus.$error.required" translate="entity.validation.required">-->
            <!--This field is required.-->
            <!--</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.history.back()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="almAttendanceInformation.id == null" translate="entity.action.save">Save</span>
                <span ng-show="almAttendanceInformation.id != null" translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>
