<div class="col-sm-12 common-list">
    <h2 translate="stepApp.almAttendanceInformation.home.title">AlmAttendanceInformations</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <!--<div class="col-xs-4 no_padding text-right ">-->
            <!--<button class="btn btn-primary" ui-sref="almAttendanceInformation.new">-->
                <!--<span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.almAttendanceInformation.home.createLabel">Create a new AlmAttendanceInformation</span>-->
            <!--</button>-->
        <!--</div>-->
    </div>
    <!--<jh-alert></jh-alert>-->
    <!--<div class="col-sm-12 padding-tb">
        <div class="col-md-4  no_padding">
            <b><span translate="global.home.searchhere">Search Here :</span></b>
            <div class="input-group">
                <span class="input-group-addon dlbtn" id="basic-addon1"><i class="fa fa-search"></i></span>
                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
            </div>
        </div>
        <div class="col-md-4 "><b><span translate="global.home.itemperpage">Items per page:</span></b>
            <div class="input-group">
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
        </div>
        <div class="col-md-4 no_padding text-right">
            <button class="btn btn-primary" ui-sref="almAttendanceInformation.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.almAttendanceInformation.home.createLabel">Create a new AlmAttendanceInformation</span>
            </button>
        </div>
    </div>-->

    <div class="modal animated bounceInUp" id="deleteAlmAttendanceInformationConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(almAttendanceInformation.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.almAttendanceInformation.delete.question" translate-values="{id: '{{almAttendanceInformation.id}}'}">Are you sure you want to delete this AlmAttendanceInformation?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 no_padding table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <th translate="global.field.id">ID</th>
                <th translate="stepApp.almAttendanceInformation.employeeInfo">employeeInfo</th>
                <!--<th translate="stepApp.almAttendanceInformation.almAttendanceConfiguration">almAttendanceConfiguration</th>-->
                <th translate="stepApp.almAttendanceInformation.almShiftSetup">almShiftSetup</th>
                <th translate="stepApp.almAttendanceInformation.attendenceDate">attendenceDate</th>
                <th translate="stepApp.almAttendanceInformation.dayName">dayName</th>
                <!--<th translate="stepApp.almAttendanceInformation.officeInTime">OfficeIn</th>-->
                <!--<th translate="stepApp.almAttendanceInformation.officeOutTime">OfficeOut</th>-->
                <th translate="stepApp.almAttendanceInformation.punchInTime">PunchIn</th>
                <th translate="stepApp.almAttendanceInformation.punchInNote">PunchInNote</th>
                <th translate="stepApp.almAttendanceInformation.punchOutTime">PunchOut</th>
                <th translate="stepApp.almAttendanceInformation.punchOutNote">PunchOutNote</th>
                <th translate="stepApp.almAttendanceInformation.almAttendanceStatus">almAttendanceStatus</th>
                <!--<th translate="stepApp.almAttendanceInformation.activeStatus">ActiveStatus</th>
                <!-- <th translate="stepApp.almAttendanceInformation.processDate">ProcessDate</th>
                 <th translate="stepApp.almAttendanceInformation.isProcessed">IsProcessed</th>-->
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!--<tr dir-paginate="almAttendanceInformation in almAttendanceInformations  | filter:q | itemsPerPage: pageSize">-->
            <tr dir-paginate="almAttendanceInformation in almAttendanceInformations | filter:q | itemsPerPage: pageSize track by almAttendanceInformation.id"
                current-page="currentPage">
                <td>{{pageSize*(currentPage-1)+$index+1}}</td>
                <td><a ui-sref="almAttendanceInformation.detail({id:almAttendanceInformation.id})">{{almAttendanceInformation.id}}</a></td>
                <td>
                    <a ui-sref="HrEmployeeInfo.detail({id:almAttendanceInformation.employeeInfo.id})">{{almAttendanceInformation.employeeInfo.fullName}}</a>
                </td>
                <!--<td>-->
                    <!--<a ui-sref="AlmAttendanceConfiguration.detail({id:almAttendanceInformation.almAttendanceConfiguration.id})">{{almAttendanceInformation.almAttendanceConfiguration.id}}</a>-->
                <!--</td>-->
                <td>
                    <a ui-sref="AlmShiftSetup.detail({id:almAttendanceInformation.almShiftSetup.id})">{{almAttendanceInformation.almShiftSetup.shiftName}}</a>
                </td>

                <!--<td>{{almAttendanceInformation.officeInTime}}</td>-->
                <!--<td>{{almAttendanceInformation.officeOutTime}}</td>-->
                <td>{{almAttendanceInformation.attendenceDate | date:'mediumDate' }}</td>
                <td>{{almAttendanceInformation.dayName }}</td>
                <td>{{almAttendanceInformation.punchInTime }}</td>
                <td>{{almAttendanceInformation.punchInNote}}</td>
                <td>{{almAttendanceInformation.punchOutTime}}</td>
                <td>{{almAttendanceInformation.punchOutNote}}</td>
                <td>
                    <a ui-sref="AlmAttendanceStatus.detail({id:almAttendanceInformation.almAttendanceStatus.id})">{{almAttendanceInformation.almAttendanceStatus.attendanceStatusName}}</a>
                </td>
                <!--<td>{{almAttendanceInformation.activeStatus? 'Active' : 'Inactive'}}</td>-->
                <!--

                   <td>{{almAttendanceInformation.processDate | date:'mediumDate'}}</td>
                   <td>{{almAttendanceInformation.isProcessed}}</td>
                   -->
                <td class="text-right">
                    <button type="submit"
                            ui-sref="almAttendanceInformation.detail({id:almAttendanceInformation.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="almAttendanceInformation.edit({id:almAttendanceInformation.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                    </button>
                    <!--<button type="submit"-->
                            <!--ng-click="delete(almAttendanceInformation.id)"-->
                            <!--class="btn btn-danger btn-sm">-->
                        <!--<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>-->
                    <!--</button>-->
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
