<div class="common-table">

<h2><span translate="stepApp.almAttendanceInformation.detail.title">AlmAttendanceInformation</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.almAttendanceInformation.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="HrEmployeeInfo.detail({id:almAttendanceInformation.employeeInfo.id})">{{almAttendanceInformation.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.almAttendanceInformation.almAttendanceConfiguration">almAttendanceConfiguration</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="AlmAttendanceConfiguration.detail({id:almAttendanceInformation.almAttendanceConfiguration.id})">{{almAttendanceInformation.almAttendanceConfiguration.id}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almAttendanceInformation.almShiftSetup">almShiftSetup</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="AlmShiftSetup.detail({id:almAttendanceInformation.almShiftSetup.id})">{{almAttendanceInformation.almShiftSetup.shiftName}}</a>
                </td>
                <td>
                    <span translate="stepApp.almAttendanceInformation.almAttendanceStatus">almAttendanceStatus</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="AlmAttendanceStatus.detail({id:almAttendanceInformation.almAttendanceStatus.id})">{{almAttendanceInformation.almAttendanceStatus.attendanceStatusName}}</a>
                </td>
            </tr>
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.almAttendanceInformation.officeInTime">OfficeInTime</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{almAttendanceInformation.officeInTime }}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.almAttendanceInformation.officeOutTime">OfficeOutTime</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{almAttendanceInformation.officeOutTime }}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <tr>
                <td>
                    <span translate="stepApp.almAttendanceInformation.attendenceDate">attendanceDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{almAttendanceInformation.attendenceDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.almAttendanceInformation.dayName">ProcessDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{almAttendanceInformation.dayName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almAttendanceInformation.punchInTime">PunchInTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almAttendanceInformation.punchInTime}}</span>
                </td>
                <td>
                    <span translate="stepApp.almAttendanceInformation.punchInNote">PunchInNote</span>
                </td>
                <td>
                    <span class="form-control-static">{{almAttendanceInformation.punchInNote}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almAttendanceInformation.punchOutTime">PunchOutTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almAttendanceInformation.punchOutTime}}</span>
                </td>
                <td>
                    <span translate="stepApp.almAttendanceInformation.punchOutNote">PunchOutNote</span>
                </td>
                <td>
                    <span class="form-control-static">{{almAttendanceInformation.punchOutNote}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almAttendanceInformation.processDate">ProcessDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{almAttendanceInformation.processDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.almAttendanceInformation.isProcessed">IsProcessed</span>
                </td>
                <td>
                    <span class="form-control-static">{{almAttendanceInformation.isProcessed}}</span>
                </td>
            </tr>
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.almAttendanceInformation.activeStatus">ActiveStatus</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{almAttendanceInformation.activeStatus? 'Active' : 'Inactive'}}</span>-->
                <!--</td>-->
            <!--</tr>-->


            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
