<div class="col-md-12 common-table padding-right0 padding-left5">
    <h2><span translate="stepApp.pfmsUtmostGpfApp.detail.title">PfmsUtmostGpfApp</span> {{pfmsUtmostGpfApp.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.pfmsUtmostGpfApp.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:pfmsUtmostGpfApp.employeeInfo.id})">{{pfmsUtmostGpfApp.employeeInfo.fullName}}</a>
                </td>

                <td>
                    <span translate="stepApp.pfmsUtmostGpfApp.prlDate">PrlDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsUtmostGpfApp.prlDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsUtmostGpfApp.gpfNo">GpfNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsUtmostGpfApp.gpfNo}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsUtmostGpfApp.lastDeduction">LastDeduction</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsUtmostGpfApp.lastDeduction}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsUtmostGpfApp.deductionDate">DeductionDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsUtmostGpfApp.deductionDate | date:'mediumDate'}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsUtmostGpfApp.billNo">BillNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsUtmostGpfApp.billNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsUtmostGpfApp.billDate">BillDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsUtmostGpfApp.billDate | date:'mediumDate'}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsUtmostGpfApp.tokenNo">TokenNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsUtmostGpfApp.tokenNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsUtmostGpfApp.tokenDate">TokenDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsUtmostGpfApp.tokenDate | date:'mediumDate'}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsUtmostGpfApp.withdrawFrom">WithdrawFrom</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsUtmostGpfApp.withdrawFrom}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsUtmostGpfApp.applyDate">ApplyDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsUtmostGpfApp.applyDate | date:'mediumDate'}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel"> cancel</span>
    </button>
</div>
