<div class="common-dialogue">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-if="pfmsUtmostGpfApp.id == null" class="modal-title" id="myPfmsUtmostGpfAppLabel"
            translate="stepApp.pfmsUtmostGpfApp.home.createOrEditLabel">Create or edit a PfmsUtmostGpfApp</h4>
        <h4 ng-if="pfmsUtmostGpfApp.id != null" class="modal-title" id="myPfmsUtmostGpfAppLabel"
            translate="stepApp.pfmsUtmostGpfApp.home.EditLabel">Create or edit a PfmsUtmostGpfApp</h4>
        <div class="panel-body">
            <div class="form-group col-md-6">
                <label translate="stepApp.pfmsUtmostGpfApp.departmentName" for="field_almLeaveType">Department</label>
                <span class="form-control">{{departmentName}}</span>
            </div>
            <div class="form-group col-md-6 ">
                <label translate="stepApp.pfmsUtmostGpfApp.designationName" for="field_Designation">Designation</label>
                <span class="form-control">{{designationName}}</span>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.pfmsUtmostGpfApp.nationality" for="field_nationality">nationality</label>
                <span class="form-control">{{nationality}}</span>
            </div>
            <div class="form-group col-md-6 ">
                <label translate="stepApp.pfmsUtmostGpfApp.fatherName" for="field_fatherName">fatherName</label>
                <span class="form-control">{{fatherName}}</span>
            </div>
            <div class="form-group col-md-6 ">
                <label translate="stepApp.pfmsUtmostGpfApp.dutySide" for="field_dutySide">dutySide</label>
                <span class="form-control">{{dutySide}}</span>
            </div>
            <div class="form-group col-sm-6">
                <label translate="stepApp.pfmsUtmostGpfApp.prlDate" for="field_prlDate">PrlDate</label>
                <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.prlDate"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'prlDate')" class="form-control" name="prlDate"
                       id="field_prlDate"
                       ng-model="pfmsUtmostGpfApp.prlDate"/>
                <div ng-show="editForm.prlDate.$invalid">
                    <p class="help-block"
                       ng-show="editForm.prlDate.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label translate="stepApp.pfmsUtmostGpfApp.gpfNo" for="field_gpfNo">GpfNo</label>
                <input type="text" class="form-control" name="gpfNo" id="field_gpfNo"
                       ng-model="pfmsUtmostGpfApp.gpfNo"
                       only-numbers minlength="1" maxlength="12"
                />
                <div ng-show="editForm.gpfNo.$invalid">
                    <p class="help-block"
                       ng-show="editForm.gpfNo.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                    <small style="color:red; font-size: 10px;" ng-show="editForm.gpfNo.$error.minlength">
                        This field need to be at least 1 digit
                    </small>
                    <small style="color:red; font-size: 10px;" ng-show="editForm.gpfNo.$error.maxlength">
                        This field should not longer than 12 digit
                    </small>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label translate="stepApp.pfmsUtmostGpfApp.lastDeduction"
                       for="field_lastDeduction">LastDeduction</label>
                <input type="text" class="form-control" name="lastDeduction" id="field_lastDeduction"
                       ng-model="pfmsUtmostGpfApp.lastDeduction"
                       only-numbers minlength="1" maxlength="12"
                />
                <div ng-show="editForm.lastDeduction.$invalid">
                    <p class="help-block"
                       ng-show="editForm.lastDeduction.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                    <small style="color:red; font-size: 10px;" ng-show="editForm.lastDeduction.$error.minlength">
                        This field need to be at least 1 digit
                    </small>
                    <small style="color:red; font-size: 10px;" ng-show="editForm.lastDeduction.$error.maxlength">
                        This field should not longer than 12 digit
                    </small>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label translate="stepApp.pfmsUtmostGpfApp.deductionDate"
                       for="field_deductionDate">DeductionDate</label>
                <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.deductionDate"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'deductionDate')" class="form-control" name="deductionDate"
                       id="field_deductionDate"
                       ng-model="pfmsUtmostGpfApp.deductionDate" required/>
                <div ng-show="editForm.deductionDate.$invalid">
                    <p class="help-block"
                       ng-show="editForm.deductionDate.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label translate="stepApp.pfmsUtmostGpfApp.billNo" for="field_billNo">BillNo</label>
                <input type="text" class="form-control" name="billNo" id="field_billNo"
                       ng-model="pfmsUtmostGpfApp.billNo"
                       required
                       only-numbers minlength="1" maxlength="12"
                />
                <div ng-show="editForm.billNo.$invalid">
                    <p class="help-block"
                       ng-show="editForm.billNo.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                    <small style="color:red; font-size: 10px;" ng-show="editForm.billNo.$error.minlength">
                        This field need to be at least 1 digit
                    </small>
                    <small style="color:red; font-size: 10px;" ng-show="editForm.billNo.$error.maxlength">
                        This field should not longer than 12 digit
                    </small>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label translate="stepApp.pfmsUtmostGpfApp.billDate" for="field_billDate">BillDate</label>
                <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.billDate"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'billDate')" class="form-control" name="billDate"
                       id="field_billDate"
                       ng-model="pfmsUtmostGpfApp.billDate"/>
                <div ng-show="editForm.billDate.$invalid">
                    <p class="help-block"
                       ng-show="editForm.billDate.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label translate="stepApp.pfmsUtmostGpfApp.tokenNo" for="field_tokenNo">TokenNo</label>
                <input type="text" class="form-control" name="tokenNo" id="field_tokenNo"
                       ng-model="pfmsUtmostGpfApp.tokenNo"
                       required only-numbers minlength="1" maxlength="12"
                />
                <div ng-show="editForm.tokenNo.$invalid">
                    <p class="help-block"
                       ng-show="editForm.tokenNo.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                    <small style="color:red; font-size: 10px;" ng-show="editForm.tokenNo.$error.minlength">
                        This field need to be at least 1 digit
                    </small>
                    <small style="color:red; font-size: 10px;" ng-show="editForm.tokenNo.$error.maxlength">
                        This field should not longer than 12 digit
                    </small>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label translate="stepApp.pfmsUtmostGpfApp.tokenDate" for="field_tokenDate">TokenDate</label>
                <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.tokenDate"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'tokenDate')" class="form-control" name="tokenDate"
                       id="field_tokenDate"
                       ng-model="pfmsUtmostGpfApp.tokenDate"/>
                <div ng-show="editForm.tokenDate.$invalid">
                    <p class="help-block"
                       ng-show="editForm.tokenDate.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label translate="stepApp.pfmsUtmostGpfApp.withdrawFrom" for="field_withdrawFrom">WithdrawFrom</label>
                <input type="text" class="form-control" name="withdrawFrom" id="field_withdrawFrom"
                       ng-model="pfmsUtmostGpfApp.withdrawFrom"
                       required only-letters minlength="4" maxlength="100"/>
                <div ng-show="editForm.withdrawFrom.$invalid">
                    <p class="help-block"
                       ng-show="editForm.withdrawFrom.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                    <small style="color:red; font-size: 10px;" ng-show="editForm.withdrawFrom.$error.minlength">
                        This field need to be at least 4 character
                    </small>
                    <small style="color:red; font-size: 10px;" ng-show="editForm.withdrawFrom.$error.maxlength">
                        This field should not longer than 100 character
                    </small>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button type="button"
                    onclick="window.history.back()"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;<span
                translate="entity.action.cancel"> Back</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
                <span ng-hide="pfmsUtmostGpfApp.id" translate="entity.action.save"></span>
                <span ng-show="pfmsUtmostGpfApp.id" translate="entity.action.update"></span>
            </button>
        </div>
    </form>
</div>
