<div class="common-table">
    <h2><span translate="stepApp.pgmsElpc.detail.title">PgmsElpc</span> {{pgmsElpc.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.empCode">EmpCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.empCode}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.instCode">InstCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.instCode}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.empName">EmpName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.empName}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.instName">InstName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.instName}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.desigId">DesigId</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.desigId}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.designation">Designation</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.designation}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.dateOfBirth">DateOfBirth</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.dateOfBirth | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.joinDate">JoinDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.joinDate | date:'mediumDate'}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.beginDateOfRetiremnt">BeginDateOfRetiremnt</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.beginDateOfRetiremnt | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.retirementDate">RetirementDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.retirementDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.lastRcvPayscale">LastRcvPayscale</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.lastRcvPayscale}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.incrsDtOfYrlyPayment">IncrsDtOfYrlyPayment</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.incrsDtOfYrlyPayment}}</span>
                </td>
            </tr>
            <tr style="background: #558b2f; color:#fff; ">
                <th colspan="1" translate="stepApp.pgmsElpc.allowancetitle"
                    style="font-weight: bold; font-size: 17px"></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.mainPayment">MainPayment</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.mainPayment}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.incrMonRateLeaving">IncrMonRateLeaving</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.incrMonRateLeaving}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.specialPayment">SpecialPayment</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.specialPayment}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.specialAllowance">SpecialAllowance</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.specialAllowance}}</span>
                </td>


            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.houserentAl">HouserentAl</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.houserentAl}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.treatmentAl">TreatmentAl</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.treatmentAl}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.dearnessAl">DearnessAl</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.dearnessAl}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.travellingAl">TravellingAl</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.travellingAl}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.laundryAl">LaundryAl</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.laundryAl}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.personalAl">PersonalAl</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.personalAl}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.technicalAl">TechnicalAl</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.technicalAl}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.hospitalityAl">HospitalityAl</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.hospitalityAl}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.tiffinAl">TiffinAl</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.tiffinAl}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.gainingLeave">GainingLeave</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.gainingLeave}}</span>
                </td>
            </tr>
            <!--************************-->
            <tr>

                <td>
                    <span translate="stepApp.pgmsElpc.leaveType">LeaveType</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.leaveType}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.leaveTotal">LeaveTotal</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.leaveTotal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.advOfMakingHouse">AdvOfMakingHouse</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.advOfMakingHouse}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.vechileStatus">VechileStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.vechileStatus}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.advTravAl">AdvTravAl</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.advTravAl}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.advSalary">AdvSalary</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.advSalary}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.houseRent">HouseRent</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.houseRent}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.carRent">CarRent</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.carRent}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.gasBill">GasBill</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.gasBill}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.santryWaterTax">SantryWaterTax</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.santryWaterTax}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.bankAcc">BankAcc</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.bankAcc}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.accBookNo">AccBookNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.accBookNo}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.bookPageNo">BookPageNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.bookPageNo}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.bankInterest">BankInterest</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.bankInterest}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.monlyDepRateFrSalary">MonlyDepRateFrSalary</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.monlyDepRateFrSalary}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.expectedDeposition">ExpectedDeposition</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.expectedDeposition}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.appDate">AppDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.appDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.appRetirementDate">AppRetirementDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.appRetirementDate | date:'mediumDate'}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.appType">AppType</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.appType}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.appComments">appComments</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.appComments}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.aprvStatus">AprvStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.aprvStatus}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.aprvDate">AprvDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.aprvDate | date:'mediumDate'}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.aprvComment">aprvComment</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.aprvComment}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.aprvBy">AprvBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.aprvBy}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.notificationStatus">NotificationStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.notificationStatus}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.activeStatus}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.createBy}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.updateBy}}</span>
                </td>
                <td>
                    <span translate="stepApp.pgmsElpc.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsElpc.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.pgmsElpc.instEmpId">instEmpId</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="HrEmployeeInfo.detail({id:pgmsElpc.instEmpId.id})">{{pgmsElpc.instEmpId.employeeId}}</a>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <b class="form-control-static"> Allowance Information </b></span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th><label class="control-label" translate="stepApp.pgmsElpc.allowancetitle">Allowance Title</label>
                </th>
                <th align="left"><label class="control-label" translate="stepApp.pgmsElpc.allowValue">Allowance
                    Value</label></th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="elpcAllowanceinfo in allowanceInfoList">
                <td><span class="form-control-static"> {{elpcAllowanceinfo.allowDeducInfo.name}} </span></td>
                <td><span class="form-control-static"> {{elpcAllowanceinfo.allowDeducValue}} </span></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button" class="btn btn-default" class="btn " data-dismiss="modal" onclick="window.history.back()">
        <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.back">Back</span>
    </button>
</div>
