<div class="common-dialogue">
    <form class="form-horizontal" name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-if="pgmsElpc.id == null" class="modal-title" id="myPgmsElpcLabel"
            translate="stepApp.pgmsElpc.home.createOrEditLabel">Create or edit a PgmsElpc</h4>
        <h4 ng-if="pgmsElpc.id != null" class="modal-title" id="myPgmsElpcLabel"
            translate="stepApp.pgmsElpc.home.EditLabel">Create or edit a PgmsElpc</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="dte-block" style="background: rgba(185,185,185,0.63);">
                    <div class="row">
                        <div class="col-md-12 step-box">
                            <div class="col-md-12 ">
                                <label class="control-label" translate="stepApp.pgmsElpc.appType">AppType</label>
                                <span style="color:red;">*</span>
                                <div class="input-margin">
                                    <label class="radio-inline">
                                        <input type="radio" data-ng-model="pgmsElpc.appType" name="appType"
                                               value="retirement">&nbsp;Retirement&nbsp;&nbsp;
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" data-ng-model="pgmsElpc.appType" name="appType"
                                               value="family">&nbsp;Family
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" data-ng-model="pgmsElpc.appType" name="appType"
                                               value="other">&nbsp;Other
                                    </label>

                                    <div ng-show="editForm.appType.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.appType.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label" translate="stepApp.pgmsElpc.hrEmployeeInfo"
                                       for="field_hrEmployeeInfo">hrEmployeeInfo</label><span style="color:red;">*</span>
                                <div class="input-group">
                                    <input type="text" class="form-control autocomplete" autocomplete="off"
                                           ng-model="pgmsElpc.hrEmployeeInfo"
                                           typeahead='hrEmployeeInfo as (hrEmployeeInfo.fullName + " " + hrEmployeeInfo.employeeId) for hrEmployeeInfo in hremployeeInfos | filter:$viewValue'
                                           id="field_hrEmployeeInfo"
                                           placeholder="{{'stepApp.pgmsElpc.hrEmployeeInfo' | translate}}" required/>
                                    <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"
                                    ng-click="employeeInfo(pgmsElpc.hrEmployeeInfo)"
                                    value="Search"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="dte-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 step-box">
                                <h2>Employee Information</h2>
                                <div class="col-md-8 padding0">
                                    <div class="col-md-4">
                                        <label class="control-label" translate="stepApp.pgmsElpc.empName"
                                               for="field_empName">EmpName</label><span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-margin">
                                            <input type="text" class="form-control" name="empName" id="field_empName"
                                                   ng-model="pgmsElpc.empName"
                                                   readonly required/>
                                            <div ng-show="editForm.empName.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.empName.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 padding0">
                                    <div class="col-md-4">
                                        <label class="control-label" translate="stepApp.pgmsElpc.designation"
                                               for="field_designation">Designation</label><span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-margin">
                                            <input type="text" class="form-control" name="designation"
                                                   id="field_designation"
                                                   ng-model="pgmsElpc.designation"
                                                   readonly required/>
                                            <div ng-show="editForm.designation.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.designation.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 padding0">
                                    <div class="col-md-4">
                                        <label class="control-label" translate="stepApp.pgmsElpc.instName"
                                               for="field_instName">InstName</label><span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-margin">
                                            <input type="text" class="form-control" name="instName" id="field_instName"
                                                   ng-model="pgmsElpc.instName"
                                                   readonly required/>
                                            <div ng-show="editForm.instName.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.instName.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8 padding0">
                                    <div class="col-md-4">
                                        <label class="control-label" translate="stepApp.pgmsElpc.dateOfBirth"
                                               for="field_dateOfBirth">DateOfBirth</label><span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-margin">
                                            <input datepicker-popup="{{calendar.dateFormat}}"
                                                   is-open="calendar.opened.dateOfBirth"
                                                   datepicker-options="calendar.dateOptions" close-text="Close"
                                                   ng-click="calendar.open($event, 'dateOfBirth')" class="form-control"
                                                   name="dateOfBirth" id="field_dateOfBirth"
                                                   ng-model="pgmsElpc.dateOfBirth"
                                                   readonly required/>
                                            <div ng-show="editForm.dateOfBirth.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.dateOfBirth.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-8 padding0">
                                    <div class="col-md-4">
                                        <label class="control-label" translate="stepApp.pgmsElpc.joinDate"
                                               for="field_joinDate">JoinDate</label><span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-margin">
                                            <input datepicker-popup="{{calendar.dateFormat}}"
                                                   is-open="calendar.opened.joinDate"
                                                   datepicker-options="calendar.dateOptions" close-text="Close"
                                                   ng-click="calendar.open($event, 'joinDate')" class="form-control"
                                                   name="joinDate" id="field_joinDate"
                                                   ng-model="pgmsElpc.joinDate"
                                                   readonly required/>
                                            <div ng-show="editForm.joinDate.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.joinDate.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-8 padding0">
                                    <div class="col-md-4">
                                        <label class="control-label" translate="stepApp.pgmsElpc.beginDateOfRetiremnt"
                                               for="field_beginDateOfRetiremnt">BeginDateOfRetiremnt</label><span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-margin">
                                            <input datepicker-popup="{{calendar.dateFormat}}"
                                                   is-open="calendar.opened.beginDateOfRetiremnt"
                                                   datepicker-options="calendar.dateOptions" close-text="Close"
                                                   ng-click="calendar.open($event, 'beginDateOfRetiremnt')"
                                                   class="form-control"
                                                   name="beginDateOfRetiremnt" id="field_beginDateOfRetiremnt"
                                                   ng-model="pgmsElpc.beginDateOfRetiremnt"
                                                   readonly required/>
                                            <div ng-show="editForm.beginDateOfRetiremnt.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.beginDateOfRetirmnt.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 padding0">
                                    <div class="col-md-4">
                                        <label class="control-label" translate="stepApp.pgmsElpc.lastRcvPayscale"
                                               for="field_lastRcvPayscale">LastRcvPayscale</label><span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-margin">
                                            <input type="number" class="form-control" name="lastRcvPayscale"
                                                   id="field_lastRcvPayscale"
                                                   ng-model="pgmsElpc.lastRcvPayscale"
                                                   readonly required/>
                                            <div ng-show="editForm.lastRcvPayscale.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.lastRcvPayscale.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                                <p class="help-block"
                                                   ng-show="editForm.lastRcvPayscale.$error.number"
                                                   translate="entity.validation.number">
                                                    This field should be a number.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 padding0">
                                    <div class="col-md-4">
                                        <label class="control-label" translate="stepApp.pgmsElpc.retirementDate"
                                               for="field_retirementDate">RetirementDate</label><span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-margin">
                                            <input datepicker-popup="{{calendar.dateFormat}}"
                                                   is-open="calendar.opened.retirementDate"
                                                   datepicker-options="calendar.dateOptions" close-text="Close"
                                                   ng-click="calendar.open($event, 'retirementDate')"
                                                   class="form-control"
                                                   name="retirementDate" id="field_retirementDate"
                                                   ng-model="pgmsElpc.retirementDate"
                                                   readonly required/>
                                            <div ng-show="editForm.retirementDate.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.retirementDate.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8 padding0">
                                    <div class="col-md-4">
                                        <label class="control-label" translate="stepApp.pgmsElpc.incrsDtOfYrlyPayment"
                                               for="field_incrsDtOfYrlyPayment">IncrsDtOfYrlyPayment</label><span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-margin">
                                            <input datepicker-popup="{{calendar.dateFormat}}"
                                                   is-open="calendar.opened.incrsDtOfYrlyPayment"
                                                   datepicker-options="calendar.dateOptions" close-text="Close"
                                                   ng-click="calendar.open($event, 'incrsDtOfYrlyPayment')"
                                                   class="form-control"
                                                   name="incrsDtOfYrlyPayment" id="field_incrsDtOfYrlyPayment"
                                                   ng-model="pgmsElpc.incrsDtOfYrlyPayment"
                                                   readonly/>
                                            <div ng-show="editForm.incrsDtOfYrlyPayment.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.incrsDtOfYrlyPayment.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <hr>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="dte-block">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Monthly Salary & Allowance Information</h2>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.mainPayment"
                                           for="field_mainPayment">MainPayment</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="mainPayment" id="field_mainPayment"
                                               ng-model="pgmsElpc.mainPayment"
                                               required/>
                                        <div ng-show="editForm.mainPayment.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.mainPayment.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.mainPayment.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.incrMonRateLeaving"
                                           for="field_incrMonRateLeaving">IncrMonRateLeaving</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="incrMonRateLeaving"
                                               id="field_incrMonRateLeaving"
                                               ng-model="pgmsElpc.incrMonRateLeaving"
                                               required/>
                                        <div ng-show="editForm.incrMonRateLeaving.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.incrMonRateLeaving.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.incrMonRateLeaving.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.specialPayment"
                                           for="field_specialPayment">SpecialPayment</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="specialPayment"
                                               id="field_specialPayment"
                                               ng-model="pgmsElpc.specialPayment"
                                               required/>
                                        <div ng-show="editForm.specialPayment.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.specialPayment.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.specialPayment.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.specialAllowance"
                                           for="field_specialAllowance">SpecialAllowance</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="specialAllowance"
                                               id="field_specialAllowance"
                                               ng-model="pgmsElpc.specialAllowance"
                                               required/>
                                        <div ng-show="editForm.specialAllowance.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.specialAllowance.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.specialAllowance.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.houserentAl"
                                           for="field_houserentAl">HouserentAl</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="houserentAl" id="field_houserentAl"
                                               ng-model="pgmsElpc.houserentAl"
                                               required/>
                                        <div ng-show="editForm.houserentAl.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.houserentAl.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.houserentAl.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.treatmentAl"
                                           for="field_treatmentAl">TreatmentAl</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="treatmentAl" id="field_treatmentAl"
                                               ng-model="pgmsElpc.treatmentAl"
                                               required/>
                                        <div ng-show="editForm.treatmentAl.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.treatmentAl.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.treatmentAl.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.dearnessAl"
                                           for="field_dearnessAl">DearnessAl</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="dearnessAl" id="field_dearnessAl"
                                               ng-model="pgmsElpc.dearnessAl"
                                               required/>
                                        <div ng-show="editForm.dearnessAl.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.dearnessAl.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.dearnessAl.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.travellingAl"
                                           for="field_travellingAl">TravellingAl</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="travellingAl"
                                               id="field_travellingAl"
                                               ng-model="pgmsElpc.travellingAl"
                                               required/>
                                        <div ng-show="editForm.travellingAl.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.travellingAl.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.travellingAl.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.laundryAl"
                                           for="field_laundryAl">LaundryAl</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="laundryAl" id="field_laundryAl"
                                               ng-model="pgmsElpc.laundryAl"
                                               required/>
                                        <div ng-show="editForm.laundryAl.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.laundryAl.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.laundryAl.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.personalAl"
                                           for="field_personalAl">PersonalAl</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="personalAl" id="field_personalAl"
                                               ng-model="pgmsElpc.personalAl"
                                               required/>
                                        <div ng-show="editForm.personalAl.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.personalAl.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.personalAl.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.technicalAl"
                                           for="field_technicalAl">TechnicalAl</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="technicalAl" id="field_technicalAl"
                                               ng-model="pgmsElpc.technicalAl"
                                               required/>
                                        <div ng-show="editForm.technicalAl.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.technicalAl.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.technicalAl.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.hospitalityAl"
                                           for="field_hospitalityAl">HospitalityAl</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="hospitalityAl"
                                               id="field_hospitalityAl"
                                               ng-model="pgmsElpc.hospitalityAl"
                                               required/>
                                        <div ng-show="editForm.hospitalityAl.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.hospitalityAl.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.hospitalityAl.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.tiffinAl"
                                           for="field_tiffinAl">TiffinAl</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="tiffinAl" id="field_tiffinAl"
                                               ng-model="pgmsElpc.tiffinAl"
                                               required/>
                                        <div ng-show="editForm.tiffinAl.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.tiffinAl.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.tiffinAl.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <!------------------->

        <div class="col-md-12">
            <div class="dte-block">
                <div class="row">
                    <div class="col-md-12 step-box">
                        <h2>Provident Fund Information</h2>
                        <div class="col-md-4 padding0">
                            <div class="col-md-5">
                                <label class="control-label" translate="stepApp.pgmsElpc.bankAcc"
                                       for="field_bankAcc">BankAcc</label><span style="color:red;">*</span>
                            </div>
                            <div class="col-md-6">
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="bankAcc" id="field_bankAcc"
                                           ng-model="pgmsElpc.bankAcc"
                                           required/>
                                    <div ng-show="editForm.bankAcc.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.bankAcc.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 padding0">
                            <div class="col-md-4">
                                <label class="control-label" translate="stepApp.pgmsElpc.accBookNo"
                                       for="field_accBookNo">AccBookNo</label><span style="color:red;">*</span>
                            </div>
                            <div class="col-md-6">
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="accBookNo"
                                           id="field_accBookNo"
                                           ng-model="pgmsElpc.accBookNo"
                                           required/>
                                    <div ng-show="editForm.accBookNo.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.accBookNo.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 padding0">
                            <div class="col-md-4">
                                <label class="control-label" translate="stepApp.pgmsElpc.bookPageNo"
                                       for="field_bookPageNo">BookPageNo</label><span style="color:red;">*</span>
                            </div>
                            <div class="col-md-6">
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="bookPageNo"
                                           id="field_bookPageNo"
                                           ng-model="pgmsElpc.bookPageNo"
                                           required/>
                                    <div ng-show="editForm.bookPageNo.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.bookPageNo.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding0">
                            <div class="col-md-4">
                                <label class="control-label" translate="stepApp.pgmsElpc.bankInterest"
                                       for="field_bankInterest">BankInterest</label><span style="color:red;">*</span>
                            </div>
                            <div class="col-md-8">
                                <div class="input-margin">
                                    <input type="number" class="form-control" name="bankInterest"
                                           id="field_bankInterest"
                                           ng-model="pgmsElpc.bankInterest"
                                           required/>
                                    <div ng-show="editForm.bankInterest.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.bankInterest.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 padding0">
                            <div class="col-md-4">
                                <label class="control-label" translate="stepApp.pgmsElpc.principalAmount"
                                       for="field_principalAmount">principalAmount</label><span style="color:red;">*</span>
                            </div>
                            <div class="col-md-8">
                                <div class="input-margin">
                                    <input type="number" class="form-control" name="principalAmount"
                                           id="field_principalAmount"
                                           ng-model="pgmsElpc.principalAmount"
                                           required/>
                                    <div ng-show="editForm.principalAmount.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.principalAmount.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 padding0">
                            <div class="col-md-4">
                                <label class="control-label" translate="stepApp.pgmsElpc.monlyDepRateFrSalary"
                                       for="field_monlyDepRateFrSalary">MonlyDepRateFrSalary</label><span style="color:red;">*</span>
                            </div>
                            <div class="col-md-8">
                                <div class="input-margin">
                                    <input type="number" class="form-control" name="monlyDepRateFrSalary"
                                           id="field_monlyDepRateFrSalary"
                                           ng-model="pgmsElpc.monlyDepRateFrSalary"
                                           required/>
                                    <div ng-show="editForm.monlyDepRateFrSalary.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.monlyDepRateFrSalary.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 padding0">
                            <div class="col-md-4">
                                <label class="control-label" translate="stepApp.pgmsElpc.expectedDeposition"
                                       for="field_expectedDeposition">ExpectedDeposition</label><span style="color:red;">*</span>
                            </div>
                            <div class="col-md-8">
                                <div class="input-margin">
                                    <input type="number" class="form-control" name="expectedDeposition"
                                           id="field_expectedDeposition"
                                           ng-model="pgmsElpc.expectedDeposition"
                                           required/>
                                    <div ng-show="editForm.expectedDeposition.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.expectedDeposition.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 padding0">
                            <div class="col-md-4">
                                <label class="control-label" translate="stepApp.pgmsElpc.juneYear"
                                       for="field_juneYear">June Year</label><span style="color:red;">*</span>
                            </div>
                            <div class="col-md-8">
                                <div class="input-margin">
                                    <input type="number" class="form-control" name="juneYear" id="field_juneYear"
                                           ng-model="pgmsElpc.juneYear"
                                           required/>
                                    <div ng-show="editForm.juneYear.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.juneYear.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.juneYear.$error.number"
                                           translate="entity.validation.number">
                                            This field should be a number.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 padding0">
                            <div class="col-md-4">
                                <label class="control-label" translate="stepApp.pgmsElpc.amount"
                                       for="field_amount">June Year</label><span style="color:red;">*</span>
                            </div>
                            <div class="col-md-8">
                                <div class="input-margin">
                                    <input type="number" class="form-control" name="amount" id="field_amount"
                                           ng-model="pgmsElpc.amount"
                                           required/>
                                    <div ng-show="editForm.amount.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.amount.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.amount.$error.number"
                                           translate="entity.validation.number">
                                            This field should be a number.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 padding0">
                            <div class="col-md-4">
                                <label class="control-label" translate="stepApp.pgmsElpc.totalAmount"
                                       for="field_totalAmount">TotalAmount</label><span style="color:red;">*</span>
                            </div>
                            <div class="col-md-8">
                                <div class="input-margin">
                                    <input type="number" class="form-control" name="totalAmount" id="field_totalAmount"
                                           ng-model="pgmsElpc.totalAmount"
                                           required/>
                                    <div ng-show="editForm.totalAmount.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.totalAmount.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="dte-block">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Employee Loan Information</h2>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.advOfMakingHouse"
                                           for="field_advOfMakingHouse">AdvOfMakingHouse</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="advOfMakingHouse"
                                               id="field_advOfMakingHouse"
                                               ng-model="pgmsElpc.advOfMakingHouse"
                                               required/>
                                        <div ng-show="editForm.advOfMakingHouse.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.advOfMakingHouse.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.advOfMakingHouse.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.vechileStatus"
                                           for="field_vechileStatus">VechileStatus</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="vechileStatus"
                                               id="field_vechileStatus"
                                               ng-model="pgmsElpc.vechileStatus"
                                               required/>
                                        <div ng-show="editForm.vechileStatus.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.vechileStatus.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.vechileStatus.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.advTravAl"
                                           for="field_advTravAl">AdvTravAl</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="advTravAl"
                                               id="field_advTravAl"
                                               ng-model="pgmsElpc.advTravAl"
                                               required/>
                                        <div ng-show="editForm.advTravAl.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.advTravAl.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.advTravAl.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.advSalary"
                                           for="field_advSalary">AdvSalary</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="advSalary"
                                               id="field_advSalary"
                                               ng-model="pgmsElpc.advSalary"
                                               required/>
                                        <div ng-show="editForm.advSalary.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.advSalary.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.advSalary.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.houseRent"
                                           for="field_houseRent">HouseRent</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="houseRent"
                                               id="field_houseRent"
                                               ng-model="pgmsElpc.houseRent"
                                               required/>
                                        <div ng-show="editForm.houseRent.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.houseRent.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.houseRent.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.carRent"
                                           for="field_carRent">CarRent</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="carRent" id="field_carRent"
                                               ng-model="pgmsElpc.carRent"
                                               required/>
                                        <div ng-show="editForm.carRent.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.carRent.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.carRent.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.telephoneBill"
                                           for="field_telephoneBill">telephoneBill</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="telephoneBill" id="field_telephoneBill"
                                               ng-model="pgmsElpc.telephoneBill"
                                               required/>
                                        <div ng-show="editForm.telephoneBill.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.telephoneBill.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.telephoneBill.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.electricityBill"
                                           for="field_electricityBill">electricityBill</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="electricityBill" id="field_electricityBill"
                                               ng-model="pgmsElpc.electricityBill"
                                               required/>
                                        <div ng-show="editForm.electricityBill.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.electricityBill.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.electricityBill.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.gasBill"
                                           for="field_gasBill">GasBill</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="gasBill" id="field_gasBill"
                                               ng-model="pgmsElpc.gasBill"
                                               required/>
                                        <div ng-show="editForm.gasBill.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.gasBill.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="editForm.gasBill.$error.number"
                                               translate="entity.validation.number">
                                                This field should be a number.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.santryWaterTax"
                                           for="field_santryWaterTax">SantryWaterTax</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="santryWaterTax"
                                               id="field_santryWaterTax"
                                               ng-model="pgmsElpc.santryWaterTax"
                                               required/>
                                        <div ng-show="editForm.santryWaterTax.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.santryWaterTax.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.municipalityBill"
                                           for="field_municipalityBill">MunicipalityBill</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="municipalityBill"
                                               id="field_municipalityBill"
                                               ng-model="pgmsElpc.municipalityBill"
                                               required/>
                                        <div ng-show="editForm.municipalityBill.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.municipalityBill.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8 padding0">
                                <div class="col-md-4">
                                    <label class="control-label" translate="stepApp.pgmsElpc.otherLoan"
                                           for="field_otherLoan">OtherLoan</label><span style="color:red;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-margin">
                                        <input type="number" class="form-control" name="otherLoan"
                                               id="field_otherLoan"
                                               ng-model="pgmsElpc.otherLoan"
                                               required/>
                                        <div ng-show="editForm.otherLoan.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.otherLoan.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <br>

        <div class="col-md-12">
            <div class="dte-block">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 step-box">
                            <h2>Leave Information</h2>

                            <div class="col-sm-3">
                                <div class="">
                                    <label class=" control-label" translate="stepApp.pgmsElpc.leaveType">Leave
                                        Type</label>
                                    <span style="color:red;">*</span>
                                    <div class="">
                                        <label class="btn btn-default">
                                            <input type="radio"
                                                   ng-checked="pgmsElpc.leaveTypeFull == 'Full Average'"
                                                   name="leaveTypeFull" value="Full Average"
                                                   ng-model="pgmsElpc.leaveTypeFull"
                                                   translate="stepApp.pgmsElpc.full" required>Full Average</label>

                                        <div ng-show="editForm.leaveTypeFull.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.leaveTypeFull.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <label class="control-label" translate="stepApp.pgmsElpc.gainingLeave"
                                       for="field_gainingLeaveFull">GainingLeave</label><span style="color:red;">*</span>
                                <div class="input-margin">
                                    <input type="number" class="form-control" name="gainingLeaveFull"
                                           id="field_gainingLeaveFull"
                                           ng-model="pgmsElpc.gainingLeaveFull"
                                           required/>
                                    <div ng-show="editForm.gainingLeaveFull.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.gainingLeaveFull.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.gainingLeaveFull.$error.number"
                                           translate="entity.validation.number">
                                            This field should be a number.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <label class="control-label" translate="stepApp.pgmsElpc.leaveTotal"
                                       for="field_leaveTotalFull">LeaveTotal</label><span style="color:red;">*</span>
                                <div class="input-margin">
                                    <input type="number" class="form-control" name="leaveTotalFull"
                                           id="field_leaveTotalFull"
                                           ng-model="pgmsElpc.leaveTotalFull"
                                           required/>
                                    <div ng-show="editForm.leaveTotalFull.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.leaveTotalFull.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.leaveTotalFull.$error.number"
                                           translate="entity.validation.number">
                                            This field should be a number.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <label class="control-label" translate="stepApp.pgmsElpc.leftTotal"
                                       for="field_leftTotalFull">Left Total</label><span style="color:red;">*</span>
                                <div class="input-margin">
                                    <input type="number" class="form-control" name="leftTotalFull"
                                           id="field_leftTotalFull"
                                           ng-model="pgmsElpc.leftTotalFull"
                                           required/>
                                    <div ng-show="editForm.leftTotalFull.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.leftTotalFull.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.leftTotalFull.$error.number"
                                           translate="entity.validation.number">
                                            This field should be a number.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="">
                                    <div class="">
                                        <label class="btn btn-default">
                                            <input type="radio"
                                                   ng-checked="pgmsElpc.leaveTypeHalf == 'Half Average'"
                                                   name="leaveTypeHalf" value="Half Average"
                                                   ng-model="pgmsElpc.leaveTypeHalf"
                                                   translate="stepApp.pgmsElpc.half">Half Average</label>

                                        <div ng-show="editForm.leaveTypeHalf.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.leaveTypeHalf.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="input-margin">
                                    <input type="number" class="form-control" name="gainingLeaveHalf"
                                           id="field_gainingLeaveHalf"
                                           ng-model="pgmsElpc.gainingLeaveHalf"
                                           required/>
                                    <div ng-show="editForm.gainingLeaveHalf.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.gainingLeaveHalf.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.gainingLeaveHalf.$error.number"
                                           translate="entity.validation.number">
                                            This field should be a number.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="input-margin">
                                    <input type="number" class="form-control" name="leaveTotalHalf"
                                           id="field_leaveTotalHalf"
                                           ng-model="pgmsElpc.leaveTotalHalf"
                                           required/>
                                    <div ng-show="editForm.leaveTotalHalf.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.leaveTotalHalf.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.leaveTotalHalf.$error.number"
                                           translate="entity.validation.number">
                                            This field should be a number.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="input-margin">
                                    <input type="number" class="form-control" name="leftTotalHalf"
                                           id="field_leftTotalHalf"
                                           ng-model="pgmsElpc.leftTotalHalf"
                                           required/>
                                    <div ng-show="editForm.leftTotalHalf.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.leftTotalHalf.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.leftTotalHalf.$error.number"
                                           translate="entity.validation.number">
                                            This field should be a number.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

       <hr>

        <div class="col-md-12">
            <div class="dte-block">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 ">
                            <label class="control-label" translate="stepApp.pgmsElpc.appDate"
                                   for="field_appDate">AppDate</label><span style="color:red;">*</span>
                            <div class="input-margin">
                                <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.appDate"
                                       datepicker-options="calendar.dateOptions" close-text="Close"
                                       ng-click="calendar.open($event, 'appDate')" class="form-control"
                                       name="appDate"
                                       id="field_appDate"
                                       ng-model="pgmsElpc.appDate"
                                       required/>
                                <div ng-show="editForm.appDate.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.appDate.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <label class="control-label" translate="stepApp.pgmsElpc.appRetirementDate"
                                   for="field_appRetirementDate">RetirementDate</label><span style="color:red;">*</span>
                            <div class="input-margin">
                                <input datepicker-popup="{{calendar.dateFormat}}"
                                       is-open="calendar.opened.appRetirementDate"
                                       datepicker-options="calendar.dateOptions" close-text="Close"
                                       ng-click="calendar.open($event, 'appRetirementDate')" class="form-control"
                                       name="appRetirementDate" id="field_appRetirementDate"
                                       ng-model="pgmsElpc.appRetirementDate"
                                       required/>
                                <div ng-show="editForm.appRetirementDate.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.appRetirementDate.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label" translate="stepApp.pgmsElpc.appComments"
                                   for="field_appComments">AppComments</label><span style="color:red;">*</span>
                            <div class="input-margin">
                            <textarea class="form-control" name="appComments" id="field_appComments" cols="40" rows="5"
                                      ng-maxlength="250"
                                      ng-model="pgmsElpc.appComments">
                            </textarea>
                                <div ng-show="editForm.appComments.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.appComments.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <!--<div class="row">-->
        <!--<div class="col-md-12  col-sm-12 col-xs-12">-->
        <!--<p class="bg-info" translate="stepApp.pgmsElpc.allowanceinfo">Allowance Information</p>-->
        <!--<table class="table table-striped">-->
        <!--<tr>-->
        <!--<th width="30%"><label class="control-label" translate="stepApp.pgmsElpc.allowancetitle">Allowance Title</label></th>-->
        <!--<th align="left"><label class="control-label" translate="stepApp.pgmsElpc.allowValue">Allowance Value</label></th>-->
        <!--</tr>-->
        <!--<tr  ng-repeat="elpcAllowanceinfo in allowanceInfoList">-->
        <!--<td><span class="form-control-static"> {{elpcAllowanceinfo.allowDeducInfo.name}} </span></td>-->
        <!--<td><span class="form-control-static"> {{elpcAllowanceinfo.allowDeducValue}} </span></td>-->
        <!--</tr>-->
        <!--</table>-->
        <!--</div>-->
        <!--</div>-->
        <div class="modal-footer">
            <!--<button type="button" class="btn btn-default" class="btn " data-dismiss="modal" onclick="window.history.back()">-->
            <!--<i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.back">Back</span>-->
            <!--</button>-->
            <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted"
                    class="btn btn-primary">
                <span translate="entity.action.approve">Approve</span>
                <!--<span ng-hide="pgmsElpc.id" translate="entity.action.save"></span>-->
                <!--<span ng-show="pgmsElpc.id" translate="entity.action.update"></span>-->
            </button>
            <button type="button" ng-disabled="editForm.$invalid || editForm.$submitted" ng-click="rejectSave()"
                    class="btn btn-primary">
                <span translate="entity.action.reject"> Reject</span>
            </button>
            <!--<button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">-->
            <!--<span translate="entity.action.print">Print</span>                     -->
            <!--</button>-->
            <button type="button" class="btn btn-default" class="btn " data-dismiss="modal"
                    onclick="window.history.back()">
                <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.back">Back</span>
            </button>
        </div>
    </form>
</div>


