
<div class="common-table">
    <h2><span translate="stepApp.prlLocalitySetInfo.detail.title">PrlLocalitySetInfo</span> {{prlLocalitySetInfo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.prlLocalitySetInfo.localityInfo">localityInfo</span>
                </td>
                <td>
                    <span ng-repeat="localityInfo in prlLocalitySetInfo.localityInfos">
                        <a class="form-control-static" ui-sref="prlLocalityInfo.detail({id: {{localityInfo.id}}})">{{localityInfo.name}}</a>{{$last ? '' : ', '}}</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlLocalitySetInfo.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlLocalitySetInfo.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlLocalitySetInfo.fixedSetType">fixedSetType</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlLocalitySetInfo.fixedSetType ? 'Fixed' : 'Remain'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlLocalitySetInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlLocalitySetInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlLocalitySetInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlLocalitySetInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.prlLocalitySetInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlLocalitySetInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>


            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
