<ng-include src="'scripts/app/entities/auditLog/audit-log-left-menu.html'"></ng-include>
<div class="col-md-9 padding-left5 common-table">
    <h2><span translate="user-management.detail.title">User</span> "{{user.login}}"</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="user-management.login">Login</span>
                </td>
                <td>
                    {{user.login}}
                    <!--<input type="text" class="input-sm form-control" value="{{user.login}}" readonly>-->
                </td>
                <td>
                    <span translate="user-management.firstName">FirstName</span>
                </td>
                <td>
                    {{user.firstName}}
                    <!--<input type="text" class="input-sm form-control" value="{{user.firstName}}" readonly>-->
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="user-management.lastName">LastName</span>
                </td>
                <td>
                    {{user.lastName}}
                   <!-- <input type="text" class="input-sm form-control" value="{{user.lastName}}" readonly>-->
                </td>
                <td>
                    <span translate="user-management.email">Email</span>
                </td>
                <td>
                    {{user.email}}
                    <!--<input type="text" class="input-sm form-control" value="{{user.email}}" readonly>-->
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="user-management.activated">Activated</span>
                </td>
                <td>
                    {{user.activated}}
                    <!--<input type="text" class="input-sm form-control" value="{{user.activated}}" readonly>-->
                </td>
                <td>
                    <span translate="user-management.langKey">LangKey</span>
                </td>
                <td>
                    {{user.langKey}}
                    <!--<input type="text" class="input-sm form-control" value="{{user.langKey}}" readonly>-->
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="user-management.createdBy">CreatedBy</span>
                </td>
                <td>
                    {{user.createdBy}}
                   <!-- <input type="text" class="input-sm form-control" value="{{user.createdBy}}" readonly>-->
                </td>
                <td>
                    <span translate="user-management.createdDate">CreatedDate</span>
                </td>
                <td>
                    {{user.createdDate | date:'dd/MM/yy HH:mm' }}
                    <!--<input type="text" class="input-sm form-control"
                           value="{{user.createdDate | date:'dd/MM/yy HH:mm' }}" readonly>-->
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="user-management.lastModifiedBy">LastModifiedBy</span>
                </td>
                <td>
                    {{user.lastModifiedBy}}
                    <!--<input type="text" class="input-sm form-control" value="{{user.lastModifiedBy}}" readonly>-->
                </td>
                <td>
                    <span translate="user-management.lastModifiedDate">LastCreatedDate</span>
                </td>
                <td>
                    {{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}
                    <!--<input type="text" class="input-sm form-control"
                           value="{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}" readonly>-->
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="user-management.profiles">Profiles</span>
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li ng-repeat="authority in user.authorities"><span>{{authority}}</span></li>
                    </ul>
                </td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
