<div class="common-table padding5">
    <h2><span translate="stepApp.umracRoleSetup.detail.title">UmracRoleSetup</span></h2>
    <div class="table-responsive">
        <table class="table table-striped bteb-table">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.umracRoleSetup.roleId">RoleId</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRoleSetup.roleId}}</span>
                </td>
                <td>
                    <span translate="stepApp.umracRoleSetup.roleName">RoleName</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRoleSetup.roleName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRoleSetup.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRoleSetup.description}}</span>
                </td>
                <td>
                    <span translate="stepApp.umracRoleSetup.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRoleSetup.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRoleSetup.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRoleSetup.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.umracRoleSetup.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRoleSetup.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRoleSetup.updatedBy">UpdatedBy</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRoleSetup.updatedBy}}</span>
                </td>
                <td>
                    <span translate="stepApp.umracRoleSetup.updatedTime">UpdatedTime</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRoleSetup.updatedTime | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
