<div class="col-md-12 common-dialogue padding5">
    <h4 ng-show="umracRoleSetup.id == null" id="myUmracRoleSetupLabel"
        translate="stepApp.umracRoleSetup.home.createOrEditLabel">Create or edit a UmracRoleSetup</h4>
    <h4 ng-show="umracRoleSetup.id != null" id="myUmracRoleSetupLabel"
        translate="stepApp.umracRoleSetup.home.EditLabel">Create or edit a UmracRoleSetup</h4>

        <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
            <div class="panel-body bg-panel">
            <!--<div class="form-group">-->
            <!--<label for="id" translate="global.field.id">ID</label>-->
            <!--<input type="text" class="form-control" id="id" name="id"-->
            <!--ng-model="umracRoleSetup.id" readonly/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracRoleSetup.roleId" for="field_roleId">RoleId</label>-->
            <!--<input type="text" class="form-control" name="roleId" id="field_roleId"-->
            <!--ng-model="umracRoleSetup.roleId"-->
            <!--/>-->
            <!--</div>-->

                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.umracRoleSetup.roleName" for="field_roleName">RoleName</label>
                        <input type="text" class="form-control" name="roleName" id="field_roleName"
                               ng-model="umracRoleSetup.roleName"
                               ng-remote-validate="/api/umracRoleSetups/roleName/"
                               ng-remote-method="GET"
                               tooltip="{{'stepApp.umracRoleSetup.roleName' | translate}}"
                               placeholder="{{'stepApp.umracRoleSetup.roleName' | translate}}"
                               required/>
                        <span class="message" ng-show="editForm.roleName.$pending">validating...</span>
                        <!--<div ng-show="editForm.roleName.$invalid">-->
                        <!--<p class="help-block"-->
                        <!--ng-show="editForm.roleName.$error.required" translate="entity.validation.required">-->
                        <!--This field is required.-->
                        <!--</p>-->
                        <!--</div>-->
                        <div ng-show="editForm.roleName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.roleName.$error.required && editForm.roleName.$dirty"
                               translate="entity.validation.required">
                                Role Name is required.
                            </p>
                        </div>
                        <div ng-show="editForm.roleName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.roleName.$error.ngRemoteValidate">
                                Same Role Name Already Exists
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.umracRoleSetup.description"
                               for="field_description">Description</label>
                        <textarea type="text" class="form-control" name="description" id="field_description"
                               ng-model="umracRoleSetup.description"
                               tooltip="{{'stepApp.umracRoleSetup.description' | translate}}"
                               placeholder="{{'stepApp.umracRoleSetup.description' | translate}}"
                        cols="30" rows="3"></textarea>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h6 class="control-label col-sm-12" translate="stepApp.umracRoleSetup.status">Status</h6>

                        <div class="col-sm-12" ng-init="checked=true">
                            <input type="radio" name="status" value="true"
                                   tooltip="{{'stepApp.umracRoleSetup.status' | translate}}"
                                   ng-checked="umracRoleSetup.status == true"
                                   ng-model="umracRoleSetup.status"><span
                            translate="entity.action.activate">Active</span>&nbsp;&nbsp;
                            <input type="radio" name="status" value="false"
                                   tooltip="{{'stepApp.umracRoleSetup.status' | translate}}"
                                   ng-checked="umracRoleSetup.status == false"
                                   ng-model="umracRoleSetup.status"><span
                            translate="entity.action.deactivate">Deactive</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <h6 class="control-label col-sm-12" translate="stepApp.umracRoleSetup.permission">
                            permission</h6>
                        <div class="col-sm-12">
                            <ul class="tree">
                                <node-tree children="tc.tree"></node-tree>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group text-right">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                    translate="entity.action.back">back</span>
                </button>
                <button type="submit"
                        ng-disabled="editForm.roleName.$invalid || editForm.$invalid || editForm.$submitted"
                        class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;
                    <span ng-show="umracRoleSetup.id == null" translate="entity.action.save">Save</span>
                    <span ng-show="umracRoleSetup.id != null" translate="entity.action.update">update</span>
                </button>
            </div>


            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracRoleSetup.status" for="field_status">Status</label>-->
            <!--<input type="checkbox" class="form-control" name="status" id="field_status"-->
            <!--ng-model="umracRoleSetup.status"-->
            <!--/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracRoleSetup.createDate" for="field_createDate">CreateDate</label>-->
            <!--<input type="date" class="form-control" name="createDate" id="field_createDate"-->
            <!--ng-model="umracRoleSetup.createDate"-->
            <!--/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracRoleSetup.createBy" for="field_createBy">CreateBy</label>-->
            <!--<input type="number" class="form-control" name="createBy" id="field_createBy"-->
            <!--ng-model="umracRoleSetup.createBy"-->
            <!--/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracRoleSetup.updatedBy" for="field_updatedBy">UpdatedBy</label>-->
            <!--<input type="number" class="form-control" name="updatedBy" id="field_updatedBy"-->
            <!--ng-model="umracRoleSetup.updatedBy"-->
            <!--/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label translate="stepApp.umracRoleSetup.updatedTime" for="field_updatedTime">UpdatedTime</label>-->
            <!--<input type="date" class="form-control" name="updatedTime" id="field_updatedTime"-->
            <!--ng-model="umracRoleSetup.updatedTime"-->
            <!--/>-->
            <!--</div>-->
            </div>

        </form>

</div>
