<div class="common-list">
    <h2 translate="stepApp.mpoAOMapping.home.title">MpoAOMappings</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary" ui-sref="mpoAOMapping.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.mpoAOMapping.home.createLabel">Create a new MpoAOMapping</span>
            </button>
        </div>
    </div>

    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <!--<th translate="global.field.id">ID</th>
                <th translate="stepApp.mpoAOMapping.activeStatus">ActiveStatus</th>-->
                <th translate="stepApp.mpoAOMapping.employeeId">employeeId</th>
                <th translate="stepApp.mpoAOMapping.instLevel">instLevel</th>
                <th translate="stepApp.mpoAOMapping.division">division</th>
                <th translate="stepApp.mpoAOMapping.employeeInfo">employeeInfo</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="mpoAOMapping in mpoAOMappings track by mpoAOMapping.id">
                <!--<td><a ui-sref="mpoAOMapping.detail({id:mpoAOMapping.id})">{{mpoAOMapping.id}}</a></td>
                <td>{{mpoAOMapping.activeStatus}}</td>-->
                <td>
                    <a ui-sref="HrEmployeeInfo.detail({id:mpoAOMapping.employeeInfo.id})">{{mpoAOMapping.employeeInfo.id}}</a>
                </td>
                <td>
                    <a ui-sref="InstLevel.detail({id:mpoAOMapping.instLevel.id})">{{mpoAOMapping.instLevel.name}}</a>
                </td>
                <td>
                    <a ui-sref="Division.detail({id:mpoAOMapping.division.id})">{{mpoAOMapping.division.name}}</a>
                </td>
                <td>
                    <a ui-sref="HrEmployeeInfo.detail({id:mpoAOMapping.employeeInfo.id})">{{mpoAOMapping.employeeInfo.fullName}}</a>
                </td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="mpoAOMapping.detail({id:mpoAOMapping.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="mpoAOMapping.edit({id:mpoAOMapping.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <!--<button type="submit"
                            ng-click="delete(mpoAOMapping.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>-->
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
