
<div class="common-table">
    <h2><span translate="stepApp.mpoAOMapping.detail.title">MpoAOMapping</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td translate="stepApp.mpoAOMapping.employeeId">employeeId</td>
                <td>
                    <a ui-sref="HrEmployeeInfo.detail({id:mpoAOMapping.employeeInfo.id})">{{mpoAOMapping.employeeInfo.id}}</a>
                </td>
                <td>
                    <span translate="stepApp.mpoAOMapping.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{mpoAOMapping.activeStatus}}</span>
                </td>

            </tr>
            <tr>
                <td>
                    <span translate="stepApp.mpoAOMapping.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{mpoAOMapping.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.mpoAOMapping.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{mpoAOMapping.createBy}}</span>
                </td>

            </tr>
            <tr>
                <td>
                    <span translate="stepApp.mpoAOMapping.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{mpoAOMapping.updateDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.mpoAOMapping.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{mpoAOMapping.updateBy}}</span>
                </td>

            </tr>
            <tr>
                <td>
                    <span translate="stepApp.mpoAOMapping.instLevel">instLevel</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="InstLevel.detail({id:mpoAOMapping.instLevel.id})">{{mpoAOMapping.instLevel.name}}</a>
                </td>
                <td>
                    <span translate="stepApp.mpoAOMapping.division">division</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="Division.detail({id:mpoAOMapping.division.id})">{{mpoAOMapping.division.name}}</a>
                </td>

            </tr>
            <tr>
                <td>
                    <span translate="stepApp.mpoAOMapping.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="HrEmployeeInfo.detail({id:mpoAOMapping.employeeInfo.id})">{{mpoAOMapping.employeeInfo.fullName}}</a>
                </td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
