<div class="common-dialogue">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-if="mpoAOMapping.id == null" class="modal-title" id="myMpoAOMappingLabel" translate="stepApp.mpoAOMapping.home.createLabel">Create
            or edit a MpoAOMapping</h4>
        <h4 ng-if="mpoAOMapping.id != null" class="modal-title" id="myMpoAOMappingLabel" translate="stepApp.mpoAOMapping.home.createOrEditLabel">Create
            or edit a MpoAOMapping</h4>
        <div class="modal-body">
            <!--<jh-alert-error></jh-alert-error>-->

            <div class="col-md-6 form-group">
                <label translate="stepApp.mpoAOMapping.instLevel" for="field_instLevel">instLevel</label>
                <select  class="form-control" id="field_instLevel" name="instLevel" ng-model="mpoAOMapping.instLevel"
                        ng-options="InstLevel as InstLevel.name for InstLevel in instlevels | orderBy:'name' track by InstLevel.id" required>
                    <option value=""></option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label translate="stepApp.mpoAOMapping.division" for="field_division">division</label>
                <select class="form-control" id="field_division" name="division" ng-model="mpoAOMapping.division"
                        ng-options="Division as Division.name for Division in divisions | orderBy:'name' track by Division.id">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label translate="stepApp.mpoAOMapping.employeeInfo" for="field_employeeInfo">employeeInfo</label>
                <select class="form-control" id="field_employeeInfo" name="employeeInfo"
                        ng-model="mpoAOMapping.employeeInfo"
                        ng-options="HrEmployeeInfo as HrEmployeeInfo.fullName for HrEmployeeInfo in hremployeeinfos track by HrEmployeeInfo.id" required>
                    <option value=""></option>
                </select>
            </div>

            <div class="col-md-6 form-group">
                <label translate="stepApp.mpoAOMapping.activeStatus" for="field_activeStatus">ActiveStatus</label>
                <input type="checkbox" class="form-control" name="activeStatus" id="field_activeStatus"
                       ng-model="mpoAOMapping.activeStatus"/>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
</div>
