<div class="col-md-12 common-dialogue">
    <h4 ng-show="instEmpSpouseInfo.id == null" id="myInst1EmpSpouseInfoLabel"
        translate="stepApp.instEmployee.home.spouseInfo">Inst Emp Spouse Info</h4>
    <h4 ng-show="instEmpSpouseInfo.id != null" id="myInstEmpSpouseInfoLabel"
        translate="stepApp.instEmployee.home.EditSpouseInfo">Inst Emp Spouse Info</h4>
    <form name="editForm" class="panel-primary" role="form" novalidate ng-submit="save()" show-validation>
        <div class="col-md-12 no_padding">
            <div class="form-group col-md-6">
                <label class="control-label" translate="stepApp.instEmpSpouseInfo.nomineeHas" for="field_isNominee">gender</label>
                <div id="field_isNominee">
                    <label class="radio-inline btn btn-default">
                        <input type="radio" id="field_isNominee_yes"
                               name="nomineeHas" value="true"
                               ng-model="instEmpSpouseInfo.nomineeHas"
                               tooltip="{{'stepApp.instEmpSpouseInfo.nomineeHas' | translate}}"
                        >
                        <span translate="stepApp.instEmpSpouseInfo.yes" for="field_isNominee_yes"> Yes</span>
                    </label>
                    <label class="radio-inline btn btn-default">
                        <input type="radio" id="field_isNominee_no"
                               name="nomineeHas" value="false"
                               ng-model="instEmpSpouseInfo.nomineeHas"
                               tooltip="{{'stepApp.instEmpSpouseInfo.nomineeHas' | translate}}"
                               ><span
                        translate="stepApp.instEmpSpouseInfo.no" for="field_isNominee_no">
                        No</span>
                    </label>
                    {{instEmpSpouseInfo.nomineeHas}}
                </div>
            </div>

            <!--typeahead='instEmps as (instEmps.name + ", Designation : " +instEmps.designationSetup.designationInfo.designationName) for instEmps in instituteList | filter:$viewValue'-->

            <div class="form-group col-sm-6 ">
                <label translate="stepApp.instEmpSpouseInfo.name" for="field_name">name</label>
                <input ng-if="instEmpSpouseInfo.nomineeHas" type="text" class="form-control autocomplete"
                       name="employeeId" id="field_name" ng-model="instEmpSpouseInfo.name"
                       autocomplete="off"
                       only-letters-and-dash-and-dot
                       typeahead='instEmps.name as instEmps.name  for instEmps in instituteList | filter:$viewValue'
                       required placeholder="{{'stepApp.instEmpSpouseInfo.name' | translate}}"/>

                <input ng-if="instEmpSpouseInfo.nomineeHas==false"
                       type="text" class="form-control "
                       name="employeeId"
                       id="field_employeename" ng-model="instEmpSpouseInfo.name"
                       placeholder="{{'stepApp.instEmpSpouseInfo.name' | translate}}"
                       only-letters-and-dash-and-dot required/>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmpSpouseInfo.dob" for="field_dob">Dob</label>
                <input type="text" class="form-control" name="dob" id="field_dob"
                       ng-model="instEmpSpouseInfo.dob"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.dob"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'dob')"
                       tooltip="{{'stepApp.instEmpSpouseInfo.dob' | translate}}"
                       required
                       max-date="toDay"/>
                <div ng-show="editForm.dob.$invalid">
                    <p class="help-block"
                       ng-show="editForm.dob.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label" translate="stepApp.instEmpSpouseInfo.gender"
                       for="field_gender">gender</label>
                <div id="field_gender" style="margin-bottom: 5px">
                    <label class="radio-inline btn btn-default">
                        <input type="radio" id="field_gender_male"
                               name="gender" ng-model="instEmpSpouseInfo.gender"
                               tooltip="{{'stepApp.instEmpSpouseInfo.gender' | translate}}"
                               value="male"
                               ng-click="valgender()">
                        <span translate="stepApp.instEmpSpouseInfo.male" for="field_isNominee_yes">
                            Male</span>
                    </label>
                    <label class="radio-inline btn btn-default">
                        <input type="radio" id="field_gender_female"
                               name="gender" ng-model="instEmpSpouseInfo.gender"
                               tooltip="{{'stepApp.instEmpSpouseInfo.gender' | translate}}"
                               value="female" ng-click="valgender()"><span
                        translate="stepApp.instEmpSpouseInfo.female" for="field_isNominee_yes">
                        Male</span>
                    </label>
                    <label class="radio-inline btn btn-default">
                        <input type="radio" id="field_gender_others"
                               name="gender" ng-model="instEmpSpouseInfo.gender"
                               tooltip="{{'stepApp.instEmpSpouseInfo.gender' | translate}}"
                               value="others" ng-click="valgender()"><span
                        translate="stepApp.instEmpSpouseInfo.others" for="field_isNominee_yes">
                        Male</span>
                    </label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmpSpouseInfo.relation" for="field_relation">Relation</label>
                <select class="form-control" name="relation" ng-model="instEmpSpouseInfo.relation" id="field_relation"
                        tooltip="{{'stepApp.instEmpSpouseInfo.relation' | translate}}"
                        required>
                    <option disabled selected value="" translate="stepApp.instEmpSpouseInfo.relation"></option>
                    <option value="Husband" translate="stepApp.relationType.Husband">Husband</option>
                    <option value="Wife" translate="stepApp.relationType.Wife">Wife</option>
                </select>
                <div ng-show="editForm.relation.$invalid">
                    <p class="help-block"
                       ng-show="editForm.relation.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmpSpouseInfo.occupation" for="field_occupation">Occupation</label>
                <input type="text" class="form-control" name="occupation" id="field_occupation"
                       ng-model="instEmpSpouseInfo.occupation"
                       tooltip="{{'stepApp.instEmpSpouseInfo.occupation' | translate}}"
                       placeholder="{{'stepApp.instEmpSpouseInfo.occupation' | translate}}"
                       only-letters-and-dash-and-dot/>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmpSpouseInfo.tin" for="field_tin">Tin</label>
                <input type="text" class="form-control" name="tin" id="field_tin"
                       ng-model="instEmpSpouseInfo.tin"
                       tooltip="{{'stepApp.instEmpSpouseInfo.tin' | translate}}"
                       placeholder="{{'stepApp.instEmpSpouseInfo.tin' | translate}}"
                       only-numbers
                />
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmpSpouseInfo.nid" for="field_nid">Nid</label>
                <input type="text" class="form-control" name="nid" id="field_nid" numeric-only
                       ng-model="instEmpSpouseInfo.nid"
                       tooltip="{{'stepApp.instEmpSpouseInfo.nid' | translate}}"
                       placeholder="{{'stepApp.instEmpSpouseInfo.nid' | translate}}"
                       required ng-minlength="10" ng-maxlength="17" minlength="10" maxlength="17"
                />
                <small style="color: #f00;"
                       ng-if="editForm.nid.$error.required" translate="entity.validation.required">
                    This field is required.
                </small>
                <small style="color: #f00;"
                       ng-if="editForm.nid.$error.minlength" translate="stepApp.instEmpSpouseInfo.minlength">
                </small>
                <small style="color: #f00;"
                       ng-if="editForm.nid.$error.maxlength" translate="stepApp.instEmpSpouseInfo.maxlength">
                </small>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmpSpouseInfo.designation" for="field_designation">Designation</label>
                <input type="text" class="form-control" name="designation" id="field_designation"
                       ng-model="instEmpSpouseInfo.designation"
                       tooltip="{{'stepApp.instEmpSpouseInfo.designation' | translate}}"
                       placeholder="{{'stepApp.instEmpSpouseInfo.designation' | translate}}"
                       only-letters-and-dash-and-dot
                />
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmpSpouseInfo.govJobId" for="field_govJobId">GovJobId</label>
                <input type="text" class="form-control" name="govJobId" id="field_govJobId"
                       ng-model="instEmpSpouseInfo.govJobId"
                       tooltip="{{'stepApp.instEmpSpouseInfo.govJobId' | translate}}"
                       placeholder="{{'stepApp.instEmpSpouseInfo.govJobId' | translate}}"
                       only-numbers
                />
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmpSpouseInfo.mobile" for="field_mobile">Mobile</label>
                <input type="text" class="form-control" name="mobile" id="field_mobile"
                       ng-model="instEmpSpouseInfo.mobile"
                       tooltip="{{'stepApp.instEmpSpouseInfo.mobile' | translate}}"
                       placeholder="{{'stepApp.instEmpSpouseInfo.mobile' | translate}}"
                       ng-maxlength="11" ng-minlength="11" maxlength="11" minlength="11" min="0"
                       only-numbers
                />
                <small style="color:red" ng-if="editForm.mobile.$error.minlength">
                    Please enter correct 11 digit mobile number
                </small>
                <small style="color:red" ng-if="editForm.mobile.$error.maxlength">
                    Please enter correct 11 digit mobile number
                </small>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmpSpouseInfo.officeContact"
                       for="field_officeContact">OfficeContact</label>
                <input type="text" class="form-control" name="officeContact" id="field_officeContact"
                       ng-model="instEmpSpouseInfo.officeContact"
                       tooltip="{{'stepApp.instEmpSpouseInfo.officeContact' | translate}}"
                       placeholder="{{'stepApp.instEmpSpouseInfo.officeContact' | translate}}"
                       only-numbers-and-dash ng-maxlength="18" ng-minlength="11"
                       maxlength="18" minlength="11" min="0"
                />
                <small style="color:red" ng-if="editForm.officeContact.$error.minlength">
                    Please enter correct 11 digit telephone number
                </small>
                <small style="color:red" ng-if="editForm.officeContact.$error.maxlength">
                    Please enter correct 18 digit telephone number
                </small>
            </div>
            <div class="col-md-12 text-right">
                <button type="button"
                        onclick="window.history.back()"
                        class="btn btn-info">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                    translate="entity.action.back"> Back</span>
                </button>
                <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;
                    <span ng-disabled="editForm.$invalid || isSaving" ng-show="instEmpSpouseInfo.id == null"
                          translate="entity.action.save">Save</span>
                    <span ng-disabled="editForm.$invalid || isSaving" ng-show="instEmpSpouseInfo.id != null"
                          translate="entity.action.update">update</span>
                </button>
            </div>
        </div>
    </form>
</div>
