<style>
    table {
        border: 1px solid #ddd;
        table-layout: fixed;
    !important;
    }

    .common-table {
        padding: 5px;
        background: #fff;
    }
</style>
<div class="col-sm-12 common-table">
    <h2><span translate="stepApp.instEmployee.home.spouseInfo">Inst Emp Spouse Info</span></h2>
    <div class="col-sm-12 text-right padding-tb no-print">
        <button ng-show="hideEditButton"
                ui-sref="employeeInfo.spouseInfo.edit"
                class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit">edit</span>
        </button>
        <button ng-show="hideAddButton"
                ui-sref="employeeInfo.spouseInfo.new"
                class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;<span translate="entity.action.add">add</span>
        </button>
    </div>
    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSpouseInfo.nomineeHas">IsNominee</span>
                </td>
                <td>
                    <span ng-show="instEmpSpouseInfo.nomineeHas==true" class="form-control-static">Yes</span>
                    <span ng-show="instEmpSpouseInfo.nomineeHas==false" class="form-control-static">No</span>
                </td>
                <td>
                    <span translate="stepApp.instEmpSpouseInfo.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSpouseInfo.name}}</span>
                </td>


            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSpouseInfo.dob">Dob</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSpouseInfo.dob | date:'mediumDate'}}</span>
                </td>

                <td>
                    <span translate="stepApp.instEmpSpouseInfo.gender">Gender</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSpouseInfo.gender}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.instEmpSpouseInfo.relation">Relation</span>
                </td>
                <td ng-show="instEmpSpouseInfo.relation !=null">
                    <span class="form-control-static"
                          translate="{{'stepApp.relationType.' + instEmpSpouseInfo.relation}}">{{instEmpSpouseInfo.relation}}</span>
                </td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instEmpSpouseInfo.occupation">Occupation</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSpouseInfo.occupation}}</span>
                </td>
                <td>
                    <span translate="stepApp.instEmpSpouseInfo.tin">Tin</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSpouseInfo.tin}}</span>
                </td>

            </tr>
            <tr ng-if="instEmpSpouseInfo.nomineePercentage && instEmpSpouseInfo.nomineeHas==true">
                <td>
                    <span translate="stepApp.instEmpSpouseInfo.nomineePercentage">NomineePercentage</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSpouseInfo.nomineePercentage}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>


            <tr>
                <td>
                    <span translate="stepApp.instEmpSpouseInfo.nid">Nid</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSpouseInfo.nid}}</span>
                </td>
                <td>
                    <span translate="stepApp.instEmpSpouseInfo.designation">Designation</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSpouseInfo.designation}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.instEmpSpouseInfo.govJobId">GovJobId</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSpouseInfo.govJobId}}</span>
                </td>
                <td>
                    <span translate="stepApp.instEmpSpouseInfo.mobile">Mobile</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSpouseInfo.mobile}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.instEmpSpouseInfo.officeContact">OfficeContact</span>
                </td>
                <td>
                    <span class="form-control-static">{{instEmpSpouseInfo.officeContact}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.instEmpSpouseInfo.instEmployee">instEmployee</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="instEmployee.detail({id:instEmpSpouseInfo.instEmployee.id})">{{instEmpSpouseInfo.instEmployee.name}}</a>
                </td>
            </tr>
           <!-- <tr>
                <td>
                    <span translate="stepApp.instEmpSpouseInfo.instEmpAddress">instEmpAddress</span>
                </td>
                <td>
                        <span ng-repeat="instEmpAddress in instEmpSpouseInfo.instEmpAddresss">
                            <a class="form-control-static" ui-sref="instEmpAddress.detail({id: {{instEmpAddress.id}}})">{{instEmpAddress.address}}</a>{{$last ? '' : ', '}}
                        </span>
                </td>
            </tr>-->
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
    <div class="col-md-12 no-print text-right">
        <button type="submit" class="btn btn-sm btn-primary no-print" onclick="window.print()">
            <i class="fa fa-print"></i>&nbsp;
            <span translate="entity.action.print">Print</span>
        </button>
    </div>
</div>
