
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myFeePaymentCategorySetupLabel" translate="stepApp.feePaymentCategorySetup.home.createOrEditLabel">Create or edit a FeePaymentCategorySetup</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="feePaymentCategorySetup.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.feePaymentCategorySetup.paymentCategoryId" for="field_paymentCategoryId">PaymentCategoryId</label>
            <input type="text" class="form-control" name="paymentCategoryId" id="field_paymentCategoryId"
                    ng-model="feePaymentCategorySetup.paymentCategoryId"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.feePaymentCategorySetup.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="feePaymentCategorySetup.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.feePaymentCategorySetup.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="feePaymentCategorySetup.status"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.feePaymentCategorySetup.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="feePaymentCategorySetup.description"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.feePaymentCategorySetup.createDate" for="field_createDate">CreateDate</label>
            <input type="date" class="form-control" name="createDate" id="field_createDate"
                    ng-model="feePaymentCategorySetup.createDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.feePaymentCategorySetup.category" for="field_category">Category</label>
            <input type="text" class="form-control" name="category" id="field_category"
                    ng-model="feePaymentCategorySetup.category"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.feePaymentCategorySetup.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                    ng-model="feePaymentCategorySetup.amount"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.feePaymentCategorySetup.guideline" for="field_guideline">Guideline</label>
            <input type="text" class="form-control" name="guideline" id="field_guideline"
                    ng-model="feePaymentCategorySetup.guideline"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.feePaymentCategorySetup.createBy" for="field_createBy">CreateBy</label>
            <input type="number" class="form-control" name="createBy" id="field_createBy"
                    ng-model="feePaymentCategorySetup.createBy"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.feePaymentCategorySetup.updateBy" for="field_updateBy">UpdateBy</label>
            <input type="number" class="form-control" name="updateBy" id="field_updateBy"
                    ng-model="feePaymentCategorySetup.updateBy"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.feePaymentCategorySetup.updateDate" for="field_updateDate">UpdateDate</label>
            <input type="date" class="form-control" name="updateDate" id="field_updateDate"
                    ng-model="feePaymentCategorySetup.updateDate"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
