
<div>
    <h2><span translate="stepApp.feePaymentCategorySetup.detail.title">FeePaymentCategorySetup</span> {{feePaymentCategorySetup.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.feePaymentCategorySetup.paymentCategoryId">PaymentCategoryId</span>
                </td>
                <td>
                    <span class="form-control-static">{{feePaymentCategorySetup.paymentCategoryId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.feePaymentCategorySetup.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{feePaymentCategorySetup.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.feePaymentCategorySetup.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{feePaymentCategorySetup.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.feePaymentCategorySetup.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{feePaymentCategorySetup.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.feePaymentCategorySetup.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{feePaymentCategorySetup.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.feePaymentCategorySetup.category">Category</span>
                </td>
                <td>
                    <span class="form-control-static">{{feePaymentCategorySetup.category}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.feePaymentCategorySetup.amount">Amount</span>
                </td>
                <td>
                    <span class="form-control-static">{{feePaymentCategorySetup.amount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.feePaymentCategorySetup.guideline">Guideline</span>
                </td>
                <td>
                    <span class="form-control-static">{{feePaymentCategorySetup.guideline}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.feePaymentCategorySetup.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{feePaymentCategorySetup.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.feePaymentCategorySetup.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{feePaymentCategorySetup.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.feePaymentCategorySetup.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{feePaymentCategorySetup.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
