<div class="common-table">
    <form name="editForm" role="form" novalidate ng-submit="save()">
        <h2 class="modal-title" id="myDlBookRequisitionLabel"
            translate="stepApp.dlBookRequisition.home.createOrEditLabel">Create or edit a DlBookRequisition</h2>
        <div class="modal-body">
            <div class="row">
                <!--<jh-alert-error></jh-alert-error>-->
                <!--<div class="form-group">-->
                <!--<label for="id" translate="global.field.id">ID</label>-->
                <!--<input type="text" class="form-control" id="id" name="id"-->
                <!--ng-model="dlBookRequisition.id" readonly />-->
                <!--</div>-->
                <div class="form-group col-sm-6 no-padding">
                    <label translate="stepApp.dlBookRequisition.dlContTypeSet"
                           for="field_dlContTypeSet">dlContTypeSet</label>
                    <select class="form-control" id="field_dlContTypeSet" name="dlContTypeSet"
                            ng-change="getCategory(dlBookRequisition.dlContTypeSet)"
                            ng-model="dlBookRequisition.dlContTypeSet"
                            ng-options="dlContTypeSet as dlContTypeSet.name for dlContTypeSet in dlconttypesets track by dlContTypeSet.id"
                    >
                        <option disabled selected value="" ng-if="dlBookRequisition.id ==null">Select Here</option>
                        <option value=""></option>
                    </select>
                </div>
                <div class="form-group col-sm-6 no-padding">
                    <label translate="stepApp.dlBookRequisition.dlContCatSet"
                           for="field_dlContCatSet">dlContCatSet</label>
                    <select class="form-control" id="field_dlContCatSet" name="dlContCatSet"
                            ng-disabled="!(dlBookRequisition.dlContTypeSet)"
                            ng-change="getSubCategory(dlBookRequisition.dlContCatSet)"
                            ng-model="dlBookRequisition.dlContCatSet"
                            ng-options="dlContCatSet as dlContCatSet.name for dlContCatSet in dlContCatSets"
                    >
                        <option disabled selected value="" ng-if="dlBookRequisition.id ==null">Select Here</option>
                        <option value=""></option>
                    </select>
                </div>
                <div class="form-group col-sm-6 no-padding">
                    <label translate="stepApp.dlBookRequisition.dlContSCatSet"
                           for="field_dlContSCatSet">dlContSCatSet</label>
                    <select class="form-control" id="field_dlContSCatSet" name="dlContSCatSet"
                            ng-disabled="!(dlBookRequisition.dlContCatSet)"
                            ng-model="dlBookRequisition.dlContSCatSet"
                            ng-options="dlContSCatSet as dlContSCatSet.name for dlContSCatSet in dlContSCatSets"
                    >
                        <option disabled selected value="" ng-if="dlBookRequisition.id ==null">Select Here</option>
                        <option value=""></option>
                    </select>
                </div>
                <div class="form-group col-sm-6 no-padding">
                    <label translate="stepApp.dlBookRequisition.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           ng-model="dlBookRequisition.title"
                           placeholder="Title"
                    />
                </div>
                <div class="form-group col-sm-6 no-padding">
                    <label translate="stepApp.dlBookRequisition.edition" for="field_edition">Edition</label>
                    <input type="text" class="form-control" name="edition" id="field_edition"
                           ng-model="dlBookRequisition.edition"
                           placeholder="Edition"
                    />
                </div>
                <div class="form-group col-sm-6 no-padding">
                    <label translate="stepApp.dlBookRequisition.authorName" for="field_authorName">AuthorName</label>
                    <input type="text" class="form-control" name="authorName" id="field_authorName"
                           ng-model="dlBookRequisition.authorName"
                           placeholder="Author Name"
                    />
                </div>
                <!--<div class="form-group">-->
                <!--<label translate="stepApp.dlBookRequisition.createDate" for="field_createDate">CreateDate</label>-->
                <!--<input type="date" class="form-control" name="createDate" id="field_createDate"-->
                <!--ng-model="dlBookRequisition.createDate"-->
                <!--/>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<label translate="stepApp.dlBookRequisition.updateDate" for="field_updateDate">UpdateDate</label>-->
                <!--<input type="date" class="form-control" name="updateDate" id="field_updateDate"-->
                <!--ng-model="dlBookRequisition.updateDate"-->
                <!--/>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<label translate="stepApp.dlBookRequisition.createBy" for="field_createBy">CreateBy</label>-->
                <!--<input type="number" class="form-control" name="createBy" id="field_createBy"-->
                <!--ng-model="dlBookRequisition.createBy"-->
                <!--/>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<label translate="stepApp.dlBookRequisition.updateBy" for="field_updateBy">UpdateBy</label>-->
                <!--<input type="number" class="form-control" name="updateBy" id="field_updateBy"-->
                <!--ng-model="dlBookRequisition.updateBy"-->
                <!--/>-->
                <!--</div>-->
                <!--<div class="form-group col-sm-6 no-padding">-->
                <!--<label translate="stepApp.dlBookRequisition.status" for="field_status">Status</label>-->
                <!--&lt;!&ndash;<input type="number" class="form-control" name="status" id="field_status"&ndash;&gt;-->
                <!--&lt;!&ndash;ng-model="dlBookRequisition.status"&ndash;&gt;-->
                <!--&lt;!&ndash;/>&ndash;&gt;-->
                <!--<div id="field_status">-->
                <!--<label class="radio-inline btn btn-default"><input type="radio" name="status" value="true"-->
                <!--ng-checked="(dlBookRequisition.status == true || dlBookRequisition.status == null)"-->
                <!--ng-model="dlBookRequisition.status"><span-->
                <!--translate="entity.action.activate">Active</span></label>-->
                <!--<label class="radio-inline btn btn-default"><input type="radio" name="status" value="false"-->
                <!--ng-checked="(dlBookRequisition.status == false && dlBookRequisition.Status != null)"-->
                <!--ng-model="dlBookRequisition.status"><span-->
                <!--translate="entity.action.deactivate">Deactive</span></label>-->
                <!--</div>-->
                <!--</div>-->

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                translate="entity.action.requisition">Save</span>
            </button>
        </div>
    </form>
</div>
