<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 ng-if="pensionGratuityRateSetup.id == null" class="modal-title" id="myPgmsPenGrSetupLabelCreate"
                translate="stepApp.pensionGratuityRateSetup.home.createOrEditLabel">Create or edit a PgmsPenGrSetup</h4>
            <h4 ng-if="pensionGratuityRateSetup.id != null" class="modal-title" id="myPgmsPenGrSetupLabelEdit"
                translate="stepApp.pensionGratuityRateSetup.home.EditLabel">Create or edit a PgmsPenGrSetup</h4>
        </div>
        <div class="panel-body bg-panel">
            <form class="form-horizontal" name="editForm" role="form" novalidate ng-submit="save()" show-validation>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="control-label"
                               translate="stepApp.pensionGratuityRateSetup.setupType">SetupType</label>
                        <div class="input-margin">
                            <label class="radio-inline">
                                <input type="radio" data-ng-model="pensionGratuityRateSetup.setupType" name="setupType"
                                       ng-change="pgsType(1)" value="pension">&nbsp;Pension&nbsp;&nbsp;
                            </label>
                            <label class="radio-inline">
                                <input type="radio" data-ng-model="pensionGratuityRateSetup.setupType" name="setupType"
                                       ng-change="pgsType(2)" value="gratuity">&nbsp;Gratuity
                            </label>
                            <div ng-show="editForm.setupType.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.setupType.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div ng-repeat="pgmsPenGrRate in pgmsPenGrRatelist track by $index">

                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.pensionGratuityRateSetup.workingYear"
                                       for="field_workingYear">Working Year</label>
                                <div class="input-margin">
                                    <input type="number" class="form-control" name="workingYear" id="field_workingYear"
                                           ng-model="pgmsPenGrRate.workingYear" ng-blur="checkWorkingYearExist(pgmsPenGrRate.workingYear,$index)"
                                           required/>
                                    <div ng-show="editForm.workingYear.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.workingYear.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.workingYear.$error.number"
                                           translate="entity.validation.number">
                                            This field should be a number.
                                        </p>
                                    </div>
                                    <div ng-if="workingYearError">
                                        <span style="color:red;margin-top:30px;font-size:14px;">Working Year already Exist.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.pensionGratuityRateSetup.rateOfPenGr"
                                       for="field_rateOfPenGr">RateOfPenGr</label>
                                <div class="input-margin">
                                    <input type="number" class="form-control" name="rateOfPenGr" id="field_rateOfPenGr"
                                           ng-model="pgmsPenGrRate.rateOfPenGr"
                                           required/>
                                    <div ng-show="editForm.rateOfPenGr.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.rateOfPenGr.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.rateOfPenGr.$error.number"
                                           translate="entity.validation.number">
                                            This field should be a number.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" ng-hide="workingYearError">
                    <div class="col-md-12 no_padding" ng-show="pgmsPenGrRatelist.length > 1">
                        <button class="btn btn-danger pull-right"
                                ng-click="remove(pgmsPenGrRate)" type="button">
                            <span class="glyphicon glyphicon-minus"></span>&nbsp;<span translate="entity.action.remove">Remove</span>
                        </button>
                    </div>
                    <div class="col-sm-12  padding-tb">
                        <button type="button" class="btn btn-primary pull-right" ng-click="addMore()"><i class="fa fa-plus-square"></i>
                            <span translate="global.menu.account.addmore">Add More</span>
                        </button>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="control-label" translate="stepApp.pensionGratuityRateSetup.effectiveDate"
                               for="field_effectiveDate">Effective Date</label>
                        <div class="input-margin">
                            <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.effectiveDate"
                                   datepicker-options="calendar.dateOptions" close-text="Close"
                                   ng-click="calendar.open($event, 'effectiveDate')"
                                   class="form-control" name="effectiveDate" id="field_effectiveDate"
                                   tooltip="{{'stepApp.pensionGratuityRateSetup.effectiveDate' | translate}}"
                                   placeholder="yyyy-mm-dd"
                                   ng-model="pensionGratuityRateSetup.effectiveDate" required/>

                            <div ng-show="editForm.effectiveDate.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.effectiveDate.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <label class="radio-inline">
                            <input type="radio" ng-model="activeStatus" name="activeStatus" data-ng-value="true"
                                   ng-checked="true">&nbsp;Active&nbsp;&nbsp;
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="activeStatus" name="activeStatus" data-ng-value="false">&nbsp;Inactive
                        </label>
                    </div>
                </div>

                <div class="modal-footer col-md-12">
                    <button type="button" class="btn btn-default" class="btn " data-dismiss="modal"
                            onclick="window.history.back()">
                        <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.back">Back</span>
                    </button>
                    <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted || workingYearError"
                            class="btn btn-primary">
                        <span ng-hide="pensionGratuityRateSetup.id" translate="entity.action.save"></span>
                        <span ng-show="pensionGratuityRateSetup.id" translate="entity.action.update"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
