<!--<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-heading" translate="stepApp.pensionGratuityRateSetup.home.title">PgmsPenGrSetups</div>
        &lt;!&ndash;<jh-alert></jh-alert>&ndash;&gt;

        <div class="panel-body bg-panel">
            <div class="row">
                <div class="col-md-8">
                    <form name="searchForm" class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="">
                        </div>
                        <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>
                </div>
                <div class="col-md-4 text-right">
                    <button class="btn btn-primary" ui-sref="pensionGratuityRateSetup.new">
                        <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.pensionGratuityRateSetup.home.createLabel">Create a new PgmsPenGrSetup</span>
                    </button>
                </div>
            </div>
        </div>-->
        <div class="col-md-12 no_padding common-list">
            <h2 translate="stepApp.pensionGratuityRateSetup.home.title">PgmsPenGrSetups</h2>
            <div class="col-md-12 padding-tb">
                <div class="col-md-4 no_padding">
                    <input ng-model="q" id="search" class="form-control"
                           placeholder="{{'global.home.searchhere'  | translate}}">
                </div>
                <div class="col-md-4">
                    <input type="number" min="1" max="100" class="form-control"
                           placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
                </div>
                <div class="col-md-4 text-right">
                    <button class="btn btn-primary" ui-sref="pensionGratuityRateSetup.new">
                        <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.pensionGratuityRateSetup.home.createLabel">Create a new PgmsPenGrSetup</span>
                    </button>
                </div>
            </div>
        <div class="modal fade" id="deletePgmsPenGrSetupConfirmation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="deleteForm" ng-submit="confirmDelete(pensionGratuityRateSetup.id)">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                        </div>
                        <div class="modal-body">
                            <p translate="stepApp.pensionGratuityRateSetup.delete.question" translate-values="{id: '{{pensionGratuityRateSetup.id}}'}">Are you sure you want to delete this PgmsPenGrSetup?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-12 table-responsive padding0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th translate="global.form.serial"></th>
                        <th translate="stepApp.pensionGratuityRateSetup.setupType">SetupType</th>
                        <th translate="stepApp.pensionGratuityRateSetup.setupVersion">SetupVersion</th>
                        <th translate="stepApp.pensionGratuityRateSetup.effectiveDate">EffectiveDate</th>
                        <th translate="stepApp.pensionGratuityRateSetup.activeStatus">ActiveStatus</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr ng-repeat="pensionGratuityRateSetup in pensionGratuityRateSetups">-->
                    <tr dir-paginate="pensionGratuityRateSetup in pensionGratuityRateSetups | filter:q | itemsPerPage: pageSize track by pensionGratuityRateSetup.id" current-page="currentPage">

                    <td>{{$index + 1}}</td>
                        <td>Pension & Gratuity</td>
                        <td>{{pensionGratuityRateSetup.setupVersion}}</td>
                        <td>{{pensionGratuityRateSetup.effectiveDate | date:'mediumDate'}}</td>
                        <td ng-if="pensionGratuityRateSetup.activeStatus==true">Active</td>
                        <td ng-if="pensionGratuityRateSetup.activeStatus==false">Inactive</td>
                        <td class="text-right">
                            <button type="submit"
                                    ui-sref="pensionGratuityRateSetup.detail({version:pensionGratuityRateSetup.setupVersion})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                            </button>
                            <button type="submit"
                                    ui-sref="pensionGratuityRateSetup.edit({version:pensionGratuityRateSetup.setupVersion})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                            </button>
                            <!--<button type="submit"-->
                                    <!--ng-click="delete(pensionGratuityRateSetup.id)"-->
                                    <!--class="btn btn-danger btn-sm">-->
                                <!--<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>-->
                            <!--</button>-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination">
                    <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                    <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                    <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                    <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                    <li class="active"><a>{{page + 1}}</a></li>
                    <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                    <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                    <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                    <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
                </ul>
            </nav>
        </div>
    </div>

