
<div class="common-table">
    <h2><span translate="stepApp.pensionGratuityRateSetup.detail.title">PgmsPenGrSetup</span> {{pensionGratuityRateSetup.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <!--<th translate="entity.detail.field">Field</th>-->
                <!--<th translate="entity.detail.value">Value</th>-->
                <td>
                    <span translate="stepApp.pensionGratuityRateSetup.setupType">SetupType</span>
                </td>
                <td>
                    <span translate="stepApp.pensionGratuityRateSetup.setupVersion">SetupVersion</span>
                </td>
                <td>
                    <span translate="stepApp.pensionGratuityRateSetup.workingYear">WorkingYear</span>
                </td>
                <td>
                    <span translate="stepApp.pensionGratuityRateSetup.rateOfPenGr">Rate</span>
                </td>
                <td>
                    <span translate="stepApp.pensionGratuityRateSetup.effectiveDate">EffectiveDate</span>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>

            </tr>
            <tr ng-repeat="pensionGratuityRateSetup in pgmsPenGrSetups">
                <td>
                    <span class="form-control-static">{{pensionGratuityRateSetup.setupType}}</span>
                </td>
                <td>
                    <span class="form-control-static">{{pensionGratuityRateSetup.setupVersion}}</span>
                </td>
                <td>
                    <span class="form-control-static">{{pensionGratuityRateSetup.workingYear}}</span>
                </td>
                <td>
                    <span class="form-control-static">{{pensionGratuityRateSetup.rateOfPenGr}}</span>
                </td>
                <td>
                    <span class="form-control-static">{{pensionGratuityRateSetup.effectiveDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button" class="btn btn-default" class="btn " data-dismiss="modal" onclick="window.history.back()">
        <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.back">Back</span>
    </button>
</div>
