<!--
<div class="row">
    <div class="col-md-3">
        <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
    </div>
-->

    <!--<div class="col-md-9 " ng-show="showApplicationButtion">-->
<!--    <div class="col-md-9 ">-->
<div class="col-sm-12 mpo-list no_padding common-list">
    <ul class="list-inline">
        <li has-any-authority="ROLE_INSTEMP"><a ui-sref="mpo.new"><i class="fa fa-list"></i> <span translate="global.menu.mpoEnlist">MPO Enlisting Application</span></a></li>
        <li has-any-authority="ROLE_INSTEMP" ng-if="instEmployee != null && (instEmployee.level === 'SSC_VOC' || instEmployee.level === 'SSC (VOC)' || instEmployee.level === 'MADRASA_VOC' || instEmployee.level == 'Madrasha (VOC)' || instEmployee.level === 'MADRASHA (VOCATIONAL)'|| instEmployee.level === 'SSC (VOCATIONAL)')"><a ui-sref="mpo.bedApplication"><i class="fa fa-list"></i> B.ED Application</a></li>
        <li has-any-authority="ROLE_INSTEMP"><a ui-sref="mpo.timescaleApplication"><i class="fa fa-list"></i><span translate="global.menu.timeScale"> Time Scale Application </span></a></li>
        <li has-any-authority="ROLE_INSTEMP"  ng-if="instEmployee != null && (instEmployee.level === 'MADRASA_BM' || instEmployee.level === 'Madrasha (BM)' || instEmployee.level === 'HSC (BM)' || instEmployee.level === 'HSC_BM' || instEmployee.level === 'B.MANAGEMENT' || instEmployee.level === 'MADRASHA (B.MANAGEMENT)')"><a ui-sref="mpo.ApApplication"><i class="fa fa-list"></i><span translate="global.menu.assistantProf"> Assistant Professor </span></a></li>
        <li has-any-authority="ROLE_INSTEMP"  ng-if="instEmployee != null && (instEmployee.level === 'MADRASA_BM' || instEmployee.level === 'Madrasha (BM)' || instEmployee.level === 'HSC (BM)' || instEmployee.level === 'HSC_BM' || instEmployee.level === 'B.MANAGEMENT' || instEmployee.level === 'MADRASHA (B.MANAGEMENT)')"><a ui-sref="mpo.ProfessorApplication"><i class="fa fa-list"></i><span translate="global.menu.principal"> Principal </span> </a></li>
        <li has-any-authority="ROLE_INSTEMP"><a ui-sref="infoCorrectionApply"><i class="fa fa-list"></i><span translate="global.menu.infoCorrection">  Information Correction </span> </a></li>
        <li has-any-authority="ROLE_INSTITUTE"><a ui-sref="mpo.name-cancel-application"><i class="fa fa-list"></i> Name Cancellation</a></li>
       <!-- <li><a ui-sref="mpo.payscale"><i class="fa fa-list"></i> Name Correction</a></li>-->

    </ul>
</div>

        <div ng-show="isAdmin">
            <ng-include src="'scripts/app/account/mpo/mpo-search-form.html'"></ng-include>
        </div>
