<div class="col-md-12 common-list">
    <h2 ng-show="bEdAppliedLists.pending == 'pending'" translate="stepApp.bEdApplication.pendingList">BED
        Application Pending List</h2>
    <h2 ng-show="bEdAppliedLists.pending == 'approved'" translate="stepApp.bEdApplication.approvedList">BED
        Application Approved List</h2>
    <div class="row no-print">
        <div class="col-xs-4">
            <b>{{ (bEdAppliedLists|filter:q).length }} results found</b>
            <label for="search">Search:</label>
            <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
        </div>
        <div class="col-xs-4">
            <label for="search">items per page:</label>
            <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
        </div>
    </div>
    <br>
    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.form.serial"></th>
                <th translate="stepApp.mpo.thead.institutename"> Institute Name</th>
                <th translate="stepApp.mpo.thead.code"> Institute Code</th>
                <th translate="stepApp.mpo.thead.applicantname"> Applicant Name</th>
                <th translate="stepApp.mpo.thead.applicantId"> Applicant Id</th>
                <th translate="stepApp.mpo.thead.upazilla"> upazilla</th>
                <th translate="stepApp.mpo.thead.action" class="no-print"> Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="bEdAppliedList in bEdAppliedLists | filter:q | itemsPerPage: pageSize | orderBy:'$index':true"
                current-page="currentPage">
                <td>{{$index+1}}</td>
                <td>{{bEdAppliedList.INST_NAME}}</td>
                <td>{{bEdAppliedList.INST_CODE}}</td>
                <td>{{bEdAppliedList.NAME}}</td>
                <td>{{bEdAppliedList.CODE}}</td>
                <td>{{bEdAppliedList.UPZILA_NAME}}</td>
                <td class="text-right no-print">
                    <button class="btn btn-default" ui-sref="bedDetails({id:bEdAppliedList.BED_ID})">
                        <span translate="stepApp.mpo.view">View</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <!--for pagination and real time search add bellow nav tab -->
        <nav class="no-print">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>

        <div has-any-authority="ROLE_AD" ng-if="bEdAppliedLists.length > 0">
            <button class="btn btn-success pull-right" ng-if="summaryList.length < 1" ng-click="createSummary()">
                <span translate="stepApp.mpo.createsummary"> Create Summary List </span>
            </button>
            <button class="btn btn-success pull-right" ng-if="summaryList.length > 0" ng-click="forwardSummaryList()">
                <span translate="stepApp.mpo.forward"> Forward </span>
            </button>
        </div>
        <div class=" col-sm-12" has-any-authority="ROLE_AD" ng-if="summaryList.length > 0">
            <h3 translate="stepApp.mpo.summaryList">Summary List</h3>
            <div>
                <table class="table table-responsive no_padding">
                    <thead>
                    <tr>
                        <th translate="stepApp.mpo.thead.slNo">Serial No</th>
                        <th translate="stepApp.mpo.thead.applicationDate">Application Date</th>
                        <th translate="stepApp.mpo.thead.approveByDeo"> Approved By deo</th>
                        <th translate="stepApp.mpo.thead.institutename"> Institute Name</th>
                        <th translate="stepApp.mpo.thead.code"> Institute Code</th>
                        <th translate="stepApp.mpo.thead.upazilla"> Upazila</th>
                        <th translate="stepApp.mpo.thead.district"> District</th>
                        <th>
                            <p> Applicant Name</p>
                            <p> Date of Birth</p>
                            <p>Education Qualification</p>
                            <p> Bank Name</p>
                            <p> Bank No</p>
                        </th>
                        <th translate="stepApp.mpo.thead.designation"> Designation And Subject</th>
                        <th translate="stepApp.mpo.thead.registerIndex">Register Index</th>
                        <th translate="stepApp.mpo.thead.dgRepresentative">DG Representative</th>
                        <th translate="stepApp.mpo.thead.recDateOfGB">Recommend Date of Gov-body</th>
                        <th translate="stepApp.mpo.thead.joiningDate">Joining Date</th>
                        <th translate="stepApp.mpo.thead.G.O">G.O. yes/no</th>
                        <th translate="stepApp.mpo.thead.payCode">Pay Code</th>
                        <th>Comments</th>
                        <th has-any-authority="ROLE_DG,ROLE_DIRECTOR" translate="stepApp.mpo.thead.action">Action</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                        <th>15</th>
                        <th>16</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<tr ng-repeat="mpoAppliedList in mpoAppliedLists | orderBy:'$index':true">-->
                    <tr ng-repeat="each in summaryList">
                        <td>{{$index+1}}</td>
                        <td>{{each.APPLICATION_DATE | date}}</td>
                        <td>{{each.CMT_APPROVE_DATE | date}}--{{each.DEO_APPROVE_DATE | date}}</td>
                        <td>{{each.INST_NAME}}</td>
                        <td>{{each.INST_CODE}}</td>
                        <td>{{each.UPZ_NAME}}</td>
                        <td>{{each.DISTRICT}}</td>
                        <td>
                            <p>{{each.NAME}}</p>
                            <p>{{each.DOB | date}}</p>
                            <p>{{each.EDU_QUALIFI}}</p>
                            <p>{{each.BANK_NAME}}-{{each.BANK_ACCOUNT}}</p>
                        </td>
                        <td>{{each.DESIGNATION}}({{each.SUBJECT}})</td>
                        <td>{{each.REGISTERED_NO}}</td>
                        <td>{{each.DG_REPRESENTITIVE}}</td>
                        <td>{{each.GB_REC_DATE | date}}</td>
                        <td>{{each.JOIN_DATE | date}}</td>
                        <td>{{each.GOV_ORDER == 1? 'Yes' : 'No'}}</td>
                        <td>{{each.PAY_CODE}}</td>
                        <td>{{each.COMMENTS}}</td>
                        <td has-any-authority="ROLE_DG,ROLE_DIRECTOR" class="text-right">
                            <div class="btn-group">
                                <button class="btn btn-info" ui-sref="bedDetails({id:each.MPO_ID})">
                                     <span translate="step.mpo.view">View</span>
                                </button>
                                <button class="btn btn-success" ui-sref="bedAppApprove({id: each.MPO_ID})">
                                    <span translate="step.mpo.approve">Approve</span>
                                </button>
                                <button class="btn btn-danger" ui-sref="bedDeny({id: each.MPO_ID})">
                                    <span translate="step.mpo.reject">Reject</span>
                                </button>
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <button type="submit" class="btn btn-sm btn-primary no-print" onclick="window.print()" >
            <i class="fa fa-print"></i>&nbsp;
            <span translate="entity.action.print" >Print</span>
        </button>
    </div>
</div>
