<div class="col-md-12 common-table">
    <div class="application_information">
        <div class="panel panel-primary">
            <h2>B.Ed. Application Status of <b>{{bEdApplicationlogs[0].bEdApplicationId.instEmployee.code}}</b></h2>
            <div class="common-table">
                <table class="table table-striped table-bordered dte-table2">
                    <thead>
                    <tr>
                        <th width="40%">Status</th>
                        <th width="10%">Action Date</th>
                        <th width="50%">Remarks</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="bEdApplicationlog in bEdApplicationlogs">
                        <td>{{bEdApplicationlog.remarks}}</td>
                        <td>{{bEdApplicationlog.fromDate}}</td>
                        <td><span>{{bEdApplicationlog.cause}}</span></td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" onclick="window.history.back()" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
                    <span translate="entity.action.back">Back</span>
                </button>
            </div>
        </div>
    </div>
</div>
