<div class="col-md-12 common-list">
    <div ng-if="mpoForm" class="col-md-12 no_padding">
        <div class="pull-right" has-any-authority="ROLE_ADMIN, ROLE_INSTITUTE">
            <button class="btn btn-danger" ng-click="hideMpoForm()">Go to Application Home Page</button>
        </div>
        <div ng-class="currentSection=='personal' ? 'show' : 'hide'">
            <!--TABLE view-->
            <div class="col-md-12 table-responsive common-table">
                <h2 translate="{{'stepApp.employee.PersonalInformation'}}">Personal Information</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th translate="entity.detail.field">Field</th>
                        <th translate="entity.detail.value">Value</th>
                        <th translate="entity.detail.field">Field</th>
                        <th translate="entity.detail.value">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td translate="{{'stepApp.employee.trackId'}}">Track ID</td>
                        <td>{{employee.code}}</td>
                        <td>{{'stepApp.employee.nameEnglish' | translate}}</td>
                        <td>{{employee.name}}</td>
                    </tr>
                    <tr>
                        <td class="app_re_info">{{'stepApp.employee.designation' | translate}}</td>
                        <td>{{employee.designationSetup.designationInfo.designationName}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td> {{'stepApp.employee.fatherName' | translate}}</td>
                        <td>{{employee.fatherName}}</td>
                        <td>{{'stepApp.employee.motherName' | translate}}</td>
                        <td>{{employee.motherName}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.employee.email' | translate}}</td>
                        <td>{{employee.email}}</td>
                        <td>{{'stepApp.employee.gender' | translate}}</td>
                        <td>{{employee.gender}}</td>
                    </tr>

                    <tr>
                        <td>{{'stepApp.employee.dob' | translate}}</td>
                        <td>{{employee.dob}}</td>
                        <td><span ng-if="employee.category != 'Staff'">{{'stepApp.employee.registrationCertificateSubject' | translate}}</span>
                        </td>
                        <td><span ng-if="employee.category != 'Staff'">{{employee.registeredCertificateSubject}}</span>
                        </td>
                    </tr>

                    <tr>
                        <td><span ng-if="employee.category != 'Staff'">{{'stepApp.employee.registrationExamYear' | translate}}</span>
                        </td>
                        <td><span ng-if="employee.category != 'Staff'">{{employee.registrationExamYear}}</span></td>
                        <td><span ng-if="employee.category != 'Staff'">{{'stepApp.employee.registrationCetificateNo' | translate}}</span>
                        </td>
                        <td><span ng-if="employee.category != 'Staff'">{{employee.registeredCertificateNo}}</span></td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.employee.curriculum' | translate}}</td>
                        <td>{{employee.cmsCurriculum.name}}</td>
                        <td>{{'stepApp.employee.Subject' | translate}}</td>
                        <td>{{employee.cmsSubject.name}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.employee.tradetechnology' | translate}}</td>
                        <td>{{employee.cmsTrade.name}}</td>
                        <td>{{'stepApp.employee.indexNo' | translate}}</td>
                        <td>{{employee.indexNo}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.employee.bankName' | translate}}</td>
                        <td>{{instEmplBankInfo.bankSetup.name}}</td>
                        <td>{{'stepApp.employee.bankBranch' | translate}}</td>
                        <td>{{instEmplBankInfo.bankBranc.brName}}</td>
                    </tr>

                    <tr>
                        <td>{{'stepApp.employee.bankAccountNo' | translate}}</td>
                        <td>{{instEmplBankInfo.bankAccountNo}}</td>
                        <td>{{'stepApp.employee.upazila' | translate}}</td>
                        <td>{{address.upazila.name}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.employee.VillageHouse' | translate}}</td>
                        <td>{{address.villageOrHouse}}</td>
                        <td>{{'stepApp.employee.bloodGroup' | translate}}</td>
                        <td>
                            <span ng-if="employee.bloodGroup == 'A_POSITIVE'">(A+)</span>
                            <span ng-if="employee.bloodGroup == 'A_NEGATIVE'">(A-)</span>
                            <span ng-if="employee.bloodGroup == 'B_POSITIVE'">(B+)</span>
                            <span ng-if="employee.bloodGroup == 'B_NEGATIVE'">(B-)</span>
                            <span ng-if="employee.bloodGroup == 'O_POSITIVE'">(O+)</span>
                            <span ng-if="employee.bloodGroup == 'O_NEGATIVE'">(O-)</span>
                            <span ng-if="employee.bloodGroup == 'AB_POSITIVE'">(AB+)</span>
                            <span ng-if="employee.bloodGroup == 'AB_NEGATIVE'">(AB-)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.employee.conPerMobile' | translate}}</td>
                        <td>{{employee.conPerMobile}}</td>
                        <td>{{'stepApp.employee.quota' | translate}}</td>
                        <td>{{employee.jobQuota}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.employee.tin' | translate}}</td>
                        <td>{{employee.tin}}</td>
                        <td>{{'stepApp.employee.level' | translate}}</td>
                        <td>{{employee.level}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.employee.religion' | translate}}</td>
                        <td>{{employee.religion.name}}</td>
                        <td>{{'stepApp.employee.maritalStatus' | translate}}</td>
                        <td>{{employee.maritalStatus}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.employee.contactNo' | translate}}</td>
                        <td>{{employee.contactNo}}</td>
                        <td>{{'stepApp.employee.nationality' | translate}}</td>
                        <td>{{employee.nationality}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.employee.birthCertNo' | translate}}</td>
                        <td>{{employee.birthCertNo}}</td>
                        <td>{{'stepApp.employee.birthCertNoImage' | translate}}</td>
                        <td>
                            <a href="javascript:void(0)"
                               ng-click="previewImage(employee.birthCertImage, employee.birthCertImageContentType,'Birth Certificate image of '+employee.name)">
                                <span class="btn btn-primary"><span
                                    class="glyphicon glyphicon-picture"></span></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.employee.nidImage' | translate}}</td>
                        <td>
                            <a href="javascript:void(0)"
                               ng-click="previewImage(employee.nidImage, employee.nidImageContentType,'National Id image of '+employee.name)"><span
                                class="btn btn-primary"><span class="glyphicon glyphicon-picture"></span></span></a></a>
                        </td>
                        <td>{{'stepApp.employee.nid' | translate}}</td>
                        <td>{{employee.nid}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 table-responsive common-table">
                <h2 translate="{{'stepApp.employee.InstitutionalInformation'}}">Institutional Information</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th translate="entity.detail.field">Field</th>
                        <th translate="entity.detail.value">Value</th>
                        <th translate="entity.detail.field">Field</th>
                        <th translate="entity.detail.value">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{'stepApp.employee.instituteInfo.name' | translate}}</td>
                        <td>{{employee.institute.name}}</td>
                        <td>{{'stepApp.employee.instituteInfo.code' | translate}}</td>
                        <td>{{employee.institute.code}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.employee.instituteInfo.category' | translate}}</td>
                        <td>{{employee.institute.instCategory.name}}</td>
                        <td>{{'stepApp.employee.instituteInfo.dateOfEstablishment' | translate}}
                        </td>
                        <td>{{employee.institute.dateOfEstablishment}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.employee.instituteInfo.type' | translate}}</td>
                        <td>{{employee.institute.type}}</td>
                        <td>{{'stepApp.employee.instituteInfo.mpoCode' | translate}}</td>
                        <td>{{employee.institute.mpoCode}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.employee.instituteInfo.postOffice' | translate}}</td>
                        <td>{{employee.institute.postOffice}}</td>
                        <td>{{'stepApp.employee.upazila' | translate}}</td>
                        <td>{{employee.institute.upazila.name}}</td>
                    </tr>
                    <tr>
                        <td>{{'stepApp.employee.district' | translate}}</td>
                        <td>{{employee.institute.upazila.district.name}}</td>
                        <td>{{'stepApp.employee.division' | translate}}</td>
                        <td>{{employee.institute.upazila.district.division.name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 table-responsive common-table">
                <h2 translate="{{'stepApp.employee.EducationalInformation'}}">Educational Information</h2>
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th translate="{{'stepApp.employee.ExamName'}}">Exam Name</th>
                        <th translate="{{'stepApp.employee.Group'}}">Group</th>
                        <!--<th translate="{{'stepApp.employee.GPA'}}">GPA/Grade</th>-->
                        <th translate="{{'stepApp.employee.session'}}">session</th>
                        <!--<th translate="{{'stepApp.employee.duration'}}">duration</th>-->
                        <th translate="{{'stepApp.employee.university'}}">university</th>
                        <th translate="{{'stepApp.employee.instUniversity'}}">instUniversity</th>
                        <th translate="{{'stepApp.employee.result'}}">university</th>
                        <th translate="{{'stepApp.employee.passingYear'}}">Exam Result Date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="appEducation in applicantEducation">
                        <td>{{appEducation.eduLevel.name}}</td>
                        <td>{{appEducation.groupSubject}}</td>
                        <!--<td>{{appEducation.cgpa}}</td>-->
                        <td>{{appEducation.session}}</td>
                        <!--<td>{{appEducation.duration}}</td>-->
                        <td>
                            <span ng-if="appEducation.eduBoard.name">{{appEducation.eduBoard.name}}</span>
                        </td>
                        <td><span ng-if="appEducation.uniName">{{appEducation.uniName}}</span></td>
                        <td><span style="color: #0c4e27; ">{{appEducation.cgpa | uppercase}} </span><span
                            ng-if="appEducation.gpaScale">In scale of</span><span ng-if="appEducation.gpaScale==null"> Division</span>
                            <span ng-if="appEducation.gpaScale" style="color: #890919">{{appEducation.gpaScale}}</span>
                        </td>
                        <td>{{appEducation.passingYear}}</td>
                        <td><a href="javascript:void(0)"
                               ng-click="previewImage(appEducation.certificateCopy, appEducation.certificateCopyContentType,appEducation.certificateName+' Certificate image of '+employee.name)"><span
                            class="btn btn-primary">View Certificate</span></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr/>
            <div id="training-infod" class="col-md-12 common-table">
                <h2 translate="{{'stepApp.employee.TrainingInformation'}}">Training Information</h2>
                <div id="applicantTraining" class="table-responsive">
                    <table class="table table-stripped">
                        <thead>
                        <tr>
                            <th translate="{{'stepApp.employee.TrainingName'}}">Training Name</th>
                            <th translate="{{'stepApp.employee.instituteName'}}">instituteName</th>
                            <th translate="{{'stepApp.employee.startedDate'}}">Training Name</th>
                            <th translate="{{'stepApp.employee.endedDate'}}">Training Name</th>
                            <th translate="{{'stepApp.employee.instituteInfo.location'}}">Training Name</th>
                            <th translate="{{'stepApp.employee.Result'}}">Result</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="appTraining in applicantTraining">
                            <td>{{appTraining.name}}</td>
                            <td>{{appTraining.institute}}</td>
                            <td>{{appTraining.startedDate}}</td>
                            <td>{{appTraining.endedDate}}</td>
                            <td>{{appTraining.location}}</td>
                            <td>{{appTraining.result}}</td>
                            <td><a href="javascript:void(0)"
                                   ng-click="previewImage(appTraining.attachment, appTraining.attachmentContentType,appTraining.name+' Certificate image of '+employee.name)"><span
                                class="form-control-static">View Certificate</span></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div></div>
            <div id="employee-address" class="col-md-12 common-table">
                <h2 translate="{{'stepApp.employee.EmployeeAddress'}}">Employee Address</h2>
                <div id="address-div11" style="padding-left:0px;" class=" col-md-6 table-responsive">
                    <!-- <h3> Employee Address</h3>-->
                    <table class="table table-stripped">
                        <thead>
                        <tr>
                            <th colspan="2" translate="{{'stepApp.employee.PresentAddress'}}"> Present Address</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="app_re_info" translate="{{'stepApp.employee.VillageHouse'}}">Village/House</td>
                            <td>{{address.villageOrHouse}}</td>
                        </tr>
                        <tr>
                            <td class="app_re_info" translate="{{'stepApp.employee.RoadBlock'}}">Road/Block</td>
                            <td>{{address.roadBlockSector}}</td>
                        </tr>
                        <tr>
                            <td class="app_re_info" translate="{{'stepApp.employee.instituteInfo.postOffice'}}">
                                postOffice
                            </td>
                            <td>{{address.post}}</td>
                        </tr>
                        <tr>
                            <td class="app_re_info" translate="{{'stepApp.employee.instituteInfo.postCode'}}">postCode
                            </td>
                            <td>{{address.postCode}}</td>
                        </tr>
                        <tr>
                            <td class="app_re_info" translate="{{'stepApp.employee.Upazilla'}}">Upazilla</td>
                            <td>{{address.upazila.name}}</td>
                        </tr>
                        <tr>
                            <td class="app_re_info" translate="{{'stepApp.employee.District'}}">District</td>
                            <td>{{address.upazila.district.name}}</td>
                        </tr>
                        <tr>
                            <td class="app_re_info" translate="{{'stepApp.employee.Division'}}">Division</td>
                            <td>{{address.upazila.district.division.name}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div id="address-div22" style="padding-right:0px;" class="col-md-6">
                    <!--<h3>Permanent Address</h3>-->
                    <table class="table table-stripped">
                        <thead>
                        <tr>
                            <th colspan="2" translate="{{'stepApp.employee.PermanentAddress'}}"> Permanent Address</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="app_re_info" translate="{{'stepApp.employee.VillageHouse'}}">Village/House</td>
                            <td>{{address.prevVillageOrHouse}}</td>
                        </tr>
                        <tr>
                            <td class="app_re_info" translate="{{'stepApp.employee.RoadBlock'}}">Road/Block</td>
                            <td>{{address.prevRoadBlockSector}}</td>
                        </tr>
                        <tr>
                            <td class="app_re_info" translate="{{'stepApp.employee.instituteInfo.postOffice'}}">
                                postOffice
                            </td>
                            <td>{{address.prevPost}}</td>
                        </tr>
                        <tr>
                            <td class="app_re_info" translate="{{'stepApp.employee.instituteInfo.postCode'}}">postCode
                            </td>
                            <td>{{address.prevPostCode}}</td>
                        </tr>
                        <tr>
                            <td class="app_re_info" translate="{{'stepApp.employee.Upazilla'}}">Upazilla</td>
                            <td>{{address.prevUpazila.name}}</td>
                        </tr>
                        <tr>
                            <td class="app_re_info" translate="{{'stepApp.employee.District'}}">District</td>
                            <td>{{address.prevUpazila.district.name}}</td>
                        </tr>
                        <tr>
                            <td class="app_re_info" translate="{{'stepApp.employee.Division'}}">Division</td>
                            <td>{{address.prevUpazila.district.division.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="pull-left" style="margin-left:15px;">
                <span class="btn btn-primary no-print" onclick="window.history.back()"
                      translate="{{'stepApp.employee.cancel'}}">Cancel</span>
            </div>
            <div class="pull-right" style="margin-right:15px;">
                <span class="btn btn-primary no-print" ng-click="mpoNext('personal','education')"
                      translate="{{'stepApp.employee.Next'}}">Next</span>
            </div>
            <span class="btn "></span>
        </div>
        <div ng-class="currentSection=='education' ? 'show' : 'hide'">
            <div id="applicant-infos" class="col-lg-12 common-table padding0">
                <h2 translate="{{'stepApp.employee.appEnrInfo'}}">Applicant Enrolment Information</h2>
                <table class="table">
                    <thead>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="app_re_info">{{'stepApp.employee.presentDesignation' | translate}}</td>
                        <td>{{employee.designationSetup.designationInfo.designationName}}</td>
                        <td class="app_re_info">{{'stepApp.employee.payScale' | translate}}</td>
                        <td>{{instEmplRecruitInfo.payScale.basicAmount}}</td>
                    </tr>
                    <tr>
                        <td class="app_re_info">{{'stepApp.employee.payScaleCode' | translate}}</td>
                        <td>{{instEmplRecruitInfo.payScale.code}}</td>
                        <td class="app_re_info">{{'stepApp.employee.monthlySalaryGovtProvided' | translate}}</td>
                        <td>{{instEmplRecruitInfo.monthlySalaryGovtProvided}}</td>

                        <!--  <td class="app_re_info">{{'stepApp.employee.month' | translate}}</td>
                          <td>{{instEmplRecruitInfo.month}}</td>-->
                    </tr>
                    <tr>

                        <td class="app_re_info">{{'stepApp.employee.monthlySalaryInstituteProvided' | translate}}</td>
                        <td>{{instEmplRecruitInfo.monthlySalaryInstituteProvided}}</td>
                        <td class="app_re_info">{{'stepApp.employee.gbResolutionReceiveDate' | translate}}</td>
                        <td>{{instEmplRecruitInfo.gbResolutionReceiveDate}}</td>
                    </tr>
                    <!--<tr>

                        <td class="app_re_info">{{'stepApp.employee.gbResolutionAgendaNo' | translate}}</td>
                        <td>{{instEmplRecruitInfo.gbResolutionAgendaNo}}</td>
                    </tr>-->
                    <tr>
                        <td class="app_re_info">{{'stepApp.employee.circularPaperName' | translate}}</td>
                        <td>{{instEmplRecruitInfo.circularPaperName}}</td>
                        <td class="app_re_info">{{'stepApp.employee.circularPublishedDate' | translate}}</td>
                        <td>{{instEmplRecruitInfo.circularPublishedDate}}</td>
                    </tr>
                    <tr>
                        <td class="app_re_info">{{'stepApp.employee.circularNationalPaperName' | translate}}</td>
                        <td>{{instEmplRecruitInfo.circularNationalPaperName}}</td>
                        <td class="app_re_info">{{'stepApp.employee.circularNationalPubDt' | translate}}</td>
                        <td>{{instEmplRecruitInfo.circularNationalPubDt}}</td>
                    </tr>
                    <tr>
                        <!--<td class="app_re_info">{{'stepApp.employee.recruitExamDate' | translate}}</td>-->
                        <!--<td>{{instEmplRecruitInfo.recruitExamDate}}</td>-->
                        <td class="app_re_info">{{'stepApp.employee.recruitApproveGBResolutionDate' | translate}}</td>
                        <td>{{instEmplRecruitInfo.recruitApproveGBResolutionDate}}</td>
                        <td class="app_re_info">{{'stepApp.employee.recruitPermitAgendaNo' | translate}}</td>
                        <td>{{instEmplRecruitInfo.recruitPermitAgendaNo}}</td>
                    </tr>
                    <tr>
                        <td class="app_re_info">{{'stepApp.employee.recruitmentDate' | translate}}</td>
                        <td>{{instEmplRecruitInfo.recruitmentDate}}</td>
                        <td class="app_re_info">{{'stepApp.employee.presentInstituteJoinDate' | translate}}</td>
                        <td>{{instEmplRecruitInfo.presentInstituteJoinDate}}</td>
                    </tr>

                    <tr>
                        <td class="app_re_info">{{'stepApp.employee.presentPostJoinDate' | translate}}</td>
                        <td>{{instEmplRecruitInfo.presentPostJoinDate}}</td>
                        <td class="app_re_info">{{'stepApp.employee.dgRepresentativeDesignation' | translate}}</td>
                        <td>{{instEmplRecruitInfo.dgRepresentativeDesignation}}</td>
                    </tr>

                    <tr>
                        <td class="app_re_info">{{'stepApp.employee.dgRepresentativeAddress' | translate}}</td>
                        <td>{{instEmplRecruitInfo.dgRepresentativeAddress}}</td>
                        <td><span translate="stepApp.instEmplRecruitInfo.dgRecordno"></span></td>
                        <td><span class="form-control-static">{{instEmplRecruitInfo.dgRecordNo}}</span></td>
                    </tr>
                    <tr>
                        <td><span translate="stepApp.instEmplRecruitInfo.dgRecordDate"></span></td>
                        <td><span class="form-control-static">{{instEmplRecruitInfo.dgRecordDate}}</span></td>
                        <td class="app_re_info">{{'stepApp.employee.dgRepresentativeName' | translate}}</td>
                        <td>{{instEmplRecruitInfo.dgRepresentativeName}}</td>
                    </tr>
                    <tr>
                        <!--  <td class="app_re_info">{{'stepApp.employee.dgRepresentativeType' | translate}}</td>
                          <td>{{instEmplRecruitInfo.dgRepresentativeType}}</td>-->

                        <td class="app_re_info">{{'stepApp.employee.boardRepresentativeName' | translate}}</td>
                        <td>{{instEmplRecruitInfo.boardRepresentativeName}}</td>
                        <td class="app_re_info">{{'stepApp.employee.boardRepresentativeDesignation' | translate}}</td>
                        <td>{{instEmplRecruitInfo.boardRepresentativeDesignation}}</td>
                    </tr>
                    <!--<tr>
                        &lt;!&ndash;<td class="app_re_info">{{'stepApp.employee.representativeType' | translate}}</td>
                        <td>{{instEmplRecruitInfo.representativeType}}</td>&ndash;&gt;
                        <td class="app_re_info">{{'stepApp.employee.boardRepresentativeName' | translate}}</td>
                        <td>{{instEmplRecruitInfo.boardRepresentativeName}}</td>
                    </tr>-->
                    <tr>

                        <td class="app_re_info">{{'stepApp.employee.boardRepresentativeAddress' | translate}}</td>
                        <td>{{instEmplRecruitInfo.boardRepresentativeAddress}}</td>

                    <!--<tr>
                        <td class="app_re_info">{{'stepApp.employee.timeScaleGBResolutionDate' | translate}}</td>
                        <td>{{instEmplRecruitInfo.timeScaleGBResolutionDate}}</td>
                        <td class="app_re_info">{{'stepApp.employee.salaryScale' | translate}}</td>
                        <td>{{instEmplRecruitInfo.salaryScale}}</td>
                    </tr>-->

                        <!--<td class="app_re_info">{{'stepApp.employee.salaryCode' | translate}}</td>
                        <td>{{instEmplRecruitInfo.salaryCode}}</td>-->
                        <td class="app_re_info">{{'stepApp.employee.recruitExamReceiveDate' | translate}}</td>
                        <td>{{instEmplRecruitInfo.recruitExamReceiveDate}}</td>
                    </tr>
                    <tr>
                        <td><span translate="stepApp.instEmplRecruitInfo.committeeForDate"></span></td>
                        <td><span
                            class="form-control-static">{{instEmplRecruitInfo.committeeForDate | date:'mediumDate'}}</span>
                        </td>
                        <td><span translate="stepApp.instEmplRecruitInfo.recommendDateAppl"></span></td>

                        <td><span
                            class="form-control-static">{{instEmplRecruitInfo.recommendDateAppl | date:'mediumDate'}}</span>
                        </td>
                    </tr>

                    <tr>
                        <td><span translate="stepApp.instEmplRecruitInfo.approvalDateAppointment"></span></td>
                        <td><span
                            class="form-control-static">{{instEmplRecruitInfo.approvalDateAppointment | date:'mediumDate'}}</span>
                        </td>
                        <td><span translate="stepApp.instEmplRecruitInfo.mcDuration"></span></td>
                        <td><span
                            class="form-control-static">{{instEmplRecruitInfo.mcDuration}}</span>
                        </td>
                    </tr>

                    <tr>
                        <td><span translate="stepApp.instEmplRecruitInfo.mcMemoNo"></span></td>
                        <td><span
                            class="form-control-static">{{instEmplRecruitInfo.mcMemoNo}}</span>
                        </td>
                        <td><span translate="stepApp.instEmplRecruitInfo.mcMemoDate"></span></td>
                        <td><span
                            class="form-control-static">{{instEmplRecruitInfo.mcMemoDate}}</span>
                        </td>
                    </tr>
                    <!--<tr>
                        <td class="app_re_info">{{'stepApp.employee.totalJobDuration' | translate}}</td>
                        <td>{{instEmplRecruitInfo.totalJobDuration}}</td>
                        <td class="app_re_info">{{'stepApp.employee.currentPositionJobDuration' | translate}}</td>
                        <td>{{instEmplRecruitInfo.currentPositionJobDuration}}</td>
                    </tr>-->
                    <tr has-authority="ROLE_ADMIN">
                        <td>{{'stepApp.employee.manager' | translate}}</td>
                        <td>{{instEmplRecruitInfo.manager}}</td>
                        <td>{{'stepApp.employee.institute' | translate}}</td>
                        <td>{{instEmplRecruitInfo.institute}}</td>
                    </tr>
                    <tr has-authority="ROLE_ADMIN">
                        <td colspan="2">{{'stepApp.employee.user ' | translate}}</td>
                        <td colspan="2">{{instEmplRecruitInfo.user}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="applicant-infos" class="col-lg-12 common-table padding0">
                <h2 translate="stepApp.employee.enrollmentAttachments">Enrollment Attachments</h2>
                <table class="table">
                    <thead>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span translate="stepApp.instEmplRecruitInfo.appoinmentLtr">appoinmentLtr</span>
                        </td>
                        <td>
                            <a ng-if="instEmplRecruitInfo.appoinmentLtr != null" href="javascript:void(0)"
                               ng-click="previewImage(instEmplRecruitInfo.appoinmentLtr, instEmplRecruitInfo.appoinmentLtrCntType,('stepApp.instEmplRecruitInfo.appoinmentLtr' | translate)+' Image')">
                            <span class="btn btn-default">
                                <button class="btn btn-sm btn-primary">
                                    View Attachment
                                </button>
                            </span>
                            </a>
                            <span ng-if="instEmplRecruitInfo.appoinmentLtr == null">
                                No Attachment
                            </span>

                        </td>
                        <td>
                            <span translate="stepApp.instEmplRecruitInfo.joiningLetter">joiningLetter</span>
                        </td>
                        <td>
                            <a ng-if="instEmplRecruitInfo.joiningLetter != null" href="javascript:void(0)"
                               ng-click="previewImage(instEmplRecruitInfo.joiningLetter, instEmplRecruitInfo.joiningLetterContentType,('stepApp.instEmplRecruitInfo.joiningLetter' | translate)+' Image')">
                                <span class="btn btn-default">
                                    <button class="btn btn-sm btn-primary">
                                            View Attachment
                                    </button>
                                </span>
                            </a>
                            <span ng-if="instEmplRecruitInfo.joiningLetter == null">
                                No Attachment
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.instEmplRecruitInfo.recruitResult">recruitResult</span>
                        </td>
                        <td>
                            <a ng-if="instEmplRecruitInfo.recruitResult != null" href="javascript:void(0)"
                               ng-click="previewImage(instEmplRecruitInfo.recruitResult, instEmplRecruitInfo.recruitResultCntType,('stepApp.instEmplRecruitInfo.recruitResult' | translate)+' Image')">
                                <span class="btn btn-default">
                                    <button class="btn btn-sm btn-primary">
                                            View Attachment
                                    </button>
                                </span>
                            </a>
                            <span ng-if="instEmplRecruitInfo.recruitResult == null">
                                No Attachment
                            </span>
                        </td>
                        <td>
                            <span translate="stepApp.instEmplRecruitInfo.recruitNewsLocal">recruitNewsLocal</span>
                        </td>
                        <td>
                            <a ng-if="instEmplRecruitInfo.recruitNewsLocal != null" href="javascript:void(0)"
                               ng-click="previewImage(instEmplRecruitInfo.recruitNewsLocal, instEmplRecruitInfo.recruitNewsLocalContentType,('stepApp.instEmplRecruitInfo.recruitNewsLocal' | translate)+' Image')">
                                <span class="btn btn-default">
                                    <button class="btn btn-sm btn-primary">
                                            View Attachment
                                    </button>
                                </span>
                            </a>
                            <span ng-if="instEmplRecruitInfo.recruitNewsLocal == null">
                                No Attachment
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span translate="stepApp.instEmplRecruitInfo.recruitNewsDaily">recruitNewsDaily</span>
                        </td>
                        <td>
                            <a ng-if="instEmplRecruitInfo.recruitNewsDaily != null" href="javascript:void(0)"
                               ng-click="previewImage(instEmplRecruitInfo.recruitNewsDaily, instEmplRecruitInfo.recruitNewsDailyContentType,('stepApp.instEmplRecruitInfo.recruitNewsDaily' | translate)+' Image')">
                                <span class="btn btn-default">
                                    <button class="btn btn-sm btn-primary">
                                    View Attachment
                                </button>
                                </span>
                            </a>
                            <span ng-if="instEmplRecruitInfo.recruitNewsDaily == null">
                                No Attachment
                            </span>
                        </td>
                        <td>
                            <span translate="stepApp.instEmplRecruitInfo.goResulaton">goResulaton</span>
                        </td>
                        <td>
                            <a ng-if="instEmplRecruitInfo.goResulaton != null" href="javascript:void(0)"
                               ng-click="previewImage(instEmplRecruitInfo.goResulaton, instEmplRecruitInfo.goResulatonContentType,('stepApp.instEmplRecruitInfo.goResulaton' | translate)+' Image')">
                                <span class="btn btn-default">
                                    <button class="btn btn-sm btn-primary">
                                    View Attachment
                                </button>
                                </span>
                            </a>
                            <span ng-if="instEmplRecruitInfo.goResulaton == null">
                                No Attachment
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span translate="stepApp.instEmplRecruitInfo.committee">committee</span>
                        </td>
                        <td>
                            <a ng-if="instEmplRecruitInfo.committee != null" href="javascript:void(0)"
                               ng-click="previewImage(instEmplRecruitInfo.committee, instEmplRecruitInfo.committeeContentType,('stepApp.instEmplRecruitInfo.committee' | translate)+' Image')">
                                <span class="btn btn-default">
                                    <button class="btn btn-sm btn-primary">
                                    View Attachment
                                </button>
                                </span>
                            </a>
                            <span ng-if="instEmplRecruitInfo.committee == null">
                                No Attachment
                            </span>
                        </td>
                        <td>
                            <span translate="stepApp.instEmplRecruitInfo.recommendation">recommendation</span>
                        </td>
                        <td>
                            <a ng-if="instEmplRecruitInfo.recommendation != null" href="javascript:void(0)"
                               ng-click="previewImage(instEmplRecruitInfo.recommendation, instEmplRecruitInfo.recommendationContentType,('stepApp.instEmplRecruitInfo.recommendation' | translate)+' Image')">
                                <span class="btn btn-default">
                                    <button class="btn btn-sm btn-primary">
                                    View Attachment
                                </button>
                                </span>
                            </a>
                            <span ng-if="instEmplRecruitInfo.recommendation == null">
                                No Attachment
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span translate="stepApp.instEmplRecruitInfo.sanction">sanction</span>
                        </td>
                        <td>
                            <a ng-if="instEmplRecruitInfo.sanction != null" href="javascript:void(0)"
                               ng-click="previewImage(instEmplRecruitInfo.sanction, instEmplRecruitInfo.sanctionContentType,('stepApp.instEmplRecruitInfo.sanction' | translate)+' Image' )">
                                <span class="btn btn-default">
                                    <button class="btn btn-sm btn-primary">
                                    View Attachment
                                </button>
                                </span>
                            </a>
                            <span ng-if="instEmplRecruitInfo.sanction == null">
                                No Attachment
                            </span>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!--new added-->
                    <tr>
                        <td><span translate="stepApp.instEmplRecruitInfo.appointAprvAtch"></span></td>
                        <td>
                            <a ng-if="instEmplRecruitInfo.appointAprvAtch != null" href="javascript:void(0)"
                               ng-click="previewImage(instEmplRecruitInfo.appointAprvAtch, instEmplRecruitInfo.appointAprvAtchCntType,('stepApp.instEmplRecruitInfo.appointAprvAtch' | translate)+' Image')">
                                <span class="btn btn-default">
                                    <button class="btn btn-sm btn-primary">
                                            View Attachment
                                        </button>
                                </span>
                            </a>
                            <span ng-if="instEmplRecruitInfo.appointAprvAtch == null">
                                No Attachment
                            </span>
                        </td>

                        <td><span translate="stepApp.instEmplRecruitInfo.ntrcaCert"></span></td>
                        <td>
                            <a ng-if="instEmplRecruitInfo.ntrcaCert != null" href="javascript:void(0)"
                               ng-click="previewImage(instEmplRecruitInfo.ntrcaCert, instEmplRecruitInfo.ntrcaCertCntType,('stepApp.instEmplRecruitInfo.ntrcaCert' | translate)+' Image')">
                                <span class="btn btn-default">
                                    <button class="btn btn-sm btn-primary">
                                    View Attachment
                                </button>
                                </span>
                            </a>
                            <span ng-if="instEmplRecruitInfo.ntrcaCert == null">
                                No Attachment
                            </span>
                        </td>

                    </tr>

                    <tr>
                        <td><span translate="stepApp.instEmplRecruitInfo.pblcCircularName"></span></td>
                        <td>
                            <a ng-if="instEmplRecruitInfo.pblcCircular != null" href="javascript:void(0)"
                               ng-click="previewImage(instEmplRecruitInfo.pblcCircular, instEmplRecruitInfo.pblcCircularCntType,('stepApp.instEmplRecruitInfo.pblcCircularName' | translate)+' Image')">
                                <span class="btn btn-default">
                                    <button class="btn btn-sm btn-primary">
                                    View Attachment
                                </button>
                                </span>
                            </a>
                            <span ng-if="instEmplRecruitInfo.pblcCircular == null">
                                No Attachment
                            </span>
                        </td>

                        <td><span translate="stepApp.instEmplRecruitInfo.requiLetter"></span></td>
                        <td>
                            <a ng-if="instEmplRecruitInfo.requiLetter != null" href="javascript:void(0)"
                               ng-click="previewImage(instEmplRecruitInfo.requiLetter, instEmplRecruitInfo.requiLetterCntType,('stepApp.instEmplRecruitInfo.requiLetterName' | translate)+' Image')">
                                <span class="btn btn-default">
                                    <button class="btn btn-sm btn-primary">
                                    View Attachment
                                </button>
                                </span>
                            </a>
                            <span ng-if="instEmplRecruitInfo.requiLetter == null">
                                No Attachment
                            </span>
                        </td>

                    </tr>
                    <tr>
                        <td><span translate="stepApp.instEmplRecruitInfo.confirmLetter"></span></td>
                        <td>
                            <a ng-if="instEmplRecruitInfo.confirmLetter != null" href="javascript:void(0)"
                               ng-click="previewImage(instEmplRecruitInfo.confirmLetter, instEmplRecruitInfo.confirmLetterCntType,('stepApp.instEmplRecruitInfo.confirmLetter' | translate)+' Image')">
                                <span class="btn btn-default">
                                    <button class="btn btn-sm btn-primary">
                                    View Attachment
                                </button>
                                </span>
                            </a>
                            <span ng-if="instEmplRecruitInfo.confirmLetter == null">
                                No Attachment
                            </span>
                        </td>
                        <td><span translate="stepApp.instEmplRecruitInfo.selectionCopy"></span></td>
                        <td>
                            <a ng-if="instEmplRecruitInfo.selectionCopy != null" href="javascript:void(0)"
                               ng-click="previewImage(instEmplRecruitInfo.selectionCopy, instEmplRecruitInfo.selectionCopyCntType,('stepApp.instEmplRecruitInfo.selectionCopy' | translate)+' Image')">
                                <span class="btn btn-default">
                                    <button class="btn btn-sm btn-primary">
                                    View Attachment
                                </button>
                                </span>
                            </a>
                            <span ng-if="instEmplRecruitInfo.selectionCopy == null">
                                No Attachment
                            </span>
                        </td>
                    </tr>


                    <tr>
                        <td><span translate="stepApp.instEmplRecruitInfo.dgApproveFileName"></span></td>
                        <td>
                            <a ng-if="instEmplRecruitInfo.dgApproveFile != null" href="javascript:void(0)"
                               ng-click="previewImage(instEmplRecruitInfo.dgApproveFile, instEmplRecruitInfo.dgApproveFileContentType,('stepApp.instEmplRecruitInfo.dgApproveFileName' | translate)+' Image' )">
                                <span class="btn btn-default">
                                    <button class="btn btn-sm btn-primary">
                                    View Attachment
                                </button>
                                </span>
                            </a>
                            <span ng-if="instEmplRecruitInfo.dgApproveFile == null">
                                No Attachment
                            </span>
                        </td>
                        <td><span translate="stepApp.instEmplRecruitInfo.mcMemoAttach">mcMemoAttach</span></td>
                        <td>
                            <a ng-if="instEmplRecruitInfo.mcMemoAttach != null" href="javascript:void(0)"
                               ng-click="previewImage(instEmplRecruitInfo.mcMemoAttach, instEmplRecruitInfo.mcMemoAttachCntType,('stepApp.instEmplRecruitInfo.mcMemoAttach' | translate)+' Image' )">
                                <button class="btn btn-sm btn-primary">
                                    View Attachment
                                </button>
                            </a>
                            <span ng-if="instEmplRecruitInfo.mcMemoAttach == null">
                                No Attachment
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <!--=========================================================================================-->
            <div class="form-group">
                <div class="col-sm-12 pull-right text-right prev-next no-print">
                <span class="btn btn-primary pull-left text-left"
                      ng-click="mpoPrev('education', 'personal')"
                      translate="{{'stepApp.employee.Previous'}}">Previous</span>
                    <span class="btn btn-primary" ng-click="mpoNext('education','attachment')"
                          translate="{{'stepApp.employee.Next'}}">Next</span>
                </div>
            </div>
        </div>
        <div ng-class="currentSection=='attachment' ? 'show' : 'hide'" class="attachment_infoa">
            <form name="editForm" class="" role="form" novalidate
                  ng-submit="save()" show-validation>

                <h2 translate="{{'stepApp.employee.AttachmentInformation'}}">Attachment Information</h2>

                <div class="attachmentDivs row" ng-repeat="attachmentCount in applicantAttachmentCount track by $index">
                    <!-- {{applicantAttachment[attachmentCount].attachment}}-->
                    <div class="col-md-12 padding0">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="" translate="{{'stepApp.employee.AttachmentName'}}"></label>
                                <select class="form-control" id="field_attachment" name="attachment"
                                        ng-model="applicantAttachment[attachmentCount].attachment"
                                        ng-change="setAttachment($index, applicantAttachment[attachmentCount],applicantAttachment[attachmentCount].noAttachment)">
                                    <option value="" ng-disabled="true"
                                            translate="{{'stepApp.employee.AttachmentName'}}">Attachment Name
                                    </option>
                                    <option
                                        ng-repeat="mpoAttachment in attachmentCategoryList | filter:{applicationName: 'MPO-Enlisting'}:false track by mpoAttachment.id"
                                        value="{{mpoAttachment}}">
                                        {{mpoAttachment.attachmentName}}
                                    </option>
                                </select>

                            </div>
                        </div>
                        <div class="col-sm-6" ng-hide="applicantAttachment[attachmentCount].noAttachment">
                            <div class="form-group" ngf-drop ngf-change="setFile($file, attachment)">
                                <div class="col-md-10">
                                    <label for="" translate="entity.action.addblob"></label>

                                    <input type="file" ngf-select class=" form-control"
                                           ngf-change="setFile($file, applicantAttachment[attachmentCount])"
                                           translate="entity.action.addblob">
                                    </input>
                                </div>
                                <div class="help-block clearfix">
                                    <span class="pull-left">{{applicantAttachment[attachmentCount].fileContentType}} {{byteSize(applicantAttachment[attachmentCount].file)}}</span>
                                    <button
                                        ng-click="applicantAttachment[attachmentCount].file=null;applicantAttachment[attachmentCount].fileContentType=null;"
                                        ng-if="applicantAttachment[attachmentCount].file"
                                        class="btn btn-default btn-xs pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                                <div class="col-md-1" ng-hide="attachmentCount=='0'">
                                    <label for=""> &nbsp;</label>
                                    <span class="btn btn-danger"
                                          ng-click="removeAttachment(attachmentCount)"><span
                                        class="glyphicon glyphicon-minus"></span></span>
                                </div>

                                <input type="hidden" class="form-control" name="file" id="field_file"
                                       ng-model="applicantAttachment[attachmentCount].file"
                                />
                                <input type="hidden" class="form-control" name="fileContentType"
                                       id="field_fileContentType"
                                       ng-model="applicantAttachment[attachmentCount].fileContentType"/>
                            </div>
                        </div>
                        <div class="col-sm-6" ng-show="applicantAttachment[attachmentCount].noAttachment">
                            <!--<input class="form-control" type="text" required ng-blur="remarksChange()"-->
                            <label for="">Remarks</label>
                            <input class="form-control" type="text" required ng-change="remarksChange()"
                                   ng-model="applicantAttachment[attachmentCount].remarks"
                                   placeholder="Remarks"/>
                            <div class="col-sm-6" ng-hide="attachmentCount=='0'">
                                <span class="btn btn-danger" ng-click="removeAttachment(attachmentCount)"><span
                                    class="glyphicon glyphicon-minus"></span></span>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 attachment_file">
                        <div class="control-lebel">
                            <div class="col-sm-12">
                                <input
                                    ng-click='selectNoAttachment(applicantAttachment[attachmentCount].noAttachment,applicantAttachment[attachmentCount].attachment,applicantAttachment[attachmentCount].file)'
                                    type="checkbox" id="noAttachment"
                                    ng-model="applicantAttachment[attachmentCount].noAttachment">
                                <label class="control-label my_control_lebel"
                                       for="field_noAttachment" translate="{{'stepApp.employee.dontHave'}}">I don't have
                                    this attachment</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                <span ng-show="showAddMoreButton" class="btn btn-sm btn-primary pull-right"
                      ng-click="addMoreAttachment()"><span
                    class="glyphicon glyphicon-plus"></span>Add More Attachment</span>
                </div>
                <div class="col-sm-12" ng-show="duplicateError">
                    <span style="color:red;margin-top:30px;font-size:14px;">You have selected duplicate attachment, please check the selection.</span>
                </div>
                <div class="col-sm-12">
                    <div class="form-group my_form_group">
                        <br/>

                        <div class="col-lg-12 pull-right text-right">
                            <span class="btn btn-primary pull-left text-left"
                                  ng-click="mpoPrev('attachment', 'education')"
                                  translate="{{'stepApp.employee.Previous'}}">Previous</span>


                            <button ng-disabled="mpoFormHasError || mpoForm.$error.required || isSaving" type="submit"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-ok-sign"></span>&nbsp;<span
                                translate="global.menu.apply">Apply</span>
                            </button>
                            &nbsp;<span class="btn btn-danger pull-right text-left glyphicon glyphicon-remo"
                                        ng-click="cancel()" translate="{{'entity.action.cancel'}}">Previous</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
