<ul class="nav no-print nav-list bs-docs-sidenav su_active_ul" id="left-menu">
    <li class="panel su_active_li">
        <a class="su_active_a" data-toggle="collapse" data-parent="#left-menu" data-target="#firstLink">
            <span translate="global.menu.account.common"></span></a>
        <ul id="firstLink" class="collapse search-accordion">
            <li>
                <a ui-sref="mpo.dashboard" ui-sref-active="active" class="button4"
                   has-any-authority="ROLE_MPOADMIN,ROLE_INSTITUTE,  ROLE_FRONTDESK, ROLE_DEO, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG,ROLE_MPOCOMMITTEE">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.account.dashboard">Dashboard</span>

                </a>
            </li>

            <li>
                <a ui-sref="mpo.application" ui-sref-active="active" class="button4"
                   has-any-authority="ROLE_INSTEMP">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.teacherdashboard">teacherdashboard</span>
                </a>
            </li>
            <!--<li>
                <a ui-sref="mpo.application" ui-sref-active="active" class="button4"
                   has-any-authority="ROLE_MPOADMIN,ROLE_INSTITUTE, ROLE_INSTEMP, ROLE_FRONTDESK, ROLE_DEO, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG,ROLE_MPOCOMMITTEE">
                <i class="fa fa-pencil-square-o"></i>
                <span translate="global.menu.account.dashboard">Dashboard</span>

            </a>
            </li>-->
            <li><a class="button4" ui-sref="mpoPendingList" ui-sref-active="active" has-any-authority="ROLE_INSTITUTE,
                    ROLE_DEO, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG,ROLE_MPOCOMMITTEE,ROLE_MANEGINGCOMMITTEE">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.MPOPendingList">MPO Pending List</span>

            </a>
            </li>
            <li><a class="button4" ui-sref="mpoPendingList" ui-sref-active="active"
                   has-any-authority="ROLE_DTE_EMPLOYEE,ROLE_HRM_USER" ng-if="userDesignation == 'Attached Officer'">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.MPOPendingList">MPO Pending List</span>
            </a>
            </li>
            <!-- <li><a class="button4" ui-sref="mpoPendingListCommittee"  ui-sref-active="active" has-any-authority="ROLE_MPOCOMMITTEE">
                 <i class="fa fa-pencil-square-o"></i>
                 <span translate="global.menu.account.MPOPendingList">MPO Pending List</span>

             </a>
             </li>-->

            <li><a class="button4" ui-sref="mpoApprovedList" ui-sref-active="active" has-any-authority="ROLE_INSTITUTE,
                                                ROLE_FRONTDESK, ROLE_DEO, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.MPOApprovedList">MPO Approved Lists</span>
            </a>
            </li>

            <li><a class="button4" ui-sref="mpoApprovedList" ui-sref-active="active"
                   has-any-authority="ROLE_DTE_EMPLOYEE,ROLE_HRM_USER" ng-if="userDesignation == 'Attached Officer'">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.MPOApprovedList">MPO Approved Lists</span>
            </a>
            </li>

            <!-- <li><a class="button4" ui-sref="mpoPendingApprovedList" ui-sref-active="active" has-any-authority="ROLE_DG">
                     <i class="fa fa-pencil-square-o"></i>
                     <span translate="global.menu.account.MPOPendingApprovedList">MPO Approved Lists</span>
                 </a>
                 </li>
         -->
            <li><a class="button4" ui-sref="timescalePendingList" ui-sref-active="active"
                   has-any-authority="ROLE_INSTITUTE, ROLE_FRONTDESK, ROLE_DEO, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG,ROLE_MANEGINGCOMMITTEE">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.TimeScalePendingList">TimeScale Pending Lists</span>
            </a>
            </li>

            <li><a class="button4" ui-sref="timescalePendingList" ui-sref-active="active"
                   has-any-authority="ROLE_DTE_EMPLOYEE,ROLE_HRM_USER" ng-if="userDesignation == 'Attached Officer'">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.TimeScalePendingList">TimeScale Pending Lists</span>
            </a>
            </li>

            <!--<li><a class="button4" ui-sref="timescalePendingApList" ui-sref-active="active"
                   has-any-authority="ROLE_FRONTDESK, ROLE_AD,ROLE_DIRECTOR,ROLE_DG">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.TimeScalePendingApList">TimeScale Conditional Pending Lists</span>

            </a>
            </li>-->
            <li><a class="button4" ui-sref="timescaleApprovedList" ui-sref-active="active" has-any-authority="ROLE_INSTITUTE,
                     ROLE_FRONTDESK, ROLE_DEO, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.TimeScaleApprovedList">TimeScale Approved Lists</span>
            </a>
            </li>

            <li>
                <a class="button4" ui-sref="timescaleApprovedList" ui-sref-active="active"
                   has-any-authority="ROLE_DTE_EMPLOYEE,ROLE_HRM_USER" ng-if="userDesignation == 'Attached Officer'">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.account.TimeScaleApprovedList">TimeScale Approved Lists</span>
                </a>
            </li>

            <li><a class="button4" ui-sref="bEdPendingList" ui-sref-active="active" has-any-authority="ROLE_INSTITUTE, ROLE_FRONTDESK,
                    ROLE_DEO, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG,ROLE_MANEGINGCOMMITTEE">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.bedPendingList">B.Ed Pending Lists</span>
            </a>
            </li>

            <li><a class="button4" ui-sref="bEdPendingList" ui-sref-active="active"
                   has-any-authority="ROLE_DTE_EMPLOYEE,ROLE_HRM_USER" ng-if="userDesignation == 'Attached Officer'">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.bedPendingList">B.Ed Pending Lists</span>
            </a>
            </li>

            <li><a class="button4" ui-sref="bEdApprovedList" ui-sref-active="active"
                   has-any-authority="ROLE_INSTITUTE,ROLE_FRONTDESK, ROLE_DEO, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.bedApprovedList">B.Ed Approved Lists</span>
            </a>
            </li>

            <li><a class="button4" ui-sref="bEdApprovedList" ui-sref-active="active"
                   has-any-authority="ROLE_DTE_EMPLOYEE,ROLE_HRM_USER" ng-if="userDesignation == 'Attached Officer'">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.bedApprovedList">B.Ed Approved Lists</span>
            </a>
            </li>
            <li><a class="button4" ui-sref="mpo.lecturerSeniority" ui-sref-active="active" has-any-authority="ROLE_AD">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.senioritySelection">Seniority Selection</span>
            </a>
            </li>
            <li ng-if="showBmMenu"><a class="button4" ui-sref="apPendingList" ui-sref-active="active"
                                      has-any-authority="ROLE_INSTITUTE, ROLE_FRONTDESK,ROLE_DEO, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG,ROLE_MANEGINGCOMMITTEE">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.apPendingList">AP Pending Lists</span>
            </a>
            </li>
            <li ng-if="showBmMenu"><a class="button4" ui-sref="apPendingList" ui-sref-active="active"
                                      has-any-authority="ROLE_DTE_EMPLOYEE,ROLE_HRM_USER"
                                      ng-if="userDesignation == 'Attached Officer'">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.apPendingList">AP Pending Lists</span>
            </a>
            </li>
            <li ng-if="showBmMenu"><a class="button4" ui-sref="apApprovedList" ui-sref-active="active"
                                      has-any-authority="ROLE_INSTITUTE,ROLE_MANEGINGCOMMITTEE,ROLE_DEO, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.apApprovedList">Ap Approved Lists</span>

            </a>
            </li>

            <li ng-if="showBmMenu"><a class="button4" ui-sref="apApprovedList" ui-sref-active="active"
                                      has-any-authority="ROLE_DTE_EMPLOYEE,ROLE_HRM_USER"
                                      ng-if="userDesignation == 'Attached Officer'">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.apApprovedList">Ap Approved Lists</span>
            </a>
            </li>

            <li ng-if="showBmMenu"><a class="button4" ui-sref="principalPendingList" ui-sref-active="active"
                                      has-any-authority="ROLE_INSTITUTE, ROLE_FRONTDESK,
                            ROLE_DEO, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG,ROLE_MANEGINGCOMMITTEE">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.principalPendingList">Principle Pending Lists</span>
            </a>
            </li>

            <li ng-if="showBmMenu">
                <a class="button4" ui-sref="principalPendingList" ui-sref-active="active"
                   has-any-authority="ROLE_DTE_EMPLOYEE,ROLE_HRM_USER" ng-if="userDesignation == 'Attached Officer'">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.account.principalPendingList">Principle Pending Lists</span>
                </a>
            </li>

            <li ng-if="showBmMenu"><a class="button4" ui-sref="principalApprovedList" ui-sref-active="active"
                                      has-any-authority="ROLE_INSTITUTE,
                            ROLE_FRONTDESK, ROLE_DEO, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.principalApprovedList">principle Approved Lists</span>

            </a>
            </li>

            <li ng-if="showBmMenu"><a class="button4" ui-sref="principalApprovedList" ui-sref-active="active"
                                      has-any-authority="ROLE_DTE_EMPLOYEE,ROLE_HRM_USER"
                                      ng-if="userDesignation == 'Attached Officer'">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.principalApprovedList">principle Approved Lists</span>

            </a>
            </li>

            <li>
                <a class="button4" ui-sref="nameCancelPendingList" ui-sref-active="active"
                   has-any-authority="ROLE_FRONTDESK, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.account.nameCnclPendingList">name cancel Pending Lists</span>
                </a>
            </li>

            <li><a class="button4" ui-sref="nameCancelPendingList" ui-sref-active="active"
                   has-any-authority="ROLE_DTE_EMPLOYEE,ROLE_HRM_USER" ng-if="userDesignation == 'Attached Officer'">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.nameCnclPendingList">name cancel Pending Lists</span>
            </a>
            </li>
            <li>
                <a class="button4" ui-sref="infoCorrectPendingList" ui-sref-active="active"
                   has-any-authority="ROLE_FRONTDESK, ROLE_INSTITUTE, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG">
                    <i class="fa fa-angle-double-right"></i>
                    <span
                        translate="global.menu.account.infoCorrectPendingList">Information Correction Pending Lists</span>
                </a>
                <a class="button4" ui-sref="infoCorrectPendingList" ui-sref-active="active"
                   has-any-authority="ROLE_DTE_EMPLOYEE,ROLE_HRM_USER" ng-if="userDesignation == 'Attached Officer'">
                    <i class="fa fa-angle-double-right"></i>
                    <span
                        translate="global.menu.account.infoCorrectPendingList">Information Correction Pending Lists</span>
                </a>
            </li>
            <li>
                <a class="button4" ui-sref="infoCorrectApprovedList" ui-sref-active="active"
                   has-any-authority="ROLE_FRONTDESK, ROLE_INSTITUTE, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG,ROLE_DTE_EMPLOYEE">
                    <i class="fa fa-angle-double-right"></i>
                    <span
                        translate="global.menu.account.infoCorrectApprovedList">Information Correction Approved Lists</span>
                </a>
            </li>



            <li><a class="button4" ui-sref="nameCancelApprovedList" ui-sref-active="active" has-any-authority="
                     ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.nameCnclApprovedList">Name cancellation Approved Lists</span>

            </a>
            </li>
            <li><a class="button4" ui-sref="nameCancelApprovedList" ui-sref-active="active"
                   has-any-authority="ROLE_DTE_EMPLOYEE,ROLE_HRM_USER" ng-if="userDesignation == 'Attached Officer'">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.nameCnclApprovedList">Name cancellation Approved Lists</span>
            </a>
            </li>

            <li>
                <a class="button4" ui-sref="mpo.employeeTrack" ui-sref-active="active"
                   has-any-authority="ROLE_INSTITUTE, ROLE_ADMIN, ROLE_FRONTDESK, ROLE_DEO, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.account.mpoTrack">Application Status By TrackId</span>

                </a>
            </li>

            <li has-any-authority="ROLE_ADMIN" ui-sref-active="active"><a ui-sref="mpoTrade" data-toggle="collapse"
                                                                          data-target=".navbar-collapse.in"><i
                class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.mpoTrade">mpoTrade</span></a></li>

            <li has-any-authority="ROLE_ADMIN" ui-sref-active="active"><a ui-sref="mpoVacancyRole"
                                                                          data-toggle="collapse"
                                                                          data-target=".navbar-collapse.in"><i
                class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.mpoVacancyRole">mpoVacancyRole</span></a></li>

            <li has-any-authority="ROLE_ADMIN" ui-sref-active="active"><a ui-sref="mpoAOMapping" data-toggle="collapse"
                                                                          data-target=".navbar-collapse.in"><i
                class="fa fa-angle-double-right"></i>
                &#xA0;<span translate="global.menu.entities.mpoAOMapping">MPO AO Mapping</span></a></li>

            <!--<li has-any-authority="ROLE_ADMIN" ui-sref-active="active" ><a ui-sref="mpoVacancyRoleDesgnations" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                &#xA0;<span translate="global.menu.entities.mpoVacancyRoleDesgnations">mpoVacancyRoleDesgnations</span></a></li>

            <li has-any-authority="ROLE_ADMIN" ui-sref-active="active" ><a ui-sref="mpoVacancyRoleTrade" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                &#xA0;<span translate="global.menu.entities.mpoVacancyRoleTrade">mpoVacancyRoleTrade</span></a></li>
        -->
            <li><a class="button4" ui-sref="mpo.employeeTrack" ui-sref-active="active" has-any-authority="ROLE_INSTEMP">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.mpoApplicationStatus">Application Status </span>

            </a>
            </li>

            <li><a class="button4" ui-sref="mpo.details" ui-sref-active="active" has-any-authority="ROLE_INSTEMP">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.mpoApplicationDetails">Profile </span>

            </a>
            </li>
            <li><a class="button4" ui-sref="mpo.bedApplicationStatus" ui-sref-active="active"
                   has-any-authority="ROLE_INSTEMP"
                   ng-if="CurrentInstEmployee != null && (CurrentInstEmployee.level === 'SSC_VOC' || CurrentInstEmployee.level === 'SSC (VOC)' || CurrentInstEmployee.level === 'MADRASA_VOC' || CurrentInstEmployee.level == 'Madrasha (VOC)' || CurrentInstEmployee.level === 'MADRASHA (VOCATIONAL)'|| CurrentInstEmployee.level === 'SSC (VOCATIONAL)')">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.bedApplicationStatus">B.Ed.Application Status </span>
            </a>
            </li>

            <li><a class="button4" ui-sref="bedDetails" ui-sref-active="active" has-any-authority="ROLE_INSTEMP"
                   ng-if="CurrentInstEmployee != null && (CurrentInstEmployee.level === 'SSC_VOC' || CurrentInstEmployee.level === 'SSC (VOC)' || CurrentInstEmployee.level === 'MADRASA_VOC' || CurrentInstEmployee.level == 'Madrasha (VOC)' || CurrentInstEmployee.level === 'MADRASHA (VOCATIONAL)'|| CurrentInstEmployee.level === 'SSC (VOCATIONAL)')">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.bedApplicationDetails">Bed Application Details</span>
            </a>
            </li>
            <li><a class="button4" ui-sref="mpo.timescaleApplicationStatus" ui-sref-active="active"
                   has-any-authority="ROLE_INSTEMP">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.timescaleApplicationStatus">Application Status </span>

            </a>
            </li>

            <li><a class="button4" ui-sref="timescaleDetails" ui-sref-active="active" has-any-authority="ROLE_INSTEMP">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.timescaleApplicationDetails">Profile </span>

            </a>
            </li>
            <li><a class="button4" ui-sref="mpo.apScaleApplicationStatus" ui-sref-active="active" has-any-authority="ROLE_INSTEMP"
                   ng-if="CurrentInstEmployee != null && (CurrentInstEmployee.level === 'MADRASA_BM' || CurrentInstEmployee.level === 'Madrasha (BM)' || CurrentInstEmployee.level === 'HSC (BM)' || CurrentInstEmployee.level === 'HSC_BM' || CurrentInstEmployee.level === 'B.MANAGEMENT' || CurrentInstEmployee.level === 'MADRASHA (B.MANAGEMENT)')">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.apApplicationStatus">Application Status </span>

            </a>
            </li>

            <li><a class="button4" ui-sref="apscaleDetails" ui-sref-active="active" has-any-authority="ROLE_INSTEMP"
                   ng-if="CurrentInstEmployee != null && (CurrentInstEmployee.level === 'MADRASA_BM' || CurrentInstEmployee.level === 'Madrasha (BM)' || CurrentInstEmployee.level === 'HSC (BM)' || CurrentInstEmployee.level === 'HSC_BM' || CurrentInstEmployee.level === 'B.MANAGEMENT' || CurrentInstEmployee.level === 'MADRASHA (B.MANAGEMENT)')">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.apApplicationDetails">Profile </span>
            </a>
            </li>
            <li><a class="button4" ui-sref="PrincipalApplicationStatus" ui-sref-active="active" has-any-authority="ROLE_INSTEMP"
                   ng-if="CurrentInstEmployee != null && (CurrentInstEmployee.level === 'MADRASA_BM' || CurrentInstEmployee.level === 'Madrasha (BM)' || CurrentInstEmployee.level === 'HSC (BM)' || CurrentInstEmployee.level === 'HSC_BM' || CurrentInstEmployee.level === 'B.MANAGEMENT' || CurrentInstEmployee.level === 'MADRASHA (B.MANAGEMENT)')"
                   >
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.principleApplicationStatus">Application Status </span>

            </a>
            </li>

            <li><a class="button4" ui-sref="professorApplicationDetails" ui-sref-active="active" has-any-authority="ROLE_INSTEMP"
                   ng-if="CurrentInstEmployee != null && (CurrentInstEmployee.level === 'MADRASA_BM' || CurrentInstEmployee.level === 'Madrasha (BM)' || CurrentInstEmployee.level === 'HSC (BM)' || CurrentInstEmployee.level === 'HSC_BM' || CurrentInstEmployee.level === 'B.MANAGEMENT' || CurrentInstEmployee.level === 'MADRASHA (B.MANAGEMENT)')">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.principleApplicationDetails">Profile </span>

            </a>
            </li>



            <li><a class="button4" ui-sref="informationCorrection.detail" ui-sref-active="active"
                   has-any-authority="ROLE_INSTEMP">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.infoCorrectionDetails">Info correction Details </span>

            </a>
            </li>
            <li><a class="button4" ui-sref="infoCorrectAppStatus" ui-sref-active="active"
                   has-any-authority="ROLE_INSTEMP">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.infoCorrectionStatus">info correction status</span>

            </a>
            </li>


            <li>
                <a class="button4" ui-sref="mpo.name-cancel-application" ui-sref-active="active"
                   has-any-authority="ROLE_INSTITUTE">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.account.nameCancellation">Name Cancellation Application</span>
                </a>
            </li>

            <li>
                <a class="button4" ui-sref="instituteNameCancelList" ui-sref-active="active"
                   has-any-authority="ROLE_INSTITUTE">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.account.nameCancellationList">Name Cancellation List</span>
                </a>
            </li>


            <li><a class="button4" ui-sref="mpo.payScalePendingList" ui-sref-active="active"
                   has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.pendingPayScaleList">Mpo Pending PayScale List</span>
            </a>
            </li>
            <li><a class="button4" ui-sref="mpo.payScaleApprovedList" ui-sref-active="active"
                   has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.approvedPayScaleList">Approved PayScale List</span>

            </a>
            </li>
            <li><a class="button4" ui-sref="mpo.timeScalepayCodePendingList" ui-sref-active="active"
                   has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.timeScalepayCodePendingList">timeScalepayCodePendingList</span>

            </a>
            </li>
            <li><a class="button4" ui-sref="mpo.timeScalepayCodeApprovedList" ui-sref-active="active"
                   has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.timeScalepayCodeApprovedList">timeScalepayCodeApprovedList</span>

            </a>
            </li>
            <li><a class="button4" ui-sref="mpo.bedpayCodePendingList" ui-sref-active="active"
                   has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.bedpayCodePendingList">timeScalepayCodePendingList</span>

            </a>
            </li>
            <li><a class="button4" ui-sref="mpo.bedpayCodeApprovedList" ui-sref-active="active"
                   has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.bedpayCodeApprovedList">timeScalepayCodeApprovedList</span>

            </a>
            </li>
            <li><a class="button4" ui-sref="mpo.appayCodePendingList" ui-sref-active="active"
                   has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.appayCodePendingList">timeScalepayCodePendingList</span>

            </a>
            </li>
            <li><a class="button4" ui-sref="mpo.appayCodeApprovedList" ui-sref-active="active"
                   has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.appayCodeApprovedList">timeScalepayCodeApprovedList</span>

            </a>
            </li>
            <li><a class="button4" ui-sref="mpo.principalpayCodePendingList" ui-sref-active="active"
                   has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.principalpayCodePendingList">timeScalepayCodePendingList</span>

            </a>
            </li>
            <li><a class="button4" ui-sref="mpo.principalpayCodeApprovedList" ui-sref-active="active"
                   has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.principalpayCodeApprovedList">timeScalepayCodeApprovedList</span>

            </a>
            </li>

            <!-- <li><a ui-sref="mpo.timeScalePendingList" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">
                 <i class="fa fa-pencil-square-o"></i>
                 <span translate="global.menu.account.pendingTimescaleScaleList">Pending Time Scale List</span>
                 <i class=" pull-right fa fa-caret-right"></i>
             </a>
             </li>
             <li><a ui-sref="mpo.timeScaleApprovedList" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">
                 <i class="fa fa-pencil-square-o"></i>
                 <span translate="global.menu.account.approvedTimeScaleList">Approved Time Scale List</span>
                 <i class=" pull-right fa fa-caret-right"></i>
             </a>
             </li>-->
        </ul>
    </li>
    <li has-any-authority="ROLE_MPOADMIN, ROLE_INSTITUTE, ROLE_INSTEMP" class="panel su_active_li">
        <a class="su_active_a" data-toggle="collapse" data-parent="#left-menu" data-target="#secondLink">
            <span translate="global.menu.account.commonsetup"></span></a>
        <ul id="secondLink" class="collapse search-accordion ">

            <li>
                <a class="button4" ui-sref="gazetteSetup" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.entities.gazetteSetup">gazetteSetup</span>

                </a>
            </li>
            <li>
                <a class="button4" ui-sref="allowanceSetup" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.entities.allowanceSetup">allowanceSetup</span>
                </a>
            </li>
            <li>
                <a class="button4" ui-sref="payScale" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.account.PayScaleSetup">PayScale SetUp</span>
                </a>
            </li>
            <li>
                <a class="button4" ui-sref="dearnessAssign" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.account.DearnessAssign">DearnessAssign</span>

                </a>
            </li>
            <li>
                <a class="button4" ui-sref="incrementSetup" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.account.IncrementSetup">IncrementSetup</span>

                </a>
            </li>
            <li>
                <a class="button4" ui-sref="personalPay" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.account.personalPaySetup">Personal Pay Setup</span>

                </a>
            </li>
            <li>
                <a class="button4" ui-sref="stopStartSalary" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.account.stopStartSalary">Start/Stop Salary</span>

                </a>
            </li>
            <li>
                <a class="button4" ui-sref="withedSalary" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">
                    <i class="fa fa-angle-double-right"></i>
                    <span translate="global.menu.account.withheldManagement">Withheld Management</span>

                </a>
            </li>
            <li><a class="button4" ui-sref="mpo.salaryGenerateByInstitute" ui-sref-active="active"
                   has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.account.salaryGenerate">Salary Generate</span>

            </a>
            </li>
            <!--<li>-->
            <!--<a class="button4" ui-sref="mpoSalaryFlow" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">-->
            <!--<span class="glyphicon glyphicon-plus-sign"></span>-->
            <!--<span translate="global.menu.account.mpoSalaryFlow">mpoSalaryFlow</span>-->

            <!--</a>-->
            <!--</li>-->

            <li><a class="button4" ui-sref-active="active" ui-sref="attachmentCategory"
                   has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.entities.attachmentCategory">attachmentCategory</span>
            </a>
            </li>
            <li><a class="button4" ui-sref-active="active" ui-sref="bankSetup" has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.entities.bankSetup">Bank Setup</span>
            </a>
            </li>
            <li><a class="button4" ui-sref-active="active" ui-sref="bankBranch" has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.entities.bankBranch">Bank Setup</span>
            </a>
            </li>
            <li><a class="button4" ui-sref="module" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN"><i
                class="fa fa-angle-double-right"></i>
                <span translate="global.menu.entities.modules">modules</span></a></li>
            <li><a class="button4" ui-sref="report({module:'mpo'})" ui-sref-active="active"
                   has-any-authority="ROLE_MPOADMIN, ROLE_INSTITUTE, ROLE_INSTEMP">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.report">report</span></a>
            </li>
            <li><a class="button4" ui-sref="mpo.processSalary" ui-sref-active="active"
                   has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.processSalary">Process Salary</span></a>
            </li>
            <li><a class="button4" ui-sref="mpo.disburse" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span>Process Disburse</span></a> <!-- translate="global.menu.processSalary" -->
            </li>
            <li><a class="button4" ui-sref="mpoSalaryFlow" ui-sref-active="active"
                   has-any-authority="ROLE_MPOADMIN, ROLE_AG, ROLE_BANK, ROLE_MINISTRY">
                <i class="fa fa-angle-double-right"></i>
                <span>Forwarded Report Status</span></a>
            </li>
            <li><a class="button4" ui-sref="notificationStep" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span>Notifications</span></a>
            </li>
            <!--<li><a class="button4" ui-sref="mpoCurrentCommittee" ui-sref-active="active" has-any-authority="ROLE_ADMIN">
                <i class="fa fa-pencil-square-o"></i>
                <span translate="global.menu.currentCommittee">Current Committee</span></a>
            </li>-->

            <li><a class="button4" ui-sref="mpoCommitteeAdd" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.committeeAdd">Add Committee Member</span></a>
            </li>
            <li><a class="button4" ui-sref="mpoCommitteeFormation" ui-sref-active="active"
                   has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.committeeFormation">Committee Formation</span></a>
            </li>
            <li><a class="button4" ui-sref="committeeDetails" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.committeeDetails">Committee details</span></a>
            </li>
            <li><a class="button4" ui-sref="allCommitteeMembers" ui-sref-active="active"
                   has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.committeeMembers">All Members </span></a>
            </li>
            <li><a class="button4" ui-sref="#" ui-sref-active="active" has-any-authority="ROLE_MANEGINGCOMMITTEE">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.other">Others</span></a>
            </li>
            <li><a class="button4" ui-sref="instEmpSalaryAdj" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">
                <i class="fa fa-angle-double-right"></i>
                <span translate="global.menu.instEmpSalaryAdjustment">Salary Adjustment</span></a>
            </li>
            <!-- <li><a class="button4" ui-sref="allCommitteeMembers" ui-sref-active="active" has-any-authority="ROLE_ADMIN">
                 <i class="fa fa-pencil-square-o"></i>
                 <span translate="global.menu.committeeMembers">All Members </span></a>
             </li>-->

        </ul>
    </li>
</ul>


<!--<div class="list-group" ng-controller="NavbarController">-->
<!--<a class="list-group-item" ui-sref="mpo.application" ui-sref-active="active" has-any-authority="ROLE_INSTITUTE, ROLE_FRONTDESK, ROLE_DEO, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG">-->
<!--<span class="glyphicon glyphicon-dashboard"></span>-->
<!--<span translate="global.menu.account.dashboard">Dashboard</span>-->
<!--</a>-->
<!--<a class="list-group-item" ui-sref="mpoPendingList" ui-sref-active="active" has-any-authority="ROLE_INSTITUTE, ROLE_FRONTDESK, ROLE_DEO, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG">-->
<!--<span class="glyphicon glyphicon-plus-sign"></span>-->
<!--<span translate="global.menu.account.MPOPendingList">MPO Pending Lists</span>-->
<!--</a>-->
<!--<a class="list-group-item" ui-sref="mpoApprovedList" ui-sref-active="active" has-any-authority="ROLE_INSTITUTE,     ROLE_FRONTDESK, ROLE_DEO, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG">-->
<!--<span class="glyphicon glyphicon-plus-sign"></span>-->
<!--<span translate="global.menu.account.MPOApprovedList">MPO Approved Lists</span>-->
<!--</a>-->
<!--<a class="list-group-item" ui-sref="mpo.employeeTrack" ui-sref-active="active" has-any-authority="ROLE_INSTITUTE, ROLE_ADMIN, ROLE_FRONTDESK, ROLE_DEO, ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG">-->
<!--<span class="glyphicon glyphicon-plus-sign"></span>-->
<!--<span translate="global.menu.account.mpoTrack">Application Status By TrackId</span>-->
<!--</a>-->
<!--<a class="list-group-item" ui-sref="mpo.employeeTrack" ui-sref-active="active" has-any-authority="ROLE_INSTEMP">-->
<!--<span class="glyphicon glyphicon-plus-sign"></span>-->
<!--<span translate="global.menu.account.mpoApplicationStatus">Application Status </span>-->
<!--</a>-->

<!--<a class="list-group-item" ui-sref="mpo.details" ui-sref-active="active" has-any-authority="ROLE_INSTEMP">-->
<!--<span class="glyphicon glyphicon-plus-sign"></span>-->
<!--<span translate="global.menu.account.myProfile">Profile </span>-->
<!--</a>-->

<!--<a class="list-group-item" ui-sref="mpo.payScalePendingList" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">-->
<!--<span class="glyphicon glyphicon-plus-sign"></span>-->
<!--<span translate="global.menu.account.pendingPayScaleList">Pending PayScale List</span>-->
<!--</a>-->

<!--<a class="list-group-item" ui-sref="mpo.payScaleApprovedList" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">-->
<!--<span class="glyphicon glyphicon-plus-sign"></span>-->
<!--<span translate="global.menu.account.approvedPayScaleList">Approved PayScale List</span>-->
<!--</a>-->

<!--<a class="list-group-item" ui-sref="mpo.salaryGenerateByInstitute" ui-sref-active="active" has-any-authority="ROLE_MPOADMIN">-->
<!--<span class="glyphicon glyphicon-plus-sign"></span>-->
<!--<span>Salary Generate</span>-->
<!--</a>-->
<!--</div>-->
