<div class="col-md-12 common-list padding0" style="padding-right: 0">
    <h2 class="panel-title" translate="{{'stepApp.employee.appInfo'}}">Application Information</h2>
    <ng-include src="'scripts/app/account/mpo/mpo-form.html'"></ng-include>
</div>
