<div class="col-sm-12 common-list">
    <h2 class="header-margin no-print" translate="stepApp.mpo.mpoPendingList">Mpo Application Pending List</h2>
    <div class="row no-print">
        <div class="col-md-12 padding-tb">
            <div class="col-xs-4">
                <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
            </div>
            <div class="col-xs-4">
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
        </div>
    </div>

    <div class="col-lg-12 no_padding tab-6 no-print">
        <tabset justified="true">
            <tab heading="{{'stepApp.mpo.all' | translate}}" select="all()">
            </tab>
            <tab heading="{{'stepApp.mpo.ssc' | translate}}" select="ssc()">
            </tab>
            <tab heading="{{'stepApp.mpo.hsc' | translate}}" select="hsc()">
            </tab>
            <tab heading="{{'stepApp.mpo.mdvoc' | translate}}" select="mdvoc()">
            </tab>
            <tab heading="{{'stepApp.mpo.mdbm' | translate}}" select="mdbm()">
            </tab>
            <tab has-any-authority="ROLE_DIRECTOR,ROLE_DG" heading="{{'stepApp.mpo.summarySheet' | translate}}"
                 select="showSummary1()">
            </tab>
        </tabset>
    </div>

    <div class="col-md-12 table-responsive no_padding no-print" ng-if="!showSummary">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="stepApp.mpo.thead.institutename"> Institute Name</th>
                <th translate="stepApp.mpo.thead.applicantname"> Applicant Name</th>
                <th translate="stepApp.mpo.thead.applicantId"> Applicant ID</th>
                <th translate="stepApp.mpo.thead.applicantType"> Applicant Type</th>
                <th translate="stepApp.mpo.thead.district"> District</th>
                <th translate="stepApp.mpo.thead.upazilla"> Upazila</th>
                <!--<th translate="stepApp.mpo.thead.applicationDate"> Date</th>-->
                <th translate="stepApp.mpo.thead.status"> Status</th>
                <th translate="stepApp.mpo.thead.action"> Action</th>
            </tr>
            </thead>
            <tbody>
            <!--<tr ng-repeat="mpoAppliedList in mpoAppliedLists | orderBy:'$index':true">-->
            <tr ng-animate="'animate'"
                dir-paginate="mpoAppliedList in mpoAppliedLists | filter:q | itemsPerPage: pageSize " current-page="currentPage">
                <td>{{mpoAppliedList.INST_NAME}}</td>
                <td>{{mpoAppliedList.NAME}}</td>
                <td>{{mpoAppliedList.CODE}}</td>
                <td>{{mpoAppliedList.CATEGORY}}</td>
                <td>{{mpoAppliedList.DISTRICT_NAME}}</td>
                <td>{{mpoAppliedList.UPZILA_NAME}}</td>
                <!--<td>{{mpoAppliedList.APP_DATE | date : "yyyy-MM-dd"}}</td>-->
                <td>{{mpoAppliedLists.pending}}</td>
                <td class="text-right no-print">
                    <div class="btn-group">
                        <button
                            has-any-authority="ROLE_ADMIN,ROLE_FRONTDESK,ROLE_MPOCOMMITTEE,ROLE_DEO,ROLE_INSTITUTE,ROLE_INSTGOVBODY,ROLE_MANEGINGCOMMITTEE,ROLE_DTE_EMPLOYEE"
                            class="btn btn-info" ui-sref="mpo.details({id:mpoAppliedList.MPO_ID})">
                            <span translate="stepApp.mpo.view&forward">View & Forward</span>
                        </button>
                        <button
                            has-any-authority="ROLE_DIRECTOR,ROLE_DG"
                            class="btn btn-info" ui-sref="mpo.details({id:mpoAppliedList.MPO_ID})">
                            <span translate="stepApp.mpo.view">View</span>
                        </button>
                        <button has-any-authority="ROLE_AD" class="btn btn-success"
                                ui-sref="mpo.details({id:mpoAppliedList.MPO_ID})">
                            <span translate="stepApp.mpo.view&approve">View & Forward</span>
                        </button>
                        <button
                            has-any-authority="ROLE_ADMIN,ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG,ROLE_MPOCOMMITTEE"
                            class="btn btn-default pull-right" ui-sref="mpo.checklist({code:mpoAppliedList.CODE})">
                            <span translate="stepApp.mpo.checklist">Check List</span>
                        </button>
                        <button has-any-authority="ROLE_MPOCOMMITTEE" class="btn btn-primary pull-right"
                                ui-sref="mpoApprove({id: mpoAppliedList.MPO_ID})">
                            <span translate="stepApp.mpo.agree">Agree</span>
                        </button>
                        <button has-any-authority="ROLE_MPOCOMMITTEE" class="btn btn-danger pull-right"
                                ui-sref="mpoDeny({id: mpoAppliedList.MPO_ID})">
                            <span translate="stepApp.mpo.decline">Decline</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
    <div class="col-md-12 padding-tb no-print" has-any-authority="ROLE_DIRECTOR,ROLE_DG">
        <button  class="btn btn-success pull-right" ng-if="summaryList.length > 0" ui-sref="mpoApproveAll">
            <span translate="stepApp.mpo.approveAll">Approve All</span>
        </button>
    </div>

    <div class="col-sm-12 padding0 no-print" has-any-authority="ROLE_DIRECTOR,ROLE_DG" ng-if="summaryList.length > 0 && showSummary">
        <div class="col-md-12 table-responsive no_padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th> <input type="checkbox" ng-change="updateAllSelection(summaryList, isAllSelected)" ng-model="isAllSelected"></th>
                    <th translate="stepApp.mpo.thead.slNo"> Serial No</th>
                    <th translate="stepApp.mpo.thead.code"> Institute Code</th>
                    <th translate="stepApp.mpo.thead.institutename"> Institute Name</th>
                    <th translate="stepApp.mpo.thead.applicantname"> applicant name</th>
                    <th translate="stepApp.mpo.thead.applicantId"> applicantId</th>
                    <th translate="stepApp.mpo.thead.upazilla"> Upazilla</th>
                    <th translate="stepApp.mpo.thead.district"> District</th>

                    <th class="text-right" has-any-authority="ROLE_DG,ROLE_DIRECTOR" translate="stepApp.mpo.thead.action">Action</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr ng-repeat="mpoAppliedList in mpoAppliedLists | orderBy:'$index':true">-->
                <tr ng-repeat="each in summaryList">

                  <td><input type="checkbox" ng-model="each.isSelected" ng-change="updateSelection(each)"></td>

                    <td>{{$index+1}}</td>
                    <td>{{each.INST_CODE}}</td>
                    <td>{{each.INST_NAME}}</td>
                    <td>{{each.NAME}}</td>
                    <td>{{each.EMP_CODE}}</td>
                    <td>{{each.UPZ_NAME}}</td>
                    <td>{{each.DISTRICT}}</td>

                    <td has-any-authority="ROLE_DG,ROLE_DIRECTOR" class="text-right no-print">
                        <div class="btn-group">
                            <button class="btn btn-default" ui-sref="mpo.details({id:each.MPO_ID})">
                                <span translate="stepApp.mpo.view">View</span>
                            </button>
                            <button class="btn btn-primary" ui-sref="mpoApprove({id: each.MPO_ID})">
                                <span translate="stepApp.mpo.approve">Approve</span>
                            </button>
                            <button class="btn btn-danger" ui-sref="mpoDeny({id: each.MPO_ID})">
                                <span translate="stepApp.mpo.reject">Reject</span>
                            </button>
                        </div>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class=" col-sm-12 " has-any-authority="ROLE_DIRECTOR" ng-if="mpoApplicationForMPoMeeting.length > 0 && showSummary">
        <h2>MPO Summary List For MPO Meeting</h2>
        <div class="col-md-12 table-responsive padding0">
            <table class="table table-bordered table-striped dte-table print-only-font">
                <thead>
                <tr>
                    <th translate="stepApp.mpo.thead.slNo">Serial No</th>
                    <th translate="stepApp.mpo.thead.applicationDate">Application Date</th>
                    <th translate="stepApp.mpo.thead.approveByDeo"> Approved By deo</th>
                    <th translate="stepApp.mpo.thead.institutename"> Institute Name</th>
                    <th translate="stepApp.mpo.thead.code"> Institute Code</th>
                    <th translate="stepApp.mpo.thead.upazilla"> Upazila</th>
                    <th translate="stepApp.mpo.thead.district"> District</th>
                    <th>
                       <p> Applicant Name</p>
                        <p> Date of Birth</p>
                        <p>Education Qualification</p>
                        <p> Bank Name</p>
                        <p> Bank No</p>
                    </th>
                    <th translate="stepApp.mpo.thead.designation"> Designation And Subject</th>
                    <th translate="stepApp.mpo.thead.registerIndex">Register Index</th>
                    <th translate="stepApp.mpo.thead.dgRepresentative">DG Representative</th>
                    <th translate="stepApp.mpo.thead.recDateOfGB">Recommend Date of Gov-body</th>
                    <th translate="stepApp.mpo.thead.joiningDate">Joining Date</th>
                    <th translate="stepApp.mpo.thead.G.O">G.O. yes/no</th>
                    <th translate="stepApp.mpo.thead.payCode">Pay Code</th>
                    <th>Comments</th>
                    <!--<th class="no-print" has-any-authority="ROLE_DG,ROLE_DIRECTOR" translate="stepApp.mpo.thead.action">Action</th>-->

                </tr>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr ng-repeat="mpoAppliedList in mpoAppliedLists | orderBy:'$index':true">-->
                <tr ng-repeat="each in mpoApplicationForMPoMeeting">
                    <td>{{$index+1}}</td>
                    <td>{{each.APPLICATION_DATE | date}}</td>
                    <td>{{each.CMT_APPROVE_DATE | date}}--{{each.DEO_APPROVE_DATE | date}}</td>
                    <td>{{each.INST_NAME}}</td>
                    <td>{{each.INST_CODE}}</td>
                    <td>{{each.UPZ_NAME}}</td>
                    <td>{{each.DISTRICT}}</td>
                    <td>
                     <p>{{each.NAME}}</p>
                     <p>{{each.DOB | date}}</p>
                     <p>{{each.EDU_QUALIFI}}</p>
                     <p>{{each.BANK_NAME}}-{{each.BANK_ACCOUNT}}</p>
                    </td>
                    <td>{{each.DESIGNATION}}({{each.SUBJECT}})</td>
                    <td>{{each.REGISTERED_NO}}</td>
                    <td>{{each.DG_REPRESENTITIVE}}</td>
                    <td>{{each.GB_REC_DATE | date}}</td>
                    <td>{{each.JOIN_DATE | date}}</td>
                    <td>{{each.GOV_ORDER == 1? 'Yes' : 'No'}}</td>
                    <td>{{each.PAY_CODE}}</td>
                    <td>{{each.COMMENTS}}</td>
                </tr>
                </tbody>
            </table>

        </div>
        <button type="button" class="btn btn-primary pull-right no-print" onclick="window.print()">Print</button>
    </div>
</div>
