<div class="col-md-12 no_padding" ng-show="showApplicationButtion">
    <div ng-show="!showApplicationButtion && !isAdmin">
        <h2 ng-show="pendingMPOCount == 0">You have no pending mpo applications</h2>
        <h2 ng-show="pendingMPOCount == 1">You have <a style="color:red;font-style: italic" ui-sref="mpoPendingList">{{pendingMPOCount}}</a> pending mpo application</h2>
        <h2 ng-show="pendingMPOCount > 1">You have <a style="color:red;font-style: italic" ui-sref="mpoPendingList">{{pendingMPOCount}}</a> pending mpo applications</h2>
    </div>
    <div ng-show="isAdmin">
        <ng-include src="'scripts/app/account/mpo/mpo-search-form.html'"></ng-include>
    </div>

</div>
<div class="col-md-12 padding0">
    <ng-include ng-show="showSearchForm && !showApplicationButtion " src="'scripts/app/account/mpo/mpo-search-form.html'"></ng-include>

    <div ng-show="!showSearchForm && !showApplicationButtion" class="application_information resume_main_ ">
        <div class="common-table">
                <h2><span translate="{{'stepApp.attachment.mpoAppStatus'}}">Application Status of</span> <b>{{mpoApplicationlogs[0].mpoApplicationId.instEmployee.code}}</b></h2>
            <div class="resume_main_ time-scale table-striped">
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th translate="{{'stepApp.attachment.Status'}}">
                            Status
                        </th>
                        <th translate="{{'stepApp.attachment.ActionDate'}}">
                            Action Date
                        </th>
                        <th translate="{{'stepApp.attachment.remarks'}}">
                            Remarks
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="mpoApplicationlog in mpoApplicationlogs">
                        <td>{{mpoApplicationlog.remarks}}</td>
                        <td>{{mpoApplicationlog.fromDate}}</td>
                        <td>
                            <span class="" ng-show="mpoApplicationlog.status == 1 ">{{mpoApplicationlog.cause}}</span>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--</div>-->
