<div class="main-dashbord-area">
        <div class="main-dashbord-area-bg">
            <div class="row">
                <div class="col-md-3 padding-right0">
                    <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
                </div>
                <div class="col-md-9 padding-left0">
                    <div has-any-authority="ROLE_INSTITUTE" class="col-sm-12 text-right">
                        <div class="institute-token text-right pull-right">
                            <p><span>Code : {{logInInstitute.code}}</span> &nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <span>Type : {{logInInstitute.type}}</span></p>
                        </div>
                    </div>
                    <div has-any-authority="ROLE_INSTEMP" class="col-sm-12 text-right">
                        <div class="institute-token text-right pull-right">
                            <p><span>Code : {{CurrentInstEmployee.code}}</span> &nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <span>Employee Type : {{CurrentInstEmployee.category}}</span></p>
                        </div>
                    </div>
                    <div class="main-content col-sm-12 lbl-dash padding-right0" ui-view="mpoView">

                    </div>
                </div>

            </div>

        </div>
</div>
