        <div ng-show="isAdmin">
            <ng-include src="'scripts/app/account/mpo/mpo-search-form.html'"></ng-include>
        </div>

    </div>
    <div class="col-md-9">
        <!--<ng-include ng-show="showSearchForm " src="'scripts/app/account/mpo/mpo-search-form.html'"></ng-include>-->

       <!-- <div ng-show="!showSearchForm" class="application_information resume_main_ ">-->
        <div class="application_information">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Application Status of <b>{{mpoApplicationlogs[0].mpoApplicationId.instEmployee.code}}</b></h3>
                </div>
                <div class="pnl-tbl">
                    <table class="table table-striped resume_main_">
                        <thead>
                        <tr>
                            <th>
                                Status
                            </th>
                            <th>
                                Action Date
                            </th>
                            <th>
                                Remarks
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="mpoApplicationlog in mpoApplicationlogs | orderBy:'$index':true">
                            <td>{{mpoApplicationlog.remarks}}</td>
                            <td>{{mpoApplicationlog.fromDate}}</td>
                            <td>
                                <span class="" ng-show="mpoApplicationlog.status == 1 ">{{mpoApplicationlog.cause}}1</span>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div>
                    <button class="btn btn-primary alignright" ui-sref="mpoApprove({id: mpoApplication.id})" ng-show="!showApprove" >Forward</button>
                    <button class="btn btn-primary alignright" ui-sref="mpoApprove({id: mpoApplication.id})" ng-show="showApprove" >Approve</button>
                    <button class="btn btn-primary alignright" ui-sref="mpoDeny({id: mpoApplication.id})">Decline</button>
                    <div class="pull-left">
                        <span class="btn btn-primary" onclick="window.history.back()" translate="{{'stepApp.employee.back'}}">back</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
