<div ng-show="isAdmin">
    <ng-include src="'scripts/app/account/mpo/mpo-search-form.html'"></ng-include>
</div>

</div>
<div class="col-md-12 common-table">
    <h2 class="panel-title">Application Status of <b>{{timescaleApplicationlogs[0].timeScaleApplicationId.instEmployee.code}}</b>
    </h2>
    <div class="table-responsive">
        <table class="table table-striped resume_main_">
            <thead>
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Action Date
                </th>
                <th>
                    Remarks
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="timescaleApplicationlog in timescaleApplicationlogs | orderBy:'id':reverse">
                <td>{{timescaleApplicationlog.remarks}}</td>
                <td>{{timescaleApplicationlog.fromDate}}</td>
                <td>
                    <span has_any_authority="INST_EMP" ng-show="timescaleApplicationlog.status == 1 ">{{timescaleApplicationlog.cause}}</span>
                    <span has_any_authority="ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG,ROLE_DTE_EMPLOYEE,ROLE_HRM_USER">{{timescaleApplicationlog.cause}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
