<div class="col-md-12 common-table">
    <h2 class="panel-title" translate="{{'stepApp.timeScaleApplication.appInfo'}}">Application Information</h2>
    <ng-include src="'scripts/app/account/mpo/timescale-form.html'"></ng-include>
</div>
