<div class="col-md-12 common-list padding-left5 padding-right0">
    <h2 translate="stepApp.hrEmpAuditObjectionInfo.home.title">HrEmpAuditObjectionInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrEmpAuditObjectionInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrEmpAuditObjectionInfo.home.createLabel">Create a new HrEmpAuditObjectionInfo</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <!--<th><span translate="global.field.id">ID</span></th>-->
                <th><span translate="stepApp.hrEmpAuditObjectionInfo.employeeInfo">employeeInfo</span></th>
                <th><span translate="stepApp.hrEmpAuditObjectionInfo.organizationName">OrganizationName</span></th>
                <th><span translate="stepApp.hrEmpAuditObjectionInfo.auditYear">AuditYear</span></th>
                <th><span translate="stepApp.hrEmpAuditObjectionInfo.paragraphNumber">ParagraphNumber</span></th>
                <!--                    <th><span translate="stepApp.hrEmpAuditObjectionInfo.objectionHeadliine">ObjectionHeadliine</span> </th>
                                    <th><span translate="stepApp.hrEmpAuditObjectionInfo.objectionAmount">ObjectionAmount</span></th>
                                    <th><span translate="stepApp.hrEmpAuditObjectionInfo.officeReplyNumber">OfficeReplyNumber</span></th>
                                    <th><span translate="stepApp.hrEmpAuditObjectionInfo.replyDate">ReplyDate</span> </th>
                                    -->
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrEmpAuditObjectionInfo in hrEmpAuditObjectionInfos | filter:q | itemsPerPage: pageSize track by hrEmpAuditObjectionInfo.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>

                <!--<td><a ui-sref="hrEmpAuditObjectionInfo.detail({id:hrEmpAuditObjectionInfo.id})">{{hrEmpAuditObjectionInfo.id}}</a>
                </td>-->
                <td>
                    <a ui-sref="hrEmployeeInfo.detail({id:hrEmpAuditObjectionInfo.employeeInfo.id})">{{hrEmpAuditObjectionInfo.employeeInfo.fullName}}</a>
                </td>
                <td>{{hrEmpAuditObjectionInfo.organizationName}}</td>
                <td>{{hrEmpAuditObjectionInfo.auditYear}}</td>
                <td>{{hrEmpAuditObjectionInfo.paragraphNumber}}</td>
                <!-- <td>{{hrEmpAuditObjectionInfo.objectionHeadliine}}</td>
                 <td>{{hrEmpAuditObjectionInfo.objectionAmount}}</td>
                 <td>{{hrEmpAuditObjectionInfo.officeReplyNumber}}</td>
                 <td>{{hrEmpAuditObjectionInfo.replyDate | date:'mediumDate'}}</td>
                 -->
                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="hrEmpAuditObjectionInfo.detail({id:hrEmpAuditObjectionInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="hrEmpAuditObjectionInfo.edit({id:hrEmpAuditObjectionInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ui-sref="hrEmpAuditObjectionInfo.delete({id:hrEmpAuditObjectionInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
