<div class="col-md-12 common-table padding-left5 padding-right0">
<h2><span translate="stepApp.hrEmpAuditObjectionInfo.detail.title">HrEmpAuditObjectionInfo</span> of {{hrEmpAuditObjectionInfo.employeeInfo.fullName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAuditObjectionInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrEmpAuditObjectionInfo.employeeInfo.id})">{{hrEmpAuditObjectionInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAuditObjectionInfo.objectionType">objectionType</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="miscTypeSetup.detail({id:hrEmpAuditObjectionInfo.objectionType.id})">{{hrEmpAuditObjectionInfo.objectionType.typeName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAuditObjectionInfo.organizationName">OrganizationName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAuditObjectionInfo.organizationName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAuditObjectionInfo.auditYear">AuditYear</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAuditObjectionInfo.auditYear}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAuditObjectionInfo.paragraphNumber">ParagraphNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAuditObjectionInfo.paragraphNumber}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAuditObjectionInfo.objectionHeadliine">ObjectionHeadliine</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAuditObjectionInfo.objectionHeadliine}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAuditObjectionInfo.objectionAmount">ObjectionAmount</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAuditObjectionInfo.objectionAmount}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAuditObjectionInfo.officeReplyNumber">OfficeReplyNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAuditObjectionInfo.officeReplyNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAuditObjectionInfo.replyDate">ReplyDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAuditObjectionInfo.replyDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAuditObjectionInfo.jointMeetingNumber">JointMeetingNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAuditObjectionInfo.jointMeetingNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAuditObjectionInfo.jointMeetingDate">JointMeetingDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAuditObjectionInfo.jointMeetingDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAuditObjectionInfo.isSettled">IsSettled</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAuditObjectionInfo.isSettled?"Yes":"No"}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAuditObjectionInfo.remarks">Remarks</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAuditObjectionInfo.remarks}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAuditObjectionInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAuditObjectionInfo.activeStatus?"Active":"InActive"}}</span>
                </td>
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.hrEmpAuditObjectionInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAuditObjectionInfo.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAuditObjectionInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAuditObjectionInfo.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpAuditObjectionInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAuditObjectionInfo.updateDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpAuditObjectionInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpAuditObjectionInfo.updateBy}}</span>
                </td>
            </tr>-->

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel"> cancel</span>
    </button>
</div>
