
<div class="common-table">
    <h2><span translate="stepApp.pfmsRegister.detail.title">PfmsRegister</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.pfmsRegister.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="HrEmployeeInfo.detail({id:pfmsRegister.employeeInfo.id})">{{pfmsRegister.employeeInfo.fullName}}</a>
                </td>

                <td>
                    <span translate="stepApp.pfmsRegister.applicationType">ApplicationType</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsRegister.applicationType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsRegister.isBillRegister">IsBillRegister</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsRegister.isBillRegister}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsRegister.departmentName">departmentName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsRegister.employeeInfo.departmentInfo.departmentInfo.departmentName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsRegister.designationName">designationName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsRegister.employeeInfo.designationInfo.designationInfo.designationName}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsRegister.nationality">nationality</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsRegister.employeeInfo.nationality}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsRegister.fatherName">fatherName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsRegister.employeeInfo.fatherName}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsRegister.dutySide">dutySide</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsRegister.employeeInfo.workArea.typeTitle}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsRegister.billNo">BillNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsRegister.billNo}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsRegister.billIssueDate">BillIssueDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsRegister.billIssueDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsRegister.billReceiverName">BillReceiverName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsRegister.billReceiverName}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsRegister.billPlace">BillPlace</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsRegister.billPlace}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsRegister.billDate">BillDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsRegister.billDate | date:'mediumDate'}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsRegister.noOfWithdrawal">NoOfWithdrawal</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsRegister.noOfWithdrawal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsRegister.checkNo">CheckNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsRegister.checkNo}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsRegister.checkDate">CheckDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsRegister.checkDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsRegister.checkTokenNo">CheckTokenNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsRegister.checkTokenNo}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
