<div class="col-md-12 common-list">
    <h2 class="panel-heading" translate="stepApp.pfmsRegister.home.title">PfmsRegisters</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary " ui-sref="pfmsRegister.new">
                <span class="glyphicon glyphicon-plus"></span></span> <span
                translate="stepApp.pfmsRegister.home.createLabel">Create a new PfmsRegister</span>
            </button>
        </div>
    </div>

    <div class="modal fade" id="deletePfmsRegisterConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(pfmsRegister.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.pfmsRegister.delete.question"
                           translate-values="{id: '{{pfmsRegister.id}}'}">Are you sure you want to delete this
                            PfmsRegister?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.serial">Serial</th>
                <th translate="stepApp.pfmsRegister.employeeInfo">employeeInfo</th>
                <th translate="stepApp.pfmsRegister.applicationType">ApplicationType</th>
                <th translate="stepApp.pfmsRegister.isBillRegister">IsBillRegister</th>
                <th translate="stepApp.pfmsRegister.billNo">BillNo</th>
                <th translate="stepApp.pfmsRegister.billIssueDate">BillIssueDate</th>
                <!--<th translate="stepApp.pfmsRegister.billReceiverName">BillReceiverName</th>
                <th translate="stepApp.pfmsRegister.billPlace">BillPlace</th>
                <th translate="stepApp.pfmsRegister.billDate">BillDate</th>
                <th translate="stepApp.pfmsRegister.noOfWithdrawal">NoOfWithdrawal</th>
                <th translate="stepApp.pfmsRegister.checkNo">CheckNo</th>
                <th translate="stepApp.pfmsRegister.checkDate">CheckDate</th>
                <th translate="stepApp.pfmsRegister.checkTokenNo">CheckTokenNo</th>-->
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="pfmsRegister in pfmsRegisters | filter:q | orderBy:'-id'| itemsPerPage: pageSize track by pfmsRegister.id"
                current-page="currentPage">
                <td>{{pageSize*(currentPage-1)+$index+1}}</td>
                <td>
                    <a ui-sref="HrEmployeeInfo.detail({id:pfmsRegister.employeeInfo.id})">{{pfmsRegister.employeeInfo.fullName}}</a>
                </td>
                <td>{{pfmsRegister.applicationType}}</td>
                <td>{{pfmsRegister.isBillRegister}}</td>
                <td>{{pfmsRegister.billNo}}</td>
                <td>{{pfmsRegister.billIssueDate | date:'mediumDate'}}</td>
                <!--<td>{{pfmsRegister.billReceiverName}}</td>
                <td>{{pfmsRegister.billPlace}}</td>
                <td>{{pfmsRegister.billDate | date:'mediumDate'}}</td>
                <td>{{pfmsRegister.noOfWithdrawal}}</td>
                <td>{{pfmsRegister.checkNo}}</td>
                <td>{{pfmsRegister.checkDate | date:'mediumDate'}}</td>
                <td>{{pfmsRegister.checkTokenNo}}</td>-->
                <td class="text-right">
                    <button type="submit"
                            ui-sref="pfmsRegister.detail({id:pfmsRegister.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="pfmsRegister.edit({id:pfmsRegister.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(pfmsRegister.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
