
<div class="common-table">
    <h2><span translate="stepApp.prlSalaryAllowDeducInfo.detail.title">PrlSalaryAllowDeducInfo</span> {{prlSalaryAllowDeducInfo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.prlSalaryAllowDeducInfo.salaryStructureInfo">salaryStructureInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="prlSalaryStructureInfo.detail({id:prlSalaryAllowDeducInfo.salaryStructureInfo.id})">{{prlSalaryAllowDeducInfo.salaryStructureInfo.id}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlSalaryAllowDeducInfo.allowDeducInfo">allowDeducInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="prlAllowDeductInfo.detail({id:prlSalaryAllowDeducInfo.allowDeducInfo.id})">{{prlSalaryAllowDeducInfo.allowDeducInfo.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlSalaryAllowDeducInfo.allowDeducType">AllowDeducType</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlSalaryAllowDeducInfo.allowDeducType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlSalaryAllowDeducInfo.allowDeducValue">AllowDeducValue</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlSalaryAllowDeducInfo.allowDeducValue}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlSalaryAllowDeducInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlSalaryAllowDeducInfo.activeStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlSalaryAllowDeducInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlSalaryAllowDeducInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlSalaryAllowDeducInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlSalaryAllowDeducInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
