<div class="col-sm-12 no_padding content-body common-list noprint-modal">
    <h2 translate="stepApp.hrEmployeeInfo.home.title">HrEmployeeInfos</h2>
    <!--<jh-alert></jh-alert>-->
    <div class="col-sm-12 padding-tb">
        <div class="col-md-4">
            <b>Employee Type</b>
            <select class="form-control" name="employeeType"
                    ng-model="employeeType"
                    ng-change="loadEmployeeByEmpType(employeeType)">
                <option value="DTE_Employee" translate="stepApp.designationType.DTE_Employee">DTE_Employee</option>
                <option value="Teacher" translate="stepApp.designationType.Teacher">Teacher</option>
                <option value="Staff" translate="stepApp.designationType.Staff">Staff</option>
            </select>
        </div>
        <div class="col-md-4 col-xs-4 no_padding" ng-show="(employeeType!='DTE_Employee')">

            <b><span translate="stepApp.hrEmployeeInfo.institute">institute</span>(Type name)</b>
            <div class="input-group">
                <!-- <select class="form-control" id="field_institute" name="institute" ng-model="institute"
                        ng-change="loadEmployeeByInstitute(institute)"
                        ng-options="Institute as Institute.name for Institute in instituteList track by Institute.id" >
                    <option value="">Select Institute</option>
                </select> -->

                <input type="text" size="50" class="form-control autocomplete" autocomplete="off" ng-model="institute"
                       typeahead='Institute as Institute.name for Institute in instituteList | filter:$viewValue'>

            </div>
        </div>
        <div class="col-md-4">
            <span ng-show="dataLoading">Loading, Please wait...</span>
        </div>

    </div>
    <div class="col-sm-12 padding-tb">

        <div class="col-md-4">
            <b><span translate="global.home.searchhere">Search Here :</span></b>
            <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
            </div>
        </div>
        <div class="col-md-2">
            <b><span translate="global.home.itemperpage">Items per page:</span></b>
            <div class="input-group">
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
        </div>

        <div class="col-md-6">

            <div class="row">
                <div class="col-md-6">
                    <label for=""><b translate="stepApp.hrEmployeeInfo.dobForm">Date of Birth (Form):</b></label>
                    <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.minDate"
                           datepicker-options="calendar.dateOptions" close-text="Close" max-date="maxDate"
                           ng-click="calendar.open($event, 'minDate')" ng-model="miscParamDto.minDate"
                           name="minDate" id="minDate" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for=""><b translate="stepApp.hrEmployeeInfo.dobTo">Date of Birth (To):</b></label>
                    <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.maxDate"
                           datepicker-options="calendar.dateOptions" close-text="Close" min-date="minDate"
                           ng-click="calendar.open($event, 'maxDate')" ng-model="miscParamDto.maxDate"
                           name="maxDate" id="maxDate" class="form-control"> <br/>
                </div>
            </div>
            <button type="button" ng-click="searchEmployeeByDateRange(miscParamDto)" class="btn btn-primary btn-sm">
                Search
            </button>
            <button type="button" ng-click="loadAll()" class="btn btn-primary btn-sm">Reset</button>
            {{dateRangeSearchMsg}}
        </div>

    </div>


    <div class="col-sm-12 no_padding table-responsive">
        <table class="table table-striped ">
            <thead>
            <tr>
                <th><span translate="global.form.serial">Serial No</span></th>
                <th><span translate="stepApp.hrEmployeeInfo.employeeId">employeeId</span></th>
                <th><span translate="stepApp.hrEmployeeInfo.fullName">FullName</span></th>
                <th><span translate="stepApp.hrEmployeeInfo.workAreaDtlName">FullName</span></th>
                <th><span translate="stepApp.hrEmployeeInfo.designationInfo">designationInfo</span></th>
                <th><span translate="stepApp.hrEmployeeInfo.birthDate">BirthDate</span></th>
                <th><span translate="stepApp.hrEmployeeInfo.emailAddress">EmailAddress</span></th>
                <th><span translate="stepApp.hrEmployeeInfo.mobileNumber">MobileNumber</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!-- ng-repeat="hrEmployeeInfo in hrEmployeeInfos | filter: dateRangeFilter('birthDate', startDate, endDate)"
             dir-paginate="hrEmployeeInfo in hrEmployeeInfos | filter:{ employeeType: employeeType} | itemsPerPage: pageSize track by hrEmployeeInfo.id"
             -->
            <tr ng-animate="'animate'"
                dir-paginate="hrEmployeeInfo in hrEmployeeInfos | filter:q | itemsPerPage: pageSize track by hrEmployeeInfo.id" current-page="currentPage">
                <td><a ui-sref="hrEmployeeInfo.detail({id:hrEmployeeInfo.id})">{{pageSize * (currentPage - 1) + $index + 1}}</a></td>
                <td>{{hrEmployeeInfo.employeeId}}</td>
                <td>{{hrEmployeeInfo.fullName}}<br/> [{{hrEmployeeInfo.employeeType}}]</td>
                <!--<td>{{hrEmployeeInfo.fileContentUrl}}-->
                    <!--<a ng-if="hrEmployeeInfo.empPhotoContentType" ng-click="previewImage(hrEmployeeInfo)">-->
                        <!--&lt;!&ndash;<img dyna-src="{{hrEmployeeInfo.fileContentUrl}}" class="img-thumbnail" width="60" height="60"/>&ndash;&gt;-->
                        <!--&lt;!&ndash;<img dyna-src="{{fileContentUrlList}}" class="img-thumbnail" width="60" height="60"/>&ndash;&gt;-->
                        <!--<img data-ng-src="{{'data:' + hrEmployeeInfo.empPhotoContentType + ';base64,' + hrEmployeeInfo.empPhoto}}" class="img-thumbnail" width="60" height="60"/>-->
                    <!--</a>-->
                <!--</td>-->
                <td><span  ng-if="employeeType='DTE_Employee'">{{hrEmployeeInfo.workAreaDtl.name}}</span><span ng-if="employeeType='Teacher || Staff'">{{hrEmployeeInfo.institute.name}}</span></td>

                <td>
                    <a ui-sref="hrDesignationSetup.detail({id:hrEmployeeInfo.designationInfo.id})">{{hrEmployeeInfo.designationInfo.designationInfo.designationName}}</a>
                </td>
                <td>{{hrEmployeeInfo.birthDate | date:'mediumDate'}}</td>
                <td>{{hrEmployeeInfo.emailAddress}}</td>
                <td>{{hrEmployeeInfo.mobileNumber}}</td>
                <td class="text-right">
                    <button type="button" ng-click="viewShortPDA(hrEmployeeInfo)" class="btn btn-info btn-sm"
                            translate="global.menu.entities.shortPDA">Short PDA
                    </button>
                    <button ng-if="hrEmployeeInfo.logStatus != 5" type="button"
                            ng-click="activateDeactivateConfirmation('deactive',hrEmployeeInfo)"
                            class="btn btn-danger btn-sm" translate="global.menu.entities.deactive">
                        Deactivate
                    </button>
                    <button ng-if="hrEmployeeInfo.logStatus == 5" type="button"
                            ng-click="activateDeactivateConfirmation('activate',hrEmployeeInfo)"
                            class="btn btn-primary btn-sm" translate="global.menu.entities.activate">
                        Activate
                    </button>
                    <button type="button" ng-hide="true"
                            ui-sref="hrEmployeeInfo.edit({id:hrEmployeeInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav>
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
<div class="modal fade" id="employeeShortPDAModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content print-modal">
            <div class="modal-header">
                <button type="button" class="close no-print" data-dismiss="modal" aria-hidden="true"
                        ng-click="clear()">&times;
                </button>
                <h4 class="modal-title text-center">Employee Short PDS </h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6">
                        <b translate="stepApp.hrEmployeeInfo.employeeId">employeeId</b>
                        : <span class="form-control-static">{{hrEmployeeInfo.employeeId}}</span>
                    </div>
                    <div class="col-md-6 text-right">
                        <!--<img dyna-src="{{fileContentUrl}}" class="img-thumbnail" width="100" height="150" alt="Employee Image"/>-->
                        <img data-ng-src="{{'data:' + hrEmployeeInfo.empPhotoContentType + ';base64,' + hrEmployeeInfo.empPhoto}}" class="img-thumbnail img" width="100" height="150" alt="Employee Image"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-cell-color">
                            <tr>
                                <td><b translate="stepApp.hrEmployeeInfo.fullName">FullName</b></td>
                                <td><span class="form-control-static">:&nbsp;{{hrEmployeeInfo.fullName}}</span></td>

                                <td><b translate="stepApp.hrEmployeeInfo.fatherName">fatherName</b></td>
                                <td><span class="form-control-static">:&nbsp;{{hrEmployeeInfo.fatherName}}</span></td>

                            </tr>
                            <tr>
                                <td><b translate="stepApp.hrEmployeeInfo.motherName">motherName</b></td>
                                <td><span class="form-control-static">:&nbsp;{{hrEmployeeInfo.motherName}}</span></td>

                                <td><b translate="stepApp.hrEmployeeInfo.nationality">nationality</b></td>
                                <td><span class="form-control-static">:&nbsp;{{hrEmployeeInfo.nationality}}</span></td>
                            </tr>
                            <tr>
                                <td><b translate="stepApp.hrEmployeeInfo.religion">religion</b></td>
                                <td><span class="form-control-static">:&nbsp;{{hrEmployeeInfo.religion}}</span></td>

                                <td><b translate="stepApp.hrEmployeeInfo.birthDate">birthDate</b></td>
                                <td><span
                                    class="form-control-static">:&nbsp;{{hrEmployeeInfo.birthDate | date:'mediumDate'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td><b translate="stepApp.hrEmployeeInfo.gender">gender</b></td>
                                <td><span class="form-control-static">:&nbsp;{{hrEmployeeInfo.gender}}</span></td>
                                <td><b translate="stepApp.hrEmployeeInfo.maritalStatus">maritalStatus</b></td>
                                <td><span
                                    class="form-control-static">:&nbsp;{{hrEmployeeInfo.maritalStatus}}</span></td>
                            </tr>
                            <tr>
                                <td><b translate="stepApp.hrEmployeeInfo.contactNumber">contactNumber</b></td>
                                <td><span
                                    class="form-control-static">:&nbsp;{{hrEmployeeInfo.mobileNumber}}</span></td>
                                <td><b translate="stepApp.hrEmployeeInfo.emailAddress">emailAddress</b></td>
                                <td><span
                                    class="form-control-static">:&nbsp;{{hrEmployeeInfo.emailAddress}}</span></td>
                            </tr>
                            <tr>
                                <td><b translate="stepApp.hrEmployeeInfo.presentAddress">presentAddress</b></td>
                                <td><span>:&nbsp;Present Address</span></td>

                                <td><b translate="stepApp.hrEmployeeInfo.permanentAddress">permanentAddress</b>
                                </td>
                                <td><span>:&nbsp;Permanent Address</span></td>
                            </tr>
                            <tr>
                                <td><b translate="stepApp.hrEmployeeInfo.nationalId">nationalId</b></td>
                                <td><span
                                    class="form-control-static">:&nbsp;{{hrEmployeeInfo.nationalId}}</span></td>
                                <td><b translate="stepApp.hrEmployeeInfo.emptype">emptype</b></td>
                                <td><span
                                    class="form-control-static">:&nbsp;{{hrEmployeeInfo.encadrement.typeName}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td><b translate="stepApp.hrEmployeeInfo.joiningDate">joiningDate</b></td>
                                <td><span
                                    class="form-control-static">:&nbsp;{{hrEmployeeInfo.dateOfJoining}}</span>
                                </td>
                                <td><b translate="stepApp.hrEmployeeInfo.prlDate">prl Date</b></td>
                                <td><span
                                    class="form-control-static">:&nbsp;{{hrEmployeeInfo.prlDate}}</span></td>

                            </tr>
                            <!--<tr >

                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="background: lightblue"><b>Present Posting</b></td>
                            </tr>-->
                        </table>
                        <div class="col-md-12 padding-tb short-pda-sec">
                            <h3>Present Posting</h3>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th><b translate="stepApp.hrEmployeeInfo.workAreaDtl">Institute Name</b></th>
                                    <th><b>Designation</b></th>
                                    <th><b translate="stepApp.hrEmployeeInfo.departmentInfo">Department</b></th>
                                    <th><b>From</b></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="hrEmploymentInfopresent in hrEmploymentInfos track by $index">
                                    <td>
                                        <span class="form-control-static" ng-if="hrEmploymentInfopresent.organizationType =='Institute'">
                                             {{hrEmploymentInfopresent.institute.name}}
                                        </span>
                                        <span class="form-control-static" ng-if="hrEmploymentInfopresent.organizationType =='Organization'">
                                             {{hrEmploymentInfopresent.workAreaDtl.name}}
                                        </span>
                                    </td>
                                    <td>:&nbsp;{{hrEmploymentInfopresent.employeeInfo.designationInfo.designationInfo.designationName}}</td>
                                    <td><span class="form-control-static">{{hrEmploymentInfopresent.employeeInfo.departmentInfo.departmentInfo.departmentName}}</span></td>
                                    <td>:&nbsp;{{hrEmploymentInfopresent.joiningDate}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!--<div class="col-md-12">
                        <button onclick="window.print();" class="pull-right print-btn no-print"><span
                            class="glyphicon glyphicon-print"></span> Print
                        </button>
                    </div>-->

                </div>
                <style>
                    table{
                        border: 1px solid #ddd !important;
                    }
                    table td{
                        font-size: 15px !important;
                        width: 24%;
                    }
                    .table.table-striped.table-cell-color tr:nth-child(2n+1) {
                        background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
                    }
                    @media print{
                        .table.table-striped.table-cell-color tr:nth-child(2n+1) {
                            background-color: rgba(0, 0, 0, 0.1) none repeat scroll 0 0 !important;
                            -webkit-print-color-adjust: exact !important;
                        }
                        .noprint-modal { display: none;}
                        .print-modal {display: block;}
                        .table.table-striped.table-cell-color tr:nth-child(2n+1) {
                            background-color: rgba(0, 0, 0, 0.1) none repeat scroll 0 0 !important;
                            -webkit-print-color-adjust: exact !important;
                        }
                    }
                    .img{
                        margin-bottom: 15px;
                    }

                </style>

                <!--<div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th translate="entity.detail.field">Field</th>
                            <th translate="entity.detail.value">Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        &lt;!&ndash;
                        <tr>
                            <td colspan="2" align="center">
                                <img dyna-src="{{hrEmployeeInfo.fileContentUrl}}" class="img-thumbnail"
                                     style="width:150px; height:200px"/>
                            </td>
                        </tr> &ndash;&gt;
                        <tr>
                            <td>
                                <span translate="stepApp.hrEmployeeInfo.fullName">FullName</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{hrEmployeeInfo.fullName}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.hrEmployeeInfo.employeeId">employeeId</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{hrEmployeeInfo.employeeId}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.hrEmployeeInfo.departmentInfo">departmentInfo</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{hrEmployeeInfo.departmentInfo.departmentInfo.departmentName}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.hrEmployeeInfo.designationInfo">designationInfo</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{hrEmployeeInfo.designationInfo.designationInfo.designationName}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.hrEmployeeInfo.user">user</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{hrEmployeeInfo.user.login}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.hrEmployeeInfo.workArea">workArea</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{hrEmployeeInfo.workArea.typeName}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.hrEmployeeInfo.workAreaDtl">workAreaDtl</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{hrEmployeeInfo.workAreaDtl.name}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.hrEmployeeInfo.employeeType">employeeType</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{hrEmployeeInfo.employeeType.typeName}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.hrEmployeeInfo.emailAddress">EmailAddress</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{hrEmployeeInfo.emailAddress}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.hrEmployeeInfo.mobileNumber">MobileNumber</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{hrEmployeeInfo.mobileNumber}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.hrEmployeeInfo.birthDate">BirthDate</span>
                            </td>
                            <td>
                                <span
                                    class="form-control-static">{{hrEmployeeInfo.birthDate | date:'mediumDate'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.hrEmployeeInfo.dateOfJoining">dateOfJoining</span>
                            </td>
                            <td>
                                <span
                                    class="form-control-static">{{hrEmployeeInfo.dateOfJoining | date:'mediumDate'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>PRD Date</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{hrEmployeeInfo.prlDate | date:'mediumDate'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Retirement Date</span>
                            </td>
                            <td>
                                <span
                                    class="form-control-static">{{hrEmployeeInfo.retirementDate | date:'mediumDate'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.hrEmployeeInfo.apointmentGoDate">ApointmentGoDate</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{hrEmployeeInfo.apointmentGoDate | date:'mediumDate'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.hrEmployeeInfo.presentId">PresentId</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{hrEmployeeInfo.presentId}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.hrEmployeeInfo.nationalId">NationalId</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{hrEmployeeInfo.nationalId}}</span>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>-->
            </div>
            <div class="modal-footer no-print">
                <button type="button" class="btn btn-default" onclick="window.print();">
                    <span class="glyphicon glyphicon-print"></span>Print
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.close">Close</span>
                </button>

                <!--<a onclick="window.print();" class="pull-right print-btn no-print"><span class="glyphicon glyphicon-print"></span> Print</a>-->
            </div>
        </div>
    </div>
</div>

<div class="modal animated bounceInUp" id="employeeActivateDeactiveConfForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="approvalForm" ng-submit="activateDeactivateEmployee(approvalObj)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clearConf()">&times;
                    </button>
                    <h4 class="modal-title" translate="entity.delete.title">Account Activation/Deactivation of
                        {{approvalObj.entityName}}</h4>
                </div>
                <div class="modal-body">
                    <div ng-if="approvalObj.actionType == 'activate'">
                        <p>Are you sure you want to activate the employee ?</p>
                    </div>
                    <div ng-if="approvalObj.actionType == 'deactive'">
                        <p>Are you sure you want to deactivate the employee ?</p>
                    </div>
                    <div ng-if="approvalObj.actionType == 'deactive'">
                        <label class="control-label" for="field_logcomments">Comments</label>
                        <textarea class="form-control" name="logComments" id="field_logcomments"
                                  ng-model="approvalObj.logComments"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearConf()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.close">close</span>
                    </button>
                    <span ng-if="approvalObj.actionType == 'activate'">
                        <button type="submit" ng-disabled="approvalForm.$invalid" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                            translate="stepApp.hrmHome.buttonTextActivate">Activate</span>
                        </button>
                    </span>
                    <span ng-if="approvalObj.actionType == 'deactive'">
                        <button type="submit" ng-disabled="approvalForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="stepApp.hrmHome.buttonTextDeactivate">Deactivate</span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
