<div class="container-fluid">
    <div class="row bg-color same-height-row">
        <div class="col-md-12 right-side-bg">
            <div class="row ">
                <div class="col-md-12">
                    <div class="welcome">
                        <h4>Welcome to HRM Dashboard</h4>
                    </div>
                </div>
            </div>
            <div class="row dash">
                <div class="col-md-9">
                    <div google-chart chart="myChartObject" style="height:300px; width:100%;"></div>
                </div>
            </div>
        </div>

    </div>

</div>

<style>
    /*samne height*/
    .same-height-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }

    .same-height-row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

    .left-menu-bg {
        background: #f3f3f4;
        border-right: 1px solid #ddd;
    }

    .single-admin-menu {
        padding: 15px 5px;
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        transition: .5s;
        margin-bottom: 30px;
        border-radius: 3px;
        height: 135px;
        text-align: center;
        color: #888;
    }

    .single-admin-menu:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        color: #444 !important;
        border-left: 5px solid #444;
    }

    .single-admin-menu img {
        height: 60px;
        width: auto;
        border-radius: 50%;
        margin-bottom: 15px;
        transition: .5s;
    }

    .single-admin-menu:hover img {
    }

    .bg-color {
        background: #f4f4f4;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .admin-left-menu ul {
        margin: 0;
        padding: 0;
    }

    .admin-left-menu ul li {
        display: block;
    }

    .admin-left-menu ul li a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #fff;
        transition: .5s;
        color: #555;
    }

    .admin-left-menu ul li a:hover {
        background: #ddd;
        border-bottom: 1px solid #999;
        color: #666;
    }

    .dash .col-md-3 {
        padding: 0px 30px;
    }
</style>
