<div class="container">
    <div class="row bg-color same-height-row">
        <div class="col-md-12 right-side-bg" has-any-authority="ROLE_MPOADMIN,ROLE_INSTITUTE,ROLE_FRONTDESK,ROLE_AD,ROLE_DIRECTOR,ROLE_DG,ROLE_DEO,ROLE_MPOCOMMITTEE,ROLE_MANEGINGCOMMITTEE,ROLE_DTE_EMPLOYEE,ROLE_HRM_USER, ROLE_ADMIN,ROLE_USER,ROLE_AD,ROLE_DG,ROLE_DIRECTOR,ROLE_TIS_DASH,ROLE_HRM_USER,ROLE_DTE_EMPLOYEE,ROLE_APPLICANT,ROLE_DG,ROLE_MINISTER,ROLE_USER,ROLE_INSTITUTE,ROLE_GOVT_STUDENT,ROLE_INSTEMP,ROLE_EMPLOYER,ROLE_JOBSEEKER,ROLE_INSTITUTE,ROLE_GOVT_STUDENT">
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome">
                        <h4>Welcome to Admin Dashboard</h4>
                    </div>
                </div>
            </div>
            <div class="row dash">
                <div class="col-md-3">
                    <a ui-sref="notificationStep">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/notification-flat.png" alt="">
                            <p>Administration Notification</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="assetTypeSetup">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/asset.png" alt="">
                            <p>Asset</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="auditLog">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/audit.png" alt="">
                            <p>Audit Trail</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="libraryInfo">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/digitallibrary.png" alt="">
                            <p>Digital Library</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="employeeLoanInfo">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/loan.png" alt="">
                            <p>Employee Loan Management Sys</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="hrm">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/employee.png" alt="">
                            <p>HRM</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="instituteInfo">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/inst.png" alt="">
                            <p>Institute Information</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="setup">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/instsetup.png" alt="">
                            <p>
                                Institute Setup
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="jp-dashboard">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/job.png" alt="">
                            <p>Job Portal</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="alm">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/leaveatt.png" alt="">
                            <p>Leave Attendance Management</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="mpo.application">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/membership.png" alt="">
                            <p>MPO Application</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="payroll">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/payrole.png" alt="">
                            <p>Payroll</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="pgms">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/pension.png" alt="">
                            <p>P G M S</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="pfms">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/pension-app.png" alt="">
                            <p>P F M S</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="risNew">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/req.png" alt="">
                            <p>Recruitment Information System</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <!--<li ui-sref-active="active" has-any-authority="ROLE_INSTITUTE,ROLE_ADMIN" ng-switch-when="true">
                        <a ui-sref="sis" >
                            <span translate="global.menu.entities.sisHome">SIS Home</span>
                        </a>
                    </li>-->
                    <a ui-sref="sis">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/student.png" alt="">
                            <p translate="global.menu.entities.sisHome">sisHome</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="division">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/leave.png" alt="">
                            <p>Setup</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="trainingInfo">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/attendance-info.png" alt="">
                            <p>Training Information System</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="umrac">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/access.png" alt="">
                            <p>User Access Control</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    /*samne height*/
    .same-height-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }

    .same-height-row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

    .left-menu-bg {
        background: #f3f3f4;
        border-right: 1px solid #ddd;
    }

    .single-admin-menu {
        padding: 15px 5px;
        background: #fff;
        box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.2);
        transition: .5s;
        margin-bottom: 30px;
        border-radius: 5px;
        height: 135px;
        text-align: center;
        color: #888;
    }

    .single-admin-menu:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        color: #444 !important;
        border-left: 5px solid #444;
    }

    .single-admin-menu img {
        height: 60px;
        width: auto;
        border-radius: 50%;
        margin-bottom: 15px;
        transition: .5s;
    }

    .single-admin-menu:hover img {
    }

    .bg-color {
        background: #f4f4f4;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .admin-left-menu ul {
        margin: 0;
        padding: 0;
    }

    .admin-left-menu ul li {
        display: block;
    }

    .admin-left-menu ul li a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #fff;
        transition: .5s;
        color: #555;
    }

    .admin-left-menu ul li a:hover {
        background: #ddd;
        border-bottom: 1px solid #999;
        color: #666;
    }

    .dash .col-md-3 {
        padding: 0px 30px;
    }
</style>
