<ng-include ng-show="userRole == 'ROLE_HRM_USER'" src="'scripts/app/entities/hrm/user-dashboard.html'"></ng-include>
<ng-include ng-show="userRole == 'ROLE_DTE_EMPLOYEE'" src="'scripts/app/entities/hrm/user-dashboard.html'"></ng-include>
<ng-include ng-show="userRole == 'ROLE_HRM_ADMIN'" src="'scripts/app/entities/hrm/admin-dashboard.html'"></ng-include>
<ng-include ng-show="userRole == 'ROLE_ORG_USER'" src="'scripts/app/entities/hrm/org-dashboard.html'"></ng-include>
