<style>
/*    .step-custom-menu{
    background: #fff;
    padding: 15px;
    }
    .step-custom-menu ul li a{
    border-bottom: 1px solid #ddd;
    color: rgb(255, 255, 255) !important;
    border-radius: 3px;
    margin: 0 !important;
    padding: 7px !important;
    font-weight: 400 !important;
    background: #0d993b;
    }
    .step-custom-menu ul li a:hover{
    background:#0b763b;
    }

    .step-custom-menu .nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    background: #E7E7E7;
    }
    .step-custom-menu ul li ul{
    padding:0px;
    }

    .step-custom-menu ul li ul li a{
    display:block;
    background:#00672e;
    color:#fff !important;
    }
    .step-custom-menu .fa{
    margin-right: 10px !important;
    }
    .step-custom-menu ul li a:hover{
    background: #0b763b none repeat scroll 0% 0% !important;
    color: #fff !important;
    }
    .step-custom-menu a.active{
    background: #212121 none repeat scroll 0% 0% !important;
    }
    #left-menu-id .panel{
        margin:0px;
    }*/
</style>

<!--<div class="step-custom-menu no-print">-->
    <ul class="nav nav-list bs-docs-sidenav su_active_ul no-print" id="left-menu">
        <li class="panel su_active_li ">
            <a class="su_active_a" data-toggle="collapse" data-parent="#left-menu" data-target="#firstLink">
                <span translate="stepApp.leftmenu.commonAccess">Common Access</span>
            </a>
            <ul id="firstLink" class="collapse search-accordion">
                <li class="">
                    <a class="" ui-sref="orghome" ui-sref-active="active">
                        <i class="fa fa-pencil-square-o"></i>
                        <span translate="stepApp.leftmenu.dashboard">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="button4" has-authority="ROLE_ORG_USER"
                       ui-sref="orghome.employeeInfoByOrg" ui-sref-active="active">
                        <i class="fa fa-angle-double-right"></i>
                        <span translate="global.menu.entities.hrmOrganizationEmployeeList">Organization Employee List</span>
                    </a>
                </li>
                <li>
                    <a class="button4" has-authority="ROLE_ORG_USER"
                       ui-sref="orghome.orgpayroll" ui-sref-active="active">
                        <i class="fa fa-angle-double-right"></i>
                        <span translate="global.menu.entities.hrmInstituteHeadPayrollMenu">Generate Payroll</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="panel su_active_li">
            <a  ui-sref="jpReport({module: 'hrm'})" has-any-authority="ROLE_ADMIN" ui-sref-active="active">
                <span translate="global.menu.report">Hr Reports</span>
            </a>
        </li>
    </ul>
<!--</div>-->
