<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="modal-title"><span translate="stepApp.hrmHome.home.workAreaHomeTitle"></span> : {{hrEmpWorkAreaDtlInfo.name}}</h4>
        </div>

        <div class="panel-body bg-panel">
            <div class="panel-group">
                <div>
                    <div class="row hrm-view">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-cell-color">
                                    <tr>
                                        <td><span translate="stepApp.hrEmpWorkAreaDtlInfo.name">Name</span></td>
                                        <td><span class="form-control-static">{{hrEmpWorkAreaDtlInfo.name}}</span></td>
                                        <td><span translate="stepApp.hrEmpWorkAreaDtlInfo.establishmentDate">EstablishmentDate</span></td>
                                        <td><span class="form-control-static">{{hrEmpWorkAreaDtlInfo.establishmentDate | date:'mediumDate'}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><span translate="stepApp.hrEmpWorkAreaDtlInfo.user">User</span></td>
                                        <td><span class="form-control-static">{{hrEmpWorkAreaDtlInfo.user.login}}</span></td>
                                        <td><span translate="stepApp.hrEmpWorkAreaDtlInfo.emailAddress">EmailAddress</span></td>
                                        <td><span class="form-control-static">{{hrEmpWorkAreaDtlInfo.emailAddress}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><span translate="stepApp.hrEmpWorkAreaDtlInfo.contactNumber">ContactNumber</span></td>
                                        <td><span class="form-control-static">{{hrEmpWorkAreaDtlInfo.contactNumber}}</span></td>
                                        <td><span translate="stepApp.hrEmpWorkAreaDtlInfo.workArea">workArea</span></td>
                                        <td><span class="form-control-static">{{hrEmpWorkAreaDtlInfo.workArea.typeName}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span translate="stepApp.hrEmpWorkAreaDtlInfo.division">division</span></td>
                                        <td><span class="form-control-static">{{hrEmpWorkAreaDtlInfo.division.name}}</span></td>
                                        <td><span translate="stepApp.hrEmpWorkAreaDtlInfo.district">district</span></td>
                                        <td><span class="form-control-static">{{hrEmpWorkAreaDtlInfo.district.name}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><span translate="stepApp.hrEmpWorkAreaDtlInfo.upazila">upazila</span></td>
                                        <td><span class="form-control-static">{{hrEmpWorkAreaDtlInfo.upazila.name}}</span></td>
                                        <td><span translate="stepApp.hrEmpWorkAreaDtlInfo.address">Address</span></td>
                                        <td><span class="form-control-static">{{hrEmpWorkAreaDtlInfo.address}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><span translate="stepApp.hrEmpWorkAreaDtlInfo.telephoneNumber">TelephoneNumber</span></td>
                                        <td><span class="form-control-static">{{hrEmpWorkAreaDtlInfo.telephoneNumber}}</span></td>
                                        <td><span translate="stepApp.hrEmpWorkAreaDtlInfo.faxNumber">FaxNumber</span></td>
                                        <td><span class="form-control-static">{{hrEmpWorkAreaDtlInfo.faxNumber}}</span></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <button onclick="window.print();" class="pull-right print-btn no-print"><span
                                    class="glyphicon glyphicon-print"></span> Print
                                </button>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
