<div class="">
    <div class="col-md-3 bs-docs-sidebar padding-left0 padding-right0">
        <ng-include src="'scripts/app/entities/hrm/org-left-menu.html'"></ng-include>
    </div>
    <div class="col-md-9 padding-left5 padding-right5">
        <div class="main-content" ui-view="hrmOrgManagementView">

        </div>
    </div>

</div>
