<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="board-result">
                <h2 class="text-center">Some Useful Link</h2>
                <ul>
                    <li><a target="_blank" href="http://eboardresults.com/app/stud/"><i class="fa fa-link"></i>ALL Board JSC/SSC/HSC Result</a></li>
                    <li><a target="_blank" href="http://www.educationboardresults.gov.bd/regular/index.php"><i class="fa fa-link"></i>ALL Board JSC/SSC/HSC Result</a></li>
                    <li><a target="_blank" href="http://www.nu.edu.bd/results/"><i class="fa fa-link"></i>National University Result</a></li>
                    <li><a target="_blank" href="http://www.ntrca.gov.bd/"><i class="fa fa-link"></i>Non-Government Teachers' Registration and Certification Authority (NTRCA)</a></li>
                    <li><a target="_blank" href="http://www.techedu.gov.bd/"><i class="fa fa-link"></i>Directorate of Technical Education (DTE)</a></li>
                    <li><a target="_blank" href="http://www.bteb.gov.bd/"><i class="fa fa-link"></i>Bangladesh Technical Education Board (BTEB)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<style>
    .board-result .fa {
        color: #777;
        margin-right: 15px;
        height: 30px;
        width: 30px;
        background: #fff;
        border: 1px solid #ddd;
        text-align: center;
        line-height: 30px;
        border-radius: 20px;
        box-shadow: 0px 1px 11px 0px #ccc;
    }

    .board-result ul li a {
        display: block;
        padding: 10px;
        background: #fff;
        margin-bottom: 12px;
        box-shadow: 0px 1px 3px 0px #999;
        border-radius: 3px;
        color: #555;
        transition: all .3s;
        font-weight: bold;
    }
    .board-result ul li a:hover{
        box-shadow: 0px 4px 12px 0px #999;
    }
    .board-result h2 {
        text-transform: uppercase;
        color: #555;
    }

    .board-result {
        background: rgb(239, 239, 239);
        padding: 15px;
        border-radius: 3px;
    }
</style>

<!--<div class="container-fluid">
    <div class="row bg-color same-height-row">
        <div class="col-md-2 padding0 left-menu-bg">
            <div class="admin-left-menu">
                <ul>
                    <li><a href="">Admin</a></li>
                    <li><a href="">User Managment</a></li>
                    <li><a href="">Asset</a></li>
                    <li><a href="">Audit Trail</a></li>
                    <li><a href="">Job Portal</a></li>
                    <li><a href="">Digital Library</a></li>
                    <li><a href="">User Access Control</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 right-side-bg">
            <div class="row ">
                <div class="col-md-12">
                    <div class="welcome">
                        <h4>Admin Shortcut Access Panel</h4>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-3">
                    <a ui-sref="notificationStep">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/notification-flat.png" alt="">
                            <p>Administration Notification</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="assetTypeSetup">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/asset.png" alt="">
                            <p>Asset</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="auditLog">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/audit.png" alt="">
                            <p>Audit Trail</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="jp-dashboard">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/job.png" alt="">
                            <p>Job Portal</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a ui-sref="libraryInfo">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/digitallibrary.png" alt="">
                            <p>Digital Library</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="umrac">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/access.png" alt="">
                            <p>User Access Control</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="mpo.application">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/membership.png" alt="">
                            <p>MPO Application</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a ui-sref="hrm">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/employee.png" alt="">
                            <p>HRM</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="payroll">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/payrole.png" alt="">
                            <p>Payroll</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    &lt;!&ndash;<li ui-sref-active="active" has-any-authority="ROLE_INSTITUTE,ROLE_ADMIN" ng-switch-when="true">
                        <a ui-sref="sis" >
                            <span translate="global.menu.entities.sisHome">SIS Home</span>
                        </a>
                    </li>&ndash;&gt;
                    <a ui-sref="sis">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/student.png" alt="">
                            <p translate="global.menu.entities.sisHome">sisHome</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="employeeLoanInfo">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/loan.png" alt="">
                            <p>Employee Loan Management Sys</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="alm">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/leaveatt.png" alt="">
                            <p>Leave Attendance Management</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="pgms">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/pension.png" alt="">
                            <p>P G M S</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="pfms">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/pension-app.png" alt="">
                            <p>P F M S</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="division">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/leave.png" alt="">
                            <p>Setup</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a ui-sref="instituteInfo">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/inst.png" alt="">
                            <p>Institute Information</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="setup">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/instsetup.png" alt="">
                            <p>
                                Institute Setup
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="risNew">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/req.png" alt="">
                            <p>Recruitment Information System</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a ui-sref="trainingInfo">
                        <div class="single-admin-menu">
                            <img src=" ./assets/images/icon/attendance-info.png" alt="">
                            <p>Training Information System</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    /*samne height*/
    .same-height-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        flex-wrap: wrap;
    }
    .same-height-row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .left-menu-bg{
        background: #ddd;
    }


    .single-admin-menu {
        padding: 15px 5px;
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        transition: .5s;
        margin-bottom: 30px;
        border-radius: 3px;
        height: 150px;
        text-align: center;
        color: #888;
    }

    .single-admin-menu:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        color: #444 !important;
        border-left: 5px solid #444;
    }

    .single-admin-menu img {
        height: 75px;
        width: auto;
        border-radius: 50%;
        margin-bottom: 15px;
        transition: .5s;
    }

    .single-admin-menu:hover img {
    }

    .bg-color {
        background: #f4f4f4;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
    .admin-left-menu ul {
        margin: 0;
        padding: 0;
    }

    .admin-left-menu ul li {
        display: block;
    }

    .admin-left-menu ul li a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #fff;
        transition: .5s;
        color:#555;
    }

    .admin-left-menu ul li a:hover {
        background: #ddd;
        border-bottom: 1px solid #999;
        color: #666;
    }
</style>-->
