<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="modal-title"><span translate="stepApp.hrmHome.dashboard.userSubTitle"></span> :
                {{hrEmployeeInfo.fullName}}</h4>
        </div>

        <div class="panel-body bg-panel">
            <div class="panel-group">
                <div>
                    <div class="row hrm-view">
                        <div class="row">
                            <div class="col-md-6">
                                <b translate="stepApp.hrEmployeeInfo.employeeId">employeeId</b>
                                : <span class="form-control-static">{{hrEmployeeInfo.employeeId}}</span>
                            </div>
                            <div class="col-md-6 text-right hr-img">
                                <img dyna-src="{{fileContentUrl}}" class="img-thumbnail" width="100" height="150"/>
                            </div>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-cell-color">
                                    <tr>
                                        <td><b translate="stepApp.hrEmployeeInfo.fullName">FullName</b></td>
                                        <td><span class="form-control-static">{{hrEmployeeInfo.fullName}}</span></td>
                                        <td><b translate="stepApp.hrEmployeeInfo.fatherName">fatherName</b></td>
                                        <td><span class="form-control-static">{{hrEmployeeInfo.fatherName}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><b translate="stepApp.hrEmployeeInfo.motherName">motherName</b></td>
                                        <td><span class="form-control-static">{{hrEmployeeInfo.motherName}}</span></td>
                                        <td><b translate="stepApp.hrEmployeeInfo.nationality">nationality</b></td>
                                        <td><span class="form-control-static">{{hrEmployeeInfo.nationality}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><b translate="stepApp.hrEmployeeInfo.religion">religion</b></td>
                                        <td><span class="form-control-static">{{hrEmployeeInfo.religion}}</span></td>
                                        <td><b translate="stepApp.hrEmployeeInfo.birthDate">birthDate</b></td>
                                        <td><span class="form-control-static">{{hrEmployeeInfo.birthDate | date:'mediumDate'}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b translate="stepApp.hrEmployeeInfo.gender">gender</b></td>
                                        <td><span class="form-control-static">{{hrEmployeeInfo.gender}}</span></td>
                                        <td><b translate="stepApp.hrEmployeeInfo.maritalStatus">maritalStatus</b></td>
                                        <td><span class="form-control-static">{{hrEmployeeInfo.maritalStatus}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><b translate="stepApp.hrEmployeeInfo.contactNumber">contactNumber</b></td>
                                        <td><span class="form-control-static">{{hrEmployeeInfo.mobileNumber}}</span></td>
                                        <td><b translate="stepApp.hrEmployeeInfo.emailAddress">emailAddress</b></td>
                                        <td><span class="form-control-static">{{hrEmployeeInfo.emailAddress}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><b translate="stepApp.hrEmployeeInfo.presentAddress">presentAddress</b></td>
                                        <td><span>Present Address</span></td>
                                        <td><b translate="stepApp.hrEmployeeInfo.permanentAddress">permanentAddress</b></td>
                                        <td><span>Permanent Address</span></td>
                                    </tr>
                                    <tr>
                                        <td><b translate="stepApp.hrEmployeeInfo.nationalId">nationalId</b></td>
                                        <td><span class="form-control-static">{{hrEmployeeInfo.nationalId}}</span></td>
                                        <td><b translate="stepApp.hrEmployeeInfo.emptype">emptype</b></td>
                                        <td><span class="form-control-static">{{hrEmployeeInfo.encadrement.typeName}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><b translate="stepApp.hrEmployeeInfo.joiningDate">joiningDate</b></td>
                                        <td><span class="form-control-static">{{hrEmployeeInfo.dateOfJoining}}</span></td>
                                        <td><b translate="stepApp.hrEmployeeInfo.prlDate">prl Date</b></td>
                                        <td><span class="form-control-static">{{hrEmployeeInfo.prlDate}}</span></td>
                                    </tr>

                                    <tr>
                                        <td><strong translate="stepApp.hrEmployeeInfo.departmentInfo"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmployeeInfo.departmentInfo.departmentInfo.departmentName}}</td>
                                        <td><strong translate="stepApp.hrEmployeeInfo.designationInfo"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmployeeInfo.designationInfo.designationInfo.designationName}}</td>
                                    </tr>

                                    <tr>
                                        <td><strong translate="stepApp.hrEmployeeInfo.employeeId"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmployeeInfo.employeeId}}</td>
                                        <td><strong translate="stepApp.hrEmployeeInfo.organizationType"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmployeeInfo.organizationType}}</td>
                                    </tr>

                                    <tr ng-show="(hrEmployeeInfo.organizationType=='Organization')">
                                        <td><strong translate="stepApp.hrEmployeeInfo.workArea"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmployeeInfo.workArea.typeName}}</td>
                                        <td><strong translate="stepApp.hrEmployeeInfo.workAreaDtl"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmployeeInfo.workAreaDtl.name}}</td>
                                    </tr>
                                    <tr ng-show="(hrEmployeeInfo.organizationType=='Institute')">
                                        <td><strong translate="stepApp.hrEmployeeInfo.instCategory"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmployeeInfo.instCategory.name}}</td>
                                        <td><strong translate="stepApp.hrEmployeeInfo.institute"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmployeeInfo.institute.name}}</td>
                                    </tr>

                                </table>
                            </div>
                            <div class="col-md-12">
                                <button onclick="window.print();" class="pull-right print-btn no-print"><span
                                    class="glyphicon glyphicon-print"></span> Print
                                </button>
                            </div>
                        </div>


                        <!--<div class="form-group col-sm-4">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.departmentInfo">departmentInfo</label>
                            <span class="form-control-static">{{hrEmployeeInfo.departmentInfo.departmentInfo.departmentName}}</span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label" translate="stepApp.hrEmployeeInfo.designationInfo">designationInfo</label>
                            <span class="form-control-static">{{hrEmployeeInfo.designationInfo.designationInfo.designationName}}</span>
                        </div>
                        <div class="form-group col-sm-4">
                            <img dyna-src="{{fileContentUrl}}" class="img-thumbnail" width="100" height="150"/>
                        </div>-->
                    </div>

                    <!-- <div class="row hrm-view">
                         <div class="form-group col-sm-6">
                             <label class="control-label" translate="stepApp.hrEmployeeInfo.fullName">FullName</label>
                             <span class="form-control-static">{{hrEmployeeInfo.fullName}}</span>
                         </div>
                         <div class="form-group col-sm-6">
                             <label class="control-label" translate="stepApp.hrEmployeeInfo.birthDate">BirthDate</label>
                             <span class="form-control-static">{{hrEmployeeInfo.birthDate | date:'mediumDate'}}</span>
                         </div>
                     </div>

                     <div class="row hrm-view">
                         <div class="form-group col-sm-6">
                             <label class="control-label" translate="stepApp.hrEmployeeInfo.emailAddress">EmailAddress</label>
                             <span class="form-control-static">{{hrEmployeeInfo.emailAddress}}</span>
                         </div>
                         <div class="form-group col-sm-6">
                             <label class="control-label" translate="stepApp.hrEmployeeInfo.mobileNumber">MobileNumber</label>
                             <span class="form-control-static">{{hrEmployeeInfo.mobileNumber}}</span>
                         </div>
                     </div>

                     <div class="row hrm-view">
                         <div class="form-group col-sm-6">
                             <label class="control-label" translate="stepApp.hrEmployeeInfo.employeeType">employeeType</label>
                             <span class="form-control-static">{{hrEmployeeInfo.employeeType.typeName}}</span>
                         </div>
                         <div class="form-group col-sm-6">
                             <label class="control-label" translate="stepApp.hrEmployeeInfo.employeeId">employeeId</label>
                             <span class="form-control-static">{{hrEmployeeInfo.employeeId}}</span>
                         </div>
                     </div>

                     <div class="row hrm-view">
                         <div class="form-group col-sm-6">
                             <label class="control-label" translate="stepApp.hrEmployeeInfo.dateOfJoining">dateOfJoining</label>
                             <span class="form-control-static">{{hrEmployeeInfo.dateOfJoining | date:'mediumDate'}}</span>
                         </div>
                         <div class="form-group col-sm-6">
                             <label class="control-label" translate="stepApp.hrEmployeeInfo.prlDate">prlDate</label>
                             <span class="form-control-static">{{hrEmployeeInfo.prlDate | date:'mediumDate'}}</span>
                         </div>

                     </div>

                     <div class="row hrm-view">
                         <div class="form-group col-sm-6">
                             <label class="control-label" translate="stepApp.hrEmployeeInfo.retirementDate">retirementDate</label>
                             <span class="form-control-static">{{hrEmployeeInfo.retirementDate | date:'mediumDate'}}</span>
                         </div>
                         <div class="form-group col-sm-6">
                             <label class="control-label" translate="stepApp.hrEmployeeInfo.apointmentGoDate">ApointmentGoDate</label>
                             <span class="form-control-static">{{hrEmployeeInfo.apointmentGoDate | date:'mediumDate'}}</span>
                         </div>

                     </div>

                     <div class="row hrm-view">
                         <div class="form-group col-sm-6">
                             <label class="control-label" translate="stepApp.hrEmployeeInfo.presentId">PresentId</label>
                             <span class="form-control-static">{{hrEmployeeInfo.presentId}}</span>
                         </div>
                         <div class="form-group col-sm-6">
                             <label class="control-label" translate="stepApp.hrEmployeeInfo.maritalStatus">MaritalStatus</label>
                             <span class="form-control-static">{{hrEmployeeInfo.maritalStatus}}</span>
                         </div>

                     </div>
                     <div class="row hrm-view">
                         <div class="form-group col-sm-6">
                             <label class="control-label" translate="stepApp.hrEmployeeInfo.bloodGroup">BloodGroup</label>
                             <span class="form-control-static">{{hrEmployeeInfo.bloodGroup}}</span>
                         </div>
                         <div class="form-group col-sm-6">
                             <label class="control-label" translate="stepApp.hrEmployeeInfo.quota">Quota</label>
                             <span class="form-control-static">{{hrEmployeeInfo.quota}}</span>
                         </div>
                         <div class="form-group col-sm-6">
                             <label class="control-label" translate="stepApp.hrEmployeeInfo.religion">Religion</label>
                             <span class="form-control-static">{{hrEmployeeInfo.religion}}</span>
                         </div>
                     </div>-->
                </div>
            </div>
        </div>

    </div>
</div>
