<div class="col-md-12 common-table">
    <h2><span translate="stepApp.trainingBudgetInformation.detail.title">TrainingBudgetInformation</span></h2>
    <div class="table-responsive">
        <div class="col-md-12 padding-tb">
            <h5 class="trainerinfo">Training Budget Information</h5>
        </div>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.trainingBudgetInformation.trainingInitializationInfo">trainingInitializationInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="trainingInitializationInfo.detail({id:trainingBudgetInformation.trainingInitializationInfo.id})">{{trainingBudgetInformation.trainingInitializationInfo.trainingCode}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingBudgetInformation.budgetAmount">BudgetAmount</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingBudgetInformation.budgetAmount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingBudgetInformation.expenseAmount">ExpenseAmount</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingBudgetInformation.expenseAmount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingBudgetInformation.remarks">Remarks</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingBudgetInformation.remarks}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingBudgetInformation.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingBudgetInformation.status ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingBudgetInformation.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingBudgetInformation.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingBudgetInformation.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingBudgetInformation.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingBudgetInformation.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingBudgetInformation.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingBudgetInformation.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingBudgetInformation.updateBy}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
