<div class="row">
    <div class="col-md-3 padding-right0">
        <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
    </div>

    <div class="col-md-9 lbl-dash">
        <div class="col-md-12 common-table no_padding">
    <h2><span translate="stepApp.dearnessAssign.detail.title">DearnessAssign</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.dearnessAssign.amount">Amount</span>
                </td>
                <td>
                    <span class="form-control-static">{{dearnessAssign.amount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dearnessAssign.effectiveDate">EffectiveDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{dearnessAssign.effectiveDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dearnessAssign.stopDate">StopDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{dearnessAssign.stopDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dearnessAssign.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{dearnessAssign.status ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dearnessAssign.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{dearnessAssign.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dearnessAssign.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{dearnessAssign.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dearnessAssign.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{dearnessAssign.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dearnessAssign.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{dearnessAssign.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dearnessAssign.remarks">Remarks</span>
                </td>
                <td>
                    <span class="form-control-static">{{dearnessAssign.remarks}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dearnessAssign.gazzette">gazzette</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="PayScale.detail({id:dearnessAssign.gazzette.id})">{{dearnessAssign.gazzette.payScaleClass}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
</div>
</div>
