<div class="col-md-12 common-list padding-left5 padding-right0">
    <h2 translate="stepApp.hrEmpServiceHistory.home.title">HrEmpServiceHistorys</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrEmpServiceHistory.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrEmpServiceHistory.home.createLabel">Create a new HrEmpServiceHistory</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <!--<th><span translate="global.field.id">ID</span></th>-->
                <th><span translate="stepApp.hrEmpServiceHistory.employeeInfo">employeeInfo</span></th>
                <th><span translate="stepApp.hrEmpServiceHistory.serviceDate">ServiceDate</span></th>
                <th><span translate="stepApp.hrEmpServiceHistory.gazettedDate">GazettedDate</span></th>
                <th><span translate="stepApp.hrEmpServiceHistory.encadrementDate">EncadrementDate</span></th>
                <!--<th><span translate="stepApp.hrEmpServiceHistory.nationalSeniority">NationalSeniority</span></th>
                <th><span translate="stepApp.hrEmpServiceHistory.cadreNumber">CadreNumber</span></th>
                -->
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrEmpServiceHistory in hrEmpServiceHistorys | filter:q | itemsPerPage: pageSize track by hrEmpServiceHistory.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <!--<td><a ui-sref="hrEmpServiceHistory.detail({id:hrEmpServiceHistory.id})">{{hrEmpServiceHistory.id}}</a>
                </td>-->
                <td>
                    <a ui-sref="hrEmployeeInfo.detail({id:hrEmpServiceHistory.employeeInfo.id})">{{hrEmpServiceHistory.employeeInfo.fullName}}</a>
                </td>
                <td>{{hrEmpServiceHistory.serviceDate | date:'mediumDate'}}</td>
                <td>{{hrEmpServiceHistory.gazettedDate | date:'mediumDate'}}</td>
                <td>{{hrEmpServiceHistory.encadrementDate | date:'mediumDate'}}</td>
                <!--<td>{{hrEmpServiceHistory.nationalSeniority}}</td>
                <td>{{hrEmpServiceHistory.cadreNumber}}</td>
                -->
                <td class="hrm-button text-right no-print">
                    <button type="submit"
                            ui-sref="hrEmpServiceHistory.detail({id:hrEmpServiceHistory.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit" ng-hide="false"
                            ui-sref="hrEmpServiceHistory.edit({id:hrEmpServiceHistory.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrEmpServiceHistory.delete({id:hrEmpServiceHistory.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
