<ul class="nav nav-list bs-docs-sidenav su_active_ul" id="left-menu">
    <li class="panel su_active_li">
    <a  class="su_active_a"  data-toggle="collapse" data-parent="#left-menu" data-target="#firstLink"><span translate="stepApp.leftmenu.commonAccess">Common Access</span></a>
        <ul id="firstLink" class="collapse search-accordion">
            <li class="">
                <a class="" ui-sref="payroll" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="stepApp.leftmenu.dashboard">Dashboard</span>
                </a>
            </li>
        </ul>
    </li>

    <li has-any-authority = "ROLE_ADMIN" class="panel su_active_li">
        <a class="su_active_a" data-toggle="collapse" data-parent="#left-menu" data-target="#thirdLink">
            <span translate="stepApp.leftmenu.prlAdminAccess">Admin Access</span><i class="pull-right fa fa-caret-down"></i>
        </a>
        <ul id="thirdLink" class="collapse search-accordion">
            <!--<li>
                <a ui-sref="prlLocalityInfo" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i><span translate="stepApp.prlLocalityInfo.home.title"></span>

                </a>
            </li>-->
            <li>
                <a ui-sref="prlAllowDeductInfo" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.prlAllowDeductInfo"></span>
                </a>
            </li>

            <li>
                <a ui-sref="prlOnetimeAllowInfo" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.prlOnetimeAllowInfo"></span>
                </a>
            </li>
            <li>
                <a ui-sref="prlEconomicalCodeInfo" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.prlEconomicalCodeInfo"></span>
                </a>
            </li>

            <li>
                <a ui-sref="prlBudgetSetupInfo" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.prlBudgetSetupInfo"></span>
                </a>
            </li>

            <li>
                <a ui-sref="prlPayscaleInfo" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.prlPayscaleInfo"></span>
                </a>
            </li>

            <li>
                <a ui-sref="prlLocalityInfo" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.prlLocalityInfo"></span>
                </a>
            </li>

            <li>
                <a ui-sref="prlLocalitySetInfo" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.prlLocalitySetInfo"></span>
                </a>
            </li>



            <li>
                <a ui-sref="prlHouseRentAllowInfo" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.prlHouseRentAllowInfo"></span>
                </a>
            </li>
        </ul>
    </li>

    <li class="panel su_active_li" has-any-authority = "ROLE_ADMIN">
        <a class="su_active_a" data-toggle="collapse" data-parent="#left-menu" data-target="#fourthLink">
            <span translate="stepApp.leftmenu.payrollSetup">Payroll Setup</span><i class="pull-right fa fa-caret-down"></i>
        </a>
        <ul id="fourthLink" class="collapse search-accordion">

            <li>
                <a ui-sref="prlEmpPaymentStopInfo" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.prlEmpPaymentStopInfo"></span>
                </a>
            </li>

            <li>
                <a ui-sref="prlEmpAdditionalAssignInfo" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.prlEmpAdditionalAssignInfo"></span>
                </a>
            </li>

            <li>
                <a ui-sref="prlSalaryStructureInfo" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.prlSalaryStructureInfo"></span>
                </a>
            </li>

            <li>
                <a ui-sref="prlGeneratedSalaryInfo" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.prlGeneratedSalaryInfo"></span>
                </a>
            </li>

            <li>
                <a ui-sref="prlEmpGeneratedSalInfo" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.prlEmpGeneratedSalInfo"></span>
                </a>
            </li>

            <li>
                <a ui-sref="prlEmpGenSalDetailInfo" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.prlEmpGenSalDetailInfo"></span>
                </a>
            </li>
            <li>
                <a ui-sref="prlSalaryGenerationLog" ui-sref-active="active">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate="global.menu.entities.prlSalaryGenerationLog"></span>
                </a>
            </li>

            <li has-any-authority="ROLE_ADMIN">
                <a href="" ui-sref="jpReport({module: 'prl'})" has-any-authority="ROLE_ADMIN" ui-sref-active="active">
                    <i class="fa fa-pie-chart"></i><span translate="Reports">prlReport</span></a>
            </li>


        </ul>
    </li>

</ul>
