<div class="row">
    <div class="col-md-3 bs-docs-sidebar padding-right0">
        <ng-include src="'scripts/app/entities/payroll/left-menu.html'"></ng-include>
    </div>
    <div class="col-md-9 main-content lbl-dash padding-left0" ui-view="payrollManagementView">

    </div>
</div>
