
<div class="common-table">
    <h2><span>{{dlSourceSetUp.name}}</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.dlSourceSetUp.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{dlSourceSetUp.name}}</span>
                </td>

            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.dlSourceSetUp.fine">Fine</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{dlSourceSetUp.fine}}</span>-->
                <!--</td>-->
            <!--</tr>-->


                <td>
                    <span translate="stepApp.dlSourceSetUp.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{dlSourceSetUp.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dlSourceSetUp.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{dlSourceSetUp.createBy}}</span>
                </td>
                <td>
                    <span translate="stepApp.dlSourceSetUp.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{dlSourceSetUp.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dlSourceSetUp.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{dlSourceSetUp.updateBy}}</span>
                </td>
                <td>
                    <span translate="stepApp.dlSourceSetUp.status">Status</span>
                </td>
                <td>
                    <!--<span class="form-control-static">{{dlSourceSetUp.status}}</span>-->
                    <span ng-show="dlSourceSetUp.status==true">Active</span>
                    <span ng-show="dlSourceSetUp.status==false">Inactive</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.dlSourceSetUp.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{dlSourceSetUp.description}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
