<div class="col-sm-12 common-list padding-left5 padding-right0">
    <h2 translate="stepApp.hrDesignationHeadSetup.home.title">HrDesignationHeadSetups</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary" ui-sref="hrDesignationHeadSetup.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrDesignationHeadSetup.home.createLabel">Create a new HrDesignationHeadSetup</span>
            </button>
        </div>
    </div>
    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                <th><span translate="global.form.serial">serial</span></th>
                <!--<th jh-sort-by="id"><span translate="global.field.id">ID</span> <span
                    class="glyphicon glyphicon-sort"></span></th>-->
                <!--<th jh-sort-by="designationCode"><span translate="stepApp.hrDesignationHeadSetup.designationCode">DesignationCode</span>
                    <span class="glyphicon glyphicon-sort"></span></th>-->
                <th jh-sort-by="designationName"><span translate="stepApp.hrDesignationHeadSetup.designationName">DesignationName</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="designationDetail"><span translate="stepApp.hrDesignationHeadSetup.designationDetail">DesignationDetail</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="desigType"><span translate="stepApp.hrDesignationHeadSetup.desigType">DesigType</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="activeStatus"><span
                    translate="stepApp.hrDesignationHeadSetup.activeStatus">ActiveStatus</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrDesignationHeadSetup in hrDesignationHeadSetups | filter:q | itemsPerPage: pageSize track by hrDesignationHeadSetup.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <!--<td><a ui-sref="hrDesignationHeadSetup.detail({id:hrDesignationHeadSetup.id})">{{hrDesignationHeadSetup.id}}</a>
                </td>-->
                <!--<td>{{hrDesignationHeadSetup.designationCode}}</td>-->
                <td>{{hrDesignationHeadSetup.designationName}}</td>
                <td>{{hrDesignationHeadSetup.designationDetail}}</td>
                <td>{{hrDesignationHeadSetup.desigType}}</td>
                <td>{{hrDesignationHeadSetup.activeStatus ? 'Active' : 'Inactive'}}</td>
                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="hrDesignationHeadSetup.detail({id:hrDesignationHeadSetup.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="hrDesignationHeadSetup.edit({id:hrDesignationHeadSetup.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrDesignationHeadSetup.delete({id:hrDesignationHeadSetup.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
