<div class="col-md-12 common-table padding-right0 padding-left5">
<h2><span translate="stepApp.hrDesignationHeadSetup.detail.title">HrDesignationHeadSetup</span> <!--{{hrDesignationHeadSetup.id}}--></h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <!--<tr>-->
                <!--<td>-->
                    <!--<span translate="stepApp.hrDesignationHeadSetup.designationCode">DesignationCode</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{hrDesignationHeadSetup.designationCode}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <tr>
                <td>
                    <span translate="stepApp.hrDesignationHeadSetup.designationName">DesignationName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationHeadSetup.designationName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrDesignationHeadSetup.desigType">desigType</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationHeadSetup.desigType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDesignationHeadSetup.designationDetail">DesignationDetail</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationHeadSetup.designationDetail}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrDesignationHeadSetup.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationHeadSetup.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.hrDesignationHeadSetup.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationHeadSetup.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrDesignationHeadSetup.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationHeadSetup.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDesignationHeadSetup.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationHeadSetup.updateDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrDesignationHeadSetup.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationHeadSetup.updateBy}}</span>
                </td>
            </tr>-->
            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel"> cancel</span>
    </button>
</div>
