<div class="col-md-12 common-table padding-right0 padding-left5">
    <h2><span translate="stepApp.hrEmpPreGovtJobInfo.detail.title">HrEmpPreGovtJobInfo</span> of
        {{hrEmpPreGovtJobInfo.employeeInfo.fullName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPreGovtJobInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="hrEmployeeInfo.detail({id:hrEmpPreGovtJobInfo.employeeInfo.id})">{{hrEmpPreGovtJobInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPreGovtJobInfo.organizationName">OrganizationName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPreGovtJobInfo.organizationName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPreGovtJobInfo.postName">PostName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPreGovtJobInfo.postName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPreGovtJobInfo.address">Address</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPreGovtJobInfo.address}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPreGovtJobInfo.fromDate">FromDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPreGovtJobInfo.fromDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPreGovtJobInfo.toDate">ToDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPreGovtJobInfo.toDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPreGovtJobInfo.salary">Salary</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPreGovtJobInfo.salary}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPreGovtJobInfo.comments">Comments</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPreGovtJobInfo.comments}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPreGovtJobInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span
                        class="form-control-static">{{hrEmpPreGovtJobInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel">cancel</span>
    </button>
</div>
