<div class="col-md-12 common-dialogue padding-left5 padding-right0">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="hrEmpPreGovtJobInfo.id == null" class="modal-title"
            translate="stepApp.hrEmpPreGovtJobInfo.home.createOrEditLabel">Create or edit a HrEmpPreGovtJobInfo</h4>
        <h4 ng-show="hrEmpPreGovtJobInfo.id != null" class="modal-title"
            translate="stepApp.hrEmpPreGovtJobInfo.home.EditLabel">Create or edit a HrEmpPreGovtJobInfo</h4>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="global.home.orgOrInst" for="field_toOrganizationType">toOrganizationType</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_toOrganizationType" name="toOrganizationType"
                                    ng-model="orgOrInst" required>
                                <option selected disabled value="">-- Select Organization Type --</option>
                                <option value="Organization">Organization</option>
                                <option value="Institute">Institute</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div ng-if="orgOrInst=='Organization'">
                        <div class="col-md-12">
                            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                                <div class="form-group ">
                                    <label class="control-label" for="field_workArea"
                                           translate="stepApp.hrEmpPreGovtJobInfo.workarea">Work Area</label>
                                    <select class="form-control" id="field_workArea" name="workArea" ng-model="workArea"
                                            ng-change="loadModelByWorkArea(workArea)"
                                            ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id">
                                        <option value="">Select Work Area</option>
                                    </select>
                                    <span class="help">No of Employee: {{hremployeeinfos.length}}</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                                <div class="form-group ">
                                    <label class="control-label" translate="stepApp.hrEmpPreGovtJobInfo.employeeInfo"
                                           for="field_employeeInfo">employeeInfo</label>
                                    <div class="input-margin">
                                        <input type="text" class="form-control autocomplete" autocomplete="off"
                                               ng-model="hrEmpPreGovtJobInfo.employeeInfo"
                                               ng-blur="loadHrEmployee(hrEmpPreGovtJobInfo)"
                                               typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfos | filter:$viewValue'
                                               id="field_employeeInfo" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="(orgOrInst=='Institute')" class="col-md-6 col-lg-6">
                        <label class="control-label" translate="stepApp.hrEmpChildrenInfo.employeeInfo"
                               for="field_employeeInfo">employeeInfo</label>
                        <div class="input-margin">
                            <input type="text" class="form-control autocomplete" autocomplete="off"
                                   ng-model="hrEmpPreGovtJobInfo.employeeInfo"
                                   typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfosOfInstitute | filter:$viewValue'
                                   id="field_employeeInfo" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 " ng-hide="hrEmpPreGovtJobInfo.employeeInfo.fullName ==null">
                        <table class="table table-bordered table-responsive">
                            <tbody class="hrm-info-table">
                            <tr>
                                <td><strong>Name: </strong></td>
                                <td>{{hrEmpPreGovtJobInfo.employeeInfo.fullName}}</td>
                                <td><strong>Employee ID:</strong></td>
                                <td>{{hrEmpPreGovtJobInfo.employeeInfo.employeeId}}</td>
                            </tr>
                            <tr>
                                <td><strong>Contact No:</strong></td>
                                <td>{{hrEmpPreGovtJobInfo.employeeInfo.mobileNumber}}</td>
                                <td><strong>Email:</strong></td>
                                <td>{{hrEmpPreGovtJobInfo.employeeInfo.emailAddress}}</td>
                            </tr>
                            <tr>
                                <td><strong>Section:</strong></td>
                                <td>{{hrEmpPreGovtJobInfo.employeeInfo.departmentInfo.departmentInfo.departmentName}}
                                </td>
                                <td><strong>Designation:</strong></td>
                                <td>
                                    {{hrEmpPreGovtJobInfo.employeeInfo.designationInfo.designationInfo.designationName}}
                                </td>
                            </tr>
                            <tr>
                                <td ng-if="hrEmpPreGovtJobInfo.employeeInfo.workAreaDtl.name">
                                    <strong>Organization:</strong></td>
                                <td ng-if="hrEmpPreGovtJobInfo.employeeInfo.workAreaDtl.name">
                                    {{hrSpouseInfo.employeeInfo.workAreaDtl.name}}
                                </td>
                                <td ng-if="hrEmpPreGovtJobInfo.employeeInfo.institute.name"><strong>Institute:</strong>
                                </td>
                                <td ng-if="hrEmpPreGovtJobInfo.employeeInfo.institute.name">
                                    {{hrSpouseInfo.employeeInfo.workAreaDtl.name}}
                                </td>
                                <td><strong>Grade: </strong></td>
                                <td>{{hrEmpPreGovtJobInfo.employeeInfo.gradeInfo.gradeCode}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpPreGovtJobInfo.organizationName"
                                   for="field_organizationName">OrganizationName</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="organizationName" only-letters
                                       id="field_organizationName"
                                       ng-model="hrEmpPreGovtJobInfo.organizationName" required/>
                                <div ng-show="editForm.organizationName.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.organizationName.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpPreGovtJobInfo.postName"
                                   for="field_postName">PostName</label>
                            <div class="input-margin">
                                <input type="text" class="form-control" name="postName" id="field_postName" only-letters
                                       ng-model="hrEmpPreGovtJobInfo.postName" required/>
                                <div ng-show="editForm.postName.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.postName.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpPreGovtJobInfo.address"
                                   for="field_address">Address</label>
                            <div class="input-margin">
                        <textarea class="form-control" name="address" id="field_address"
                                  ng-model="hrEmpPreGovtJobInfo.address" required></textarea>
                                <div ng-show="editForm.address.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.address.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpPreGovtJobInfo.fromDate"
                                   for="field_fromDate">FromDate</label>
                            <div class="input-margin">
                                <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.fromDate"
                                       datepicker-options="calendar.dateOptions" close-text="Close"
                                       ng-click="calendar.open($event, 'fromDate')" class="form-control" name="fromDate"
                                       id="field_fromDate" max-date="currentDate"
                                       ng-model="hrEmpPreGovtJobInfo.fromDate" required/>
                                <div ng-show="editForm.fromDate.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.fromDate.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpPreGovtJobInfo.toDate"
                                   for="field_toDate">ToDate</label>
                            <div class="input-margin">
                                <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.toDate"
                                       datepicker-options="calendar.dateOptions" close-text="Close"
                                       ng-click="calendar.open($event, 'toDate')" class="form-control" name="toDate"
                                       id="field_toDate" min-date="hrEmpPreGovtJobInfo.fromDate"
                                       ng-model="hrEmpPreGovtJobInfo.toDate" required/>
                                <div ng-show="editForm.toDate.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.toDate.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpPreGovtJobInfo.salary"
                                   for="field_salary">Salary</label>
                            <div class="input-margin">
                                <input type="number" class="form-control" name="salary" id="field_salary" min="0" oninput="validity.valid||(value='');"
                                       ng-model="hrEmpPreGovtJobInfo.salary" required/>
                                <div ng-show="editForm.salary.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.salary.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.salary.$error.number" translate="entity.validation.number">
                                        This field should be a number.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpPreGovtJobInfo.comments"
                                   for="field_comments">Comments</label>
                            <div class="input-margin">
                        <textarea class="form-control" name="comments" id="field_comments"
                                  ng-model="hrEmpPreGovtJobInfo.comments"></textarea>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="form-group ">
                            <label class="control-label"
                                   translate="stepApp.hrEmpPreGovtJobInfo.activeStatus">ActiveStatus</label>
                            <div class="input-margin">
                    <span>
                        <input type="radio" data-ng-model="hrEmpPreGovtJobInfo.activeStatus" name="activeStatus"
                               data-ng-value="true">&nbsp;<span translate="stepApp.hrEmpPreGovtJobInfo.active"></span>&nbsp;|&nbsp;
                        <input type="radio" data-ng-model="hrEmpPreGovtJobInfo.activeStatus" name="activeStatus"
                               data-ng-value="false">&nbsp;<span
                        translate="stepApp.hrEmpPreGovtJobInfo.inactive"></span>
                    </span>
                                <div ng-show="editForm.activeStatus.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.activeStatus.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    onclick="window.history.back()">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;<span
                translate="entity.action.cancel">cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="hrEmpPreGovtJobInfo.id == null" translate="entity.action.save">Save</span>
                <span ng-show="hrEmpPreGovtJobInfo.id != null" translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>
