<div>
    <ng-include src="'scripts/app/entities/auditLog/audit-log-left-menu.html'"></ng-include>

    <div class="col-md-9 lbl-dash">
        <div class="col-md-12 common-list">
            <h2 translate="stepApp.auditLog.home.dashboard">dashboard</h2>

        </div>
    </div>
</div>
