<div class="col-md-3 no-print padding-lf0">
    <ul class="nav nav-list bs-docs-sidenav su_btn_center">
        <li  has-any-authority="ROLE_ADMIN">
            <a ui-sref-active="active" ui-sref="auditLog.dashboard" data-toggle="collapse" data-target=".navbar-collapse.in">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                <span translate="global.menu.entities.dashboard">auditLog</span>
            </a>
        </li>

        <li  has-any-authority="ROLE_ADMIN">
            <a ui-sref-active="active" ui-sref="auditLog" data-toggle="collapse" data-target=".navbar-collapse.in">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                <span translate="global.menu.entities.auditLog">auditLog</span>
            </a>
        </li>
       <!-- <li  has-any-authority="ROLE_ADMIN">
            <a ui-sref-active="active" ui-sref="auditLogHistory" data-toggle="collapse" data-target=".navbar-collapse.in">
                <i class="fa fa-history" aria-hidden="true"></i>
                <span translate="global.menu.entities.auditLogHistory">auditLogHistory</span>
            </a>
        </li>-->
        <li   has-any-authority="ROLE_ADMIN">
            <a ui-sref-active="active" ui-sref="user-management" data-toggle="collapse" data-target=".navbar-collapse.in">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span translate="global.menu.admin.activeUsers">activeUsers</span>
            </a>
        </li>
        <li  has-any-authority="ROLE_ADMIN">
            <a ui-sref-active="active" ui-sref="user-management-blocked" data-toggle="collapse" data-target=".navbar-collapse.in">
                <i class="fa fa-user-times" aria-hidden="true"></i>
                <span translate="global.menu.admin.blockedUsers">blockedUsers</span>
            </a>
        </li>
        <li  has-any-authority="ROLE_ADMIN">
            <a ui-sref-active="active" ui-sref="audits" data-toggle="collapse" data-target=".navbar-collapse.in">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span translate="global.menu.admin.loginLogs">loginLogs</span>
            </a>
        </li>
        <li  has-any-authority="ROLE_ADMIN">
            <a ui-sref-active="active" ui-sref="dmlAuditLogHistory" data-toggle="collapse"
               data-target=".navbar-collapse.in">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span translate="global.menu.admin.dmlAuditLogHistory">dmlAuditLogHistory</span>
            </a>
        </li>
        <li>
            <a ui-sref="ReportEngine.module({module: 'at'})" ui-sref-active="active">
                <i class="fa fa-pencil-square-o"></i>
                <span translate="global.menu.report"></span>
            </a>
        </li>
        <!--<li ui-sref-active="active"><a ui-sref="audits"><span class="glyphicon glyphicon-bell"></span>-->
        <!--&#xA0;<span translate="global.menu.admin.audits">Audits</span></a></li>-->
        <!--<li ui-sref-active="active"><a ui-sref="user-management"><span-->
        <!--class="glyphicon glyphicon-user"></span>-->
        <!--&#xA0;<span translate="global.menu.admin.user-management">User management</span></a>-->
        <!--</li>-->
    </ul>
    <!--<ul class="custom-menu">
        <li>
            <a href=""   ui-sref-active="active"><i class="fa fa-tachometer"></i><span translate="global.menu.account.dashboard">Dashboard</span></a>
        </li>
        <li>
            <a href=""  ui-sref-active="active"><i class="fa fa-cloud-upload"></i><span translate="global.menu.entities.dlFileType">Upload limit</span></a>
        </li>
        <li>
            <a href=""  ui-sref-active="active"><i class="fa fa-cogs"></i><span translate="global.menu.entities.dlContTypeSet">dlcontenttype setup</span></a>
        </li>
        <li>
            <a href=""  ui-sref-active="active"><i class="fa fa-cogs"></i><span translate="global.menu.entities.dlContCatSet">dlContCatSet</span></a>
        </li>

    </ul>-->


</div>
