<div>
    <ng-include src="'scripts/app/entities/auditLog/audit-log-left-menu.html'"></ng-include>
    <!--<div class="col-md-3">
        <ul class="custom-menu">
            <li ui-sref-active="active" has-any-authority="ROLE_ADMIN">
                <a ui-sref="auditLog" data-toggle="collapse" data-target=".navbar-collapse.in">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    <span translate="global.menu.entities.auditLog">auditLog</span>
                </a>
            </li>
            <li ui-sref-active="active" has-any-authority="ROLE_ADMIN">
                <a ui-sref="auditLogHistory" data-toggle="collapse" data-target=".navbar-collapse.in">
                    <i class="fa fa-history" aria-hidden="true"></i>
                    <span translate="global.menu.entities.auditLogHistory">auditLogHistory</span>
                </a>
            </li>
            <li ui-sref-active="active" has-any-authority="ROLE_ADMIN">
                <a ui-sref="user-management" data-toggle="collapse" data-target=".navbar-collapse.in">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span translate="global.menu.admin.activeUsers">activeUsers</span>
                </a>
            </li>
            <li ui-sref-active="active" has-any-authority="ROLE_ADMIN">
                <a ui-sref="user-management-blocked" data-toggle="collapse" data-target=".navbar-collapse.in">
                    <i class="fa fa-user-times" aria-hidden="true"></i>
                    <span translate="global.menu.admin.blockedUsers">blockedUsers</span>
                </a>
            </li>
            <li ui-sref-active="active" has-any-authority="ROLE_ADMIN">
                <a ui-sref="audits" data-toggle="collapse" data-target=".navbar-collapse.in">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span translate="global.menu.admin.loginLogs">loginLogs</span>
                </a>
            </li>
            &lt;!&ndash;<li ui-sref-active="active"><a ui-sref="audits"><span class="glyphicon glyphicon-bell"></span>&ndash;&gt;
            &lt;!&ndash;&#xA0;<span translate="global.menu.admin.audits">Audits</span></a></li>&ndash;&gt;
            &lt;!&ndash;<li ui-sref-active="active"><a ui-sref="user-management"><span&ndash;&gt;
            &lt;!&ndash;class="glyphicon glyphicon-user"></span>&ndash;&gt;
            &lt;!&ndash;&#xA0;<span translate="global.menu.admin.user-management">User management</span></a>&ndash;&gt;
            &lt;!&ndash;</li>&ndash;&gt;
        </ul>
        &lt;!&ndash;<ul class="custom-menu">
            <li>
                <a href=""   ui-sref-active="active"><i class="fa fa-tachometer"></i><span translate="global.menu.account.dashboard">Dashboard</span></a>
            </li>
            <li>
                <a href=""  ui-sref-active="active"><i class="fa fa-cloud-upload"></i><span translate="global.menu.entities.dlFileType">Upload limit</span></a>
            </li>
            <li>
                <a href=""  ui-sref-active="active"><i class="fa fa-cogs"></i><span translate="global.menu.entities.dlContTypeSet">dlcontenttype setup</span></a>
            </li>
            <li>
                <a href=""  ui-sref-active="active"><i class="fa fa-cogs"></i><span translate="global.menu.entities.dlContCatSet">dlContCatSet</span></a>
            </li>

        </ul>&ndash;&gt;


    </div>-->
    <div class="col-md-9 lbl-dash padding0">
        <!--<div class="col-md-12 no_padding common-list">
            <h2 translate="stepApp.auditLog.home.title">AuditLogs</h2>
            <div class="col-md-12 no_padding padding-tb no-print">
                <div class="col-md-8 no_padding">
                    <div class="col-md-6 ">
                        <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere' | translate}}">

                    </div>
                    <div class="col-md-6 ">
                        <input type="number" min="1" max="100" class="form-control" ng-model="pageSize"  placeholder="{{'global.home.itemperpage' | translate}}">
                    </div>
                </div>-->
                <!--<div class="col-md-6 no_padding text-right">-->
                <!--<button class="btn btn-primary" ui-sref="auditLog.new">-->
                <!--<span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.auditLog.home.createLabel">Create a new AuditLog</span>-->
                <!--</button>-->
                <!--</div>-->

            <!--</div>-->
        <div class="col-md-12 common-list padding5">
            <h2 translate="stepApp.auditLog.home.title">AuditLogs</h2>
            <div class="col-md-12 padding-tb no-print">
                <div class="col-md-3 no_padding">
                    <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere' | translate}}">
                </div>
                <div class="col-md-3">
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize"  placeholder="{{'global.home.itemperpage' | translate}}">
                </div>
                <div class="col-md-6  text-right no_padding">

                </div>
            </div>


            <div class="modal fade" id="deleteAuditLogConfirmation">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form name="deleteForm" ng-submit="confirmDelete(auditLog.id)">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                        ng-click="clear()">&times;</button>
                                <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                            </div>
                            <div class="modal-body">
                                <p translate="stepApp.auditLog.delete.question"
                                   translate-values="{id: '{{auditLog.id}}'}">Are you sure you want to delete this
                                    AuditLog?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                    translate="entity.action.cancel">Cancel</span>
                                </button>
                                <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                                    translate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-12 table-responsive no_padding">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th translate="global.field.serial">Serial</th>
                        <!--<th translate="global.field.id">ID</th>-->
                        <th translate="stepApp.auditLog.eventTime">EventTime</th>
                        <th translate="stepApp.auditLog.event">Event</th>
                        <th translate="stepApp.auditLog.eventType">EventType</th>
                        <th translate="stepApp.auditLog.status">Status</th>
                        <th>User Name</th>
                        <th translate="stepApp.auditLog.createBy">CreateBy</th>
                        <th translate="stepApp.auditLog.createDate">CreateDate</th>
                        <!--
                        <th translate="stepApp.auditLog.updateBy">UpdateBy</th>
                        <th translate="stepApp.auditLog.updateDate">UpdateDate</th>
                        <th translate="stepApp.auditLog.remarks">Remarks</th>
                        <th translate="stepApp.auditLog.userId">UserId</th>
                        <th translate="stepApp.auditLog.userName">userName</th>
                        <th translate="stepApp.auditLog.userIpAddress">UserIpAddress</th>
                        <th translate="stepApp.auditLog.userMacAddress">UserMacAddress</th>-->
                        <!--<th translate="stepApp.auditLog.deviceName">DeviceName</th>
                        <th translate="stepApp.auditLog.statusAction">StatusAction</th>
                        <th translate="stepApp.auditLog.types">Types</th>-->
                        <th translate="stepApp.auditLog.userBrowser">UserBrowser</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="auditLog in auditLogs  | filter:q | itemsPerPage: pageSize">
                        <td>{{$index+1}}</td>
                        <!--<td><a ui-sref="auditLog.detail({id:auditLog.id})">{{auditLog.id}}</a></td>-->
                        <td>{{auditLog.eventTime | date:'mediumDate'}}</td>
                        <td>{{auditLog.event}}</td>
                        <td>{{auditLog.eventType}}</td>
                        <td>{{auditLog.status ? 'Active For Investigate' : 'Inactive For Investigate'}}</td>
                        <td><span class="label label-danger" ng-init="loadUserName(auditLog.createBy, $index)">{{loadUserNameList[$index]}}</span></td>
                        <td><span class="label label-warning" ng-click="loadUser(auditLog.createBy)">{{auditLog.createBy}}</span></td>
                        <!--<td>{{auditLog.createBy}}</td>-->
                        <td>{{auditLog.createDate | date:'mediumDate'}}</td>
                        <!--
                        <td>{{auditLog.updateBy}}</td>
                        <td>{{auditLog.updateDate | date:'mediumDate'}}</td>
                        <td>{{auditLog.remarks}}</td>
                        <td>{{auditLog.userId}}</td>
                        <td>{{auditLog.userName}}</td>
                        <td>{{auditLog.userIpAddress}}</td>
                        <td>{{auditLog.userMacAddress}}</td>
                        <td>{{auditLog.deviceName}}</td>-->
                        <!--<td>{{auditLog.statusAction}}</td>
                        <td>{{auditLog.types}}</td>-->
                        <td>{{auditLog.userBrowser}}</td>
                        <td class="text-right no-print">
                            <button type="submit"
                                    ui-sref="auditLog.detail({id:auditLog.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                                translate="entity.action.view"> View</span>
                            </button>
                            <!--<button type="submit"
                                    ui-sref="auditLog.edit({id:auditLog.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                            </button>
                            <button type="submit"
                                    ng-click="delete(auditLog.id)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                            </button>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav class="no-print">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                             template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
                </nav>
            </div>
        </div>
    </div>
</div>
