<ng-include src="'scripts/app/entities/auditLog/audit-log-left-menu.html'"></ng-include>
<div class="col-md-9 common-table lbl-dash padding5">
    <h2><span translate="stepApp.auditLog.detail.title">AuditLog</span></h2>
    <div class="table-responsive">
        <table class="table table-striped bteb-table">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.auditLog.eventTime">EventTime</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;:&nbsp;{{auditLog.eventTime | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.auditLog.event">Event</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;:&nbsp;{{auditLog.event}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.auditLog.eventType">EventType</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;:&nbsp;{{auditLog.eventType}}</span>
                </td>
                <td>
                    <span translate="stepApp.auditLog.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;:&nbsp;{{auditLog.status ? 'Active For Investigate' : 'Inactive For Investigate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.auditLog.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;:&nbsp;{{auditLog.createBy}}</span>
                </td>
                <td>
                    <span translate="stepApp.auditLog.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;:&nbsp;{{auditLog.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.auditLog.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;:&nbsp;{{auditLog.updateBy}}</span>
                </td>
                <td>
                    <span translate="stepApp.auditLog.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;:&nbsp;{{auditLog.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.auditLog.remarks">Remarks</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;:&nbsp;{{auditLog.remarks}}</span>
                </td>
                <td>
                    <span translate="stepApp.auditLog.userId">UserId</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;:&nbsp;{{auditLog.userId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.auditLog.userIpAddress">UserIpAddress</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;:&nbsp;{{auditLog.userIpAddress}}</span>
                </td>
                <td>
                    <span translate="stepApp.auditLog.userMacAddress">UserMacAddress</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;:&nbsp;{{auditLog.userMacAddress}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.auditLog.deviceName">DeviceName</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;:&nbsp;{{auditLog.deviceName}}</span>
                </td>
                <td>
                    <span translate="stepApp.auditLog.statusAction">StatusAction</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;:&nbsp;{{auditLog.statusAction}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.auditLog.types">Types</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;:&nbsp;{{auditLog.types}}</span>
                </td>
                <td>
                    <span translate="stepApp.auditLog.userBrowser">UserBrowser</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;:&nbsp;{{auditLog.userBrowser}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
