<div class="col-md-12 common-dialogue">
    <h4 ng-show="assetSupplier.id == null" id="myAssetSupplierLabel"
        translate="stepApp.assetSupplier.home.createOrEditLabel">Create or edit a AssetSupplier</h4>
    <h4 ng-show="assetSupplier.id != null" id="myAssetSupplierLabel" translate="stepApp.assetSupplier.home.EditLabel">
        Create or edit a AssetSupplier</h4>
    <form  name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <div class="col-md-12 padding-tb">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetSupplier.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           ng-model="assetSupplier.name" required/>
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetSupplier.contactNo"
                           for="field_contactNo">ContactNo</label>
                    <input type="text" require ng-pattern="/^\d{0,11}(\.\d{1,11})?$/" class="form-control"
                           name="contactNo" id="field_contactNo"
                           ng-model="assetSupplier.contactNo"
                           ng-remote-method="GET"
                           ng-remote-throttle="500"
                           ng-minlength=11 ng-maxlength=11
                           placeholder="{{'stepApp.assetSupplier.contactNo' | translate}}"
                           required/>
                    <span class="message validating" ng-show="editForm.contactNo.$pending">Validating...</span>

                    <div ng-show="editForm.contactNo.$invalid">
                        <p style="color:darkgreen"
                           ng-show="editForm.contactNo.$error.ngRemoteValidate">
                            This area number already exist!
                        </p>
                        <p class="help-block"
                           ng-show="editForm.contactNo.$error.required && editForm.contactNo.$dirty"
                           translate="entity.validation.required">
                            This field is required.
                        </p>

                        <p class="help-block"
                           ng-show="editForm.contactNo.$error.minlength" translate="entity.validation.minlength"
                           translate-value-min="11">
                            This field is required to be at least 11 characters.
                        </p>
                    </div>
                    <div ng-show="editForm.contactNo.$invalid">
                        <p class="help-block"
                           ng-show="editForm.contactNo.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetSupplier.products"
                           for="field_products">Products</label>
                    <textarea type="text" class="form-control" name="products" id="field_products"
                           ng-model="assetSupplier.products"
                           required/>
                    <div ng-show="editForm.products.$invalid">
                        <p class="help-block"
                           ng-show="editForm.products.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetSupplier.address"
                           for="field_address">Address</label>
                    <textarea type="text" class="form-control" name="address" id="field_address"
                              ng-model="assetSupplier.address"
                              required/>
                    <div ng-show="editForm.address.$invalid">
                        <p class="help-block"
                           ng-show="editForm.address.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetSupplier.telephoneNo" for="field_telephoneNo">TelephoneNo</label>
                    <input type="text" class="form-control" require ng-pattern="/^\d{0,11}(\.\d{1,11})?$/"
                           name="telephoneNo" id="field_telephoneNo"
                           ng-model="assetSupplier.telephoneNo"
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetSupplier.email" for="field_email">Email</label>
                    <input type="email" class="form-control" name="email" id="field_email"
                           ng-model="assetSupplier.email"
                           required/>
                        <span ng-show="editForm.email.$dirty && editForm.email.$invalid">
                            <span class="control-label" style="color:red" ng-show="editForm.email.$error.email">Invalid email address.</span>
                        </span>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetSupplier.webSite"
                           for="field_webSite">WebSite</label>
                    <input type="text" class="form-control" name="webSite" id="field_webSite"
                           ng-model="assetSupplier.webSite"
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetSupplier.faxNo" for="field_faxNo">FaxNo</label>
                    <input type="text" class="form-control" name="faxNo" id="field_faxNo"
                           ng-model="assetSupplier.faxNo"
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class=" control-label" translate="stepApp.assetSupplier.status">Status</label>
                    <div class="input-margin">
                        <label class="radio-inline">
                            <input type="radio" ng-checked="assetSupplier.status == true"
                                   name="optradio" name="status" value="true"
                                   ng-model="assetSupplier.status"><span translate="global.home.active">active</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-checked="assetSupplier.status == false"
                                   name="optradio" name="status" value="false"
                                   ng-model="assetSupplier.status"><span translate="global.home.inactive">inactive</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label translate="stepApp.assetSupplier.countryOfOrigin" for="field_countryOfOrigin">countryOfOrigin</label>
                    <select class="form-control" id="field_countryOfOrigin" name="countryOfOrigin"
                            ng-model="assetSupplier.countryOfOrigin"
                            ng-options="country as country.name for country in countrys track by country.id">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-info" onclick="window.history.back()"><i
                    class="fa fa-angle-double-left"></i><span translate="entity.action.back">Back</span></button>
                <button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid || editForm.$submitted"><i
                    class="fa fa-hdd-o"></i>
                    <span ng-show="assetSupplier.id == null" translate="entity.action.save">Save</span>
                    <span ng-show="assetSupplier.id != null" translate="entity.action.update">Save</span>
                </button>
            </div>
        </div>
    </form>
</div>
