
<div class="common-table">
    <h2 translate="stepApp.assetSupplier.detail.title">AssetSupplier</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.assetSupplier.name">Name</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetSupplier.name}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.assetSupplier.supplierId">supplierId</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetSupplier.supplierId}}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span translate="stepApp.assetSupplier.address">address</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetSupplier.address}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.assetSupplier.products">products</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetSupplier.products}}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span translate="stepApp.assetSupplier.countryOfOrigin">countryOfOrigin</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetSupplier.countryOfOrigin.name}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.assetSupplier.contactNo">contactNo</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetSupplier.contactNo}}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span translate="stepApp.assetSupplier.telephoneNo">telephoneNo</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetSupplier.telephoneNo}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.assetSupplier.email">email</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetSupplier.email}}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span translate="stepApp.assetSupplier.webSite">webSite</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetSupplier.webSite}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.assetSupplier.faxNo">faxNo</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetSupplier.faxNo}}</span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
