<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myInstBuildingLabel" translate="stepApp.instBuilding.home.createOrEditLabel">Create or edit a InstBuilding</h4>
    </div>
    <div class="modal-body">
        <div class="form-group col-md-6">
            <label translate="stepApp.instBuilding.totalArea" for="field_totalArea">Total Area</label>
            <input type="text" class="form-control" name="totalArea" id="field_totalArea"
                   ng-model="instBuilding.totalArea"
                   required />
            <div ng-show="editForm.totalArea.$invalid">
                <p class="help-block"
                   ng-show="editForm.totalArea.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label translate="stepApp.instBuilding.totalRoom" for="field_totalRoom">Number of Building</label>
            <input type="number" class="form-control" name="totalRoom" id="field_totalRoom"
                   ng-model="instBuilding.totalRoom" min="0"
                   required />
            <div ng-show="editForm.totalRoom.$invalid">
                <p class="help-block"
                   ng-show="editForm.totalRoom.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.totalRoom.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label translate="stepApp.instBuilding.classRoom" for="field_classRoom">Total Number of Classroom</label>
            <input type="number" class="form-control" name="classRoom" id="field_classRoom"
                   ng-model="instBuilding.classRoom" min="0"
                   required />
            <div ng-show="editForm.classRoom.$invalid">
                <p class="help-block"
                   ng-show="editForm.classRoom.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.classRoom.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label translate="stepApp.instBuilding.officeRoom" for="field_officeRoom">OfficeRoom</label>
            <input type="number" class="form-control" name="officeRoom" id="field_officeRoom"
                   ng-model="instBuilding.officeRoom" min="0"
                   required />
            <div ng-show="editForm.officeRoom.$invalid">
                <p class="help-block"
                   ng-show="editForm.officeRoom.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.officeRoom.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label translate="stepApp.instBuilding.fBathroom" for="field_fBathroom">Number Female's Bathroom</label>
            <input type="number" class="form-control" name="officeRoom" id="field_fBathroom"
                   ng-model="instBuilding.fBathroom" min="0"
                   required />
            <div ng-show="editForm.fBathroom.$invalid">
                <p class="help-block"
                   ng-show="editForm.fBathroom.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.fBathroom.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label translate="stepApp.instBuilding.mBathroom" for="field_mBathroom">Number Male's Bathroom</label>
            <input type="number" class="form-control" name="mBathroom" id="field_mBathroom"
                   ng-model="instBuilding.mBathroom" min="0"
                   required />
            <div ng-show="editForm.mBathroom.$invalid">
                <p class="help-block"
                   ng-show="editForm.mBathroom.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.mBathroom.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
