<div class="col-md-12 common-table padding0">
<h2><span translate="stepApp.hrEmpPublicationInfo.detail.title">HrEmpPublicationInfo</span> of {{hrEmpPublicationInfo.employeeInfo.fullName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPublicationInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrEmpPublicationInfo.employeeInfo.id})">{{hrEmpPublicationInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPublicationInfo.publicationTitle">PublicationTitle</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPublicationInfo.publicationTitle}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPublicationInfo.publicationType">publicationType</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPublicationInfo.publicationType.typeName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPublicationInfo.publicationLink">publicationLink</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPublicationInfo.publicationLink}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPublicationInfo.publicationDate">PublicationDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPublicationInfo.publicationDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPublicationInfo.remarks">Remarks</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPublicationInfo.remarks}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPublicationInfo.publicationDoc">PublicationDoc</span>
                </td>
                <td>
                    <span>
                        <a ng-if="hrEmpPublicationInfo.publicationDocContentType" class="btn btn-primary" ng-click="previewImage(hrEmpPublicationInfo)"><img ng-src="data:image/JPEG;base64,{{hrEmpPublicationInfo.publicationDoc}}" width="40px"></a>
                    </span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPublicationInfo.publicationDocName">PublicationDocName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPublicationInfo.publicationDocName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPublicationInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPublicationInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPublicationInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPublicationInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPublicationInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPublicationInfo.createBy}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpPublicationInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPublicationInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpPublicationInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpPublicationInfo.updateBy}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel"> cancel</span>
    </button>
</div>
