

    <div class="col-md-3">
        <div class="list-group" ng-controller="NavbarController">

            <a class="list-group-item" ui-sref="dashboard" ui-sref-active="active">
                <span class="glyphicon glyphicon-dashboard"></span>
                <span translate="global.menu.account.dashboard">Dashboard</span>
            </a>

            <a class="list-group-item" ui-sref="resume.view" ui-sref-active="active">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span translate="global.menu.account.viewResume">View Resume</span>
            </a>
            <a class="list-group-item" ui-sref="resume" ui-sref-active="active">
                <span class="glyphicon glyphicon-edit"></span>
                <span translate="global.menu.account.editresume">Edit Resume</span>
            </a>
            <a class="list-group-item" ui-sref="change-password" ui-sref-active="active">
                <span class="glyphicon glyphicon-edit"></span>
                <span translate="global.menu.account.change-password">Change Password</span>
            </a>
            <a class="list-group-item" ui-sref="external-cv" ui-sref-active="active">
                <span class="glyphicon glyphicon-upload"></span>
                <span translate="global.menu.account.external-cv">External CV</span>
            </a>

        </div>
    </div>

    <div class="col-md-9">
        <h2 class="page-header" translate="global.menu.account.viewResume">My resume</h2>

    </div>

