<div class="col-md-12 common-list">
    <h2 translate="stepApp.employeeLoanMonthlyDeduction.home.title">Employee Loan Monthly Deduction</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary" ui-sref="employeeLoanInfo.employeeLoanMonthlyDeduction.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.employeeLoanMonthlyDeduction.home.createLabel">Create a new Employee Loan Monthly Deduction</span>
            </button>
        </div>
    </div>
    <!--<div class="col-sm-12 padding-tb ">
        <div class="col-md-4 no_padding">
            <b><span translate="global.home.searchhere">Search Here :</span></b>
            <div class="input-group">
                <span class="input-group-addon elmsbtn" id="basic-addon1"><i class="fa fa-search"></i></span>
                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
            </div>
        </div>
        <div class="col-md-4 "><b><span translate="global.home.itemperpage">Items per page:</span></b>
            <div class="input-group">
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
        </div>
        <div class="col-md-4 text-right no_padding">
            <button class="btn btn-primary dlbtn dlbtn-top" ui-sref="employeeLoanInfo.employeeLoanMonthlyDeduction.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.employeeLoanMonthlyDeduction.home.createLabel">Create a new Employee Loan Monthly Deduction</span>
            </button>
        </div>
    </div>-->
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <th translate="stepApp.employeeLoanMonthlyDeduction.employeeLoanRequisitionForm">
                    employeeLoanRequisitionForm
                </th>
                <th translate="stepApp.employeeLoanMonthlyDeduction.instEmployee">instEmployee</th>

                <th translate="stepApp.employeeLoanMonthlyDeduction.month">Month</th>
                <th translate="stepApp.employeeLoanMonthlyDeduction.year">Year</th>
                <th translate="stepApp.employeeLoanMonthlyDeduction.totalLoanAprv">DeductedAmount</th>
                <th translate="stepApp.employeeLoanMonthlyDeduction.totalInterest">Reason</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
           <!-- <tr ng-repeat="employeeLoanMonthlyDeduction in employeeLoanMonthlyDeductions track by employeeLoanMonthlyDeduction.id">-->
            <tr dir-paginate="employeeLoanMonthlyDeduction in employeeLoanMonthlyDeductions | filter:q | itemsPerPage: pageSize" current-page="currentPage">
                <td>{{pageSize*(currentPage-1)+$index+1}}</td>
                <td>
                    <a ui-sref="employeeLoanRequisitionForm.detail({id:employeeLoanMonthlyDeduction.employeeLoanRequisitionForm.id})">{{employeeLoanMonthlyDeduction.loanRequisitionForm.loanRequisitionCode}}</a>
                </td>
                <td>
                    <a ui-sref="employeeInfo.detail({id:employeeLoanMonthlyDeduction.employeeInfo.employeeId})">{{employeeLoanMonthlyDeduction.employeeInfo.employeeId}}</a>
                </td>
            <td>{{employeeLoanMonthlyDeduction.month}}</td>
                <td>{{employeeLoanMonthlyDeduction.year}}</td>
                <td>{{employeeLoanMonthlyDeduction.totalLoanAmountApproved}}</td>
                <td>{{employeeLoanMonthlyDeduction.totalInterestAmount}}</td>


                <td class="text-right">
                    <button type="submit"
                            ui-sref="employeeLoanInfo.employeeLoanMonthlyDeduction.detail({id:employeeLoanMonthlyDeduction.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <!--<button type="submit"-->
                            <!--ui-sref="employeeLoanInfo.employeeLoanMonthlyDeduction.edit({id:employeeLoanMonthlyDeduction.id})"-->
                            <!--class="btn btn-primary btn-sm">-->
                        <!--<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span-->
                        <!--translate="entity.action.edit"> Edit</span>-->
                    <!--</button>-->
                    <!--<button type="submit"-->
                            <!--ng-click="employeeLoanInfo.employeeLoanMonthlyDeduction.delete(employeeLoanMonthlyDeduction.id)"-->
                            <!--class="btn btn-danger btn-sm">-->
                        <!--<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span-->
                        <!--translate="entity.action.delete"> Delete</span>-->
                    <!--</button>-->
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
