<div class="common-table">

<h2><span translate="stepApp.almLeaveRule.detail.title">AlmLeaveRule</span> </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.almLeaveRule.almLeaveType">almLeaveType</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="AlmLeaveType.detail({id:almLeaveRule.almLeaveType.id})">{{almLeaveRule.almLeaveType.leaveTypeName}}</a>
                </td>

                <td>
                    <span translate="stepApp.almLeaveRule.leaveRuleName">LeaveRuleName</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.leaveRuleName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almLeaveRule.noOfDaysEntitled">NoOfDaysEntitled</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.noOfDaysEntitled}}</span>
                </td>

                <td>
                    <span translate="stepApp.almLeaveRule.maxConsecutiveLeaves">MaxConsecutiveLeaves</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.maxConsecutiveLeaves}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almLeaveRule.minGapBetweenTwoLeaves">MinGapBetweenTwoLeaves</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.minGapBetweenTwoLeaves}}</span>
                </td>

                <td>
                    <span translate="stepApp.almLeaveRule.noOfInstanceAllowed">NoOfInstanceAllowed</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.noOfInstanceAllowed}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almLeaveRule.isNegBalanceAllowed">IsNegBalanceAllowed</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.isNegBalanceAllowed}}</span>
                </td>

                <td>
                    <span translate="stepApp.almLeaveRule.maxNegBalance">MaxNegBalance</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.maxNegBalance}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almLeaveRule.applicableGender">ApplicableGender</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.almGender}}</span>
                </td>

                <td>
                    <span translate="stepApp.almLeaveRule.applicableServiceLength">ApplicableServiceLength</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.applicableServiceLength}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almLeaveRule.isCertificateRequired">IsCertificateRequired</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.isCertificateRequired}}</span>
                </td>

                <td>
                    <span translate="stepApp.almLeaveRule.requiredNoOfDays">RequiredNoOfDays</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.requiredNoOfDays}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almLeaveRule.isEarnLeave">IsEarnLeave</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.isEarnLeave}}</span>
                </td>

                <td>
                    <span translate="stepApp.almLeaveRule.almEarningMethod">EarningMethod</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="AlmEarningMethod.detail({id:almLeaveRule.almEarningMethod.id})">{{almLeaveRule.almEarningMethod.earningMethodName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almLeaveRule.almEarningFrequency">EarningFrequency</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.earningFreequency}}</span>
                    <a class="form-control-static" ui-sref="AlmEarningFrequency.detail({id:almLeaveRule.almEarningFrequency.id})">{{almLeaveRule.almEarningFrequency.earningFrequencyName}}</a>
                </td>

                <td>
                    <span translate="stepApp.almLeaveRule.daysRequiredToEarn">DaysRequiredToEarn</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.daysRequiredToEarn}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almLeaveRule.noOfLeavesEarned">NoOfLeavesEarned</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.noOfLeavesEarned}}</span>
                </td>

                <td>
                    <span translate="stepApp.almLeaveRule.isLeaveWithoutPay">IsLeaveWithoutPay</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.isLeaveWithoutPay}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almLeaveRule.isCarryForward">IsCarryForward</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.isCarryForward}}</span>
                </td>

                <td>
                    <span translate="stepApp.almLeaveRule.maxCarryForward">MaxCarryForward</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.maxCarryForward}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almLeaveRule.maxBalanceForward">MaxBalanceForward</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.maxBalanceForward}}</span>
                </td>

                <td>
                    <span translate="stepApp.almLeaveRule.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{almLeaveRule.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>


            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
