<div class="col-md-12 common-table">
    <h2>Seniority Selection of Lecturer's</h2>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label translate="stepApp.institute.instCode" for="field_instituteInfo">Institute Code </label>
                <div angucomplete-alt
                     id="field_instituteInfo"
                     placeholder="Institute Code"
                     pause="200"
                     selected-object="institute"
                     remote-url="api/institute/findByTypingInstituteCode/"
                     title-field="code"
                     description-field="description"
                     minlength="3"
                     input-class="form-control form-control-small"
                     match-class="highlight"
                     selected-object-data="service" required>
                </div>
            </div>
        </div>
        <div class="col-md-12" >
            <h2> Institute Information</h2>
            <table class="table">
                <tr>
                    <td>Name:</td>
                    <td>{{instituteInfo.name}}</td>
                    <td>Code:</td>
                    <td>{{instituteInfo.code}}</td>
                </tr>
                <tr>
                    <td>Date of Establishment:</td>
                    <td>{{instituteInfo.dateOfEstablishment}}</td>
                    <td>MPO Date:</td>
                    <td>{{instituteInfo.dateOfMpo}}</td>
                </tr>
                <tr>
                    <td>Post Office:</td>
                    <td>{{instituteInfo.postOffice}}</td>
                    <td>MPO Enlishted: </td>
                    <td>
                        <span ng-show="instituteInfo.mpoEnlisted==true">Yes</span>
                        <span ng-show="instituteInfo.mpoEnlisted==false">No</span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Employee Name:</th>
                    <th>Code:</th>
                    <th>Designation:</th>
                    <th>Date Of Birth:</th>
                    <th>Joining Date: </th>
                    <th>MPO Date:</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="instEmployee in instEmployees track by instEmployee.id">
                    <td>{{instEmployee.name}}</td>
                    <td>{{instEmployee.code}}</td>
                    <td>{{instEmployee.designationSetup.designationInfo.designationName}}</td>
                    <td>{{instEmployee.code}}</td>
                    <td>{{instEmployee.joiningDate}}</td>
                    <td>{{instEmployee.mpoActiveDate}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
