<div class="common-table">

<h2><span translate="stepApp.almWorkingUnit.detail.title">AlmWorkingUnit</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr style="background: #558b2f;  font-weight: bold">
                <td colspan="6" style="color:#fff;">
                    <span translate="stepApp.almWorkingUnit.almShiftSetup">almShiftSetup</span>
                    &nbsp; &nbsp;: &nbsp; &nbsp; <a class="form-control-static" ui-sref="AlmShiftSetup.detail({id:almWorkingUnit.almShiftSetup.id})">{{almWorkingUnit.almShiftSetup.shiftName}}</a>
                </td>
            </tr>
            <tr style="background: #c9e4b6;  font-weight: bold">
                <td colspan="6" style="color:#555;">
                    <span translate="stepApp.almWorkingUnit.sunday">Sunday</span>  &nbsp; &nbsp;: &nbsp; &nbsp;
                    <span class="form-control-static">{{almWorkingUnit.sunday ? 'Yes' : 'No'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almWorkingUnit.sunStartTime">SunStartTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.sunStartTime != "null:null" ? almWorkingUnit.sunStartTime : ''}}</span>
                </td>

                <td>
                    <span translate="stepApp.almWorkingUnit.sunDelayTime">SunDelayTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.sunDelayTime != "null:null" ? almWorkingUnit.sunDelayTime : ''}}</span>
                </td>

                <td>
                    <span translate="stepApp.almWorkingUnit.sunEndTime">SunEndTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.sunEndTime != "null:null" ? almWorkingUnit.sunEndTime : ''}}</span>
                </td>
            </tr>
            <tr style="background: #c9e4b6;  font-weight: bold">
                <td colspan="6" style="color:#555;">
                    <span translate="stepApp.almWorkingUnit.monday">Monday</span>
                    &nbsp; &nbsp;: &nbsp; &nbsp;<span class="form-control-static">{{almWorkingUnit.monday ? 'Yes' : 'No'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almWorkingUnit.monStartTime">MonStartTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.monStartTime != "null:null" ? almWorkingUnit.monStartTime : ''}}</span>
                </td>

                <td>
                    <span translate="stepApp.almWorkingUnit.monDelayTime">MonDelayTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.monDelayTime != "null:null" ? almWorkingUnit.monDelayTime : ''}}</span>
                </td>

                <td>
                    <span translate="stepApp.almWorkingUnit.monEndTime">MonEndTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.monEndTime != "null:null"  ? almWorkingUnit.monEndTime : ''}}</span>
                </td>
            </tr>
            <tr>
            <tr style="background: #c9e4b6;  font-weight: bold">
                <td colspan="6" style="color:#555;">
                    <span translate="stepApp.almWorkingUnit.tuesday">Tuesday</span>  &nbsp; &nbsp;: &nbsp; &nbsp;
                    <span class="form-control-static">{{almWorkingUnit.tuesday  ? 'Yes' : 'No'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almWorkingUnit.tueStartTime">TueStartTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.tueStartTime != "null:null" ? almWorkingUnit.tueStartTime : ''}}</span>
                </td>

                <td>
                    <span translate="stepApp.almWorkingUnit.tueDelayTime">TueDelayTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.tueDelayTime != "null:null" ? almWorkingUnit.tueDelayTime : ''}}</span>
                </td>

                <td>
                    <span translate="stepApp.almWorkingUnit.tueEndTime">TueEndTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.tueEndTime != "null:null"  ? almWorkingUnit.tueEndTime : ''}}</span>
                </td>
            </tr>
            <tr style="background: #c9e4b6;  font-weight: bold">
                <td colspan="6" style="color:#555;">
                    <span translate="stepApp.almWorkingUnit.wednesday">Wednesday</span>  &nbsp; &nbsp;: &nbsp; &nbsp;
                    <span class="form-control-static">{{almWorkingUnit.wednesday ? 'Yes' : 'No'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almWorkingUnit.wedStartTime">WedStartTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.wedStartTime != "null:null" ? almWorkingUnit.wedStartTime : ''}}</span>
                </td>

                <td>
                    <span translate="stepApp.almWorkingUnit.wedDelayTime">WedDelayTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.wedDelayTime != "null:null"  ? almWorkingUnit.wedDelayTime : ''}}</span>
                </td>

                <td>
                    <span translate="stepApp.almWorkingUnit.wedEndTime">WedEndTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.wedEndTime != "null:null" ? almWorkingUnit.wedEndTime : ''}}</span>
                </td>
            </tr>
            <tr style="background: #c9e4b6;  font-weight: bold">
                <td colspan="6" style="color:#555;">
                    <span translate="stepApp.almWorkingUnit.thursday">Thursday</span>  &nbsp; &nbsp;: &nbsp; &nbsp;
                    <span class="form-control-static">{{almWorkingUnit.thursday ? 'Yes' : 'No'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almWorkingUnit.thuStartTime">ThuStartTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.thuStartTime != "null:null" ? almWorkingUnit.thuStartTime : ''}}</span>
                </td>

                <td>
                    <span translate="stepApp.almWorkingUnit.thuDelayTime">ThuDelayTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.thuDelayTime != "null:null" ? almWorkingUnit.thuDelayTime : ''}}</span>
                </td>

                <td>
                    <span translate="stepApp.almWorkingUnit.thuEndTime">ThuEndTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.thuEndTime != "null:null" ? almWorkingUnit.thuEndTime : ''}}</span>
                </td>
            </tr>
            <tr style="background: #c9e4b6;  font-weight: bold">
                <td colspan="6" style="color:#555;">
                    <span translate="stepApp.almWorkingUnit.friday">Friday</span>  &nbsp; &nbsp;: &nbsp; &nbsp;
                    <span class="form-control-static">{{almWorkingUnit.friday ? 'Yes' : 'No'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almWorkingUnit.friStartTime">FriStartTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.friStartTime != "null:null" ? almWorkingUnit.friStartTime : '' }}</span>
                </td>

                <td>
                    <span translate="stepApp.almWorkingUnit.friDelayTime">FriDelayTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.friDelayTime != "null:null"  ? almWorkingUnit.friDelayTime : ''}}</span>
                </td>

                <td>
                    <span translate="stepApp.almWorkingUnit.friEndTime">FriEndTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.friEndTime != "null:null"  ? almWorkingUnit.friEndTime : ''}}</span>
                </td>
            </tr>
            <tr style="background: #c9e4b6;  font-weight: bold">
                <td colspan="6" style="color:#555;">
                    <span translate="stepApp.almWorkingUnit.saturday">Saturday</span> &nbsp; &nbsp;: &nbsp; &nbsp;
                    <span class="form-control-static">{{almWorkingUnit.saturday ? 'Yes' : 'No'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almWorkingUnit.satStartTime">SatStartTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.satStartTime != "null:null" ? almWorkingUnit.satStartTime : ''}}</span>
                </td>

                <td>
                    <span translate="stepApp.almWorkingUnit.satDelayTime">SatDelayTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.satDelayTime != "null:null" ? almWorkingUnit.satDelayTime : ''}}</span>
                </td>

                <td>
                    <span translate="stepApp.almWorkingUnit.satEndTime">SatEndTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.satEndTime != "null:null" ? almWorkingUnit.satEndTime : ''}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almWorkingUnit.effectiveDate">EffectiveDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.effectiveDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almWorkingUnit.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{almWorkingUnit.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>


            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
