
    <div class="col-md-3 padding0">
        <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
    </div>

    <div class="col-md-9 lbl-dash">
        <div class="col-md-12 common-table no_padding">
                <h2> <span translate="stepApp.payScale.detail.title">PayScale</span> </h2>
        <div class="education_q">
                <table class="table table-responsive table-striped">
                    <!--<thead>
                    <tr>
                        <th translate="entity.detail.field">Field</th>
                        <th translate="entity.detail.value">Value</th>
                    </tr>
                    </thead>-->
                    <tbody>
                    <tr>
                        <td>
                            <span translate="stepApp.payScale.code">Code</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{payScale.code}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.payScale.payScaleClass">PayScaleClass</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{payScale.payScaleClass}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.payScale.grade">Grade</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{payScale.grade}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.payScale.gradeName">GradeName</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{payScale.gradeName}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.payScale.basicAmount">BasicAmount</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{payScale.basicAmount}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.payScale.houseAllowance">HouseAllowance</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{payScale.houseAllowance}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.payScale.medicalAllowance">MedicalAllowance</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{payScale.medicalAllowance}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.payScale.welfareAmount">WelfareAmount</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{payScale.welfareAmount}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.payScale.retirementAmount">RetirementAmount</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{payScale.retirementAmount}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.payScale.date">Date</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{payScale.date | date:'mediumDate'}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.payScale.manager">manager</span>
                        </td>
                        <td>
                            {{payScale.manager.login}}
                        </td>
                    </tr>
                    </tbody>
                </table>

            <button type="submit"
                    onclick="window.history.back()"
                    class="btn btn-info no-print">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                translate="entity.action.back"> Back</span>
            </button>
            </div>

        </div>
    </div>
</div>
