<div class="col-md-12 common-dialogue padding-right0 padding-left5">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="hrDesignationSetup.id == null" class="modal-title" id="myHrDesignationSetupLabel"
            translate="stepApp.hrDesignationSetup.home.createOrEditLabel">Create or edit a HrDesignationSetup</h4>
        <h4 ng-show="hrDesignationSetup.id != null" class="modal-title" id="myHrDesignationSetupLabel2"
            translate="stepApp.hrDesignationSetup.home.EditLabel">Create or edit a HrDesignationSetup</h4>
        <div class="modal-body col-md-12 padding-tb">
            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.hrDesignationSetup.organizationType"
                           for="field_organizationType">organizationType</label>
                    <div class="input-margin">
                        <select class="form-control" id="field_organizationType" name="organizationType"
                                ng-model="hrDesignationSetup.organizationType"
                                ng-change="instGenInfoType(hrDesignationSetup.organizationType)" required>
                            <option value="">Select Organization Type</option>
                            <option value="Organization">Organization</option>
                            <option value="Institute">Institute</option>
                        </select>
                        <input type="hidden" class="form-control" name="desigType" id="field_desigType"
                               ng-model="hrDesignationHeadSetup.desigType" value="HRM"/>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="(hrDesignationSetup.organizationType=='Organization')">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrDesignationSetup.organizationCategory"
                               for="field_organizationCategory">organizationCategory</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_organizationCategory" name="organizationCategory"
                                    ng-model="hrDesignationSetup.organizationCategory"
                                    ng-change="loadOrganizationInfoByCategory(hrDesignationSetup.organizationCategory)"
                                    ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in orgCategoryList track by MiscTypeSetup.id">
                                <option value="">Select Organization Category</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrDesignationSetup.organizationInfo"
                               for="field_organizationInfo">organizationInfo</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_organizationInfo" name="organizationInfo"
                                    ng-model="hrDesignationSetup.organizationInfo"
                                    ng-options="HrEmpWorkAreaDtlInfo as HrEmpWorkAreaDtlInfo.name for HrEmpWorkAreaDtlInfo in orgInfoListFltr track by HrEmpWorkAreaDtlInfo.id">
                                <option value="">Select Organization Name</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="(hrDesignationSetup.organizationType=='Institute')">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label"
                               for="field_instCategory">Institute Level</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_instCategory" name="instCategory"
                                    ng-model="hrDesignationSetup.instCategory"
                                    ng-change="loadInstituteByCategory(hrDesignationSetup.instCategory)"
                                    ng-options="InstCategory as InstCategory.name for InstCategory in instCategories track by InstCategory.id">
                                <option value="">Select Institute Level</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" ng-if="hrDesignationSetup.instCategory">
                    <div class="form-group">
                        <label class="control-label" for="field_instLevel">Institute Category</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_instLevel" name="instLevel"
                                    ng-model="hrDesignationSetup.instLevel"
                                    ng-options="instLevel as instLevel.name for instLevel in instLevels track by instLevel.id">
                                <option value="">Select Institute Category</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" ng-show="(hrDesignationSetup.organizationType=='Institute')">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrDesignationSetup.designationInfo"
                               for="field_designationInfo">designationInfo</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_designationInfo" name="designationInfo"
                                    ng-model="hrDesignationSetup.designationInfo"
                                    ng-change="checkDesignationUniqByCategory()"
                                    ng-options="HrDesignationHeadSetup as HrDesignationHeadSetup.designationName for HrDesignationHeadSetup in designationHeadList1 track by HrDesignationHeadSetup.id"
                                    required>
                                <option value="">Select Designation</option>
                            </select>
                            <span class="message" ng-show="editForm.designationInfo.$pending">validating...</span>
                            <div ng-show="designationAlreadyExist" class="alert alert-danger">
                                Designation already exists !!!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" ng-show="(hrDesignationSetup.organizationType=='Organization')">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrDesignationSetup.designationInfo"
                               for="field_designationInfo">designationInfo</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_designationInfo" name="designationInfo"
                                    ng-model="hrDesignationSetup.designationInfo"
                                    ng-change="checkDesignationUniqByCategory()"
                                    ng-options="HrDesignationHeadSetup as HrDesignationHeadSetup.designationName for HrDesignationHeadSetup in designationHeadList track by HrDesignationHeadSetup.id"
                                    required>
                                <option value="">Select Designation</option>
                            </select>
                            <span class="message" ng-show="editForm.designationInfo.$pending">validating...</span>
                            <div ng-show="designationAlreadyExist" class="alert alert-danger">
                                Designation already exists !!!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label" translate="stepApp.hrDesignationSetup.gradeInfo" for="field_gradeInfo">gradeInfo</label>
                    <div class="input-margin">
                        <select class="form-control" id="field_gradeInfo" name="gradeInfo"
                                ng-model="hrDesignationSetup.gradeInfo"
                                ng-options="HrGradeSetup as HrGradeSetup.gradeCode for HrGradeSetup in gradeInfoList track by HrGradeSetup.id">
                            <option value="">Select Grade</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label translate="stepApp.hrDesignationSetup.elocattedPosition" for="field_elocattedPosition">elocattedPosition</label>
                    <input type="text" class="form-control" name="elocattedPosition" id="field_elocattedPosition"
                           ng-model="hrDesignationSetup.elocattedPosition"
                           only-numbers maxlength="4" minlength="2" min="0"/>
                    <div ng-show="editForm.elocattedPosition.$invalid">
                        <p class="help-block"
                           ng-show="editForm.elocattedPosition.$error.ngRemoteValidate">
                            Department name already exists !!!
                        </p>
                        <small style="color:red;font-size: 10px;" ng-show="editForm.elocattedPosition.$error.minlength">
                            This field should be at least 2 digit
                        </small>
                        <small style="color:red;font-size: 10px;" ng-show="editForm.elocattedPosition.$error.maxlength">
                            This field should not longer than 4 digit
                        </small>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label"
                           translate="stepApp.hrDesignationSetup.activeStatus">ActiveStatus</label>
                    <span class="form-control">
                    <input type="radio" data-ng-model="hrDesignationSetup.activeStatus" name="activeStatus"
                           data-ng-value="true">&nbsp;Active&nbsp;|&nbsp;
                    <input type="radio" data-ng-model="hrDesignationSetup.activeStatus" name="activeStatus"
                           data-ng-value="false">&nbsp;Inactive
                </span>
                    <div ng-show="editForm.activeStatus.$invalid">
                        <p class="help-block"
                           ng-show="editForm.activeStatus.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    onclick="window.history.back()">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;<span
                translate="entity.action.cancel">cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving || designationAlreadyExist" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="hrDesignationSetup.id == null" translate="entity.action.save">Save</span>
                <span ng-show="hrDesignationSetup.id != null" translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>
