<div class="col-md-12 common-table padding-left5 padding-right0">
<h2><span translate="stepApp.hrDesignationSetup.detail.title">HrDesignationSetup</span> - {{hrDesignationSetup.designationInfo.designationName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrDesignationSetup.designationInfo">DesignationInfo</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationSetup.designationInfo.designationName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrDesignationSetup.organizationType">organizationType</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationSetup.organizationType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDesignationSetup.desigType">desigType</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationSetup.desigType}}</span>
                </td>
            </tr>
            <tr ng-show="(hrDesignationSetup.organizationType=='Organization')">
                <td>
                    <span translate="stepApp.hrDesignationSetup.organizationCategory">organizationCategory</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationSetup.organizationCategory.typeTitle}}</span>
                </td>

                <td>
                    <span translate="stepApp.hrDesignationSetup.organizationInfo">organizationInfo</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationSetup.organizationInfo.name}}</span>
                </td>
            </tr>
            <tr ng-show="(hrDesignationSetup.organizationType=='Institute')">
                <td>
                    <span translate="stepApp.hrDesignationSetup.instCategory">instCategory</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationSetup.instCategory.name}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <!--<tr ng-show="(hrDesignationSetup.organizationType=='Institute')">-->
                <!--<td>-->
                    <!--<span translate="stepApp.hrDesignationSetup.institute">institute</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{hrDesignationSetup.institute.name}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <tr ng-show="(hrDesignationSetup.desigType != 'HRM')">
                <td>
                    <span translate="stepApp.hrDesignationSetup.instLevel">instLevel</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationSetup.instLevel.name}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDesignationSetup.gradeInfo">gradeInfo</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationSetup.gradeInfo.gradeCode}}</span>
                </td>

                <td>
                    <span translate="stepApp.hrDesignationSetup.elocattedPosition">elocattedPosition</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationSetup.elocattedPosition}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrDesignationSetup.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationSetup.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
                <td></td>
                <td></td>

                <!--<td>
                    <span translate="stepApp.hrDesignationSetup.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationSetup.createDate | date:'mediumDate'}}</span>
                </td>-->
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.hrDesignationSetup.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrDesignationSetup.updateDate | date:'mediumDate'}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>-->
            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel">cancel</span>
    </button>
</div>
