
<div>
    <h2><span translate="stepApp.trainingRequisitionApproveAndForward.detail.title">TrainingRequisitionApproveAndForward</span> {{trainingRequisitionApproveAndForward.id}}</h2>
    <div class="table-responsive">
        <div class="col-md-12 padding-tb">
            <h5 class="trainerinfo">Requisition Approve nad Forward information</h5>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.trainingRequisitionApproveAndForward.approveStatus">ApproveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingRequisitionApproveAndForward.approveStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingRequisitionApproveAndForward.approveByAuthority">ApproveByAuthority</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingRequisitionApproveAndForward.approveByAuthority}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingRequisitionApproveAndForward.forwardToAuthority">ForwardToAuthority</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingRequisitionApproveAndForward.forwardToAuthority}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingRequisitionApproveAndForward.approveStatus">ApproveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingRequisitionApproveAndForward.approveStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingRequisitionApproveAndForward.logComments">LogComments</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingRequisitionApproveAndForward.logComments}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingRequisitionApproveAndForward.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingRequisitionApproveAndForward.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingRequisitionApproveAndForward.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingRequisitionApproveAndForward.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingRequisitionApproveAndForward.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingRequisitionApproveAndForward.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingRequisitionApproveAndForward.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingRequisitionApproveAndForward.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingRequisitionApproveAndForward.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{trainingRequisitionApproveAndForward.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.trainingRequisitionApproveAndForward.trainingRequisitionForm">trainingRequisitionForm</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="trainingRequisitionForm.detail({id:trainingRequisitionApproveAndForward.trainingRequisitionForm.id})">{{trainingRequisitionApproveAndForward.trainingRequisitionForm.requisitionCode}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
