<div class="col-md-12 common-table">
    <h2><span translate="stepApp.employeeLoanBillRegister.detail.title">Employee Loan Bill Register</span> {{employeeLoanBillRegister.id}}</h2>
    <div class="table-responsive">
        <div class="col-md-12 no_padding">
            <h5 class="trainerinfo">Employee Loan Bill Register Information</h5>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanBillRegister.applicationType">ApplicationType</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanBillRegister.applicationType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanBillRegister.billNo">BillNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanBillRegister.billNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanBillRegister.issueDate">IssueDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanBillRegister.issueDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanBillRegister.receiverName">ReceiverName</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanBillRegister.receiverName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanBillRegister.place">Place</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanBillRegister.place}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanBillRegister.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanBillRegister.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanBillRegister.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanBillRegister.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanBillRegister.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{employeeLoanBillRegister.createBy}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.employeeLoanBillRegister.instEmployee">instEmployee</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="instEmployee.detail({id:employeeLoanBillRegister.employeeInfo.id})">{{employeeLoanBillRegister.employeeInfo.employeeId}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanBillRegister.employeeLoanRequisitionForm">employeeLoanRequisitionForm</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="employeeLoanRequisitionForm.detail({id:employeeLoanBillRegister.loanRequisitionForm.id})">{{employeeLoanBillRegister.loanRequisitionForm.loanRequisitionCode}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
