<div class="col-md-12 common-table padding0">
<h2><span translate="stepApp.hrEmploymentInfo.detail.title">HrEmploymentInfo</span> of {{hrEmploymentInfo.employeeInfo.fullName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmploymentInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrEmploymentInfo.employeeInfo.id})">{{hrEmploymentInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmploymentInfo.employeeType">employeeType</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmplTypeInfo.detail({id:hrEmploymentInfo.employeeType.id})">{{hrEmploymentInfo.employeeType.typeName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmploymentInfo.presentPayScale">presentPayScale</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrPayScaleSetup.detail({id:hrEmploymentInfo.presentPayScale.id})">{{hrEmploymentInfo.presentPayScale.payScaleCode}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmploymentInfo.localitySetInfo">localitySetInfo</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmploymentInfo.localitySetInfo.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmploymentInfo.presentInstitute">PresentInstitute</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmploymentInfo.presentInstitute}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmploymentInfo.joiningDate">JoiningDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmploymentInfo.joiningDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmploymentInfo.regularizationDate">RegularizationDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmploymentInfo.regularizationDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmploymentInfo.jobConfNoticeNo">JobConfNoticeNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmploymentInfo.jobConfNoticeNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmploymentInfo.confirmationDate">ConfirmationDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmploymentInfo.confirmationDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmploymentInfo.officeOrderNo">OfficeOrderNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmploymentInfo.officeOrderNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmploymentInfo.officeOrderDate">OfficeOrderDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmploymentInfo.officeOrderDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmploymentInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmploymentInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmploymentInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmploymentInfo.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmploymentInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmploymentInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel"> cancel</span>
    </button>
</div>
