<div class="col-md-12 common-list padding-left5 padding-right0">
    <h2 translate="stepApp.hrEmploymentInfo.home.title">HrEmploymentInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrEmploymentInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrEmploymentInfo.home.createLabel">Create a new HrEmploymentInfo</span>
            </button>
        </div>
    </div>
    <!-- <jh-alert></jh-alert>-->
    <!--<div class="col-sm-12 padding-tb no-print">
        <div class="col-md-8 col-xs-12 no_padding">
            <div class="col-md-6 no_padding">
                <b>&lt;!&ndash;{{ (hrEmploymentInfos | filter:q).length }}&ndash;&gt; <span translate="global.home.searchhere">Search Here :</span></b>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"
                                                                         aria-hidden="true"></i></span>
                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                </div>
            </div>
            <div class="col-md-6">
                <b><span translate="global.home.itemperpage">Items per page:</span></b>
                <div class="input-group">
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 text-right no_padding dlbtn-top">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrEmploymentInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrEmploymentInfo.home.createLabel">Create a new HrEmploymentInfo</span>
            </button>
        </div>
    </div>-->


    <div class="col-sm-12  table-responsive no_padding">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <th><span translate="global.field.id">ID</span></th>
                <th><span translate="stepApp.hrEmploymentInfo.employeeInfo">employeeInfo</span></th>
                <th><span translate="stepApp.hrEmploymentInfo.employeeType">employeeType</span></th>
                <th><span translate="stepApp.hrEmploymentInfo.presentInstitute">PresentInstitute</span></th>
                <th><span translate="stepApp.hrEmploymentInfo.joiningDate">JoiningDate</span></th>
                <th><span translate="stepApp.hrEmploymentInfo.regularizationDate">RegularizationDate</span></th>
                <th><span translate="stepApp.hrEmploymentInfo.jobConfNoticeNo">JobConfNoticeNo</span></th>
                <th><span translate="stepApp.hrEmploymentInfo.localitySetInfo">localitySetInfo</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrEmploymentInfo in hrEmploymentInfos | filter:q | itemsPerPage: pageSize track by hrEmploymentInfo.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <td><a ui-sref="hrEmploymentInfo.detail({id:hrEmploymentInfo.id})">{{hrEmploymentInfo.id}}</a></td>
                <td>
                    <a ui-sref="hrEmployeeInfo.detail({id:hrEmploymentInfo.employeeInfo.id})">{{hrEmploymentInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <a ui-sref="hrEmplTypeInfo.detail({id:hrEmploymentInfo.employeeType.id})">{{hrEmploymentInfo.employeeType.typeName}}</a>
                </td>
                <td>{{hrEmploymentInfo.presentInstitute}}</td>
                <td>{{hrEmploymentInfo.joiningDate | date:'mediumDate'}}</td>
                <td>{{hrEmploymentInfo.regularizationDate | date:'mediumDate'}}</td>
                <td>{{hrEmploymentInfo.jobConfNoticeNo}}</td>
                <td>{{hrEmploymentInfo.localitySetInfo.name}}</td>
                <!--
                <td>
                    <a ui-sref="hrPayScaleSetup.detail({id:hrEmploymentInfo.presentPayScale.id})">{{hrEmploymentInfo.presentPayScale.payScaleCode}}</a>
                </td>-->
                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="hrEmploymentInfo.detail({id:hrEmploymentInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit" ng-hide="false"
                            ui-sref="hrEmploymentInfo.edit({id:hrEmploymentInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrEmploymentInfo.delete({id:hrEmploymentInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no_print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
