<div class="common-dialogue">
    <div class="panel panel-default">

            <h4 class="modal-title" id="myHrEmploymentInfoLabel"><span
                translate="stepApp.hrEmploymentInfo.home.profileViewEditTitle"></span> : {{hrEmployeeInfo.fullName}}
            </h4>

        <div class="panel-body bg-panel">
            <div class="row hrm-view">
                <span ng-show="addMode">
                    <span ng-show="noEmployeeFound" class="alert">Employee is not created yet.</span>
                </span>
            </div>

            <div class="row common-table">
                <div class="col-md-12 table-responsive padding0">
                    <table class="table dtetables">
                        <tr>
                            <td><strong translate="stepApp.hrEmploymentInfo.home.presentInfo"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.departmentInfo.departmentInfo.departmentName}}</td>
                            <td><strong translate="stepApp.hrEmploymentInfo.home.degignation"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.designationInfo.designationInfo.designationName}}</td>
                        </tr>
                        <tr>
                            <td><strong translate="stepApp.hrEmployeeInfo.employeeId"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.employeeId}}</td>
                            <td><strong translate="stepApp.hrEmployeeInfo.quota"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.quota}}</td>
                        </tr>
                        <tr>
                            <td><strong translate="stepApp.hrEmployeeInfo.organizationType"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.organizationType}}</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr ng-show="(hrEmployeeInfo.organizationType=='Organization')">
                            <td><strong translate="stepApp.hrEmployeeInfo.workArea"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.workArea.typeName}}</td>
                            <td><strong translate="stepApp.hrEmployeeInfo.workAreaDtl"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.workAreaDtl.name}}</td>
                        </tr>
                        <tr ng-show="(hrEmployeeInfo.organizationType=='Institute')">
                            <td><strong translate="stepApp.hrEmployeeInfo.instCategory"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.instCategory.name}}</td>
                            <td><strong translate="stepApp.hrEmploymentInfo.presentInstitute"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.institute.name}}</td>
                        </tr>
                        <tr>
                            <td><strong translate="stepApp.hrEmployeeInfo.employeeType"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.employeeType}}</td>
                            <td><strong translate="stepApp.hrEmployeeInfo.employementType"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.employementType.typeName}}</td>
                        </tr>
                        <tr>
                            <td><strong translate="stepApp.hrEmployeeInfo.birthDate"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.birthDate | date:'mediumDate'}}</td>
                            <td><strong translate="stepApp.hrEmployeeInfo.dateOfJoining"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.dateOfJoining | date:'mediumDate'}}</td>
                        </tr>
                        <tr>
                            <td><strong translate="stepApp.hrEmployeeInfo.prlDate"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.prlDate | date:'mediumDate'}}</td>
                            <td><strong translate="stepApp.hrEmployeeInfo.retirementDate"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmployeeInfo.retirementDate | date:'mediumDate'}}</td>
                        </tr>
                        <tr>
                            <td><strong translate="stepApp.hrEmploymentInfo.gazette">Gazette</strong></td>
                            <td>&nbsp; : &nbsp;{{prlSalaryStructureInfo.gazetteInfo.gazetteName}}</td>
                            <td><strong translate="stepApp.hrEmploymentInfo.presentPayScale"></strong></td>
                            <td>&nbsp; : &nbsp;{{prlSalaryStructureInfo.basicAmount}}</td>
                        </tr>
                        <tr >
                            <td><strong translate="stepApp.hrEmploymentInfo.localityName"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmploymentInfo.localitySetInfo.name}}</td>
                            <td><strong translate="stepApp.hrEmploymentInfo.employeeType"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmploymentInfo.employeeType.typeName}}</td>
                        </tr>
                        <tr>
                            <td><strong translate="stepApp.hrEmploymentInfo.officeOrderDate"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmploymentInfo.officeOrderDate | date:'mediumDate'}}</td>
                            <td><strong translate="stepApp.hrEmploymentInfo.regularizationDate"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmploymentInfo.regularizationDate | date:'mediumDate'}}</td>
                        </tr>
                        <tr >
                            <td><strong translate="stepApp.hrEmploymentInfo.jobConfNoticeNo"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmploymentInfo.jobConfNoticeNo}}</td>
                            <td><strong translate="stepApp.hrEmploymentInfo.confirmationDate"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmploymentInfo.confirmationDate | date:'mediumDate'}}</td>
                        </tr>
                        <tr >
                            <td><strong translate="stepApp.hrEmploymentInfo.officeOrderNo"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmploymentInfo.officeOrderNo}}</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <strong translate="stepApp.hrEmploymentInfo.home.currentEmploymentInfo">Current Employment</strong>
                            </td>
                        </tr>
                        <tr>
                            <td><strong translate="stepApp.hrEmploymentInfo.organizationType"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmploymentInfo.organizationType}}</td>

                            <td ng-if="(hrEmploymentInfo.organizationType=='Organization')">
                                <strong translate="stepApp.hrEmploymentInfo.workAreaDtl"></strong>
                            </td>
                            <td ng-if="(hrEmploymentInfo.organizationType=='Organization')">
                                &nbsp; : &nbsp;{{hrEmploymentInfo.workAreaDtl.name}}
                            </td>
                            <td ng-if="(hrEmploymentInfo.organizationType=='Institute')">
                                <strong translate="stepApp.hrEmploymentInfo.localityName"></strong>
                            </td>
                            <td ng-if="(hrEmploymentInfo.organizationType=='Institute')">
                                &nbsp; : &nbsp;{{hrEmploymentInfo.institute.name}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong translate="stepApp.hrEmploymentInfo.departmentInfo"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmploymentInfo.departmentInfo.departmentInfo.departmentName}}</td>
                            <td><strong translate="stepApp.hrEmploymentInfo.designationInfo"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmploymentInfo.designationInfo.designationInfo.designationName}}</td>
                        </tr>
                        <tr>
                            <td><strong translate="stepApp.hrEmploymentInfo.payScale"></strong></td>
                            <td>&nbsp; : &nbsp;{{hrEmploymentInfo.salaryStructureInfo.basicAmount}}</td>
                        </tr>
                        <!--<tr>-->
                            <!--<td>&nbsp;</td>-->
                            <!--<td>&nbsp;</td>-->
                        <!--</tr>-->

                    </table>
                </div>
            </div>

            <form  name="editForm" role="form" ng-submit="save()" novalidate show-validation>
                <div class="panel-group">
                    <div class=" bg-panel">
                        <div class="row hrm-view panel-heading no_padding">
                            <div class="col-sm-7 no_padding">

                            </div>
                            <div class="col-sm-5 no_padding text-right">
                                <button
                                    ng-hide="noEmployeeFound || hrEmploymentInfo.isLocked || hrEmploymentInfo.logStatus==6"
                                    ng-if="!(hrEmploymentInfo.logStatus == 11 || hrEmploymentInfo.logStatus == 33 || hrEmploymentInfo.logStatus == 55)"
                                    type="button" ng-click="changeProfileMode(hrEmploymentInfo)"
                                    class="btn btn-primary btn-sm">{{hrEmploymentInfo.viewModeText}}
                                </button>
                                <span ng-show="hrEmploymentInfo.isLocked" class="alert alert-warning"><span
                                    translate="stepApp.hrmHome.recordLocked">Pending</span></span>
                                <span ng-if="(hrEmploymentInfo.logStatus == 22 || hrEmploymentInfo.logStatus == 44 || hrEmploymentInfo.logStatus == 66)">
                                    <span class="alert alert-warning" translate="stepApp.hrmHome.requestRejected">Rejected</span>
                                </span>
                            </div>
                        </div>

                        <div class="row hrm-view">
                            <div class="col-sm-12 text-right" ng-if="(hrEmploymentInfo.logStatus == 22 || hrEmploymentInfo.logStatus == 44 || hrEmploymentInfo.logStatus == 66)">
                                <span class="alert-warning">
                                    <span class="control-label" translate="stepApp.hrmHome.rejectionReason">Reason</span>: &nbsp; : &nbsp;{{hrEmploymentInfo.logComments}}
                                </span>
                            </div>
                            <div class="col-sm-12 text-right" ng-if="(hrEmploymentInfo.logStatus == 11 || hrEmploymentInfo.logStatus == 33 || hrEmploymentInfo.logStatus == 55)">
                                <span class="alert-warning" ng-if="hrEmploymentInfo.logStatus == 11">
                                    <span class="control-label" translate="stepApp.hrmHome.messages.waitingForDeptHeadApproval">Waiting @ Department Head Approval</span>
                                </span>
                                <span class="alert-warning" ng-if="hrEmploymentInfo.logStatus == 33">
                                    <span class="control-label" translate="stepApp.hrmHome.messages.waitingForInstHeadApproval">Waiting @ Institute Head Approval</span>
                                </span>
                                <span class="alert-warning" ng-if="hrEmploymentInfo.logStatus === 55">
                                    <span class="control-label" translate="stepApp.hrmHome.messages.waitingForSystemAdminApproval">Waiting @ System Admin Approval</span>
                                </span>
                            </div>
                        </div>

                        <div class="row hrm-view">
                            <div class="form-group col-sm-6" ng-show="!hrEmploymentInfo.viewMode">
                                <div  class="input-margin">
                                    <label translate="stepApp.hrEmploymentInfo.localitySetInfo" for="field_localitySetInfo">localitySetInfo</label>
                                    <select class="form-control" id="field_localitySetInfo" name="localitySetInfo"
                                            ng-model="hrEmploymentInfo.localitySetInfo"
                                            ng-options="PrlLocalitySetInfo as PrlLocalitySetInfo.name for PrlLocalitySetInfo in prllocalitysetinfos track by PrlLocalitySetInfo.id">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <!--<div ng-show="hrEmploymentInfo.viewMode">
                                    <label class="control-label" translate="stepApp.hrEmploymentInfo.localitySetInfo" for="field_localitySetInfo">localitySetInfo</label>&nbsp; :
                                    <span class="form-control-static">{{hrEmploymentInfo.localitySetInfo.name}}</span>
                                </div>-->
                            </div>
                            <!--<div class="form-group col-sm-6">
                                &lt;!&ndash;<div ng-show="!hrEmploymentInfo.viewMode" class="input-margin">&ndash;&gt;
                                    &lt;!&ndash;<label class="control-label" translate="stepApp.hrEmploymentInfo.employeeType"&ndash;&gt;
                                           &lt;!&ndash;for="field_employeeType">employeeType</label>&ndash;&gt;
                                    &lt;!&ndash;<select class="form-control" id="field_employeeType" name="employeeType"&ndash;&gt;
                                            &lt;!&ndash;ng-model="hrEmploymentInfo.employeeType"&ndash;&gt;
                                            &lt;!&ndash;ng-options="HrEmplTypeInfo as HrEmplTypeInfo.typeName for HrEmplTypeInfo in hrempltypeinfos track by HrEmplTypeInfo.id"&ndash;&gt;
                                            &lt;!&ndash;required>&ndash;&gt;
                                        &lt;!&ndash;<option value=""></option>&ndash;&gt;
                                    &lt;!&ndash;</select>&ndash;&gt;
                                &lt;!&ndash;</div>&ndash;&gt;
                                &lt;!&ndash;<div ng-show="hrEmploymentInfo.viewMode">
                                    <label class="control-label" translate="stepApp.hrEmploymentInfo.employeeType"
                                           for="field_employeeType">employeeType</label>
                                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmploymentInfo.employeeType.typeName}}</span>
                                </div>&ndash;&gt;
                            </div>-->
                            <div class="form-group col-sm-6" ng-show="!hrEmploymentInfo.viewMode">
                                <label class="control-label" translate="stepApp.hrEmploymentInfo.officeOrderDate"
                                       for="field_officeOrderDate">OfficeOrderDate</label>
                                <div  class="input-margin">
                                    <input datepicker-popup="{{calendar.dateFormat}}"
                                           is-open="calendar.opened.officeOrderDate"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'officeOrderDate')" class="form-control"
                                           name="officeOrderDate" id="field_officeOrderDate"
                                           ng-model="hrEmploymentInfo.officeOrderDate"
                                    max-date="toDay"
                                    />
                                </div>
                                <!--<span ng-show="hrEmploymentInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmploymentInfo.officeOrderDate | date:'mediumDate'}}</span>-->
                            </div>
                        </div>

                        <div class="row hrm-view">
                            <div class="form-group col-sm-6" ng-show="!hrEmploymentInfo.viewMode">

                                    <label class="control-label" translate="stepApp.hrEmploymentInfo.regularizationDate"
                                           for="field_regularizationDate">RegularizationDate</label>
                                <div  class="input-margin">
                                    <input datepicker-popup="{{calendar.dateFormat}}"
                                           is-open="calendar.opened.regularizationDate"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'regularizationDate')" class="form-control"
                                           name="regularizationDate" id="field_regularizationDate"
                                           ng-model="hrEmploymentInfo.regularizationDate"
                                           required max-date="toDay"/>
                                    <div ng-show="editForm.regularizationDate.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.regularizationDate.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                                <!--<div ng-show="hrEmploymentInfo.viewMode">
                                    <label class="control-label" translate="stepApp.hrEmploymentInfo.regularizationDate"
                                           for="field_regularizationDate">RegularizationDate</label>
                                    <span class="form-control-static">&nbsp; : &nbsp;{{hrEmploymentInfo.regularizationDate | date:'mediumDate'}}</span>
                                </div>-->
                            </div>
                            <div class="form-group col-sm-6" ng-show="!hrEmploymentInfo.viewMode">
                                <label class="control-label" translate="stepApp.hrEmploymentInfo.jobConfNoticeNo"
                                       for="field_jobConfNoticeNo">JobConfNoticeNo</label>
                                <div  class="input-margin">
                                    <input type="text" class="form-control" name="jobConfNoticeNo"
                                           id="field_jobConfNoticeNo"
                                           ng-model="hrEmploymentInfo.jobConfNoticeNo" only-numbers
                                           minlength="4" maxlength="15" ng-minlength="4" ng-maxlength="15"/>
                                    <div ng-show="editForm.jobConfNoticeNo.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.jobConfNoticeNo.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color: #f00; font-size: 10px;" ng-show="editForm.jobConfNoticeNo.$error.minlength">
                                            This field should be at least 4 digits
                                        </small>
                                        <small style="color: #f00; font-size: 10px;" ng-show="editForm.jobConfNoticeNo.$error.maxlength">
                                            This field should be at least 4 digits
                                        </small>
                                    </div>
                                </div>
                                <!--<span ng-show="hrEmploymentInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmploymentInfo.jobConfNoticeNo}}</span>-->
                            </div>
                        </div>

                        <div class="row hrm-view">
                            <div class="form-group col-sm-6" ng-show="!hrEmploymentInfo.viewMode">
                                <label class="control-label" translate="stepApp.hrEmploymentInfo.confirmationDate"
                                       for="field_confirmationDate">ConfirmationDate</label>
                                <div  class="input-margin">
                                    <input datepicker-popup="{{calendar.dateFormat}}"
                                           is-open="calendar.opened.confirmationDate"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'confirmationDate')" class="form-control"
                                           name="confirmationDate" id="field_confirmationDate"
                                           ng-model="hrEmploymentInfo.confirmationDate"
                                    max-date="toDay"
                                    />
                                </div>
                                <!--<span ng-show="hrEmploymentInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmploymentInfo.confirmationDate | date:'mediumDate'}}</span>-->
                            </div>

                            <div class="form-group col-sm-6"  ng-show="!hrEmploymentInfo.viewMode">
                                <label class="control-label" translate="stepApp.hrEmploymentInfo.officeOrderNo"
                                       for="field_officeOrderNo">OfficeOrderNo</label>
                                <div class="input-margin">
                                    <input type="text" class="form-control" name="officeOrderNo"
                                           id="field_officeOrderNo"
                                           ng-model="hrEmploymentInfo.officeOrderNo" only-numbers
                                    minlength="4" maxlength="15" ng-minlength="4" ng-maxlength="15"/>
                                    <div ng-show="editForm.officeOrderNo.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.officeOrderNo.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color: #f00; font-size: 10px;" ng-show="editForm.officeOrderNo.$error.minlength">
                                            This field should be at least 4 digits
                                        </small>
                                        <small style="color: #f00; font-size: 10px;" ng-show="editForm.officeOrderNo.$error.maxlength">
                                            This field should be at least 4 digits
                                        </small>
                                    </div>
                                </div>
                                <!--<span ng-show="hrEmploymentInfo.viewMode" class="form-control-static">&nbsp; : &nbsp;{{hrEmploymentInfo.officeOrderNo}}</span>-->
                            </div>

                        </div>

                        <div class="row hrm-view">
                            <div class="col-md-12">
                                <div class="form-group col-md-12 text-right" style="padding-right: 40px">
                                    <button ng-show="!hrEmploymentInfo.viewMode" type="button"
                                            ng-click="changeProfileMode(hrEmploymentInfo)"
                                            class="btn btn-default btn-sm"><span
                                        class="glyphicon glyphicon-remove"></span>&nbsp;{{hrEmploymentInfo.viewModeText}}
                                    </button>
                                    <button ng-show="!hrEmploymentInfo.viewMode"
                                            ng-click="updateProfile(hrEmploymentInfo)"
                                            type="button" ng-disabled="editForm.$invalid || isSaving"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                                        translate="entity.action.save">Save</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



