<div class="col-md-12 common-table padding-right0 padding-left5">
    <h2><span translate="stepApp.pfmsLoanApplication.detail.title">PfmsLoanApplication</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanApplication.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="hrEmployeeInfo.detail({id:pfmsLoanApplication.employeeInfo.id})">{{pfmsLoanApplication.employeeInfo.fullName}}</a>
                </td>

                <td>
                    <span translate="stepApp.pfmsLoanApplication.loanAmount">LoanAmount</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanApplication.loanAmount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanApplication.noOfInstallment">NoOfInstallment</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanApplication.noOfInstallment}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsLoanApplication.reasonOfWithdrawal">ReasonOfWithdrawal</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanApplication.reasonOfWithdrawal}}</span>
                </td>
            </tr>
            <!--<tr>-->
            <!--<td>-->
            <!--<span translate="stepApp.pfmsLoanApplication.isRepayFirstWithdraw">IsRepayFirstWithdraw</span>-->
            <!--</td>-->
            <!--<td>-->
            <!--<span class="form-control-static">{{pfmsLoanApplication.isRepayFirstWithdraw}}</span>-->
            <!--</td>-->
            <!--</tr>-->

            <tr>
                <td>
                    <span translate="stepApp.pfmsLoanApplication.applicationDate">ApplicationDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsLoanApplication.applicationDate | date:'mediumDate'}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel"> cancel</span>
    </button>
</div>
