<div class="col-md-12 common-list padding-right0 padding-left5">
    <h2 class="panel-heading" translate="stepApp.pfmsLoanApplication.home.title">PfmsLoanApplications</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary " ui-sref="pfmsLoanApplication.new">
                <span class="glyphicon glyphicon-plus"></span><span
                translate="stepApp.pfmsLoanApplication.home.createLabel">Create a new PfmsLoanApplication</span>
            </button>
        </div>
    </div>
    <div class="modal fade" id="deletePfmsLoanApplicationConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(pfmsLoanApplication.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.pfmsLoanApplication.delete.question"
                           translate-values="{id: '{{pfmsLoanApplication.id}}'}">Are you sure you want to delete this
                            PfmsLoanApplication?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <!--<th translate="global.field.id">ID</th>-->
                <th translate="global.field.serial">Serial</th>
                <th translate="stepApp.pfmsLoanApplication.employeeInfo">employeeInfo</th>
                <th translate="stepApp.pfmsLoanApplication.loanAmount">LoanAmount</th>
                <th translate="stepApp.pfmsLoanApplication.noOfInstallment">NoOfInstallment</th>
                <th translate="stepApp.pfmsLoanApplication.reasonOfWithdrawal">ReasonOfWithdrawal</th>
                <!--<th translate="stepApp.pfmsLoanApplication.isRepayFirstWithdraw">IsRepayFirstWithdraw</th>-->
                <!-- <th translate="stepApp.pfmsLoanApplication.noOfInstallmentLeft">NoOfInstallmentLeft</th>
                 <th translate="stepApp.pfmsLoanApplication.lastInstallmentReDate">LastInstallmentReDate</th>
                 <th translate="stepApp.pfmsLoanApplication.applicationDate">ApplicationDate</th>-->
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="pfmsLoanApplication in newRequestList | filter:q | orderBy:'-id'| itemsPerPage: pageSize track by pfmsLoanApplication.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <td>
                    <a ui-sref="hrEmployeeInfo.detail({id:pfmsLoanApplication.employeeInfo.id})">{{pfmsLoanApplication.employeeInfo.fullName}}</a>
                </td>
                <td>{{pfmsLoanApplication.loanAmount}}</td>
                <td>{{pfmsLoanApplication.noOfInstallment}}</td>
                <td>{{pfmsLoanApplication.reasonOfWithdrawal}}</td>
                <!--<td>{{pfmsLoanApplication.isRepayFirstWithdraw}}</td>-->
                <!--<td>{{pfmsLoanApplication.noOfInstallmentLeft}}</td>
                <td>{{pfmsLoanApplication.lastInstallmentReDate | date:'mediumDate'}}</td>
                <td>{{pfmsLoanApplication.applicationDate | date:'mediumDate'}}</td>-->
                <td class="text-right">
                    <button type="submit"
                            ui-sref="pfmsLoanApplication.detail({id:pfmsLoanApplication.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="pfmsLoanApplication.edit({id:pfmsLoanApplication.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(pfmsLoanApplication.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/form/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
