<div class="col-md-12 common-dialogue padding-left5 padding-right0">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <div class="panel panel-default">
                <h4 ng-if="pfmsLoanApplication.id == null" class="modal-title" id="myPfmsLoanApplicationLabel" translate="stepApp.pfmsLoanApplication.home.createOrEditLabel">Create or edit a PfmsLoanApplication</h4>
                <h4 ng-if="pfmsLoanApplication.id != null" class="modal-title" id="myPfmsLoanApplicationLabel" translate="stepApp.pfmsLoanApplication.home.EditLabel">Create or edit a PfmsLoanApplication</h4>

            <div class="panel-body">
                <!--<div class="form-group col-sm-6">
                    <label translate="stepApp.pfmsLoanApplication.employeeInfo" for="field_employeeInfo">employeeInfo</label>
                    <select class="form-control" id="field_employeeInfo" name="employeeInfo" ng-model="pfmsLoanApplication.employeeInfo" ng-options="HrEmployeeInfo as HrEmployeeInfo.fullName for HrEmployeeInfo in hremployeeinfos track by HrEmployeeInfo.id">
                        <option value=""></option>
                    </select>
                </div>-->
                <!--<div class="form-group col-sm-6">
                    <label translate="stepApp.pfmsLoanApplication.timesOfWithdraw" for="field_timesOfWithdraw">TimesOfWithdraw</label>
                    <span class="form-control">
                         <input type="radio" data-ng-model="pfmsLoanApplication.timesOfWithdraw" ng-change="timesOfWithdrawalChck()" name="timesOfWithdraw" data-ng-value="1" required>&nbsp;First&nbsp;&nbsp;
                         <input type="radio" data-ng-model="pfmsLoanApplication.timesOfWithdraw" ng-change="timesOfWithdrawalChck()" name="timesOfWithdraw" data-ng-value="2">&nbsp;Second
                         <input type="radio" data-ng-model="pfmsLoanApplication.timesOfWithdraw" ng-change="timesOfWithdrawalChck()" name="timesOfWithdraw" data-ng-value="3">&nbsp;Third
                    </span>
                    <div ng-show="!isTimeOfWithDrawCheck">
                        <p style="color: red">{{timesOfWithdrawalCheckMessage}}</p>
                    </div>
                    <div ng-show="editForm.timesOfWithdraw.$invalid">
                        <p class="help-block"
                           ng-show="editForm.timesOfWithdraw.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>-->
                <div class="form-group col-md-6">
                    <label translate="stepApp.pfmsLoanApplication.departmentName" for="field_almLeaveType">Department</label>
                    <span class="form-control">{{departmentName}}</span>
                </div>

                <div class="form-group col-md-6 ">
                    <label translate="stepApp.pfmsLoanApplication.designationName" for="field_Designation">Designation</label>
                    <span class="form-control">{{designationName}}</span>
                </div>

                <div class="form-group col-md-6">
                    <label translate="stepApp.pfmsLoanApplication.nationality" for="field_nationality">nationality</label>
                    <span class="form-control">{{nationality}}</span>
                </div>

                <div class="form-group col-md-6 ">
                    <label translate="stepApp.pfmsLoanApplication.fatherName" for="field_fatherName">fatherName</label>
                    <span class="form-control">{{fatherName}}</span>
                </div>

                <div class="form-group col-md-6 ">
                    <label translate="stepApp.pfmsLoanApplication.dutySide" for="field_dutySide">dutySide</label>
                    <span class="form-control">{{dutySide}}</span>
                </div>

                <!--====================================-->

                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.pfmsLoanApplication.loanType" for="field_loanType">Loan Type</label>
                        <select class="form-control" name="loanType" ng-model="pfmsLoanApplication.loanType" id="field_loanType"
                                ng-change="loanTypeInfo(pfmsLoanApplication.loanType)" required>
                            <option translate="stepApp.pfmsLoanApplication.loanType"  value=""></option>
                            <option value="HouseBuildingLoan" >House Building Loan</option>
                            <option value="HouseRepairingLoan" >House Repairing Loan</option>
                            <option value="OthersLoan" >Others Loan</option>
                        </select>
                        <div ng-show="editForm.loanType.$invalid">
                            <p class="help-block"
                               ng-show="editForm.loanType.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>

                <!--====================================-->

                <div class="form-group col-sm-6">
                    <label translate="stepApp.pfmsLoanApplication.loanAmount" for="field_loanAmount">LoanAmount</label>
                    <input type="text" class="form-control" name="loanAmount" id="field_loanAmount"
                           ng-model="pfmsLoanApplication.loanAmount" ng-change = "loanPercentCheck()"
                           required only-numbers-and-dot minlength="1" maxlength="10" placeholder="10.00"/>
                    <div ng-show="!isLoanParcentCheck">
                        <p style="color: red">{{loanPercentCheckMessage}}</p>
                    </div>
                    <div ng-show="!isLoanParcentCheckEmpty">
                        <p style="color: red">{{loanPercentCheckMessageEmpty}}</p>
                    </div>
                    <div ng-show="!isTimeOfWithDrawCheck">
                        <p style="color: red">{{timesOfWithdrawalCheckMessage}}</p>
                    </div>
                    <div ng-show="!isPendingLoan">
                        <p style="color: red">{{pendingLoanCheckMessage}}</p>
                    </div>
                    <div ng-show="!isTimeOfWithDrawTwoCheck">
                        <p style="color: red">{{timesOfWithdrawalTwoCheckMessage}}</p>
                    </div>
                    <div ng-show="editForm.loanAmount.$invalid">
                        <p class="help-block"
                           ng-show="editForm.loanAmount.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.loanAmount.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                        <small style="color:red;font-size: 10px;" ng-show="editForm.loanAmount.$error.minlength">
                            This field need to be at least 1 digit
                        </small>
                        <small style="color:red;font-size: 10px;" ng-show="editForm.loanAmount.$error.maxlength">
                            This field should not longer than 10 digit
                        </small>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label translate="stepApp.pfmsLoanApplication.noOfInstallment" for="field_noOfInstallment">NoOfInstallment</label>
                    <input type="text" class="form-control" name="noOfInstallment" id="field_noOfInstallment"
                           ng-model="pfmsLoanApplication.noOfInstallment" ng-change="maxNoOfInstallment()"
                           required only-numbers minlength="1" maxlength="2" />
                    <div ng-show="!isMaxInstall">
                        <p style="color: red">{{maxInstallMsg}}</p>
                    </div>
                    <div ng-show="editForm.noOfInstallment.$invalid">
                        <p class="help-block"
                           ng-show="editForm.noOfInstallment.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.noOfInstallment.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                        <small style="color:red;font-size: 10px;" ng-show="editForm.noOfInstallment.$error.minlength">
                            This field need to be at least 1 digit
                        </small>
                        <small style="color:red;font-size: 10px;" ng-show="editForm.noOfInstallment.$error.maxlength">
                            This field should not longer than 2 digit
                        </small>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label translate="stepApp.pfmsLoanApplication.reasonOfWithdrawal" for="field_reasonOfWithdrawal">ReasonOfWithdrawal</label>
                    <input type="text" class="form-control" name="reasonOfWithdrawal" id="field_reasonOfWithdrawal"
                           ng-model="pfmsLoanApplication.reasonOfWithdrawal"
                           required only-letters maxlength="250" minlength="10"/>
                    <div ng-show="editForm.reasonOfWithdrawal.$invalid">
                        <p class="help-block"
                           ng-show="editForm.reasonOfWithdrawal.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <small style="color:red;font-size: 10px;" ng-show="editForm.reasonOfWithdrawal.$error.minlength">
                            This field need to be at least 10 digit
                        </small>
                        <small style="color:red;font-size: 10px;" ng-show="editForm.reasonOfWithdrawal.$error.maxlength">
                            This field should not longer than 250 digit
                        </small>
                    </div>
                </div>
                <!--<div ng-if="pfmsLoanApplication.timesOfWithdraw == 2 || pfmsLoanApplication.timesOfWithdraw == 3">-->
                <div ng-repeat="model in collection track by model.id">
                    {{model.name}}

                    <!--<div class="form-group col-sm-6" >-->
                    <!--<label translate="stepApp.pfmsLoanApplication.isRepayFirstWithdraw" for="field_isRepayFirstWithdraw">IsRepayFirstWithdraw</label>-->
                    <!--<span class="form-control">-->
                    <!--<input type="radio" data-ng-model="pfmsLoanApplication.isRepayFirstWithdraw" ng-change="onCheckedFirstWithdraw()" name="isRepayFirstWithdraw" data-ng-value="true">&nbsp;Yes&nbsp;|&nbsp;-->
                    <!--<input type="radio" data-ng-model="pfmsLoanApplication.isRepayFirstWithdraw" name="isRepayFirstWithdraw" data-ng-value="false">&nbsp;No-->
                    <!--</span>-->
                    <!--</div>-->
                    <div class="form-group col-sm-6" ng-hide="pfmsLoanApplication.isRepayFirstWithdraw">
                        <label translate="stepApp.pfmsLoanApplication.noOfInstallmentLeft" for="field_noOfInstallmentLeft">NoOfInstallmentLeft</label>
                        <input type="number" class="form-control" name="noOfInstallmentLeft" id="field_noOfInstallmentLeft"
                               ng-model="pfmsLoanApplication.noOfInstallmentLeft"
                        />
                    </div>
                    <div class="form-group col-sm-6" ng-hide="pfmsLoanApplication.isRepayFirstWithdraw">
                        <label translate="stepApp.pfmsLoanApplication.lastInstallmentReDate" for="field_lastInstallmentReDate">LastInstallmentReDate</label>

                        <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.lastInstallmentReDate"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'lastInstallmentReDate')" class="form-control" name="lastInstallmentReDate" id="field_lastInstallmentReDate"
                               ng-model="pfmsLoanApplication.lastInstallmentReDate" />
                    </div>
                </div>
                <!--</div>-->
                <!-- <div class="form-group col-sm-6">
                     <label translate="stepApp.pfmsLoanApplication.applicationDate" for="field_applicationDate">ApplicationDate</label>
                     <input type="date" class="form-control" name="applicationDate" id="field_applicationDate"
                            ng-model="pfmsLoanApplication.applicationDate"
                             />
                 </div>-->
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.history.back()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted || !isLoanParcentCheck || !isLoanParcentCheck || !isTimeOfWithDrawCheck || !isPendingLoan || !isMaxInstall" class="btn btn-primary">
                    <span ng-hide="pfmsLoanApplication.id" translate="entity.action.save"></span>
                    <span ng-show="pfmsLoanApplication.id" translate="entity.action.update"></span>
                </button>
            </div>
        </div>
        <div class="modal fade" id="reScheduleDeduction">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="approveForm" ng-submit="sele">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <span style="color:red;"><h4 class="modal-title">Loan application warning(Not eligible)!</h4></span>
                        </div>
                        <div class="modal-body">

                            <th> Your birthday is :({{dateOfBirth}}).Now you are aged:[{{ageIs}}].</th>
                            <th>If applicant age is '52'.Government have some Questionair about</th>
                            <th>"Provident Fund Loan",- You are not eligible take a loan from provident fund.</th>
                            <th></th>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Stop</span>
                            </button>
                            <!--<button type="submit" ng-disabled="dataFound" class="btn btn-success" ng-click="deductionContinue()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Continue deduction</span>
                            </button>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
</div>



