
<div>
    <h2><span translate="stepApp.pgmsPenGrCalculation.detail.title">PgmsPenGrCalculation</span> {{pgmsPenGrCalculation.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.pgmsPenGrCalculation.withdrawnType">WithdrawnType</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'stepApp.WithdrawnType.' + pgmsPenGrCalculation.withdrawnType}}">{{pgmsPenGrCalculation.withdrawnType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsPenGrCalculation.categoryType">CategoryType</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsPenGrCalculation.categoryType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsPenGrCalculation.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsPenGrCalculation.activeStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsPenGrCalculation.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsPenGrCalculation.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsPenGrCalculation.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsPenGrCalculation.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsPenGrCalculation.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsPenGrCalculation.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsPenGrCalculation.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsPenGrCalculation.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsPenGrCalculation.gradeInfo">gradeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="HrGradeSetup.detail({id:pgmsPenGrCalculation.gradeInfo.id})">{{pgmsPenGrCalculation.gradeInfo.gradeCode}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsPenGrCalculation.salaryInfo">salaryInfo</span>
                </td>
                <td>
                    <a class="form-control-static">{{pgmsPenGrCalculation.salaryInfo}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsPenGrCalculation.workingYear">workingYear</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="PgmsPenGrRate.detail({id:pgmsPenGrCalculation.workingYear.id})">{{pgmsPenGrCalculation.workingYear.workingYear}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button" class="btn btn-default" class="btn " data-dismiss="modal" onclick="window.history.back()">
        <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.back">Back</span>
    </button>
</div>
