<div class="common-dialogue">
      <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
                <h4 ng-if="pgmsPenGrCalculation.id == null"  id="myPgmsPenGrCalculationLabel" translate="stepApp.pgmsPenGrCalculation.home.createOrEditLabel">Create or edit a PgmsPenGrCalculation</h4>

                <div class="row">
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <label class="control-label" translate="stepApp.pgmsPenGrCalculation.withdrawnType" for="field_withdrawnType">WithdrawnType</label>
                        <div class="input-margin">
                            <select class="form-control" name="withdrawnType" ng-model="pgmsPenGrCalculation.withdrawnType" id="field_withdrawnType" ng-change="selCategory(pgmsPenGrCalculation.withdrawnType)">
                                <option value="firstPart" translate="stepApp.WithdrawnType.firstPart">First Part</option>
                                <option value="secondPart" translate="stepApp.WithdrawnType.secondPart">Second Part</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <label class="control-label" translate="stepApp.pgmsPenGrCalculation.gradeInfo" for="field_gradeInfo">gradeInfo</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_gradeInfo" name="gradeInfo" ng-model="pgmsPenGrCalculation.gradeInfo"
                                    ng-change="salaryInfo(pgmsPenGrCalculation.gradeInfo)"  ng-options="HrGradeSetup as HrGradeSetup.gradeCode for HrGradeSetup in hrgradesetups track by HrGradeSetup.id">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <label class="control-label" translate="stepApp.pgmsPenGrCalculation.payScale" for="field_payScale">PayScale</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_payScale" name="gradeInfo" ng-model="pgmsPenGrCalculation.payScale"
                                    ng-options="payScaleBasicAmount for payScaleBasicAmount in payScaleBasicAmounts">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <label class="control-label" translate="stepApp.pgmsPenGrCalculation.workingYear" for="field_workingYear">workingYear</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_workingYear" name="workingYear" ng-model="pgmsPenGrCalculation.workingYear" ng-options="workingYear for workingYear in workingYears">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <label class="control-label"></label>
                        <div class="input-margin">
                            <button type="button" class="btn btn-primary" ng-click="getTotalPension(pgmsPenGrCalculation.withdrawnType,pgmsPenGrCalculation.payScale,pgmsPenGrCalculation.workingYear)"><i class="fa fa-plus-square"></i>
                                <span translate="entity.action.calculationTotal">Total</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <label class="control-label"></label>
                        <div class="input-margin">
                           <b> Total Pension : {{pensionTotal}} Tk.</b><br/>
                           <b ng-if='monthlyDrawn != 0'> Monthly Draw : {{monthlyDrawn}} Tk. + Festival Allowance + Medical Allowance  </b>
                        </div>
                    </div>
                </div>
            </form>
</div>
