
<div class="common-table">
    <h2><span translate="stepApp.prlEmpPaymentStopInfo.detail.title">PrlEmpPaymentStopInfo</span> {{prlEmpPaymentStopInfo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpPaymentStopInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:prlEmpPaymentStopInfo.employeeInfo.id})">{{prlEmpPaymentStopInfo.employeeInfo.fullName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpPaymentStopInfo.effectedDateFrom">EffectedDateFrom</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpPaymentStopInfo.effectedDateFrom | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpPaymentStopInfo.effectedDateTo">EffectedDateTo</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpPaymentStopInfo.effectedDateTo | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpPaymentStopInfo.stopActionType">StopActionType</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpPaymentStopInfo.stopActionType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpPaymentStopInfo.comments">Comments</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpPaymentStopInfo.comments}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpPaymentStopInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpPaymentStopInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpPaymentStopInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpPaymentStopInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpPaymentStopInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpPaymentStopInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
