
<div class="common-table">
    <h2><span translate="stepApp.pfmsEmpMonthlyAdj.detail.title">PfmsEmpMonthlyAdj</span> {{pfmsEmpMonthlyAdj.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMonthlyAdj.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:pfmsEmpMonthlyAdj.employeeInfo.id})">{{pfmsEmpMonthlyAdj.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.pfmsEmpMonthlyAdj.adjYear">AdjYear</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMonthlyAdj.adjYear}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMonthlyAdj.adjMonth">AdjMonth</span>
                </td>

                <td>
                    {{pfmsEmpMonthlyAdj.adjMonth}}
                </td>

                <td>
                    <span translate="stepApp.pfmsEmpMonthlyAdj.departmentName">departmentName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMonthlyAdj.employeeInfo.departmentInfo.departmentInfo.departmentName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMonthlyAdj.designationName">designationName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMonthlyAdj.employeeInfo.designationInfo.designationInfo.designationName}}</span>
                </td>
                <td>
                    <span translate="stepApp.pfmsEmpMonthlyAdj.nationality">nationality</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMonthlyAdj.employeeInfo.nationality}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMonthlyAdj.fatherName">fatherName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMonthlyAdj.employeeInfo.fatherName}}</span>
                </td>
                <td>
                    <span translate="stepApp.pfmsEmpMonthlyAdj.dutySide">dutySide</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMonthlyAdj.employeeInfo.workArea.typeTitle}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMonthlyAdj.deductedAmount">DeductedAmount</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMonthlyAdj.deductedAmount}}</span>
                </td>
                <td>
                    <span translate="stepApp.pfmsEmpMonthlyAdj.modifiedAmount">ModifiedAmount</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMonthlyAdj.modifiedAmount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMonthlyAdj.reason">Reason</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMonthlyAdj.reason}}</span>
                </td>
                <td>
                    <span translate="stepApp.pfmsEmpMonthlyAdj.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMonthlyAdj.activeStatus ? 'Yes':'No'}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
