<div class="common-table">
    <h2><span translate="stepApp.assetRequisition.detail.title">AssetRequisition</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <br>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.assetRequisition.empId">EmpId</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetRequisition.empId}}</span>
                </td>
                <td>
                    <span translate="stepApp.assetRequisition.empName">EmpName</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetRequisition.empName}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.assetRequisition.designation">Designation</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetRequisition.designation}}</span>
                </td>
                <td>
                    <span translate="stepApp.assetRequisition.department">Department</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetRequisition.department}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.assetRequisition.requisitionId">RequisitionId</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetRequisition.requisitionId}}</span>
                </td>
                <td>
                    <span translate="stepApp.assetRequisition.requisitionDate">RequisitionDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetRequisition.requisitionDate | date:'mediumDate'}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.assetRequisition.quantity">Quantity</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetRequisition.quantity}}</span>
                </td>
                <td>
                    <span translate="stepApp.assetRequisition.reasonOfReq">ReasonOfReq</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetRequisition.reasonOfReq}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.assetRequisition.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetRequisition.status ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.assetRequisition.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetRequisition.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.assetRequisition.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetRequisition.createBy.id}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.assetRequisition.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetRequisition.updateDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.assetRequisition.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetRequisition.updateBy}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.assetRequisition.remarks">Remarks</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetRequisition.remarks}}</span>
                </td>
                <td>
                    <span translate="stepApp.assetRequisition.assetType">assetType</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="AssetTypeSetup.detail({id:assetRequisition.assetType.id})">{{assetRequisition.assetType.typeName}}</a>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.assetRequisition.assetCategory">assetCategory</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="AssetCategorySetup.detail({id:assetRequisition.assetCategory.id})">{{assetRequisition.assetCategory.categoryName}}</a>
                </td>
                <td>
                    <span translate="stepApp.assetRequisition.assetRecord">assetRecord</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="AssetRecord.detail({id:assetRequisition.assetRecord.id})">{{assetRequisition.assetRecord.assetName}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
