<div class="col-sm-12 common-list">
    <h2 translate="stepApp.assetRequisition.home.title">AssetRequisitions</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary " ui-sref="assetRequisition.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.assetRequisition.home.createLabel">Create a new AssetRequisition</span>
            </button>
        </div>
    </div>
    <div class="modal fade" id="deleteAssetRequisitionConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(assetRequisition.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.assetRequisition.delete.question"
                           translate-values="{id: '{{assetRequisition.id}}'}">Are you sure you want to delete this
                            AssetRequisition?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class=" col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>

                <th class="text-center" translate="global.form.serial">serial</th>
                <th translate="stepApp.assetRequisition.empId">EmpId</th>
                <th translate="stepApp.assetRequisition.empName">EmpName</th>
                <th translate="stepApp.assetRequisition.designation">Designation</th>
                <th translate="stepApp.assetRequisition.department">Department</th>
                <th translate="stepApp.assetRequisition.requisitionId">RequisitionId</th>
                <th translate="stepApp.assetRequisition.quantity">Quantity</th>
                <th translate="stepApp.assetRequisition.status">Status</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="assetRequisition in assetRequisitions | filter:q | itemsPerPage: pageSize track by assetRequisition.id"
                current-page="currentPage">
                <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                <td><a ui-sref="assetRequisition.detail({id:assetRequisition.id})">{{assetRequisition.id}}</a></td>

                <td>{{assetRequisition.empName}}</td>
                <td>{{assetRequisition.designation}}</td>
                <td>{{assetRequisition.department}}</td>
                <td>{{assetRequisition.requisitionId}}</td>
                <td>{{assetRequisition.quantity}}</td>
                <td>
                    <span class="form-control-static">{{assetRequisition.status ? 'Active' : 'Inactive'}}</span>
                </td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="assetRequisition.detail({id:assetRequisition.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button has-any-authority="ROLE_ADMIN" type="submit"
                            ng-click="delete(assetRequisition.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                    <button type="submit" has-any-authority="ROLE_ADMIN"
                            ui-sref="assetDistribution.new({reqId:assetRequisition.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> Assign Asset</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
