
<div class="common-table">
    <h2><span translate="stepApp.prlLocalityInfo.detail.title">PrlLocalityInfo</span> {{prlLocalityInfo.name}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.prlLocalityInfo.district">district</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="district.detail({id:prlLocalityInfo.district.id})">{{prlLocalityInfo.district.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlLocalityInfo.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlLocalityInfo.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlLocalityInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlLocalityInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlLocalityInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlLocalityInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlLocalityInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlLocalityInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
