<div class="common-dialogue">
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 class="modal-title" id="myPrlLocalityInfoLabel" translate="stepApp.prlLocalityInfo.home.createOrEditLabel">Create or edit a PrlLocalityInfo</h4>

    <div class="panel-body">
        <!--<jh-alert-error></jh-alert-error>-->

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label translate="stepApp.prlLocalityInfo.district" for="field_district">district</label>
                    <select class="form-control" id="field_district" name="district" ng-model="prlLocalityInfo.district" ng-options="District as District.name for District in districts track by District.id">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label class="control-label" translate="stepApp.prlLocalityInfo.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           ng-model="prlLocalityInfo.name"
                           ng-blur="checkLocalityUniqByNameAndDistrict()"
                           required ng-minlength="3" />
                    <span class="message" ng-show="editForm.name.$pending">validating...</span>
                    <div ng-show="localityAlreadyExist"  class="alert alert-danger">
                        Locality already exists !!!
                    </div>
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.name.$error.minlength" translate="entity.validation.minlength" translate-value-min="3">
                            This field is required to be at least 3 characters.
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.prlLocalityInfo.activeStatus" for="field_activeStatus">ActiveStatus</label>
                    <input type="checkbox" class="form-control" name="activeStatus" id="field_activeStatus"
                           ng-model="prlLocalityInfo.activeStatus"
                        />
                </div>
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-default" class="btn " data-dismiss="modal" onclick="window.history.back()">
            <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;<span translate="entity.action.back">Back</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</div>
</form>
