<style>
    .highlightedText {
        color: black;
        background-color: yellow;
    }
</style>

<div class="col-sm-12 common-list ">
            <h2 class="modal-title su_h4_size panel-title"><span translate="stepApp.almOnDutyLeaveApp.leaveApprove.generalHomeTitle"></span></h2>
        <div class="bg-panel padding-tb">
            <div class="col-sm-6 hr-sub-title su_hrm_center">
                <strong><h3 translate="stepApp.almOnDutyLeaveApp.leaveApprove.subTitle"></h3></strong>
            </div>
            <div style="margin:5px 0px;" class="col-sm-6 text-right  dlbtn-top">
                <button type="button"ng-model="button" ng-click="loadAll()"  class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i> <span translate="stepApp.almOnDutyLeaveApp.leaveApprove.Refresh">Refresh</span> </button>
            </div>
        </div>
        <div class="col-md-12 three_tab no_padding dte-tab">
            <tabset justified="true">
                <tab heading="{{'stepApp.almOnDutyLeaveApp.leaveApprove.dashboardTab1' | translate}} ({{newRequestList.length}})">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-sm-5 search-three">
                                <label>Search:</label><input id="searchText" ng-model="searchText" name="searchText" type="text" />
                                <input ng-hide="true" id="clearButton" value="Clear" type="button" ng-click="clearSearchText('request')">
                            </div>

                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>

                                <th ng-click="sort('entityName','request')">
                                    <span translate="stepApp.almOnDutyLeaveApp.employeeId">employeeId</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('entityName','request')">
                                    <span translate="stepApp.almOnDutyLeaveApp.employeeInfo">employeeInfo</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('requestFrom','request')">
                                    <span translate="stepApp.almOnDutyLeaveApp.dutyDate">DutyDate</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='requestFrom'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('requestFrom','request')">
                                    <span translate="stepApp.almOnDutyLeaveApp.dutyInTimeHour">DutyInTimeHour</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='requestFrom'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('requestFrom','request')">
                                    <span translate="stepApp.almOnDutyLeaveApp.dutyOutTimeHour">DutyOutTimeHour</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='requestFrom'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('requestFrom','request')">
                                    <span translate="stepApp.almOnDutyLeaveApp.endDutyDate">EndDutyDate</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='requestFrom'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th><span translate="stepApp.almOnDutyLeaveApp.applicationLeaveStatus">Status</span></th>

                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="requestObj in newRequestList |orderBy:sortKey:reverse|filter:searchText|itemsPerPage:15" pagination-id="requestListPaginate">

                                <td>
                                    {{requestObj.employeeInfo.employeeId}}
                                </td>
                                <td>
                                    {{requestObj.employeeInfo.fullName}}
                                </td>
                                <td>{{requestObj.dutyDate | date:'mediumDate'}}</td>
                                <td>{{requestObj.dutyInTimeHour + ':' + requestObj.dutyInTimeMin}}</td>
                                <td>{{requestObj.dutyOutTimeHour +':' + requestObj.dutyOutTimeMin}}</td>
                                <td>{{requestObj.endDutyDate | date:'mediumDate'}}</td>
                                <td translate="{{'stepApp.applicationLeaveStatuses.' + requestObj.applicationLeaveStatus}}">{{requestObj.applicationLeaveStatus}}</td>

                                <td class="hrm-button text-right">
                                    <button type="button" ng-click="approvalViewDetail(requestObj)" class="btn btn-info btn-sm">
                                        <span translate="stepApp.almOnDutyLeaveApp.leaveApprove.requestView">View</span>
                                    </button>
                                    <button type="button" ng-click="approvalConfirmation(requestObj, 'accept')" class="btn btn-primary btn-sm">
                                        <span translate="stepApp.almOnDutyLeaveApp.leaveApprove.requestAccept">Accept</span>
                                    </button>
                                    <button type="button" ng-click="approvalConfirmation(requestObj, 'reject')" class="btn btn-danger btn-sm">
                                        <span translate="stepApp.almOnDutyLeaveApp.leaveApprove.requestReject">Reject</span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="requestListPaginate"></dir-pagination-controls>
                    </div>
                </tab>
                <tab heading="{{'stepApp.almOnDutyLeaveApp.leaveApprove.dashboardTab3' | translate}}  ({{approvedList.length}})">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-sm-5 search-three">
                                <label>Search:</label><input id="searchTextApp" ng-model="searchTextApp" name="searchTextApp" type="text" />
                                <input ng-hide="true" id="clearButtonApp" value="Clear" type="button" ng-click="clearSearchTextApp('request')">
                            </div>

                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>

                                <th ng-click="sort('entityName','approved')">
                                    <span translate="stepApp.almOnDutyLeaveApp.employeeId">employeeId</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('entityName','approved')">
                                    <span translate="stepApp.almOnDutyLeaveApp.employeeInfo">employeeInfo</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('requestFrom','request')">
                                    <span translate="stepApp.almOnDutyLeaveApp.dutyDate">DutyDate</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='requestFrom'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('requestFrom','request')">
                                    <span translate="stepApp.almOnDutyLeaveApp.dutyInTimeHour">DutyInTimeHour</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='requestFrom'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('requestFrom','request')">
                                    <span translate="stepApp.almOnDutyLeaveApp.dutyOutTimeHour">DutyOutTimeHour</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='requestFrom'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('requestFrom','request')">
                                    <span translate="stepApp.almOnDutyLeaveApp.endDutyDate">EndDutyDate</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='requestFrom'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th><span translate="stepApp.almOnDutyLeaveApp.applicationLeaveStatus">Status</span></th>

                                <th>Comments</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="requestObj in approvedList |orderBy:sortKey3:reverse3|itemsPerPage:20|filter:searchTextApp" pagination-id="approvedListPaginate">
                                <!--<td><a ui-sref="almOnDutyLeaveApp.detail({id:almOnDutyLeaveApp.id})">{{requestObj.id}}</a></td>-->
                                <td>
                                    {{requestObj.employeeInfo.employeeId}}
                                </td>
                                <td>
                                    {{requestObj.employeeInfo.fullName}}
                                </td>
                                <td>{{requestObj.dutyDate | date:'mediumDate'}}</td>
                                <td>{{requestObj.dutyInTimeHour + ':' + requestObj.dutyInTimeMin}}</td>
                                <td>{{requestObj.dutyOutTimeHour +':' + requestObj.dutyOutTimeMin}}</td>
                                <td>{{requestObj.endDutyDate | date:'mediumDate'}}</td>
                                <td translate="{{'stepApp.applicationLeaveStatuses.' + requestObj.applicationLeaveStatus}}">{{requestObj.applicationLeaveStatus}}</td>

                            </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="approvedListPaginate"></dir-pagination-controls>
                    </div>
                </tab>
                <tab heading="{{'stepApp.almOnDutyLeaveApp.leaveApprove.dashboardTab4' | translate}}  ({{rejectedList.length}})">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-sm-5 search-three">
                                <label>Search:</label><input id="searchTextRej" ng-model="searchTextRej" name="searchTextRej" type="text" />
                                <input ng-hide="true" id="clearButtonRej" value="Clear" type="button" ng-click="clearSearchTextRej('approved')">
                            </div>

                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>

                                <th ng-click="sort('entityName','rejected')">
                                    <span translate="stepApp.almOnDutyLeaveApp.employeeId">employeeId</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('entityName','rejected')">
                                    <span translate="stepApp.almOnDutyLeaveApp.employeeInfo">employeeInfo</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('requestFrom','request')">
                                    <span translate="stepApp.almOnDutyLeaveApp.dutyDate">DutyDate</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='requestFrom'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('requestFrom','request')">
                                    <span translate="stepApp.almOnDutyLeaveApp.dutyInTimeHour">DutyInTimeHour</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='requestFrom'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('requestFrom','request')">
                                    <span translate="stepApp.almOnDutyLeaveApp.dutyOutTimeHour">DutyOutTimeHour</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='requestFrom'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('requestFrom','request')">
                                    <span translate="stepApp.almOnDutyLeaveApp.endDutyDate">EndDutyDate</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='requestFrom'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th><span translate="stepApp.almOnDutyLeaveApp.applicationLeaveStatus">Status</span></th>

                                <th>Comments</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="requestObj in rejectedList |orderBy:sortKey4:reverse4|itemsPerPage:20|filter:searchTextRej" pagination-id="rejectedListPaginate">
                                <!--<td><a ui-sref="almOnDutyLeaveApp.detail({id:almOnDutyLeaveApp.id})">{{requestObj.id}}</a></td>-->
                                <td>
                                    {{requestObj.employeeInfo.employeeId}}
                                </td>
                                <td>
                                    {{requestObj.employeeInfo.fullName}}
                                </td>
                                <td>{{requestObj.dutyDate | date:'mediumDate'}}</td>
                                <td>{{requestObj.dutyInTimeHour + ':' + requestObj.dutyInTimeMin}}</td>
                                <td>{{requestObj.dutyOutTimeHour +':' + requestObj.dutyOutTimeMin}}</td>
                                <td>{{requestObj.endDutyDate | date:'mediumDate'}}</td>
                                <td translate="{{'stepApp.applicationLeaveStatuses.' + requestObj.applicationLeaveStatus}}">{{requestObj.applicationLeaveStatus}}</td>

                            </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="rejectedListPaginate"></dir-pagination-controls>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>


<div class="modal animated bounceInUp " id="approveRejectConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="approvalForm" ng-submit="approvalActionDirect()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h2 class="modal-title" translate="entity.delete.title">Confirm Approval operation of {{approvalObj.leaveTypeName}}</h2>
                </div>
                <div class="modal-body">
                    <div ng-if="approvalObj.actionType == 'accept'">

                        <p>Are you sure you want to approve this ?</p>
                    </div>
                    <div ng-if="approvalObj.actionType == 'reject'">
                        <label class="control-label" for="field_logcomments">Comments</label>
                        <textarea class="form-control" name="logComments" id="field_logcomments"
                                  ng-model="approvalObj.logComments"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.close">close</span>
                    </button>
                    <span ng-if="approvalObj.actionType == 'accept'">
                        <button type="submit" ng-disabled="approvalForm.$invalid" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="stepApp.hrmHome.buttonTextApprove"> Approve</span>
                        </button>
                    </span>
                    <span ng-if="approvalObj.actionType == 'reject'">
                        <button type="submit" ng-disabled="approvalForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="stepApp.hrmHome.buttonTextReject"> Reject</span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade common-list" id="approveViewDetailForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="approvalForm" ng-submit="approvalViewAction()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
                    <h2 class="modal-title">{{approvalObj.viewFormTitle}}</h2>
                </div>
                <div class="modal-body">

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><span translate="stepApp.almOnDutyLeaveApp.leaveApprove.fieldName">Field</span></th>
                                <th><span translate="stepApp.almOnDutyLeaveApp.leaveApprove.fieldData">Value</span></th>
                                <th><span translate="stepApp.almOnDutyLeaveApp.leaveApprove.fieldName">Field</span></th>
                                <th><span translate="stepApp.almOnDutyLeaveApp.leaveApprove.fieldData">Value</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span translate="stepApp.almOnDutyLeaveApp.employeeInfo">employeeInfo</span>
                                </td>
                                <td>
                                    <a class="form-control-static" >{{almOnDutyLeaveApp.employeeInfo.fullName}}</a>
                                </td>
                                <td>
                                    <span translate="stepApp.almOnDutyLeaveApp.almDutySide">almDutySide</span>
                                </td>
                                <td>
                                    <a class="form-control-static" ui-sref="AlmDutySide.detail({id:almOnDutyLeaveApp.almDutySide.id})">{{almOnDutyLeaveApp.almDutySide.sideName}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.almOnDutyLeaveApp.applicationDate">ApplicationDate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{almOnDutyLeaveApp.applicationDate | date:'mediumDate'}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.almOnDutyLeaveApp.dutyDate">DutyDate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{almOnDutyLeaveApp.dutyDate | date:'mediumDate'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.almOnDutyLeaveApp.dutyInTimeHour">DutyInTimeHour</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{almOnDutyLeaveApp.dutyInTimeHour + ':' + almOnDutyLeaveApp.dutyInTimeMin}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.almOnDutyLeaveApp.dutyOutTimeHour">DutyOutTimeHour</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{almOnDutyLeaveApp.dutyOutTimeHour +':' + almOnDutyLeaveApp.dutyOutTimeMin}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.almOnDutyLeaveApp.endDutyDate">EndDutyDate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{almOnDutyLeaveApp.endDutyDate | date:'mediumDate'}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.almOnDutyLeaveApp.reason">Reason</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{almOnDutyLeaveApp.reason}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.almOnDutyLeaveApp.activeStatus">ActiveStatus</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{almOnDutyLeaveApp.activeStatus ? 'Active' : 'Inactive'}}</span>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label class="control-label" translate="stepApp.almOnDutyLeaveApp.leaveApprove.approvalChoice">Approval Choice</label>
                                    <span>
                                        <input type="radio" data-ng-model="approvalObj.isApproved" name="isApproved" data-ng-value="true" >&nbsp;<span translate="stepApp.almOnDutyLeaveApp.leaveApprove.buttonTextApprove">Approve</span>&nbsp;|&nbsp;
                                        <input type="radio" data-ng-model="approvalObj.isApproved" name="isApproved" data-ng-value="false">&nbsp;<span translate="stepApp.almOnDutyLeaveApp.leaveApprove.buttonTextReject"> Reject</span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div ng-hide="approvalObj.isApproved">
                                        <label class="control-label" translate="stepApp.almOnDutyLeaveApp.leaveApprove.comments">Comments</label>
                                        <textarea class="form-control" name="comments" ng-model="approvalObj.comments"></textarea>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.close">Close</span>
                    </button>
                    <span ng-show="approvalObj.isApproved">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="stepApp.almOnDutyLeaveApp.leaveApprove.buttonTextApprove">Approve</span>
                        </button>
                    </span>
                    <span ng-hide="approvalObj.isApproved">
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="stepApp.almOnDutyLeaveApp.leaveApprove.buttonTextReject"> Reject</span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
















<!--
 &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;
<div class="col-sm-12 detail-body">
    <h2 translate="stepApp.almOnDutyLeaveApp.home.title">Pending Leave Application</h2>
    <jh-alert></jh-alert>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.id">ID</th>
                <th translate="stepApp.almOnDutyLeaveApp.employeeInfo">employeeInfo</th>
                <th translate="stepApp.almOnDutyLeaveApp.almLeaveType">Leave Type</th>
                <th translate="stepApp.almOnDutyLeaveApp.applicationLeaveStatus">Status</th>
                <th translate="stepApp.almOnDutyLeaveApp.leaveFromDate">From Date</th>
             &lt;!&ndash;   <th translate="stepApp.almOnDutyLeaveApp.leaveToDate">To Date</th>
                <th translate="stepApp.almOnDutyLeaveApp.isHalfDayLeave">Is Half Day Leave</th>
                <th translate="stepApp.almOnDutyLeaveApp.contactNo">Contact No</th>
                <th translate="stepApp.almOnDutyLeaveApp.isWithCertificate">Is With Certificate</th>
                <th translate="stepApp.almOnDutyLeaveApp.activeStatus">Active Status</th>&ndash;&gt;

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="almOnDutyLeaveApp in newRequestList track by almOnDutyLeaveApp.id">
                <td><a ui-sref="almOnDutyLeaveApp.detail({id:almOnDutyLeaveApp.id})">{{almOnDutyLeaveApp.id}}</a></td>
                <td>
                    <a ui-sref="HrEmployeeInfo.detail({id:almOnDutyLeaveApp.employeeInfo.id})">{{almOnDutyLeaveApp.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <a ui-sref="AlmLeaveType.detail({id:almOnDutyLeaveApp.almLeaveType.id})">{{almOnDutyLeaveApp.almLeaveType.leaveTypeName}}</a>
                </td>
                <td translate="{{'stepApp.applicationLeaveStatuses.' + almOnDutyLeaveApp.applicationLeaveStatus}}">{{almOnDutyLeaveApp.applicationLeaveStatus}}</td>
                <td>{{almOnDutyLeaveApp.leaveFromDate | date:'mediumDate'}}</td>
             &lt;!&ndash;   <td>{{almOnDutyLeaveApp.leaveToDate | date:'mediumDate'}}</td>
                <td>{{almOnDutyLeaveApp.isHalfDayLeave}}</td>
                <td>{{almOnDutyLeaveApp.contactNo}}</td>
                <td>{{almOnDutyLeaveApp.isWithCertificate}}</td>
                <td>{{almOnDutyLeaveApp.activeStatus}}</td>&ndash;&gt;

                <td class="text-right">
                    <button type="submit"
                            ui-sref="almOnDutyLeaveApp.detail({id:almOnDutyLeaveApp.id})"
                            class="btn btn-info btn-sm su_serv_marz">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="almOnDutyLeaveApp.edit({id:almOnDutyLeaveApp.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        &lt;!&ndash;<nav>&ndash;&gt;
            &lt;!&ndash;<ul class="pagination">&ndash;&gt;
                &lt;!&ndash;<li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>&ndash;&gt;
                &lt;!&ndash;<li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>&ndash;&gt;
                &lt;!&ndash;<li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>&ndash;&gt;
                &lt;!&ndash;<li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>&ndash;&gt;
                &lt;!&ndash;<li class="active"><a>{{page + 1}}</a></li>&ndash;&gt;
                &lt;!&ndash;<li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>&ndash;&gt;
                &lt;!&ndash;<li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>&ndash;&gt;
                &lt;!&ndash;<li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>&ndash;&gt;
                &lt;!&ndash;<li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>&ndash;&gt;
            &lt;!&ndash;</ul>&ndash;&gt;
        &lt;!&ndash;</nav>&ndash;&gt;
    </div>
</div>
-->
