<div class="col-sm-12 common-list padding-left5 padding-right0">
    <h2 translate="stepApp.almOnDutyLeaveApp.home.title">AlmOnDutyLeaveApps</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary" ui-sref="almOnDutyLeaveApp.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.almOnDutyLeaveApp.home.createLabel">Create a new AlmOnDutyLeaveApp</span>
            </button>
        </div>
    </div>
    <div class="modal animated bounceInUp" id="deleteAlmOnDutyLeaveAppConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(almOnDutyLeaveApp.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.almOnDutyLeaveApp.delete.question"
                           translate-values="{id: '{{almOnDutyLeaveApp.id}}'}">Are you sure you want to delete this
                            AlmOnDutyLeaveApp?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 no_padding table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <th translate="global.field.id">ID</th>
                <th translate="stepApp.almOnDutyLeaveApp.employeeInfo">employeeInfo</th>
                <th translate="stepApp.almOnDutyLeaveApp.almDutySide">almDutySide</th>
                <th translate="stepApp.almOnDutyLeaveApp.applicationDate">ApplicationDate</th>
                <th translate="stepApp.almOnDutyLeaveApp.dutyDate">DutyDate</th>
                <th translate="stepApp.almOnDutyLeaveApp.dutyInTimeHour">DutyInTimeHour</th>
                <!-- <th translate="stepApp.almOnDutyLeaveApp.dutyInTimeMin">DutyInTimeMin</th>
                 <th translate="stepApp.almOnDutyLeaveApp.dutyOutTimeHour">DutyOutTimeHour</th>
                 <th translate="stepApp.almOnDutyLeaveApp.dutyOutTimeMin">DutyOutTimeMin</th>
                 <th translate="stepApp.almOnDutyLeaveApp.endDutyDate">EndDutyDate</th>
                 <th translate="stepApp.almOnDutyLeaveApp.reason">Reason</th>
                 <th translate="stepApp.almOnDutyLeaveApp.activeStatus">ActiveStatus</th>-->
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="almOnDutyLeaveApp in newRequestList | filter:q | itemsPerPage: pageSize track by almOnDutyLeaveApp.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <td><a ui-sref="almOnDutyLeaveApp.detail({id:almOnDutyLeaveApp.id})">{{almOnDutyLeaveApp.id}}</a></td>
                <td>
                    <a ui-sref="HrEmployeeInfo.detail({id:almOnDutyLeaveApp.employeeInfo.id})">{{almOnDutyLeaveApp.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <a ui-sref="AlmDutySide.detail({id:almOnDutyLeaveApp.almDutySide.id})">{{almOnDutyLeaveApp.almDutySide.sideName}}</a>
                </td>
                <td>{{almOnDutyLeaveApp.applicationDate | date:'mediumDate'}}</td>
                <td>{{almOnDutyLeaveApp.dutyDate | date:'mediumDate'}}</td>
                <td>{{almOnDutyLeaveApp.dutyInTimeHour}}</td>
                <!--<td>{{almOnDutyLeaveApp.dutyInTimeMin}}</td>
                <td>{{almOnDutyLeaveApp.dutyOutTimeHour}}</td>
                <td>{{almOnDutyLeaveApp.dutyOutTimeMin}}</td>
                <td>{{almOnDutyLeaveApp.endDutyDate | date:'mediumDate'}}</td>
                <td>{{almOnDutyLeaveApp.reason}}</td>
                <td>{{almOnDutyLeaveApp.activeStatus ? 'Active' : 'Inactive'}}</td>-->

                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="almOnDutyLeaveApp.detail({id:almOnDutyLeaveApp.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="almOnDutyLeaveApp.edit({id:almOnDutyLeaveApp.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(almOnDutyLeaveApp.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav class="no-print">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
