<div class="common-table padding-left5 padding-right0">
<h2><span translate="stepApp.almOnDutyLeaveApp.detail.title">AlmOnDutyLeaveApp</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.almOnDutyLeaveApp.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="HrEmployeeInfo.detail({id:almOnDutyLeaveApp.employeeInfo.id})">{{almOnDutyLeaveApp.employeeInfo.fullName}}</a>
                </td>

                <td>
                    <span translate="stepApp.almOnDutyLeaveApp.almDutySide">almDutySide</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="AlmDutySide.detail({id:almOnDutyLeaveApp.almDutySide.id})">{{almOnDutyLeaveApp.almDutySide.sideName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almOnDutyLeaveApp.applicationDate">ApplicationDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{almOnDutyLeaveApp.applicationDate | date:'mediumDate'}}</span>
                </td>

                <td>
                    <span translate="stepApp.almOnDutyLeaveApp.dutyDate">DutyDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{almOnDutyLeaveApp.dutyDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almOnDutyLeaveApp.dutyInTimeHour">DutyInTimeHour</span>
                </td>
                <td>
                    <span class="form-control-static">{{almOnDutyLeaveApp.dutyInTimeHour + ':' + almOnDutyLeaveApp.dutyInTimeMin}}</span>
                </td>

                <td>
                    <span translate="stepApp.almOnDutyLeaveApp.dutyOutTimeHour">DutyOutTimeHour</span>
                </td>
                <td>
                    <span class="form-control-static">{{almOnDutyLeaveApp.dutyOutTimeHour +':' + almOnDutyLeaveApp.dutyOutTimeMin}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.almOnDutyLeaveApp.endDutyDate">EndDutyDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{almOnDutyLeaveApp.endDutyDate | date:'mediumDate'}}</span>
                </td>

                <td>
                    <span translate="stepApp.almOnDutyLeaveApp.reason">Reason</span>
                </td>
                <td>
                    <span class="form-control-static">{{almOnDutyLeaveApp.reason}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almOnDutyLeaveApp.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{almOnDutyLeaveApp.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
</div>
