<div class="col-md-12 common-dialogue">
    <h4>Assign New Head Of Dept</h4>
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <div class="panel-body padding-tb">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Dept Name</label>
                    <input type="text" class="form-control autocomplete" name="deptName"
                           id="field_deptName"
                           ng-model="dept"
                           autocomplete="off"
                           required
                           ng-blur="instituteEmployeeByDept(dept.id)"
                           typeahead='dept as dept.departmentInfo.departmentName for dept in deptList | filter:$viewValue'/>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="field_instEmployee">Employee Name & Code</label>
                    <input type="text" class="form-control autocomplete" name="instEmployee"
                           id="field_instEmployee"
                           ng-model="instEmployee"
                           required
                           autocomplete="off"
                           typeahead='instEmployee as (instEmployee.name + " " + instEmployee.code) for instEmployee in instEmployees | filter:$viewValue'/>
                </div>
            </div>
        </div>

        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelBtn()" >
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving"
                    class="btn btn-primary">
                <span translate="entity.action.assign">Assign</span>
            </button>
        </div>
    </form>
</div>
