<style>
    table.table.table-striped {
        border: 1px solid #ddd;
    }

    .common-table {
        padding: 15px;
        background: #e5e5e5;
    }

    table {
        table-layout: fixed;
    !important;
    }
</style>
<div class="col-sm-12 common-table padding-left5" style="padding: 5px;">
    <h2 translate="stepApp.instEmployee.detail.title">Employee's PersonalInformation</span></h2>
    <div class="col-sm-12 padding-tb text-right no-print">
        <button ng-show="hideAddButton"
                ui-sref="employeeInfo.personalInfo.edit({id:employeeInfo.id ,allInfo:allInfo})"
                class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.add"> Add</span>
        </button>
        <button type="submit" ng-if="instEmployee.mpoAppStatus < 3 || instEmployee.mpoAppStatus == 5"
                ui-sref="employeeInfo.personalInfo.edit({id:employeeInfo.id ,allInfo:allInfo})"
                class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit">Edit</span>
        </button>
    </div>
    <div class="col-sm-12 no_padding">
        <h2 translate="stepApp.instEmployee.home.registrationInfo">Registration Information</h2>
        <div class="col-sm-12 no_padding text-right print-only">
            <div class="border-img">
                <div class="img-thumb" ng-if="instEmployee.imageName">
                    <img ng-src="{{url}}" alt="IMAGE">
                </div>
                <div ng-hide="instEmployee.imageName !=null" class="img-thumb">
                    <img src="/assets/images/admin.png"/>
                </div>

            </div>
        </div>
        <div class="col-md-10 padding0">
            <table class="table table-striped">
                <thead>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.instEmployee.name">Name</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.name}}</span>
                    </td>
                    <td translate="stepApp.instEmployee.BnName"></td>
                    <td>{{instEmployee.bnName}}</td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instEmployee.code">Code</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.code}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instEmployee.category">category</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.category}}</span>
                    </td>
                </tr>
                <tr>
                    <td translate="stepApp.instEmployee.instLevel"></td>
                    <td>{{instEmployee.institute.instCategory.name}}</td>
                    <td><span translate="stepApp.instEmployee.instCategory">instCategory</span></td>
                    <td><span class="form-control-static">{{instEmployee.instLevel.name}}</span></td>


                    <!-- <td>
                         <span translate="stepApp.instEmployee.typeOfPosition">typeOfPosition</span>
                     </td>
                     <td>
                         <span class="form-control-static">{{instEmployee.typeOfPosition}}</span>
                     </td>-->
                </tr>
                <tr>
                    <td><span translate="stepApp.instEmployee.designation">designation</span></td>
                    <td><span
                        class="form-control-static">{{instEmployee.designationSetup.designationInfo.designationName}}</span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr ng-if="instEmployee.cmsTrade.name !=null || instEmployee.cmsSubject.name !=null ">
                    <td><span translate="stepApp.instEmployee.courseTech">courseTech</span></td>
                    <td><span class="form-control-static">{{instEmployee.cmsTrade.name}}</span></td>
                    <td><span translate="stepApp.instEmployee.courseSub">courseSub</span></td>
                    <td><span class="form-control-static">{{instEmployee.cmsSubject.name}}</span></td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instEmployee.email">email</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.email}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instEmployee.contactNo">contactNo</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.contactNo}}</span>

                    </td>
                </tr>

                <tr>
                    <td translate="stepApp.instEmployee.altContactNo"></td>
                    <td>{{instEmployee.altContactNo}}</td>
                    <td>
                        <span translate="stepApp.instEmployee.appointmentGoDate">appointmentGoDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.appointmentGoDate}}</span>
                    </td>
                </tr>
                <tr>
                    <td translate="stepApp.instEmployee.prlDate">prlDate</td>
                    <td>{{instEmployee.prlDate}}</td>
                    <td>
                        <span translate="stepApp.instEmployee.retirementDate">retirementDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.retirementDate}}</span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instEmployee.curriculum">curriculum</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.cmsCurriculum.name}}</span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>

                <tr ng-if="logInInstitute.type === 'Government' || logInInstitute.type === 'NonGovernment' && instEmployee.employmentType === 'Mpo'">
                    <td>
                        <span translate="stepApp.instEmployee.prlDate">prlDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.prlDate}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instEmployee.retirementDate">retirementDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.retirementDate}}</span>
                    </td>
                </tr>

                <tr ng-if=" instEmployee.institute.type == 'Government'">
                    <td>
                        <span translate="stepApp.instEmployee.encadrement">encadrement</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.encadrement.typeName}}</span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-2 no_padding no-print">
            <div class="border-img">
                <div class="img-thumb" ng-if="instEmployee.imageName">
                    <img ng-src="{{url}}" alt="IMAGE">
                </div>
                <div ng-hide="instEmployee.imageName !=null" class="img-thumb">
                    <img src="/assets/images/admin.png"/>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12 no_padding">
        <div class="col-sm-12 no_padding">
            <h2 translate="stepApp.instEmployee.personalInfo">Personal Information</h2>
            <div class="col-sm-12 no_padding">
                <table class="table table-striped">
                    <thead>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td translate="stepApp.instEmployee.fatherName"></td>
                        <td>{{instEmployee.fatherName}}</td>
                        <td translate="stepApp.instEmployee.fatherNameBn"></td>
                        <td>{{instEmployee.fatherNameBn}}</td>
                    </tr>
                    <tr>
                        <td translate="stepApp.instEmployee.motherName"></td>
                        <td>{{instEmployee.motherName}}</td>
                        <td translate="stepApp.instEmployee.motherNameBn"></td>
                        <td>{{instEmployee.motherNameBn}}</td>
                    </tr>
                    <tr>
                        <td translate="stepApp.instEmployee.dob"></td>
                        <td>{{instEmployee.dob}}</td>
                        <td translate="stepApp.instEmployee.gender"></td>
                        <td>{{instEmployee.gender}}</td>
                    </tr>
                    <tr>
                        <td translate="stepApp.instEmployee.quota"></td>
                        <td>{{instEmployee.jobQuota}}</td>
                        <td translate="stepApp.instEmployee.districtOwn"></td>
                        <td>{{instEmployee.district.name}}</td>
                    </tr>
                    <tr ng-if="instEmployee.employeeType">
                        <td ng-if="instEmployee.employeeType" translate="stepApp.instEmployee.employeeType"></td>
                        <td ng-if="instEmployee.employeeType">{{instEmployee.employeeType.typeName}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr ng-if="instEmployee.employmentType">
                        <td><span ng-if="instEmployee.employmentType"
                                  translate="stepApp.instEmployee.employeeType">Name</span></td>
                        <td><span ng-if="instEmployee.employmentType" class="form-control-static">{{instEmployee.employmentType}}</span>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td translate="stepApp.instEmployee.joiningDate"></td>
                        <td>{{instEmployee.joiningDate}}</td>
                        <td><span ng-if="instEmployee.indexNo" translate="stepApp.instEmployee.indexno">Name</span></td>
                        <td><span ng-if="instEmployee.indexNo"
                                  class="form-control-static">{{instEmployee.indexNo}}</span></td>
                    </tr>
                    <tr>
                        <td><span ng-if=" instEmployee.institute.type == 'Government'"
                                  translate="stepApp.instEmployee.jobCategory"></span></td>
                        <td><span
                            ng-if=" instEmployee.institute.type == 'Government'">{{instEmployee.jobCategory}}</span>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td translate="stepApp.instEmployee.maritalStatus"></td>
                        <td>{{instEmployee.maritalStatus}}</td>
                        <td translate="stepApp.instEmployee.religion"></td>
                        <td>{{instEmployee.religion.name}}</td>
                    </tr>
                    <tr>
                        <td translate="stepApp.instEmployee.bloodGroup"></td>
                        <td>
                            <span ng-if="instEmployee.bloodGroup == 'A_POSITIVE'">A(+)</span>
                            <span ng-if="instEmployee.bloodGroup == 'A_NEGATIVE'">A(-)</span>
                            <span ng-if="instEmployee.bloodGroup == 'B_POSITIVE'">B(+)</span>
                            <span ng-if="instEmployee.bloodGroup == 'B_NEGATIVE'">B(-)</span>
                            <span ng-if="instEmployee.bloodGroup == 'O_POSITIVE'">O(+)</span>
                            <span ng-if="instEmployee.bloodGroup == 'O_NEGATIVE'">O(-)</span>
                            <span ng-if="instEmployee.bloodGroup == 'AB_POSITIVE'">AB(+)</span>
                            <span ng-if="instEmployee.bloodGroup == 'AB_NEGATIVE'">AB(-)</span>
                        </td>
                        <td translate="stepApp.instEmployee.nationality"></td>
                        <td>{{instEmployee.nationality}}</td>
                    </tr>
                    <tr>
                        <td translate="stepApp.instEmployee.tin"></td>
                        <td>{{instEmployee.tin}}</td>
                        <td translate="stepApp.instEmployee.birthCertNo"></td>
                        <td>{{instEmployee.birthCertNo}}</td>
                    </tr>
                    <tr>
                        <td translate="stepApp.instEmployee.birthCertImage"></td>
                        <td>
                            <!--<a href="javascript:void(0)"
                               ng-click="previewBirthImage(instEmployee.birthCertImage, instEmployee.birthCertImageContentType,instEmployee.name)">
                                <span class="form-control-static">{{instEmployee.birthCertNoName}}</span>
                            </a>-->
                            <a href="javascript:void(0)"
                               ng-click="previewBirthImage(instEmployee.birthCertImage, instEmployee.birthCertImageContentType,('stepApp.instEmployee.name' | translate)+' Image')">
                                <span class="btn btn-default"><img
                                    ng-src="data:image/JPEG;base64,{{instEmployee.birthCertImage}}" width="40px"></span></a>
                        </td>
                        <td translate="stepApp.instEmployee.nid"></td>
                        <td>{{instEmployee.nid}}</td>
                    </tr>
                    <tr>
                        <td translate="stepApp.instEmployee.nidImage"></td>
                        <td colspan="3">
                            <!--<a href="javascript:void(0)"
                               ng-click="previewNidImage(instEmployee.nidImage, instEmployee.nidImageContentType,instEmployee.name)">
                                <span class="form-control-static">{{instEmployee.nidImageName}}</span>
                            </a>-->
                            <a href="javascript:void(0)"
                               ng-click="previewNidImage(instEmployee.nidImage, instEmployee.nidImageContentType,('stepApp.instEmployee.name' | translate)+' Image')">
                                <span class="btn btn-default"><img
                                    ng-src="data:image/JPEG;base64,{{instEmployee.nidImage}}" width="40px"></span></a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
        <div class="col-sm-12 no_padding" ng-show="hideRegistration">
            <h2 translate="stepApp.instEmployee.instituteInfo">Institute Information</h2>
            <table class="table table-striped">
                <thead>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                </thead>
                <tbody>


                <tr>
                    <td>
                        <span translate="stepApp.instEmployee.institute">Institute</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.institute.name}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instEmployee.upazila">Upazila</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.institute.upazila.name}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instEmployee.district">District</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.institute.upazila.district.name}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instEmployee.division">Division</span>
                    </td>
                    <td>
                        <span
                            class="form-control-static">{{instEmployee.institute.upazila.district.division.name}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="instEmployee.institute.type == 'NonGovernment'" class="col-sm-12 no_padding"
             ng-show="hideRegistration">
            <h2 translate="stepApp.instEmployee.registeredInfo">registeredInfo</h2>
            <table class="table table-striped">
                <thead>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span
                            translate="stepApp.instEmployee.registeredCertificateSubject">registeredCertificateSubject</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.registeredCertificateSubject}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instEmployee.registrationExamYear">registrationExamYear</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.registrationExamYear}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instEmployee.rollNo">registrationExamYear</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.rollNo}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.instEmployee.passingYear">registrationExamYear</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.passingYear}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instEmployee.resultPublishDate">registrationExamYear</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.resultPublishDate}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.instEmployee.ordinalNo">registrationExamYear</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.ordinalNo}}</span>
                    </td>
                </tr>


                <tr>
                    <td>
                        <span translate="stepApp.instEmployee.registeredCertificateNo">registeredCertificateNo</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.registeredCertificateNo}}</span>
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>

                <tr ng-repeat="attachment in attachments">
                    <td>
                        <span>{{attachment.name}}</span>
                    </td>
                    <td ng-if="attachment.fileContentType!=null">
                        <a href="javascript:void(0)"
                           ng-click="previewImage(attachment.file, attachment.fileContentType,('stepApp.attachment.file' | translate)+' Image')">
                            <span class="btn btn-default"><img ng-src="data:image/JPEG;base64,{{attachment.file}}"
                                                               width="40px"></span></a>
                    </td>
                    <td ng-if="attachment.remarks!=null">
                        {{attachment.remarks}}
                    </td>
                </tr>
                </tbody>

            </table>
        </div>

        <div class="col-sm-12 no_padding">
            <h2 translate="stepApp.instEmplBankInfo.bankInformation">Bank Information</h2>
            <table class="table table-striped">
                <thead>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                </thead>
                <tbody>
                <!--<tr>
                    <th>
                        <span translate="stepApp.instEmplBankInfo.bankName">BankName</span>
                    </th>
                    <td>
                        <span class="form-control-static">{{instEmplBankInfo.bankName}}</span>
                    </td>
                </tr>-->
                <tr>
                    <td>
                        <span translate="stepApp.instEmplBankInfo.bankName">BankName</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="bankSetup.detail({id:instEmplBankInfo.bankSetup.id})">{{instEmplBankInfo.bankSetup.name}}</a>

                    </td>
                    <td>
                        <span translate="stepApp.instEmplBankInfo.bankBranch">BankBranch</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmplBankInfo.bankBranc.brName}}</span>
                    </td>
                    <!--<td>
                        <span class="form-control-static">{{instFinancialInfo.bankSetup.name}}</span>
                    </td>-->
                </tr>

                <tr>
                    <td>
                        <span translate="stepApp.instEmplBankInfo.bankAccountNo">BankAccountNo</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmplBankInfo.bankAccountNo}}</span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="col-sm-12 no_padding">
            <h2 translate="stepApp.instEmployee.conPerName">ConPerName</h2>
            <table class="table table-striped">
                <thead>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.instEmployee.conPersName"> >Name </span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.conPerName}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.instEmployee.conPerMobile">ConPerMobile</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.conPerMobile}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instEmployee.conPerAddress">ConPerAddress</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmployee.conPerAddress}}</span>
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 no_padding">
            <h2 translate="stepApp.instEmployee.EmpAddress">Employee Address</h2>
            <div id="address-div11" class="col-md-6">
                <!-- <h3> Employee Address</h3>-->
                <div class="row">
                    <table class="table table-striped" style="margin-top:15px">
                        <thead>
                        <tr>
                            <th colspan="2" translate="stepApp.instEmployee.preEmpAddress"> Present Address</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="app_re_info" translate="stepApp.instEmployee.villageHouse">Village/House</td>
                            <td>{{instEmpAddress.villageOrHouse}}</td>
                        </tr>

                        <tr>
                            <td class="app_re_info" translate="stepApp.instEmployee.postCode">Road/Block
                            </td>
                            <td>{{instEmpAddress.postCode}}</td>
                        </tr>
                        <tr>
                            <td class="app_re_info" translate="stepApp.instEmployee.post">Road/Block
                            </td>
                            <td>{{instEmpAddress.post}}</td>
                        </tr>
                        <tr>
                            <td class="app_re_info" translate="stepApp.instEmployee.roadBlock">Road/Block</td>
                            <td>{{instEmpAddress.roadBlockSector}}</td>
                        </tr>
                        <tr>
                            <td class="app_re_info" translate="stepApp.instEmployee.upazila">Upazilla</td>
                            <td>{{instEmpAddress.upazila.name}}</td>
                        </tr>
                        <tr>
                            <td class="app_re_info" translate="stepApp.instEmployee.district">District</td>
                            <td>{{instEmpAddress.upazila.district.name}}</td>
                        </tr>
                        <tr>
                            <td class="app_re_info" translate="stepApp.instEmployee.division">Division</td>
                            <td>{{instEmpAddress.upazila.district.division.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="address-div22" class="col-md-6 eipi-addr">
                <!--<h3>Permanent Address</h3>-->
                <table class="table table-striped" style="margin-top:15px">
                    <thead>
                    <tr>
                        <th colspan="2" translate="stepApp.instEmployee.perEmpAddress"> Permanent Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="app_re_info" translate="stepApp.instEmployee.villageHouse">Village/House</td>
                        <td>{{instEmpAddress.prevVillageOrHouse}}</td>
                    </tr>

                    <tr>
                        <td class="app_re_info" translate="stepApp.instEmployee.post">Road/Block</td>
                        <td>{{instEmpAddress.prevPost}}</td>
                    </tr>
                    <tr>
                        <td class="app_re_info" translate="stepApp.instEmployee.postCode">Road/Block</td>
                        <td>{{instEmpAddress.prevPostCode}}</td>
                    </tr>
                    <tr>
                        <td class="app_re_info" translate="stepApp.instEmployee.roadBlock">Road/Block</td>
                        <td>{{instEmpAddress.prevRoadBlockSector}}</td>
                    </tr>
                    <tr>
                        <td class="app_re_info" translate="stepApp.instEmployee.upazila">Upazilla</td>
                        <td>{{instEmpAddress.prevUpazila.name}}</td>
                    </tr>
                    <tr>
                        <td class="app_re_info" translate="stepApp.instEmployee.district">District</td>
                        <td>{{instEmpAddress.prevUpazila.district.name}}</td>
                    </tr>
                    <tr>
                        <td class="app_re_info" translate="stepApp.instEmployee.division">Division</td>
                        <td>{{instEmpAddress.prevUpazila.district.division.name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <button type="submit "
                onclick="window.history.back()"
                class="btn btn-info no-print">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
        </button>
        <div class="no-print   text-right">
            <button type="submit" name="submit" onclick="window.print()" class="btn btn-primary">
                <span class="glyphicon glyphicon-print"></span>&nbsp;<span
                translate="entity.action.print">Print</span>
            </button>
        </div>
    </div>
</div>

