<div class="col-sm-12 common-dialogue">
    <h4 translate="stepApp.instEmployee.home.instEmployeePersonalInfo">Create or edit a InstEmployee</h4>
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <div class="panel-body padding-tb">
            <div class="col-sm-12 no_padding">
                <div class="col-sm-10 no_padding">
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmployee.fatherName" for="field_fatherName">FatherName</label>
                        <input type="text" class="form-control" name="fatherName" id="field_fatherName"
                               ng-model="instEmployee.fatherName"
                               tooltip="{{'stepApp.instEmployee.fatherName' | translate}}"
                               placeholder="{{'stepApp.instEmployee.fatherName' | translate}}"
                               required
                               only-letters-and-dash-and-dot/>
                        <div ng-show="editForm.fatherName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.fatherName.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmployee.fatherNameBn" for="field_fatherName">FatherName</label>
                        <input type="text" class="form-control" name="fatherName" id="field_fatherNameBn"
                               ng-model="instEmployee.fatherNameBn" only-bangla
                               tooltip="{{'stepApp.instEmployee.fatherNameBn' | translate}}"
                               placeholder="{{'stepApp.instEmployee.fatherNameBn' | translate}}"
                               required/>
                        <div ng-show="editForm.fatherName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.fatherName.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmployee.motherName" for="field_motherName">MotherName</label>
                        <input type="text" class="form-control" name="motherName" id="field_motherName"
                               ng-model="instEmployee.motherName"
                               tooltip="{{'stepApp.instEmployee.motherName' | translate}}"
                               placeholder="{{'stepApp.instEmployee.motherName' | translate}}"
                               required
                               only-letters-and-dash-and-dot/>
                        <div ng-show="editForm.motherName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.motherName.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmployee.motherNameBn"
                               for="field_motherNameBn">motherNameBn</label>
                        <input type="text" class="form-control" name="motherNameBn" id="field_motherNameBn"
                               ng-model="instEmployee.motherNameBn" only-bangla
                               tooltip="{{'stepApp.instEmployee.motherNameBn' | translate}}"
                               placeholder="{{'stepApp.instEmployee.motherNameBn' | translate}}"
                               required
                        />
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmployee.gender" for="field_gender">Gender</label>
                        <select type="text" class="form-control" name="gender" id="field_gender"
                                tooltip="{{'stepApp.instEmployee.gender' | translate}}"
                                ng-model="instEmployee.gender">
                            <option disabled selected value="" translate="stepApp.instEmployee.gender"></option>
                            <option value="Male" translate="stepApp.instEmployee.Male">Male</option>
                            <option value="Female" translate="stepApp.instEmployee.Female">Female</option>
                            <option value="others" translate="stepApp.instEmployee.Others">Others</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmployee.dob" for="field_dob">Dob</label>
                        <input type="text" class="form-control" name="dob" id="field_dob"
                               ng-model="instEmployee.dob"
                               required
                               tooltip="{{'stepApp.instEmployee.dob' | translate}}"
                               datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.dob"
                               placeholder="{{'entity.placeholder.dateformat' | translate}}"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'dob')"
                                max-date="toDay"
                        />
                        <div ng-show="editForm.dob.$invalid">
                            <p class="help-block"
                               ng-show="editForm.dob.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmployee.quota" for="field_quota">Level</label>
                        <select type="text" class="form-control" name="quota" id="field_quota"
                                tooltip="{{'stepApp.instEmployee.quota' | translate}}"
                                ng-model="instEmployee.jobQuota">
                            <option value="" translate="stepApp.instEmployee.quota" disabled selected></option>
                            <option value="General" translate="stepApp.quota.noQuota">Both</option>

                            <option value="FreedomFighter" translate="stepApp.quota.freedomFighter">freedom Fighter
                            </option>
                            <option value="ChildOfFreedomFighter" translate="stepApp.quota.ChildOfFreedomFighter">
                                SSC(VOC)
                            </option>
                            <option value="GrandChildOfFreedomFighter"
                                    translate="stepApp.quota.GChildOfFreedomFighter">
                                Both
                            </option>
                            <option value="Tribal" translate="stepApp.quota.tribal">tribal</option>
                            <option value="Disable" translate="stepApp.quota.disable">disable</option>
                            <option value="Others" translate="stepApp.quota.others">others</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmployee.maritalStatus"
                               for="field_maritalStatus">MaritalStatus</label>
                        <select class="form-control" name="maritalStatus" ng-model="instEmployee.maritalStatus"
                                id="field_maritalStatus" tooltip="{{'stepApp.instEmployee.maritalStatus' | translate}}">
                            <option value="" disabled selected translate="stepApp.instEmployee.maritalStatus"></option>
                            <option value="Unmarried" translate="stepApp.maritalStatus.Single">Single</option>
                            <option value="Married" translate="stepApp.maritalStatus.Married">Married</option>
                            <option value="Divorce" translate="stepApp.maritalStatus.Widower">Widower</option>
                            <option value="Widow" translate="stepApp.maritalStatus.Widow">Widow</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2 no_padding">
                    <div class="border-img">
                        <div class="img-thumb">
                            <img ng-src="{{url}}" alt=" IMAGE">
                        </div>
                        <div class="img-input">
                            <input type="file" class="btn btn-primary btn-xs btn-block" ngf-drop
                                   ngf-change="setImage($file, instEmployee)" ngf-select
                                   role="button">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmployee.bloodGroup" for="field_bloodGroup">BloodGroup</label>
                <select class="form-control" name="bloodGroup" ng-model="instEmployee.bloodGroup" id="field_bloodGroup"
                        tooltip="{{'stepApp.instEmployee.bloodGroup' | translate}}">
                    <option value="" disabled selected translate="stepApp.instEmployee.bloodGroup"></option>
                    <option value="A_POSITIVE" translate="stepApp.bloodGroup.A_POSITIVE">A (+)</option>
                    <option value="A_NEGATIVE" translate="stepApp.bloodGroup.A_NEGATIVE">A (-)</option>
                    <option value="B_POSITIVE" translate="stepApp.bloodGroup.B_POSITIVE">B (+)</option>
                    <option value="B_NEGATIVE" translate="stepApp.bloodGroup.B_NEGATIVE">B (-)</option>
                    <option value="O_POSITIVE" translate="stepApp.bloodGroup.O_POSITIVE">O (-)</option>
                    <option value="O_NEGATIVE" translate="stepApp.bloodGroup.O_NEGATIVE">O (-)</option>
                    <option value="AB_POSITIVE" translate="stepApp.bloodGroup.AB_POSITIVE">AB (-)</option>
                    <option value="AB_NEGATIVE" translate="stepApp.bloodGroup.AB_NEGATIVE">AB (-)</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmployee.tin" for="field_tin">Tin</label>
                <input type="text" class="form-control" name="tin" id="field_tin"
                       ng-model="instEmployee.tin"
                       tooltip="{{'stepApp.instEmployee.tin' | translate}}"
                       placeholder="{{'stepApp.instEmployee.tin' | translate}}"
                       only-numbers/>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmployee.religion" for="field_religion">religion</label>
                <select class="form-control" id="field_religion" name="religion" ng-model="instEmployee.religion"
                        tooltip="{{'stepApp.instEmployee.religion' | translate}}"
                        ng-options="religion as religion.name for religion in religions | orderBy:'id' track by religion.id">
                    <option value="" disabled selected translate="stepApp.instEmployee.religion"></option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmployee.nationality" for="field_nationality">Nationality</label>
                <input type="text" class="form-control" name="nationality" id="field_nationality"
                       ng-model="instEmployee.nationality"
                       tooltip="{{'stepApp.instEmployee.nationality' | translate}}"
                       placeholder="{{'stepApp.instEmployee.nationality' | translate}}"
                       required only-letters
                />
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmployee.districtOwn" for="field_districtOwn">districtOwn</label>
                <select class="form-control" id="field_districtOwn"
                        name="district"
                        ng-model="instEmployee.district" required
                        tooltip="{{'stepApp.instGenInfo.district' | translate}}"
                        ng-options="district as district.name for district in districtsOwn track by district.id">
                    <option disabled selected value="" translate="global.home.selectdistrict">{{PreDistrictSelect}}</option>
                </select>
            </div>
            <!--                 new addd           -->
            <div class="col-md-12 no_padding">
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.nid" for="field_nid">Nid</label>
                    <input type="text" class="form-control" name="nid" id="field_nid" required
                           ng-model="instEmployee.nid"
                           placeholder="{{'stepApp.instEmployee.nid' | translate}}"
                           tootlip="{{'stepApp.instEmployee.nid' | translate}}"
                           ng-remote-validate="/api/instEmployees/nid/"
                           ng-remote-method="GET"
                           only-numbers ng-maxlength="17" ng-minlength="10" minlength="10" maxlength="17" min="0"
                    />
                    <span class="message" ng-show="editForm.nid.$pending">validating...</span>
                    <div ng-show="editForm.nid.$invalid">
                        <p style="color:red"
                           ng-show="editForm.nid.$error.ngRemoteValidate">
                            This NID is already exist
                        </p>
                    </div>
                    <div ng-show="editForm.nid.$invalid">
                        <div ng-show="editForm.nid.$error.pattern">
                            <p class="help-block"
                               ng-show="editForm.nid.$error.pattern">
                                Number Only
                            </p>
                        </div>
                        <p class="help-block"
                           ng-show="editForm.nid.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.nid.$error.minlength"
                           translate-value-min="17">
                            This field is required to be at least 10 digit.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.nid.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="17">
                            This field cannot be longer than 17 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6" ngf-drop ngf-change="setNidImage($file, instEmployee)">
                    <label translate="stepApp.instEmployee.nidImage" for="field_nidImage">NidImage</label>
                    <div>
                        <div class="help-block clearfix">
                        <span
                            class="pull-left">{{instEmployee.nidImageContentType}} {{byteSize(instEmployee.nidImage)}}</span>
                            <button ng-click="instEmployee.nidImage=null;instEmployee.nidImageContentType=null;"
                                    ng-if="instEmployee.nidImage"
                                    class="btn btn-default btn-xs pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                        <div class="input-group">
                            <input type="text" readonly class="form-control" name="nidImageName" id="field_nidImageName"
                                   ng-model="instEmployee.nidImageName"
                            />

                            <div class="input-group-btn">
                                <button type="file" ngf-select class="btn btn-default btn-block"
                                        ngf-change="setNidImage($file, instEmployee)" translate="entity.action.addblob">
                                    Add blob
                                </button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="nidImage" id="field_nidImage"
                           ng-model="instEmployee.nidImage"
                    />
                    <input type="hidden" class="form-control" name="nidImageContentType" id="field_nidImageContentType"
                           ng-model="instEmployee.nidImageContentType"/>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.birthCertNo" for="field_birthCertNo">BirthCertNo</label>
                    <input type="text" class="form-control" name="birthCertNo" id="field_birthCertNo"
                           ng-model="instEmployee.birthCertNo"
                           placeholder="{{'stepApp.instEmployee.birthCertNo' | translate}}"
                           tootlip="{{'stepApp.instEmployee.birthCertNo' | translate}}"
                           ng-remote-validate="/api/instEmployees/birthCertNo/"
                           ng-remote-method="GET"
                           only-numbers maxlength="17" minlength="10" ng-maxlength="17" ng-minlength="10" min="0"
                    />
                    <span class="message" ng-show="editForm.birthCertNo.$pending">validating...</span>
                    <div ng-show="editForm.birthCertNo.$invalid">
                        <p style="color:red"
                           ng-show="editForm.birthCertNo.$error.ngRemoteValidate">
                            This Birth Certificate Number is already exist
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6" ngf-drop ngf-change="setBirthCertImage($file, instEmployee)">
                    <label translate="stepApp.instEmployee.birthCertImage"
                           for="field_birthCertImage">BirthCertImage</label>
                    <div>
                        <div class="help-block clearfix">
                            <span class="pull-left">{{instEmployee.birthCertImageContentType}} {{byteSize(instEmployee.birthCertImage)}}</span>
                            <button
                                ng-click="instEmployee.birthCertImage=null;instEmployee.birthCertImageContentType=null;"
                                ng-if="instEmployee.birthCertImage"
                                class="btn btn-default btn-xs pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                        <div class="input-group">
                            <input type="text" readonly class="form-control" name="birthCertNoName"
                                   id="field_birthCertImageName"
                                   ng-model="instEmployee.birthCertNoName"
                            />
                            <div class="input-group-btn">
                                <button type="file" ngf-select class="btn btn-default btn-block"
                                        ngf-change="setBirthCertImage($file, instEmployee)"
                                        translate="entity.action.addblob">
                                    Add blob
                                </button>
                            </div>
                        </div>


                    </div>
                    <input type="hidden" class="form-control" name="birthCertImage" id="field_birthCertImage"
                           ng-model="instEmployee.birthCertImage"
                    />
                    <input type="hidden" class="form-control" name="birthCertImageContentType"
                           id="field_birthCertImageContentType"
                           ng-model="instEmployee.birthCertImageContentType"/>
                </div>
                <div class="col-sm-12 no_padding Emergency_Contact"
                     ng-if="instEmployee.category === 'Teacher' && instEmployee.institute.type == 'NonGovernment'">
                    <fieldset>
                        <h4 translate="stepApp.instEmployee.registeredInfo">registeredInfo</h4>
                        <div class="form-group col-md-6">
                            <span><label translate="stepApp.instEmployee.registeredCertificateSubject"
                                         for="field_registeredCertificateSubject">registeredCertificateSubject</label><label
                                style="color: #f00">
                                &nbsp;*</label></span>
                            <input type="text" class="form-control" name="registeredCertificateSubject"
                                   id="field_registeredCertificateSubject" ng-change="registrationFieldErrorFunction()"
                                   ng-model="instEmployee.registeredCertificateSubject"
                                   tooltip="{{'stepApp.instEmployee.registeredCertificateSubject' | translate}}"
                                   placeholder="{{'stepApp.instEmployee.registeredCertificateSubject' | translate}}"
                                   only-letters
                            />
                        </div>
                        <div class="form-group col-md-6">
                            <span><label translate="stepApp.instEmployee.rollNo"
                                         for="field_rollNo">rollNo</label><label style="color: #f00">
                                &nbsp;*</label></span>
                            <input type="text" class="form-control" name="rollNo"
                                   id="field_rollNo"
                                   ng-model="instEmployee.rollNo"
                                   tooltip="{{'stepApp.instEmployee.rollNo' | translate}}"
                                   placeholder="{{'stepApp.instEmployee.rollNo' | translate}}"
                                   only-numbers min="0" required
                            />
                        </div>
                        <div class="form-group col-md-6">
                            <span><label translate="stepApp.instEmployee.ordinalNo"
                                         for="field_ordinalNo">ordinalNo</label><label style="color: #f00">
                                &nbsp;*</label></span>
                            <input type="text" class="form-control" name="ordinalNo"
                                   id="field_ordinalNo"
                                   ng-model="instEmployee.ordinalNo"
                                   tooltip="{{'stepApp.instEmployee.ordinalNo' | translate}}"
                                   placeholder="কত তম ? ​"
                                   only-numbers min="0" required
                            />
                        </div>
                        <div class="form-group col-md-6">
                            <span><label translate="stepApp.instEmployee.registrationExamYear"
                                         for="field_registrationExamYear">registrationExamYear</label><label
                                style="color: #f00">&nbsp;*</label></span>
                            <input type="text" class="form-control" name="registrationExamYear"
                                   id="field_registrationExamYear"
                                   ng-model="instEmployee.registrationExamYear" only-numbers
                                   min="0" maxlength="4" minlength="4" ng-maxlength="4" ng-minlength="4" required
                                   placeholder="YYYY"
                                   ng-change="yearExamCheck(instEmployee.registrationExamYear, instEmployee.passingYear)"
                            />
                            <small ng-if="editForm.registrationExamYear.$error.maxlength">
                                Please enter 4 digit valid registration year
                            </small>
                        </div>
                        <div class="form-group col-md-6">
                            <span><label translate="stepApp.instEmployee.passingYear"
                                         for="field_passingYear">passingYear</label><label style="color: #f00">
                                &nbsp;*</label></span>
                            <input type="text" class="form-control" name="passingYear"
                                   id="field_passingYear"
                                   ng-model="instEmployee.passingYear"
                                   tooltip="{{'stepApp.instEmployee.passingYear' | translate}}"
                                   placeholder="{{'stepApp.instEmployee.passingYear' | translate}}"
                                   only-numbers
                                   min="0" maxlength="4" minlength="4" ng-maxlength="4" ng-minlength="4"
                                   ng-change="yearExamCheck(instEmployee.registrationExamYear, instEmployee.passingYear)"
                            />
                            <p class="help-blocks" ng-show="showError" style="color: red; font-size: 10px;position: absolute;">
                                Passing Year must be greater then Year of Examination.
                            </p>
                        </div>
                        <div class="form-group col-md-6">
                            <span><label translate="stepApp.instEmployee.resultPublicationDate"
                                         for="field_resultPublishDate">registrationExamYear</label><label
                                style="color: #f00">&nbsp;*</label></span>
                            <input type="text" class="form-control" name="dob" id="field_resultPublishDate"
                                   ng-model="instEmployee.resultPublishDate"
                                   ng-change="registrationFieldErrorFunction()"
                                   datepicker-popup="{{calendar.dateFormat}}"
                                   is-open="calendar.opened.resultPublishDate"
                                   placeholder="{{'entity.placeholder.dateformat' | translate}}"
                                   datepicker-options="calendar.dateOptions" close-text="Close"
                                   ng-click="calendar.open($event, 'resultPublishDate')"
                                   tooltip="{{'stepApp.instEmployee.resultPublishDate' | translate}}"
                                   required
                            />
                        </div>
                        <div class="form-group col-md-6">
                            <span><label translate="stepApp.instEmployee.registeredCertificateNo"
                                         for="field_registeredCertificateNo">registeredCertificateNo</label><label
                                style="color: #f00">&nbsp;*</label></span>
                            <input type="text" class="form-control" name="registeredCertificateNo"
                                   id="field_registeredCertificateNo" ng-change="registrationFieldErrorFunction()"
                                   ng-model="instEmployee.registeredCertificateNo"
                                   tooltip="{{'stepApp.instEmployee.registeredCertificateNo' | translate}}"
                                   placeholder="{{'stepApp.instEmployee.registeredCertificateNo' | translate}}"
                                   only-numbers
                            />
                        </div>
                    </fieldset>
                </div>
                <div>
                    <div class="next">
                        <div class="col-sm-12 modal-body padding0" ng-if="instEmployee.category === 'Teacher'">
                            <h4 translate="stepApp.instEmployee.attachmentInfo">Attachment Information</h4>
                            <div class="attachmentDiv"
                                 ng-repeat="attachmentCount in applicantAttachmentCount track by $index">
                                <div class="col-sm-12 no_padding">
                                    <div class="col-sm-6 ">
                                        <div class="form-group">
                                            <label for="" translate="stepApp.instEmployee.attachmentName"></label>
                                            <select class="form-control" id="field_attachment" name="attachment"
                                                    ng-model="applicantAttachment[attachmentCount].attachment"

                                                    ng-change="setAttachment($index, applicantAttachment[attachmentCount],applicantAttachment[attachmentCount].noAttachment)">
                                                <option value="" disabled selected
                                                        translate="global.menu.entities.selectAttachment"></option>
                                                <!--<option value="" translate="stepApp.instEmployee.attachmentName">-->
                                                <!--Attachment Name-->
                                                <!--</option>-->
                                                <option
                                                    ng-repeat="empLoanAttachment in attachmentCategoryList | filter:{applicationName: 'Employee-Personal-Info'}:false track by empLoanAttachment.id"
                                                    value="{{empLoanAttachment}}">
                                                    {{empLoanAttachment.attachmentName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" ng-hide="applicantAttachment[attachmentCount].noAttachment">
                                        <div class="form-group" ngf-drop ngf-change="setFile($file, attachment)">
                                            <label for="" translate="entity.action.addblob"></label>
                                            <div class="help-block clearfix">
                                                <span class="pull-left">{{applicantAttachment[attachmentCount].fileContentType}} {{byteSize(applicantAttachment[attachmentCount].file)}}</span>
                                                <button type="button"
                                                        ng-click="applicantAttachment.file=null;applicantAttachment[attachmentCount].fileContentType=null;"
                                                        ng-if="applicantAttachment[attachmentCount].file"
                                                        class="btn btn-default btn-xs pull-right">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </div>
                                            <div class="col-sm-12 padding0">
                                                <div class="col-xs-9 padding0">
                                                    <input type="file" ngf-select
                                                           class="form-control"
                                                           ngf-change="setFile($file, applicantAttachment[attachmentCount])"
                                                           translate="entity.action.addblob">
                                                    </input>
                                                </div>
                                                <div class="col-xs-1" ng-hide="attachmentCount=='0'">
                                        <span class="btn btn-danger"
                                              ng-click="removeAttachment(attachmentCount)">X</span>
                                                </div>
                                                <div class="col-xs-2" ng-if="attachmentCount!='0'">
                                                    <button type="button"><a href="javascript:void(0)"
                                                                             ng-click="previewImage(attachmentCount.file, attachmentCount.fileContentType,'Image of '+attachmentCount.name)">

                                                        </span>&nbsp;<span
                                                        translate="entity.action.view"> View</span></a>
                                                    </button>
                                                </div>
                                            </div>
                                            <input type="hidden" class="form-control" name="file" id="field_file"
                                                   ng-model="applicantAttachment[attachmentCount].file"
                                            />
                                            <input type="hidden" class="form-control" name="fileContentType"
                                                   id="field_fileContentType"
                                                   ng-model="applicantAttachment[attachmentCount].fileContentType"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" ng-show="applicantAttachment[attachmentCount].noAttachment">
                                        <div class="col-sm-9 padding0">
                                            <label translate="stepApp.instEmployee.remark">Remark</label>
                                            <input class="form-control" type="text" ng-change="remarksChange()"
                                                   ng-model="applicantAttachment[attachmentCount].remarks"
                                                   placeholder="{{'stepApp.instEmployee.remark' | translate}}"/>
                                        </div>
                                        <div class="col-sm-3" ng-hide="attachmentCount=='0'">
                                                <span class="btn btn-danger"
                                                      ng-click="removeAttachment(attachmentCount)">X</span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 attachment_file">
                                    <div class="control-lebel">
                                        <div class="col-sm-12 ">
                                            <input
                                                ng-click='selectNoAttachment(applicantAttachment[attachmentCount].noAttachment,applicantAttachment[attachmentCount].attachment,applicantAttachment[attachmentCount].file)'
                                                type="checkbox" id="noAttachment"
                                                ng-model="applicantAttachment[attachmentCount].noAttachment">
                                            <label class="control-label my_control_lebel"
                                                   translate="stepApp.instEmployee.noAttachment">I don't have this
                                                attachment</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <span ng-show="showAddMoreButton" class="btn btn-sm btn-primary pull-right"
                                      ng-click="addMoreAttachment()"><span
                                    class="glyphicon glyphicon-plus"></span>
                                </span>
                            </div>
                            <div class="col-sm-12" ng-show="duplicateError">
                                <span style="color:red;margin-top:30px;font-size:14px;">You have selected duplicate attachment, please check the selection.</span>
                            </div>
                        </div>
                    </div>
                    <!--/* for Edit*/-->

                    <!--<div class="next" ng-if="applicantAttachmentCount">-->
                    <!--<div class="col-sm-12 modal-body padding0">-->
                    <!--<h4 translate="stepApp.instEmployee.attachmentInfo">Attachment Information</h4>-->

                    <!--<div class="attachmentDiv"-->
                    <!--ng-repeat="attachmentCount in applicantAttachmentCount track by $index">-->
                    <!--<div class="col-sm-12 no_padding">-->
                    <!--<div class="col-sm-6 ">-->
                    <!--<div class="form-group">-->
                    <!--<label for="" translate="stepApp.instEmployee.attachmentName"></label>-->
                    <!--<select class="form-control" id="field_attachment" name="attachment"-->
                    <!--ng-model="applicantAttachment[attachmentCount].attachment"-->
                    <!--ng-change="setAttachment($index, applicantAttachment[attachmentCount],applicantAttachment[attachmentCount].noAttachment)">-->
                    <!--&lt;!&ndash;<option value="" disabled selected&ndash;&gt;-->
                    <!--&lt;!&ndash;translate="global.menu.entities.selectAttachment"></option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="" translate="stepApp.instEmployee.attachmentName">&ndash;&gt;-->
                    <!--&lt;!&ndash;Attachment Name&ndash;&gt;-->
                    <!--&lt;!&ndash;</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;ng-repeat="empLoanAttachment in attachmentCategoryList | filter:{applicationName: 'Employee-Personal-Info'}:false track by empLoanAttachment.id"&ndash;&gt;-->
                    <!--<option-->
                    <!--value="{{attachmentCount.attachmentCategory.id}}">-->
                    <!--{{attachmentCount.attachmentCategory.attachmentName}}-->
                    <!--</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-sm-6" ng-hide="applicantAttachment[attachmentCount].noAttachment">-->
                    <!--<div class="form-group" ngf-drop ngf-change="setFile($file, attachment)">-->
                    <!--<label for="" translate="entity.action.addblob"></label>-->
                    <!--<div class="help-block clearfix">-->
                    <!--<span class="pull-left">{{applicantAttachment[attachmentCount].fileContentType}} {{byteSize(applicantAttachment[attachmentCount].file)}}</span>-->
                    <!--<button type="button"-->
                    <!--ng-click="applicantAttachment.file=null;applicantAttachment[attachmentCount].fileContentType=null;"-->
                    <!--ng-if="applicantAttachment[attachmentCount].file"-->
                    <!--class="btn btn-default btn-xs pull-right">-->
                    <!--<span class="glyphicon glyphicon-remove"></span>-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--<div class="col-sm-12 padding0">-->
                    <!--<input type="file" ngf-select-->
                    <!--class="form-control"-->
                    <!--ngf-change="setFileForEdit($file, applicantAttachment[attachmentCount])"-->
                    <!--translate="entity.action.addblob">-->
                    <!--</input>-->
                    <!--&lt;!&ndash;<div class="col-xs-3" ng-hide="attachmentCount=='0'">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="btn btn-danger"&ndash;&gt;-->
                    <!--&lt;!&ndash;ng-click="removeAttachment(attachmentCount)">X</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="col-xs-2" ng-if="attachmentCount!='0'">-->
                    <!--<button type="button"><a href="javascript:void(0)"-->
                    <!--ng-click="previewImage(attachmentCount.file, attachmentCount.fileContentType,'Image of '+attachmentCount.name)">-->

                    <!--</span>&nbsp;<span-->
                    <!--translate="entity.action.view"> View</span></a>-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<input type="hidden" class="form-control" name="file" id="field_file"-->
                    <!--ng-model="applicantAttachment[attachmentCount].file"-->
                    <!--/>-->
                    <!--<input type="hidden" class="form-control" name="fileContentType"-->
                    <!--id="field_fileContentType"-->
                    <!--ng-model="applicantAttachment[attachmentCount].fileContentType"/>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-6" ng-show="applicantAttachment[attachmentCount].noAttachment">-->
                    <!--<div class="col-sm-9 padding0">-->
                    <!--<label  translate="stepApp.instEmployee.remark">Remark</label>-->
                    <!--<input class="form-control" type="text" ng-change="remarksChange()"-->
                    <!--ng-model="applicantAttachment[attachmentCount].remarks"-->
                    <!--placeholder="{{'stepApp.instEmployee.remark' | translate}}"/>-->
                    <!--</div>-->
                    <!--<div class="col-sm-3" ng-hide="attachmentCount=='0'">-->
                    <!--<span class="btn btn-danger"-->
                    <!--ng-click="removeAttachment(attachmentCount)">X</span></span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-6 attachment_file">-->
                    <!--<div class="control-lebel">-->
                    <!--<div class="col-sm-12 ">-->
                    <!--<input-->
                    <!--ng-click='selectNoAttachment(applicantAttachment[attachmentCount].noAttachment,applicantAttachment[attachmentCount].attachment,applicantAttachment[attachmentCount].file)'-->
                    <!--type="checkbox" id="noAttachment"-->
                    <!--ng-model="applicantAttachment[attachmentCount].noAttachment">-->
                    <!--<label class="control-label my_control_lebel"-->
                    <!--translate="stepApp.instEmployee.noAttachment">I don't have this-->
                    <!--attachment</label>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-12">-->
                    <!--<span ng-show="showAddMoreButton" class="btn btn-sm btn-primary pull-right"-->
                    <!--ng-click="addMoreAttachment()"><span-->
                    <!--class="glyphicon glyphicon-plus"></span>-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--<div class="col-sm-12" ng-show="duplicateError">-->
                    <!--<span style="color:red;margin-top:30px;font-size:14px;">You have selected duplicate attachment, please check the selection.</span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="col-sm-12 no_padding Emergency_Contact">
                        <fieldset>
                            <h4 translate="stepApp.instEmployee.home.registrationInfo">Registration Information</h4>
                            <div class="form-group col-md-6">
                                <label translate="stepApp.instEmployee.code" for="field_code">Code</label>
                                <input type="text" id="field_code" class="form-control" value="{{instEmployee.code}}"
                                       readonly>
                                <span class="message validating" ng-show="editForm.code.$pending">validating...</span>
                                <div ng-show="editForm.code.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.code.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>

                                    <p class="help-block"
                                       ng-show="editForm.code.$error.ngRemoteValidate">
                                        This Code already exists!
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label translate="stepApp.instEmployee.name" for="field_name">Teacher/Employee Full
                                    Name</label>
                                <input type="text" class="form-control" name="name" id="field_name"
                                       ng-model="instEmployee.name"
                                       tooltip="{{'stepApp.instEmployee.name' | translate}}"
                                       placeholder="{{'stepApp.instEmployee.name' | translate}}"
                                       required/>
                                <div ng-show="editForm.name.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.name.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label translate="stepApp.instEmployee.BnName" for="field_bnName">Teacher/Employee Full
                                    Name</label>
                                <input type="text" class="form-control" name="name" id="field_bnName"
                                       ng-model="instEmployee.bnName" only-bangla
                                       tooltip="{{'stepApp.instEmployee.BnName' | translate}}"
                                       required/>
                                <div ng-show="editForm.bnName.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.bnName.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label translate="stepApp.instEmployee.email" for="field_email"
                                       id="label-email">Email</label>
                                <input type="email" class="form-control" custom-email name="email" id="field_email"
                                       required
                                       ng-remote-validate="/api/account/checkEmail/"
                                       ng-remote-method="GET"
                                       ng-remote-throttle="1000"
                                       ng-model="instEmployee.email"
                                       placeholder="example@email.com"
                                       tooltip="example@email.com"
                                />
                                <span class="message validating" ng-show="editForm.email.$pending ">validating...</span>
                                <div ng-show="editForm.email.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.email.$error.required && editForm.email.$dirty"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                                <div ng-show="editForm.email.$error.email">
                                    <p class="help-block"
                                       ng-show="editForm.email.$error.email">
                                        Not Valid Email
                                    </p>
                                </div>
                                <div ng-show="editForm.email.$error.ngRemoteValidate">
                                    <p class="help-block"
                                       ng-show="editForm.email.$error.ngRemoteValidate">
                                        This email is already exist
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label translate="stepApp.instEmployee.contactNo" for="field_contactNo"
                                       id="label-contactNo">Contact No</label>
                                <input type="text" class="form-control" name="contactNo" id="field_contactNo"
                                       ng-model="instEmployee.contactNo" ng-pattern="/^\d+$/"
                                       placeholder="{{'stepApp.instEmployee.contact' | translate}}"
                                       ng-maxlength="11" ng-minlength="11"
                                       tooltip="{{'stepApp.instEmployee.contactNo' | translate}}"
                                       required maxlength="11" minlength="11"/>
                                <div ng-show="editForm.contactNo.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.contactNo.$error.required"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.contactNo.$error.minlength"
                                       translate="entity.validation.minlength"
                                       translate-value-min="11">
                                        This field cannot be longer than 11 Digit.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.contactNo.$error.maxlength"
                                       translate="entity.validation.maxlength"
                                       translate-value-max="11">
                                        This field cannot be longer than 11 Digit.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label translate="stepApp.instEmployee.altContactNo" for="field_altContactNo">Contact
                                    No</label>
                                <input type="text" class="form-control" name="altContactNo" id="field_altContactNo"
                                       ng-model="instEmployee.altContactNo" ng-pattern="/^\d+$/"
                                       placeholder="{{'stepApp.instEmployee.contact' | translate}}"
                                       ng-maxlength="11" ng-minlength="11" maxlength="11" minlength="11"
                                       tooltip="{{'stepApp.instEmployee.altContactNo' | translate}}"
                                />
                                <div ng-show="editForm.altContactNo.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.altContactNo.$error.minlength"
                                       translate="entity.validation.minlength"
                                       translate-value-min="11">
                                        This field cannot be longer than 11 characters.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.altContactNo.$error.maxlength"
                                       translate="entity.validation.maxlength"
                                       translate-value-max="11">
                                        This field cannot be longer than 11 characters.
                                    </p>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-sm-12 no_padding Emergency_Contact">
                    <fieldset>
                        <h4 translate="stepApp.instEmployee.conPerName">ConPerName</h4>
                        <div class="form-group col-md-6">
                            <label translate="stepApp.instEmployee.name" for="field_conPerName">ConPerName</label>
                            <input type="text" class="form-control" name="conPerName" id="field_conPerName"
                                   ng-model="instEmployee.conPerName"
                                   tooltip="{{'stepApp.instEmployee.name' | translate}}"
                                   placeholder="{{'stepApp.instEmployee.name' | translate}}"
                                   only-letters-and-dash-and-dot
                            />
                        </div>
                        <div class="form-group col-md-6">
                            <label translate="stepApp.instEmployee.conPerMobile"
                                   for="field_conPerMobile">ConPerMobile</label>
                            <input type="text" class="form-control" name="conPerMobile" id="field_conPerMobile"
                                   ng-model="instEmployee.conPerMobile" only-numbers
                                   tooltip="{{'stepApp.instEmployee.conPerMobile' | translate}}"
                                   placeholder="{{'stepApp.instEmployee.conPerMobile' | translate}}"
                                   ng-maxlength="11" ng-minlength="11" maxlength="11" minlength="11"
                            />
                        </div>
                        <div class="form-group col-md-6">
                            <label translate="stepApp.instEmployee.conPerAddress"
                                   for="field_conPerAddress">ConPerAddress</label>
                            <textarea class="form-control" name="conPerAddress" id="field_conPerAddress"
                                      tooltip="{{'stepApp.instEmployee.conPerAddress' | translate}}"
                                      placeholder="{{'stepApp.instEmployee.conPerAddress' | translate}}"
                                      ng-model="instEmployee.conPerAddress">
                        </textarea>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-12 no_padding Emergency_Contact"
                     ng-if="instEmployee.institute.type == 'NonGovernment'">
                    <fieldset>
                        <h4 translate="stepApp.instEmplBankInfo.bankInformation">Bank Information</h4>
                        <div class="form-group hide">
                            <label for="id" translate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="id" name="id"
                                   ng-model="instEmplBankInfo.id" readonly/>
                        </div>
                        <div class="form-group col-sm-6">
                            <label translate="stepApp.instEmplBankInfo.bankName" for="field_bankName">BankSetup</label>
                            <input type="text" class="form-control" id="field_bankName" name="BankSetup"
                                   ng-model="bankName"
                                   readonly required>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label translate="stepApp.instEmplBankInfo.bankBranch"
                                   for="field_bankBranc">BankBranch</label>
                            <select class="form-control" id="field_bankBranc" name="bankBranch"
                                    ng-model="instEmplBankInfo.bankBranc"
                                    tooltip="{{'stepApp.instEmplBankInfo.bankBranch' | translate}}"
                                    ng-options="bankBranch as bankBranch.brName for bankBranch in bankBranchesNew track by bankBranch.id"
                                    required>
                                <option disabled selected value="">{{'stepApp.instEmplBankInfo.bankBranch' | translate}}</option>
                            </select>
                            <div ng-show="editForm.bankBranch.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.bankBranch.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label translate="stepApp.instEmplBankInfo.bankAccountNo" for="field_bankAccountNo">BankAccountNo</label>
                            <input type="text" class="form-control" name="bankAccountNo" id="field_bankAccountNo"
                                   ng-model="instEmplBankInfo.bankAccountNo"
                                   tooltip="{{'stepApp.instEmplBankInfo.bankAccountNo' | translate}}"
                                   placeholder="{{'stepApp.instEmplBankInfo.bankAccountNo' | translate}}"
                                   required only-numbers minlength="0" maxlength="20"/>
                            <div ng-show="editForm.bankAccountNo.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.bankAccountNo.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-12 no_padding Emergency_Contact" ng-if="instEmployee.institute.type == 'Government'">
                    <fieldset>
                        <h4 translate="stepApp.instEmplBankInfo.bankInformation">Bank Information</h4>
                        <div class="form-group hide">
                            <label for="ids" translate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="ids" name="id"
                                   ng-model="instEmplBankInfo.id" readonly/>
                        </div>
                        <div class="form-group col-sm-6">
                            <label translate="stepApp.instEmplBankInfo.bankName" for="field_bankSetup">BankSetup</label>
                            <input type="text" class="form-control" id="field_bankSetup" name="BankSetup"
                                   ng-model="bankName"
                                   readonly>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label translate="stepApp.instEmplBankInfo.bankBranch"
                                   for="field_bankBranch">BankBranch</label>
                            <select class="form-control" id="field_bankBranch" name="bankBranch"
                                    ng-model="instEmplBankInfo.bankBranc"
                                    tooltip="{{'stepApp.instEmplBankInfo.bankBranc' | translate}}"
                                    ng-options="bankBranch as bankBranch.brName for bankBranch in bankBranchesNew "
                            >
                                <option value="">{{instEmplBankInfo.bankBranc.brName}}</option>
                            </select>
                            <div ng-show="editForm.bankBranch.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.bankBranch.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label translate="stepApp.instEmplBankInfo.bankAccountNo" for="field_bankAccountNo1">BankAccountNo</label>
                            <input type="text" class="form-control" name="bankAccountNo" id="field_bankAccountNo1"
                                   ng-model="instEmplBankInfo.bankAccountNo"
                                   tooltip="{{'stepApp.instEmplBankInfo.bankAccountNo' | translate}}"
                                   placeholder="{{'stepApp.instEmplBankInfo.bankAccountNo' | translate}}"

                            />
                            <div ng-show="editForm.bankAccountNo.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.bankAccountNo.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div id="education-div" class="col-lg-12 col-md-12 education-div padding0" style="margin-bottom: 5px">
                    <h4 translate="stepApp.instEmployee.EmpAddress">Employee Address</h4>
                </div>
                <div id="address-div" class="col-md-6">
                    <h4 translate="stepApp.instEmployee.preEmpAddress"> Present Address</h4>
                    <div class="space" style="height: 28px;"></div>
                    <div class="form-group ">
                        <label translate="stepApp.instEmployee.villageHouse">Village/House</label>
                        <input type="text" ng-model="instEmpAddress.villageOrHouse" class="form-control" name="Village"
                               tooltip="{{'stepApp.instEmployee.villageHouse' | translate}}"
                               placeholder="{{'stepApp.instEmployee.villageHouse' | translate}}"
                               required
                        >
                        <div ng-show="editForm.Village.$invalid">
                            <p class="help-block"
                               ng-show="editForm.Village.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label translate="stepApp.instEmployee.post">Village/House</label>
                        <input type="text" ng-model="instEmpAddress.post" class="form-control" name="Village"
                               tooltip="{{'stepApp.instEmployee.post' | translate}}"
                               placeholder="{{'stepApp.instEmployee.post' | translate}}"
                               required only-letters
                        >
                        <div ng-show="editForm.post.$invalid">
                            <p class="help-block"
                               ng-show="editForm.post.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label translate="stepApp.instEmployee.postCode">Village/House</label>
                        <input type="text" ng-model="instEmpAddress.postCode" class="form-control" name="Village"
                               tooltip="{{'stepApp.instEmployee.postCode' | translate}}"
                               placeholder="{{'stepApp.instEmployee.postCode' | translate}}"
                               only-numbers min="0" maxlength="4" minlength="4" ng-maxlength="4" ng-minlength="4"
                        >
                        <div ng-show="editForm.postCode.$invalid">
                            <p class="help-block"
                               ng-show="editForm.postCode.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                            <small ng-if="editForm.postCode.$error.maxlength">
                                Please enter 4 digit postal code
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="stepApp.instEmployee.roadBlock">Road/Block</label>
                        <input type="text" ng-model="instEmpAddress.roadBlockSector" class="form-control" name="Road"
                               tooltip="{{'stepApp.instEmployee.roadBlock' | translate}}"
                               placeholder="{{'stepApp.instEmployee.roadBlock' | translate}}"

                        >
                        <div ng-show="editForm.Road.$invalid">
                            <p class="help-block"
                               ng-show="editForm.Road.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="stepApp.instGenInfo.division" for="field_predivision">Division</label>
                        <select class="form-control" id="field_predivision" name="division"
                                ng-change="divisionChange(parmDivsion)"
                                ng-model="parmDivsion" required
                                tooltip="{{'stepApp.instGenInfo.division' | translate}}"
                                ng-options="division as division.name for division in divisions|filter:removeNull track by division.id">
                            <option value="" translate="global.home.selectdivision">{{PreDivisionSelect}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label translate="stepApp.instGenInfo.district" for="field_predistrict">District</label>
                        <select class="form-control" id="field_predistrict" ng-disabled="!PreDistrictSelect"
                                name="district"
                                ng-change="districtChange(instEmpAddress.district)"
                                ng-model="instEmpAddress.district" required
                                tooltip="{{'stepApp.instGenInfo.district' | translate}}"
                                ng-options="district as district.name for district in districts track by district.id">
                            <option disabled selected value="" translate="global.home.selectdistrict">{{PreDistrictSelect}}</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label translate="stepApp.instGenInfo.upazila" for="field_preupazila">upazila</label>
                        <select class="form-control" id="field_preupazila" ng-disabled="!PreUpzilaSelect" name="upazila"
                                ng-change="upazilaChange()"
                                tooltip="{{'stepApp.instGenInfo.upazila' | translate}}"
                                ng-model="instEmpAddress.upazila" required
                                ng-options="upazila as upazila.name for upazila in upazilas track by upazila.id">
                            <option value="" disabled selected translate="global.home.selectthana">{{PreUpzilaSelect}}</option>
                        </select>
                    </div>
                </div>
                <div id="address-div" class="col-md-6 ">
                    <h4 translate="stepApp.instEmployee.perEmpAddress"> Permanent Address</h4>
                    <div>
                        <input type="checkbox" name="sameAddress" id="sameAddress"
                               ng-disabled="!instEmpAddress.upazila || !instEmpAddress.villageOrHouse  "
                               ng-model="instEmpAddress.sameAddress"
                               tooltip="{{'stepApp.instEmployee.perEmpAddress' | translate}}"
                               placeholder="{{'stepApp.instEmployee.perEmpAddress' | translate}}"
                               ng-click="changeSameAddress(instEmpAddress.sameAddress)"><span>&nbsp;</span>
                        <label
                            translate="stepApp.instEmployee.sameAsPresentAdd">Same as present Address</label></div>
                    <div class="form-group ">
                        <label translate="stepApp.instEmployee.villageHouse">Village/House</label>
                        <input type="text" ng-model="instEmpAddress.prevVillageOrHouse" class="form-control"
                               tooltip="{{'stepApp.instEmployee.villageHouse' | translate}}"
                               placeholder="{{'stepApp.instEmployee.villageHouse' | translate}}"
                               name="Village">

                        <div ng-show="editForm.Village.$invalid">
                            <p class="help-block"
                               ng-show="editForm.Village.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label translate="stepApp.instEmployee.post">Village/House</label>
                        <input type="text" ng-model="instEmpAddress.prevPost" class="form-control"
                               tooltip="{{'stepApp.instEmployee.post' | translate}}"
                               placeholder="{{'stepApp.instEmployee.post' | translate}}"
                               name="prevPost" only-letters>
                        <div ng-show="editForm.prevPost.$invalid">
                            <p class="help-block"
                               ng-show="editForm.prevPost.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label translate="stepApp.instEmployee.postCode">prevPostCode</label>
                        <input type="text" ng-model="instEmpAddress.prevPostCode" class="form-control"
                               tooltip="{{'stepApp.instEmployee.postCode' | translate}}"
                               placeholder="{{'stepApp.instEmployee.postCode' | translate}}"
                               name="prevPostCode"
                               only-numbers min="0" maxlength="4" minlength="4" ng-maxlength="4" ng-minlength="4">
                        <div ng-show="editForm.prevPostCode.$invalid">
                            <p class="help-block"
                               ng-show="editForm.prevPostCode.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                            <small ng-if="editForm.postCode.$error.maxlength">
                                Please enter 4 digit postal code
                            </small>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label translate="stepApp.instEmployee.roadBlock">Road/Block</label>
                        <input type="text" ng-model="instEmpAddress.prevRoadBlockSector" class="form-control"
                               tooltip="{{'stepApp.instEmployee.roadBlock' | translate}}"
                               placeholder="{{'stepApp.instEmployee.roadBlock' | translate}}"
                               name="Road">

                        <div ng-show="editForm.Road.$invalid">
                            <p class="help-block"
                               ng-show="editForm.Road.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="stepApp.instGenInfo.division" for="field_perdivision">Division</label>
                        <select class="form-control" id="field_perdivision" name="division"
                                ng-model="instEmpAddress.prevDivision"
                                ng-change="PreDivisionChange(instEmpAddress.prevDivision)" required
                                tooltip="{{'stepApp.instGenInfo.division' | translate}}"
                                ng-options="division as division.name for division in prevdivisions track by division.id">
                            <option value="" disabled selected translate="global.home.selectdivision">{{divisionSelect}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label translate="stepApp.instGenInfo.district" for="field_perdistrict">District</label>
                        <select class="form-control" id="field_perdistrict" name="district"
                                ng-disabled="!districtSelect"
                                ng-model="instEmpAddress.prevDistrict"
                                tooltip="{{'stepApp.instGenInfo.district' | translate}}"
                                ng-change="PreDistrictChange(instEmpAddress.prevDistrict)" required
                                ng-options="district as district.name for district in prevdistricts track by district.id">
                            <option value="" translate="global.home.selectdistrict">{{districtSelect}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label translate="stepApp.instGenInfo.upazila" for="field_perupazila">upazila</label>
                        <select class="form-control" id="field_perupazila" name="upazila" ng-disabled="!upazilaSelect"
                                ng-model="instEmpAddress.prevUpazila" required
                                tooltip="{{'stepApp.instGenInfo.upazila' | translate}}"
                                ng-options="upazila as upazila.name for upazila in prevupazilas track by upazila.id">
                            <option value="" translate="global.home.selectthana">{{upazilaSelect}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                        translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="editForm.$invalid || isSaving || registrationField || showError"
                            class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;
                        <span ng-show="instEmployee.id == null" translate="entity.action.save">Save</span>
                        <span ng-show="instEmployee.id != null" translate="entity.action.update">Update</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
