<div class="col-sm-12 common-list">
    <h2 ng-if="showHeading" translate="stepApp.instEmployee.home.employeeList1">InstEmployees</h2>
    <h2 ng-if="showHeadingmpo" translate="stepApp.instEmployee.home.employeeList2">InstEmployees</h2>
    <div class="col-md-12 padding-bt">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
    </div>
    <br>
    <!--<jh-alert></jh-alert>-->
    <div class="row">
        <div class="col-md-8">
            <!--<form name="searchForm" class="form-inline">-->
            <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">-->
            <!--</div>-->
            <!--<button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a InstEmployee</span>-->
            <!--</button>-->
            <!--</form>-->
        </div>
    </div>
    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="stepApp.instEmployee.home.serial">Serial</th>
                <th translate="stepApp.instEmployee.home.id">ID</th>
                <th translate="stepApp.instEmployee.name">Name</th>
                <th ng-if="logInInstitute.type=='Government'" translate="stepApp.instEmployee.department">Name</th>
                <td has-any-authority="ROLE_ADMIN" translate="stepApp.instEmployee.institute">Name</td>
                <th translate="stepApp.instEmployee.dob">Dob</th>
                <th ng-if="logInInstitute.type=='NonGovernment'" translate="stepApp.instEmployee.mpoActiveDate">mpoActiveDate</th>
                <th translate="stepApp.instEmployee.designation">Designation</th>
                <th translate="stepApp.instEmployee.courseSub">Subject</th>
                <th translate="entity.action.action" class="text-right no-print"></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="instEmployee in instEmployees | filter:q | itemsPerPage: pageSize track by instEmployee.id" current-page="currentPage">
            <!--<tr ng-repeat="instEmployee in instEmployees track by instEmployee.id">-->
            <!--<tr ng-if="curInstitute.institute.type=='Government' || curInstitute.institute.type=='NonGovernment' || CurrentInstEmployee.isHeadOfDept=='YES'"  dir-paginate="instEmployee in instEmployees | filter:q | itemsPerPage: pageSize track by instEmployee.id" current-page="currentPage">-->

                <td>{{$index+1}}</td>
                <td>{{instEmployee.code}}</td>
                <td>{{instEmployee.name}}</td>
                <td ng-if="instEmployee.institute.type=='Government'" ><span>{{instEmployee.hrdepartmentSetup.departmentInfo.departmentName}}</span><span ng-if="instEmployee.isHeadOfDept=='YES'" style="color: darkred; font-weight: bold"> (Dept. HEAD) </span></td>
                <td has-any-authority="ROLE_ADMIN">
                    {{instEmployee.institute.name}}
                </td>
                <td>{{instEmployee.dob | date:'mediumDate'}}</td>
                <td ng-if="instEmployee.institute.type=='NonGovernment'" >{{instEmployee.mpoActiveDate | date:'mediumDate'}}</td>
                <td>{{instEmployee.designationSetup.designationInfo.designationName}}</td>
                <td>{{instEmployee.cmsSubject.name}}</td>

                <td class="text-right no-print">
                    <button type="submit" ng-show="instEmployee.mpoAppStatus < 2 && instEmployee.institute.type=='NonGovernment'"
                            ui-sref="employeeInfo.approve({code:instEmployee.code})"
                            class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                        translate="entity.action.view&eligible"> View And Eligible</span>
                    </button>

                    <button type="submit" ng-if="instEmployee.institute.type=='Government'"
                            ui-sref="employeeInfo.approve({code:instEmployee.code})"
                            class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                        translate="entity.action.view"> View And Eligible</span>
                    </button>
                    <button type="submit" ng-show="instEmployee.mpoAppStatus >=2"
                            ui-sref="employeeInfo.approve({code:instEmployee.code})"
                            class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                </td>
            </tr>




           <tr has-any-authority="ROLE_ADMIN" dir-paginate="instEmployee in instEmployees | filter:q | itemsPerPage: pageSize track by instEmployee.id" current-page="currentPage">

               <td>{{$index+1}}</td>
               <td>{{instEmployee.code}}</td>
               <td>{{instEmployee.name}}</td>
               <td >{{instEmployee.institute.name}}</td>

               <td>{{instEmployee.dob | date:'mediumDate'}}</td>
               <td>{{instEmployee.mpoActiveDate | date:'mediumDate'}}</td>
               <!--<td>{{instEmployee.indexNo}}</td>-->

               <td>{{instEmployee.designationSetup.designationInfo.designationName}}</td>
               <td>{{instEmployee.cmsSubAssign.cmsSubject.name}}</td>
               <!--<td>{{instEmployee.email}}</td>-->
               <!--<td>{{instEmployee.contactNo}}</td>-->
               <!--<td>{{instEmployee.fatherName}}</td>-->
               <!--<td>{{instEmployee.motherName}}</td>-->
               <!---->
               <!--<td translate="{{'stepApp.EmpType.' + instEmployee.category}}">{{instEmployee.category}}</td>-->
               <!--<td>{{instEmployee.gender}}</td>-->
               <!--<td translate="{{'stepApp.maritalStatus.' + instEmployee.maritalStatus}}">{{instEmployee.maritalStatus}}</td>-->
               <!--<td translate="{{'stepApp.bloodGroup.' + instEmployee.bloodGroup}}">{{instEmployee.bloodGroup}}</td>-->
               <!--<td>{{instEmployee.tin}}</td>-->
               <!--<td>{{instEmployee.image}}</td>-->
               <!--<td>{{instEmployee.nationality}}</td>-->
               <!--<td>{{instEmployee.nid}}</td>-->
               <!--<td>{{instEmployee.nidImage}}</td>-->
               <!--<td>{{instEmployee.birthCertNo}}</td>-->
               <!--<td>{{instEmployee.birthCertImage}}</td>-->
               <!--<td>{{instEmployee.conPerName}}</td>-->
               <!--<td>{{instEmployee.conPerMobile}}</td>-->
               <!--<td>{{instEmployee.conPerAddress}}</td>-->
               <!--<td>-->
               <!--<a ui-sref="institute.detail({id:instEmployee.institute.id})">{{instEmployee.institute.name}}</a>-->
               <!--</td>-->
               <!--<td>-->
               <!--<a ui-sref="designation.detail({id:instEmployee.designation.id})">{{instEmployee.designation.name}}</a>-->
               <!--</td>-->
               <!--<td>-->
               <!--<a ui-sref="religion.detail({id:instEmployee.religion.id})">{{instEmployee.religion.name}}</a>-->
               <!--</td>-->
               <!--<td>-->
               <!--<a ui-sref="quota.detail({id:instEmployee.quota.id})">{{instEmployee.quota.name}}</a>-->
               <!--</td>-->
               <!--<td>-->
               <!--<a ui-sref="courseTech.detail({id:instEmployee.courseTech.id})">{{instEmployee.courseTech.id}}</a>-->
               <!--</td>-->
               <!--<td>-->
               <!--<a ui-sref="gradeSetup.detail({id:instEmployee.gradeSetup.id})">{{instEmployee.gradeSetup.no}}</a>-->
               <!--</td>-->
               <td class="text-right no-print">
                   <!--<button type="submit"
                           ui-sref="instEmployee.detail({id:instEmployee.id})"
                           class="btn btn-info btn-sm">
                       <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                   </button>
                   <button type="submit"
                           ui-sref="instEmployee.edit({id:instEmployee.id})"
                           class="btn btn-primary btn-sm">
                       <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                   </button>
                   <button type="submit"
                           ui-sref="instEmployee.delete({id:instEmployee.id})"
                           class="btn btn-danger btn-sm">
                       <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                   </button>-->
                   <button type="submit"
                           ui-sref="employeeInfo.detail({code:instEmployee.code})"
                           class="btn btn-info btn-sm">
                       <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="stepApp.instEmployee.view"> View</span>
                   </button>
               </td>
           </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
