<ul id="ulcolor3" class="nav su_serv_menu nav-list  bs-docs-sidenav no-print">
    <li>
        <a class="button4" ui-sref="employeeInfo.dashboard" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="global.menu.account.dashboard">Dashboard</span>
        </a>
    </li>

    <li>
        <a class="button4" ui-sref="employeeInfo.personalInfo" has-authority="ROLE_INSTEMP" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.instEmployee.home.instEmployeePersonalInfo">Personal Information</span>

        </a>
    </li>
    <li ng-if="CurrentInstEmployee.isHeadOfDept=='YES'">
        <a class="button4" ui-sref="employeeInfo.addEmployeeByDept"  ui-sref-active="active" class="list-group-item">
            <i class="fa fa-angle-double-right"></i>
            &#xA0;
            <span translate="global.menu.entities.instAddEmployee">Add Employee</span>

        </a>
    </li>
    <li ng-if="CurrentInstEmployee.isHeadOfDept=='YES'">
        <a class="button4" ui-sref="instituteInfo.employeeList" has-authority="ROLE_HRM_USER" ui-sref-active="active" class="list-group-item">
            <i class="fa fa-angle-double-right"></i>
            &#xA0;
            <span translate="global.menu.entities.empListByDeptHead">Add Employee</span>

        </a>
    </li>

    <li ng-if="CurrentInstEmployee.isHeadOfDept=='YES'">
        <a class="button4" ui-sref="instituteInfo.staffList" has-authority="ROLE_HRM_USER" ui-sref-active="active" class="list-group-item">
            <i class="fa fa-angle-double-right"></i>
            &#xA0;
            <span translate="global.menu.entities.staffListByDeptHead">Add Employee</span>

        </a>
    </li>
    <li>
        <a class="button4" ui-sref="employeeInfo.educationalHistory" has-authority="ROLE_INSTEMP" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.instEmployee.home.instEmployeeEducationalInfo">Educational Information</span>

        </a>
    </li>
    <li>
        <a class="button4" ui-sref="employeeInfo.experienceInfo" has-authority="ROLE_INSTEMP" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.instEmployee.home.instEmployeeEmploymentInfo">Employement History</span>

        </a>
    </li>
    <li>
        <a class="button4" ui-sref="employeeInfo.trainingInfo" has-authority="ROLE_INSTEMP" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.instEmployee.home.trainingQuali">Training Information</span>

        </a>
    </li>
    <li>
        <a class="button4" ui-sref="employeeInfo.spouseInfo" has-authority="ROLE_INSTEMP" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.instEmployee.home.spouseInfo">Quota Certificate</span>

        </a>
    </li>
    <li>
        <a class="button4" ui-sref="employeeInfo.recruitmentInfo" has-authority="ROLE_INSTEMP" ui-sref-active="active">
            <i class="fa fa-angle-double-right"></i>
            <span translate="stepApp.instEmployee.home.recruitmentInfo">Training Information</span>

        </a>
    </li>
    <!--<li><a ui-sref="employeeInfo.imageUpload" has-authority="ROLE_INSTEMP" ui-sref-active="active"><i class="pull-left fa fa-pencil-square-o"></i><span translate="stepApp.instEmployee.home.instEmployeeImageInfo">Image</span><i class=" pull-right fa fa-caret-right"></i></a></li><li><a ui-sref="employeeInfo.nationalityAndBirthCertificate"  has-authority="ROLE_INSTEMP"ui-sref-active="active"><i class="pull-left fa fa-pencil-square-o"></i><span translate="stepApp.instEmployee.home.instEmployeeNCertificateInfo">Nationality</span><i class=" pull-right fa fa-caret-right"></i></a></li>-->
    <!--<li><a ui-sref="employeeInfo.quotaCertificate" has-authority="ROLE_INSTEMP" ui-sref-active="active"><i class="pull-left fa fa-pencil-square-o"></i><span translate="stepApp.instEmployee.home.instEmployeeQuotaCertificateInfo">Quota Certificate</span><i class=" pull-right fa fa-caret-right"></i></a></li>-->
    <li>
        <a class="button4" ui-sref="instituteInfo.addEmployee" has-authority="ROLE_INSTITUTE" ui-sref-active="active" class="list-group-item">
            <i class="fa fa-angle-double-right"></i>
            &#xA0;
            <span translate="global.menu.entities.instAddEmployee">Add Employee</span>

        </a>
    </li>


    <li>
        <a class="button4" ui-sref="instituteInfo.employeeList" has-any-authority="ROLE_INSTITUTE,ROLE_ADMIN" ui-sref-active="active" class="list-group-item">
            <i class="fa fa-angle-double-right"></i>
            &#xA0;
            <span translate="global.menu.entities.TeacherList">Teacher List</span>

        </a>
    </li>

    <li ng-if="logInInstitute.type=='NonGovernment'">
        <a class="button4" ui-sref="instituteInfo.mpoEnlistedEmployeeList" has-any-authority="ROLE_INSTITUTE" ui-sref-active="active" class="list-group-item">
            <i class="fa fa-angle-double-right"></i>
            &#xA0;
            <span translate="global.menu.entities.MpoEnlistedEmployees">MPO Enlisted Employee List</span>

        </a>
    </li>

    <li>
        <a class="button4"  ui-sref="instituteInfo.staffList"  has-any-authority="ROLE_INSTITUTE,ROLE_ADMIN" ui-sref-active="active" class="list-group-item">
            <i class="fa fa-angle-double-right"></i>
            &#xA0;
            <span translate="global.menu.entities.StaffList">Staff List</span>

        </a>
    </li>
    <li>
        <a class="button4" ui-sref="instituteInfo.PendingEmployeeList" has-any-authority="ROLE_INSTITUTE" ui-sref-active="active" class="list-group-item">
            <i class="fa fa-angle-double-right"></i>
            &#xA0;
            <span translate="global.menu.entities.instPendingEmployeList">Pending Employee List</span>

        </a>
    </li>

    <li ng-if="logInInstitute.type=='Government'">
        <a class="button4" ui-sref="instituteInfo.PendingEmployeeListByDeptHead" has-any-authority="ROLE_INSTITUTE,ROLE_ADMIN" ui-sref-active="active" class="list-group-item">
            <i class="fa fa-angle-double-right"></i>
            &#xA0;
            <span translate="global.menu.entities.PendingEmployeeListByDeptHead">Pending Employee List</span>

        </a>
    </li>

    <li ng-if="logInInstitute.type=='Government'">
        <a class="button4" ui-sref="instituteInfo.PendingStaffListByDeptHead" has-any-authority="ROLE_INSTITUTE" ui-sref-active="active" class="list-group-item">
            <i class="fa fa-angle-double-right"></i>
            &#xA0;
            <span translate="global.menu.entities.PendingStaffListByDeptHead">Pending Employee List</span>

        </a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a class="button4" ui-sref="instituteInfo.PendingEmployeeListByDeptHead"  ui-sref-active="active" class="list-group-item">
            <i class="fa fa-angle-double-right"></i>
            &#xA0;
            <span translate="global.menu.entities.PendingEmployeeListByDeptHeadAtAdmin">Pending Employee List</span>

        </a>
    </li>

    <li has-any-authority="ROLE_ADMIN">
        <a class="button4" ui-sref="instituteInfo.PendingStaffListByDeptHead"  ui-sref-active="active" class="list-group-item">
            <i class="fa fa-angle-double-right"></i>
            &#xA0;
            <span translate="global.menu.entities.PendingStaffListByDeptHeadAtAdmin">Pending Employee List</span>

        </a>
    </li>
    <li has-any-authority="ROLE_INSTITUTE" >
        <a class="button4" ui-sref="instituteInfo.declinedEmployeeList"  ui-sref-active="active" class="list-group-item">
            <i class="fa fa-angle-double-right"></i>
            &#xA0;
            <span translate="global.menu.entities.instEmployeDeclinedList">Declined Employee List</span>

        </a>
    </li>
    <li ng-if="logInInstitute.type=='Government'">
        <a ui-sref="employeeInfo.headOfDeptAssign"  has-any-authority="ROLE_ADMIN,ROLE_HRM_ADMIN,ROLE_INSTITUTE" ui-sref-active="active"
           class="button4"><i class="fa fa-angle-double-right"></i>
            &#xA0;<span translate="global.menu.entities.assignHeadOfDept">Assign Head of Dept</span>
        </a>
    </li>
    <li><a class="button4" ui-sref="report({module:'mpo'})" ui-sref-active="active"
           has-any-authority="ROLE_ADMIN, ROLE_INSTEMP">
        <i class="fa fa-angle-double-right"></i>
        <span>report</span></a>
    </li>
    <!--<li><a has-any-authority="ROLE_INSTITUTE"  ui-sref="employeeInfo.addressInfo" ui-sref-active="active"><i class="pull-left fa fa-pencil-square-o"></i><span translate="stepApp.instEmployee.home.instEmployeeAddress">Address Information</span><i class=" pull-right fa fa-caret-right"></i></a></li><li><a ui-sref="instituteInfo.report" has-any-authority="ROLE_ADMIN,ROLE_INSTITUTE" ui-sref-active="active"><i class="pull-left fa fa-pencil-square-o"></i><span translate="global.menu.entities.instRptInfo">Report</span><i class=" pull-right fa fa-caret-right"></i></a></li>-->
</ul>
<!--<div class="list-group">-->
<!--<a class="list-group-item"  ui-sref="employeeInfo.dashboard" ui-sref-active="active">-->
<!--<span class="glyphicon glyphicon-dashboard"></span>-->
<!--<span translate="global.menu.account.dashboard">Dashboard</span>-->
<!--</a>-->
<!--<a class="list-group-item"  ui-sref="employeeInfo.personalInfo" ui-sref-active="active">-->
<!--<span class="glyphicon glyphicon-dashboard"></span>-->
<!--<span translate="stepApp.instEmployee.home.instEmployeePersonalInfo">Personal Information</span>-->
<!--</a>-->
<!--<a class="list-group-item"  ui-sref="employeeInfo.educationalHistory" ui-sref-active="active">-->
<!--<span class="glyphicon glyphicon-dashboard"></span>-->
<!--<span translate="stepApp.instEmployee.home.instEmployeeEducationalInfo">Educational Information</span>-->
<!--</a>-->
<!--<a class="list-group-item"  ui-sref="employeeInfo.experienceInfo" ui-sref-active="active">-->
<!--<span class="glyphicon glyphicon-dashboard"></span>-->
<!--<span translate="stepApp.instEmployee.home.instEmployeeEmploymentInfo">Employement History</span>-->
<!--</a>-->
<!--<a class="list-group-item"   ui-sref="employeeInfo.trainingInfo" ui-sref-active="active">-->
<!--<span class="glyphicon glyphicon-dashboard"></span>-->
<!--<span translate="stepApp.instEmployee.home.trainingQuali">Training Information</span>-->
<!--</a>-->
<!--<a class="list-group-item"  ui-sref="employeeInfo.spouseInfo" ui-sref-active="active">-->
<!--<span class="glyphicon glyphicon-dashboard"></span>-->
<!--<span translate="stepApp.instEmployee.home.spouseInfo">Quota Certificate</span>-->
<!--</a>-->
<!--<a class="list-group-item"   ui-sref="employeeInfo.recruitmentInfo" ui-sref-active="active">-->
<!--<span class="glyphicon glyphicon-dashboard"></span>-->
<!--<span translate="stepApp.instEmployee.home.recruitmentInfo">Training Information</span>-->
<!--</a>-->
<!--<a class="list-group-item"  ui-sref="employeeInfo.imageUpload" ui-sref-active="active">-->
<!--<span class="glyphicon glyphicon-dashboard"></span>-->
<!--<span translate="stepApp.instEmployee.home.instEmployeeImageInfo">Image</span>-->
<!--</a>-->
<!--<a class="list-group-item"  ui-sref="employeeInfo.nationalityAndBirthCertificate" ui-sref-active="active">-->
<!--<span class="glyphicon glyphicon-dashboard"></span>-->
<!--<span translate="stepApp.instEmployee.home.instEmployeeNCertificateInfo">Nationality</span>-->
<!--</a>-->
<!--<a class="list-group-item"  ui-sref="employeeInfo.quotaCertificate" ui-sref-active="active">-->
<!--<span class="glyphicon glyphicon-dashboard"></span>-->
<!--<span translate="stepApp.instEmployee.home.instEmployeeQuotaCertificateInfo">Quota Certificate</span>-->
<!--</a>-->
<!--<a class="list-group-item" has-any-authority="ROLE_INSTITUTE"  ui-sref="employeeInfo.addressInfo" ui-sref-active="active">-->
<!--<span class="glyphicon glyphicon-dashboard"></span>-->
<!--<span translate="stepApp.instEmployee.home.instEmployeeAddress">Address Information</span>-->
<!--</a>-->
<!--<a ui-sref="instituteInfo.report" has-any-authority="ROLE_ADMIN,ROLE_INSTITUTE" ui-sref-active="active" class="list-group-item"><span-->
<!--class="glyphicon glyphicon-envelope"></span>-->
<!--&#xA0;<span translate="global.menu.entities.instRptInfo">Report</span></a>-->
<!--</div>-->

