<div class="col-md-12 common-dialogue">
    <form name="editForm" role="form" class="panel panel-primary" novalidate ng-submit="save()" show-validation>
        <h4 id="myInstFinancialInfoLabel" translate="stepApp.instEmployee.home.createOrEditLabel">
            Teacher/Employee Registration</h4>
        <div class="panel-body no_padding">
            <div class="col-md-9 no_padding">
                <div class="form-group col-md-6">

                    <label translate="stepApp.instEmployee.category" for="field_category">Category</label>
                    <select ng-change="updateFormFields()" class="form-control" name="category"
                            ng-model="instEmployee.category" id="field_category" required
                    >
                        <option value="" translate="stepApp.instEmployee.category" disabled selected ></option>
                        <option value="Teacher" translate="stepApp.EmpType.Teacher">Teacher</option>
                        <option value="Staff" translate="stepApp.EmpType.Staff">Staff</option>
                        <option value="officer" translate="stepApp.EmpType.Officer">Officer</option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.name" for="field_name">Teacher/Employee Full Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           ng-model="instEmployee.name"
                           required only-letters/>
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.BnName" for="field_name">Teacher/Employee Full Name</label>
                    <input type="text" class="form-control" name="name" id="field_bnName"
                           ng-model="instEmployee.bnName"
                           required only-bangla/>
                    <div ng-show="editForm.bnName.$invalid">
                        <p class="help-block"
                           ng-show="editForm.bnName.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>



                <div ng-if="currentEmployee.institute.type=='Government'" class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.designation">Designation</label>
                    <select class="form-control"
                            required id="field_designationInfo"
                            name="instEmplDesignation"
                            ng-model="instEmployee.designationSetup"
                            ng-options="designationSetup as designationSetup.designationInfo.designationName for designationSetup in designationSetupsss">
                        <option value="" translate="global.home.select" disabled selected>Select</option>
                    </select>
                    <div ng-show="editForm.designation.$invalid">
                        <p class="help-block"
                           ng-show="editForm.designation.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.curriculumInfo" for="field_cmsCurriculum">cmsCurriculum</label>
                    <select  class="form-control"
                            id="field_cmsCurriculum" name="cmsCurriculum" ng-model="instEmployee.cmsCurriculum" required
                            ng-change="setTrades(instEmployee.cmsCurriculum)"
                            ng-options="cmsCurriculum as cmsCurriculum.name for cmsCurriculum in cmscurriculums | orderBy:'name' track by cmsCurriculum.id">
                        <option value="" translate="global.home.select" disabled selected>Select</option>
                    </select>
                </div>
                <div class="form-group col-md-6">

                    <label translate="stepApp.instEmployee.courseTech" for="field_cmsTrade"
                           id="label-cmsTrade">Technology</label>
                    <select class="form-control" id="field_cmsTrade"
                            name="courseTech" ng-model="instEmployee.cmsTrade"
                            ng-change="setCmsSubject(instEmployee.cmsTrade.id)"
                            ng-options="cmsTrade as cmsTrade.name for cmsTrade in cmsTrades | orderBy:'name' track by cmsTrade.id">
                        <option value="" translate="global.home.select" disabled selected>Select</option>
                    </select>
                </div>


                <div ng-if="selectedCourse.noOfPostT!=null  && instEmployee.category === 'Teacher' && isVacancy==false" class="form-group col-md-6 " style="overflow: hidden">
                    <h2 class="wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0s">
                        <span class="badge1">{{selectedCourse.noOfPostT}}</span><span class="badge2">Posts are Available</span> </h2>
                </div>
                <div ng-if="isVacancy  &&instEmployee.category === 'Teacher' && selectedCourse.noOfPostT=='0'" class="form-group col-md-6 " style="overflow: hidden">
                    <h2 class="wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0s">
                        <span class="badge1">{{selectedCourse.noOfPostT}}</span><span class="badge2">There is no vacancy</span> </h2>
                </div>
                <div ng-if="selectedCourse.noOfPostStaff!=null  && instEmployee.category === 'Staff' && staffVacancy==false" class="form-group col-md-6 " style="overflow: hidden">
                    <h2 class="wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0s">
                        <span class="badge1">{{selectedCourse.noOfPostStaff}}</span><span class="badge2">Posts are Available</span> </h2>
                </div>
                <div ng-if="staffVacancy  && instEmployee.category === 'Staff' && selectedCourse.noOfPostStaff=='0'" class="form-group col-md-6 " style="overflow: hidden">
                    <h2 class="wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0s">
                        <span class="badge1">{{selectedCourse.noOfPostStaff}}</span><span class="badge2">There is no vacancy</span> </h2>
                </div>
                <style>
                    span.badge1 {
                        font-size: 16px;
                        background: #091084;
                        background: -moz-linear-gradient(top, #091084 0%, #2989d8 48%, #207cca 60%, #182163 100%);
                        background: -webkit-linear-gradient(top, #091084 0%,#2989d8 48%,#207cca 60%,#182163 100%);
                        background: linear-gradient(to bottom, #091084 0%,#2989d8 48%,#207cca 60%,#182163 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#091084', endColorstr='#182163',GradientType=0 );
                        color: #fff;
                        padding: 7px 35px;
                        border-radius: 30px 0px 0px 30px;
                        text-align: center;
                        line-height: 33px;
                        text-shadow: #0c1c8c 1px 1px 0;
                        font-family: 'Open Sans', sans-serif;
                        transition: all .5s;
                    }

                    span.badge2 {
                        font-size: 16px;
                        background: #c9cace;
                        background: -moz-linear-gradient(top, #c9cace 0%, #ffffff 47%, #c9cace 97%, #ffffff 100%);
                        background: -webkit-linear-gradient(top, #c9cace 0%,#ffffff 47%,#c9cace 97%,#ffffff 100%);
                        background: linear-gradient(to bottom, #c9cace 0%,#ffffff 47%,#c9cace 97%,#ffffff 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9cace', endColorstr='#ffffff',GradientType=0 );
                        color: #1f70bc;
                        padding: 7px 20px;
                        border-radius: 3px 30px 30px 0px;
                        text-shadow: #fff 1px 1px 0;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: bold;
                        transition: all .5s;
                    }
                </style>


                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.cmsSubject" for="field_cmsSubAssign" id="label-cmsSubAssign">Subject</label>
                    <select class="form-control" id="field_cmsSubAssign" name="cmsSubAssign"
                            ng-model="instEmployee.cmsSubject"
                            ng-options="cmsSubject as cmsSubject.name for cmsSubject in cmsSubjects | orderBy:'name' track by cmsSubject.id"
                            >
                        <option value="" translate="global.home.select" disabled selected>Select</option>
                    </select>
                    <div ng-show="editForm.courseSub.$invalid">
                        <p class="help-block"
                           ng-show="editForm.courseSub.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>



                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.districtOwn" for="field_predistrict">District</label>
                    <select class="form-control" id="field_predistrict"
                            name="district"
                            ng-model="instEmployee.district" required
                            ng-options="district as district.name for district in districtsOwn track by district.id">
                        <option value="" translate="global.home.select" disabled selected>Select</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.level" for="field_level" id="label-level">Level</label>
                    <select class="form-control" name="level"
                            id="field_level"
                            ng-options="instLevel as instLevel.name for instLevel in instLevels track by instLevel.id"
                            ng-model="instEmployee.instLevel" required>
                        <option value="" translate="global.home.select" disabled selected>Select</option>
                    </select>
                </div>


                <div ng-if="currentEmployee.institute.type === 'Government'" class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.instEmployee.jobCategory">Type</label>
                        <select class="form-control" name="jobCategory" ng-model="instEmployee.jobCategory">
                            <option value="" translate="global.home.select" disabled selected>Select</option>
                            <option value="Revenue" translateste="stepApp.instEmployee.Revenue">Revenue</option>
                            <option value="Development" translate="stepApp.instEmployee.Development">Non Government</option>
                            <option value="Contractual" translate="stepApp.instEmployee.Contractual">Non
                                Government
                            </option>
                        </select>
                        <div ng-show="editForm.jobCategory.$invalid">
                            <p class="help-block"
                               ng-show="editForm.jobCategory.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
                <div ng-if="currentEmployee.institute.type === 'Government'" class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.employeeType"
                           >employeeType</label>
                    <select class="form-control"
                            required id="field_employeeType"
                            name="instEmplDesignation"
                            ng-model="instEmployee.employeeType"
                            ng-options="employeeType  as employeeType.typeName for employeeType in employeeTypes | orderBy:'id' track by employeeType.id">
                        <option value="" translate="global.home.select" disabled selected>Select</option>
                    </select>
                    <div ng-show="editForm.employeeType.$invalid">
                        <p class="help-block"
                           ng-show="editForm.employeeType.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>

                </div>
                <div ng-if="currentEmployee.institute.type === 'Government'" class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.instEmployee.encadrement">Encadrement</label>
                        <select class="form-control" id="field_encadrement" name="encadrement" ng-model="instEmployee.encadrement"
                                ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in encadrementList track by MiscTypeSetup.id" required>
                            <option selected disabled value="" translate="global.home.select"></option>
                        </select>
                        <div ng-show="editForm.encadrement.$invalid">
                            <p class="help-block"
                               ng-show="editForm.encadrement.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-3 no_padding">
                <div class="border-img">
                    <div class="img-thumb">
                        <img ng-src="{{url}}" alt=" IMAGE">
                    </div>
                    <div class="img-input">
                        <input type="file" class="btn btn-primary btn-xs btn-block" ngf-drop
                               ngf-change="setQuotaCert($file, instEmployee)" ngf-select
                               role="button">
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label translate="stepApp.instEmployee.dob" for="field_dob">Dob</label>
                <input type="text" class="form-control" name="dob" id="field_dob"
                       ng-model="instEmployee.dob"
                       required
                       tooltip="{{'stepApp.instEmployee.dob' | translate}}"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.dob"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       max-date="toDate"
                       ng-click="calendar.open($event, 'dob')"/>

                <div ng-show="editForm.dob.$invalid">
                    <p class="help-block"
                       ng-show="editForm.dob.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label translate="stepApp.instEmployee.quota" for="field_jobQuota" id="label-jobQuota">jobQuota</label>
                <select class="form-control" id="field_jobQuota"
                        name="jobQuota" ng-model="instEmployee.jobQuota" required
                        ng-change="updatePrlDate();"
                >
                    <option value=""  translate="stepApp.jobQuota.selectJob"></option>
                    <option value="General"  translate="stepApp.jobQuota.General"></option>
                    <option value="FreedomFighter"  translate="stepApp.jobQuota.FreedomFighter"></option>
                    <option value="ChildOfFreedomFighter"  translate="stepApp.jobQuota.ChildOfFreedomFighter"></option>
                    <option value="GrandChildOfFreedomFighter"  translate="stepApp.jobQuota.GrandChildOfFreedomFighter"></option>
                    <option value="Tribal"  translate="stepApp.jobQuota.Tribal"></option>
                    <option value="Others"  translate="stepApp.jobQuota.Others"></option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmployee.appointmentGoDate" for="field_appointmentGoDate">Appointment Date</label>
                <input type="text" class="form-control" name="appointmentGoDate" id="field_appointmentGoDate"
                       ng-model="instEmployee.appointmentGoDate"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.appointmentGoDate"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       datepicker-options="calendar.dateOptions" close-text="Close" max-date="toDate"
                       ng-click="calendar.open($event, 'appointmentGoDate')" required/>
                <div ng-show="editForm.appointmentGoDate.$invalid">
                    <p class="help-block"
                       ng-show="editForm.appointmentGoDate.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmployee.joiningDate" for="field_joiningDate">Joining Date</label>
                <input type="text" class="form-control" name="joiningDate" id="field_joiningDate"
                       ng-model="instEmployee.joiningDate"
                       required
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.joiningDate"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       min-date="instEmployee.dob"
                       ng-click="calendar.open($event, 'joiningDate')"/>

                <div ng-show="editForm.joiningDate.$invalid">
                    <p class="help-block"
                       ng-show="editForm.joiningDate.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
                <div class="col-sm-12" ng-if="dateError">
                    <span style="color:red;margin-top:30px;font-size:14px;">Joining Date Should be greater than DOB</span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label translate="stepApp.instEmployee.prlDate" for="field_prlDate">PRL Date</label>
                <input type="text" class="form-control" name="prlDate" id="field_prlDate"
                       ng-model="instEmployee.prlDate"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.prlDate"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       readonly required/>
                <div ng-show="editForm.prlDate.$invalid">
                    <p class="help-block"
                       ng-show="editForm.prlDate.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmployee.retirementDate" for="field_retirementDate">Retirement Date</label>
                <input type="text" class="form-control" name="retirementDate" id="field_retirementDate"
                       ng-model="instEmployee.retirementDate"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.retirementDate"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       min-date="instEmployee.joiningDate"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       readonly required/>

                <div ng-show="editForm.retirementDate.$invalid">
                    <p class="help-block"
                       ng-show="editForm.retirementDate.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>


            <div class="col-md-6">

                <div class="form-group">
                    <label translate="stepApp.instEmployee.email" for="field_email" id="label-email">Email</label>
                    <input type="email" class="form-control" custom-email name="email" id="field_email"
                           required
                           ng-remote-validate="/api/account/checkEmail/"
                           ng-remote-method="GET"
                           ng-remote-throttle="1000"
                           ng-model="instEmployee.email"
                           placeholder="example@email.com"
                    />
                    <span class="message validating" ng-show="editForm.email.$pending ">validating...</span>
                    <div ng-show="editForm.email.$invalid">
                        <p class="help-block"
                           ng-show="editForm.email.$error.required && editForm.email.$dirty"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                    <div ng-show="editForm.email.$error.email">
                        <p class="help-block"
                           ng-show="editForm.email.$error.email">
                            Not Valid Email
                        </p>
                    </div>
                    <div ng-show="editForm.email.$error.ngRemoteValidate">
                        <p class="help-block"
                           ng-show="editForm.email.$error.ngRemoteValidate">
                            This email is already exist
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmployee.contactNo" for="field_contactNo" id="label-contactNo">Contact
                    No</label>
                <input type="text" class="form-control" name="contactNo" id="field_contactNo"
                       ng-model="instEmployee.contactNo" ng-pattern="/^\d+$/"
                       placeholder="01XXXXXXXXX"
                       maxlength="11"
                       ng-maxlength="11" ng-minlength="11"
                       pl
                       required/>
                <div ng-show="editForm.contactNo.$invalid">
                    <p class="help-block"
                       ng-show="editForm.contactNo.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.contactNo.$error.minlength" translate="entity.validation.minlength"
                       translate-value-min="11">
                        This field cannot be longer than 11 characters.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.contactNo.$error.maxlength" translate="entity.validation.maxlength"
                       translate-value-max="11">
                        This field cannot be longer than 11 characters.
                    </p>
                </div>
            </div>
            <div ng-if="instEmployee.category !== 'Staff' && currentEmployee.institute.type=='Government'"
                 class="form-group col-md-6">
                <label class="control-label" translate="stepApp.instEmployee.isJPAdmin" for="field_isJPAdmin">Is Job
                    Placement Admin</label>
                <div id="field_isJPAdmin">
                    <label class="radio-inline btn btn-default">
                        <input type="radio" id="field_isJPAdmin_yes"
                               name="gender" ng-model="instEmployee.isJPAdmin"
                               ng-value="true"><span
                        translate="stepApp.instEmployee.isJPAdminYes" for="field_isNominee_yes">
                        Yes</span>
                    </label>
                    <label class="radio-inline btn btn-default">
                        <input type="radio" id="field_isJPAdmin_no"
                               name="gender" ng-model="instEmployee.isJPAdmin"
                               ng-value="false"><span
                        translate="stepApp.instEmployee.isJPAdminNo" for="field_isNominee_no">
                        No</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a onclick="window.history.back()"
               class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                translate="entity.action.back"> Back</span>
            </a>
            <!--<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">-->
            <!--<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>-->
            <!--</button>-->
            <!--|| isVacancy || staffVacancy-->
            <button type="submit" ng-disabled="editForm.$invalid || isSaving || isVacancy || staffVacancy" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Register</span>
            </button>
        </div>
    </form>
</div>
