<style>
    .common-table {
        padding: 15px;
        background: #fff;
        border: 1px solid #ddd;
    }

    .table-dte table td {
        padding-left: 15px !important;
        width: 23% !important;
    }

    .table-dte table tr {
        border-bottom: 1px solid #000 !important;
    }
</style>
<div class="col-sm-12 common-table table-dte padding5">
    <h2 class="header-margin" translate="global.personalDetails">MPO Details </h2>
    <div class="col-sm-12 no_padding inst-emp-appr tab-6">
        <div class="panel-body no_padding">
            <div class="col-sm-12 table-responsive no_padding Nationality-info">
                <h3 translate="stepApp.instEmployee.personalInfo">Personal Information</h3>
                <div class="col-sm-10 no_padding">

                    <table class="table table-striped">
                        <tr>
                            <td>
                                <span translate="stepApp.instEmployee.code">Code</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instEmployee.code}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.instEmployee.name">Name</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instEmployee.name}}</span>
                            </td>

                        </tr>
                        <tr ng-if="instEmployee.employmentType">
                            <td ng-if="instEmployee.employmentType"><span translate="stepApp.instEmployee.employeeType">Name</span>
                            </td>
                            <td ng-if="instEmployee.employmentType"><span class="form-control-static">{{instEmployee.employmentType}}</span>
                            </td>
                            <td ng-if="instEmployee.indexNo"><span translate="stepApp.instEmployee.indexno">Name</span>
                            </td>
                            <td ng-if="instEmployee.indexNo"><span
                                class="form-control-static">{{instEmployee.indexNo}}</span></td>


                        </tr>
                        <tr>
                            <td><span translate="stepApp.instEmployee.BnName">Name</span></td>
                            <td><span class="form-control-static">{{instEmployee.bnName}}</span></td>
                            <td>
                                <span translate="stepApp.instEmployee.category">category</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instEmployee.category}}</span>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.instEmployee.level">level</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instEmployee.level}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.instEmployee.designation">designation</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instEmployee.designationSetup.designationInfo.designationName}}</span>
                            </td>

                        </tr>


                        <tr>
                            <td>
                                <span translate="stepApp.instEmployee.courseTech">courseTech</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instEmployee.cmsTrade.name}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.instEmployee.courseSub">courseSub</span>
                            </td>
                            <td>
                                    <span
                                        class="form-control-static">{{instEmployee.cmsSubject.name}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span translate="stepApp.instEmployee.email">email</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instEmployee.email}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.instEmployee.contactNo">contactNo</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instEmployee.contactNo}}</span>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <span translate="stepApp.instEmployee.isJPAdmin">contactNo</span>
                            </td>
                            <td>
                                <span ng-if="instEmployee.isJPAdmin==true" class="form-control-static">YES</span>
                                <span ng-if="instEmployee.isJPAdmin==false" class="form-control-static">NO</span>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>

                    </table>
                    <table class="table table-striped Nationality-info">
                        <thead>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <span translate="stepApp.instEmployee.dob" for="field_dob">Dob</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instEmployee.dob}}</span>
                            </td>
                            <td>
                                <span translate="stepApp.instEmployee.level" for="field_level">Level</span>
                            </td>
                            <td>
                                <span class="form-control-static">{{instEmployee.level}}</span>
                            </td>

                        </tr>
                        <tr>

                            <td translate="stepApp.instEmployee.districtOwn"></td>
                            <td>{{instEmployee.district.name}}</td>
                            <td translate="stepApp.instEmployee.employeeType"></td>
                            <td>{{instEmployee.employeeType.typeName}}</td>

                        </tr>
                        <tr>

                            <td translate="stepApp.instEmployee.jobCategory"></td>
                            <td>{{instEmployee.jobCategory}}</td>
                            <td translate="stepApp.instEmployee.joiningDate"></td>
                            <td>{{instEmployee.joiningDate}}</td>
                        </tr>
                        <tr>
                            <td translate="stepApp.instEmployee.districtOwn"></td>
                            <td>{{instEmployee.district.name}}</td>
                            <td translate="stepApp.instEmployee.departmentName"></td>
                            <td>{{instEmployee.hrdepartmentSetup.departmentInfo.departmentName}}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-2 no_padding">
                    <div class="border-img">
                        <!--<div class="img-thumb">-->
                        <!--<img ng-src="{{url}}" alt="STUDENT IMAGE">-->
                        <!--</div>-->
                        <div class="img-thumb">
                            <img ng-src="{{url}}"/>
                        </div>
                        <td>
                            <a href="javascript:void(0)"
                               ng-click="previewImage(instEmployee.quotaCert, instEmployee.quotaCertContentType,'Profile picture of '+instEmployee.name)">
                                <span class="form-control-static">{{instEmployee.quotaCertName}}</span>
                            </a>
                        </td>
                    </div>
                </div>
            </div>
            <!--table problem area-->

            <!--table problem area End-->


            <!--   <h3 translate="stepApp.instEmployee.registeredInfo">registeredInfo</h3>
               <table class="table">
                   <tr>
                       <th>
                           <span translate="stepApp.instEmployee.registeredCertificateSubject">registeredCertificateSubject</span>
                       </th>
                       <td>
                           <span
                               class="form-control-static">{{instEmployee.registeredCertificateSubject}}</span>
                       </td>
                       <th>
                           <span
                               translate="stepApp.instEmployee.registrationExamYear">registrationExamYear</span>
                       </th>
                       <td>
                           <span class="form-control-static">{{instEmployee.registrationExamYear}}</span>
                       </td>
                   </tr>



                   <tr>
                       <th>
                           <span translate="stepApp.instEmployee.registeredCertificateNo">registeredCertificateNo</span>
                       </th>
                       <td>
                           <span class="form-control-static">{{instEmployee.registeredCertificateNo}}</span>
                       </td>
                   </tr>
               </table>-->
        </div>


        <!--<tr><td><span translate="stepApp.instEmpEduQuali.certificateCopy">CertificateCopy</span></td><td><span translate="stepApp.instEmpEduQuali.certificateCopy">CertificateCopy</span><span class="form-control-static">{{instEmpEduQuali.certificateCopy.fileName}}</span><div>{{instEmpEduQuali.certificateCopyContentType}}  {{byteSize(instEmpEduQuali.certificateCopy)}}</div><div>{{instEmpEduQuali.certificateCopyContentType}}  {{byteSize(instEmpEduQuali.certificateCopy)}}</div></td></tr>-->
        <!--<tr data-parent="#accordion" ng-click="displayAttachment(instEmpEduQuali.certificateCopy,instEmpEduQuali.certificateCopyContentType)" data-toggle="collapse" data-target="#{{instEmpEduQuali.id}}" aria-expanded="false" aria-controls="{{instEmpEduQuali.id}}"><td><a ng-show="instEmpEduQuali.certificateCopyContentType" translate="stepApp.instEmpEduQuali.vieWcertificateCopy">View Certificate Copy</a></td><td class="text-right">
                &lt;!&ndash;<button ng-show="instEmpEduQuali.certificateCopyContentType"&ndash;&gt;
                         &lt;!&ndash;class="btn btn-default btn-sm" >&ndash;&gt;
                    &lt;!&ndash;<span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>&ndash;&gt;
                &lt;!&ndash;</button>&ndash;&gt;
                <a alt="{{attachment.name}}" class="example-image-link img-thumbnail" ng-href="{{url}}" data-lightbox="example-1"><button class="btn btn-primary"> View </button>
                    &lt;!&ndash;<input type="button" name="image" value="view" />&ndash;&gt;
                    &lt;!&ndash;<img height="150px" width="150px" class="img-thumbnail" ng-src="{{url}}" alt="{{attachment.name}}">&ndash;&gt;

                </a></td></tr>-->
        <!--<tr id="{{instEmpEduQuali.id}}" class="collapse">-->
        <!--<td colspan="6">-->
        <!--<img ng-src="{{url}}" class="img-thumbnail" alt="{{attachment.name}}">-->
        <!--</td>-->
        <!--</tr>-->

        </tbody>
        </table>
    </div>
    <div class="col-sm-12 padding-bt no-print">
        <!--<tr>-->
        <!--<button ng-hide="hideApproveAndDecline" class="btn btn-primary alignright"-->
        <!--ui-sref="employeeInfo.decline({id: instEmployee.id})">Decline-->
        <!--</button>-->
        <!--</tr>-->
        <div ng-if="instEmployee.status=='0'">
            <tr>
                <button type="button" class="btn btn-primary alignright" ng-click="ApproveApplication()">Send request to
                    DTE
                </button>
            </tr>
            <tr>
                <button type="button" class="btn btn-primary alignright" ng-click="DeclineApplication()">
                    Decline
                </button>
            </tr>
        </div>
        <div has-any-authority="ROLE_ADMIN,ROLE_HRM_ADMIN" ng-if="instEmployee.status=='1'">
            <tr ng-if="hideApproveAndDecline">
                <button type="button" class="btn btn-primary alignright" ng-click="ApproveApplicationForAdmin()">
                    Approve
                </button>
            </tr>
            <tr>
                <button type="button" class="btn btn-primary alignright" ng-click="DeclineApplicationByAdmin()">
                    Decline
                </button>
            </tr>
        </div>

    </div>
</div>
</div>


<div id="appmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Employee Approval</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to send request to DTE for approving this employee ? </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary alignright"
                        ng-click="confirmApprove(instEmployee.id)">Send request
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="declinemodal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm decline Action</h4>
            </div>
            <form ng-submit="declineApp(instEmployee.id,instEmployee.cosOfDell)">
                <div class="modal-body">
                    <label>Cause of Decline</label>
                    <div text-angular ng-model="instEmployee.cosOfDell" name="demo-editor"
                         ta-toolbar="[['undo','redo','clear'],['bold','italics','underline'],['p','h1','h2','h3','quote'],['ul','ol'],['justifyLeft','justifyCenter','justifyRight'],['insertLink']]"
                         ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
                    <p>Do you want to decline the request of this employee ? </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary alignright">Decline</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="appmodalForAdmin" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Employee Approval</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to approve this employee ? </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary alignright"
                        ng-click="confirmApproveForAdmin(instEmployee.id)">Approve
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="declinemodalAdmin" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm decline Action</h4>
            </div>
            <form ng-submit="declineAppAdmin(instEmployee.id,instEmployee.cosOfDell)">
                <div class="modal-body btn-modal-textarea">
                    <label>Cause of Decline</label>
                    <div text-angular ng-model="instEmployee.cosOfDell" name="demo-editor"
                         ta-toolbar="[['undo','redo','clear'],['bold','italics','underline'],['p','h1','h2','h3','quote'],['ul','ol'],['justifyLeft','justifyCenter','justifyRight'],['insertLink']]"
                         ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
                    <p>Do you want to decline the request of this employee ? </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary alignright">Decline
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>

    </div>
</div>
