<div class="col-md-12 common-list dashboard-title">
    <h2 translate="stepApp.instEmployee.welcome" style="padding: 15px; color:#fff">Welcome to Dashboard</h2>
</div>


<!--<div class="col-md-4">
    <div class="single-dashboard-list marginintop co2 wow slideInRight" data-wow-duration="1s" data-wow-delay="0s">
        <i class="fa fa-pie-chart"></i>
        <div class="progresss">
            <div class="loader" data-percent="80%"></div>
        </div>
        <a>Profile Completeness</a>
    </div>
</div>-->
<div class="col-md-4" has-authority="ROLE_INSTEMP">
    <div class="single-dashboard-list co1 wow slideInRight" data-wow-duration="1s" data-wow-delay="0s">

        <h2>Education Qualification</h2>
        <p class="rowOne"> Certificate 1 <span></span></p>
        <p class="rowtwo">Certificate 2 <span></span></p>
        <a ui-sref="employeeInfo.educationalHistory">See Details</a>
    </div>
</div>
<div class="col-md-4" has-authority="ROLE_INSTEMP">
    <div class="single-dashboard-list co1 wow slideInRight" data-wow-duration="1s" data-wow-delay="0s">

        <h2>Enrollment Information</h2>
        <p class="rowOne"> Salary Scale  <span></span></p>
        <p class="rowtwo">Pay Code  <span></span></p>
        <a ui-sref="employeeInfo.recruitmentInfo">See Details</a>
    </div>
</div>
<style>
    .progresss {
        text-align: center;
        padding-top: 5px;
    }

    .marginintop {
        margin-top: 20px;
    }

    .marginintop a {
        margin-top: 10px;
    }

    .progresss > .loader {
        color: tomato;
        display: inline-block;
        font-family: monospace;
        font-weight: bolder;
        position: relative;
        text-align: center;
    }

    .progresss > .loader:after {
        content: attr(data-percent);
        font-size: 25px;
        left: 0;
        line-height: 12px;
        margin-top: -6px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
    }

    .progresss svg {
        height: 100px;
        width: 100px;
    }

    .progresss svg:last-child {
        left: 0;
        position: absolute;
        top: 0;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .progresss svg:last-child circle {
        fill: none;
        stroke: #fff;
        stroke-dasharray: 629;
        stroke-width: 12;
        -webkit-animation: progress-loader 2.4s 1;
        animation: progress-loader 2.4s 1;
    }

    @-webkit-keyframes progress-loader {
        0% {
            stroke-dashoffset: 0;
        }
    }

    @-moz-keyframes progress-loader {
        0% {
            stroke-dashoffset: 0;
        }
    }

    @keyframes progress-loader {
        0% {
            stroke-dashoffset: 0;
        }
    }

</style>
<script>
    $('.progresss > .loader').each(function () {
        var $this = $(this);
        var svg = '<svg viewBox="-10 -10 220 220"><circle cx="0" cy="0" fill="#eee" r="100" stroke="tomato" stroke-width="10" transform="translate(100, 100)"></circle></svg>';

        $this.append(svg, svg).find('>svg').last().find('>circle').attr('stroke-dashoffset', -Math.round((parseInt($this.data('percent').replace('%', '')) * 629) / 100));
    });
</script>

<!--
    <div class=" bg-color">
        <div class="col-md-12">
            <div class="row ">
                <div class="col-md-12">
                    <div class="welcome">
                        <h4>Welcome to Institute Dashboard</h4>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-3" has-authority="ROLE_INSTITUTE">
                    <a ui-sref="instituteInfo.generalInfo" ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/instsetup.png" alt="">
                        <p translate="global.menu.entities.instGenInfo">General Information</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_INSTITUTE">
                    <a ui-sref="instituteInfo.iisCurriculumInfo" ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/asset.png" alt="">
                        <p translate="global.menu.entities.iisCurriculumInfo">Curriculum Information</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_INSTITUTE">
                    <a ui-sref="instituteInfo.iisCourseInfo"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/audit.png" alt="">
                        <p translate="global.menu.entities.iisCourseInfo">Course Information</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_INSTITUTE">
                    <a ui-sref="instituteInfo.adminInfo"  ui-sref-active="active">
                        <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/employee-membership.png" alt="">
                        <p translate="global.menu.entities.instAdminInfo">Administrative Info</p>
                    </div></a>
                </div>

                <div class="col-md-3" has-authority="ROLE_INSTITUTE" >
                    <a ui-sref="instituteInfo.stuffInfo" ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/employee.png" alt="">
                        <p translate="global.menu.entities.instStuffInfo">Teacher/Employee Info</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_INSTITUTE">
                    <a ui-sref="instituteInfo.infrastructureInfo"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/gavel-icon-3.png" alt="">
                        <p translate="global.menu.entities.instInfraInfo">Physical Infrastructure</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_INSTITUTE">
                    <a ui-sref="instituteInfo.financialInfo"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/payrole.png" alt="">
                        <p translate="global.menu.entities.instFinancialInfo">Financial Info</p>
                    </div></a>
                </div>

                <div class="col-md-3" has-authority="ROLE_INSTITUTE">
                    <a ui-sref="instituteInfo.instComiteFormation"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/employee.png" alt="">
                        <p translate="global.menu.entities.instComiteFormation">instComiteFormation</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_INSTITUTE">
                    <a ui-sref="instituteInfo.jpOfficer"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/membership.png" alt="">
                        <p translate="global.menu.entities.jpOfficers">jpOfficers</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_ADMIN">
                    <a ui-sref="instituteInfo.instituteList"  ui-sref-active="active" >
                        <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/inst.png" alt="">
                        <p translate="global.menu.entities.instituteList">Institute List</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_ADMIN">
                    <a ui-sref="instituteInfo.pendingInstituteList"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/pending-app.png" alt="">
                        <p translate="global.menu.entities.institutePendingList">Pending List</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_ADMIN">
                    <a ui-sref="instituteInfo.updateInfoPendingInstituteList"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/gavel-icon-3.png" alt="">
                        <p translate="global.menu.entities.instituteUpdatePendingList">Update Pending List</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_ADMIN" >
                    <a ui-sref="instituteInfo.rejectedInstituteList" ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/list.png" alt="">
                        <p translate="global.menu.entities.instituteRejectedList">Rejected List</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_ADMIN">
                    <a ui-sref="instituteInfo.mpoEnlistedInst"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/pension-app.png" alt="">
                        <p translate="global.menu.entities.mpoEnlistedInst">Mpo Enlisted Institute</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-authority="ROLE_ADMIN">
                    <a ui-sref="instituteInfo.mpoEnlistedCurriculum"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/student.png" alt="">
                        <p translate="global.menu.entities.mpoEnlistedCurriculum">Mpo Enlisted Curriculum</p>
                    </div></a>
                </div>

                <div class="col-md-3" has-authority="ROLE_ADMIN">
                    <a ui-sref="instituteInfo.mpoEnlistedCourse"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/course.png" alt="">
                        <p translate="global.menu.entities.mpoEnlistedCourse">Mpo Enlisted Course</p>
                    </div></a>
                </div>
                <div class="col-md-3" has-any-authority="ROLE_ADMIN,ROLE_INSTITUTE">
                    <a ui-sref="jpReport({module: 'iis'})"  ui-sref-active="active"><div class="single-admin-menu">
                        <img src=" ./assets/images/icon/r.png" alt="">
                        <p translate="global.menu.entities.instRptInfo">Report </p>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
<style>
    .single-admin-menu {
        padding: 15px 5px;
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
        transition: .5s;
        margin-bottom: 30px;
        border-radius: 3px;
        height: 150px;
        text-align: center;
        color:#888;
    }
    .single-admin-menu:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        color:#444 !important;
        border-left: 5px solid #444;
    }
    .single-admin-menu img {
        height: 75px;
        width: auto;
        border-radius: 50%;
        margin-bottom: 15px;
        transition: .5s;
    }
    .single-admin-menu:hover img{
    }
    .bg-color{
        background: #f4f4f4;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    }
</style>
-->

