<div class="col-md-3 padding0">
    <ng-include src="'scripts/app/entities/employeeInformationSystem/employee-left-menu.html'"></ng-include>
</div>
<div class="col-md-9 no_padding">
    <div has-any-authority="ROLE_INSTEMP" class="col-sm-12 text-right">
        <div class="institute-token text-right pull-right">
            <p><span>Code : {{CurrentInstEmployee.code}}</span> &nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <span>Employee Type : {{CurrentInstEmployee.category}}</span>
            </p>
        </div>
    </div>
    <div has-any-authority="ROLE_INSTITUTE" class="col-sm-12 text-right">
        <div class="institute-token text-right pull-right">
            <p><span>Code : {{logInInstitute.code}}</span> &nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <span>Type : {{logInInstitute.type}}</span>
            </p>
        </div>
    </div>
    <div class="col-md-12 main-content lbl-dash padding0" ui-view="employeeView">

    </div>
</div>

