<div has-any-authority="ROLE_INSTEMP" class="col-sm-6 col-md-offset-3 institute-home text-center" >
    <h3>
        <div class="profile-inner">
        Welcome to <b>{{CurrentInstEmployee.name}}</b>
        <p><span>Employee ID : {{CurrentInstEmployee.code}}</span></p>
        <p><span>Employee Type : {{CurrentInstEmployee.category}}</span></p>
        <a ui-sref="employeeInfo.dashboard" class="view-profile"> View Profile</a>
        </div>
    </h3>

</div>
<div has-any-authority="ROLE_FRONTDESK" class="col-sm-12 institute-home text-center" >
    <h3>
        Welcome <b>{{accountName}}</b>
    </h3>

</div>
<style>
    .institute-home h3 {
        background: #558b2f;
        padding: 15px;
        color: #fff;
    }
</style>
