<div class="col-md-12 common-dialogue">
    <form name="editForm" role="form" class="panel panel-primary" novalidate ng-submit="save()" show-validation>
        <h4 id="myInstFinancialInfoLabel" translate="stepApp.instEmployee.home.createOrEditLabel">
            Teacher/Employee Registration</h4>
        <div class="panel-body no_padding">
            <div class="col-md-9 no_padding">
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.category" for="field_category">Category</label>
                    <select ng-change="updateFormFields()" class="form-control" name="category"
                            ng-model="instEmployee.category" id="field_category" required
                            tooltip="{{'stepApp.instEmployee.category' | translate}}">
                        <option value="" disabled selected translate="stepApp.instEmployee.scategory"></option>
                        <option value="Teacher" translate="stepApp.EmpType.Teacher">Teacher</option>
                        <option value="Staff" translate="stepApp.EmpType.Staff">Staff</option>
                        <option value="officer" translate="stepApp.EmpType.Officer">Officer</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.name" for="field_name">Teacher/Employee Full Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           ng-model="instEmployee.name"
                           tooltip="{{'stepApp.instEmployee.name' | translate}}"
                           only-letters-and-dash-and-dot placeholder="{{'stepApp.instEmployee.name' | translate}}" required/>
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.BnName" for="field_name">Teacher/Employee Full Name</label>
                    <input type="text" class="form-control" name="name" id="field_bnName"
                           ng-model="instEmployee.bnName"
                           tooltip="{{'stepApp.instEmployee.BnName' | translate}}"
                           placeholder="{{'stepApp.instEmployee.BnName' | translate}}" only-bangla
                           required/>
                    <div ng-show="editForm.bnName.$invalid">
                        <p class="help-block"
                           ng-show="editForm.bnName.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div ng-if="logInInstitute.type=='NonGovernment'" class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.designation"
                           for="field_instEmplDesignation">Designation</label>
                    <select class="form-control"
                            required id="field_instEmplDesignation"
                            name="instEmplDesignation"
                            tooltip="{{'stepApp.instEmployee.designation' | translate}}"
                            ng-model="instEmployee.designationSetup"
                            ng-options="designationSetup as designationSetup.designationInfo.designationName for designationSetup in designationSetups">
                        <option value="" disabled selected translate="stepApp.instEmployee.sdesignation">Select</option>
                    </select>
                    <div ng-show="editForm.designation.$invalid">
                        <p class="help-block"
                           ng-show="editForm.designation.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div ng-if="logInInstitute.type=='Government'" class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.designation"
                           for="field_instEmplDesignation">Designation</label>
                    <select class="form-control"
                            required id="field_designationInfo"
                            name="instEmplDesignation"
                            tooltip="{{'stepApp.instEmployee.designation' | translate}}"
                            ng-model="instEmployee.designationSetup"
                            ng-options="designationSetup as designationSetup.designationInfo.designationName for designationSetup in designationSetupsss">
                        <option value="" disabled selected translate="stepApp.instEmployee.sdesignation">Select</option>
                    </select>
                    <div ng-show="editForm.designation.$invalid">
                        <p class="help-block"
                           ng-show="editForm.designation.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.curriculumInfo" for="field_cmsCurriculum">cmsCurriculum</label>
                    <select  class="form-control"
                            id="field_cmsCurriculum" name="cmsCurriculum" ng-model="instEmployee.cmsCurriculum"
                            tooltip="{{'stepApp.instEmployee.curriculumInfo' | translate}}" required
                            ng-change="setTrades(instEmployee.cmsCurriculum)"
                            ng-options="cmsCurriculum as cmsCurriculum.name for cmsCurriculum in cmscurriculums | orderBy:'name' track by cmsCurriculum.id">
                        <option value="" disabled selected translate="stepApp.instEmployee.scurriculumInfo">select</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.courseTech" for="field_cmsTrade"
                           id="label-cmsTrade">Technology</label>
                    <select class="form-control" id="field_cmsTrade"
                            tooltip="{{'stepApp.instEmployee.courseTech' | translate}}"
                            name="courseTech" ng-model="instEmployee.cmsTrade"
                            ng-change="setCmsSubject(instEmployee.cmsTrade.id)"
                            ng-options="cmsTrade as cmsTrade.name for cmsTrade in cmsTrades | orderBy:'name' track by cmsTrade.id">
                        <option disabled selected value="" translate="stepApp.instEmployee.scmsTrade">{{selectedTech}}</option>
                    </select>
                </div>
                <div class=" col-md-6"  ng-if="selectedCourse.noOfPostT!=null && logInInstitute.type=='Government' && instEmployee.category === 'Teacher' && isVacancy==false">
                    <div class="  " style="overflow: hidden">
                        <h2 class="wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0s">
                            <span class="badge1">{{selectedCourse.noOfPostT}}</span><span class="badge2">Posts are Available</span> </h2>
                    </div>
                </div>
                <div class=" col-md-6" ng-if="isVacancy && logInInstitute.type=='Government' &&instEmployee.category === 'Teacher' && selectedCourse.noOfPostT=='0'">
                    <div  class="  " style="overflow: hidden">
                        <h2 class="wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0s">
                            <span class="badge1">{{selectedCourse.noOfPostT}}</span><span class="badge2">There is no vacancy</span> </h2>
                    </div>
                </div>
                <div class=" col-md-6" ng-if="selectedCourse.noOfPostStaff!=null && logInInstitute.type=='Government' && instEmployee.category === 'Staff' && staffVacancy==false">
                    <div  class="  " style="overflow: hidden">
                        <h2 class="wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0s">
                            <span class="badge1">{{selectedCourse.noOfPostStaff}}</span><span class="badge2">Posts are Available</span> </h2>
                    </div>
                </div>
                <div class=" col-md-6" ng-if="staffVacancy && logInInstitute.type=='Government' && instEmployee.category === 'Staff' && selectedCourse.noOfPostStaff=='0'">
                    <div  class=" " style="overflow: hidden">
                        <h2 class="wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0s">
                            <span class="badge1">{{selectedCourse.noOfPostStaff}}</span><span class="badge2">There is no vacancy</span> </h2>
                    </div>
                </div>

                <style>
                    span.badge1 {
                        font-size: 16px;
                        background: #091084;
                        background: -moz-linear-gradient(top, #091084 0%, #2989d8 48%, #207cca 60%, #182163 100%);
                        background: -webkit-linear-gradient(top, #091084 0%,#2989d8 48%,#207cca 60%,#182163 100%);
                        background: linear-gradient(to bottom, #091084 0%,#2989d8 48%,#207cca 60%,#182163 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#091084', endColorstr='#182163',GradientType=0 );
                        color: #fff;
                        padding: 7px 35px;
                        border-radius: 30px 0px 0px 30px;
                        text-align: center;
                        line-height: 33px;
                        text-shadow: #0c1c8c 1px 1px 0;
                        font-family: 'Open Sans', sans-serif;
                        transition: all .5s;
                    }
                    span.badge2 {
                        font-size: 16px;
                        background: #c9cace;
                        background: -moz-linear-gradient(top, #c9cace 0%, #ffffff 47%, #c9cace 97%, #ffffff 100%);
                        background: -webkit-linear-gradient(top, #c9cace 0%,#ffffff 47%,#c9cace 97%,#ffffff 100%);
                        background: linear-gradient(to bottom, #c9cace 0%,#ffffff 47%,#c9cace 97%,#ffffff 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9cace', endColorstr='#ffffff',GradientType=0 );
                        color: #1f70bc;
                        padding: 7px 20px;
                        border-radius: 3px 30px 30px 0px;
                        text-shadow: #fff 1px 1px 0;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: bold;
                        transition: all .5s;
                    }
                </style>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.cmsSubject" for="field_cmsSubject" id="label-cmsSubject">Subject</label>
                    <select class="form-control" id="field_cmsSubject" name="cmsSubject"
                            ng-model="instEmployee.cmsSubject"
                            tooltip="{{'stepApp.instEmployee.cmsSubject' | translate}}"
                            ng-options="cmsSubject as cmsSubject.name for cmsSubject in cmsSubjects | orderBy:'name' track by cmsSubject.id"
                            >
                        <option value="" translate="stepApp.instEmployee.scourseSub">select</option>
                    </select>
                    <div ng-show="editForm.courseSub.$invalid">
                        <p class="help-block"
                           ng-show="editForm.courseSub.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.districtOwn" for="field_predistrict">District</label>
                    <select class="form-control" id="field_predistrict"
                            name="district"
                            ng-model="instEmployee.district" required
                            ng-options="district as district.name for district in districtsOwn track by district.id">
                        <option value="" translate="stepApp.instEmployee.sdistrict"></option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.level" for="field_level" id="label-level">Level</label>
                    <select class="form-control" name="level"
                            id="field_level"
                            tooltip="{{'stepApp.instEmployee.level' | translate}}"
                            ng-options="instLevel as instLevel.name for instLevel in instLevels track by instLevel.id"
                            ng-model="instEmployee.instLevel" required>
                        <option value="" translate="stepApp.instEmployee.slevel">Select</option>
                    </select>
                </div>
                <div class="row" ng-show="logInInstitute.type=='Government'">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="control-label"
                                       translate="stepApp.instEmployee.setupType">SetupType</label>

                                <div class="input-margin" ng-init="instEmployee.setupType=TRUE">
                                    <label class="radio-inline">
                                        <input type="radio" id="setupType_yes" ng-model="instEmployee.setupType" name="setupType"
                                               ng-click="pgsType('Department')" data-ng-value="TRUE">&nbsp;Department&nbsp;&nbsp;
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="setupType_No" ng-model="instEmployee.setupType" name="setupType"
                                               ng-click="pgsType('Section')" data-ng-value="FALSE">&nbsp;Section
                                    </label>
                                    <div ng-show="editForm.setupType.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.setupType.$error.required" translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label ng-if="dept" class="control-label" translate="stepApp.instEmployee.departmentName">Department name</label>
                                <label ng-if="sec"  class="control-label" translate="stepApp.instEmployee.sectionName" >Section name</label>
                                <div class="input-margin">
                                    <select class="form-control" id="field_departmentInfo" name="departmentInfo"
                                            ng-model="instEmployee.hrdepartmentSetup"
                                            ng-change="callTest(instEmployee.hrdepartmentSetup,instEmployee.isHeadOfDept)"
                                            ng-options="hrdepartmentSetup as hrdepartmentSetup.departmentInfo.departmentName for hrdepartmentSetup in hrDepartmentList | orderBy:'id' track by hrdepartmentSetup.id"
                                            >
                                        <option value="">Please Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                </div>

                <div ng-if="logInInstitute.type === 'Government'" class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.instEmployee.jobCategory">Type</label>
                        <select class="form-control" name="jobCategory" ng-model="instEmployee.jobCategory"
                                tooltip="{{'stepApp.instEmployee.jobCategory' | translate}}">
                            <option value="" disabled selected translate="stepApp.instEmployee.jobCategory"></option>
                            <option value="Revenue" translate="stepApp.instEmployee.Temporary">Temporary</option>
                            <option value="Development" translate="stepApp.instEmployee.Permanent">Permanent</option>
                            <option value="Contractual" translate="stepApp.instEmployee.Project">Project</option>
                        </select>
                        <div ng-show="editForm.jobCategory.$invalid">
                            <p class="help-block"
                               ng-show="editForm.jobCategory.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>

                <div ng-if="logInInstitute.type === 'NonGovernment'" class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.instEmployee.employeeType">Type</label>
                        <select required class="form-control" name="jobCategory" ng-model="instEmployee.employmentType"
                                tooltip="{{'stepApp.instEmployee.employeeType' | translate}}">
                            <option value="" translate="stepApp.instEmployee.select"></option>
                            <option value="Mpo" translate="stepApp.instEmployee.MPO">MPO</option>
                            <option value="NonMPo" translate="stepApp.instEmployee.NonMpo">Non MPO</option>
                        </select>
                    </div>
                </div>

                <div ng-if="instEmployee.employmentType === 'Mpo'" class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.indexno" for="field_name">indexno</label>
                    <input type="text" class="form-control" name="indexNo" id="field_indexNo"
                           ng-model="instEmployee.indexNo"
                           tooltip="{{'stepApp.instEmployee.indexno' | translate}}"
                           ng-remote-validate="/api/instEmployee/indexNo/"
                           ng-remote-method="GET"
                           ng-remote-throttle="500"
                           required only-numbers maxlength="20"/>
                    <span class="message validating" ng-show="editForm.indexNo.$pending ">validating...</span>
                    <div ng-show="editForm.indexNo.$invalid">
                        <p class="help-block"
                           ng-show="editForm.indexNo.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                    <div ng-show="editForm.indexNo.$error.ngRemoteValidate">
                        <small style="color:red; font-size: 10px;"
                           ng-show="editForm.indexNo.$error.ngRemoteValidate">
                            This indexNo is already exist
                        </small>
                    </div>
                </div>
                <div ng-if="logInInstitute.type === 'Government'" class="form-group col-md-6">
                    <label translate="stepApp.instEmployee.employeeType"
                           for="field_employeeType">employeeType</label>
                    <select class="form-control"
                            required id="field_employeeType"
                            name="employeeType"
                            tooltip="{{'stepApp.instEmployee.employeeType' | translate}}"
                            ng-model="instEmployee.employeeType"
                            ng-options="employeeType  as employeeType.typeName for employeeType in employeeTypes | orderBy:'id' track by employeeType.id">
                        <option value="" translate="stepApp.instEmployee.employeeType">select</option>
                    </select>
                    <div ng-show="editForm.employeeType.$invalid">
                        <p class="help-block"
                           ng-show="editForm.employeeType.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

                <div ng-if="logInInstitute.type === 'Government'" class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.instEmployee.encadrement">Encadrement</label>
                        <select class="form-control" id="field_encadrement" name="encadrement" ng-model="instEmployee.encadrement"
                                ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in encadrementList track by MiscTypeSetup.id" required>
                            <option selected disabled value="">-- Select --</option>
                        </select>
                        <div ng-show="editForm.encadrement.$invalid">
                            <p class="help-block"
                               ng-show="editForm.encadrement.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 no_padding">
                <div class="border-img">
                    <div class="img-thumb">
                        <img ng-src="{{url}}" alt=" IMAGE">
                    </div>
                    <div class="img-input">
                        <input type="file" class="btn btn-primary btn-xs btn-block" ngf-drop
                               ngf-change="setImage($file, instEmployee)" ngf-select
                               role="button" required>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label translate="stepApp.instEmployee.dob" for="field_dob">Dob</label>
                <input type="text" class="form-control" name="dob" id="field_dob"
                       ng-model="instEmployee.dob"
                       max-date="toDay"
                       tooltip="{{'stepApp.instEmployee.dob' | translate}}"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.dob"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'dob')" ng-change="dateValidation()" required/>

                <div ng-show="editForm.dob.$invalid">
                    <p class="help-block"
                       ng-show="editForm.dob.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmployee.quota" for="field_jobQuota" id="label-jobQuota">jobQuota</label>
                <select class="form-control" id="field_jobQuota"
                        tooltip="{{'stepApp.instEmployee.quota' | translate}}"
                        name="jobQuota" ng-model="instEmployee.jobQuota" required
                        ng-change="updatePrlDate();"
                        >
                    <option value=""  translate="stepApp.instEmployee.quota"></option>
                    <option value="General"  translate="stepApp.jobQuota.General"></option>
                    <option value="FreedomFighter"  translate="stepApp.jobQuota.FreedomFighter"></option>
                    <option value="ChildOfFreedomFighter"  translate="stepApp.jobQuota.ChildOfFreedomFighter"></option>
                    <option value="GrandChildOfFreedomFighter"  translate="stepApp.jobQuota.GrandChildOfFreedomFighter"></option>
                    <option value="Tribal"  translate="stepApp.jobQuota.Tribal"></option>
                    <option value="Others"  translate="stepApp.jobQuota.Others"></option>
                </select>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label translate="stepApp.instEmployee.email" for="field_email" id="label-email">Email</label>
                    <input type="email" class="form-control" custom-email name="email" id="field_email"
                           ng-remote-validate="/api/account/checkEmail/"
                           ng-remote-method="GET"
                           ng-remote-throttle="1000"
                           ng-model="instEmployee.email"
                           ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                           placeholder="example@email.com"
                           tooltip="{{'stepApp.instEmployee.email' | translate}}" required/>
                    <span class="message validating" ng-show="editForm.email.$pending ">validating...</span>
                    <div ng-show="editForm.email.$invalid">
                        <p class="help-block"
                           ng-show="editForm.email.$error.required && editForm.email.$dirty"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                    <div ng-show="editForm.email.$error.email">
                        <p class="help-block"
                           ng-show="editForm.email.$error.email">
                            Not Valid Email
                        </p>
                    </div>
                    <div ng-show="editForm.email.$error.ngRemoteValidate">
                        <p class="help-block"
                           ng-show="editForm.email.$error.ngRemoteValidate">
                            This email is already exist
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.instEmployee.contactNo" for="field_contactNo" id="label-contactNo">Contact
                    No</label>
                <input type="text" class="form-control" name="contactNo" id="field_contactNo"
                       ng-model="instEmployee.contactNo" ng-pattern="/^\d+$/"
                       placeholder="01XXXXXXXXX"
                       tooltip="{{'stepApp.instEmployee.contactNo' | translate}}"
                       pl ng-maxlength="11" ng-minlength="11" only-numbers maxlength="11" minlength="11" required/>
                <div ng-show="editForm.contactNo.$invalid">
                    <p class="help-block"
                       ng-show="editForm.contactNo.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.contactNo.$error.minlength" translate="entity.validation.minlength"
                       translate-value-min="11">
                        This field cannot be longer than 11 characters.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.contactNo.$error.maxlength" translate="entity.validation.maxlength"
                       translate-value-max="11">
                        This field cannot be longer than 11 characters.
                    </p>
                </div>
            </div>
            <div ng-if="instEmployee.category !== 'Staff' && logInInstitute.type=='Government'"
                 class="form-group col-md-6">
                <label class="control-label" translate="stepApp.instEmployee.isJPAdmin" for="field_isJPAdmin">Is Job
                    Placement Admin</label>
                <div id="field_isJPAdmin">
                    <label class="radio-inline btn btn-default">
                        <input type="radio" id="field_isJPAdmin_yes"
                               name="gender" ng-model="instEmployee.isJPAdmin"
                               tooltip="{{'stepApp.instEmployee.isJPAdmin' | translate}}"
                               ng-value="true"><span
                        translate="stepApp.instEmployee.isJPAdminYes" for="field_isNominee_yes">
                        Yes</span>
                    </label>
                    <label class="radio-inline btn btn-default">
                        <input type="radio" id="field_isJPAdmin_no"
                               name="gender" ng-model="instEmployee.isJPAdmin"
                               tooltip="{{'stepApp.instEmployee.isJPAdmin' | translate}}"
                               ng-value="false"><span
                        translate="stepApp.instEmployee.isJPAdminNo" for="field_isNominee_no">
                        No</span>
                    </label>
                </div>
            </div>
            <div ng-if="logInInstitute.type=='Government'">
                <div class="form-group col-md-6">
                    <label class="control-label" translate="stepApp.instEmployee.isHeadOfDept" for="field_isHeadOfDept">Is Head of Dept</label>
                    <div id="field_isHeadOfDept">
                        <label class="radio-inline btn btn-default">
                            <input type="radio" id="isHeadOfDept_yes"
                                   name="isHeadOfDept" ng-model="instEmployee.isHeadOfDept" ng-click="callTest(instEmployee.hrdepartmentSetup,instEmployee.isHeadOfDept)"
                                   tooltip="{{'stepApp.instEmployee.isHeadOfDept' | translate}}"
                                   ng-value="true"><span
                            translate="stepApp.instEmployee.isHeadOfDeptYes" for="field_isHeadOfDept_yes">
                        Yes</span>
                        </label>
                        <label class="radio-inline btn btn-default">
                            <input type="radio" id="field_isHeadOfDept_no"
                                   name="isHeadOfDept" ng-model="instEmployee.isHeadOfDept"
                                   tooltip="{{'stepApp.instEmployee.isHeadOfDept' | translate}}"
                                   ng-value="false"><span
                            translate="stepApp.instEmployee.isHeadOfDeptNo" for="field_isHeadOfDept_no">
                        No</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>

            <div class="form-group col-md-6">
                <div ng-cloak ng-show="globalDeptSuccessMessage" class="deptmessage deptsuccess triangle-isosceles"
                     style="margin: 5px 0px 0px 0px;padding:10px;border-radius: 3px;text-align:center;"><span
                    translate="{{globalDeptSuccessMessage}}"></span>

                </div>
            </div>

            <div class="form-group col-md-6" ng-if="logInInstitute.type === 'Government' || logInInstitute.type === 'NonGovernment' && instEmployee.employmentType === 'Mpo'">
                <label translate="stepApp.instEmployee.appointmentGoDate" for="field_appointmentGoDate">Appointment Date</label>
                <input type="text" class="form-control" name="appointmentGoDate" id="field_appointmentGoDate"
                       ng-model="instEmployee.appointmentGoDate"
                       tooltip="{{'stepApp.instEmployee.appointmentGoDate' | translate}}"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.appointmentGoDate"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       datepicker-options="calendar.dateOptions" close-text="Close" max-date="toDay"
                       ng-click="calendar.open($event, 'appointmentGoDate')" required/>
                <div ng-show="editForm.appointmentGoDate.$invalid">
                    <p class="help-block"
                       ng-show="editForm.appointmentGoDate.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label translate="stepApp.instEmployee.joiningDate" for="field_joiningDate">Joining Date</label>
                <input type="text" class="form-control" name="joiningDate" id="field_joiningDate"
                       ng-model="instEmployee.joiningDate"
                       required
                       tooltip="{{'stepApp.instEmployee.joiningDate' | translate}}"
                       min-date="instEmployee.appointmentGoDate || instEmployee.dob"
                       max-date="toDay"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.joiningDate"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                       ng-click="calendar.open($event, 'joiningDate')"
                       ng-change="dateValidation()"
                       required/>

                <div ng-show="editForm.joiningDate.$invalid">
                    <p class="help-block"
                       ng-show="editForm.joiningDate.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
                <div class="col-sm-12" ng-if="dateError">
                    <span style="color:red;margin-top:30px;font-size:14px;">Joining Date Should be greater than DOB</span>
                </div>
            </div>
            <div class="form-group col-md-6" ng-if="logInInstitute.type === 'Government' || logInInstitute.type === 'NonGovernment' && instEmployee.employmentType === 'Mpo'">
                <label translate="stepApp.instEmployee.prlDate" for="field_prlDate">PRL Date</label>
                <input type="text" class="form-control" name="prlDate" id="field_prlDate"
                       ng-model="instEmployee.prlDate"
                       tooltip="{{'stepApp.instEmployee.prlDate' | translate}}"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.prlDate"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                        readonly required/>
                <div ng-show="editForm.prlDate.$invalid">
                    <p class="help-block"
                       ng-show="editForm.prlDate.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>

            <div class="form-group col-md-6" ng-if="logInInstitute.type === 'Government' || logInInstitute.type === 'NonGovernment' && instEmployee.employmentType === 'Mpo'">
                <label translate="stepApp.instEmployee.retirementDate" for="field_retirementDate">Retirement Date</label>
                <input type="text" class="form-control" name="retirementDate" id="field_retirementDate"
                       ng-model="instEmployee.retirementDate"
                       tooltip="{{'stepApp.instEmployee.retirementDate' | translate}}"
                       datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.retirementDate"
                       placeholder="{{'entity.placeholder.dateformat' | translate}}"
                       min-date="instEmployee.joiningDate"
                       datepicker-options="calendar.dateOptions" close-text="Close"
                        readonly required/>

                <div ng-show="editForm.retirementDate.$invalid">
                    <p class="help-block"
                       ng-show="editForm.retirementDate.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
            </button>

            <button ng-if="logInInstitute.type=='NonGovernment'" type="submit" ng-disabled="editForm.$invalid || isSaving || dateError" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Register</span>
            </button>

            <button ng-if="logInInstitute.type=='Government'" type="submit" ng-disabled="editForm.$invalid || isSaving || isVacancy || staffVacancy || dateError" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Register</span>
            </button>
        </div>
    </form>
</div>
<style>
    .triangle-isosceles {
        position: relative;
        padding: 15px;
        margin: 1em 0 3em;
        color: #000;
        background: rgba(255, 0, 0, 0.44);
        border-radius: 10px;
        background: linear-gradient(top, rgba(255, 0, 0, 0.44), rgba(255, 0, 0, 0.44));
    }

    /* creates triangle */
    .triangle-isosceles:after {
        content: "";
        display: block; /* reduce the damage in FF3.0 */
        position: absolute;
        top: -15px;
        left: 50px;
        width: 0;
        border-width: 0px 15px 15px;
        border-style: solid;
        border-color: rgba(255, 0, 0, 0.45) transparent;
    }
</style>
