<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-body bg-panel">
            <div class="row hrm-view">
                <span ng-show="addMode">
                    <span ng-show="noEmployeeFound" class="alert">Employee is not created yet.</span>
                </span>
            </div>
            <div class="panel-group hr_label">
                <!-- For Loop Start From Here-->
                <div class="bg-panel" ng-repeat="hrEmpTrainingInfo in hrEmpTrainingInfoList">
                    <form name="editForm" role="form" ng-submit="save()" novalidate show-validation>
                        <div class="row hrm-view panel-heading no_padding">
                            <div class="col-sm-7 no_padding">
                                <strong>{{hrEmpTrainingInfo.trainingType.typeName}} :
                                    {{hrEmpTrainingInfo.instituteName.typeName}}</strong>
                            </div>
                            <div class="col-sm-5 no_padding text-right">
                                <button
                                    ng-hide="noEmployeeFound || hrEmpTrainingInfo.isLocked || hrEmpTrainingInfo.logStatus==6"
                                    ng-if="!(hrEmpTrainingInfo.logStatus == 11 || hrEmpTrainingInfo.logStatus == 33)"
                                    type="button" ng-click="changeProfileMode(hrEmpTrainingInfo)"
                                    class="btn btn-primary btn-sm">{{hrEmpTrainingInfo.viewModeText}}
                                </button>
                                <span ng-show="hrEmpTrainingInfo.isLocked" class="alert alert-warning su_alert"><span
                                    translate="stepApp.hrmHome.recordLocked">Pending</span></span>
                                <span ng-if="(hrEmpTrainingInfo.logStatus == 22 || hrEmpTrainingInfo.logStatus == 44)">
                                        <span class="alert alert-warning" translate="stepApp.hrmHome.requestRejected">Rejected</span>
                                    </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right"
                                 ng-if="(hrEmpTrainingInfo.logStatus == 22 || hrEmpTrainingInfo.logStatus == 44)">
                                <span class="alert-warning">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.rejectionReason">Reason</span>: &nbsp; : &nbsp;{{hrEmpTrainingInfo.logComments}}
                                </span>
                            </div>
                            <div class="col-sm-12 text-right"
                                 ng-if="(hrEmpTrainingInfo.logStatus == 11 || hrEmpTrainingInfo.logStatus == 33)">
                                <span class="alert-warning" ng-if="hrEmpTrainingInfo.logStatus == 11">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.messages.waitingForDeptHeadApproval">Waiting @ Department Head Approval</span>
                                </span>
                                <span class="alert-warning" ng-if="hrEmpTrainingInfo.logStatus == 33">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.messages.waitingForInstHeadApproval">Waiting @ Institute Head Approval</span>
                                </span>
                            </div>
                        </div>
                        <div class="row  ">
                            <div class="col-md-12 table-responsive padding0" ng-show="hrEmpTrainingInfo.viewMode">
                                <table class="table dtetables">
                                    <tbody>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpTrainingInfo.trainingType"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpTrainingInfo.trainingType.typeName}}</td>
                                        <td><strong ng-if="hrEmpTrainingInfo.trainingType.typeName == 'Local'"
                                                    translate="stepApp.hrEmpTrainingInfo.address"></strong></td>
                                        <td><span ng-if="hrEmpTrainingInfo.trainingType.typeName == 'Local'">&nbsp; : &nbsp;{{hrEmpTrainingInfo.address}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpTrainingInfo.country"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpTrainingInfo.country.name}}</td>
                                        <td><strong translate="stepApp.hrEmpTrainingInfo.jobCategory"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpTrainingInfo.jobCategory.typeName}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpTrainingInfo.instituteName"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpTrainingInfo.instituteName.typeName}}</td>
                                        <td><strong translate="stepApp.hrEmpTrainingInfo.courseTitle"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpTrainingInfo.courseTitle}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpTrainingInfo.durationFrom"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpTrainingInfo.durationFrom | date:'mediumDate'}}</td>
                                        <td><strong translate="stepApp.hrEmpTrainingInfo.durationTo"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpTrainingInfo.durationTo | date:'mediumDate'}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpTrainingInfo.result"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpTrainingInfo.result}}</td>
                                        <td><strong translate="stepApp.hrEmpTrainingInfo.officeOrderNo"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpTrainingInfo.officeOrderNo}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpTrainingInfo.goOrderDoc"></strong></td>
                                        <td ng-click="previewGODoc(hrEmpTrainingInfo)">&nbsp; : &nbsp;<img
                                            ng-src="data:image/JPEG;base64,{{hrEmpTrainingInfo.goOrderDoc}}"
                                            width="40px"></td>
                                        <td><strong translate="stepApp.hrEmpTrainingInfo.certDoc"></strong></td>
                                        <td ng-click="previewCertDoc(hrEmpTrainingInfo)">&nbsp; : &nbsp;<img
                                            ng-src="data:image/JPEG;base64,{{hrEmpTrainingInfo.certDoc}}" width="40px">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td ><strong translate="stepApp.hrEmpTrainingInfo.certNumber"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpTrainingInfo.certNumber}}</td>
                                        <td ><strong translate="stepApp.hrEmpTrainingInfo.certDate"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpTrainingInfo.certDate}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div ng-show="!hrEmpTrainingInfo.viewMode" class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.trainingType"
                                               for="field_trainingType">trainingType</label>
                                        <select class="form-control" id="field_trainingType" name="trainingType"
                                                ng-model="hrEmpTrainingInfo.trainingType"
                                                ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in trainingTypes track by MiscTypeSetup.id"
                                                required>
                                            <option disabled selected value="">-- Select --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div ng-show="!hrEmpTrainingInfo.viewMode"
                                         ng-if="hrEmpTrainingInfo.trainingType.typeName == 'Local'"
                                         class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.address"
                                               for="field_address">address</label>
                                        <input type="text" class="form-control" name="address" id="field_address"
                                               ng-model="hrEmpTrainingInfo.address"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row " ng-show="!hrEmpTrainingInfo.viewMode">
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" translate="stepApp.hrEmpTrainingInfo.country"
                                           for="field_country">Country</label>
                                    <div class="input-margin">
                                        <select class="form-control" id="field_country" name="country"
                                                ng-model="hrEmpTrainingInfo.country"
                                                ng-options="Country as Country.name for Country in countryList track by Country.id">
                                            <option disabled selected value="">-- Select Country --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" translate="stepApp.hrEmpTrainingInfo.jobCategory"
                                           for="field_jobCategory">JobCategory</label>
                                    <div ng-show="!hrEmpTrainingInfo.viewMode" class="input-margin">
                                        <select class="form-control" id="field_jobCategory" name="jobCategory"
                                                ng-model="hrEmpTrainingInfo.jobCategory"
                                                ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in misctypesetups track by MiscTypeSetup.id"
                                                required>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="!hrEmpTrainingInfo.viewMode">
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.instituteName"
                                               for="field_instituteName">InstituteName</label>
                                        <select class="form-control" id="field_instituteName" name="instituteName"
                                                ng-model="hrEmpTrainingInfo.instituteName"
                                                ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in trainingInstNames track by MiscTypeSetup.id">
                                            <option disabled selected value="">-- Select --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.courseTitle"
                                               for="field_courseTitle">CourseTitle</label>
                                        <input type="text" class="form-control" name="courseTitle"
                                               id="field_courseTitle"
                                               ng-model="hrEmpTrainingInfo.courseTitle"
                                               ng-maxlength="50" minlength="4" maxlength="50" ng-minlength="4" only-letters
                                               required/>
                                        <div ng-show="editForm.courseTitle.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.courseTitle.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <small style="color: #f00; font-size: 10px;"
                                            ng-show="editForm.courseTitle.$error.maxlength">
                                                This field should not longer than 50 character
                                            </small>
                                            <small style="color: #f00; font-size: 10px;"
                                            ng-show="editForm.courseTitle.$error.minlength">
                                                This field should not longer than 4 character
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="!hrEmpTrainingInfo.viewMode">
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.durationFrom"
                                               for="field_durationFrom">DurationFrom</label>
                                        <input datepicker-popup="{{calendar.dateFormat}}"
                                               is-open="calendar.opened['durationFrom'+$index]"
                                               datepicker-options="calendar.dateOptions" close-text="Close"
                                               ng-click="calendar.open($event, 'durationFrom'+$index)"
                                               class="form-control"
                                               max-date="toDay"
                                               name="durationFrom" id="field_durationFrom"
                                               ng-model="hrEmpTrainingInfo.durationFrom" required
                                        />
                                        <div ng-show="editForm.durationFrom.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.durationFrom.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.durationTo"
                                               for="field_durationTo">DurationTo</label>
                                        <input datepicker-popup="{{calendar.dateFormat}}"
                                               is-open="calendar.opened['durationTo'+$index]"
                                               datepicker-options="calendar.dateOptions" close-text="Close"
                                               ng-click="calendar.open($event, 'durationTo'+$index)"
                                               class="form-control"
                                               min-date="hrEmpTrainingInfo.durationFrom"
                                               name="durationTo" id="field_durationTo"
                                               ng-model="hrEmpTrainingInfo.durationTo" required/>
                                        <div ng-show="editForm.durationTo.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.durationTo.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="!hrEmpTrainingInfo.viewMode">
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.result"
                                               for="field_result">Result</label>
                                        <input type="text" class="form-control" name="result" id="field_result"
                                               ng-model="hrEmpTrainingInfo.result"
                                               maxlength="5" minlength="1" ng-maxlength="5" ng-minlength="1"
                                               required/>
                                        <div ng-show="editForm.result.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.result.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <small style="color: #f00; font-size: 10px;"
                                                   ng-show="editForm.result.$error.maxlength">
                                                This field should not longer than 5 character
                                            </small>
                                            <small style="color: #f00; font-size: 10px;"
                                                   ng-show="editForm.result.$error.minlength">
                                                This field should not longer than 1 character
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.officeOrderNo"
                                               for="field_officeOrderNo">OfficeOrderNo</label>
                                        <input type="text" class="form-control" name="officeOrderNo"
                                               id="field_officeOrderNo"
                                               ng-model="hrEmpTrainingInfo.officeOrderNo"
                                               only-numbers minlength="1" maxlength="30" ng-minlength="1" ng-maxlength="30"
                                               required/>
                                        <div ng-show="editForm.officeOrderNo.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.officeOrderNo.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <small style="color: #f00; font-size: 10px;"
                                                   ng-show="editForm.officeOrderNo.$error.maxlength">
                                                This field should not longer than 30 character
                                            </small>
                                            <small style="color: #f00; font-size: 10px;"
                                                   ng-show="editForm.officeOrderNo.$error.minlength">
                                                This field should not longer than 1 character
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="!hrEmpTrainingInfo.viewMode">
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.certNumber"
                                               for="field_certNumber">certNumber</label>
                                        <input type="text" class="form-control" name="certNumber" id="field_certNumber"
                                               ng-model="hrEmpTrainingInfo.certNumber"
                                               only-numbers minlength="1" maxlength="30" ng-minlength="1" ng-maxlength="30"
                                               required/>
                                        <div ng-show="editForm.certNumber.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.certNumber.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                            <small style="color: #f00; font-size: 10px;"
                                                   ng-show="editForm.certNumber.$error.maxlength">
                                                This field should not longer than 30 character
                                            </small>
                                            <small style="color: #f00; font-size: 10px;"
                                                   ng-show="editForm.certNumber.$error.minlength">
                                                This field should not longer than 1 character
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6">
                                <div class="form-group">
                                    <div class="input-margin">
                                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.certDate"
                                               for="field_officeOrderNo">OfficeOrderNo</label>
                                        <input datepicker-popup="{{calendar.dateFormat}}"
                                               is-open="calendar.opened['certDate'+$index]"
                                               datepicker-options="calendar.dateOptions" close-text="Close"
                                               ng-click="calendar.open($event, 'certDate'+$index)" class="form-control"
                                               name="certDate" id="field_certDate"
                                               ng-model="hrEmpTrainingInfo.certDate" required
                                               max-date="toDay"
                                        />
                                        <div ng-show="editForm.certDate.$invalid">
                                            <p class="help-block"
                                               ng-show="editForm.certDate.$error.required"
                                               translate="entity.validation.required">
                                                This field is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row " ng-show="!hrEmpTrainingInfo.viewMode">
                            <div class=" col-sm-6" ngf-drop ngf-change="setGoOrderDoc($file, hrEmpTrainingInfo)">
                                <div class="form-group">
                                    <label class="control-label" translate="stepApp.hrEmpTrainingInfo.goOrderDoc"
                                           for="field_goOrderDoc">GoOrderDoc</label>
                                    <div class="input-margin">
                                        <div class="help-block clearfix">
                                            <span class="pull-left">&nbsp; : &nbsp;{{hrEmpTrainingInfo.goOrderDocContentType}} {{byteSize(hrEmpTrainingInfo.goOrderDoc)}}</span>
                                            <button
                                                ng-click="hrEmpTrainingInfo.goOrderDoc=null;hrEmpTrainingInfo.goOrderDocContentType=null;"
                                                ng-if="hrEmpTrainingInfo.goOrderDoc"
                                                class="btn btn-default btn-xs pull-right">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </div>
                                        <button type="file" ngf-select class="btn btn-default btn-block"
                                                ngf-change="setGoOrderDoc($file, hrEmpTrainingInfo)"
                                                translate="entity.action.addblob">
                                            Add blob
                                        </button>
                                    </div>
                                    <input type="hidden" class="form-control" name="goOrderDoc" id="field_goOrderDoc"
                                           ng-model="hrEmpTrainingInfo.goOrderDoc"/>
                                    <input type="hidden" class="form-control" name="goOrderDocContentType"
                                           id="field_goOrderDocContentType"
                                           ng-model="hrEmpTrainingInfo.goOrderDocContentType"/>
                                    <a ng-if="hrEmpTrainingInfo.goOrderDocContentType" class="btn btn-link"
                                       ng-click="previewGODoc(hrEmpTrainingInfo)">View</a>
                                </div>
                            </div>
                            <div class="  col-sm-6" ngf-drop ngf-change="setCertDoc($file, hrEmpTrainingInfo)">
                                <div class="form-group">
                                    <label class="control-label" translate="stepApp.hrEmpTrainingInfo.certDoc"
                                           for="field_certDoc">CertDoc</label>
                                    <div ng-show="!hrEmpTrainingInfo.viewMode" class="input-margin">
                                        <div class="help-block clearfix">
                                            <span class="pull-left">&nbsp; : &nbsp;{{hrEmpTrainingInfo.certDocContentType}} {{byteSize(hrEmpTrainingInfo.certDoc)}}</span>
                                            <button
                                                ng-click="hrEmpTrainingInfo.certDoc=null;hrEmpTrainingInfo.certDocContentType=null;"
                                                ng-if="hrEmpTrainingInfo.certDoc"
                                                class="btn btn-default btn-xs pull-right">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </div>
                                        <button type="file" ngf-select class="btn btn-default btn-block"
                                                ngf-change="setCertDoc($file, hrEmpTrainingInfo)"
                                                translate="entity.action.addblob">
                                            Add blob
                                        </button>
                                        <input type="hidden" class="form-control" name="certDoc" id="field_certDoc"
                                               ng-model="hrEmpTrainingInfo.certDoc"/>
                                        <input type="hidden" class="form-control" name="certDocContentType"
                                               id="field_certDocContentType"
                                               ng-model="hrEmpTrainingInfo.certDocContentType"/>
                                    </div>
                                    <a ng-if="hrEmpTrainingInfo.certDocContentType" class="btn btn-link"
                                       ng-click="previewCertDoc(hrEmpTrainingInfo)">View</a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div>
                            <div class=" col-sm-6">&nbsp;</div>
                            <div class=" col-sm-6 text-right">
                                <button ng-show="!hrEmpTrainingInfo.viewMode" type="button"
                                        ng-click="changeProfileMode(hrEmpTrainingInfo)" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-remove"></span>&nbsp;{{hrEmpTrainingInfo.viewModeText}}
                                </button>
                                <button ng-show="!hrEmpTrainingInfo.viewMode"
                                        ng-click="updateProfile(hrEmpTrainingInfo, $index)"
                                        type="button" ng-disabled="editForm.$invalid || isSaving"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                                    translate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End of Loop -->
                <div class="col-sm-12 no_padding text-right">
                    <button type="submit" class="btn btn-primary" ng-show="!addMode"
                            ng-disabled="editForm.$invalid || isSaving" ng-click="addMore()"><i
                        class="fa fa-plus-square"></i>
                        <span translate="global.menu.account.addmore">Add More</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
