<div class="col-md-12 common-table padding0">
<h2>{{hrEmpTrainingInfo.trainingType.typeName}} <span translate="stepApp.hrEmpTrainingInfo.detail.title">HrEmpTrainingInfo</span> of {{hrEmpTrainingInfo.employeeInfo.fullName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrEmpTrainingInfo.employeeInfo.id})">{{hrEmpTrainingInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.trainingType">trainingType</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="miscTypeSetup.detail({id:hrEmpTrainingInfo.trainingType.id})">{{hrEmpTrainingInfo.trainingType.typeName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.instituteName">InstituteName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTrainingInfo.instituteName.typeName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.courseTitle">CourseTitle</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTrainingInfo.courseTitle}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.durationFrom">DurationFrom</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTrainingInfo.durationFrom | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.durationTo">DurationTo</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTrainingInfo.durationTo | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.result">Result</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTrainingInfo.result}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.officeOrderNo">OfficeOrderNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTrainingInfo.officeOrderNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.jobCategory">JobCategory</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTrainingInfo.jobCategory.typeName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.country">Country</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTrainingInfo.country.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.goOrderDoc">GoOrderDoc</span>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(hrEmpTrainingInfo.goOrderDoc, hrEmpTrainingInfo.goOrderDocContentType,('stepApp.hrEmpTrainingInfo.goOrderDoc' | translate)+' Image')">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{hrEmpTrainingInfo.goOrderDoc}}" width="40px"></span></a>
                    <!--<div>{{hrEmpTrainingInfo.goOrderDocContentType}}  {{byteSize(hrEmpTrainingInfo.goOrderDoc)}}</div>-->
                </td>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.goOrderDocName">GoOrderDocName</span>
                </td>
                <td>

                    <span class="form-control-static">{{hrEmpTrainingInfo.goOrderDocName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.certDoc">CertDoc</span>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       ng-click="previewImage(hrEmpTrainingInfo.certDoc, hrEmpTrainingInfo.certDocContentType,('stepApp.hrEmpTrainingInfo.certDoc' | translate)+' Image')">
                        <span class="btn btn-default"><img
                            ng-src="data:image/JPEG;base64,{{hrEmpTrainingInfo.certDoc}}" width="40px"></span></a>
                    <!--<div>{{hrEmpTrainingInfo.certDocContentType}}  {{byteSize(hrEmpTrainingInfo.certDoc)}}</div>-->
                </td>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.certDocName">CertDocName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTrainingInfo.certDocName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.certNumber">certNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTrainingInfo.certNumber}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.certDate">certDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTrainingInfo.certDate}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.OrganizationType">OrganizationType</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTrainingInfo.employeeInfo.departmentInfo.organizationType}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.workarea">workarea</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTrainingInfo.employeeInfo.workArea.typeName}}</span>
                </td>

            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpTrainingInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpTrainingInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>


            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
