<div class="col-md-12 common-dialogue">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="hrEmpTrainingInfo.id == null" class="modal-title"
            translate="stepApp.hrEmpTrainingInfo.home.createOrEditLabel">Create or edit a HrEmpTrainingInfo</h4>
        <h4 ng-show="hrEmpTrainingInfo.id != null" class="modal-title"
            translate="stepApp.hrEmpTrainingInfo.home.EditLabel">Create or edit a HrEmpTrainingInfo</h4>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="global.home.orgOrInst" for="field_toOrganizationType">toOrganizationType</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_toOrganizationType" name="toOrganizationType"
                                    ng-model="orgOrInst" required>
                                <option selected disabled value="">-- Select Organization Type --</option>
                                <option value="Organization">Organization</option>
                                <option value="Institute">Institute</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div ng-if="orgOrInst=='Organization'">
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <div class="form-group ">
                            <label class="control-label" for="field_workArea"
                                   translate="stepApp.hrEmpTrainingInfo.workarea">Work Area</label>
                            <select class="form-control" id="field_workArea" name="workArea" ng-model="workArea"
                                    ng-change="loadModelByWorkArea(workArea)"
                                    ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id">
                                <option disabled selected value="">-- Select Work Area--</option>
                            </select>
                            <span class="help">No of Employee: {{hremployeeinfos.length}}</span>
                        </div>
                    </div>
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrEmpTrainingInfo.employeeInfo"
                                   for="field_employeeInfo">employeeInfo</label>
                            <div class="input-margin">
                                <input type="text" class="form-control autocomplete" autocomplete="off"
                                       ng-model="hrEmpTrainingInfo.employeeInfo"
                                       ng-blur="loadHrEmployee(hrEmpTrainingInfo)"
                                       typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfos | filter:$viewValue'
                                       id="field_employeeInfo" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="(orgOrInst=='Institute')" class="col-md-6 col-lg-6">
                    <label class="control-label" translate="stepApp.hrEmpChildrenInfo.employeeInfo"
                           for="field_employeeInfo">employeeInfo</label>
                    <div class="input-margin">
                        <input type="text" class="form-control autocomplete" autocomplete="off"
                               ng-model="hrEmpTrainingInfo.employeeInfo"
                               typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfosOfInstitute | filter:$viewValue'
                               id="field_employeeInfo" required>
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-12 " ng-hide="hrEmpTrainingInfo.employeeInfo.fullName ==null">
                    <table class="table table-bordered table-responsive">
                        <tbody class="hrm-info-table">
                        <tr>
                            <td><strong>Name: </strong></td>
                            <td>{{hrEmpTrainingInfo.employeeInfo.fullName}}</td>
                            <td><strong>Employee ID:</strong></td>
                            <td>{{hrEmpTrainingInfo.employeeInfo.employeeId}}</td>
                        </tr>
                        <tr>
                            <td><strong>Contact No:</strong></td>
                            <td>{{hrEmpTrainingInfo.employeeInfo.mobileNumber}}</td>
                            <td><strong>Email:</strong></td>
                            <td>{{hrEmpTrainingInfo.employeeInfo.emailAddress}}</td>
                        </tr>
                        <tr>
                            <td><strong>Section:</strong></td>
                            <td>{{hrEmpTrainingInfo.employeeInfo.departmentInfo.departmentInfo.departmentName}}</td>
                            <td><strong>Designation:</strong></td>
                            <td>{{hrEmpTrainingInfo.employeeInfo.designationInfo.designationInfo.designationName}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Organization:</strong></td>
                            <td>{{hrEmpTrainingInfo.employeeInfo.workAreaDtl.name}}</td>
                            <td><strong>Grade: </strong></td>
                            <td>{{hrEmpTrainingInfo.employeeInfo.gradeInfo.gradeCode}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>

            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group ">
                        <label translate="stepApp.hrEmpTrainingInfo.trainingType"
                               for="field_trainingType">trainingType</label>
                        <select class="form-control" id="field_trainingType" name="trainingType"
                                ng-model="hrEmpTrainingInfo.trainingType"
                                ng-change="callCountry(hrEmpTrainingInfo.trainingType.typeName)"
                                ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in trainingTypes track by MiscTypeSetup.id">
                            <option disabled selected value="">-- Select --</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6 " ng-if="hrEmpTrainingInfo.trainingType.typeName == 'Local'">
                    <div class="form-group">
                        <div class="input-margin">
                            <label class="control-label" translate="stepApp.hrEmpTrainingInfo.address"
                                   for="field_address">address</label>
                            <input type="text" class="form-control" name="address" id="field_address"
                                   ng-model="hrEmpTrainingInfo.address"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-6" ng-if="hrEmpTrainingInfo.trainingType.typeName !='Local'">
                    <div class="form-group ">
                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.country"
                               for="field_country">Country</label>
                        <!--<input type="text" class="form-control" name="country" id="field_country"
                               ng-model="hrEmpTrainingInfo.country"/> -->
                        <select class="form-control" id="field_country" name="country"
                                ng-model="hrEmpTrainingInfo.country"
                                ng-options="Country as Country.name for Country in countryList track by Country.id">
                            <option disabled selected value="">-- Select Country --</option>
                        </select>

                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-6">
                    <div class="form-group ">
                        <label class="control-label" for="field_jobCategory"
                               translate="stepApp.hrEmpTrainingInfo.jobCategory">JobCategory</label>
                        <select class="form-control" id="field_jobCategory" name="jobCategory"
                                ng-model="hrEmpTrainingInfo.jobCategory"
                                ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in misctypesetups track by MiscTypeSetup.id"
                                required>
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-6">
                    <div class="form-group ">
                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.instituteName"
                               for="field_instituteName">InstituteName</label>
                        <select class="form-control" id="field_instituteName" name="instituteName"
                                ng-model="hrEmpTrainingInfo.instituteName"
                                ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in trainingInstNames track by MiscTypeSetup.id">
                            <option disabled selected value=""> -- Select --</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-6">
                    <div class="form-group ">
                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.courseTitle"
                               for="field_courseTitle">CourseTitle</label>
                        <input type="text" class="form-control" name="courseTitle" id="field_courseTitle"
                               ng-model="hrEmpTrainingInfo.courseTitle" required only-letters minlength="4" maxlength="50"/>
                        <div ng-show="editForm.courseTitle.$invalid">
                            <p class="help-block"
                               ng-show="editForm.courseTitle.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6  col-sm-6 col-xs-6">
                    <div class="form-group ">
                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.durationFrom"
                               for="field_durationFrom">DurationFrom</label>
                        <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.durationFrom"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'durationFrom')" class="form-control"
                               name="durationFrom"
                               id="field_durationFrom"
                               ng-model="hrEmpTrainingInfo.durationFrom" required/>
                        <div ng-show="editForm.durationFrom.$invalid">
                            <p class="help-block"
                               ng-show="editForm.durationFrom.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-6">
                    <div class="form-group ">
                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.durationTo"
                               for="field_durationTo">DurationTo</label>
                        <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.durationTo"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'durationTo')" class="form-control" name="durationTo"
                               id="field_durationTo"
                               ng-model="hrEmpTrainingInfo.durationTo" required max-date="hrEmpTrainingInfo.durationFrom"/>
                        <div ng-show="editForm.durationTo.$invalid">
                            <p class="help-block"
                               ng-show="editForm.durationTo.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-6">
                    <div class="form-group ">
                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.result"
                               for="field_result">Result</label>
                        <input type="text" class="form-control" name="result" id="field_result"
                               ng-model="hrEmpTrainingInfo.result" required only-numbers-and-dot/>
                        <div ng-show="editForm.result.$invalid">
                            <p class="help-block"
                               ng-show="editForm.result.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-6">
                    <div class="form-group ">
                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.officeOrderNo"
                               for="field_officeOrderNo">OfficeOrderNo</label>
                        <input type="text" class="form-control" name="officeOrderNo" id="field_officeOrderNo"
                               ng-model="hrEmpTrainingInfo.officeOrderNo" required only-numbers/>
                        <div ng-show="editForm.officeOrderNo.$invalid">
                            <p class="help-block"
                               ng-show="editForm.officeOrderNo.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-6">
                    <div class="form-group ">
                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.certNumber"
                               for="field_certNumber">certNumber</label>
                        <input type="text" class="form-control" name="certNumber" id="field_certNumber"
                               ng-model="hrEmpTrainingInfo.certNumber" required only-numbers/>
                        <div ng-show="editForm.certNumber.$invalid">
                            <p class="help-block"
                               ng-show="editForm.certNumber.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-6">
                    <div class="form-group ">
                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.certDate"
                               for="field_certDate">OfficeOrderNo</label>
                        <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.certDate"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'certDate')" class="form-control" name="certDate"
                               id="field_certDate"
                               ng-model="hrEmpTrainingInfo.certDate"
                               required/>
                        <p class="help-block"
                           ng-show="editForm.certDate.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6  col-sm-6 col-xs-6">
                    <div ngf-drop ngf-change="setGoOrderDoc($file, hrEmpTrainingInfo)">
                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.goOrderDoc"
                               for="field_goOrderDoc">GoOrderDoc</label>
                        <div>
                            <div class="help-block clearfix">
                                <span class="pull-left">{{hrEmpTrainingInfo.goOrderDocContentType}} {{byteSize(hrEmpTrainingInfo.goOrderDoc)}}</span>
                                <button
                                    ng-click="hrEmpTrainingInfo.goOrderDoc=null;hrEmpTrainingInfo.goOrderDocContentType=null;"
                                    ng-if="hrEmpTrainingInfo.goOrderDoc"
                                    class="btn btn-default btn-xs pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                            <button type="file" ngf-select class="btn btn-default btn-block"
                                    ngf-change="setGoOrderDoc($file, hrEmpTrainingInfo)"
                                    translate="entity.action.addblob">
                                Add blob
                            </button>
                        </div>
                        <input type="hidden" class="form-control" name="goOrderDoc" id="field_goOrderDoc"
                               ng-model="hrEmpTrainingInfo.goOrderDoc"/>
                        <input type="hidden" class="form-control" name="goOrderDocContentType"
                               id="field_goOrderDocContentType"
                               ng-model="hrEmpTrainingInfo.goOrderDocContentType"/>
                        <a ng-if="hrEmpTrainingInfo.goOrderDocContentType" class="btn btn-link"
                           ng-click="previewGODoc(hrEmpTrainingInfo)">View</a>
                    </div>
                </div>


                <div class="col-md-6  col-sm-6 col-xs-6">
                    <div ngf-drop ngf-change="setCertDoc($file, hrEmpTrainingInfo)">
                        <label class="control-label" translate="stepApp.hrEmpTrainingInfo.certDoc" for="field_certDoc">CertDoc</label>
                        <div>
                            <div class="help-block clearfix">
                                <span class="pull-left">{{hrEmpTrainingInfo.certDocContentType}} {{byteSize(hrEmpTrainingInfo.certDoc)}}</span>
                                <button
                                    ng-click="hrEmpTrainingInfo.certDoc=null;hrEmpTrainingInfo.certDocContentType=null;"
                                    ng-if="hrEmpTrainingInfo.certDoc"
                                    class="btn btn-default btn-xs pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                            <button type="file" ngf-select class="btn btn-default btn-block"
                                    ngf-change="setCertDoc($file, hrEmpTrainingInfo)" translate="entity.action.addblob">
                                Add blob
                            </button>
                        </div>
                        <input type="hidden" class="form-control" name="certDoc" id="field_certDoc"
                               ng-model="hrEmpTrainingInfo.certDoc"/>
                        <input type="hidden" class="form-control" name="certDocContentType"
                               id="field_certDocContentType"
                               ng-model="hrEmpTrainingInfo.certDocContentType"/>
                        <a ng-if="hrEmpTrainingInfo.certDocContentType" class="btn btn-link"
                           ng-click="previewCertDoc(hrEmpTrainingInfo)">View</a>
                    </div>
                </div>


                <div class="col-md-6  col-sm-6 col-xs-6">
                    <div class="form-group ">
                        <label class="control-label"
                               translate="stepApp.hrEmpTrainingInfo.activeStatus">ActiveStatus</label>
                        <div>
                            <input type="radio" data-ng-model="hrEmpTrainingInfo.activeStatus" name="activeStatus"
                                   data-ng-value="true">&nbsp; <span
                            translate="stepApp.hrEmpTrainingInfo.active"></span>&nbsp;|&nbsp;
                            <input type="radio" data-ng-model="hrEmpTrainingInfo.activeStatus" name="activeStatus"
                                   data-ng-value="false">&nbsp; <span
                            translate="stepApp.hrEmpTrainingInfo.inactive"></span>
                        </div>
                        <div ng-show="editForm.activeStatus.$invalid">
                            <p class="help-block"
                               ng-show="editForm.activeStatus.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        onclick="window.history.back()">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp;<span
                    translate="entity.action.cancel">cancel</span>
                </button>
                <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;
                    <span ng-show="hrEmpTrainingInfo.id == null" translate="entity.action.save">Save</span>
                    <span ng-show="hrEmpTrainingInfo.id != null" translate="entity.action.update">Save</span>
                </button>
            </div>
        </div>
    </form>
</div>
