<div class="col-md-12 common-list">
    <h2 translate="stepApp.hrEmpTrainingInfo.home.title">HrEmpTrainingInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrEmpTrainingInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrEmpTrainingInfo.home.createLabel">Create a new HrEmpTrainingInfo</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12  table-responsive no_padding">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <th><span translate="global.field.id">ID</span></th>
                <th><span translate="stepApp.hrEmpTrainingInfo.employeeInfo">employeeInfo</span></th>
                <th><span translate="stepApp.hrEmpTrainingInfo.trainingType">trainingType</span></th>
                <th><span translate="stepApp.hrEmpTrainingInfo.instituteName">InstituteName</span></th>
                <th><span translate="stepApp.hrEmpTrainingInfo.courseTitle">CourseTitle</span></th>
                <th><span translate="stepApp.hrEmpTrainingInfo.certNumber">certNumber</span></th>
                <th><span translate="stepApp.hrEmpTrainingInfo.certDate">certDate</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <tr ng-animate="'animate'"
                dir-paginate="hrEmpTrainingInfo in hrEmpTrainingInfos | filter:q | itemsPerPage: pageSize track by hrEmpTrainingInfo.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <td><a ui-sref="hrEmpTrainingInfo.detail({id:hrEmpTrainingInfo.id})">{{hrEmpTrainingInfo.id}}</a></td>
                <td>
                    <a ui-sref="hrEmployeeInfo.detail({id:hrEmpTrainingInfo.employeeInfo.id})">{{hrEmpTrainingInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <a ui-sref="miscTypeSetup.detail({id:hrEmpTrainingInfo.trainingType.id})">{{hrEmpTrainingInfo.trainingType.typeName}}</a>
                </td>
                <td>{{hrEmpTrainingInfo.instituteName.typeName}}</td>
                <td>{{hrEmpTrainingInfo.courseTitle}}</td>
                <td>{{hrEmpTrainingInfo.certNumber}}</td>
                <td>{{hrEmpTrainingInfo.certDate | date:'mediumDate'}}</td>
                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="hrEmpTrainingInfo.detail({id:hrEmpTrainingInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit" ng-hide="false"
                            ui-sref="hrEmpTrainingInfo.edit({id:hrEmpTrainingInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrEmpTrainingInfo.delete({id:hrEmpTrainingInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
