    <div class="col-md-2 no-print padding-right0 padding-left0">
        <ng-include src="'scripts/app/entities/jobPortal/jp-admin-menu.html'"></ng-include>
    </div>
    <div class="col-md-10 lbl-dash padding-left0">
        <div class="common-table">
            <h2 class="page-header"><span translate="stepApp.cat.detail.title">Cat</span> {{cat.cat}}</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <!--<thead>
                    <tr>
                        <th translate="entity.detail.field">Field</th>
                        <th translate="entity.detail.value">Value</th>
                    </tr>
                    </thead>-->
                    <tbody>
                    <tr>
                        <td>
                            <span translate="stepApp.cat.cat">Cat</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{cat.cat}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.cat.description">Description</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{cat.description}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.cat.organizationCategory">Organization Category</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{cat.organizationCategory.name}}</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span translate="stepApp.cat.status">Category Status</span>
                        </td>
                        <td>
                            <span ng-if="cat.status" class="form-control-static">Active</span>
                            <span ng-if="!cat.status" class="form-control-static">Inactive</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--<button ui-sref="cat" class="btn btn-success">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
            </button>-->
            <a onclick="window.history.back()"
               class="btn btn-info no-print">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
            </a>
        </div>
        <div class="no-print   text-right">
            <button type="submit" name="submit" onclick="window.print()" class="btn btn-primary">
                <span class="glyphicon glyphicon-print"></span>&nbsp;<span
                translate="entity.action.print">Print</span>
            </button>
        </div>
    </div>
</div>
