<div class="col-md-2 responsive_padding no-print padding-left0 padding-right0">
    <ng-include src="'scripts/app/entities/jobPortal/jp-admin-menu.html'"></ng-include>
</div>
<div class="col-md-10 lbl-dash">
    <div class="col-md-12 common-list">
        <h2 class="heading_center"><span translate="stepApp.cat.home.title">Category</span></h2>
        <div class="col-md-12 padding-tb">
            <div class="col-xs-4 no_padding">
                <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
            </div>
            <div class="col-xs-4">
                <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
            </div>
            <div class="col-xs-4 no_padding text-right ">
                <button class="btn btn-primary " ui-sref="cat.new">
                    <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.cat.home.createLabel">Create a new Cat</span>
                </button>
            </div>
        </div>
        <!--<div class="col-md-12 padding-tb no-print">
            <div class="col-md-8 no_padding ">
                <div class="col-md-6 no_padding">
                    <b>&lt;!&ndash;{{ (hrDesignationSetups | filter:q).length }}&ndash;&gt; <span
                        translate="global.home.searchhere"></span>:</b>
                    <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                    </div>
                </div>
                <div class="col-md-6">
                    <b><span translate="global.home.itemperpage"></span>:</b>
                    <div class="input-group">
                        <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 btn-top text-right no_padding">
                <button class="btn btn-primary " ui-sref="cat.new">
                    <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.cat.home.createLabel">Create a new Cat</span>
                </button>
            </div>
        </div>-->
        <div class="col-sm-12 table-responsive no_padding">
            <table class="table table-hover table-striped">
                <!--<caption class="notice text-center" translate="entity.action.found"
                         translate-values="{found: '{{cats.length}}', total: '{{total}}'}">{{cats.length}} cats
                    retrieved from total of {{total}} cats
                </caption>-->

                <thead>
                <tr>
                    <th ng-click="order('cat', reverse=!reverse)" translate="global.field.serial">Serial No</th>
                    <th ng-click="order('cat', reverse=!reverse)" translate="stepApp.cat.cat">Cat</th>
                    <th ng-click="order('description', reverse=!reverse)" translate="stepApp.cat.description">
                        Description
                    </th>
                    <th translate="stepApp.cat.status">Status</th>
                    <th class="text-center no-print" translate="entity.action.action"></th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="cat in cats | filter:q | itemsPerPage: pageSize track by cat.id"
                    current-page="currentPage">
                    <td>{{pageSize*(currentPage-1)+$index + 1}}</td>
                    <td>{{cat.cat}}</td>
                    <td>{{cat.description}}</td>
                    <td>{{cat.status != null && cat.status ? 'Active':'Inactive'}}</td>
                    <td class="text-right no-print">
                        <button type="submit"
                                ui-sref="cat.detail({id:cat.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                            translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="cat.edit({id:cat.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                            translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="cat.delete({id:cat.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav class="no-print">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                         template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
            </nav>
        </div>
        <div class="no-print   text-right">
            <button type="submit" name="submit" onclick="window.print()" class="btn btn-primary">
                <span class="glyphicon glyphicon-print"></span>&nbsp;<span
                translate="entity.action.print">Print</span>
            </button>
        </div>
    </div>
</div>
