<div class="col-md-12 common-table">
    <h2 class="panel-title">{{cmsSubAssign.cmsSubject.name}}</h2>
    <div class="table-responsive ">
        <table class="table table-striped">
           <!-- <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.cmsSubAssign.subject">Subject</span>
                </td>
                <td>
                    <span class="form-control-static">{{cmsSubAssign.cmsSubject.name}}</span>
                </td>
            </tr>

           <!-- <tr>
                <td>
                    <span translate="stepApp.cmsSubAssign.examFee">ExamFee</span>
                </td>
                <td>
                    <span class="form-control-static">{{cmsSubAssign.examFee}}</span>
                </td>
            </tr>-->
            <tr>
                <td>
                    <span translate="stepApp.cmsSubAssign.status">Status</span>
                </td>
                <td>
                    <span style="color: #005f00"  ng-show="cmsSubAssign.status == true" class="form-control-static"><span translate="entity.action.activate">Active</span></span>
                    <span  style="color: red" ng-show="cmsSubAssign.status == false" class="form-control-static"><span translate="entity.action.deactivate">Deactive</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.cmsSubAssign.curriculum">cmsCurriculum</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="cmsCurriculum.detail({id:cmsSubAssign.cmsCurriculum.id})">{{cmsSubAssign.cmsCurriculum.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.cmsSubAssign.tech/Trad/Spe">cmsTrade</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="cmsTrade.detail({id:cmsSubAssign.cmsTrade.id})">{{cmsSubAssign.cmsTrade.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.cmsSubAssign.semester">cmsSemester</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="cmsSemester.detail({id:cmsSubAssign.cmsSemester.id})">{{cmsSubAssign.cmsSemester.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.cmsSubAssign.syllabus">cmsSyllabus</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="cmsSyllabus.detail({id:cmsSubAssign.cmsSyllabus.id})">{{cmsSubAssign.cmsSyllabus.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.cmsSubAssign.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{cmsSubAssign.description}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel-footer">
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
    </div>
</div>
</div>
