<div class="col-md-12 common-list padding-left0 ">
    <tabset justified="true">
        <tab heading="{{'stepApp.hrDepartmentSetup.detail.departmentTitle' | translate}}" select="generalInfo()"
             disable="generalInfoTab" ng-click="getDeptList('Department')">
            <div class="">
                <div class="col-sm-12 padding0">
                    <div class="col-sm-12 padding0">
                        <h2 style="text-align: left">
                            <span translate="stepApp.hrDepartmentSetup.detail.departmentTitle" style="text-align: left">Hr Department Setup  </span>
                            <!--<span translate="stepApp.pgmsAppRetirmntPen.detail.employeeInformation" style="float: right"  ></span>-->
                        </h2>
                        <!--<div class="col-sm-12 text-right padding-tb" ng-hide="hideGenInfoApprove">-->
                    </div>
                    <div class="col-md-12 padding-tb">
                        <div class="col-xs-4 no_padding">
                            <input ng-model="qr" id="search" class="form-control"
                                   placeholder="{{'global.home.searchhere'  | translate}}">
                        </div>
                        <div class="col-xs-4">
                            <input type="number" min="1" max="100" class="form-control"
                                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
                        </div>
                    </div>
                    <div class="col-sm-12 table-responsive no_padding">
                        <table class="table table-striped table-responsive">
                            <thead>
                            <tr>
                                <th><span translate="global.form.serial">serial</span></th>
                                <th><span translate="stepApp.hrDepartmentSetup.organizationInfo">Institute</span></th>
                                <th><span translate="stepApp.hrDepartmentHeadSetup.departmentName">DepartmentInfo</span>
                                </th>
                                <th><span translate="stepApp.hrDepartmentHeadSetup.departmentCode">DepartmentInfo</span>
                                </th>
                                <th><span translate="stepApp.hrDepartmentSetup.wingInfo">wingInfo</span></th>
                                <th><span translate="stepApp.hrDepartmentSetup.activeStatus">ActiveStatus</span></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--<tr ng-repeat="hrDepartmentSetup in hrDepartmentSetups | filter:q  track by hrDepartmentSetup.id">-->
                            <tr dir-paginate="hrDepartmentSetup in hrDepartmentSetups | filter:qr | itemsPerPage: pageSize track by hrDepartmentSetup.id"
                                current-page="currentPage">
                                <td>{{$index+1}}</td>
                                <td>
                                    <span ng-show="hrDepartmentSetup.organizationType=='Institute'">{{hrDepartmentSetup.institute.name}}</span>
                                    <span ng-show="hrDepartmentSetup.organizationType=='Organization'">{{hrDepartmentSetup.organizationInfo.name}}</span>
                                </td>

                                <td>{{hrDepartmentSetup.departmentInfo.departmentName}}</td>
                                <td>{{hrDepartmentSetup.departmentInfo.departmentCode}}</td>
                                <!--<td>-->
                                <!--<span ng-show="(hrDepartmentSetup.organizationType=='Organization')">-->
                                <!--{{hrDepartmentSetup.organizationCategory.typeName}}-->
                                <!--</span>-->
                                <!--<span ng-show="(hrDepartmentSetup.organizationType=='Institute')">-->
                                <!--{{hrDepartmentSetup.instCategory.name}}-->
                                <!--</span>-->
                                <!--</td>-->
                                <!--<td>-->
                                <!--<span ng-show="(hrDepartmentSetup.organizationType=='Organization')">-->
                                <!--{{hrDepartmentSetup.organizationInfo.name}}-->
                                <!--</span>-->
                                <!--<span ng-show="(hrDepartmentSetup.organizationType=='Institute')">-->
                                <!--{{hrDepartmentSetup.institute.name}}-->
                                <!--</span>-->
                                <!--</td>-->
                                <td>{{hrDepartmentSetup.wingInfo.wingName}}</td>
                                <td>{{hrDepartmentSetup.activeStatus ? 'Active' : 'Inactive'}}</td>
                                <td class="hrm-button text-right no-print">
                                    <button type="button"
                                            ui-sref="hrDepartmentSetup.detail({id:hrDepartmentSetup.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                                        translate="entity.action.view"> View</span>
                                    </button>
                                    <button has_any_authority="ROLE_HRM_ADMIN,ROLE_ADMIN" type="button"
                                            ui-sref="hrDepartmentSetup.edit({id:hrDepartmentSetup.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                                        translate="entity.action.edit"> Edit</span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!--<div class="panel-footer">-->
                    <!--<button type="submit"-->
                    <!--onclick="window.history.back()"-->
                    <!--class="btn btn-info">-->
                    <!--<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span-->
                    <!--translate="entity.action.back"> Back</span>-->
                    <!--</button>-->
                    <!--</div>-->
                </div>
            </div>
        </tab>
        <tab heading=" {{'stepApp.hrDepartmentSetup.detail.sectionTitle' | translate}}" select="adminInfo()"
             disable="adminInfoTab" ng-click="getDeptList('Section')">
            <div class="">
                <div class="col-sm-12 padding0">
                    <div class="col-sm-12 padding0">
                        <h2 style="text-align: left">
                            <span translate="stepApp.hrDepartmentSetup.detail.sectionTitle" style="text-align: left">Nominee Information</span>
                            <!--<span translate="stepApp.pgmsAppRetirmntPen.detail.nomineeInformation" style="float: right"  ></span>-->
                        </h2>
                    </div>
                    <div class="col-md-12 padding-tb">
                        <div class="col-xs-4 no_padding">
                            <input ng-model="qs" id="search" class="form-control"
                                   placeholder="{{'global.home.searchhere'  | translate}}">
                        </div>
                        <div class="col-xs-4">
                            <input type="number" min="1" max="100" class="form-control"
                                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
                        </div>
                    </div>

                    <div class="panel-body no_padding adminst-infor">
                        <div class="col-sm-12 table-responsive institute-govt-body no_padding">
                            <!--<div  class="col-md-6" ng-repeat="pgmsAppRetirmntNmine in pgmsHrNomineeList track by pgmsAppRetirmntNmine.id " >-->
                            <table class="table table-striped table-responsive">
                                <thead>
                                <tr>
                                    <th><span translate="global.form.serial">serial</span></th>
                                    <th><span translate="stepApp.hrDepartmentHeadSetup.sectionName">SectionInfo</span>
                                    </th>
                                    <th><span translate="stepApp.hrDepartmentHeadSetup.sectionCode">SectionCode</span>
                                    </th>
                                    <th><span translate="stepApp.hrDepartmentSetup.wingInfo">wingInfo</span></th>
                                    <th><span translate="stepApp.hrDepartmentSetup.activeStatus">ActiveStatus</span>
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="hrDepartmentSetup in hrDepartmentSetups | filter:qs | itemsPerPage: pageSize track by hrDepartmentSetup.id">
                                    <td>{{$index+1}}</td>
                                    <td>{{hrDepartmentSetup.departmentInfo.departmentName}}</td>
                                    <td>{{hrDepartmentSetup.departmentInfo.departmentCode}}</td>
                                    <!--<td>-->
                                    <!--<span ng-show="(hrDepartmentSetup.organizationType=='Organization')">-->
                                    <!--{{hrDepartmentSetup.organizationCategory.typeName}}-->
                                    <!--</span>-->
                                    <!--<span ng-show="(hrDepartmentSetup.organizationType=='Institute')">-->
                                    <!--{{hrDepartmentSetup.instCategory.name}}-->
                                    <!--</span>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                    <!--<span ng-show="(hrDepartmentSetup.organizationType=='Organization')">-->
                                    <!--{{hrDepartmentSetup.organizationInfo.name}}-->
                                    <!--</span>-->
                                    <!--<span ng-show="(hrDepartmentSetup.organizationType=='Institute')">-->
                                    <!--{{hrDepartmentSetup.institute.name}}-->
                                    <!--</span>-->
                                    <!--</td>-->
                                    <td>{{hrDepartmentSetup.wingInfo.wingName}}</td>
                                    <td>{{hrDepartmentSetup.activeStatus ? 'Active' : 'Inactive'}}</td>
                                    <td class="hrm-button text-right no-print">
                                        <button type="submit"
                                                ui-sref="hrDepartmentSetup.detail({id:hrDepartmentSetup.id})"
                                                class="btn btn-info btn-sm">
                                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                                            translate="entity.action.view"> View</span>
                                        </button>
                                        <button type="submit"
                                                ui-sref="hrDepartmentSetup.edit({id:hrDepartmentSetup.id})"
                                                class="btn btn-primary btn-sm">
                                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                                            translate="entity.action.edit"> Edit</span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--<div class="panel-footer">-->
                    <!--<button type="submit"-->
                    <!--onclick="window.history.back()"-->
                    <!--class="btn btn-info">-->
                    <!--<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>-->
                    <!--</button>-->
                    <!--</div>-->
                </div>
            </div>
        </tab>
        <tab heading=" {{'stepApp.hrDepartmentSetup.detail.headOfDept' | translate}}" select="adminInfo()"
             disable="adminInfoTab" ng-click="getHeadOfInstitute()">
            <div class="">
                <div class="col-sm-12 padding0">
                    <div class="col-sm-12 padding0">
                        <h2 style="text-align: left">
                            <span translate="stepApp.hrDepartmentSetup.detail.headOfDept" style="text-align: left">Head of Dept</span>
                        </h2>
                    </div>
                    <div class="col-md-12 padding-tb">
                        <div class="col-xs-4 no_padding">
                            <input ng-model="qf" id="search" class="form-control"
                                   placeholder="{{'global.home.searchhere'  | translate}}">
                        </div>
                        <div class="col-xs-4">
                            <input type="number" min="1" max="100" class="form-control"
                                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
                        </div>
                    </div>
                    <div class="panel-body no_padding adminst-infor">
                        <div class="col-sm-12 table-responsive institute-govt-body no_padding">
                            <table class="table table-striped table-responsive">
                                <thead>
                                <tr>
                                    <th><span translate="global.form.serial">serial</span></th>
                                    <!--<th><span translate="stepApp.instEmployee.code">SectionInfo</span></th>-->
                                    <th><span translate="stepApp.instEmployee.name">SectionInfo</span></th>
                                    <th><span translate="stepApp.instEmployee.designation">Designation</span></th>
                                    <th><span translate="stepApp.instEmployee.joiningDate">Join Date</span></th>
                                    <th><span translate="stepApp.instEmployee.departmentName">Department</span></th>
                                    <th><span translate="stepApp.instEmployee.isHeadOfDept">ActiveStatus</span></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="headInfo in headInfoList | filter:qf | itemsPerPage: pageSize track by headInfo.id">
                                    <td>{{$index+1}}</td>
                                    <!--<td>{{instEmployee.code}}</td>-->
                                    <td>{{headInfo.headInfo.fullName}}</td>
                                    <td>{{headInfo.headInfo.designationInfo.designationInfo.designationName}}</td>
                                    <td>{{headInfo.joinDate}}</td>
                                    <td>{{headInfo.departmentInfo.departmentInfo.departmentName}}</td>
                                    <td>{{headInfo.activeHead ? 'Active' : 'Inactive'}}</td>
                                    <td class="hrm-button text-right no-print">
                                        <button type="submit" ng-hide="headInfo.activeHead"
                                                ui-sref="hrDepartmentHeadInfo.activeDeActivate({id:headInfo.id,activeHead:true})"
                                                class="btn btn-primary btn-sm">
                                            <span class="glyphicon glyphicon-ok"></span>&nbsp;<span
                                            translate="entity.action.active"> Active</span>
                                        </button>
                                        <button type="submit" ng-show="headInfo.activeHead"
                                                ui-sref="hrDepartmentHeadInfo.activeDeActivate({id:headInfo.id,activeHead:false})"
                                                class="btn btn-danger btn-sm">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp;<span
                                            translate="entity.action.deactivate"> Inactive </span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--<div class="panel-footer">-->
                    <!--<button type="submit"-->
                    <!--onclick="clear()"-->
                    <!--class="btn btn-info">-->
                    <!--<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>-->
                    <!--</button>-->
                    <!--</div>-->
                </div>
            </div>
        </tab>
    </tabset>
</div>
<nav class="no-print">
    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                             template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
</nav>

