<div class="col-sm-12 common-list padding-left5 padding-right0">
<h2 translate="stepApp.hrDepartmentSetup.home.title"></h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrDepartmentSetup.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.hrDepartmentSetup.home.createLabel">Create a new HrDepartmentSetup</span>
            </button>
        </div>
    </div>

    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <th><span translate="stepApp.hrDepartmentSetup.sectionDepartment">Section/Department</span></th>
                <th><span translate="stepApp.hrDepartmentSetup.organizationType">organizationType</span></th>
                <th><span translate="stepApp.hrDepartmentSetup.categoryName">categoryName</span></th>
                <th><span translate="stepApp.hrDepartmentSetup.subCategoryName">subCategoryName</span></th>
                <th><span translate="stepApp.hrDepartmentSetup.wingInfo">wingInfo</span></th>
                <th><span translate="stepApp.hrDepartmentSetup.activeStatus">ActiveStatus</span> </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'" dir-paginate="hrDepartmentSetup in hrDepartmentSetups | filter:q | itemsPerPage: pageSize track by hrDepartmentSetup.id" current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <td>{{hrDepartmentSetup.departmentInfo.departmentName}}</td>
                <td>{{hrDepartmentSetup.organizationType}}</td>
                <td>
                    <span ng-show="(hrDepartmentSetup.organizationType=='Organization')">
                    {{hrDepartmentSetup.organizationCategory.typeName}}
                    </span>
                    <span ng-show="(hrDepartmentSetup.organizationType=='Institute')">
                    {{hrDepartmentSetup.instCategory.name}}
                    </span>
                </td>
                <td>
                    <span ng-show="(hrDepartmentSetup.organizationType=='Organization')">
                    {{hrDepartmentSetup.organizationInfo.name}}
                    </span>
                    <span ng-show="(hrDepartmentSetup.organizationType=='Institute')">
                    {{hrDepartmentSetup.institute.name}}
                    </span>
                </td>
                <td>{{hrDepartmentSetup.wingInfo.wingName}}</td>
                <td>{{hrDepartmentSetup.activeStatus ? 'Active' : 'Inactive'}}</td>
                <td class="hrm-button text-right no-print">
                    <button type="submit"
                            ui-sref="hrDepartmentSetup.detail({id:hrDepartmentSetup.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="hrDepartmentSetup.edit({id:hrDepartmentSetup.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrDepartmentSetup.delete({id:hrDepartmentSetup.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
