<div class="col-md-12 no_padding common-list">
    <h2 translate="stepApp.pgmsRetirmntAttachInfo.home.title">PgmsRetirmntAttachInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-md-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-md-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-md-4 text-right">
            <button class="btn btn-primary" ui-sref="pgmsRetirmntAttachInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.pgmsRetirmntAttachInfo.home.createLabel">Create a new PgmsRetirmntAttachInfo</span>
            </button>
        </div>
    </div>
    <div class="modal fade" id="deletePgmsRetirmntAttachInfoConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(pgmsRetirmntAttachInfo.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.pgmsRetirmntAttachInfo.delete.question"
                           translate-values="{id: '{{pgmsRetirmntAttachInfo.id}}'}">Are you sure you want to delete this
                            PgmsRetirmntAttachInfo?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 table-responsive padding0">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.form.serial"></th>
                <th translate="stepApp.pgmsRetirmntAttachInfo.attachType">AttachType</th>
                <th translate="stepApp.pgmsRetirmntAttachInfo.attachName">AttachName</th>
                <th translate="stepApp.pgmsRetirmntAttachInfo.priority">Priority</th>
                <th translate="stepApp.pgmsRetirmntAttachInfo.activeStatus">ActiveStatus</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="pgmsRetirmntAttachInfo in pgmsRetirmntAttachInfos | filter:q | itemsPerPage: pageSize track by pgmsRetirmntAttachInfo.id"
                current-page="currentPage">
                <td>{{pageSize *(currentPage - 1) + $index + 1}}</td>
                <td>{{pgmsRetirmntAttachInfo.attachType}}</td>
                <td>{{pgmsRetirmntAttachInfo.attachName}}</td>
                <td>{{pgmsRetirmntAttachInfo.priority}}</td>
                <td ng-if="pgmsRetirmntAttachInfo.activeStatus==true">Active</td>
                <td ng-if="pgmsRetirmntAttachInfo.activeStatus==false">Inactive</td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="pgmsRetirmntAttachInfo.detail({id:pgmsRetirmntAttachInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="pgmsRetirmntAttachInfo.edit({id:pgmsRetirmntAttachInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav class="no-print">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
