
<div class="common-table">
    <h2><span translate="stepApp.pgmsRetirmntAttachInfo.detail.title">PgmsRetirmntAttachInfo</span> <!--{{pgmsRetirmntAttachInfo.id}}--></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.pgmsRetirmntAttachInfo.attachName">AttachName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsRetirmntAttachInfo.attachName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsRetirmntAttachInfo.priority">Priority</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsRetirmntAttachInfo.priority}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsRetirmntAttachInfo.attachType">AttachType</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsRetirmntAttachInfo.attachType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsRetirmntAttachInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static" ng-if="pgmsRetirmntAttachInfo.activeStatus==true">Active</span>
                    <span class="form-control-static" ng-if="pgmsRetirmntAttachInfo.activeStatus==false">Inactive</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsRetirmntAttachInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsRetirmntAttachInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsRetirmntAttachInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsRetirmntAttachInfo.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsRetirmntAttachInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsRetirmntAttachInfo.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsRetirmntAttachInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsRetirmntAttachInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button" class="btn btn-default" class="btn " data-dismiss="modal" onclick="window.history.back()">
        <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.back">Back</span>
    </button>
</div>
