<div class="col-md-12 common-table padding-left5 padding-right0">
    <h2><span translate="stepApp.hrEmpWorkAreaDtlInfo.detail.title">HrEmpWorkAreaDtlInfo</span></h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpWorkAreaDtlInfo.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpWorkAreaDtlInfo.name}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpWorkAreaDtlInfo.establishmentDate">EstablishmentDate</span>
                </td>
                <td>
                    <span
                        class="form-control-static">{{hrEmpWorkAreaDtlInfo.establishmentDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpWorkAreaDtlInfo.user">User</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpWorkAreaDtlInfo.user.login}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpWorkAreaDtlInfo.emailAddress">EmailAddress</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpWorkAreaDtlInfo.emailAddress}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpWorkAreaDtlInfo.contactNumber">ContactNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpWorkAreaDtlInfo.contactNumber}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpWorkAreaDtlInfo.workArea">workArea</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="MiscTypeSetup.detail({id:hrEmpWorkAreaDtlInfo.workArea.id})">{{hrEmpWorkAreaDtlInfo.workArea.typeName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpWorkAreaDtlInfo.division">division</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="Division.detail({id:hrEmpWorkAreaDtlInfo.division.id})">{{hrEmpWorkAreaDtlInfo.division.name}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpWorkAreaDtlInfo.district">district</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="District.detail({id:hrEmpWorkAreaDtlInfo.district.id})">{{hrEmpWorkAreaDtlInfo.district.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpWorkAreaDtlInfo.upazila">upazila</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="Upazila.detail({id:hrEmpWorkAreaDtlInfo.upazila.id})">{{hrEmpWorkAreaDtlInfo.upazila.name}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpWorkAreaDtlInfo.address">Address</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpWorkAreaDtlInfo.address}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpWorkAreaDtlInfo.telephoneNumber">TelephoneNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpWorkAreaDtlInfo.telephoneNumber}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpWorkAreaDtlInfo.faxNumber">FaxNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpWorkAreaDtlInfo.faxNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpWorkAreaDtlInfo.activeInactive">Active/Inactive</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpWorkAreaDtlInfo.activeStatus}}</span>
                </td>
                <!--<td>
                    <span translate="stepApp.hrEmpWorkAreaDtlInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpWorkAreaDtlInfo.createDate | date:'mediumDate'}}</span>
                </td>-->
            </tr>
            <!--<tr>
                <td>
                    <span translate="stepApp.hrEmpWorkAreaDtlInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpWorkAreaDtlInfo.updateDate | date:'mediumDate'}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>-->
            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel"> cancel</span>
    </button>
</div>
