<div class="col-sm-12 common-list padding-left5 padding-right0">
    <h2 translate="stepApp.hrEmpWorkAreaDtlInfo.home.title">HrEmpWorkAreaDtlInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri pull-right" ui-sref="hrEmpWorkAreaDtlInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrEmpWorkAreaDtlInfo.home.createLabel">Create a new HrEmpWorkAreaDtlInfo</span>
            </button>
        </div>
    </div>
    <div class="col-md-12  no_padding">
        <table class="table table-responsive table-striped">
            <thead>
            <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                <th><span translate="global.form.serial">serial</span></th>
                <!-- <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                <th jh-sort-by="workArea.typeName"><span
                    translate="stepApp.hrEmpWorkAreaDtlInfo.workArea">workArea</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="name"><span translate="stepApp.hrEmpWorkAreaDtlInfo.name">Name</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="contactNumber"><span translate="stepApp.hrEmpWorkAreaDtlInfo.contactNumber">ContactNumber</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="emailAddress"><span
                    translate="stepApp.hrEmpWorkAreaDtlInfo.emailAddress">EmailAddress</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="emailAddress"><span translate="stepApp.hrEmpWorkAreaDtlInfo.user">user</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="division.name"><span translate="stepApp.hrEmpWorkAreaDtlInfo.division">division</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="district.name"><span translate="stepApp.hrEmpWorkAreaDtlInfo.district">district</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrEmpWorkAreaDtlInfo in hrEmpWorkAreaDtlInfos | filter:q | itemsPerPage: pageSize track by hrEmpWorkAreaDtlInfo.id"
                current-page="currentPage">
                <!--<td><a ui-sref="hrEmpWorkAreaDtlInfo.detail({id:hrEmpWorkAreaDtlInfo.id})">{{hrEmpWorkAreaDtlInfo.id}}</a></td>-->
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <td>
                    <a ui-sref="miscTypeSetup.detail({id:hrEmpWorkAreaDtlInfo.workArea.id})">{{hrEmpWorkAreaDtlInfo.workArea.typeName}}</a>
                </td>
                <td>{{hrEmpWorkAreaDtlInfo.name}}</td>
                <td>{{hrEmpWorkAreaDtlInfo.contactNumber}}</td>
                <td>{{hrEmpWorkAreaDtlInfo.emailAddress}}</td>
                <td>{{hrEmpWorkAreaDtlInfo.user.login}}</td>
                <td>
                    <a ui-sref="division.detail({id:hrEmpWorkAreaDtlInfo.division.id})">{{hrEmpWorkAreaDtlInfo.division.name}}</a>
                </td>
                <td>
                    <a ui-sref="district.detail({id:hrEmpWorkAreaDtlInfo.district.id})">{{hrEmpWorkAreaDtlInfo.district.name}}</a>
                </td>
                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="hrEmpWorkAreaDtlInfo.detail({id:hrEmpWorkAreaDtlInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="hrEmpWorkAreaDtlInfo.edit({id:hrEmpWorkAreaDtlInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrEmpWorkAreaDtlInfo.delete({id:hrEmpWorkAreaDtlInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
    <!--<div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>-->
</div>
