<div class="col-md-12 common-dialogue padding-left5 padding-right0">
    <form name="editForm" role="form" novalidate ng-submit="registerOrganizationUser()" show-validation>
        <h4 ng-show="hrEmpWorkAreaDtlInfo.id == null" class="modal-title" id="myHrEmpWorkAreaDtlInfoLabel"
            translate="stepApp.hrEmpWorkAreaDtlInfo.home.createOrEditLabel">Create or edit a HrEmpWorkAreaDtlInfo</h4>
        <h4 ng-show="hrEmpWorkAreaDtlInfo.id != null" class="modal-title" id="myHrEmpWorkAreaDtlInfoLabel2"
            translate="stepApp.hrEmpWorkAreaDtlInfo.home.EditLabel">Create or edit a HrEmpWorkAreaDtlInfo</h4>
        <div class="modal-body col-md-12 padding-tb">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.hrEmpWorkAreaDtlInfo.workArea" for="field_workArea">workArea</label>
                        <select class="form-control" id="field_workArea" name="workArea"
                                ng-model="hrEmpWorkAreaDtlInfo.workArea"
                                ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id">
                            <option value="">Select Work Area</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.hrEmpWorkAreaDtlInfo.division" for="field_division">division</label>
                        <select class="form-control" id="field_division" name="division"
                                ng-model="hrEmpWorkAreaDtlInfo.division"
                                ng-change="loadDistrictByDivision(hrEmpWorkAreaDtlInfo.division)"
                                ng-options="Division as Division.name for Division in divisions track by Division.id" required>
                            <option value="">Select Division</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.hrEmpWorkAreaDtlInfo.district" for="field_district">district</label>
                        <select class="form-control" id="field_district" name="district"
                                ng-change="loadUpazilaByDistrict(hrEmpWorkAreaDtlInfo.district)"
                                ng-model="hrEmpWorkAreaDtlInfo.district"
                                ng-options="District as District.name for District in districtListFilter track by District.id" required>
                            <option value="">Select District</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.hrEmpWorkAreaDtlInfo.upazila" for="field_upazila">upazila</label>
                        <select class="form-control" id="field_upazila" name="upazila"
                                ng-model="hrEmpWorkAreaDtlInfo.upazila"
                                ng-options="Upazila as Upazila.name for Upazila in upazilaListFilter track by Upazila.id">
                            <option value="">Select Upazila</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrEmpWorkAreaDtlInfo.name"
                               for="field_name">Name</label>
                        <input type="text" class="form-control" name="name" id="field_name"
                               ng-model="hrEmpWorkAreaDtlInfo.name" required
                               only-letters minlength="4" maxlength="50"/>
                        <div ng-show="editForm.name.$invalid">
                            <p class="help-block"
                               ng-show="editForm.name.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                            <small style="font-size: 10px;color:red" ng-show="editForm.name.$error.minlength">
                                This field need to be at least 4 character
                            </small>
                            <small style="font-size: 10px;color:red" ng-show="editForm.name.$error.maxlength">
                                This field need to be at least 50 character
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrEmpWorkAreaDtlInfo.establishmentDate"
                               for="field_establishmentDate">EstablishmentDate</label>
                        <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.establishmentDate"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'establishmentDate')" class="form-control"
                               name="establishmentDate" id="field_establishmentDate"
                               ng-model="hrEmpWorkAreaDtlInfo.establishmentDate"
                        max-date="toDay"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrEmpWorkAreaDtlInfo.contactNumber"
                               for="field_contactNumber">ContactNumber</label>
                        <input type="text" class="form-control" name="contactNumber" id="field_contactNumber"
                               ng-model="hrEmpWorkAreaDtlInfo.contactNumber"
                               ng-minlength="11" ng-maxlength="11" maxlength="11" minlength="11" required only-numbers/>
                        <div ng-show="editForm.contactNumber.$invalid">
                            <p class="help-block"
                               ng-show="editForm.contactNumber.$error.minlength" translate="entity.validation.minlength"
                               translate-value-min="11">
                                This field is required to be at least 11 characters.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.contactNumber.$error.maxlength" translate="entity.validation.maxlength"
                               translate-value-max="11">
                                This field cannot be longer than 11 characters.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrEmpWorkAreaDtlInfo.telephoneNumber"
                               for="field_telephoneNumber">TelephoneNumber</label>
                        <input type="text" class="form-control" name="telephoneNumber" id="field_telephoneNumber"
                               ng-model="hrEmpWorkAreaDtlInfo.telephoneNumber"
                               ng-minlength="8" ng-maxlength="18" maxlength="18" minlength="8" required only-numbers-and-dash/>
                        <div ng-show="editForm.telephoneNumber.$invalid">
                            <p class="help-block"
                               ng-show="editForm.telephoneNumber.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                            <small style="font-size: 10px;color:red"
                                   ng-show="editForm.telephoneNumber.$error.minlength">
                                This field need to be at least 8 character
                            </small>
                            <small style="font-size: 10px;color:red"
                                   ng-show="editForm.telephoneNumber.$error.maxlength">
                                This field need to be at least 18 character
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrEmpWorkAreaDtlInfo.faxNumber"
                               for="field_faxNumber">FaxNumber</label>
                        <input type="text" class="form-control" name="faxNumber" id="field_faxNumber"
                               ng-model="hrEmpWorkAreaDtlInfo.faxNumber" only-numbers-and-dash
                               minlength="8" maxlength="18"/>
                        <div ng-show="editForm.faxNumber.$invalid">
                            <p class="help-block"
                               ng-show="editForm.faxNumber.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                            <small style="font-size: 10px;color:red"
                                   ng-show="editForm.faxNumber.$error.minlength">
                                This field need to be at least 8 character
                            </small>
                            <small style="font-size: 10px;color:red"
                                   ng-show="editForm.faxNumber.$error.maxlength">
                                This field need to be at least 18 character
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrEmpWorkAreaDtlInfo.address"
                               for="field_address">Address</label>
                        <textarea class="form-control" name="address" id="field_address"
                                  ng-model="hrEmpWorkAreaDtlInfo.address"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6" ng-if="hrEmpWorkAreaDtlInfo.id">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrEmpWorkAreaDtlInfo.emailAddress"
                               for="field_emailAddress">EmailAddress</label>
                        <input type="text" class="form-control" name="emailAddress" id="field_emailAddress"
                               ng-model="hrEmpWorkAreaDtlInfo.emailAddress"
                               ng-minlength=5 ng-maxlength=100 required
                               ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"/>
                        <div ng-show="editForm.emailAddress.$invalid">
                            <small style="color:red;font-size: 10px;" ng-show="editForm.emailAddress.$error.pattern">
                                Not a valid email! please enter correct email address
                            </small>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrEmpWorkAreaDtlInfo.activeStatus"
                               for="field_activeStatus">ActiveStatus</label>
                        <!--<input type="checkbox" class="form-control" name="activeStatus" id="field_activeStatus"
                               ng-model="hrEmpWorkAreaDtlInfo.activeStatus"/>-->
                        <span class="form-control" id="field_activeStatus">
                            <input type="radio" data-ng-model="hrEmpWorkAreaDtlInfo.activeStatus" name="activeStatus"
                                   data-ng-value="true">&nbsp;<span translate="stepApp.hrEmpWorkAreaDtlInfo.active"></span>&nbsp;|&nbsp;
                            <input type="radio" data-ng-model="hrEmpWorkAreaDtlInfo.activeStatus" name="activeStatus"
                                   data-ng-value="false">&nbsp;<span translate="stepApp.hrEmpWorkAreaDtlInfo.inactive"></span>
                        </span>
                        <div ng-show="editForm.activeStatus.$invalid">
                            <p class="help-block"
                               ng-show="editForm.activeStatus.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="!hrEmpWorkAreaDtlInfo.id">
                <div class="col-md-12">
                    <h4 class="modal-title">Organization User Creation</h4>
                </div>
            </div>
            <div class="row" ng-if="!hrEmpWorkAreaDtlInfo.id">

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="email" translate="global.form.email">E-mail</label>
                        <div class="input-margin">
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="{{'global.form.email.placeholder' | translate}}"
                                   ng-model="registerAccount.email"
                                   ng-remote-validate="/api/account/checkEmail/"
                                   ng-remote-method="GET"
                                   ng-remote-throttle="500"
                                   ng-minlength=5 ng-maxlength=100 required
                                   ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                            <span class="message" ng-show="editForm.email.$pending">validating...</span>
                            <div ng-show="editForm.email.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.email.$error.ngRemoteValidate">
                                    This email already exists
                                </p>
                                <small style="color:red;font-size: 10px;" ng-show="editForm.email.$error.pattern">
                                    Not a valid email! please enter correct email address
                                </small>
                            </div>
                            <div ng-show="editForm.email.$dirty && form.email.$invalid">
                                <p class="help-block" ng-show="editForm.email.$error.required"
                                   translate="global.messages.validate.email.required">
                                    Your e-mail is required.
                                </p>
                                <p class="help-block" ng-show="editForm.email.$error.email"
                                   translate="global.messages.validate.email.invalid">
                                    Your e-mail is invalid.
                                </p>
                                <p class="help-block" ng-show="editForm.email.$error.minlength"
                                   translate="global.messages.validate.email.minlength">
                                    Your e-mail is required to be at least 5 characters.
                                </p>
                                <p class="help-block" ng-show="editForm.email.$error.maxlength"
                                   translate="global.messages.validate.email.maxlength">
                                    Your e-mail cannot be longer than 100 characters.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="login" translate="global.form.username">Username</label>
                        <div class="input-margin">
                            <input type="text" class="form-control" id="login" name="login"
                                   placeholder="{{'global.form.username.placeholder' | translate}}"
                                   ng-model="registerAccount.login"
                                   ng-remote-validate="/api/account/checkLogin/"
                                   ng-remote-method="GET"
                                   ng-remote-throttle="500"
                                   ng-minlength=3 ng-maxlength=50 ng-pattern="/^[a-z0-9]*$/" required>
                            <span class="message" ng-show="editForm.login.$pending">validating...</span>
                            <div ng-show="editForm.login.$invalid">
                                <p class="help-block" ng-show="editForm.login.$error.ngRemoteValidate">
                                    This user already exists
                                </p>
                            </div>
                            <div ng-show="editForm.login.$dirty && editForm.login.$invalid">
                                <p class="help-block" ng-show="editForm.login.$error.required"
                                   translate="register.messages.validate.login.required">
                                    Your username is required.
                                </p>
                                <p class="help-block" ng-show="editForm.login.$error.minlength"
                                   translate="register.messages.validate.login.minlength">
                                    Your username is required to be at least 1 character.
                                </p>
                                <p class="help-block" ng-show="editForm.login.$error.maxlength"
                                   translate="register.messages.validate.login.maxlength">
                                    Your username cannot be longer than 50 characters.
                                </p>
                                <p class="help-block" ng-show="editForm.login.$error.pattern"
                                   translate="register.messages.validate.login.pattern">
                                    Your username can only contain lower-case letters and digits.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="password" translate="global.form.newpassword">New
                            password</label>
                        <div class="input-margin">
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                                   ng-model="registerAccount.password" ng-minlength=5 ng-maxlength=50 required>
                            <div ng-show="form.password.$dirty && form.password.$invalid">
                                <p class="help-block" ng-show="form.password.$error.required"
                                   translate="global.messages.validate.newpassword.required">
                                    Your password is required.
                                </p>
                                <p class="help-block" ng-show="form.password.$error.minlength"
                                   translate="global.messages.validate.newpassword.minlength">
                                    Your password is required to be at least 5 characters.
                                </p>
                                <p class="help-block" ng-show="form.password.$error.maxlength"
                                   translate="global.messages.validate.newpassword.maxlength">
                                    Your password cannot be longer than 50 characters.
                                </p>
                            </div>
                            <password-strength-bar class="right-size"
                                                   password-to-check="registerAccount.password"></password-strength-bar>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <span>{{errorMsg}}</span>
            <button type="button" class="btn btn-default"
                    onclick="window.history.back()">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="hrEmpWorkAreaDtlInfo.id == null" translate="entity.action.save">Save</span>
                <span ng-show="hrEmpWorkAreaDtlInfo.id != null" translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>
