<div class="common-dialogue">
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 class="modal-title" id="myPrlBudgetSetupInfoLabel" translate="stepApp.prlBudgetSetupInfo.home.createOrEditLabel">Create or edit a PrlBudgetSetupInfo</h4>

    <div class="panel-body">
        <!-- <jh-alert-error></jh-alert-error>-->

        <div class="row">
            <div class="col-md-6">
                <label class="control-label" translate="stepApp.prlBudgetSetupInfo.budgetType" for="field_budgetType">BudgetType</label>
                <select class="form-control" name="budgetType"
                        ng-change="loadAllBudgetList()"
                        ng-model="prlBudgetSetupInfo.budgetType" id="field_budgetType" required>
                    <option value="">Select Budget Type</option>
                    <option value="Projection">Projection</option>
                    <option value="Allocation">Allocation</option>
                </select>
            </div>
            <div class="col-md-6">
                <label class="control-label" translate="stepApp.prlBudgetSetupInfo.budgetYear" for="field_budgetYear">BudgetYear</label>
                <select class="form-control" name="budgetYear"
                        ng-change="loadAllBudgetList()"
                        ng-model="prlBudgetSetupInfo.budgetYear" id="field_budgetYear" required>
                    <option value="">Select Budget Year</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                </select>
            </div>
        </div>
        <table class="table table-striped">
            <tr>
                <th width="30%"><label class="control-label">Code Type</label></th>
                <th width="30%"><label class="control-label">Code Title</label></th>
                <th align="left"><label class="control-label">Code Name</label></th>
                <th align="left"><label class="control-label" translate="stepApp.prlBudgetSetupInfo.codeValue">CodeValue</label></th>
            </tr>
            <tr  ng-repeat="prlBudgetSetupInfo in prlBudgetSetupInfoList">
                <td><span class="form-control-static">{{prlBudgetSetupInfo.codeType}}</span></td>
                <td><span class="form-control-static">{{prlBudgetSetupInfo.allowanceDeductionInfo.name}}</span></td>
                <td><span class="form-control-static">{{prlBudgetSetupInfo.economicalCodeInfo.codeName}}</span></td>
                <td>
                    <input type="number" class="form-control" name="codeValue" id="field_codeValue"
                           ng-model="prlBudgetSetupInfo.codeValue"/>
                </td>
            </tr>
        </table>

    </div>
    <div class="panel-footer">
        <!-- <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="saveCounterTotal" progressbar total="saveCounterActual" current="saveCounter">
                <span class="sr-only">10% Complete (warning)</span>
            </div>
        </div> -->
        <span ng-if="updatMessage"  class="alert alert-success">
            {{updatMessage}}
        </span>
        <button type="button" class="btn btn-default" class="btn " data-dismiss="modal" onclick="window.history.back()">
            <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;<span translate="entity.action.back">Back</span>
        </button>
        <button ng-disabled="editForm.$invalid || (saveCounter != saveCounterActual)" type="button" ng-click="saveAllBudgetSetup()" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</div>
</form>
