
<div class="common-table">
    <h2><span translate="stepApp.prlBudgetSetupInfo.detail.title">PrlBudgetSetupInfo</span> {{prlBudgetSetupInfo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.prlBudgetSetupInfo.allowanceDeductionInfo">allowanceDeductionInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="prlAllowDeductInfo.detail({id:prlBudgetSetupInfo.allowanceDeductionInfo.id})">{{prlBudgetSetupInfo.allowanceDeductionInfo.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlBudgetSetupInfo.economicalCodeInfo">economicalCodeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="prlEconomicalCodeInfo.detail({id:prlBudgetSetupInfo.economicalCodeInfo.id})">{{prlBudgetSetupInfo.economicalCodeInfo.codeName}}</a>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.prlBudgetSetupInfo.budgetType">BudgetType</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlBudgetSetupInfo.budgetType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlBudgetSetupInfo.codeType">CodeType</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlBudgetSetupInfo.codeType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlBudgetSetupInfo.budgetYear">BudgetYear</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlBudgetSetupInfo.budgetYear}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlBudgetSetupInfo.codeValue">CodeValue</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlBudgetSetupInfo.codeValue}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlBudgetSetupInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlBudgetSetupInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlBudgetSetupInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlBudgetSetupInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
