<div class="col-md-12 common-list">
    <h2 translate="stepApp.assetRepair.home.createOrEditLabel">Asset Repair Setup</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary " ui-sref="assetRepair.new">
                <span class="glyphicon glyphicon-plus"></span><span translate="stepApp.assetRepair.home.createLabel">Add New</span>
            </button>
        </div>
    </div>

    <div class="modal animated bounceInUp" id="deleteAssetRepairConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(assetRepair.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.assetRepair.delete.question"
                           translate-values="{id: '{{assetRepair.id}}'}">Are you sure you want to delete this
                            AssetRepair?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--=======================End delete massege=====================-->
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-head-bg">
            <thead>
            <tr>
                <th class="text-center" translate="global.form.serial">serial</th>
                <!--<th translate="global.field.id">ID</th>-->
                <th translate="stepApp.assetRepair.refNo">RefNo</th>
                <th translate="stepApp.assetRepair.repairedBy">RepairedBy</th>
                <th translate="stepApp.assetRepair.repairCost">RepairCost</th>
                <th translate="stepApp.assetRepair.assetCode">assetCode</th>
                <th translate="stepApp.assetRepair.assetName">assetName</th>
                <th translate="stepApp.assetRepair.purchaseDate">purchaseDate</th>
                <th translate="stepApp.assetRepair.vendorName">vendorName</th>
                <th translate="stepApp.assetRepair.dateOfProblem">dateOfProblem</th>
                <th translate="stepApp.assetRepair.repairDate">repairDate</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="employee-list table-body-bg">
            <tr dir-paginate="assetRepair in assetRepairs | filter:q | itemsPerPage: pageSize track by assetRepair.id"
                current-page="currentPage">
                <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                <!--<td><a ui-sref="assetRepair.detail({id:assetRepair.id})">{{assetRepair.id}}</a></td>-->
                <td>{{assetRepair.refNo}}</td>
                <td>{{assetRepair.repairedBy}}</td>
                <td>{{assetRepair.repairCost}}</td>
                <td>
                    <a ui-sref="assetRecord.detail({id:assetRepair.assetRecord.id})">{{assetRepair.assetCode.id}}</a>
                </td>

                <td>
                   {{assetRepair.assetCode.assetName}}
                </td>
                <td>
                    {{assetRepair.assetCode.purchaseDate}}
                </td>
                <td>
                    {{assetRepair.assetCode.vendorName}}
                </td>
                <td>
                    {{assetRepair.dateOfProblem}}
                </td>
                <td>
                   {{assetRepair.repairDate}}
                </td>
                <td class="text-right">
                    <button type="submit" class="btn btn-sm btn-info pull-right su_serv_marz"
                            ui-sref="assetRepair.detail({id:assetRepair.id})"><i class="fa fa-eye-slash"></i>

                        <span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary pull-right su_serv_marz"
                            ui-sref="assetRepair.edit({id:assetRepair.id})"><i class="fa fa-pencil"></i>
                        <span translate="entity.action.edit"> Edit</span>
                    </button>
                    <button ng-hide="false" type="submit" ng-click="delete(assetRepair.id)"
                            class="btn btn-sm btn-danger pull-right">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav>
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page"
                        ng-change="loadAll()"></uib-pagination>
    </div>
</div>
