<div class="common-table">
    <h2 translate="stepApp.assetRepair.detail.title"></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.assetRepair.refNo">RefNo</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetRepair.refNo}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetRepair.repairedBy">repairedBy</span>
                    </td>
                    <td>
                        {{assetRepair.repairedBy}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetRepair.assetCode">assetCode</span>
                    </td>
                    <td>
                        <a ui-sref="assetRecord.detail({id:assetRepair.assetRecord.id})">{{assetRepair.assetCode.id}}</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span translate="stepApp.assetRepair.repairCost">asset Name</span>
                    </td>
                    <td>
                        {{assetRepair.repairCost}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetRepair.assetName">asset Name</span>
                    </td>
                    <td>
                        {{assetRepair.assetCode.assetName}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetRepair.purchaseDate">purchase Date</span>
                    </td>
                    <td>
                        {{assetRepair.assetCode.purchaseDate}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetRepair.vendorName">vendor Name</span>
                    </td>
                    <td>
                        {{assetRepair.assetCode.vendorName}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetRepair.dateOfProblem">dateOfProblem</span>
                    </td>
                    <td>
                        {{assetRepair.dateOfProblem}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetRepair.repairDate">repairDate</span>
                    </td>
                    <td>
                        {{assetRepair.repairDate}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
