<div class="col-md-12 common-dialogue">
    <h4 ng-show="assetRepair.id == null" id="myAssetRepairLabel" translate="stepApp.assetRepair.home.createOrEditLabel">
        Create or edit a AssetRepair</h4>
    <h4 ng-show="assetRepair.id != null" id="myAssetRepairLabel" translate="stepApp.assetRepair.home.EditLabel">Create
        or edit a AssetRepair</h4>
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <div class="col-md-12 padding-tb">
            <div class=" col-md-6 ">
                <div class="form-group">
                    <label translate="stepApp.assetRepair.refNo" for="" class=" control-label">Asset Reference
                        No</label>

                    <div class="input-margin">
                        <input readonly disabled="disabled" type="text" class="form-control" id="" placeholder=""
                               ng-model="assetRepair.assetCode.referenceNo">
                    </div>
                </div>
            </div>

            <div hidden class="input-margin">
                <input readonly disabled="disabled" type="text" class="form-control" name="refNo"
                       id="field_refNo"
                       ng-model="assetRepair.refNo"
                />
            </div>

            <div class="col-md-6 ">
                <div class="form-group">
                    <label translate="stepApp.assetRepair.assetCode" class="  control-label" for="field_assetCode">Asset
                        Code</label>

                    <div class="input-margin">
                        <select name="assetCode" class="form-control" id="field_assetCode" ng-model="assetRepair.assetCode"
                                ng-options="assetRecord as assetRecord.recordCode for assetRecord in assetRecords track by assetRecord.id" ng-change="refNoAssign(assetRepair.assetCode.referenceNo)">
                            <option value="Select Asset Code"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="form-group">
                    <label class="  control-label" translate="stepApp.assetRepair.assetName" for=field_assetName>assetName</label>

                    <div class="input-margin">
                        <input readonly disabled="disabled" type="text" class="form-control" name="assetName"
                               id="field_assetName"
                               ng-model="assetRepair.assetCode.assetName"
                               required/>
                        <div ng-show="editForm.assetName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.assetName.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetRepair.purchaseDate" for=field_purchasedDate>purchase
                        Date</label>
                    <div class="input-margin">
                        <input readonly disabled="disabled" type="text" class="form-control" name="purchaseDate"
                               id="field_purchasedDate"
                               ng-model="assetRepair.assetCode.purchaseDate"
                               required/>
                        <div ng-show="editForm.purchaseDate.$invalid">
                            <p class="help-block"
                               ng-show="editForm.purchaseDate.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetRepair.vendorName" for=field_vendorName>vendor
                        name</label>
                    <div class="input-margin">
                        <input readonly disabled="disabled" type="text" class="form-control" name="vendorName"
                               id="field_vendorName"
                               ng-model="assetRepair.assetCode.vendorName"
                               required/>
                        <div ng-show="editForm.vendorName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.vendorName.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="form-group">
                    <label class=" control-label" translate="stepApp.assetRepair.repairedBy" for="field_repairedBy">RepairedBy</label>

                    <div class="input-margin">
                        <input type="text" class="form-control" name="repairedBy" id="field_repairedBy"
                               ng-model="assetRepair.repairedBy"
                               required ng-maxlength="50"/>
                        <div ng-show="editForm.repairedBy.$invalid">
                            <p class="help-block"
                               ng-show="editForm.repairedBy.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.repairedBy.$error.maxlength" translate="entity.validation.maxlength"
                               translate-value-max="50">
                                This field cannot be longer than 50 characters.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetRepair.dateOfProblem" for="field_expectedDate">DateOfProblem</label>
                    <div class="input-margin">
                        <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.expectedDate"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'expectedDate')" class="form-control" name="expectedDate"
                               id="field_expectedDate"
                               ng-model="assetRepair.dateOfProblem"/>
                    </div>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetRepair.repairDate" for="field_repair">RepairDate</label>
                    <div class="input-margin">
                        <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.repair"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'repair')" class="form-control" name="expectedDate"
                               id="field_repair"
                               ng-model="assetRepair.repairDate"
                               ng-change="checkingDate(assetRepair.dateOfProblem,assetRepair.repairDate)"
                               required/>
                        <div ng-show="editForm.expectedDate.$invalid">
                            <p class="help-block"
                               ng-show="editForm.expectedDate.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetRepair.repairCost" for="field_repairCost">RepairCost</label>

                    <div class="input-margin">
                        <input type="number" class="form-control" name="repairCost" id="field_repairCost"
                               ng-model="assetRepair.repairCost"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-right">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid || editForm.$submitted">
                        <i class="fa fa-hdd-o"></i>
                        <span ng-show="assetRepair.id == null" translate="entity.action.save">Save</span>
                        <span ng-show="assetRepair.id != null" translate="entity.action.update">Save</span>  </button>
                    <button type="button" class="btn" onclick="window.history.back()"><i
                        class="fa fa-angle-double-left"></i><span translate="entity.action.back">Back</span></button>
                </div>
            </div>
        </div>
    </form>
</div>
