<div class="row">
    <div class="col-md-3 padding-right0">
        <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
    </div>
    <div class="col-md-9 lbl-dash">
        <div class="col-md-12 common-list no_padding">
            <h2 class="heading_center"><span translate="stepApp.deo.salaryTitle">Salary Management</span></h2>
            <br>
            <div class="col-md-8 no_padding">
                <form name="searchForm" class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="index no.">
						<span class="input-group-btn">
						<button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search Employee</span>
                        </button>
						</span>
                    </div>
                </form>
            </div>
            <div ng-if="instEmployee.id != null">
                <form name="editForm" class="form form-horizontal" role="form" novalidate ng-submit="save()" show-validation>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="field_name">Name</label>
                            <div class="col-sm-8">
                                <label class="form-control" name="name" id="field_name"> {{instEmployee.name}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="field_institute1">Institute Name</label>
                            <div class="col-sm-8">
                                <lable class="form-control" name="institute" id="field_institute1">{{instEmployee.institute.name}}</lable>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Salary Activation</label>
                            <div class="col-sm-8">
                                <input type="radio" name="status" ng-checked="instEmployee.mpoActive == true" ng-model="instEmployee.mpoActive" value="true">Active
                                <input type="radio" name="status" ng-checked="instEmployee.mpoActive == false"  ng-model="instEmployee.mpoActive" value="false">Inactive
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                                </button>
                                <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
