<div class="row">
    <div class="col-md-3 padding-right0">
        <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
    </div>

    <div class="col-md-9 lbl-dash">
        <div class="col-md-12 common-list no_padding">
            <h2 class="heading_center"><span translate="stepApp.deo.withheldTitle">Withheld Management</span></h2>
            <br>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="index no.">
						<span class="input-group-btn">
						<button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search Employee</span>
                        </button>
						</span>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div ng-if="instEmployee.id != null">

    <form name="editForm" class="form form-horizontal" role="form" novalidate ng-submit="save()" show-validation>

        <div class="modal-body">

            <div class="form-group">
                <label class="col-sm-4 control-label" for="field_name">Name</label>
                <div class="col-sm-8">
                    <label class="form-control" name="name" id="field_name"> {{instEmployee.name}}</label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label" for="field_institute1">Institute Name</label>
                <div class="col-sm-8">
                    <lable class="form-control" name="institute" id="field_institute1">{{instEmployee.institute.name}}</lable>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-4 control-label" for="field_withheldAmount">Withheld Amount</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="withheldAmount" id="field_withheldAmount"
                           ng-model="instEmployee.withheldAmount" numeric-only
                           required />
                    <div ng-show="editForm.withheldAmount.$invalid">
                        <p class="help-block"
                           ng-show="editForm.withheldAmount.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label" for="field_withheldStartDate">Start From</label>
                <div class="col-sm-8">
                    <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.withheldStartDate"
                           required=""
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'withheldStartDate')" class="form-control"
                           name="withheldStartDate" id="field_withheldStartDate"
                           ng-model="instEmployee.withheldStartDate"/>
                    <div ng-show="editForm.withheldStartDate.$invalid">
                        <p class="help-block"
                           ng-show="editForm.withheldStartDate.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label" for="field_withheldEndDate">End To</label>
                <div class="col-sm-8">
                    <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.withheldEndDate"
                           required=""
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'withheldEndDate')" class="form-control"
                           name="withheldEndDate" id="field_withheldEndDate"
                           ng-model="instEmployee.withheldEndDate"/>
                    <div ng-show="editForm.withheldEndDate.$invalid">
                        <p class="help-block"
                           ng-show="editForm.withheldEndDate.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
    </div>
    <!--<div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.deo.contactNo">ContactNo</th>
                    <th translate="stepApp.deo.name">Name</th>
                    <th translate="stepApp.deo.designation">Designation</th>
                    <th translate="stepApp.deo.orgName">OrgName</th>
                    <th translate="stepApp.deo.dateCrated">DateCrated</th>
                    <th translate="stepApp.deo.dateModified">DateModified</th>
                    <th translate="stepApp.deo.status">Status</th>
                    <th translate="stepApp.deo.email">Email</th>
                    <th translate="stepApp.deo.activated">Activated</th>
                    <th translate="stepApp.deo.createdBy">createdBy</th>
                    <th translate="stepApp.deo.user">user</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="deo in deos track by deo.id">
                    <td><a ui-sref="deo.detail({id:deo.id})">{{deo.id}}</a></td>
                    <td>{{deo.contactNo}}</td>
                    <td>{{deo.name}}</td>
                    <td>{{deo.designation}}</td>
                    <td>{{deo.orgName}}</td>
                        <td>{{deo.dateCrated | date:'mediumDate'}}</td>
                        <td>{{deo.dateModified | date:'mediumDate'}}</td>
                    <td>{{deo.status}}</td>
                    <td>{{deo.email}}</td>
                    <td>{{deo.activated}}</td>
                    <td>
                        {{deo.createdBy.login}}
                    </td>
                    <td>
                        {{deo.user.email}}
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="deo.detail({id:deo.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="deo.edit({id:deo.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="deo.delete({id:deo.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        &lt;!&ndash;<nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>&ndash;&gt;
    </div>-->
</div>
</div>
