<div  xmlns="http://www.w3.org/1999/html">

    <div class="col-md-12 common-table padding5">
<div>
    <h2><span translate="stepApp.umracRoleAssignUser.detail.title">UmracRoleAssignUser</span></h2>
    <div class="table-responsive">
        <table class="table table-striped bteb-table">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.umracRoleAssignUser.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRoleAssignUser.description}}</span>
                </td>
                <td>
                    <span translate="stepApp.umracRoleAssignUser.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRoleAssignUser.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRoleAssignUser.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRoleAssignUser.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.umracRoleAssignUser.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRoleAssignUser.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRoleAssignUser.updatedBy">UpdatedBy</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRoleAssignUser.updatedBy}}</span>
                </td>
                <td>
                    <span translate="stepApp.umracRoleAssignUser.updatedTime">UpdatedTime</span>
                </td>
                <td>
                    <span class="form-control-static">&nbsp;: &nbsp;{{umracRoleAssignUser.updatedTime | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.umracRoleAssignUser.userId">userId</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="UmracIdentitySetup.detail({id:umracRoleAssignUser.userId.id})">&nbsp;: &nbsp;{{umracRoleAssignUser.userId.id}}</a>
                </td>
                <td>
                    <span translate="stepApp.umracRoleAssignUser.roleId">roleId</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="UmracRoleSetup.detail({id:umracRoleAssignUser.roleId.id})">&nbsp;: &nbsp;{{umracRoleAssignUser.roleId.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
    </div>
</div>
