<div class="col-md-12 common-list padding5">
    <h2 translate="stepApp.umracRoleAssignUser.home.title"></h2>
    <div class="col-md-12 padding-tb">
        <div class="col-md-3 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-md-2">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-md-2 no_padding text-right ">
            <button class="btn btn-primary " ui-sref="umracRoleAssignUser.existing">
                <span class="glyphicon glyphicon-plus"></span><span
                translate="stepApp.umracRoleAssignUser.home.createSystemLabel">Add New</span>
            </button>
        </div>
        <div class="col-md-2 no_padding text-right ">
            <button class="btn btn-primary " ui-sref="umracRoleAssignUser.new">
                <span class="glyphicon glyphicon-plus"></span><span
                translate="stepApp.umracRoleAssignUser.home.createRegularLabel">Add New</span>
            </button>
        </div>

        <!--User Rights Management : Added By Lemon-->
        <div class="col-md-3 no_padding text-right ">
            <button class="btn btn-primary " ui-sref="umracRoleAssignUser.rightsManagement">
                <span class="glyphicon glyphicon-plus"></span><span
                translate="stepApp.umracRoleAssignUser.rightsmanagement">Rights Management</span>
            </button>
        </div>


    </div>
    <!--<div class="panel-body bg-panel no_padding">
        <div class="col-sm-12 padding-tb no-print">
            <div class="col-md-8 col-xs-12 no_padding">
                <div class="col-md-6 no_padding">
                    <b><span translate="global.home.searchhere">Search Here :</span></b>
                    <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"
                                                                                     aria-hidden="true"></i></span>
                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                    </div>
                </div>
                <div class="col-md-6">
                    <b><span translate="global.home.itemperpage">Items per page:</span></b>
                    <div class="input-group col-sm-4">
                        <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12  text-right no_padding dlbtn-top">
                <button class="btn btn-primary " ui-sref="umracRoleAssignUser.new">
                    <span class="glyphicon glyphicon-plus"></span><span
                    translate="stepApp.umracRoleAssignUser.home.createLabel">Add New</span>
                </button>
            </div>
        </div>-->
        <div class="modal animated zoomIn " id="deleteUmracRoleAssignUserConfirmation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="deleteForm" ng-submit="confirmDelete(umracRoleAssignUser.id)">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <h4 class="modal-title" translate="entity.delete.title">Confirm delete
                                operation</h4>
                        </div>
                        <div class="modal-body">
                            <p translate="stepApp.umracRoleAssignUser.delete.question"
                               translate-values="{id: '{{umracRoleAssignUser.id}}'}">Are you sure you want
                                to delete this UmracRoleAssignUser?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    ng-click="clear()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                translate="entity.action.cancel">Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                                translate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12 table-responsive no_padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th translate="global.form.serial">Serial</th>
                    <th translate="stepApp.umracRoleAssignUser.userId">userId</th>
                    <th translate="stepApp.umracRoleAssignUser.roleId">roleId</th>
                    <!--<th translate="global.field.id">ID</th>-->
                    <th translate="stepApp.umracRoleAssignUser.description">Description</th>
                    <th translate="stepApp.umracRoleAssignUser.status">Status</th>
                    <!--<th translate="stepApp.umracRoleAssignUser.createDate">CreateDate</th>-->
                    <!--<th translate="stepApp.umracRoleAssignUser.createBy">CreateBy</th>-->
                    <!--<th translate="stepApp.umracRoleAssignUser.updatedBy">UpdatedBy</th>-->
                    <!--<th translate="stepApp.umracRoleAssignUser.updatedTime">UpdatedTime</th>-->
                    <th class="text-center" translate="entity.action.action"></th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="umracRoleAssignUser in umracRoleAssignUsers | filter:q | itemsPerPage: pageSize track by umracRoleAssignUser.id"
                    current-page="currentPage">
                    <td>{{$index+1}}</td>
                    <td ng-if="umracRoleAssignUser.userId != null">
                        <a ui-sref="UmracIdentitySetup.detail({id:umracRoleAssignUser.userId.id})">{{umracRoleAssignUser.userId.userName}}</a>
                    </td>
                    <td ng-if="umracRoleAssignUser.userId == null">
                        <a ui-sref="UmracIdentitySetup.detail({id:umracRoleAssignUser.procUserId.id})">{{umracRoleAssignUser.procUserId.login}}</a>
                    </td>
                    <td>
                        <a ui-sref="UmracRoleSetup.detail({id:umracRoleAssignUser.roleId.id})">{{umracRoleAssignUser.roleId.roleName}}</a>
                    </td>
                    <!--<td><a ui-sref="umracRoleAssignUser.detail({id:umracRoleAssignUser.id})">{{umracRoleAssignUser.id}}</a>-->
                    <!--</td>-->
                    <td>{{umracRoleAssignUser.description}}</td>
                    <td ng-if="umracRoleAssignUser.status">Active</td>
                    <td ng-if="!umracRoleAssignUser.status">InActive</td>
                    <!--<td>{{umracRoleAssignUser.createDate | date:'mediumDate'}}</td>-->
                    <!--<td>{{umracRoleAssignUser.createBy}}</td>-->
                    <!--<td>{{umracRoleAssignUser.updatedBy}}</td>-->
                    <!--<td>{{umracRoleAssignUser.updatedTime | date:'mediumDate'}}</td>-->

                    <td class="text-right no-print">
                        <button type="submit"
                                ui-sref="umracRoleAssignUser.detail({id:umracRoleAssignUser.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                            translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="umracRoleAssignUser.edit({id:umracRoleAssignUser.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                            translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(umracRoleAssignUser.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav class="no-print">
                <dir-pagination-controls boundary-links="true"
                                         on-page-change="pageChangeHandler(newPageNumber)"
                                         template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
            </nav>
        </div>
    </div>
</div>
