<div class="col-md-12 common-dialogue padding5">
    <form name="editForm" role="form" novalidate ng-submit="save()">
        <h4 ng-show="umracRoleAssignUser.id == null" id="myUmracRoleAssignUserLabel"
            translate="stepApp.umracRoleAssignUser.home.createOrEditLabel">Create or edit a UmracRoleAssignUser</h4>
        <h4 ng-show="umracRoleAssignUser.id != null" id="myUmracRoleAssignUserLabel"
            translate="stepApp.umracRoleAssignUser.home.EditLabel">Create or edit a UmracRoleAssignUser</h4>
        <div class="panel-body">

            <div class="">
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.umracRoleAssignUser.existingUserId" for="field_existingUserId">userId</label>

                        <div angucomplete-alt
                             id="field_existingUserId"
                             placeholder="User Id"
                             pause="200"
                             selected-object="userInfoObj"
                             remote-url="api/users/findByUserTyping/"
                             title-field="login"
                             description-field="description"
                             minlength="2"
                             input-class="form-control form-control-small"
                             match-class="highlight"
                             selected-object-data="service" required>
                        </div>

                    </div>
                </div>
            </div>
	      /*<div class="col-md-6">
                 <button ng-click="manageUser()" class="btn btn-success">Load Authorities</button>
              </div>*/
        </div>

        <div class="table-responsive" ng-show="showData && secureUser!=null">
            <table class="table">
                <thead>
                    <th>Rights/Authority List of:{{secureUser.login}}</th>
                    <th>Action</th>
                </thead>

                <tbody>
                    <tr ng-repeat="userAuth in userAuthorities">
                        <td>{{userAuth}}</td>
                        <td><button class="btn btn-danger" ng-click="delete(userAuth,$index)">Remove Authority</button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
