
    <div class="col-md-3 padding0">
        <!--<ul class="nav nav-list bs-docs-sidenav su_active_ul" id="left-menu">
            <li class="panel"> <a class="su_active_a collapsed" data-toggle="collapse " data-parent="#left-menu" data-target="#firstLink"><span translate="stepApp.job.jobLocation">JOB LOCATION</span></a>
                <ul id="firstLink" class="collapse search-accordion">
                    <li  ng-repeat="job in jobs | unique:'location'">
                        <a ui-sref="search({q:job.location})">{{job.location}}</a>
                    </li>
                </ul>
            </li>
            <li class="panel"> <a class="su_active_a collapsed" data-toggle="collapse" data-parent="#left-menu" data-target="#secondLink"><span translate="stepApp.job.jobPostDate">DATE POSTED</span></a>
                <ul id="secondLink" class="collapse search-accordion">
                    <li class="no-br list-group-item" ng-repeat="job in jobs | unique:'jobPublishedDate'"><a
                        ui-sref="search({q:job.jobPublishedDate})">{{job.jobPublishedDate}}</a></li>
                </ul>
            </li>
            <li class="panel"> <a class="su_active_a collapsed" data-toggle="collapse" data-parent="#left-menu" data-target="#thirdLink"><span translate="stepApp.job.employmentType">EMPLOYMENT TYPE</span></a>
                <ul id="thirdLink" class="collapse search-accordion">
                    <li class="no-br list-group-item" ng-repeat="job in jobs | unique:'type'"><a
                        ui-sref="search({q:job.type})">{{job.type}}</a></li>
                </ul>
            </li>
            <li class="panel"> <a class="su_active_a collapsed" data-toggle="collapse" data-parent="#left-menu" data-target="#fourthLink"><span translate="stepApp.job.salaryRange">SALARY RANGE</span></a>
                <ul id="fourthLink" class="collapse search-accordion">
                    <li class="no-br list-group-item" ng-repeat="job in jobs | unique:'minimumSalary'"><a
                        ui-sref="search({q:job.maximumSalary})">{{job.minimumSalary}} ~ {{job.maximumSalary}}</a></li>
                </ul>
            </li>
            <li class="panel"> <a class="su_active_a collapsed" data-toggle="collapse" data-parent="#left-menu" data-target="#fifthLink"><span translate="stepApp.job.jobCategory">JOB CATEGORY</span></a>
                <ul id="fifthLink" class="collapse search-accordion">
                    <li ng-repeat="cat in cats | unique:'cat'">
                        <a ui-sref="search({q:cat.cat})">{{cat.cat}}</a>
                    </li>
                </ul>
            </li>
        </ul>-->
        <ul class="nav nav-list bs-docs-sidenav" id="ulcolor3">
<!--================= Suharto==================-->
            <!--<li class="">
                <a class="button4" data-toggle="collapse" data-parent="#left-menu" data-target="#firstLink">
                    <span translate="stepApp.job.jobLocation">JOB LOCATION</span>
                </a>
                <ul id="firstLink" class="collapse ">
                    <li class="no-br list-group-item" ng-repeat="job in jobs | unique:'job.location'"><a
                        ui-sref="search({q:job.location})">{{job.location}}</a></li>
                </ul>
            </li>-->
            <!--================= Suharto==================-->
            <!--<li class=""> <a class="button4" data-toggle="collapse" data-parent="#left-menu" data-target="#secondLink"><span translate="stepApp.job.jobPostDate">DATE POSTED</span></a>
                <ul id="secondLink" class="collapse ">
                    <li class="no-br list-group-item" ng-repeat="job in jobs | unique:'jobPublishedDate'"><a
                        ui-sref="search({q:job.jobPublishedDate})">{{job.jobPublishedDate}}</a></li>
                </ul>
            </li>
            <li class=""> <a class="button4" data-toggle="collapse" data-parent="#left-menu" data-target="#thirdLink"><span translate="stepApp.job.employmentType">EMPLOYMENT TYPE</span></a>
                <ul id="thirdLink" class="collapse ">
                    <li class="no-br list-group-item" ng-repeat="job in jobs | unique:'job.jobType.name'"><a
                        ui-sref="search({q:job.type})">{{job.type}}</a></li>
                </ul>
            </li>-->
            <!--=========================== Suharto ======================-->
           <!-- <li class="">
                <a class="button4" data-toggle="collapse" data-parent="#left-menu" data-target="#fourthLink">
                    <span translate="stepApp.job.salaryRange">SALARY RANGE</span>
                </a>
                <ul id="fourthLink" class="collapse ">
                    <li class="no-br list-group-item" ng-repeat="job in jobs | unique:'minimumSalary'"><a
                        ui-sref="search({q:job.maximumSalary})">{{job.minimumSalary}} ~ {{job.maximumSalary}}</a></li>
                </ul>
            </li>-->
            <!--======================== suharto =============================-->
            <li class="">
                <a class="button4"  data-toggle="collapse" data-parent="#left-menu" data-target="#fifthLink">
                <span translate="stepApp.job.jobCategory">JOB CATEGORY</span>
                </a>
                <ul id="fifthLink" class="collapse su_search_left_menu">
                    <li class=" " ng-repeat="cat in cats | unique:'cat'"><a
                        ui-sref="search({q:cat.cat})">{{cat.cat}}</a></li>
                </ul>
            </li>
        </ul>
        <!--<accordion>-->
        <!--<accordion-group heading="JOB LOCATION">-->
        <!--<ul class="list-group no-br">-->
        <!--<li class="no-br list-group-item" ng-repeat="job in jobs | unique:'location'"><a-->
        <!--ui-sref="search({q:job.location})">{{job.location}}</a></li>-->
        <!--</ul>-->
        <!--</accordion-group>-->
        <!--<accordion-group heading="DATE POSTED">-->
        <!--<ul class="list-group no-br">-->
        <!--<li class="no-br list-group-item" ng-repeat="job in jobs | unique:'jobPublishedDate'"><a-->
        <!--ui-sref="search({q:job.jobPublishedDate})">{{job.jobPublishedDate}}</a></li>-->
        <!--</ul>-->
        <!--</accordion-group>-->

        <!--<accordion-group heading="EMPLOYMENT TYPE">-->
        <!--<ul class="list-group no-br">-->
        <!--<li class="no-br list-group-item" ng-repeat="job in jobs | unique:'type'"><a-->
        <!--ui-sref="search({q:job.type})">{{job.type}}</a></li>-->
        <!--</ul>-->
        <!--</accordion-group>-->

        <!--<accordion-group heading="SALARY RANGE">-->
        <!--<ul class="list-group no-br">-->
        <!--<li class="no-br list-group-item" ng-repeat="job in jobs | unique:'minimumSalary'"><a-->
        <!--ui-sref="search({q:job.maximumSalary})">{{job.minimumSalary}} ~ {{job.maximumSalary}}</a></li>-->
        <!--</ul>-->
        <!--</accordion-group>-->

        <!--<accordion-group heading="JOB CATEGORY" is-open="true">-->
        <!--<ul class="list-group no-br">-->
        <!--<li class="no-br list-group-item" ng-repeat="cat in cats | unique:'cat'"><a-->
        <!--ui-sref="search({q:cat.cat})">{{cat.cat}}</a></li>-->
        <!--</ul>-->
        <!--</accordion-group>-->
        <!--</accordion>-->
    </div>




    <div class="col-md-9 padding-left5">
        <!--<div class="col-sm-12 no_padding">
            <form class="form form-inline form-search" ng-submit="submit()" name="form" role="form" novalidate
                  show-validation>
                <div class="form-group">
                    <input type="text" ng-model="q" class="search-q form-control" placeholder="job title...">
                </div>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"/>
                    Search
                </button>
            </form>
        </div>-->

        <div class="col-md-12 search-result common-list no_padding">
            <h2 class="heading_center">Search results for <b>{{q}}</b></h2>
            <br/>

            <div ng-if="jobs.length > 0" class="col-md-6"  ng-repeat="job in jobs" style="margin-bottom: 30px">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                        <span>
                            <a ui-sref="job.detail({id:job.id})">
                                <img alt="Company Logo"
                                     data-ng-src="{{'data:' + job.employer.companyLogoContentType + ';base64,' + job.employer.companyLogo}}"
                                     ng-if="job.employer.companyLogo"/>
                            </a>
                        </span>
                            </div>
                            <div class="media-body job-lists">
                                <h5 class="media-heading">{{job.title}}</h5>
                                <table>
                                    <tr>
                                        <th  ><span translate="stepApp.job.company">Company:</span></th>
                                        <td>{{job.employer.name}}</td>
                                    </tr>
                                    <tr>
                                        <th><span translate="stepApp.job.location"></span></th>
                                        <td>{{job.country.name}}</td>
                                    </tr>
                                    <tr>
                                        <th><span translate="stepApp.job.applicationDeadline">Deadline:</span></th>
                                        <td>{{job.applicationDeadline | date}}</td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <a ui-sref="job.detail({id:job.id})" class="btn btn-xs btn-info" role="button"
                           translate="global.home.learnmoreLabel">apply now</a>
                        <a has-any-authority="ROLE_USER,ROLE_JOBSEEKER" ui-sref="mainApply({id:job.id})" class="btn btn-xs btn-primary" role="button"
                           translate="global.home.applyLabel">apply</a>

                        <!--<div class="media-right media-middle">

                            <div class="btn-group-vertical" role="group" aria-label="actions">
                                <a ui-sref="job.detail({id:job.id})" class="btn btn-xs btn-info" role="button"
                                   translate="global.home.learnmoreLabel">apply now</a><br>
                                <a ui-sref="mainApply({id:job.id})" class="btn btn-xs btn-primary" role="button"
                                   translate="global.home.applyLabel">apply</a>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-if="!jobs.length > 0">
                <h1 translate="global.home.noJobFound">No job found</h1>
            </div>




           <!-- <div class="col-sm-6 search-job-list" ng-repeat="job in jobs">
                <ul class="jobs media-list">
                    <li  style="margin-bottom: 5px; padding: 15px">

                    </li>
                </ul>
            </div>-->
        <nav class="center-block">
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>

    </div>
</div>
</div>
