<div class="col-sm-12 common-list padding-left5 padding-right0">
    <h2 translate="stepApp.almEmpLeaveApplication.home.title">AlmEmpLeaveApplications</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary" ui-sref="almEmpLeaveApplication.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.almEmpLeaveApplication.home.createLabel">New Application</span>
            </button>
        </div>
    </div>
    <div class="modal animated shake" id="deleteAlmEmpLeaveApplicationConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(almEmpLeaveApplication.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.almEmpLeaveApplication.delete.question"
                           translate-values="{id: '{{almEmpLeaveApplication.id}}'}">Are you sure you want to delete this
                            AlmEmpLeaveApplication?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 no_padding table-responsive">

        <table class="table table-striped">
            <thead>

            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <th translate="global.field.id">ID</th>
                <th translate="stepApp.almEmpLeaveApplication.almLeaveType">Leave Type</th>
                <th translate="stepApp.almEmpLeaveApplication.applicationLeaveStatus">Status</th>
                <th translate="stepApp.almEmpLeaveApplication.leaveFromDate">From Date</th>
                <th translate="stepApp.almEmpLeaveApplication.leaveToDate">To Date</th>
                <th translate="stepApp.almEmpLeaveApplication.isHalfDayLeave">Is Half Day Leave</th>
                <!--<th translate="stepApp.almEmpLeaveApplication.contactNo">Contact No</th>
                <th translate="stepApp.almEmpLeaveApplication.isWithCertificate">Is With Certificate</th>-->
                <th translate="stepApp.almEmpLeaveApplication.activeStatus">Active Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!--<tr dir-paginate="almEmpLeaveApplication in newRequestList | filter:q | itemsPerPage: pageSize track by almEmpLeaveApplication.id"-->
                <!--current-page="currentPage">-->
            <tr ng-repeat="almEmpLeaveApplication in leaveApplication">
                <td>{{$index+1}}</td>
                <td><a ui-sref="almEmpLeaveApplication.detail({id:almEmpLeaveApplication.id})">{{almEmpLeaveApplication.id}}</a>
                </td>
                <td>
                    <a ui-sref="almLeaveType.detail({id:almEmpLeaveApplication.almLeaveType.id})">{{almEmpLeaveApplication.almLeaveType.leaveTypeName}}</a>
                </td>
                <td translate="{{'stepApp.applicationLeaveStatuses.' + almEmpLeaveApplication.applicationLeaveStatus}}">
                    {{almEmpLeaveApplication.applicationLeaveStatus}}
                </td>
                <td>{{almEmpLeaveApplication.leaveFromDate | date:'mediumDate'}}</td>
                <td>{{almEmpLeaveApplication.leaveToDate | date:'mediumDate'}}</td>
                <td>{{almEmpLeaveApplication.isHalfDayLeave}}</td>
                <!--<td>{{almEmpLeaveApplication.contactNo}}</td>
                <td>{{almEmpLeaveApplication.isWithCertificate}}</td>-->
                <td>{{almEmpLeaveApplication.activeStatus ? 'Active' : 'Inactive'}}</td>

                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="almEmpLeaveApplication.detail({id:almEmpLeaveApplication.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav class="no-print">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
