<div class="col-sm-12 common-list">
        <h2 class="modal-title su_h4_size panel-title"><span
            translate="stepApp.almEmpLeaveApplication.leaveApprove.generalHomeTitle"></span></h2>
    <div class="bg-panel padding-tb">
        <div class="col-sm-6 hr-sub-title su_hrm_center">
            <strong><h3 translate="stepApp.almEmpLeaveApplication.leaveApprove.subTitle"></h3></strong>
        </div>
        <div style="margin:5px 0px;" class="col-sm-6 text-right dlbtn-top">
            <button type="button" ng-model="button" ng-click="loadAll()" class="btn btn-primary btn-sm"><i
                class="fa fa-refresh"></i> <span
                translate="stepApp.almEmpLeaveApplication.leaveApprove.Refresh">Refresh</span></button>
        </div>
    </div>
    <div class="col-md-12 three_tab no_padding panel dte-tab">
        <tabset justified="true">
            <tab heading="{{'stepApp.almEmpLeaveApplication.leaveApprove.dashboardTab1' | translate}} ({{newRequestList.length}})">
                <div class="common-list table-responsive">
                    <div class="row">
                        <div class="col-sm-5 search-three">
                            <label>Search:</label><input id="searchText" ng-model="searchText" name="searchText"
                                                         type="text"/>
                            <input ng-hide="true" class="form-control" id="clearButton" value="Clear" type="button"
                                   ng-click="clearSearchText('request')">
                        </div>

                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th ng-click="sort('entityName','request')">
                                <span translate="stepApp.almEmpLeaveApplication.employeeId">employeeId</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('entityName','request')">
                                <span translate="stepApp.almEmpLeaveApplication.employeeInfo">employeeInfo</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('requestFrom','request')">
                                <span translate="stepApp.almEmpLeaveApplication.almLeaveType">Leave Type</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestFrom'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th><span translate="stepApp.almEmpLeaveApplication.applicationLeaveStatus">Status</span>
                            </th>
                            <th ng-click="sort('requestDate','request')">
                                <span translate="stepApp.almEmpLeaveApplication.leaveFromDate">From Date</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestDate'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="requestObj in newRequestList |orderBy:sortKey:reverse|filter:searchText|itemsPerPage:15"
                            pagination-id="requestListPaginate">

                            <td>
                                <a ui-sref="hrEmployeeInfo.detail({id:almEmpLeaveApplication.employeeInfo.id})">{{requestObj.employeeInfo.employeeId}}</a>
                            </td>
                            <td>
                                <a ui-sref="hrEmployeeInfo.detail({id:almEmpLeaveApplication.employeeInfo.id})">{{requestObj.employeeInfo.fullName}}</a>
                            </td>
                            <td>
                                <a ui-sref="almLeaveType.detail({id:almEmpLeaveApplication.almLeaveType.id})">{{requestObj.almLeaveType.leaveTypeName}}</a>
                            </td>
                            <td translate="{{'stepApp.applicationLeaveStatuses.' + requestObj.applicationLeaveStatus}}">
                                {{requestObj.applicationLeaveStatus}}
                            </td>
                            <td>{{requestObj.leaveFromDate | date:'mediumDate'}}</td>

                            <td class="hrm-button text-right">
                                <button type="button" ng-click="approvalViewDetail(requestObj)"
                                        class="btn btn-info btn-sm">
                                    <span
                                        translate="stepApp.almEmpLeaveApplication.leaveApprove.requestView">View</span>
                                </button>
                                <button type="submit"
                                        ui-sref="almEmpLeaveApplication.edit({id:requestObj.id})"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                                </button>
                                <button type="button" ng-click="approvalConfirmation(requestObj, 'accept')"
                                        class="btn btn-primary btn-sm">
                                    <span
                                        translate="stepApp.almEmpLeaveApplication.leaveApprove.requestAccept">Accept</span>
                                </button>
                                <button type="button" has-any-authority="ROLE_ADMIN, ROLE_LEAVE_APPROVAL" ui-sref="leaveApplicationApprove({id: requestObj.id, applicationType: 'LEAVE_APPLICATION'})" class="btn btn-primary btn-sm">
                                    <span translate="stepApp.almEmpLeaveApplication.leaveApprove.forward">Forward</span>
                                </button>
                                <button type="button" ng-click="approvalConfirmation(requestObj, 'reject')"
                                        class="btn btn-danger btn-sm">
                                    <span
                                        translate="stepApp.almEmpLeaveApplication.leaveApprove.requestReject">Reject</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
                                             pagination-id="requestListPaginate"></dir-pagination-controls>
                </div>
            </tab>
            <tab
                heading="{{'stepApp.almEmpLeaveApplication.leaveApprove.dashboardTab3' | translate}}  ({{approvedList.length}})">
                <div class="table-responsive common-list">
                    <div class="row">
                        <div class="col-sm-5 search-three">
                            <label>Search:</label><input id="searchTextApp" ng-model="searchTextApp"
                                                         name="searchTextApp" type="text"/>
                            <input ng-hide="true"  class="form-control" id="clearButtonApp" value="Clear" type="button"
                                   ng-click="clearSearchTextApp('request')">
                        </div>

                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th ng-click="sort('entityName','approved')">
                                <span translate="stepApp.almEmpLeaveApplication.employeeId">employeeId</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('entityName','approved')">
                                <span translate="stepApp.almEmpLeaveApplication.employeeInfo">employeeInfo</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('entityName','approved')">
                                <span translate="stepApp.almEmpLeaveApplication.employeeInfo">employeeInfo</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('requestFrom','approved')">
                                <span translate="stepApp.almEmpLeaveApplication.almLeaveType">Leave Type</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestFrom'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th><span translate="stepApp.almEmpLeaveApplication.applicationLeaveStatus">Status</span>
                            </th>
                            <th ng-click="sort('requestDate','approved')">
                                <span translate="stepApp.almEmpLeaveApplication.leaveFromDate">From Date</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestDate'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th>Comments</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="requestObj in approvedList |orderBy:sortKey3:reverse3|itemsPerPage:20|filter:searchTextApp"
                            pagination-id="approvedListPaginate">
                            <td><a ui-sref="almEmpLeaveApplication.detail({id:almEmpLeaveApplication.id})">{{requestObj.employeeInfo.employeeId}}</a></td>
                            <td>
                                <a ui-sref="hrEmployeeInfo.detail({id:almEmpLeaveApplication.employeeInfo.id})">{{requestObj.employeeInfo.fullName}}</a>
                            </td>
                            <td>
                                <a ui-sref="almLeaveType.detail({id:almEmpLeaveApplication.almLeaveType.id})">{{requestObj.almLeaveType.leaveTypeName}}</a>
                            </td>
                            <td translate="{{'stepApp.applicationLeaveStatuses.' + requestObj.applicationLeaveStatus}}">
                                {{requestObj.applicationLeaveStatus}}
                            </td>
                            <td>{{requestObj.leaveFromDate | date:'mediumDate'}}</td>
                            <td></td>

                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
                                             pagination-id="approvedListPaginate"></dir-pagination-controls>
                </div>
            </tab>
            <tab
                heading="{{'stepApp.almEmpLeaveApplication.leaveApprove.dashboardTab4' | translate}}  ({{rejectedList.length}})">
                <div class="table-responsive common-list">
                    <div class="row">
                        <div class="col-sm-5 search-three">
                            <label>Search:</label><input id="searchTextRej" ng-model="searchTextRej"
                                                         name="searchTextRej" type="text"/>
                            <input ng-hide="true" id="clearButtonRej" value="Clear" type="button"
                                   ng-click="clearSearchTextRej('approved')">
                        </div>

                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th ng-click="sort('entityName','rejected')">
                                <span translate="stepApp.almEmpLeaveApplication.employeeId">employeeId</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('entityName','rejected')">
                                <span translate="stepApp.almEmpLeaveApplication.employeeInfo">employeeInfo</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('requestFrom','rejected')">
                                <span translate="stepApp.almEmpLeaveApplication.almLeaveType">Leave Type</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestFrom'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th><span translate="stepApp.almEmpLeaveApplication.applicationLeaveStatus">Status</span>
                            </th>
                            <th ng-click="sort('requestDate','rejected')">
                                <span translate="stepApp.almEmpLeaveApplication.leaveFromDate">From Date</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestDate'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th>Comments</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="requestObj in rejectedList |orderBy:sortKey4:reverse4|itemsPerPage:20|filter:searchTextRej"
                            pagination-id="rejectedListPaginate">
                            <td><a ui-sref="almEmpLeaveApplication.detail({id:almEmpLeaveApplication.id})">{{requestObj.employeeInfo.employeeId}}</a></td>
                            <td>
                                <a ui-sref="hrEmployeeInfo.detail({id:almEmpLeaveApplication.employeeInfo.id})">{{requestObj.employeeInfo.fullName}}</a>
                            </td>
                            <td>
                                <a ui-sref="almLeaveType.detail({id:almEmpLeaveApplication.almLeaveType.id})">{{requestObj.almLeaveType.leaveTypeName}}</a>
                            </td>
                            <td translate="{{'stepApp.applicationLeaveStatuses.' + requestObj.applicationLeaveStatus}}">
                                {{requestObj.applicationLeaveStatus}}
                            </td>
                            <td>{{requestObj.leaveFromDate | date:'mediumDate'}}</td>
                            <td></td>

                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
                                             pagination-id="rejectedListPaginate"></dir-pagination-controls>
                </div>
            </tab>
        </tabset>
    </div>
</div>


<div class="modal animated bounceInUp" id="approveRejectConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="approvalForm" ng-submit="approvalActionDirect()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" translate="entity.delete.title">Confirm Approval operation of
                        {{approvalObj.leaveTypeName}}</h4>
                </div>
                <div class="modal-body">
                    <div ng-if="approvalObj.actionType == 'accept'">

                        <p>Are you sure you want to approve this ?</p>
                    </div>
                    <div ng-if="approvalObj.actionType == 'reject'">
                        <label class="control-label" for="field_logcomments">Comments</label>
                        <textarea class="form-control" name="logComments" id="field_logcomments"
                                  ng-model="approvalObj.logComments"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.close">close</span>
                    </button>
                    <span ng-if="approvalObj.actionType == 'accept'">
                        <button type="submit" ng-disabled="approvalForm.$invalid" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                            translate="stepApp.hrmHome.buttonTextApprove"> Approve</span>
                        </button>
                    </span>
                    <span ng-if="approvalObj.actionType == 'reject'">
                        <button type="submit" ng-disabled="approvalForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="stepApp.hrmHome.buttonTextReject"> Reject</span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade common-list" id="approveViewDetailForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="approvalForm" ng-submit="approvalViewAction()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h2 class="modal-title">{{approvalObj.viewFormTitle}}</h2>
                </div>
                <div class="modal-body">

                    <div class="table-responsive">
                        <table class="table table-striped dte-table">
                            <thead>
                            <tr>
                                <th><span translate="stepApp.almEmpLeaveApplication.leaveApprove.fieldName">Field</span>
                                </th>
                                <th><span translate="stepApp.almEmpLeaveApplication.leaveApprove.fieldData">Value</span>
                                </th>
                                <th><span translate="stepApp.almEmpLeaveApplication.leaveApprove.fieldName">Field</span>
                                </th>
                                <th><span translate="stepApp.almEmpLeaveApplication.leaveApprove.fieldData">Value</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span translate="stepApp.almEmpLeaveApplication.employeeInfo">employeeInfo</span>
                                </td>
                                <td>
                                    <a class="form-control-static"
                                       ui-sref="HrEmployeeInfo.detail({id:approvalObj.employeeInfo.id})">{{approvalObj.employeeInfo.fullName}}</a>
                                </td>
                                <td>
                                    <span translate="stepApp.almEmpLeaveApplication.almLeaveType">almLeaveType</span>
                                </td>
                                <td>
                                    <a class="form-control-static"
                                       ui-sref="AlmLeaveType.detail({id:approvalObj.almLeaveType.id})">{{approvalObj.almLeaveType.leaveTypeName}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span
                                        translate="stepApp.almEmpLeaveApplication.applicationDate">ApplicationDate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.applicationDate | date:'mediumDate'}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.almEmpLeaveApplication.applicationLeaveStatus">ApplicationLeaveStatus</span>
                                </td>
                                <td>
                                    <span class="form-control-static"
                                          translate="{{'stepApp.applicationLeaveStatuses.' + approvalObj.applicationLeaveStatus}}">{{almEmpLeaveApplication.applicationLeaveStatus}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.almEmpLeaveApplication.leaveFromDate">LeaveFromDate</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{approvalObj.leaveFromDate | date:'mediumDate'}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.almEmpLeaveApplication.leaveToDate">LeaveToDate</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{approvalObj.leaveToDate | date:'mediumDate'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span
                                        translate="stepApp.almEmpLeaveApplication.isHalfDayLeave">IsHalfDayLeave</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.isHalfDayLeave}}</span>
                                </td>
                                <td>
                                    <span
                                        translate="stepApp.almEmpLeaveApplication.halfDayLeaveInfo">HalfDayLeaveInfo</span>
                                </td>
                                <td>
                                    <span class="form-control-static"
                                          translate="{{'stepApp.halfDayInfo.' + approvalObj.halfDayLeaveInfo}}">{{approvalObj.halfDayLeaveInfo}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.almEmpLeaveApplication.reasonOfLeave">ReasonOfLeave</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.reasonOfLeave}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.almEmpLeaveApplication.contactNo">ContactNo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.contactNo}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span
                                        translate="stepApp.almEmpLeaveApplication.isWithCertificate">IsWithCertificate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.isWithCertificate}}</span>
                                </td>
                                <td>
                                    <span
                                        translate="stepApp.almEmpLeaveApplication.leaveCertificate">LeaveCertificate</span>
                                </td>
                                <td>
                                    <div>{{approvalObj.leaveCertContentType}}
                                        {{byteSize(approvalObj.leaveCertificate)}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.almEmpLeaveApplication.leaveCertificateName">leaveCertificateName</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.leaveCertificateName}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.almEmpLeaveApplication.assignResposibilty">AssignResposibilty</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.assignResposibilty}}</span>
                                </td>
                            </tr>
                            <!--<tr>
                                <td>
                                    <span translate="stepApp.almEmpLeaveApplication.activeStatus">ActiveStatus</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.activeStatus}}</span>
                                </td>
                            </tr>-->


                            <!-- <tr>
                                 <td colspan="3">
                                     <label class="control-label" translate="stepApp.almEmpLeaveApplication.leaveApprove.approvalChoice">Approval Choice</label>
                                     <span>
                                         <input type="radio" data-ng-model="approvalObj.isApproved" name="isApproved" data-ng-value="true" >&nbsp;<span translate="stepApp.almEmpLeaveApplication.leaveApprove.buttonTextApprove">Approve</span>&nbsp;|&nbsp;
                                         <input type="radio" data-ng-model="approvalObj.isApproved" name="isApproved" data-ng-value="false">&nbsp;<span translate="stepApp.almEmpLeaveApplication.leaveApprove.buttonTextReject"> Reject</span>
                                     </span>
                                 </td>
                             </tr>-->
                            <tr>
                                <td colspan="4">
                                    <div ng-hide="approvalObj.isApproved">
                                        <label class="control-label"
                                               translate="stepApp.almEmpLeaveApplication.leaveApprove.comments">Comments</label>
                                        <textarea class="form-control" name="comments"
                                                  ng-model="approvalObj.comments"></textarea>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <button type="button"
                            onclick="window.history.back()"
                            class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                            translate="entity.action.back"> Back</span>
                    </button>

                    <span>
                        <button type="submit" class="btn btn-primary ">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                            translate="stepApp.almEmpLeaveApplication.leaveApprove.buttonTextApprove">Approve</span>
                        </button>
                    </span>
                    <span>
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="stepApp.almEmpLeaveApplication.leaveApprove.buttonTextReject"> Reject</span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>


<!--
 &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;
<div class="col-sm-12 detail-body">
    <h2 translate="stepApp.almEmpLeaveApplication.home.title">Pending Leave Application</h2>
    <jh-alert></jh-alert>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.id">ID</th>
                <th translate="stepApp.almEmpLeaveApplication.employeeInfo">employeeInfo</th>
                <th translate="stepApp.almEmpLeaveApplication.almLeaveType">Leave Type</th>
                <th translate="stepApp.almEmpLeaveApplication.applicationLeaveStatus">Status</th>
                <th translate="stepApp.almEmpLeaveApplication.leaveFromDate">From Date</th>
             &lt;!&ndash;   <th translate="stepApp.almEmpLeaveApplication.leaveToDate">To Date</th>
                <th translate="stepApp.almEmpLeaveApplication.isHalfDayLeave">Is Half Day Leave</th>
                <th translate="stepApp.almEmpLeaveApplication.contactNo">Contact No</th>
                <th translate="stepApp.almEmpLeaveApplication.isWithCertificate">Is With Certificate</th>
                <th translate="stepApp.almEmpLeaveApplication.activeStatus">Active Status</th>&ndash;&gt;

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="almEmpLeaveApplication in newRequestList track by almEmpLeaveApplication.id">
                <td><a ui-sref="almEmpLeaveApplication.detail({id:almEmpLeaveApplication.id})">{{almEmpLeaveApplication.id}}</a></td>
                <td>
                    <a ui-sref="HrEmployeeInfo.detail({id:almEmpLeaveApplication.employeeInfo.id})">{{almEmpLeaveApplication.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <a ui-sref="AlmLeaveType.detail({id:almEmpLeaveApplication.almLeaveType.id})">{{almEmpLeaveApplication.almLeaveType.leaveTypeName}}</a>
                </td>
                <td translate="{{'stepApp.applicationLeaveStatuses.' + almEmpLeaveApplication.applicationLeaveStatus}}">{{almEmpLeaveApplication.applicationLeaveStatus}}</td>
                <td>{{almEmpLeaveApplication.leaveFromDate | date:'mediumDate'}}</td>
             &lt;!&ndash;   <td>{{almEmpLeaveApplication.leaveToDate | date:'mediumDate'}}</td>
                <td>{{almEmpLeaveApplication.isHalfDayLeave}}</td>
                <td>{{almEmpLeaveApplication.contactNo}}</td>
                <td>{{almEmpLeaveApplication.isWithCertificate}}</td>
                <td>{{almEmpLeaveApplication.activeStatus}}</td>&ndash;&gt;

                <td class="text-right">
                    <button type="submit"
                            ui-sref="almEmpLeaveApplication.detail({id:almEmpLeaveApplication.id})"
                            class="btn btn-info btn-sm su_serv_marz">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="almEmpLeaveApplication.edit({id:almEmpLeaveApplication.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        &lt;!&ndash;<nav>&ndash;&gt;
            &lt;!&ndash;<ul class="pagination">&ndash;&gt;
                &lt;!&ndash;<li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>&ndash;&gt;
                &lt;!&ndash;<li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>&ndash;&gt;
                &lt;!&ndash;<li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>&ndash;&gt;
                &lt;!&ndash;<li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>&ndash;&gt;
                &lt;!&ndash;<li class="active"><a>{{page + 1}}</a></li>&ndash;&gt;
                &lt;!&ndash;<li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>&ndash;&gt;
                &lt;!&ndash;<li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>&ndash;&gt;
                &lt;!&ndash;<li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>&ndash;&gt;
                &lt;!&ndash;<li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>&ndash;&gt;
            &lt;!&ndash;</ul>&ndash;&gt;
        &lt;!&ndash;</nav>&ndash;&gt;
    </div>
</div>
-->
