<div class="common-table padding-right0 padding-left5">

    <h2><span translate="stepApp.almEmpLeaveApplication.detail.title">AlmEmpLeaveApplication</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="HrEmployeeInfo.detail({id:almEmpLeaveApplication.employeeInfo.id})">{{almEmpLeaveApplication.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.almLeaveType">almLeaveType</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="AlmLeaveType.detail({id:almEmpLeaveApplication.almLeaveType.id})">{{almEmpLeaveApplication.almLeaveType.leaveTypeName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.applicationDate">ApplicationDate</span>
                </td>
                <td>
                    <span
                        class="form-control-static">{{almEmpLeaveApplication.applicationDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span
                        translate="stepApp.almEmpLeaveApplication.applicationLeaveStatus">ApplicationLeaveStatus</span>
                </td>
                <td>
                    <span class="form-control-static"
                          translate="{{'stepApp.applicationLeaveStatuses.' + almEmpLeaveApplication.applicationLeaveStatus}}">{{almEmpLeaveApplication.applicationLeaveStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.leaveFromDate">LeaveFromDate</span>
                </td>
                <td>
                    <span
                        class="form-control-static">{{almEmpLeaveApplication.leaveFromDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.leaveToDate">LeaveToDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveApplication.leaveToDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.isHalfDayLeave">IsHalfDayLeave</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveApplication.isHalfDayLeave}}</span>
                </td>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.halfDayLeaveInfo">HalfDayLeaveInfo</span>
                </td>
                <td>
                    <span class="form-control-static"
                          translate="{{'stepApp.halfDayInfo.' + almEmpLeaveApplication.halfDayLeaveInfo}}">{{almEmpLeaveApplication.halfDayLeaveInfo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.reasonOfLeave">ReasonOfLeave</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveApplication.reasonOfLeave}}</span>
                </td>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.contactNo">ContactNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveApplication.contactNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.emergencyContactNo">emergencyContactNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveApplication.emergencyContactNo}}</span>
                </td>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.addressWhileLeave">addressWhileLeave</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveApplication.addressWhileLeave}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.isWithCertificate">IsWithCertificate</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveApplication.isWithCertificate}}</span>
                </td>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.leaveCertificate">LeaveCertificate</span>
                </td>
                <td>
                    <div>{{almEmpLeaveApplication.leaveCertContentType}}
                        {{byteSize(almEmpLeaveApplication.leaveCertificate)}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.leaveCertificateName">leaveCertificateName</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveApplication.leaveCertificateName}}</span>
                </td>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.assignResposibilty">AssignResposibilty</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveApplication.assignResposibilty}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.responsibleEmp">responsibleEmp</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="HrEmployeeInfo.detail({id:almEmpLeaveApplication.responsibleEmp.id})">{{almEmpLeaveApplication.responsibleEmp.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.responsibleEmpCont">responsibleEmpCont</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveApplication.responsibleEmpCont}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.responsibleEmpAdd">responsibleEmpAdd</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveApplication.responsibleEmpAdd}}</span>
                </td>
                <td>
                    <span translate="stepApp.almEmpLeaveApplication.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span
                        class="form-control-static">{{almEmpLeaveApplication.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
</div>
