<form name="approveForm" role="form" novalidate ng-submit="confirmApprove()" show-validation>
    <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" ng-if="!approveVal" translate="entity.forward.title">Confirm forward operation</h4>
        <h4 class="modal-title" ng-if="approveVal" translate="entity.approve.title">Confirm approve operation</h4>
    </div>
    <div class="modal-body">
        <p translate="entity.forward.question">Are you sure you want to forward?</p>
        <div class="form-group col-md-6">
            <textarea class="form-control"  placeholder="{{'remarks' | translate}}" ng-model="almApplicationStatusLog.currentApproverRemarks" required></textarea>
        </div>
        <div ng-if="!approveVal" class="form-group col-md-6">
            <label class=" control-label"
                   for="field_type">Forward To</label>
            <select class="form-control" required="" id="field_type" name="forwardTo" ng-model="almApplicationStatusLog.nextApprover" ng-options="approver as approver.fullName for approver in approverList">
                <option value="">Select Forward Type</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="approveForm.$invalid" class="btn btn-success">

            <span class="glyphicon glyphicon-ok"></span>&nbsp;
            <span ng-if="!approveVal" translate="entity.action.forward">Forward</span>
            <span ng-if="approveVal" translate="entity.action.approve">Approve</span>

        </button>
    </div>
</form>

