
<div class="common-table">
    <h2><span translate="stepApp.prlOnetimeAllowInfo.detail.title">PrlOnetimeAllowInfo</span> - {{prlOnetimeAllowInfo.allowanceInfo.name}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.prlOnetimeAllowInfo.allowanceInfo">allowanceInfo</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlOnetimeAllowInfo.allowanceInfo.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlOnetimeAllowInfo.year">Year</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlOnetimeAllowInfo.year}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlOnetimeAllowInfo.basicAmountPercentage">BasicAmountPercentage</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlOnetimeAllowInfo.basicAmountPercentage}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlOnetimeAllowInfo.effectiveDate">EffectiveDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlOnetimeAllowInfo.effectiveDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlOnetimeAllowInfo.religion">Religion</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlOnetimeAllowInfo.religion}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlOnetimeAllowInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlOnetimeAllowInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlOnetimeAllowInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlOnetimeAllowInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlOnetimeAllowInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlOnetimeAllowInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
