<!--===asset distribution detail===-->
<div class="common-table">
    <h2 translate="stepApp.assetDistribution.detail.title"></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.assetDistribution.transferRef">TransferRef</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetDistribution.transferRef}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.assetDistribution.assignedDdate">AssignedDdate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetDistribution.assignedDdate | date:'mediumDate'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetDistribution.employee">employee</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="employee.detail({id:assetDistribution.employee.id})">{{assetDistribution.empName}}(Employee Id-{{assetDistribution.emploeeIds}})</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetDistribution.department">department</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetDistribution.department}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.assetDistribution.designation">designation</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetDistribution.designation}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetDistribution.name">name</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetDistribution.assetRecord.assetName}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.assetDistribution.assetRecord">assetRecord</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="assetRecord.detail({id:assetDistribution.assetRecord.id})">{{assetDistribution.assetRecord.id}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetDistribution.assetCode">assetCode</span>
                    </td>
                    <td>
                        {{assetDistribution.assetCode}}
                    </td>
                    <td>
                        <span translate="stepApp.assetDistribution.approveQuantity">approveQuantity</span>
                    </td>
                    <td>
                        {{assetDistribution.approveQuantity}}</a>
                    </td>
                </tr>
            <tr>
                <td>
                    <span translate="stepApp.assetDistribution.remartks">Remartks</span>
                </td>
                <td>
                    <span class="form-control-static">{{assetDistribution.remartks}}</span>
                </td>
                <td>
                    <span translate="stepApp.assetDistribution.status">status</span>
                </td>
                <td>
                    <span ng-show="assetDistribution.assetRecord.status==true" class="form-control-static">Active</span>
                    <span ng-show="assetDistribution.assetRecord.status==false"
                          class="form-control-static">Inactive</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
