<!--asset distribution--->
<div class="col-md-12 common-list">
    <h2 translate="stepApp.assetDistribution.home.createOrEditLabel">SmsServiceDepartments</h2>
    <div class="modal animated bounceInUp" id="deleteAssetDistributionConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(assetDistribution.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.assetDistribution.delete.question"
                           translate-values="{id: '{{assetDistribution.id}}'}">Are you sure you want to delete this
                            AssetDistribution?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary " ui-sref="assetDistribution.admin">
                <span class="glyphicon glyphicon-plus"></span><span
                translate="stepApp.assetDistribution.home.createLabel">Add New</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-head-bg">
            <thead>
            <tr>
                <th class="text-center" translate="global.form.serial">serial</th>
                <th translate="stepApp.assetDistribution.transferRef">TransferRef</th>
                <th translate="stepApp.assetDistribution.assignedDdate">AssignedDdate</th>
                <th translate="stepApp.assetDistribution.remartks">Remartks</th>
                <th translate="stepApp.assetDistribution.employee">employee</th>
                <th translate="stepApp.assetDistribution.designation">employee</th>
                <th translate="stepApp.assetDistribution.department">employee</th>
                <th translate="stepApp.assetDistribution.assetRecord">assetRecord</th>
                <th translate="stepApp.assetDistribution.assetCode">assetCode</th>
                <th translate="stepApp.assetDistribution.approveQuantity">approveQuantity</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="employee-list table-body-bg">
            <tr dir-paginate="assetDistribution in assetDistributions | filter:q | itemsPerPage: pageSize track by assetDistribution.id"
                current-page="currentPage">
                <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                <td>{{assetDistribution.transferRef}}</td>
                <td>{{assetDistribution.assignedDdate | date:'mediumDate'}}</td>
                <td>{{assetDistribution.remartks}}</td>
                <td>{{assetDistribution.empName}}(Employee Id-{{assetDistribution.emploeeIds}})</td>
                <td>{{assetDistribution.designation}}</td>
                <td>{{assetDistribution.department}}</td>

                <td>
                    <a ui-sref="assetRecord.detail({id:assetDistribution.assetRecord.id})">{{assetDistribution.assetRecord.assetName}}</a>
                </td>
                <td>{{assetDistribution.assetCode}}</td>
                <td>{{assetDistribution.approveQuantity}}</td>
                <td class="text-right">
                    <button type="submit" class="btn btn-sm btn-info su_serv_marz"
                            ui-sref="assetDistribution.detail({id:assetDistribution.id})"><i
                        class="fa fa-eye-slash"></i>

                        <span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary su_serv_marz"
                            ui-sref="assetDistribution.edit({id:assetDistribution.id})"><i class="fa fa-pencil"></i>
                        <span translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-click="delete(assetDistribution.id)"
                            class="btn btn-sm btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav>
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page"
                        ng-change="loadAll()"></uib-pagination>
    </div>
</div>
