<div class="col-md-12 common-dialogue">
    <h4 ng-show="assetDistribution.id == null" id="myAssetDistributionLabel"
        translate="stepApp.assetDistribution.home.createOrEditLabel">Asset Assign/Distribution</h4>
    <h4 ng-show="assetDistribution.id != null" id="myAssetDistributionLabel"
        translate="stepApp.assetDistribution.home.EditLabel">Asset Assign/Distribution</h4>
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <div class=" col-md-6 ">
            <div class="form-group">
                <label class=" control-label" translate="stepApp.assetDistribution.transferRef"
                       for="field_transferRef">TransferRef</label>
                <div class="">
                    <input type="text" class="form-control" name="transferRef" id="field_transferRef"
                           ng-model="assetDistribution.transferRef"
                           required readonly/>
                    <div ng-show="editForm.transferRef.$invalid">
                        <p class="help-block"
                           ng-show="editForm.transferRef.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="form-group">
                <label class="control-label" translate="stepApp.assetDistribution.assignedDdate"
                       for="field_expectedDate">assigned date</label>
                <div class="">
                    <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.expectedDate"
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'expectedDate')" class="form-control" name="expectedDate"
                           id="field_expectedDate"
                           ng-model="assetDistribution.assignedDdate"
                           required/>
                    <div ng-show="editForm.expectedDate.$invalid">
                        <p class="help-block"
                           ng-show="editForm.expectedDate.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div hidden class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.assetDistribution.employeeid" for="field_employee">employee</label>
                <input type="number" class="form-control" name="emploeeIds" id="field_employee"
                       ng-model="assetDistribution.emploeeIds"
                       readonly />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class=" control-label" for="field_employeeeID"
                       translate="stepApp.assetDistribution.employeeid">Asset Employee ID</label>
                <span style="color:red;">*</span>
                <div class="input-group">
                    <input readonly name="empId" id="field_employeeeID" type="text" placeholder="Enter a Employee Id"
                           ng-model="assetDistribution.empId" ng-change="getEmployee(assetDistribution.empId)"
                           typeahead="hrmEmployee for hrmEmployee in hrmEmployees | filter:$viewValue | limitTo:100"
                           class="form-control">
                    <div ng-show="editForm.empId.$invalid">
                        <p class="help-block"
                           ng-show="editForm.empId.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.assetDistribution.empName" for="field_empName">EmpName</label>
                <input type="text" class="form-control" name="empName" id="field_empName"
                       ng-model="assetDistribution.empName"
                readonly />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.assetDistribution.designation" for="field_designation">Designation</label>
                <input type="text" class="form-control" name="designation" id="field_designation"
                       ng-model="assetDistribution.designation"
                       readonly />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.assetDistribution.department" for="field_department">Department</label>
                <input type="text" class="form-control" name="department" id="field_department"
                       ng-model="assetDistribution.department"
                       readonly />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="field_assetCode" translate="stepApp.assetDistribution.assetcode">Asset Code</label>
                <span style="color:red;">*</span>
                <input type="text" class="form-control" name="assetCode" id="field_assetCode"
                       ng-model="assetDistribution.assetCode"
                       readonly/>
                <div ng-show="editForm.assetCode.$invalid">
                    <p class="help-block"
                       ng-show="editForm.assetCode.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="field_assetName" translate="stepApp.assetDistribution.assetname">Asset Name</label>
                <input type="text" class="form-control" name="assetName" id="field_assetName"
                       ng-model="assetDistribution.assetName"
                       readonly/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="field_requestedQuantity" translate="stepApp.assetDistribution.assetrequestedquantity">Requested Quantity</label>
                <span style="color:red;">*</span>
                <input type="number" class="form-control" name="requestedQuantity" id="field_requestedQuantity"
                       ng-model="assetDistribution.requestedQuantity"
                       readonly/>
                <div ng-show="editForm.requestedQuantity.$invalid">
                    <p class="help-block"
                       ng-show="editForm.requestedQuantity.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="field_availableQuantity">Available Quantity</label>
                <input type="number" class="form-control" name="availableQuantity" id="field_availableQuantity"
                       ng-model="assetDistribution.availableQuantity" readonly/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="field_approveQuantity" translate="stepApp.assetDistribution.approvequantity">Approved Quantity</label>
                <span style="color:red;">*</span>
                <input type="number" class="form-control" name="approveQuantity" id="field_approveQuantity"
                       ng-model="assetDistribution.approveQuantity"
                       ng-change="deductionRecordQuantity(assetDistribution.availableQuantity,assetDistribution.approveQuantity,assetDistribution.assetCode)"/>

                <div ng-show="editForm.approveQuantity.$invalid">
                    <p class="help-block"
                       ng-show="editForm.approveQuantity.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class=" control-label" translate="stepApp.assetDistribution.assettype">Asset Type</label>
                <span style="color:red;">*</span>
                <div class="input-margin">
                    <label class="radio-inline">
                        <input type="radio"
                               ng-checked="assetDistribution.assetType == 'Fixed'"
                               name="assetType" value="Fixed"
                               ng-model="assetDistribution.assetType" translate="stepApp.assetDistribution.fixed">Fixed</label>
                    <label class="radio-inline">
                        <input type="radio"
                               ng-checked="assetDistribution.assetType == 'Item'"
                               name="assetType" value="Item"
                               ng-model="assetDistribution.assetType" translate="stepApp.assetDistribution.item">Item</label>
                </div>
                <div ng-show="editForm.assetType.$invalid">
                    <p class="help-block"
                       ng-show="editForm.assetType.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label  class="control-label" translate="stepApp.assetDistribution.remartks"
                       for="field_remartks">Remartks</label>
                        <textarea class="form-control" rows="2" cols="30" name="remartks" id="field_remartks"
                                  ng-model="assetDistribution.remartks"
                                  >
                        </textarea>
                <div ng-show="editForm.remartks.$invalid">
                    <p class="help-block"
                       ng-show="editForm.remartks.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-right">
            <div class="form-group">
                <button type="submit" class="btn btn-primary"
                        ng-disabled="editForm.$invalid || editForm.$submitted">
                    <i class="fa fa-hdd-o"></i>
                    <span ng-show="assetDistribution.id == null" translate="entity.action.save">Save</span>
                    <span ng-show="assetDistribution.id != null" translate="entity.action.update">Save</span>
                </button>
                <button type="submit" class="btn btn-info" onclick="window.history.back()"><i
                    class="fa fa-angle-double-left"></i>
                    <span translate="entity.action.back">Back</span>
                </button>
            </div>
        </div>
    </form>
</div>
