<div class="row">
    <div class="col-md-3">
        <!--<ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>-->
    </div>
    <div class="col-md-9 lbl-dash">
        <div class="col-md-12 common-dialogue">
            <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
                    <h4 class="modal-title" id="myModuleLabel" translate="stepApp.module.home.createOrEditLabel">Create or edit a Module</h4>
                <div class="modal-body">
                    <!--<div class="form-group" ng-show="false">-->
                        <!--<label for="id" translate="global.field.id">ID</label>-->
                        <!--<input type="text" class="form-control" id="id" name="id"-->
                               <!--ng-model="module.id" readonly />-->
                    <!--</div>-->
                    <!--<div class="form-group">
                        <label translate="stepApp.module.name" for="field_name">Name</label>
                        <input type="text" class="form-control" name="name" id="field_name"
                                ng-model="module.name"
                                required />
                        <div ng-show="editForm.name.$invalid">
                            <p class="help-block"
                                ng-show="editForm.name.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                        </div>-->
                    <div class="form-group">
                        <label translate="stepApp.module.name" for="field_name">Name</label>
                        <select class="form-control" name="type" ng-model="module.name" id="field_name" required>
                            <option value="Assiatant Professor" >Assiatant Professor</option>
                            <option value="Principle Scale" >Principle Scale Application</option>
                            <option value="MPO" >MPO</option>
                            <option value="B.Ed" >B.Ed</option>
                            <option value="Timescale" >Timescale</option>
                            <option value="InstAffiliation" >InstAffiliation</option>
                        </select>
                        <!--<input type="text" class="form-control" name="name" id="field_name"
                            ng-model="module.name"
                            required />-->
                        <div ng-show="editForm.name.$invalid">
                            <p class="help-block"
                               ng-show="editForm.name.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="stepApp.module.description" for="field_description">Description</label>
                        <input type="text" class="form-control" name="description" id="field_description"
                               ng-model="module.description"
                            />
                    </div>
                    <div class="form-group">
                        <label translate="stepApp.module.moduleCode" for="field_moduleCode">ModuleCode</label>
                        <input type="text" class="form-control" name="moduleCode" id="field_moduleCode"
                               ng-model="module.moduleCode"
                               required />
                        <div ng-show="editForm.moduleCode.$invalid">
                            <p class="help-block"
                               ng-show="editForm.moduleCode.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="stepApp.module.status" for="field_status">Status</label>
                        <input type="checkbox" class="form-control" name="status" id="field_status"
                               ng-model="module.status"
                            />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="window.history.back()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
