
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myRetirementAppStatusLogLabel" translate="stepApp.retirementAppStatusLog.home.createOrEditLabel">Create or edit a RetirementAppStatusLog</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="retirementAppStatusLog.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.retirementAppStatusLog.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                    ng-model="retirementAppStatusLog.status"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.retirementAppStatusLog.remarks" for="field_remarks">Remarks</label>
            <input type="text" class="form-control" name="remarks" id="field_remarks"
                    ng-model="retirementAppStatusLog.remarks"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.retirementAppStatusLog.approvedDate" for="field_approvedDate">ApprovedDate</label>
            <input type="date" class="form-control" name="approvedDate" id="field_approvedDate"
                    ng-model="retirementAppStatusLog.approvedDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.retirementAppStatusLog.cause" for="field_cause">Cause</label>
            <input type="text" class="form-control" name="cause" id="field_cause"
                    ng-model="retirementAppStatusLog.cause"
                     />
        </div>

        <div class="form-group">
            <label translate="stepApp.retirementAppStatusLog.pgmsAppRetirmntPen" for="field_pgmsAppRetirmntPen">pgmsAppRetirmntPen</label>
            <select class="form-control" id="field_pgmsAppRetirmntPen" name="pgmsAppRetirmntPen" ng-model="retirementAppStatusLog.pgmsAppRetirmntPen" ng-options="pgmsAppRetirmntPen as pgmsAppRetirmntPen.id for pgmsAppRetirmntPen in pgmsappretirmntpens track by pgmsAppRetirmntPen.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
