
<div>
    <h2><span translate="stepApp.retirementAppStatusLog.detail.title">RetirementAppStatusLog</span> {{retirementAppStatusLog.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.retirementAppStatusLog.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{retirementAppStatusLog.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.retirementAppStatusLog.remarks">Remarks</span>
                </td>
                <td>
                    <span class="form-control-static">{{retirementAppStatusLog.remarks}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.retirementAppStatusLog.approvedDate">ApprovedDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{retirementAppStatusLog.approvedDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.retirementAppStatusLog.cause">Cause</span>
                </td>
                <td>
                    <span class="form-control-static">{{retirementAppStatusLog.cause}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.retirementAppStatusLog.pgmsAppRetirmntPen">pgmsAppRetirmntPen</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="pgmsAppRetirmntPen.detail({id:retirementAppStatusLog.pgmsAppRetirmntPen.id})">{{retirementAppStatusLog.pgmsAppRetirmntPen.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
