<div>
    <h2 translate="stepApp.retirementAppStatusLog.home.title">RetirementAppStatusLogs</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="retirementAppStatusLog.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.retirementAppStatusLog.home.createLabel">Create a new RetirementAppStatusLog</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a RetirementAppStatusLog</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteRetirementAppStatusLogConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(retirementAppStatusLog.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.retirementAppStatusLog.delete.question" translate-values="{id: '{{retirementAppStatusLog.id}}'}">Are you sure you want to delete this RetirementAppStatusLog?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.retirementAppStatusLog.status">Status</th>
                    <th translate="stepApp.retirementAppStatusLog.remarks">Remarks</th>
                    <th translate="stepApp.retirementAppStatusLog.approvedDate">ApprovedDate</th>
                    <th translate="stepApp.retirementAppStatusLog.cause">Cause</th>
                    <th translate="stepApp.retirementAppStatusLog.pgmsAppRetirmntPen">pgmsAppRetirmntPen</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="retirementAppStatusLog in retirementAppStatusLogs track by retirementAppStatusLog.id">
                    <td><a ui-sref="retirementAppStatusLog.detail({id:retirementAppStatusLog.id})">{{retirementAppStatusLog.id}}</a></td>
                    <td>{{retirementAppStatusLog.status}}</td>
                    <td>{{retirementAppStatusLog.remarks}}</td>
                        <td>{{retirementAppStatusLog.approvedDate | date:'mediumDate'}}</td>
                    <td>{{retirementAppStatusLog.cause}}</td>
                    <td>
                        <a ui-sref="pgmsAppRetirmntPen.detail({id:retirementAppStatusLog.pgmsAppRetirmntPen.id})">{{retirementAppStatusLog.pgmsAppRetirmntPen.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="retirementAppStatusLog.detail({id:retirementAppStatusLog.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="retirementAppStatusLog.edit({id:retirementAppStatusLog.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(retirementAppStatusLog.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
