<!--===type setup detail===-->
<div class="common-table">
    <h2 id="myAssetTypeSetupLabel" translate="stepApp.assetTypeSetup.detail.title">Details of Asset Type </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.assetTypeSetup.typeCode">Type Code</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetTypeSetup.typeCode}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.assetTypeSetup.typeName">TypeName</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetTypeSetup.typeName}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.assetTypeSetup.description">Description</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{assetTypeSetup.description}}</span>
                    </td>
                    <td>
                        <span translate="stepApp.assetTypeSetup.status">Status</span>
                    </td>
                    <td>
                        <span ng-show="assetTypeSetup.status==true" class="form-control-static">Active</span>
                        <span ng-show="assetTypeSetup.status == false" class="form-control-static">Inactive</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
