<div class="col-md-12 common-list">
    <h2 translate="stepApp.assetTypeSetup.home.title">Asset Type Setup</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary " ui-sref="assetTypeSetup.new">
                <span class="glyphicon glyphicon-plus"></span><span translate="stepApp.assetTypeSetup.home.createLabel">Add New</span>
            </button>
        </div>
    </div>
    <div class="modal animated bounceInUp " id="deleteAssetTypeSetupConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(assetTypeSetup.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.assetTypeSetup.delete.question"
                           translate-values="{id: '{{assetTypeSetup.id}}'}">Are you sure you want to delete this
                            AssetTypeSetup?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default " data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-head-bg">
            <thead>
            <tr>
                <th class="text-center" translate="global.form.serial">serial</th>
                <th translate="stepApp.assetTypeSetup.typeName">TypeName</th>
                <th translate="stepApp.assetTypeSetup.typeCode">Type Code</th>
                <th translate="stepApp.assetTypeSetup.description">Description</th>
                <th translate="stepApp.assetTypeSetup.status">Status</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody class="employee-list table-body-bg">
            <tr dir-paginate="assetTypeSetup in assetTypeSetups | filter:q | itemsPerPage: pageSize track by assetTypeSetup.id"
                current-page="currentPage">
                <td class="text-center">{{pageSize*(currentPage-1)+$index+1}}</td>
                <td>{{assetTypeSetup.typeName}}</td>
                <td>{{assetTypeSetup.typeCode}}</td>
                <td>{{assetTypeSetup.description}}</td>
                <td>
                    <span ng-show="assetTypeSetup.status==true" class="form-control-static">Active</span>
                    <span ng-show="assetTypeSetup.status==false" class="form-control-static">Inactive</span>
                </td>
                <td>
                <td class="text-right">
                    <button type="submit" class="btn btn-sm btn-info"
                            ui-sref="assetTypeSetup.detail({id:assetTypeSetup.id})"><i class="fa fa-eye-slash"></i>

                        <span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary "
                            ui-sref="assetTypeSetup.edit({id:assetTypeSetup.id})"><i class="fa fa-pencil"></i>
                        <span translate="entity.action.edit"> Edit</span>
                    </button>
                    <button ng-hide="false" type="submit" ng-click="delete(assetTypeSetup.id)"
                            class="btn btn-sm btn-danger ">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav>
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page"
                        ng-change="loadAll()"></uib-pagination>
    </div>
</div>

