<div class="col-md-12 common-dialogue">
    <h4 ng-show="assetTypeSetup.id == null" translate="stepApp.assetTypeSetup.home.createOrEditLabel">Asset Type Setup</h4>
    <h4 ng-show="assetTypeSetup.id != null" translate="stepApp.assetTypeSetup.home.EditLabel">Edit Asset Type Setup</h4>
    <form class="" name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <div class="col-md-12 padding-tb">
            <div class="col-md-6">
                <div class="form-group ">
                    <label translate="stepApp.assetTypeSetup.typeName">type name</label>
                    <input type="text" class="form-control" name="typeName" id="field_typeName"
                           ng-model="assetTypeSetup.typeName"
                           ng-remote-validate="/api/assetTypeset/assetTypesetTypeNameUnique/"
                           ng-remote-method="GET" required
                    />
                    <span class="message" ng-show="editForm.typeName.$pending">validating...</span>
                    <div ng-show="editForm.typeName.$invalid">
                        <p class="help-block"
                           ng-show="editForm.typeName.$error.required && editForm.typeName.$dirty"
                           translate="entity.validation.required">
                            Type Name is required.
                        </p>
                    </div>
                    <div ng-show="editForm.typeName.$invalid">
                        <p style="color:red"
                           ng-show="editForm.typeName.$error.ngRemoteValidate">
                            This code is already exist
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" translate="stepApp.assetTypeSetup.description" for="field_description">Asset
                        Description</label>

                    <div class="">
                    <textarea class="form-control" rows="2" cols="30" name="description" id="field_description"
                              ng-model="assetTypeSetup.description"> </textarea>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class=" control-label" translate="stepApp.assetTypeSetup.status">Status</label>

                    <div class="input-margin">
                        <label class="radio-inline"><input type="radio" name="optradio"
                                                           ng-checked="assetTypeSetup.status == true" name="status"
                                                           value="true" ng-model="assetTypeSetup.status"><span translate="global.home.active">active</span></label>
                        <label class="radio-inline"><input type="radio" name="optradio"
                                                           ng-checked="assetTypeSetup.status == false" name="status"
                                                           value="false"
                                                           ng-model="assetTypeSetup.status"><span translate="global.home.inactive">inactive</span></label>

                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="">
                        <button type="submit" class="btn btn-primary"
                                ng-disabled="editForm.$invalid || editForm.$submitted">
                            <!--<i class="fa fa-hdd-o"></i> <span translate="entity.action.save">Save</span>-->
                            <span ng-show="assetTypeSetup.id == null" translate="entity.action.save">Save</span>
                            <span ng-show="assetTypeSetup.id != null" translate="entity.action.update">Save</span>
                        </button>
                        <button type="button" class="btn btn-info" onclick="window.history.back()">
                            <i class="fa fa-angle-double-left"></i><span translate="entity.action.back">Back</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
