
<div class="common-table">
    <h2><span translate="stepApp.prlEmpGenSalDetailInfo.detail.title">PrlEmpGenSalDetailInfo</span> {{prlEmpGenSalDetailInfo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpGenSalDetailInfo.employeeSalaryInfo">employeeSalaryInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="prlEmpGeneratedSalInfo.detail({id:prlEmpGenSalDetailInfo.employeeSalaryInfo.id})">{{prlEmpGenSalDetailInfo.employeeSalaryInfo.employeeInfo.fullName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpGenSalDetailInfo.allowDeducType">AllowDeducType</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpGenSalDetailInfo.allowDeducType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpGenSalDetailInfo.allowDeducId">AllowDeducId</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpGenSalDetailInfo.allowDeducId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpGenSalDetailInfo.allowDeducName">AllowDeducName</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpGenSalDetailInfo.allowDeducName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpGenSalDetailInfo.allowDeducValue">AllowDeducValue</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpGenSalDetailInfo.allowDeducValue}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpGenSalDetailInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpGenSalDetailInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpGenSalDetailInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpGenSalDetailInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
