
<div class="common-table">
    <h2><span translate="stepApp.prlEmpGeneratedSalInfo.detail.title">PrlEmpGeneratedSalInfo</span> {{prlEmpGeneratedSalInfo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpGeneratedSalInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:prlEmpGeneratedSalInfo.employeeInfo.id})">{{prlEmpGeneratedSalInfo.employeeInfo.fullName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpGeneratedSalInfo.salaryInfo">salaryInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="prlGeneratedSalaryInfo.detail({id:prlEmpGeneratedSalInfo.salaryInfo.id})">{{prlEmpGeneratedSalInfo.salaryInfo.salaryType}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpGeneratedSalInfo.salaryStructureInfo">salaryStructureInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="prlSalaryStructureInfo.detail({id:prlEmpGeneratedSalInfo.salaryStructureInfo.id})">{{prlEmpGeneratedSalInfo.salaryStructureInfo.basicAmount}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpGeneratedSalInfo.basicAmount">BasicAmount</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpGeneratedSalInfo.basicAmount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpGeneratedSalInfo.grossAmount">GrossAmount</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpGeneratedSalInfo.grossAmount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpGeneratedSalInfo.payableAmount">PayableAmount</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpGeneratedSalInfo.payableAmount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpGeneratedSalInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpGeneratedSalInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
