<!doctype html>
<html class="no-js" data-ng-app="stepApp" xmlns:ng="http://angularjs.org">

<head>
    <!--
        IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
        For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
    -->
    <!--[if lt IE 9]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
    <script>
        document.createElement('ui-select');
        document.createElement('ui-select-match');
        document.createElement('ui-select-choices');

    </script>
    <![endif]-->
    <!--[if lte IE 8]>
    <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');

    </script>
    <![endif]-->

    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="MsThemeCompatible" content="no">
    <meta http-equiv="content-style-type" content="text/css">
    <meta http-equiv="content-script-type" content="text/javascript">
    <link rel="schema.foaf" href="http://xmlns.com/foaf/0.1/">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DTE - Directorate of Technical Education</title>
    <meta name="description" content="">
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/bundle.css">

    <style>
        .preloader {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 999999;
            background: #fff;
        }

        .preloader .sk-folding-cube {
            position: absolute;
            font-size: 36px;
            line-height: 36px;
            top: 50%;
            left: 50%;
            margin-top: -15px;
            margin-left: -15px;
            display: inline-block;
        }

        .preloader .text {
            position: absolute;
            top: 58%;
            height: 100%;
            width: 100%;
            text-align: center;
            font-weight: 700;
            font-size: 12px;
            color: #666
        }
    </style>
</head>

<body>

<!--[if lt IE 9]>
<p class="browserupgrade  no-print">You are using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div ng-show="{{ENV === 'dev'}}" class="development  no-print" ng-cloak=""></div>

<div ui-view="navbar" class="container-fluid  no-print no_padding"></div>

<div class="container-fluid no_padding height100">
    <div class="no-br panel-body main_index no_padding" id="content" ui-view="content"></div>
</div>
<!---=========FOOTER AREA START========--->

<div class="container-fluid no_padding no-print">
    <div class="single_bottom2_footer " id="scrollUp"></div>
    <div class=" text-center">

        <div class="col-md-12 col-sm-12 col-xs-12 su_custom_padding footer-copy-right-text">
            <p class="wow animated slideInLeft" data-wow-delay="1s" data-wow-duration="3s" style="font-weight: 500">
                Copyright &copy <script>document.write(new Date().getFullYear())</script> Directorate of Technical Education. All Rights Reserved.
                <span class="leads-icon pull-right">Powered By: <img src=" ./assets/images/leads.png" alt=""></span>
            </p>
        </div>
    </div>
</div>

<!---=========END  FOOTER AREA ========--->

<script src="scripts/js-lib.js"></script>
<!-- endbuild -->

<!-- angularJS material -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- angularJS material -->

<!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->


<script src="scripts/app/app.js"></script>
<script src="scripts/app/app.constants.js"></script>

<script src="scripts/auth.js"></script>
<script src="scripts/form.js"></script>

<script src="scripts/interceptor.js"></script>
<script src="scripts/navbar.js"></script>
<script src="scripts/user-service.js"></script>
<script src="scripts/utility.js"></script>

<script src="scripts/app/account/account.js"></script>
<script src="scripts/all-controller.js"></script>

<!--<script src="scripts/app/entities/payroll/empAdditionalAssignInfo/prlEmpAdditionalAssignInfo.js"></script>-->
<!--<script src="scripts/app/entities/payroll/empAdditionalAssignInfo/prlEmpAdditionalAssignInfo.controller.js"></script>-->
<!--<script src="scripts/app/entities/payroll/empAdditionalAssignInfo/prlEmpAdditionalAssignInfo-dialog.controller.js"></script>-->
<!--<script src="scripts/app/entities/payroll/empAdditionalAssignInfo/prlEmpAdditionalAssignInfo-detail.controller.js"></script>-->
<!--<script src="scripts/components/entities/payroll/empAdditionalAssignInfo/prlEmpAdditionalAssignInfo.service.js"></script>-->
<!--<script src="scripts/components/entities/payroll/empAdditionalAssignInfo/prlEmpAdditionalAssignInfo.search.service.js"></script>-->


<!--Design JS -->
<!--<script src="scripts/app/account/designs/design.js"></script>-->
<script>
    new WOW().init();
</script>
<!-- Scrolltup Script Added by Suharta-->

<script>
    $(function () {
        $.scrollUp({
            scrollName: 'scrollUp',
            topDistance: '600',
            topSpeed: 500,
            animation: 'fade',
            animationInSpeed: 200,
            animationOutSpeed: 200,
            scrollText: '<i class="fa fa-angle-double-up no-print" aria-hidden="true"></i>',
            activeOverlay: false
        });
    });


</script>
</body>
</html>
