
<div>
    <h2><span translate="stepApp.jasperReport.detail.title">JasperReport</span> {{jasperReport.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.jasperReport.title">Title</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReport.title}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReport.path">Path</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReport.path}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReport.module">Module</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReport.module}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReport.role">Role</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReport.role}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReport.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReport.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.jasperReport.createdDate">CreatedDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{jasperReport.createdDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
