<div class="col-md-12 common-list padding-right0 padding-left5">
    <h2 translate="stepApp.hrEmpForeignTourInfo.home.title">HrEmpForeignTourInfos</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrEmpForeignTourInfo.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrEmpForeignTourInfo.home.createLabel">Create a new HrEmpForeignTourInfo</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <th><span translate="global.field.id">ID</span></th>
                <th><span translate="stepApp.hrEmpForeignTourInfo.employeeInfo">employeeInfo</span></th>
                <th><span translate="stepApp.hrEmpForeignTourInfo.purpose">Purpose</span></th>
                <th><span translate="stepApp.hrEmpForeignTourInfo.fromDate">FromDate</span></th>
                <th><span translate="stepApp.hrEmpForeignTourInfo.toDate">ToDate</span></th>
                <th><span translate="stepApp.hrEmpForeignTourInfo.countryName">CountryName</span></th>
                <th><span translate="stepApp.hrEmpForeignTourInfo.officeOrderDate">officeOrderDate</span></th>
                <th><span translate="stepApp.hrEmpForeignTourInfo.goNumber">goNumber</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'"
                dir-paginate="hrEmpForeignTourInfo in hrEmpForeignTourInfos | filter:q | itemsPerPage: pageSize track by hrEmpForeignTourInfo.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <td><a
                    ui-sref="hrEmpForeignTourInfo.detail({id:hrEmpForeignTourInfo.id})">{{hrEmpForeignTourInfo.id}}</a>
                </td>
                <td>
                    <a ui-sref="hrEmployeeInfo.detail({id:hrEmpForeignTourInfo.employeeInfo.id})">{{hrEmpForeignTourInfo.employeeInfo.fullName}}</a>
                </td>
                <td>{{hrEmpForeignTourInfo.purpose}}</td>
                <td>{{hrEmpForeignTourInfo.fromDate | date:'mediumDate'}}</td>
                <td>{{hrEmpForeignTourInfo.toDate | date:'mediumDate'}}</td>
                <td>{{hrEmpForeignTourInfo.countryName}}</td>
                <td>{{hrEmpForeignTourInfo.officeOrderDate | date:'mediumDate'}}</td>
                <td>{{hrEmpForeignTourInfo.goNumber}}</td>
                <td class="hrm-button text-right no-print">
                    <button type="submit"
                            ui-sref="hrEmpForeignTourInfo.detail({id:hrEmpForeignTourInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit" ng-hide="false"
                            ui-sref="hrEmpForeignTourInfo.edit({id:hrEmpForeignTourInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrEmpForeignTourInfo.delete({id:hrEmpForeignTourInfo.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
