<div class="common-dialogue">
    <div class="panel panel-default">
        <h4 class="modal-title" id="myHrEmpForeignTourInfoLabel"><span
            translate="stepApp.hrEmpForeignTourInfo.home.profileViewEditTitle"></span> : {{hrEmployeeInfo.fullName}}
        </h4>
        <div class="panel-body bg-panel">
            <div class="row hrm-view">
                <span ng-show="addMode">
                    <span ng-show="noEmployeeFound" class="alert">Employee is not created yet.</span>
                </span>
            </div>
            <div class="panel-group hr_label">
                <!-- For Loop Start From Here-->
                <div class=" bg-panel" ng-repeat="hrEmpForeignTourInfo in hrEmpForeignTourInfoList">
                    <form  name="editForm" role="form" ng-submit="save()" novalidate
                          show-validation>
                        <div class="row hrm-view panel-heading no_padding">
                            <div class="col-sm-7 no_padding">
                                <strong>{{hrEmpForeignTourInfo.countryName}} : {{hrEmpForeignTourInfo.purpose}}</strong>
                            </div>
                            <div class="col-sm-5 no_padding text-right">
                                <button
                                    ng-hide="noEmployeeFound || hrEmpForeignTourInfo.isLocked || hrEmpForeignTourInfo.logStatus==6"
                                    ng-if="!(hrEmpForeignTourInfo.logStatus == 11 || hrEmpForeignTourInfo.logStatus == 33 || hrEmpForeignTourInfo.logStatus == 55)"
                                    type="button" ng-click="changeProfileMode(hrEmpForeignTourInfo)"
                                    class="btn btn-primary btn-sm">{{hrEmpForeignTourInfo.viewModeText}}
                                </button>
                                <span ng-show="hrEmpForeignTourInfo.isLocked" class="alert alert-warning">
                                    <span translate="stepApp.hrmHome.recordLocked">Pending</span>
                                </span>
                                <span
                                    ng-if="(hrEmpForeignTourInfo.logStatus == 22 || hrEmpForeignTourInfo.logStatus == 44 || hrEmpForeignTourInfo.logStatus == 66)">
                                    <span class="alert alert-warning" translate="stepApp.hrmHome.requestRejected">Rejected</span>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right"
                                 ng-if="(hrEmpForeignTourInfo.logStatus == 22 || hrEmpForeignTourInfo.logStatus == 44 || hrEmpForeignTourInfo.logStatus == 66)">
                                <span class="alert-warning">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.rejectionReason">Reason</span>: &nbsp; : &nbsp;{{hrEmpForeignTourInfo.logComments}}
                                </span>
                            </div>
                            <div class="col-sm-12 text-right"
                                 ng-if="(hrEmpForeignTourInfo.logStatus == 11 || hrEmpForeignTourInfo.logStatus == 33 || hrEmpForeignTourInfo.logStatus == 55)">
                                <span class="alert-warning" ng-if="hrEmpForeignTourInfo.logStatus == 11">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.messages.waitingForDeptHeadApproval">Waiting @ Department Head Approval</span>
                                </span>
                                <span class="alert-warning" ng-if="hrEmpForeignTourInfo.logStatus == 33">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.messages.waitingForInstHeadApproval">Waiting @ Institute Head Approval</span>
                                </span>
                                <span class="alert-warning" ng-if="hrEmpForeignTourInfo.logStatus === 55">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.messages.waitingForSystemAdminApproval">Waiting @ System Admin Approval</span>
                                </span>
                            </div>
                        </div>
                        <div class="row" ng-show="hrEmpForeignTourInfo.viewMode">
                            <div class="col-md-12 common-table padding0">
                                <table class="table">
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpForeignTourInfo.countryName"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpForeignTourInfo.countryName}}</td>
                                        <td><strong translate="stepApp.hrEmpForeignTourInfo.jobCategory"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpForeignTourInfo.jobCategory.typeName}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpForeignTourInfo.purpose"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpForeignTourInfo.purpose}}</td>
                                        <td><strong translate="stepApp.hrEmpForeignTourInfo.fromDate"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpForeignTourInfo.fromDate | date:'mediumDate'}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpForeignTourInfo.toDate"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpForeignTourInfo.toDate | date:'mediumDate'}}</td>
                                        <td><strong translate="stepApp.hrEmpForeignTourInfo.officeOrderNumber"></strong>
                                        </td>
                                        <td>&nbsp; : &nbsp;{{hrEmpForeignTourInfo.officeOrderNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpForeignTourInfo.fundSource"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpForeignTourInfo.fundSource}}</td>
                                        <td><strong translate="stepApp.hrEmpForeignTourInfo.goNumber"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpForeignTourInfo.goNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpForeignTourInfo.officeOrderDate"></strong>
                                        </td>
                                        <td>&nbsp; : &nbsp;{{hrEmpForeignTourInfo.officeOrderDate |
                                            date:'mediumDate'}}
                                        </td>
                                        <td><strong translate="stepApp.hrEmpForeignTourInfo.goDate"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEmpForeignTourInfo.goDate | date:'mediumDate'}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEmpForeignTourInfo.goDoc"></strong></td>
                                        <td ng-click="previewImage(hrEmpForeignTourInfo)"><img
                                            ng-src="data:image/JPEG;base64,{{hrEmpForeignTourInfo.goDoc}}" width="40px">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpForeignTourInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <div class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpForeignTourInfo.countryName"
                                           for="field_countryName">CountryName</label>
                                    <input type="text" class="form-control" name="countryName" id="field_countryName"
                                           ng-model="hrEmpForeignTourInfo.countryName"
                                           required only-letters minlength="2" maxlength="50"/>
                                    <div ng-show="editForm.countryName.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.countryName.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.countryName.$error.maxlength">
                                            This field should not longer than 50 character
                                        </small>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.countryName.$error.minlength">
                                            This field need to be at least than 2 character
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div ng-show="!hrEmpForeignTourInfo.viewMode" class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpForeignTourInfo.jobCategory"
                                           for="field_jobCategory">jobCategory</label>
                                    <select class="form-control" id="field_jobCategory" name="jobCategory"
                                            ng-model="hrEmpForeignTourInfo.jobCategory"
                                            ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in misctypesetups track by MiscTypeSetup.id"
                                            required>
                                        <option value="" translate="global.home.select" disabled selected></option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpForeignTourInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <div class="input-margin">
                                    <label class="control-label" translate="stepApp.hrEmpForeignTourInfo.purpose"
                                           for="field_purpose">Purpose</label>
                                    <textarea class="form-control" name="purpose" id="field_purpose"
                                              ng-model="hrEmpForeignTourInfo.purpose"
                                              required maxlength="150" minlength="10"></textarea>
                                    <div ng-show="editForm.purpose.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.purpose.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.purpose.$error.maxlength">
                                            This field should not longer than 150 character
                                        </small>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.purpose.$error.minlength">
                                            This field need to be at least than 10 character
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">&nbsp;</div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpForeignTourInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <div class="">
                                    <label class="control-label" translate="stepApp.hrEmpForeignTourInfo.fromDate"
                                           for="field_fromDate">FromDate</label>
                                    <input datepicker-popup="{{calendar.dateFormat}}"
                                           is-open="calendar.opened['fromDate'+$index]"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'fromDate'+$index)" class="form-control"
                                           name="fromDate" id="field_fromDate"
                                           ng-model="hrEmpForeignTourInfo.fromDate"
                                           max-date="toDate"
                                           placeholder="YYYY-MM-DD"
                                           required/>
                                    <div ng-show="editForm.fromDate.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.fromDate.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="">
                                    <label class="control-label" translate="stepApp.hrEmpForeignTourInfo.toDate"
                                           for="field_toDate">ToDate</label>
                                    <input datepicker-popup="{{calendar.dateFormat}}"
                                           is-open="calendar.opened['toDate'+$index]"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'toDate'+$index)" class="form-control"
                                           name="toDate" id="field_toDate"
                                           ng-model="hrEmpForeignTourInfo.toDate"
                                           min-date="hrEmpForeignTourInfo.fromDate"
                                           required/>
                                    <div ng-show="editForm.toDate.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.toDate.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpForeignTourInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpForeignTourInfo.officeOrderNumber"
                                       for="field_officeOrderNumber">OfficeOrderNumber</label>
                                <div class="">
                                    <input type="text" class="form-control" name="officeOrderNumber"
                                           id="field_officeOrderNumber"
                                           ng-model="hrEmpForeignTourInfo.officeOrderNumber"
                                           only-numbers minlength="2" maxlength="30"/>
                                    <div ng-show="editForm.officeOrderNumber.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.officeOrderNumber.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.officeOrderNumber.$error.maxlength">
                                            This field should not longer than 150 character
                                        </small>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.officeOrderNumber.$error.minlength">
                                            This field need to be at least than 10 character
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpForeignTourInfo.fundSource"
                                       for="field_fundSource">FundSource</label>
                                <div class="">
                                    <input type="text" class="form-control" name="fundSource" id="field_fundSource"
                                           ng-model="hrEmpForeignTourInfo.fundSource" only-letters
                                           minlength="2" maxlength="50"/>
                                    <div ng-show="editForm.fundSource.$invalid">
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.fundSource.$error.maxlength">
                                            This field should not longer than 50 character
                                        </small>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.fundSource.$error.minlength">
                                            This field need to be at least than 2 character
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpForeignTourInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpForeignTourInfo.goNumber"
                                       for="field_goNumber">goNumber</label>
                                <div class="">
                                    <input type="text" class="form-control" name="goNumber"
                                           id="field_goNumber"
                                           ng-model="hrEmpForeignTourInfo.goNumber"
                                           only-numbers maxlength="30" minlength="2"/>
                                    <div ng-show="editForm.goNumber.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.goNumber.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.goNumber.$error.maxlength">
                                            This field should not longer than 30 character
                                        </small>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.goNumber.$error.minlength">
                                            This field need to be at least than 2 character
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpForeignTourInfo.officeOrderDate"
                                       for="field_officeOrderDate">officeOrderDate</label>
                                <div class="">
                                    <input datepicker-popup="{{calendar.dateFormat}}"
                                           is-open="calendar.opened['officeOrderDate'+$index]"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'officeOrderDate'+$index)"
                                           class="form-control"
                                           name="officeOrderDate" id="field_officeOrderDate"
                                           ng-model="hrEmpForeignTourInfo.officeOrderDate"
                                           max-date="toDate"
                                           placeholder="YYYY-MM-DD"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEmpForeignTourInfo.viewMode">
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEmpForeignTourInfo.goDate"
                                       for="field_goDate">GoDate</label>
                                <div class="">
                                    <input datepicker-popup="{{calendar.dateFormat}}"
                                           is-open="calendar.opened['goDate'+$index]"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'goDate'+$index)" class="form-control"
                                           name="goDate" id="field_goDate"
                                           ng-model="hrEmpForeignTourInfo.goDate"
                                           max-date="toDate"
                                           placeholder="YYYY-MM-DD"
                                    />
                                </div>
                            </div>
                            <div class="form-group col-sm-6" ngf-drop
                                 ngf-change="setGoDoc($file, hrEmpForeignTourInfo)">
                                <label class="control-label" translate="stepApp.hrEmpForeignTourInfo.goDoc"
                                       for="field_goDoc">GoDoc</label>
                                <div class="">
                                    <div class="help-block clearfix">
                                        <span class="pull-left">{{hrEmpForeignTourInfo.goDocContentType}} {{byteSize(hrEmpForeignTourInfo.goDoc)}}</span>
                                        <button
                                            ng-click="hrEmpForeignTourInfo.goDoc=null;hrEmpForeignTourInfo.goDocContentType=null;"
                                            ng-if="hrEmpForeignTourInfo.goDoc"
                                            class="btn btn-default btn-xs pull-right">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                    <button type="file" ngf-select class="btn btn-default btn-block"
                                            ngf-change="setGoDoc($file, hrEmpForeignTourInfo)"
                                            translate="entity.action.addblob">
                                        Add blob
                                    </button>

                                    <input type="hidden" class="form-control" name="goDoc" id="field_goDoc"
                                           ng-model="hrEmpForeignTourInfo.goDoc"/>
                                    <input type="hidden" class="form-control" name="goDocContentType"
                                           id="field_goDocContentType"
                                           ng-model="hrEmpForeignTourInfo.goDocContentType"/>
                                </div>
                                <a ng-if="hrEmpForeignTourInfo.goDocContentType" class="btn btn-link"
                                   ng-click="previewImage(hrEmpForeignTourInfo)">View</a>
                            </div>
                        </div>
                        <div class="row hrm-view">
                            <div class="form-group col-sm-6">
                                <div class="">&nbsp;</div>
                            </div>
                            <div class="form-group col-sm-6 text-right">
                                <div class="">
                                    <button ng-show="!hrEmpForeignTourInfo.viewMode" type="button"
                                            ng-click="changeProfileMode(hrEmpForeignTourInfo)"
                                            class="btn btn-default btn-sm"><span
                                        class="glyphicon glyphicon-remove"></span>&nbsp;{{hrEmpForeignTourInfo.viewModeText}}
                                    </button>
                                    <button ng-show="!hrEmpForeignTourInfo.viewMode"
                                            ng-click="updateProfile(hrEmpForeignTourInfo, $index)"
                                            type="button" ng-disabled="editForm.$invalid || isSaving"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                                        translate="entity.action.save">Save</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End of Loop -->
                <div class="col-sm-12 no_padding text-right">
                    <button type="submit" class="btn btn-primary" ng-show="!addMode"
                            ng-disabled="editForm.$invalid || isSaving" ng-click="addMore()"><i
                        class="fa fa-plus-square"></i>
                        <span translate="global.menu.account.addmore">Add More</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
