<div class="col-md-12 common-table padding-left5 padding-right0">
<h2><span translate="stepApp.hrEmpForeignTourInfo.detail.title">HrEmpForeignTourInfo</span> of {{hrEmpForeignTourInfo.employeeInfo.fullName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpForeignTourInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrEmpForeignTourInfo.employeeInfo.id})">{{hrEmpForeignTourInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpForeignTourInfo.jobCategory">jobCategory</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="miscTypeSetup.detail({id:hrEmpForeignTourInfo.jobCategory.id})">{{hrEmpForeignTourInfo.jobCategory.typeName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpForeignTourInfo.countryName">CountryName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpForeignTourInfo.countryName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpForeignTourInfo.purpose">Purpose</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpForeignTourInfo.purpose}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpForeignTourInfo.fromDate">FromDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpForeignTourInfo.fromDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpForeignTourInfo.toDate">ToDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpForeignTourInfo.toDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpForeignTourInfo.officeOrderDate">officeOrderDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpForeignTourInfo.officeOrderDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpForeignTourInfo.officeOrderNumber">OfficeOrderNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpForeignTourInfo.officeOrderNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpForeignTourInfo.fundSource">FundSource</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpForeignTourInfo.fundSource}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpForeignTourInfo.goNumber">goNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpForeignTourInfo.goNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpForeignTourInfo.goDate">GoDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpForeignTourInfo.goDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpForeignTourInfo.goDoc">GoDoc</span>
                </td>
                <td>
                    <span>
                        <a ng-if="hrEmpForeignTourInfo.goDocContentType" class="btn btn-primary" ng-click="previewImage(hrEmpForeignTourInfo)">
                            <img ng-src="data:image/JPEG;base64,{{hrEmpForeignTourInfo.goDoc}}" width="40px"></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpForeignTourInfo.goDocName">GoDocName</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpForeignTourInfo.goDocName}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpForeignTourInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpForeignTourInfo.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpForeignTourInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpForeignTourInfo.createDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpForeignTourInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpForeignTourInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
