<div class="col-md-12 common-dialogue padding-left5 padding-right0">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="hrEmpGovtDuesInfo.id == null" class="modal-title" id="myHrEmpGovtDuesInfoLabel"
            translate="stepApp.hrEmpGovtDuesInfo.home.createOrEditLabel">Create or edit a HrEmpGovtDuesInfo</h4>
        <h4 ng-show="hrEmpGovtDuesInfo.id != null" class="modal-title" id="myHrEmpGovtDuesInfoLabel"
            translate="stepApp.hrEmpGovtDuesInfo.home.EditLabel">Create or edit a HrEmpGovtDuesInfo</h4>
        <div class="modal-body">
            <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" translate="global.home.orgOrInst" for="field_toOrganizationType">toOrganizationType</label>
                    <div class="input-margin">
                        <select class="form-control" id="field_toOrganizationType" name="toOrganizationType" ng-model="orgOrInst" required>
                            <option selected disabled value="">-- Select Organization Type --</option>
                            <option value="Organization">Organization</option>
                            <option value="Institute">Institute</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div ng-if="orgOrInst=='Organization'">
                    <div class="col-md-12">
                        <div class="form-group col-sm-6">
                            <label class="control-label" for="field_workArea" translate="stepApp.hrEmpGovtDuesInfo.workarea">Work
                                Area</label>
                            <select class="form-control" id="field_workArea" name="workArea" ng-model="workArea"
                                    ng-change="loadModelByWorkArea(workArea)"
                                    ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id">
                                <option value="">Select Work Area</option>
                            </select>
                            <span class="help">No of Employee: {{hremployeeinfos.length}}</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label" translate="stepApp.hrEmpGovtDuesInfo.employeeInfo"
                                   for="field_employeeInfo">employeeInfo</label>
                            <div class="input-margin">
                                <input type="text" class="form-control autocomplete" autocomplete="off"
                                       ng-model="hrEmpGovtDuesInfo.employeeInfo"
                                       ng-blur="loadHrEmployee(hrEmpGovtDuesInfo)"
                                       typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfos | filter:$viewValue'
                                       id="field_employeeInfo" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="(orgOrInst=='Institute')" class="col-md-6 col-lg-6">
                    <label class="control-label" translate="stepApp.hrEmpChildrenInfo.employeeInfo" for="field_employeeInfo">employeeInfo</label>
                    <div class="input-margin">
                        <input type="text" class="form-control autocomplete" autocomplete="off"
                               ng-model="hrEmpGovtDuesInfo.employeeInfo"
                               typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfosOfInstitute | filter:$viewValue'
                               id="field_employeeInfo" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 " ng-hide="hrEmpGovtDuesInfo.employeeInfo.fullName ==null">
                    <table class="table table-bordered table-responsive">
                        <tbody class="hrm-info-table">
                        <tr>
                            <td><strong>Name: </strong></td>
                            <td>{{hrEmpGovtDuesInfo.employeeInfo.fullName}}</td>
                            <td><strong>Employee ID:</strong></td>
                            <td>{{hrEmpGovtDuesInfo.employeeInfo.employeeId}}</td>
                        </tr>
                        <tr>
                            <td><strong>Contact No:</strong></td>
                            <td>{{hrEmpGovtDuesInfo.employeeInfo.mobileNumber}}</td>
                            <td><strong>Email:</strong></td>
                            <td>{{hrEmpGovtDuesInfo.employeeInfo.emailAddress}}</td>
                        </tr>
                        <tr>
                            <td><strong>Section:</strong></td>
                            <td>{{hrEmpGovtDuesInfo.employeeInfo.departmentInfo.departmentInfo.departmentName}}</td>
                            <td><strong>Designation:</strong></td>
                            <td>{{hrEmpGovtDuesInfo.employeeInfo.designationInfo.designationInfo.designationName}}</td>
                        </tr>
                        <tr>
                            <td><strong>Organization:</strong></td>
                            <td>{{hrEmpGovtDuesInfo.employeeInfo.workAreaDtl.name}}</td>
                            <td><strong>Grade: </strong></td>
                            <td>{{hrEmpGovtDuesInfo.employeeInfo.gradeInfo.gradeCode}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>


            </div>


            <div class="row">

                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <div class="form-group ">
                        <label class="control-label" translate="stepApp.hrEmpGovtDuesInfo.dueAmount"
                               for="field_dueAmount">DueAmount</label>
                        <div class="input-margin">
                            <input type="number" class="form-control" name="dueAmount" id="field_dueAmount" min="0" oninput="validity.valid||(value='');"
                                   ng-model="hrEmpGovtDuesInfo.dueAmount" required/>
                            <div ng-show="editForm.dueAmount.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.dueAmount.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.dueAmount.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <div class="form-group ">
                        <label class="control-label" translate="stepApp.hrEmpGovtDuesInfo.description"
                               for="field_description">Description</label>
                        <div class="input-margin">
                        <textarea class="form-control" name="description" id="field_description"
                                  ng-model="hrEmpGovtDuesInfo.description" required></textarea>
                            <div ng-show="editForm.description.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.description.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <div class="form-group ">
                        <label class="control-label" translate="stepApp.hrEmpGovtDuesInfo.claimerAuthority"
                               for="field_claimerAuthority">ClaimerAuthority</label>
                        <div class="input-margin">
                            <input type="text" class="form-control" name="claimerAuthority" id="field_claimerAuthority"
                                   ng-model="hrEmpGovtDuesInfo.claimerAuthority" required/>
                            <div ng-show="editForm.claimerAuthority.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.claimerAuthority.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <div class="form-group ">
                        <label class="control-label" translate="stepApp.hrEmpGovtDuesInfo.comments"
                               for="field_comments">Comments</label>
                        <div class="input-margin">
                        <textarea class="form-control" name="comments" id="field_comments"
                                  ng-model="hrEmpGovtDuesInfo.comments"></textarea>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <div class="form-group ">
                        <label class="control-label"
                               translate="stepApp.hrEmpGovtDuesInfo.activeStatus">ActiveStatus</label>
                        <div class="input-margin">
                            <div>
                                <input type="radio" data-ng-model="hrEmpGovtDuesInfo.activeStatus" name="activeStatus"
                                       data-ng-value="true">&nbsp;<span
                                translate="stepApp.hrEmpGovtDuesInfo.active"></span>&nbsp;|&nbsp;
                                <input type="radio" data-ng-model="hrEmpGovtDuesInfo.activeStatus" name="activeStatus"
                                       data-ng-value="false">&nbsp;<span
                                translate="stepApp.hrEmpGovtDuesInfo.inactive"></span>
                            </div>
                            <div ng-show="editForm.activeStatus.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.activeStatus.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        onclick="window.history.back()">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel">cancel</span>
                </button>
                <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;
                    <span ng-show="hrEmpGovtDuesInfo.id == null" translate="entity.action.save">Save</span>
                    <span ng-show="hrEmpGovtDuesInfo.id != null" translate="entity.action.update">Save</span>
                </button>
            </div>
        </div>
    </form>
</div>
