<div class="col-md-12 common-table padding-right0 padding-left5">
<h2><span translate="stepApp.hrEmpGovtDuesInfo.detail.title">HrEmpGovtDuesInfo</span> of {{hrEmpGovtDuesInfo.employeeInfo.fullName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpGovtDuesInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrEmpGovtDuesInfo.employeeInfo.id})">{{hrEmpGovtDuesInfo.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEmpGovtDuesInfo.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpGovtDuesInfo.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpGovtDuesInfo.dueAmount">DueAmount</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpGovtDuesInfo.dueAmount}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpGovtDuesInfo.claimerAuthority">ClaimerAuthority</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpGovtDuesInfo.claimerAuthority}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEmpGovtDuesInfo.comments">Comments</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpGovtDuesInfo.comments}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEmpGovtDuesInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEmpGovtDuesInfo.activeStatus?"Active":"InActive"}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel"> cancel</span>
    </button>
</div>
