<style>
    table {
        border: 1px solid #ddd;
        table-layout: fixed;
    !important;
    }

    .common-table {
        padding: 5px;
        background: #fff;
    }
</style>
<div class="col-sm-12 common-table padding-left5">
    <h2 class="margin-header"><span translate="stepApp.instEmplTraining.detail.title">InstEmplTraining</span>
        {{instEmplTraining.id}}</h2>
    <br>
    <div class="col-sm-12 text-right padding-tb no-print">
        <button ng-show="hideAddButton"
                ui-sref="employeeInfo.trainingInfo.new({instEmplTrainings:instEmplTrainings})"
                class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;<span translate="entity.action.add"> Add</span>
        </button>
        <button ng-show="hideEditButton"
                ui-sref="employeeInfo.trainingInfo.edit({instEmplTrainings:instEmplTrainings})"
                class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
        </button>
    </div>
    <div class="col-md-12 border-line"></div>
    <div class="row">
        <div class="col-md-12 table-responsive" ng-repeat="instEmplTraining in instEmplTrainings">
            <table class="table table-striped table-shadow" style="margin: 15px 0px">
                <thead>
                <tr>
                    <th class="edu-history"><span
                        translate="stepApp.instEmplTraining.trainings">Institute Employee's Training </span>{{$index
                        + 1}}
                    </th>
                    <th class="edu-history"></th>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.instEmplTraining.trainingType">SubjectsCoverd</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmplTraining.trainingType}}</span>
                    </td>
                </tr>
                <tr>
                    <td>

                        <span translate="stepApp.instEmplTraining.institute">institute</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmplTraining.institute}}</span>
                    </td>
                </tr>
                <tr>
                    <td>

                        <span translate="stepApp.instEmplTraining.name">Name</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmplTraining.name}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instEmplTraining.location">Location</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmplTraining.location}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instEmplTraining.courseDuration">courseDuration</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmplTraining.courseDuration}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instEmplTraining.rollOrReg">rollOrReg</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmplTraining.rollOrReg}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instEmplTraining.ofcOrderNo">ofcOrderNo</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmplTraining.ofcOrderNo}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instEmplTraining.startedDate">StartedDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmplTraining.startedDate | date:'mediumDate'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instEmplTraining.endedDate">EndedDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmplTraining.endedDate | date:'mediumDate'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.instEmplTraining.result">Result</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{instEmplTraining.result}}</span>
                    </td>
                </tr>
                <tr>
                    <td translate="stepApp.instEmplTraining.attachment"></td>
                    <td>
                        <!--<a href="javascript:void(0)"
                           ng-click="previewCertificate(instEmplTraining.attachment, instEmplTraining.attachmentContentType,instEmplTraining.attachmentName)">
                            <span>{{instEmplTraining.attachmentName}}</span>
                        </a>-->
                        <a href="javascript:void(0)"
                           ng-click="previewCertificate(instEmplTraining.attachment, instEmplTraining.attachmentContentType,('stepApp.instEmplTraining.attachment' | translate)+' Image')">
                        <span class="btn btn-default">
                            <img ng-src="data:image/JPEG;base64,{{instEmplTraining.attachment}}" width="40px"></span>
                        </a>
                    </td>
                    </a>
                </tr>
                <!--<tr>-->
                <!--<td>-->
                <!--<span translate="stepApp.instEmplTraining.jobCategory">jobCategory</span>-->
                <!--</td>-->
                <!--<td>-->
                <!--<span class="form-control-static">{{instEmplTraining.jobCategory}}</span>-->
                <!--</td>-->
                <!--</tr>-->

                <!--
                <tr>
                <td>
                <span translate="stepApp.instEmplTraining.subjectsCoverd">SubjectsCoverd</span>
                </td>
                <td>
                <span class="form-control-static">{{instEmplTraining.subjectsCoverd}}</span>
                </td>
                </tr>
                -->


                <!--<tr>
                <td>
                <span translate="stepApp.instEmplTraining.instEmployee">instEmployee</span>
                </td>
                <td>
                <a class="form-control-static" ui-sref="instEmployee.detail({id:instEmplTraining.instEmployee.id})">{{instEmplTraining.instEmployee.name}}</a>
                </td>
                </tr>-->

                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer no-print text-right">
        <button type="submit"
                onclick="window.history.back()"
                class="btn btn-info no-print">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
        </button>
        <button type="submit" class="btn btn-sm btn-primary no-print" onclick="window.print()">
            <i class="fa fa-print"></i>&nbsp;
            <span translate="entity.action.print">Print</span>
        </button>
    </div>
    <div style="color:#fff" ng-if="currentPageNumber" class="col-md-12 text-center">
        {{currentPageNumber}}
    </div>
</div>

