<div class="col-sm-12 common-dialogue padding-left5">
    <h4 class="modal-title" ng-if="instEmplTraining.id == null" id="myInstEmplTrainingLabel"
        translate="stepApp.instEmplTraining.home.createOrEditLabel">
        Create or edit a InstEmplTraining</h4>
    <h4 class="modal-title" ng-if="instEmplTraining.id != null" id="myInstEmplTrainingLabel"
        translate="stepApp.instEmplTraining.home.EditLabel">
        Create or edit a InstEmplTraining</h4>
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <div class="padding-tb" ng-repeat="instEmplTraining in instEmplTrainings track by $index">
            <div class="col-sm-12 no_padding expe-info">
                <h4><span
                    translate="stepApp.instEmplTraining.home.instemptinfo">Institute Employee Training Information </span>
                    &nbsp; {{$index + 1}}</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label translate="stepApp.instEmplTraining.trainingType">Type</label>
                            <select class="form-control" name="jobCategory" ng-model="instEmplTraining.trainingType"
                                    tooltip="{{'stepApp.instEmplTraining.trainingType' | translate}}">
                                <option disabled selected value="" translate="stepApp.instEmployee.select"></option>
                                <option value="Local" translateste="stepApp.instEmplTraining.type1">Local</option>
                                <option value="Foreign" translate="stepApp.instEmplTraining.type2">Non Government
                                </option>
                            </select>
                            <div ng-show="editForm.trainingType.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.trainingType.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplTraining.institute" for="field_institute">institute</label>
                        <select class="form-control" name="institute" id="field_institute"
                                ng-model="instEmplTraining.institute"
                                tooltip="{{'stepApp.instEmplTraining.institute' | translate}}" required>
                            <option value="" disabled selected>Select</option>
                            <option value="NTRCA">NTRCA</option>
                            <option value="Bureau of Manpower, Employment and Training">Bureau of Manpower, Employment and Training</option>
                            <option value="Bangladesh Technical Education Board">Bangladesh Technical Education Board</option>
                            <option value="Department of Social Services">Department of Social Services</option>
                            <option value="Ministry of Labour and Employment">Ministry of Labour and Employment</option>
                            <option value="Department of Youth Development">Department of Youth Development</option>
                            <option value="National University">National University</option>
                        </select>
                        <div ng-show="editForm.institute.$invalid">
                            <p class="help-block"
                               ng-show="editForm.institute.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplTraining.name" for="field_name">Name</label>
                        <input type="text" class="form-control" name="name" id="field_name"
                               ng-model="instEmplTraining.name"
                               tooltip="{{'stepApp.instEmplTraining.name' | translate}}"
                                only-letters-and-dash-and-dot required/>
                        <div ng-show="editForm.name.$invalid">
                            <p class="help-block"
                               ng-show="editForm.name.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplTraining.location" for="field_location">Location</label>
                        <input type="text" class="form-control" name="location" id="field_location"
                               ng-model="instEmplTraining.location"
                               tooltip="{{'stepApp.instEmplTraining.location' | translate}}"
                               required/>
                        <div ng-show="editForm.location.$invalid">
                            <p class="help-block"
                               ng-show="editForm.location.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplTraining.courseDuration"
                               for="field_location">courseDuration</label>
                        <input type="text" class="form-control" name="courseDuration" id="courseDuration"
                               ng-model="instEmplTraining.courseDuration"
                               tooltip="{{'stepApp.instEmplTraining.courseDuration' | translate}}"
                               required />
                        <div ng-show="editForm.courseDuration.$invalid">
                            <p class="help-block"
                               ng-show="editForm.courseDuration.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplTraining.rollOrReg" for="field_location">rollOrReg</label>
                        <input type="text" class="form-control" name="rollOrReg" id="rollOrReg"
                               ng-model="instEmplTraining.rollOrReg"
                               tooltip="{{'stepApp.instEmplTraining.rollOrReg' | translate}}"
                               required only-numbers/>
                        <div ng-show="editForm.rollOrReg.$invalid">
                            <p class="help-block"
                               ng-show="editForm.rollOrReg.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplTraining.ofcOrderNo" for="field_ofcOrderNo">ofcOrderNo</label>
                        <input type="text" class="form-control" name="location" id="field_ofcOrderNo"
                               ng-model="instEmplTraining.ofcOrderNo"
                               tooltip="{{'stepApp.instEmplTraining.ofcOrderNo' | translate}}"
                               required only-numbers/>
                        <div ng-show="editForm.ofcOrderNo.$invalid">
                            <p class="help-block"
                               ng-show="editForm.ofcOrderNo.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplTraining.startedDate"
                               for="field_startedDate">StartedDate</label>
                        <input type="text" class="form-control" name="startedDate" id="field_startedDate"
                               ng-model="instEmplTraining.startedDate"
                               max-date="instEmplTraining.endedDate"
                               datepicker-popup="{{calendar.dateFormat}}"
                               is-open="calendar.opened['startedDate'+$index]"
                               placeholder="{{'entity.placeholder.dateformat' | translate}}"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'startedDate'+$index)"
                               tooltip="{{'stepApp.instEmplTraining.startedDate' | translate}}"
                               ng-change="deadlineValidation(instEmplTraining.endedDate,instEmplTraining.startedDate)"/>
                        <div ng-show="dateError">
                            <p class="help-block"
                               ng-show="dateError">
                                Start date should not be before End date </p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplTraining.endedDate" for="field_endedDate">EndedDate</label>
                        <input type="text" class="form-control" name="endedDate" id="field_endedDate"
                               ng-model="instEmplTraining.endedDate"
                               min-date="instEmplTraining.startedDate"
                               datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened['endedDate'+$index]"
                               placeholder="{{'entity.placeholder.dateformat' | translate}}"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'endedDate'+$index)"
                               tooltip="{{'stepApp.instEmplTraining.endedDate' | translate}}"
                               ng-change="deadlineValidation(instEmplTraining.endedDate,instEmplTraining.startedDate)"/>
                        <p translate="stepApp.instGenInfo.errMsg" ng-show="dateError"
                           style="font-size: 0.9em; color:#ff2432;">Start date should not be before End date !</p>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplTraining.result" for="field_result">Result</label>
                        <input type="text" class="form-control" name="result" id="field_result"
                               ng-model="instEmplTraining.result"
                               tooltip="{{'stepApp.instEmplTraining.result' | translate}}" />
                    </div>
                    <div class="form-group col-md-6" ngf-drop ngf-change="setAttachment($file, instEmplTraining)">
                        <label translate="stepApp.instEmplTraining.attachment" for="field_attachment">Attachment</label>
                        <div>
                            <div class="help-block clearfix">
                                <span class="pull-left">{{instEmplTraining.attachmentContentType}} {{byteSize(instEmplTraining.attachment)}}</span>
                                <button
                                    ng-click="instEmplTraining.attachment=null;instEmplTraining.attachmentContentType=null;"
                                    ng-if="instEmplTraining.attachment"
                                    class="btn btn-default btn-xs pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                            <div class="input-group">
                                <input type="text" readonly class="form-control" name="birthCertNoName"
                                       id="field_birthCertImageName"
                                       ng-model="instEmplTraining.attachmentName"
                                />

                            <div class="input-group-btn">
                                <button type="file" ngf-select class="btn btn-default btn-block"
                                        ngf-change="setAttachment($file, instEmplTraining)"
                                        translate="entity.action.addblob">
                                    Add blob
                                </button>
                            </div>
                            </div>
                            <input type="hidden" class="form-control" name="attachment" id="field_attachment"
                                   ng-model="instEmplTraining.attachment"
                            />
                            <input type="hidden" class="form-control" name="attachmentContentType"
                                   id="field_attachmentContentType"
                                   ng-model="instEmplTraining.attachmentContentType"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 padding-tb">
            <input type="button" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary"
                   value="{{'global.menu.account.addmore' | translate }}"
                   ng-click="AddMore()">
        </div>
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-if="instEmplTrainings[0].id ==null" translate="entity.action.save">Save</span>
                <span ng-if="instEmplTrainings[0].id" translate="entity.action.update">Update</span>
            </button>
        </div>
    </form>
</div>
