<div class="col-md-12 common-table">
    <h2><span translate="stepApp.traineeInformation.detail.title">TraineeInformation</span></h2>
    <div class="table-responsive">
        <div class="col-md-12 padding-tb">
            <h5 class="trainerinfo">Trainee Formation Information</h5>
        </div>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.traineeInformation.traineeId">TraineeId</span>
                </td>
                <td>
                    <span class="form-control-static">{{traineeInformation.traineeId}}</span>
                </td>
                <td>
                    <span translate="stepApp.traineeInformation.traineeName">TraineeName</span>
                </td>
                <td>
                    <span class="form-control-static">{{traineeInformation.traineeName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.traineeInformation.trainingRequisitionCode">Training Requisition Code</span>
                </td>
                <td>{{traineeInformation.trainingRequisitionForm.requisitionCode}}</td>

                <td>
                    <span translate="stepApp.traineeInformation.session">Session</span>
                </td>
                <td>
                    <span class="form-control-static">{{traineeInformation.trainingRequisitionForm.session}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.traineeInformation.gender">Gender</span>
                </td>
                <td>
                    <span class="form-control-static">{{traineeInformation.gender}}</span>
                </td>

                <td>
                    <span translate="stepApp.traineeInformation.organization">Organization</span>
                </td>
                <td>
                    <span class="form-control-static">{{traineeInformation.organization}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.traineeInformation.address">Address</span>
                </td>
                <td>
                    <span class="form-control-static">{{traineeInformation.address | date:'mediumDate'}}</span>
                </td>

                <td>
                    <span translate="stepApp.traineeInformation.division">Division</span>
                </td>
                <td>
                    <span class="form-control-static">{{traineeInformation.division.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.traineeInformation.district">District</span>
                </td>
                <td>
                    <span class="form-control-static">{{traineeInformation.district.name}}</span>
                </td>

                <td>
                    <span translate="stepApp.traineeInformation.contactNumber">ContactNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{traineeInformation.contactNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.traineeInformation.hrEmployeeInfo">hrEmployeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:traineeInformation.hrEmployeeInfo.id})">{{traineeInformation.hrEmployeeInfo.employeeId}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
