<div class="common-table padding-right0 padding-left5">
    <h2><span translate="stepApp.miscConfigSetup.detail.title">MiscConfigSetup</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.miscConfigSetup.propertyName">PropertyName</span>
                </td>
                <td>
                    <span class="form-control-static">{{miscConfigSetup.propertyName}}</span>
                </td>
                <td>
                    <span translate="stepApp.miscConfigSetup.propertyTitle">PropertyTitle</span>
                </td>
                <td>
                    <span class="form-control-static">{{miscConfigSetup.propertyTitle}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.miscConfigSetup.propertyValue">PropertyValue</span>
                </td>
                <td>
                    <span class="form-control-static">{{miscConfigSetup.propertyValue}}</span>
                </td>
                <td>
                    <span translate="stepApp.miscConfigSetup.propertyDataType">PropertyDataType</span>
                </td>
                <td>
                    <span class="form-control-static"
                          translate="{{'stepApp.miscConfigDataType.' + miscConfigSetup.propertyDataType}}">{{miscConfigSetup.propertyDataType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.miscConfigSetup.propertyValueMax">PropertyValueMax</span>
                </td>
                <td>
                    <span class="form-control-static">{{miscConfigSetup.propertyValueMax}}</span>
                </td>
                <td>
                    <span translate="stepApp.miscConfigSetup.propertyDesc">PropertyDesc</span>
                </td>
                <td>
                    <span class="form-control-static">{{miscConfigSetup.propertyDesc}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.miscConfigSetup.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{miscConfigSetup.activeStatus}}</span>
                </td>
                <td>
                    <span translate="stepApp.miscConfigSetup.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{miscConfigSetup.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.miscConfigSetup.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{miscConfigSetup.createBy}}</span>
                </td>
                <td>
                    <span translate="stepApp.miscConfigSetup.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{miscConfigSetup.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.miscConfigSetup.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{miscConfigSetup.updateBy}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
</div>
