<div class="col-md-2 padding0">
    <ng-include src="'scripts/app/entities/jobPortal/jp-admin-menu.html'"></ng-include>
</div>

<div class="col-md-10 padding-left5 padding-right5">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <div class="col-md-12 common-dialogue">
            <h4 ng-if="jobType.id == null" class="modal-title" id="" translate="stepApp.jobType.home.createLabel">Create a JobType</h4>
            <h4 ng-if="jobType.id != null" class="modal-title" id="" translate="stepApp.jobType.home.editLabel">Edit a JobType</h4>
            <div class="modal-body">
                <!--<div class="form-group">
                    <label for="id" translate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                            ng-model="jobType.id" readonly />
                </div>-->
                <!--<div class="form-group">
                    <label translate="stepApp.jobType.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                            ng-model="jobType.name"
                            required ng-maxlength="100" />
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block"
                            ng-show="editForm.name.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                            This field cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>-->
                <div class="form-group">
                    <label translate="stepApp.jobType.name" for="field_name">Name</label>
                    <input type="text" class="form-control" id="field_name" name="name"
                           ng-model="jobType.name"
                           ng-remote-validate="/api/jobType/checkByName/"
                           ng-remote-method="GET"
                           ng-remote-throttle="500"
                           ng-maxlength='50'
                           tooltip="{{'stepApp.jobType.name' | translate}}"
                           placeholder="{{'stepApp.jobType.name' | translate}}"
                           required>
                    <span class="message validating" ng-show="editForm.name.$pending">validating...</span>
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.ngRemoteValidate">
                            Type already exists!
                        </p>
                    </div>
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength"
                           translate-value-max="50">
                            This field cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="stepApp.jobType.description" for="field_description">Description</label>
            <textarea type="text" class="form-control" name="description" id="field_description"
                      tooltip="{{'stepApp.jobType.description' | translate}}"
                      placeholder="{{'stepApp.jobType.description' | translate}}"
                      ng-model="jobType.description"></textarea>
                    <div ng-show="editForm.description.$invalid">
                        <p class="help-block"
                           ng-show="editForm.description.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="stepApp.jobType.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                           ng-model="jobType.status"
                           tooltip="{{'stepApp.jobType.status' | translate}}"

                    />
                </div>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                     <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                 </button>-->
                <button type="submit" onclick="window.history.back()" class="btn btn-info">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"
                                                                                    class="ng-scope">Back</span>
                </button>
                <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;
                    <!--<span translate="entity.action.save">Save</span>-->
                    <span ng-show="jobType.id == null" translate="entity.action.save">Save</span><span
                    ng-show="jobType.id != null" translate="entity.action.update">Update</span>
                </button>
            </div>
            </div>
    </form>
</div>
