

        <div ng-show="isAdmin">
            <ng-include src="'scripts/app/account/mpo/mpo-search-form.html'"></ng-include>
        </div>

    <div class="col-md-12 common-table">
        <div class="application_information">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title"> Name Cancellation Application Status of <b>{{timescaleApplicationlogs[0].nameCnclApplication.instEmployee.code}}</b></h2>
                </div>
                <div class="pnl-tbl">
                    <table class="table table-striped resume_main_">
                        <thead>
                        <tr>
                            <th>
                                Status
                            </th>
                            <th>
                                Action Date
                            </th>
                            <th>
                                Remarks
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="timescaleApplicationlog in timescaleApplicationlogs">
                            <td>{{timescaleApplicationlog.remarks}}</td>
                            <td>{{timescaleApplicationlog.fromDate}}</td>
                            <td>
                                <span class="" ng-show="timescaleApplicationlog.status == 1 ">{{timescaleApplicationlog.cause}}1</span>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
