<div class="col-md-12 common-list">
    <h2 ng-show="timescaleAppliedLists.pending == 'pending'" translate="global.menu.account.nameCnclPendingList">
        Principal Application Pending List</h2>
    <h2 ng-show="timescaleAppliedLists.pending == 'approved'" translate="global.menu.account.nameCnclApprovedList">
        Principal Application Approved List</h2>
    <br>
    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="stepApp.mpo.thead.institutename"> Institute Name</th>
                <th translate="stepApp.mpo.thead.instituteCode"> Institute Code</th>
                <th translate="stepApp.mpo.thead.applicantId"> Applicant ID</th>
                <th translate="stepApp.mpo.thead.applicantName"> Applicant Name</th>
                <th translate="stepApp.mpo.thead.upazilla"> Upazilla</th>
                <th translate="stepApp.mpo.thead.status"> Status</th>
                <td></td>
                <th translate="stepApp.mpo.thead.action"> Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="timescaleAppliedList in timescaleAppliedLists">
                <td>{{timescaleAppliedList.INST_NAME}}</td>
                <td>{{timescaleAppliedList.INST_CODE}}</td>
                <td>{{timescaleAppliedList.CODE}}</td>
                <td>{{timescaleAppliedList.NAME}}</td>
                <td>{{timescaleAppliedList.UPZILA_NAME}}</td>
                <td>{{timescaleAppliedLists.pending}}</td>
                <td></td>
                <td class="text-right no-print">
                    <button class="btn btn-default"
                            ui-sref="nameCnclApplicationDetails({id:timescaleAppliedList.NAMECNCL_ID}) ">
                        <span translate="stepApp.mpo.view">View</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
