<div class="col-md-12 common-table">
    <div class="col-md-12 no_padding" ng-show="!showApplicationButtion">
        <h2 class="header-margin" translate="stepApp.mpo.nameCancellationDetails">Name Cancellation Application
            Details </h2>
        <br>
        <div class="col-md-12 padding-bt">
            <button class="btn btn-primary alignright"
                    ui-sref="nameCnclAppApprove({appid: timescaleId,apAll:apAll})" ng-show="showApproveButton">
                Approve
            </button>
            <button class="btn btn-primary alignright" ui-sref="nameCnclDeny({appid: timescaleId,apAll:apAll})"
                    ng-show="showApproveButton">Decline
            </button>

        </div>

        <div class="tab-3">

            <tabset justified="true" class="dte-tab">

                <tab heading="{{'stepApp.mpo.Profile' | translate}}" select="profile()">
                    <div class="col-md-12 table-responsive no_padding">
                        <table class="table table-striped">

                            <tr>
                                <td class=""> {{'stepApp.employee.TrackID' | translate}}</td>
                                <td>{{employee.code}}</td>
                                <td class="">{{'stepApp.employee.nameEnglish' | translate}}</td>
                                <td>{{employee.name}}</td>
                            </tr>

                            <tr>
                                <td class=""> {{'stepApp.employee.fatherName' | translate}}</td>
                                <td>{{employee.fatherName}}</td>
                                <td class="">{{'stepApp.employee.motherName' | translate}}</td>
                                <td>{{employee.motherName}}</td>
                            </tr>

                            <tr>
                                <td class="">{{'stepApp.employee.email' | translate}}</td>
                                <td>{{employee.email}}</td>
                                <td class="">{{'stepApp.employee.gender' | translate}}</td>
                                <td>{{employee.gender}}</td>
                            </tr>

                            <tr>
                                <td class="">{{'stepApp.employee.dob' | translate}}</td>
                                <td>{{employee.dob}}</td>
                                <td class="">{{'stepApp.employee.registrationCertificateSubject' |
                                    translate}}
                                </td>
                                <td>{{employee.registeredCertificateSubject}}</td>
                            </tr>

                            <tr>
                                <td class="">{{'stepApp.employee.registrationExamYear' | translate}}
                                </td>
                                <td>{{employee.registrationExamYear}}</td>
                                <td class="">{{'stepApp.employee.registrationCetificateNo' |
                                    translate}}
                                </td>
                                <td>{{employee.registeredCertificateNo}}</td>
                            </tr>

                            <tr>
                                <td class="">{{'stepApp.employee.indexNo' | translate}}</td>
                                <td>{{employee.indexNo}}</td>
                                <td class="">{{'stepApp.employee.bankName' | translate}}</td>
                                <td>{{instEmplBankInfo.bankSetup.name}}</td>
                            </tr>

                            <tr>
                                <td class="">{{'stepApp.employee.bankBranch' | translate}}</td>
                                <td>{{instEmplBankInfo.bankBranc.brName}}</td>
                                <td class="">{{'stepApp.employee.bankAccountNo' | translate}}</td>
                                <td>{{instEmplBankInfo.bankAccountNo}}</td>
                            </tr>
                            <tr>
                                <td class="">{{'stepApp.employee.bloodGroup' | translate}}</td>
                                <td>{{employee.bloodGroup}}</td>
                                <td class="">{{'stepApp.employee.conPerMobile' | translate}}</td>
                                <td>{{employee.conPerMobile}}</td>
                            </tr>
                            <tr>
                                <td class="">{{'stepApp.employee.maritalStatus' | translate}}</td>
                                <td>{{employee.maritalStatus}}</td>
                                <td class="">{{'stepApp.employee.contactNo' | translate}}</td>
                                <td>{{employee.contactNo}}</td>

                            </tr>
                            <tr>
                                <td class="">{{'stepApp.employee.nationality' | translate}}</td>
                                <td>{{employee.nationality}}</td>
                                <td class="">{{'stepApp.employee.nid' | translate}}</td>
                                <td>{{employee.nid}}</td>
                            </tr>
                            <tr>
                                <td class="">{{'stepApp.employee.nidImage' | translate}}</td>
                                <td class="">
                                    <a href="javascript:void(0)"
                                       ng-click="previewImage(employee.nidImage, employee.nidImageContentType,'National Id image of '+employee.name)">{{employee.nidImageName}}</a>
                                </td>
                                <td class="">{{'stepApp.employee.birthCertNoImage' | translate}}</td>
                                <td class="">
                                    <a href="javascript:void(0)"
                                       ng-click="previewImage(employee.birthCertImage, employee.birthCertImageContentType,'Birth Certificate image of '+employee.name)"><span
                                        class="form-control-static">{{employee.birthCertNoName}}</span></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
                <tab heading="{{'stepApp.mpo.nameCnclApplication' | translate}}" select="training()">
                    <div class="col-md-12 table-responsive no_padding">
                        <table class="table  table-stripped">
                            <thead>
                            <tr>
                                <th translate="stepApp.nameCnclApplication.cause">Cause</th>
                                <!-- &lt;!&ndash;<th translate="stepApp.mpo.mpoEducation.subject">Subject</th>-->
                                <th translate="stepApp.nameCnclApplication.resignDate">Result</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{nameCnclApplication.cause}}</td>
                                <td>{{nameCnclApplication.resignDate |date}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
                <tab heading="{{'stepApp.mpo.Attachment' | translate}}" select="attachment()">
                    <div class="col-md-12 table-responsive no_padding">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th ng-click="order('name', reverse=!reverse)" translate="stepApp.attachment.name">
                                    Name
                                </th>
                                <th ng-click="order('remarks', reverse=!reverse)"
                                    translate="stepApp.attachment.remarks">
                                    Remarks
                                </th>
                                <th translate="stepApp.attachment.action">Action</th>
                            </tr>
                            </thead>
                            <tbody id="accordion"
                                   ng-repeat="attachment in attachments  | filter:filter | orderBy:predicate:reverse track by attachment.id">
                            <tr data-parent="#accordion" ng-click="displayAttachment(attachment)" data-toggle="collapse"
                                data-target="#{{attachment.id}}" aria-expanded="false"
                                aria-controls="{{attachment.id}}">
                                <!--<td><a ng-show="attachment.fileContentType">{{attachment.name}}</a></td>-->
                                <td><a href="javascript:void(0)"
                                       ng-click="previewImage(attachment.file, attachment.fileContentType,'Image of '+attachment.name)">{{attachment.name}}</a>
                                </td>
                                <td>{{attachment.remarks}}</td>
                                <td class="text-right"><a href="javascript:void(0)" class="btn btn-info"
                                                          ng-click="previewImage(attachment.file, attachment.fileContentType,'Image of '+attachment.name)"><span
                                    translate="entity.action.view"> View</span></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
                <tab ng-show="searchByTrackID" heading="Status">
                    <div class="panel panel-primary no_padding">
                        <h2><span
                            translate="stepApp.attachment.appStatus">Application Status of </span><b>
                            {{mpoApplicationlogs[0].mpoApplicationId.instEmployee.code}}</b></h2>
                        <div class="panel-body no_padding">
                            <div class="col-md-12 table-responsive no_padding">
                                <table class="table table-striped resume_main_">
                                    <thead>
                                    <tr>
                                        <th translate="stepApp.attachment.Status">Status</th>
                                        <th translate="stepApp.attachment.ActionDate">Action Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="mpoApplicationlog in mpoApplicationlogs">
                                        <td>{{mpoApplicationlog.remarks}}</td>
                                        <td>{{mpoApplicationlog.fromDate}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="col-md-12 text-right padding0 no-print">
            <button type="button" class="btn btn-primary" onclick="window.print()"><span class="glyphicon glyphicon-print"></span> Print</button>
        </div>
    </div>
</div>
