<div class="col-md-12 common-dialogue">
    <h4 class="panel-title" translate="stepApp.nameCnclApplication.applicationinfo">Application Information</h4>
    <ng-include src="'scripts/app/account/nameCancellation/name-cancellation-form.html'"></ng-include>
</div>



