
<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-heading" >
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    ng-click="clear()">&times;</button>
            <h4 class="modal-title" id="myDepartmentLabel" translate="stepApp.department.home.createOrEditLabel">Create or edit a Department</h4>
        </div>
        <div class="panel-body bg-panel">
            <jh-alert-error></jh-alert-error>

            <form  class="form-horizontal " name="editForm" role="form" novalidate ng-submit="save()" show-validation>




                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label  class="control-label" for="id" translate="global.field.id">ID</label>

                        <div class="input-margin">
                            <input type="text" class="form-control" id="id" name="id"
                                   ng-model="department.id" readonly />
                            </div>
                    </div>
                </div>



                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="control-label" translate="stepApp.department.name" for="field_name">Name</label>

                        <div class="input-margin">
                            <input type="text" class="form-control" name="name" id="field_name"  ng-model="department.name" required />
                            <div ng-show="editForm.name.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.name.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="" class="control-label" translate="stepApp.department.description" for="field_description">Description</label>

                        <div class="input-margin">
                            <textarea  rows="2" cols="30"name="description" id="field_description"  ng-model="department.description" required ></textarea>
                            <div ng-show="editForm.description.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.description.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="form-group">
                        <div class="right-side">
                            <button type="button" class="btn btn-default" class="btn " data-dismiss="modal" ng-click="clear()">
                                <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                                <i class="fa fa-hdd-o"></i>&nbsp;<span translate="entity.action.save">Save</span>
                            </button>
                        </div>
                    </div>
                </div>


              </form>


        </div>
    </div>
</div>
