<!--sms service departments--->

<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-heading" translate="stepApp.department.home.title">Departments</div>
        <div class="panel-body bg-panel">


            <div class=" col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group">

                    <form name="searchForm" class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="search">
                        </div>
                        <button class="btn btn-primary" ng-click="search()"><i class="fa fa-search-plus"></i>

                        </button>
                    </form>
                    <button class="btn btn-primary" ui-sref="department.new">
                        <span class="glyphicon glyphicon-flash"></span> <span ranslate="stepApp.department.home.createLabel"">Add New</span>
                    </button>

                </div>
            </div>

            <div class=" col-md-12 col-sm-12 col-xs-12 ">
                <div class="table-responsive">
                    <table class="table table-head-bg">
                        <thead>
                        <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                            <th jh-sort-by="id"><span translate="global.field.id">ID</span></th>
                            <th jh-sort-by="name"><span translate="stepApp.department.name">Name</span> </th>
                            <th jh-sort-by="description"><span translate="stepApp.department.description">Description</span> </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="employee-list table-body-bg">



                        <tr ng-repeat="department in departments track by department.id">
                            <td><a ui-sref="department.detail({id:department.id})">{{department.id}}</a></td>
                            <td>{{department.name}}</td>
                            <td>{{department.description}}</td>

                            <td>
                                <button type="submit" class="btn btn-xs btn-primary pull-right"     ui-sref="department.detail({id:department.id})" ><i class="fa fa-eye-slash"></i>

                                    <span translate="entity.action.view"> View</span>
                                </button>
                                <button type="submit" class="btn btn-xs btn-primary pull-right"  ui-sref="department.edit({id:department.id})"><i class="fa fa-pencil"></i>
                                    <span translate="entity.action.edit"> Edit</span>
                                </button>
                                <button  type="submit" class="btn btn-xs btn-primary pull-right" ui-sref="department.delete({id:department.id})" >
                                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                                </button>
                            </td>
                        </tr>

                        </tbody>



                    </table>
                </div>
                <div class="text-center">
                    <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
                </div>
            </div>


        </div>
    </div>
</div>
