<div class="col-md-12 common-list">
    <h2 translate="stepApp.dlBookIssue.reqList">Requisition List for issue</h2>
    <div class="col-sm-12 padding-tb">
        <div class="col-md-4 no_padding">
            <div class="input-group">
                <span class="input-group-addon dlbtn" id="basic-addon1"><i class="fa fa-search"></i></span>
                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
        </div>
    <!--    <div class="col-md-4 text-right no_padding">
            <button class="btn btn-primary dlbtn dlbtn-top" ui-sref="libraryInfo.dlBookIssue.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.dlBookIssue.home.createLabel">Create a new DlBookIssue</span>
            </button>
        </div>-->
    </div>
    <!--<div class="col-sm-12 padding-bt no_padding">
        <div class="col-md-6 no_padding">
            <form name="searchForm" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" >
                </div>
                <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span>
                </button>
            </form>
        </div>
        <div class="col-md-6 text-right no_padding">
            <button class="btn btn-primary" ui-sref="libraryInfo.dlBookIssue.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.dlBookIssue.home.createLabel">Create a new DlBookIssue</span>
            </button>
        </div>
    </div>-->
    <br>
    <div class=" col-sm-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.id">ID</th>
                <th translate="stepApp.dlBookIssue.isbnNo">IsbnNo</th><!--
                    <th translate="stepApp.dlBookIssue.noOfCopies">NoOfCopies</th>
                    <th translate="stepApp.dlBookIssue.returnDate">ReturnDate</th>
                    <th translate="stepApp.dlBookIssue.createdDate">CreatedDate</th>
                    <th translate="stepApp.dlBookIssue.updatedDate">UpdatedDate</th>
                    <th translate="stepApp.dlBookIssue.createdBy">CreatedBy</th>
                    <th translate="stepApp.dlBookIssue.updatedBy">UpdatedBy</th>
                    <th translate="stepApp.dlBookIssue.status">Status</th>
                    <th translate="stepApp.dlBookIssue.instEmployeeCode">instEmployee</th>-->
                <th translate="stepApp.dlBookIssue.dlContTypeSet">dlContTypeSet</th>
                <th translate="stepApp.dlBookIssue.dlContCatSet">dlContCatSet</th>
                <th translate="stepApp.dlBookIssue.dlContSCatSet">dlContSCatSet</th>
                <!--
                                <th translate="stepApp.dlBookIssue.DlBookReturn">DlBookReturn</th>
                -->
                <th translate="stepApp.dlBookIssue.pStatus">PStatus</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="dlBookIssue in dlRequisitionsbyUser | filter:q | itemsPerPage: pageSize"
                current-page="currentPage">
                <td><a ui-sref="dlBookIssue.detail({id:dlBookIssue.id})">{{dlBookIssue.id}}</a></td>
                <td>{{dlBookIssue.isbnNo}}</td><!--
                    <td>{{dlBookIssue.noOfCopies}}</td>
                        <td>{{dlBookIssue.returnDate | date:'mediumDate'}}</td>
                        <td>{{dlBookIssue.createdDate | date:'mediumDate'}}</td>
                        <td>{{dlBookIssue.updatedDate | date:'mediumDate'}}</td>
                    <td>{{dlBookIssue.createdBy}}</td>
                    <td>{{dlBookIssue.updatedBy}}</td>
                    <td>{{dlBookIssue.status}}</td>
                    <td>
                        <a ui-sref="instEmployee.detail({id:dlBookIssue.instEmployee.id})">{{dlBookIssue.instEmployeeCode}}</a>
                    </td>-->
                <td>
                    <a ui-sref="dlContTypeSet.detail({id:dlBookIssue.dlContTypeSet.id})">{{dlBookIssue.dlContTypeSet.name}}</a>
                </td>
                <td>
                    <a ui-sref="dlContCatSet.detail({id:dlBookIssue.dlContCatSet.id})">{{dlBookIssue.dlContCatSet.name}}</a>
                </td>
                <td>
                    <a ui-sref="dlContSCatSet.detail({id:dlBookIssue.dlContSCatSet.id})">{{dlBookIssue.dlContSCatSet.name}}</a>
                </td>
                <!-- <td>
                     <a ui-sref="DlBookReturn.detail({id:dlBookIssue.dlBookReturn.id})">{{dlBookIssue.dlBookReturn.issueId}}</a>
                 </td>-->
                <td><span ng-show="dlBookIssue.pStatus==true">Active</span>
                    <span ng-show="dlBookIssue.pStatus==false">Inactive</span>
                    <!--{{dlContCatSet.pStatus}}-->
                </td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="libraryInfo.dlBookIssue.detail({id:dlBookIssue.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="libraryInfo.dlRequisitionByUser.Approve({id:dlBookIssue.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="stepApp.dlBookIssue.issue"> Edit</span>
                    </button>
                    <!--<button type="submit"-->
                            <!--ui-sref="libraryInfo.dlBookIssue.delete({id:dlBookIssue.id})"-->
                            <!--class="btn btn-danger btn-sm">-->
                        <!--<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span-->
                        <!--translate="entity.action.delete"> Delete</span>-->
                    <!--</button>-->
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>

        </nav>
    </div>
</div>
