<div>
    <div class="row">
        <div class="col-md-12">
            <div id="loginbox" class="mainbox main-logo  col-md-4 col-md-offset-4">
                <img  src=" ./assets/images/logo1.png" alt=""/>
                <div class="panel panel-primary panel-pprimary main-login">
                        <div class="heading-2" translate="login.title">Sign in</div>
                    <div class="panel-body no_padding">
                    <span class="col-sm-12 login-error" ng-show="authenticationError"
                          translate="login.messages.error.authentication">
                       <!-- Failed to sign in! Please check your credentials and try again.-->
                        Username or password is incorrect!
                    </span>
                        <div class="clear-fix"></div>
                        <div class="col-sm-12 no_padding">
                            <form role="form" ng-submit="login($event)" novalidate show-validation
                                  class="form-horizontal">

                                <div style="margin-bottom: 25px" class="input-group">

                                    <input type="text" class="form-control" id="username"
                                           placeholder="{{'global.form.username.placeholder' | translate}}"
                                           ng-model="username">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                </div>

                                <div class="clear-fix"></div>

                                <div style="margin-bottom: 25px" class="input-group">

                                    <input type="password" class="form-control" id="password"
                                           placeholder="{{'login.form.password.placeholder' | translate}}"
                                           ng-model="password">
                                    <span class="input-group-addon" title="Password"><i class="fa fa-key"></i></span>
                                </div>

                                <div class="clear-fix"></div>

                                <!--<div class="input-group">
                                    <div class="checkbox">
                                        <label>
                                            <input id="login-remember" type="checkbox" name="remember" value="1"> <span
                                            translate="login.form.rememberme">Remember me</span>
                                        </label>
                                    </div>
                                </div>-->
                                <div class="clear-fix"></div>
                                <div style="margin-top:10px" class="form-group">
                                    <div class="col-sm-12 controls text-center">
                                        <button type="submit" class="btn btn-primary col-sm-12"
                                                translate="login.form.button">Sign in
                                        </button>
                                    </div>
                                </div>
                                <div class="clear-fix"></div>
                                <!--<div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid #DDD; padding-top:5px; font-size:85%;">
                                            &lt;!&ndash; <span translate="login.form.notRegistered">Not a member</span>&ndash;&gt;
                                            &lt;!&ndash;<a class="alert-link" href="#/register" translate="login.form.joinNow">Join
                                                Now</a>&ndash;&gt;

                                            &lt;!&ndash;<span translate="login.form.forgetpass">Forget Password ?</span>&ndash;&gt;
                                            <a class="alert-link pull-right" href="#/reset/request"
                                               translate="login.form.forgetpass">Forget Password ?</a>
                                        </div>
                                    </div>
                                </div>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


