<div class="col-md-12 common-list">
<h2 translate="stepApp.sisStudentReg.home.title">SisStudentRegs</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-md-4 no_padding">

            <div class="input-group">
                <span class="input-group-addon dlbtn" id="basic-addon1"><i class="fa fa-search"></i></span>
                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
        </div>
        <div class="col-md-4 text-right no_padding">
            <button class="btn btn-primary" ui-sref="sisStudentReg.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.sisStudentReg.home.createLabel">Create a new SisStudentReg</span>
            </button>
        </div>
    </div>
    <div class="modal fade" id="deleteSisStudentRegConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(sisStudentReg.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.sisStudentReg.delete.question"
                           translate-values="{id: '{{sisStudentReg.id}}'}">Are you sure you want to delete this
                            SisStudentReg?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.serial">Serial</th>
                <th translate="global.field.id">ID</th>
                <th translate="stepApp.sisStudentReg.applicationId">ApplicationId</th>
                <th translate="stepApp.sisStudentReg.instCategory">InstCategory</th>
                <th translate="stepApp.sisStudentReg.instituteName">InstituteName</th>
                <th translate="stepApp.sisStudentReg.curriculum">Curriculum</th>
                <th translate="stepApp.sisStudentReg.studentName">StudentName</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'" dir-paginate="sisStudentReg in sisStudentRegs | filter:q | itemsPerPage: pageSize track by sisStudentReg.id" current-page="currentPage">
                <td>{{pageSize*(currentPage-1)+$index+1}}</td>
                <td><a ui-sref="sisStudentReg.detail({id:sisStudentReg.id})">{{sisStudentReg.id}}</a></td>
                <td>{{sisStudentReg.applicationId}}</td>
                <td>{{sisStudentReg.instCategory}}</td>
                <td>{{sisStudentReg.instituteName}}</td>
                <td>
                    <a class="form-control-static" ui-sref="CmsCurriculum.detail({id:sisStudentReg.curriculumId.id})">{{sisStudentReg.curriculumId.cmsCurriculum.name}}</a>
                </td>
                <td>{{sisStudentReg.studentName}}</td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="sisStudentReg.detail({id:sisStudentReg.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="sisStudentReg.edit({id:sisStudentReg.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(sisStudentReg.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
