<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySisStudentRegLabel" translate="stepApp.sisStudentReg.home.createOrEditLabel">
            Create or edit a SisStudentReg</h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <label for="id" translate="stepApp.sisStudentReg.code">code</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="code" name="code"
                           ng-model="sisStudentReg.code"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                ng-click="instituteSearch(sisStudentReg.code)">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;<span>Search</span>
                    </button>
                    </span>
                </div>
            </div>
            <div hidden class="col-sm-4">
                <div class="form-group">
                    <input type="number" class="form-control" id="instId" name="instituteId"
                           ng-model="sisStudentReg.instituteId" readonly/>
                </div>
            </div>
            <div hidden class="col-sm-4">
                <div class="form-group">
                    <label for="id" translate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           ng-model="sisStudentReg.id" readonly/>
                </div>
            </div>
            <div hidden class="col-sm-4">
                <div class="form-group">
                    <label translate="stepApp.sisStudentReg.applicationId"
                           for="field_applicationId">ApplicationId</label>
                    <input type="text" class="form-control" name="applicationId" id="field_applicationId"
                           ng-model="sisStudentReg.applicationId"
                           readonly/>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label translate="stepApp.sisStudentReg.instCategory" for="field_instCategory">InstCategory</label>
                    <input type="text" class="form-control" name="instCategory" id="field_instCategory"
                           ng-model="sisStudentReg.instCategory" readonly
                           required/>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label translate="stepApp.sisStudentReg.instituteName"
                           for="field_instituteName">InstituteName</label>
                    <input type="text" class="form-control" name="instituteName" id="field_instituteName"
                           ng-model="sisStudentReg.instituteName" readonly
                           required/>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label translate="stepApp.sisStudentReg.studentName" for="field_studentName">StudentName</label>
                    <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="studentName" id="field_studentName"
                           ng-model="sisStudentReg.studentName" ng-change="AllowedStudent()"
                        required/>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label translate="stepApp.sisStudentReg.fatherName" for="field_fatherName">FatherName</label>
                    <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="fatherName" id="field_fatherName"
                           ng-model="sisStudentReg.fatherName"
                           required/>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label translate="stepApp.sisStudentReg.motherName" for="field_motherName">MotherName</label>
                    <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="motherName" id="field_motherName"
                           ng-model="sisStudentReg.motherName"
                           required/>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label translate="stepApp.sisStudentReg.dateOfBirth" for="field_dateOfBirth">DateOfBirth</label>

                    <div class="input-margin">
                        <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.dateOfBirth"
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'dateOfBirth')" class="form-control" name="dateOfBirth"
                               id="field_dateOfBirth"
                               ng-model="sisStudentReg.dateOfBirth"
                               required/>

                        <div ng-show="editForm.dateOfBirth.$invalid">
                            <p class="help-block"
                               ng-show="editForm.dateOfBirth.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label translate="stepApp.sisStudentReg.mobileNo" for="field_mobileNo">MobileNo</label>
                    <input only-numbers type="text" class="form-control" name="mobileNo" id="field_mobileNo"
                           ng-model="sisStudentReg.mobileNo"
                           ng-remote-method="GET"
                           ng-remote-throttle="500"
                           ng-minlength=11 ng-maxlength=11
                           placeholder="{{'stepApp.sisStudentReg.mobileNo' | translate}}"
                           required/>
                    <span class="message validating" ng-show="editForm.mobile.$pending">Validating...</span>

                    <div ng-show="editForm.mobileNo.$invalid">
                        <p style="color:darkgreen"
                           ng-show="editForm.mobileNo.$error.ngRemoteValidate">
                            This area number already exist!
                        </p>
                        <p class="help-block"
                           ng-show="editForm.mobileNo.$error.required && editForm.mobileNo.$dirty"
                           translate="entity.validation.required">
                            This field is required.
                        </p>

                        <p class="help-block"
                           ng-show="editForm.mobileNo.$error.minlength" translate="entity.validation.minlength"
                           translate-value-min="11">
                            This field is required to be at least 11 characters.
                        </p>
                    </div>
                    <div ng-show="editForm.mobileNo.$invalid">
                        <p class="help-block"
                           ng-show="editForm.mobileNo.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label translate="stepApp.sisStudentReg.contactNoHome"
                           for="field_contactNoHome">ContactNoHome</label>
                    <input only-numbers type="text" class="form-control" name="contactNoHome" id="field_contactNoHome"
                           ng-model="sisStudentReg.contactNoHome"
                        />
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label translate="stepApp.sisStudentReg.emailAddress" for="field_emailAddress">EmailAddress</label>
                    <input type="email" class="form-control" name="emailAddress" id="field_emailAddress"
                           ng-model="sisStudentReg.emailAddress"
                           required/>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label translate="stepApp.sisStudentReg.gender" for="field_gender">gender</label>
                <select class="form-control" id="field_gender" name="genderInfo" ng-model="sisStudentReg.genderInfo"
                        tooltip="{{'stepApp.sisStudentReg.gender' | translate}}"
                        ng-options="GenderInfo as GenderInfo.name for GenderInfo in genderInfos | orderBy:'id' track by GenderInfo.id"
                        required>
                    <option value="" translate="stepApp.sisStudentReg.gender"></option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label translate="stepApp.sisStudentReg.religionId" for="field_religionId">religionId</label>
                <select class="form-control" id="field_religionId" name="religionId" ng-model="sisStudentReg.religionId"
                        tooltip="{{'stepApp.sisStudentReg.religionId' | translate}}"
                        ng-options="Religion as Religion.name for Religion in religions | orderBy:'id' track by Religion.id">
                    <option value="" translate="stepApp.sisStudentReg.religionId"></option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label translate="stepApp.sisStudentReg.bloodGroup" for="field_bloodGroupId">bloodGroup</label>
                <select class="form-control" id="field_bloodGroupId" name="bloodGroupId"
                        ng-model="sisStudentReg.bloodGroupId"
                        tooltip="{{'stepApp.sisStudentReg.bloodGroup' | translate}}"
                        ng-options="BloodGroupInfo as BloodGroupInfo.name for BloodGroupInfo in bloodGroupInfos | orderBy:'id' track by BloodGroupInfo.id"
                        required>
                    <option value="" translate="stepApp.sisStudentReg.bloodGroup"></option>
                </select>
            </div>


            <div class="form-group col-md-6">
                <label translate="stepApp.sisStudentReg.maritalStatus" for="field_maritalStatus">maritalStatus</label>
                <select class="form-control" id="field_maritalStatus" name="maritalStatus"
                        ng-model="sisStudentReg.maritalStatus"
                        tooltip="{{'stepApp.sisStudentReg.maritalStatus' | translate}}"
                        ng-options="maritalInfo as maritalInfo.name for maritalInfo in maritalInfos | orderBy:'id' track by maritalInfo.id"
                        required>
                    <option value="" translate="stepApp.sisStudentReg.maritalStatus"></option>
                </select>
            </div>

            <div class="col-md-12 no_padding">

                <div class="form-group col-md-6">
                    <label translate="stepApp.sisStudentReg.quota" for="field_quota">quota</label>
                    <select class="form-control" id="field_quota" name="quota" ng-model="sisStudentReg.quota"
                            tooltip="{{'stepApp.sisStudentReg.quota' | translate}}"
                            ng-options="quota as quota.name for quota in quotas | orderBy:'id' track by quota.id">
                        <option value="" translate="stepApp.sisStudentReg.quota"></option>
                    </select>
                </div>

                <!--<div class="form-group col-md-6">
                    <label translate="stepApp.sisStudentReg.shiftId" for="field_shiftId">shift</label>
                    <select class="form-control" id="field_shiftId" name="shiftId" ng-model="sisStudentReg.shiftId"
                            tooltip="{{'stepApp.sisStudentReg.shiftId' | translate}}"
                            ng-options="AlmShiftSetup as AlmShiftSetup.shiftName for AlmShiftSetup in almshiftsetups | orderBy:'id' track by AlmShiftSetup.id" required>
                        <option value=""></option>
                    </select>
                </div>-->

                <div class="form-group col-md-6">
                    <label translate="stepApp.sisStudentReg.shiftId" for="field_shiftId">shift</label>
                    <select class="form-control" id="field_shiftId" name="shiftId" ng-model="sisStudentReg.shiftId"
                            tooltip="{{'stepApp.sisStudentReg.shiftId' | translate}}"
                            ng-options="MiscTypeSetupByCategory as MiscTypeSetupByCategory.typeName for MiscTypeSetupByCategory in miscTypeSetupByCategorys | orderBy:'id' track by MiscTypeSetupByCategory.id" required>
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label translate="stepApp.sisStudentReg.sectionId" for="field_sectionId">shift</label>
                    <select class="form-control" id="field_sectionId" name="sectionId" ng-model="sisStudentReg.sectionId"
                            tooltip="{{'stepApp.sisStudentReg.sectionId' | translate}}"
                            ng-options="MiscTypeSetupByCategory as MiscTypeSetupByCategory.typeName for MiscTypeSetupByCategory in miscTypeSetupByCategoryss | orderBy:'id' track by MiscTypeSetupByCategory.id" required>
                        <option value=""></option>
                    </select>
                </div>


                <div class="form-group col-md-6">
                    <label translate="stepApp.sisStudentReg.curriculum" for="field_curriculum">curriculumId</label>
                    <select class="form-control" id="field_curriculum" name="curriculumId"
                            ng-model="sisStudentReg.curriculumId"
                            tooltip="{{'stepApp.sisStudentReg.curriculum' | translate}}"
                            ng-options="iisCurriculum as iisCurriculum.cmsCurriculum.name for iisCurriculum in iisCurriculums | orderBy:'id' track by iisCurriculum.id"
                            ng-change="curriculumTrade(sisStudentReg.curriculumId)" required>
                        <option value="" translate="stepApp.sisStudentReg.curriculum"></option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label translate="stepApp.sisStudentReg.tradeId" for="field_tradeId">tradeId</label>
                    <select class="form-control" id="field_tradeId" name="tradeId" ng-model="sisStudentReg.tradeId"
                            tooltip="{{'stepApp.sisStudentReg.tradeId' | translate}}"
                            ng-options="CmsTrade as CmsTrade.name for CmsTrade in trades | orderBy:'id' track by CmsTrade.id" ng-change="subjectInfo(sisStudentReg.tradeId)" required>
                        <option value="" translate="stepApp.sisStudentReg.tradeId"></option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label translate="stepApp.sisStudentReg.semester" for="field_semester">semester</label>
                    <select class="form-control" id="field_semester" name="semester" ng-model="sisStudentReg.semester"
                            tooltip="{{'stepApp.sisStudentReg.semester' | translate}}"
                            ng-options="cmsSemester as cmsSemester.name for cmsSemester in cmsSemesters | orderBy:'id' track by cmsSemester.id" required>
                        <option value="" translate="stepApp.sisStudentReg.semester"></option>
                    </select>
                </div>

            </div>
            <div class="col-md-12 no_padding">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentReg.subject1" for="field_subject1">Subject1</label>
                        <select class="form-control" id="field_subject1" name="subject1" ng-model="sisStudentReg.subject1"
                                tooltip="{{'stepApp.sisStudentReg.subject1' | translate}}"
                                ng-options="allSubject as allSubject.cmsSubject.name for allSubject in allSubjects | orderBy:'id' track by allSubject.id" required>
                            <option value="" translate="stepApp.sisStudentReg.subject1"></option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentReg.subject2" for="field_subject2">Subject2</label>
                        <select class="form-control" id="field_subject2" name="subject2" ng-model="sisStudentReg.subject2"
                                tooltip="{{'stepApp.sisStudentReg.subject2' | translate}}"
                                ng-options="allSubject as allSubject.cmsSubject.name for allSubject in allSubjects | orderBy:'id' track by allSubject.id" required>
                            <option value="" translate="stepApp.sisStudentReg.subject2"></option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentReg.subject3" for="field_subject3">Subject3</label>
                        <select class="form-control" id="field_subject3" name="subject3" ng-model="sisStudentReg.subject3"
                                tooltip="{{'stepApp.sisStudentReg.subject3' | translate}}"
                                ng-options="allSubject as allSubject.cmsSubject.name for allSubject in allSubjects | orderBy:'id' track by allSubject.id" required>
                            <option value="" translate="stepApp.sisStudentReg.subject3"></option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentReg.subject4" for="field_subject4">Subject4</label>
                        <select class="form-control" id="field_subject4" name="subject4" ng-model="sisStudentReg.subject4"
                                tooltip="{{'stepApp.sisStudentReg.subject4' | translate}}"
                                ng-options="allSubject as allSubject.cmsSubject.name for allSubject in allSubjects | orderBy:'id' track by allSubject.id" required>
                            <option value="" translate="stepApp.sisStudentReg.subject4"></option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentReg.subject5" for="field_subject5">Subject5</label>
                        <select class="form-control" id="field_subject5" name="subject5" ng-model="sisStudentReg.subject5"
                                tooltip="{{'stepApp.sisStudentReg.subject5' | translate}}"
                                ng-options="allSubject as allSubject.cmsSubject.name for allSubject in allSubjects | orderBy:'id' track by allSubject.id" required>
                            <option value="" translate="stepApp.sisStudentReg.subject5"></option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentReg.optional" for="field_optional">Optional</label>
                        <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="optional" id="field_optional"
                               ng-model="sisStudentReg.optional"
                               required/>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label translate="stepApp.sisStudentReg.nationality" for="field_nationality">Nationality</label>
                    <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="nationality" id="field_nationality"
                           ng-model="sisStudentReg.nationality"
                           required/>
                </div>
            </div>
            <div class="col-md-12 no_padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentReg.presentAddress" for="field_presentAddress">PresentAddress</label>
                        <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="presentAddress" id="field_presentAddress"
                               ng-model="sisStudentReg.presentAddress"
                               required/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentReg.divisionPresent" for="field_divisionPresent">divisionPresent</label>
                        <select class="form-control" id="field_divisionPresent" name="divisionPresent"
                                ng-model="sisStudentReg.divisionPresent"
                                ng-options="Division as Division.name for Division in divisions track by Division.id"
                                ng-change="DistrictQuery(sisStudentReg.divisionPresent)" required>
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentReg.districtPresent" for="field_districtPresent">districtPresent</label>
                        <select class="form-control" id="field_districtPresent" name="districtPresent"
                                ng-model="sisStudentReg.districtPresent"
                                ng-options="District as District.name for District in districts track by District.id"
                                ng-change="LoadUpazila(sisStudentReg.districtPresent)" required>
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentReg.thanaUpozila" for="field_thanaUpozila">Thana
                            Upozila</label>
                        <select class="form-control" id="field_thanaUpozila" name="thanaUpozila"
                                ng-model="sisStudentReg.thanaUpozila"
                                ng-options="Upazila as Upazila.name for Upazila in Upazilas track by Upazila.id" required>
                            <option value=""></option>
                        </select>
                    </div>
                </div>


            </div>
            <div class="col-md-12 no_padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentReg.permanentAddress" for="field_permanentAddress">PermanentAddress</label>
                        <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="permanentAddress" id="field_permanentAddress"
                               ng-model="sisStudentReg.permanentAddress"
                               required/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentReg.divisionPermanent" for="field_divisionPermanent">Division
                            Permanent</label>
                        <select class="form-control" id="field_divisionPermanent" name="divisionPermanent"
                                ng-model="sisStudentReg.divisionPermanent"
                                ng-options="Division as Division.name for Division in divisions track by Division.id"
                                ng-change="DistrictPermanent(sisStudentReg.divisionPermanent)" required>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentReg.districtPermanent" for="field_districtPermanent">District
                            Permanent</label>
                        <select class="form-control" id="field_districtPermanent" name="districtPermanent"
                                ng-model="sisStudentReg.districtPermanent"
                                ng-options="District as District.name for District in districtions track by District.id"
                                ng-change="LoadPerUpazila(sisStudentReg.districtPermanent)" required>
                            <option value=""></option>
                        </select>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentReg.thanaUpozilaPer" for="field_thanaUpozilaPer">Thana
                            Upozila</label>
                        <select class="form-control" id="field_thanaUpozilaPer" name="thanaUpozilaPer"
                                ng-model="sisStudentReg.thanaUpozilaPer"
                                ng-options="Upazila as Upazila.name for Upazila in UpazilaPer track by Upazila.id" required>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label translate="stepApp.sisStudentReg.activeStatus" for="field_activeStatus">ActiveStatus</label>
                    <input type="checkbox" class="form-control" name="activeStatus" id="field_activeStatus"
                           ng-model="sisStudentReg.activeStatus"
                        />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
