<div class="col-md-12 lbl-dash">
    <div class="col-md-12 common-table">
        <h2><span translate="stepApp.sisStudentReg.detail.title">SisStudentReg</span></h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.sisStudentReg.applicationId">ApplicationId</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.applicationId}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.sisStudentReg.instCategory">InstCategory</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.instCategory}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.sisStudentReg.instituteName">InstituteName</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.instituteName}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.sisStudentReg.curriculum">Curriculum</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="CmsCurriculum.detail({id:sisStudentReg.curriculumId.id})">{{sisStudentReg.curriculumId.cmsCurriculum.name}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.sisStudentReg.tradeId">tradeId</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="CmsTrade.detail({id:sisStudentReg.tradeId.id})">{{sisStudentReg.tradeId.name}}</a>
                    </td>

                    <td>
                        <span translate="stepApp.sisStudentReg.subject1">Subject1</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="CmsSubject.detail({id:sisStudentReg.subject1.cmsSubject.id})">{{sisStudentReg.subject1.cmsSubject.name}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.sisStudentReg.subject2">Subject2</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="CmsSubject.detail({id:sisStudentReg.subject2.cmsSubject.id})">{{sisStudentReg.subject2.cmsSubject.name}}</a>
                    </td>

                    <td>
                        <span translate="stepApp.sisStudentReg.subject3">Subject3</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="CmsSubject.detail({id:sisStudentReg.subject3.cmsSubject.id})">{{sisStudentReg.subject3.cmsSubject.name}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.sisStudentReg.subject4">Subject4</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="CmsSubject.detail({id:sisStudentReg.subject4.cmsSubject.id})">{{sisStudentReg.subject4.cmsSubject.name}}</a>
                    </td>

                    <td>
                        <span translate="stepApp.sisStudentReg.subject5">Subject5</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="CmsSubject.detail({id:sisStudentReg.subject5.cmsSubject.id})">{{sisStudentReg.subject5.cmsSubject.name}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.sisStudentReg.optional">Optional</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.optional}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.sisStudentReg.shiftId">Shift</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="MiscTypeSetupByCategory.detail({id:sisStudentReg.shiftId.id})">{{sisStudentReg.shiftId.typeName}}</a>
                    </td>
                </tr>
                <tr>

                    <td>
                        <span translate="stepApp.sisStudentReg.sectionId">Section</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="MiscTypeSetupByCategory.detail({id:sisStudentReg.sectionId.id})">{{sisStudentReg.sectionId.typeName}}</a>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.sisStudentReg.semester">Semester</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="CmsSemester.detail({id:sisStudentReg.semester.id})">{{sisStudentReg.semester.name}}</a>
                    </td>

                    <td>
                        <span translate="stepApp.sisStudentReg.studentName">StudentName</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.studentName}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.sisStudentReg.fatherName">FatherName</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.fatherName}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.sisStudentReg.motherName">MotherName</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.motherName}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.sisStudentReg.dateOfBirth">DateOfBirth</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.dateOfBirth}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.sisStudentReg.gender">Gender</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="GenderInfo.detail({id:sisStudentReg.genderInfo.id})">{{sisStudentReg.genderInfo.name}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.sisStudentReg.religionId">Religion</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="Religion.detail({id:sisStudentReg.religionId.id})">{{sisStudentReg.religionId.name}}</a>
                    </td>

                    <td>
                        <span translate="stepApp.sisStudentReg.bloodGroup">BloodGroup</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="BloodGroupInfo.detail({id:sisStudentReg.bloodGroupId.id})">{{sisStudentReg.bloodGroupId.name}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.sisStudentReg.quota">Quota</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="SisQuota.detail({id:sisStudentReg.quota.id})">{{sisStudentReg.quota.name}}</a>
                    </td>

                    <td>
                        <span translate="stepApp.sisStudentReg.nationality">Nationality</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.nationality}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.sisStudentReg.mobileNo">MobileNo</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.mobileNo}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.sisStudentReg.contactNoHome">ContactNoHome</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.contactNoHome}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.sisStudentReg.emailAddress">EmailAddress</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.emailAddress}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.sisStudentReg.presentAddress">PresentAddress</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.presentAddress}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.sisStudentReg.permanentAddress">PermanentAddress</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.permanentAddress}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.sisStudentReg.activeStatus">ActiveStatus</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.activeStatus}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.sisStudentReg.createDate">CreateDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.createDate | date:'mediumDate'}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.sisStudentReg.createBy">CreateBy</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.createBy}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.sisStudentReg.updateDate">UpdateDate</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.updateDate | date:'mediumDate'}}</span>
                    </td>

                    <td>
                        <span translate="stepApp.sisStudentReg.updateBy">UpdateBy</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{sisStudentReg.updateBy}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.sisStudentReg.maritalStatus">MaritalStatus</span>
                    </td>
                    <td>
                        <a class="form-control-static" ui-sref="MaritalInfo.detail({id:sisStudentReg.maritalStatus.id})">{{sisStudentReg.maritalStatus.name}}</a>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <button type="submit"
                onclick="window.history.back()"
                class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
        </button>
    </div>
</div>
