
<div class="common-table">
    <h2><span translate="stepApp.pfmsEmpMembershipForm.detail.title">PfmsEmpMembershipForm</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="HrEmployeeInfo.detail({id:pfmsEmpMembershipForm.employeeInfo.id})">{{pfmsEmpMembershipForm.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.employeeStatusPfms">employeeStatusPfms</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.employeeStatusPfms}}</span>
                </td>
            </tr>
            <tr ng-show='pfmsEmpMembershipForm.employeeStatusPfms == "Temporary"'>
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.isMinimumThreeYrs">IsMinimumThreeYrs</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.isMinimumThreeYrs ? 'Yes': 'No'}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.isMandatoryContribute">IsMandatoryContribute</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.isMandatoryContribute ? 'Mandatory': 'Willingly'}}</span>
                </td>
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.accountNo">Account Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.accountNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.departmentName">departmentName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.employeeInfo.departmentInfo.departmentInfo.departmentName}}</span>
                </td>
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.designationName">designationName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.employeeInfo.designationInfo.designationInfo.designationName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.fatherName">fatherName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.employeeInfo.fatherName}}</span>
                </td>
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.nationality">nationality</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.employeeInfo.nationality}}</span>
                </td>
            </tr>
            <tr ng-if="pfmsEmpMembershipForm.employeeInfo.workArea.typeName">
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.dutySide">dutySide</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.employeeInfo.workArea.typeName}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.isAnotherContFund">IsAnotherContFund</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.isAnotherContFund ? 'Yes': 'No'}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-if="pfmsEmpMembershipForm.fundName">
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.fundName">FundName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.fundName}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.isEmpFamily">IsEmpFamily</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.isEmpFamily ? 'Yes': 'No'}}</span>
                </td>
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.percentOfDeduct">PercentOfDeduct</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.percentOfDeduct}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.isMoneySection">IsMoneySection</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.isMoneySection ? 'Money section' : 'Staling section '}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-show="pfmsEmpMembershipForm.isEmpFamily">
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.nomineeName">NomineeName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.nomineeName}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.ageOfNominee">AgeOfNominee</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.ageOfNominee}}</span>
                </td>
            </tr>
            <tr ng-show="pfmsEmpMembershipForm.isEmpFamily">
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.relationship">relationship</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="Relationship.detail({id:pfmsEmpMembershipForm.relationship.id})">{{pfmsEmpMembershipForm.relationship.name}}</a>
                </td>

                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.nomineeAddress">NomineeAddress</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.nomineeAddress}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.witnessNameOne">WitnessNameOne</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.witnessNameOne}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.witnessMobileNoOne">WitnessMobileNoOne</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.witnessMobileNoOne}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.witnessAddressOne">WitnessAddressOne</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.witnessAddressOne}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.witnessNameTwo">WitnessNameTwo</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.witnessNameTwo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.witnessMobileNoTwo">WitnessMobileNoTwo</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.witnessMobileNoTwo}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.witnessAddressTwo">WitnessAddressTwo</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.witnessAddressTwo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.stationName">StationName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.stationName}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.applicationDate">ApplicationDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.applicationDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.remarks">Remarks</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.remarks}}</span>
                </td>

                <td>
                    <span translate="stepApp.pfmsEmpMembershipForm.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{pfmsEmpMembershipForm.activeStatus ? 'Yes' : 'No'}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
