<div class="col-md-2 padding-left0 padding-right0 no-print">
    <ng-include src="'scripts/app/entities/jobPortal/jp-admin-menu.html'"></ng-include>
</div>
<div class="col-md-10 padding-left0 padding-right0 lbl-dash">
    <div class="col-md-12 common-table">
        <h2><span translate="stepApp.eduLevel.detail.title">EduLevel</span> '{{eduLevel.name}}'</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <!--<thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
                </thead>-->
                <tbody>
                <tr>
                    <td>
                        <span translate="stepApp.eduLevel.name">Name</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{eduLevel.name}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.eduLevel.description">Description</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{eduLevel.description}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="stepApp.eduLevel.status">Status</span>
                    </td>
                    <!--<span class="form-control-static">{{eduLevel.status}}</span>-->
                    <td>{{eduLevel.status != null && eduLevel.status ? 'Active':'Inactive'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <button type="submit"
                onclick="window.history.back()"
                class="btn btn-info no-print">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
        </button>
        <div class="no-print   text-right">
            <button type="submit" name="submit" onclick="window.print()" class="btn btn-primary">
                <span class="glyphicon glyphicon-print"></span>&nbsp;<span
                translate="entity.action.print">Print</span>
            </button>
        </div>
    </div>
</div>
