<div class="col-md-12 common-list padding-right0 padding-left5">
    <h2 translate="stepApp.hrEntertainmentBenefit.home.title">HrEntertainmentBenefits</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control"
                   placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control"
                   placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary su_sea_pri" ui-sref="hrEntertainmentBenefit.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.hrEntertainmentBenefit.home.createLabel">Create a new HrEntertainmentBenefit</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <th><span translate="global.field.id">ID</span></th>
                <th><span translate="stepApp.hrEntertainmentBenefit.employeeInfo">employeeInfo</span></th>
                <th><span translate="stepApp.hrEntertainmentBenefit.eligibilityDate">EligibilityDate</span></th>
                <th><span translate="stepApp.hrEntertainmentBenefit.amount">Amount</span></th>
                <th><span translate="stepApp.hrEntertainmentBenefit.totalDays">TotalDays</span></th>
                <th><span translate="stepApp.hrEntertainmentBenefit.jobCategory">jobCategory</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <tr ng-animate="'animate'"
                dir-paginate="hrEntertainmentBenefit in hrEntertainmentBenefits | filter:q | itemsPerPage: pageSize track by hrEntertainmentBenefit.id"
                current-page="currentPage">
                <td>{{pageSize * (currentPage-1)+$index+1}}</td>
                <td><a ui-sref="hrEntertainmentBenefit.detail({id:hrEntertainmentBenefit.id})">{{hrEntertainmentBenefit.id}}</a>
                </td>
                <td>
                    <a ui-sref="hrEmployeeInfo.detail({id:hrEntertainmentBenefit.employeeInfo.id})">{{hrEntertainmentBenefit.employeeInfo.fullName}}</a>
                </td>
                <td>{{hrEntertainmentBenefit.eligibilityDate | date:'mediumDate'}}</td>
                <td>{{hrEntertainmentBenefit.amount}}</td>
                <td>{{hrEntertainmentBenefit.totalDays}}</td>
                <td>
                    <a ui-sref="miscTypeSetup.detail({id:hrEntertainmentBenefit.jobCategory.id})">{{hrEntertainmentBenefit.jobCategory.typeName}}</a>
                </td>
                <td class="text-right no-print">
                    <button type="submit"
                            ui-sref="hrEntertainmentBenefit.detail({id:hrEntertainmentBenefit.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit" ng-hide="false"
                            ui-sref="hrEntertainmentBenefit.edit({id:hrEntertainmentBenefit.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit" ng-hide="true"
                            ui-sref="hrEntertainmentBenefit.delete({id:hrEntertainmentBenefit.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="no-print">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
    </nav>
</div>
