<div class="col-md-12 common-table padding-right0 padding-left5">
<h2><span translate="stepApp.hrEntertainmentBenefit.detail.title">HrEntertainmentBenefit</span> of {{hrEntertainmentBenefit.employeeInfo.fullName}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.hrEntertainmentBenefit.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="hrEmployeeInfo.detail({id:hrEntertainmentBenefit.employeeInfo.id})">{{hrEntertainmentBenefit.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span translate="stepApp.hrEntertainmentBenefit.jobCategory">jobCategory</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="miscTypeSetup.detail({id:hrEntertainmentBenefit.jobCategory.id})">{{hrEntertainmentBenefit.jobCategory.typeName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEntertainmentBenefit.eligibilityDate">EligibilityDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEntertainmentBenefit.eligibilityDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEntertainmentBenefit.amount">Amount</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEntertainmentBenefit.amount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEntertainmentBenefit.totalDays">TotalDays</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEntertainmentBenefit.totalDays}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEntertainmentBenefit.memoNumber">memoNumber</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEntertainmentBenefit.memoNumber}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEntertainmentBenefit.officeOrderDate">officeOrderDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEntertainmentBenefit.officeOrderDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEntertainmentBenefit.leaveFromDate">leaveFromDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEntertainmentBenefit.leaveFromDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEntertainmentBenefit.leaveToDate">leaveToDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEntertainmentBenefit.leaveToDate | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEntertainmentBenefit.notTakenReason">NotTakenReason</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEntertainmentBenefit.notTakenReason}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEntertainmentBenefit.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEntertainmentBenefit.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEntertainmentBenefit.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEntertainmentBenefit.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEntertainmentBenefit.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEntertainmentBenefit.createBy}}</span>
                </td>
                <td>
                    <span translate="stepApp.hrEntertainmentBenefit.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEntertainmentBenefit.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.hrEntertainmentBenefit.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{hrEntertainmentBenefit.updateBy}}</span>
                </td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info no-print pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel">cancel</span>
    </button>
</div>
