<div class="common-dialogue">
    <div class="panel panel-default">
        <h4 class="modal-title" id="myHrEntertainmentBenefitLabel"><span
            translate="stepApp.hrEntertainmentBenefit.home.profileViewEditTitle"></span> :
            {{hrEmployeeInfo.fullName}}</h4>
        <div class="panel-body bg-panel hr_label">
            <div class="row hrm-view">
                <span ng-show="addMode">
                    <span ng-show="noEmployeeFound" class="alert">Employee is not created yet.</span>
                </span>
            </div>
            <div class="panel-group">
                <!-- For Loop Start From Here-->
                <div class=" bg-panel" ng-repeat="hrEntertainmentBenefit in hrEntertainmentBenefitList">
                    <form  name="editForm" role="form" ng-submit="save()" novalidate
                          show-validation>
                        <div class="row hrm-view panel-heading no_padding">
                            <div class="col-sm-7 no_padding">
                                <strong>{{hrEntertainmentBenefit.jobCategory.typeName}} :
                                    {{hrEntertainmentBenefit.eligibilityDate | date:'mediumDate'}}</strong>
                            </div>
                            <div class="col-sm-5 no_padding text-right">
                                <button
                                    ng-hide="noEmployeeFound || hrEntertainmentBenefit.isLocked || hrEntertainmentBenefit.logStatus==6"
                                    ng-if="!(hrEntertainmentBenefit.logStatus == 11 || hrEntertainmentBenefit.logStatus == 33 || hrEntertainmentBenefit.logStatus == 55)"
                                    type="button" ng-click="changeProfileMode(hrEntertainmentBenefit)"
                                    class="btn btn-primary btn-sm">{{hrEntertainmentBenefit.viewModeText}}
                                </button>
                                <span ng-show="hrEntertainmentBenefit.isLocked"
                                      class="alert alert-warning approve-alert"><span
                                    translate="stepApp.hrmHome.recordLocked">Pending</span></span>
                                <span
                                    ng-if="(hrEntertainmentBenefit.logStatus == 22 || hrEntertainmentBenefit.logStatus == 44 || hrEntertainmentBenefit.logStatus == 66)">
                                        <span class="alert alert-warning" translate="stepApp.hrmHome.requestRejected">Rejected</span>
                                    </span>
                            </div>
                        </div>
                        <div class="row  hrm-view">
                            <div class="col-sm-12 text-right"
                                 ng-if="(hrEntertainmentBenefit.logStatus == 22 || hrEntertainmentBenefit.logStatus == 44 || hrEntertainmentBenefit.logStatus == 66)">
                                <span class="alert-warning">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.rejectionReason">Reason</span>: &nbsp; : &nbsp;{{hrEntertainmentBenefit.logComments}}
                                </span>
                            </div>
                            <div class="col-sm-12 text-right"
                                 ng-if="(hrEntertainmentBenefit.logStatus == 11 || hrEntertainmentBenefit.logStatus == 33 || hrEntertainmentBenefit.logStatus == 55)">
                                <span class="alert-warning" ng-if="hrEntertainmentBenefit.logStatus == 11">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.messages.waitingForDeptHeadApproval">Waiting @ Department Head Approval</span>
                                </span>
                                <span class="alert-warning" ng-if="hrEntertainmentBenefit.logStatus == 33">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.messages.waitingForInstHeadApproval">Waiting @ Institute Head Approval</span>
                                </span>
                                <span class="alert-warning" ng-if="hrEntertainmentBenefit.logStatus === 55">
                                    <span class="control-label"
                                          translate="stepApp.hrmHome.messages.waitingForSystemAdminApproval">Waiting @ System Admin Approval</span>
                                </span>
                            </div>
                        </div>
                        <div class="row" ng-show="hrEntertainmentBenefit.viewMode">
                            <div class="col-md-12 common-table padding0">
                                <table class="table ">
                                    <tr>
                                        <td><strong translate="stepApp.hrEntertainmentBenefit.amount"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEntertainmentBenefit.amount}}</td>
                                        <td><strong translate="stepApp.hrEntertainmentBenefit.totalDays"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEntertainmentBenefit.totalDays}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEntertainmentBenefit.notTakenReason"></strong>
                                        </td>
                                        <td>&nbsp; : &nbsp;{{hrEntertainmentBenefit.notTakenReason}}</td>
                                        <td><strong translate="stepApp.hrEntertainmentBenefit.memoNumber"></strong></td>
                                        <td>&nbsp; : &nbsp;{{hrEntertainmentBenefit.memoNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEntertainmentBenefit.officeOrderDate"></strong>
                                        </td>
                                        <td>&nbsp; : &nbsp;{{hrEntertainmentBenefit.officeOrderDate|
                                            date:'mediumDate'}}
                                        </td>
                                        <td><strong translate="stepApp.hrEntertainmentBenefit.leaveFromDate"></strong>
                                        </td>
                                        <td>&nbsp; : &nbsp;{{hrEntertainmentBenefit.leaveFromDate |
                                            date:'mediumDate'}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong translate="stepApp.hrEntertainmentBenefit.leaveToDate"></strong>
                                        </td>
                                        <td>&nbsp; : &nbsp;{{hrEntertainmentBenefit.leaveToDate| date:'mediumDate'}}
                                        </td>
                                        <td><strong translate="stepApp.hrEntertainmentBenefit.eligibilityDate"></strong>
                                        </td>
                                        <td>&nbsp; : &nbsp;{{hrEntertainmentBenefit.eligibilityDate |
                                            date:'mediumDate'}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEntertainmentBenefit.viewMode">
                            <div class="form-group col-sm-6">
                                <div class="">
                                    <label class="control-label"
                                           translate="stepApp.hrEntertainmentBenefit.eligibilityDate"
                                           for="field_eligibilityDate">EligibilityDate</label>
                                    <input datepicker-popup="{{calendar.dateFormat}}"
                                           is-open="calendar.opened['eligibilityDate'+$index]"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'eligibilityDate'+$index)"
                                           class="form-control" name="eligibilityDate" id="field_eligibilityDate"
                                           ng-model="hrEntertainmentBenefit.eligibilityDate" required
                                           max-date="toDate"
                                           placeholder="YYYY-MM-DD"
                                    />
                                    <div ng-show="editForm.eligibilityDate.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.eligibilityDate.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="">
                                    <label class="control-label" translate="stepApp.hrEntertainmentBenefit.amount"
                                           for="field_amount">Amount</label>
                                    <input type="text" class="form-control" name="amount" id="field_amount"
                                           ng-model="hrEntertainmentBenefit.amount" required
                                           only-numbers minlength="4" maxlength="10" min="0"
                                    />
                                    <div ng-show="editForm.amount.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.amount.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.amount.$error.number" translate="entity.validation.number">
                                            This field should be a number.
                                        </p>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.amount.$error.maxlength">
                                            This field should not longer than 10 digit
                                        </small>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.amount.$error.minlength">
                                            This field need to be at least than 4 digit
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEntertainmentBenefit.viewMode">
                            <div class="form-group col-sm-6">
                                <div class="">
                                    <label class="control-label" translate="stepApp.hrEntertainmentBenefit.totalDays"
                                           for="field_totalDays">TotalDays</label>
                                    <input type="text" class="form-control" name="totalDays" id="field_totalDays"
                                           ng-model="hrEntertainmentBenefit.totalDays" required
                                           only-numbers minlength="2" maxlength="2" min="0" max="15"/>
                                    <div ng-show="editForm.totalDays.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.totalDays.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.totalDays.$error.number"
                                           translate="entity.validation.number">
                                            This field should be a number.
                                        </p>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.totalDays.$error.maxlength">
                                            This field should not longer than 2 digit
                                        </small>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.totalDays.$error.minlength">
                                            This field need to be at least than 2 digit
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEntertainmentBenefit.notTakenReason"
                                       for="field_notTakenReason">NotTakenReason</label>
                                <div class="">
                                        <textarea class="form-control" name="notTakenReason" id="field_notTakenReason"
                                                  ng-model="hrEntertainmentBenefit.notTakenReason"
                                                  minlength="10" maxlength="250"
                                        ></textarea>
                                    <div ng-show="editForm.notTakenReason.$invalid">
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.notTakenReason.$error.maxlength">
                                            This field should not longer than 250 character
                                        </small>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.notTakenReason.$error.minlength">
                                            This field need to be at least than 10 character
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEntertainmentBenefit.viewMode">
                            <div class="form-group col-sm-6">
                                <div class="">
                                    <label class="control-label" translate="stepApp.hrEntertainmentBenefit.memoNumber"
                                           for="field_memoNumber">memoNumber</label>
                                    <input type="text" class="form-control" name="memoNumber" id="field_memoNumber"
                                           ng-model="hrEntertainmentBenefit.memoNumber"
                                           minlength="4" maxlength="50"
                                           min="4" only-numbers/>
                                    <div ng-show="editForm.memoNumber.$invalid">
                                        <p class="help-block"
                                           ng-show="editForm.memoNumber.$error.required"
                                           translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                        <p class="help-block"
                                           ng-show="editForm.memoNumber.$error.number"
                                           translate="entity.validation.number">
                                            This field should be a number.
                                        </p>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.memoNumber.$error.maxlength">
                                            This field should not longer than 50 digit
                                        </small>
                                        <small style="color:red;font-size: 10px;"
                                               ng-show="editForm.memoNumber.$error.minlength">
                                            This field need to be at least than 4 digit
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEntertainmentBenefit.officeOrderDate"
                                       for="field_officeOrderDate">officeOrderDate</label>
                                <div class="">
                                    <input datepicker-popup="{{calendar.dateFormat}}"
                                           is-open="calendar.opened['officeOrderDate'+$index]"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'officeOrderDate'+$index)"
                                           class="form-control" name="officeOrderDate" id="field_officeOrderDate"
                                           ng-model="hrEntertainmentBenefit.officeOrderDate"
                                           max-date="toDate"
                                           placeholder="YYYY-MM-DD"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row hrm-view" ng-show="!hrEntertainmentBenefit.viewMode">
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEntertainmentBenefit.leaveFromDate"
                                       for="field_leaveFromDate">leaveFromDate</label>
                                <div class="">
                                    <input datepicker-popup="{{calendar.dateFormat}}"
                                           is-open="calendar.opened['leaveFromDate'+$index]"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'leaveFromDate'+$index)"
                                           class="form-control" name="leaveFromDate" id="field_leaveFromDate"
                                           ng-model="hrEntertainmentBenefit.leaveFromDate"
                                           max-date="toDate"
                                           placeholder="YYYY-MM-DD"
                                    />
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate="stepApp.hrEntertainmentBenefit.leaveToDate"
                                       for="field_leaveToDate">leaveToDate</label>
                                <div ng-show="!hrEntertainmentBenefit.viewMode" class="">
                                    <input datepicker-popup="{{calendar.dateFormat}}"
                                           is-open="calendar.opened['leaveToDate'+$index]"
                                           datepicker-options="calendar.dateOptions" close-text="Close"
                                           ng-click="calendar.open($event, 'leaveToDate'+$index)"
                                           class="form-control" name="leaveToDate" id="field_leaveToDate"
                                           ng-model="hrEntertainmentBenefit.leaveToDate"
                                           min-date="hrEntertainmentBenefit.leaveFromDate"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row hrm-view">
                            <div class="form-group col-sm-6">
                                <div class="">&nbsp;</div>
                            </div>
                            <div class="form-group col-sm-6 text-right">
                                <div class="">
                                    <button ng-show="!hrEntertainmentBenefit.viewMode" type="button"
                                            ng-click="changeProfileMode(hrEntertainmentBenefit)"
                                            class="btn btn-default btn-sm"><span
                                        class="glyphicon glyphicon-remove"></span>&nbsp;{{hrEntertainmentBenefit.viewModeText}}
                                    </button>
                                    <button ng-show="!hrEntertainmentBenefit.viewMode"
                                            ng-click="updateProfile(hrEntertainmentBenefit, $index)"
                                            type="button" ng-disabled="editForm.$invalid || isSaving"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                                        translate="entity.action.save">Save</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End of Loop -->
                <div class="col-sm-12 text-right no_padding">
                    <button type="submit" class="btn btn-primary" ng-show="!addMode"
                            ng-disabled="editForm.$invalid || isSaving" ng-click="addMore()"><i
                        class="fa fa-plus-square"></i>
                        <span translate="global.menu.account.addmore">Add More</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
