<div class="col-md-12 common-dialogue padding-left5 padding-right0">
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 ng-show="hrEntertainmentBenefit.id == null" class="modal-title"
            translate="stepApp.hrEntertainmentBenefit.home.createOrEditLabel">Create or edit a
            HrEntertainmentBenefit</h4>
        <h4 ng-show="hrEntertainmentBenefit.id != null" class="modal-title"
            translate="stepApp.hrEntertainmentBenefit.home.EditLabel">Create or edit a HrEntertainmentBenefit</h4>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate="global.home.orgOrInst" for="field_toOrganizationType">toOrganizationType</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_toOrganizationType" name="toOrganizationType"
                                    ng-model="orgOrInst" required>
                                <option selected disabled value="">-- Select Organization Type --</option>
                                <option value="Organization">Organization</option>
                                <option value="Institute">Institute</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div ng-if="orgOrInst=='Organization'">
                        <div class="form-group col-sm-6">
                            <label class="control-label" for="field_workArea"><span
                                translate="stepApp.hrEntertainmentBenefit.workarea"> Work Area</span></label>
                            <select class="form-control" id="field_workArea" name="workArea" ng-model="workArea"
                                    ng-change="loadModelByWorkArea(workArea)"
                                    ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id">
                                <option value="">Select Work Area</option>
                            </select>
                            <span class="help">No of Employee: {{hremployeeinfos.length}}</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label" translate="stepApp.hrEntertainmentBenefit.employeeInfo"
                                   for="field_employeeInfo">employeeInfo</label>
                            <div class="input-margin">
                                <input type="text" class="form-control autocomplete" autocomplete="off"
                                       ng-model="hrEntertainmentBenefit.employeeInfo"
                                       typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfos | filter:$viewValue'
                                       id="field_employeeInfo" required>
                            </div>
                        </div>
                    </div>

                    <div ng-show="(orgOrInst=='Institute')" class="col-md-6 col-lg-6">
                        <label class="control-label" translate="stepApp.hrEmpChildrenInfo.employeeInfo"
                               for="field_employeeInfo">employeeInfo</label>
                        <div class="input-margin">
                            <input type="text" class="form-control autocomplete" autocomplete="off"
                                   ng-model="hrEntertainmentBenefit.employeeInfo"
                                   typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfosOfInstitute | filter:$viewValue'
                                   id="field_employeeInfo" required>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-12 " ng-hide="hrEntertainmentBenefit.employeeInfo.fullName ==null">
                        <table class="table table-bordered table-responsive">
                            <tbody class="hrm-info-table">
                            <tr>
                                <td><strong>Name: </strong></td>
                                <td>{{hrEntertainmentBenefit.employeeInfo.fullName}}</td>
                                <td><strong>Employee ID:</strong></td>
                                <td>{{hrEntertainmentBenefit.employeeInfo.employeeId}}</td>
                            </tr>
                            <tr>
                                <td><strong>Contact No:</strong></td>
                                <td>{{hrEntertainmentBenefit.employeeInfo.mobileNumber}}</td>
                                <td><strong>Email:</strong></td>
                                <td>{{hrEntertainmentBenefit.employeeInfo.emailAddress}}</td>
                            </tr>
                            <tr>
                                <td><strong>Section:</strong></td>
                                <td>{{hrEntertainmentBenefit.employeeInfo.departmentInfo.departmentName}}</td>
                                <td><strong>Designation:</strong></td>
                                <td>{{hrEntertainmentBenefit.employeeInfo.designationInfo.designationName}}</td>
                            </tr>
                            <tr>
                                <td><strong>Organization:</strong></td>
                                <td>{{hrEntertainmentBenefit.employeeInfo.workAreaDtl.name}}</td>
                                <td><strong>Grade: </strong></td>
                                <td>{{hrEntertainmentBenefit.employeeInfo.gradeInfo.gradeCode}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


                <div class="row">
                    <!--
                    <div class="form-group col-sm-6">
                        <label class="control-label" translate="stepApp.hrEntertainmentBenefit.jobCategory"
                               for="field_jobCategory">jobCategory</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_jobCategory" name="jobCategory"
                                    ng-model="hrEntertainmentBenefit.jobCategory"
                                    ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in misctypesetups track by MiscTypeSetup.id">
                                <option value=""></option>
                            </select>
                        </div>
                    </div> -->
                    <div class="form-group col-sm-6">
                        <label class="control-label" translate="stepApp.hrEntertainmentBenefit.eligibilityDate"
                               for="field_eligibilityDate">EligibilityDate</label>
                        <div class="input-margin">
                            <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.eligibilityDate"
                                   datepicker-options="calendar.dateOptions" close-text="Close"
                                   ng-click="calendar.open($event, 'eligibilityDate')" class="form-control"
                                   name="eligibilityDate" id="field_eligibilityDate"
                                   ng-model="hrEntertainmentBenefit.eligibilityDate" required
                                   placeholder="YYYY-MM-DD"
                                   max-date="toDay"
                            />
                            <div ng-show="editForm.eligibilityDate.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.eligibilityDate.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="control-label" translate="stepApp.hrEntertainmentBenefit.amount"
                               for="field_amount">Amount</label>
                        <div class="input-margin">
                            <input type="number" class="form-control" name="amount" id="field_amount"
                                   ng-model="hrEntertainmentBenefit.amount" required min="0" oninput="validity.valid||(value='');"/>
                            <div ng-show="editForm.amount.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.amount.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.amount.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="control-label" translate="stepApp.hrEntertainmentBenefit.totalDays"
                               for="field_totalDays">TotalDays</label>
                        <div class="input-margin">
                            <input type="number" class="form-control" name="totalDays" id="field_totalDays"
                                   ng-model="hrEntertainmentBenefit.totalDays" required min="0" oninput="validity.valid||(value='');"/>
                            <div ng-show="editForm.totalDays.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.totalDays.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.totalDays.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row hrm-view">
                    <div class="form-group col-sm-6">
                        <div class="input-margin">
                            <label class="control-label" translate="stepApp.hrEntertainmentBenefit.memoNumber"
                                   for="field_memoNumber">memoNumber</label>
                            <input type="text" class="form-control" name="memoNumber" id="field_memoNumber"
                                   ng-model="hrEntertainmentBenefit.memoNumber"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label" translate="stepApp.hrEntertainmentBenefit.officeOrderDate"
                               for="field_officeOrderDate">officeOrderDate</label>
                        <div class="input-margin">
                            <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.officeOrderDate"
                                   datepicker-options="calendar.dateOptions" close-text="Close"
                                   ng-click="calendar.open($event, 'officeOrderDate')" class="form-control"
                                   name="officeOrderDate" id="field_officeOrderDate"
                                   ng-model="hrEntertainmentBenefit.officeOrderDate"
                                   placeholder="YYYY-MM-DD"
                                   max-date="toDate"
                            />
                        </div>
                    </div>
                </div>

                <div class="row hrm-view">
                    <div class="form-group col-sm-6">
                        <label class="control-label" translate="stepApp.hrEntertainmentBenefit.leaveFromDate"
                               for="field_leaveFromDate">leaveFromDate</label>
                        <div class="input-margin">
                            <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.leaveFromDate"
                                   datepicker-options="calendar.dateOptions" close-text="Close"
                                   ng-click="calendar.open($event, 'leaveFromDate')" class="form-control"
                                   name="leaveFromDate" id="field_leaveFromDate"
                                   ng-model="hrEntertainmentBenefit.leaveFromDate"
                                   placeholder="YYYY-MM-DD"
                                   max-date="toDate"
                            />
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label" translate="stepApp.hrEntertainmentBenefit.leaveToDate"
                               for="field_leaveToDate">leaveToDate</label>
                        <div ng-show="!hrEntertainmentBenefit.viewMode" class="input-margin">
                            <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.leaveToDate"
                                   datepicker-options="calendar.dateOptions" close-text="Close"
                                   ng-click="calendar.open($event, 'leaveToDate')" class="form-control"
                                   name="leaveToDate" id="field_leaveToDate"
                                   ng-model="hrEntertainmentBenefit.leaveToDate"
                                   max-date="hrEntertainmentBenefit.leaveFromDate"
                                   placeholder="YYYY-MM-DD"
                            />
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="form-group col-sm-6">
                        <label class="control-label" translate="stepApp.hrEntertainmentBenefit.notTakenReason"
                               for="field_notTakenReason">NotTakenReason</label>
                        <div class="input-margin">
                            <input type="text" class="form-control" name="notTakenReason" id="field_notTakenReason"
                                   ng-model="hrEntertainmentBenefit.notTakenReason"/>
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="control-label"
                               translate="stepApp.hrEntertainmentBenefit.activeStatus">ActiveStatus</label>
                        <div class="input-margin">
                    <span>
                        <input type="radio" data-ng-model="hrEntertainmentBenefit.activeStatus" name="activeStatus"
                               data-ng-value="true">&nbsp;Active&nbsp;|&nbsp;
                        <input type="radio" data-ng-model="hrEntertainmentBenefit.activeStatus" name="activeStatus"
                               data-ng-value="false">&nbsp;Inactive
                    </span>
                            <div ng-show="editForm.activeStatus.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.activeStatus.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    onclick="window.history.back()">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;<span
                translate="entity.action.cancel">cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="hrEntertainmentBenefit.id == null" translate="entity.action.save">Save</span>
                <span ng-show="hrEntertainmentBenefit.id != null" translate="entity.action.update">Save</span>
            </button>
        </div>
    </form>
</div>
