<div class="col-md-12 common-table">
<h2><span translate="stepApp.miscTypeSetup.detail.title">MiscTypeSetup</span> {{miscTypeSetup.id}}</h2>
    <div class="table-responsive padding-tb">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.miscTypeSetup.typeCategory">TypeCategory</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'stepApp.miscTypeCategory.' + miscTypeSetup.typeCategory}}">{{miscTypeSetup.typeCategory}}</span>
                </td>
                <td>
                    <span translate="stepApp.miscTypeSetup.typeName">TypeName</span>
                </td>
                <td>
                    <span class="form-control-static">{{miscTypeSetup.typeName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.miscTypeSetup.typeTitle">TypeTitle</span>
                </td>
                <td>
                    <span class="form-control-static">{{miscTypeSetup.typeTitle}}</span>
                </td>
                <td>
                    <span translate="stepApp.miscTypeSetup.typeCode">TypeCode</span>
                </td>
                <td>
                    <span class="form-control-static">{{miscTypeSetup.typeCode}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.miscTypeSetup.typeTitleBn">TypeTitleBn</span>
                </td>
                <td>
                    <span class="form-control-static">{{miscTypeSetup.typeTitleBn}}</span>
                </td>
                <td>
                    <span translate="stepApp.miscTypeSetup.typeDesc">TypeDesc</span>
                </td>
                <td>
                    <span class="form-control-static">{{miscTypeSetup.typeDesc}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.miscTypeSetup.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{miscTypeSetup.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
                <td>
                    <span translate="stepApp.miscTypeSetup.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{miscTypeSetup.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
