<div class="common-list col-md-12 no_padding">
    <div class="col-md-12"><h2 translate="stepApp.sisStudentInfo.home.title">SisStudentInfos</h2></div>

    <div class="col-md-12 padding-bt">
        <div class="col-md-4 no_padding">
            <div class="input-group">
                <span class="input-group-addon elmsbtn" id="basic-addon1"><i class="fa fa-search"></i></span>
                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
            </div>
        </div>
        <div class="col-md-4 no_padding">
            <div class="input-group">
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
        </div>
            <div has-any-authority="ROLE_INSTITUTE,ROLE_ADMIN" class="col-md-4 text-right no_padding">
                <button class="btn btn-primary" ui-sref="sisStudentInfo.new2">
                    <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.sisStudentInfo.home.createLabel">Create a new SisStudentInfo</span>
                </button>
            </div>
    </div>

    <div class="modal fade" id="deleteSisStudentInfoConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(sisStudentInfo.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.sisStudentInfo.delete.question" translate-values="{id: '{{sisStudentInfo.id}}'}">Are you sure you want to delete this SisStudentInfo?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.serial">Serial</th>
                <th translate="global.field.id">ID</th>
                <th translate="stepApp.sisStudentInfo.name">Name</th>
                <th translate="stepApp.sisStudentInfo.instituteName">InstituteName</th>
                <th translate="stepApp.sisStudentInfo.fatherName">FatherName</th>
                <th translate="stepApp.sisStudentInfo.motherName">MotherName</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="sisStudentInfo in sisStudentInfos | filter:q | itemsPerPage: pageSize track by sisStudentInfo.id" current-page="currentPage">
                <td>{{pageSize * (currentPage-1) + $index+1}}</td>
                <td><a ui-sref="sisStudentInfo.detail({id:sisStudentInfo.id})">{{sisStudentInfo.id}}</a></td>
                <td>{{sisStudentInfo.name}}</td>
                <td>{{sisStudentInfo.instituteName}}</td>
                <td>{{sisStudentInfo.fatherName}}</td>
                <td>{{sisStudentInfo.motherName}}</td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="sisStudentInfo.detail({id:sisStudentInfo.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button has-any-authority="ROLE_INSTITUTE,ROLE_ADMIN" type="submit"
                            ui-sref="sisStudentInfo.edit({id:sisStudentInfo.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                    </button>
                    <button has-any-authority="ROLE_INSTITUTE,ROLE_ADMIN" type="submit"
                            ng-click="delete(sisStudentInfo.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
</div>
