<div class="col-md-12 common-dialogue" ng-if="sisApplicationPreviewOff">

<form name="editForm" role="form" novalidate ng-submit="save()" class="sis-dialog" show-validation>

    <div>
        <h4 id="mySisStudentInfoLabel" translate="stepApp.sisStudentInfo.home.createOrEditLabel">Create or edit a SisStudentInfo</h4>
    </div>
    <div class="sis-dialog">
        <div class="col-sm-12 no_padding">

            <div hidden class="col-md-6">
                <div class="form-group">
                    <label translate="stepApp.sisStudentInfo.institute" for="field_institute">institute</label>
                    <input type="text" class="form-control" name="institute" id="field_institute"
                           ng-model="sisStudentInfo.institute"
                           readonly/>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label translate="stepApp.sisStudentInfo.applicationId" for="field_applicationId">ApplicationId</label>
                    <div class="input-group">
                        <input name="applicationId" id="field_applicationId" type="text"
                               placeholder="{{'stepApp.sisStudentInfo.applicationId' | translate}}"
                               ng-model="sisStudentInfo.applicationId"
                               ng-remote-validate="/api/sisStudentInfo/checkByApplicationId/"
                               ng-remote-method="GET"
                               ng-remote-throttle="500"
                               ng-minlength=3 ng-maxlength=50
                               typeahead="applicationId for applicationId in sisApplications | filter:$viewValue | limitTo:8"
                               class="form-control">

                                <div ng-show="editForm.applicationId.$invalid">
                                    <p style="color:darkgreen"
                                       ng-show="editForm.applicationId.$error.ngRemoteValidate">
                                        This name already exist!
                                    </p>

                                    <p class="help-block"
                                       ng-show="editForm.applicationId.$error.required && editForm.applicationId.$dirty"
                                       translate="entity.validation.required">
                                        This field is required.
                                    </p>

                                    <p class="help-block"
                                       ng-show="editForm.applicationId.$error.minlength" translate="entity.validation.minlength"
                                       translate-value-min="3">
                                        This field is required to be at least 3 characters.
                                    </p>
                                </div>
                                <div ng-show="editForm.applicationId.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.applicationId.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="searchApplicationId(sisStudentInfo.applicationId)">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;<span translate="stepApp.sisStudentInfo.Search">Search</span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 no_padding sis-search-content">

            <div class="col-md-10 no_padding">
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentInfo.instituteName" for="field_instituteName">InstituteName</label>
                        <input type="text" class="form-control" name="instituteName" id="field_instituteName"
                               ng-model="sisStudentInfo.instituteName"
                               readonly/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentInfo.tradeTechnology" for="field_TradeTechnology">TradeTechnology</label>
                        <input type="text" class="form-control" name="tradeTechnology" id="field_TradeTechnology"
                               ng-model="sisStudentInfo.tradeTechnology"
                               readonly/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentInfo.studentName" for="field_name">StudentName</label>
                        <input type="text" class="form-control" name="name" id="field_name"
                               ng-model="sisStudentInfo.name"
                               required readonly/>
                        <div ng-show="editForm.name.$invalid">
                            <p class="help-block"
                               ng-show="editForm.name.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentInfo.fatherName" for="field_fatherName">FatherName</label>
                        <input type="text" class="form-control" name="fatherName" id="field_fatherName"
                               ng-model="sisStudentInfo.fatherName"
                               readonly/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentInfo.motherName" for="field_motherName">MotherName</label>
                        <input type="text" class="form-control" name="motherName" id="field_motherName"
                               ng-model="sisStudentInfo.motherName"
                               readonly/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label translate="stepApp.sisStudentInfo.dateOfBirth" for="field_dateOfBirth">DateOfBirth</label>
                        <input type="text" class="form-control" name="dateOfBirth" id="field_dateOfBirth"
                               ng-model="sisStudentInfo.dateOfBirth"
                               readonly/>
                    </div>
                </div>

                <div class="form-group col-md-4" ngf-drop
                     ngf-change="setStuPicture($file, sisStudentInfo)">
                    <div class="col-sm-12 no_padding">
                        <label class="control-label" translate="stepApp.sisStudentInfo.stuPicture"
                               for="field_stuPicture">stuPicture</label>
                        <div>
                            <div class="help-block clearfix">
                                <span class="pull-left">{{sisStudentInfo.stuPictureContentType}} {{byteSize(sisStudentInfo.stuPicture)}}</span>
                                <button
                                    ng-click="sisStudentInfo.stuPicture=null;sisStudentInfo.stuPictureContentType=null;"
                                    ng-if="sisStudentInfo.stuPicture"
                                    class="btn btn-default btn-xs pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                            <div class="col-md-10 padding0">
                                <input type="hidden" readonly class="form-control"
                                       name="stupicName"
                                       ng-model="sisStudentInfo.stupicName"/>

                                <button type="file" ngf-select
                                        class="btn btn-default btn-block"
                                        ngf-change="setStuPicture($file, sisStudentInfo)"
                                        translate="entity.action.addblob"
                                        accept=".png,.jpg,.jpeg">
                                </button>
                                <!--<a has-any-authority="ROLE_INSPECTOR,ROLE_ADMIN"
                                   ng-show="sisStudentInfo.stupicName==null" ng-disabled="true"
                                   class="download-afl btn btn-primary"
                                   href="javascript:void(0)" class="btn btn-primary"
                                   download>Download
                                </a>-->

                            </div>
                            <div class="col-md-2 padding0">
                                <div class="form-group"
                                     ng-show="sisStudentInfo.stupicName != null">
                                    <a href="javascript:void(0)"
                                       ng-click="previewImage(sisStudentInfo.stuPicture, sisStudentInfo.stuPictureContentType,'Image of '+sisStudentInfo.stupicName)"></span>
                                        &nbsp;
                                        <img class="view-img"
                                             data-ng-src="{{'data:' + sisStudentInfo.stuPictureContentType + ';base64,' + sisStudentInfo.stuPicture}}"/></a>
                                </div>
                            </div>
                            <input type="hidden" class="form-control" name="stuPicture"
                                   id="field_stuPicture"
                                   ng-model="sisStudentInfo.stuPicture"
                                   required/>
                            <input type="hidden" class="form-control"
                                   name="stuPictureContentType"
                                   id="field_stuPictureContentType"
                                   ng-model="sisStudentInfo.stuPictureContentType"/>
                            <p ng-if="step1Form.stuPictureContentType.$invalid"></p>
                            <div ng-show="step1Form.stuPicture.$invalid">
                                <p class="help-block"
                                   ng-show="step1Form.stuPicture.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="form-group col-md-6">
            <label translate="stepApp.sisStudentInfo.genderInfo" for="field_gender">genderInfo</label>
            <select class="form-control" id="field_gender" name="genderInfo" ng-model="sisStudentInfo.genderInfo"
                    tooltip="{{'stepApp.sisStudentInfo.genderInfo' | translate}}"
                    ng-options="GenderInfo as GenderInfo.name for GenderInfo in genderInfos | orderBy:'id' track by GenderInfo.id" required>
                <option value="" translate="stepApp.sisStudentInfo.genderInfo"></option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label translate="stepApp.sisStudentInfo.religion" for="field_religion">religion</label>
            <select class="form-control" id="field_religion" name="religion" ng-model="sisStudentInfo.religionId"
                    tooltip="{{'stepApp.sisStudentInfo.religion' | translate}}"
                    ng-options="religion as religion.name for religion in religions | orderBy:'id' track by religion.id" required>
                <option value="" translate="stepApp.sisStudentInfo.religion"></option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label translate="stepApp.sisStudentInfo.bloodGroup" for="field_bloodGroup">bloodGroup</label>
            <select class="form-control" id="field_bloodGroup" name="bloodGroups" ng-model="sisStudentInfo.bloodGroups"
                    tooltip="{{'stepApp.sisStudentInfo.bloodGroup' | translate}}"
                    ng-options="BloodGroupInfo as BloodGroupInfo.name for BloodGroupInfo in bloodGroupInfos | orderBy:'id' track by BloodGroupInfo.id" required>
                <option value="" translate="stepApp.sisStudentInfo.bloodGroup"></option>
            </select>
        </div>


        <div class="form-group col-md-6">
            <label translate="stepApp.sisStudentInfo.maritalStatus" for="field_maritalStatus">maritalStatus</label>
            <select class="form-control" id="field_maritalStatus" name="maritalStatus" ng-model="sisStudentInfo.maritalStatus"
                    tooltip="{{'stepApp.sisStudentInfo.maritalStatus' | translate}}"
                    ng-options="maritalInfo as maritalInfo.name for maritalInfo in maritalInfos | orderBy:'id' track by maritalInfo.id" required>
                <option value="" translate="stepApp.sisStudentInfo.maritalStatus"></option>
            </select>
        </div>


        <div class="col-md-12">
            <div class="border-line">
                <h5 translate="stepApp.sisStudentInfo.presentAddress">Present Address</h5>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.presentAddress" for="field_presentAddress">PresentAddress</label>
                <input only-letters-and-dash-and-parenthesis-and-dot type="text" class="form-control" name="presentAddress" id="field_presentAddress"
                       ng-model="sisStudentInfo.presentAddress"
                    />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.countryPresent" for="field_countryPresent">countryPresent</label>
                <select class="form-control" id="field_countryPresent" name="countryPresent"
                        ng-model="sisStudentInfo.countryPresent"
                        ng-options="Country as Country.name for Country in countrys ">
                    <option value="sss">sssss</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.divisionPresent" for="field_divisionPresent">divisionPresent</label>
                <select class="form-control" id="field_divisionPresent" name="divisionPresent"
                        ng-model="sisStudentInfo.divisionPresent"
                        ng-options="Division as Division.name for Division in divisions track by Division.id" ng-change="DistrictQuery(sisStudentInfo.divisionPresent)">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.districtPresent" for="field_districtPresent">districtPresent</label>
                <select class="form-control" id="field_districtPresent" name="districtPresent"
                        ng-model="sisStudentInfo.districtPresent"
                        ng-options="District as District.name for District in districts track by District.id" ng-change="LoadUpazila(sisStudentInfo.districtPresent)">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.villageHouse" for="field_villageHouse">Village House</label>
                <input type="text" class="form-control" name="villageHouse" id="field_villageHouse"
                       ng-model="sisStudentInfo.villageHouse"
                    />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.thanaUpozila" for="field_thanaUpozila">Thana Upozila</label>
                <select class="form-control" id="field_thanaUpozila" name="thanaUpozila"
                        ng-model="sisStudentInfo.thanaUpozila"
                        ng-options="Upazila as Upazila.name for Upazila in Upazilas track by Upazila.id">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="col-md-12">
            <div class="border-line">
                <h5 translate="stepApp.sisStudentInfo.permanentAddress">Permanent Address</h5>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.permanentAddress" for="field_permanentAddress">Permanent Address</label>
                <input type="text" class="form-control" name="permanentAddress" id="field_permanentAddress"
                       ng-model="sisStudentInfo.permanentAddress"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.countryPermanent" for="field_countryPermanent">country Permanent</label>
                <select class="form-control" id="field_countryPermanent" name="countryPermanent" ng-model="sisStudentInfo.countryPermanent" ng-options="Country as Country.name for Country in countrys track by Country.id">
                    <option value="Bangladesh">Bangladesh</option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.divisionPermanent" for="field_divisionPermanent">Division Permanent</label>
                <select class="form-control" id="field_divisionPermanent" name="divisionPermanent"
                        ng-model="sisStudentInfo.divisionPermanent"
                        ng-options="Division as Division.name for Division in divisions track by Division.id" ng-change="DistrictPermanent(sisStudentInfo.divisionPermanent)">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.districtPermanent" for="field_districtPermanent">District Permanent</label>
                <select class="form-control" id="field_districtPermanent" name="districtPermanent"
                        ng-model="sisStudentInfo.districtPermanent"
                        ng-options="District as District.name for District in districtions track by District.id" ng-change="LoadPerUpazila(sisStudentInfo.districtPermanent)">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.villageHousePer" for="field_villageHousePer">Village House</label>
                <input type="text" class="form-control" name="villageHousePer" id="field_villageHousePer"
                       ng-model="sisStudentInfo.villageHousePer"
                    />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.thanaUpozilaPer" for="field_thanaUpozilaPer">Thana Upozila</label>
                <select class="form-control" id="field_thanaUpozilaPer" name="thanaUpozilaPer"
                        ng-model="sisStudentInfo.thanaUpozilaPermanent"
                        ng-options="Upazila as Upazila.name for Upazila in UpazilaPer track by Upazila.id">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="col-md-12">
            <div class="border-line">
                <h5 translate="stepApp.sisStudentInfo.ContactInformation">Contact Information</h5>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.mobileNo" for="field_mobileNo">MobileNo</label>
                <input only-numbers type="text" class="form-control" name="mobileNo" id="field_mobileNo"
                       ng-model="sisStudentInfo.mobileNo"
                       required/>
                <div ng-show="editForm.mobileNo.$invalid">
                    <p class="help-block"
                       ng-show="editForm.mobileNo.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.contactNoHome" for="field_contactNoHome">ContactNoHome</label>
                <input only-numbers type="number" class="form-control" name="contactNoHome" id="field_contactNoHome"
                       ng-model="sisStudentInfo.contactNoHome"
                    />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.emailAddress" for="field_emailAddress">EmailAddress</label>
                <input type="text" class="form-control" name="emailAddress" id="field_emailAddress"
                       ng-model="sisStudentInfo.emailAddress"
                       required />
                <div ng-show="editForm.emailAddress.$invalid">
                    <p class="help-block"
                       ng-show="editForm.emailAddress.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.nationality" for="field_nationality">Nationality</label>
                <input type="text" class="form-control" name="nationality" id="field_nationality"
                       ng-model="sisStudentInfo.nationality"
                       value="Bangladeshi"
                    />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.nationalIdNo" for="field_nationalIdNo">NationalIdNo</label>
                <input only-numbers type="number" class="form-control" name="nationalIdNo" id="field_nationalIdNo"
                       ng-model="sisStudentInfo.nationalIdNo"
                    />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.birthCertificateNo" for="field_birthCertificateNo">BirthCertificateNo</label>
                <input only-numbers type="number" class="form-control" name="birthCertificateNo" id="field_birthCertificateNo"
                       ng-model="sisStudentInfo.birthCertificateNo"
                    />
            </div>
        </div>
        <div class="col-md-12 no_padding">

            <div class="form-group col-md-6">
                <label translate="stepApp.sisStudentInfo.quota" for="field_quota">quota</label>
                <select class="form-control" id="field_quota" name="quota" ng-model="sisStudentInfo.quota"
                        tooltip="{{'stepApp.sisStudentInfo.quota' | translate}}"
                        ng-options="quota as quota.name for quota in quotas | filter:filterByStatus() track by quota.id">
                    <option value="" translate="stepApp.sisStudentInfo.quota"></option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label translate="stepApp.sisStudentInfo.curriculum" for="field_curriculum">curriculum</label>
                <select class="form-control" id="field_curriculum" name="curriculum" ng-model="sisStudentInfo.curriculumId"
                        tooltip="{{'stepApp.sisStudentInfo.curriculum' | translate}}"
                        ng-options="cmsCurriculum as cmsCurriculum.name for cmsCurriculum in cmsCurriculums | orderBy:'id' track by cmsCurriculum.id">
                    <option value="" translate="stepApp.sisStudentInfo.curriculum"></option>
                </select>
            </div>

        </div>

        <div class="form-group col-md-6">
            <label translate="stepApp.sisStudentInfo.shift" for="field_shift">shift</label>
            <select class="form-control" id="field_shift" name="shift" ng-model="sisStudentInfo.shiftId"
                    tooltip="{{'stepApp.sisStudentInfo.shift' | translate}}"
                    ng-options="MiscTypeSetupByCategory as MiscTypeSetupByCategory.typeName for MiscTypeSetupByCategory in miscTypeSetupByCategorys | filter:filterShiftByStatus() track by MiscTypeSetupByCategory.id">
                <option value=""></option>
            </select>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="check-box"  >&nbsp;</label>
                <label class="check-box" >
                    <input type="checkbox"  name="activeStatus" id="field_activeStatus"
                           ng-model="sisStudentInfo.activeStatus"
                    />
                    <span translate="stepApp.sisStudentInfo.activeStatus" >ActiveStatus</span>
                </label>

            </div>
        </div>

        <div class="col-md-12">
            <div class="border-line">
                <h5 translate="stepApp.sisStudentInfo.ScholarTraining">ScholarTraining Information</h5>
            </div>
        </div>
        <div hidden class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.trainName" for="field_trainName">TrainingName</label>
                <input type="text" class="form-control" name="trainName" id="field_trainName"
                       ng-model="sisStudentInfo.trainName"
                />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.trainName"
                >trainName</label>

                <div class="">
                    <aadropdownmultiselect1 maxlenghttoshowselectedvalues="9" | filter : activeStatus() ng-click="TrainInformation();multiTraining()"
                                            onchangeeventofcheckbox="setTabDirty()" model="selectedOptions1"
                                            multiselectoptions="options1">

                    </aadropdownmultiselect1>
                </div>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.scholarName"
                >scholarName</label>

                <div class="">
                    <aadropdownmultiselect2 maxlenghttoshowselectedvalues="9" | filter : activeStatus() ng-click="ScholarInformation();multiScholar()"
                                            onchangeeventofcheckbox="setTabDirty()" model="selectedOptions2"
                                            multiselectoptions="options2">

                    </aadropdownmultiselect2>
                </div>

            </div>
        </div>

        <div hidden class="col-md-6">
            <div class="form-group">
                <label translate="stepApp.sisStudentInfo.scholarName" for="field_scholarName">ScholarName</label>
                <input type="text" class="form-control" name="scholarName" id="field_scholarName"
                       ng-model="sisStudentInfo.scholarName"
                />
            </div>
        </div>

    </div>
    <div class="modal-footer col-md-12 ">
        <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="previewAction()">
            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>Preview</span>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
</div>



<div class="col-sm-12 no_padding common-table" ng-if="sisApplicationPreview">
    <h2><span translate="stepApp.sisStudentInfo.detail.title">SisStudentInfo</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.stuPicture">StuPicture</span>
                </td>
                <td>
                    <div>
                        <img
                            data-ng-src="{{'data:' + sisStudentInfo.stuPictureContentType + ';base64,' + sisStudentInfo.stuPicture}}"
                            style="max-height: 100px;" ng-if="sisStudentInfo.stuPicture"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.instituteName">InstituteName</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.instituteName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.TradeTechnology">TradeTechnology</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.TradeTechnology}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.studentName">StudentName</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.studentName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.fatherName">FatherName</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.fatherName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.motherName">MotherName</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.motherName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.dateOfBirth">DateOfBirth</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.dateOfBirth}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.presentAddress">PresentAddress</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.presentAddress}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.permanentAddress">PermanentAddress</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.permanentAddress}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.nationality">Nationality</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.nationality}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.nationalIdNo">NationalIdNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.nationalIdNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.birthCertificateNo">BirthCertificateNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.birthCertificateNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.mobileNo">MobileNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.mobileNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.contactNoHome">ContactNoHome</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.contactNoHome}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.emailAddress">EmailAddress</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.emailAddress}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.gender">Gender</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.gender}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.maritalStatus">MaritalStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.maritalStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.bloodGroup">BloodGroup</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.bloodGroup}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.religion">Religion</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.religion}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.activeStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.curriculum">Curriculum</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.curriculum}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.applicationId">ApplicationId</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.applicationId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.divisionPresent">divisionPresent</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="Division.detail({id:sisStudentInfo.divisionPresent.id})">{{sisStudentInfo.divisionPresent.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.divisionPermanent">divisionPermanent</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="Division.detail({id:sisStudentInfo.divisionPermanent.id})">{{sisStudentInfo.divisionPermanent.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.districtPresent">districtPresent</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="District.detail({id:sisStudentInfo.districtPresent.id})">{{sisStudentInfo.districtPresent.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.districtPermanent">districtPermanent</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="District.detail({id:sisStudentInfo.districtPermanent.id})">{{sisStudentInfo.districtPermanent.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.countryPresent">countryPresent</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="Country.detail({id:sisStudentInfo.countryPresent.id})">{{sisStudentInfo.countryPresent.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.countryPermanent">countryPermanent</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="Country.detail({id:sisStudentInfo.countryPermanent.id})">{{sisStudentInfo.countryPermanent.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.quota">quota</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="SisQuota.detail({id:sisStudentInfo.quota.id})">{{sisStudentInfo.quota.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 back-button text-right">
        <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="previewAction()">
            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>Back</span>
        </button>
        <button type="button"
                onclick="window.print();"
                class="btn btn-warning">
            <span class="glyphicon glyphicon-print"></span>&nbsp;<span> Print</span>
        </button>
    </div>

</div>
