<div class="col-sm-12 no_padding common-table">
    <h2><span translate="stepApp.sisStudentInfo.detail.title">SisStudentInfo</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th></th>
                <th></th>
                <th>
                    <span translate="stepApp.sisStudentInfo.stuPicture">StuPicture</span>
                </th>
                <th>

                    <span  ng-show="sisStudentInfo.stuPicture">

                            <a class="example-image-link" data-lightbox="example-1" href="{{urlStupicName}}"><img style="border-radius:30%; height:40px; width:60px;" ng-src="{{urlStupicName}}" alt="Supporting Documents"></a>

                    </span>
                    <button type="submit"
                            ng-click="previewImage(sisStudentInfo.stuPicture, sisStudentInfo.stuPictureContentType, sisStudentInfo.stupicName)"
                            class="btn btn-warning btn-sm" tooltip="Show Upload">
                        <span class="glyphicon glyphicon-picture"></span>
                    </button>

                </th>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.instituteName">InstituteName</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.instituteName}}</span>
                </td>

                <td>
                    <span translate="stepApp.sisStudentInfo.fatherName">FatherName</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.fatherName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.motherName">MotherName</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.motherName}}</span>
                </td>

                <td>
                    <span translate="stepApp.sisStudentInfo.dateOfBirth">DateOfBirth</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.dateOfBirth}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.presentAddress">PresentAddress</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.presentAddress}}</span>
                </td>

                <td>
                    <span translate="stepApp.sisStudentInfo.permanentAddress">PermanentAddress</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.permanentAddress}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.nationality">Nationality</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.nationality}}</span>
                </td>

                <td>
                    <span translate="stepApp.sisStudentInfo.nationalIdNo">NationalIdNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.nationalIdNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.birthCertificateNo">BirthCertificateNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.birthCertificateNo}}</span>
                </td>

                <td>
                    <span translate="stepApp.sisStudentInfo.mobileNo">MobileNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.mobileNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.contactNoHome">ContactNoHome</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.contactNoHome}}</span>
                </td>

                <td>
                    <span translate="stepApp.sisStudentInfo.emailAddress">EmailAddress</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.emailAddress}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.genderInfo">Gender</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.genderInfo.name}}</span>
                </td>

                <td>
                    <span translate="stepApp.sisStudentInfo.maritalStatus">MaritalStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.maritalStatus.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.bloodGroup">BloodGroup</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.bloodGroups.name}}</span>
                </td>

                <td>
                    <span translate="stepApp.sisStudentInfo.religion">Religion</span>
                </td>

                <td>
                    <a class="form-control-static" ui-sref="Religion.detail({id:sisStudentInfo.religionId.id})">{{sisStudentInfo.religionId.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.activeStatus}}</span>
                </td>

                <td>
                    <span translate="stepApp.sisStudentInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.trainName">TrainName</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.trainName}}</span>
                </td>

                <td>
                    <span translate="stepApp.sisStudentInfo.scholarName">scholarName</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.scholarName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.createBy}}</span>
                </td>

                <td>
                    <span translate="stepApp.sisStudentInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.updateBy}}</span>
                </td>

                <td>
                    <span translate="stepApp.sisStudentInfo.curriculum">Curriculum</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="CmsCurriculum.detail({id:sisStudentInfo.curriculumId.id})">{{sisStudentInfo.curriculumId.name}}</a>
                </td>

            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.applicationId">ApplicationId</span>
                </td>
                <td>
                    <span class="form-control-static">{{sisStudentInfo.applicationId}}</span>
                </td>

                <td>
                    <span translate="stepApp.sisStudentInfo.divisionPresent">divisionPresent</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="Division.detail({id:sisStudentInfo.divisionPresent.id})">{{sisStudentInfo.divisionPresent.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.divisionPermanent">divisionPermanent</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="Division.detail({id:sisStudentInfo.divisionPermanent.id})">{{sisStudentInfo.divisionPermanent.name}}</a>
                </td>

                <td>
                    <span translate="stepApp.sisStudentInfo.districtPresent">districtPresent</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="District.detail({id:sisStudentInfo.districtPresent.id})">{{sisStudentInfo.districtPresent.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.districtPermanent">districtPermanent</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="District.detail({id:sisStudentInfo.districtPermanent.id})">{{sisStudentInfo.districtPermanent.name}}</a>
                </td>

                <td>
                    <span translate="stepApp.sisStudentInfo.countryPresent">countryPresent</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="Country.detail({id:sisStudentInfo.countryPresent.id})">{{sisStudentInfo.countryPresent.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.sisStudentInfo.countryPermanent">countryPermanent</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="Country.detail({id:sisStudentInfo.countryPermanent.id})">{{sisStudentInfo.countryPermanent.name}}</a>
                </td>

                <td>
                    <span translate="stepApp.sisStudentInfo.quota">quota</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="SisQuota.detail({id:sisStudentInfo.quota.id})">{{sisStudentInfo.quota.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 back-button text-right">
        <button type="submit"
                onclick="window.history.back()"
                class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
        </button>
    </div>

</div>
