<style>
    .common-table .table > tbody > tr > td:nth-child(even):before{
        content: "" !important;
        font-weight:bold;
        font-family: roboto;
    }
</style><div class="col-md-12 common-table">
    <h2><span translate="stepApp.employeeLoanRequisitionForm.detail.title">EmployeeLoanRequisitionForm</span> {{employeeLoanRequisitionForm.id}}</h2>
    <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                Edit Loan Requisition Basic Information
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRequisitionForm.employeeLoanTypeSetup">employeeLoanTypeSetup</span> &nbsp; : &nbsp;
                </td>
                <td>
                   <select class="form-control" id="field_employeeLoanTypeSetup" name="employeeLoanTypeSetup" ng-change="getEmployeeLoanRulesByLoanType()"
                            ng-model="employeeLoanRequisitionForm.employeeLoanTypeSetup"
                            ng-options="employeeLoanTypeSetup as employeeLoanTypeSetup.loanTypeName for employeeLoanTypeSetup in employeeloantypesetups track by employeeLoanTypeSetup.id">
                        <option value=""></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRequisitionForm.employeeLoanRulesSetup">employeeLoanRulesSetup</span> &nbsp; : &nbsp;
                </td>
                <td>
                    <select class="form-control" id="field_employeeLoanRulesSetup" name="employeeLoanRulesSetup" ng-model="employeeLoanRequisitionForm.employeeLoanRulesSetup"
                            ng-options="employeeLoanRulesSetup as employeeLoanRulesSetup.loanName for employeeLoanRulesSetup in employeeLoanRulesSetups track by employeeLoanRulesSetup.id">
                        <option value=""></option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRequisitionForm.amount">Amount</span> &nbsp; : &nbsp;
                </td>
                <td>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           ng-model="employeeLoanRequisitionForm.amount" ng-blur="checkAmountForLoan()"
                           required />
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRequisitionForm.installment">Installment</span> &nbsp; : &nbsp;
                </td>
                <td>
                    <input type="number" class="form-control" name="installment" id="field_installment"
                           ng-model="employeeLoanRequisitionForm.installment" ng-blur= "checkLoanInstallment()"
                           required />
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.employeeLoanRequisitionForm.createDate">Apply Date</span> &nbsp; : &nbsp;
                </td>
                <td>
                    <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.createDate"
                           datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-click="calendar.open($event, 'createDate')"
                           class="form-control" name="createDate" id="field_createDate"
                           ng-model="employeeLoanRequisitionForm.createDate" required/>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-click="order('name', reverse=!reverse)" translate="stepApp.employeeLoanRequisitionForm.attachment.name">Name</th>
                <th ng-click="order('remarks', reverse=!reverse)" translate="stepApp.employeeLoanRequisitionForm.attachment.remarks">Remarks</th>
                <th translate="stepApp.employeeLoanRequisitionForm.attachment.action">View</th>
                <th translate="stepApp.employeeLoanRequisitionForm.attachment.action">Edit</th>
            </tr>
            </thead>

            <tbody id="accordion"  ng-init="total = 0" ng-repeat="attachment in attachments  | filter:filter | orderBy:predicate:reverse track by attachment.id">
            <tr data-parent="#accordion" ng-click="displayAttachment(attachment)" data-toggle="collapse" data-target="#{{attachment.id}}" aria-expanded="false" aria-controls="{{attachment.id}}">

                <td><a href="javascript:void(0)" ng-click="previewImage(attachment.file, attachment.fileContentType,'Image of '+attachment.name)">{{attachment.name}}</a></td>
                <td><input type="text" ng-model="attachments[$index].remarks"></td>
                <td><a href="javascript:void(0)" ng-click="previewImage(attachment.file, attachment.fileContentType,'Image of '+attachment.name)"></span>&nbsp;<span translate="entity.action.view"> View</span></a></td>
                <td>
                    <div class="col-sm-6">
                        <input type="file" ngf-select class="btn btn-default btn-sm col-sm-6"
                               ngf-change="setFileForEdit($file, attachments[$index])"
                               translate="entity.action.addblob">
                        </input>
                    </div>

                    <input type="hidden" class="form-control" name="file" id="field_file"
                           ng-model="attachments[$index].file"/>
                    <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                           ng-model="attachments[$index].fileContentType"/>
                </td>

            </tr>
            </tbody>
        </table>

        <div class="modal-footer col-sm-12">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span ng-show="employeeLoanRequisitionForm.id == null" translate="entity.action.save">Save </span>
                <span ng-show="employeeLoanRequisitionForm.id != null" translate="entity.action.update">Save </span>
            </button>
        </div>
    </div>
   </form>

</div>
