<div class="col-md-12 common-list">
    <h2  id="myEmployeeLoanRequisitionFormLabel" translate="stepApp.employeeLoanRequisitionForm.home.title">Employee Loan Requisition Forms</h2>
    <div class="col-md-12 padding-tb">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary" ng-show="loanApplyButton" ui-sref="employeeLoanInfo.employeeLoanRequisitionForm.new">
                <span class="glyphicon glyphicon-plus"></span> <span
                translate="stepApp.employeeLoanRequisitionForm.home.createLabel">Create a new Employee Loan Rules Setup</span>
            </button>
        </div>
    </div>

    <div class="col-sm-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span translate="global.form.serial">serial</span></th>
                <th translate="stepApp.employeeLoanRequisitionForm.employeeLoanTypeSetup">employee Loan Type Setup</th>
                <th translate="stepApp.employeeLoanRequisitionForm.employeeLoanRulesSetup">employee Loan Rules Setup</th>
                <th translate="stepApp.employeeLoanRequisitionForm.loanRequisitionCode">Loan Requisition Code</th>
                <th translate="stepApp.employeeLoanRequisitionForm.employeeName">Employee Name</th>
                <th translate="stepApp.employeeLoanRequisitionForm.employeeID">Employee Id</th>
                <th translate="stepApp.employeeLoanRequisitionForm.amount">Amount</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="employeeLoanRequisitionForm in employeeLoanRequisitionForms | filter:q | itemsPerPage: pageSize" current-page="currentPage">

            <td>{{pageSize*(currentPage-1)+$index+1}}</td>
                <td>
                    <a ui-sref="employeeLoanTypeSetup.detail({id:employeeLoanRequisitionForm.employeeLoanTypeSetup.id})">{{employeeLoanRequisitionForm.employeeLoanTypeSetup.loanTypeName}}</a>
                </td>
                <td>
                    <a ui-sref="employeeLoanRulesSetup.detail({id:employeeLoanRequisitionForm.employeeLoanRulesSetup.id})">{{employeeLoanRequisitionForm.employeeLoanRulesSetup.loanName}}</a>
                </td>
                <td>{{employeeLoanRequisitionForm.loanRequisitionCode}}</td>
                <td>{{employeeLoanRequisitionForm.employeeInfo.fullName}}</td>
                <td>{{employeeLoanRequisitionForm.employeeInfo.employeeId}}</td>
                <td>{{employeeLoanRequisitionForm.amount}}</td>

                <td class="text-right">
                    <button type="submit"
                            ui-sref="employeeLoanInfo.employeeLoanRequisitionForm.detail({id:employeeLoanRequisitionForm.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view">View</span>
                    </button>
                    <button type="submit" ng-show="editLoanForm"
                            ui-sref="employeeLoanInfo.employeeLoanRequisitionForm.edit({id:employeeLoanRequisitionForm.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit">Edit</span>
                    </button>
                    <!--<button type="submit"-->
                    <!--ng-click="delete(employeeLoanRequisitionForm.id)"-->
                    <!--class="btn btn-danger btn-sm">-->
                    <!--<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>-->
                    <!--</button>-->
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                     template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
