<!--<div>
    <div class="col-md-3">
        <ng-include src="'scripts/app/entities/instituteInformationSystem/institute-left-menu.html'"></ng-include>
    </div>
-->
<div class="col-md-12 common-table">
    <h2><span translate="stepApp.instMemShip.detail.title"></span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.instMemShip.username">FullName</span>
                </td>
                <td>
                    <span class="form-control-static">{{instMemShip.user.login}}</span>
                </td>
                <td>
                    <span translate="stepApp.instMemShip.fullName">FullName</span>
                </td>
                <td>
                    <span class="form-control-static">{{instMemShip.fullName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instMemShip.dob">Dob</span>
                </td>
                <td>
                    <span class="form-control-static">{{instMemShip.dob | date:'mediumDate'}}</span>
                </td>
                <td>
                    <span translate="stepApp.instMemShip.address">Address</span>
                </td>
                <td>
                    <span class="form-control-static">{{instMemShip.address}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instMemShip.email">Email</span>
                </td>
                <td>
                    <span class="form-control-static">{{instMemShip.email}}</span>
                </td>
                <td>
                    <span translate="stepApp.instMemShip.contact">Contact</span>
                </td>
                <td>
                    <span class="form-control-static">{{instMemShip.contact}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instMemShip.designation">Designation</span>
                </td>
                <td>
                    <span class="form-control-static">{{instMemShip.designation}}</span>
                </td>
                <td>
                    <span translate="stepApp.instMemShip.orgName">OrgName</span>
                </td>
                <td>
                    <span class="form-control-static">{{instMemShip.orgName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.instMemShip.orgAdd">OrgAdd</span>
                </td>
                <td>
                    <span class="form-control-static">{{instMemShip.orgAdd}}</span>
                </td>
                <td>
                    <span translate="stepApp.instMemShip.orgContact">OrgContact</span>
                </td>
                <td>
                    <span class="form-control-static">{{instMemShip.orgContact}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="no-print   text-right">
        <button type="submit" name="submit" onclick="window.print()" class="btn btn-primary">
            <span class="glyphicon glyphicon-print"></span>&nbsp;<span
            translate="entity.action.print">Print</span>
        </button>
    </div>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
