<style>
    .form-group {
        margin-bottom: 20px;
    }
</style>

<div>
    <div class="row">
        <div class="col-md-4">
            <button type="submit"
                    onclick="window.history.back()"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                translate="entity.action.back"> Back</span>
            </button>
        </div>
        <div class="col-md-4">

            <!--<h1 translate="register.title" style="width:152%; text-align:center">Registration</h1>-->

            <div class="alert alert-success" ng-show="success" translate="register.messages.successJobSeeker">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" ng-show="error" translate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" ng-show="errorUserExists" translate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists" translate="register.messages.error.emailexists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch" translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row" ng-show="!success">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel" style="width:500px;">
                <div class="panel-heading rgstr">Register</div>
                <div class="panel-body">
                    <form name="form" role="form" novalidate ng-submit="jobSeekerRegister()" show-validation>

                        <div class="form-group">
                            <label for="login" translate="global.form.username">Username</label>
                            <input type="text" class="form-control" id="login" name="login"
                                   placeholder="{{'global.form.username.placeholder' | translate}}"
                                   ng-model="registerAccount.login"
                                   ng-remote-validate="/api/account/checkLogin/"
                                   ng-remote-method="GET"
                                   ng-remote-throttle="500"
                                   ng-minlength='3' ng-maxlength='50' ng-pattern="/^[a-z0-9]*$/" required>
                            <span class="message validating" ng-show="editForm.login.$pending">validating...</span>
                            <div ng-show="form.login.$dirty && form.login.$invalid">
                                <p class="help-block"
                                   ng-show="form.login.$error.ngRemoteValidate">
                                    This user already exists
                                </p>
                                <p class="help-block"
                                   ng-show="form.login.$error.required"
                                   translate="register.messages.validate.login.required">
                                    Your username is required.
                                </p>
                                <p class="help-block"
                                   ng-show="form.login.$error.minlength"
                                   translate="register.messages.validate.login.minlength">
                                    Your username is required to be at least 1 character.
                                </p>
                                <p class="help-block"
                                   ng-show="form.login.$error.maxlength"
                                   translate="register.messages.validate.login.maxlength">
                                    Your username cannot be longer than 50 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="form.login.$error.pattern"
                                   translate="register.messages.validate.login.pattern">
                                    Your username can only contain lower-case letters and digits.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" translate="global.form.email">E-mail</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="{{'global.form.email.placeholder' | translate}}"
                                   ng-model="registerAccount.email"
                                   ng-remote-validate="/api/account/checkEmail/"
                                   ng-remote-method="GET"
                                   ng-remote-throttle="500"
                                   ng-minlength=5 ng-maxlength=100 required>
                            <span class="message validating" ng-show="editForm.email.$pending">validating...</span>

                            <div ng-show="form.email.$dirty && form.email.$invalid">
                                <p class="help-block"
                                   ng-show="form.email.$error.ngRemoteValidate">
                                    This email already exists
                                </p>
                                <p class="help-block"
                                   ng-show="form.email.$error.required"
                                   translate="global.messages.validate.email.required">
                                    Your e-mail is required.
                                </p>
                                <p class="help-block"
                                   ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
                                    Your e-mail is invalid.
                                </p>
                                <p class="help-block"
                                   ng-show="form.email.$error.minlength"
                                   translate="global.messages.validate.email.minlength">
                                    Your e-mail is required to be at least 5 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="form.email.$error.maxlength"
                                   translate="global.messages.validate.email.maxlength">
                                    Your e-mail cannot be longer than 100 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" translate="global.form.newpassword">New password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                                   ng-model="registerAccount.password" ng-minlength=5 ng-maxlength=50 required>
                            <div ng-show="form.password.$dirty && form.password.$invalid">
                                <p class="help-block"
                                   ng-show="form.password.$error.required"
                                   translate="global.messages.validate.newpassword.required">
                                    Your password is required.
                                </p>
                                <p class="help-block"
                                   ng-show="form.password.$error.minlength"
                                   translate="global.messages.validate.newpassword.minlength">
                                    Your password is required to be at least 5 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="form.password.$error.maxlength"
                                   translate="global.messages.validate.newpassword.maxlength">
                                    Your password cannot be longer than 50 characters.
                                </p>
                            </div>
                            <password-strength-bar ng-class="form.password.$invalid ? 'top-margin' : 'no-top-margin' "
                                                   password-to-check="registerAccount.password"></password-strength-bar>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword" translate="global.form.confirmpassword">New password
                                confirmation</label>
                            <input type="password" ng-keyup="matchPass(registerAccount.password, confirmPassword)"
                                   class="form-control" id="confirmPassword" name="confirmPassword"
                                   placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                                   ng-model="confirmPassword" ng-maxlength=50 required>
                            <div ng-show="(form.confirmPassword.$dirty && form.confirmPassword.$invalid) || notMatched">
                                <p class="help-block"
                                   ng-show="form.confirmPassword.$error.required"
                                   translate="global.messages.validate.confirmpassword.required">
                                    Your confirmation password is required.
                                </p>
                                <p class="help-block"
                                   ng-show="form.confirmPassword.$error.minlength"
                                   translate="global.messages.validate.confirmpassword.minlength">
                                    Your confirmation password is required to be at least 5 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="form.confirmPassword.$error.maxlength"
                                   translate="global.messages.validate.confirmpassword.maxlength">
                                    Your confirmation password cannot be longer than 50 characters.
                                </p>
                                <p class="help-block" ng-show="notMatched"
                                   style="display:block !important;font-size: 10px; color:#a94442;">Password doesn't
                                    matched !</p>
                            </div>

                        </div>

                        <div class="form-group ">
                            <label>Please Enter Captcha</label>
                            <input type="text" class="form-control" name="mainCaptcha" id="mainCaptcha"
                                   ng-model="mainCaptcha" readonly disabled/>
                            <input type="button" id="refresh" value="Refresh" ng-click="captcha();"/>

                        </div>
                        <div class="form-group ">
                            <label>
                                <span>Please Enter Captcha</span>
                                <span style="color: red">*</span>
                            </label>

                            <input type="text" class="form-control" name="txtInput" id="txtInput"
                                   ng-model="c" required/>

                        </div>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary"
                                translate="register.form.button">Register
                        </button>
                    </form>

                </div>
            </div>
            <p></p>
            <!--<div class="alert alert-warning"  ng-hide="form.$invalid" translate="global.messages.info.authenticated">
                If you want to <a class="alert-link" href="#/login">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
            </div>-->
        </div>
        <div class="col-md-4">
            <br/>
            <!--<jh-social ng-provider="google"></jh-social>
            <jh-social ng-provider="facebook"></jh-social>
            <jh-social ng-provider="twitter"></jh-social>-->
        </div>
    </div>
</div>
