<div class="common-table padding-left5 padding-right0">

    <h2><span translate="stepApp.almEmpLeaveCancellation.detail.title">AlmEmpLeaveCancellation</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveCancellation.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="hrEmployeeInfo.detail({id:almEmpLeaveCancellation.employeeInfo.id})">{{almEmpLeaveCancellation.employeeInfo.fullName}}</a>
                </td>
                <td>
                    <span
                        translate="stepApp.almEmpLeaveCancellation.almEmpLeaveApplication">almEmpLeaveApplication</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="almEmpLeaveApplication.detail({id:almEmpLeaveCancellation.almEmpLeaveApplication.id})">{{almEmpLeaveCancellation.almEmpLeaveApplication.applicationDate}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveCancellation.requestDate">RequestDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveCancellation.requestDate | date:'mediumDate'}}</span>
                </td>

                <!--<tr>-->
                <!--<td>-->
                <!--<span translate="stepApp.almEmpLeaveCancellation.requestType">RequestType</span>-->
                <!--</td>-->
                <!--<td>-->
                <!--<span class="form-control-static">{{almEmpLeaveCancellation.requestType}}</span>-->
                <!--</td>-->
                <!--</tr>-->

                <td>
                    <span translate="stepApp.almEmpLeaveCancellation.leaveFromDate">LeaveFromDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveCancellation.almEmpLeaveApplication.leaveFromDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveCancellation.leaveToDate">LeaveToDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveCancellation.almEmpLeaveApplication.leaveToDate | date:'mediumDate'}}</span>
                </td>

                <td>
                    <span translate="stepApp.almEmpLeaveCancellation.isHalfDayLeave">IsHalfDayLeave</span>
                </td>
                <td>
                    <span
                        class="form-control-static">{{almEmpLeaveCancellation.almEmpLeaveApplication.isHalfDayLeave}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveCancellation.halfDayLeaveInfo">HalfDayLeaveInfo</span>
                </td>
                <td>
                    <span class="form-control-static"
                          translate="{{'stepApp.halfDayInfo.' + almEmpLeaveCancellation.almEmpLeaveApplication.halfDayLeaveInfo}}">{{almEmpLeaveCancellation.almEmpLeaveApplication.halfDayLeaveInfo}}</span>
                </td>

                <td>
                    <span translate="stepApp.almEmpLeaveCancellation.leaveDays">ReasonOfLeave</span>
                </td>
                <td>
                    <span
                        class="form-control-static">{{almEmpLeaveCancellation.almEmpLeaveApplication.leaveDays}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveCancellation.reasonOfLeave">ReasonOfLeave</span>
                </td>
                <td>
                    <span
                        class="form-control-static">{{almEmpLeaveCancellation.almEmpLeaveApplication.reasonOfLeave}}</span>
                </td>

                <td>
                    <span translate="stepApp.almEmpLeaveCancellation.cancelStatus">CancelStatus</span>
                </td>
                <td>
                    <span class="form-control-static"
                          translate="{{'stepApp.cancelStatuses.' + almEmpLeaveCancellation.cancelStatus}}">{{almEmpLeaveCancellation.cancelStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.almEmpLeaveCancellation.causeOfCancellation">CauseOfCancellation</span>
                </td>
                <td>
                    <span class="form-control-static">{{almEmpLeaveCancellation.causeOfCancellation}}</span>
                </td>

                <td>
                    <span translate="stepApp.almEmpLeaveCancellation.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span
                        class="form-control-static">{{almEmpLeaveCancellation.activeStatus ? 'Active' : 'Inactive'}}</span>
                </td>
            </tr>


            </tbody>
        </table>
    </div>

    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info pull-right">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.cancel"> Back</span>
    </button>
</div>
