<div class="col-sm-12 common-list ">
    <h2 class="modal-title su_h4_size panel-title"><span
        translate="stepApp.almEmpLeaveCancellation.leaveApprove.generalHomeTitle"></span></h2>
    <div class="col-sm-12 padding-tb">
        <div class="col-sm-6 hr-sub-title su_hrm_center">
            <strong><h3 translate="stepApp.almEmpLeaveCancellation.leaveApprove.subTitle"></h3></strong>
        </div>
        <div style="margin:5px 0px;" class="col-sm-6 text-right dlbtn-top">
            <button type="button" ng-model="button" ng-click="loadAll()" class="btn btn-primary btn-sm"><i
                class="fa fa-refresh"></i> <span translate="stepApp.almEmpLeaveCancellation.leaveApprove.Refresh">Refresh</span>
            </button>
        </div>
    </div>
    <div class="col-md-12 three_tab no_padding panel dte-tab">
        <tabset justified="true">
            <tab
                heading="{{'stepApp.almEmpLeaveCancellation.leaveApprove.dashboardTab1' | translate}} ({{newRequestList.length}})">
                <div class=" table-responsive">
                    <div class="row">
                        <div class="col-sm-5 search-three">
                            <label>Search:</label><input id="searchText" ng-model="searchText" name="searchText"
                                                         type="text"/>
                            <input ng-hide="true" id="clearButton" value="Clear" type="button"
                                   ng-click="clearSearchText('request')">
                        </div>

                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th ng-click="sort('entityName','request')">
                                <span translate="stepApp.almEmpLeaveCancellation.employeeId">employee ID</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>

                            <th ng-click="sort('entityName','request')">
                                <span translate="stepApp.almEmpLeaveCancellation.employeeName">employeeName</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('requestFrom','request')">
                                <span translate="stepApp.almEmpLeaveCancellation.almLeaveType">Leave Type</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestFrom'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th><span translate="stepApp.almEmpLeaveCancellation.cancelStatus">Status</span></th>
                            <th ng-click="sort('requestDate','request')">
                                <span translate="stepApp.almEmpLeaveCancellation.leaveFromDate">From Date</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestDate'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('requestDate','request')">
                                <span translate="stepApp.almEmpLeaveCancellation.leaveToDate">To Date</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestDate'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="requestObj in newRequestList |orderBy:sortKey:reverse|filter:searchText|itemsPerPage:15"
                            pagination-id="requestListPaginate">

                            <td>
                                <a ui-sref="hrEmployeeInfo.detail({id:almEmpLeaveCancellation.employeeInfo.id})">{{requestObj.almEmpLeaveApplication.employeeInfo.employeeId}}</a>
                            </td>
                            <td>
                                <a ui-sref="hrEmployeeInfo.detail({id:almEmpLeaveCancellation.employeeInfo.id})">{{requestObj.almEmpLeaveApplication.employeeInfo.fullName}}</a>
                            </td>
                            <td>
                                <a ui-sref="almLeaveType.detail({id:almEmpLeaveCancellation.almLeaveType.id})">{{requestObj.almEmpLeaveApplication.almLeaveType.leaveTypeName}}</a>
                            </td>
                            <td translate="{{'stepApp.cancelStatuses.' + requestObj.cancelStatus}}">
                                {{requestObj.cancelStatus}}
                            </td>
                            <td>{{requestObj.almEmpLeaveApplication.leaveFromDate | date:'mediumDate'}}</td>
                            <td>{{requestObj.almEmpLeaveApplication.leaveToDate | date:'mediumDate'}}</td>

                            <td class="text-right">
                                <button type="button" ng-click="approvalViewDetail(requestObj)"
                                        class="btn btn-info btn-sm">
                                    <span
                                        translate="stepApp.almEmpLeaveCancellation.leaveApprove.requestView">View</span>
                                </button>
                                <button type="button" ng-click="approvalConfirmation(requestObj, 'accept')"
                                        class="btn btn-primary btn-sm">
                                    <span
                                        translate="stepApp.almEmpLeaveCancellation.leaveApprove.requestAccept">Accept</span>
                                </button>
                                <button type="button" has-any-authority="ROLE_ADMIN, ROLE_LEAVE_APPROVAL" ui-sref="leaveApplicationApprove({id: requestObj.id, applicationType: 'LEAVE_CANCELLATION'})" class="btn btn-primary btn-sm">
                                    <span translate="stepApp.almEmpLeaveCancellation.leaveApprove.forward">Forward</span>
                                </button>
                                <button type="button" ng-click="approvalConfirmation(requestObj, 'reject')"
                                        class="btn btn-danger btn-sm">
                                    <span
                                        translate="stepApp.almEmpLeaveCancellation.leaveApprove.requestReject">Reject</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
                                             pagination-id="requestListPaginate"></dir-pagination-controls>
                </div>
            </tab>
            <tab
                heading="{{'stepApp.almEmpLeaveCancellation.leaveApprove.dashboardTab3' | translate}}  ({{approvedList.length}})">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-5 search-three">
                            <label>Search:</label><input id="searchTextApp" ng-model="searchTextApp"
                                                         name="searchTextApp" type="text"/>
                            <input ng-hide="true" id="clearButtonApp" value="Clear" type="button"
                                   ng-click="clearSearchTextApp('request')">
                        </div>

                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th ng-click="sort('entityName','approved')">
                                <span translate="stepApp.almEmpLeaveCancellation.employeeId">employeeId</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('entityName','approved')">
                                <span translate="stepApp.almEmpLeaveCancellation.employeeId">employeeId</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('entityName','approved')">
                                <span translate="stepApp.almEmpLeaveCancellation.employeeName">employeeName</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>

                            <th ng-click="sort('requestFrom','approved')">
                                <span translate="stepApp.almEmpLeaveCancellation.almLeaveType">Leave Type</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestFrom'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th><span translate="stepApp.almEmpLeaveCancellation.cancelStatus">Status</span></th>
                            <th ng-click="sort('requestDate','approved')">
                                <span translate="stepApp.almEmpLeaveCancellation.leaveFromDate">From Date</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestDate'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            <th ng-click="sort('requestDate','approved')">
                                <span translate="stepApp.almEmpLeaveCancellation.leaveToDate">To Date</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestDate'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('requestDate','approved')">
                                <span translate="stepApp.almEmpLeaveCancellation.leaveToDate">To Date</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestDate'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th>Comments</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="requestObj in approvedList |orderBy:sortKey3:reverse3|itemsPerPage:20|filter:searchTextApp"
                            pagination-id="approvedListPaginate">
                            <!--<td><a ui-sref="almEmpLeaveCancellation.detail({id:almEmpLeaveCancellation.id})">{{requestObj.id}}</a></td>-->
                            <td>
                                <a ui-sref="hrEmployeeInfo.detail({id:almEmpLeaveCancellation.employeeInfo.id})">{{requestObj.almEmpLeaveApplication.employeeInfo.employeeId}}</a>
                            </td>
                            <td><a ui-sref="almEmpLeaveCancellation.detail({id:almEmpLeaveCancellation.id})">{{requestObj.employeeInfo.employeeId}}</a></td>
                            <td>
                                <a ui-sref="hrEmployeeInfo.detail({id:almEmpLeaveCancellation.employeeInfo.id})">{{requestObj.almEmpLeaveApplication.employeeInfo.fullName}}</a>
                            </td>
                            <td>
                                <a ui-sref="almLeaveType.detail({id:almEmpLeaveCancellation.almLeaveType.id})">{{requestObj.almEmpLeaveApplication.almLeaveType.leaveTypeName}}</a>
                            </td>
                            <td translate="{{'stepApp.cancelStatuses.' + requestObj.cancelStatus}}">
                                {{requestObj.cancelStatus}}
                            </td>
                            <td>{{requestObj.almEmpLeaveApplication.leaveFromDate | date:'mediumDate'}}</td>
                            <td>{{requestObj.almEmpLeaveApplication.leaveToDate | date:'mediumDate'}}</td>
                            <td></td>

                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
                                             pagination-id="approvedListPaginate"></dir-pagination-controls>
                </div>
            </tab>
            <tab
                heading="{{'stepApp.almEmpLeaveCancellation.leaveApprove.dashboardTab4' | translate}}  ({{rejectedList.length}})">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-5 search-three">
                            <label>Search:</label><input id="searchTextRej" ng-model="searchTextRej"
                                                         name="searchTextRej" type="text"/>
                            <input ng-hide="true" id="clearButtonRej" value="Clear" type="button"
                                   ng-click="clearSearchTextRej('approved')">
                        </div>

                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th ng-click="sort('entityName','rejected')">
                                <span translate="stepApp.almEmpLeaveCancellation.employeeId">employeeId</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('entityName','rejected')">
                                <span translate="stepApp.almEmpLeaveCancellation.employeeId">employeeId</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('entityName','rejected')">
                                <span translate="stepApp.almEmpLeaveCancellation.employeeName">employeeName</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='entityName'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('requestFrom','rejected')">
                                <span translate="stepApp.almEmpLeaveCancellation.almLeaveType">Leave Type</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestFrom'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th><span translate="stepApp.almEmpLeaveCancellation.cancelStatus">Status</span></th>
                            <th ng-click="sort('requestDate','rejected')">
                                <span translate="stepApp.almEmpLeaveCancellation.leaveFromDate">From Date</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestDate'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('requestDate','rejected')">
                                <span translate="stepApp.almEmpLeaveCancellation.leaveToDate">To Date</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestDate'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('requestDate','rejected')">
                                <span translate="stepApp.almEmpLeaveCancellation.leaveToDate">To Date</span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestDate'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th>Comments</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="requestObj in rejectedList |orderBy:sortKey4:reverse4|itemsPerPage:20|filter:searchTextRej"
                            pagination-id="rejectedListPaginate">
                            <!--<td><a ui-sref="almEmpLeaveCancellation.detail({id:almEmpLeaveCancellation.id})">{{requestObj.id}}</a></td>-->
                            <td>
                                <a ui-sref="hrEmployeeInfo.detail({id:almEmpLeaveCancellation.employeeInfo.employeeId})">{{requestObj.almEmpLeaveApplication.employeeInfo.employeeId}}</a>
                            </td>
                            <td>
                                <a ui-sref="hrEmployeeInfo.detail({id:almEmpLeaveCancellation.employeeInfo.id})">{{requestObj.almEmpLeaveApplication.employeeInfo.fullName}}</a>
                            </td>
                            <td>
                                <a ui-sref="almLeaveType.detail({id:almEmpLeaveCancellation.almLeaveType.id})">{{requestObj.almEmpLeaveApplication.almLeaveType.leaveTypeName}}</a>
                            </td>
                            <td translate="{{'stepApp.cancelStatuses.' + requestObj.cancelStatus}}">
                                {{requestObj.cancelStatus}}
                            </td>
                            <td>{{requestObj.almEmpLeaveApplication.leaveFromDate | date:'mediumDate'}}</td>
                            <td>{{requestObj.almEmpLeaveApplication.leaveToDate | date:'mediumDate'}}</td>
                            <td></td>

                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
                                             pagination-id="rejectedListPaginate"></dir-pagination-controls>
                </div>
            </tab>
        </tabset>
    </div>
</div>


<div class="modal animated bounceInUp" id="approveRejectConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="approvalForm" ng-submit="approvalActionDirect()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;
                    </button>
                    <h4 class="modal-title" translate="entity.delete.title">Confirm Approval operation of
                        {{approvalObj.leaveTypeName}}</h4>
                </div>
                <div class="modal-body">
                    <div ng-if="approvalObj.actionType == 'accept'">

                        <p>Are you sure you want to approve this ?</p>
                    </div>
                    <div ng-if="approvalObj.actionType == 'reject'">
                        <label class="control-label" for="field_logcomments">Comments</label>
                        <textarea class="form-control" name="logComments" id="field_logcomments"
                                  ng-model="approvalObj.logComments"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.close">close</span>
                    </button>
                    <span ng-if="approvalObj.actionType == 'accept'">
                        <button type="submit" ng-disabled="approvalForm.$invalid" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                            translate="stepApp.hrmHome.buttonTextApprove"> Approve</span>
                        </button>
                    </span>
                    <span ng-if="approvalObj.actionType == 'reject'">
                        <button type="submit" ng-disabled="approvalForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="stepApp.hrmHome.buttonTextReject"> Reject</span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade common-list" id="approveViewDetailForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="approvalForm" ng-submit="approvalViewAction()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;
                    </button>
                    <h2 class="modal-title">{{approvalObj.viewFormTitle}}</h2>
                </div>
                <div class="modal-body">

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><span
                                    translate="stepApp.almEmpLeaveCancellation.leaveApprove.fieldName">Field</span></th>
                                <th><span
                                    translate="stepApp.almEmpLeaveCancellation.leaveApprove.fieldData">Value</span></th>
                                <th><span
                                    translate="stepApp.almEmpLeaveCancellation.leaveApprove.fieldName">Field</span></th>
                                <th><span
                                    translate="stepApp.almEmpLeaveCancellation.leaveApprove.fieldData">Value</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span translate="stepApp.almEmpLeaveCancellation.employeeInfo">employeeInfo</span>
                                </td>
                                <td>
                                    <a class="form-control-static"
                                       ui-sref="hrEmployeeInfo.detail({id:approvalObj.employeeInfo.id})">{{approvalObj.almEmpLeaveApplication.employeeInfo.fullName}}</a>
                                </td>
                                <td>
                                    <span translate="stepApp.almEmpLeaveCancellation.almLeaveType">almLeaveType</span>
                                </td>
                                <td>
                                    <a class="form-control-static"
                                       ui-sref="almLeaveType.detail({id:approvalObj.almLeaveType.id})">{{approvalObj.almEmpLeaveApplication.almLeaveType.leaveTypeName}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span
                                        translate="stepApp.almEmpLeaveCancellation.applicationDate">ApplicationDate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.applicationDate | date:'mediumDate'}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.almEmpLeaveCancellation.cancelStatus">ApplicationLeaveStatus</span>
                                </td>
                                <td>
                                    <span class="form-control-static"
                                          translate="{{'stepApp.cancelStatuses.' + approvalObj.cancelStatus}}">{{almEmpLeaveCancellation.cancelStatus}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.almEmpLeaveCancellation.leaveFromDate">LeaveFromDate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.almEmpLeaveApplication.leaveFromDate | date:'mediumDate'}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.almEmpLeaveCancellation.leaveToDate">LeaveToDate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.almEmpLeaveApplication.leaveToDate | date:'mediumDate'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span
                                        translate="stepApp.almEmpLeaveCancellation.isHalfDayLeave">IsHalfDayLeave</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.almEmpLeaveApplication.isHalfDayLeave}}</span>
                                </td>
                                <td>
                                    <span
                                        translate="stepApp.almEmpLeaveCancellation.halfDayLeaveInfo">HalfDayLeaveInfo</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.almEmpLeaveApplication.halfDayLeaveInfo}}</span>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.almEmpLeaveCancellation.reasonOfLeave">ReasonOfLeave</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.almEmpLeaveApplication.reasonOfLeave}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.almEmpLeaveCancellation.contactNo">ContactNo</span>
                                </td>
                                <td>
                                    <span
                                        class="form-control-static">{{approvalObj.almEmpLeaveApplication.contactNo}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.almEmpLeaveCancellation.isWithCertificate">IsWithCertificate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.almEmpLeaveApplication.isWithCertificate}}</span>
                                </td>
                                <td>
                                    <span translate="stepApp.almEmpLeaveCancellation.assignResposibilty">AssignResposibilty</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.almEmpLeaveApplication.assignResposibilty}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.almEmpLeaveCancellation.activeStatus">ActiveStatus</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.activeStatus}}</span>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>


                            <tr>
                                <td colspan="4">
                                    <label class="control-label"
                                           translate="stepApp.almEmpLeaveCancellation.leaveApprove.approvalChoice">Approval
                                        Choice</label>
                                    <span>
                                        <input type="radio" data-ng-model="approvalObj.isApproved" name="isApproved"
                                               data-ng-value="true">&nbsp;<span
                                        translate="stepApp.almEmpLeaveCancellation.leaveApprove.buttonTextApprove">Approve</span>&nbsp;|&nbsp;
                                        <input type="radio" data-ng-model="approvalObj.isApproved" name="isApproved"
                                               data-ng-value="false">&nbsp;<span
                                        translate="stepApp.almEmpLeaveCancellation.leaveApprove.buttonTextReject"> Reject</span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div ng-hide="approvalObj.isApproved">
                                        <label class="control-label"
                                               translate="stepApp.almEmpLeaveCancellation.leaveApprove.comments">Comments</label>
                                        <textarea class="form-control" name="comments"
                                                  ng-model="approvalObj.comments"></textarea>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.close">Close</span>
                    </button>
                    <span ng-show="approvalObj.isApproved">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                            translate="stepApp.almEmpLeaveCancellation.leaveApprove.buttonTextApprove">Approve</span>
                        </button>
                    </span>
                    <span ng-hide="approvalObj.isApproved">
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="stepApp.almEmpLeaveCancellation.leaveApprove.buttonTextReject"> Reject</span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

