<div xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12 common-table">
        <div>
            <h2><span translate="stepApp.umracIdentitySetup.detail.title">UmracIdentitySetup</span>
                </h2>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th translate="entity.detail.field">Field</th>
                        <th translate="entity.detail.value">Value</th>
                        <th translate="entity.detail.field">Field</th>
                        <th translate="entity.detail.value">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span translate="stepApp.umracIdentitySetup.empId">EmpId</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{umracIdentitySetup.empId}}</span>
                        </td>
                        <td>
                            <span translate="stepApp.umracIdentitySetup.userName">UserName</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{umracIdentitySetup.userName}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.umracIdentitySetup.uPw">UPw</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{umracIdentitySetup.uPw}}</span>
                        </td>
                        <td>
                            <span translate="stepApp.umracIdentitySetup.confm_Pw">Confm_Pw</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{umracIdentitySetup.confm_Pw}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.umracIdentitySetup.status">Status</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{umracIdentitySetup.status}}</span>
                        </td>
                        <td>
                            <span translate="stepApp.umracIdentitySetup.createDate">CreateDate</span>
                        </td>
                        <td>
                            <span
                                class="form-control-static">{{umracIdentitySetup.createDate | date:'mediumDate'}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.umracIdentitySetup.createBy">CreateBy</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{umracIdentitySetup.createBy}}</span>
                        </td>
                        <td>
                            <span translate="stepApp.umracIdentitySetup.updatedBy">UpdatedBy</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{umracIdentitySetup.updatedBy}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="stepApp.umracIdentitySetup.updatedTime">UpdatedTime</span>
                        </td>
                        <td>
                            <span
                                class="form-control-static">{{umracIdentitySetup.updatedTime | date:'mediumDate'}}</span>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <button type="submit"
                    onclick="window.history.back()"
                    class="btn btn-info no-print">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                translate="entity.action.back"> Back</span>
            </button>
        </div>
    </div>
</div>
