<div class="row bg-color same-height-row">
    <div class="col-md-12 right-side-bg">
        <div class="row ">
            <div class="col-md-12">
                <div class="welcome">
                    <h4>Welcome to Digital Library Dashboard</h4>
                </div>
            </div>
        </div>
        <div class="row dash">
            <div class="col-md-3" has-any-authority="ROLE_ADMIN">
                <a ui-sref="libraryInfo.dlFileType">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/asset.png" alt="">
                        <p translate="global.menu.entities.dlFileType">dlFileType</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_ADMIN">
                <a ui-sref="libraryInfo.dlContTypeSet">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/audit.png" alt="">
                        <p translate="global.menu.entities.dlContTypeSet">dlContTypeSet</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_ADMIN">
                <a ui-sref="libraryInfo.dlContCatSet">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/digitallibrary.png" alt="">
                        <p translate="global.menu.entities.dlContCatSet">dlContCatSet</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_ADMIN">
                <a ui-sref="libraryInfo.dlContSCatSet">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/loan.png" alt="">
                        <p translate="global.menu.entities.dlContSCatSet">dlContSCatSet</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_ADMIN">
                <a ui-sref="libraryInfo.dlSourceSetUp" >
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/employee.png" alt="">
                        <p translate="global.menu.entities.dlSourceSet">dlSourceSet</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_ADMIN">
                <a ui-sref="libraryInfo.dlFineSetUp">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/inst.png" alt="">
                        <p translate="global.menu.entities.dlFineSet">dlFineSet</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_ADMIN,ROLE_USER,ROLE_INSTEMP,ROLE_INSTITUTE">
                <a ui-sref="libraryInfo.dlContUpld">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/instsetup.png" alt="">
                        <p translate="global.menu.entities.dlContUpld">
                            dlContUpld
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_INSTITUTE,ROLE_ADMIN">
                <a ui-sref="libraryInfo.dlContUpldByUser">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/job.png" alt="">
                        <p translate="global.menu.entities.dlContUpldPending">dlContUpldPending</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_INSTITUTE">
                <a ui-sref="libraryInfo.libraryBookInfos">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/leaveatt.png" alt="">
                        <p translate="global.menu.account.dlBookInfo">dlBookInfo</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_INSTITUTE">
                <a ui-sref="dlBookRequisition">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/membership.png" alt="">
                        <p translate="global.menu.account.dlBookRequisitionList">dlBookRequisitionList</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_INSTITUTE">
                <a ui-sref="libraryInfo.dlRequisitionByUser">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/payrole.png" alt="">
                        <p translate="global.menu.entities.dlRequisitionPending">dlRequisitionPending</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_INSTITUTE">
                <a ui-sref="libraryInfo.dlBookIssue">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/pension.png" alt="">
                        <p translate="global.menu.account.dlBookIssue">dlBookIssue</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_GOVT_STUDENT">
                <a ui-sref="libraryInfo.dlBookIssue.new">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/pension-app.png" alt="">
                        <p translate="global.menu.account.dlBookRequisition">dlBookRequisition</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_INSTITUTE">
                <a ui-sref="libraryInfo.dlBookReturn">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/req.png" alt="">
                        <p translate="global.menu.account.dlBookReturn">dlBookReturn</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_INSTITUTE">
                <a ui-sref="libraryInfo.dlClearance">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/student.png" alt="">
                        <p translate="global.menu.account.dlClearance">sisHome</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3" has-any-authority="ROLE_GOVT_STUDENT">
                <a ui-sref="dlBookRequisition.new">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/leave.png" alt="">
                        <p translate="global.menu.account.dlBookRequisitionForDeposit">dlBookRequisitionForDeposit</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3" has-any-authority="ROLE_ADMIN">
                <a ui-sref="jpReport({module: 'dl'})">
                    <div class="single-admin-menu">
                        <img src=" ./assets/images/icon/access.png" alt="">
                        <p translate="global.menu.account.cmsReport">cmsReport</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<style>

    .single-admin-menu {
        padding: 15px 5px;
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        transition: .5s;
        margin-bottom: 30px;
        border-radius: 3px;
        height: 135px;
        text-align: center;
        color: #888;
    }

    .single-admin-menu:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        color: #444 !important;
        border-left: 5px solid #444;
    }

    .single-admin-menu img {
        height: 60px;
        width: auto;
        border-radius: 50%;
        margin-bottom: 15px;
        transition: .5s;
    }

    .single-admin-menu:hover img {
    }

    .bg-color {
        background: #f4f4f4;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .admin-left-menu ul {
        margin: 0;
        padding: 0;
    }

    .admin-left-menu ul li {
        display: block;
    }

    .admin-left-menu ul li a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #fff;
        transition: .5s;
        color: #555;
    }

    .admin-left-menu ul li a:hover {
        background: #ddd;
        border-bottom: 1px solid #999;
        color: #666;
    }

    .dash .col-md-3 {
        padding: 0px 30px;
    }
</style>
