<div class="row ">
    <div class="col-md-3 bs-docs-sidebar su_custom_menu_area padding-right0 left-menu-bg">
        <ng-include src="'scripts/app/entities/DigitalLibraryManagement/library-left-menu.html'"></ng-include>
    </div>
    <div class="main-content col-md-9 lbl-dash " ui-view="libraryView">

    </div>
</div>
