<!--<ul id="ulcolor3" class="nav nav-list bs-docs-sidenav">
    <li><a class="button4" ui-sref="libraryInfo.dashboard" ui-sref-active="active"><i class="fa fa-tachometer"></i><span translate="global.menu.account.dashboard">Dashboard</span></a>
    </li>
    <li><a class="button4" ui-sref="libraryInfo.dlFileType" ui-sref-active="active"><i class="fa fa-list"></i><span translate="global.menu.entities.dlFileType">Dashboard</span></a>
    </li>
    <li><a class="button4" ui-sref="libraryInfo.dlContTypeSet" ui-sref-active="active"><i class="pull-left fa fa-calendar"></i> <span translate="global.menu.entities.dlContTypeSet">Dashboard</span></a>
    </li>
    <li><a class="button4" ui-sref="libraryInfo.dlContCatSet" ui-sref-active="active"><i class="pull-left fa fa-list"></i> <span translate="global.menu.entities.dlContCatSet">Dashboard</span></a>
    </li>
    <li><a class="button4" ui-sref="libraryInfo.dlContSCatSet" ui-sref-active="active"><i class="pull-left fa fa-list"></i><span translate="global.menu.entities.dlContSCatSet">Dashboard</span></a>
    </li>
    <li><a class="button4" ui-sref="libraryInfo.dlContUpld" ui-sref-active="active"><i class="pull-left fa fa-calendar"></i> <span translate="global.menu.entities.dlContUpld">Dashboard</span></a>
    </li>
    <li><a class="button4" ui-sref="libraryInfo.libraryBookInfos" ui-sref-active="active"><i class="pull-left fa fa-list"></i><span translate="global.menu.account.dlBookInfo">Dashboard</span> </a>
    </li>
    <li><a class="button4" ui-sref="libraryInfo.dlEmpReg" ui-sref-active="active"><i class="pull-left fa fa-list"></i> <span translate="global.menu.entities.dlEmpReg">Dashboard</span>  </a>
    </li>
    <li><a class="button4" ui-sref="libraryInfo.dlBookIssue" ui-sref-active="active"><i class="pull-left fa fa-list"></i><span translate="global.menu.account.dlBookIssue">Dashboard</span> </a>
    </li>
    <li><a class="button4" ui-sref="libraryInfo.dlBookReturn" has-any-authority="ROLE_ADMIN" ui-sref-active="active"><i class="pull-left fa fa-pencil-square-o"></i><span translate="global.menu.account.dlBookReturn">Report</span></a>
    </li>
    <li><a class="button4" ui-sref="libraryInfo.report" has-any-authority="ROLE_ADMIN" ui-sref-active="active"><i class="pull-left fa fa-pencil-square-o"></i><span translate="global.menu.account.cmsReport">Report</span></a>
    </li>
</ul>-->


<ul id="ulcolor3" class="nav su_serv_menu nav-list  bs-docs-sidenav no-print">
    <li has-any-authority="ROLE_ADMIN">
        <a href="" ui-sref="libraryInfo.dashboard" ui-sref-active="active"><i class="fa fa-tachometer"></i><span
            translate="global.menu.account.dashboard">Dashboard</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a href="" ui-sref="libraryInfo.dlFileType" ui-sref-active="active"><i class="fa fa-cloud-upload"></i><span
            translate="global.menu.entities.dlFileType">Upload limit</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a href="" ui-sref="libraryInfo.dlContTypeSet" ui-sref-active="active"><i class="fa fa-cogs"></i><span
            translate="global.menu.entities.dlContTypeSet">dlcontenttype setup</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a href="" ui-sref="libraryInfo.dlContCatSet" ui-sref-active="active"><i class="fa fa-cogs"></i><span
            translate="global.menu.entities.dlContCatSet">dlContCatSet</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a href="" ui-sref="libraryInfo.dlContSCatSet" ui-sref-active="active"><i class="fa fa-sitemap"></i><span
            translate="global.menu.entities.dlContSCatSet">dlContSubCatSet</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a href="" ui-sref="libraryInfo.dlSourceSetUp" ui-sref-active="active"><i class="fa fa-sitemap"></i><span
            translate="global.menu.entities.dlSourceSet">dlContSubCatSet</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN">
        <a href="" ui-sref="libraryInfo.dlFineSetUp" ui-sref-active="active"><i class="fa fa-sitemap"></i><span
            translate="global.menu.entities.dlFineSet">dlContSubCatSet</span></a>
    </li>
    <li has-any-authority="ROLE_ADMIN,ROLE_USER,ROLE_INSTEMP,ROLE_INSTITUTE,ROLE_GOVT_STUDENT">
        <a href="" ui-sref="libraryInfo.dlContUpld" ui-sref-active="active"><i class="fa fa-cloud-upload"></i><span
            translate="global.menu.entities.dlContUpld">dlContUpld</span></a>
    </li>


    <li has-any-authority="ROLE_INSTITUTE,ROLE_ADMIN,ROLE_INSTEMP">
        <a href="" ui-sref="libraryInfo.dlContUpldByUser" ui-sref-active="active"><i
            class="fa fa-cloud-upload"></i><span
            translate="global.menu.entities.dlContUpldPending">dlContUpld</span></a>
    </li>
    <li has-any-authority="ROLE_INSTITUTE">
        <a href="" ui-sref="libraryInfo.libraryBookInfos" ui-sref-active="active"><i class="fa fa-book"></i><span
            translate="global.menu.account.dlBookInfo">dlBookInfo</span></a>
    </li>

    <li has-any-authority="ROLE_INSTITUTE">
        <a href="" ui-sref="libraryInfo.importexport" ui-sref-active="active"><i class="fa fa-cloud-upload"></i><span
            translate="global.menu.entities.importExportBookInfo">dlContUpld</span></a>
    </li>
    <li has-any-authority="ROLE_INSTITUTE">
        <a href="" ui-sref="dlBookRequisition" ui-sref-active="active"><i class="fa fa-exchange"></i><span
            translate="global.menu.account.dlBookRequisitionList">dlBookReturn</span></a>
    </li>
    <li has-any-authority="ROLE_INSTITUTE">
        <a href="" ui-sref="libraryInfo.dlRequisitionByUser" ui-sref-active="active"><i
            class="fa fa-cloud-upload"></i><span translate="global.menu.entities.dlRequisitionPending">dlContUpld</span></a>
    </li>
    <!--  <li has-any-authority="ROLE_ADMIN">
          <a href=""  ui-sref="libraryInfo.dlEmpReg" ui-sref-active="active"><i class="fa fa-user-plus"></i><span translate="global.menu.entities.dlEmpReg">dlEmpReg</span></a>
      </li>-->
    <li has-any-authority="ROLE_INSTITUTE">
        <a href="" ui-sref="libraryInfo.dlBookIssue" ui-sref-active="active"><i class="fa fa-magic"></i><span
            translate="global.menu.account.dlBookIssue">dlBookIssue</span></a>
    </li>

    <li has-any-authority="ROLE_GOVT_STUDENT">
        <a href="" ui-sref="libraryInfo.dlBookIssue.new" ui-sref-active="active"><i class="fa fa-magic"></i><span
            translate="global.menu.account.dlBookRequisition">dlBookIssue</span></a>
    </li>
    <li has-any-authority="ROLE_INSTITUTE">
        <a href="" ui-sref="libraryInfo.dlBookReturn" ui-sref-active="active"><i class="fa fa-exchange"></i><span
            translate="global.menu.account.dlBookReturn">dlBookReturn</span></a>
    </li>

    <li has-any-authority="ROLE_INSTITUTE">
        <a href="" ui-sref="libraryInfo.dlClearance" ui-sref-active="active"><i class="fa fa-exchange"></i><span
            translate="global.menu.account.dlClearance">dlBookReturn</span></a>
    </li>

    <li has-any-authority="ROLE_GOVT_STUDENT">
        <a href="" ui-sref="dlBookRequisition.new" ui-sref-active="active"><i class="fa fa-exchange"></i><span
            translate="global.menu.account.dlBookRequisitionForDeposit">dlBookReturn</span></a>
    </li>


    <li has-any-authority="ROLE_ADMIN">
        <a href="" ui-sref="jpReport({module: 'dl'})" ui-sref-active="active"><i class="fa fa-pie-chart"></i><span
            translate="global.menu.account.cmsReport">cmsReport</span></a>
    </li>
</ul>

