<div class="col-md-12 common-dialogue">
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
        <h4 class="modal-title" id="myPrlEmpAdditionalAssignInfoLabel" translate="stepApp.prlEmpAdditionalAssignInfo.home.createOrEditLabel">Create or edit a PrlEmpAdditionalAssignInfo</h4>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label translate="stepApp.prlEmpAdditionalAssignInfo.employeeInfo" for="field_employeeInfo">employeeInfo</label>
                    <input type="text" class="form-control autocomplete" autocomplete="off" ng-model="prlEmpAdditionalAssignInfo.employeeInfo" typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId + " " + HrEmployeeInfo.designationInfo.gradeInfo.gradeCode) for HrEmployeeInfo in hremployeeinfos | filter:$viewValue' id="field_employeeInfo" required>
                </div>
            </div>
            <div class="col-md-6">
                <div ng-if="prlEmpAdditionalAssignInfo.employeeInfo">
                    Name: {{prlEmpAdditionalAssignInfo.employeeInfo.fullName}},
                    Email: {{prlEmpAdditionalAssignInfo.employeeInfo.emailAddress}},
                    Section: {{prlEmpAdditionalAssignInfo.employeeInfo.departmentInfo.departmentInfo.departmentName}},
                    Designation: {{prlEmpAdditionalAssignInfo.employeeInfo.designationInfo.designationInfo.designationName}},
                    Organization: {{prlEmpAdditionalAssignInfo.employeeInfo.workAreaDtl.name}},
                    Grade: {{prlEmpAdditionalAssignInfo.employeeInfo.designationInfo.gradeInfo.gradeCode}}
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label translate="stepApp.prlEmpAdditionalAssignInfo.allowanceInfo" for="field_allowanceInfo">allowanceInfo</label>
                    <select class="form-control" id="field_allowanceInfo" name="allowanceInfo" ng-model="prlEmpAdditionalAssignInfo.allowanceInfo"
                            ng-options="PrlAllowDeductInfo as PrlAllowDeductInfo.name for PrlAllowDeductInfo in prlallowdeductinfos track by PrlAllowDeductInfo.id"
                            ng-change="checkAdditionAssignByEmployeeAndAllowance()" required>
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-margin">
                    <span class="message" ng-show="additionalAssignValidationChecking">validating...</span>
                    <div ng-show="additionalAssignAlreadyExist" class="alert alert-danger">
                        Additional Assign already exists !!!
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label translate="stepApp.prlEmpAdditionalAssignInfo.effectedDateFrom" for="field_effectedDateFrom">EffectedDateFrom</label>
                    <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.effectedDateFrom"
                           datepicker-options="calendar.dateOptions" close-text="Close" min-date="prlEmpPaymentStopInfo.effectedDateFrom"
                           ng-click="calendar.open($event, 'effectedDateFrom')" class="form-control" name="effectedDateFrom" id="field_effectedDateFrom"
                           ng-model="prlEmpAdditionalAssignInfo.effectedDateFrom" required/>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label translate="stepApp.prlEmpAdditionalAssignInfo.effectedDateTo" for="field_effectedDateTo">EffectedDateTo</label>
                    <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.effectedDateTo"
                           datepicker-options="calendar.dateOptions" close-text="Close" min-date="prlEmpPaymentStopInfo.effectedDateFrom"
                           ng-click="calendar.open($event, 'effectedDateTo')" class="form-control" name="effectedDateTo" id="field_effectedDateTo"
                           ng-model="prlEmpAdditionalAssignInfo.effectedDateTo"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label translate="stepApp.prlEmpAdditionalAssignInfo.allowanceAmount" for="field_allowanceAmount">AllowanceAmount</label>
                    <input type="number" class="form-control" name="allowanceAmount" id="field_allowanceAmount"
                           ng-model="prlEmpAdditionalAssignInfo.allowanceAmount" required/>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label translate="stepApp.prlEmpAdditionalAssignInfo.activeStatus">ActiveStatus</label>
                    <div class="form-control">
                        <input type="radio" data-ng-model="prlEmpAdditionalAssignInfo.activeStatus" name="activeStatus" data-ng-value="true">Start</span>&nbsp;|&nbsp;
                        <input type="radio" data-ng-model="prlEmpAdditionalAssignInfo.activeStatus" name="activeStatus" data-ng-value="false">&nbsp;Stop</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" onclick="window.history.back()" class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
</div>
