
<div class="common-table">
    <h2><span translate="stepApp.prlEmpAdditionalAssignInfo.detail.title">PrlEmpAdditionalAssignInfo</span> {{prlEmpAdditionalAssignInfo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpAdditionalAssignInfo.employeeInfo">employeeInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="HrEmployeeInfo.detail({id:prlEmpAdditionalAssignInfo.employeeInfo.id})">{{prlEmpAdditionalAssignInfo.employeeInfo.fullName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpAdditionalAssignInfo.allowanceInfo">allowanceInfo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="PrlAllowDeductInfo.detail({id:prlEmpAdditionalAssignInfo.allowanceInfo.id})">{{prlEmpAdditionalAssignInfo.allowanceInfo.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpAdditionalAssignInfo.effectedDateFrom">EffectedDateFrom</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpAdditionalAssignInfo.effectedDateFrom | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpAdditionalAssignInfo.effectedDateTo">EffectedDateTo</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpAdditionalAssignInfo.effectedDateTo | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpAdditionalAssignInfo.allowanceAmount">AllowanceAmount</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpAdditionalAssignInfo.allowanceAmount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpAdditionalAssignInfo.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpAdditionalAssignInfo.activeStatus ? 'Running':'Stop'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpAdditionalAssignInfo.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpAdditionalAssignInfo.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.prlEmpAdditionalAssignInfo.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{prlEmpAdditionalAssignInfo.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
