<!--<div>
    <h2 translate="stepApp.prlEmpAdditionalAssignInfo.home.title">PrlEmpAdditionalAssignInfos</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="prlEmpAdditionalAssignInfo.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.prlEmpAdditionalAssignInfo.home.createLabel">Create a new PrlEmpAdditionalAssignInfo</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a PrlEmpAdditionalAssignInfo</span>
                    </button>
                </form>
            </div>
        </div>
    </div>-->
    <div class="col-sm-12 common-list">
        <h2 translate="stepApp.prlEmpAdditionalAssignInfo.home.title">PrlEmpAdditionalAssignInfos</h2>
        <div class="col-md-12 padding-tb">
            <div class="col-xs-4 no_padding">
                <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
            </div>
            <div class="col-xs-4">
                <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
            </div>
            <div class="col-xs-4 no_padding text-right ">
                <button class="btn btn-primary su_sea_pri" ui-sref="prlEmpAdditionalAssignInfo.new">
                    <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.prlEmpAdditionalAssignInfo.home.createLabel">Create a new HrDepartmentSetup</span>
                </button>
            </div>
        </div>
    <div class="modal fade" id="deletePrlEmpAdditionalAssignInfoConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(prlEmpAdditionalAssignInfo.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.prlEmpAdditionalAssignInfo.delete.question" translate-values="{id: '{{prlEmpAdditionalAssignInfo.id}}'}">Are you sure you want to delete this PrlEmpAdditionalAssignInfo?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

        <div class="col-sm-12 table-responsive no_padding">
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.prlEmpAdditionalAssignInfo.employeeInfo">employeeInfo</th>
                    <th translate="stepApp.prlEmpAdditionalAssignInfo.allowanceInfo">allowanceInfo</th>
                    <th translate="stepApp.prlEmpAdditionalAssignInfo.effectedDateFrom">EffectedDateFrom</th>
                    <th translate="stepApp.prlEmpAdditionalAssignInfo.effectedDateTo">EffectedDateTo</th>
                    <th translate="stepApp.prlEmpAdditionalAssignInfo.allowanceAmount">AllowanceAmount</th>
                    <th translate="stepApp.prlEmpAdditionalAssignInfo.activeStatus">ActiveStatus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!--<tr ng-repeat="prlEmpAdditionalAssignInfo in prlEmpAdditionalAssignInfos track by prlEmpAdditionalAssignInfo.id">-->
                <tr dir-paginate="prlEmpAdditionalAssignInfo in prlEmpAdditionalAssignInfos | filter:q | itemsPerPage: pageSize track by prlEmpAdditionalAssignInfo.id" current-page="currentPage">

                <td><a ui-sref="prlEmpAdditionalAssignInfo.detail({id:prlEmpAdditionalAssignInfo.id})">{{prlEmpAdditionalAssignInfo.id}}</a></td>
                    <td>{{prlEmpAdditionalAssignInfo.employeeInfo.fullName}}</td>
                    <td>{{prlEmpAdditionalAssignInfo.allowanceInfo.name}}</td>
                    <td>{{prlEmpAdditionalAssignInfo.effectedDateFrom | date:'mediumDate'}}</td>
                    <td>{{prlEmpAdditionalAssignInfo.effectedDateTo | date:'mediumDate'}}</td>
                    <td>{{prlEmpAdditionalAssignInfo.allowanceAmount}}</td>
                    <td>{{prlEmpAdditionalAssignInfo.activeStatus ? 'Running':'Stop'}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="prlEmpAdditionalAssignInfo.detail({id:prlEmpAdditionalAssignInfo.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="prlEmpAdditionalAssignInfo.edit({id:prlEmpAdditionalAssignInfo.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit" ng-hide="true"
                                ng-click="delete(prlEmpAdditionalAssignInfo.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav class="no-print">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
